workspace/datasets/mashape_dataset/aadharcardstatus.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/aadharCardStatus/' name='aadharCardStatus' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/aadharCardStatus/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/aadharCardStatus/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/aadharCardStatus/'>
      <xsd:element name='getTokenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='secretKey' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='captchaImageEncoded' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='statusCheckParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='captchavalue' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='eid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='etimestamp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='secretkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='statusCheckResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getTokenRequestMessage' />
  <message name='getTokenResponseMessage'>
    <part name='response' element='tns:getTokenResponse' />
  </message>
  <message name='statusCheckRequestMessage'>
    <part name='parameters' element='tns:statusCheckParameters' />
  </message>
  <message name='statusCheckResponseMessage'>
    <part name='response' element='tns:statusCheckResponse' />
  </message>
  <portType name='aadharCardStatusPortType'>
    <operation name='getToken'>
      <documentation>call this endpoint to get a unique token for the call to check status of the the aadhar</documentation>
      <input message='tns:getTokenRequestMessage' name='getTokenInput' />
      <output message='tns:getTokenResponseMessage' name='getTokenOutput' />
    </operation>
    <operation name='statusCheck'>
      <documentation>get the status of the aadhar card using this end point</documentation>
      <input message='tns:statusCheckRequestMessage' name='statusCheckInput' />
      <output message='tns:statusCheckResponseMessage' name='statusCheckOutput' />
    </operation>
  </portType>
  <binding name='aadharCardStatusBinding' type='tns:aadharCardStatusPortType'>
    <operation name='getToken'>
      <soap12:operation soapAction='http://getToken' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='statusCheck'>
      <soap12:operation soapAction='http://statusCheck' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='aadharCardStatus'>
    <documentation>check the status of the UIDAI s Aadhar Card by just providing your UIDAI Aadhar card enrollment ID and time of enrollment</documentation>
    <port name='aadharCardStatusPort' binding='tns:aadharCardStatusBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://aadharCardStatus' />
    </port>
  </service>
</definitions>