workspace/datasets/mashape_dataset/active.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/active/' name='active' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/active/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/active/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/active/'>
      <xsd:element name='searchVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currentpage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='excludechildren' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='items_per_page' type='xsd:int' minOccurs='0' />
            <xsd:element name='retries' type='xsd:int' minOccurs='0' />
            <xsd:element name='start_index' type='xsd:int' minOccurs='0' />
            <xsd:element name='radius' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='assetTopics' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='sequence' type='xsd:int' minOccurs='0' />
                        <xsd:element name='topic' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='topicId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='topicName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='topicTaxonomy' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='salesEndDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='regReqGenderCd' type='xsd:string' minOccurs='0' />
                  <xsd:element name='registrationUrlAdr' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='assetSeoUrls' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='seoSystemName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='statusCode' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='urlAdr' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='publishDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='assetChannels' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='sequence' type='xsd:int' minOccurs='0' />
                        <xsd:element name='channel' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='channelDsc' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='channelName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='channelId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='sorCreateDtm' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='localeCd' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='assetLegacyData' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='maxTeamNb' type='xsd:string' minOccurs='0' />
                        <xsd:element name='assetTypeId' type='xsd:string' minOccurs='0' />
                        <xsd:element name='costAmt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='typeName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='uploadSearchUrlAdr' type='xsd:string' minOccurs='0' />
                        <xsd:element name='avgUserRatingTxt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='trackbackUrl' type='xsd:string' minOccurs='0' />
                        <xsd:element name='seoUrl' type='xsd:string' minOccurs='0' />
                        <xsd:element name='eventCategories' type='xsd:string' minOccurs='0' />
                        <xsd:element name='participationCriteriaTxt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='estParticipantNb' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isSearchable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='priceExtensionTxt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='onlineMembership' type='xsd:string' minOccurs='0' />
                        <xsd:element name='minGuaranteedGameNb' type='xsd:string' minOccurs='0' />
                        <xsd:element name='searchWeight' type='xsd:string' minOccurs='0' />
                        <xsd:element name='userCommentTxt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='substitutionUrl' type='xsd:string' minOccurs='0' />
                        <xsd:element name='genderRequirementTxt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='onlineDonation' type='xsd:string' minOccurs='0' />
                        <xsd:element name='createdDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='onlineMembershipCostAmt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='authorName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='onlineRegistration' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='modifiedDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='multipleStartDate' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='activityEndDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='assetServiceHostName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='childIndex' type='xsd:string' minOccurs='0' />
                  <xsd:element name='assetDescriptions' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='descriptionType' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='descriptionTypeName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='descriptionTypeId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='activityStartDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='contactName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sorCreateUserId' type='xsd:string' minOccurs='0' />
                  <xsd:element name='localTimeZoneId' type='xsd:string' minOccurs='0' />
                  <xsd:element name='contactEmailAdr' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='donationUrlAdr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='market' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='marketName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='marketId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='assetAttributes' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='attribute' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='attributeValue' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='tagId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='attributeType' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='timezoneAbb' type='xsd:string' minOccurs='0' />
                  <xsd:element name='assetMediaTypes' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='sequence' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mediaType' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='mediaTypeName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='mediaTypeDsc' type='xsd:string' minOccurs='0' />
                              <xsd:element name='mediaTypeId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='evergreenAssetFlag' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='authorName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='registrantSearchUrlAdr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='modifiedDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timezoneName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='showContact' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='assetStatus' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='assetStatusName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='assetStatusId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='regReqMaxAge' type='xsd:string' minOccurs='0' />
                  <xsd:element name='currencyCd' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='resultsUrlAdr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='timezone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sourceSystem' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='sourceSystemName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='legacyGuid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='affiliate' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='assetGuid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='assetTags' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='tag' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='tagId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='tagName' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='tagDescription' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='assetPopularity' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='createdAt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='searches' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rank' type='xsd:int' minOccurs='0' />
                        <xsd:element name='clicks' type='xsd:int' minOccurs='0' />
                        <xsd:element name='clickTypes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='otherActive' type='xsd:int' minOccurs='0' />
                              <xsd:element name='registration' type='xsd:int' minOccurs='0' />
                              <xsd:element name='nonActive' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='results' type='xsd:int' minOccurs='0' />
                        <xsd:element name='views' type='xsd:int' minOccurs='0' />
                        <xsd:element name='A3Rank' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='preferredUrlAdr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='assetPrices' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='priceAmt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='maxPriceAmt' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='effectiveUntilDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='minPriceAmt' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='logoUrlAdr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='detailPageTemplateId' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sorId' type='xsd:string' minOccurs='0' />
                  <xsd:element name='teamUrlAdr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='place' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='placeDsc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='placeUrlAdr' type='xsd:string' minOccurs='0' />
                        <xsd:element name='showPlaceName' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='timezone' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='postalCode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='directionsTxt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='geoPoint' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='lon' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='addressLine2Txt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='addressLine1Txt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='stateProvinceCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='localityName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='cityName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='timezoneDST' type='xsd:int' minOccurs='0' />
                        <xsd:element name='timezoneOffset' type='xsd:int' minOccurs='0' />
                        <xsd:element name='countryCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='dma' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='dmaId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='dmaName' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='countryName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='placeName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='placeGuid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='overrideSeourlFlag' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='assetCategories' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='sequence' type='xsd:int' minOccurs='0' />
                        <xsd:element name='category' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='categoryName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='categoryId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='categoryTaxonomy' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='urlAdr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='searchScore' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='assetDsc' type='xsd:string' minOccurs='0' />
                  <xsd:element name='contactTxt' type='xsd:string' minOccurs='0' />
                  <xsd:element name='alternateName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='createdDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='regReqMinAge' type='xsd:string' minOccurs='0' />
                  <xsd:element name='salesStartDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='homePageUrlAdr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='assetQuantity' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='waitlistCnt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='soldCnt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='createdDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='availableCnt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='modifiedDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='capacityNb' type='xsd:int' minOccurs='0' />
                        <xsd:element name='waitlistCapacityNb' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='organization' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='primaryContactName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='organizationName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='addressPostalCd' type='xsd:int' minOccurs='0' />
                        <xsd:element name='primaryContactEmailAdr' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='addressCityName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='organizationGuid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='primaryContactPhone' type='xsd:int' minOccurs='0' />
                        <xsd:element name='addressLine2Txt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='addressLine1Txt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='addressLocalityName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='organizationDsc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='organizationUrlAdr' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='hideOrganizationContact' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='addressStateProvinceCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='addressCountryCd' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='showOrganizationName' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='fax' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='assetVersion' type='xsd:int' minOccurs='0' />
                  <xsd:element name='assetName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='salesStatus' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='contactPhone' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total_results' type='xsd:int' minOccurs='0' />
            <xsd:element name='start_date' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='searchVRequestMessage'>
    <part name='parameters' element='tns:searchVParameters' />
  </message>
  <message name='searchVResponseMessage'>
    <part name='response' element='tns:searchVResponse' />
  </message>
  <portType name='activePortType'>
    <operation name='searchV'>
      <documentation></documentation>
      <input message='tns:searchVRequestMessage' name='searchVInput' />
      <output message='tns:searchVResponseMessage' name='searchVOutput' />
    </operation>
  </portType>
  <binding name='activeBinding' type='tns:activePortType'>
    <operation name='searchV'>
      <soap12:operation soapAction='http://searchV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='active'>
    <documentation>active com is the leading online community for people who want to discover learn about share register for and ultimately participate in activities about which they are passionate Millions of active individuals visit Active com each month to search and register online for races team sports and recreational activities interact with others who have similar interests start online training programs and access nutrition fitness and training tips</documentation>
    <port name='activePort' binding='tns:activeBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://active' />
    </port>
  </service>
</definitions>