workspace/datasets/mashape_dataset/additionalregistrationattributesmagentoextension.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/additionalRegistrationAttributesMagentoExtension/' name='additionalRegistrationAttributesMagentoExtension' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/additionalRegistrationAttributesMagentoExtension/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/additionalRegistrationAttributesMagentoExtension/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/additionalRegistrationAttributesMagentoExtension/'>
      <xsd:element name='httpWwwMagentocommerceComMagentoConnectAdvanceCustomRegistrationFormFieldsCustomerAttributesHtmlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='httpWwwMagentocommerceComMagentoConnectAdvanceCustomRegistrationFormFieldsCustomerAttributesHtmlRequestMessage' />
  <message name='httpWwwMagentocommerceComMagentoConnectAdvanceCustomRegistrationFormFieldsCustomerAttributesHtmlResponseMessage'>
    <part name='response' element='tns:httpWwwMagentocommerceComMagentoConnectAdvanceCustomRegistrationFormFieldsCustomerAttributesHtmlResponse' />
  </message>
  <portType name='additionalRegistrationAttributesMagentoExtensionPortType'>
    <operation name='httpWwwMagentocommerceComMagentoConnectAdvanceCustomRegistrationFormFieldsCustomerAttributesHtml'>
      <documentation></documentation>
      <input message='tns:httpWwwMagentocommerceComMagentoConnectAdvanceCustomRegistrationFormFieldsCustomerAttributesHtmlRequestMessage' name='httpWwwMagentocommerceComMagentoConnectAdvanceCustomRegistrationFormFieldsCustomerAttributesHtmlInput' />
      <output message='tns:httpWwwMagentocommerceComMagentoConnectAdvanceCustomRegistrationFormFieldsCustomerAttributesHtmlResponseMessage' name='httpWwwMagentocommerceComMagentoConnectAdvanceCustomRegistrationFormFieldsCustomerAttributesHtmlOutput' />
    </operation>
  </portType>
  <binding name='additionalRegistrationAttributesMagentoExtensionBinding' type='tns:additionalRegistrationAttributesMagentoExtensionPortType'>
    <operation name='httpWwwMagentocommerceComMagentoConnectAdvanceCustomRegistrationFormFieldsCustomerAttributesHtml'>
      <soap12:operation soapAction='http://httpWwwMagentocommerceComMagentoConnectAdvanceCustomRegistrationFormFieldsCustomerAttributesHtml' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='additionalRegistrationAttributesMagentoExtension'>
    <documentation>additional Registration Attributes Magento Extension allows you to add custom fields on user sign up form</documentation>
    <port name='additionalRegistrationAttributesMagentoExtensionPort' binding='tns:additionalRegistrationAttributesMagentoExtensionBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://additionalRegistrationAttributesMagentoExtension' />
    </port>
  </service>
</definitions>