workspace/datasets/mashape_dataset/advancedastrologyandhoroscope.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/advancedAstrologyAndHoroscope/' name='advancedAstrologyAndHoroscope' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/advancedAstrologyAndHoroscope/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/advancedAstrologyAndHoroscope/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/advancedAstrologyAndHoroscope/'>
      <xsd:element name='advancedPanchangAtTheTimeOfSunriseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ashtakootDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Varna' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Male_Varna' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Varna' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Vashya' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='MaleVashya' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Vashya' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Gan' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Gan' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Male_Gan' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Bhakut' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Female_Sign' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Male_Sign' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Tara' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Nakshatra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Male_Nakshatra' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Yoni' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Female_Yoni' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Male_Yoni' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Maitri' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Sign_Lord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Male_Sign_Lord' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Nadi' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Nadi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Male_Nadi' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicAstrologicalDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Varna' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Vashya' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Gan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SignLord' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='NaksahtraLord' type='xsd:int' minOccurs='0' />
            <xsd:element name='Naksahtra' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Yoni' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Nadi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Charan' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicGemstoneSuggestionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='BENEFIC' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='wear_metal' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wear_day' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='weight_caret' type='xsd:string' minOccurs='0' />
                  <xsd:element name='gem_deity' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='semi_gem' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wear_finger' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='LUCKY' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='wear_metal' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wear_day' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='weight_caret' type='xsd:string' minOccurs='0' />
                  <xsd:element name='gem_deity' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='semi_gem' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wear_finger' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='LIFE' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='wear_metal' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wear_day' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='weight_caret' type='xsd:string' minOccurs='0' />
                  <xsd:element name='gem_deity' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='semi_gem' type='xsd:string' minOccurs='0' />
                  <xsd:element name='wear_finger' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicPanchangDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SunSet' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Nakshatra' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SunRise' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Day' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicPanchangDetailsAtTheTimeOfSunriseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SunSet' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Nakshatra' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SunRise' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Day' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='birthDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sunrise' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='month' type='xsd:int' minOccurs='0' />
            <xsd:element name='hour' type='xsd:int' minOccurs='0' />
            <xsd:element name='year' type='xsd:int' minOccurs='0' />
            <xsd:element name='timezone' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='sunset' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ayanamsha' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='day' type='xsd:int' minOccurs='0' />
            <xsd:element name='minute' type='xsd:int' minOccurs='0' />
            <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='completePanchangDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='moonset' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sunrise' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='panchang_yog' type='xsd:string' minOccurs='0' />
            <xsd:element name='moon_sign' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='guliKaal' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='yamghant_kaal' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='ritu' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='yog' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='end_time' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='hour' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                        <xsd:element name='second' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='details' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='special' type='xsd:string' minOccurs='0' />
                        <xsd:element name='yog_number' type='xsd:int' minOccurs='0' />
                        <xsd:element name='meaning' type='xsd:string' minOccurs='0' />
                        <xsd:element name='yog_name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hindu_maah' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='adhik_status' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='amanta' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='purnimanta' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='vikram_samvat' type='xsd:int' minOccurs='0' />
            <xsd:element name='moon_nivas' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ayana' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='disha_shool' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sun_sign' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nakshatra' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='end_time' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='hour' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                        <xsd:element name='second' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='details' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nak_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='special' type='xsd:string' minOccurs='0' />
                        <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                        <xsd:element name='nak_number' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ruler' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='deity' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='shaka_samvat_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='karan' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='end_time' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='hour' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                        <xsd:element name='second' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='details' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='special' type='xsd:string' minOccurs='0' />
                        <xsd:element name='karan_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='karan_number' type='xsd:int' minOccurs='0' />
                        <xsd:element name='deity' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='vkram_samvat_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='day' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='abhijit_muhurta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='start' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='end' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='rahukaal' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='nak_shool' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='shaka_samvat' type='xsd:int' minOccurs='0' />
            <xsd:element name='moonrise' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='tithi' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='end_time' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='hour' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                        <xsd:element name='second' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='details' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='special' type='xsd:string' minOccurs='0' />
                        <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                        <xsd:element name='tithi_number' type='xsd:int' minOccurs='0' />
                        <xsd:element name='deity' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='tithi_name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='sunset' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='paksha' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='currentVimshottariDashaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sub_minor' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='major' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='minor' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='sub_sub_minor' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='sub_sub_sub_minor' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fastsReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='favourableLordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='favourableMantraResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='favourableTimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generalHouseReportParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='planetname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generalHouseReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='house_report' type='xsd:string' minOccurs='0' />
            <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generalRashiReportParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='planetname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generalRashiReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='rashi_report' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPlanetaryPositionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='nakshatraLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nakshatra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fullDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='normDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='isRetro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='house' type='xsd:int' minOccurs='0' />
                  <xsd:element name='speed' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='horoscopeChartsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='chartid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='horoscopeChartsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sign_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='kalsarpaDoshaReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='one_line' type='xsd:string' minOccurs='0' />
            <xsd:element name='present' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='majorVimshottariDashaDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='manglikReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='manglik_present' type='xsd:string' minOccurs='0' />
            <xsd:element name='percentage_manglik_after_cancellation' type='xsd:int' minOccurs='0' />
            <xsd:element name='manglik_status' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='manglik_present_rule' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='based_on_aspect' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='based_on_house' type='xsd:string' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='manglik_cancel_rule' type='xsd:string' minOccurs='0' />
            <xsd:element name='manglik_cancel' type='xsd:string' minOccurs='0' />
            <xsd:element name='percentage_manglik_present' type='xsd:int' minOccurs='0' />
            <xsd:element name='is_cancelled' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchMakingReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='conclusion' type='xsd:string' minOccurs='0' />
            <xsd:element name='obstructions' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='total_received_points' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchManglikReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='female' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='manglik_present' type='xsd:string' minOccurs='0' />
                  <xsd:element name='percentage_manglik_after_cancellation' type='xsd:int' minOccurs='0' />
                  <xsd:element name='manglik_status' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='manglik_present_rule' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='based_on_aspect' type='xsd:string' maxOccurs='unbounded' />
                        <xsd:element name='based_on_house' type='xsd:string' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='manglik_cancel_rule' type='xsd:string' minOccurs='0' />
                  <xsd:element name='manglik_cancel' type='xsd:string' minOccurs='0' />
                  <xsd:element name='percentage_manglik_present' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_cancelled' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='male' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='manglik_present' type='xsd:string' minOccurs='0' />
                  <xsd:element name='percentage_manglik_after_cancellation' type='xsd:int' minOccurs='0' />
                  <xsd:element name='manglik_status' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='manglik_present_rule' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='based_on_aspect' type='xsd:string' maxOccurs='unbounded' />
                        <xsd:element name='based_on_house' type='xsd:string' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='manglik_cancel_rule' type='xsd:string' minOccurs='0' />
                  <xsd:element name='manglik_cancel' type='xsd:string' minOccurs='0' />
                  <xsd:element name='percentage_manglik_present' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_cancelled' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchingAstrologyDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='female_astro_details' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Varna' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Vashya' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Gan' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='SignLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='NaksahtraLord' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Naksahtra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Yoni' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Nadi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Charan' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='male_astro_details' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Varna' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Vashya' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Gan' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='SignLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='NaksahtraLord' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Naksahtra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Yoni' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Nadi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Charan' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchingBirthDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='female_astro_details' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sunrise' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='month' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hour' type='xsd:int' minOccurs='0' />
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='timezone' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sunset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ayanamsha' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='day' type='xsd:int' minOccurs='0' />
                  <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='male_astro_details' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sunrise' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='month' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hour' type='xsd:int' minOccurs='0' />
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='timezone' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sunset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ayanamsha' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='day' type='xsd:int' minOccurs='0' />
                  <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchingObstructionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='obstructions' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchingPlanetaryDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='male_planet_details' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='nakshatraLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nakshatra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fullDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='normDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='isRetro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='house' type='xsd:int' minOccurs='0' />
                  <xsd:element name='speed' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='female_planet_details' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='nakshatraLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nakshatra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fullDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='normDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='isRetro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='house' type='xsd:int' minOccurs='0' />
                  <xsd:element name='speed' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='numerologyBasicDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fav_metal' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='friendly_num' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name_number' type='xsd:int' minOccurs='0' />
            <xsd:element name='fav_color' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='radical_num' type='xsd:int' minOccurs='0' />
            <xsd:element name='radical_ruler' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fav_day' type='xsd:string' minOccurs='0' />
            <xsd:element name='fav_god' type='xsd:string' minOccurs='0' />
            <xsd:element name='destiny_number' type='xsd:int' minOccurs='0' />
            <xsd:element name='neutral_num' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='radical_number' type='xsd:int' minOccurs='0' />
            <xsd:element name='evil_num' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fav_mantra' type='xsd:string' minOccurs='0' />
            <xsd:element name='fav_substone' type='xsd:string' minOccurs='0' />
            <xsd:element name='fav_stone' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='numerologyReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='placeAndVastuResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='planetPanchangDetailsAtTheTimeOfSunriseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='planetaryPanchangDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='nakshatra_lord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nakshatra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fullDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='normDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='isRetro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='sign_lord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rudrakshaSuggestionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='img_url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='recommend' type='xsd:string' minOccurs='0' />
            <xsd:element name='detail' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='advancedPanchangAtTheTimeOfSunriseRequestMessage' />
  <message name='advancedPanchangAtTheTimeOfSunriseResponseMessage'>
    <part name='response' element='tns:advancedPanchangAtTheTimeOfSunriseResponse' />
  </message>
  <message name='ashtakootDetailsRequestMessage' />
  <message name='ashtakootDetailsResponseMessage'>
    <part name='response' element='tns:ashtakootDetailsResponse' />
  </message>
  <message name='basicAstrologicalDetailsRequestMessage' />
  <message name='basicAstrologicalDetailsResponseMessage'>
    <part name='response' element='tns:basicAstrologicalDetailsResponse' />
  </message>
  <message name='basicGemstoneSuggestionRequestMessage' />
  <message name='basicGemstoneSuggestionResponseMessage'>
    <part name='response' element='tns:basicGemstoneSuggestionResponse' />
  </message>
  <message name='basicPanchangDetailsRequestMessage' />
  <message name='basicPanchangDetailsResponseMessage'>
    <part name='response' element='tns:basicPanchangDetailsResponse' />
  </message>
  <message name='basicPanchangDetailsAtTheTimeOfSunriseRequestMessage' />
  <message name='basicPanchangDetailsAtTheTimeOfSunriseResponseMessage'>
    <part name='response' element='tns:basicPanchangDetailsAtTheTimeOfSunriseResponse' />
  </message>
  <message name='birthDetailsRequestMessage' />
  <message name='birthDetailsResponseMessage'>
    <part name='response' element='tns:birthDetailsResponse' />
  </message>
  <message name='completePanchangDetailsRequestMessage' />
  <message name='completePanchangDetailsResponseMessage'>
    <part name='response' element='tns:completePanchangDetailsResponse' />
  </message>
  <message name='currentVimshottariDashaRequestMessage' />
  <message name='currentVimshottariDashaResponseMessage'>
    <part name='response' element='tns:currentVimshottariDashaResponse' />
  </message>
  <message name='fastsReportRequestMessage' />
  <message name='fastsReportResponseMessage'>
    <part name='response' element='tns:fastsReportResponse' />
  </message>
  <message name='favourableLordRequestMessage' />
  <message name='favourableLordResponseMessage'>
    <part name='response' element='tns:favourableLordResponse' />
  </message>
  <message name='favourableMantraRequestMessage' />
  <message name='favourableMantraResponseMessage'>
    <part name='response' element='tns:favourableMantraResponse' />
  </message>
  <message name='favourableTimeRequestMessage' />
  <message name='favourableTimeResponseMessage'>
    <part name='response' element='tns:favourableTimeResponse' />
  </message>
  <message name='generalHouseReportRequestMessage'>
    <part name='parameters' element='tns:generalHouseReportParameters' />
  </message>
  <message name='generalHouseReportResponseMessage'>
    <part name='response' element='tns:generalHouseReportResponse' />
  </message>
  <message name='generalRashiReportRequestMessage'>
    <part name='parameters' element='tns:generalRashiReportParameters' />
  </message>
  <message name='generalRashiReportResponseMessage'>
    <part name='response' element='tns:generalRashiReportResponse' />
  </message>
  <message name='getPlanetaryPositionsRequestMessage' />
  <message name='getPlanetaryPositionsResponseMessage'>
    <part name='response' element='tns:getPlanetaryPositionsResponse' />
  </message>
  <message name='horoscopeChartsRequestMessage'>
    <part name='parameters' element='tns:horoscopeChartsParameters' />
  </message>
  <message name='horoscopeChartsResponseMessage'>
    <part name='response' element='tns:horoscopeChartsResponse' />
  </message>
  <message name='kalsarpaDoshaReportRequestMessage' />
  <message name='kalsarpaDoshaReportResponseMessage'>
    <part name='response' element='tns:kalsarpaDoshaReportResponse' />
  </message>
  <message name='majorVimshottariDashaDetailsRequestMessage' />
  <message name='majorVimshottariDashaDetailsResponseMessage'>
    <part name='response' element='tns:majorVimshottariDashaDetailsResponse' />
  </message>
  <message name='manglikReportRequestMessage' />
  <message name='manglikReportResponseMessage'>
    <part name='response' element='tns:manglikReportResponse' />
  </message>
  <message name='matchMakingReportRequestMessage' />
  <message name='matchMakingReportResponseMessage'>
    <part name='response' element='tns:matchMakingReportResponse' />
  </message>
  <message name='matchManglikReportRequestMessage' />
  <message name='matchManglikReportResponseMessage'>
    <part name='response' element='tns:matchManglikReportResponse' />
  </message>
  <message name='matchingAstrologyDetailsRequestMessage' />
  <message name='matchingAstrologyDetailsResponseMessage'>
    <part name='response' element='tns:matchingAstrologyDetailsResponse' />
  </message>
  <message name='matchingBirthDetailsRequestMessage' />
  <message name='matchingBirthDetailsResponseMessage'>
    <part name='response' element='tns:matchingBirthDetailsResponse' />
  </message>
  <message name='matchingObstructionRequestMessage' />
  <message name='matchingObstructionResponseMessage'>
    <part name='response' element='tns:matchingObstructionResponse' />
  </message>
  <message name='matchingPlanetaryDetailsRequestMessage' />
  <message name='matchingPlanetaryDetailsResponseMessage'>
    <part name='response' element='tns:matchingPlanetaryDetailsResponse' />
  </message>
  <message name='numerologyBasicDetailsRequestMessage' />
  <message name='numerologyBasicDetailsResponseMessage'>
    <part name='response' element='tns:numerologyBasicDetailsResponse' />
  </message>
  <message name='numerologyReportRequestMessage' />
  <message name='numerologyReportResponseMessage'>
    <part name='response' element='tns:numerologyReportResponse' />
  </message>
  <message name='placeAndVastuRequestMessage' />
  <message name='placeAndVastuResponseMessage'>
    <part name='response' element='tns:placeAndVastuResponse' />
  </message>
  <message name='planetPanchangDetailsAtTheTimeOfSunriseRequestMessage' />
  <message name='planetPanchangDetailsAtTheTimeOfSunriseResponseMessage'>
    <part name='response' element='tns:planetPanchangDetailsAtTheTimeOfSunriseResponse' />
  </message>
  <message name='planetaryPanchangDetailsRequestMessage' />
  <message name='planetaryPanchangDetailsResponseMessage'>
    <part name='response' element='tns:planetaryPanchangDetailsResponse' />
  </message>
  <message name='rudrakshaSuggestionRequestMessage' />
  <message name='rudrakshaSuggestionResponseMessage'>
    <part name='response' element='tns:rudrakshaSuggestionResponse' />
  </message>
  <portType name='advancedAstrologyAndHoroscopePortType'>
    <operation name='advancedPanchangAtTheTimeOfSunrise'>
      <documentation>this api provides complete panchang in details at the time of sunrise for given date</documentation>
      <input message='tns:advancedPanchangAtTheTimeOfSunriseRequestMessage' name='advancedPanchangAtTheTimeOfSunriseInput' />
      <output message='tns:advancedPanchangAtTheTimeOfSunriseResponseMessage' name='advancedPanchangAtTheTimeOfSunriseOutput' />
    </operation>
    <operation name='ashtakootDetails'>
      <documentation>ashtakoot details provides complete ashtakoot analysis</documentation>
      <input message='tns:ashtakootDetailsRequestMessage' name='ashtakootDetailsInput' />
      <output message='tns:ashtakootDetailsResponseMessage' name='ashtakootDetailsOutput' />
    </operation>
    <operation name='basicAstrologicalDetails'>
      <documentation>provides the complete avakahada details e g nakshtatra charan tithi karan yog varna vashaya yoni etc</documentation>
      <input message='tns:basicAstrologicalDetailsRequestMessage' name='basicAstrologicalDetailsInput' />
      <output message='tns:basicAstrologicalDetailsResponseMessage' name='basicAstrologicalDetailsOutput' />
    </operation>
    <operation name='basicGemstoneSuggestion'>
      <documentation>this api suggest you your Life Stone Lucky Stone Benefic Stone with their deity wearing finger date time weight of stone etc</documentation>
      <input message='tns:basicGemstoneSuggestionRequestMessage' name='basicGemstoneSuggestionInput' />
      <output message='tns:basicGemstoneSuggestionResponseMessage' name='basicGemstoneSuggestionOutput' />
    </operation>
    <operation name='basicPanchangDetails'>
      <documentation>provides data points for panchang elements and sunrise and set timings</documentation>
      <input message='tns:basicPanchangDetailsRequestMessage' name='basicPanchangDetailsInput' />
      <output message='tns:basicPanchangDetailsResponseMessage' name='basicPanchangDetailsOutput' />
    </operation>
    <operation name='basicPanchangDetailsAtTheTimeOfSunrise'>
      <documentation>provides data points for panchang elements chaugadiya and sunrise and set time at he time of sunrise</documentation>
      <input message='tns:basicPanchangDetailsAtTheTimeOfSunriseRequestMessage' name='basicPanchangDetailsAtTheTimeOfSunriseInput' />
      <output message='tns:basicPanchangDetailsAtTheTimeOfSunriseResponseMessage' name='basicPanchangDetailsAtTheTimeOfSunriseOutput' />
    </operation>
    <operation name='birthDetails'>
      <documentation>along with birth details it provides sunrise sunset ayanamsha as well</documentation>
      <input message='tns:birthDetailsRequestMessage' name='birthDetailsInput' />
      <output message='tns:birthDetailsResponseMessage' name='birthDetailsOutput' />
    </operation>
    <operation name='completePanchangDetails'>
      <documentation>advanced panchang provides complete panchang in details</documentation>
      <input message='tns:completePanchangDetailsRequestMessage' name='completePanchangDetailsInput' />
      <output message='tns:completePanchangDetailsResponseMessage' name='completePanchangDetailsOutput' />
    </operation>
    <operation name='currentVimshottariDasha'>
      <documentation>current vimshottari dasha gives currently undergoing dasha of your horoscope</documentation>
      <input message='tns:currentVimshottariDashaRequestMessage' name='currentVimshottariDashaInput' />
      <output message='tns:currentVimshottariDashaResponseMessage' name='currentVimshottariDashaOutput' />
    </operation>
    <operation name='fastsReport'>
      <documentation>gives fasts report</documentation>
      <input message='tns:fastsReportRequestMessage' name='fastsReportInput' />
      <output message='tns:fastsReportResponseMessage' name='fastsReportOutput' />
    </operation>
    <operation name='favourableLord'>
      <documentation>suggest favourable lord for you</documentation>
      <input message='tns:favourableLordRequestMessage' name='favourableLordInput' />
      <output message='tns:favourableLordResponseMessage' name='favourableLordOutput' />
    </operation>
    <operation name='favourableMantra'>
      <documentation>gives favourable mantra for you</documentation>
      <input message='tns:favourableMantraRequestMessage' name='favourableMantraInput' />
      <output message='tns:favourableMantraResponseMessage' name='favourableMantraOutput' />
    </operation>
    <operation name='favourableTime'>
      <documentation>gives favourable time</documentation>
      <input message='tns:favourableTimeRequestMessage' name='favourableTimeInput' />
      <output message='tns:favourableTimeResponseMessage' name='favourableTimeOutput' />
    </operation>
    <operation name='generalHouseReport'>
      <documentation>calculates complete general house reports</documentation>
      <input message='tns:generalHouseReportRequestMessage' name='generalHouseReportInput' />
      <output message='tns:generalHouseReportResponseMessage' name='generalHouseReportOutput' />
    </operation>
    <operation name='generalRashiReport'>
      <documentation>calculates complete general rashi reports</documentation>
      <input message='tns:generalRashiReportRequestMessage' name='generalRashiReportInput' />
      <output message='tns:generalRashiReportResponseMessage' name='generalRashiReportOutput' />
    </operation>
    <operation name='getPlanetaryPositions'>
      <documentation>full planetary positions including ascendant along with retrograde status and nakshatra house sign and their specific lordships</documentation>
      <input message='tns:getPlanetaryPositionsRequestMessage' name='getPlanetaryPositionsInput' />
      <output message='tns:getPlanetaryPositionsResponseMessage' name='getPlanetaryPositionsOutput' />
    </operation>
    <operation name='horoscopeCharts'>
      <documentation>chart id is based on chart type all D charts The data points include various planetary positions along with ascendant and their respective house positions to draw horoscope charts</documentation>
      <input message='tns:horoscopeChartsRequestMessage' name='horoscopeChartsInput' />
      <output message='tns:horoscopeChartsResponseMessage' name='horoscopeChartsOutput' />
    </operation>
    <operation name='kalsarpaDoshaReport'>
      <documentation>calculate Kal Sarpa Dosha report</documentation>
      <input message='tns:kalsarpaDoshaReportRequestMessage' name='kalsarpaDoshaReportInput' />
      <output message='tns:kalsarpaDoshaReportResponseMessage' name='kalsarpaDoshaReportOutput' />
    </operation>
    <operation name='majorVimshottariDashaDetails'>
      <documentation>major vimshottari dasha provides complete mahadasha detail</documentation>
      <input message='tns:majorVimshottariDashaDetailsRequestMessage' name='majorVimshottariDashaDetailsInput' />
      <output message='tns:majorVimshottariDashaDetailsResponseMessage' name='majorVimshottariDashaDetailsOutput' />
    </operation>
    <operation name='manglikReport'>
      <documentation>calculate if Manglik Dosha present or not</documentation>
      <input message='tns:manglikReportRequestMessage' name='manglikReportInput' />
      <output message='tns:manglikReportResponseMessage' name='manglikReportOutput' />
    </operation>
    <operation name='matchMakingReport'>
      <documentation>match making report gives matching report based on male and female horoscope</documentation>
      <input message='tns:matchMakingReportRequestMessage' name='matchMakingReportInput' />
      <output message='tns:matchMakingReportResponseMessage' name='matchMakingReportOutput' />
    </operation>
    <operation name='matchManglikReport'>
      <documentation>match manglik reports gives you manglik report for male and female horoscopes</documentation>
      <input message='tns:matchManglikReportRequestMessage' name='matchManglikReportInput' />
      <output message='tns:matchManglikReportResponseMessage' name='matchManglikReportOutput' />
    </operation>
    <operation name='matchingAstrologyDetails'>
      <documentation>provides matching astrological details like varna vashya maitri nadi gan etc</documentation>
      <input message='tns:matchingAstrologyDetailsRequestMessage' name='matchingAstrologyDetailsInput' />
      <output message='tns:matchingAstrologyDetailsResponseMessage' name='matchingAstrologyDetailsOutput' />
    </operation>
    <operation name='matchingBirthDetails'>
      <documentation>gives birth details of both male and femaile horoscope</documentation>
      <input message='tns:matchingBirthDetailsRequestMessage' name='matchingBirthDetailsInput' />
      <output message='tns:matchingBirthDetailsResponseMessage' name='matchingBirthDetailsOutput' />
    </operation>
    <operation name='matchingObstruction'>
      <documentation>matching Obstruction provide whether matching have obstruction or not</documentation>
      <input message='tns:matchingObstructionRequestMessage' name='matchingObstructionInput' />
      <output message='tns:matchingObstructionResponseMessage' name='matchingObstructionOutput' />
    </operation>
    <operation name='matchingPlanetaryDetails'>
      <documentation>provides both male and female planetary position details of their corresponding horoscopes</documentation>
      <input message='tns:matchingPlanetaryDetailsRequestMessage' name='matchingPlanetaryDetailsInput' />
      <output message='tns:matchingPlanetaryDetailsResponseMessage' name='matchingPlanetaryDetailsOutput' />
    </operation>
    <operation name='numerologyBasicDetails'>
      <documentation>provides detailed Numerology report</documentation>
      <input message='tns:numerologyBasicDetailsRequestMessage' name='numerologyBasicDetailsInput' />
      <output message='tns:numerologyBasicDetailsResponseMessage' name='numerologyBasicDetailsOutput' />
    </operation>
    <operation name='numerologyReport'>
      <documentation>provides Numerology report</documentation>
      <input message='tns:numerologyReportRequestMessage' name='numerologyReportInput' />
      <output message='tns:numerologyReportResponseMessage' name='numerologyReportOutput' />
    </operation>
    <operation name='placeAndVastu'>
      <documentation>give place and vastu</documentation>
      <input message='tns:placeAndVastuRequestMessage' name='placeAndVastuInput' />
      <output message='tns:placeAndVastuResponseMessage' name='placeAndVastuOutput' />
    </operation>
    <operation name='planetPanchangDetailsAtTheTimeOfSunrise'>
      <documentation>provides panchang planetary degrees and retrograde positions of panchang at the time of given day sunrise</documentation>
      <input message='tns:planetPanchangDetailsAtTheTimeOfSunriseRequestMessage' name='planetPanchangDetailsAtTheTimeOfSunriseInput' />
      <output message='tns:planetPanchangDetailsAtTheTimeOfSunriseResponseMessage' name='planetPanchangDetailsAtTheTimeOfSunriseOutput' />
    </operation>
    <operation name='planetaryPanchangDetails'>
      <documentation>provides panchang planetary degrees and retrograde positions</documentation>
      <input message='tns:planetaryPanchangDetailsRequestMessage' name='planetaryPanchangDetailsInput' />
      <output message='tns:planetaryPanchangDetailsResponseMessage' name='planetaryPanchangDetailsOutput' />
    </operation>
    <operation name='rudrakshaSuggestion'>
      <documentation>recommends suitable rudraksha</documentation>
      <input message='tns:rudrakshaSuggestionRequestMessage' name='rudrakshaSuggestionInput' />
      <output message='tns:rudrakshaSuggestionResponseMessage' name='rudrakshaSuggestionOutput' />
    </operation>
  </portType>
  <binding name='advancedAstrologyAndHoroscopeBinding' type='tns:advancedAstrologyAndHoroscopePortType'>
    <operation name='advancedPanchangAtTheTimeOfSunrise'>
      <soap12:operation soapAction='http://advancedPanchangAtTheTimeOfSunrise' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ashtakootDetails'>
      <soap12:operation soapAction='http://ashtakootDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='basicAstrologicalDetails'>
      <soap12:operation soapAction='http://basicAstrologicalDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='basicGemstoneSuggestion'>
      <soap12:operation soapAction='http://basicGemstoneSuggestion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='basicPanchangDetails'>
      <soap12:operation soapAction='http://basicPanchangDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='basicPanchangDetailsAtTheTimeOfSunrise'>
      <soap12:operation soapAction='http://basicPanchangDetailsAtTheTimeOfSunrise' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='birthDetails'>
      <soap12:operation soapAction='http://birthDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='completePanchangDetails'>
      <soap12:operation soapAction='http://completePanchangDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='currentVimshottariDasha'>
      <soap12:operation soapAction='http://currentVimshottariDasha' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fastsReport'>
      <soap12:operation soapAction='http://fastsReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='favourableLord'>
      <soap12:operation soapAction='http://favourableLord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='favourableMantra'>
      <soap12:operation soapAction='http://favourableMantra' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='favourableTime'>
      <soap12:operation soapAction='http://favourableTime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generalHouseReport'>
      <soap12:operation soapAction='http://generalHouseReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generalRashiReport'>
      <soap12:operation soapAction='http://generalRashiReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPlanetaryPositions'>
      <soap12:operation soapAction='http://getPlanetaryPositions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='horoscopeCharts'>
      <soap12:operation soapAction='http://horoscopeCharts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='kalsarpaDoshaReport'>
      <soap12:operation soapAction='http://kalsarpaDoshaReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='majorVimshottariDashaDetails'>
      <soap12:operation soapAction='http://majorVimshottariDashaDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='manglikReport'>
      <soap12:operation soapAction='http://manglikReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchMakingReport'>
      <soap12:operation soapAction='http://matchMakingReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchManglikReport'>
      <soap12:operation soapAction='http://matchManglikReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchingAstrologyDetails'>
      <soap12:operation soapAction='http://matchingAstrologyDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchingBirthDetails'>
      <soap12:operation soapAction='http://matchingBirthDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchingObstruction'>
      <soap12:operation soapAction='http://matchingObstruction' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchingPlanetaryDetails'>
      <soap12:operation soapAction='http://matchingPlanetaryDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='numerologyBasicDetails'>
      <soap12:operation soapAction='http://numerologyBasicDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='numerologyReport'>
      <soap12:operation soapAction='http://numerologyReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='placeAndVastu'>
      <soap12:operation soapAction='http://placeAndVastu' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='planetPanchangDetailsAtTheTimeOfSunrise'>
      <soap12:operation soapAction='http://planetPanchangDetailsAtTheTimeOfSunrise' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='planetaryPanchangDetails'>
      <soap12:operation soapAction='http://planetaryPanchangDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='rudrakshaSuggestion'>
      <soap12:operation soapAction='http://rudrakshaSuggestion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='advancedAstrologyAndHoroscope'>
    <documentation>start creating horoscopes and reports on your websites and mobile applications within minutes using Vedic Rishi Astro APIs These APIs provide detailed vedic or Indian astrology calculations along with various prediction reports</documentation>
    <port name='advancedAstrologyAndHoroscopePort' binding='tns:advancedAstrologyAndHoroscopeBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://advancedAstrologyAndHoroscope' />
    </port>
  </service>
</definitions>