workspace/datasets/mashape_dataset/adzuna.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/adzuna/' name='adzuna' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/adzuna/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/adzuna/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/adzuna/'>
      <xsd:element name='apiVersionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='apiVersionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='averageSalaryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='months' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='what' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='where' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='averageSalaryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='histogramDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='what' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='where' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='histogramDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCategoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='vertical' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listEmployersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='what' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='where' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listEmployersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='salaryDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='what' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='where' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='salaryDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='salaryEstimateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='salaryEstimateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchCarsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='bodytype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='colour' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='distance' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='enginemax' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='enginemin' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='fueltype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxdaysold' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='mileagemax' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='mileagemin' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='priceincludeunknown' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pricemax' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pricemin' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='resultsperpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sellertype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortdirection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='titleonly' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='transmission' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='what' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whatand' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whatexclude' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whator' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whatphrase' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='where' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='yearmax' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='yearmin' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchCarsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchJobsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='company' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='contract' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='distance' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fulltime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxdaysold' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='parttime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='permanent' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='resultsperpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='salaryincludeunknown' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='salarymax' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='salarymin' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortdirection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='titleonly' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='what' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whatand' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whatexclude' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whator' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whatphrase' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='where' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchJobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchPropertiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='beds' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='distance' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='isfurnished' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxdaysold' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='priceincludeunknown' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pricemax' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pricemin' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='propertytype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='resultsperpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sortby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortdirection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='titleonly' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='what' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whatand' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whatexclude' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whator' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whatphrase' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='where' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchPropertiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='apiVersionRequestMessage'>
    <part name='parameters' element='tns:apiVersionParameters' />
  </message>
  <message name='apiVersionResponseMessage'>
    <part name='response' element='tns:apiVersionResponse' />
  </message>
  <message name='averageSalaryRequestMessage'>
    <part name='parameters' element='tns:averageSalaryParameters' />
  </message>
  <message name='averageSalaryResponseMessage'>
    <part name='response' element='tns:averageSalaryResponse' />
  </message>
  <message name='histogramDataRequestMessage'>
    <part name='parameters' element='tns:histogramDataParameters' />
  </message>
  <message name='histogramDataResponseMessage'>
    <part name='response' element='tns:histogramDataResponse' />
  </message>
  <message name='listCategoryRequestMessage'>
    <part name='parameters' element='tns:listCategoryParameters' />
  </message>
  <message name='listCategoryResponseMessage'>
    <part name='response' element='tns:listCategoryResponse' />
  </message>
  <message name='listEmployersRequestMessage'>
    <part name='parameters' element='tns:listEmployersParameters' />
  </message>
  <message name='listEmployersResponseMessage'>
    <part name='response' element='tns:listEmployersResponse' />
  </message>
  <message name='salaryDataRequestMessage'>
    <part name='parameters' element='tns:salaryDataParameters' />
  </message>
  <message name='salaryDataResponseMessage'>
    <part name='response' element='tns:salaryDataResponse' />
  </message>
  <message name='salaryEstimateRequestMessage'>
    <part name='parameters' element='tns:salaryEstimateParameters' />
  </message>
  <message name='salaryEstimateResponseMessage'>
    <part name='response' element='tns:salaryEstimateResponse' />
  </message>
  <message name='searchCarsRequestMessage'>
    <part name='parameters' element='tns:searchCarsParameters' />
  </message>
  <message name='searchCarsResponseMessage'>
    <part name='response' element='tns:searchCarsResponse' />
  </message>
  <message name='searchJobsRequestMessage'>
    <part name='parameters' element='tns:searchJobsParameters' />
  </message>
  <message name='searchJobsResponseMessage'>
    <part name='response' element='tns:searchJobsResponse' />
  </message>
  <message name='searchPropertiesRequestMessage'>
    <part name='parameters' element='tns:searchPropertiesParameters' />
  </message>
  <message name='searchPropertiesResponseMessage'>
    <part name='response' element='tns:searchPropertiesResponse' />
  </message>
  <portType name='adzunaPortType'>
    <operation name='apiVersion'>
      <documentation>returns the current version of this API</documentation>
      <input message='tns:apiVersionRequestMessage' name='apiVersionInput' />
      <output message='tns:apiVersionResponseMessage' name='apiVersionOutput' />
    </operation>
    <operation name='averageSalary'>
      <documentation>provides historical average salaries</documentation>
      <input message='tns:averageSalaryRequestMessage' name='averageSalaryInput' />
      <output message='tns:averageSalaryResponseMessage' name='averageSalaryOutput' />
    </operation>
    <operation name='histogramData'>
      <documentation>provide histogram data of salary data</documentation>
      <input message='tns:histogramDataRequestMessage' name='histogramDataInput' />
      <output message='tns:histogramDataResponseMessage' name='histogramDataOutput' />
    </operation>
    <operation name='listCategory'>
      <documentation>list available categories</documentation>
      <input message='tns:listCategoryRequestMessage' name='listCategoryInput' />
      <output message='tns:listCategoryResponseMessage' name='listCategoryOutput' />
    </operation>
    <operation name='listEmployers'>
      <documentation>list the employers with most jobs advertised</documentation>
      <input message='tns:listEmployersRequestMessage' name='listEmployersInput' />
      <output message='tns:listEmployersResponseMessage' name='listEmployersOutput' />
    </operation>
    <operation name='salaryData'>
      <documentation>provides salary data for locations</documentation>
      <input message='tns:salaryDataRequestMessage' name='salaryDataInput' />
      <output message='tns:salaryDataResponseMessage' name='salaryDataOutput' />
    </operation>
    <operation name='salaryEstimate'>
      <documentation>returns an estimate of the salary of a job</documentation>
      <input message='tns:salaryEstimateRequestMessage' name='salaryEstimateInput' />
      <output message='tns:salaryEstimateResponseMessage' name='salaryEstimateOutput' />
    </operation>
    <operation name='searchCars'>
      <documentation>search Adzuna cars</documentation>
      <input message='tns:searchCarsRequestMessage' name='searchCarsInput' />
      <output message='tns:searchCarsResponseMessage' name='searchCarsOutput' />
    </operation>
    <operation name='searchJobs'>
      <documentation>search the Adzuna jobs</documentation>
      <input message='tns:searchJobsRequestMessage' name='searchJobsInput' />
      <output message='tns:searchJobsResponseMessage' name='searchJobsOutput' />
    </operation>
    <operation name='searchProperties'>
      <documentation>search Adzuna properties</documentation>
      <input message='tns:searchPropertiesRequestMessage' name='searchPropertiesInput' />
      <output message='tns:searchPropertiesResponseMessage' name='searchPropertiesOutput' />
    </operation>
  </portType>
  <binding name='adzunaBinding' type='tns:adzunaPortType'>
    <operation name='apiVersion'>
      <soap12:operation soapAction='http://apiVersion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='averageSalary'>
      <soap12:operation soapAction='http://averageSalary' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='histogramData'>
      <soap12:operation soapAction='http://histogramData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listCategory'>
      <soap12:operation soapAction='http://listCategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listEmployers'>
      <soap12:operation soapAction='http://listEmployers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='salaryData'>
      <soap12:operation soapAction='http://salaryData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='salaryEstimate'>
      <soap12:operation soapAction='http://salaryEstimate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchCars'>
      <soap12:operation soapAction='http://searchCars' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchJobs'>
      <soap12:operation soapAction='http://searchJobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchProperties'>
      <soap12:operation soapAction='http://searchProperties' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='adzuna'>
    <documentation>get the very latest ads and data with Adzuna s API Get job property and car ads for your own website Use Adzuna s up to the minute employment data to power your own website reporting and data visualisations</documentation>
    <port name='adzunaPort' binding='tns:adzunaBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://adzuna' />
    </port>
  </service>
</definitions>