workspace/datasets/mashape_dataset/airporttimetableurimethod.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/airportTimetableUriMethod/' name='airportTimetableUriMethod' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/airportTimetableUriMethod/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/airportTimetableUriMethod/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/airportTimetableUriMethod/'>
      <xsd:element name='airporttimetableParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='airline' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='airport' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='count' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='direction' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hops' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortorder' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='airporttimetableResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='airporttimetableRequestMessage'>
    <part name='parameters' element='tns:airporttimetableParameters' />
  </message>
  <message name='airporttimetableResponseMessage'>
    <part name='response' element='tns:airporttimetableResponse' />
  </message>
  <portType name='airportTimetableUriMethodPortType'>
    <operation name='airporttimetable'>
      <documentation>this method returns timetable data based on a single airport city code for either arrivals or departures</documentation>
      <input message='tns:airporttimetableRequestMessage' name='airporttimetableInput' />
      <output message='tns:airporttimetableResponseMessage' name='airporttimetableOutput' />
    </operation>
  </portType>
  <binding name='airportTimetableUriMethodBinding' type='tns:airportTimetableUriMethodPortType'>
    <operation name='airporttimetable'>
      <soap12:operation soapAction='http://airporttimetable' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='airportTimetableUriMethod'>
    <documentation>flightLookup Airport Timetable Find all the flights to or from an airport Ideal service if you are an airport or providing a timetable for airports Want to know to get to a airport or from an airport you will need this service All flights into and out of Airport Worldwide passenger airline flight schedules Single Day day and Multi day lookups</documentation>
    <port name='airportTimetableUriMethodPort' binding='tns:airportTimetableUriMethodBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://airportTimetableUriMethod' />
    </port>
  </service>
</definitions>