workspace/datasets/mashape_dataset/airvantagemmcloud.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/airvantageMMCloud/' name='airvantageMMCloud' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/airvantageMMCloud/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/airvantageMMCloud/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/airvantageMMCloud/'>
      <xsd:element name='activateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='applicativeCommandResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='applySettingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='atCommandResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='configureCommunicationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createSystemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subscriptions' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='identifier' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mobileNumber' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='networkIdentifier' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='operator' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name1' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='lastCommFailureDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='networkOperator' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='networkServiceType' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rsrp' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastTemplateName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='roamingStatus' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='boardTemp' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='numberOfResets' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='packetsSent' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='radioModuleTemp' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='apn' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rsrpLevel' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rssi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signalBars' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ipAddress' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ecio' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='bytesSent' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ecioLevel' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cellId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='bytesReceived' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='packetsReceived' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rsrq' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rssiLevel' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pnOffset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rsrqLevel' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='heartbeat' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='type' type='xsd:string' minOccurs='0' />
            <xsd:element name='lastCommDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='statusReport' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='labels' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='commStatus' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='activityState' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='gateway' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='macAddress' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='serialNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imei' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='creationDate' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='applications' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='type' type='xsd:string' minOccurs='0' />
                  <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='revision' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSystemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSystemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settings' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='value' type='xsd:int' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='protocol' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='systems' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfAMessageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfAMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='protocol' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n25' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n10' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n261' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='value' type='xsd:int' minOccurs='0' />
                        <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='_rssi_level' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='nbDataPoints' type='xsd:int' minOccurs='0' />
            <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editSystemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editSystemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settings' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='value' type='xsd:int' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='protocol' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='systems' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exportDatapointsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exportDatapointsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='factoryResetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findSystemsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findSystemsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='size' type='xsd:int' minOccurs='0' />
            <xsd:element name='offset' type='xsd:int' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subscriptions' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='identifier' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mobileNumber' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='networkIdentifier' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='operator' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='gateway' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='macAddress' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='serialNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='imei' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='creationDate' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalAggregatedDatapointsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalAggregatedDatapointsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalRawDatapointsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalRawDatapointsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='installApplicationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lastDatapointsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ids' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lastDatapointsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Data2' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Data3' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Data1' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfMessagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfMessagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rebootResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='startApplicationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stopApplicationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='switchToMaintenanceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='synchornizeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textSmsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uninstallApplicationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='wakeUpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='operation' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='activateRequestMessage' />
  <message name='activateResponseMessage'>
    <part name='response' element='tns:activateResponse' />
  </message>
  <message name='applicativeCommandRequestMessage' />
  <message name='applicativeCommandResponseMessage'>
    <part name='response' element='tns:applicativeCommandResponse' />
  </message>
  <message name='applySettingsRequestMessage' />
  <message name='applySettingsResponseMessage'>
    <part name='response' element='tns:applySettingsResponse' />
  </message>
  <message name='atCommandRequestMessage' />
  <message name='atCommandResponseMessage'>
    <part name='response' element='tns:atCommandResponse' />
  </message>
  <message name='configureCommunicationRequestMessage' />
  <message name='configureCommunicationResponseMessage'>
    <part name='response' element='tns:configureCommunicationResponse' />
  </message>
  <message name='createSystemRequestMessage' />
  <message name='createSystemResponseMessage'>
    <part name='response' element='tns:createSystemResponse' />
  </message>
  <message name='deleteSystemRequestMessage'>
    <part name='parameters' element='tns:deleteSystemParameters' />
  </message>
  <message name='deleteSystemResponseMessage'>
    <part name='response' element='tns:deleteSystemResponse' />
  </message>
  <message name='detailsOfAMessageRequestMessage'>
    <part name='parameters' element='tns:detailsOfAMessageParameters' />
  </message>
  <message name='detailsOfAMessageResponseMessage'>
    <part name='response' element='tns:detailsOfAMessageResponse' />
  </message>
  <message name='editSystemRequestMessage'>
    <part name='parameters' element='tns:editSystemParameters' />
  </message>
  <message name='editSystemResponseMessage'>
    <part name='response' element='tns:editSystemResponse' />
  </message>
  <message name='exportDatapointsRequestMessage'>
    <part name='parameters' element='tns:exportDatapointsParameters' />
  </message>
  <message name='exportDatapointsResponseMessage'>
    <part name='response' element='tns:exportDatapointsResponse' />
  </message>
  <message name='factoryResetRequestMessage' />
  <message name='factoryResetResponseMessage'>
    <part name='response' element='tns:factoryResetResponse' />
  </message>
  <message name='findSystemsRequestMessage'>
    <part name='parameters' element='tns:findSystemsParameters' />
  </message>
  <message name='findSystemsResponseMessage'>
    <part name='response' element='tns:findSystemsResponse' />
  </message>
  <message name='historicalAggregatedDatapointsRequestMessage'>
    <part name='parameters' element='tns:historicalAggregatedDatapointsParameters' />
  </message>
  <message name='historicalAggregatedDatapointsResponseMessage'>
    <part name='response' element='tns:historicalAggregatedDatapointsResponse' />
  </message>
  <message name='historicalRawDatapointsRequestMessage'>
    <part name='parameters' element='tns:historicalRawDatapointsParameters' />
  </message>
  <message name='historicalRawDatapointsResponseMessage'>
    <part name='response' element='tns:historicalRawDatapointsResponse' />
  </message>
  <message name='installApplicationRequestMessage' />
  <message name='installApplicationResponseMessage'>
    <part name='response' element='tns:installApplicationResponse' />
  </message>
  <message name='lastDatapointsRequestMessage'>
    <part name='parameters' element='tns:lastDatapointsParameters' />
  </message>
  <message name='lastDatapointsResponseMessage'>
    <part name='response' element='tns:lastDatapointsResponse' />
  </message>
  <message name='listOfMessagesRequestMessage'>
    <part name='parameters' element='tns:listOfMessagesParameters' />
  </message>
  <message name='listOfMessagesResponseMessage'>
    <part name='response' element='tns:listOfMessagesResponse' />
  </message>
  <message name='rebootRequestMessage' />
  <message name='rebootResponseMessage'>
    <part name='response' element='tns:rebootResponse' />
  </message>
  <message name='retrieveDataRequestMessage' />
  <message name='retrieveDataResponseMessage'>
    <part name='response' element='tns:retrieveDataResponse' />
  </message>
  <message name='startApplicationRequestMessage' />
  <message name='startApplicationResponseMessage'>
    <part name='response' element='tns:startApplicationResponse' />
  </message>
  <message name='stopApplicationRequestMessage' />
  <message name='stopApplicationResponseMessage'>
    <part name='response' element='tns:stopApplicationResponse' />
  </message>
  <message name='switchToMaintenanceRequestMessage' />
  <message name='switchToMaintenanceResponseMessage'>
    <part name='response' element='tns:switchToMaintenanceResponse' />
  </message>
  <message name='synchornizeRequestMessage' />
  <message name='synchornizeResponseMessage'>
    <part name='response' element='tns:synchornizeResponse' />
  </message>
  <message name='textSmsRequestMessage' />
  <message name='textSmsResponseMessage'>
    <part name='response' element='tns:textSmsResponse' />
  </message>
  <message name='uninstallApplicationRequestMessage' />
  <message name='uninstallApplicationResponseMessage'>
    <part name='response' element='tns:uninstallApplicationResponse' />
  </message>
  <message name='wakeUpRequestMessage' />
  <message name='wakeUpResponseMessage'>
    <part name='response' element='tns:wakeUpResponse' />
  </message>
  <portType name='airvantageMMCloudPortType'>
    <operation name='activate'>
      <documentation>activate systems from label or from a list of UID</documentation>
      <input message='tns:activateRequestMessage' name='activateInput' />
      <output message='tns:activateResponseMessage' name='activateOutput' />
    </operation>
    <operation name='applicativeCommand'>
      <documentation>send a command to a set of systems defined by a label or a list of uid</documentation>
      <input message='tns:applicativeCommandRequestMessage' name='applicativeCommandInput' />
      <output message='tns:applicativeCommandResponseMessage' name='applicativeCommandOutput' />
    </operation>
    <operation name='applySettings'>
      <documentation>apply a list of settings on a set of systems defined by a label or a list of uid</documentation>
      <input message='tns:applySettingsRequestMessage' name='applySettingsInput' />
      <output message='tns:applySettingsResponseMessage' name='applySettingsOutput' />
    </operation>
    <operation name='atCommand'>
      <documentation>sends an AT command to a set of systems defined by a label or a list of uid</documentation>
      <input message='tns:atCommandRequestMessage' name='atCommandInput' />
      <output message='tns:atCommandResponseMessage' name='atCommandOutput' />
    </operation>
    <operation name='configureCommunication'>
      <documentation>configure heartbeat status report and advanced reports for a set of systems</documentation>
      <input message='tns:configureCommunicationRequestMessage' name='configureCommunicationInput' />
      <output message='tns:configureCommunicationResponseMessage' name='configureCommunicationOutput' />
    </operation>
    <operation name='createSystem'>
      <documentation>create a single system from scratch For the associated gateway and the subscriptions you can either create a new one on the fly or select an existing one by its uid</documentation>
      <input message='tns:createSystemRequestMessage' name='createSystemInput' />
      <output message='tns:createSystemResponseMessage' name='createSystemOutput' />
    </operation>
    <operation name='deleteSystem'>
      <documentation>delete a specific system from the AirVantage M M Cloud If needed the user can delete the gateway and the subscriptions linked to the system</documentation>
      <input message='tns:deleteSystemRequestMessage' name='deleteSystemInput' />
      <output message='tns:deleteSystemResponseMessage' name='deleteSystemOutput' />
    </operation>
    <operation name='detailsOfAMessage'>
      <documentation>get message details which consist in its uid timestamp protocol datapoints count and the data sent by the device during this message Duplicate data are counted</documentation>
      <input message='tns:detailsOfAMessageRequestMessage' name='detailsOfAMessageInput' />
      <output message='tns:detailsOfAMessageResponseMessage' name='detailsOfAMessageOutput' />
    </operation>
    <operation name='editSystem'>
      <documentation>edit the system identified by the uid of the request</documentation>
      <input message='tns:editSystemRequestMessage' name='editSystemInput' />
      <output message='tns:editSystemResponseMessage' name='editSystemOutput' />
    </operation>
    <operation name='exportDatapoints'>
      <documentation>export the historical data of one system to a CSV file</documentation>
      <input message='tns:exportDatapointsRequestMessage' name='exportDatapointsInput' />
      <output message='tns:exportDatapointsResponseMessage' name='exportDatapointsOutput' />
    </operation>
    <operation name='factoryReset'>
      <documentation>reset a selection of systems to factory defaults</documentation>
      <input message='tns:factoryResetRequestMessage' name='factoryResetInput' />
      <output message='tns:factoryResetResponseMessage' name='factoryResetOutput' />
    </operation>
    <operation name='findSystems'>
      <documentation>returns a paginated list of systems with their complete details It is possible to restrain the result list using criteria parameters Returned systems are shown only with the following attributes uid name state type activityState lastCommDate commStatus lastSyncDate syncStatus To display more or less attributes the fields parameter has to be set Though system creation date is not publicly exposed the default sort order is based on the creation date More information about paging filtering and sorting here</documentation>
      <input message='tns:findSystemsRequestMessage' name='findSystemsInput' />
      <output message='tns:findSystemsResponseMessage' name='findSystemsOutput' />
    </operation>
    <operation name='historicalAggregatedDatapoints'>
      <documentation>get a temporal aggregation of data points for the system matching the unique identifier and the data id defined in the url Most recent datapoints are returned first Three months of data are available</documentation>
      <input message='tns:historicalAggregatedDatapointsRequestMessage' name='historicalAggregatedDatapointsInput' />
      <output message='tns:historicalAggregatedDatapointsResponseMessage' name='historicalAggregatedDatapointsOutput' />
    </operation>
    <operation name='historicalRawDatapoints'>
      <documentation>get the historical values of a raw data for the system matching the unique identifier and the data id defined in the url Most recent datapoints are returned first Limitations months values which means you cannot access a value older than months or after the first values</documentation>
      <input message='tns:historicalRawDatapointsRequestMessage' name='historicalRawDatapointsInput' />
      <output message='tns:historicalRawDatapointsResponseMessage' name='historicalRawDatapointsOutput' />
    </operation>
    <operation name='installApplication'>
      <documentation>install or upgrade an application on a set of systems defined by a label or a list of uids</documentation>
      <input message='tns:installApplicationRequestMessage' name='installApplicationInput' />
      <output message='tns:installApplicationResponseMessage' name='installApplicationOutput' />
    </operation>
    <operation name='lastDatapoints'>
      <documentation>get the last datapoints of the system matching the unique identifier of data defined in the url If no data identifier is set the last datapoint for all data will be retrieved</documentation>
      <input message='tns:lastDatapointsRequestMessage' name='lastDatapointsInput' />
      <output message='tns:lastDatapointsResponseMessage' name='lastDatapointsOutput' />
    </operation>
    <operation name='listOfMessages'>
      <documentation>retrieve the list of past messages The uid timestamp protocol and datapoints count are retrieved Duplicate data are counted</documentation>
      <input message='tns:listOfMessagesRequestMessage' name='listOfMessagesInput' />
      <output message='tns:listOfMessagesResponseMessage' name='listOfMessagesOutput' />
    </operation>
    <operation name='reboot'>
      <documentation>reboot a selection of systems</documentation>
      <input message='tns:rebootRequestMessage' name='rebootInput' />
      <output message='tns:rebootResponseMessage' name='rebootOutput' />
    </operation>
    <operation name='retrieveData'>
      <documentation>retrieve data from a set of systems defined by a label or a list of uids</documentation>
      <input message='tns:retrieveDataRequestMessage' name='retrieveDataInput' />
      <output message='tns:retrieveDataResponseMessage' name='retrieveDataOutput' />
    </operation>
    <operation name='startApplication'>
      <documentation>start an application on a set of systems defined by a label or a list of uids</documentation>
      <input message='tns:startApplicationRequestMessage' name='startApplicationInput' />
      <output message='tns:startApplicationResponseMessage' name='startApplicationOutput' />
    </operation>
    <operation name='stopApplication'>
      <documentation>stop an application on a set of systems defined by a label or a list of uids</documentation>
      <input message='tns:stopApplicationRequestMessage' name='stopApplicationInput' />
      <output message='tns:stopApplicationResponseMessage' name='stopApplicationOutput' />
    </operation>
    <operation name='switchToMaintenance'>
      <documentation>switch systems to MAINTENANCE from label or from a list of UID</documentation>
      <input message='tns:switchToMaintenanceRequestMessage' name='switchToMaintenanceInput' />
      <output message='tns:switchToMaintenanceResponseMessage' name='switchToMaintenanceOutput' />
    </operation>
    <operation name='synchornize'>
      <documentation>synchronize systems with fresh information sent by remote devices Actions can be set to synchronize information for specific applications</documentation>
      <input message='tns:synchornizeRequestMessage' name='synchornizeInput' />
      <output message='tns:synchornizeResponseMessage' name='synchornizeOutput' />
    </operation>
    <operation name='textSms'>
      <documentation>send a text SMS to a selection of systems</documentation>
      <input message='tns:textSmsRequestMessage' name='textSmsInput' />
      <output message='tns:textSmsResponseMessage' name='textSmsOutput' />
    </operation>
    <operation name='uninstallApplication'>
      <documentation>operations systems applications uninstall</documentation>
      <input message='tns:uninstallApplicationRequestMessage' name='uninstallApplicationInput' />
      <output message='tns:uninstallApplicationResponseMessage' name='uninstallApplicationOutput' />
    </operation>
    <operation name='wakeUp'>
      <documentation>wake up a communication application deployed on a selection of systems in order to force this application to communicate with the Operating Portal</documentation>
      <input message='tns:wakeUpRequestMessage' name='wakeUpInput' />
      <output message='tns:wakeUpResponseMessage' name='wakeUpOutput' />
    </operation>
  </portType>
  <binding name='airvantageMMCloudBinding' type='tns:airvantageMMCloudPortType'>
    <operation name='activate'>
      <soap12:operation soapAction='http://activate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='applicativeCommand'>
      <soap12:operation soapAction='http://applicativeCommand' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='applySettings'>
      <soap12:operation soapAction='http://applySettings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='atCommand'>
      <soap12:operation soapAction='http://atCommand' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='configureCommunication'>
      <soap12:operation soapAction='http://configureCommunication' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createSystem'>
      <soap12:operation soapAction='http://createSystem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteSystem'>
      <soap12:operation soapAction='http://deleteSystem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detailsOfAMessage'>
      <soap12:operation soapAction='http://detailsOfAMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editSystem'>
      <soap12:operation soapAction='http://editSystem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='exportDatapoints'>
      <soap12:operation soapAction='http://exportDatapoints' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='factoryReset'>
      <soap12:operation soapAction='http://factoryReset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findSystems'>
      <soap12:operation soapAction='http://findSystems' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='historicalAggregatedDatapoints'>
      <soap12:operation soapAction='http://historicalAggregatedDatapoints' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='historicalRawDatapoints'>
      <soap12:operation soapAction='http://historicalRawDatapoints' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='installApplication'>
      <soap12:operation soapAction='http://installApplication' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lastDatapoints'>
      <soap12:operation soapAction='http://lastDatapoints' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listOfMessages'>
      <soap12:operation soapAction='http://listOfMessages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reboot'>
      <soap12:operation soapAction='http://reboot' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveData'>
      <soap12:operation soapAction='http://retrieveData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='startApplication'>
      <soap12:operation soapAction='http://startApplication' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stopApplication'>
      <soap12:operation soapAction='http://stopApplication' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='switchToMaintenance'>
      <soap12:operation soapAction='http://switchToMaintenance' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='synchornize'>
      <soap12:operation soapAction='http://synchornize' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textSms'>
      <soap12:operation soapAction='http://textSms' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='uninstallApplication'>
      <soap12:operation soapAction='http://uninstallApplication' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='wakeUp'>
      <soap12:operation soapAction='http://wakeUp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='airvantageMMCloud'>
    <documentation>the AirVantage M M Cloud simplifies M M development by providing a seamless connection between devices the M M cloud and the enterprise See more at http www sierrawireless com en productsandservices AirVantage M M Cloud How It Works aspx</documentation>
    <port name='airvantageMMCloudPort' binding='tns:airvantageMMCloudBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://airvantageMMCloud' />
    </port>
  </service>
</definitions>