workspace/datasets/mashape_dataset/aislin.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/aislin/' name='aislin' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/aislin/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/aislin/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/aislin/'>
      <xsd:element name='colorCountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='i' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='colorCountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='_links' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='identity' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='_self' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='color_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='elapsed_time' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='colors' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='r' type='xsd:int' minOccurs='0' />
                  <xsd:element name='b' type='xsd:int' minOccurs='0' />
                  <xsd:element name='g' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hex' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='identificationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='i' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='identificationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='identity' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Pixels_per_second' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Compression' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Properties' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='exif-Make' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-ComponentsConfiguration' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exif-FNumber' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-DateTimeDigitized' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exif-SceneCaptureType' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-ExifOffset' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-GPSAltitude' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-ExposureProgram' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-Compression' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-GPSLongitude' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exif-Orientation' type='xsd:int' minOccurs='0' />
                        <xsd:element name='date-create' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-DateTime' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exif-GPSAltitudeRef' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-ExifVersion' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exif-ColorSpace' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-ApertureValue' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-Flash' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-JPEGInterchangeFormatLength' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-BrightnessValue' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-YCbCrPositioning' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-GPSLatitude' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exif-WhiteBalance' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-XResolution' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-GPSLatitudeRef' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='jpeg-colorspace' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-ISOSpeedRatings' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-GPSImgDirection' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-FocalLength' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='signature' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-MeteringMode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='jpeg-sampling-factor' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-ExposureMode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-GPSInfo' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-ResolutionUnit' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-FocalLengthIn35mmFilm' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-SensingMethod' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-Model' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exif-GPSLongitudeRef' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-DateTimeOriginal' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exif-ExifImageWidth' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-ShutterSpeedValue' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-ExifImageLength' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-GPSImgDirectionRef' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-FlashPixVersion' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exif-GPSTimeStamp' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exif-Software' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-YResolution' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='exif-JPEGInterchangeFormat' type='xsd:int' minOccurs='0' />
                        <xsd:element name='exif-ExposureTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='date-modify' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Filesize' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Depth' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Compose' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Format' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Matte_color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Version' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Channel_statistics' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='red' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='min' type='xsd:string' minOccurs='0' />
                              <xsd:element name='max' type='xsd:string' minOccurs='0' />
                              <xsd:element name='mean' type='xsd:string' minOccurs='0' />
                              <xsd:element name='skewness' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='standard_deviation' type='xsd:string' minOccurs='0' />
                              <xsd:element name='kurtosis' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='green' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='min' type='xsd:string' minOccurs='0' />
                              <xsd:element name='max' type='xsd:string' minOccurs='0' />
                              <xsd:element name='mean' type='xsd:string' minOccurs='0' />
                              <xsd:element name='skewness' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='standard_deviation' type='xsd:string' minOccurs='0' />
                              <xsd:element name='kurtosis' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='blue' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='min' type='xsd:string' minOccurs='0' />
                              <xsd:element name='max' type='xsd:string' minOccurs='0' />
                              <xsd:element name='mean' type='xsd:string' minOccurs='0' />
                              <xsd:element name='skewness' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='standard_deviation' type='xsd:string' minOccurs='0' />
                              <xsd:element name='kurtosis' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Profiles' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Profile-exif' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Background_color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Dispose' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Print_size' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Colorspace' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Orientation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Tainted' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Number_pixels' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Units' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Page_geometry' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Geometry' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Image_statistics' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Overall' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='min' type='xsd:string' minOccurs='0' />
                              <xsd:element name='max' type='xsd:string' minOccurs='0' />
                              <xsd:element name='mean' type='xsd:string' minOccurs='0' />
                              <xsd:element name='skewness' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='standard_deviation' type='xsd:string' minOccurs='0' />
                              <xsd:element name='kurtosis' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Artifacts' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='verbose' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Endianess' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='depth' type='xsd:int' minOccurs='0' />
                  <xsd:element name='size' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Border_color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Interlace' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Class' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Rendering_intent' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Iterations' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Resolution' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Channel_depth' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='red' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='green' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='blue' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Transparent_color' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='_links' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='color_count' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='_self' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='elapsed_time' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='colors' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='r' type='xsd:int' minOccurs='0' />
                  <xsd:element name='b' type='xsd:int' minOccurs='0' />
                  <xsd:element name='g' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hex' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='colorCountRequestMessage'>
    <part name='parameters' element='tns:colorCountParameters' />
  </message>
  <message name='colorCountResponseMessage'>
    <part name='response' element='tns:colorCountResponse' />
  </message>
  <message name='identificationRequestMessage'>
    <part name='parameters' element='tns:identificationParameters' />
  </message>
  <message name='identificationResponseMessage'>
    <part name='response' element='tns:identificationResponse' />
  </message>
  <portType name='aislinPortType'>
    <operation name='colorCount'>
      <documentation>return color palette information about the image</documentation>
      <input message='tns:colorCountRequestMessage' name='colorCountInput' />
      <output message='tns:colorCountResponseMessage' name='colorCountOutput' />
    </operation>
    <operation name='identification'>
      <documentation>return all available data about the image</documentation>
      <input message='tns:identificationRequestMessage' name='identificationInput' />
      <output message='tns:identificationResponseMessage' name='identificationOutput' />
    </operation>
  </portType>
  <binding name='aislinBinding' type='tns:aislinPortType'>
    <operation name='colorCount'>
      <soap12:operation soapAction='http://colorCount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='identification'>
      <soap12:operation soapAction='http://identification' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='aislin'>
    <documentation>the best little image analysis API out there</documentation>
    <port name='aislinPort' binding='tns:aislinBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://aislin' />
    </port>
  </service>
</definitions>