workspace/datasets/mashape_dataset/alarmclockasaservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/alarmClockAsAService/' name='alarmClockAsAService' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/alarmClockAsAService/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/alarmClockAsAService/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/alarmClockAsAService/'>
      <xsd:element name='addResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
            <xsd:element name='triggers' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='action' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='subject' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='from' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='to' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='body' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='wall_clock' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='time_zone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='repeat_index' type='xsd:int' minOccurs='0' />
                  <xsd:element name='fire_date' type='xsd:int' minOccurs='0' />
                  <xsd:element name='token' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
            <xsd:element name='triggers' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='action' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='subject' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='from' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='to' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='body' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='wall_clock' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='time_zone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='repeat_index' type='xsd:int' minOccurs='0' />
                  <xsd:element name='fire_date' type='xsd:int' minOccurs='0' />
                  <xsd:element name='token' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tokenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
            <xsd:element name='token' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tokenJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
            <xsd:element name='token' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addRequestMessage' />
  <message name='addResponseMessage'>
    <part name='response' element='tns:addResponse' />
  </message>
  <message name='addJsonRequestMessage' />
  <message name='addJsonResponseMessage'>
    <part name='response' element='tns:addJsonResponse' />
  </message>
  <message name='listRequestMessage' />
  <message name='listResponseMessage'>
    <part name='response' element='tns:listResponse' />
  </message>
  <message name='listJsonRequestMessage' />
  <message name='listJsonResponseMessage'>
    <part name='response' element='tns:listJsonResponse' />
  </message>
  <message name='removeRequestMessage' />
  <message name='removeResponseMessage'>
    <part name='response' element='tns:removeResponse' />
  </message>
  <message name='removeJsonRequestMessage' />
  <message name='removeJsonResponseMessage'>
    <part name='response' element='tns:removeJsonResponse' />
  </message>
  <message name='tokenRequestMessage' />
  <message name='tokenResponseMessage'>
    <part name='response' element='tns:tokenResponse' />
  </message>
  <message name='tokenJsonRequestMessage' />
  <message name='tokenJsonResponseMessage'>
    <part name='response' element='tns:tokenJsonResponse' />
  </message>
  <message name='updateRequestMessage' />
  <message name='updateResponseMessage'>
    <part name='response' element='tns:updateResponse' />
  </message>
  <message name='updateJsonRequestMessage' />
  <message name='updateJsonResponseMessage'>
    <part name='response' element='tns:updateJsonResponse' />
  </message>
  <portType name='alarmClockAsAServicePortType'>
    <operation name='add'>
      <documentation>add a new trigger</documentation>
      <input message='tns:addRequestMessage' name='addInput' />
      <output message='tns:addResponseMessage' name='addOutput' />
    </operation>
    <operation name='addJson'>
      <documentation>add a new trigger</documentation>
      <input message='tns:addJsonRequestMessage' name='addJsonInput' />
      <output message='tns:addJsonResponseMessage' name='addJsonOutput' />
    </operation>
    <operation name='list'>
      <documentation>list all triggers for a given target</documentation>
      <input message='tns:listRequestMessage' name='listInput' />
      <output message='tns:listResponseMessage' name='listOutput' />
    </operation>
    <operation name='listJson'>
      <documentation>list all triggers for a given target</documentation>
      <input message='tns:listJsonRequestMessage' name='listJsonInput' />
      <output message='tns:listJsonResponseMessage' name='listJsonOutput' />
    </operation>
    <operation name='remove'>
      <documentation>remove a trigger or all triggers for a target</documentation>
      <input message='tns:removeRequestMessage' name='removeInput' />
      <output message='tns:removeResponseMessage' name='removeOutput' />
    </operation>
    <operation name='removeJson'>
      <documentation>remove a trigger or all triggers for a target</documentation>
      <input message='tns:removeJsonRequestMessage' name='removeJsonInput' />
      <output message='tns:removeJsonResponseMessage' name='removeJsonOutput' />
    </operation>
    <operation name='token'>
      <documentation>get a new unique token for a target</documentation>
      <input message='tns:tokenRequestMessage' name='tokenInput' />
      <output message='tns:tokenResponseMessage' name='tokenOutput' />
    </operation>
    <operation name='tokenJson'>
      <documentation>get a new unique token for a target</documentation>
      <input message='tns:tokenJsonRequestMessage' name='tokenJsonInput' />
      <output message='tns:tokenJsonResponseMessage' name='tokenJsonOutput' />
    </operation>
    <operation name='update'>
      <documentation>update the time zone and local time of a target</documentation>
      <input message='tns:updateRequestMessage' name='updateInput' />
      <output message='tns:updateResponseMessage' name='updateOutput' />
    </operation>
    <operation name='updateJson'>
      <documentation>update the time zone and local time of a target</documentation>
      <input message='tns:updateJsonRequestMessage' name='updateJsonInput' />
      <output message='tns:updateJsonResponseMessage' name='updateJsonOutput' />
    </operation>
  </portType>
  <binding name='alarmClockAsAServiceBinding' type='tns:alarmClockAsAServicePortType'>
    <operation name='add'>
      <soap12:operation soapAction='http://add' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addJson'>
      <soap12:operation soapAction='http://addJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='list'>
      <soap12:operation soapAction='http://list' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listJson'>
      <soap12:operation soapAction='http://listJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='remove'>
      <soap12:operation soapAction='http://remove' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeJson'>
      <soap12:operation soapAction='http://removeJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='token'>
      <soap12:operation soapAction='http://token' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tokenJson'>
      <soap12:operation soapAction='http://tokenJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='update'>
      <soap12:operation soapAction='http://update' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateJson'>
      <soap12:operation soapAction='http://updateJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='alarmClockAsAService'>
    <documentation>the Alarm API allows for the scheduling of time based alarms which when triggered take some specified action Send email push notifications or call arbitrary web services all while shortening development time insulating your operation from the intricacies of time calculations and expanding app capability</documentation>
    <port name='alarmClockAsAServicePort' binding='tns:alarmClockAsAServiceBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://alarmClockAsAService' />
    </port>
  </service>
</definitions>