workspace/datasets/mashape_dataset/alchemyapi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/alchemyapi/' name='alchemyapi' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/alchemyapi/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/alchemyapi/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/alchemyapi/'>
      <xsd:element name='htmlgetauthorParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetauthorResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='statusInfo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='author' type='xsd:string' minOccurs='0' />
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetcategoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetcategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetconstraintqueryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetconstraintqueryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetfeedlinksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetfeedlinksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='statusInfo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetlanguageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetlanguageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetmicroformatdataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetmicroformatdataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='statusInfo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetrankedconceptsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkeddata' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetrankedconceptsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetrankedkeywordsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keywordextractmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sentiment' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetrankedkeywordsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='statusInfo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetrankednamedentitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='coreference' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='disambiguate' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkeddata' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='quotations' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sentiment' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetrankednamedentitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='statusInfo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetrawtextParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetrawtextResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetrelationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='coreference' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='disambiguate' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='entities' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkeddata' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='requireentities' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sentiment' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sentimentexcludeentities' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgetrelationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='statusInfo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgettargetedsentimentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='target' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgettargetedsentimentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgettextParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='extractlinks' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='usemetadata' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgettextResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgettextsentimentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgettextsentimentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgettitleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='usemetadata' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlgettitleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetcategoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetcategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetlanguageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetlanguageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='statusInfo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetrankedconceptsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkeddata' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetrankedconceptsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='concepts' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetrankedkeywordsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keywordextractmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sentiment' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetrankedkeywordsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='statusInfo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetrankednamedentitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='coreference' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='disambiguate' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkeddata' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='quotations' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sentiment' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetrankednamedentitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='statusInfo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetrelationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='coreference' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='disambiguate' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='entities' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkeddata' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='requireentities' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sentiment' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sentimentexcludeentities' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgetrelationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgettargetedsentimentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='target' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgettargetedsentimentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgettextsentimentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textgettextsentimentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetauthorParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetauthorResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='author' type='xsd:string' minOccurs='0' />
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetcategoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetcategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetconstraintqueryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetconstraintqueryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetfeedlinksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetfeedlinksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='feeds' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='feed' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetlanguageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetlanguageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetmicroformatdataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetmicroformatdataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetrankedconceptsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkeddata' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetrankedconceptsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='concepts' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetrankedkeywordsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keywordextractmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sentiment' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetrankedkeywordsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='keywords' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='text' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='usage' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetrankednamedentitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='coreference' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='disambiguate' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkeddata' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='quotations' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sentiment' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetrankednamedentitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetrawtextParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetrawtextResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetrelationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='baseurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='coreference' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='disambiguate' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='entities' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkeddata' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='maxretrieve' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='requireentities' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sentiment' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sentimentexcludeentities' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgetrelationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='statusInfo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgettargetedsentimentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='target' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgettargetedsentimentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgettextParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='extractlinks' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='usemetadata' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgettextResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgettextsentimentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cquery' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='showsourcetext' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='sourcetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xpath' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgettextsentimentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgettitleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='outputmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='usemetadata' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlgettitleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='htmlgetauthorRequestMessage'>
    <part name='parameters' element='tns:htmlgetauthorParameters' />
  </message>
  <message name='htmlgetauthorResponseMessage'>
    <part name='response' element='tns:htmlgetauthorResponse' />
  </message>
  <message name='htmlgetcategoryRequestMessage'>
    <part name='parameters' element='tns:htmlgetcategoryParameters' />
  </message>
  <message name='htmlgetcategoryResponseMessage'>
    <part name='response' element='tns:htmlgetcategoryResponse' />
  </message>
  <message name='htmlgetconstraintqueryRequestMessage'>
    <part name='parameters' element='tns:htmlgetconstraintqueryParameters' />
  </message>
  <message name='htmlgetconstraintqueryResponseMessage'>
    <part name='response' element='tns:htmlgetconstraintqueryResponse' />
  </message>
  <message name='htmlgetfeedlinksRequestMessage'>
    <part name='parameters' element='tns:htmlgetfeedlinksParameters' />
  </message>
  <message name='htmlgetfeedlinksResponseMessage'>
    <part name='response' element='tns:htmlgetfeedlinksResponse' />
  </message>
  <message name='htmlgetlanguageRequestMessage'>
    <part name='parameters' element='tns:htmlgetlanguageParameters' />
  </message>
  <message name='htmlgetlanguageResponseMessage'>
    <part name='response' element='tns:htmlgetlanguageResponse' />
  </message>
  <message name='htmlgetmicroformatdataRequestMessage'>
    <part name='parameters' element='tns:htmlgetmicroformatdataParameters' />
  </message>
  <message name='htmlgetmicroformatdataResponseMessage'>
    <part name='response' element='tns:htmlgetmicroformatdataResponse' />
  </message>
  <message name='htmlgetrankedconceptsRequestMessage'>
    <part name='parameters' element='tns:htmlgetrankedconceptsParameters' />
  </message>
  <message name='htmlgetrankedconceptsResponseMessage'>
    <part name='response' element='tns:htmlgetrankedconceptsResponse' />
  </message>
  <message name='htmlgetrankedkeywordsRequestMessage'>
    <part name='parameters' element='tns:htmlgetrankedkeywordsParameters' />
  </message>
  <message name='htmlgetrankedkeywordsResponseMessage'>
    <part name='response' element='tns:htmlgetrankedkeywordsResponse' />
  </message>
  <message name='htmlgetrankednamedentitiesRequestMessage'>
    <part name='parameters' element='tns:htmlgetrankednamedentitiesParameters' />
  </message>
  <message name='htmlgetrankednamedentitiesResponseMessage'>
    <part name='response' element='tns:htmlgetrankednamedentitiesResponse' />
  </message>
  <message name='htmlgetrawtextRequestMessage'>
    <part name='parameters' element='tns:htmlgetrawtextParameters' />
  </message>
  <message name='htmlgetrawtextResponseMessage'>
    <part name='response' element='tns:htmlgetrawtextResponse' />
  </message>
  <message name='htmlgetrelationsRequestMessage'>
    <part name='parameters' element='tns:htmlgetrelationsParameters' />
  </message>
  <message name='htmlgetrelationsResponseMessage'>
    <part name='response' element='tns:htmlgetrelationsResponse' />
  </message>
  <message name='htmlgettargetedsentimentRequestMessage'>
    <part name='parameters' element='tns:htmlgettargetedsentimentParameters' />
  </message>
  <message name='htmlgettargetedsentimentResponseMessage'>
    <part name='response' element='tns:htmlgettargetedsentimentResponse' />
  </message>
  <message name='htmlgettextRequestMessage'>
    <part name='parameters' element='tns:htmlgettextParameters' />
  </message>
  <message name='htmlgettextResponseMessage'>
    <part name='response' element='tns:htmlgettextResponse' />
  </message>
  <message name='htmlgettextsentimentRequestMessage'>
    <part name='parameters' element='tns:htmlgettextsentimentParameters' />
  </message>
  <message name='htmlgettextsentimentResponseMessage'>
    <part name='response' element='tns:htmlgettextsentimentResponse' />
  </message>
  <message name='htmlgettitleRequestMessage'>
    <part name='parameters' element='tns:htmlgettitleParameters' />
  </message>
  <message name='htmlgettitleResponseMessage'>
    <part name='response' element='tns:htmlgettitleResponse' />
  </message>
  <message name='textgetcategoryRequestMessage'>
    <part name='parameters' element='tns:textgetcategoryParameters' />
  </message>
  <message name='textgetcategoryResponseMessage'>
    <part name='response' element='tns:textgetcategoryResponse' />
  </message>
  <message name='textgetlanguageRequestMessage'>
    <part name='parameters' element='tns:textgetlanguageParameters' />
  </message>
  <message name='textgetlanguageResponseMessage'>
    <part name='response' element='tns:textgetlanguageResponse' />
  </message>
  <message name='textgetrankedconceptsRequestMessage'>
    <part name='parameters' element='tns:textgetrankedconceptsParameters' />
  </message>
  <message name='textgetrankedconceptsResponseMessage'>
    <part name='response' element='tns:textgetrankedconceptsResponse' />
  </message>
  <message name='textgetrankedkeywordsRequestMessage'>
    <part name='parameters' element='tns:textgetrankedkeywordsParameters' />
  </message>
  <message name='textgetrankedkeywordsResponseMessage'>
    <part name='response' element='tns:textgetrankedkeywordsResponse' />
  </message>
  <message name='textgetrankednamedentitiesRequestMessage'>
    <part name='parameters' element='tns:textgetrankednamedentitiesParameters' />
  </message>
  <message name='textgetrankednamedentitiesResponseMessage'>
    <part name='response' element='tns:textgetrankednamedentitiesResponse' />
  </message>
  <message name='textgetrelationsRequestMessage'>
    <part name='parameters' element='tns:textgetrelationsParameters' />
  </message>
  <message name='textgetrelationsResponseMessage'>
    <part name='response' element='tns:textgetrelationsResponse' />
  </message>
  <message name='textgettargetedsentimentRequestMessage'>
    <part name='parameters' element='tns:textgettargetedsentimentParameters' />
  </message>
  <message name='textgettargetedsentimentResponseMessage'>
    <part name='response' element='tns:textgettargetedsentimentResponse' />
  </message>
  <message name='textgettextsentimentRequestMessage'>
    <part name='parameters' element='tns:textgettextsentimentParameters' />
  </message>
  <message name='textgettextsentimentResponseMessage'>
    <part name='response' element='tns:textgettextsentimentResponse' />
  </message>
  <message name='urlgetauthorRequestMessage'>
    <part name='parameters' element='tns:urlgetauthorParameters' />
  </message>
  <message name='urlgetauthorResponseMessage'>
    <part name='response' element='tns:urlgetauthorResponse' />
  </message>
  <message name='urlgetcategoryRequestMessage'>
    <part name='parameters' element='tns:urlgetcategoryParameters' />
  </message>
  <message name='urlgetcategoryResponseMessage'>
    <part name='response' element='tns:urlgetcategoryResponse' />
  </message>
  <message name='urlgetconstraintqueryRequestMessage'>
    <part name='parameters' element='tns:urlgetconstraintqueryParameters' />
  </message>
  <message name='urlgetconstraintqueryResponseMessage'>
    <part name='response' element='tns:urlgetconstraintqueryResponse' />
  </message>
  <message name='urlgetfeedlinksRequestMessage'>
    <part name='parameters' element='tns:urlgetfeedlinksParameters' />
  </message>
  <message name='urlgetfeedlinksResponseMessage'>
    <part name='response' element='tns:urlgetfeedlinksResponse' />
  </message>
  <message name='urlgetlanguageRequestMessage'>
    <part name='parameters' element='tns:urlgetlanguageParameters' />
  </message>
  <message name='urlgetlanguageResponseMessage'>
    <part name='response' element='tns:urlgetlanguageResponse' />
  </message>
  <message name='urlgetmicroformatdataRequestMessage'>
    <part name='parameters' element='tns:urlgetmicroformatdataParameters' />
  </message>
  <message name='urlgetmicroformatdataResponseMessage'>
    <part name='response' element='tns:urlgetmicroformatdataResponse' />
  </message>
  <message name='urlgetrankedconceptsRequestMessage'>
    <part name='parameters' element='tns:urlgetrankedconceptsParameters' />
  </message>
  <message name='urlgetrankedconceptsResponseMessage'>
    <part name='response' element='tns:urlgetrankedconceptsResponse' />
  </message>
  <message name='urlgetrankedkeywordsRequestMessage'>
    <part name='parameters' element='tns:urlgetrankedkeywordsParameters' />
  </message>
  <message name='urlgetrankedkeywordsResponseMessage'>
    <part name='response' element='tns:urlgetrankedkeywordsResponse' />
  </message>
  <message name='urlgetrankednamedentitiesRequestMessage'>
    <part name='parameters' element='tns:urlgetrankednamedentitiesParameters' />
  </message>
  <message name='urlgetrankednamedentitiesResponseMessage'>
    <part name='response' element='tns:urlgetrankednamedentitiesResponse' />
  </message>
  <message name='urlgetrawtextRequestMessage'>
    <part name='parameters' element='tns:urlgetrawtextParameters' />
  </message>
  <message name='urlgetrawtextResponseMessage'>
    <part name='response' element='tns:urlgetrawtextResponse' />
  </message>
  <message name='urlgetrelationsRequestMessage'>
    <part name='parameters' element='tns:urlgetrelationsParameters' />
  </message>
  <message name='urlgetrelationsResponseMessage'>
    <part name='response' element='tns:urlgetrelationsResponse' />
  </message>
  <message name='urlgettargetedsentimentRequestMessage'>
    <part name='parameters' element='tns:urlgettargetedsentimentParameters' />
  </message>
  <message name='urlgettargetedsentimentResponseMessage'>
    <part name='response' element='tns:urlgettargetedsentimentResponse' />
  </message>
  <message name='urlgettextRequestMessage'>
    <part name='parameters' element='tns:urlgettextParameters' />
  </message>
  <message name='urlgettextResponseMessage'>
    <part name='response' element='tns:urlgettextResponse' />
  </message>
  <message name='urlgettextsentimentRequestMessage'>
    <part name='parameters' element='tns:urlgettextsentimentParameters' />
  </message>
  <message name='urlgettextsentimentResponseMessage'>
    <part name='response' element='tns:urlgettextsentimentResponse' />
  </message>
  <message name='urlgettitleRequestMessage'>
    <part name='parameters' element='tns:urlgettitleParameters' />
  </message>
  <message name='urlgettitleResponseMessage'>
    <part name='response' element='tns:urlgettitleResponse' />
  </message>
  <portType name='alchemyapiPortType'>
    <operation name='htmlgetauthor'>
      <documentation>the HTMLGetAuthor call is utilized to extract author information contained within the specified web page AlchemyAPI will process the posted HTML document looking for author information</documentation>
      <input message='tns:htmlgetauthorRequestMessage' name='htmlgetauthorInput' />
      <output message='tns:htmlgetauthorResponseMessage' name='htmlgetauthorOutput' />
    </operation>
    <operation name='htmlgetcategory'>
      <documentation>the HTMLGetCategory call is utilized to categorize a posted HTML document AlchemyAPI will extract text and other important content from the posted HTML document structure and perform document categorization operations</documentation>
      <input message='tns:htmlgetcategoryRequestMessage' name='htmlgetcategoryInput' />
      <output message='tns:htmlgetcategoryResponseMessage' name='htmlgetcategoryOutput' />
    </operation>
    <operation name='htmlgetconstraintquery'>
      <documentation>the HTMLGetConstraintQuery call is utilized to extract structured data from a posted HTML document AlchemyAPI will analyze the posted HTML document structure extracting the desired structured data</documentation>
      <input message='tns:htmlgetconstraintqueryRequestMessage' name='htmlgetconstraintqueryInput' />
      <output message='tns:htmlgetconstraintqueryResponseMessage' name='htmlgetconstraintqueryOutput' />
    </operation>
    <operation name='htmlgetfeedlinks'>
      <documentation>the HTMLGetFeedLinks call is utilized to extract any links to RSS ATOM feeds contained within the posted web page AlchemyAPI will process the posted HTML document looking for RSS ATOM feed links</documentation>
      <input message='tns:htmlgetfeedlinksRequestMessage' name='htmlgetfeedlinksInput' />
      <output message='tns:htmlgetfeedlinksResponseMessage' name='htmlgetfeedlinksOutput' />
    </operation>
    <operation name='htmlgetlanguage'>
      <documentation>the HTMLGetLanguage call is utilized to detect the language utilized within a posted HTML document AlchemyAPI will extract text from the posted HTML document structure ignoring navigation links advertisements and other undesireable content and perform language detection operations</documentation>
      <input message='tns:htmlgetlanguageRequestMessage' name='htmlgetlanguageInput' />
      <output message='tns:htmlgetlanguageResponseMessage' name='htmlgetlanguageOutput' />
    </operation>
    <operation name='htmlgetmicroformatdata'>
      <documentation>the HTMLGetMicroformatData call is utilized to extract Microformats content from a posted HTML document AlchemyAPI will process the posted HTML document looking for a variety of Microformats data structures hCards geo adr etc</documentation>
      <input message='tns:htmlgetmicroformatdataRequestMessage' name='htmlgetmicroformatdataInput' />
      <output message='tns:htmlgetmicroformatdataResponseMessage' name='htmlgetmicroformatdataOutput' />
    </operation>
    <operation name='htmlgetrankedconcepts'>
      <documentation>the HTMLGetRankedConcepts call is utilized to extract a relevancy ranked list of concept tags for a posted HTML document AlchemyAPI will extract text from the posted HTML document structure ignoring navigation links advertisements and other undesireable content and perform concept tagging operations</documentation>
      <input message='tns:htmlgetrankedconceptsRequestMessage' name='htmlgetrankedconceptsInput' />
      <output message='tns:htmlgetrankedconceptsResponseMessage' name='htmlgetrankedconceptsOutput' />
    </operation>
    <operation name='htmlgetrankedkeywords'>
      <documentation>the HTMLGetRankedKeywords call is utilized to extract a relevancy ranked list of topic keywords from a posted HTML document AlchemyAPI will extract text from the posted HTML document structure ignoring navigation links advertisements and other undesireable content and perform keyword extraction operations</documentation>
      <input message='tns:htmlgetrankedkeywordsRequestMessage' name='htmlgetrankedkeywordsInput' />
      <output message='tns:htmlgetrankedkeywordsResponseMessage' name='htmlgetrankedkeywordsOutput' />
    </operation>
    <operation name='htmlgetrankednamedentities'>
      <documentation>the HTMLGetRankedNamedEntities call is utilized to extract a grouped relevancy ranked list of named entities people companies organizations etc from a posted HTML document AlchemyAPI will extract text from the posted HTML document ignoring navigation links advertisements and other undesireable content and perform entity extraction operations</documentation>
      <input message='tns:htmlgetrankednamedentitiesRequestMessage' name='htmlgetrankednamedentitiesInput' />
      <output message='tns:htmlgetrankednamedentitiesResponseMessage' name='htmlgetrankednamedentitiesOutput' />
    </operation>
    <operation name='htmlgetrawtext'>
      <documentation>the HTMLGetRawText call is utilized to extract all text from a posted web page AlchemyAPI will extract text from the posted HTML document structure including page navigation advertisements and other page content To ignore this content please use the HTMLGetText call</documentation>
      <input message='tns:htmlgetrawtextRequestMessage' name='htmlgetrawtextInput' />
      <output message='tns:htmlgetrawtextResponseMessage' name='htmlgetrawtextOutput' />
    </operation>
    <operation name='htmlgetrelations'>
      <documentation>the URLGetRelations call is utilized to extract Subject Action Object relations from a posted HTML document AlchemyAPI will extract text from the HTML document structure ignoring navigation links advertisements and other undesireable content and perform relation extraction operations</documentation>
      <input message='tns:htmlgetrelationsRequestMessage' name='htmlgetrelationsInput' />
      <output message='tns:htmlgetrelationsResponseMessage' name='htmlgetrelationsOutput' />
    </operation>
    <operation name='htmlgettargetedsentiment'>
      <documentation>the HTMLGetTargetedSentiment call is utilized to extract positive negative sentiment targeted towards a specific user specified target phrase inside the text of a posted HTML document AlchemyAPI will extract text from the posted HTML document structure ignoring navigation links advertisements and other undesireable content and perform sentiment analysis operations</documentation>
      <input message='tns:htmlgettargetedsentimentRequestMessage' name='htmlgettargetedsentimentInput' />
      <output message='tns:htmlgettargetedsentimentResponseMessage' name='htmlgettargetedsentimentOutput' />
    </operation>
    <operation name='htmlgettext'>
      <documentation></documentation>
      <input message='tns:htmlgettextRequestMessage' name='htmlgettextInput' />
      <output message='tns:htmlgettextResponseMessage' name='htmlgettextOutput' />
    </operation>
    <operation name='htmlgettextsentiment'>
      <documentation>the HTMLGetTextSentiment call is utilized to extract positive negative sentiment from a posted HTML document AlchemyAPI will extract text from the posted HTML document structure ignoring navigation links advertisements and other undesireable content and perform sentiment analysis operations</documentation>
      <input message='tns:htmlgettextsentimentRequestMessage' name='htmlgettextsentimentInput' />
      <output message='tns:htmlgettextsentimentResponseMessage' name='htmlgettextsentimentOutput' />
    </operation>
    <operation name='htmlgettitle'>
      <documentation>the HTMLGetTitle call is utilized to extract title information from a posted web page The posted HTML document is processed extracting any title information</documentation>
      <input message='tns:htmlgettitleRequestMessage' name='htmlgettitleInput' />
      <output message='tns:htmlgettitleResponseMessage' name='htmlgettitleOutput' />
    </operation>
    <operation name='textgetcategory'>
      <documentation>the TextGetCategory call is utilized to categorize posted text document</documentation>
      <input message='tns:textgetcategoryRequestMessage' name='textgetcategoryInput' />
      <output message='tns:textgetcategoryResponseMessage' name='textgetcategoryOutput' />
    </operation>
    <operation name='textgetlanguage'>
      <documentation>the TextGetLanguage call is utilized to detect the language utilized within a posted text document</documentation>
      <input message='tns:textgetlanguageRequestMessage' name='textgetlanguageInput' />
      <output message='tns:textgetlanguageResponseMessage' name='textgetlanguageOutput' />
    </operation>
    <operation name='textgetrankedconcepts'>
      <documentation></documentation>
      <input message='tns:textgetrankedconceptsRequestMessage' name='textgetrankedconceptsInput' />
      <output message='tns:textgetrankedconceptsResponseMessage' name='textgetrankedconceptsOutput' />
    </operation>
    <operation name='textgetrankedkeywords'>
      <documentation>the TextGetRankedKeywords call is utilized to extract a relevancy ranked list of topic keywords from within a posted text document</documentation>
      <input message='tns:textgetrankedkeywordsRequestMessage' name='textgetrankedkeywordsInput' />
      <output message='tns:textgetrankedkeywordsResponseMessage' name='textgetrankedkeywordsOutput' />
    </operation>
    <operation name='textgetrankednamedentities'>
      <documentation>the TextGetRankedNamedEntities call is utilized to extract a grouped ranked list of named entities people companies organizations etc from within a posted text document</documentation>
      <input message='tns:textgetrankednamedentitiesRequestMessage' name='textgetrankednamedentitiesInput' />
      <output message='tns:textgetrankednamedentitiesResponseMessage' name='textgetrankednamedentitiesOutput' />
    </operation>
    <operation name='textgetrelations'>
      <documentation>the TextGetRelations call is utilized to extract Subject Action Object relations from a given text document</documentation>
      <input message='tns:textgetrelationsRequestMessage' name='textgetrelationsInput' />
      <output message='tns:textgetrelationsResponseMessage' name='textgetrelationsOutput' />
    </operation>
    <operation name='textgettargetedsentiment'>
      <documentation>the TextGetTargetedSentiment call is utilized to extract positive negative sentiment targeted towards a user specified phrase within a posted text document</documentation>
      <input message='tns:textgettargetedsentimentRequestMessage' name='textgettargetedsentimentInput' />
      <output message='tns:textgettargetedsentimentResponseMessage' name='textgettargetedsentimentOutput' />
    </operation>
    <operation name='textgettextsentiment'>
      <documentation>the TextGetTextSentiment call is utilized to extract positive negative sentiment from within a posted text document</documentation>
      <input message='tns:textgettextsentimentRequestMessage' name='textgettextsentimentInput' />
      <output message='tns:textgettextsentimentResponseMessage' name='textgettextsentimentOutput' />
    </operation>
    <operation name='urlgetauthor'>
      <documentation>the URLGetAuthor call is utilized to extract author information contained within the specified web page AlchemyAPI will download the requested URL process the retrieved HTML document looking for author information</documentation>
      <input message='tns:urlgetauthorRequestMessage' name='urlgetauthorInput' />
      <output message='tns:urlgetauthorResponseMessage' name='urlgetauthorOutput' />
    </operation>
    <operation name='urlgetcategory'>
      <documentation>the URLGetCategory call is utilized to categorize a webpage AlchemyAPI will download the requested URL extracting text and other important content from the HTML document structure and perform document categorization operations</documentation>
      <input message='tns:urlgetcategoryRequestMessage' name='urlgetcategoryInput' />
      <output message='tns:urlgetcategoryResponseMessage' name='urlgetcategoryOutput' />
    </operation>
    <operation name='urlgetconstraintquery'>
      <documentation>the URLGetConstraintQuery call is utilized to extract structured data from a given web page AlchemyAPI will download the requested URL analyze the HTML document structure and perform structured data extraction operations</documentation>
      <input message='tns:urlgetconstraintqueryRequestMessage' name='urlgetconstraintqueryInput' />
      <output message='tns:urlgetconstraintqueryResponseMessage' name='urlgetconstraintqueryOutput' />
    </operation>
    <operation name='urlgetfeedlinks'>
      <documentation>the URLGetFeedLinks call is utilized to extract any links to RSS ATOM feeds contained within the specified web page AlchemyAPI will download the requested URL process the retrieved HTML document looking for RSS ATOM feed links</documentation>
      <input message='tns:urlgetfeedlinksRequestMessage' name='urlgetfeedlinksInput' />
      <output message='tns:urlgetfeedlinksResponseMessage' name='urlgetfeedlinksOutput' />
    </operation>
    <operation name='urlgetlanguage'>
      <documentation>the URLGetLanguage call is utilized to detect the language utilized within a given web page AlchemyAPI will download the requested URL extracting text from the HTML document structure ignoring navigation links advertisements and other undesireable content and perform language detection operations</documentation>
      <input message='tns:urlgetlanguageRequestMessage' name='urlgetlanguageInput' />
      <output message='tns:urlgetlanguageResponseMessage' name='urlgetlanguageOutput' />
    </operation>
    <operation name='urlgetmicroformatdata'>
      <documentation>the URLGetMicroformatData call is utilized to extract structured microformats data from a given web page AlchemyAPI will retrieve the requested URL process the retrieved HTML document and look for a variety of Microformats data structures hCards geo adr etc</documentation>
      <input message='tns:urlgetmicroformatdataRequestMessage' name='urlgetmicroformatdataInput' />
      <output message='tns:urlgetmicroformatdataResponseMessage' name='urlgetmicroformatdataOutput' />
    </operation>
    <operation name='urlgetrankedconcepts'>
      <documentation>the URLGetRankedConcepts call is utilized to extract a relevancy ranked list of concept tags for a given web page AlchemyAPI will download the requested URL extracting text from the HTML document structure ignoring navigation links advertisements and other undesireable content and perform concept tagging operations</documentation>
      <input message='tns:urlgetrankedconceptsRequestMessage' name='urlgetrankedconceptsInput' />
      <output message='tns:urlgetrankedconceptsResponseMessage' name='urlgetrankedconceptsOutput' />
    </operation>
    <operation name='urlgetrankedkeywords'>
      <documentation>the URLGetRankedKeywords call is utilized to extract a relevancy ranked list of topic keywords from a given web page AlchemyAPI will download the requested URL extracting text from the HTML document structure ignoring navigation links advertisements and other undesireable content and perform keyword extraction operations</documentation>
      <input message='tns:urlgetrankedkeywordsRequestMessage' name='urlgetrankedkeywordsInput' />
      <output message='tns:urlgetrankedkeywordsResponseMessage' name='urlgetrankedkeywordsOutput' />
    </operation>
    <operation name='urlgetrankednamedentities'>
      <documentation>the URLGetRankedNamedEntities call is utilized to extract a grouped relevancy ranked list of named entities people companies organizations etc from a given web page AlchemyAPI will download the requested URL extracting text from the HTML document structure ignoring navigation links advertisements and other undesireable content and perform entity extraction operations</documentation>
      <input message='tns:urlgetrankednamedentitiesRequestMessage' name='urlgetrankednamedentitiesInput' />
      <output message='tns:urlgetrankednamedentitiesResponseMessage' name='urlgetrankednamedentitiesOutput' />
    </operation>
    <operation name='urlgetrawtext'>
      <documentation>the URLGetRawText call is utilized to extract all text from a web page AlchemyAPI will download the requested URL extract text from the HTML document structure including page navigation advertisements and other page content To ignore this content please use the URLGetText call</documentation>
      <input message='tns:urlgetrawtextRequestMessage' name='urlgetrawtextInput' />
      <output message='tns:urlgetrawtextResponseMessage' name='urlgetrawtextOutput' />
    </operation>
    <operation name='urlgetrelations'>
      <documentation>the URLGetRelations call is utilized to extract Subject Action Object relations from a given web page AlchemyAPI will download the requested URL extracting text from the HTML document structure ignoring navigation links advertisements and other undesireable content and perform relation extraction operations</documentation>
      <input message='tns:urlgetrelationsRequestMessage' name='urlgetrelationsInput' />
      <output message='tns:urlgetrelationsResponseMessage' name='urlgetrelationsOutput' />
    </operation>
    <operation name='urlgettargetedsentiment'>
      <documentation>the URLGetTargetedSentiment call is utilized to extract positive negative sentiment targeted towards a specific user specified target phrase inside the text of a given web page AlchemyAPI will download the requested URL extracting text from the HTML document structure ignoring navigation links advertisements and other undesireable content and perform sentiment extraction operations</documentation>
      <input message='tns:urlgettargetedsentimentRequestMessage' name='urlgettargetedsentimentInput' />
      <output message='tns:urlgettargetedsentimentResponseMessage' name='urlgettargetedsentimentOutput' />
    </operation>
    <operation name='urlgettext'>
      <documentation>the URLGetText call is utilized to extract the primary page article text from a web page AlchemyAPI will download the requested URL extract text from the HTML document structure and ignore page navigation advertisements and other undesireable page content</documentation>
      <input message='tns:urlgettextRequestMessage' name='urlgettextInput' />
      <output message='tns:urlgettextResponseMessage' name='urlgettextOutput' />
    </operation>
    <operation name='urlgettextsentiment'>
      <documentation>the URLGetTextSentiment call is utilized to extract positive negative sentiment from a given web page AlchemyAPI will download the requested URL extracting text from the HTML document structure ignoring navigation links advertisements and other undesireable content and perform sentiment extraction operations</documentation>
      <input message='tns:urlgettextsentimentRequestMessage' name='urlgettextsentimentInput' />
      <output message='tns:urlgettextsentimentResponseMessage' name='urlgettextsentimentOutput' />
    </operation>
    <operation name='urlgettitle'>
      <documentation></documentation>
      <input message='tns:urlgettitleRequestMessage' name='urlgettitleInput' />
      <output message='tns:urlgettitleResponseMessage' name='urlgettitleOutput' />
    </operation>
  </portType>
  <binding name='alchemyapiBinding' type='tns:alchemyapiPortType'>
    <operation name='htmlgetauthor'>
      <soap12:operation soapAction='http://htmlgetauthor' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgetcategory'>
      <soap12:operation soapAction='http://htmlgetcategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgetconstraintquery'>
      <soap12:operation soapAction='http://htmlgetconstraintquery' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgetfeedlinks'>
      <soap12:operation soapAction='http://htmlgetfeedlinks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgetlanguage'>
      <soap12:operation soapAction='http://htmlgetlanguage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgetmicroformatdata'>
      <soap12:operation soapAction='http://htmlgetmicroformatdata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgetrankedconcepts'>
      <soap12:operation soapAction='http://htmlgetrankedconcepts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgetrankedkeywords'>
      <soap12:operation soapAction='http://htmlgetrankedkeywords' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgetrankednamedentities'>
      <soap12:operation soapAction='http://htmlgetrankednamedentities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgetrawtext'>
      <soap12:operation soapAction='http://htmlgetrawtext' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgetrelations'>
      <soap12:operation soapAction='http://htmlgetrelations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgettargetedsentiment'>
      <soap12:operation soapAction='http://htmlgettargetedsentiment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgettext'>
      <soap12:operation soapAction='http://htmlgettext' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgettextsentiment'>
      <soap12:operation soapAction='http://htmlgettextsentiment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlgettitle'>
      <soap12:operation soapAction='http://htmlgettitle' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textgetcategory'>
      <soap12:operation soapAction='http://textgetcategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textgetlanguage'>
      <soap12:operation soapAction='http://textgetlanguage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textgetrankedconcepts'>
      <soap12:operation soapAction='http://textgetrankedconcepts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textgetrankedkeywords'>
      <soap12:operation soapAction='http://textgetrankedkeywords' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textgetrankednamedentities'>
      <soap12:operation soapAction='http://textgetrankednamedentities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textgetrelations'>
      <soap12:operation soapAction='http://textgetrelations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textgettargetedsentiment'>
      <soap12:operation soapAction='http://textgettargetedsentiment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textgettextsentiment'>
      <soap12:operation soapAction='http://textgettextsentiment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgetauthor'>
      <soap12:operation soapAction='http://urlgetauthor' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgetcategory'>
      <soap12:operation soapAction='http://urlgetcategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgetconstraintquery'>
      <soap12:operation soapAction='http://urlgetconstraintquery' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgetfeedlinks'>
      <soap12:operation soapAction='http://urlgetfeedlinks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgetlanguage'>
      <soap12:operation soapAction='http://urlgetlanguage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgetmicroformatdata'>
      <soap12:operation soapAction='http://urlgetmicroformatdata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgetrankedconcepts'>
      <soap12:operation soapAction='http://urlgetrankedconcepts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgetrankedkeywords'>
      <soap12:operation soapAction='http://urlgetrankedkeywords' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgetrankednamedentities'>
      <soap12:operation soapAction='http://urlgetrankednamedentities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgetrawtext'>
      <soap12:operation soapAction='http://urlgetrawtext' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgetrelations'>
      <soap12:operation soapAction='http://urlgetrelations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgettargetedsentiment'>
      <soap12:operation soapAction='http://urlgettargetedsentiment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgettext'>
      <soap12:operation soapAction='http://urlgettext' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgettextsentiment'>
      <soap12:operation soapAction='http://urlgettextsentiment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlgettitle'>
      <soap12:operation soapAction='http://urlgettitle' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='alchemyapi'>
    <documentation>alchemyAPI provides advanced cloud based and on premise text analysis infrastructure that eliminates the expense and difficulty of integrating natural language processing systems into your application service or data processing pipeline</documentation>
    <port name='alchemyapiPort' binding='tns:alchemyapiBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://alchemyapi' />
    </port>
  </service>
</definitions>