workspace/datasets/mashape_dataset/amplitude.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/amplitude/' name='amplitude' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/amplitude/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/amplitude/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/amplitude/'>
      <xsd:element name='averageSessionLengthParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='averageSessionLengthResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='series' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n2014-02-03' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='n2014-02-02' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='n2014-02-01' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='xValues' type='xsd:date' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='compositionOfUserPropertiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='group' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='compositionOfUserPropertiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='series' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n3_4_6' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n3_4_5' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='xValues' type='xsd:normalizedString' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exportingEventsDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exportingEventsDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gettingDashboardDataSeriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gettingDashboardDataSeriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='seriesLabels' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='series' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n2014-02-03' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n2014-02-02' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n2014-02-01' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='xValues' type='xsd:date' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionLengthDistributionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionLengthDistributionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='series' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n10-30_secs' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n10-30_mins' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n30-60_mins' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n3-10_mins' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n1__hours' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n0_secs' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n1-3_mins' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n0-3_secs' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n3-10_secs' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n30-60_secs' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='xValues' type='xsd:string' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionsPerUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionsPerUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='series' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n2014-02-03' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='n2014-02-02' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='n2014-02-01' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='xValues' type='xsd:date' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='averageSessionLengthRequestMessage'>
    <part name='parameters' element='tns:averageSessionLengthParameters' />
  </message>
  <message name='averageSessionLengthResponseMessage'>
    <part name='response' element='tns:averageSessionLengthResponse' />
  </message>
  <message name='compositionOfUserPropertiesRequestMessage'>
    <part name='parameters' element='tns:compositionOfUserPropertiesParameters' />
  </message>
  <message name='compositionOfUserPropertiesResponseMessage'>
    <part name='response' element='tns:compositionOfUserPropertiesResponse' />
  </message>
  <message name='exportingEventsDataRequestMessage'>
    <part name='parameters' element='tns:exportingEventsDataParameters' />
  </message>
  <message name='exportingEventsDataResponseMessage'>
    <part name='response' element='tns:exportingEventsDataResponse' />
  </message>
  <message name='gettingDashboardDataSeriesRequestMessage'>
    <part name='parameters' element='tns:gettingDashboardDataSeriesParameters' />
  </message>
  <message name='gettingDashboardDataSeriesResponseMessage'>
    <part name='response' element='tns:gettingDashboardDataSeriesResponse' />
  </message>
  <message name='sessionLengthDistributionRequestMessage'>
    <part name='parameters' element='tns:sessionLengthDistributionParameters' />
  </message>
  <message name='sessionLengthDistributionResponseMessage'>
    <part name='response' element='tns:sessionLengthDistributionResponse' />
  </message>
  <message name='sessionsPerUserRequestMessage'>
    <part name='parameters' element='tns:sessionsPerUserParameters' />
  </message>
  <message name='sessionsPerUserResponseMessage'>
    <part name='response' element='tns:sessionsPerUserResponse' />
  </message>
  <portType name='amplitudePortType'>
    <operation name='averageSessionLength'>
      <documentation>get the average session length in seconds for each day in the specified date range</documentation>
      <input message='tns:averageSessionLengthRequestMessage' name='averageSessionLengthInput' />
      <output message='tns:averageSessionLengthResponseMessage' name='averageSessionLengthOutput' />
    </operation>
    <operation name='compositionOfUserProperties'>
      <documentation></documentation>
      <input message='tns:compositionOfUserPropertiesRequestMessage' name='compositionOfUserPropertiesInput' />
      <output message='tns:compositionOfUserPropertiesResponseMessage' name='compositionOfUserPropertiesOutput' />
    </operation>
    <operation name='exportingEventsData'>
      <documentation>export all events data for a given app that occured within a specified range of dates The results are returned as a zipped archive of JSON files one file per day</documentation>
      <input message='tns:exportingEventsDataRequestMessage' name='exportingEventsDataInput' />
      <output message='tns:exportingEventsDataResponseMessage' name='exportingEventsDataOutput' />
    </operation>
    <operation name='gettingDashboardDataSeries'>
      <documentation>any data that can be displyed on the dashboard graphs can also be obtained via the commands below The results are returned as JSON</documentation>
      <input message='tns:gettingDashboardDataSeriesRequestMessage' name='gettingDashboardDataSeriesInput' />
      <output message='tns:gettingDashboardDataSeriesResponseMessage' name='gettingDashboardDataSeriesOutput' />
    </operation>
    <operation name='sessionLengthDistribution'>
      <documentation>get the number of sessions for each pre defined length bucket period during a specified date range</documentation>
      <input message='tns:sessionLengthDistributionRequestMessage' name='sessionLengthDistributionInput' />
      <output message='tns:sessionLengthDistributionResponseMessage' name='sessionLengthDistributionOutput' />
    </operation>
    <operation name='sessionsPerUser'>
      <documentation>get the average number of sessions per user on each each day in the specified date range</documentation>
      <input message='tns:sessionsPerUserRequestMessage' name='sessionsPerUserInput' />
      <output message='tns:sessionsPerUserResponseMessage' name='sessionsPerUserOutput' />
    </operation>
  </portType>
  <binding name='amplitudeBinding' type='tns:amplitudePortType'>
    <operation name='averageSessionLength'>
      <soap12:operation soapAction='http://averageSessionLength' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='compositionOfUserProperties'>
      <soap12:operation soapAction='http://compositionOfUserProperties' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='exportingEventsData'>
      <soap12:operation soapAction='http://exportingEventsData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gettingDashboardDataSeries'>
      <soap12:operation soapAction='http://gettingDashboardDataSeries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sessionLengthDistribution'>
      <soap12:operation soapAction='http://sessionLengthDistribution' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sessionsPerUser'>
      <soap12:operation soapAction='http://sessionsPerUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='amplitude'>
    <documentation>mobile Analytics for decision makers COME WITH QUESTIONS LEAVE WITH ANSWERS</documentation>
    <port name='amplitudePort' binding='tns:amplitudeBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://amplitude' />
    </port>
  </service>
</definitions>