workspace/datasets/mashape_dataset/andme.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/andme/' name='andme' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/andme/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/andme/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/andme/'>
      <xsd:element name='ancestryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='threshold' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ancestryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='carriersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='carriersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='drugResponsesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='drugResponsesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='genomesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='genomesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='genotypesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='locations' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='genotypesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='haplogroupsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='haplogroupsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='namesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='namesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='neanderthalParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='neanderthalResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='profilePictureParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='profilePictureResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='profilePicturePostParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='profilePicturePostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='featureid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishGetByLinkParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='featureid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishGetByLinkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishPostParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='featureid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishPostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishPutParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='featureid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishPutResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='relativesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='since' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='relativesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='risksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='risksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='traitsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profileid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='traitsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='profiles' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='genotyped' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='ancestryRequestMessage'>
    <part name='parameters' element='tns:ancestryParameters' />
  </message>
  <message name='ancestryResponseMessage'>
    <part name='response' element='tns:ancestryResponse' />
  </message>
  <message name='carriersRequestMessage'>
    <part name='parameters' element='tns:carriersParameters' />
  </message>
  <message name='carriersResponseMessage'>
    <part name='response' element='tns:carriersResponse' />
  </message>
  <message name='drugResponsesRequestMessage'>
    <part name='parameters' element='tns:drugResponsesParameters' />
  </message>
  <message name='drugResponsesResponseMessage'>
    <part name='response' element='tns:drugResponsesResponse' />
  </message>
  <message name='genomesRequestMessage'>
    <part name='parameters' element='tns:genomesParameters' />
  </message>
  <message name='genomesResponseMessage'>
    <part name='response' element='tns:genomesResponse' />
  </message>
  <message name='genotypesRequestMessage'>
    <part name='parameters' element='tns:genotypesParameters' />
  </message>
  <message name='genotypesResponseMessage'>
    <part name='response' element='tns:genotypesResponse' />
  </message>
  <message name='haplogroupsRequestMessage'>
    <part name='parameters' element='tns:haplogroupsParameters' />
  </message>
  <message name='haplogroupsResponseMessage'>
    <part name='response' element='tns:haplogroupsResponse' />
  </message>
  <message name='namesRequestMessage'>
    <part name='parameters' element='tns:namesParameters' />
  </message>
  <message name='namesResponseMessage'>
    <part name='response' element='tns:namesResponse' />
  </message>
  <message name='neanderthalRequestMessage'>
    <part name='parameters' element='tns:neanderthalParameters' />
  </message>
  <message name='neanderthalResponseMessage'>
    <part name='response' element='tns:neanderthalResponse' />
  </message>
  <message name='profilePictureRequestMessage'>
    <part name='parameters' element='tns:profilePictureParameters' />
  </message>
  <message name='profilePictureResponseMessage'>
    <part name='response' element='tns:profilePictureResponse' />
  </message>
  <message name='profilePicturePostRequestMessage'>
    <part name='parameters' element='tns:profilePicturePostParameters' />
  </message>
  <message name='profilePicturePostResponseMessage'>
    <part name='response' element='tns:profilePicturePostResponse' />
  </message>
  <message name='publishGetRequestMessage'>
    <part name='parameters' element='tns:publishGetParameters' />
  </message>
  <message name='publishGetResponseMessage'>
    <part name='response' element='tns:publishGetResponse' />
  </message>
  <message name='publishGetByLinkRequestMessage'>
    <part name='parameters' element='tns:publishGetByLinkParameters' />
  </message>
  <message name='publishGetByLinkResponseMessage'>
    <part name='response' element='tns:publishGetByLinkResponse' />
  </message>
  <message name='publishPostRequestMessage'>
    <part name='parameters' element='tns:publishPostParameters' />
  </message>
  <message name='publishPostResponseMessage'>
    <part name='response' element='tns:publishPostResponse' />
  </message>
  <message name='publishPutRequestMessage'>
    <part name='parameters' element='tns:publishPutParameters' />
  </message>
  <message name='publishPutResponseMessage'>
    <part name='response' element='tns:publishPutResponse' />
  </message>
  <message name='relativesRequestMessage'>
    <part name='parameters' element='tns:relativesParameters' />
  </message>
  <message name='relativesResponseMessage'>
    <part name='response' element='tns:relativesResponse' />
  </message>
  <message name='risksRequestMessage'>
    <part name='parameters' element='tns:risksParameters' />
  </message>
  <message name='risksResponseMessage'>
    <part name='response' element='tns:risksResponse' />
  </message>
  <message name='traitsRequestMessage'>
    <part name='parameters' element='tns:traitsParameters' />
  </message>
  <message name='traitsResponseMessage'>
    <part name='response' element='tns:traitsResponse' />
  </message>
  <message name='userRequestMessage' />
  <message name='userResponseMessage'>
    <part name='response' element='tns:userResponse' />
  </message>
  <portType name='andmePortType'>
    <operation name='ancestry'>
      <documentation>ancestral breakdown for the user s profile Each population has an absolute proportion of the genome A population with sub populations has an unassigned proportion the ancestry we couldn t classify in it threshold is optional default and range exclusive means a speculative estimate standard and conservative A higher threshold would increase the unassigned proportions a lower would speculate</documentation>
      <input message='tns:ancestryRequestMessage' name='ancestryInput' />
      <output message='tns:ancestryResponseMessage' name='ancestryOutput' />
    </operation>
    <operation name='carriers'>
      <documentation>our analysis of whether or not each profile is a carrier for these diseases starred reports The person has or mutations or tns if they re not analyzed at any of the markers Normally with one mutation the person is considered a carrier and can pass the mutation to children with two the person is likely to be affected by the disease</documentation>
      <input message='tns:carriersRequestMessage' name='carriersInput' />
      <output message='tns:carriersResponseMessage' name='carriersOutput' />
    </operation>
    <operation name='drugResponses'>
      <documentation>our analysis of how each profile responds to these drugs starred reports status is reduced typical or increased for a person not applicable if the drug is not applicable to them e g the oral contraceptives report is for women only or tns if they re not analyzed at any of the markers</documentation>
      <input message='tns:drugResponsesRequestMessage' name='drugResponsesInput' />
      <output message='tns:drugResponsesResponseMessage' name='drugResponsesOutput' />
    </operation>
    <operation name='genomes'>
      <documentation>returns the entire profile s genome as a packed string of base pairs AACTGA This MB request returns over a million SNP locations so you must specify profile id If the profile has not yet unlocked certain SNPs they ll be replaced with To know which SNP corresponds to which index in the string see this key When our genotyping chip is upgraded the packed string and corresponding key will grow but the changes will be backwards compatible additions</documentation>
      <input message='tns:genomesRequestMessage' name='genomesInput' />
      <output message='tns:genomesResponseMessage' name='genomesOutput' />
    </operation>
    <operation name='genotypes'>
      <documentation>returns the entire profile s genome as a packed string of base pairs AACTGA This MB request returns over a million SNP locations so you must specify profile id If the profile has not yet unlocked certain SNPs they ll be replaced with To know which SNP corresponds to which index in the string see this key When our genotyping chip is upgraded the packed string and corresponding key will grow but the changes will be backwards compatible additions</documentation>
      <input message='tns:genotypesRequestMessage' name='genotypesInput' />
      <output message='tns:genotypesResponseMessage' name='genotypesOutput' />
    </operation>
    <operation name='haplogroups'>
      <documentation>for the user s profile gets maternal and paternal haplogroups as well as terminal SNPs Maternal terminal SNPs include the rsid and rCRS reference position while the paternal ones include the rsid and ISOGG SNP Note if the profile belongs to a female the paternal y haplogroup and terminal SNP information will be tns</documentation>
      <input message='tns:haplogroupsRequestMessage' name='haplogroupsInput' />
      <output message='tns:haplogroupsResponseMessage' name='haplogroupsOutput' />
    </operation>
    <operation name='names'>
      <documentation>for the user and user s profile gets first and last names If your user wants to remain anonymous you shouldn t request this scope You can optionally filter by profile id to get the names for just that profile</documentation>
      <input message='tns:namesRequestMessage' name='namesInput' />
      <output message='tns:namesResponseMessage' name='namesOutput' />
    </operation>
    <operation name='neanderthal'>
      <documentation>estimated genome wide proportion of Neanderthal ancestry for the user s profile Most users have between and Neanderthal ancestry read a full explanation of the science proportion is for un genotyped or as of yet uncomputed profiles</documentation>
      <input message='tns:neanderthalRequestMessage' name='neanderthalInput' />
      <output message='tns:neanderthalResponseMessage' name='neanderthalOutput' />
    </operation>
    <operation name='profilePicture'>
      <documentation></documentation>
      <input message='tns:profilePictureRequestMessage' name='profilePictureInput' />
      <output message='tns:profilePictureResponseMessage' name='profilePictureOutput' />
    </operation>
    <operation name='profilePicturePost'>
      <documentation>gets the user s profile picture for a few sizes or uploads a picture MB and crops it The POST returns the same info as the GET if successful For the POST set Content Type multipart form data and upload the image with parameter image</documentation>
      <input message='tns:profilePicturePostRequestMessage' name='profilePicturePostInput' />
      <output message='tns:profilePicturePostResponseMessage' name='profilePicturePostOutput' />
    </operation>
    <operation name='publishGet'>
      <documentation></documentation>
      <input message='tns:publishGetRequestMessage' name='publishGetInput' />
      <output message='tns:publishGetResponseMessage' name='publishGetOutput' />
    </operation>
    <operation name='publishGetByLink'>
      <documentation></documentation>
      <input message='tns:publishGetByLinkRequestMessage' name='publishGetByLinkInput' />
      <output message='tns:publishGetByLinkResponseMessage' name='publishGetByLinkOutput' />
    </operation>
    <operation name='publishPost'>
      <documentation>users can publish and share certain features publicly for example on social networks with a special link Anyone with the link if active can view that person s results for the following feature ids</documentation>
      <input message='tns:publishPostRequestMessage' name='publishPostInput' />
      <output message='tns:publishPostResponseMessage' name='publishPostOutput' />
    </operation>
    <operation name='publishPut'>
      <documentation></documentation>
      <input message='tns:publishPutRequestMessage' name='publishPutInput' />
      <output message='tns:publishPutResponseMessage' name='publishPutOutput' />
    </operation>
    <operation name='relatives'>
      <documentation>relatives on andMe for the user s profile shared segments is the total number of shared IBD segments similarity is the actual proportion being you or an identical twin maternal paternal side are True if this match is a relative from your mom or dad s side range is defined if we couldn t pinpoint the relatedness of the match match id is a unique identifier Since you could have thousands of matches limit defaults to and offset to count gives the total number of matches Results are sorted by updated descending You can also get results that have been updated or added since a timestamp</documentation>
      <input message='tns:relativesRequestMessage' name='relativesInput' />
      <output message='tns:relativesResponseMessage' name='relativesOutput' />
    </operation>
    <operation name='risks'>
      <documentation>our analysis for each profile s lifetime risk of these diseases starred reports population risk is the average risk for the population for which the analysis applies and risk is the profile s risk</documentation>
      <input message='tns:risksRequestMessage' name='risksInput' />
      <output message='tns:risksResponseMessage' name='risksOutput' />
    </operation>
    <operation name='traits'>
      <documentation>our analysis for each profile for these traits starred reports trait is a value in possible traits or tns if the profile s not analyzed at those markers</documentation>
      <input message='tns:traitsRequestMessage' name='traitsInput' />
      <output message='tns:traitsResponseMessage' name='traitsOutput' />
    </operation>
    <operation name='user'>
      <documentation>gets the user id and a list of profiles an account can have multiple genotyped people with ids and whether or not they re genotyped This endpoint is great for using an app anonymously because there is no personally identifying information</documentation>
      <input message='tns:userRequestMessage' name='userInput' />
      <output message='tns:userResponseMessage' name='userOutput' />
    </operation>
  </portType>
  <binding name='andmeBinding' type='tns:andmePortType'>
    <operation name='ancestry'>
      <soap12:operation soapAction='http://ancestry' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='carriers'>
      <soap12:operation soapAction='http://carriers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='drugResponses'>
      <soap12:operation soapAction='http://drugResponses' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='genomes'>
      <soap12:operation soapAction='http://genomes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='genotypes'>
      <soap12:operation soapAction='http://genotypes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='haplogroups'>
      <soap12:operation soapAction='http://haplogroups' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='names'>
      <soap12:operation soapAction='http://names' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='neanderthal'>
      <soap12:operation soapAction='http://neanderthal' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='profilePicture'>
      <soap12:operation soapAction='http://profilePicture' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='profilePicturePost'>
      <soap12:operation soapAction='http://profilePicturePost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publishGet'>
      <soap12:operation soapAction='http://publishGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publishGetByLink'>
      <soap12:operation soapAction='http://publishGetByLink' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publishPost'>
      <soap12:operation soapAction='http://publishPost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publishPut'>
      <soap12:operation soapAction='http://publishPut' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='relatives'>
      <soap12:operation soapAction='http://relatives' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='risks'>
      <soap12:operation soapAction='http://risks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='traits'>
      <soap12:operation soapAction='http://traits' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='user'>
      <soap12:operation soapAction='http://user' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='andme'>
    <documentation>andMe s OAuth API lets developers build apps and tools on the human genome Our customers are genotyped for over SNPs conveniently accessible through our free REST API Not genotyped We have demo endpoints No need for a Ph D Our scientists have analyzed disease risk calculated ancestry and found relatives for genotyped customers You could use this data without even knowing what a gene is</documentation>
    <port name='andmePort' binding='tns:andmeBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://andme' />
    </port>
  </service>
</definitions>