workspace/datasets/mashape_dataset/animetricsfacerecognition.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/animetricsFaceRecognition/' name='animetricsFaceRecognition' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/animetricsFaceRecognition/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/animetricsFaceRecognition/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/animetricsFaceRecognition/'>
      <xsd:element name='addToGalleryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='galleryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subjectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addToGalleryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='faces' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='topLeftY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='topLeftX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='pitch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='roll' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='chinTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='chinTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftY' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='assignFaceToSubjectParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='faceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subjectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='assignFaceToSubjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFaceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='faceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFaceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='faces' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='topLeftY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='topLeftX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='pitch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='roll' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='chinTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='chinTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftY' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectFeaturesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='faces' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='topLeftY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='topLeftX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='pitch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='roll' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='chinTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='chinTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftY' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enrollParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='galleryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='height' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='imageid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lefteyecenterx' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lefteyecentery' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='righteyecenterx' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='righteyecentery' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='subjectid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='topleftx' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='toplefty' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='width' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enrollResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='faces' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='topLeftY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='topLeftX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='pitch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='roll' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='chinTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='chinTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftY' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listGalleriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='faces' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='topLeftY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='topLeftX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='pitch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='roll' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='chinTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='chinTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftY' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recognizeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='galleryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='height' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='imageid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lefteyecenterx' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lefteyecentery' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='righteyecenterx' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='righteyecentery' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='topleftx' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='toplefty' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='width' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recognizeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='faces' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='topLeftY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='topLeftX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='pitch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='roll' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='chinTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='chinTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftY' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeFromGalleryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='galleryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subjectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeFromGalleryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='faces' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='topLeftY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='topLeftX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='pitch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='roll' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='chinTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='chinTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftY' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subjectidoftarget' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subjectidofunknown' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewGalleryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='galleryid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewGalleryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='faces' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='topLeftY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='topLeftX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='pitch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='roll' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='chinTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='chinTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftY' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewSubjectParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subjectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewSubjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addToGalleryRequestMessage'>
    <part name='parameters' element='tns:addToGalleryParameters' />
  </message>
  <message name='addToGalleryResponseMessage'>
    <part name='response' element='tns:addToGalleryResponse' />
  </message>
  <message name='assignFaceToSubjectRequestMessage'>
    <part name='parameters' element='tns:assignFaceToSubjectParameters' />
  </message>
  <message name='assignFaceToSubjectResponseMessage'>
    <part name='response' element='tns:assignFaceToSubjectResponse' />
  </message>
  <message name='deleteFaceRequestMessage'>
    <part name='parameters' element='tns:deleteFaceParameters' />
  </message>
  <message name='deleteFaceResponseMessage'>
    <part name='response' element='tns:deleteFaceResponse' />
  </message>
  <message name='detectRequestMessage' />
  <message name='detectResponseMessage'>
    <part name='response' element='tns:detectResponse' />
  </message>
  <message name='detectFeaturesRequestMessage' />
  <message name='detectFeaturesResponseMessage'>
    <part name='response' element='tns:detectFeaturesResponse' />
  </message>
  <message name='enrollRequestMessage'>
    <part name='parameters' element='tns:enrollParameters' />
  </message>
  <message name='enrollResponseMessage'>
    <part name='response' element='tns:enrollResponse' />
  </message>
  <message name='listGalleriesRequestMessage' />
  <message name='listGalleriesResponseMessage'>
    <part name='response' element='tns:listGalleriesResponse' />
  </message>
  <message name='recognizeRequestMessage'>
    <part name='parameters' element='tns:recognizeParameters' />
  </message>
  <message name='recognizeResponseMessage'>
    <part name='response' element='tns:recognizeResponse' />
  </message>
  <message name='removeFromGalleryRequestMessage'>
    <part name='parameters' element='tns:removeFromGalleryParameters' />
  </message>
  <message name='removeFromGalleryResponseMessage'>
    <part name='response' element='tns:removeFromGalleryResponse' />
  </message>
  <message name='verifyRequestMessage'>
    <part name='parameters' element='tns:verifyParameters' />
  </message>
  <message name='verifyResponseMessage'>
    <part name='response' element='tns:verifyResponse' />
  </message>
  <message name='viewGalleryRequestMessage'>
    <part name='parameters' element='tns:viewGalleryParameters' />
  </message>
  <message name='viewGalleryResponseMessage'>
    <part name='response' element='tns:viewGalleryResponse' />
  </message>
  <message name='viewSubjectRequestMessage'>
    <part name='parameters' element='tns:viewSubjectParameters' />
  </message>
  <message name='viewSubjectResponseMessage'>
    <part name='response' element='tns:viewSubjectResponse' />
  </message>
  <portType name='animetricsFaceRecognitionPortType'>
    <operation name='addToGallery'>
      <documentation>adds an already enrolled Subject into an existing or uncreated Gallery Galleries that don t exist will automatically be created</documentation>
      <input message='tns:addToGalleryRequestMessage' name='addToGalleryInput' />
      <output message='tns:addToGalleryResponseMessage' name='addToGalleryOutput' />
    </operation>
    <operation name='assignFaceToSubject'>
      <documentation>assign Face ID to a Subject ID This operation will change the Subject ID associated with an individual Face ID The Face ID that is required should be taken from the response of a previous enrollment Assigning a Face ID to a new Subject ID who belongs to more than one gallery will affect that Subject s identity in each gallery This operation might be used if several pictures of an individual are enrolled and then later it is found out that one of these pictures was in fact someone else</documentation>
      <input message='tns:assignFaceToSubjectRequestMessage' name='assignFaceToSubjectInput' />
      <output message='tns:assignFaceToSubjectResponseMessage' name='assignFaceToSubjectOutput' />
    </operation>
    <operation name='deleteFace'>
      <documentation>delete a Face from a known Subject This operation will only delete the individual Face that is associated with an enrollment transaction for a Subject The Face ID that is required should be taken from the response of a previous enrollment Deleteing a Face from a Subject who belongs to more than one gallery will affect that Subject s identity in each gallery This operation might be used if several pictures of an individual are enrolled and then later it is found out that one of these pictures was in fact someone else who s identity is unknown</documentation>
      <input message='tns:deleteFaceRequestMessage' name='deleteFaceInput' />
      <output message='tns:deleteFaceResponseMessage' name='deleteFaceOutput' />
    </operation>
    <operation name='detect'>
      <documentation>finds either face information a bounding box around faces face eye information including eye centers and possibly eye corners eye corners should not be relied on to be present in every response or full feature information including eyebrows eye corners nose chin lips and ears for each face Intended for faster detection and pre processing of images The output face or eye coordinates of this function may be modified and sent to Detect Features Coordinates all begin at the top left of the image The image id returned by this function is a reference to a temporarily cached image that can be passed to Detect Features Enroll or Find operations All binary images supplied to this function are stored for later use by Enroll and Find operations Images are deleted after hours</documentation>
      <input message='tns:detectRequestMessage' name='detectInput' />
      <output message='tns:detectResponseMessage' name='detectOutput' />
    </operation>
    <operation name='detectFeatures'>
      <documentation>finds either eye information full feature information or full features Setpose for one face in a picture Face bounding box or eye center coordinates must be supplied and may be taken from the output of basic Detect Setpose is a returned image which contains a frontal view of a face which has been zero corrected for pitch yaw and roll like a mug shot Intended for more detailed detection than basic Detect Since this function takes the face bounding box or eye coordinates corrections may be made on the values output from Detect The image id returned by this function is a reference to a temporarily cached image that can be passed back to other Detect Features calls or Enroll or Find calls Setpose images are returned as URLs which are made private through obfuscation Setpose image urls expire after minutes All binary images supplied to this function are stored for later use by Enroll and Find operations Images are deleted after hours</documentation>
      <input message='tns:detectFeaturesRequestMessage' name='detectFeaturesInput' />
      <output message='tns:detectFeaturesResponseMessage' name='detectFeaturesOutput' />
    </operation>
    <operation name='enroll'>
      <documentation>computes a biometric signature for a known face subject in a picture and adds it to a collection gallery for later searching The subject id and gallery id must be supplied in addition to an image id reference from a previous Detect or Detect Features call A subject id must be a globally unique identifier for each known individual identity for each API key Subjects may exist in more than one gallery and can be added to or removed from a gallery with the Add To Gallery and Remove From Gallery functions Adding multiple pictures of the same subject will help improve matching accuracy Similarly adding pictures of different people with the same subject id will negatively affect the accuracy of the matching algorithm Enroll operations also require a face hint describing which face in a picture is to be enrolled This may be in the form of face bounds topLeftX topLeftY width height or eye coordinates leftEyeCenterX leftEyeCenterY rightEyeCenterX rightEyeCenterY These landmarks may all be taken from the output of Detect or Detect Features calls</documentation>
      <input message='tns:enrollRequestMessage' name='enrollInput' />
      <output message='tns:enrollResponseMessage' name='enrollOutput' />
    </operation>
    <operation name='listGalleries'>
      <documentation>lists the galleries that have been created by your personal API key</documentation>
      <input message='tns:listGalleriesRequestMessage' name='listGalleriesInput' />
      <output message='tns:listGalleriesResponseMessage' name='listGalleriesOutput' />
    </operation>
    <operation name='recognize'>
      <documentation>matches an unknown face against a collection gallery of known faces Galleries are built using the Enroll function Response includes a similarity score between and for all closely matching subjects in the gallery A gallery id must be supplied in addition to an image id reference from a previous Detect or Detect Features call Recognize operations require a face hint describing which face in a picture is to be enrolled This may be in the form of face bounds topLeftX topLeftY width height or eye coordinates leftEyeCenterX leftEyeCenterY rightEyeCenterX rightEyeCenterY These landmarks may all be taken from the output of Detect or Detect Features calls</documentation>
      <input message='tns:recognizeRequestMessage' name='recognizeInput' />
      <output message='tns:recognizeResponseMessage' name='recognizeOutput' />
    </operation>
    <operation name='removeFromGallery'>
      <documentation>removes an already enrolled Subject from an existing Gallery If this is the only subject in that Gallery the Gallery will be deleted If the Subject exists in no other Galleries he will be deleted from the Face Recognition System</documentation>
      <input message='tns:removeFromGalleryRequestMessage' name='removeFromGalleryInput' />
      <output message='tns:removeFromGalleryResponseMessage' name='removeFromGalleryOutput' />
    </operation>
    <operation name='verify'>
      <documentation>verify if an unknown face or collection of faces of an unknown individual has the same identity as a claimed target A similarity score is returned and is optimized for discriminating the target subject from other individuals Note that there must be at least two faces of the target subject enrolled</documentation>
      <input message='tns:verifyRequestMessage' name='verifyInput' />
      <output message='tns:verifyResponseMessage' name='verifyOutput' />
    </operation>
    <operation name='viewGallery'>
      <documentation>view the subject ids that have been enrolled in a specific gallery</documentation>
      <input message='tns:viewGalleryRequestMessage' name='viewGalleryInput' />
      <output message='tns:viewGalleryResponseMessage' name='viewGalleryOutput' />
    </operation>
    <operation name='viewSubject'>
      <documentation>view the face ids that have been enrolled in a specific subject</documentation>
      <input message='tns:viewSubjectRequestMessage' name='viewSubjectInput' />
      <output message='tns:viewSubjectResponseMessage' name='viewSubjectOutput' />
    </operation>
  </portType>
  <binding name='animetricsFaceRecognitionBinding' type='tns:animetricsFaceRecognitionPortType'>
    <operation name='addToGallery'>
      <soap12:operation soapAction='http://addToGallery' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='assignFaceToSubject'>
      <soap12:operation soapAction='http://assignFaceToSubject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteFace'>
      <soap12:operation soapAction='http://deleteFace' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detect'>
      <soap12:operation soapAction='http://detect' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detectFeatures'>
      <soap12:operation soapAction='http://detectFeatures' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enroll'>
      <soap12:operation soapAction='http://enroll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listGalleries'>
      <soap12:operation soapAction='http://listGalleries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recognize'>
      <soap12:operation soapAction='http://recognize' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeFromGallery'>
      <soap12:operation soapAction='http://removeFromGallery' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='verify'>
      <soap12:operation soapAction='http://verify' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewGallery'>
      <soap12:operation soapAction='http://viewGallery' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewSubject'>
      <soap12:operation soapAction='http://viewSubject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='animetricsFaceRecognition'>
    <documentation>powered by Animetrics patented D to D facial recognition technology this API can be used to detect and recognize human faces in pictures Detection will return the coordinates of facial features as well as the orientation or pose of the face pitch roll and yaw relative to the camera In order to resolve the identity of faces in photographs you may enroll an unlimited number of faces into a private namespace in our database and then perform a facial recognize operation on an unknown face Recognize will search your enrolled faces and return likely match candidates A unique capability called SetPose is also available which will create a frontal facial picture from an input photograph of someone not looking directly at the camera I e it will produce a corrected photograph of the person s face as if they had been looking directly at the camera when the picture was captured</documentation>
    <port name='animetricsFaceRecognitionPort' binding='tns:animetricsFaceRecognitionBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://animetricsFaceRecognition' />
    </port>
  </service>
</definitions>