workspace/datasets/mashape_dataset/aolonnetwork.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/aolOnNetwork/' name='aolOnNetwork' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/aolOnNetwork/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/aolOnNetwork/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/aolOnNetwork/'>
      <xsd:element name='searchingForVideosParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='searchterm' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchingForVideosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='singleMultipleVideoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='addons' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='autostart' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='externaldata' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='height' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='multiplethumbnails' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='numrelatedreturn' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returncategoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='showrenditions' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thirdlayer' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thumbnailsizes' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='transcript' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='videogroupid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='videoid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='videoids' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='width' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='singleMultipleVideoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='api-info' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='items' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='keywords' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='studioName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='channel' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='videoOwner' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='expDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='disableFacebook' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='videoUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='renditions' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ageGate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='disableEmbed' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='views' type='xsd:int' minOccurs='0' />
                  <xsd:element name='disableSendToFriend' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='player' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='source' type='xsd:string' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='geoRestriction' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='disableTwitter' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='pubDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='videoOwnerId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='deviceRestriction' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='thumbnails' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='searchingForVideosRequestMessage'>
    <part name='parameters' element='tns:searchingForVideosParameters' />
  </message>
  <message name='searchingForVideosResponseMessage'>
    <part name='response' element='tns:searchingForVideosResponse' />
  </message>
  <message name='singleMultipleVideoRequestMessage'>
    <part name='parameters' element='tns:singleMultipleVideoParameters' />
  </message>
  <message name='singleMultipleVideoResponseMessage'>
    <part name='response' element='tns:singleMultipleVideoResponse' />
  </message>
  <portType name='aolOnNetworkPortType'>
    <operation name='searchingForVideos'>
      <documentation>you can search our library using this request</documentation>
      <input message='tns:searchingForVideosRequestMessage' name='searchingForVideosInput' />
      <output message='tns:searchingForVideosResponseMessage' name='searchingForVideosOutput' />
    </operation>
    <operation name='singleMultipleVideo'>
      <documentation>to access the data for a specific video you simply request a URL from Aol On Network s API with the specific video ID you want</documentation>
      <input message='tns:singleMultipleVideoRequestMessage' name='singleMultipleVideoInput' />
      <output message='tns:singleMultipleVideoResponseMessage' name='singleMultipleVideoOutput' />
    </operation>
  </portType>
  <binding name='aolOnNetworkBinding' type='tns:aolOnNetworkPortType'>
    <operation name='searchingForVideos'>
      <soap12:operation soapAction='http://searchingForVideos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='singleMultipleVideo'>
      <soap12:operation soapAction='http://singleMultipleVideo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='aolOnNetwork'>
    <documentation>welcome to The AOL On Network s API developer documentation It enables you to integrate our video content display and functionality into your website</documentation>
    <port name='aolOnNetworkPort' binding='tns:aolOnNetworkBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://aolOnNetwork' />
    </port>
  </service>
</definitions>