workspace/datasets/mashape_dataset/apiai.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/apiAi/' name='apiAi' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/apiAi/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/apiAi/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/apiAi/'>
      <xsd:element name='allEntitiesRetrieveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='preview' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allIntentsRetrieveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1' />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='naturalLanguageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='metadata' type='xsd:string' minOccurs='0' />
                  <xsd:element name='resolvedQuery' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='speech' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='timestamp' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='errorType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='naturalLanguageTextParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contexts' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timezone' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='naturalLanguageTextResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='metadata' type='xsd:string' minOccurs='0' />
                  <xsd:element name='resolvedQuery' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='speech' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='timestamp' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='errorType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newEntityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='errorType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newIntentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='errorType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='soundFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedEntityDeleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='eid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedEntityDeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='errorType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedEntityRetrieveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='eid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedEntityRetrieveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entries' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='synonyms' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='value' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedEntityUpdateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='eid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedEntityUpdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='timestamp' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='errorType' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='errorDetails' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedIntentDeleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='iid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedIntentDeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='errorType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedIntentRetrieveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='iid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedIntentRetrieveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='auto' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='templates' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='responses' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='action' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='affectedContexts' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='parameters' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedIntentUpdateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='iid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedIntentUpdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='errorType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='allEntitiesRetrieveRequestMessage' />
  <message name='allEntitiesRetrieveResponseMessage'>
    <part name='response' element='tns:allEntitiesRetrieveResponse' />
  </message>
  <message name='allIntentsRetrieveRequestMessage' />
  <message name='allIntentsRetrieveResponseMessage'>
    <part name='response' element='tns:allIntentsRetrieveResponse' />
  </message>
  <message name='naturalLanguageRequestMessage' />
  <message name='naturalLanguageResponseMessage'>
    <part name='response' element='tns:naturalLanguageResponse' />
  </message>
  <message name='naturalLanguageTextRequestMessage'>
    <part name='parameters' element='tns:naturalLanguageTextParameters' />
  </message>
  <message name='naturalLanguageTextResponseMessage'>
    <part name='response' element='tns:naturalLanguageTextResponse' />
  </message>
  <message name='newEntityRequestMessage' />
  <message name='newEntityResponseMessage'>
    <part name='response' element='tns:newEntityResponse' />
  </message>
  <message name='newIntentRequestMessage' />
  <message name='newIntentResponseMessage'>
    <part name='response' element='tns:newIntentResponse' />
  </message>
  <message name='soundFileRequestMessage' />
  <message name='soundFileResponseMessage'>
    <part name='response' element='tns:soundFileResponse' />
  </message>
  <message name='specifiedEntityDeleteRequestMessage'>
    <part name='parameters' element='tns:specifiedEntityDeleteParameters' />
  </message>
  <message name='specifiedEntityDeleteResponseMessage'>
    <part name='response' element='tns:specifiedEntityDeleteResponse' />
  </message>
  <message name='specifiedEntityRetrieveRequestMessage'>
    <part name='parameters' element='tns:specifiedEntityRetrieveParameters' />
  </message>
  <message name='specifiedEntityRetrieveResponseMessage'>
    <part name='response' element='tns:specifiedEntityRetrieveResponse' />
  </message>
  <message name='specifiedEntityUpdateRequestMessage'>
    <part name='parameters' element='tns:specifiedEntityUpdateParameters' />
  </message>
  <message name='specifiedEntityUpdateResponseMessage'>
    <part name='response' element='tns:specifiedEntityUpdateResponse' />
  </message>
  <message name='specifiedIntentDeleteRequestMessage'>
    <part name='parameters' element='tns:specifiedIntentDeleteParameters' />
  </message>
  <message name='specifiedIntentDeleteResponseMessage'>
    <part name='response' element='tns:specifiedIntentDeleteResponse' />
  </message>
  <message name='specifiedIntentRetrieveRequestMessage'>
    <part name='parameters' element='tns:specifiedIntentRetrieveParameters' />
  </message>
  <message name='specifiedIntentRetrieveResponseMessage'>
    <part name='response' element='tns:specifiedIntentRetrieveResponse' />
  </message>
  <message name='specifiedIntentUpdateRequestMessage'>
    <part name='parameters' element='tns:specifiedIntentUpdateParameters' />
  </message>
  <message name='specifiedIntentUpdateResponseMessage'>
    <part name='response' element='tns:specifiedIntentUpdateResponse' />
  </message>
  <portType name='apiAiPortType'>
    <operation name='allEntitiesRetrieve'>
      <documentation>retrieves a list of all entities for the agent</documentation>
      <input message='tns:allEntitiesRetrieveRequestMessage' name='allEntitiesRetrieveInput' />
      <output message='tns:allEntitiesRetrieveResponseMessage' name='allEntitiesRetrieveOutput' />
    </operation>
    <operation name='allIntentsRetrieve'>
      <documentation>retrieves a list of all intents for the agent</documentation>
      <input message='tns:allIntentsRetrieveRequestMessage' name='allIntentsRetrieveInput' />
      <output message='tns:allIntentsRetrieveResponseMessage' name='allIntentsRetrieveOutput' />
    </operation>
    <operation name='naturalLanguage'>
      <documentation>takes natural language text and information as JSON in the POST body and returns information as JSON</documentation>
      <input message='tns:naturalLanguageRequestMessage' name='naturalLanguageInput' />
      <output message='tns:naturalLanguageResponseMessage' name='naturalLanguageOutput' />
    </operation>
    <operation name='naturalLanguageText'>
      <documentation>takes natural language text and information as query parameters and returns information as JSON</documentation>
      <input message='tns:naturalLanguageTextRequestMessage' name='naturalLanguageTextInput' />
      <output message='tns:naturalLanguageTextResponseMessage' name='naturalLanguageTextOutput' />
    </operation>
    <operation name='newEntity'>
      <documentation>creates a new entity</documentation>
      <input message='tns:newEntityRequestMessage' name='newEntityInput' />
      <output message='tns:newEntityResponseMessage' name='newEntityOutput' />
    </operation>
    <operation name='newIntent'>
      <documentation>creates a new intent</documentation>
      <input message='tns:newIntentRequestMessage' name='newIntentInput' />
      <output message='tns:newIntentResponseMessage' name='newIntentOutput' />
    </operation>
    <operation name='soundFile'>
      <documentation>takes natural language text as a sound file and returns information as JSON</documentation>
      <input message='tns:soundFileRequestMessage' name='soundFileInput' />
      <output message='tns:soundFileResponseMessage' name='soundFileOutput' />
    </operation>
    <operation name='specifiedEntityDelete'>
      <documentation>deletes the specified entity</documentation>
      <input message='tns:specifiedEntityDeleteRequestMessage' name='specifiedEntityDeleteInput' />
      <output message='tns:specifiedEntityDeleteResponseMessage' name='specifiedEntityDeleteOutput' />
    </operation>
    <operation name='specifiedEntityRetrieve'>
      <documentation>retrieves the specified entity</documentation>
      <input message='tns:specifiedEntityRetrieveRequestMessage' name='specifiedEntityRetrieveInput' />
      <output message='tns:specifiedEntityRetrieveResponseMessage' name='specifiedEntityRetrieveOutput' />
    </operation>
    <operation name='specifiedEntityUpdate'>
      <documentation>updates the specified entity</documentation>
      <input message='tns:specifiedEntityUpdateRequestMessage' name='specifiedEntityUpdateInput' />
      <output message='tns:specifiedEntityUpdateResponseMessage' name='specifiedEntityUpdateOutput' />
    </operation>
    <operation name='specifiedIntentDelete'>
      <documentation>deletes the specified intent</documentation>
      <input message='tns:specifiedIntentDeleteRequestMessage' name='specifiedIntentDeleteInput' />
      <output message='tns:specifiedIntentDeleteResponseMessage' name='specifiedIntentDeleteOutput' />
    </operation>
    <operation name='specifiedIntentRetrieve'>
      <documentation>retrieves the specified intent</documentation>
      <input message='tns:specifiedIntentRetrieveRequestMessage' name='specifiedIntentRetrieveInput' />
      <output message='tns:specifiedIntentRetrieveResponseMessage' name='specifiedIntentRetrieveOutput' />
    </operation>
    <operation name='specifiedIntentUpdate'>
      <documentation>updates the specified intent</documentation>
      <input message='tns:specifiedIntentUpdateRequestMessage' name='specifiedIntentUpdateInput' />
      <output message='tns:specifiedIntentUpdateResponseMessage' name='specifiedIntentUpdateOutput' />
    </operation>
  </portType>
  <binding name='apiAiBinding' type='tns:apiAiPortType'>
    <operation name='allEntitiesRetrieve'>
      <soap12:operation soapAction='http://allEntitiesRetrieve' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allIntentsRetrieve'>
      <soap12:operation soapAction='http://allIntentsRetrieve' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='naturalLanguage'>
      <soap12:operation soapAction='http://naturalLanguage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='naturalLanguageText'>
      <soap12:operation soapAction='http://naturalLanguageText' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newEntity'>
      <soap12:operation soapAction='http://newEntity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newIntent'>
      <soap12:operation soapAction='http://newIntent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='soundFile'>
      <soap12:operation soapAction='http://soundFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='specifiedEntityDelete'>
      <soap12:operation soapAction='http://specifiedEntityDelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='specifiedEntityRetrieve'>
      <soap12:operation soapAction='http://specifiedEntityRetrieve' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='specifiedEntityUpdate'>
      <soap12:operation soapAction='http://specifiedEntityUpdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='specifiedIntentDelete'>
      <soap12:operation soapAction='http://specifiedIntentDelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='specifiedIntentRetrieve'>
      <soap12:operation soapAction='http://specifiedIntentRetrieve' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='specifiedIntentUpdate'>
      <soap12:operation soapAction='http://specifiedIntentUpdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='apiAi'>
    <documentation>aPI AI provides a way to create mapping between language structures that are common in natural languesgea and data structures that are easy for software to parse and take action Once these mappings have been created you can make a query with either natural languages text or a voice sound file and API AI will return structured data with an action to take the parameters to act upon</documentation>
    <port name='apiAiPort' binding='tns:apiAiBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://apiAi' />
    </port>
  </service>
</definitions>