workspace/datasets/mashape_dataset/articleanalysis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/articleAnalysis/' name='articleAnalysis' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/articleAnalysis/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/articleAnalysis/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/articleAnalysis/'>
      <xsd:element name='articleAnalysisParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entitydescription' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='link' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='articleAnalysisResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n0' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n1' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n2' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n3' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n4' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n5' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n6' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n7' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n8' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n9' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='link' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='classificationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectRssFeedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='link' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectRssFeedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='entityExtractionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fullTextRssParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='feed' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fullTextRssResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n0' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n1' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='published' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='entities' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='qualityScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content_cleaned' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summaries' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='languageDetectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='summarizeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textAnalysisResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='articleAnalysisRequestMessage'>
    <part name='parameters' element='tns:articleAnalysisParameters' />
  </message>
  <message name='articleAnalysisResponseMessage'>
    <part name='response' element='tns:articleAnalysisResponse' />
  </message>
  <message name='authorRequestMessage'>
    <part name='parameters' element='tns:authorParameters' />
  </message>
  <message name='authorResponseMessage'>
    <part name='response' element='tns:authorResponse' />
  </message>
  <message name='classificationRequestMessage' />
  <message name='classificationResponseMessage'>
    <part name='response' element='tns:classificationResponse' />
  </message>
  <message name='detectRssFeedRequestMessage'>
    <part name='parameters' element='tns:detectRssFeedParameters' />
  </message>
  <message name='detectRssFeedResponseMessage'>
    <part name='response' element='tns:detectRssFeedResponse' />
  </message>
  <message name='entityExtractionRequestMessage' />
  <message name='entityExtractionResponseMessage'>
    <part name='response' element='tns:entityExtractionResponse' />
  </message>
  <message name='fullTextRssRequestMessage'>
    <part name='parameters' element='tns:fullTextRssParameters' />
  </message>
  <message name='fullTextRssResponseMessage'>
    <part name='response' element='tns:fullTextRssResponse' />
  </message>
  <message name='languageDetectionRequestMessage' />
  <message name='languageDetectionResponseMessage'>
    <part name='response' element='tns:languageDetectionResponse' />
  </message>
  <message name='summarizeRequestMessage' />
  <message name='summarizeResponseMessage'>
    <part name='response' element='tns:summarizeResponse' />
  </message>
  <message name='textAnalysisRequestMessage' />
  <message name='textAnalysisResponseMessage'>
    <part name='response' element='tns:textAnalysisResponse' />
  </message>
  <portType name='articleAnalysisPortType'>
    <operation name='articleAnalysis'>
      <documentation>extract features from the given url title text summary main image keywords entities etc Note if you use the unirest library you will have to change the timeout to Python example unirest timeout</documentation>
      <input message='tns:articleAnalysisRequestMessage' name='articleAnalysisInput' />
      <output message='tns:articleAnalysisResponseMessage' name='articleAnalysisOutput' />
    </operation>
    <operation name='author'>
      <documentation>extracts the author of an article</documentation>
      <input message='tns:authorRequestMessage' name='authorInput' />
      <output message='tns:authorResponseMessage' name='authorOutput' />
    </operation>
    <operation name='classification'>
      <documentation>classifies an article according to the IPTC news taxonomy</documentation>
      <input message='tns:classificationRequestMessage' name='classificationInput' />
      <output message='tns:classificationResponseMessage' name='classificationOutput' />
    </operation>
    <operation name='detectRssFeed'>
      <documentation>detect RSS feeds in a page</documentation>
      <input message='tns:detectRssFeedRequestMessage' name='detectRssFeedInput' />
      <output message='tns:detectRssFeedResponseMessage' name='detectRssFeedOutput' />
    </operation>
    <operation name='entityExtraction'>
      <documentation>extract entities from a piece of text or link</documentation>
      <input message='tns:entityExtractionRequestMessage' name='entityExtractionInput' />
      <output message='tns:entityExtractionResponseMessage' name='entityExtractionOutput' />
    </operation>
    <operation name='fullTextRss'>
      <documentation>improves the data quality of a RSS feed Extracts missing values such as keywords categories full content author etc Be patient this task might take a few minutes to complete Set a sensible timeout e g seconds if you use the unirest library you will have to change the timeout to Python example unirest timeout</documentation>
      <input message='tns:fullTextRssRequestMessage' name='fullTextRssInput' />
      <output message='tns:fullTextRssResponseMessage' name='fullTextRssOutput' />
    </operation>
    <operation name='languageDetection'>
      <documentation>this method detects the language of a text It detects up to languages</documentation>
      <input message='tns:languageDetectionRequestMessage' name='languageDetectionInput' />
      <output message='tns:languageDetectionResponseMessage' name='languageDetectionOutput' />
    </operation>
    <operation name='summarize'>
      <documentation>summarize an article into the most relevant sentences The results are order by relevance thus top sentences are more important</documentation>
      <input message='tns:summarizeRequestMessage' name='summarizeInput' />
      <output message='tns:summarizeResponseMessage' name='summarizeOutput' />
    </operation>
    <operation name='textAnalysis'>
      <documentation>this method analyses a piece of text and returns relevant features such as keywords and bigrams language category ies and summary Note if you use the unirest library you will have to change the timeout to Python example unirest timeout</documentation>
      <input message='tns:textAnalysisRequestMessage' name='textAnalysisInput' />
      <output message='tns:textAnalysisResponseMessage' name='textAnalysisOutput' />
    </operation>
  </portType>
  <binding name='articleAnalysisBinding' type='tns:articleAnalysisPortType'>
    <operation name='articleAnalysis'>
      <soap12:operation soapAction='http://articleAnalysis' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='author'>
      <soap12:operation soapAction='http://author' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='classification'>
      <soap12:operation soapAction='http://classification' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detectRssFeed'>
      <soap12:operation soapAction='http://detectRssFeed' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='entityExtraction'>
      <soap12:operation soapAction='http://entityExtraction' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fullTextRss'>
      <soap12:operation soapAction='http://fullTextRss' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='languageDetection'>
      <soap12:operation soapAction='http://languageDetection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='summarize'>
      <soap12:operation soapAction='http://summarize' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textAnalysis'>
      <soap12:operation soapAction='http://textAnalysis' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='articleAnalysis'>
    <documentation>Free API Extract and analyse articles from links RSS feeds or text Partial to full text RSS article classification summaries author content wrapper extraction keywords entities and more This API intends to extract relevant features from articles so you can enhance your applications Particularly the features that we extract from articles are title author published date only RSS category ies of the articles keywords and bigrams entities main content HTML wrapper and cleaned text main image summary most relevant sentences and language detection languages Research paper http arxiv org abs</documentation>
    <port name='articleAnalysisPort' binding='tns:articleAnalysisBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://articleAnalysis' />
    </port>
  </service>
</definitions>