workspace/datasets/mashape_dataset/assetallocation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/assetAllocation/' name='assetAllocation' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/assetAllocation/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/assetAllocation/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/assetAllocation/'>
      <xsd:element name='assetAllocationApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='assetAllocationSummary' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='style' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='styleName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='allocationPercent' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='apiVersion' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='tenantName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='securityDetail' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='symbol' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='style' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='styleName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='allocationPercent' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='timestamp' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='assetAllocationApiRequestMessage' />
  <message name='assetAllocationApiResponseMessage'>
    <part name='response' element='tns:assetAllocationApiResponse' />
  </message>
  <portType name='assetAllocationPortType'>
    <operation name='assetAllocationApi'>
      <documentation>the Asset Allocation API returns the asset class and style weights for a portfolio A common use fo the Asset Allocation API is to power charts or tables that show the asset class or style breakdown of a portfolio so that a user can see a portfolio s overall investment strategy and level of diversification Asset class and style weights are determined based on each security s asset class and style assignments in the tenant s security master If the tenant has defined rollup rules then a request can specify which asset allocation level to return using the displayLevel parameter You can also analyze a model portfolio by specifying the Model ID in the request using the modelID parameter The Model ID is retrieved using the Models API For a portfolio holdings can be specified by either allocation percentage or share quantity If both are included in a request then only the allocation percentage will be used</documentation>
      <input message='tns:assetAllocationApiRequestMessage' name='assetAllocationApiInput' />
      <output message='tns:assetAllocationApiResponseMessage' name='assetAllocationApiOutput' />
    </operation>
  </portType>
  <binding name='assetAllocationBinding' type='tns:assetAllocationPortType'>
    <operation name='assetAllocationApi'>
      <soap12:operation soapAction='http://assetAllocationApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='assetAllocation'>
    <documentation>the Asset Allocation API returns the asset class and style weights for a portfolio A common use fo the Asset Allocation API is to power charts or tables that show the asset class or style breakdown of a portfolio so that a user can see a portfolio s overall investment strategy and level of diversification Asset class and style weights are determined based on each security s asset class and style assignments in the tenant s security master If the tenant has defined rollup rules then a request can specify which asset allocation level to return using the displayLevel parameter You can also analyze a model portfolio by specifying the Model ID in the request using the modelID parameter The Model ID is retrieved using the Models API For a portfolio holdings can be specified by either allocation percentage or share quantity If both are included in a request then only the allocation percentage will be used</documentation>
    <port name='assetAllocationPort' binding='tns:assetAllocationBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://assetAllocation' />
    </port>
  </service>
</definitions>