workspace/datasets/mashape_dataset/balanced.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/balanced/' name='balanced' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/balanced/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/balanced/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/balanced/'>
      <xsd:element name='addingABankAccountOrACardToAnAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addingABankAccountOrACardToAnAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='confirmABankAccountVerificationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bankaccountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='verificationid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='confirmABankAccountVerificationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewDebitParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewDebitResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewHoldParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewHoldResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createsANewBankAccountVerificationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bankaccountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createsANewBankAccountVerificationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createsANewCardParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createsANewCardResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creatingANewBankAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='category_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='additional' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='category_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='extras' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='routing_number' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='request_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creatingANewCreditForAnAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creatingANewCreditForAnAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creatingAnAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creatingAnAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creditANewBankAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creditAnExistingBankAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bankaccountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creditAnExistingBankAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteABankAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bankaccountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteABankAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='category_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='category_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='request_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='issueARefundParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='issueARefundResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllBankAccountsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllBankAccountsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='offset' type='xsd:int' minOccurs='0' />
            <xsd:element name='_uris' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='previous_uri' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='next_uri' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='last_uri' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='first_uri' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='previous_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='limit' type='xsd:int' minOccurs='0' />
            <xsd:element name='next_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='last_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='account_number' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='verifications_uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='routing_number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='meta' type='xsd:string' minOccurs='0' />
                  <xsd:element name='_uris' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='verifications_uri' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='credits_uri' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='bank_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='fingerprint' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='credits_uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='verification_uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='can_debit' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='first_uri' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllCardsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllCardsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllCreditsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllCreditsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllCreditsForABankAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bankaccountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllCreditsForABankAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllDebitsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllDebitsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllDebitsForAnAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllDebitsForAnAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllEventsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllEventsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllHoldsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllHoldsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllHoldsOnAnAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllHoldsOnAnAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllRefundsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllRefundsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllRefundsForAnAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllRefundsForAnAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllVerificationsForABankAccounParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bankaccountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllVerificationsForABankAccounResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='offset' type='xsd:int' minOccurs='0' />
            <xsd:element name='_uris' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='previous_uri' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='next_uri' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='last_uri' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='first_uri' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='previous_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='limit' type='xsd:int' minOccurs='0' />
            <xsd:element name='next_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='last_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='first_uri' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listingAllCreditsForAnAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listingAllCreditsForAnAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='refundADebitParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='debitid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='refundADebitResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveABankAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bankaccountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveABankAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='verifications_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='account_number' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='routing_number' type='xsd:int' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='meta' type='xsd:string' minOccurs='0' />
            <xsd:element name='_uris' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='verifications_uri' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='credits_uri' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='bank_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='fingerprint' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='credits_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='verification_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='can_debit' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveACardParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cardid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveACardResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveACreditParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='creditid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveACreditResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveADebitParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='debitid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveADebitResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAEventParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='eventid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAEventResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAHoldParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='holdid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAHoldResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveARefundParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='refundid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveARefundResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAVerificationForABankAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bankaccountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='verificationid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAVerificationForABankAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='underwritingAnIndividualOrBusinessParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='underwritingAnIndividualOrBusinessResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateACardParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cardid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateACardResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateADebitParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='debitid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateADebitResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAHoldParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='holdid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAHoldResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateARefundParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='marketplaceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='refundid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateARefundResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addingABankAccountOrACardToAnAccountRequestMessage'>
    <part name='parameters' element='tns:addingABankAccountOrACardToAnAccountParameters' />
  </message>
  <message name='addingABankAccountOrACardToAnAccountResponseMessage'>
    <part name='response' element='tns:addingABankAccountOrACardToAnAccountResponse' />
  </message>
  <message name='confirmABankAccountVerificationRequestMessage'>
    <part name='parameters' element='tns:confirmABankAccountVerificationParameters' />
  </message>
  <message name='confirmABankAccountVerificationResponseMessage'>
    <part name='response' element='tns:confirmABankAccountVerificationResponse' />
  </message>
  <message name='createANewDebitRequestMessage'>
    <part name='parameters' element='tns:createANewDebitParameters' />
  </message>
  <message name='createANewDebitResponseMessage'>
    <part name='response' element='tns:createANewDebitResponse' />
  </message>
  <message name='createANewHoldRequestMessage'>
    <part name='parameters' element='tns:createANewHoldParameters' />
  </message>
  <message name='createANewHoldResponseMessage'>
    <part name='response' element='tns:createANewHoldResponse' />
  </message>
  <message name='createsANewBankAccountVerificationRequestMessage'>
    <part name='parameters' element='tns:createsANewBankAccountVerificationParameters' />
  </message>
  <message name='createsANewBankAccountVerificationResponseMessage'>
    <part name='response' element='tns:createsANewBankAccountVerificationResponse' />
  </message>
  <message name='createsANewCardRequestMessage'>
    <part name='parameters' element='tns:createsANewCardParameters' />
  </message>
  <message name='createsANewCardResponseMessage'>
    <part name='response' element='tns:createsANewCardResponse' />
  </message>
  <message name='creatingANewBankAccountRequestMessage' />
  <message name='creatingANewBankAccountResponseMessage'>
    <part name='response' element='tns:creatingANewBankAccountResponse' />
  </message>
  <message name='creatingANewCreditForAnAccountRequestMessage'>
    <part name='parameters' element='tns:creatingANewCreditForAnAccountParameters' />
  </message>
  <message name='creatingANewCreditForAnAccountResponseMessage'>
    <part name='response' element='tns:creatingANewCreditForAnAccountResponse' />
  </message>
  <message name='creatingAnAccountRequestMessage'>
    <part name='parameters' element='tns:creatingAnAccountParameters' />
  </message>
  <message name='creatingAnAccountResponseMessage'>
    <part name='response' element='tns:creatingAnAccountResponse' />
  </message>
  <message name='creditANewBankAccountRequestMessage' />
  <message name='creditANewBankAccountResponseMessage'>
    <part name='response' element='tns:creditANewBankAccountResponse' />
  </message>
  <message name='creditAnExistingBankAccountRequestMessage'>
    <part name='parameters' element='tns:creditAnExistingBankAccountParameters' />
  </message>
  <message name='creditAnExistingBankAccountResponseMessage'>
    <part name='response' element='tns:creditAnExistingBankAccountResponse' />
  </message>
  <message name='deleteABankAccountRequestMessage'>
    <part name='parameters' element='tns:deleteABankAccountParameters' />
  </message>
  <message name='deleteABankAccountResponseMessage'>
    <part name='response' element='tns:deleteABankAccountResponse' />
  </message>
  <message name='issueARefundRequestMessage'>
    <part name='parameters' element='tns:issueARefundParameters' />
  </message>
  <message name='issueARefundResponseMessage'>
    <part name='response' element='tns:issueARefundResponse' />
  </message>
  <message name='listAllBankAccountsRequestMessage'>
    <part name='parameters' element='tns:listAllBankAccountsParameters' />
  </message>
  <message name='listAllBankAccountsResponseMessage'>
    <part name='response' element='tns:listAllBankAccountsResponse' />
  </message>
  <message name='listAllCardsRequestMessage'>
    <part name='parameters' element='tns:listAllCardsParameters' />
  </message>
  <message name='listAllCardsResponseMessage'>
    <part name='response' element='tns:listAllCardsResponse' />
  </message>
  <message name='listAllCreditsRequestMessage'>
    <part name='parameters' element='tns:listAllCreditsParameters' />
  </message>
  <message name='listAllCreditsResponseMessage'>
    <part name='response' element='tns:listAllCreditsResponse' />
  </message>
  <message name='listAllCreditsForABankAccountRequestMessage'>
    <part name='parameters' element='tns:listAllCreditsForABankAccountParameters' />
  </message>
  <message name='listAllCreditsForABankAccountResponseMessage'>
    <part name='response' element='tns:listAllCreditsForABankAccountResponse' />
  </message>
  <message name='listAllDebitsRequestMessage'>
    <part name='parameters' element='tns:listAllDebitsParameters' />
  </message>
  <message name='listAllDebitsResponseMessage'>
    <part name='response' element='tns:listAllDebitsResponse' />
  </message>
  <message name='listAllDebitsForAnAccountRequestMessage'>
    <part name='parameters' element='tns:listAllDebitsForAnAccountParameters' />
  </message>
  <message name='listAllDebitsForAnAccountResponseMessage'>
    <part name='response' element='tns:listAllDebitsForAnAccountResponse' />
  </message>
  <message name='listAllEventsRequestMessage'>
    <part name='parameters' element='tns:listAllEventsParameters' />
  </message>
  <message name='listAllEventsResponseMessage'>
    <part name='response' element='tns:listAllEventsResponse' />
  </message>
  <message name='listAllHoldsRequestMessage'>
    <part name='parameters' element='tns:listAllHoldsParameters' />
  </message>
  <message name='listAllHoldsResponseMessage'>
    <part name='response' element='tns:listAllHoldsResponse' />
  </message>
  <message name='listAllHoldsOnAnAccountRequestMessage'>
    <part name='parameters' element='tns:listAllHoldsOnAnAccountParameters' />
  </message>
  <message name='listAllHoldsOnAnAccountResponseMessage'>
    <part name='response' element='tns:listAllHoldsOnAnAccountResponse' />
  </message>
  <message name='listAllRefundsRequestMessage'>
    <part name='parameters' element='tns:listAllRefundsParameters' />
  </message>
  <message name='listAllRefundsResponseMessage'>
    <part name='response' element='tns:listAllRefundsResponse' />
  </message>
  <message name='listAllRefundsForAnAccountRequestMessage'>
    <part name='parameters' element='tns:listAllRefundsForAnAccountParameters' />
  </message>
  <message name='listAllRefundsForAnAccountResponseMessage'>
    <part name='response' element='tns:listAllRefundsForAnAccountResponse' />
  </message>
  <message name='listAllVerificationsForABankAccounRequestMessage'>
    <part name='parameters' element='tns:listAllVerificationsForABankAccounParameters' />
  </message>
  <message name='listAllVerificationsForABankAccounResponseMessage'>
    <part name='response' element='tns:listAllVerificationsForABankAccounResponse' />
  </message>
  <message name='listingAllCreditsForAnAccountRequestMessage'>
    <part name='parameters' element='tns:listingAllCreditsForAnAccountParameters' />
  </message>
  <message name='listingAllCreditsForAnAccountResponseMessage'>
    <part name='response' element='tns:listingAllCreditsForAnAccountResponse' />
  </message>
  <message name='refundADebitRequestMessage'>
    <part name='parameters' element='tns:refundADebitParameters' />
  </message>
  <message name='refundADebitResponseMessage'>
    <part name='response' element='tns:refundADebitResponse' />
  </message>
  <message name='retrieveABankAccountRequestMessage'>
    <part name='parameters' element='tns:retrieveABankAccountParameters' />
  </message>
  <message name='retrieveABankAccountResponseMessage'>
    <part name='response' element='tns:retrieveABankAccountResponse' />
  </message>
  <message name='retrieveACardRequestMessage'>
    <part name='parameters' element='tns:retrieveACardParameters' />
  </message>
  <message name='retrieveACardResponseMessage'>
    <part name='response' element='tns:retrieveACardResponse' />
  </message>
  <message name='retrieveACreditRequestMessage'>
    <part name='parameters' element='tns:retrieveACreditParameters' />
  </message>
  <message name='retrieveACreditResponseMessage'>
    <part name='response' element='tns:retrieveACreditResponse' />
  </message>
  <message name='retrieveADebitRequestMessage'>
    <part name='parameters' element='tns:retrieveADebitParameters' />
  </message>
  <message name='retrieveADebitResponseMessage'>
    <part name='response' element='tns:retrieveADebitResponse' />
  </message>
  <message name='retrieveAEventRequestMessage'>
    <part name='parameters' element='tns:retrieveAEventParameters' />
  </message>
  <message name='retrieveAEventResponseMessage'>
    <part name='response' element='tns:retrieveAEventResponse' />
  </message>
  <message name='retrieveAHoldRequestMessage'>
    <part name='parameters' element='tns:retrieveAHoldParameters' />
  </message>
  <message name='retrieveAHoldResponseMessage'>
    <part name='response' element='tns:retrieveAHoldResponse' />
  </message>
  <message name='retrieveARefundRequestMessage'>
    <part name='parameters' element='tns:retrieveARefundParameters' />
  </message>
  <message name='retrieveARefundResponseMessage'>
    <part name='response' element='tns:retrieveARefundResponse' />
  </message>
  <message name='retrieveAVerificationForABankAccountRequestMessage'>
    <part name='parameters' element='tns:retrieveAVerificationForABankAccountParameters' />
  </message>
  <message name='retrieveAVerificationForABankAccountResponseMessage'>
    <part name='response' element='tns:retrieveAVerificationForABankAccountResponse' />
  </message>
  <message name='underwritingAnIndividualOrBusinessRequestMessage'>
    <part name='parameters' element='tns:underwritingAnIndividualOrBusinessParameters' />
  </message>
  <message name='underwritingAnIndividualOrBusinessResponseMessage'>
    <part name='response' element='tns:underwritingAnIndividualOrBusinessResponse' />
  </message>
  <message name='updateACardRequestMessage'>
    <part name='parameters' element='tns:updateACardParameters' />
  </message>
  <message name='updateACardResponseMessage'>
    <part name='response' element='tns:updateACardResponse' />
  </message>
  <message name='updateADebitRequestMessage'>
    <part name='parameters' element='tns:updateADebitParameters' />
  </message>
  <message name='updateADebitResponseMessage'>
    <part name='response' element='tns:updateADebitResponse' />
  </message>
  <message name='updateAHoldRequestMessage'>
    <part name='parameters' element='tns:updateAHoldParameters' />
  </message>
  <message name='updateAHoldResponseMessage'>
    <part name='response' element='tns:updateAHoldResponse' />
  </message>
  <message name='updateARefundRequestMessage'>
    <part name='parameters' element='tns:updateARefundParameters' />
  </message>
  <message name='updateARefundResponseMessage'>
    <part name='response' element='tns:updateARefundResponse' />
  </message>
  <portType name='balancedPortType'>
    <operation name='addingABankAccountOrACardToAnAccount'>
      <documentation></documentation>
      <input message='tns:addingABankAccountOrACardToAnAccountRequestMessage' name='addingABankAccountOrACardToAnAccountInput' />
      <output message='tns:addingABankAccountOrACardToAnAccountResponseMessage' name='addingABankAccountOrACardToAnAccountOutput' />
    </operation>
    <operation name='confirmABankAccountVerification'>
      <documentation>confirms the trial deposit amounts For the test environment the trial deposit amounts are always and</documentation>
      <input message='tns:confirmABankAccountVerificationRequestMessage' name='confirmABankAccountVerificationInput' />
      <output message='tns:confirmABankAccountVerificationResponseMessage' name='confirmABankAccountVerificationOutput' />
    </operation>
    <operation name='createANewDebit'>
      <documentation></documentation>
      <input message='tns:createANewDebitRequestMessage' name='createANewDebitInput' />
      <output message='tns:createANewDebitResponseMessage' name='createANewDebitOutput' />
    </operation>
    <operation name='createANewHold'>
      <documentation></documentation>
      <input message='tns:createANewHoldRequestMessage' name='createANewHoldInput' />
      <output message='tns:createANewHoldResponseMessage' name='createANewHoldOutput' />
    </operation>
    <operation name='createsANewBankAccountVerification'>
      <documentation></documentation>
      <input message='tns:createsANewBankAccountVerificationRequestMessage' name='createsANewBankAccountVerificationInput' />
      <output message='tns:createsANewBankAccountVerificationResponseMessage' name='createsANewBankAccountVerificationOutput' />
    </operation>
    <operation name='createsANewCard'>
      <documentation></documentation>
      <input message='tns:createsANewCardRequestMessage' name='createsANewCardInput' />
      <output message='tns:createsANewCardResponseMessage' name='createsANewCardOutput' />
    </operation>
    <operation name='creatingANewBankAccount'>
      <documentation></documentation>
      <input message='tns:creatingANewBankAccountRequestMessage' name='creatingANewBankAccountInput' />
      <output message='tns:creatingANewBankAccountResponseMessage' name='creatingANewBankAccountOutput' />
    </operation>
    <operation name='creatingANewCreditForAnAccount'>
      <documentation></documentation>
      <input message='tns:creatingANewCreditForAnAccountRequestMessage' name='creatingANewCreditForAnAccountInput' />
      <output message='tns:creatingANewCreditForAnAccountResponseMessage' name='creatingANewCreditForAnAccountOutput' />
    </operation>
    <operation name='creatingAnAccount'>
      <documentation></documentation>
      <input message='tns:creatingAnAccountRequestMessage' name='creatingAnAccountInput' />
      <output message='tns:creatingAnAccountResponseMessage' name='creatingAnAccountOutput' />
    </operation>
    <operation name='creditANewBankAccount'>
      <documentation>to credit a new bank account you simply pass the amount along with the bank account details We do not store this bank account when you create a credit this way so you can safely assume that the information has been deleted</documentation>
      <input message='tns:creditANewBankAccountRequestMessage' name='creditANewBankAccountInput' />
      <output message='tns:creditANewBankAccountResponseMessage' name='creditANewBankAccountOutput' />
    </operation>
    <operation name='creditAnExistingBankAccount'>
      <documentation></documentation>
      <input message='tns:creditAnExistingBankAccountRequestMessage' name='creditAnExistingBankAccountInput' />
      <output message='tns:creditAnExistingBankAccountResponseMessage' name='creditAnExistingBankAccountOutput' />
    </operation>
    <operation name='deleteABankAccount'>
      <documentation></documentation>
      <input message='tns:deleteABankAccountRequestMessage' name='deleteABankAccountInput' />
      <output message='tns:deleteABankAccountResponseMessage' name='deleteABankAccountOutput' />
    </operation>
    <operation name='issueARefund'>
      <documentation></documentation>
      <input message='tns:issueARefundRequestMessage' name='issueARefundInput' />
      <output message='tns:issueARefundResponseMessage' name='issueARefundOutput' />
    </operation>
    <operation name='listAllBankAccounts'>
      <documentation>returns a list of bank accounts that you ve created but haven t deleted</documentation>
      <input message='tns:listAllBankAccountsRequestMessage' name='listAllBankAccountsInput' />
      <output message='tns:listAllBankAccountsResponseMessage' name='listAllBankAccountsOutput' />
    </operation>
    <operation name='listAllCards'>
      <documentation>returns a list of cards that you ve created</documentation>
      <input message='tns:listAllCardsRequestMessage' name='listAllCardsInput' />
      <output message='tns:listAllCardsResponseMessage' name='listAllCardsOutput' />
    </operation>
    <operation name='listAllCredits'>
      <documentation></documentation>
      <input message='tns:listAllCreditsRequestMessage' name='listAllCreditsInput' />
      <output message='tns:listAllCreditsResponseMessage' name='listAllCreditsOutput' />
    </operation>
    <operation name='listAllCreditsForABankAccount'>
      <documentation>returns a list of credits you ve previously created to a specific bank account The credits uri is a convenient uri provided so that you can simply issue a GET to the credits uri The credits are returned in sorted order with the most recent credits appearing first</documentation>
      <input message='tns:listAllCreditsForABankAccountRequestMessage' name='listAllCreditsForABankAccountInput' />
      <output message='tns:listAllCreditsForABankAccountResponseMessage' name='listAllCreditsForABankAccountOutput' />
    </operation>
    <operation name='listAllDebits'>
      <documentation></documentation>
      <input message='tns:listAllDebitsRequestMessage' name='listAllDebitsInput' />
      <output message='tns:listAllDebitsResponseMessage' name='listAllDebitsOutput' />
    </operation>
    <operation name='listAllDebitsForAnAccount'>
      <documentation></documentation>
      <input message='tns:listAllDebitsForAnAccountRequestMessage' name='listAllDebitsForAnAccountInput' />
      <output message='tns:listAllDebitsForAnAccountResponseMessage' name='listAllDebitsForAnAccountOutput' />
    </operation>
    <operation name='listAllEvents'>
      <documentation></documentation>
      <input message='tns:listAllEventsRequestMessage' name='listAllEventsInput' />
      <output message='tns:listAllEventsResponseMessage' name='listAllEventsOutput' />
    </operation>
    <operation name='listAllHolds'>
      <documentation></documentation>
      <input message='tns:listAllHoldsRequestMessage' name='listAllHoldsInput' />
      <output message='tns:listAllHoldsResponseMessage' name='listAllHoldsOutput' />
    </operation>
    <operation name='listAllHoldsOnAnAccount'>
      <documentation></documentation>
      <input message='tns:listAllHoldsOnAnAccountRequestMessage' name='listAllHoldsOnAnAccountInput' />
      <output message='tns:listAllHoldsOnAnAccountResponseMessage' name='listAllHoldsOnAnAccountOutput' />
    </operation>
    <operation name='listAllRefunds'>
      <documentation></documentation>
      <input message='tns:listAllRefundsRequestMessage' name='listAllRefundsInput' />
      <output message='tns:listAllRefundsResponseMessage' name='listAllRefundsOutput' />
    </operation>
    <operation name='listAllRefundsForAnAccount'>
      <documentation></documentation>
      <input message='tns:listAllRefundsForAnAccountRequestMessage' name='listAllRefundsForAnAccountInput' />
      <output message='tns:listAllRefundsForAnAccountResponseMessage' name='listAllRefundsForAnAccountOutput' />
    </operation>
    <operation name='listAllVerificationsForABankAccoun'>
      <documentation></documentation>
      <input message='tns:listAllVerificationsForABankAccounRequestMessage' name='listAllVerificationsForABankAccounInput' />
      <output message='tns:listAllVerificationsForABankAccounResponseMessage' name='listAllVerificationsForABankAccounOutput' />
    </operation>
    <operation name='listingAllCreditsForAnAccount'>
      <documentation></documentation>
      <input message='tns:listingAllCreditsForAnAccountRequestMessage' name='listingAllCreditsForAnAccountInput' />
      <output message='tns:listingAllCreditsForAnAccountResponseMessage' name='listingAllCreditsForAnAccountOutput' />
    </operation>
    <operation name='refundADebit'>
      <documentation></documentation>
      <input message='tns:refundADebitRequestMessage' name='refundADebitInput' />
      <output message='tns:refundADebitResponseMessage' name='refundADebitOutput' />
    </operation>
    <operation name='retrieveABankAccount'>
      <documentation></documentation>
      <input message='tns:retrieveABankAccountRequestMessage' name='retrieveABankAccountInput' />
      <output message='tns:retrieveABankAccountResponseMessage' name='retrieveABankAccountOutput' />
    </operation>
    <operation name='retrieveACard'>
      <documentation></documentation>
      <input message='tns:retrieveACardRequestMessage' name='retrieveACardInput' />
      <output message='tns:retrieveACardResponseMessage' name='retrieveACardOutput' />
    </operation>
    <operation name='retrieveACredit'>
      <documentation></documentation>
      <input message='tns:retrieveACreditRequestMessage' name='retrieveACreditInput' />
      <output message='tns:retrieveACreditResponseMessage' name='retrieveACreditOutput' />
    </operation>
    <operation name='retrieveADebit'>
      <documentation></documentation>
      <input message='tns:retrieveADebitRequestMessage' name='retrieveADebitInput' />
      <output message='tns:retrieveADebitResponseMessage' name='retrieveADebitOutput' />
    </operation>
    <operation name='retrieveAEvent'>
      <documentation></documentation>
      <input message='tns:retrieveAEventRequestMessage' name='retrieveAEventInput' />
      <output message='tns:retrieveAEventResponseMessage' name='retrieveAEventOutput' />
    </operation>
    <operation name='retrieveAHold'>
      <documentation></documentation>
      <input message='tns:retrieveAHoldRequestMessage' name='retrieveAHoldInput' />
      <output message='tns:retrieveAHoldResponseMessage' name='retrieveAHoldOutput' />
    </operation>
    <operation name='retrieveARefund'>
      <documentation></documentation>
      <input message='tns:retrieveARefundRequestMessage' name='retrieveARefundInput' />
      <output message='tns:retrieveARefundResponseMessage' name='retrieveARefundOutput' />
    </operation>
    <operation name='retrieveAVerificationForABankAccount'>
      <documentation></documentation>
      <input message='tns:retrieveAVerificationForABankAccountRequestMessage' name='retrieveAVerificationForABankAccountInput' />
      <output message='tns:retrieveAVerificationForABankAccountResponseMessage' name='retrieveAVerificationForABankAccountOutput' />
    </operation>
    <operation name='underwritingAnIndividualOrBusiness'>
      <documentation>a person or an individual is a US based individual or a sole proprietor Balanced associates a merchant role to signify whether or not an account has been underwritten</documentation>
      <input message='tns:underwritingAnIndividualOrBusinessRequestMessage' name='underwritingAnIndividualOrBusinessInput' />
      <output message='tns:underwritingAnIndividualOrBusinessResponseMessage' name='underwritingAnIndividualOrBusinessOutput' />
    </operation>
    <operation name='updateACard'>
      <documentation></documentation>
      <input message='tns:updateACardRequestMessage' name='updateACardInput' />
      <output message='tns:updateACardResponseMessage' name='updateACardOutput' />
    </operation>
    <operation name='updateADebit'>
      <documentation></documentation>
      <input message='tns:updateADebitRequestMessage' name='updateADebitInput' />
      <output message='tns:updateADebitResponseMessage' name='updateADebitOutput' />
    </operation>
    <operation name='updateAHold'>
      <documentation></documentation>
      <input message='tns:updateAHoldRequestMessage' name='updateAHoldInput' />
      <output message='tns:updateAHoldResponseMessage' name='updateAHoldOutput' />
    </operation>
    <operation name='updateARefund'>
      <documentation></documentation>
      <input message='tns:updateARefundRequestMessage' name='updateARefundInput' />
      <output message='tns:updateARefundResponseMessage' name='updateARefundOutput' />
    </operation>
  </portType>
  <binding name='balancedBinding' type='tns:balancedPortType'>
    <operation name='addingABankAccountOrACardToAnAccount'>
      <soap12:operation soapAction='http://addingABankAccountOrACardToAnAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='confirmABankAccountVerification'>
      <soap12:operation soapAction='http://confirmABankAccountVerification' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createANewDebit'>
      <soap12:operation soapAction='http://createANewDebit' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createANewHold'>
      <soap12:operation soapAction='http://createANewHold' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createsANewBankAccountVerification'>
      <soap12:operation soapAction='http://createsANewBankAccountVerification' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createsANewCard'>
      <soap12:operation soapAction='http://createsANewCard' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='creatingANewBankAccount'>
      <soap12:operation soapAction='http://creatingANewBankAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='creatingANewCreditForAnAccount'>
      <soap12:operation soapAction='http://creatingANewCreditForAnAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='creatingAnAccount'>
      <soap12:operation soapAction='http://creatingAnAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='creditANewBankAccount'>
      <soap12:operation soapAction='http://creditANewBankAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='creditAnExistingBankAccount'>
      <soap12:operation soapAction='http://creditAnExistingBankAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteABankAccount'>
      <soap12:operation soapAction='http://deleteABankAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='issueARefund'>
      <soap12:operation soapAction='http://issueARefund' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllBankAccounts'>
      <soap12:operation soapAction='http://listAllBankAccounts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllCards'>
      <soap12:operation soapAction='http://listAllCards' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllCredits'>
      <soap12:operation soapAction='http://listAllCredits' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllCreditsForABankAccount'>
      <soap12:operation soapAction='http://listAllCreditsForABankAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllDebits'>
      <soap12:operation soapAction='http://listAllDebits' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllDebitsForAnAccount'>
      <soap12:operation soapAction='http://listAllDebitsForAnAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllEvents'>
      <soap12:operation soapAction='http://listAllEvents' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllHolds'>
      <soap12:operation soapAction='http://listAllHolds' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllHoldsOnAnAccount'>
      <soap12:operation soapAction='http://listAllHoldsOnAnAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllRefunds'>
      <soap12:operation soapAction='http://listAllRefunds' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllRefundsForAnAccount'>
      <soap12:operation soapAction='http://listAllRefundsForAnAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllVerificationsForABankAccoun'>
      <soap12:operation soapAction='http://listAllVerificationsForABankAccoun' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listingAllCreditsForAnAccount'>
      <soap12:operation soapAction='http://listingAllCreditsForAnAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='refundADebit'>
      <soap12:operation soapAction='http://refundADebit' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveABankAccount'>
      <soap12:operation soapAction='http://retrieveABankAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveACard'>
      <soap12:operation soapAction='http://retrieveACard' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveACredit'>
      <soap12:operation soapAction='http://retrieveACredit' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveADebit'>
      <soap12:operation soapAction='http://retrieveADebit' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAEvent'>
      <soap12:operation soapAction='http://retrieveAEvent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAHold'>
      <soap12:operation soapAction='http://retrieveAHold' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveARefund'>
      <soap12:operation soapAction='http://retrieveARefund' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAVerificationForABankAccount'>
      <soap12:operation soapAction='http://retrieveAVerificationForABankAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='underwritingAnIndividualOrBusiness'>
      <soap12:operation soapAction='http://underwritingAnIndividualOrBusiness' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateACard'>
      <soap12:operation soapAction='http://updateACard' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateADebit'>
      <soap12:operation soapAction='http://updateADebit' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAHold'>
      <soap12:operation soapAction='http://updateAHold' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateARefund'>
      <soap12:operation soapAction='http://updateARefund' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='balanced'>
    <documentation>payment processing escrow and payouts in one simple API Accept credit cards and debit bank accounts for your business Proceeds are available immediately Use with any card processor or as a stand alone service for same day bank deposits Combine card processing and bank payouts with escrow</documentation>
    <port name='balancedPort' binding='tns:balancedBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://balanced' />
    </port>
  </service>
</definitions>