workspace/datasets/mashape_dataset/basichoroscopeandnumerology.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/basicHoroscopeAndNumerology/' name='basicHoroscopeAndNumerology' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/basicHoroscopeAndNumerology/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/basicHoroscopeAndNumerology/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/basicHoroscopeAndNumerology/'>
      <xsd:element name='basicAstrologicalDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Varna' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Vashya' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Gan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SignLord' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='NaksahtraLord' type='xsd:int' minOccurs='0' />
            <xsd:element name='Naksahtra' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Yoni' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Nadi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Charan' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicPanchangDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SunSet' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Nakshatra' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SunRise' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Day' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicPanchangDetailsAtTheTimeOfSunriseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sunrise' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicPanchangDetailsAtTheTimeOfSunriseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SunSet' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Nakshatra' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SunRise' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Day' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='birthDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sunrise' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='month' type='xsd:int' minOccurs='0' />
            <xsd:element name='hour' type='xsd:int' minOccurs='0' />
            <xsd:element name='year' type='xsd:int' minOccurs='0' />
            <xsd:element name='timezone' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='sunset' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ayanamsha' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='day' type='xsd:int' minOccurs='0' />
            <xsd:element name='minute' type='xsd:int' minOccurs='0' />
            <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='numerologyBasicDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fav_metal' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='friendly_num' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name_number' type='xsd:int' minOccurs='0' />
            <xsd:element name='fav_color' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='radical_num' type='xsd:int' minOccurs='0' />
            <xsd:element name='radical_ruler' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fav_day' type='xsd:string' minOccurs='0' />
            <xsd:element name='fav_god' type='xsd:string' minOccurs='0' />
            <xsd:element name='destiny_number' type='xsd:int' minOccurs='0' />
            <xsd:element name='neutral_num' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='radical_number' type='xsd:int' minOccurs='0' />
            <xsd:element name='evil_num' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fav_mantra' type='xsd:string' minOccurs='0' />
            <xsd:element name='fav_substone' type='xsd:string' minOccurs='0' />
            <xsd:element name='fav_stone' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='basicAstrologicalDetailsRequestMessage' />
  <message name='basicAstrologicalDetailsResponseMessage'>
    <part name='response' element='tns:basicAstrologicalDetailsResponse' />
  </message>
  <message name='basicPanchangDetailsRequestMessage' />
  <message name='basicPanchangDetailsResponseMessage'>
    <part name='response' element='tns:basicPanchangDetailsResponse' />
  </message>
  <message name='basicPanchangDetailsAtTheTimeOfSunriseRequestMessage'>
    <part name='parameters' element='tns:basicPanchangDetailsAtTheTimeOfSunriseParameters' />
  </message>
  <message name='basicPanchangDetailsAtTheTimeOfSunriseResponseMessage'>
    <part name='response' element='tns:basicPanchangDetailsAtTheTimeOfSunriseResponse' />
  </message>
  <message name='birthDetailsRequestMessage' />
  <message name='birthDetailsResponseMessage'>
    <part name='response' element='tns:birthDetailsResponse' />
  </message>
  <message name='numerologyBasicDetailsRequestMessage' />
  <message name='numerologyBasicDetailsResponseMessage'>
    <part name='response' element='tns:numerologyBasicDetailsResponse' />
  </message>
  <portType name='basicHoroscopeAndNumerologyPortType'>
    <operation name='basicAstrologicalDetails'>
      <documentation>provides the complete avakahada details e g nakshtatra charan tithi karan yog varna vashaya yoni etc</documentation>
      <input message='tns:basicAstrologicalDetailsRequestMessage' name='basicAstrologicalDetailsInput' />
      <output message='tns:basicAstrologicalDetailsResponseMessage' name='basicAstrologicalDetailsOutput' />
    </operation>
    <operation name='basicPanchangDetails'>
      <documentation>provides data points for panchang elements and sunrise and set timings</documentation>
      <input message='tns:basicPanchangDetailsRequestMessage' name='basicPanchangDetailsInput' />
      <output message='tns:basicPanchangDetailsResponseMessage' name='basicPanchangDetailsOutput' />
    </operation>
    <operation name='basicPanchangDetailsAtTheTimeOfSunrise'>
      <documentation>provides data points for panchang elements chaugadiya and sunrise and set time at he time of sunrise</documentation>
      <input message='tns:basicPanchangDetailsAtTheTimeOfSunriseRequestMessage' name='basicPanchangDetailsAtTheTimeOfSunriseInput' />
      <output message='tns:basicPanchangDetailsAtTheTimeOfSunriseResponseMessage' name='basicPanchangDetailsAtTheTimeOfSunriseOutput' />
    </operation>
    <operation name='birthDetails'>
      <documentation>along with birth details it provides sunrise sunset ayanamsha as well</documentation>
      <input message='tns:birthDetailsRequestMessage' name='birthDetailsInput' />
      <output message='tns:birthDetailsResponseMessage' name='birthDetailsOutput' />
    </operation>
    <operation name='numerologyBasicDetails'>
      <documentation>provides detailed Numerology report</documentation>
      <input message='tns:numerologyBasicDetailsRequestMessage' name='numerologyBasicDetailsInput' />
      <output message='tns:numerologyBasicDetailsResponseMessage' name='numerologyBasicDetailsOutput' />
    </operation>
  </portType>
  <binding name='basicHoroscopeAndNumerologyBinding' type='tns:basicHoroscopeAndNumerologyPortType'>
    <operation name='basicAstrologicalDetails'>
      <soap12:operation soapAction='http://basicAstrologicalDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='basicPanchangDetails'>
      <soap12:operation soapAction='http://basicPanchangDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='basicPanchangDetailsAtTheTimeOfSunrise'>
      <soap12:operation soapAction='http://basicPanchangDetailsAtTheTimeOfSunrise' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='birthDetails'>
      <soap12:operation soapAction='http://birthDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='numerologyBasicDetails'>
      <soap12:operation soapAction='http://numerologyBasicDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='basicHoroscopeAndNumerology'>
    <documentation>vedic Rishi Free APIs for Basic Astrological and Horoscope Details along with numerous Numerological details It also provides panchang or hindu indian calendar details</documentation>
    <port name='basicHoroscopeAndNumerologyPort' binding='tns:basicHoroscopeAndNumerologyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://basicHoroscopeAndNumerology' />
    </port>
  </service>
</definitions>