workspace/datasets/mashape_dataset/beeminder.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/beeminder/' name='beeminder' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/beeminder/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/beeminder/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/beeminder/'>
      <xsd:element name='cancelAScheduledStepDownParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='g' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='u' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cancelAScheduledStepDownResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAChargeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createADatapointParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='g' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='u' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createADatapointResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAGoalForAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAGoalForAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createMultipleDatapointsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='g' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='u' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createMultipleDatapointsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteADatapointParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='g' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='u' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteADatapointResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllGoalsForAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllGoalsForAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllTheDatapointsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='g' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='u' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllTheDatapointsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getInformationAboutAGoalParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datapoints' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='goal' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getInformationAboutAGoalResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errors' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='token' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getInformationAboutAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='associations' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='datapointscount' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='diffsince' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='goalsfilter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='skinny' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getInformationAboutAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errors' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='token' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shortCircuitAGoalSPledgeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='g' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='u' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shortCircuitAGoalSPledgeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stepDownAGoalSPledgeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='g' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='u' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stepDownAGoalSPledgeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateADatapointParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='g' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='u' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateADatapointResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAGoalForAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='g' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='u' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAGoalForAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAYellowBrickRoadParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='g' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='u' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAYellowBrickRoadResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='cancelAScheduledStepDownRequestMessage'>
    <part name='parameters' element='tns:cancelAScheduledStepDownParameters' />
  </message>
  <message name='cancelAScheduledStepDownResponseMessage'>
    <part name='response' element='tns:cancelAScheduledStepDownResponse' />
  </message>
  <message name='createAChargeRequestMessage' />
  <message name='createAChargeResponseMessage'>
    <part name='response' element='tns:createAChargeResponse' />
  </message>
  <message name='createADatapointRequestMessage'>
    <part name='parameters' element='tns:createADatapointParameters' />
  </message>
  <message name='createADatapointResponseMessage'>
    <part name='response' element='tns:createADatapointResponse' />
  </message>
  <message name='createAGoalForAUserRequestMessage'>
    <part name='parameters' element='tns:createAGoalForAUserParameters' />
  </message>
  <message name='createAGoalForAUserResponseMessage'>
    <part name='response' element='tns:createAGoalForAUserResponse' />
  </message>
  <message name='createMultipleDatapointsRequestMessage'>
    <part name='parameters' element='tns:createMultipleDatapointsParameters' />
  </message>
  <message name='createMultipleDatapointsResponseMessage'>
    <part name='response' element='tns:createMultipleDatapointsResponse' />
  </message>
  <message name='deleteADatapointRequestMessage'>
    <part name='parameters' element='tns:deleteADatapointParameters' />
  </message>
  <message name='deleteADatapointResponseMessage'>
    <part name='response' element='tns:deleteADatapointResponse' />
  </message>
  <message name='getAllGoalsForAUserRequestMessage'>
    <part name='parameters' element='tns:getAllGoalsForAUserParameters' />
  </message>
  <message name='getAllGoalsForAUserResponseMessage'>
    <part name='response' element='tns:getAllGoalsForAUserResponse' />
  </message>
  <message name='getAllTheDatapointsRequestMessage'>
    <part name='parameters' element='tns:getAllTheDatapointsParameters' />
  </message>
  <message name='getAllTheDatapointsResponseMessage'>
    <part name='response' element='tns:getAllTheDatapointsResponse' />
  </message>
  <message name='getInformationAboutAGoalRequestMessage'>
    <part name='parameters' element='tns:getInformationAboutAGoalParameters' />
  </message>
  <message name='getInformationAboutAGoalResponseMessage'>
    <part name='response' element='tns:getInformationAboutAGoalResponse' />
  </message>
  <message name='getInformationAboutAUserRequestMessage'>
    <part name='parameters' element='tns:getInformationAboutAUserParameters' />
  </message>
  <message name='getInformationAboutAUserResponseMessage'>
    <part name='response' element='tns:getInformationAboutAUserResponse' />
  </message>
  <message name='shortCircuitAGoalSPledgeRequestMessage'>
    <part name='parameters' element='tns:shortCircuitAGoalSPledgeParameters' />
  </message>
  <message name='shortCircuitAGoalSPledgeResponseMessage'>
    <part name='response' element='tns:shortCircuitAGoalSPledgeResponse' />
  </message>
  <message name='stepDownAGoalSPledgeRequestMessage'>
    <part name='parameters' element='tns:stepDownAGoalSPledgeParameters' />
  </message>
  <message name='stepDownAGoalSPledgeResponseMessage'>
    <part name='response' element='tns:stepDownAGoalSPledgeResponse' />
  </message>
  <message name='updateADatapointRequestMessage'>
    <part name='parameters' element='tns:updateADatapointParameters' />
  </message>
  <message name='updateADatapointResponseMessage'>
    <part name='response' element='tns:updateADatapointResponse' />
  </message>
  <message name='updateAGoalForAUserRequestMessage'>
    <part name='parameters' element='tns:updateAGoalForAUserParameters' />
  </message>
  <message name='updateAGoalForAUserResponseMessage'>
    <part name='response' element='tns:updateAGoalForAUserResponse' />
  </message>
  <message name='updateAYellowBrickRoadRequestMessage'>
    <part name='parameters' element='tns:updateAYellowBrickRoadParameters' />
  </message>
  <message name='updateAYellowBrickRoadResponseMessage'>
    <part name='response' element='tns:updateAYellowBrickRoadResponse' />
  </message>
  <portType name='beeminderPortType'>
    <operation name='cancelAScheduledStepDown'>
      <documentation>cancel a pending stepdown of a goal s project</documentation>
      <input message='tns:cancelAScheduledStepDownRequestMessage' name='cancelAScheduledStepDownInput' />
      <output message='tns:cancelAScheduledStepDownResponseMessage' name='cancelAScheduledStepDownOutput' />
    </operation>
    <operation name='createACharge'>
      <documentation>create a charge of a given amount and optionally add a note</documentation>
      <input message='tns:createAChargeRequestMessage' name='createAChargeInput' />
      <output message='tns:createAChargeResponseMessage' name='createAChargeOutput' />
    </operation>
    <operation name='createADatapoint'>
      <documentation>add a new datapoint to user u s goal g beeminder com u g</documentation>
      <input message='tns:createADatapointRequestMessage' name='createADatapointInput' />
      <output message='tns:createADatapointResponseMessage' name='createADatapointOutput' />
    </operation>
    <operation name='createAGoalForAUser'>
      <documentation>create a new goal for user u</documentation>
      <input message='tns:createAGoalForAUserRequestMessage' name='createAGoalForAUserInput' />
      <output message='tns:createAGoalForAUserResponseMessage' name='createAGoalForAUserOutput' />
    </operation>
    <operation name='createMultipleDatapoints'>
      <documentation>create multiple new datapoints for beeminder com u g</documentation>
      <input message='tns:createMultipleDatapointsRequestMessage' name='createMultipleDatapointsInput' />
      <output message='tns:createMultipleDatapointsResponseMessage' name='createMultipleDatapointsOutput' />
    </operation>
    <operation name='deleteADatapoint'>
      <documentation>delete the datapoint with ID id for user u s goal g beeminder com u g</documentation>
      <input message='tns:deleteADatapointRequestMessage' name='deleteADatapointInput' />
      <output message='tns:deleteADatapointResponseMessage' name='deleteADatapointOutput' />
    </operation>
    <operation name='getAllGoalsForAUser'>
      <documentation>get user u s list of goals</documentation>
      <input message='tns:getAllGoalsForAUserRequestMessage' name='getAllGoalsForAUserInput' />
      <output message='tns:getAllGoalsForAUserResponseMessage' name='getAllGoalsForAUserOutput' />
    </operation>
    <operation name='getAllTheDatapoints'>
      <documentation>get the list of datapoints for user u s goal g beeminder com u g</documentation>
      <input message='tns:getAllTheDatapointsRequestMessage' name='getAllTheDatapointsInput' />
      <output message='tns:getAllTheDatapointsResponseMessage' name='getAllTheDatapointsOutput' />
    </operation>
    <operation name='getInformationAboutAGoal'>
      <documentation>gets goal details for user u s goal g beeminder com u g</documentation>
      <input message='tns:getInformationAboutAGoalRequestMessage' name='getInformationAboutAGoalInput' />
      <output message='tns:getInformationAboutAGoalResponseMessage' name='getInformationAboutAGoalOutput' />
    </operation>
    <operation name='getInformationAboutAUser'>
      <documentation>retrieves information and a list of goal names for the user with username u</documentation>
      <input message='tns:getInformationAboutAUserRequestMessage' name='getInformationAboutAUserInput' />
      <output message='tns:getInformationAboutAUserResponseMessage' name='getInformationAboutAUserOutput' />
    </operation>
    <operation name='shortCircuitAGoalSPledge'>
      <documentation>increase the goal s pledge level and charge the user the amount of the current pledge</documentation>
      <input message='tns:shortCircuitAGoalSPledgeRequestMessage' name='shortCircuitAGoalSPledgeInput' />
      <output message='tns:shortCircuitAGoalSPledgeResponseMessage' name='shortCircuitAGoalSPledgeOutput' />
    </operation>
    <operation name='stepDownAGoalSPledge'>
      <documentation>decrease the goal s pledge level subject to the akrasia horizon i e not immediately After a successful request the goal will have a countdown to when it will revert to the lower pledge level</documentation>
      <input message='tns:stepDownAGoalSPledgeRequestMessage' name='stepDownAGoalSPledgeInput' />
      <output message='tns:stepDownAGoalSPledgeResponseMessage' name='stepDownAGoalSPledgeOutput' />
    </operation>
    <operation name='updateADatapoint'>
      <documentation>update the datapoint with ID id for user u s goal g beeminder com u g</documentation>
      <input message='tns:updateADatapointRequestMessage' name='updateADatapointInput' />
      <output message='tns:updateADatapointResponseMessage' name='updateADatapointOutput' />
    </operation>
    <operation name='updateAGoalForAUser'>
      <documentation>update user u s goal g This is similar to the call to create a new goal but the goal type goal type cannot be changed To change any of goaldate goalval rate use the dial road call below</documentation>
      <input message='tns:updateAGoalForAUserRequestMessage' name='updateAGoalForAUserInput' />
      <output message='tns:updateAGoalForAUserResponseMessage' name='updateAGoalForAUserOutput' />
    </operation>
    <operation name='updateAYellowBrickRoad'>
      <documentation>change the slope of the yellow brick road starting after the one week Akrasia Horizon for beeminder com u g</documentation>
      <input message='tns:updateAYellowBrickRoadRequestMessage' name='updateAYellowBrickRoadInput' />
      <output message='tns:updateAYellowBrickRoadResponseMessage' name='updateAYellowBrickRoadOutput' />
    </operation>
  </portType>
  <binding name='beeminderBinding' type='tns:beeminderPortType'>
    <operation name='cancelAScheduledStepDown'>
      <soap12:operation soapAction='http://cancelAScheduledStepDown' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createACharge'>
      <soap12:operation soapAction='http://createACharge' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createADatapoint'>
      <soap12:operation soapAction='http://createADatapoint' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAGoalForAUser'>
      <soap12:operation soapAction='http://createAGoalForAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createMultipleDatapoints'>
      <soap12:operation soapAction='http://createMultipleDatapoints' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteADatapoint'>
      <soap12:operation soapAction='http://deleteADatapoint' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAllGoalsForAUser'>
      <soap12:operation soapAction='http://getAllGoalsForAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAllTheDatapoints'>
      <soap12:operation soapAction='http://getAllTheDatapoints' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getInformationAboutAGoal'>
      <soap12:operation soapAction='http://getInformationAboutAGoal' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getInformationAboutAUser'>
      <soap12:operation soapAction='http://getInformationAboutAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='shortCircuitAGoalSPledge'>
      <soap12:operation soapAction='http://shortCircuitAGoalSPledge' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stepDownAGoalSPledge'>
      <soap12:operation soapAction='http://stepDownAGoalSPledge' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateADatapoint'>
      <soap12:operation soapAction='http://updateADatapoint' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAGoalForAUser'>
      <soap12:operation soapAction='http://updateAGoalForAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAYellowBrickRoad'>
      <soap12:operation soapAction='http://updateAYellowBrickRoad' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='beeminder'>
    <documentation>it s reminders with a sting Or goal tracking with teeth Mind anything you can graph weight pushups to do tasks completed by replying with data when Beeminder prompts you Or connect with a service like Fitbit to report automatically We plot your progress on a Yellow Brick Road to your goal Keep all your data points on the road and Beeminder will always be free Go off the road and you literally pay the price</documentation>
    <port name='beeminderPort' binding='tns:beeminderBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://beeminder' />
    </port>
  </service>
</definitions>