workspace/datasets/mashape_dataset/beenplated.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/beenPlated/' name='beenPlated' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/beenPlated/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/beenPlated/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/beenPlated/'>
      <xsd:element name='commandParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apicall' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='label' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='plateid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sessionid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sms' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='commandResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='commandRequestMessage'>
    <part name='parameters' element='tns:commandParameters' />
  </message>
  <message name='commandResponseMessage'>
    <part name='response' element='tns:commandResponse' />
  </message>
  <portType name='beenPlatedPortType'>
    <operation name='command'>
      <documentation>please check http www been plated com developers for a list of apiCall commands and parameters combinations</documentation>
      <input message='tns:commandRequestMessage' name='commandInput' />
      <output message='tns:commandResponseMessage' name='commandOutput' />
    </operation>
  </portType>
  <binding name='beenPlatedBinding' type='tns:beenPlatedPortType'>
    <operation name='command'>
      <soap12:operation soapAction='http://command' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='beenPlated'>
    <documentation>plate em Got their license plate Don t just report bad drivers plate em When you see a funny license plate or a funny looking car plate em Did you see someone loose a hubcap Plate em Stop yelling out the window at the girls in the car next to you plate em Anyone following the plate will receive an instant notification via text or email Don t forget to follow your license plate</documentation>
    <port name='beenPlatedPort' binding='tns:beenPlatedBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://beenPlated' />
    </port>
  </service>
</definitions>