workspace/datasets/mashape_dataset/behnevispersiantransliteration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/behnevisPersianTransliteration/' name='behnevisPersianTransliteration' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/behnevisPersianTransliteration/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/behnevisPersianTransliteration/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/behnevisPersianTransliteration/'>
      <xsd:element name='convertTextApiPhpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='latin' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='convertTextApiPhpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='convertTextApiPhpRequestMessage'>
    <part name='parameters' element='tns:convertTextApiPhpParameters' />
  </message>
  <message name='convertTextApiPhpResponseMessage'>
    <part name='response' element='tns:convertTextApiPhpResponse' />
  </message>
  <portType name='behnevisPersianTransliterationPortType'>
    <operation name='convertTextApiPhp'>
      <documentation>converts an input Latin string max length to Farsi</documentation>
      <input message='tns:convertTextApiPhpRequestMessage' name='convertTextApiPhpInput' />
      <output message='tns:convertTextApiPhpResponseMessage' name='convertTextApiPhpOutput' />
    </operation>
  </portType>
  <binding name='behnevisPersianTransliterationBinding' type='tns:behnevisPersianTransliterationPortType'>
    <operation name='convertTextApiPhp'>
      <soap12:operation soapAction='http://convertTextApiPhp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='behnevisPersianTransliteration'>
    <documentation>with this API you can convert transliterate Persian text written in English letters called Pinglish or Finglish to Persian Farsi language script</documentation>
    <port name='behnevisPersianTransliterationPort' binding='tns:behnevisPersianTransliterationBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://behnevisPersianTransliteration' />
    </port>
  </service>
</definitions>