workspace/datasets/mashape_dataset/bestbuy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/bestbuy/' name='bestbuy' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/bestbuy/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/bestbuy/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/bestbuy/'>
      <xsd:element name='allCategoriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allReviewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allReviewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allStoresWithinAZipcodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='postalcode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allStoresWithinAZipcodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allStoresWithinCityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allStoresWithinCityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allTheCategoriesWithThisSubcategoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subcategoriesid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allTheCategoriesWithThisSubcategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allTheSubcategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='alsoViewedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='productlink' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='rank' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sku' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='alsoViewedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basedOnProductSkuParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accessoriessku' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='includeditemlistincludeditem' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='relatedproductssku' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sku' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basedOnProductSkuResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoryInfoForSpecificIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoryInfoForSpecificIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoryInformationUsingCategoryNameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoryInformationUsingCategoryNameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoryPathOfSpecificCategoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pathid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pathname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoryPathOfSpecificCategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='closestStoresParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='closestStoresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mostPopularViewedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='productlink' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='rank' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sku' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mostPopularViewedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productBasedOnModelNumberParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='manufacturer' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='modelnumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='shortdescription' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sku' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='upc' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productBasedOnModelNumberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productInformationBasedOnDescriptionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='depth' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='height' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='longdescription' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='shortdescription' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='weight' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='width' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productInformationBasedOnDescriptionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productsBasedOnReviewCriteriaParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='customerreviewaverage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='customerreviewcount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sku' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productsBasedOnReviewCriteriaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productsWithARatingHigherThenParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='rating' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productsWithARatingHigherThenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reviewsForAListOfProductsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sku' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reviewsForAListOfProductsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reviewsSubmittedOnASpecificDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='submissiontime' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reviewsSubmittedOnASpecificDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='similarProductsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='productlink' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='rank' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sku' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='similarProductsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='singleStoreParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='singleStoreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='singleStoreHourParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='detailedhoursclose' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='detailedhoursdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='detailedhoursopen' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='gmtoffset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hours' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hoursampm' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='singleStoreHourResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specificProductReviewParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sku' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specificProductReviewResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='storeAvailabilityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='storeAvailabilityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='storeServiceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='servicesservice' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='storeServiceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='storesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='storesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='storesWithinARadiusFromASpecificLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='storesWithinARadiusFromASpecificLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trendingProductsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='productlink' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='rank' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sku' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trendingProductsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='allCategoriesRequestMessage'>
    <part name='parameters' element='tns:allCategoriesParameters' />
  </message>
  <message name='allCategoriesResponseMessage'>
    <part name='response' element='tns:allCategoriesResponse' />
  </message>
  <message name='allReviewsRequestMessage'>
    <part name='parameters' element='tns:allReviewsParameters' />
  </message>
  <message name='allReviewsResponseMessage'>
    <part name='response' element='tns:allReviewsResponse' />
  </message>
  <message name='allStoresWithinAZipcodeRequestMessage'>
    <part name='parameters' element='tns:allStoresWithinAZipcodeParameters' />
  </message>
  <message name='allStoresWithinAZipcodeResponseMessage'>
    <part name='response' element='tns:allStoresWithinAZipcodeResponse' />
  </message>
  <message name='allStoresWithinCityRequestMessage'>
    <part name='parameters' element='tns:allStoresWithinCityParameters' />
  </message>
  <message name='allStoresWithinCityResponseMessage'>
    <part name='response' element='tns:allStoresWithinCityResponse' />
  </message>
  <message name='allTheCategoriesWithThisSubcategoryRequestMessage'>
    <part name='parameters' element='tns:allTheCategoriesWithThisSubcategoryParameters' />
  </message>
  <message name='allTheCategoriesWithThisSubcategoryResponseMessage'>
    <part name='response' element='tns:allTheCategoriesWithThisSubcategoryResponse' />
  </message>
  <message name='allTheSubcategoriesRequestMessage' />
  <message name='allTheSubcategoriesResponseMessage'>
    <part name='response' element='tns:allTheSubcategoriesResponse' />
  </message>
  <message name='alsoViewedRequestMessage'>
    <part name='parameters' element='tns:alsoViewedParameters' />
  </message>
  <message name='alsoViewedResponseMessage'>
    <part name='response' element='tns:alsoViewedResponse' />
  </message>
  <message name='basedOnProductSkuRequestMessage'>
    <part name='parameters' element='tns:basedOnProductSkuParameters' />
  </message>
  <message name='basedOnProductSkuResponseMessage'>
    <part name='response' element='tns:basedOnProductSkuResponse' />
  </message>
  <message name='categoryInfoForSpecificIdRequestMessage'>
    <part name='parameters' element='tns:categoryInfoForSpecificIdParameters' />
  </message>
  <message name='categoryInfoForSpecificIdResponseMessage'>
    <part name='response' element='tns:categoryInfoForSpecificIdResponse' />
  </message>
  <message name='categoryInformationUsingCategoryNameRequestMessage'>
    <part name='parameters' element='tns:categoryInformationUsingCategoryNameParameters' />
  </message>
  <message name='categoryInformationUsingCategoryNameResponseMessage'>
    <part name='response' element='tns:categoryInformationUsingCategoryNameResponse' />
  </message>
  <message name='categoryPathOfSpecificCategoryRequestMessage'>
    <part name='parameters' element='tns:categoryPathOfSpecificCategoryParameters' />
  </message>
  <message name='categoryPathOfSpecificCategoryResponseMessage'>
    <part name='response' element='tns:categoryPathOfSpecificCategoryResponse' />
  </message>
  <message name='closestStoresRequestMessage'>
    <part name='parameters' element='tns:closestStoresParameters' />
  </message>
  <message name='closestStoresResponseMessage'>
    <part name='response' element='tns:closestStoresResponse' />
  </message>
  <message name='mostPopularViewedRequestMessage'>
    <part name='parameters' element='tns:mostPopularViewedParameters' />
  </message>
  <message name='mostPopularViewedResponseMessage'>
    <part name='response' element='tns:mostPopularViewedResponse' />
  </message>
  <message name='productBasedOnModelNumberRequestMessage'>
    <part name='parameters' element='tns:productBasedOnModelNumberParameters' />
  </message>
  <message name='productBasedOnModelNumberResponseMessage'>
    <part name='response' element='tns:productBasedOnModelNumberResponse' />
  </message>
  <message name='productInformationBasedOnDescriptionRequestMessage'>
    <part name='parameters' element='tns:productInformationBasedOnDescriptionParameters' />
  </message>
  <message name='productInformationBasedOnDescriptionResponseMessage'>
    <part name='response' element='tns:productInformationBasedOnDescriptionResponse' />
  </message>
  <message name='productsBasedOnReviewCriteriaRequestMessage'>
    <part name='parameters' element='tns:productsBasedOnReviewCriteriaParameters' />
  </message>
  <message name='productsBasedOnReviewCriteriaResponseMessage'>
    <part name='response' element='tns:productsBasedOnReviewCriteriaResponse' />
  </message>
  <message name='productsWithARatingHigherThenRequestMessage'>
    <part name='parameters' element='tns:productsWithARatingHigherThenParameters' />
  </message>
  <message name='productsWithARatingHigherThenResponseMessage'>
    <part name='response' element='tns:productsWithARatingHigherThenResponse' />
  </message>
  <message name='reviewsForAListOfProductsRequestMessage'>
    <part name='parameters' element='tns:reviewsForAListOfProductsParameters' />
  </message>
  <message name='reviewsForAListOfProductsResponseMessage'>
    <part name='response' element='tns:reviewsForAListOfProductsResponse' />
  </message>
  <message name='reviewsSubmittedOnASpecificDateRequestMessage'>
    <part name='parameters' element='tns:reviewsSubmittedOnASpecificDateParameters' />
  </message>
  <message name='reviewsSubmittedOnASpecificDateResponseMessage'>
    <part name='response' element='tns:reviewsSubmittedOnASpecificDateResponse' />
  </message>
  <message name='similarProductsRequestMessage'>
    <part name='parameters' element='tns:similarProductsParameters' />
  </message>
  <message name='similarProductsResponseMessage'>
    <part name='response' element='tns:similarProductsResponse' />
  </message>
  <message name='singleStoreRequestMessage'>
    <part name='parameters' element='tns:singleStoreParameters' />
  </message>
  <message name='singleStoreResponseMessage'>
    <part name='response' element='tns:singleStoreResponse' />
  </message>
  <message name='singleStoreHourRequestMessage'>
    <part name='parameters' element='tns:singleStoreHourParameters' />
  </message>
  <message name='singleStoreHourResponseMessage'>
    <part name='response' element='tns:singleStoreHourResponse' />
  </message>
  <message name='specificProductReviewRequestMessage'>
    <part name='parameters' element='tns:specificProductReviewParameters' />
  </message>
  <message name='specificProductReviewResponseMessage'>
    <part name='response' element='tns:specificProductReviewResponse' />
  </message>
  <message name='storeAvailabilityRequestMessage'>
    <part name='parameters' element='tns:storeAvailabilityParameters' />
  </message>
  <message name='storeAvailabilityResponseMessage'>
    <part name='response' element='tns:storeAvailabilityResponse' />
  </message>
  <message name='storeServiceRequestMessage'>
    <part name='parameters' element='tns:storeServiceParameters' />
  </message>
  <message name='storeServiceResponseMessage'>
    <part name='response' element='tns:storeServiceResponse' />
  </message>
  <message name='storesRequestMessage'>
    <part name='parameters' element='tns:storesParameters' />
  </message>
  <message name='storesResponseMessage'>
    <part name='response' element='tns:storesResponse' />
  </message>
  <message name='storesWithinARadiusFromASpecificLocationRequestMessage'>
    <part name='parameters' element='tns:storesWithinARadiusFromASpecificLocationParameters' />
  </message>
  <message name='storesWithinARadiusFromASpecificLocationResponseMessage'>
    <part name='response' element='tns:storesWithinARadiusFromASpecificLocationResponse' />
  </message>
  <message name='trendingProductsRequestMessage'>
    <part name='parameters' element='tns:trendingProductsParameters' />
  </message>
  <message name='trendingProductsResponseMessage'>
    <part name='response' element='tns:trendingProductsResponse' />
  </message>
  <portType name='bestbuyPortType'>
    <operation name='allCategories'>
      <documentation>return all the Best Buy product categories Query is filtered to show only ids</documentation>
      <input message='tns:allCategoriesRequestMessage' name='allCategoriesInput' />
      <output message='tns:allCategoriesResponseMessage' name='allCategoriesOutput' />
    </operation>
    <operation name='allReviews'>
      <documentation>retrieves all the reviews submitted for the products we sell on BESTBUY COM Return to Description</documentation>
      <input message='tns:allReviewsRequestMessage' name='allReviewsInput' />
      <output message='tns:allReviewsResponseMessage' name='allReviewsOutput' />
    </operation>
    <operation name='allStoresWithinAZipcode'>
      <documentation>retrieves stores information for all the stores at the postalCode specified as the input</documentation>
      <input message='tns:allStoresWithinAZipcodeRequestMessage' name='allStoresWithinAZipcodeInput' />
      <output message='tns:allStoresWithinAZipcodeResponseMessage' name='allStoresWithinAZipcodeOutput' />
    </operation>
    <operation name='allStoresWithinCity'>
      <documentation>returns stores information for all the stores in the city specified as the input</documentation>
      <input message='tns:allStoresWithinCityRequestMessage' name='allStoresWithinCityInput' />
      <output message='tns:allStoresWithinCityResponseMessage' name='allStoresWithinCityOutput' />
    </operation>
    <operation name='allTheCategoriesWithThisSubcategory'>
      <documentation>eturn all the categories that have the input subCategories id as their subcategory</documentation>
      <input message='tns:allTheCategoriesWithThisSubcategoryRequestMessage' name='allTheCategoriesWithThisSubcategoryInput' />
      <output message='tns:allTheCategoriesWithThisSubcategoryResponseMessage' name='allTheCategoriesWithThisSubcategoryOutput' />
    </operation>
    <operation name='allTheSubcategories'>
      <documentation>return all the subcategories that have the input category id as their parent category</documentation>
      <input message='tns:allTheSubcategoriesRequestMessage' name='allTheSubcategoriesInput' />
      <output message='tns:allTheSubcategoriesResponseMessage' name='allTheSubcategoriesOutput' />
    </operation>
    <operation name='alsoViewed'>
      <documentation>the Also Viewed Products endpoint can be used to identify top ten SKUs that were viewed along with the originating SKU based on aggregated customer browsing behavior over the past thirty days on BESTBUY COM</documentation>
      <input message='tns:alsoViewedRequestMessage' name='alsoViewedInput' />
      <output message='tns:alsoViewedResponseMessage' name='alsoViewedOutput' />
    </operation>
    <operation name='basedOnProductSku'>
      <documentation>to search based on product you can use sku sku</documentation>
      <input message='tns:basedOnProductSkuRequestMessage' name='basedOnProductSkuInput' />
      <output message='tns:basedOnProductSkuResponseMessage' name='basedOnProductSkuOutput' />
    </operation>
    <operation name='categoryInfoForSpecificId'>
      <documentation>return all the category details for the category id specified in the input along with the associated subcategories if any</documentation>
      <input message='tns:categoryInfoForSpecificIdRequestMessage' name='categoryInfoForSpecificIdInput' />
      <output message='tns:categoryInfoForSpecificIdResponseMessage' name='categoryInfoForSpecificIdOutput' />
    </operation>
    <operation name='categoryInformationUsingCategoryName'>
      <documentation>return the category details for the category name specified in the input</documentation>
      <input message='tns:categoryInformationUsingCategoryNameRequestMessage' name='categoryInformationUsingCategoryNameInput' />
      <output message='tns:categoryInformationUsingCategoryNameResponseMessage' name='categoryInformationUsingCategoryNameOutput' />
    </operation>
    <operation name='categoryPathOfSpecificCategory'>
      <documentation>return the category path for the category name specified in the input</documentation>
      <input message='tns:categoryPathOfSpecificCategoryRequestMessage' name='categoryPathOfSpecificCategoryInput' />
      <output message='tns:categoryPathOfSpecificCategoryResponseMessage' name='categoryPathOfSpecificCategoryOutput' />
    </operation>
    <operation name='closestStores'>
      <documentation>to locate stores near a specified location</documentation>
      <input message='tns:closestStoresRequestMessage' name='closestStoresInput' />
      <output message='tns:closestStoresResponseMessage' name='closestStoresOutput' />
    </operation>
    <operation name='mostPopularViewed'>
      <documentation>the Most Popular Viewed endpoint returns the top ten products by rank of the most frequently viewed products on BESTBUY com This data is refreshed every two hours with a maximum accumulation time of forty eight hours when determining the top ten products</documentation>
      <input message='tns:mostPopularViewedRequestMessage' name='mostPopularViewedInput' />
      <output message='tns:mostPopularViewedResponseMessage' name='mostPopularViewedOutput' />
    </operation>
    <operation name='productBasedOnModelNumber'>
      <documentation>to search based on manufacturer model number you can use modelNumber modelNumer DX TVM</documentation>
      <input message='tns:productBasedOnModelNumberRequestMessage' name='productBasedOnModelNumberInput' />
      <output message='tns:productBasedOnModelNumberResponseMessage' name='productBasedOnModelNumberOutput' />
    </operation>
    <operation name='productInformationBasedOnDescription'>
      <documentation>to search based on description you can use description iPhone or by using sku</documentation>
      <input message='tns:productInformationBasedOnDescriptionRequestMessage' name='productInformationBasedOnDescriptionInput' />
      <output message='tns:productInformationBasedOnDescriptionResponseMessage' name='productInformationBasedOnDescriptionOutput' />
    </operation>
    <operation name='productsBasedOnReviewCriteria'>
      <documentation>to search based on review criteria you can specify the customerReviewAverage customerReviewAverage or the customerReviewCount</documentation>
      <input message='tns:productsBasedOnReviewCriteriaRequestMessage' name='productsBasedOnReviewCriteriaInput' />
      <output message='tns:productsBasedOnReviewCriteriaResponseMessage' name='productsBasedOnReviewCriteriaOutput' />
    </operation>
    <operation name='productsWithARatingHigherThen'>
      <documentation>retrieves all the reviews with ratings</documentation>
      <input message='tns:productsWithARatingHigherThenRequestMessage' name='productsWithARatingHigherThenInput' />
      <output message='tns:productsWithARatingHigherThenResponseMessage' name='productsWithARatingHigherThenOutput' />
    </operation>
    <operation name='reviewsForAListOfProducts'>
      <documentation>retrieves all the reviews submitted for a list of the SKUs specified in the input</documentation>
      <input message='tns:reviewsForAListOfProductsRequestMessage' name='reviewsForAListOfProductsInput' />
      <output message='tns:reviewsForAListOfProductsResponseMessage' name='reviewsForAListOfProductsOutput' />
    </operation>
    <operation name='reviewsSubmittedOnASpecificDate'>
      <documentation>retrieves all the reviews submitted on a specific date</documentation>
      <input message='tns:reviewsSubmittedOnASpecificDateRequestMessage' name='reviewsSubmittedOnASpecificDateInput' />
      <output message='tns:reviewsSubmittedOnASpecificDateResponseMessage' name='reviewsSubmittedOnASpecificDateOutput' />
    </operation>
    <operation name='similarProducts'>
      <documentation>the Similar Products endpoint can be used to identify similar SKUs to an originating SKU The algorithm used to identify similar SKUs uses attributes like brand size price etc</documentation>
      <input message='tns:similarProductsRequestMessage' name='similarProductsInput' />
      <output message='tns:similarProductsResponseMessage' name='similarProductsOutput' />
    </operation>
    <operation name='singleStore'>
      <documentation>return store information of a store with the storeId attribute specified in the input</documentation>
      <input message='tns:singleStoreRequestMessage' name='singleStoreInput' />
      <output message='tns:singleStoreResponseMessage' name='singleStoreOutput' />
    </operation>
    <operation name='singleStoreHour'>
      <documentation>return store hour for single store</documentation>
      <input message='tns:singleStoreHourRequestMessage' name='singleStoreHourInput' />
      <output message='tns:singleStoreHourResponseMessage' name='singleStoreHourOutput' />
    </operation>
    <operation name='specificProductReview'>
      <documentation>retrieves all the reviews submitted for the product specified in the input</documentation>
      <input message='tns:specificProductReviewRequestMessage' name='specificProductReviewInput' />
      <output message='tns:specificProductReviewResponseMessage' name='specificProductReviewOutput' />
    </operation>
    <operation name='storeAvailability'>
      <documentation>store availability queries will return only those stores that have a given product in stock Stores not returned do not have that product in stock</documentation>
      <input message='tns:storeAvailabilityRequestMessage' name='storeAvailabilityInput' />
      <output message='tns:storeAvailabilityResponseMessage' name='storeAvailabilityOutput' />
    </operation>
    <operation name='storeService'>
      <documentation>return all the services offered at the store</documentation>
      <input message='tns:storeServiceRequestMessage' name='storeServiceInput' />
      <output message='tns:storeServiceResponseMessage' name='storeServiceOutput' />
    </operation>
    <operation name='stores'>
      <documentation>return store information for all stores</documentation>
      <input message='tns:storesRequestMessage' name='storesInput' />
      <output message='tns:storesResponseMessage' name='storesOutput' />
    </operation>
    <operation name='storesWithinARadiusFromASpecificLocation'>
      <documentation>returns stores within miles of Barrow Alaska N W</documentation>
      <input message='tns:storesWithinARadiusFromASpecificLocationRequestMessage' name='storesWithinARadiusFromASpecificLocationInput' />
      <output message='tns:storesWithinARadiusFromASpecificLocationResponseMessage' name='storesWithinARadiusFromASpecificLocationOutput' />
    </operation>
    <operation name='trendingProducts'>
      <documentation>the Trending Products endpoint returns top ten products by rank based on customer views of the BESTBUY COM product detail page over a rolling three hour time period Trending growth is based on a comparison against the previous three hour time period</documentation>
      <input message='tns:trendingProductsRequestMessage' name='trendingProductsInput' />
      <output message='tns:trendingProductsResponseMessage' name='trendingProductsOutput' />
    </operation>
  </portType>
  <binding name='bestbuyBinding' type='tns:bestbuyPortType'>
    <operation name='allCategories'>
      <soap12:operation soapAction='http://allCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allReviews'>
      <soap12:operation soapAction='http://allReviews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allStoresWithinAZipcode'>
      <soap12:operation soapAction='http://allStoresWithinAZipcode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allStoresWithinCity'>
      <soap12:operation soapAction='http://allStoresWithinCity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allTheCategoriesWithThisSubcategory'>
      <soap12:operation soapAction='http://allTheCategoriesWithThisSubcategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allTheSubcategories'>
      <soap12:operation soapAction='http://allTheSubcategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='alsoViewed'>
      <soap12:operation soapAction='http://alsoViewed' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='basedOnProductSku'>
      <soap12:operation soapAction='http://basedOnProductSku' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categoryInfoForSpecificId'>
      <soap12:operation soapAction='http://categoryInfoForSpecificId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categoryInformationUsingCategoryName'>
      <soap12:operation soapAction='http://categoryInformationUsingCategoryName' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categoryPathOfSpecificCategory'>
      <soap12:operation soapAction='http://categoryPathOfSpecificCategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='closestStores'>
      <soap12:operation soapAction='http://closestStores' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mostPopularViewed'>
      <soap12:operation soapAction='http://mostPopularViewed' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productBasedOnModelNumber'>
      <soap12:operation soapAction='http://productBasedOnModelNumber' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productInformationBasedOnDescription'>
      <soap12:operation soapAction='http://productInformationBasedOnDescription' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productsBasedOnReviewCriteria'>
      <soap12:operation soapAction='http://productsBasedOnReviewCriteria' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productsWithARatingHigherThen'>
      <soap12:operation soapAction='http://productsWithARatingHigherThen' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reviewsForAListOfProducts'>
      <soap12:operation soapAction='http://reviewsForAListOfProducts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reviewsSubmittedOnASpecificDate'>
      <soap12:operation soapAction='http://reviewsSubmittedOnASpecificDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='similarProducts'>
      <soap12:operation soapAction='http://similarProducts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='singleStore'>
      <soap12:operation soapAction='http://singleStore' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='singleStoreHour'>
      <soap12:operation soapAction='http://singleStoreHour' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='specificProductReview'>
      <soap12:operation soapAction='http://specificProductReview' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='storeAvailability'>
      <soap12:operation soapAction='http://storeAvailability' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='storeService'>
      <soap12:operation soapAction='http://storeService' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stores'>
      <soap12:operation soapAction='http://stores' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='storesWithinARadiusFromASpecificLocation'>
      <soap12:operation soapAction='http://storesWithinARadiusFromASpecificLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trendingProducts'>
      <soap12:operation soapAction='http://trendingProducts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='bestbuy'>
    <documentation>the Best Buy API puts a Best Buy store in your pocket Browse our entire catalog read reviews compare specs track your My Best Buy rewards points and more You can even make purchases right from your phone for home delivery or in store pickup</documentation>
    <port name='bestbuyPort' binding='tns:bestbuyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://bestbuy' />
    </port>
  </service>
</definitions>