workspace/datasets/mashape_dataset/bibtexsearchcom.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/bibtexsearchCom/' name='bibtexsearchCom' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/bibtexsearchCom/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/bibtexsearchCom/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/bibtexsearchCom/'>
      <xsd:element name='searchQQueryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchQQueryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='_index' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_source' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='bibtex' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_score' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='searchQQueryRequestMessage'>
    <part name='parameters' element='tns:searchQQueryParameters' />
  </message>
  <message name='searchQQueryResponseMessage'>
    <part name='response' element='tns:searchQQueryResponse' />
  </message>
  <portType name='bibtexsearchComPortType'>
    <operation name='searchQQuery'>
      <documentation></documentation>
      <input message='tns:searchQQueryRequestMessage' name='searchQQueryInput' />
      <output message='tns:searchQQueryResponseMessage' name='searchQQueryOutput' />
    </operation>
  </portType>
  <binding name='bibtexsearchComBinding' type='tns:bibtexsearchComPortType'>
    <operation name='searchQQuery'>
      <soap12:operation soapAction='http://searchQQuery' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='bibtexsearchCom'>
    <documentation>bibTeX Search You re searching over millions of BibTeX records</documentation>
    <port name='bibtexsearchComPort' binding='tns:bibtexsearchComBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://bibtexsearchCom' />
    </port>
  </service>
</definitions>