workspace/datasets/mashape_dataset/bidvoy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/bidvoy/' name='bidvoy' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/bidvoy/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/bidvoy/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/bidvoy/'>
      <xsd:element name='articleAnalyseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='enddate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keyword' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='listing' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='articleAnalyseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoryListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pageid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoryListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCategoryOnceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keyword' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pageid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCategoryOnceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='noOfCallsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='noOfCallsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='objectCategoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='objectCategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='articleAnalyseRequestMessage'>
    <part name='parameters' element='tns:articleAnalyseParameters' />
  </message>
  <message name='articleAnalyseResponseMessage'>
    <part name='response' element='tns:articleAnalyseResponse' />
  </message>
  <message name='categoryListRequestMessage'>
    <part name='parameters' element='tns:categoryListParameters' />
  </message>
  <message name='categoryListResponseMessage'>
    <part name='response' element='tns:categoryListResponse' />
  </message>
  <message name='listCategoryOnceRequestMessage'>
    <part name='parameters' element='tns:listCategoryOnceParameters' />
  </message>
  <message name='listCategoryOnceResponseMessage'>
    <part name='response' element='tns:listCategoryOnceResponse' />
  </message>
  <message name='noOfCallsRequestMessage'>
    <part name='parameters' element='tns:noOfCallsParameters' />
  </message>
  <message name='noOfCallsResponseMessage'>
    <part name='response' element='tns:noOfCallsResponse' />
  </message>
  <message name='objectCategoryRequestMessage'>
    <part name='parameters' element='tns:objectCategoryParameters' />
  </message>
  <message name='objectCategoryResponseMessage'>
    <part name='response' element='tns:objectCategoryResponse' />
  </message>
  <portType name='bidvoyPortType'>
    <operation name='articleAnalyse'>
      <documentation>the actual search routine Provides you with statistical data based on your given product and category</documentation>
      <input message='tns:articleAnalyseRequestMessage' name='articleAnalyseInput' />
      <output message='tns:articleAnalyseResponseMessage' name='articleAnalyseOutput' />
    </operation>
    <operation name='categoryList'>
      <documentation>this method returns a list of categories based on your category search attribute</documentation>
      <input message='tns:categoryListRequestMessage' name='categoryListInput' />
      <output message='tns:categoryListResponseMessage' name='categoryListOutput' />
    </operation>
    <operation name='listCategoryOnce'>
      <documentation>returns a list of categories in which your product occures at least once</documentation>
      <input message='tns:listCategoryOnceRequestMessage' name='listCategoryOnceInput' />
      <output message='tns:listCategoryOnceResponseMessage' name='listCategoryOnceOutput' />
    </operation>
    <operation name='noOfCalls'>
      <documentation>each api token has a limited number of calls for each month This method shows you the limit of your key and provides you with the number of calls you have done</documentation>
      <input message='tns:noOfCallsRequestMessage' name='noOfCallsInput' />
      <output message='tns:noOfCallsResponseMessage' name='noOfCallsOutput' />
    </operation>
    <operation name='objectCategory'>
      <documentation>returns a category object specified by its unique id</documentation>
      <input message='tns:objectCategoryRequestMessage' name='objectCategoryInput' />
      <output message='tns:objectCategoryResponseMessage' name='objectCategoryOutput' />
    </operation>
  </portType>
  <binding name='bidvoyBinding' type='tns:bidvoyPortType'>
    <operation name='articleAnalyse'>
      <soap12:operation soapAction='http://articleAnalyse' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categoryList'>
      <soap12:operation soapAction='http://categoryList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listCategoryOnce'>
      <soap12:operation soapAction='http://listCategoryOnce' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='noOfCalls'>
      <soap12:operation soapAction='http://noOfCalls' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='objectCategory'>
      <soap12:operation soapAction='http://objectCategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='bidvoy'>
    <documentation>bidvoy is a product value tracking service for eBay By examining eBay auction data Bidvoy tracks price trends for products over time allowing you to examine that products average price changes in value over time and price margin Use Bidvoy s information to decide when to buy or sell a product Bidvoy offer a simple API for developers</documentation>
    <port name='bidvoyPort' binding='tns:bidvoyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://bidvoy' />
    </port>
  </service>
</definitions>