workspace/datasets/mashape_dataset/bigflixmoviesdownload.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/bigflixMoviesDownload/' name='bigflixMoviesDownload' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/bigflixMoviesDownload/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/bigflixMoviesDownload/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/bigflixMoviesDownload/'>
      <xsd:element name='getMoviesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pageindex' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='resultsperpage' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMoviesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n0' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n1' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n2' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n3' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n4' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n5' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n6' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n7' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n8' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='director' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n9' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='pageIndex' type='xsd:int' minOccurs='0' />
            <xsd:element name='powerdBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='movieDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='movieid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='movieDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n0' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='powerdBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='term' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n0' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n1' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='director' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n2' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n3' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n4' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n5' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' minOccurs='0' />
                  <xsd:element name='director' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n6' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n7' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='powerdBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='n8' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='musicDirector' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='director' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imdbRating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='releaseyear' type='xsd:int' minOccurs='0' />
                  <xsd:element name='imageUrl_420X420' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_200X280' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='downloadUrl2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl_210X210' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_480X600' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloadUrl4' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl_430X550' type='xsd:string' minOccurs='0' />
                  <xsd:element name='movieName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='imageUrl_430X210' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getMoviesRequestMessage'>
    <part name='parameters' element='tns:getMoviesParameters' />
  </message>
  <message name='getMoviesResponseMessage'>
    <part name='response' element='tns:getMoviesResponse' />
  </message>
  <message name='movieDetailsRequestMessage'>
    <part name='parameters' element='tns:movieDetailsParameters' />
  </message>
  <message name='movieDetailsResponseMessage'>
    <part name='response' element='tns:movieDetailsResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <portType name='bigflixMoviesDownloadPortType'>
    <operation name='getMovies'>
      <documentation>get All Movies</documentation>
      <input message='tns:getMoviesRequestMessage' name='getMoviesInput' />
      <output message='tns:getMoviesResponseMessage' name='getMoviesOutput' />
    </operation>
    <operation name='movieDetails'>
      <documentation>get Movie Details</documentation>
      <input message='tns:movieDetailsRequestMessage' name='movieDetailsInput' />
      <output message='tns:movieDetailsResponseMessage' name='movieDetailsOutput' />
    </operation>
    <operation name='search'>
      <documentation>search Movies</documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
  </portType>
  <binding name='bigflixMoviesDownloadBinding' type='tns:bigflixMoviesDownloadPortType'>
    <operation name='getMovies'>
      <soap12:operation soapAction='http://getMovies' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='movieDetails'>
      <soap12:operation soapAction='http://movieDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='bigflixMoviesDownload'>
    <documentation>this API offers a wide array of films movie trailers and reviews on and about Indian entertainment This unofficial API allows you to download and stream movies directly from BigFlix database Movies are available in different genres like action comedy drama romance etc and cater to several Indian languages like Hindi Telugu Tamil and Bengali</documentation>
    <port name='bigflixMoviesDownloadPort' binding='tns:bigflixMoviesDownloadBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://bigflixMoviesDownload' />
    </port>
  </service>
</definitions>