workspace/datasets/mashape_dataset/bingo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/bingo/' name='bingo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/bingo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/bingo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/bingo/'>
      <xsd:element name='playParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cardsnumber' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='winners' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='five_row' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='winners' type='xsd:int' minOccurs='0' />
                        <xsd:element name='number' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='bingo' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='winners' type='xsd:int' minOccurs='0' />
                        <xsd:element name='number' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='cards' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n1' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n1' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n3' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n4' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n5' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n6' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n8' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='n2' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n3' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n5' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n7' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n8' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n9' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='n3' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n1' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n2' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n4' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n7' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n9' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n2' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n1' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n1' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n2' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n3' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n6' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n7' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='n2' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n3' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n4' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n5' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n7' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n9' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='n3' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n4' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n5' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n6' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n7' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n8' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n3' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n1' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n1' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n3' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n4' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n7' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n9' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='n2' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n3' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n5' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n6' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n7' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n8' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='n3' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n1' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n2' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n3' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n7' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n9' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n4' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n1' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n1' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n2' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n6' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n8' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n9' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='n2' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n1' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n3' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n6' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n7' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n9' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='n3' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n1' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n4' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n5' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n6' type='xsd:int' minOccurs='0' />
                              <xsd:element name='n8' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='numbers_drawn' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='playRequestMessage'>
    <part name='parameters' element='tns:playParameters' />
  </message>
  <message name='playResponseMessage'>
    <part name='response' element='tns:playResponse' />
  </message>
  <portType name='bingoPortType'>
    <operation name='play'>
      <documentation></documentation>
      <input message='tns:playRequestMessage' name='playInput' />
      <output message='tns:playResponseMessage' name='playOutput' />
    </operation>
  </portType>
  <binding name='bingoBinding' type='tns:bingoPortType'>
    <operation name='play'>
      <soap12:operation soapAction='http://play' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='bingo'>
    <documentation>with this API you can easily develop a bingo game just design the graphic Card s makers Extraction number Winner cards Points</documentation>
    <port name='bingoPort' binding='tns:bingoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://bingo' />
    </port>
  </service>
</definitions>