workspace/datasets/mashape_dataset/bitballoon.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/bitballoon/' name='bitballoon' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/bitballoon/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/bitballoon/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/bitballoon/'>
      <xsd:element name='addSnippetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addSnippetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='my_meta_key' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createADnsRecordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='zoneid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createADnsRecordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createDnsZoneResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='domain_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='hostname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteADnsRecordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zoneid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteADnsRecordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDnsZoneParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='zoneid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDnsZoneResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='domain_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='hostname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pathtofile' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='general' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='goal' type='xsd:string' minOccurs='0' />
                  <xsd:element name='general_position' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='goal_position' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSnippetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='snippetid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSnippetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='my_meta_key' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='destroySiteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='destroySiteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='data' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ip' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='body' type='xsd:string' minOccurs='0' />
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='site_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDeployParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='deployid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDeployResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDeploysParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDeploysResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDnsZonesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='user_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pathtofile' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='size' type='xsd:int' minOccurs='0' />
            <xsd:element name='mime_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sha' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFilesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFilesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mime_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sha' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFormsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='paths' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='submission_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='site_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fields' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMetadataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMetadataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='my_meta_key' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecordsForAZoneParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='zoneid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecordsForAZoneResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='domain_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='hostname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSiteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='site' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSiteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSitesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSnippetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='snippetid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSnippetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='my_meta_key' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSnippetsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSnippetsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='general' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='goal' type='xsd:string' minOccurs='0' />
                  <xsd:element name='general_position' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='goal_position' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSubmissionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='data' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ip' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='body' type='xsd:string' minOccurs='0' />
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='site_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='affiliate_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='last_login' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='site_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postAZipFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='putFileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pathtofile' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='putFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='general' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='goal' type='xsd:string' minOccurs='0' />
                  <xsd:element name='general_position' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='goal_position' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='restoreDeployParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='deployid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='restoreDeployResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateMetadataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateMetadataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateSiteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateSiteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='data' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ip' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='body' type='xsd:string' minOccurs='0' />
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='site_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateSnippetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='snippetid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateSnippetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='my_meta_key' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addSnippetRequestMessage'>
    <part name='parameters' element='tns:addSnippetParameters' />
  </message>
  <message name='addSnippetResponseMessage'>
    <part name='response' element='tns:addSnippetResponse' />
  </message>
  <message name='createADnsRecordRequestMessage'>
    <part name='parameters' element='tns:createADnsRecordParameters' />
  </message>
  <message name='createADnsRecordResponseMessage'>
    <part name='response' element='tns:createADnsRecordResponse' />
  </message>
  <message name='createDnsZoneRequestMessage' />
  <message name='createDnsZoneResponseMessage'>
    <part name='response' element='tns:createDnsZoneResponse' />
  </message>
  <message name='deleteADnsRecordRequestMessage'>
    <part name='parameters' element='tns:deleteADnsRecordParameters' />
  </message>
  <message name='deleteADnsRecordResponseMessage'>
    <part name='response' element='tns:deleteADnsRecordResponse' />
  </message>
  <message name='deleteDnsZoneRequestMessage'>
    <part name='parameters' element='tns:deleteDnsZoneParameters' />
  </message>
  <message name='deleteDnsZoneResponseMessage'>
    <part name='response' element='tns:deleteDnsZoneResponse' />
  </message>
  <message name='deleteFileRequestMessage'>
    <part name='parameters' element='tns:deleteFileParameters' />
  </message>
  <message name='deleteFileResponseMessage'>
    <part name='response' element='tns:deleteFileResponse' />
  </message>
  <message name='deleteSnippetRequestMessage'>
    <part name='parameters' element='tns:deleteSnippetParameters' />
  </message>
  <message name='deleteSnippetResponseMessage'>
    <part name='response' element='tns:deleteSnippetResponse' />
  </message>
  <message name='destroySiteRequestMessage'>
    <part name='parameters' element='tns:destroySiteParameters' />
  </message>
  <message name='destroySiteResponseMessage'>
    <part name='response' element='tns:destroySiteResponse' />
  </message>
  <message name='getDeployRequestMessage'>
    <part name='parameters' element='tns:getDeployParameters' />
  </message>
  <message name='getDeployResponseMessage'>
    <part name='response' element='tns:getDeployResponse' />
  </message>
  <message name='getDeploysRequestMessage'>
    <part name='parameters' element='tns:getDeploysParameters' />
  </message>
  <message name='getDeploysResponseMessage'>
    <part name='response' element='tns:getDeploysResponse' />
  </message>
  <message name='getDnsZonesRequestMessage' />
  <message name='getDnsZonesResponseMessage'>
    <part name='response' element='tns:getDnsZonesResponse' />
  </message>
  <message name='getFileRequestMessage'>
    <part name='parameters' element='tns:getFileParameters' />
  </message>
  <message name='getFileResponseMessage'>
    <part name='response' element='tns:getFileResponse' />
  </message>
  <message name='getFilesRequestMessage'>
    <part name='parameters' element='tns:getFilesParameters' />
  </message>
  <message name='getFilesResponseMessage'>
    <part name='response' element='tns:getFilesResponse' />
  </message>
  <message name='getFormsRequestMessage' />
  <message name='getFormsResponseMessage'>
    <part name='response' element='tns:getFormsResponse' />
  </message>
  <message name='getMetadataRequestMessage'>
    <part name='parameters' element='tns:getMetadataParameters' />
  </message>
  <message name='getMetadataResponseMessage'>
    <part name='response' element='tns:getMetadataResponse' />
  </message>
  <message name='getRecordsForAZoneRequestMessage'>
    <part name='parameters' element='tns:getRecordsForAZoneParameters' />
  </message>
  <message name='getRecordsForAZoneResponseMessage'>
    <part name='response' element='tns:getRecordsForAZoneResponse' />
  </message>
  <message name='getSiteRequestMessage'>
    <part name='parameters' element='tns:getSiteParameters' />
  </message>
  <message name='getSiteResponseMessage'>
    <part name='response' element='tns:getSiteResponse' />
  </message>
  <message name='getSitesRequestMessage' />
  <message name='getSitesResponseMessage'>
    <part name='response' element='tns:getSitesResponse' />
  </message>
  <message name='getSnippetRequestMessage'>
    <part name='parameters' element='tns:getSnippetParameters' />
  </message>
  <message name='getSnippetResponseMessage'>
    <part name='response' element='tns:getSnippetResponse' />
  </message>
  <message name='getSnippetsRequestMessage'>
    <part name='parameters' element='tns:getSnippetsParameters' />
  </message>
  <message name='getSnippetsResponseMessage'>
    <part name='response' element='tns:getSnippetsResponse' />
  </message>
  <message name='getSubmissionsRequestMessage' />
  <message name='getSubmissionsResponseMessage'>
    <part name='response' element='tns:getSubmissionsResponse' />
  </message>
  <message name='getUsersRequestMessage' />
  <message name='getUsersResponseMessage'>
    <part name='response' element='tns:getUsersResponse' />
  </message>
  <message name='postAZipFileRequestMessage' />
  <message name='postAZipFileResponseMessage'>
    <part name='response' element='tns:postAZipFileResponse' />
  </message>
  <message name='putFileRequestMessage'>
    <part name='parameters' element='tns:putFileParameters' />
  </message>
  <message name='putFileResponseMessage'>
    <part name='response' element='tns:putFileResponse' />
  </message>
  <message name='restoreDeployRequestMessage'>
    <part name='parameters' element='tns:restoreDeployParameters' />
  </message>
  <message name='restoreDeployResponseMessage'>
    <part name='response' element='tns:restoreDeployResponse' />
  </message>
  <message name='updateMetadataRequestMessage'>
    <part name='parameters' element='tns:updateMetadataParameters' />
  </message>
  <message name='updateMetadataResponseMessage'>
    <part name='response' element='tns:updateMetadataResponse' />
  </message>
  <message name='updateSiteRequestMessage'>
    <part name='parameters' element='tns:updateSiteParameters' />
  </message>
  <message name='updateSiteResponseMessage'>
    <part name='response' element='tns:updateSiteResponse' />
  </message>
  <message name='updateSnippetRequestMessage'>
    <part name='parameters' element='tns:updateSnippetParameters' />
  </message>
  <message name='updateSnippetResponseMessage'>
    <part name='response' element='tns:updateSnippetResponse' />
  </message>
  <portType name='bitballoonPortType'>
    <operation name='addSnippet'>
      <documentation>pOST sites site id snippets add a new snippet to a site</documentation>
      <input message='tns:addSnippetRequestMessage' name='addSnippetInput' />
      <output message='tns:addSnippetResponseMessage' name='addSnippetOutput' />
    </operation>
    <operation name='createADnsRecord'>
      <documentation>pOST dns zones zone id dns records arguments type hostname value ttl supported types A CNAME TXT MX</documentation>
      <input message='tns:createADnsRecordRequestMessage' name='createADnsRecordInput' />
      <output message='tns:createADnsRecordResponseMessage' name='createADnsRecordOutput' />
    </operation>
    <operation name='createDnsZone'>
      <documentation>pOST dns zones create a new dns zone arguments name</documentation>
      <input message='tns:createDnsZoneRequestMessage' name='createDnsZoneInput' />
      <output message='tns:createDnsZoneResponseMessage' name='createDnsZoneOutput' />
    </operation>
    <operation name='deleteADnsRecord'>
      <documentation>dELETE dns zones zone id dns records id deletes a record</documentation>
      <input message='tns:deleteADnsRecordRequestMessage' name='deleteADnsRecordInput' />
      <output message='tns:deleteADnsRecordResponseMessage' name='deleteADnsRecordOutput' />
    </operation>
    <operation name='deleteDnsZone'>
      <documentation>dELETE dns zones zone id delete a dns zone</documentation>
      <input message='tns:deleteDnsZoneRequestMessage' name='deleteDnsZoneInput' />
      <output message='tns:deleteDnsZoneResponseMessage' name='deleteDnsZoneOutput' />
    </operation>
    <operation name='deleteFile'>
      <documentation>dELETE sites site id files path to file will delete a file from the site Note that this creates a new version of the site without the deleted file The old version can still be rolled back and the file does not get deleted from BitBalloon s servers</documentation>
      <input message='tns:deleteFileRequestMessage' name='deleteFileInput' />
      <output message='tns:deleteFileResponseMessage' name='deleteFileOutput' />
    </operation>
    <operation name='deleteSnippet'>
      <documentation>dELETE sites site id snippets snippet id delete a snippet</documentation>
      <input message='tns:deleteSnippetRequestMessage' name='deleteSnippetInput' />
      <output message='tns:deleteSnippetResponseMessage' name='deleteSnippetOutput' />
    </operation>
    <operation name='destroySite'>
      <documentation>dELETE sites site id will permanently delete a site DELETE sites site domain will permanently delete a site</documentation>
      <input message='tns:destroySiteRequestMessage' name='destroySiteInput' />
      <output message='tns:destroySiteResponseMessage' name='destroySiteOutput' />
    </operation>
    <operation name='getDeploy'>
      <documentation>gET sites site id deploys deploy id a specific deploy</documentation>
      <input message='tns:getDeployRequestMessage' name='getDeployInput' />
      <output message='tns:getDeployResponseMessage' name='getDeployOutput' />
    </operation>
    <operation name='getDeploys'>
      <documentation>gET sites site id deploys a list of all deploys</documentation>
      <input message='tns:getDeploysRequestMessage' name='getDeploysInput' />
      <output message='tns:getDeploysResponseMessage' name='getDeploysOutput' />
    </operation>
    <operation name='getDnsZones'>
      <documentation>gET dns zones get a list of DNS zones</documentation>
      <input message='tns:getDnsZonesRequestMessage' name='getDnsZonesInput' />
      <output message='tns:getDnsZonesResponseMessage' name='getDnsZonesOutput' />
    </operation>
    <operation name='getFile'>
      <documentation>gET sites site id files path to file returns the file</documentation>
      <input message='tns:getFileRequestMessage' name='getFileInput' />
      <output message='tns:getFileResponseMessage' name='getFileOutput' />
    </operation>
    <operation name='getFiles'>
      <documentation>gET sites site id files will return a list of all the files in the current deploy</documentation>
      <input message='tns:getFilesRequestMessage' name='getFilesInput' />
      <output message='tns:getFilesResponseMessage' name='getFilesOutput' />
    </operation>
    <operation name='getForms'>
      <documentation>gET forms will return a list of forms</documentation>
      <input message='tns:getFormsRequestMessage' name='getFormsInput' />
      <output message='tns:getFormsResponseMessage' name='getFormsOutput' />
    </operation>
    <operation name='getMetadata'>
      <documentation>gET sites site id metadata get the metadata for a site</documentation>
      <input message='tns:getMetadataRequestMessage' name='getMetadataInput' />
      <output message='tns:getMetadataResponseMessage' name='getMetadataOutput' />
    </operation>
    <operation name='getRecordsForAZone'>
      <documentation>gET dns zones zone id dns records get a list of dns records</documentation>
      <input message='tns:getRecordsForAZoneRequestMessage' name='getRecordsForAZoneInput' />
      <output message='tns:getRecordsForAZoneResponseMessage' name='getRecordsForAZoneOutput' />
    </operation>
    <operation name='getSite'>
      <documentation>gET sites e fe a c f de fb b will return the site from its ID GET sites www example com will return the site matching the domain www example com</documentation>
      <input message='tns:getSiteRequestMessage' name='getSiteInput' />
      <output message='tns:getSiteResponseMessage' name='getSiteOutput' />
    </operation>
    <operation name='getSites'>
      <documentation>gET sites will return all sites you have access to</documentation>
      <input message='tns:getSitesRequestMessage' name='getSitesInput' />
      <output message='tns:getSitesResponseMessage' name='getSitesOutput' />
    </operation>
    <operation name='getSnippet'>
      <documentation>gET sites site id snippets snippet id get a specific snippet</documentation>
      <input message='tns:getSnippetRequestMessage' name='getSnippetInput' />
      <output message='tns:getSnippetResponseMessage' name='getSnippetOutput' />
    </operation>
    <operation name='getSnippets'>
      <documentation>gET sites site id snippets get a list of snippets specific to this site a reseller may set global snippets that won t be included in this list</documentation>
      <input message='tns:getSnippetsRequestMessage' name='getSnippetsInput' />
      <output message='tns:getSnippetsResponseMessage' name='getSnippetsOutput' />
    </operation>
    <operation name='getSubmissions'>
      <documentation>gET submissions will return a list of form submissions</documentation>
      <input message='tns:getSubmissionsRequestMessage' name='getSubmissionsInput' />
      <output message='tns:getSubmissionsResponseMessage' name='getSubmissionsOutput' />
    </operation>
    <operation name='getUsers'>
      <documentation>gET users get a list users you have access to</documentation>
      <input message='tns:getUsersRequestMessage' name='getUsersInput' />
      <output message='tns:getUsersResponseMessage' name='getUsersOutput' />
    </operation>
    <operation name='postAZipFile'>
      <documentation>pOST sites with zip zip file You must use Content Type multipart form data to send the zip file in a property called zip</documentation>
      <input message='tns:postAZipFileRequestMessage' name='postAZipFileInput' />
      <output message='tns:postAZipFileResponseMessage' name='postAZipFileOutput' />
    </operation>
    <operation name='putFile'>
      <documentation>pUT sites site id files path to file will add or update a file reprocess all assets and create a new deploy The request body will be used as the new content for this file If the site is still in uploading mode after creating a site with a list of files and this is the last file</documentation>
      <input message='tns:putFileRequestMessage' name='putFileInput' />
      <output message='tns:putFileResponseMessage' name='putFileOutput' />
    </operation>
    <operation name='restoreDeploy'>
      <documentation>pOST sites site id deploys deploy id restore restore an old deploy and make it the live version of the site</documentation>
      <input message='tns:restoreDeployRequestMessage' name='restoreDeployInput' />
      <output message='tns:restoreDeployResponseMessage' name='restoreDeployOutput' />
    </operation>
    <operation name='updateMetadata'>
      <documentation>pUT sites site id metadata replace the metdata object with a new metadata object</documentation>
      <input message='tns:updateMetadataRequestMessage' name='updateMetadataInput' />
      <output message='tns:updateMetadataResponseMessage' name='updateMetadataOutput' />
    </operation>
    <operation name='updateSite'>
      <documentation>this lets you update the name custom domain password and notification email fields of a site</documentation>
      <input message='tns:updateSiteRequestMessage' name='updateSiteInput' />
      <output message='tns:updateSiteResponseMessage' name='updateSiteOutput' />
    </operation>
    <operation name='updateSnippet'>
      <documentation>pUT sites site id snippets snippet id replace a snippet</documentation>
      <input message='tns:updateSnippetRequestMessage' name='updateSnippetInput' />
      <output message='tns:updateSnippetResponseMessage' name='updateSnippetOutput' />
    </operation>
  </portType>
  <binding name='bitballoonBinding' type='tns:bitballoonPortType'>
    <operation name='addSnippet'>
      <soap12:operation soapAction='http://addSnippet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createADnsRecord'>
      <soap12:operation soapAction='http://createADnsRecord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createDnsZone'>
      <soap12:operation soapAction='http://createDnsZone' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteADnsRecord'>
      <soap12:operation soapAction='http://deleteADnsRecord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteDnsZone'>
      <soap12:operation soapAction='http://deleteDnsZone' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteFile'>
      <soap12:operation soapAction='http://deleteFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteSnippet'>
      <soap12:operation soapAction='http://deleteSnippet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='destroySite'>
      <soap12:operation soapAction='http://destroySite' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDeploy'>
      <soap12:operation soapAction='http://getDeploy' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDeploys'>
      <soap12:operation soapAction='http://getDeploys' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDnsZones'>
      <soap12:operation soapAction='http://getDnsZones' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getFile'>
      <soap12:operation soapAction='http://getFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getFiles'>
      <soap12:operation soapAction='http://getFiles' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getForms'>
      <soap12:operation soapAction='http://getForms' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMetadata'>
      <soap12:operation soapAction='http://getMetadata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRecordsForAZone'>
      <soap12:operation soapAction='http://getRecordsForAZone' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSite'>
      <soap12:operation soapAction='http://getSite' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSites'>
      <soap12:operation soapAction='http://getSites' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSnippet'>
      <soap12:operation soapAction='http://getSnippet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSnippets'>
      <soap12:operation soapAction='http://getSnippets' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSubmissions'>
      <soap12:operation soapAction='http://getSubmissions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUsers'>
      <soap12:operation soapAction='http://getUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postAZipFile'>
      <soap12:operation soapAction='http://postAZipFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='putFile'>
      <soap12:operation soapAction='http://putFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='restoreDeploy'>
      <soap12:operation soapAction='http://restoreDeploy' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateMetadata'>
      <soap12:operation soapAction='http://updateMetadata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateSite'>
      <soap12:operation soapAction='http://updateSite' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateSnippet'>
      <soap12:operation soapAction='http://updateSnippet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='bitballoon'>
    <documentation>the ultimate hosting platform for your HTML sites apps BitBalloon is all about connecting the elegant simplicity of static sites with the power of the programmable web Our focus is making it as simple as possible to publish sites that are optimized for performance and leverage the API economy in a meaningful way</documentation>
    <port name='bitballoonPort' binding='tns:bitballoonBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://bitballoon' />
    </port>
  </service>
</definitions>