workspace/datasets/mashape_dataset/bitcointy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/bitcointy/' name='bitcointy' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/bitcointy/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/bitcointy/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/bitcointy/'>
      <xsd:element name='convertABtcAmountToTheDesiredCurrencyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='amount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='currency' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='convertABtcAmountToTheDesiredCurrencyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAveragePriceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currency' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAveragePriceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getChartDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getChartDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getConversationRatesForAllSourcesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currency' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getConversationRatesForAllSourcesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getConversationRatesInSourceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currency' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ticker' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getConversationRatesInSourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCurrencyConversionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currency' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCurrencyConversionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='convertABtcAmountToTheDesiredCurrencyRequestMessage'>
    <part name='parameters' element='tns:convertABtcAmountToTheDesiredCurrencyParameters' />
  </message>
  <message name='convertABtcAmountToTheDesiredCurrencyResponseMessage'>
    <part name='response' element='tns:convertABtcAmountToTheDesiredCurrencyResponse' />
  </message>
  <message name='getAveragePriceRequestMessage'>
    <part name='parameters' element='tns:getAveragePriceParameters' />
  </message>
  <message name='getAveragePriceResponseMessage'>
    <part name='response' element='tns:getAveragePriceResponse' />
  </message>
  <message name='getChartDataRequestMessage'>
    <part name='parameters' element='tns:getChartDataParameters' />
  </message>
  <message name='getChartDataResponseMessage'>
    <part name='response' element='tns:getChartDataResponse' />
  </message>
  <message name='getConversationRatesForAllSourcesRequestMessage'>
    <part name='parameters' element='tns:getConversationRatesForAllSourcesParameters' />
  </message>
  <message name='getConversationRatesForAllSourcesResponseMessage'>
    <part name='response' element='tns:getConversationRatesForAllSourcesResponse' />
  </message>
  <message name='getConversationRatesInSourceRequestMessage'>
    <part name='parameters' element='tns:getConversationRatesInSourceParameters' />
  </message>
  <message name='getConversationRatesInSourceResponseMessage'>
    <part name='response' element='tns:getConversationRatesInSourceResponse' />
  </message>
  <message name='getCurrencyConversionRequestMessage'>
    <part name='parameters' element='tns:getCurrencyConversionParameters' />
  </message>
  <message name='getCurrencyConversionResponseMessage'>
    <part name='response' element='tns:getCurrencyConversionResponse' />
  </message>
  <portType name='bitcointyPortType'>
    <operation name='convertABtcAmountToTheDesiredCurrency'>
      <documentation>gET convert amount currency to convert an amount of BTC to the desired currency</documentation>
      <input message='tns:convertABtcAmountToTheDesiredCurrencyRequestMessage' name='convertABtcAmountToTheDesiredCurrencyInput' />
      <output message='tns:convertABtcAmountToTheDesiredCurrencyResponseMessage' name='convertABtcAmountToTheDesiredCurrencyOutput' />
    </operation>
    <operation name='getAveragePrice'>
      <documentation>gET average currency to get an average price based on all the providers for a currency</documentation>
      <input message='tns:getAveragePriceRequestMessage' name='getAveragePriceInput' />
      <output message='tns:getAveragePriceResponseMessage' name='getAveragePriceOutput' />
    </operation>
    <operation name='getChartData'>
      <documentation>gET charts type to get the data that fills the charts in https bitcointy herokuapp com types are circulation price and transactions</documentation>
      <input message='tns:getChartDataRequestMessage' name='getChartDataInput' />
      <output message='tns:getChartDataResponseMessage' name='getChartDataOutput' />
    </operation>
    <operation name='getConversationRatesForAllSources'>
      <documentation>gET all currency to get all the conversion rates in all sources for a currency</documentation>
      <input message='tns:getConversationRatesForAllSourcesRequestMessage' name='getConversationRatesForAllSourcesInput' />
      <output message='tns:getConversationRatesForAllSourcesResponseMessage' name='getConversationRatesForAllSourcesOutput' />
    </operation>
    <operation name='getConversationRatesInSource'>
      <documentation>gET ticker currency to get the conversion rates in a source see next section for available providers for a currency</documentation>
      <input message='tns:getConversationRatesInSourceRequestMessage' name='getConversationRatesInSourceInput' />
      <output message='tns:getConversationRatesInSourceResponseMessage' name='getConversationRatesInSourceOutput' />
    </operation>
    <operation name='getCurrencyConversion'>
      <documentation>gET price currency to get the plain text conversion for a currency</documentation>
      <input message='tns:getCurrencyConversionRequestMessage' name='getCurrencyConversionInput' />
      <output message='tns:getCurrencyConversionResponseMessage' name='getCurrencyConversionOutput' />
    </operation>
  </portType>
  <binding name='bitcointyBinding' type='tns:bitcointyPortType'>
    <operation name='convertABtcAmountToTheDesiredCurrency'>
      <soap12:operation soapAction='http://convertABtcAmountToTheDesiredCurrency' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAveragePrice'>
      <soap12:operation soapAction='http://getAveragePrice' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getChartData'>
      <soap12:operation soapAction='http://getChartData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getConversationRatesForAllSources'>
      <soap12:operation soapAction='http://getConversationRatesForAllSources' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getConversationRatesInSource'>
      <soap12:operation soapAction='http://getConversationRatesInSource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCurrencyConversion'>
      <soap12:operation soapAction='http://getCurrencyConversion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='bitcointy'>
    <documentation>see the value of a Bitcoin according to different sources with a simple JSON API All major currencies are supported USD EUR GBP CAD JPY CNY etc</documentation>
    <port name='bitcointyPort' binding='tns:bitcointyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://bitcointy' />
    </port>
  </service>
</definitions>