workspace/datasets/mashape_dataset/blacklistip.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/blacklistIp/' name='blacklistIp' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/blacklistIp/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/blacklistIp/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/blacklistIp/'>
      <xsd:element name='ipvIpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipvIpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='ipvIpRequestMessage'>
    <part name='parameters' element='tns:ipvIpParameters' />
  </message>
  <message name='ipvIpResponseMessage'>
    <part name='response' element='tns:ipvIpResponse' />
  </message>
  <portType name='blacklistIpPortType'>
    <operation name='ipvIp'>
      <documentation>check if an IP is blacklisted</documentation>
      <input message='tns:ipvIpRequestMessage' name='ipvIpInput' />
      <output message='tns:ipvIpResponseMessage' name='ipvIpOutput' />
    </operation>
  </portType>
  <binding name='blacklistIpBinding' type='tns:blacklistIpPortType'>
    <operation name='ipvIp'>
      <soap12:operation soapAction='http://ipvIp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='blacklistIp'>
    <documentation>rest api to verify if an IP has been blacklisted</documentation>
    <port name='blacklistIpPort' binding='tns:blacklistIpBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://blacklistIp' />
    </port>
  </service>
</definitions>