workspace/datasets/mashape_dataset/blipadealworldwidedeals.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/blipadealWorldwideDeals/' name='blipadealWorldwideDeals' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/blipadealWorldwideDeals/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/blipadealWorldwideDeals/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/blipadealWorldwideDeals/'>
      <xsd:element name='getAllCategoriesGivenACityAndCountryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikeytoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='apisecrettoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagestatus' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramcity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramcountry' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllCategoriesGivenACityAndCountryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='city_select' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_action' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='category_name_list' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='category_deal_list' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='blp_category_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_category_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_category_display' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_category_name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message_desc' type='xsd:string' minOccurs='0' />
            <xsd:element name='message_key' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='country_select' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllCitiesWithDealsGivenACountryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikeytoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='apisecrettoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagestatus' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramcountry' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllCitiesWithDealsGivenACountryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message_status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_action' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='country_select' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='location_list' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='deal_disp_loc' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='deal_location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='deal_number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='deal_time_left' type='xsd:int' minOccurs='0' />
                  <xsd:element name='deal_country' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllCountriesThatHaveDealsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikeytoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='apisecrettoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagestatus' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllCountriesThatHaveDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message_status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_action' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_desc' type='xsd:string' minOccurs='0' />
            <xsd:element name='country_list' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='blp_main_deal_detail_country_location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_city_count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message_key' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClosetsLocationsWithDealsByCountryAndCityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikeytoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='apisecrettoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagestatus' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramcity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramcountry' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramdistance' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClosetsLocationsWithDealsByCountryAndCityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message_status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_action' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='poi_list' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='blp_publish_lat_pos' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_publish_long_pos' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_distance' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_country_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_deal_count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message_desc' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClosetsLocationsWithDealsByLngAndLatParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikeytoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='apisecrettoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagestatus' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramdistance' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramlat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramlng' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClosetsLocationsWithDealsByLngAndLatResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message_status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_action' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='poi_list' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='blp_publish_lat_pos' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_publish_long_pos' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_distance' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_country_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_deal_count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message_desc' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealsBasedOnCategoryAndLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikeytoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='apisecrettoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='categorylist' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cityselect' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='countryselect' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagestatus' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortmethod' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealsBasedOnCategoryAndLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='city_select' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_vendor' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_category' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='blp_category_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_category_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_category_display' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_category_name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message_action' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_location' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_list' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='blp_main_currency_symbol' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_deal_lang_from_lang' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_deal_company_name_translate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_retail_value' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_lang_to_lang' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_original_language' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_company_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_deal_items_bought' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_deal_vendor_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_url_buy_ref' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_discount_percent' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_time_left' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_timestamp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_deal_location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_deal_summary_translate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_url_ref' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='blp_main_deal_savings' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_deal_price' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_img_ref' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='deal_category_key' type='xsd:string' minOccurs='0' />
            <xsd:element name='deal_category_select' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_desc' type='xsd:string' minOccurs='0' />
            <xsd:element name='message_key' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='country_select' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealsBasedOnLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikeytoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='apisecrettoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cityselect' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='countryselect' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagestatus' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortmethod' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealsBasedOnLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='city_select' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_vendor' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_category' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='blp_category_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_category_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_category_display' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_category_name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message_action' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_location' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_list' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='blp_main_currency_symbol' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_deal_lang_from_lang' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_deal_company_name_translate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_retail_value' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_lang_to_lang' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_original_language' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_company_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_deal_items_bought' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_deal_vendor_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_url_buy_ref' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_discount_percent' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_time_left' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_timestamp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_deal_location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_deal_summary_translate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_url_ref' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='blp_main_deal_savings' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_deal_price' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_img_ref' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='deal_category_key' type='xsd:string' minOccurs='0' />
            <xsd:element name='deal_category_select' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_desc' type='xsd:string' minOccurs='0' />
            <xsd:element name='message_key' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='country_select' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealsBasedOnLocationAndKeywordsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikeytoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='apisecrettoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagestatus' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramcity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramcountry' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramkeywordlist' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paramsortmethod' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealsBasedOnLocationAndKeywordsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='city_select' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_vendor' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_category' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='blp_category_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_category_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_category_display' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_category_name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message_action' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_location' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='deal_list' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='blp_main_currency_symbol' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_deal_lang_from_lang' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_deal_company_name_translate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_retail_value' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_lang_to_lang' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_original_language' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_company_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_deal_items_bought' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_deal_vendor_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_url_buy_ref' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_discount_percent' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_time_left' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_timestamp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='blp_main_deal_location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blp_main_deal_summary_translate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blp_main_deal_url_ref' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='blp_main_deal_savings' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_deal_price' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='blp_main_deal_img_ref' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='deal_category_key' type='xsd:string' minOccurs='0' />
            <xsd:element name='deal_category_select' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_desc' type='xsd:string' minOccurs='0' />
            <xsd:element name='message_key' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='country_select' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecommendedCategoryBasedOnFreeTxtParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikeytoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='apisecrettoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='freetext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagestatus' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecommendedCategoryBasedOnFreeTxtResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message_status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message_action' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='api_category_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='api_category_diff' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='api_category_type' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='array' type='xsd:normalizedString' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getAllCategoriesGivenACityAndCountryRequestMessage'>
    <part name='parameters' element='tns:getAllCategoriesGivenACityAndCountryParameters' />
  </message>
  <message name='getAllCategoriesGivenACityAndCountryResponseMessage'>
    <part name='response' element='tns:getAllCategoriesGivenACityAndCountryResponse' />
  </message>
  <message name='getAllCitiesWithDealsGivenACountryRequestMessage'>
    <part name='parameters' element='tns:getAllCitiesWithDealsGivenACountryParameters' />
  </message>
  <message name='getAllCitiesWithDealsGivenACountryResponseMessage'>
    <part name='response' element='tns:getAllCitiesWithDealsGivenACountryResponse' />
  </message>
  <message name='getAllCountriesThatHaveDealsRequestMessage'>
    <part name='parameters' element='tns:getAllCountriesThatHaveDealsParameters' />
  </message>
  <message name='getAllCountriesThatHaveDealsResponseMessage'>
    <part name='response' element='tns:getAllCountriesThatHaveDealsResponse' />
  </message>
  <message name='getClosetsLocationsWithDealsByCountryAndCityRequestMessage'>
    <part name='parameters' element='tns:getClosetsLocationsWithDealsByCountryAndCityParameters' />
  </message>
  <message name='getClosetsLocationsWithDealsByCountryAndCityResponseMessage'>
    <part name='response' element='tns:getClosetsLocationsWithDealsByCountryAndCityResponse' />
  </message>
  <message name='getClosetsLocationsWithDealsByLngAndLatRequestMessage'>
    <part name='parameters' element='tns:getClosetsLocationsWithDealsByLngAndLatParameters' />
  </message>
  <message name='getClosetsLocationsWithDealsByLngAndLatResponseMessage'>
    <part name='response' element='tns:getClosetsLocationsWithDealsByLngAndLatResponse' />
  </message>
  <message name='getDealsBasedOnCategoryAndLocationRequestMessage'>
    <part name='parameters' element='tns:getDealsBasedOnCategoryAndLocationParameters' />
  </message>
  <message name='getDealsBasedOnCategoryAndLocationResponseMessage'>
    <part name='response' element='tns:getDealsBasedOnCategoryAndLocationResponse' />
  </message>
  <message name='getDealsBasedOnLocationRequestMessage'>
    <part name='parameters' element='tns:getDealsBasedOnLocationParameters' />
  </message>
  <message name='getDealsBasedOnLocationResponseMessage'>
    <part name='response' element='tns:getDealsBasedOnLocationResponse' />
  </message>
  <message name='getDealsBasedOnLocationAndKeywordsRequestMessage'>
    <part name='parameters' element='tns:getDealsBasedOnLocationAndKeywordsParameters' />
  </message>
  <message name='getDealsBasedOnLocationAndKeywordsResponseMessage'>
    <part name='response' element='tns:getDealsBasedOnLocationAndKeywordsResponse' />
  </message>
  <message name='getRecommendedCategoryBasedOnFreeTxtRequestMessage'>
    <part name='parameters' element='tns:getRecommendedCategoryBasedOnFreeTxtParameters' />
  </message>
  <message name='getRecommendedCategoryBasedOnFreeTxtResponseMessage'>
    <part name='response' element='tns:getRecommendedCategoryBasedOnFreeTxtResponse' />
  </message>
  <portType name='blipadealWorldwideDealsPortType'>
    <operation name='getAllCategoriesGivenACityAndCountry'>
      <documentation>this function will get all the categories given a city and a country The list of countries can be obtained from api get country url and the list of cities can be retrieved from api get location url</documentation>
      <input message='tns:getAllCategoriesGivenACityAndCountryRequestMessage' name='getAllCategoriesGivenACityAndCountryInput' />
      <output message='tns:getAllCategoriesGivenACityAndCountryResponseMessage' name='getAllCategoriesGivenACityAndCountryOutput' />
    </operation>
    <operation name='getAllCitiesWithDealsGivenACountry'>
      <documentation>this function will retrieve all the cities within a given country that have deals You can retrieve the list of countries by invoking the function api get country url</documentation>
      <input message='tns:getAllCitiesWithDealsGivenACountryRequestMessage' name='getAllCitiesWithDealsGivenACountryInput' />
      <output message='tns:getAllCitiesWithDealsGivenACountryResponseMessage' name='getAllCitiesWithDealsGivenACountryOutput' />
    </operation>
    <operation name='getAllCountriesThatHaveDeals'>
      <documentation>this function will retrieve all countries that have deals within BlipADeal</documentation>
      <input message='tns:getAllCountriesThatHaveDealsRequestMessage' name='getAllCountriesThatHaveDealsInput' />
      <output message='tns:getAllCountriesThatHaveDealsResponseMessage' name='getAllCountriesThatHaveDealsOutput' />
    </operation>
    <operation name='getClosetsLocationsWithDealsByCountryAndCity'>
      <documentation>get the locations closest to a given city and country name that have deals City and country can be given by calling api get location and api get country respectively</documentation>
      <input message='tns:getClosetsLocationsWithDealsByCountryAndCityRequestMessage' name='getClosetsLocationsWithDealsByCountryAndCityInput' />
      <output message='tns:getClosetsLocationsWithDealsByCountryAndCityResponseMessage' name='getClosetsLocationsWithDealsByCountryAndCityOutput' />
    </operation>
    <operation name='getClosetsLocationsWithDealsByLngAndLat'>
      <documentation>get the locations closest to a given long lat that contain deals</documentation>
      <input message='tns:getClosetsLocationsWithDealsByLngAndLatRequestMessage' name='getClosetsLocationsWithDealsByLngAndLatInput' />
      <output message='tns:getClosetsLocationsWithDealsByLngAndLatResponseMessage' name='getClosetsLocationsWithDealsByLngAndLatOutput' />
    </operation>
    <operation name='getDealsBasedOnCategoryAndLocation'>
      <documentation>get the full set of deals given a category and location Location can be retrieved by api get country and api get location or the geo functions to find the nearest location in country and city text</documentation>
      <input message='tns:getDealsBasedOnCategoryAndLocationRequestMessage' name='getDealsBasedOnCategoryAndLocationInput' />
      <output message='tns:getDealsBasedOnCategoryAndLocationResponseMessage' name='getDealsBasedOnCategoryAndLocationOutput' />
    </operation>
    <operation name='getDealsBasedOnLocation'>
      <documentation>get all deals based given a country and a city The list of countries and cities can be retrieved from api get country url and api get location url or from the geo functions</documentation>
      <input message='tns:getDealsBasedOnLocationRequestMessage' name='getDealsBasedOnLocationInput' />
      <output message='tns:getDealsBasedOnLocationResponseMessage' name='getDealsBasedOnLocationOutput' />
    </operation>
    <operation name='getDealsBasedOnLocationAndKeywords'>
      <documentation>get the full deals list given country and city denoted by api get country url and api get location url and keyword array</documentation>
      <input message='tns:getDealsBasedOnLocationAndKeywordsRequestMessage' name='getDealsBasedOnLocationAndKeywordsInput' />
      <output message='tns:getDealsBasedOnLocationAndKeywordsResponseMessage' name='getDealsBasedOnLocationAndKeywordsOutput' />
    </operation>
    <operation name='getRecommendedCategoryBasedOnFreeTxt'>
      <documentation>this function will get the recommended category based on free text provided limited to chars So for example if you give it buying an iPod it will recommend the best category for that</documentation>
      <input message='tns:getRecommendedCategoryBasedOnFreeTxtRequestMessage' name='getRecommendedCategoryBasedOnFreeTxtInput' />
      <output message='tns:getRecommendedCategoryBasedOnFreeTxtResponseMessage' name='getRecommendedCategoryBasedOnFreeTxtOutput' />
    </operation>
  </portType>
  <binding name='blipadealWorldwideDealsBinding' type='tns:blipadealWorldwideDealsPortType'>
    <operation name='getAllCategoriesGivenACityAndCountry'>
      <soap12:operation soapAction='http://getAllCategoriesGivenACityAndCountry' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAllCitiesWithDealsGivenACountry'>
      <soap12:operation soapAction='http://getAllCitiesWithDealsGivenACountry' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAllCountriesThatHaveDeals'>
      <soap12:operation soapAction='http://getAllCountriesThatHaveDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getClosetsLocationsWithDealsByCountryAndCity'>
      <soap12:operation soapAction='http://getClosetsLocationsWithDealsByCountryAndCity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getClosetsLocationsWithDealsByLngAndLat'>
      <soap12:operation soapAction='http://getClosetsLocationsWithDealsByLngAndLat' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDealsBasedOnCategoryAndLocation'>
      <soap12:operation soapAction='http://getDealsBasedOnCategoryAndLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDealsBasedOnLocation'>
      <soap12:operation soapAction='http://getDealsBasedOnLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDealsBasedOnLocationAndKeywords'>
      <soap12:operation soapAction='http://getDealsBasedOnLocationAndKeywords' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRecommendedCategoryBasedOnFreeTxt'>
      <soap12:operation soapAction='http://getRecommendedCategoryBasedOnFreeTxt' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='blipadealWorldwideDeals'>
    <documentation>the Blip A Deal API allows you to utilise our database of over million daily deals and coupons annually from over countries around the globe We currently have a presence in Australia Canada Hong Kong India Indonesia Malaysia New Zealand Philippines Singapore Russia Taiwan Thailand United Kingdom and United States You can find deals based on free text keyword categorisation and location The Blip A Deal API will make it easy to find deals that are geographically close to where you are deals in a selected location and can even find deals that match certain free text criteria For countries that dont have english as their primary language translations are also provide for native and english languages There are different ways to invoke the API so to find out more information about the API and to gain access please visit http www blipadeal com dev api home If there are any bugs problems or any general feedback please feel free to let us know</documentation>
    <port name='blipadealWorldwideDealsPort' binding='tns:blipadealWorldwideDealsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://blipadealWorldwideDeals' />
    </port>
  </service>
</definitions>