workspace/datasets/mashape_dataset/blockchaininfo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/blockchainInfo/' name='blockchainInfo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/blockchainInfo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/blockchainInfo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/blockchainInfo/'>
      <xsd:element name='addressBalanceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addressBalanceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addressFirstSeenParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addressFirstSeenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSentByAddressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSentByAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='receivedByAddressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='receivedByAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='totalBtcInputParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='txhash' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='totalBtcInputResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='totalBtcOutputParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='txhash' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='totalBtcOutputResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transactionFeeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='txhash' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transactionFeeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transactionResultsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='txhash' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transactionResultsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addressBalanceRequestMessage'>
    <part name='parameters' element='tns:addressBalanceParameters' />
  </message>
  <message name='addressBalanceResponseMessage'>
    <part name='response' element='tns:addressBalanceResponse' />
  </message>
  <message name='addressFirstSeenRequestMessage'>
    <part name='parameters' element='tns:addressFirstSeenParameters' />
  </message>
  <message name='addressFirstSeenResponseMessage'>
    <part name='response' element='tns:addressFirstSeenResponse' />
  </message>
  <message name='getSentByAddressRequestMessage'>
    <part name='parameters' element='tns:getSentByAddressParameters' />
  </message>
  <message name='getSentByAddressResponseMessage'>
    <part name='response' element='tns:getSentByAddressResponse' />
  </message>
  <message name='receivedByAddressRequestMessage'>
    <part name='parameters' element='tns:receivedByAddressParameters' />
  </message>
  <message name='receivedByAddressResponseMessage'>
    <part name='response' element='tns:receivedByAddressResponse' />
  </message>
  <message name='totalBtcInputRequestMessage'>
    <part name='parameters' element='tns:totalBtcInputParameters' />
  </message>
  <message name='totalBtcInputResponseMessage'>
    <part name='response' element='tns:totalBtcInputResponse' />
  </message>
  <message name='totalBtcOutputRequestMessage'>
    <part name='parameters' element='tns:totalBtcOutputParameters' />
  </message>
  <message name='totalBtcOutputResponseMessage'>
    <part name='response' element='tns:totalBtcOutputResponse' />
  </message>
  <message name='transactionFeeRequestMessage'>
    <part name='parameters' element='tns:transactionFeeParameters' />
  </message>
  <message name='transactionFeeResponseMessage'>
    <part name='response' element='tns:transactionFeeResponse' />
  </message>
  <message name='transactionResultsRequestMessage'>
    <part name='parameters' element='tns:transactionResultsParameters' />
  </message>
  <message name='transactionResultsResponseMessage'>
    <part name='response' element='tns:transactionResultsResponse' />
  </message>
  <portType name='blockchainInfoPortType'>
    <operation name='addressBalance'>
      <documentation>get the balance of an address in satoshis</documentation>
      <input message='tns:addressBalanceRequestMessage' name='addressBalanceInput' />
      <output message='tns:addressBalanceResponseMessage' name='addressBalanceOutput' />
    </operation>
    <operation name='addressFirstSeen'>
      <documentation>timestamp of the block an address was first confirmed in</documentation>
      <input message='tns:addressFirstSeenRequestMessage' name='addressFirstSeenInput' />
      <output message='tns:addressFirstSeenResponseMessage' name='addressFirstSeenOutput' />
    </operation>
    <operation name='getSentByAddress'>
      <documentation>get the total number of bitcoins sent by an address</documentation>
      <input message='tns:getSentByAddressRequestMessage' name='getSentByAddressInput' />
      <output message='tns:getSentByAddressResponseMessage' name='getSentByAddressOutput' />
    </operation>
    <operation name='receivedByAddress'>
      <documentation>get the total number of bitcoins received by an address in satoshi</documentation>
      <input message='tns:receivedByAddressRequestMessage' name='receivedByAddressInput' />
      <output message='tns:receivedByAddressResponseMessage' name='receivedByAddressOutput' />
    </operation>
    <operation name='totalBtcInput'>
      <documentation>get total input value of a transaction in satoshi</documentation>
      <input message='tns:totalBtcInputRequestMessage' name='totalBtcInputInput' />
      <output message='tns:totalBtcInputResponseMessage' name='totalBtcInputOutput' />
    </operation>
    <operation name='totalBtcOutput'>
      <documentation>get total output value of a transaction</documentation>
      <input message='tns:totalBtcOutputRequestMessage' name='totalBtcOutputInput' />
      <output message='tns:totalBtcOutputResponseMessage' name='totalBtcOutputOutput' />
    </operation>
    <operation name='transactionFee'>
      <documentation>get total input value of a transaction</documentation>
      <input message='tns:transactionFeeRequestMessage' name='transactionFeeInput' />
      <output message='tns:transactionFeeResponseMessage' name='transactionFeeOutput' />
    </operation>
    <operation name='transactionResults'>
      <documentation></documentation>
      <input message='tns:transactionResultsRequestMessage' name='transactionResultsInput' />
      <output message='tns:transactionResultsResponseMessage' name='transactionResultsOutput' />
    </operation>
  </portType>
  <binding name='blockchainInfoBinding' type='tns:blockchainInfoPortType'>
    <operation name='addressBalance'>
      <soap12:operation soapAction='http://addressBalance' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addressFirstSeen'>
      <soap12:operation soapAction='http://addressFirstSeen' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSentByAddress'>
      <soap12:operation soapAction='http://getSentByAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='receivedByAddress'>
      <soap12:operation soapAction='http://receivedByAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='totalBtcInput'>
      <soap12:operation soapAction='http://totalBtcInput' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='totalBtcOutput'>
      <soap12:operation soapAction='http://totalBtcOutput' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='transactionFee'>
      <soap12:operation soapAction='http://transactionFee' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='transactionResults'>
      <soap12:operation soapAction='http://transactionResults' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='blockchainInfo'>
    <documentation>plaintext query api to retreive data from blockchain info</documentation>
    <port name='blockchainInfoPort' binding='tns:blockchainInfoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://blockchainInfo' />
    </port>
  </service>
</definitions>