workspace/datasets/mashape_dataset/booticproductsearch.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/booticProductSearch/' name='booticProductSearch' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/booticProductSearch/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/booticProductSearch/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/booticProductSearch/'>
      <xsd:element name='productSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='group' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='grouplimit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='includelongdesc' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pricemax' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pricemin' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='randomresults' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='randomseed' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='safe' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='shop' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='shopkarmamin' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sorted' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='offset' type='xsd:int' minOccurs='0' />
            <xsd:element name='query' type='xsd:string' minOccurs='0' />
            <xsd:element name='input_query' type='xsd:string' minOccurs='0' />
            <xsd:element name='safe' type='xsd:int' minOccurs='0' />
            <xsd:element name='limit' type='xsd:int' minOccurs='0' />
            <xsd:element name='sort' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='total_products' type='xsd:int' minOccurs='0' />
            <xsd:element name='all_found' type='xsd:int' minOccurs='0' />
            <xsd:element name='search_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='products' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n28929' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:int' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n31617' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n44692' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n48673' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n27510' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:int' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n28346' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:int' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n31774' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n31610' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n31758' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n26071' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n33493' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n31596' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n31597' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n44669' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n25907' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n44689' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n31829' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n28317' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:int' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n49758' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n48585' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n48761' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n28313' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:int' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n31604' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n31822' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n67096' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n31542' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shop_banner' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop' type='xsd:int' minOccurs='0' />
                        <xsd:element name='keywords' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shop_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_theme' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pictures' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='shop_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_desc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='category' type='xsd:string' minOccurs='0' />
                        <xsd:element name='price_real' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='product_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='productSearchRequestMessage'>
    <part name='parameters' element='tns:productSearchParameters' />
  </message>
  <message name='productSearchResponseMessage'>
    <part name='response' element='tns:productSearchResponse' />
  </message>
  <portType name='booticProductSearchPortType'>
    <operation name='productSearch'>
      <documentation>a request to this endpoint will search for products by keywords A request returns a products object which contains all products found and some associated data</documentation>
      <input message='tns:productSearchRequestMessage' name='productSearchInput' />
      <output message='tns:productSearchResponseMessage' name='productSearchOutput' />
    </operation>
  </portType>
  <binding name='booticProductSearchBinding' type='tns:booticProductSearchPortType'>
    <operation name='productSearch'>
      <soap12:operation soapAction='http://productSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='booticProductSearch'>
    <documentation>bootic is the marketplace to find a wide range of products Bootic s Product Search API gives you direct access to all that our product search engine has to offer keywords products attributes price ranges and many more features to find the exact product from the best online storefront on the Internet</documentation>
    <port name='booticProductSearchPort' binding='tns:booticProductSearchBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://booticProductSearch' />
    </port>
  </service>
</definitions>