workspace/datasets/mashape_dataset/bospasa.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/bospasa/' name='bospasa' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/bospasa/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/bospasa/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/bospasa/'>
      <xsd:element name='oauthTokenCodeAuthorizationCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='authorizationcode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='clientsecret' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='granttype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oauthTokenCodeAuthorizationCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error_description' type='xsd:string' minOccurs='0' />
            <xsd:element name='error' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addBookingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addBookingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addClassParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addClassResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addEmployeeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addEmployeeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addEnrolmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addEnrolmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addPartnerBookingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addPartnerBookingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addServiceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addServiceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addSessionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addSessionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorizeClientParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='clientid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='redirecturi' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='responsetype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorizeClientResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='changeBookingStatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='bookingid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='partnergenerated' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='changeBookingStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAvailabilityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAvailabilityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createBatchAvailabilitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createBatchAvailabilitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAvailabilityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='availabilityid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAvailabilityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteClassParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='classid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteClassResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteEmployeeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='employeeid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteEmployeeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='locationid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletePartnerBookingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='bookingid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletePartnerBookingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteServiceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='serviceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteServiceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSessionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sessionid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSessionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editAvailabilityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='availabilityid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editAvailabilityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editBookingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='bookingid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editBookingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editClassParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='classid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editClassResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editEmployeeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='employeeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editEmployeeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editEnrolmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='enrolmentid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editEnrolmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='locationid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editPartnerBookingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='bookingid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editPartnerBookingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editServiceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='serviceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editServiceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editSessionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sessionid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editSessionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllPartnerClassesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='json' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='partnerid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllPartnerClassesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAvailabilityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='availabilityid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAvailabilityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getBookingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='authorizationtoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='bookingid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getBookingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='countryid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClassAndScheduleOptionalParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='classid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='json' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='locationid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='schedule' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClassAndScheduleOptionalResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClientParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='newclient' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClientResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCountryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='countryid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCountryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCurrencyListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currency' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCurrencyListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEmployeeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='employeeid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEmployeeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEmployeeScheduleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='employeeid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='from' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEmployeeScheduleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEmployeesByLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='locationid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEmployeesByLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEnrolmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='enrolmentid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEnrolmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='locationid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMaxDiscountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='classid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='json' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='starttime' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='timestring' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMaxDiscountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMaximumDiscountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='json' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='serviceid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='timestamp' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMaximumDiscountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMinimumPriceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='json' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='serviceid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='timestamp' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMinimumPriceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNeighbourhoodsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cityid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNeighbourhoodsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPartnerBookingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='bookingid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPartnerBookingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPartnerServiceMenuParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='json' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='partnerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPartnerServiceMenuResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getServiceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='serviceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getServiceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSessionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sessionid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSessionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTreatmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='treatmentid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTreatmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listByEmployeeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='employeeid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listByEmployeeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPartnerLocationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='partnerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPartnerLocationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listServiceByLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='locationid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listServiceByLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loginParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='clientid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loginResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesstoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='oauthTokenCodeAuthorizationCodeRequestMessage'>
    <part name='parameters' element='tns:oauthTokenCodeAuthorizationCodeParameters' />
  </message>
  <message name='oauthTokenCodeAuthorizationCodeResponseMessage'>
    <part name='response' element='tns:oauthTokenCodeAuthorizationCodeResponse' />
  </message>
  <message name='addBookingRequestMessage'>
    <part name='parameters' element='tns:addBookingParameters' />
  </message>
  <message name='addBookingResponseMessage'>
    <part name='response' element='tns:addBookingResponse' />
  </message>
  <message name='addClassRequestMessage'>
    <part name='parameters' element='tns:addClassParameters' />
  </message>
  <message name='addClassResponseMessage'>
    <part name='response' element='tns:addClassResponse' />
  </message>
  <message name='addEmployeeRequestMessage'>
    <part name='parameters' element='tns:addEmployeeParameters' />
  </message>
  <message name='addEmployeeResponseMessage'>
    <part name='response' element='tns:addEmployeeResponse' />
  </message>
  <message name='addEnrolmentRequestMessage'>
    <part name='parameters' element='tns:addEnrolmentParameters' />
  </message>
  <message name='addEnrolmentResponseMessage'>
    <part name='response' element='tns:addEnrolmentResponse' />
  </message>
  <message name='addLocationRequestMessage'>
    <part name='parameters' element='tns:addLocationParameters' />
  </message>
  <message name='addLocationResponseMessage'>
    <part name='response' element='tns:addLocationResponse' />
  </message>
  <message name='addPartnerBookingRequestMessage'>
    <part name='parameters' element='tns:addPartnerBookingParameters' />
  </message>
  <message name='addPartnerBookingResponseMessage'>
    <part name='response' element='tns:addPartnerBookingResponse' />
  </message>
  <message name='addServiceRequestMessage'>
    <part name='parameters' element='tns:addServiceParameters' />
  </message>
  <message name='addServiceResponseMessage'>
    <part name='response' element='tns:addServiceResponse' />
  </message>
  <message name='addSessionRequestMessage'>
    <part name='parameters' element='tns:addSessionParameters' />
  </message>
  <message name='addSessionResponseMessage'>
    <part name='response' element='tns:addSessionResponse' />
  </message>
  <message name='authorizeClientRequestMessage'>
    <part name='parameters' element='tns:authorizeClientParameters' />
  </message>
  <message name='authorizeClientResponseMessage'>
    <part name='response' element='tns:authorizeClientResponse' />
  </message>
  <message name='basicSearchRequestMessage'>
    <part name='parameters' element='tns:basicSearchParameters' />
  </message>
  <message name='basicSearchResponseMessage'>
    <part name='response' element='tns:basicSearchResponse' />
  </message>
  <message name='changeBookingStatusRequestMessage'>
    <part name='parameters' element='tns:changeBookingStatusParameters' />
  </message>
  <message name='changeBookingStatusResponseMessage'>
    <part name='response' element='tns:changeBookingStatusResponse' />
  </message>
  <message name='createAvailabilityRequestMessage'>
    <part name='parameters' element='tns:createAvailabilityParameters' />
  </message>
  <message name='createAvailabilityResponseMessage'>
    <part name='response' element='tns:createAvailabilityResponse' />
  </message>
  <message name='createBatchAvailabilitiesRequestMessage'>
    <part name='parameters' element='tns:createBatchAvailabilitiesParameters' />
  </message>
  <message name='createBatchAvailabilitiesResponseMessage'>
    <part name='response' element='tns:createBatchAvailabilitiesResponse' />
  </message>
  <message name='deleteAvailabilityRequestMessage'>
    <part name='parameters' element='tns:deleteAvailabilityParameters' />
  </message>
  <message name='deleteAvailabilityResponseMessage'>
    <part name='response' element='tns:deleteAvailabilityResponse' />
  </message>
  <message name='deleteClassRequestMessage'>
    <part name='parameters' element='tns:deleteClassParameters' />
  </message>
  <message name='deleteClassResponseMessage'>
    <part name='response' element='tns:deleteClassResponse' />
  </message>
  <message name='deleteEmployeeRequestMessage'>
    <part name='parameters' element='tns:deleteEmployeeParameters' />
  </message>
  <message name='deleteEmployeeResponseMessage'>
    <part name='response' element='tns:deleteEmployeeResponse' />
  </message>
  <message name='deleteLocationRequestMessage'>
    <part name='parameters' element='tns:deleteLocationParameters' />
  </message>
  <message name='deleteLocationResponseMessage'>
    <part name='response' element='tns:deleteLocationResponse' />
  </message>
  <message name='deletePartnerBookingRequestMessage'>
    <part name='parameters' element='tns:deletePartnerBookingParameters' />
  </message>
  <message name='deletePartnerBookingResponseMessage'>
    <part name='response' element='tns:deletePartnerBookingResponse' />
  </message>
  <message name='deleteServiceRequestMessage'>
    <part name='parameters' element='tns:deleteServiceParameters' />
  </message>
  <message name='deleteServiceResponseMessage'>
    <part name='response' element='tns:deleteServiceResponse' />
  </message>
  <message name='deleteSessionRequestMessage'>
    <part name='parameters' element='tns:deleteSessionParameters' />
  </message>
  <message name='deleteSessionResponseMessage'>
    <part name='response' element='tns:deleteSessionResponse' />
  </message>
  <message name='editAvailabilityRequestMessage'>
    <part name='parameters' element='tns:editAvailabilityParameters' />
  </message>
  <message name='editAvailabilityResponseMessage'>
    <part name='response' element='tns:editAvailabilityResponse' />
  </message>
  <message name='editBookingRequestMessage'>
    <part name='parameters' element='tns:editBookingParameters' />
  </message>
  <message name='editBookingResponseMessage'>
    <part name='response' element='tns:editBookingResponse' />
  </message>
  <message name='editClassRequestMessage'>
    <part name='parameters' element='tns:editClassParameters' />
  </message>
  <message name='editClassResponseMessage'>
    <part name='response' element='tns:editClassResponse' />
  </message>
  <message name='editEmployeeRequestMessage'>
    <part name='parameters' element='tns:editEmployeeParameters' />
  </message>
  <message name='editEmployeeResponseMessage'>
    <part name='response' element='tns:editEmployeeResponse' />
  </message>
  <message name='editEnrolmentRequestMessage'>
    <part name='parameters' element='tns:editEnrolmentParameters' />
  </message>
  <message name='editEnrolmentResponseMessage'>
    <part name='response' element='tns:editEnrolmentResponse' />
  </message>
  <message name='editLocationRequestMessage'>
    <part name='parameters' element='tns:editLocationParameters' />
  </message>
  <message name='editLocationResponseMessage'>
    <part name='response' element='tns:editLocationResponse' />
  </message>
  <message name='editPartnerBookingRequestMessage'>
    <part name='parameters' element='tns:editPartnerBookingParameters' />
  </message>
  <message name='editPartnerBookingResponseMessage'>
    <part name='response' element='tns:editPartnerBookingResponse' />
  </message>
  <message name='editServiceRequestMessage'>
    <part name='parameters' element='tns:editServiceParameters' />
  </message>
  <message name='editServiceResponseMessage'>
    <part name='response' element='tns:editServiceResponse' />
  </message>
  <message name='editSessionRequestMessage'>
    <part name='parameters' element='tns:editSessionParameters' />
  </message>
  <message name='editSessionResponseMessage'>
    <part name='response' element='tns:editSessionResponse' />
  </message>
  <message name='getAllPartnerClassesRequestMessage'>
    <part name='parameters' element='tns:getAllPartnerClassesParameters' />
  </message>
  <message name='getAllPartnerClassesResponseMessage'>
    <part name='response' element='tns:getAllPartnerClassesResponse' />
  </message>
  <message name='getAvailabilityRequestMessage'>
    <part name='parameters' element='tns:getAvailabilityParameters' />
  </message>
  <message name='getAvailabilityResponseMessage'>
    <part name='response' element='tns:getAvailabilityResponse' />
  </message>
  <message name='getBookingRequestMessage'>
    <part name='parameters' element='tns:getBookingParameters' />
  </message>
  <message name='getBookingResponseMessage'>
    <part name='response' element='tns:getBookingResponse' />
  </message>
  <message name='getCitiesRequestMessage'>
    <part name='parameters' element='tns:getCitiesParameters' />
  </message>
  <message name='getCitiesResponseMessage'>
    <part name='response' element='tns:getCitiesResponse' />
  </message>
  <message name='getClassAndScheduleOptionalRequestMessage'>
    <part name='parameters' element='tns:getClassAndScheduleOptionalParameters' />
  </message>
  <message name='getClassAndScheduleOptionalResponseMessage'>
    <part name='response' element='tns:getClassAndScheduleOptionalResponse' />
  </message>
  <message name='getClientRequestMessage'>
    <part name='parameters' element='tns:getClientParameters' />
  </message>
  <message name='getClientResponseMessage'>
    <part name='response' element='tns:getClientResponse' />
  </message>
  <message name='getCountryRequestMessage'>
    <part name='parameters' element='tns:getCountryParameters' />
  </message>
  <message name='getCountryResponseMessage'>
    <part name='response' element='tns:getCountryResponse' />
  </message>
  <message name='getCurrencyListRequestMessage'>
    <part name='parameters' element='tns:getCurrencyListParameters' />
  </message>
  <message name='getCurrencyListResponseMessage'>
    <part name='response' element='tns:getCurrencyListResponse' />
  </message>
  <message name='getEmployeeRequestMessage'>
    <part name='parameters' element='tns:getEmployeeParameters' />
  </message>
  <message name='getEmployeeResponseMessage'>
    <part name='response' element='tns:getEmployeeResponse' />
  </message>
  <message name='getEmployeeScheduleRequestMessage'>
    <part name='parameters' element='tns:getEmployeeScheduleParameters' />
  </message>
  <message name='getEmployeeScheduleResponseMessage'>
    <part name='response' element='tns:getEmployeeScheduleResponse' />
  </message>
  <message name='getEmployeesByLocationRequestMessage'>
    <part name='parameters' element='tns:getEmployeesByLocationParameters' />
  </message>
  <message name='getEmployeesByLocationResponseMessage'>
    <part name='response' element='tns:getEmployeesByLocationResponse' />
  </message>
  <message name='getEnrolmentRequestMessage'>
    <part name='parameters' element='tns:getEnrolmentParameters' />
  </message>
  <message name='getEnrolmentResponseMessage'>
    <part name='response' element='tns:getEnrolmentResponse' />
  </message>
  <message name='getLocationRequestMessage'>
    <part name='parameters' element='tns:getLocationParameters' />
  </message>
  <message name='getLocationResponseMessage'>
    <part name='response' element='tns:getLocationResponse' />
  </message>
  <message name='getMaxDiscountRequestMessage'>
    <part name='parameters' element='tns:getMaxDiscountParameters' />
  </message>
  <message name='getMaxDiscountResponseMessage'>
    <part name='response' element='tns:getMaxDiscountResponse' />
  </message>
  <message name='getMaximumDiscountRequestMessage'>
    <part name='parameters' element='tns:getMaximumDiscountParameters' />
  </message>
  <message name='getMaximumDiscountResponseMessage'>
    <part name='response' element='tns:getMaximumDiscountResponse' />
  </message>
  <message name='getMinimumPriceRequestMessage'>
    <part name='parameters' element='tns:getMinimumPriceParameters' />
  </message>
  <message name='getMinimumPriceResponseMessage'>
    <part name='response' element='tns:getMinimumPriceResponse' />
  </message>
  <message name='getNeighbourhoodsRequestMessage'>
    <part name='parameters' element='tns:getNeighbourhoodsParameters' />
  </message>
  <message name='getNeighbourhoodsResponseMessage'>
    <part name='response' element='tns:getNeighbourhoodsResponse' />
  </message>
  <message name='getPartnerBookingRequestMessage'>
    <part name='parameters' element='tns:getPartnerBookingParameters' />
  </message>
  <message name='getPartnerBookingResponseMessage'>
    <part name='response' element='tns:getPartnerBookingResponse' />
  </message>
  <message name='getPartnerServiceMenuRequestMessage'>
    <part name='parameters' element='tns:getPartnerServiceMenuParameters' />
  </message>
  <message name='getPartnerServiceMenuResponseMessage'>
    <part name='response' element='tns:getPartnerServiceMenuResponse' />
  </message>
  <message name='getServiceRequestMessage'>
    <part name='parameters' element='tns:getServiceParameters' />
  </message>
  <message name='getServiceResponseMessage'>
    <part name='response' element='tns:getServiceResponse' />
  </message>
  <message name='getSessionRequestMessage'>
    <part name='parameters' element='tns:getSessionParameters' />
  </message>
  <message name='getSessionResponseMessage'>
    <part name='response' element='tns:getSessionResponse' />
  </message>
  <message name='getTreatmentRequestMessage'>
    <part name='parameters' element='tns:getTreatmentParameters' />
  </message>
  <message name='getTreatmentResponseMessage'>
    <part name='response' element='tns:getTreatmentResponse' />
  </message>
  <message name='listByEmployeeRequestMessage'>
    <part name='parameters' element='tns:listByEmployeeParameters' />
  </message>
  <message name='listByEmployeeResponseMessage'>
    <part name='response' element='tns:listByEmployeeResponse' />
  </message>
  <message name='listPartnerLocationsRequestMessage'>
    <part name='parameters' element='tns:listPartnerLocationsParameters' />
  </message>
  <message name='listPartnerLocationsResponseMessage'>
    <part name='response' element='tns:listPartnerLocationsResponse' />
  </message>
  <message name='listServiceByLocationRequestMessage'>
    <part name='parameters' element='tns:listServiceByLocationParameters' />
  </message>
  <message name='listServiceByLocationResponseMessage'>
    <part name='response' element='tns:listServiceByLocationResponse' />
  </message>
  <message name='loginRequestMessage'>
    <part name='parameters' element='tns:loginParameters' />
  </message>
  <message name='loginResponseMessage'>
    <part name='response' element='tns:loginResponse' />
  </message>
  <message name='textSearchRequestMessage'>
    <part name='parameters' element='tns:textSearchParameters' />
  </message>
  <message name='textSearchResponseMessage'>
    <part name='response' element='tns:textSearchResponse' />
  </message>
  <portType name='bospasaPortType'>
    <operation name='oauthTokenCodeAuthorizationCode'>
      <documentation>this retrieves an access token and refresh token for the client to use when making calls Please make sure you store these so you don t have to keep having your clients reauthorize your application</documentation>
      <input message='tns:oauthTokenCodeAuthorizationCodeRequestMessage' name='oauthTokenCodeAuthorizationCodeInput' />
      <output message='tns:oauthTokenCodeAuthorizationCodeResponseMessage' name='oauthTokenCodeAuthorizationCodeOutput' />
    </operation>
    <operation name='addBooking'>
      <documentation>create a new booking This booking will not be processed until payment for the booking is completed</documentation>
      <input message='tns:addBookingRequestMessage' name='addBookingInput' />
      <output message='tns:addBookingResponseMessage' name='addBookingOutput' />
    </operation>
    <operation name='addClass'>
      <documentation>create a new class</documentation>
      <input message='tns:addClassRequestMessage' name='addClassInput' />
      <output message='tns:addClassResponseMessage' name='addClassOutput' />
    </operation>
    <operation name='addEmployee'>
      <input message='tns:addEmployeeRequestMessage' name='addEmployeeInput' />
      <output message='tns:addEmployeeResponseMessage' name='addEmployeeOutput' />
    </operation>
    <operation name='addEnrolment'>
      <documentation>create a new enrolment</documentation>
      <input message='tns:addEnrolmentRequestMessage' name='addEnrolmentInput' />
      <output message='tns:addEnrolmentResponseMessage' name='addEnrolmentOutput' />
    </operation>
    <operation name='addLocation'>
      <input message='tns:addLocationRequestMessage' name='addLocationInput' />
      <output message='tns:addLocationResponseMessage' name='addLocationOutput' />
    </operation>
    <operation name='addPartnerBooking'>
      <documentation>this lets the venue create bookings that do not require payment to be processed It is useful for walk ins and bookings made over the phone</documentation>
      <input message='tns:addPartnerBookingRequestMessage' name='addPartnerBookingInput' />
      <output message='tns:addPartnerBookingResponseMessage' name='addPartnerBookingOutput' />
    </operation>
    <operation name='addService'>
      <documentation>add Service</documentation>
      <input message='tns:addServiceRequestMessage' name='addServiceInput' />
      <output message='tns:addServiceResponseMessage' name='addServiceOutput' />
    </operation>
    <operation name='addSession'>
      <documentation>create a new session</documentation>
      <input message='tns:addSessionRequestMessage' name='addSessionInput' />
      <output message='tns:addSessionResponseMessage' name='addSessionOutput' />
    </operation>
    <operation name='authorizeClient'>
      <documentation>this endpoint logs in and authorize a user client against the application This basically allows you to make calls on behalf of the user If the client has previously been authorized you can skip this step</documentation>
      <input message='tns:authorizeClientRequestMessage' name='authorizeClientInput' />
      <output message='tns:authorizeClientResponseMessage' name='authorizeClientOutput' />
    </operation>
    <operation name='basicSearch'>
      <input message='tns:basicSearchRequestMessage' name='basicSearchInput' />
      <output message='tns:basicSearchResponseMessage' name='basicSearchOutput' />
    </operation>
    <operation name='changeBookingStatus'>
      <documentation>this endpoint is used to confirm or cancel a booking</documentation>
      <input message='tns:changeBookingStatusRequestMessage' name='changeBookingStatusInput' />
      <output message='tns:changeBookingStatusResponseMessage' name='changeBookingStatusOutput' />
    </operation>
    <operation name='createAvailability'>
      <documentation>this creates an availability or group of availabilities</documentation>
      <input message='tns:createAvailabilityRequestMessage' name='createAvailabilityInput' />
      <output message='tns:createAvailabilityResponseMessage' name='createAvailabilityOutput' />
    </operation>
    <operation name='createBatchAvailabilities'>
      <documentation>this creates a batch of availabilities based on specified criteria</documentation>
      <input message='tns:createBatchAvailabilitiesRequestMessage' name='createBatchAvailabilitiesInput' />
      <output message='tns:createBatchAvailabilitiesResponseMessage' name='createBatchAvailabilitiesOutput' />
    </operation>
    <operation name='deleteAvailability'>
      <documentation>this method deletes a specified availability</documentation>
      <input message='tns:deleteAvailabilityRequestMessage' name='deleteAvailabilityInput' />
      <output message='tns:deleteAvailabilityResponseMessage' name='deleteAvailabilityOutput' />
    </operation>
    <operation name='deleteClass'>
      <documentation>deletes a class and its sessions</documentation>
      <input message='tns:deleteClassRequestMessage' name='deleteClassInput' />
      <output message='tns:deleteClassResponseMessage' name='deleteClassOutput' />
    </operation>
    <operation name='deleteEmployee'>
      <input message='tns:deleteEmployeeRequestMessage' name='deleteEmployeeInput' />
      <output message='tns:deleteEmployeeResponseMessage' name='deleteEmployeeOutput' />
    </operation>
    <operation name='deleteLocation'>
      <input message='tns:deleteLocationRequestMessage' name='deleteLocationInput' />
      <output message='tns:deleteLocationResponseMessage' name='deleteLocationOutput' />
    </operation>
    <operation name='deletePartnerBooking'>
      <documentation>this deletes the partner generated booking</documentation>
      <input message='tns:deletePartnerBookingRequestMessage' name='deletePartnerBookingInput' />
      <output message='tns:deletePartnerBookingResponseMessage' name='deletePartnerBookingOutput' />
    </operation>
    <operation name='deleteService'>
      <input message='tns:deleteServiceRequestMessage' name='deleteServiceInput' />
      <output message='tns:deleteServiceResponseMessage' name='deleteServiceOutput' />
    </operation>
    <operation name='deleteSession'>
      <documentation>delete a session</documentation>
      <input message='tns:deleteSessionRequestMessage' name='deleteSessionInput' />
      <output message='tns:deleteSessionResponseMessage' name='deleteSessionOutput' />
    </operation>
    <operation name='editAvailability'>
      <documentation>this endpoint allows you to edit an availability</documentation>
      <input message='tns:editAvailabilityRequestMessage' name='editAvailabilityInput' />
      <output message='tns:editAvailabilityResponseMessage' name='editAvailabilityOutput' />
    </operation>
    <operation name='editBooking'>
      <input message='tns:editBookingRequestMessage' name='editBookingInput' />
      <output message='tns:editBookingResponseMessage' name='editBookingOutput' />
    </operation>
    <operation name='editClass'>
      <documentation>edit class details</documentation>
      <input message='tns:editClassRequestMessage' name='editClassInput' />
      <output message='tns:editClassResponseMessage' name='editClassOutput' />
    </operation>
    <operation name='editEmployee'>
      <input message='tns:editEmployeeRequestMessage' name='editEmployeeInput' />
      <output message='tns:editEmployeeResponseMessage' name='editEmployeeOutput' />
    </operation>
    <operation name='editEnrolment'>
      <documentation>edit the enrolment</documentation>
      <input message='tns:editEnrolmentRequestMessage' name='editEnrolmentInput' />
      <output message='tns:editEnrolmentResponseMessage' name='editEnrolmentOutput' />
    </operation>
    <operation name='editLocation'>
      <input message='tns:editLocationRequestMessage' name='editLocationInput' />
      <output message='tns:editLocationResponseMessage' name='editLocationOutput' />
    </operation>
    <operation name='editPartnerBooking'>
      <documentation>this allows a venue to change details about a partner generated booking</documentation>
      <input message='tns:editPartnerBookingRequestMessage' name='editPartnerBookingInput' />
      <output message='tns:editPartnerBookingResponseMessage' name='editPartnerBookingOutput' />
    </operation>
    <operation name='editService'>
      <input message='tns:editServiceRequestMessage' name='editServiceInput' />
      <output message='tns:editServiceResponseMessage' name='editServiceOutput' />
    </operation>
    <operation name='editSession'>
      <documentation>edit a session</documentation>
      <input message='tns:editSessionRequestMessage' name='editSessionInput' />
      <output message='tns:editSessionResponseMessage' name='editSessionOutput' />
    </operation>
    <operation name='getAllPartnerClasses'>
      <documentation>retrieves all classes offered by the specified partner</documentation>
      <input message='tns:getAllPartnerClassesRequestMessage' name='getAllPartnerClassesInput' />
      <output message='tns:getAllPartnerClassesResponseMessage' name='getAllPartnerClassesOutput' />
    </operation>
    <operation name='getAvailability'>
      <documentation>this endpoint returns the specified availability along with any bookings or classes that are scheduled on that availability NOTE this method is restricted</documentation>
      <input message='tns:getAvailabilityRequestMessage' name='getAvailabilityInput' />
      <output message='tns:getAvailabilityResponseMessage' name='getAvailabilityOutput' />
    </operation>
    <operation name='getBooking'>
      <documentation>this gets the details of a booking</documentation>
      <input message='tns:getBookingRequestMessage' name='getBookingInput' />
      <output message='tns:getBookingResponseMessage' name='getBookingOutput' />
    </operation>
    <operation name='getCities'>
      <input message='tns:getCitiesRequestMessage' name='getCitiesInput' />
      <output message='tns:getCitiesResponseMessage' name='getCitiesOutput' />
    </operation>
    <operation name='getClassAndScheduleOptional'>
      <documentation>this endpoint retrieves a classes and based on parameters it s schedule</documentation>
      <input message='tns:getClassAndScheduleOptionalRequestMessage' name='getClassAndScheduleOptionalInput' />
      <output message='tns:getClassAndScheduleOptionalResponseMessage' name='getClassAndScheduleOptionalOutput' />
    </operation>
    <operation name='getClient'>
      <documentation>this method retrieves a client that will be used to represent the user If the user is not already logged in a new client is created NOTE when a new client is issued please make sure you store the client secret as it is ONLY supplied at the point of creation</documentation>
      <input message='tns:getClientRequestMessage' name='getClientInput' />
      <output message='tns:getClientResponseMessage' name='getClientOutput' />
    </operation>
    <operation name='getCountry'>
      <input message='tns:getCountryRequestMessage' name='getCountryInput' />
      <output message='tns:getCountryResponseMessage' name='getCountryOutput' />
    </operation>
    <operation name='getCurrencyList'>
      <input message='tns:getCurrencyListRequestMessage' name='getCurrencyListInput' />
      <output message='tns:getCurrencyListResponseMessage' name='getCurrencyListOutput' />
    </operation>
    <operation name='getEmployee'>
      <input message='tns:getEmployeeRequestMessage' name='getEmployeeInput' />
      <output message='tns:getEmployeeResponseMessage' name='getEmployeeOutput' />
    </operation>
    <operation name='getEmployeeSchedule'>
      <input message='tns:getEmployeeScheduleRequestMessage' name='getEmployeeScheduleInput' />
      <output message='tns:getEmployeeScheduleResponseMessage' name='getEmployeeScheduleOutput' />
    </operation>
    <operation name='getEmployeesByLocation'>
      <input message='tns:getEmployeesByLocationRequestMessage' name='getEmployeesByLocationInput' />
      <output message='tns:getEmployeesByLocationResponseMessage' name='getEmployeesByLocationOutput' />
    </operation>
    <operation name='getEnrolment'>
      <documentation>this method retrieves details for a specified enrolment</documentation>
      <input message='tns:getEnrolmentRequestMessage' name='getEnrolmentInput' />
      <output message='tns:getEnrolmentResponseMessage' name='getEnrolmentOutput' />
    </operation>
    <operation name='getLocation'>
      <input message='tns:getLocationRequestMessage' name='getLocationInput' />
      <output message='tns:getLocationResponseMessage' name='getLocationOutput' />
    </operation>
    <operation name='getMaxDiscount'>
      <documentation>retrieves the highest applicable discount based on a submitted UTC timestamp</documentation>
      <input message='tns:getMaxDiscountRequestMessage' name='getMaxDiscountInput' />
      <output message='tns:getMaxDiscountResponseMessage' name='getMaxDiscountOutput' />
    </operation>
    <operation name='getMaximumDiscount'>
      <input message='tns:getMaximumDiscountRequestMessage' name='getMaximumDiscountInput' />
      <output message='tns:getMaximumDiscountResponseMessage' name='getMaximumDiscountOutput' />
    </operation>
    <operation name='getMinimumPrice'>
      <input message='tns:getMinimumPriceRequestMessage' name='getMinimumPriceInput' />
      <output message='tns:getMinimumPriceResponseMessage' name='getMinimumPriceOutput' />
    </operation>
    <operation name='getNeighbourhoods'>
      <input message='tns:getNeighbourhoodsRequestMessage' name='getNeighbourhoodsInput' />
      <output message='tns:getNeighbourhoodsResponseMessage' name='getNeighbourhoodsOutput' />
    </operation>
    <operation name='getPartnerBooking'>
      <documentation>get Details of partner booking</documentation>
      <input message='tns:getPartnerBookingRequestMessage' name='getPartnerBookingInput' />
      <output message='tns:getPartnerBookingResponseMessage' name='getPartnerBookingOutput' />
    </operation>
    <operation name='getPartnerServiceMenu'>
      <input message='tns:getPartnerServiceMenuRequestMessage' name='getPartnerServiceMenuInput' />
      <output message='tns:getPartnerServiceMenuResponseMessage' name='getPartnerServiceMenuOutput' />
    </operation>
    <operation name='getService'>
      <input message='tns:getServiceRequestMessage' name='getServiceInput' />
      <output message='tns:getServiceResponseMessage' name='getServiceOutput' />
    </operation>
    <operation name='getSession'>
      <documentation>retrieves Session details</documentation>
      <input message='tns:getSessionRequestMessage' name='getSessionInput' />
      <output message='tns:getSessionResponseMessage' name='getSessionOutput' />
    </operation>
    <operation name='getTreatment'>
      <input message='tns:getTreatmentRequestMessage' name='getTreatmentInput' />
      <output message='tns:getTreatmentResponseMessage' name='getTreatmentOutput' />
    </operation>
    <operation name='listByEmployee'>
      <input message='tns:listByEmployeeRequestMessage' name='listByEmployeeInput' />
      <output message='tns:listByEmployeeResponseMessage' name='listByEmployeeOutput' />
    </operation>
    <operation name='listPartnerLocations'>
      <input message='tns:listPartnerLocationsRequestMessage' name='listPartnerLocationsInput' />
      <output message='tns:listPartnerLocationsResponseMessage' name='listPartnerLocationsOutput' />
    </operation>
    <operation name='listServiceByLocation'>
      <documentation>list by Location</documentation>
      <input message='tns:listServiceByLocationRequestMessage' name='listServiceByLocationInput' />
      <output message='tns:listServiceByLocationResponseMessage' name='listServiceByLocationOutput' />
    </operation>
    <operation name='login'>
      <documentation>this endpoint allows you to login with the users credentials If the user has already authorized the client you will receive an authorization code that you can use exchange for an authorization token</documentation>
      <input message='tns:loginRequestMessage' name='loginInput' />
      <output message='tns:loginResponseMessage' name='loginOutput' />
    </operation>
    <operation name='textSearch'>
      <documentation>search by text</documentation>
      <input message='tns:textSearchRequestMessage' name='textSearchInput' />
      <output message='tns:textSearchResponseMessage' name='textSearchOutput' />
    </operation>
  </portType>
  <binding name='bospasaBinding' type='tns:bospasaPortType'>
    <operation name='oauthTokenCodeAuthorizationCode'>
      <soap12:operation soapAction='http://oauthTokenCodeAuthorizationCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addBooking'>
      <soap12:operation soapAction='http://addBooking' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addClass'>
      <soap12:operation soapAction='http://addClass' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addEmployee'>
      <soap12:operation soapAction='http://addEmployee' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addEnrolment'>
      <soap12:operation soapAction='http://addEnrolment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addLocation'>
      <soap12:operation soapAction='http://addLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addPartnerBooking'>
      <soap12:operation soapAction='http://addPartnerBooking' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addService'>
      <soap12:operation soapAction='http://addService' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addSession'>
      <soap12:operation soapAction='http://addSession' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='authorizeClient'>
      <soap12:operation soapAction='http://authorizeClient' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='basicSearch'>
      <soap12:operation soapAction='http://basicSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='changeBookingStatus'>
      <soap12:operation soapAction='http://changeBookingStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAvailability'>
      <soap12:operation soapAction='http://createAvailability' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createBatchAvailabilities'>
      <soap12:operation soapAction='http://createBatchAvailabilities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAvailability'>
      <soap12:operation soapAction='http://deleteAvailability' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteClass'>
      <soap12:operation soapAction='http://deleteClass' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteEmployee'>
      <soap12:operation soapAction='http://deleteEmployee' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteLocation'>
      <soap12:operation soapAction='http://deleteLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletePartnerBooking'>
      <soap12:operation soapAction='http://deletePartnerBooking' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteService'>
      <soap12:operation soapAction='http://deleteService' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteSession'>
      <soap12:operation soapAction='http://deleteSession' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editAvailability'>
      <soap12:operation soapAction='http://editAvailability' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editBooking'>
      <soap12:operation soapAction='http://editBooking' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editClass'>
      <soap12:operation soapAction='http://editClass' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editEmployee'>
      <soap12:operation soapAction='http://editEmployee' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editEnrolment'>
      <soap12:operation soapAction='http://editEnrolment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editLocation'>
      <soap12:operation soapAction='http://editLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editPartnerBooking'>
      <soap12:operation soapAction='http://editPartnerBooking' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editService'>
      <soap12:operation soapAction='http://editService' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editSession'>
      <soap12:operation soapAction='http://editSession' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAllPartnerClasses'>
      <soap12:operation soapAction='http://getAllPartnerClasses' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAvailability'>
      <soap12:operation soapAction='http://getAvailability' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getBooking'>
      <soap12:operation soapAction='http://getBooking' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCities'>
      <soap12:operation soapAction='http://getCities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getClassAndScheduleOptional'>
      <soap12:operation soapAction='http://getClassAndScheduleOptional' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getClient'>
      <soap12:operation soapAction='http://getClient' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCountry'>
      <soap12:operation soapAction='http://getCountry' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCurrencyList'>
      <soap12:operation soapAction='http://getCurrencyList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getEmployee'>
      <soap12:operation soapAction='http://getEmployee' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getEmployeeSchedule'>
      <soap12:operation soapAction='http://getEmployeeSchedule' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getEmployeesByLocation'>
      <soap12:operation soapAction='http://getEmployeesByLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getEnrolment'>
      <soap12:operation soapAction='http://getEnrolment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLocation'>
      <soap12:operation soapAction='http://getLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMaxDiscount'>
      <soap12:operation soapAction='http://getMaxDiscount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMaximumDiscount'>
      <soap12:operation soapAction='http://getMaximumDiscount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMinimumPrice'>
      <soap12:operation soapAction='http://getMinimumPrice' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getNeighbourhoods'>
      <soap12:operation soapAction='http://getNeighbourhoods' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPartnerBooking'>
      <soap12:operation soapAction='http://getPartnerBooking' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPartnerServiceMenu'>
      <soap12:operation soapAction='http://getPartnerServiceMenu' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getService'>
      <soap12:operation soapAction='http://getService' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSession'>
      <soap12:operation soapAction='http://getSession' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTreatment'>
      <soap12:operation soapAction='http://getTreatment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listByEmployee'>
      <soap12:operation soapAction='http://listByEmployee' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listPartnerLocations'>
      <soap12:operation soapAction='http://listPartnerLocations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listServiceByLocation'>
      <soap12:operation soapAction='http://listServiceByLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='login'>
      <soap12:operation soapAction='http://login' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textSearch'>
      <soap12:operation soapAction='http://textSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='bospasa'>
    <documentation>this api allows developers to interact with bospasa content for creating or integrating their own applications</documentation>
    <port name='bospasaPort' binding='tns:bospasaBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://bospasa' />
    </port>
  </service>
</definitions>