workspace/datasets/mashape_dataset/botlibre.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/botlibre/' name='botlibre' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/botlibre/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/botlibre/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/botlibre/'>
      <xsd:element name='formChatParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='application' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='conversation' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='correction' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='disconnect' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='emote' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='includequestion' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='instance' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='message' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offensive' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formChatResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formCheckInstanceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='application' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formCheckInstanceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formCheckUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='application' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formCheckUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formGetAllInstancesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='application' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='filterprivate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tag' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formGetAllInstancesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='formChatRequestMessage'>
    <part name='parameters' element='tns:formChatParameters' />
  </message>
  <message name='formChatResponseMessage'>
    <part name='response' element='tns:formChatResponse' />
  </message>
  <message name='formCheckInstanceRequestMessage'>
    <part name='parameters' element='tns:formCheckInstanceParameters' />
  </message>
  <message name='formCheckInstanceResponseMessage'>
    <part name='response' element='tns:formCheckInstanceResponse' />
  </message>
  <message name='formCheckUserRequestMessage'>
    <part name='parameters' element='tns:formCheckUserParameters' />
  </message>
  <message name='formCheckUserResponseMessage'>
    <part name='response' element='tns:formCheckUserResponse' />
  </message>
  <message name='formGetAllInstancesRequestMessage'>
    <part name='parameters' element='tns:formGetAllInstancesParameters' />
  </message>
  <message name='formGetAllInstancesResponseMessage'>
    <part name='response' element='tns:formGetAllInstancesResponse' />
  </message>
  <portType name='botlibrePortType'>
    <operation name='formChat'>
      <documentation>the form chat API receives a chat message and returns the chat bot s reply as an XML document</documentation>
      <input message='tns:formChatRequestMessage' name='formChatInput' />
      <output message='tns:formChatResponseMessage' name='formChatOutput' />
    </operation>
    <operation name='formCheckInstance'>
      <documentation>the form check instance API validates that a bot ID or name exists and returns the bot s details</documentation>
      <input message='tns:formCheckInstanceRequestMessage' name='formCheckInstanceInput' />
      <output message='tns:formCheckInstanceResponseMessage' name='formCheckInstanceOutput' />
    </operation>
    <operation name='formCheckUser'>
      <documentation>the form check user API validates user and returns the user s details</documentation>
      <input message='tns:formCheckUserRequestMessage' name='formCheckUserInput' />
      <output message='tns:formCheckUserResponseMessage' name='formCheckUserOutput' />
    </operation>
    <operation name='formGetAllInstances'>
      <documentation>the form get all instances API queries the details for all bot instances</documentation>
      <input message='tns:formGetAllInstancesRequestMessage' name='formGetAllInstancesInput' />
      <output message='tns:formGetAllInstancesResponseMessage' name='formGetAllInstancesOutput' />
    </operation>
  </portType>
  <binding name='botlibreBinding' type='tns:botlibrePortType'>
    <operation name='formChat'>
      <soap12:operation soapAction='http://formChat' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='formCheckInstance'>
      <soap12:operation soapAction='http://formCheckInstance' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='formCheckUser'>
      <soap12:operation soapAction='http://formCheckUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='formGetAllInstances'>
      <soap12:operation soapAction='http://formGetAllInstances' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='botlibre'>
    <documentation>bOT libre s goal is to foster an open safe community of artificial intelligent chat bots and their developers BOT libre allows you to create your own artificial intelligent chat bot train them and share them with others You are free to use this website and create your own bots for personal commercial or recreation usages You can give your bot its own avatar images connect it to Twitter or IRC chat You can train your bot through interacting with it or using chat logs You can program your bot using a th generational state machine scripting language Self You can import data from the web into your bot s memory such as words from Wiktionary or information from Freebase You can create a bot to act as your own website avatar You can create a bot to provide customer service or technical support for your products or services BOT libre is a website produced and hosted by Paphus Solutions Inc</documentation>
    <port name='botlibrePort' binding='tns:botlibreBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://botlibre' />
    </port>
  </service>
</definitions>