workspace/datasets/mashape_dataset/brandlovevideos.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/brandlovevideos/' name='brandlovevideos' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/brandlovevideos/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/brandlovevideos/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/brandlovevideos/'>
      <xsd:element name='brandlovevideosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='brandlovevideosRequestMessage' />
  <message name='brandlovevideosResponseMessage'>
    <part name='response' element='tns:brandlovevideosResponse' />
  </message>
  <portType name='brandlovevideosPortType'>
    <operation name='brandlovevideos'>
      <documentation>explain Engage Everyone Entrepreneurs</documentation>
      <input message='tns:brandlovevideosRequestMessage' name='brandlovevideosInput' />
      <output message='tns:brandlovevideosResponseMessage' name='brandlovevideosOutput' />
    </operation>
  </portType>
  <binding name='brandlovevideosBinding' type='tns:brandlovevideosPortType'>
    <operation name='brandlovevideos'>
      <soap12:operation soapAction='http://brandlovevideos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='brandlovevideos'>
    <documentation>we are a India based startup Establishment involved in creating remarkable demo videos for other newly established organizations We call ourselves brandlovevideos Our objective is to enable businesses small and large to create effective demo videos reasonable price</documentation>
    <port name='brandlovevideosPort' binding='tns:brandlovevideosBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://brandlovevideos' />
    </port>
  </service>
</definitions>