workspace/datasets/mashape_dataset/branchmetrics.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/branchMetrics/' name='branchMetrics' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/branchMetrics/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/branchMetrics/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/branchMetrics/'>
      <xsd:element name='actionTrackingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='event' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hardwareid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='metadata' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='actionTrackingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='changingTheIdentityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hardwareid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='identity' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='changingTheIdentityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creatingADeeplinkingReferralUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='channel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='data' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='feature' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='identity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creatingADeeplinkingReferralUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gettingCreditCountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='identity' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gettingCreditCountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1' />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='idendityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hardwareid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='identity' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='idendityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='redeemingCreditsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='amount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='bucket' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='identity' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='redeemingCreditsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionEndParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hardwareid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionEndResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionStartParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appversion' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='bluetooth' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='brand' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='carrier' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hardwareid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hasnfc' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hastelephone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='identity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='isreferrable' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkidentifier' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='model' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='os' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='osversion' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='screendpi' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='screenheight' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='screenwidth' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wifi' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionStartResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='actionTrackingRequestMessage'>
    <part name='parameters' element='tns:actionTrackingParameters' />
  </message>
  <message name='actionTrackingResponseMessage'>
    <part name='response' element='tns:actionTrackingResponse' />
  </message>
  <message name='changingTheIdentityRequestMessage'>
    <part name='parameters' element='tns:changingTheIdentityParameters' />
  </message>
  <message name='changingTheIdentityResponseMessage'>
    <part name='response' element='tns:changingTheIdentityResponse' />
  </message>
  <message name='creatingADeeplinkingReferralUrlRequestMessage'>
    <part name='parameters' element='tns:creatingADeeplinkingReferralUrlParameters' />
  </message>
  <message name='creatingADeeplinkingReferralUrlResponseMessage'>
    <part name='response' element='tns:creatingADeeplinkingReferralUrlResponse' />
  </message>
  <message name='gettingCreditCountRequestMessage'>
    <part name='parameters' element='tns:gettingCreditCountParameters' />
  </message>
  <message name='gettingCreditCountResponseMessage'>
    <part name='response' element='tns:gettingCreditCountResponse' />
  </message>
  <message name='idendityRequestMessage'>
    <part name='parameters' element='tns:idendityParameters' />
  </message>
  <message name='idendityResponseMessage'>
    <part name='response' element='tns:idendityResponse' />
  </message>
  <message name='redeemingCreditsRequestMessage'>
    <part name='parameters' element='tns:redeemingCreditsParameters' />
  </message>
  <message name='redeemingCreditsResponseMessage'>
    <part name='response' element='tns:redeemingCreditsResponse' />
  </message>
  <message name='sessionEndRequestMessage'>
    <part name='parameters' element='tns:sessionEndParameters' />
  </message>
  <message name='sessionEndResponseMessage'>
    <part name='response' element='tns:sessionEndResponse' />
  </message>
  <message name='sessionStartRequestMessage'>
    <part name='parameters' element='tns:sessionStartParameters' />
  </message>
  <message name='sessionStartResponseMessage'>
    <part name='response' element='tns:sessionStartResponse' />
  </message>
  <portType name='branchMetricsPortType'>
    <operation name='actionTracking'>
      <documentation>track events associated with user and tie back to referring source</documentation>
      <input message='tns:actionTrackingRequestMessage' name='actionTrackingInput' />
      <output message='tns:actionTrackingResponseMessage' name='actionTrackingOutput' />
    </operation>
    <operation name='changingTheIdentity'>
      <input message='tns:changingTheIdentityRequestMessage' name='changingTheIdentityInput' />
      <output message='tns:changingTheIdentityResponseMessage' name='changingTheIdentityOutput' />
    </operation>
    <operation name='creatingADeeplinkingReferralUrl'>
      <documentation>generate URL for sharing referral purposes optional for tracking shareability invites referrals</documentation>
      <input message='tns:creatingADeeplinkingReferralUrlRequestMessage' name='creatingADeeplinkingReferralUrlInput' />
      <output message='tns:creatingADeeplinkingReferralUrlResponseMessage' name='creatingADeeplinkingReferralUrlOutput' />
    </operation>
    <operation name='gettingCreditCount'>
      <documentation></documentation>
      <input message='tns:gettingCreditCountRequestMessage' name='gettingCreditCountInput' />
      <output message='tns:gettingCreditCountResponseMessage' name='gettingCreditCountOutput' />
    </operation>
    <operation name='idendity'>
      <documentation></documentation>
      <input message='tns:idendityRequestMessage' name='idendityInput' />
      <output message='tns:idendityResponseMessage' name='idendityOutput' />
    </operation>
    <operation name='redeemingCredits'>
      <documentation></documentation>
      <input message='tns:redeemingCreditsRequestMessage' name='redeemingCreditsInput' />
      <output message='tns:redeemingCreditsResponseMessage' name='redeemingCreditsOutput' />
    </operation>
    <operation name='sessionEnd'>
      <documentation>close app</documentation>
      <input message='tns:sessionEndRequestMessage' name='sessionEndInput' />
      <output message='tns:sessionEndResponseMessage' name='sessionEndOutput' />
    </operation>
    <operation name='sessionStart'>
      <documentation>start up app</documentation>
      <input message='tns:sessionStartRequestMessage' name='sessionStartInput' />
      <output message='tns:sessionStartResponseMessage' name='sessionStartOutput' />
    </operation>
  </portType>
  <binding name='branchMetricsBinding' type='tns:branchMetricsPortType'>
    <operation name='actionTracking'>
      <soap12:operation soapAction='http://actionTracking' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='changingTheIdentity'>
      <soap12:operation soapAction='http://changingTheIdentity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='creatingADeeplinkingReferralUrl'>
      <soap12:operation soapAction='http://creatingADeeplinkingReferralUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gettingCreditCount'>
      <soap12:operation soapAction='http://gettingCreditCount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='idendity'>
      <soap12:operation soapAction='http://idendity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='redeemingCredits'>
      <soap12:operation soapAction='http://redeemingCredits' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sessionEnd'>
      <soap12:operation soapAction='http://sessionEnd' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sessionStart'>
      <soap12:operation soapAction='http://sessionStart' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='branchMetrics'>
    <documentation>the Branch SDK Less API under branch metrics is used to track events associated with user and tie back to referring source and generate URL for sharing referral purposes optional for tracking shareability invites referrals</documentation>
    <port name='branchMetricsPort' binding='tns:branchMetricsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://branchMetrics' />
    </port>
  </service>
</definitions>