workspace/datasets/mashape_dataset/breezometerairquality.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/breezometerAirQuality/' name='breezometerAirQuality' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/breezometerAirQuality/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/breezometerAirQuality/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/breezometerAirQuality/'>
      <xsd:element name='getApiByLatLonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lon' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiByLatLonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key_valid' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='country_aqi' type='xsd:int' minOccurs='0' />
            <xsd:element name='dominant_pollutant_canonical_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='dominant_pollutant_text' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='effects' type='xsd:string' minOccurs='0' />
                  <xsd:element name='causes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='main' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='breezometer_aqi' type='xsd:int' minOccurs='0' />
            <xsd:element name='breezometer_description' type='xsd:string' minOccurs='0' />
            <xsd:element name='random_recommendations' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='children' type='xsd:string' minOccurs='0' />
                  <xsd:element name='outside' type='xsd:string' minOccurs='0' />
                  <xsd:element name='health' type='xsd:string' minOccurs='0' />
                  <xsd:element name='inside' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sport' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='country_description' type='xsd:string' minOccurs='0' />
            <xsd:element name='country_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='breezometer_color' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='data_valid' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='country_color' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAqiByLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAqiByLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key_valid' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='country_aqi' type='xsd:int' minOccurs='0' />
            <xsd:element name='breezometer_aqi' type='xsd:int' minOccurs='0' />
            <xsd:element name='breezometer_description' type='xsd:string' minOccurs='0' />
            <xsd:element name='random_recommendations' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='children' type='xsd:string' minOccurs='0' />
                  <xsd:element name='outside' type='xsd:string' minOccurs='0' />
                  <xsd:element name='health' type='xsd:string' minOccurs='0' />
                  <xsd:element name='inside' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sport' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='country_description' type='xsd:string' minOccurs='0' />
            <xsd:element name='country_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='breezometer_color' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='data_valid' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='country_color' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getApiByLatLonRequestMessage'>
    <part name='parameters' element='tns:getApiByLatLonParameters' />
  </message>
  <message name='getApiByLatLonResponseMessage'>
    <part name='response' element='tns:getApiByLatLonResponse' />
  </message>
  <message name='getAqiByLocationRequestMessage'>
    <part name='parameters' element='tns:getAqiByLocationParameters' />
  </message>
  <message name='getAqiByLocationResponseMessage'>
    <part name='response' element='tns:getAqiByLocationResponse' />
  </message>
  <portType name='breezometerAirQualityPortType'>
    <operation name='getApiByLatLon'>
      <documentation>you can search locations by Latitude and Longitude Go on give it a go</documentation>
      <input message='tns:getApiByLatLonRequestMessage' name='getApiByLatLonInput' />
      <output message='tns:getApiByLatLonResponseMessage' name='getApiByLatLonOutput' />
    </operation>
    <operation name='getAqiByLocation'>
      <documentation>breezoMeter s API also works great with location based queries</documentation>
      <input message='tns:getAqiByLocationRequestMessage' name='getAqiByLocationInput' />
      <output message='tns:getAqiByLocationResponseMessage' name='getAqiByLocationOutput' />
    </operation>
  </portType>
  <binding name='breezometerAirQualityBinding' type='tns:breezometerAirQualityPortType'>
    <operation name='getApiByLatLon'>
      <soap12:operation soapAction='http://getApiByLatLon' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAqiByLocation'>
      <soap12:operation soapAction='http://getAqiByLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='breezometerAirQuality'>
    <documentation>meet the world s most advanced Air Quality Data This API provides you with a street level air quality data including health recommendations on what you should do As developers we built it in the most fun and simple way to integrate in every platform Examples on how to use the data At weather apps websites Fitness Sport planning the cleanest running route of finding the healthiest place Health providing users with more data and health recommendations Real estate Let your users know in what environment they are going to live in and much more Contact us for more details info breezometer com</documentation>
    <port name='breezometerAirQualityPort' binding='tns:breezometerAirQualityBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://breezometerAirQuality' />
    </port>
  </service>
</definitions>