workspace/datasets/mashape_dataset/britishairwaysflightinfo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/britishAirwaysFlightInfo/' name='britishAirwaysFlightInfo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/britishAirwaysFlightInfo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/britishAirwaysFlightInfo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/britishAirwaysFlightInfo/'>
      <xsd:element name='searchArrivalsByFlightParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='flightnumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='flightnumberscheduledarrivaldatescheduledarrivaldate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='scheduledarrivaldate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchArrivalsByFlightResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='FlightsResponse' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='DataLastUpdated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Flight' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Sector' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='DepartureAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ArrivalStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ArrivalAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='DepartureTerminal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='ArrivalTerminal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='ScheduledDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='MatchesRequest' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='DepartureStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ScheduledArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ReportedArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ReportedDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='OperatingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='AircraftTypeCode' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='FlightNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='MarketingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchArrivalsByRouteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='arrivallocation' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='departurelocation' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='departurelocationarrivallocationarrivallocationscheduledarrivaldatescheduledarrivaldate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='scheduledarrivaldate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchArrivalsByRouteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='FlightsResponse' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='DataLastUpdated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Flight' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Sector' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='DepartureAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ScheduledDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ArrivalStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='MatchesRequest' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='ArrivalAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='DepartureTerminal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='DepartureStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ScheduledArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ReportedArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ReportedDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='OperatingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='AircraftTypeCode' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='FlightNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='MarketingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchDeparturesByFlightParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='flightnumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='flightnumberscheduleddeparturedatescheduleddeparturedate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='scheduleddeparturedate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchDeparturesByFlightResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='FlightsResponse' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='DataLastUpdated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Flight' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Sector' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='DepartureAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ArrivalStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ArrivalAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='DepartureTerminal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='ArrivalTerminal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='ScheduledDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='MatchesRequest' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='DepartureStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ScheduledArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ReportedArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ReportedDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='OperatingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='AircraftTypeCode' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='FlightNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='MarketingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchDeparturesByRouteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='arrivallocation' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='departurelocation' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='departurelocationarrivallocationarrivallocationscheduleddeparturedatescheduleddeparturedate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='scheduleddeparturedate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchDeparturesByRouteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='FlightsResponse' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='DataLastUpdated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Flight' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Sector' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='DepartureAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ScheduledDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ArrivalStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='MatchesRequest' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='ArrivalAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='DepartureTerminal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='DepartureStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ScheduledArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ReportedArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ReportedDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='OperatingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='AircraftTypeCode' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='FlightNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='MarketingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchTodaySArrivalsByTimeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='arrivallocation' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='arrivallocationstarttimestarttimeendtimeendtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='endtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='starttime' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchTodaySArrivalsByTimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='FlightsResponse' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='DataLastUpdated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Flight' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Sector' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='DepartureAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ScheduledDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ArrivalStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='MatchesRequest' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='ArrivalAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='DepartureStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ScheduledArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ReportedArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ArrivalTerminal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='ReportedDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='OperatingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='AircraftTypeCode' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='FlightNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='MarketingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchTodaySDeparturesByTimeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='departurelocation' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='departurelocationstarttimestarttimeendtimeendtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='endtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='starttime' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchTodaySDeparturesByTimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='FlightsResponse' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='DataLastUpdated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Flight' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Sector' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='DepartureAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ArrivalStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ArrivalAirport' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='DepartureTerminal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='ArrivalTerminal' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ScheduledDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='MatchesRequest' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='DepartureStatus' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ScheduledArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ReportedArrivalDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ReportedDepartureDateTime' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='OperatingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='AircraftTypeCode' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='FlightNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='MarketingCarrierCode' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='searchArrivalsByFlightRequestMessage'>
    <part name='parameters' element='tns:searchArrivalsByFlightParameters' />
  </message>
  <message name='searchArrivalsByFlightResponseMessage'>
    <part name='response' element='tns:searchArrivalsByFlightResponse' />
  </message>
  <message name='searchArrivalsByRouteRequestMessage'>
    <part name='parameters' element='tns:searchArrivalsByRouteParameters' />
  </message>
  <message name='searchArrivalsByRouteResponseMessage'>
    <part name='response' element='tns:searchArrivalsByRouteResponse' />
  </message>
  <message name='searchDeparturesByFlightRequestMessage'>
    <part name='parameters' element='tns:searchDeparturesByFlightParameters' />
  </message>
  <message name='searchDeparturesByFlightResponseMessage'>
    <part name='response' element='tns:searchDeparturesByFlightResponse' />
  </message>
  <message name='searchDeparturesByRouteRequestMessage'>
    <part name='parameters' element='tns:searchDeparturesByRouteParameters' />
  </message>
  <message name='searchDeparturesByRouteResponseMessage'>
    <part name='response' element='tns:searchDeparturesByRouteResponse' />
  </message>
  <message name='searchTodaySArrivalsByTimeRequestMessage'>
    <part name='parameters' element='tns:searchTodaySArrivalsByTimeParameters' />
  </message>
  <message name='searchTodaySArrivalsByTimeResponseMessage'>
    <part name='response' element='tns:searchTodaySArrivalsByTimeResponse' />
  </message>
  <message name='searchTodaySDeparturesByTimeRequestMessage'>
    <part name='parameters' element='tns:searchTodaySDeparturesByTimeParameters' />
  </message>
  <message name='searchTodaySDeparturesByTimeResponseMessage'>
    <part name='response' element='tns:searchTodaySDeparturesByTimeResponse' />
  </message>
  <portType name='britishAirwaysFlightInfoPortType'>
    <operation name='searchArrivalsByFlight'>
      <documentation></documentation>
      <input message='tns:searchArrivalsByFlightRequestMessage' name='searchArrivalsByFlightInput' />
      <output message='tns:searchArrivalsByFlightResponseMessage' name='searchArrivalsByFlightOutput' />
    </operation>
    <operation name='searchArrivalsByRoute'>
      <documentation></documentation>
      <input message='tns:searchArrivalsByRouteRequestMessage' name='searchArrivalsByRouteInput' />
      <output message='tns:searchArrivalsByRouteResponseMessage' name='searchArrivalsByRouteOutput' />
    </operation>
    <operation name='searchDeparturesByFlight'>
      <documentation></documentation>
      <input message='tns:searchDeparturesByFlightRequestMessage' name='searchDeparturesByFlightInput' />
      <output message='tns:searchDeparturesByFlightResponseMessage' name='searchDeparturesByFlightOutput' />
    </operation>
    <operation name='searchDeparturesByRoute'>
      <documentation></documentation>
      <input message='tns:searchDeparturesByRouteRequestMessage' name='searchDeparturesByRouteInput' />
      <output message='tns:searchDeparturesByRouteResponseMessage' name='searchDeparturesByRouteOutput' />
    </operation>
    <operation name='searchTodaySArrivalsByTime'>
      <documentation></documentation>
      <input message='tns:searchTodaySArrivalsByTimeRequestMessage' name='searchTodaySArrivalsByTimeInput' />
      <output message='tns:searchTodaySArrivalsByTimeResponseMessage' name='searchTodaySArrivalsByTimeOutput' />
    </operation>
    <operation name='searchTodaySDeparturesByTime'>
      <documentation></documentation>
      <input message='tns:searchTodaySDeparturesByTimeRequestMessage' name='searchTodaySDeparturesByTimeInput' />
      <output message='tns:searchTodaySDeparturesByTimeResponseMessage' name='searchTodaySDeparturesByTimeOutput' />
    </operation>
  </portType>
  <binding name='britishAirwaysFlightInfoBinding' type='tns:britishAirwaysFlightInfoPortType'>
    <operation name='searchArrivalsByFlight'>
      <soap12:operation soapAction='http://searchArrivalsByFlight' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchArrivalsByRoute'>
      <soap12:operation soapAction='http://searchArrivalsByRoute' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchDeparturesByFlight'>
      <soap12:operation soapAction='http://searchDeparturesByFlight' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchDeparturesByRoute'>
      <soap12:operation soapAction='http://searchDeparturesByRoute' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchTodaySArrivalsByTime'>
      <soap12:operation soapAction='http://searchTodaySArrivalsByTime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchTodaySDeparturesByTime'>
      <soap12:operation soapAction='http://searchTodaySDeparturesByTime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='britishAirwaysFlightInfo'>
    <documentation>british Airways is the flag carrier airline of the United Kingdom and its largest airline based on fleet size international flights and international destinations</documentation>
    <port name='britishAirwaysFlightInfoPort' binding='tns:britishAirwaysFlightInfoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://britishAirwaysFlightInfo' />
    </port>
  </service>
</definitions>