workspace/datasets/mashape_dataset/bypasscaptcha.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/bypassCaptcha/' name='bypassCaptcha' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/bypassCaptcha/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/bypassCaptcha/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/bypassCaptcha/'>
      <xsd:element name='captchatypersComFormsFileuploadandgettextcaptchaurlHtmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='captchatypersComFormsFileuploadandgettextnewHtmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='captchatypersComFormsRequestbalanceHtmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='captchatypersComFormsSetbadimageHtmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='captchatypersComFormsFileuploadandgettextcaptchaurlHtmRequestMessage' />
  <message name='captchatypersComFormsFileuploadandgettextcaptchaurlHtmResponseMessage'>
    <part name='response' element='tns:captchatypersComFormsFileuploadandgettextcaptchaurlHtmResponse' />
  </message>
  <message name='captchatypersComFormsFileuploadandgettextnewHtmRequestMessage' />
  <message name='captchatypersComFormsFileuploadandgettextnewHtmResponseMessage'>
    <part name='response' element='tns:captchatypersComFormsFileuploadandgettextnewHtmResponse' />
  </message>
  <message name='captchatypersComFormsRequestbalanceHtmRequestMessage' />
  <message name='captchatypersComFormsRequestbalanceHtmResponseMessage'>
    <part name='response' element='tns:captchatypersComFormsRequestbalanceHtmResponse' />
  </message>
  <message name='captchatypersComFormsSetbadimageHtmRequestMessage' />
  <message name='captchatypersComFormsSetbadimageHtmResponseMessage'>
    <part name='response' element='tns:captchatypersComFormsSetbadimageHtmResponse' />
  </message>
  <portType name='bypassCaptchaPortType'>
    <operation name='captchatypersComFormsFileuploadandgettextcaptchaurlHtm'>
      <documentation>file Upload And GetT ext Captcha URL</documentation>
      <input message='tns:captchatypersComFormsFileuploadandgettextcaptchaurlHtmRequestMessage' name='captchatypersComFormsFileuploadandgettextcaptchaurlHtmInput' />
      <output message='tns:captchatypersComFormsFileuploadandgettextcaptchaurlHtmResponseMessage' name='captchatypersComFormsFileuploadandgettextcaptchaurlHtmOutput' />
    </operation>
    <operation name='captchatypersComFormsFileuploadandgettextnewHtm'>
      <documentation></documentation>
      <input message='tns:captchatypersComFormsFileuploadandgettextnewHtmRequestMessage' name='captchatypersComFormsFileuploadandgettextnewHtmInput' />
      <output message='tns:captchatypersComFormsFileuploadandgettextnewHtmResponseMessage' name='captchatypersComFormsFileuploadandgettextnewHtmOutput' />
    </operation>
    <operation name='captchatypersComFormsRequestbalanceHtm'>
      <documentation>request Balance</documentation>
      <input message='tns:captchatypersComFormsRequestbalanceHtmRequestMessage' name='captchatypersComFormsRequestbalanceHtmInput' />
      <output message='tns:captchatypersComFormsRequestbalanceHtmResponseMessage' name='captchatypersComFormsRequestbalanceHtmOutput' />
    </operation>
    <operation name='captchatypersComFormsSetbadimageHtm'>
      <documentation>set Bad Captcha</documentation>
      <input message='tns:captchatypersComFormsSetbadimageHtmRequestMessage' name='captchatypersComFormsSetbadimageHtmInput' />
      <output message='tns:captchatypersComFormsSetbadimageHtmResponseMessage' name='captchatypersComFormsSetbadimageHtmOutput' />
    </operation>
  </portType>
  <binding name='bypassCaptchaBinding' type='tns:bypassCaptchaPortType'>
    <operation name='captchatypersComFormsFileuploadandgettextcaptchaurlHtm'>
      <soap12:operation soapAction='http://captchatypersComFormsFileuploadandgettextcaptchaurlHtm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='captchatypersComFormsFileuploadandgettextnewHtm'>
      <soap12:operation soapAction='http://captchatypersComFormsFileuploadandgettextnewHtm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='captchatypersComFormsRequestbalanceHtm'>
      <soap12:operation soapAction='http://captchatypersComFormsRequestbalanceHtm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='captchatypersComFormsSetbadimageHtm'>
      <soap12:operation soapAction='http://captchatypersComFormsSetbadimageHtm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='bypassCaptcha'>
    <documentation>imageTyperz is a leading bypass captcha service in market Our team can bypass any type of captcha in division of seconds We are guaranteeing our accuracy over with no charge for bad captchas We have captcha bypass APIs available in different types of platform NET C C Java PHP Perl etc</documentation>
    <port name='bypassCaptchaPort' binding='tns:bypassCaptchaBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://bypassCaptcha' />
    </port>
  </service>
</definitions>