workspace/datasets/mashape_dataset/calltrackingmetrics.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/calltrackingmetrics/' name='calltrackingmetrics' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/calltrackingmetrics/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/calltrackingmetrics/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/calltrackingmetrics/'>
      <xsd:element name='addAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='next_page' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='per_page' type='xsd:int' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
            <xsd:element name='total_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='previous_page' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='total_entries' type='xsd:int' minOccurs='0' />
            <xsd:element name='users' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addReceivingNumberParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='aid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='nid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addReceivingNumberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='receiving_number' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='receiving_number_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='schedules' type='xsd:string' minOccurs='0' />
                  <xsd:element name='tracking_number_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addRoleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='aid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addRoleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addTrackingSourceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='aid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='nid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addTrackingSourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='tracking_group' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='aid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='buyNumberParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='buyNumberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='number' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDeleteAWebhookParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='webhookid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDeleteAWebhookResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSmsTriggersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSmsTriggersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCallDetailParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCallDetailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCallsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='enddate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startdate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCallsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAccountsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAccountsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='next_page' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='per_page' type='xsd:int' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
            <xsd:element name='total_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='previous_page' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='accounts' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='user_role' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='balance' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='precision' type='xsd:int' minOccurs='0' />
                        <xsd:element name='cents' type='xsd:int' minOccurs='0' />
                        <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='stats' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='calls' type='xsd:int' minOccurs='0' />
                        <xsd:element name='tracking_numbers' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total_entries' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listNumbersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='aid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listNumbersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='next_page' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='numbers' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='previous_page' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='total_entries' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listTextMessagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='aid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listTextMessagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='next_page' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='messages' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='from_country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='to_number' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='number_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='to_zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='from_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='to_country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='to_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='body' type='xsd:string' minOccurs='0' />
                  <xsd:element name='billed_amount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='to_state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='from_state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='account_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='billed_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='from_number' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='parent_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='from_zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tracking_source_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='callerid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='direction' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='previous_page' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='total_entries' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUsersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='aid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='next_page' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='per_page' type='xsd:int' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
            <xsd:element name='total_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='previous_page' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='total_entries' type='xsd:int' minOccurs='0' />
            <xsd:element name='users' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postCreateAWebhookParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postCreateAWebhookResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postFormreactorWebhookParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='formreactorid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postFormreactorWebhookResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postModifyCallDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postModifyCallDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postSaleRecordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postSaleRecordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:int' minOccurs='0' />
            <xsd:element name='rep' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='sale_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='conversion' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postSmsTriggersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postSmsTriggersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='putSmsTriggersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='putSmsTriggersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='releaseNumberParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='aid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='nid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='releaseNumberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='number' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='released' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchNumbersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='areacode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchNumbersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='lata' type='xsd:int' minOccurs='0' />
                  <xsd:element name='friendly_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='iso_country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rate_center' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='phone_number' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='postal_code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendingSmsTextMessagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendingSmsTextMessagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addAccountRequestMessage' />
  <message name='addAccountResponseMessage'>
    <part name='response' element='tns:addAccountResponse' />
  </message>
  <message name='addReceivingNumberRequestMessage'>
    <part name='parameters' element='tns:addReceivingNumberParameters' />
  </message>
  <message name='addReceivingNumberResponseMessage'>
    <part name='response' element='tns:addReceivingNumberResponse' />
  </message>
  <message name='addRoleRequestMessage'>
    <part name='parameters' element='tns:addRoleParameters' />
  </message>
  <message name='addRoleResponseMessage'>
    <part name='response' element='tns:addRoleResponse' />
  </message>
  <message name='addTrackingSourceRequestMessage'>
    <part name='parameters' element='tns:addTrackingSourceParameters' />
  </message>
  <message name='addTrackingSourceResponseMessage'>
    <part name='response' element='tns:addTrackingSourceResponse' />
  </message>
  <message name='addUserRequestMessage'>
    <part name='parameters' element='tns:addUserParameters' />
  </message>
  <message name='addUserResponseMessage'>
    <part name='response' element='tns:addUserResponse' />
  </message>
  <message name='buyNumberRequestMessage'>
    <part name='parameters' element='tns:buyNumberParameters' />
  </message>
  <message name='buyNumberResponseMessage'>
    <part name='response' element='tns:buyNumberResponse' />
  </message>
  <message name='deleteDeleteAWebhookRequestMessage'>
    <part name='parameters' element='tns:deleteDeleteAWebhookParameters' />
  </message>
  <message name='deleteDeleteAWebhookResponseMessage'>
    <part name='response' element='tns:deleteDeleteAWebhookResponse' />
  </message>
  <message name='deleteSmsTriggersRequestMessage'>
    <part name='parameters' element='tns:deleteSmsTriggersParameters' />
  </message>
  <message name='deleteSmsTriggersResponseMessage'>
    <part name='response' element='tns:deleteSmsTriggersResponse' />
  </message>
  <message name='getCallDetailRequestMessage'>
    <part name='parameters' element='tns:getCallDetailParameters' />
  </message>
  <message name='getCallDetailResponseMessage'>
    <part name='response' element='tns:getCallDetailResponse' />
  </message>
  <message name='getCallsRequestMessage'>
    <part name='parameters' element='tns:getCallsParameters' />
  </message>
  <message name='getCallsResponseMessage'>
    <part name='response' element='tns:getCallsResponse' />
  </message>
  <message name='listAccountsRequestMessage'>
    <part name='parameters' element='tns:listAccountsParameters' />
  </message>
  <message name='listAccountsResponseMessage'>
    <part name='response' element='tns:listAccountsResponse' />
  </message>
  <message name='listNumbersRequestMessage'>
    <part name='parameters' element='tns:listNumbersParameters' />
  </message>
  <message name='listNumbersResponseMessage'>
    <part name='response' element='tns:listNumbersResponse' />
  </message>
  <message name='listTextMessagesRequestMessage'>
    <part name='parameters' element='tns:listTextMessagesParameters' />
  </message>
  <message name='listTextMessagesResponseMessage'>
    <part name='response' element='tns:listTextMessagesResponse' />
  </message>
  <message name='listUsersRequestMessage'>
    <part name='parameters' element='tns:listUsersParameters' />
  </message>
  <message name='listUsersResponseMessage'>
    <part name='response' element='tns:listUsersResponse' />
  </message>
  <message name='postCreateAWebhookRequestMessage'>
    <part name='parameters' element='tns:postCreateAWebhookParameters' />
  </message>
  <message name='postCreateAWebhookResponseMessage'>
    <part name='response' element='tns:postCreateAWebhookResponse' />
  </message>
  <message name='postFormreactorWebhookRequestMessage'>
    <part name='parameters' element='tns:postFormreactorWebhookParameters' />
  </message>
  <message name='postFormreactorWebhookResponseMessage'>
    <part name='response' element='tns:postFormreactorWebhookResponse' />
  </message>
  <message name='postModifyCallDataRequestMessage'>
    <part name='parameters' element='tns:postModifyCallDataParameters' />
  </message>
  <message name='postModifyCallDataResponseMessage'>
    <part name='response' element='tns:postModifyCallDataResponse' />
  </message>
  <message name='postSaleRecordRequestMessage'>
    <part name='parameters' element='tns:postSaleRecordParameters' />
  </message>
  <message name='postSaleRecordResponseMessage'>
    <part name='response' element='tns:postSaleRecordResponse' />
  </message>
  <message name='postSmsTriggersRequestMessage'>
    <part name='parameters' element='tns:postSmsTriggersParameters' />
  </message>
  <message name='postSmsTriggersResponseMessage'>
    <part name='response' element='tns:postSmsTriggersResponse' />
  </message>
  <message name='putSmsTriggersRequestMessage'>
    <part name='parameters' element='tns:putSmsTriggersParameters' />
  </message>
  <message name='putSmsTriggersResponseMessage'>
    <part name='response' element='tns:putSmsTriggersResponse' />
  </message>
  <message name='releaseNumberRequestMessage'>
    <part name='parameters' element='tns:releaseNumberParameters' />
  </message>
  <message name='releaseNumberResponseMessage'>
    <part name='response' element='tns:releaseNumberResponse' />
  </message>
  <message name='searchNumbersRequestMessage'>
    <part name='parameters' element='tns:searchNumbersParameters' />
  </message>
  <message name='searchNumbersResponseMessage'>
    <part name='response' element='tns:searchNumbersResponse' />
  </message>
  <message name='sendingSmsTextMessagesRequestMessage'>
    <part name='parameters' element='tns:sendingSmsTextMessagesParameters' />
  </message>
  <message name='sendingSmsTextMessagesResponseMessage'>
    <part name='response' element='tns:sendingSmsTextMessagesResponse' />
  </message>
  <portType name='calltrackingmetricsPortType'>
    <operation name='addAccount'>
      <documentation></documentation>
      <input message='tns:addAccountRequestMessage' name='addAccountInput' />
      <output message='tns:addAccountResponseMessage' name='addAccountOutput' />
    </operation>
    <operation name='addReceivingNumber'>
      <documentation></documentation>
      <input message='tns:addReceivingNumberRequestMessage' name='addReceivingNumberInput' />
      <output message='tns:addReceivingNumberResponseMessage' name='addReceivingNumberOutput' />
    </operation>
    <operation name='addRole'>
      <documentation></documentation>
      <input message='tns:addRoleRequestMessage' name='addRoleInput' />
      <output message='tns:addRoleResponseMessage' name='addRoleOutput' />
    </operation>
    <operation name='addTrackingSource'>
      <documentation></documentation>
      <input message='tns:addTrackingSourceRequestMessage' name='addTrackingSourceInput' />
      <output message='tns:addTrackingSourceResponseMessage' name='addTrackingSourceOutput' />
    </operation>
    <operation name='addUser'>
      <documentation></documentation>
      <input message='tns:addUserRequestMessage' name='addUserInput' />
      <output message='tns:addUserResponseMessage' name='addUserOutput' />
    </operation>
    <operation name='buyNumber'>
      <documentation>request paramaters are sent via an HTTP POST and should be URL Encoded</documentation>
      <input message='tns:buyNumberRequestMessage' name='buyNumberInput' />
      <output message='tns:buyNumberResponseMessage' name='buyNumberOutput' />
    </operation>
    <operation name='deleteDeleteAWebhook'>
      <documentation></documentation>
      <input message='tns:deleteDeleteAWebhookRequestMessage' name='deleteDeleteAWebhookInput' />
      <output message='tns:deleteDeleteAWebhookResponseMessage' name='deleteDeleteAWebhookOutput' />
    </operation>
    <operation name='deleteSmsTriggers'>
      <documentation></documentation>
      <input message='tns:deleteSmsTriggersRequestMessage' name='deleteSmsTriggersInput' />
      <output message='tns:deleteSmsTriggersResponseMessage' name='deleteSmsTriggersOutput' />
    </operation>
    <operation name='getCallDetail'>
      <documentation></documentation>
      <input message='tns:getCallDetailRequestMessage' name='getCallDetailInput' />
      <output message='tns:getCallDetailResponseMessage' name='getCallDetailOutput' />
    </operation>
    <operation name='getCalls'>
      <documentation>the Calls API allows you easy access to all your call data You can subscribe to new incoming calls to receive an HTTP request when a call is completed You can also query the call API to retrieve all past calls</documentation>
      <input message='tns:getCallsRequestMessage' name='getCallsInput' />
      <output message='tns:getCallsResponseMessage' name='getCallsOutput' />
    </operation>
    <operation name='listAccounts'>
      <documentation>the accounts API allows you to create and manage accounts</documentation>
      <input message='tns:listAccountsRequestMessage' name='listAccountsInput' />
      <output message='tns:listAccountsResponseMessage' name='listAccountsOutput' />
    </operation>
    <operation name='listNumbers'>
      <documentation>the numbers API allows you to search purchase and manage settings on each tracking number</documentation>
      <input message='tns:listNumbersRequestMessage' name='listNumbersInput' />
      <output message='tns:listNumbersResponseMessage' name='listNumbersOutput' />
    </operation>
    <operation name='listTextMessages'>
      <documentation>the SMS API allows you to search send and manage text messaging triggers for all capable numbers</documentation>
      <input message='tns:listTextMessagesRequestMessage' name='listTextMessagesInput' />
      <output message='tns:listTextMessagesResponseMessage' name='listTextMessagesOutput' />
    </operation>
    <operation name='listUsers'>
      <documentation>the users API allows you to create and manage users</documentation>
      <input message='tns:listUsersRequestMessage' name='listUsersInput' />
      <output message='tns:listUsersResponseMessage' name='listUsersOutput' />
    </operation>
    <operation name='postCreateAWebhook'>
      <documentation></documentation>
      <input message='tns:postCreateAWebhookRequestMessage' name='postCreateAWebhookInput' />
      <output message='tns:postCreateAWebhookResponseMessage' name='postCreateAWebhookOutput' />
    </operation>
    <operation name='postFormreactorWebhook'>
      <documentation>allow any service to start a FormReactor call flow This will save data into the call log as a Form Lead as well as trigger a phone call to the designated Sales phone number</documentation>
      <input message='tns:postFormreactorWebhookRequestMessage' name='postFormreactorWebhookInput' />
      <output message='tns:postFormreactorWebhookResponseMessage' name='postFormreactorWebhookOutput' />
    </operation>
    <operation name='postModifyCallData'>
      <documentation></documentation>
      <input message='tns:postModifyCallDataRequestMessage' name='postModifyCallDataInput' />
      <output message='tns:postModifyCallDataResponseMessage' name='postModifyCallDataOutput' />
    </operation>
    <operation name='postSaleRecord'>
      <documentation></documentation>
      <input message='tns:postSaleRecordRequestMessage' name='postSaleRecordInput' />
      <output message='tns:postSaleRecordResponseMessage' name='postSaleRecordOutput' />
    </operation>
    <operation name='postSmsTriggers'>
      <documentation>triggers allow you to define how to react when receiving a text message Should we auto respond with a message forward the message to another phone send an email etc</documentation>
      <input message='tns:postSmsTriggersRequestMessage' name='postSmsTriggersInput' />
      <output message='tns:postSmsTriggersResponseMessage' name='postSmsTriggersOutput' />
    </operation>
    <operation name='putSmsTriggers'>
      <documentation></documentation>
      <input message='tns:putSmsTriggersRequestMessage' name='putSmsTriggersInput' />
      <output message='tns:putSmsTriggersResponseMessage' name='putSmsTriggersOutput' />
    </operation>
    <operation name='releaseNumber'>
      <documentation></documentation>
      <input message='tns:releaseNumberRequestMessage' name='releaseNumberInput' />
      <output message='tns:releaseNumberResponseMessage' name='releaseNumberOutput' />
    </operation>
    <operation name='searchNumbers'>
      <documentation></documentation>
      <input message='tns:searchNumbersRequestMessage' name='searchNumbersInput' />
      <output message='tns:searchNumbersResponseMessage' name='searchNumbersOutput' />
    </operation>
    <operation name='sendingSmsTextMessages'>
      <documentation></documentation>
      <input message='tns:sendingSmsTextMessagesRequestMessage' name='sendingSmsTextMessagesInput' />
      <output message='tns:sendingSmsTextMessagesResponseMessage' name='sendingSmsTextMessagesOutput' />
    </operation>
  </portType>
  <binding name='calltrackingmetricsBinding' type='tns:calltrackingmetricsPortType'>
    <operation name='addAccount'>
      <soap12:operation soapAction='http://addAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addReceivingNumber'>
      <soap12:operation soapAction='http://addReceivingNumber' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addRole'>
      <soap12:operation soapAction='http://addRole' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addTrackingSource'>
      <soap12:operation soapAction='http://addTrackingSource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addUser'>
      <soap12:operation soapAction='http://addUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='buyNumber'>
      <soap12:operation soapAction='http://buyNumber' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteDeleteAWebhook'>
      <soap12:operation soapAction='http://deleteDeleteAWebhook' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteSmsTriggers'>
      <soap12:operation soapAction='http://deleteSmsTriggers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCallDetail'>
      <soap12:operation soapAction='http://getCallDetail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCalls'>
      <soap12:operation soapAction='http://getCalls' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAccounts'>
      <soap12:operation soapAction='http://listAccounts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listNumbers'>
      <soap12:operation soapAction='http://listNumbers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listTextMessages'>
      <soap12:operation soapAction='http://listTextMessages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listUsers'>
      <soap12:operation soapAction='http://listUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postCreateAWebhook'>
      <soap12:operation soapAction='http://postCreateAWebhook' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postFormreactorWebhook'>
      <soap12:operation soapAction='http://postFormreactorWebhook' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postModifyCallData'>
      <soap12:operation soapAction='http://postModifyCallData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postSaleRecord'>
      <soap12:operation soapAction='http://postSaleRecord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postSmsTriggers'>
      <soap12:operation soapAction='http://postSmsTriggers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='putSmsTriggers'>
      <soap12:operation soapAction='http://putSmsTriggers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='releaseNumber'>
      <soap12:operation soapAction='http://releaseNumber' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchNumbers'>
      <soap12:operation soapAction='http://searchNumbers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendingSmsTextMessages'>
      <soap12:operation soapAction='http://sendingSmsTextMessages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='calltrackingmetrics'>
    <documentation>track the performance of your advertising with instantly activated tracking numbers in countries Integrate with Google and track down to keyword level</documentation>
    <port name='calltrackingmetricsPort' binding='tns:calltrackingmetricsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://calltrackingmetrics' />
    </port>
  </service>
</definitions>