workspace/datasets/mashape_dataset/campbellskitchen.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/campbellsKitchen/' name='campbellsKitchen' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/campbellsKitchen/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/campbellsKitchen/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/campbellsKitchen/'>
      <xsd:element name='getAllRecipeNutritionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='recipeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllRecipeNutritionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='nutrition' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='totalfat' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='calcium' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='vitaminc' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='totalcarbohydrate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='calories' type='xsd:int' minOccurs='0' />
                  <xsd:element name='saturatedfat' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sodium' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recipe_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dietaryfiber' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='protein' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cholesterol' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='iron' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='vitamina' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllRecipeReviewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='recipeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllRecipeReviewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reviews' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='recipe_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='review' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='review_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='makeagain' type='xsd:int' minOccurs='0' />
                        <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='subdate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='comment' type='xsd:string' minOccurs='0' />
                        <xsd:element name='stars' type='xsd:int' minOccurs='0' />
                        <xsd:element name='username' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecipeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='recipeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecipeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thumbimg' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='mobilehdimg' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='reviewers' type='xsd:int' minOccurs='0' />
                  <xsd:element name='steps' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='number' type='xsd:int' minOccurs='0' />
                        <xsd:element name='step' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='bigimg' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='nutrition' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='totalfat' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='calcium' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='vitaminc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='totalcarbohydrate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='calories' type='xsd:int' minOccurs='0' />
                        <xsd:element name='saturatedfat' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sodium' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='recipe_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='dietaryfiber' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='protein' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='cholesterol' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='iron' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='vitamina' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='recipe_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='madewith' type='xsd:string' minOccurs='0' />
                  <xsd:element name='glance' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='bake' type='xsd:string' minOccurs='0' />
                        <xsd:element name='prep' type='xsd:string' minOccurs='0' />
                        <xsd:element name='source' type='xsd:string' minOccurs='0' />
                        <xsd:element name='make' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='mobileimg' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ingredients' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ingredient' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='recipelink' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecipeFullDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='recipeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecipeFullDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thumbimg' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='mobilehdimg' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='reviewers' type='xsd:int' minOccurs='0' />
                  <xsd:element name='steps' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='number' type='xsd:int' minOccurs='0' />
                        <xsd:element name='step' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='bigimg' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='nutrition' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='totalfat' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='calcium' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='vitaminc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='totalcarbohydrate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='calories' type='xsd:int' minOccurs='0' />
                        <xsd:element name='saturatedfat' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sodium' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='recipe_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='dietaryfiber' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='protein' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='cholesterol' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='iron' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='vitamina' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='recipe_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='madewith' type='xsd:string' minOccurs='0' />
                  <xsd:element name='reviews' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='review_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='makeagain' type='xsd:int' minOccurs='0' />
                        <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='subdate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='comment' type='xsd:string' minOccurs='0' />
                        <xsd:element name='stars' type='xsd:int' minOccurs='0' />
                        <xsd:element name='username' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='glance' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='bake' type='xsd:string' minOccurs='0' />
                        <xsd:element name='prep' type='xsd:string' minOccurs='0' />
                        <xsd:element name='source' type='xsd:string' minOccurs='0' />
                        <xsd:element name='make' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='mobileimg' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ingredients' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ingredient' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='recipelink' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchRecipesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ingredient' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keyword' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='preptime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='product' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='total' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchRecipesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='totalrecipes' type='xsd:int' minOccurs='0' />
            <xsd:element name='searchterm' type='xsd:int' minOccurs='0' />
            <xsd:element name='recordstart' type='xsd:int' minOccurs='0' />
            <xsd:element name='recordend' type='xsd:int' minOccurs='0' />
            <xsd:element name='totalpages' type='xsd:int' minOccurs='0' />
            <xsd:element name='selectedfilters' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getAllRecipeNutritionRequestMessage'>
    <part name='parameters' element='tns:getAllRecipeNutritionParameters' />
  </message>
  <message name='getAllRecipeNutritionResponseMessage'>
    <part name='response' element='tns:getAllRecipeNutritionResponse' />
  </message>
  <message name='getAllRecipeReviewsRequestMessage'>
    <part name='parameters' element='tns:getAllRecipeReviewsParameters' />
  </message>
  <message name='getAllRecipeReviewsResponseMessage'>
    <part name='response' element='tns:getAllRecipeReviewsResponse' />
  </message>
  <message name='getRecipeRequestMessage'>
    <part name='parameters' element='tns:getRecipeParameters' />
  </message>
  <message name='getRecipeResponseMessage'>
    <part name='response' element='tns:getRecipeResponse' />
  </message>
  <message name='getRecipeFullDetailsRequestMessage'>
    <part name='parameters' element='tns:getRecipeFullDetailsParameters' />
  </message>
  <message name='getRecipeFullDetailsResponseMessage'>
    <part name='response' element='tns:getRecipeFullDetailsResponse' />
  </message>
  <message name='searchRecipesRequestMessage'>
    <part name='parameters' element='tns:searchRecipesParameters' />
  </message>
  <message name='searchRecipesResponseMessage'>
    <part name='response' element='tns:searchRecipesResponse' />
  </message>
  <portType name='campbellsKitchenPortType'>
    <operation name='getAllRecipeNutrition'>
      <documentation></documentation>
      <input message='tns:getAllRecipeNutritionRequestMessage' name='getAllRecipeNutritionInput' />
      <output message='tns:getAllRecipeNutritionResponseMessage' name='getAllRecipeNutritionOutput' />
    </operation>
    <operation name='getAllRecipeReviews'>
      <documentation></documentation>
      <input message='tns:getAllRecipeReviewsRequestMessage' name='getAllRecipeReviewsInput' />
      <output message='tns:getAllRecipeReviewsResponseMessage' name='getAllRecipeReviewsOutput' />
    </operation>
    <operation name='getRecipe'>
      <documentation></documentation>
      <input message='tns:getRecipeRequestMessage' name='getRecipeInput' />
      <output message='tns:getRecipeResponseMessage' name='getRecipeOutput' />
    </operation>
    <operation name='getRecipeFullDetails'>
      <documentation></documentation>
      <input message='tns:getRecipeFullDetailsRequestMessage' name='getRecipeFullDetailsInput' />
      <output message='tns:getRecipeFullDetailsResponseMessage' name='getRecipeFullDetailsOutput' />
    </operation>
    <operation name='searchRecipes'>
      <documentation></documentation>
      <input message='tns:searchRecipesRequestMessage' name='searchRecipesInput' />
      <output message='tns:searchRecipesResponseMessage' name='searchRecipesOutput' />
    </operation>
  </portType>
  <binding name='campbellsKitchenBinding' type='tns:campbellsKitchenPortType'>
    <operation name='getAllRecipeNutrition'>
      <soap12:operation soapAction='http://getAllRecipeNutrition' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAllRecipeReviews'>
      <soap12:operation soapAction='http://getAllRecipeReviews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRecipe'>
      <soap12:operation soapAction='http://getRecipe' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRecipeFullDetails'>
      <soap12:operation soapAction='http://getRecipeFullDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchRecipes'>
      <soap12:operation soapAction='http://searchRecipes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='campbellsKitchen'>
    <documentation>campbell s Kitchen is all about sharing information In our case that information includes thousands of recipes using brands like Campbell s Swanson Pace Prego Pepperidge Farm brands people love and trust and use every day GET ACCESS T</documentation>
    <port name='campbellsKitchenPort' binding='tns:campbellsKitchenBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://campbellsKitchen' />
    </port>
  </service>
</definitions>