workspace/datasets/mashape_dataset/carma.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/carma/' name='carma' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/carma/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/carma/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/carma/'>
      <xsd:element name='nearbyUsersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='clientid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='currentlat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='currentlon' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='onlinesince' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='orderbyonlinems' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='originlabel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='originlat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='originlon' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='originradius' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pagenum' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='userfields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nearbyUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchUsersByAliasParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='clientid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keyword' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lon' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pagenum' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='userfields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchUsersByAliasResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='paginator' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='totalResults' type='xsd:int' minOccurs='0' />
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='totalPages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rawTotalResults' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='users' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='photoUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='deleted' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='userHasPhoto' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='alias' type='xsd:string' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tripSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='clientid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='destinationlat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='destinationlon' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='originlat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='originlon' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pagenum' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='userfields' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tripSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='nearbyUsersRequestMessage'>
    <part name='parameters' element='tns:nearbyUsersParameters' />
  </message>
  <message name='nearbyUsersResponseMessage'>
    <part name='response' element='tns:nearbyUsersResponse' />
  </message>
  <message name='searchUsersByAliasRequestMessage'>
    <part name='parameters' element='tns:searchUsersByAliasParameters' />
  </message>
  <message name='searchUsersByAliasResponseMessage'>
    <part name='response' element='tns:searchUsersByAliasResponse' />
  </message>
  <message name='tripSearchRequestMessage'>
    <part name='parameters' element='tns:tripSearchParameters' />
  </message>
  <message name='tripSearchResponseMessage'>
    <part name='response' element='tns:tripSearchResponse' />
  </message>
  <portType name='carmaPortType'>
    <operation name='nearbyUsers'>
      <documentation>nB For the full Carma API listing go to https api car ma apidoc ref index html This retrieves a list of nearby users according to the parameters that were supplied Note This endpoint does NOT require authentication</documentation>
      <input message='tns:nearbyUsersRequestMessage' name='nearbyUsersInput' />
      <output message='tns:nearbyUsersResponseMessage' name='nearbyUsersOutput' />
    </operation>
    <operation name='searchUsersByAlias'>
      <documentation>nB For the full Carma API listing go to https api car ma apidoc ref index html Search users by name the result will be ordered so users who s last known location is closest to the given location are first Note This endpoint does NOT require authentication</documentation>
      <input message='tns:searchUsersByAliasRequestMessage' name='searchUsersByAliasInput' />
      <output message='tns:searchUsersByAliasResponseMessage' name='searchUsersByAliasOutput' />
    </operation>
    <operation name='tripSearch'>
      <documentation>nB For the full Carma API listing go to https api car ma apidoc ref index html This retrieves a list of trips according to the parameters that were supplied Note This endpoint does NOT require authentication</documentation>
      <input message='tns:tripSearchRequestMessage' name='tripSearchInput' />
      <output message='tns:tripSearchResponseMessage' name='tripSearchOutput' />
    </operation>
  </portType>
  <binding name='carmaBinding' type='tns:carmaPortType'>
    <operation name='nearbyUsers'>
      <soap12:operation soapAction='http://nearbyUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchUsersByAlias'>
      <soap12:operation soapAction='http://searchUsersByAlias' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tripSearch'>
      <soap12:operation soapAction='http://tripSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='carma'>
    <documentation>get there together Shared car seats means a faster greener and more affordable commute for you and your neighbors The Carma API provides complete access to developers to build carpool apps and solutions to help solve one of the world s most universal problems NB we have only included a small subset of the Carma APIs on mashape com go to api car ma to see all of them</documentation>
    <port name='carmaPort' binding='tns:carmaBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://carma' />
    </port>
  </service>
</definitions>