workspace/datasets/mashape_dataset/cashboard.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/cashboard/' name='cashboard' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/cashboard/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/cashboard/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/cashboard/'>
      <xsd:element name='accountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='owner' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_1' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_login' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='employee_status_code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='telephone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='login_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='password' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email_address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='is_archived' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='expenses_billable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='time_entries_billable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='currency_symbol' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='is_disabled' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='next_payment_date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='referrer' type='xsd:string' minOccurs='0' />
            <xsd:element name='use_number_format_usa' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='round_time_to_nearest_minutes' type='xsd:int' minOccurs='0' />
            <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='currency_type_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='date_format' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_1' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='telephone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountCreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='owner' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_1' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_login' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='employee_status_code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='telephone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='login_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='password' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email_address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='is_archived' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='expenses_billable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='time_entries_billable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='currency_symbol' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='is_disabled' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='next_payment_date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='referrer' type='xsd:string' minOccurs='0' />
            <xsd:element name='use_number_format_usa' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='round_time_to_nearest_minutes' type='xsd:int' minOccurs='0' />
            <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='currency_type_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='date_format' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_1' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='telephone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountUpdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='owner' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_1' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_login' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='employee_status_code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='telephone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='login_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='password' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email_address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='is_archived' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='expenses_billable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='time_entries_billable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='currency_symbol' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='is_disabled' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='next_payment_date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='referrer' type='xsd:string' minOccurs='0' />
            <xsd:element name='use_number_format_usa' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='round_time_to_nearest_minutes' type='xsd:int' minOccurs='0' />
            <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='currency_type_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='date_format' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_1' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='telephone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newAccountInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='owner' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_1' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_login' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='employee_status_code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='telephone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='login_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='password' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email_address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='is_archived' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='expenses_billable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='time_entries_billable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='currency_symbol' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='is_disabled' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='next_payment_date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='referrer' type='xsd:string' minOccurs='0' />
            <xsd:element name='use_number_format_usa' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='round_time_to_nearest_minutes' type='xsd:int' minOccurs='0' />
            <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='currency_type_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='date_format' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_1' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='telephone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='accountRequestMessage' />
  <message name='accountResponseMessage'>
    <part name='response' element='tns:accountResponse' />
  </message>
  <message name='accountCreateRequestMessage' />
  <message name='accountCreateResponseMessage'>
    <part name='response' element='tns:accountCreateResponse' />
  </message>
  <message name='accountUpdateRequestMessage' />
  <message name='accountUpdateResponseMessage'>
    <part name='response' element='tns:accountUpdateResponse' />
  </message>
  <message name='newAccountInfoRequestMessage' />
  <message name='newAccountInfoResponseMessage'>
    <part name='response' element='tns:newAccountInfoResponse' />
  </message>
  <portType name='cashboardPortType'>
    <operation name='account'>
      <documentation>information about your Cashboard account</documentation>
      <input message='tns:accountRequestMessage' name='accountInput' />
      <output message='tns:accountResponseMessage' name='accountOutput' />
    </operation>
    <operation name='accountCreate'>
      <documentation>create new Cashboard account</documentation>
      <input message='tns:accountCreateRequestMessage' name='accountCreateInput' />
      <output message='tns:accountCreateResponseMessage' name='accountCreateOutput' />
    </operation>
    <operation name='accountUpdate'>
      <documentation>update an existing Cashboard account</documentation>
      <input message='tns:accountUpdateRequestMessage' name='accountUpdateInput' />
      <output message='tns:accountUpdateResponseMessage' name='accountUpdateOutput' />
    </operation>
    <operation name='newAccountInfo'>
      <documentation>returns the fields necessary to create a new account</documentation>
      <input message='tns:newAccountInfoRequestMessage' name='newAccountInfoInput' />
      <output message='tns:newAccountInfoResponseMessage' name='newAccountInfoOutput' />
    </operation>
  </portType>
  <binding name='cashboardBinding' type='tns:cashboardPortType'>
    <operation name='account'>
      <soap12:operation soapAction='http://account' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='accountCreate'>
      <soap12:operation soapAction='http://accountCreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='accountUpdate'>
      <soap12:operation soapAction='http://accountUpdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newAccountInfo'>
      <soap12:operation soapAction='http://newAccountInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='cashboard'>
    <documentation>the Cashboard REST API allows you to connect to our service and manage Time tracking Expense tracking Invoicing Project proposals estimates Invoicing Project management Contacts and Payments Our RESTful API returns JSON JSONP and XML</documentation>
    <port name='cashboardPort' binding='tns:cashboardBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://cashboard' />
    </port>
  </service>
</definitions>