workspace/datasets/mashape_dataset/catalogapi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/catalogapi/' name='catalogapi' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/catalogapi/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/catalogapi/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/catalogapi/'>
      <xsd:element name='addItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='catalogitemid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='externaluserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='optionid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='quantity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='catalogBreakdownParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='isflat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='catalogBreakdownResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='emptyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='externaluserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='emptyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAvailableCatalogsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAvailableCatalogsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='orderListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='externaluserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='orderListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='placeOrderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cartversion' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='externaluserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='placeOrderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='placeOrderWithoutCartResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='catalogitemid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='externaluserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='optionid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchCatalogParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxpoints' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxrank' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='minpoints' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='search' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchCatalogResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setAddressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='externaluserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='firstname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phonenumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='postalcode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stateprovince' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setItemQuantityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='catalogitemid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='externaluserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='optionid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='quantity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setItemQuantityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackOrderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ordernumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackOrderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unlockParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='externaluserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unlockResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='validateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='externaluserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='locked' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='validateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='externaluserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='catalogitemid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credschecksum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='credsuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='socketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addItemRequestMessage'>
    <part name='parameters' element='tns:addItemParameters' />
  </message>
  <message name='addItemResponseMessage'>
    <part name='response' element='tns:addItemResponse' />
  </message>
  <message name='catalogBreakdownRequestMessage'>
    <part name='parameters' element='tns:catalogBreakdownParameters' />
  </message>
  <message name='catalogBreakdownResponseMessage'>
    <part name='response' element='tns:catalogBreakdownResponse' />
  </message>
  <message name='emptyRequestMessage'>
    <part name='parameters' element='tns:emptyParameters' />
  </message>
  <message name='emptyResponseMessage'>
    <part name='response' element='tns:emptyResponse' />
  </message>
  <message name='listAvailableCatalogsRequestMessage'>
    <part name='parameters' element='tns:listAvailableCatalogsParameters' />
  </message>
  <message name='listAvailableCatalogsResponseMessage'>
    <part name='response' element='tns:listAvailableCatalogsResponse' />
  </message>
  <message name='orderListRequestMessage'>
    <part name='parameters' element='tns:orderListParameters' />
  </message>
  <message name='orderListResponseMessage'>
    <part name='response' element='tns:orderListResponse' />
  </message>
  <message name='placeOrderRequestMessage'>
    <part name='parameters' element='tns:placeOrderParameters' />
  </message>
  <message name='placeOrderResponseMessage'>
    <part name='response' element='tns:placeOrderResponse' />
  </message>
  <message name='placeOrderWithoutCartRequestMessage' />
  <message name='placeOrderWithoutCartResponseMessage'>
    <part name='response' element='tns:placeOrderWithoutCartResponse' />
  </message>
  <message name='removeItemRequestMessage'>
    <part name='parameters' element='tns:removeItemParameters' />
  </message>
  <message name='removeItemResponseMessage'>
    <part name='response' element='tns:removeItemResponse' />
  </message>
  <message name='searchCatalogRequestMessage'>
    <part name='parameters' element='tns:searchCatalogParameters' />
  </message>
  <message name='searchCatalogResponseMessage'>
    <part name='response' element='tns:searchCatalogResponse' />
  </message>
  <message name='setAddressRequestMessage'>
    <part name='parameters' element='tns:setAddressParameters' />
  </message>
  <message name='setAddressResponseMessage'>
    <part name='response' element='tns:setAddressResponse' />
  </message>
  <message name='setItemQuantityRequestMessage'>
    <part name='parameters' element='tns:setItemQuantityParameters' />
  </message>
  <message name='setItemQuantityResponseMessage'>
    <part name='response' element='tns:setItemQuantityResponse' />
  </message>
  <message name='trackOrderRequestMessage'>
    <part name='parameters' element='tns:trackOrderParameters' />
  </message>
  <message name='trackOrderResponseMessage'>
    <part name='response' element='tns:trackOrderResponse' />
  </message>
  <message name='unlockRequestMessage'>
    <part name='parameters' element='tns:unlockParameters' />
  </message>
  <message name='unlockResponseMessage'>
    <part name='response' element='tns:unlockResponse' />
  </message>
  <message name='validateRequestMessage'>
    <part name='parameters' element='tns:validateParameters' />
  </message>
  <message name='validateResponseMessage'>
    <part name='response' element='tns:validateResponse' />
  </message>
  <message name='viewRequestMessage'>
    <part name='parameters' element='tns:viewParameters' />
  </message>
  <message name='viewResponseMessage'>
    <part name='response' element='tns:viewResponse' />
  </message>
  <message name='viewItemRequestMessage'>
    <part name='parameters' element='tns:viewItemParameters' />
  </message>
  <message name='viewItemResponseMessage'>
    <part name='response' element='tns:viewItemResponse' />
  </message>
  <portType name='catalogapiPortType'>
    <operation name='addItem'>
      <documentation>adds items to the cart</documentation>
      <input message='tns:addItemRequestMessage' name='addItemInput' />
      <output message='tns:addItemResponseMessage' name='addItemOutput' />
    </operation>
    <operation name='catalogBreakdown'>
      <documentation>breaks down the catalog into its categories</documentation>
      <input message='tns:catalogBreakdownRequestMessage' name='catalogBreakdownInput' />
      <output message='tns:catalogBreakdownResponseMessage' name='catalogBreakdownOutput' />
    </operation>
    <operation name='empty'>
      <documentation>removes all items in the cart</documentation>
      <input message='tns:emptyRequestMessage' name='emptyInput' />
      <output message='tns:emptyResponseMessage' name='emptyOutput' />
    </operation>
    <operation name='listAvailableCatalogs'>
      <documentation>lists the Available Catalogs</documentation>
      <input message='tns:listAvailableCatalogsRequestMessage' name='listAvailableCatalogsInput' />
      <output message='tns:listAvailableCatalogsResponseMessage' name='listAvailableCatalogsOutput' />
    </operation>
    <operation name='orderList'>
      <documentation>this method returns a list of order numbers the Catalog API order numbers not external order number that match a given external user id</documentation>
      <input message='tns:orderListRequestMessage' name='orderListInput' />
      <output message='tns:orderListResponseMessage' name='orderListOutput' />
    </operation>
    <operation name='placeOrder'>
      <documentation>this method places as order using the address and items in the cart Once the order is placed the cart is deleted</documentation>
      <input message='tns:placeOrderRequestMessage' name='placeOrderInput' />
      <output message='tns:placeOrderResponseMessage' name='placeOrderOutput' />
    </operation>
    <operation name='placeOrderWithoutCart'>
      <documentation>the order place method has a different endpoint than the other methods You must POST your request to v json order place if you are sending the order as json or to v xml order place if you are sending the order as xml</documentation>
      <input message='tns:placeOrderWithoutCartRequestMessage' name='placeOrderWithoutCartInput' />
      <output message='tns:placeOrderWithoutCartResponseMessage' name='placeOrderWithoutCartOutput' />
    </operation>
    <operation name='removeItem'>
      <documentation>removes items from the cart</documentation>
      <input message='tns:removeItemRequestMessage' name='removeItemInput' />
      <output message='tns:removeItemResponseMessage' name='removeItemOutput' />
    </operation>
    <operation name='searchCatalog'>
      <documentation>searches the catalog based on the parameters passed</documentation>
      <input message='tns:searchCatalogRequestMessage' name='searchCatalogInput' />
      <output message='tns:searchCatalogResponseMessage' name='searchCatalogOutput' />
    </operation>
    <operation name='setAddress'>
      <documentation>adds a shipping address to the cart</documentation>
      <input message='tns:setAddressRequestMessage' name='setAddressInput' />
      <output message='tns:setAddressResponseMessage' name='setAddressOutput' />
    </operation>
    <operation name='setItemQuantity'>
      <documentation>adds items to the cart The quantity passed to this call overrides the quantity of a duplicate item</documentation>
      <input message='tns:setItemQuantityRequestMessage' name='setItemQuantityInput' />
      <output message='tns:setItemQuantityResponseMessage' name='setItemQuantityOutput' />
    </operation>
    <operation name='trackOrder'>
      <documentation>tracks an order given an order number</documentation>
      <input message='tns:trackOrderRequestMessage' name='trackOrderInput' />
      <output message='tns:trackOrderResponseMessage' name='trackOrderOutput' />
    </operation>
    <operation name='unlock'>
      <documentation>unlocks a cart that has been locked via the cart validate method</documentation>
      <input message='tns:unlockRequestMessage' name='unlockInput' />
      <output message='tns:unlockResponseMessage' name='unlockOutput' />
    </operation>
    <operation name='validate'>
      <documentation>validates the address and items in the cart You should call this method just before placing an order to make sure that the order will not be rejected</documentation>
      <input message='tns:validateRequestMessage' name='validateInput' />
      <output message='tns:validateResponseMessage' name='validateOutput' />
    </operation>
    <operation name='view'>
      <documentation>returns the current address and items in the cart</documentation>
      <input message='tns:viewRequestMessage' name='viewInput' />
      <output message='tns:viewResponseMessage' name='viewOutput' />
    </operation>
    <operation name='viewItem'>
      <documentation>returns an image and description of the item</documentation>
      <input message='tns:viewItemRequestMessage' name='viewItemInput' />
      <output message='tns:viewItemResponseMessage' name='viewItemOutput' />
    </operation>
  </portType>
  <binding name='catalogapiBinding' type='tns:catalogapiPortType'>
    <operation name='addItem'>
      <soap12:operation soapAction='http://addItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='catalogBreakdown'>
      <soap12:operation soapAction='http://catalogBreakdown' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='empty'>
      <soap12:operation soapAction='http://empty' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAvailableCatalogs'>
      <soap12:operation soapAction='http://listAvailableCatalogs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='orderList'>
      <soap12:operation soapAction='http://orderList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='placeOrder'>
      <soap12:operation soapAction='http://placeOrder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='placeOrderWithoutCart'>
      <soap12:operation soapAction='http://placeOrderWithoutCart' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeItem'>
      <soap12:operation soapAction='http://removeItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchCatalog'>
      <soap12:operation soapAction='http://searchCatalog' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setAddress'>
      <soap12:operation soapAction='http://setAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setItemQuantity'>
      <soap12:operation soapAction='http://setItemQuantity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trackOrder'>
      <soap12:operation soapAction='http://trackOrder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='unlock'>
      <soap12:operation soapAction='http://unlock' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='validate'>
      <soap12:operation soapAction='http://validate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='view'>
      <soap12:operation soapAction='http://view' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewItem'>
      <soap12:operation soapAction='http://viewItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='catalogapi'>
    <documentation>catalog API is a service that ties your application to our catalog and order support department With minimal integration you can receive data feeds easily scoped to your demographics to provide exciting up to date and motivating catalogs Your pa</documentation>
    <port name='catalogapiPort' binding='tns:catalogapiBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://catalogapi' />
    </port>
  </service>
</definitions>