workspace/datasets/mashape_dataset/cdndepogeoip.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/cdnDepoGeoip/' name='cdnDepoGeoip' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/cdnDepoGeoip/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/cdnDepoGeoip/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/cdnDepoGeoip/'>
      <xsd:element name='dynamicJsonJsonpGeoipLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='dynamicJsonJsonpGeoipLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:string' minOccurs='0' />
            <xsd:element name='continentISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='city' type='xsd:string' minOccurs='0' />
            <xsd:element name='isp' type='xsd:string' minOccurs='0' />
            <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='ipAddress' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='timeZone' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='userAgent' type='xsd:string' minOccurs='0' />
            <xsd:element name='timeTaken' type='xsd:int' minOccurs='0' />
            <xsd:element name='reverenceURI' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='countryISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='timeTakenMS' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='dynamicXmlGeoipLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='staticJsonJsonpGeoipLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ipaddress' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='staticJsonJsonpGeoipLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:string' minOccurs='0' />
            <xsd:element name='continentISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='city' type='xsd:string' minOccurs='0' />
            <xsd:element name='isp' type='xsd:string' minOccurs='0' />
            <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='ipAddress' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='timeZone' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='userAgent' type='xsd:string' minOccurs='0' />
            <xsd:element name='timeTaken' type='xsd:int' minOccurs='0' />
            <xsd:element name='reverenceURI' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='countryISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='timeTakenMS' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='staticXmlGeoipLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ipaddress' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='staticXmlGeoipLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='dynamicJsonJsonpGeoipLocationRequestMessage'>
    <part name='parameters' element='tns:dynamicJsonJsonpGeoipLocationParameters' />
  </message>
  <message name='dynamicJsonJsonpGeoipLocationResponseMessage'>
    <part name='response' element='tns:dynamicJsonJsonpGeoipLocationResponse' />
  </message>
  <message name='dynamicXmlGeoipLocationRequestMessage' />
  <message name='dynamicXmlGeoipLocationResponseMessage'>
    <part name='response' element='tns:dynamicXmlGeoipLocationResponse' />
  </message>
  <message name='staticJsonJsonpGeoipLocationRequestMessage'>
    <part name='parameters' element='tns:staticJsonJsonpGeoipLocationParameters' />
  </message>
  <message name='staticJsonJsonpGeoipLocationResponseMessage'>
    <part name='response' element='tns:staticJsonJsonpGeoipLocationResponse' />
  </message>
  <message name='staticXmlGeoipLocationRequestMessage'>
    <part name='parameters' element='tns:staticXmlGeoipLocationParameters' />
  </message>
  <message name='staticXmlGeoipLocationResponseMessage'>
    <part name='response' element='tns:staticXmlGeoipLocationResponse' />
  </message>
  <portType name='cdnDepoGeoipPortType'>
    <operation name='dynamicJsonJsonpGeoipLocation'>
      <documentation>this endpoint will send a JSON or JSONP response based on your IP Simply add a callback URL parameter to trigger the JSONP response</documentation>
      <input message='tns:dynamicJsonJsonpGeoipLocationRequestMessage' name='dynamicJsonJsonpGeoipLocationInput' />
      <output message='tns:dynamicJsonJsonpGeoipLocationResponseMessage' name='dynamicJsonJsonpGeoipLocationOutput' />
    </operation>
    <operation name='dynamicXmlGeoipLocation'>
      <documentation>this endpoint provides an XML response based on your IP</documentation>
      <input message='tns:dynamicXmlGeoipLocationRequestMessage' name='dynamicXmlGeoipLocationInput' />
      <output message='tns:dynamicXmlGeoipLocationResponseMessage' name='dynamicXmlGeoipLocationOutput' />
    </operation>
    <operation name='staticJsonJsonpGeoipLocation'>
      <documentation>this endpoint returns a JSON or JSONP response for a specific IP address Simply add a callback GET parameter to trigger the JSONP response</documentation>
      <input message='tns:staticJsonJsonpGeoipLocationRequestMessage' name='staticJsonJsonpGeoipLocationInput' />
      <output message='tns:staticJsonJsonpGeoipLocationResponseMessage' name='staticJsonJsonpGeoipLocationOutput' />
    </operation>
    <operation name='staticXmlGeoipLocation'>
      <documentation>this endpoint returns an XML response for a specific IP address</documentation>
      <input message='tns:staticXmlGeoipLocationRequestMessage' name='staticXmlGeoipLocationInput' />
      <output message='tns:staticXmlGeoipLocationResponseMessage' name='staticXmlGeoipLocationOutput' />
    </operation>
  </portType>
  <binding name='cdnDepoGeoipBinding' type='tns:cdnDepoGeoipPortType'>
    <operation name='dynamicJsonJsonpGeoipLocation'>
      <soap12:operation soapAction='http://dynamicJsonJsonpGeoipLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='dynamicXmlGeoipLocation'>
      <soap12:operation soapAction='http://dynamicXmlGeoipLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='staticJsonJsonpGeoipLocation'>
      <soap12:operation soapAction='http://staticJsonJsonpGeoipLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='staticXmlGeoipLocation'>
      <soap12:operation soapAction='http://staticXmlGeoipLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='cdnDepoGeoip'>
    <documentation>this API is a simple GeoLocation API based on the MaxMind DB with a few extra network tools integrated</documentation>
    <port name='cdnDepoGeoipPort' binding='tns:cdnDepoGeoipBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://cdnDepoGeoip' />
    </port>
  </service>
</definitions>