workspace/datasets/mashape_dataset/censusbureau.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/censusBureau/' name='censusBureau' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/censusBureau/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/censusBureau/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/censusBureau/'>
      <xsd:element name='exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInsertedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='for' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='get' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInsertedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYorkParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='for' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='get' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYorkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCaParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='for' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='get' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='in' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInsertedRequestMessage'>
    <part name='parameters' element='tns:exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInsertedParameters' />
  </message>
  <message name='exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInsertedResponseMessage'>
    <part name='response' element='tns:exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInsertedResponse' />
  </message>
  <message name='exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYorkRequestMessage'>
    <part name='parameters' element='tns:exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYorkParameters' />
  </message>
  <message name='exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYorkResponseMessage'>
    <part name='response' element='tns:exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYorkResponse' />
  </message>
  <message name='exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCaRequestMessage'>
    <part name='parameters' element='tns:exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCaParameters' />
  </message>
  <message name='exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCaResponseMessage'>
    <part name='response' element='tns:exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCaResponse' />
  </message>
  <portType name='censusBureauPortType'>
    <operation name='exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInserted'>
      <documentation>data are accessible to software developers through a stateless HTTP GET request Up to variables can be requested with a single API call In order to access data you will need to insert a key into the request URL in order for query results to be returned If you do not have a key assigned to you you will be directed to the Request a Key page where you can register for one</documentation>
      <input message='tns:exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInsertedRequestMessage' name='exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInsertedInput' />
      <output message='tns:exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInsertedResponseMessage' name='exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInsertedOutput' />
    </operation>
    <operation name='exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYork'>
      <documentation></documentation>
      <input message='tns:exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYorkRequestMessage' name='exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYorkInput' />
      <output message='tns:exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYorkResponseMessage' name='exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYorkOutput' />
    </operation>
    <operation name='exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCa'>
      <documentation></documentation>
      <input message='tns:exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCaRequestMessage' name='exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCaInput' />
      <output message='tns:exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCaResponseMessage' name='exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCaOutput' />
    </operation>
  </portType>
  <binding name='censusBureauBinding' type='tns:censusBureauPortType'>
    <operation name='exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInserted'>
      <soap12:operation soapAction='http://exampleOfTheRequestUrlForCensusSfDataThatHasAnAssignedKeyInserted' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYork'>
      <soap12:operation soapAction='http://exampleOfTheRequestUrlForAcsYearDataForTotalPopulationForCaliforniaAndNewYork' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCa'>
      <soap12:operation soapAction='http://exampleOfTheRequestUrlForAcsYearDataForGrossRentAsAPercentageOfHouseholdIncomeToPercentForAllCountiesInCa' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='censusBureau'>
    <documentation>to improve access to data and encourage innovation the Census Bureau has begun to provide API access to some data sets We invite developers to use these APIs join our Developer Forum and provide feedback to help us move forward with continued API development</documentation>
    <port name='censusBureauPort' binding='tns:censusBureauBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://censusBureau' />
    </port>
  </service>
</definitions>