workspace/datasets/mashape_dataset/cerridwensolarsystemdata.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/cerridwenSolarSystemData/' name='cerridwenSolarSystemData' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/cerridwenSolarSystemData/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/cerridwenSolarSystemData/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/cerridwenSolarSystemData/'>
      <xsd:element name='getDataOnMoonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='phase' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='shape' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='trend' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='quarter_english' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='quarter' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='diameter_ratio' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='illumination' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='distance' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='last_full_moon' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='iso_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='jd' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='delta_days' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='speed_ratio' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='next_full_moon' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='iso_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='jd' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='delta_days' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='speed' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='next_new_or_full_moon' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='iso_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='jd' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='delta_days' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='iso_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='diameter' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='next_new_moon' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='iso_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='jd' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='delta_days' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='dignity' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='jd' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='position' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sec' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='absolute_degrees' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='min' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='rel_tuple' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='deg' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='period_length' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='last_new_moon' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='iso_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='jd' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='delta_days' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='age' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDataOnSunParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='latitude' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDataOnSunResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='last_set' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='iso_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='jd' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='delta_days' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='iso_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='dignity' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='next_rise' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='iso_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='jd' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='delta_days' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='jd' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='position' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sec' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='absolute_degrees' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='min' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='rel_tuple' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='deg' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='next_set' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='iso_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='jd' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='delta_days' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='last_rise' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='iso_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='jd' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='delta_days' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getDataOnMoonRequestMessage' />
  <message name='getDataOnMoonResponseMessage'>
    <part name='response' element='tns:getDataOnMoonResponse' />
  </message>
  <message name='getDataOnSunRequestMessage'>
    <part name='parameters' element='tns:getDataOnSunParameters' />
  </message>
  <message name='getDataOnSunResponseMessage'>
    <part name='response' element='tns:getDataOnSunResponse' />
  </message>
  <portType name='cerridwenSolarSystemDataPortType'>
    <operation name='getDataOnMoon'>
      <documentation>like the sun endpoint but includes a lot more data in the response that only makes sense for the moon</documentation>
      <input message='tns:getDataOnMoonRequestMessage' name='getDataOnMoonInput' />
      <output message='tns:getDataOnMoonResponseMessage' name='getDataOnMoonOutput' />
    </operation>
    <operation name='getDataOnSun'>
      <documentation></documentation>
      <input message='tns:getDataOnSunRequestMessage' name='getDataOnSunInput' />
      <output message='tns:getDataOnSunResponseMessage' name='getDataOnSunOutput' />
    </operation>
  </portType>
  <binding name='cerridwenSolarSystemDataBinding' type='tns:cerridwenSolarSystemDataPortType'>
    <operation name='getDataOnMoon'>
      <soap12:operation soapAction='http://getDataOnMoon' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDataOnSun'>
      <soap12:operation soapAction='http://getDataOnSun' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='cerridwenSolarSystemData'>
    <documentation>accurate solar system data for everyone Cerridwen provides geocentric planetary data suitable for a broad spectrum of astronomical and astrological applications with a focus on our solar system Among its data you will find for example the time of the next sunrise or that of the last full moon or simply the current tropical position of the sun</documentation>
    <port name='cerridwenSolarSystemDataPort' binding='tns:cerridwenSolarSystemDataBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://cerridwenSolarSystemData' />
    </port>
  </service>
</definitions>