workspace/datasets/mashape_dataset/chartbeat.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/chartbeat/' name='chartbeat' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/chartbeat/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/chartbeat/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/chartbeat/'>
      <xsd:element name='historicalEngagementSeriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='human' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalEngagementSeriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avc.com' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='series' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='engagment' type='xsd:int' maxOccurs='unbounded' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                  <xsd:element name='frequency' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalEngagementStatsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='human' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='properties' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalEngagementStatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avc.com' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='engaged_seconds' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='max' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalSocialSeriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='human' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalSocialSeriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avc.com' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='series' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='tw_url_mentions' type='xsd:normalizedString' maxOccurs='unbounded' />
                              <xsd:element name='fb_domain_activity' type='xsd:normalizedString' maxOccurs='unbounded' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                  <xsd:element name='frequency' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalSocialStatsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='human' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='properties' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalSocialStatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avc.com' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='tw_url_mentions' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='max' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='fb_domain_activity' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='max' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalTrafficSeriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='human' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalTrafficSeriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avc.com' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='series' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='people' type='xsd:int' maxOccurs='unbounded' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                  <xsd:element name='frequency' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalTrafficStatsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='human' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='properties' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalTrafficStatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avc.com' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='people' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='max' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveGeoVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='path' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveGeoVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='regions' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='MN' type='xsd:int' minOccurs='0' />
                  <xsd:element name='IL' type='xsd:int' minOccurs='0' />
                  <xsd:element name='NY' type='xsd:int' minOccurs='0' />
                  <xsd:element name='CO' type='xsd:int' minOccurs='0' />
                  <xsd:element name='n00' type='xsd:int' minOccurs='0' />
                  <xsd:element name='C3' type='xsd:int' minOccurs='0' />
                  <xsd:element name='CT' type='xsd:int' minOccurs='0' />
                  <xsd:element name='E7' type='xsd:int' minOccurs='0' />
                  <xsd:element name='n04' type='xsd:int' minOccurs='0' />
                  <xsd:element name='n07' type='xsd:int' minOccurs='0' />
                  <xsd:element name='n09' type='xsd:int' minOccurs='0' />
                  <xsd:element name='TN' type='xsd:int' minOccurs='0' />
                  <xsd:element name='CA' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ON' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='lat_lngs' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='array' type='xsd:int' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='countries' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='AR' type='xsd:int' minOccurs='0' />
                  <xsd:element name='HK' type='xsd:int' minOccurs='0' />
                  <xsd:element name='IN' type='xsd:int' minOccurs='0' />
                  <xsd:element name='PH' type='xsd:int' minOccurs='0' />
                  <xsd:element name='GB' type='xsd:int' minOccurs='0' />
                  <xsd:element name='MX' type='xsd:int' minOccurs='0' />
                  <xsd:element name='NZ' type='xsd:int' minOccurs='0' />
                  <xsd:element name='IE' type='xsd:int' minOccurs='0' />
                  <xsd:element name='CA' type='xsd:int' minOccurs='0' />
                  <xsd:element name='US' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveHistogramVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='breaks' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keys' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='path' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveHistogramVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='livePathSummaryVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keys' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='types' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='livePathSummaryVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='_a_vc_2010_10_employee-equity-options_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2013_06_what-is-strategy_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2013_07_the-sharing-econonmy_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2013_06_valuation-vs-ownership_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2012_03_the-startup-curve_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2010_09_outsourcing-vs-offshoring_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2011_10_vp-engineering-vs-cto_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2013_07_growth-is-a-bitch_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2012_09_indeed_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2010_10_the-postmortem_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2013_03_video-of-the-week-the-jack-dorsey-interview_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2013_07_fun-friday-discussing-disqus_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2010_01_how-to-calculate-a-return-on-investment_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2013_04_return-and-ridicule_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2009_11_valuation-and-option-pool_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2005_02_flatiron_partne_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_mba-mondays_' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_2013_07_chromecast_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_a_vc_about_html' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uid' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveQuickStatsVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='path' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveQuickStatsVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='new' type='xsd:int' minOccurs='0' />
            <xsd:element name='internal' type='xsd:int' minOccurs='0' />
            <xsd:element name='read' type='xsd:int' minOccurs='0' />
            <xsd:element name='domload' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='avg' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='median' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='crowd' type='xsd:int' minOccurs='0' />
            <xsd:element name='idle' type='xsd:int' minOccurs='0' />
            <xsd:element name='social' type='xsd:int' minOccurs='0' />
            <xsd:element name='direct' type='xsd:int' minOccurs='0' />
            <xsd:element name='scroll' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='avg' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='median' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='people' type='xsd:int' minOccurs='0' />
            <xsd:element name='platform' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='d' type='xsd:int' minOccurs='0' />
                  <xsd:element name='m' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='engaged_time' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='avg' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='median' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='writing_visit' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='avg' type='xsd:int' minOccurs='0' />
                  <xsd:element name='median' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='visits' type='xsd:int' minOccurs='0' />
            <xsd:element name='platform_engaged' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='d' type='xsd:int' minOccurs='0' />
                  <xsd:element name='m' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='search' type='xsd:int' minOccurs='0' />
            <xsd:element name='pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='engaged_visit' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='avg' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='median' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='links' type='xsd:int' minOccurs='0' />
            <xsd:element name='visit' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='avg' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='median' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='toppages' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='visitors' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='write' type='xsd:int' minOccurs='0' />
            <xsd:element name='subscr' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveRecentVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='path' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveRecentVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pagetimer' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='L' type='xsd:int' minOccurs='0' />
                  <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ping_decay' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time_spent' type='xsd:int' minOccurs='0' />
                  <xsd:element name='uid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='browser' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='host' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scroll_top' type='xsd:int' minOccurs='0' />
                  <xsd:element name='write' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user_agent' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='new' type='xsd:int' minOccurs='0' />
                  <xsd:element name='read' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='os' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='utc' type='xsd:int' minOccurs='0' />
                  <xsd:element name='idle' type='xsd:int' minOccurs='0' />
                  <xsd:element name='f' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ip_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='window_height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='token' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='referrer' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='domain' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='engaged_sec' type='xsd:int' minOccurs='0' />
                  <xsd:element name='region' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='page_height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveReferrersVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='path' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveReferrersVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveSummaryVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keys' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='path' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveSummaryVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='data' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n45' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveTopPagesVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jsonp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveTopPagesVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pages' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='stats' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='new' type='xsd:int' minOccurs='0' />
                        <xsd:element name='internal' type='xsd:int' minOccurs='0' />
                        <xsd:element name='read' type='xsd:int' minOccurs='0' />
                        <xsd:element name='domload' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                              <xsd:element name='avg' type='xsd:int' minOccurs='0' />
                              <xsd:element name='median' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='crowd' type='xsd:int' minOccurs='0' />
                        <xsd:element name='idle' type='xsd:int' minOccurs='0' />
                        <xsd:element name='social' type='xsd:int' minOccurs='0' />
                        <xsd:element name='direct' type='xsd:int' minOccurs='0' />
                        <xsd:element name='scroll' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                              <xsd:element name='avg' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='median' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='toprefs' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='visitors' type='xsd:int' minOccurs='0' />
                              <xsd:element name='domain' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='people' type='xsd:int' minOccurs='0' />
                        <xsd:element name='platform' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='d' type='xsd:int' minOccurs='0' />
                              <xsd:element name='m' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='engaged_time' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                              <xsd:element name='avg' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='median' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='writing_visit' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                              <xsd:element name='avg' type='xsd:int' minOccurs='0' />
                              <xsd:element name='median' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='visits' type='xsd:int' minOccurs='0' />
                        <xsd:element name='platform_engaged' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='d' type='xsd:int' minOccurs='0' />
                              <xsd:element name='m' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='search' type='xsd:int' minOccurs='0' />
                        <xsd:element name='num_refs' type='xsd:int' minOccurs='0' />
                        <xsd:element name='engaged_visit' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                              <xsd:element name='avg' type='xsd:int' minOccurs='0' />
                              <xsd:element name='median' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='links' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visit' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='hist' type='xsd:int' maxOccurs='unbounded' />
                              <xsd:element name='avg' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='median' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='write' type='xsd:int' minOccurs='0' />
                        <xsd:element name='subscr' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='historicalEngagementSeriesRequestMessage'>
    <part name='parameters' element='tns:historicalEngagementSeriesParameters' />
  </message>
  <message name='historicalEngagementSeriesResponseMessage'>
    <part name='response' element='tns:historicalEngagementSeriesResponse' />
  </message>
  <message name='historicalEngagementStatsRequestMessage'>
    <part name='parameters' element='tns:historicalEngagementStatsParameters' />
  </message>
  <message name='historicalEngagementStatsResponseMessage'>
    <part name='response' element='tns:historicalEngagementStatsResponse' />
  </message>
  <message name='historicalSocialSeriesRequestMessage'>
    <part name='parameters' element='tns:historicalSocialSeriesParameters' />
  </message>
  <message name='historicalSocialSeriesResponseMessage'>
    <part name='response' element='tns:historicalSocialSeriesResponse' />
  </message>
  <message name='historicalSocialStatsRequestMessage'>
    <part name='parameters' element='tns:historicalSocialStatsParameters' />
  </message>
  <message name='historicalSocialStatsResponseMessage'>
    <part name='response' element='tns:historicalSocialStatsResponse' />
  </message>
  <message name='historicalTrafficSeriesRequestMessage'>
    <part name='parameters' element='tns:historicalTrafficSeriesParameters' />
  </message>
  <message name='historicalTrafficSeriesResponseMessage'>
    <part name='response' element='tns:historicalTrafficSeriesResponse' />
  </message>
  <message name='historicalTrafficStatsRequestMessage'>
    <part name='parameters' element='tns:historicalTrafficStatsParameters' />
  </message>
  <message name='historicalTrafficStatsResponseMessage'>
    <part name='response' element='tns:historicalTrafficStatsResponse' />
  </message>
  <message name='liveGeoVRequestMessage'>
    <part name='parameters' element='tns:liveGeoVParameters' />
  </message>
  <message name='liveGeoVResponseMessage'>
    <part name='response' element='tns:liveGeoVResponse' />
  </message>
  <message name='liveHistogramVRequestMessage'>
    <part name='parameters' element='tns:liveHistogramVParameters' />
  </message>
  <message name='liveHistogramVResponseMessage'>
    <part name='response' element='tns:liveHistogramVResponse' />
  </message>
  <message name='livePathSummaryVRequestMessage'>
    <part name='parameters' element='tns:livePathSummaryVParameters' />
  </message>
  <message name='livePathSummaryVResponseMessage'>
    <part name='response' element='tns:livePathSummaryVResponse' />
  </message>
  <message name='liveQuickStatsVRequestMessage'>
    <part name='parameters' element='tns:liveQuickStatsVParameters' />
  </message>
  <message name='liveQuickStatsVResponseMessage'>
    <part name='response' element='tns:liveQuickStatsVResponse' />
  </message>
  <message name='liveRecentVRequestMessage'>
    <part name='parameters' element='tns:liveRecentVParameters' />
  </message>
  <message name='liveRecentVResponseMessage'>
    <part name='response' element='tns:liveRecentVResponse' />
  </message>
  <message name='liveReferrersVRequestMessage'>
    <part name='parameters' element='tns:liveReferrersVParameters' />
  </message>
  <message name='liveReferrersVResponseMessage'>
    <part name='response' element='tns:liveReferrersVResponse' />
  </message>
  <message name='liveSummaryVRequestMessage'>
    <part name='parameters' element='tns:liveSummaryVParameters' />
  </message>
  <message name='liveSummaryVResponseMessage'>
    <part name='response' element='tns:liveSummaryVResponse' />
  </message>
  <message name='liveTopPagesVRequestMessage'>
    <part name='parameters' element='tns:liveTopPagesVParameters' />
  </message>
  <message name='liveTopPagesVResponseMessage'>
    <part name='response' element='tns:liveTopPagesVResponse' />
  </message>
  <portType name='chartbeatPortType'>
    <operation name='historicalEngagementSeries'>
      <documentation>returns series of the engaged seconds where the default time span of each data point is minutes You should use this call if you want to see a more granular picture of your data</documentation>
      <input message='tns:historicalEngagementSeriesRequestMessage' name='historicalEngagementSeriesInput' />
      <output message='tns:historicalEngagementSeriesResponseMessage' name='historicalEngagementSeriesOutput' />
    </operation>
    <operation name='historicalEngagementStats'>
      <documentation>returns engaged seconds summarized over the given timespan You should use this call if you want to discover broad information about your data where we already did the work providing the max or min</documentation>
      <input message='tns:historicalEngagementStatsRequestMessage' name='historicalEngagementStatsInput' />
      <output message='tns:historicalEngagementStatsResponseMessage' name='historicalEngagementStatsOutput' />
    </operation>
    <operation name='historicalSocialSeries'>
      <documentation>returns series of the social activity where the default time span between each data point is minutes You should use this call if you want to see a more granular picture of your data</documentation>
      <input message='tns:historicalSocialSeriesRequestMessage' name='historicalSocialSeriesInput' />
      <output message='tns:historicalSocialSeriesResponseMessage' name='historicalSocialSeriesOutput' />
    </operation>
    <operation name='historicalSocialStats'>
      <documentation>returns social activity summarized over the given timespan You should use this call if you want to discover broad information about your data where we already did the work providing the max min average or median</documentation>
      <input message='tns:historicalSocialStatsRequestMessage' name='historicalSocialStatsInput' />
      <output message='tns:historicalSocialStatsResponseMessage' name='historicalSocialStatsOutput' />
    </operation>
    <operation name='historicalTrafficSeries'>
      <documentation>returns series of the traffic sources and or page load time where the default time span of each data point is minutes You should use this call if you want to see a more granular picture of your data</documentation>
      <input message='tns:historicalTrafficSeriesRequestMessage' name='historicalTrafficSeriesInput' />
      <output message='tns:historicalTrafficSeriesResponseMessage' name='historicalTrafficSeriesOutput' />
    </operation>
    <operation name='historicalTrafficStats'>
      <documentation>returns traffic sources and or page load time summarized over the given timespan You should use this call if you want to discover broad information about your data where we already did the work providing the max or min</documentation>
      <input message='tns:historicalTrafficStatsRequestMessage' name='historicalTrafficStatsInput' />
      <output message='tns:historicalTrafficStatsResponseMessage' name='historicalTrafficStatsOutput' />
    </operation>
    <operation name='liveGeoV'>
      <documentation>returns geographical information about the most recent visitors This call returns sampled data</documentation>
      <input message='tns:liveGeoVRequestMessage' name='liveGeoVInput' />
      <output message='tns:liveGeoVResponseMessage' name='liveGeoVOutput' />
    </operation>
    <operation name='liveHistogramV'>
      <documentation>returns a histogram where field values are summarized within ranges as specified by breaks The resulting histogram is returned as a list with one more element than the number of breaks This call returns real time data</documentation>
      <input message='tns:liveHistogramVRequestMessage' name='liveHistogramVInput' />
      <output message='tns:liveHistogramVResponseMessage' name='liveHistogramVOutput' />
    </operation>
    <operation name='livePathSummaryV'>
      <documentation>returns summary data refer to the summary API call but for top paths of given a host This call returns real time data</documentation>
      <input message='tns:livePathSummaryVRequestMessage' name='livePathSummaryVInput' />
      <output message='tns:livePathSummaryVResponseMessage' name='livePathSummaryVOutput' />
    </operation>
    <operation name='liveQuickStatsV'>
      <documentation>returns an overview summary of the people on your domain right now The number of people on a page reading writing idle etc This call returns real time data</documentation>
      <input message='tns:liveQuickStatsVRequestMessage' name='liveQuickStatsVInput' />
      <output message='tns:liveQuickStatsVResponseMessage' name='liveQuickStatsVOutput' />
    </operation>
    <operation name='liveRecentV'>
      <documentation>returns information about the most recent visitors to a given host This call returns real time data</documentation>
      <input message='tns:liveRecentVRequestMessage' name='liveRecentVInput' />
      <output message='tns:liveRecentVResponseMessage' name='liveRecentVOutput' />
    </operation>
    <operation name='liveReferrersV'>
      <documentation>returns a list of referrers for the domain</documentation>
      <input message='tns:liveReferrersVRequestMessage' name='liveReferrersVInput' />
      <output message='tns:liveReferrersVResponseMessage' name='liveReferrersVOutput' />
    </operation>
    <operation name='liveSummaryV'>
      <documentation>returns either numeric or categorical summaries of event fields given a host and optional path Numeric summaries include min max sum nonzero observations observations and sum of squares Categorical summaries include field keys with associated counts This call return real time data</documentation>
      <input message='tns:liveSummaryVRequestMessage' name='liveSummaryVInput' />
      <output message='tns:liveSummaryVResponseMessage' name='liveSummaryVOutput' />
    </operation>
    <operation name='liveTopPagesV'>
      <documentation>returns a list of pages ordered by which ones have most visitors right now This call returns real time data</documentation>
      <input message='tns:liveTopPagesVRequestMessage' name='liveTopPagesVInput' />
      <output message='tns:liveTopPagesVResponseMessage' name='liveTopPagesVOutput' />
    </operation>
  </portType>
  <binding name='chartbeatBinding' type='tns:chartbeatPortType'>
    <operation name='historicalEngagementSeries'>
      <soap12:operation soapAction='http://historicalEngagementSeries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='historicalEngagementStats'>
      <soap12:operation soapAction='http://historicalEngagementStats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='historicalSocialSeries'>
      <soap12:operation soapAction='http://historicalSocialSeries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='historicalSocialStats'>
      <soap12:operation soapAction='http://historicalSocialStats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='historicalTrafficSeries'>
      <soap12:operation soapAction='http://historicalTrafficSeries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='historicalTrafficStats'>
      <soap12:operation soapAction='http://historicalTrafficStats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveGeoV'>
      <soap12:operation soapAction='http://liveGeoV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveHistogramV'>
      <soap12:operation soapAction='http://liveHistogramV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='livePathSummaryV'>
      <soap12:operation soapAction='http://livePathSummaryV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveQuickStatsV'>
      <soap12:operation soapAction='http://liveQuickStatsV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveRecentV'>
      <soap12:operation soapAction='http://liveRecentV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveReferrersV'>
      <soap12:operation soapAction='http://liveReferrersV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveSummaryV'>
      <soap12:operation soapAction='http://liveSummaryV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveTopPagesV'>
      <soap12:operation soapAction='http://liveTopPagesV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='chartbeat'>
    <documentation>chartbeat collects various metrics about each visitor on your site Some of this is reported basically raw like number of readers on an article and some data is mashed up and modified before being reported like understanding that a visitor that c</documentation>
    <port name='chartbeatPort' binding='tns:chartbeatBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://chartbeat' />
    </port>
  </service>
</definitions>