workspace/datasets/mashape_dataset/checklist.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/checklist/' name='checklist' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/checklist/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/checklist/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/checklist/'>
      <xsd:element name='deleteAvatarResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFieldParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='scopefieldname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='scopefieldname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFieldResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='isDisplayNameAvailableParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='displayname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='isDisplayNameAvailableResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setAvatarResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateFieldParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='scopefieldname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateFieldResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatePasswordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='deleteAvatarRequestMessage' />
  <message name='deleteAvatarResponseMessage'>
    <part name='response' element='tns:deleteAvatarResponse' />
  </message>
  <message name='getFieldRequestMessage'>
    <part name='parameters' element='tns:getFieldParameters' />
  </message>
  <message name='getFieldResponseMessage'>
    <part name='response' element='tns:getFieldResponse' />
  </message>
  <message name='getUserRequestMessage' />
  <message name='getUserResponseMessage'>
    <part name='response' element='tns:getUserResponse' />
  </message>
  <message name='isDisplayNameAvailableRequestMessage'>
    <part name='parameters' element='tns:isDisplayNameAvailableParameters' />
  </message>
  <message name='isDisplayNameAvailableResponseMessage'>
    <part name='response' element='tns:isDisplayNameAvailableResponse' />
  </message>
  <message name='sendMessageRequestMessage' />
  <message name='sendMessageResponseMessage'>
    <part name='response' element='tns:sendMessageResponse' />
  </message>
  <message name='setAvatarRequestMessage' />
  <message name='setAvatarResponseMessage'>
    <part name='response' element='tns:setAvatarResponse' />
  </message>
  <message name='updateFieldRequestMessage'>
    <part name='parameters' element='tns:updateFieldParameters' />
  </message>
  <message name='updateFieldResponseMessage'>
    <part name='response' element='tns:updateFieldResponse' />
  </message>
  <message name='updatePasswordRequestMessage' />
  <message name='updatePasswordResponseMessage'>
    <part name='response' element='tns:updatePasswordResponse' />
  </message>
  <portType name='checklistPortType'>
    <operation name='deleteAvatar'>
      <documentation></documentation>
      <input message='tns:deleteAvatarRequestMessage' name='deleteAvatarInput' />
      <output message='tns:deleteAvatarResponseMessage' name='deleteAvatarOutput' />
    </operation>
    <operation name='getField'>
      <documentation></documentation>
      <input message='tns:getFieldRequestMessage' name='getFieldInput' />
      <output message='tns:getFieldResponseMessage' name='getFieldOutput' />
    </operation>
    <operation name='getUser'>
      <documentation></documentation>
      <input message='tns:getUserRequestMessage' name='getUserInput' />
      <output message='tns:getUserResponseMessage' name='getUserOutput' />
    </operation>
    <operation name='isDisplayNameAvailable'>
      <documentation></documentation>
      <input message='tns:isDisplayNameAvailableRequestMessage' name='isDisplayNameAvailableInput' />
      <output message='tns:isDisplayNameAvailableResponseMessage' name='isDisplayNameAvailableOutput' />
    </operation>
    <operation name='sendMessage'>
      <documentation></documentation>
      <input message='tns:sendMessageRequestMessage' name='sendMessageInput' />
      <output message='tns:sendMessageResponseMessage' name='sendMessageOutput' />
    </operation>
    <operation name='setAvatar'>
      <documentation>returns the URL where the Avatar can be found</documentation>
      <input message='tns:setAvatarRequestMessage' name='setAvatarInput' />
      <output message='tns:setAvatarResponseMessage' name='setAvatarOutput' />
    </operation>
    <operation name='updateField'>
      <documentation></documentation>
      <input message='tns:updateFieldRequestMessage' name='updateFieldInput' />
      <output message='tns:updateFieldResponseMessage' name='updateFieldOutput' />
    </operation>
    <operation name='updatePassword'>
      <documentation></documentation>
      <input message='tns:updatePasswordRequestMessage' name='updatePasswordInput' />
      <output message='tns:updatePasswordResponseMessage' name='updatePasswordOutput' />
    </operation>
  </portType>
  <binding name='checklistBinding' type='tns:checklistPortType'>
    <operation name='deleteAvatar'>
      <soap12:operation soapAction='http://deleteAvatar' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getField'>
      <soap12:operation soapAction='http://getField' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUser'>
      <soap12:operation soapAction='http://getUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='isDisplayNameAvailable'>
      <soap12:operation soapAction='http://isDisplayNameAvailable' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendMessage'>
      <soap12:operation soapAction='http://sendMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setAvatar'>
      <soap12:operation soapAction='http://setAvatar' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateField'>
      <soap12:operation soapAction='http://updateField' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatePassword'>
      <soap12:operation soapAction='http://updatePassword' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='checklist'>
    <documentation>the Checklist API gives you access to our To Do Task Management platform Help your users Get Things Done</documentation>
    <port name='checklistPort' binding='tns:checklistBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://checklist' />
    </port>
  </service>
</definitions>