workspace/datasets/mashape_dataset/checkthatbikeuk.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/checkThatBikeUk/' name='checkThatBikeUk' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/checkThatBikeUk/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/checkThatBikeUk/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/checkThatBikeUk/'>
      <xsd:element name='checkParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='check' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='frame' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error_message' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' type='xsd:int' minOccurs='0' />
            <xsd:element name='rating' type='xsd:int' minOccurs='0' />
            <xsd:element name='error_number' type='xsd:string' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='checkedURL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='checked' type='xsd:string' minOccurs='0' />
                  <xsd:element name='resultBoolean' type='xsd:int' minOccurs='0' />
                  <xsd:element name='runningAddition' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='frame' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='check' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error_message' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' type='xsd:int' minOccurs='0' />
            <xsd:element name='error_number' type='xsd:string' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='formattedSourceName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sourceName' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='check' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error_message' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' type='xsd:int' minOccurs='0' />
            <xsd:element name='error_number' type='xsd:string' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='checks' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='checks' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='directlink' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='updated' type='xsd:string' minOccurs='0' />
                              <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='group' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='checkRequestMessage'>
    <part name='parameters' element='tns:checkParameters' />
  </message>
  <message name='checkResponseMessage'>
    <part name='response' element='tns:checkResponse' />
  </message>
  <message name='listRequestMessage'>
    <part name='parameters' element='tns:listParameters' />
  </message>
  <message name='listResponseMessage'>
    <part name='response' element='tns:listResponse' />
  </message>
  <message name='listRequestMessage'>
    <part name='parameters' element='tns:listParameters' />
  </message>
  <message name='listResponseMessage'>
    <part name='response' element='tns:listResponse' />
  </message>
  <portType name='checkThatBikeUkPortType'>
    <operation name='check'>
      <documentation>used to search the database for matching frame numbers</documentation>
      <input message='tns:checkRequestMessage' name='checkInput' />
      <output message='tns:checkResponseMessage' name='checkOutput' />
    </operation>
    <operation name='list'>
      <documentation>produces an array of valid strings for use with the check parameter</documentation>
      <input message='tns:listRequestMessage' name='listInput' />
      <output message='tns:listResponseMessage' name='listOutput' />
    </operation>
    <operation name='list'>
      <documentation>generates a list of the checks available as well as information</documentation>
      <input message='tns:listRequestMessage' name='listInput' />
      <output message='tns:listResponseMessage' name='listOutput' />
    </operation>
  </portType>
  <binding name='checkThatBikeUkBinding' type='tns:checkThatBikeUkPortType'>
    <operation name='check'>
      <soap12:operation soapAction='http://check' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='list'>
      <soap12:operation soapAction='http://list' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='list'>
      <soap12:operation soapAction='http://list' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='checkThatBikeUk'>
    <documentation>this API is designed to create a one stop check when buying a bike users will then be pointed over to the original register</documentation>
    <port name='checkThatBikeUkPort' binding='tns:checkThatBikeUkBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://checkThatBikeUk' />
    </port>
  </service>
</definitions>