workspace/datasets/mashape_dataset/chicmilondonfashion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/chicmiLondonFashion/' name='chicmiLondonFashion' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/chicmiLondonFashion/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/chicmiLondonFashion/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/chicmiLondonFashion/'>
      <xsd:element name='eventDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geoip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='step' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='server-time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='values' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='end_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='detail_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='registration_url' type='xsd:string' minOccurs='0' />
                  <xsd:element name='formatted_address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_name_ru' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start_year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='address_street_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address_street_1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_type_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='event_name_ar' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_deleted' type='xsd:int' minOccurs='0' />
                  <xsd:element name='event_logo' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end_month' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='event_name_en' type='xsd:string' minOccurs='0' />
                  <xsd:element name='profile_data' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_name_zh' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='event_eligibility_type_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start_month' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address_business_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address_zip' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end_year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='country_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_featured' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fashionEventsNearbyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distanceunit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='latitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='searchdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='searchradius' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fashionEventsNearbyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geoip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='step' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='server-time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='values' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='max_lat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='request' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='search_date' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='search_radius' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='distance_unit' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='search_radius' type='xsd:int' minOccurs='0' />
                  <xsd:element name='min_lng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='distance_unit' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='min_lat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='events' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='detail_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='formatted_address' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='distance' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='is_new' type='xsd:int' minOccurs='0' />
                        <xsd:element name='store_logo' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='company_name_zh' type='xsd:string' minOccurs='0' />
                        <xsd:element name='event_name_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='event_name_zh' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_street_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_street_1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='event_eligibility_type_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='address_city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='event_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='company_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='event_logo' type='xsd:int' minOccurs='0' />
                        <xsd:element name='address_zip' type='xsd:string' minOccurs='0' />
                        <xsd:element name='is_featured' type='xsd:int' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='is_one_day' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='max_lng' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fashionSalesNearbyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distanceunit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='latitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='searchdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='searchradius' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fashionSalesNearbyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geoip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='step' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='server-time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='values' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='max_lat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='request' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='search_date' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='search_radius' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='distance_unit' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='search_radius' type='xsd:int' minOccurs='0' />
                  <xsd:element name='min_lng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='distance_unit' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='min_lat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='events' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='detail_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='formatted_address' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='distance' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='is_new' type='xsd:int' minOccurs='0' />
                        <xsd:element name='store_logo' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='company_name_zh' type='xsd:string' minOccurs='0' />
                        <xsd:element name='event_name_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_street_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='event_name_zh' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exclusive_discount' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address_street_1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='event_eligibility_type_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='address_city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='event_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='company_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='event_is_featured' type='xsd:int' minOccurs='0' />
                        <xsd:element name='event_logo' type='xsd:int' minOccurs='0' />
                        <xsd:element name='address_zip' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='is_featured' type='xsd:int' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='is_one_day' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='max_lng' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fashionStoresNearbyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distanceunit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='latitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='searchradius' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fashionStoresNearbyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geoip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='step' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='server-time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='values' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='max_lat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='request' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='search_radius' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='distance_unit' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='companies' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='detail_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='formatted_address' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='distance' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='store_logo' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='company_name_zh' type='xsd:string' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='address_street_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exclusive_discount' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address_street_1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='company_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_zip' type='xsd:string' minOccurs='0' />
                        <xsd:element name='is_featured' type='xsd:int' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='search_radius' type='xsd:int' minOccurs='0' />
                  <xsd:element name='min_lng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='distance_unit' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='min_lat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='max_lng' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listEventReviewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='nextid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listEventReviewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geoip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='step' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='server-time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='values' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='event_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='event_reviews' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='created_diff' type='xsd:int' minOccurs='0' />
                        <xsd:element name='event_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='full_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='created' type='xsd:string' minOccurs='0' />
                        <xsd:element name='review' type='xsd:string' minOccurs='0' />
                        <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='review_locale' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='locale' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='next_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listEventStoresParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listEventStoresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geoip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='step' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='server-time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='values' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='companies' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='detail_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='store_logo' type='xsd:int' minOccurs='0' />
                        <xsd:element name='company_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='company_name_zh' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='address_zip' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_street_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_street_1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='country_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='address_city' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='event_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='locale' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listLookupTablesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lookups' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='magazine_enabled' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='product_types' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='icon_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_name_en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_name_zh' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='is_default_filter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ru' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ar' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sort_order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='event_types' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='is_sale' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_name_zh' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='is_default_filter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ru' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type_noun_en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ar' type='xsd:string' minOccurs='0' />
                        <xsd:element name='sort_order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='event_eligibility_types' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_name_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type_name_zh' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='is_default_filter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ru' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ar' type='xsd:string' minOccurs='0' />
                        <xsd:element name='sort_order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='place_types' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_name_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type_name_zh' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_name_ru' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ar' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sort_order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='sales_store_types' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_noun_ru' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_noun_ar' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_name_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type_name_zh' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='is_default_filter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ru' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_noun_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ar' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_noun_zh' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sort_order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='places_enabled' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='company_types' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_name_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='web_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_name_zh' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='is_default_filter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ru' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ar' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sort_order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='facility_types' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='icon_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_name_en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_name_zh' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_name_ru' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ar' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sort_order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='company_store_types' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_noun_ru' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_noun_ar' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_name_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type_name_zh' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='is_default_filter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ru' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_noun_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type_name_ar' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type_noun_zh' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sort_order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geoip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='step' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='server-time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listStoreChildrenParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listStoreChildrenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geoip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='step' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='server-time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='values' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='sub_stores' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='detail_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='store_logo' type='xsd:int' minOccurs='0' />
                        <xsd:element name='is_sub_store' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='company_name_zh' type='xsd:string' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='address_street_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exclusive_discount' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address_street_1' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address_city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='company_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_zip' type='xsd:string' minOccurs='0' />
                        <xsd:element name='is_featured' type='xsd:int' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='locale' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listStoreReviewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='nextid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listStoreReviewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geoip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='step' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='server-time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='values' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='locale' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='company_reviews' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='created_diff' type='xsd:int' minOccurs='0' />
                        <xsd:element name='full_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='created' type='xsd:string' minOccurs='0' />
                        <xsd:element name='review' type='xsd:string' minOccurs='0' />
                        <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='review_locale' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='third_party_id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='next_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='localFashionSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distanceunit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='latitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='searchdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='searchradius' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='searchstring' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='localFashionSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geoip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='step' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='server-time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='values' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='max_lat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='request' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='search_date' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='search_radius' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='distance_unit' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='search_string' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='search_radius' type='xsd:int' minOccurs='0' />
                  <xsd:element name='min_lng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='distance_unit' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='search_string' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='min_lat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='results' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='detail_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='formatted_address' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='distance' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='store_logo' type='xsd:int' minOccurs='0' />
                        <xsd:element name='company_name_zh' type='xsd:string' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='address_street_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='exclusive_discount' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address_street_1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='company_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_zip' type='xsd:string' minOccurs='0' />
                        <xsd:element name='is_featured' type='xsd:int' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='max_lng' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='storeDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='storeDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geoip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='step' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='server-time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='values' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='detail_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='formatted_address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='company_product_types' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='product_type_id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='address_street_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='locale' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='company_store_type_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address_street_1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='exclusive_discount' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_deleted' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='is_exclusive_discount_limited' type='xsd:int' minOccurs='0' />
                  <xsd:element name='store_logo' type='xsd:int' minOccurs='0' />
                  <xsd:element name='company_name_zh' type='xsd:string' minOccurs='0' />
                  <xsd:element name='telephone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='profile_data' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address_city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='web_url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='company_type_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='company_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address_zip' type='xsd:string' minOccurs='0' />
                  <xsd:element name='parent_company_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_featured' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='eventDetailsRequestMessage'>
    <part name='parameters' element='tns:eventDetailsParameters' />
  </message>
  <message name='eventDetailsResponseMessage'>
    <part name='response' element='tns:eventDetailsResponse' />
  </message>
  <message name='fashionEventsNearbyRequestMessage'>
    <part name='parameters' element='tns:fashionEventsNearbyParameters' />
  </message>
  <message name='fashionEventsNearbyResponseMessage'>
    <part name='response' element='tns:fashionEventsNearbyResponse' />
  </message>
  <message name='fashionSalesNearbyRequestMessage'>
    <part name='parameters' element='tns:fashionSalesNearbyParameters' />
  </message>
  <message name='fashionSalesNearbyResponseMessage'>
    <part name='response' element='tns:fashionSalesNearbyResponse' />
  </message>
  <message name='fashionStoresNearbyRequestMessage'>
    <part name='parameters' element='tns:fashionStoresNearbyParameters' />
  </message>
  <message name='fashionStoresNearbyResponseMessage'>
    <part name='response' element='tns:fashionStoresNearbyResponse' />
  </message>
  <message name='listEventReviewsRequestMessage'>
    <part name='parameters' element='tns:listEventReviewsParameters' />
  </message>
  <message name='listEventReviewsResponseMessage'>
    <part name='response' element='tns:listEventReviewsResponse' />
  </message>
  <message name='listEventStoresRequestMessage'>
    <part name='parameters' element='tns:listEventStoresParameters' />
  </message>
  <message name='listEventStoresResponseMessage'>
    <part name='response' element='tns:listEventStoresResponse' />
  </message>
  <message name='listLookupTablesRequestMessage' />
  <message name='listLookupTablesResponseMessage'>
    <part name='response' element='tns:listLookupTablesResponse' />
  </message>
  <message name='listStoreChildrenRequestMessage'>
    <part name='parameters' element='tns:listStoreChildrenParameters' />
  </message>
  <message name='listStoreChildrenResponseMessage'>
    <part name='response' element='tns:listStoreChildrenResponse' />
  </message>
  <message name='listStoreReviewsRequestMessage'>
    <part name='parameters' element='tns:listStoreReviewsParameters' />
  </message>
  <message name='listStoreReviewsResponseMessage'>
    <part name='response' element='tns:listStoreReviewsResponse' />
  </message>
  <message name='localFashionSearchRequestMessage'>
    <part name='parameters' element='tns:localFashionSearchParameters' />
  </message>
  <message name='localFashionSearchResponseMessage'>
    <part name='response' element='tns:localFashionSearchResponse' />
  </message>
  <message name='storeDetailsRequestMessage'>
    <part name='parameters' element='tns:storeDetailsParameters' />
  </message>
  <message name='storeDetailsResponseMessage'>
    <part name='response' element='tns:storeDetailsResponse' />
  </message>
  <portType name='chicmiLondonFashionPortType'>
    <operation name='eventDetails'>
      <documentation>get extended sale or event information</documentation>
      <input message='tns:eventDetailsRequestMessage' name='eventDetailsInput' />
      <output message='tns:eventDetailsResponseMessage' name='eventDetailsOutput' />
    </operation>
    <operation name='fashionEventsNearby'>
      <documentation>get a list of fashion events near a latitude and longitude</documentation>
      <input message='tns:fashionEventsNearbyRequestMessage' name='fashionEventsNearbyInput' />
      <output message='tns:fashionEventsNearbyResponseMessage' name='fashionEventsNearbyOutput' />
    </operation>
    <operation name='fashionSalesNearby'>
      <documentation>get a list of fashion sales near a latitude and longitude</documentation>
      <input message='tns:fashionSalesNearbyRequestMessage' name='fashionSalesNearbyInput' />
      <output message='tns:fashionSalesNearbyResponseMessage' name='fashionSalesNearbyOutput' />
    </operation>
    <operation name='fashionStoresNearby'>
      <documentation>get a list of fashion stores near a latitude and longitude</documentation>
      <input message='tns:fashionStoresNearbyRequestMessage' name='fashionStoresNearbyInput' />
      <output message='tns:fashionStoresNearbyResponseMessage' name='fashionStoresNearbyOutput' />
    </operation>
    <operation name='listEventReviews'>
      <documentation>list customer reviews of an event</documentation>
      <input message='tns:listEventReviewsRequestMessage' name='listEventReviewsInput' />
      <output message='tns:listEventReviewsResponseMessage' name='listEventReviewsOutput' />
    </operation>
    <operation name='listEventStores'>
      <documentation>list stores where a sale or event is occurring</documentation>
      <input message='tns:listEventStoresRequestMessage' name='listEventStoresInput' />
      <output message='tns:listEventStoresResponseMessage' name='listEventStoresOutput' />
    </operation>
    <operation name='listLookupTables'>
      <documentation>return Chicmi s internal lookup tables for categories facilities products etc</documentation>
      <input message='tns:listLookupTablesRequestMessage' name='listLookupTablesInput' />
      <output message='tns:listLookupTablesResponseMessage' name='listLookupTablesOutput' />
    </operation>
    <operation name='listStoreChildren'>
      <documentation>list concessions or sub stores within a store</documentation>
      <input message='tns:listStoreChildrenRequestMessage' name='listStoreChildrenInput' />
      <output message='tns:listStoreChildrenResponseMessage' name='listStoreChildrenOutput' />
    </operation>
    <operation name='listStoreReviews'>
      <documentation>list customer reviews of a store</documentation>
      <input message='tns:listStoreReviewsRequestMessage' name='listStoreReviewsInput' />
      <output message='tns:listStoreReviewsResponseMessage' name='listStoreReviewsOutput' />
    </operation>
    <operation name='localFashionSearch'>
      <documentation>get a list of stores sales and fashion events near a latitude and longitude based on a search string</documentation>
      <input message='tns:localFashionSearchRequestMessage' name='localFashionSearchInput' />
      <output message='tns:localFashionSearchResponseMessage' name='localFashionSearchOutput' />
    </operation>
    <operation name='storeDetails'>
      <documentation>get extended store information</documentation>
      <input message='tns:storeDetailsRequestMessage' name='storeDetailsInput' />
      <output message='tns:storeDetailsResponseMessage' name='storeDetailsOutput' />
    </operation>
  </portType>
  <binding name='chicmiLondonFashionBinding' type='tns:chicmiLondonFashionPortType'>
    <operation name='eventDetails'>
      <soap12:operation soapAction='http://eventDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fashionEventsNearby'>
      <soap12:operation soapAction='http://fashionEventsNearby' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fashionSalesNearby'>
      <soap12:operation soapAction='http://fashionSalesNearby' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fashionStoresNearby'>
      <soap12:operation soapAction='http://fashionStoresNearby' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listEventReviews'>
      <soap12:operation soapAction='http://listEventReviews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listEventStores'>
      <soap12:operation soapAction='http://listEventStores' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listLookupTables'>
      <soap12:operation soapAction='http://listLookupTables' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listStoreChildren'>
      <soap12:operation soapAction='http://listStoreChildren' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listStoreReviews'>
      <soap12:operation soapAction='http://listStoreReviews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='localFashionSearch'>
      <soap12:operation soapAction='http://localFashionSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='storeDetails'>
      <soap12:operation soapAction='http://storeDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='chicmiLondonFashion'>
    <documentation>chicmi have the biggest database of London fashion sales sample sales and fashion events and a huge collection of luxury London fashion stores Our API provides developers with complete open access to this unique dataset</documentation>
    <port name='chicmiLondonFashionPort' binding='tns:chicmiLondonFashionBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://chicmiLondonFashion' />
    </port>
  </service>
</definitions>