workspace/datasets/mashape_dataset/cloudsponge.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/cloudsponge/' name='cloudsponge' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/cloudsponge/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/cloudsponge/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/cloudsponge/'>
      <xsd:element name='stepGetTheUserSPermissionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='import_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='echo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stepWaitForTheImportToFinishParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='echo' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='importid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stepWaitForTheImportToFinishResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='import_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='echo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='events' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='event_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stepDownloadTheAddressBookParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='echo' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='importid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stepDownloadTheAddressBookResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='import_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='echo' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='contacts_owner' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='contacts' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='phone' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='number' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='stepGetTheUserSPermissionRequestMessage' />
  <message name='stepGetTheUserSPermissionResponseMessage'>
    <part name='response' element='tns:stepGetTheUserSPermissionResponse' />
  </message>
  <message name='stepWaitForTheImportToFinishRequestMessage'>
    <part name='parameters' element='tns:stepWaitForTheImportToFinishParameters' />
  </message>
  <message name='stepWaitForTheImportToFinishResponseMessage'>
    <part name='response' element='tns:stepWaitForTheImportToFinishResponse' />
  </message>
  <message name='stepDownloadTheAddressBookRequestMessage'>
    <part name='parameters' element='tns:stepDownloadTheAddressBookParameters' />
  </message>
  <message name='stepDownloadTheAddressBookResponseMessage'>
    <part name='response' element='tns:stepDownloadTheAddressBookResponse' />
  </message>
  <portType name='cloudspongePortType'>
    <operation name='stepGetTheUserSPermission'>
      <documentation>your application initiates an address book import by calling the Begin Import URL specifying the user authentication method the address book source plus any other additional information required The API returns a result object containing a unique identifier for subsequent calls to the API and the browser URL you ll need to display to your user in a new browser window</documentation>
      <input message='tns:stepGetTheUserSPermissionRequestMessage' name='stepGetTheUserSPermissionInput' />
      <output message='tns:stepGetTheUserSPermissionResponseMessage' name='stepGetTheUserSPermissionOutput' />
    </operation>
    <operation name='stepWaitForTheImportToFinish'>
      <documentation>after the consent URL is displayed to the user and accepted a contact import is initiated and your application must monitor the CloudSponge events URL Use the import id value that was returned from the call to begin import to identify the import request to CloudSponge when fetching events</documentation>
      <input message='tns:stepWaitForTheImportToFinishRequestMessage' name='stepWaitForTheImportToFinishInput' />
      <output message='tns:stepWaitForTheImportToFinishResponseMessage' name='stepWaitForTheImportToFinishOutput' />
    </operation>
    <operation name='stepDownloadTheAddressBook'>
      <documentation>when the COMPLETE event is received with the COMPLETED status in Step your application should retrieve the contacts immediately After a few minutes they will be deleted from CloudSponge</documentation>
      <input message='tns:stepDownloadTheAddressBookRequestMessage' name='stepDownloadTheAddressBookInput' />
      <output message='tns:stepDownloadTheAddressBookResponseMessage' name='stepDownloadTheAddressBookOutput' />
    </operation>
  </portType>
  <binding name='cloudspongeBinding' type='tns:cloudspongePortType'>
    <operation name='stepGetTheUserSPermission'>
      <soap12:operation soapAction='http://stepGetTheUserSPermission' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stepWaitForTheImportToFinish'>
      <soap12:operation soapAction='http://stepWaitForTheImportToFinish' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stepDownloadTheAddressBook'>
      <soap12:operation soapAction='http://stepDownloadTheAddressBook' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='cloudsponge'>
    <documentation>your business grows faster when it s easy for your users to tell their friends about you CloudSponge is a tool that makes it easy to access your users address books from multiple sources like Gmail Google Contacts API Yahoo s AddressBook AOL Poco Outlook com and others</documentation>
    <port name='cloudspongePort' binding='tns:cloudspongeBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://cloudsponge' />
    </port>
  </service>
</definitions>