workspace/datasets/mashape_dataset/clover.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/clover/' name='clover' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/clover/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/clover/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/clover/'>
      <xsd:element name='getVInventoryCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryCategoriesCategoryidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryCategoriesCategoryidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryDiscountsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryDiscountsDiscountidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='discountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryDiscountsDiscountidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryItemsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryItemsItemidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='itemid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryItemsItemidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryItemsWithCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryModifiersGroupsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryModifiersGroupsGroupidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryModifiersGroupsGroupidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryModifiersModifieridParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='modifierid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVInventoryModifiersModifieridResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryCategoriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='mid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryCategoriesCategoryidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryCategoriesCategoryidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryDiscountsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='mid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryDiscountsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryDiscountsDiscountidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='discountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryDiscountsDiscountidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryItemsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='mid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryItemsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryItemsItemidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='itemid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryItemsItemidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryItemsWithCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryModifiersGroupsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='mid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryModifiersGroupsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryModifiersGroupsGroupidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryModifiersGroupsGroupidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryModifiersModifieridParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='mid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='modifierid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMerchantMidInventoryModifiersModifieridResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getVInventoryCategoriesRequestMessage' />
  <message name='getVInventoryCategoriesResponseMessage'>
    <part name='response' element='tns:getVInventoryCategoriesResponse' />
  </message>
  <message name='getVInventoryCategoriesCategoryidRequestMessage'>
    <part name='parameters' element='tns:getVInventoryCategoriesCategoryidParameters' />
  </message>
  <message name='getVInventoryCategoriesCategoryidResponseMessage'>
    <part name='response' element='tns:getVInventoryCategoriesCategoryidResponse' />
  </message>
  <message name='getVInventoryDiscountsRequestMessage' />
  <message name='getVInventoryDiscountsResponseMessage'>
    <part name='response' element='tns:getVInventoryDiscountsResponse' />
  </message>
  <message name='getVInventoryDiscountsDiscountidRequestMessage'>
    <part name='parameters' element='tns:getVInventoryDiscountsDiscountidParameters' />
  </message>
  <message name='getVInventoryDiscountsDiscountidResponseMessage'>
    <part name='response' element='tns:getVInventoryDiscountsDiscountidResponse' />
  </message>
  <message name='getVInventoryItemsRequestMessage' />
  <message name='getVInventoryItemsResponseMessage'>
    <part name='response' element='tns:getVInventoryItemsResponse' />
  </message>
  <message name='getVInventoryItemsItemidRequestMessage'>
    <part name='parameters' element='tns:getVInventoryItemsItemidParameters' />
  </message>
  <message name='getVInventoryItemsItemidResponseMessage'>
    <part name='response' element='tns:getVInventoryItemsItemidResponse' />
  </message>
  <message name='getVInventoryItemsWithCategoriesRequestMessage' />
  <message name='getVInventoryItemsWithCategoriesResponseMessage'>
    <part name='response' element='tns:getVInventoryItemsWithCategoriesResponse' />
  </message>
  <message name='getVInventoryModifiersGroupsRequestMessage' />
  <message name='getVInventoryModifiersGroupsResponseMessage'>
    <part name='response' element='tns:getVInventoryModifiersGroupsResponse' />
  </message>
  <message name='getVInventoryModifiersGroupsGroupidRequestMessage'>
    <part name='parameters' element='tns:getVInventoryModifiersGroupsGroupidParameters' />
  </message>
  <message name='getVInventoryModifiersGroupsGroupidResponseMessage'>
    <part name='response' element='tns:getVInventoryModifiersGroupsGroupidResponse' />
  </message>
  <message name='getVInventoryModifiersModifieridRequestMessage'>
    <part name='parameters' element='tns:getVInventoryModifiersModifieridParameters' />
  </message>
  <message name='getVInventoryModifiersModifieridResponseMessage'>
    <part name='response' element='tns:getVInventoryModifiersModifieridResponse' />
  </message>
  <message name='getVMerchantMidInventoryCategoriesRequestMessage'>
    <part name='parameters' element='tns:getVMerchantMidInventoryCategoriesParameters' />
  </message>
  <message name='getVMerchantMidInventoryCategoriesResponseMessage'>
    <part name='response' element='tns:getVMerchantMidInventoryCategoriesResponse' />
  </message>
  <message name='getVMerchantMidInventoryCategoriesCategoryidRequestMessage'>
    <part name='parameters' element='tns:getVMerchantMidInventoryCategoriesCategoryidParameters' />
  </message>
  <message name='getVMerchantMidInventoryCategoriesCategoryidResponseMessage'>
    <part name='response' element='tns:getVMerchantMidInventoryCategoriesCategoryidResponse' />
  </message>
  <message name='getVMerchantMidInventoryDiscountsRequestMessage'>
    <part name='parameters' element='tns:getVMerchantMidInventoryDiscountsParameters' />
  </message>
  <message name='getVMerchantMidInventoryDiscountsResponseMessage'>
    <part name='response' element='tns:getVMerchantMidInventoryDiscountsResponse' />
  </message>
  <message name='getVMerchantMidInventoryDiscountsDiscountidRequestMessage'>
    <part name='parameters' element='tns:getVMerchantMidInventoryDiscountsDiscountidParameters' />
  </message>
  <message name='getVMerchantMidInventoryDiscountsDiscountidResponseMessage'>
    <part name='response' element='tns:getVMerchantMidInventoryDiscountsDiscountidResponse' />
  </message>
  <message name='getVMerchantMidInventoryItemsRequestMessage'>
    <part name='parameters' element='tns:getVMerchantMidInventoryItemsParameters' />
  </message>
  <message name='getVMerchantMidInventoryItemsResponseMessage'>
    <part name='response' element='tns:getVMerchantMidInventoryItemsResponse' />
  </message>
  <message name='getVMerchantMidInventoryItemsItemidRequestMessage'>
    <part name='parameters' element='tns:getVMerchantMidInventoryItemsItemidParameters' />
  </message>
  <message name='getVMerchantMidInventoryItemsItemidResponseMessage'>
    <part name='response' element='tns:getVMerchantMidInventoryItemsItemidResponse' />
  </message>
  <message name='getVMerchantMidInventoryItemsWithCategoriesRequestMessage' />
  <message name='getVMerchantMidInventoryItemsWithCategoriesResponseMessage'>
    <part name='response' element='tns:getVMerchantMidInventoryItemsWithCategoriesResponse' />
  </message>
  <message name='getVMerchantMidInventoryModifiersGroupsRequestMessage'>
    <part name='parameters' element='tns:getVMerchantMidInventoryModifiersGroupsParameters' />
  </message>
  <message name='getVMerchantMidInventoryModifiersGroupsResponseMessage'>
    <part name='response' element='tns:getVMerchantMidInventoryModifiersGroupsResponse' />
  </message>
  <message name='getVMerchantMidInventoryModifiersGroupsGroupidRequestMessage'>
    <part name='parameters' element='tns:getVMerchantMidInventoryModifiersGroupsGroupidParameters' />
  </message>
  <message name='getVMerchantMidInventoryModifiersGroupsGroupidResponseMessage'>
    <part name='response' element='tns:getVMerchantMidInventoryModifiersGroupsGroupidResponse' />
  </message>
  <message name='getVMerchantMidInventoryModifiersModifieridRequestMessage'>
    <part name='parameters' element='tns:getVMerchantMidInventoryModifiersModifieridParameters' />
  </message>
  <message name='getVMerchantMidInventoryModifiersModifieridResponseMessage'>
    <part name='response' element='tns:getVMerchantMidInventoryModifiersModifieridResponse' />
  </message>
  <portType name='cloverPortType'>
    <operation name='getVInventoryCategories'>
      <documentation>list all categories and the number of items in each category</documentation>
      <input message='tns:getVInventoryCategoriesRequestMessage' name='getVInventoryCategoriesInput' />
      <output message='tns:getVInventoryCategoriesResponseMessage' name='getVInventoryCategoriesOutput' />
    </operation>
    <operation name='getVInventoryCategoriesCategoryid'>
      <documentation>return a single category and lists all items in it</documentation>
      <input message='tns:getVInventoryCategoriesCategoryidRequestMessage' name='getVInventoryCategoriesCategoryidInput' />
      <output message='tns:getVInventoryCategoriesCategoryidResponseMessage' name='getVInventoryCategoriesCategoryidOutput' />
    </operation>
    <operation name='getVInventoryDiscounts'>
      <documentation>return a list of custom discounts</documentation>
      <input message='tns:getVInventoryDiscountsRequestMessage' name='getVInventoryDiscountsInput' />
      <output message='tns:getVInventoryDiscountsResponseMessage' name='getVInventoryDiscountsOutput' />
    </operation>
    <operation name='getVInventoryDiscountsDiscountid'>
      <documentation>return a single discount</documentation>
      <input message='tns:getVInventoryDiscountsDiscountidRequestMessage' name='getVInventoryDiscountsDiscountidInput' />
      <output message='tns:getVInventoryDiscountsDiscountidResponseMessage' name='getVInventoryDiscountsDiscountidOutput' />
    </operation>
    <operation name='getVInventoryItems'>
      <documentation>list all items in the merchant s inventory</documentation>
      <input message='tns:getVInventoryItemsRequestMessage' name='getVInventoryItemsInput' />
      <output message='tns:getVInventoryItemsResponseMessage' name='getVInventoryItemsOutput' />
    </operation>
    <operation name='getVInventoryItemsItemid'>
      <documentation>return a single item</documentation>
      <input message='tns:getVInventoryItemsItemidRequestMessage' name='getVInventoryItemsItemidInput' />
      <output message='tns:getVInventoryItemsItemidResponseMessage' name='getVInventoryItemsItemidOutput' />
    </operation>
    <operation name='getVInventoryItemsWithCategories'>
      <documentation>return a list of items with categories</documentation>
      <input message='tns:getVInventoryItemsWithCategoriesRequestMessage' name='getVInventoryItemsWithCategoriesInput' />
      <output message='tns:getVInventoryItemsWithCategoriesResponseMessage' name='getVInventoryItemsWithCategoriesOutput' />
    </operation>
    <operation name='getVInventoryModifiersGroups'>
      <documentation>list all the modifier groups</documentation>
      <input message='tns:getVInventoryModifiersGroupsRequestMessage' name='getVInventoryModifiersGroupsInput' />
      <output message='tns:getVInventoryModifiersGroupsResponseMessage' name='getVInventoryModifiersGroupsOutput' />
    </operation>
    <operation name='getVInventoryModifiersGroupsGroupid'>
      <documentation>list all the modifiers belonging to a modifier group</documentation>
      <input message='tns:getVInventoryModifiersGroupsGroupidRequestMessage' name='getVInventoryModifiersGroupsGroupidInput' />
      <output message='tns:getVInventoryModifiersGroupsGroupidResponseMessage' name='getVInventoryModifiersGroupsGroupidOutput' />
    </operation>
    <operation name='getVInventoryModifiersModifierid'>
      <documentation>return a single modifier</documentation>
      <input message='tns:getVInventoryModifiersModifieridRequestMessage' name='getVInventoryModifiersModifieridInput' />
      <output message='tns:getVInventoryModifiersModifieridResponseMessage' name='getVInventoryModifiersModifieridOutput' />
    </operation>
    <operation name='getVMerchantMidInventoryCategories'>
      <documentation>list all categories and the number of items in each category</documentation>
      <input message='tns:getVMerchantMidInventoryCategoriesRequestMessage' name='getVMerchantMidInventoryCategoriesInput' />
      <output message='tns:getVMerchantMidInventoryCategoriesResponseMessage' name='getVMerchantMidInventoryCategoriesOutput' />
    </operation>
    <operation name='getVMerchantMidInventoryCategoriesCategoryid'>
      <documentation>return a single category and lists all items in it</documentation>
      <input message='tns:getVMerchantMidInventoryCategoriesCategoryidRequestMessage' name='getVMerchantMidInventoryCategoriesCategoryidInput' />
      <output message='tns:getVMerchantMidInventoryCategoriesCategoryidResponseMessage' name='getVMerchantMidInventoryCategoriesCategoryidOutput' />
    </operation>
    <operation name='getVMerchantMidInventoryDiscounts'>
      <documentation>return a list of custom discounts</documentation>
      <input message='tns:getVMerchantMidInventoryDiscountsRequestMessage' name='getVMerchantMidInventoryDiscountsInput' />
      <output message='tns:getVMerchantMidInventoryDiscountsResponseMessage' name='getVMerchantMidInventoryDiscountsOutput' />
    </operation>
    <operation name='getVMerchantMidInventoryDiscountsDiscountid'>
      <documentation>return a single discount</documentation>
      <input message='tns:getVMerchantMidInventoryDiscountsDiscountidRequestMessage' name='getVMerchantMidInventoryDiscountsDiscountidInput' />
      <output message='tns:getVMerchantMidInventoryDiscountsDiscountidResponseMessage' name='getVMerchantMidInventoryDiscountsDiscountidOutput' />
    </operation>
    <operation name='getVMerchantMidInventoryItems'>
      <documentation>list all items in the merchant s inventory</documentation>
      <input message='tns:getVMerchantMidInventoryItemsRequestMessage' name='getVMerchantMidInventoryItemsInput' />
      <output message='tns:getVMerchantMidInventoryItemsResponseMessage' name='getVMerchantMidInventoryItemsOutput' />
    </operation>
    <operation name='getVMerchantMidInventoryItemsItemid'>
      <documentation></documentation>
      <input message='tns:getVMerchantMidInventoryItemsItemidRequestMessage' name='getVMerchantMidInventoryItemsItemidInput' />
      <output message='tns:getVMerchantMidInventoryItemsItemidResponseMessage' name='getVMerchantMidInventoryItemsItemidOutput' />
    </operation>
    <operation name='getVMerchantMidInventoryItemsWithCategories'>
      <documentation>return a list of items with categories</documentation>
      <input message='tns:getVMerchantMidInventoryItemsWithCategoriesRequestMessage' name='getVMerchantMidInventoryItemsWithCategoriesInput' />
      <output message='tns:getVMerchantMidInventoryItemsWithCategoriesResponseMessage' name='getVMerchantMidInventoryItemsWithCategoriesOutput' />
    </operation>
    <operation name='getVMerchantMidInventoryModifiersGroups'>
      <documentation>list all the modifier groups</documentation>
      <input message='tns:getVMerchantMidInventoryModifiersGroupsRequestMessage' name='getVMerchantMidInventoryModifiersGroupsInput' />
      <output message='tns:getVMerchantMidInventoryModifiersGroupsResponseMessage' name='getVMerchantMidInventoryModifiersGroupsOutput' />
    </operation>
    <operation name='getVMerchantMidInventoryModifiersGroupsGroupid'>
      <documentation>list all the modifiers belonging to a modifier group</documentation>
      <input message='tns:getVMerchantMidInventoryModifiersGroupsGroupidRequestMessage' name='getVMerchantMidInventoryModifiersGroupsGroupidInput' />
      <output message='tns:getVMerchantMidInventoryModifiersGroupsGroupidResponseMessage' name='getVMerchantMidInventoryModifiersGroupsGroupidOutput' />
    </operation>
    <operation name='getVMerchantMidInventoryModifiersModifierid'>
      <documentation>return a single modifier</documentation>
      <input message='tns:getVMerchantMidInventoryModifiersModifieridRequestMessage' name='getVMerchantMidInventoryModifiersModifieridInput' />
      <output message='tns:getVMerchantMidInventoryModifiersModifieridResponseMessage' name='getVMerchantMidInventoryModifiersModifieridOutput' />
    </operation>
  </portType>
  <binding name='cloverBinding' type='tns:cloverPortType'>
    <operation name='getVInventoryCategories'>
      <soap12:operation soapAction='http://getVInventoryCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVInventoryCategoriesCategoryid'>
      <soap12:operation soapAction='http://getVInventoryCategoriesCategoryid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVInventoryDiscounts'>
      <soap12:operation soapAction='http://getVInventoryDiscounts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVInventoryDiscountsDiscountid'>
      <soap12:operation soapAction='http://getVInventoryDiscountsDiscountid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVInventoryItems'>
      <soap12:operation soapAction='http://getVInventoryItems' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVInventoryItemsItemid'>
      <soap12:operation soapAction='http://getVInventoryItemsItemid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVInventoryItemsWithCategories'>
      <soap12:operation soapAction='http://getVInventoryItemsWithCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVInventoryModifiersGroups'>
      <soap12:operation soapAction='http://getVInventoryModifiersGroups' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVInventoryModifiersGroupsGroupid'>
      <soap12:operation soapAction='http://getVInventoryModifiersGroupsGroupid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVInventoryModifiersModifierid'>
      <soap12:operation soapAction='http://getVInventoryModifiersModifierid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVMerchantMidInventoryCategories'>
      <soap12:operation soapAction='http://getVMerchantMidInventoryCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVMerchantMidInventoryCategoriesCategoryid'>
      <soap12:operation soapAction='http://getVMerchantMidInventoryCategoriesCategoryid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVMerchantMidInventoryDiscounts'>
      <soap12:operation soapAction='http://getVMerchantMidInventoryDiscounts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVMerchantMidInventoryDiscountsDiscountid'>
      <soap12:operation soapAction='http://getVMerchantMidInventoryDiscountsDiscountid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVMerchantMidInventoryItems'>
      <soap12:operation soapAction='http://getVMerchantMidInventoryItems' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVMerchantMidInventoryItemsItemid'>
      <soap12:operation soapAction='http://getVMerchantMidInventoryItemsItemid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVMerchantMidInventoryItemsWithCategories'>
      <soap12:operation soapAction='http://getVMerchantMidInventoryItemsWithCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVMerchantMidInventoryModifiersGroups'>
      <soap12:operation soapAction='http://getVMerchantMidInventoryModifiersGroups' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVMerchantMidInventoryModifiersGroupsGroupid'>
      <soap12:operation soapAction='http://getVMerchantMidInventoryModifiersGroupsGroupid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVMerchantMidInventoryModifiersModifierid'>
      <soap12:operation soapAction='http://getVMerchantMidInventoryModifiersModifierid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='clover'>
    <documentation>overworked small business owners Clover is here to help Everything you need Clover replaces your cash register payment terminal receipt printer and barcode scanner with an all in one solution</documentation>
    <port name='cloverPort' binding='tns:cloverBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://clover' />
    </port>
  </service>
</definitions>