workspace/datasets/mashape_dataset/codeorglocalschooldatabase.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/codeOrgLocalSchoolDatabase/' name='codeOrgLocalSchoolDatabase' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/codeOrgLocalSchoolDatabase/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/codeOrgLocalSchoolDatabase/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/codeOrgLocalSchoolDatabase/'>
      <xsd:element name='localSchoolDatabaseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='localSchoolDatabaseRequestMessage' />
  <message name='localSchoolDatabaseResponseMessage'>
    <part name='response' element='tns:localSchoolDatabaseResponse' />
  </message>
  <portType name='codeOrgLocalSchoolDatabasePortType'>
    <operation name='localSchoolDatabase'>
      <documentation>this endpoint allows you to access the whole database This endpoint requires no parameters</documentation>
      <input message='tns:localSchoolDatabaseRequestMessage' name='localSchoolDatabaseInput' />
      <output message='tns:localSchoolDatabaseResponseMessage' name='localSchoolDatabaseOutput' />
    </operation>
  </portType>
  <binding name='codeOrgLocalSchoolDatabaseBinding' type='tns:codeOrgLocalSchoolDatabasePortType'>
    <operation name='localSchoolDatabase'>
      <soap12:operation soapAction='http://localSchoolDatabase' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='codeOrgLocalSchoolDatabase'>
    <documentation>we ve enabled JSON access to the database that powers the Code org local school search Our goal is to enable third parties to take advantage of our database in order to build local search engines or other applications beyond the simple local search we provide All information that is publicly available via our search engine is exposed via JSON public contact info is listed but private contact info is not The data behind the Code org school database is licensed via the Creative Commons attribution license you can use the data as you wish but please give Code org attribution</documentation>
    <port name='codeOrgLocalSchoolDatabasePort' binding='tns:codeOrgLocalSchoolDatabaseBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://codeOrgLocalSchoolDatabase' />
    </port>
  </service>
</definitions>