workspace/datasets/mashape_dataset/coinmillcurrency.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/coinmillCurrency/' name='coinmillCurrency' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/coinmillCurrency/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/coinmillCurrency/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/coinmillCurrency/'>
      <xsd:element name='coinmillResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='coinmillRequestMessage' />
  <message name='coinmillResponseMessage'>
    <part name='response' element='tns:coinmillResponse' />
  </message>
  <portType name='coinmillCurrencyPortType'>
    <operation name='coinmill'>
      <input message='tns:coinmillRequestMessage' name='coinmillInput' />
      <output message='tns:coinmillResponseMessage' name='coinmillOutput' />
    </operation>
  </portType>
  <binding name='coinmillCurrencyBinding' type='tns:coinmillCurrencyPortType'>
    <operation name='coinmill'>
      <soap12:operation soapAction='http://coinmill' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='coinmillCurrency'>
    <documentation>javaScript API for powering currency exchange rates on websites</documentation>
    <port name='coinmillCurrencyPort' binding='tns:coinmillCurrencyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://coinmillCurrency' />
    </port>
  </service>
</definitions>