workspace/datasets/mashape_dataset/colortag.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/colortag/' name='colortag' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/colortag/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/colortag/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/colortag/'>
      <xsd:element name='tagImageFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='tags' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tagImageUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='palette' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tagImageUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='tags' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='tagImageFileRequestMessage' />
  <message name='tagImageFileResponseMessage'>
    <part name='response' element='tns:tagImageFileResponse' />
  </message>
  <message name='tagImageUrlRequestMessage'>
    <part name='parameters' element='tns:tagImageUrlParameters' />
  </message>
  <message name='tagImageUrlResponseMessage'>
    <part name='response' element='tns:tagImageUrlResponse' />
  </message>
  <portType name='colortagPortType'>
    <operation name='tagImageFile'>
      <documentation>returns a JSON object that contains color tags for the uploaded image visual demo http apicloud me apis colortag demo</documentation>
      <input message='tns:tagImageFileRequestMessage' name='tagImageFileInput' />
      <output message='tns:tagImageFileResponseMessage' name='tagImageFileOutput' />
    </operation>
    <operation name='tagImageUrl'>
      <documentation>returns a JSON object that contains color tags for the image specified by URL visual demo http apicloud me apis colortag demo</documentation>
      <input message='tns:tagImageUrlRequestMessage' name='tagImageUrlInput' />
      <output message='tns:tagImageUrlResponseMessage' name='tagImageUrlOutput' />
    </operation>
  </portType>
  <binding name='colortagBinding' type='tns:colortagPortType'>
    <operation name='tagImageFile'>
      <soap12:operation soapAction='http://tagImageFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tagImageUrl'>
      <soap12:operation soapAction='http://tagImageUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='colortag'>
    <documentation>colorTag is a powerful API for color detection Taking an image file or URL as input ColorTag produces a list of text labels and hex RGB values that can be then used as tags for a certain image or item Check out visual demo here http apicloud me apis colortag demo The API can sort tags by relevance detecting colors of objects on the image e g a dress a car etc or simply by weight in the image First mode is perfect for e commerce applications allowing to automatically tag items with colors by simply providing a photo or a thumbnail and build a color tag cloud so users are able to search items by color e g red Weight sorting mode can be useful for photos wallpapers or other images without well defined objects on them to analyze the palette in general Text color labels can be assigned with different precision just basic colors W C compatible colors precise colors etc</documentation>
    <port name='colortagPort' binding='tns:colortagBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://colortag' />
    </port>
  </service>
</definitions>