workspace/datasets/mashape_dataset/companycheck.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/companyCheck/' name='companyCheck' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/companyCheck/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/companyCheck/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/companyCheck/'>
      <xsd:element name='companyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='companyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errorMessage' type='xsd:string' minOccurs='0' />
            <xsd:element name='errorCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='companyBasicParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='companyBasicResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='companySearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='active' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='assets' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='cashatbank' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='creditors' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='debtors' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='dissolved' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='fixedassets' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='liabilities' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='networth' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='postcode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='siccode' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='turnover' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='companySearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='directorParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='directorResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errorMessage' type='xsd:string' minOccurs='0' />
            <xsd:element name='errorCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='directorBasicParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='directorBasicResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='directorSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='birthyear' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='postcode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='directorSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='registeredPostcodes' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='postcode0' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='companyRequestMessage'>
    <part name='parameters' element='tns:companyParameters' />
  </message>
  <message name='companyResponseMessage'>
    <part name='response' element='tns:companyResponse' />
  </message>
  <message name='companyBasicRequestMessage'>
    <part name='parameters' element='tns:companyBasicParameters' />
  </message>
  <message name='companyBasicResponseMessage'>
    <part name='response' element='tns:companyBasicResponse' />
  </message>
  <message name='companySearchRequestMessage'>
    <part name='parameters' element='tns:companySearchParameters' />
  </message>
  <message name='companySearchResponseMessage'>
    <part name='response' element='tns:companySearchResponse' />
  </message>
  <message name='directorRequestMessage'>
    <part name='parameters' element='tns:directorParameters' />
  </message>
  <message name='directorResponseMessage'>
    <part name='response' element='tns:directorResponse' />
  </message>
  <message name='directorBasicRequestMessage'>
    <part name='parameters' element='tns:directorBasicParameters' />
  </message>
  <message name='directorBasicResponseMessage'>
    <part name='response' element='tns:directorBasicResponse' />
  </message>
  <message name='directorSearchRequestMessage'>
    <part name='parameters' element='tns:directorSearchParameters' />
  </message>
  <message name='directorSearchResponseMessage'>
    <part name='response' element='tns:directorSearchResponse' />
  </message>
  <portType name='companyCheckPortType'>
    <operation name='company'>
      <input message='tns:companyRequestMessage' name='companyInput' />
      <output message='tns:companyResponseMessage' name='companyOutput' />
    </operation>
    <operation name='companyBasic'>
      <input message='tns:companyBasicRequestMessage' name='companyBasicInput' />
      <output message='tns:companyBasicResponseMessage' name='companyBasicOutput' />
    </operation>
    <operation name='companySearch'>
      <input message='tns:companySearchRequestMessage' name='companySearchInput' />
      <output message='tns:companySearchResponseMessage' name='companySearchOutput' />
    </operation>
    <operation name='director'>
      <input message='tns:directorRequestMessage' name='directorInput' />
      <output message='tns:directorResponseMessage' name='directorOutput' />
    </operation>
    <operation name='directorBasic'>
      <input message='tns:directorBasicRequestMessage' name='directorBasicInput' />
      <output message='tns:directorBasicResponseMessage' name='directorBasicOutput' />
    </operation>
    <operation name='directorSearch'>
      <input message='tns:directorSearchRequestMessage' name='directorSearchInput' />
      <output message='tns:directorSearchResponseMessage' name='directorSearchOutput' />
    </operation>
  </portType>
  <binding name='companyCheckBinding' type='tns:companyCheckPortType'>
    <operation name='company'>
      <soap12:operation soapAction='http://company' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='companyBasic'>
      <soap12:operation soapAction='http://companyBasic' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='companySearch'>
      <soap12:operation soapAction='http://companySearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='director'>
      <soap12:operation soapAction='http://director' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='directorBasic'>
      <soap12:operation soapAction='http://directorBasic' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='directorSearch'>
      <soap12:operation soapAction='http://directorSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='companyCheck'>
    <documentation>use the Company Check API platform to integrate company director financial and credit data in to your own software and bespoke applications With over million company and director records our API gives you direct access to information across the UK and Ireland Europe coming soon</documentation>
    <port name='companyCheckPort' binding='tns:companyCheckBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://companyCheck' />
    </port>
  </service>
</definitions>