workspace/datasets/mashape_dataset/contractlive.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/contractLive/' name='contractLive' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/contractLive/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/contractLive/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/contractLive/'>
      <xsd:element name='createNegotiationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='isEditable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='contentType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createNegotiationActivityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createNegotiationActivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='scope' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='user' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createNegotiationAttachmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='negotiationuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createNegotiationAttachmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='negotiationUid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createTemplateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='variables' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='nameofemployee5cc4d' type='xsd:string' minOccurs='0' />
                  <xsd:element name='postalcoded63f6' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='contentType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='isAutomatic' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteNegotiationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteNegotiationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteNegotiationAttachmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='negotiationuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteNegotiationAttachmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTemplateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTemplateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getANegotiaitonSignedPdfParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getANegotiaitonSignedPdfResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEnvironmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='organizationName' type='xsd:string' minOccurs='0' />
            <xsd:element name='isTestMode' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='apiUid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='userName' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNegotiationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNegotiationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='isEditable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='contentType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNegotiationActivitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='negotiationuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNegotiationActivitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='scope' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='user' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNegotiationAttachmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='negotiationuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNegotiationAttachmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='negotiationUid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNegotiationAttachmentContentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='negotiationuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNegotiationAttachmentContentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNegotiationContentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNegotiationContentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTemplateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTemplateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='variables' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='nameofemployee5cc4d' type='xsd:string' minOccurs='0' />
                  <xsd:element name='postalcoded63f6' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='contentType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='isAutomatic' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTemplateContentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTemplateContentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listNegotiationAttachmentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='negotiationuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listNegotiationAttachmentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='negotiationUid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateNegotiationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateNegotiationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='isEditable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='contentType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateNegotiationAttachmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='negotiationuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateNegotiationAttachmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='negotiationUid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTemplateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTemplateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='variables' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='nameofemployee5cc4d' type='xsd:string' minOccurs='0' />
                  <xsd:element name='postalcoded63f6' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='contentType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='isAutomatic' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='useTemplateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='useTemplateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='isEditable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='contentType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createNegotiationRequestMessage' />
  <message name='createNegotiationResponseMessage'>
    <part name='response' element='tns:createNegotiationResponse' />
  </message>
  <message name='createNegotiationActivityRequestMessage'>
    <part name='parameters' element='tns:createNegotiationActivityParameters' />
  </message>
  <message name='createNegotiationActivityResponseMessage'>
    <part name='response' element='tns:createNegotiationActivityResponse' />
  </message>
  <message name='createNegotiationAttachmentRequestMessage'>
    <part name='parameters' element='tns:createNegotiationAttachmentParameters' />
  </message>
  <message name='createNegotiationAttachmentResponseMessage'>
    <part name='response' element='tns:createNegotiationAttachmentResponse' />
  </message>
  <message name='createTemplateRequestMessage' />
  <message name='createTemplateResponseMessage'>
    <part name='response' element='tns:createTemplateResponse' />
  </message>
  <message name='deleteNegotiationRequestMessage'>
    <part name='parameters' element='tns:deleteNegotiationParameters' />
  </message>
  <message name='deleteNegotiationResponseMessage'>
    <part name='response' element='tns:deleteNegotiationResponse' />
  </message>
  <message name='deleteNegotiationAttachmentRequestMessage'>
    <part name='parameters' element='tns:deleteNegotiationAttachmentParameters' />
  </message>
  <message name='deleteNegotiationAttachmentResponseMessage'>
    <part name='response' element='tns:deleteNegotiationAttachmentResponse' />
  </message>
  <message name='deleteTemplateRequestMessage'>
    <part name='parameters' element='tns:deleteTemplateParameters' />
  </message>
  <message name='deleteTemplateResponseMessage'>
    <part name='response' element='tns:deleteTemplateResponse' />
  </message>
  <message name='getANegotiaitonSignedPdfRequestMessage'>
    <part name='parameters' element='tns:getANegotiaitonSignedPdfParameters' />
  </message>
  <message name='getANegotiaitonSignedPdfResponseMessage'>
    <part name='response' element='tns:getANegotiaitonSignedPdfResponse' />
  </message>
  <message name='getEnvironmentRequestMessage' />
  <message name='getEnvironmentResponseMessage'>
    <part name='response' element='tns:getEnvironmentResponse' />
  </message>
  <message name='getNegotiationRequestMessage'>
    <part name='parameters' element='tns:getNegotiationParameters' />
  </message>
  <message name='getNegotiationResponseMessage'>
    <part name='response' element='tns:getNegotiationResponse' />
  </message>
  <message name='getNegotiationActivitiesRequestMessage'>
    <part name='parameters' element='tns:getNegotiationActivitiesParameters' />
  </message>
  <message name='getNegotiationActivitiesResponseMessage'>
    <part name='response' element='tns:getNegotiationActivitiesResponse' />
  </message>
  <message name='getNegotiationAttachmentRequestMessage'>
    <part name='parameters' element='tns:getNegotiationAttachmentParameters' />
  </message>
  <message name='getNegotiationAttachmentResponseMessage'>
    <part name='response' element='tns:getNegotiationAttachmentResponse' />
  </message>
  <message name='getNegotiationAttachmentContentRequestMessage'>
    <part name='parameters' element='tns:getNegotiationAttachmentContentParameters' />
  </message>
  <message name='getNegotiationAttachmentContentResponseMessage'>
    <part name='response' element='tns:getNegotiationAttachmentContentResponse' />
  </message>
  <message name='getNegotiationContentRequestMessage'>
    <part name='parameters' element='tns:getNegotiationContentParameters' />
  </message>
  <message name='getNegotiationContentResponseMessage'>
    <part name='response' element='tns:getNegotiationContentResponse' />
  </message>
  <message name='getTemplateRequestMessage'>
    <part name='parameters' element='tns:getTemplateParameters' />
  </message>
  <message name='getTemplateResponseMessage'>
    <part name='response' element='tns:getTemplateResponse' />
  </message>
  <message name='getTemplateContentRequestMessage'>
    <part name='parameters' element='tns:getTemplateContentParameters' />
  </message>
  <message name='getTemplateContentResponseMessage'>
    <part name='response' element='tns:getTemplateContentResponse' />
  </message>
  <message name='listNegotiationAttachmentsRequestMessage'>
    <part name='parameters' element='tns:listNegotiationAttachmentsParameters' />
  </message>
  <message name='listNegotiationAttachmentsResponseMessage'>
    <part name='response' element='tns:listNegotiationAttachmentsResponse' />
  </message>
  <message name='updateNegotiationRequestMessage'>
    <part name='parameters' element='tns:updateNegotiationParameters' />
  </message>
  <message name='updateNegotiationResponseMessage'>
    <part name='response' element='tns:updateNegotiationResponse' />
  </message>
  <message name='updateNegotiationAttachmentRequestMessage'>
    <part name='parameters' element='tns:updateNegotiationAttachmentParameters' />
  </message>
  <message name='updateNegotiationAttachmentResponseMessage'>
    <part name='response' element='tns:updateNegotiationAttachmentResponse' />
  </message>
  <message name='updateTemplateRequestMessage'>
    <part name='parameters' element='tns:updateTemplateParameters' />
  </message>
  <message name='updateTemplateResponseMessage'>
    <part name='response' element='tns:updateTemplateResponse' />
  </message>
  <message name='useTemplateRequestMessage'>
    <part name='parameters' element='tns:useTemplateParameters' />
  </message>
  <message name='useTemplateResponseMessage'>
    <part name='response' element='tns:useTemplateResponse' />
  </message>
  <portType name='contractLivePortType'>
    <operation name='createNegotiation'>
      <documentation>create a new negotiation See Readme for more details about negotiations</documentation>
      <input message='tns:createNegotiationRequestMessage' name='createNegotiationInput' />
      <output message='tns:createNegotiationResponseMessage' name='createNegotiationOutput' />
    </operation>
    <operation name='createNegotiationActivity'>
      <documentation></documentation>
      <input message='tns:createNegotiationActivityRequestMessage' name='createNegotiationActivityInput' />
      <output message='tns:createNegotiationActivityResponseMessage' name='createNegotiationActivityOutput' />
    </operation>
    <operation name='createNegotiationAttachment'>
      <documentation>create an attachment file linked to a negotiation</documentation>
      <input message='tns:createNegotiationAttachmentRequestMessage' name='createNegotiationAttachmentInput' />
      <output message='tns:createNegotiationAttachmentResponseMessage' name='createNegotiationAttachmentOutput' />
    </operation>
    <operation name='createTemplate'>
      <documentation>create a new template See Readme for more details about templates</documentation>
      <input message='tns:createTemplateRequestMessage' name='createTemplateInput' />
      <output message='tns:createTemplateResponseMessage' name='createTemplateOutput' />
    </operation>
    <operation name='deleteNegotiation'>
      <documentation>break a negotiation and delete it</documentation>
      <input message='tns:deleteNegotiationRequestMessage' name='deleteNegotiationInput' />
      <output message='tns:deleteNegotiationResponseMessage' name='deleteNegotiationOutput' />
    </operation>
    <operation name='deleteNegotiationAttachment'>
      <documentation>delete an attachment file linked to a negotiation</documentation>
      <input message='tns:deleteNegotiationAttachmentRequestMessage' name='deleteNegotiationAttachmentInput' />
      <output message='tns:deleteNegotiationAttachmentResponseMessage' name='deleteNegotiationAttachmentOutput' />
    </operation>
    <operation name='deleteTemplate'>
      <documentation>delete a template</documentation>
      <input message='tns:deleteTemplateRequestMessage' name='deleteTemplateInput' />
      <output message='tns:deleteTemplateResponseMessage' name='deleteTemplateOutput' />
    </operation>
    <operation name='getANegotiaitonSignedPdf'>
      <documentation>when a negotiation is signed the result is a signed PDF</documentation>
      <input message='tns:getANegotiaitonSignedPdfRequestMessage' name='getANegotiaitonSignedPdfInput' />
      <output message='tns:getANegotiaitonSignedPdfResponseMessage' name='getANegotiaitonSignedPdfOutput' />
    </operation>
    <operation name='getEnvironment'>
      <documentation>retrieve current Environment data See Readme for more details about environment</documentation>
      <input message='tns:getEnvironmentRequestMessage' name='getEnvironmentInput' />
      <output message='tns:getEnvironmentResponseMessage' name='getEnvironmentOutput' />
    </operation>
    <operation name='getNegotiation'>
      <documentation>retrieve negotiation information without the content</documentation>
      <input message='tns:getNegotiationRequestMessage' name='getNegotiationInput' />
      <output message='tns:getNegotiationResponseMessage' name='getNegotiationOutput' />
    </operation>
    <operation name='getNegotiationActivities'>
      <documentation>return all activities of a negotiation</documentation>
      <input message='tns:getNegotiationActivitiesRequestMessage' name='getNegotiationActivitiesInput' />
      <output message='tns:getNegotiationActivitiesResponseMessage' name='getNegotiationActivitiesOutput' />
    </operation>
    <operation name='getNegotiationAttachment'>
      <documentation>get information about a negotiation attachment except the file itself</documentation>
      <input message='tns:getNegotiationAttachmentRequestMessage' name='getNegotiationAttachmentInput' />
      <output message='tns:getNegotiationAttachmentResponseMessage' name='getNegotiationAttachmentOutput' />
    </operation>
    <operation name='getNegotiationAttachmentContent'>
      <documentation>return the file contained in a negotiation attachment</documentation>
      <input message='tns:getNegotiationAttachmentContentRequestMessage' name='getNegotiationAttachmentContentInput' />
      <output message='tns:getNegotiationAttachmentContentResponseMessage' name='getNegotiationAttachmentContentOutput' />
    </operation>
    <operation name='getNegotiationContent'>
      <documentation>retrieve negotiation content last version in HTML or PDF format</documentation>
      <input message='tns:getNegotiationContentRequestMessage' name='getNegotiationContentInput' />
      <output message='tns:getNegotiationContentResponseMessage' name='getNegotiationContentOutput' />
    </operation>
    <operation name='getTemplate'>
      <documentation>retrieve template information without content</documentation>
      <input message='tns:getTemplateRequestMessage' name='getTemplateInput' />
      <output message='tns:getTemplateResponseMessage' name='getTemplateOutput' />
    </operation>
    <operation name='getTemplateContent'>
      <documentation>retrieve the content of a template</documentation>
      <input message='tns:getTemplateContentRequestMessage' name='getTemplateContentInput' />
      <output message='tns:getTemplateContentResponseMessage' name='getTemplateContentOutput' />
    </operation>
    <operation name='listNegotiationAttachments'>
      <documentation>list all attachments for a given negotiation</documentation>
      <input message='tns:listNegotiationAttachmentsRequestMessage' name='listNegotiationAttachmentsInput' />
      <output message='tns:listNegotiationAttachmentsResponseMessage' name='listNegotiationAttachmentsOutput' />
    </operation>
    <operation name='updateNegotiation'>
      <documentation>update a negotiation If an optional parameter is not set the current value doesn t change except for tags</documentation>
      <input message='tns:updateNegotiationRequestMessage' name='updateNegotiationInput' />
      <output message='tns:updateNegotiationResponseMessage' name='updateNegotiationOutput' />
    </operation>
    <operation name='updateNegotiationAttachment'>
      <documentation>update an attachment file linked to a negotiation</documentation>
      <input message='tns:updateNegotiationAttachmentRequestMessage' name='updateNegotiationAttachmentInput' />
      <output message='tns:updateNegotiationAttachmentResponseMessage' name='updateNegotiationAttachmentOutput' />
    </operation>
    <operation name='updateTemplate'>
      <documentation>update a template If an optional parameter is not set the current value doesn t change except for tags</documentation>
      <input message='tns:updateTemplateRequestMessage' name='updateTemplateInput' />
      <output message='tns:updateTemplateResponseMessage' name='updateTemplateOutput' />
    </operation>
    <operation name='useTemplate'>
      <documentation>use a template to create a new negotiation</documentation>
      <input message='tns:useTemplateRequestMessage' name='useTemplateInput' />
      <output message='tns:useTemplateResponseMessage' name='useTemplateOutput' />
    </operation>
  </portType>
  <binding name='contractLiveBinding' type='tns:contractLivePortType'>
    <operation name='createNegotiation'>
      <soap12:operation soapAction='http://createNegotiation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createNegotiationActivity'>
      <soap12:operation soapAction='http://createNegotiationActivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createNegotiationAttachment'>
      <soap12:operation soapAction='http://createNegotiationAttachment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createTemplate'>
      <soap12:operation soapAction='http://createTemplate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteNegotiation'>
      <soap12:operation soapAction='http://deleteNegotiation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteNegotiationAttachment'>
      <soap12:operation soapAction='http://deleteNegotiationAttachment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteTemplate'>
      <soap12:operation soapAction='http://deleteTemplate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getANegotiaitonSignedPdf'>
      <soap12:operation soapAction='http://getANegotiaitonSignedPdf' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getEnvironment'>
      <soap12:operation soapAction='http://getEnvironment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getNegotiation'>
      <soap12:operation soapAction='http://getNegotiation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getNegotiationActivities'>
      <soap12:operation soapAction='http://getNegotiationActivities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getNegotiationAttachment'>
      <soap12:operation soapAction='http://getNegotiationAttachment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getNegotiationAttachmentContent'>
      <soap12:operation soapAction='http://getNegotiationAttachmentContent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getNegotiationContent'>
      <soap12:operation soapAction='http://getNegotiationContent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTemplate'>
      <soap12:operation soapAction='http://getTemplate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTemplateContent'>
      <soap12:operation soapAction='http://getTemplateContent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listNegotiationAttachments'>
      <soap12:operation soapAction='http://listNegotiationAttachments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateNegotiation'>
      <soap12:operation soapAction='http://updateNegotiation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateNegotiationAttachment'>
      <soap12:operation soapAction='http://updateNegotiationAttachment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateTemplate'>
      <soap12:operation soapAction='http://updateTemplate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='useTemplate'>
      <soap12:operation soapAction='http://useTemplate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='contractLive'>
    <documentation>creating signing and managing a contract becomes as simple as sending an email</documentation>
    <port name='contractLivePort' binding='tns:contractLiveBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://contractLive' />
    </port>
  </service>
</definitions>