workspace/datasets/mashape_dataset/contactinforemoval.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/contactInfoRemoval/' name='contactInfoRemoval' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/contactInfoRemoval/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/contactInfoRemoval/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/contactInfoRemoval/'>
      <xsd:element name='removeAddressesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='greedy' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='message' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='replacementtext' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeAddressesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeAllParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='greedy' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='message' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='replacementtext' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeAllResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeAllMultipleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='greedy' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='messages' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='replacementtext' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeAllMultipleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeEmailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='greedy' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='message' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='replacementtext' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeEmailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removePhoneNumbersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='greedy' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='message' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='replacementtext' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removePhoneNumbersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='removeAddressesRequestMessage'>
    <part name='parameters' element='tns:removeAddressesParameters' />
  </message>
  <message name='removeAddressesResponseMessage'>
    <part name='response' element='tns:removeAddressesResponse' />
  </message>
  <message name='removeAllRequestMessage'>
    <part name='parameters' element='tns:removeAllParameters' />
  </message>
  <message name='removeAllResponseMessage'>
    <part name='response' element='tns:removeAllResponse' />
  </message>
  <message name='removeAllMultipleRequestMessage'>
    <part name='parameters' element='tns:removeAllMultipleParameters' />
  </message>
  <message name='removeAllMultipleResponseMessage'>
    <part name='response' element='tns:removeAllMultipleResponse' />
  </message>
  <message name='removeEmailsRequestMessage'>
    <part name='parameters' element='tns:removeEmailsParameters' />
  </message>
  <message name='removeEmailsResponseMessage'>
    <part name='response' element='tns:removeEmailsResponse' />
  </message>
  <message name='removePhoneNumbersRequestMessage'>
    <part name='parameters' element='tns:removePhoneNumbersParameters' />
  </message>
  <message name='removePhoneNumbersResponseMessage'>
    <part name='response' element='tns:removePhoneNumbersResponse' />
  </message>
  <portType name='contactInfoRemovalPortType'>
    <operation name='removeAddresses'>
      <documentation>remove all addresses from a given string of text This will match short and longhand address such as Main St or Main Street San Francisco CA</documentation>
      <input message='tns:removeAddressesRequestMessage' name='removeAddressesInput' />
      <output message='tns:removeAddressesResponseMessage' name='removeAddressesOutput' />
    </operation>
    <operation name='removeAll'>
      <documentation>remove all phone numbers addresses and emails from a given string of text</documentation>
      <input message='tns:removeAllRequestMessage' name='removeAllInput' />
      <output message='tns:removeAllResponseMessage' name='removeAllOutput' />
    </operation>
    <operation name='removeAllMultiple'>
      <documentation>remove all contact information from multiple messages This endpoint lets you batch conversions and is faster than multiple individual requests</documentation>
      <input message='tns:removeAllMultipleRequestMessage' name='removeAllMultipleInput' />
      <output message='tns:removeAllMultipleResponseMessage' name='removeAllMultipleOutput' />
    </operation>
    <operation name='removeEmails'>
      <documentation>remove all emails from a given string of text This will match things such as name domain com name at domain dot com name domain dot com</documentation>
      <input message='tns:removeEmailsRequestMessage' name='removeEmailsInput' />
      <output message='tns:removeEmailsResponseMessage' name='removeEmailsOutput' />
    </operation>
    <operation name='removePhoneNumbers'>
      <documentation>remove all phone numbers from a given string of text Matches formats such as</documentation>
      <input message='tns:removePhoneNumbersRequestMessage' name='removePhoneNumbersInput' />
      <output message='tns:removePhoneNumbersResponseMessage' name='removePhoneNumbersOutput' />
    </operation>
  </portType>
  <binding name='contactInfoRemovalBinding' type='tns:contactInfoRemovalPortType'>
    <operation name='removeAddresses'>
      <soap12:operation soapAction='http://removeAddresses' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeAll'>
      <soap12:operation soapAction='http://removeAll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeAllMultiple'>
      <soap12:operation soapAction='http://removeAllMultiple' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeEmails'>
      <soap12:operation soapAction='http://removeEmails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removePhoneNumbers'>
      <soap12:operation soapAction='http://removePhoneNumbers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='contactInfoRemoval'>
    <documentation>a collection of functions that will remove contact information phone numbers email and or addresses from a string</documentation>
    <port name='contactInfoRemovalPort' binding='tns:contactInfoRemovalBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://contactInfoRemoval' />
    </port>
  </service>
</definitions>