workspace/datasets/mashape_dataset/coolrom.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/coolrom/' name='coolrom' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/coolrom/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/coolrom/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/coolrom/'>
      <xsd:element name='vRomLinkIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vRomLinkIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vRomIdPlatformParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='platform' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vRomIdPlatformResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vRomsPlatformFilterParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='platform' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vRomsPlatformFilterResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vSearchQueryPlatformParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='platform' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vSearchQueryPlatformResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFiltersByPlatformParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='platform' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFiltersByPlatformResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPlatformsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByQueryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByQueryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='vRomLinkIdRequestMessage'>
    <part name='parameters' element='tns:vRomLinkIdParameters' />
  </message>
  <message name='vRomLinkIdResponseMessage'>
    <part name='response' element='tns:vRomLinkIdResponse' />
  </message>
  <message name='vRomIdPlatformRequestMessage'>
    <part name='parameters' element='tns:vRomIdPlatformParameters' />
  </message>
  <message name='vRomIdPlatformResponseMessage'>
    <part name='response' element='tns:vRomIdPlatformResponse' />
  </message>
  <message name='vRomsPlatformFilterRequestMessage'>
    <part name='parameters' element='tns:vRomsPlatformFilterParameters' />
  </message>
  <message name='vRomsPlatformFilterResponseMessage'>
    <part name='response' element='tns:vRomsPlatformFilterResponse' />
  </message>
  <message name='vSearchQueryPlatformRequestMessage'>
    <part name='parameters' element='tns:vSearchQueryPlatformParameters' />
  </message>
  <message name='vSearchQueryPlatformResponseMessage'>
    <part name='response' element='tns:vSearchQueryPlatformResponse' />
  </message>
  <message name='getFiltersByPlatformRequestMessage'>
    <part name='parameters' element='tns:getFiltersByPlatformParameters' />
  </message>
  <message name='getFiltersByPlatformResponseMessage'>
    <part name='response' element='tns:getFiltersByPlatformResponse' />
  </message>
  <message name='getPlatformsRequestMessage' />
  <message name='getPlatformsResponseMessage'>
    <part name='response' element='tns:getPlatformsResponse' />
  </message>
  <message name='searchByQueryRequestMessage'>
    <part name='parameters' element='tns:searchByQueryParameters' />
  </message>
  <message name='searchByQueryResponseMessage'>
    <part name='response' element='tns:searchByQueryResponse' />
  </message>
  <portType name='coolromPortType'>
    <operation name='vRomLinkId'>
      <input message='tns:vRomLinkIdRequestMessage' name='vRomLinkIdInput' />
      <output message='tns:vRomLinkIdResponseMessage' name='vRomLinkIdOutput' />
    </operation>
    <operation name='vRomIdPlatform'>
      <input message='tns:vRomIdPlatformRequestMessage' name='vRomIdPlatformInput' />
      <output message='tns:vRomIdPlatformResponseMessage' name='vRomIdPlatformOutput' />
    </operation>
    <operation name='vRomsPlatformFilter'>
      <input message='tns:vRomsPlatformFilterRequestMessage' name='vRomsPlatformFilterInput' />
      <output message='tns:vRomsPlatformFilterResponseMessage' name='vRomsPlatformFilterOutput' />
    </operation>
    <operation name='vSearchQueryPlatform'>
      <input message='tns:vSearchQueryPlatformRequestMessage' name='vSearchQueryPlatformInput' />
      <output message='tns:vSearchQueryPlatformResponseMessage' name='vSearchQueryPlatformOutput' />
    </operation>
    <operation name='getFiltersByPlatform'>
      <input message='tns:getFiltersByPlatformRequestMessage' name='getFiltersByPlatformInput' />
      <output message='tns:getFiltersByPlatformResponseMessage' name='getFiltersByPlatformOutput' />
    </operation>
    <operation name='getPlatforms'>
      <documentation>get platforms</documentation>
      <input message='tns:getPlatformsRequestMessage' name='getPlatformsInput' />
      <output message='tns:getPlatformsResponseMessage' name='getPlatformsOutput' />
    </operation>
    <operation name='searchByQuery'>
      <documentation>spaced by</documentation>
      <input message='tns:searchByQueryRequestMessage' name='searchByQueryInput' />
      <output message='tns:searchByQueryResponseMessage' name='searchByQueryOutput' />
    </operation>
  </portType>
  <binding name='coolromBinding' type='tns:coolromPortType'>
    <operation name='vRomLinkId'>
      <soap12:operation soapAction='http://vRomLinkId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='vRomIdPlatform'>
      <soap12:operation soapAction='http://vRomIdPlatform' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='vRomsPlatformFilter'>
      <soap12:operation soapAction='http://vRomsPlatformFilter' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='vSearchQueryPlatform'>
      <soap12:operation soapAction='http://vSearchQueryPlatform' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getFiltersByPlatform'>
      <soap12:operation soapAction='http://getFiltersByPlatform' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPlatforms'>
      <soap12:operation soapAction='http://getPlatforms' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchByQuery'>
      <soap12:operation soapAction='http://searchByQuery' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='coolrom'>
    <documentation>coolrom REST API using coolrom webscrapper</documentation>
    <port name='coolromPort' binding='tns:coolromBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://coolrom' />
    </port>
  </service>
</definitions>