workspace/datasets/mashape_dataset/coupons11.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/coupons/' name='coupons' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/coupons/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/coupons/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/coupons/'>
      <xsd:element name='getChainStoresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='chainID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='page' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='logoBig' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='logoSmall' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='homepage' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealByDealidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dealid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealByDealidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dealTitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='DealTypeID' type='xsd:int' minOccurs='0' />
            <xsd:element name='postDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='showImage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='up' type='xsd:int' minOccurs='0' />
            <xsd:element name='down' type='xsd:int' minOccurs='0' />
            <xsd:element name='disclaimer' type='xsd:string' minOccurs='0' />
            <xsd:element name='URL' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='expirationDate' type='xsd:date' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealByStoreidOrChainidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='chainid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealByStoreidOrChainidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='comments' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='dealTitle' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DealTypeID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='showImage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='down' type='xsd:int' minOccurs='0' />
                  <xsd:element name='URL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='storeURL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='postDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='up' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='disclaimer' type='xsd:string' minOccurs='0' />
                  <xsd:element name='categoryID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='expirationDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='dealSource' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealTypeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='TypeName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='dealtypeid' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealsByLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dealtypeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lon' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mileradius' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='optoutuserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='orderby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='search' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subcategoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDealsByLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ZIP' type='xsd:int' minOccurs='0' />
                  <xsd:element name='showLogo' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='distance' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='dealDiscountPercent' type='xsd:int' minOccurs='0' />
                  <xsd:element name='showImage' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='lon' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='dealPrice' type='xsd:int' minOccurs='0' />
                  <xsd:element name='storeID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='userID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='down' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='URL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='chainID' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='storeURL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='up' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='dealOriginalPrice' type='xsd:int' minOccurs='0' />
                  <xsd:element name='disclaimer' type='xsd:string' minOccurs='0' />
                  <xsd:element name='categoryID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='expirationDate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='dealTitle' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DealTypeID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dealinfo' type='xsd:string' minOccurs='0' />
                  <xsd:element name='totalDealsInThisStore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='postDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='subcategoryID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dealSavings' type='xsd:int' minOccurs='0' />
                  <xsd:element name='affiliate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='user' type='xsd:string' minOccurs='0' />
                  <xsd:element name='homepage' type='xsd:string' minOccurs='0' />
                  <xsd:element name='dealSource' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRealtimeChainDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='chainID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='storeURL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='dealTitle' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='postDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='affiliate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='user' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='URL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='dealSource' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='expirationDate' type='xsd:date' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRealtimeLocalDealsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subcategoryid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRealtimeLocalDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ZIP' type='xsd:int' minOccurs='0' />
                  <xsd:element name='showLogo' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='dealDiscountPercent' type='xsd:int' minOccurs='0' />
                  <xsd:element name='showImage' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='lon' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='dealPrice' type='xsd:int' minOccurs='0' />
                  <xsd:element name='storeID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='userID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='down' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='URL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='chainID' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='storeURL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='up' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='dealOriginalPrice' type='xsd:int' minOccurs='0' />
                  <xsd:element name='disclaimer' type='xsd:string' minOccurs='0' />
                  <xsd:element name='categoryID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='expirationDate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='dealTitle' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DealTypeID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dealinfo' type='xsd:string' minOccurs='0' />
                  <xsd:element name='totalDealsInThisStore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='postDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='subcategoryID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dealSavings' type='xsd:int' minOccurs='0' />
                  <xsd:element name='affiliate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='user' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='homepage' type='xsd:string' minOccurs='0' />
                  <xsd:element name='dealSource' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRealtimeProductDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='dealTitle' type='xsd:string' minOccurs='0' />
                  <xsd:element name='postDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='showImage' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user' type='xsd:string' minOccurs='0' />
                  <xsd:element name='userID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='URL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='dealSource' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='expirationDate' type='xsd:date' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getStoreCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='categoryID' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getStoreInfoByStoreidStorenameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getStoreInfoByStoreidStorenameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ZIP' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lon' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='storeHomepage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='storeID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='chainID' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='storeURL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='logo' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getStoreSubcategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='subcategoryID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subcategory' type='xsd:string' minOccurs='0' />
                  <xsd:element name='categoryID' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getChainStoresRequestMessage' />
  <message name='getChainStoresResponseMessage'>
    <part name='response' element='tns:getChainStoresResponse' />
  </message>
  <message name='getDealByDealidRequestMessage'>
    <part name='parameters' element='tns:getDealByDealidParameters' />
  </message>
  <message name='getDealByDealidResponseMessage'>
    <part name='response' element='tns:getDealByDealidResponse' />
  </message>
  <message name='getDealByStoreidOrChainidRequestMessage'>
    <part name='parameters' element='tns:getDealByStoreidOrChainidParameters' />
  </message>
  <message name='getDealByStoreidOrChainidResponseMessage'>
    <part name='response' element='tns:getDealByStoreidOrChainidResponse' />
  </message>
  <message name='getDealTypeRequestMessage' />
  <message name='getDealTypeResponseMessage'>
    <part name='response' element='tns:getDealTypeResponse' />
  </message>
  <message name='getDealsByLocationRequestMessage'>
    <part name='parameters' element='tns:getDealsByLocationParameters' />
  </message>
  <message name='getDealsByLocationResponseMessage'>
    <part name='response' element='tns:getDealsByLocationResponse' />
  </message>
  <message name='getRealtimeChainDealsRequestMessage' />
  <message name='getRealtimeChainDealsResponseMessage'>
    <part name='response' element='tns:getRealtimeChainDealsResponse' />
  </message>
  <message name='getRealtimeLocalDealsRequestMessage'>
    <part name='parameters' element='tns:getRealtimeLocalDealsParameters' />
  </message>
  <message name='getRealtimeLocalDealsResponseMessage'>
    <part name='response' element='tns:getRealtimeLocalDealsResponse' />
  </message>
  <message name='getRealtimeProductDealsRequestMessage' />
  <message name='getRealtimeProductDealsResponseMessage'>
    <part name='response' element='tns:getRealtimeProductDealsResponse' />
  </message>
  <message name='getStoreCategoriesRequestMessage' />
  <message name='getStoreCategoriesResponseMessage'>
    <part name='response' element='tns:getStoreCategoriesResponse' />
  </message>
  <message name='getStoreInfoByStoreidStorenameRequestMessage'>
    <part name='parameters' element='tns:getStoreInfoByStoreidStorenameParameters' />
  </message>
  <message name='getStoreInfoByStoreidStorenameResponseMessage'>
    <part name='response' element='tns:getStoreInfoByStoreidStorenameResponse' />
  </message>
  <message name='getStoreSubcategoriesRequestMessage' />
  <message name='getStoreSubcategoriesResponseMessage'>
    <part name='response' element='tns:getStoreSubcategoriesResponse' />
  </message>
  <portType name='couponsPortType'>
    <operation name='getChainStores'>
      <documentation></documentation>
      <input message='tns:getChainStoresRequestMessage' name='getChainStoresInput' />
      <output message='tns:getChainStoresResponseMessage' name='getChainStoresOutput' />
    </operation>
    <operation name='getDealByDealid'>
      <documentation></documentation>
      <input message='tns:getDealByDealidRequestMessage' name='getDealByDealidInput' />
      <output message='tns:getDealByDealidResponseMessage' name='getDealByDealidOutput' />
    </operation>
    <operation name='getDealByStoreidOrChainid'>
      <documentation></documentation>
      <input message='tns:getDealByStoreidOrChainidRequestMessage' name='getDealByStoreidOrChainidInput' />
      <output message='tns:getDealByStoreidOrChainidResponseMessage' name='getDealByStoreidOrChainidOutput' />
    </operation>
    <operation name='getDealType'>
      <documentation></documentation>
      <input message='tns:getDealTypeRequestMessage' name='getDealTypeInput' />
      <output message='tns:getDealTypeResponseMessage' name='getDealTypeOutput' />
    </operation>
    <operation name='getDealsByLocation'>
      <documentation></documentation>
      <input message='tns:getDealsByLocationRequestMessage' name='getDealsByLocationInput' />
      <output message='tns:getDealsByLocationResponseMessage' name='getDealsByLocationOutput' />
    </operation>
    <operation name='getRealtimeChainDeals'>
      <documentation></documentation>
      <input message='tns:getRealtimeChainDealsRequestMessage' name='getRealtimeChainDealsInput' />
      <output message='tns:getRealtimeChainDealsResponseMessage' name='getRealtimeChainDealsOutput' />
    </operation>
    <operation name='getRealtimeLocalDeals'>
      <documentation></documentation>
      <input message='tns:getRealtimeLocalDealsRequestMessage' name='getRealtimeLocalDealsInput' />
      <output message='tns:getRealtimeLocalDealsResponseMessage' name='getRealtimeLocalDealsOutput' />
    </operation>
    <operation name='getRealtimeProductDeals'>
      <documentation></documentation>
      <input message='tns:getRealtimeProductDealsRequestMessage' name='getRealtimeProductDealsInput' />
      <output message='tns:getRealtimeProductDealsResponseMessage' name='getRealtimeProductDealsOutput' />
    </operation>
    <operation name='getStoreCategories'>
      <documentation></documentation>
      <input message='tns:getStoreCategoriesRequestMessage' name='getStoreCategoriesInput' />
      <output message='tns:getStoreCategoriesResponseMessage' name='getStoreCategoriesOutput' />
    </operation>
    <operation name='getStoreInfoByStoreidStorename'>
      <documentation></documentation>
      <input message='tns:getStoreInfoByStoreidStorenameRequestMessage' name='getStoreInfoByStoreidStorenameInput' />
      <output message='tns:getStoreInfoByStoreidStorenameResponseMessage' name='getStoreInfoByStoreidStorenameOutput' />
    </operation>
    <operation name='getStoreSubcategories'>
      <documentation></documentation>
      <input message='tns:getStoreSubcategoriesRequestMessage' name='getStoreSubcategoriesInput' />
      <output message='tns:getStoreSubcategoriesResponseMessage' name='getStoreSubcategoriesOutput' />
    </operation>
  </portType>
  <binding name='couponsBinding' type='tns:couponsPortType'>
    <operation name='getChainStores'>
      <soap12:operation soapAction='http://getChainStores' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDealByDealid'>
      <soap12:operation soapAction='http://getDealByDealid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDealByStoreidOrChainid'>
      <soap12:operation soapAction='http://getDealByStoreidOrChainid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDealType'>
      <soap12:operation soapAction='http://getDealType' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDealsByLocation'>
      <soap12:operation soapAction='http://getDealsByLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRealtimeChainDeals'>
      <soap12:operation soapAction='http://getRealtimeChainDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRealtimeLocalDeals'>
      <soap12:operation soapAction='http://getRealtimeLocalDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRealtimeProductDeals'>
      <soap12:operation soapAction='http://getRealtimeProductDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getStoreCategories'>
      <soap12:operation soapAction='http://getStoreCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getStoreInfoByStoreidStorename'>
      <soap12:operation soapAction='http://getStoreInfoByStoreidStorename' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getStoreSubcategories'>
      <soap12:operation soapAction='http://getStoreSubcategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='coupons'>
    <documentation>local Deals from all the deal daily deal sites except LivingSocial Groupon Local Deals Galore What we do coupons collects deals from over sources to bring you only the stuff you care about from your neighborhood restaurants bars salons and stores Our Mission To surprise you each day with the best deals around your neighborhood Our Hope That you discover a cool new place each day though coupons while helping local businesses get discovered in the process</documentation>
    <port name='couponsPort' binding='tns:couponsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://coupons' />
    </port>
  </service>
</definitions>