workspace/datasets/mashape_dataset/coupons.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/coupons/' name='coupons' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/coupons/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/coupons/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/coupons/'>
      <xsd:element name='latestCouponsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='data' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='store_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='coupon_code' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='expiry_date' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='bank_coupon' type='xsd:int' minOccurs='0' />
                        <xsd:element name='category_id' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='store_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='expiry_ts' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='store_img' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='popular' type='xsd:int' minOccurs='0' />
                        <xsd:element name='coupon_type' type='xsd:int' minOccurs='0' />
                        <xsd:element name='redemption_url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='popularCouponsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='data' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='store_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='coupon_code' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='expiry_date' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='bank_coupon' type='xsd:int' minOccurs='0' />
                        <xsd:element name='category_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='store_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='expiry_ts' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='store_img' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='popular' type='xsd:int' minOccurs='0' />
                        <xsd:element name='coupon_type' type='xsd:int' minOccurs='0' />
                        <xsd:element name='redemption_url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trendingCouponsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='data' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='store_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='coupon_code' type='xsd:string' minOccurs='0' />
                        <xsd:element name='expiry_date' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='bank_coupon' type='xsd:int' minOccurs='0' />
                        <xsd:element name='category_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='store_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='expiry_ts' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='store_img' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='popular' type='xsd:int' minOccurs='0' />
                        <xsd:element name='coupon_type' type='xsd:int' minOccurs='0' />
                        <xsd:element name='redemption_url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='latestCouponsRequestMessage' />
  <message name='latestCouponsResponseMessage'>
    <part name='response' element='tns:latestCouponsResponse' />
  </message>
  <message name='popularCouponsRequestMessage' />
  <message name='popularCouponsResponseMessage'>
    <part name='response' element='tns:popularCouponsResponse' />
  </message>
  <message name='trendingCouponsRequestMessage' />
  <message name='trendingCouponsResponseMessage'>
    <part name='response' element='tns:trendingCouponsResponse' />
  </message>
  <portType name='couponsPortType'>
    <operation name='latestCoupons'>
      <documentation></documentation>
      <input message='tns:latestCouponsRequestMessage' name='latestCouponsInput' />
      <output message='tns:latestCouponsResponseMessage' name='latestCouponsOutput' />
    </operation>
    <operation name='popularCoupons'>
      <documentation></documentation>
      <input message='tns:popularCouponsRequestMessage' name='popularCouponsInput' />
      <output message='tns:popularCouponsResponseMessage' name='popularCouponsOutput' />
    </operation>
    <operation name='trendingCoupons'>
      <documentation></documentation>
      <input message='tns:trendingCouponsRequestMessage' name='trendingCouponsInput' />
      <output message='tns:trendingCouponsResponseMessage' name='trendingCouponsOutput' />
    </operation>
  </portType>
  <binding name='couponsBinding' type='tns:couponsPortType'>
    <operation name='latestCoupons'>
      <soap12:operation soapAction='http://latestCoupons' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='popularCoupons'>
      <soap12:operation soapAction='http://popularCoupons' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trendingCoupons'>
      <soap12:operation soapAction='http://trendingCoupons' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='coupons'>
    <documentation>coupons is one of the largest aggregators of coupons and deals data of India We have been successfully running our website www coupons com since July Our API framework offers access to data allowing developers to build upon and extend their applications in new and creative ways Our APIs are constantly evolving and developing as per the industry standards Our API framework is built upon REST architecture drawing inspiration from API frameworks of leading websites such as Twitter Facebook and Salesforce We support GET and POST methods of http for making API calls to our server Some methods require you to use POST methods only We are coming up with new version of API in May</documentation>
    <port name='couponsPort' binding='tns:couponsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://coupons' />
    </port>
  </service>
</definitions>