workspace/datasets/mashape_dataset/coursmoscomv.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/coursmosComV/' name='coursmosComV' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/coursmosComV/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/coursmosComV/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/coursmosComV/'>
      <xsd:element name='addLikeToRequestWithCurrentUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='requestid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addLikeToRequestWithCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addCourseToWatchlistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addCourseToWatchlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bindCourseToRequestParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='requestid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bindCourseToRequestResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='changePasswordByTokenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createCommentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createLessonForCourseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='order' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='uploadtoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createLessonForCourseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createNewCourseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createRequestResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteCommentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='commentid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteCommentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteCourseFromWatchlistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteCourseFromWatchlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTheCourseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTheCourseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exportCourseToScormPackageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exportCourseToScormPackageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllAvailableVideoUrlSForLessonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lessonid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllAvailableVideoUrlSForLessonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCategoriesListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCategoriesListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCategoryByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCategoryByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCitiesListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCitiesListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCommentByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='commentid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCommentByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCommentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCommentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCommentsByCourseIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCommentsByCourseIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCourseByCourseIdFromUserHistoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCourseByCourseIdFromUserHistoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCourseByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCourseByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCoursesFromUserHistoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCoursesFromUserHistoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCoursesListFromUserWatchlistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCoursesListFromUserWatchlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLanguagesListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLessonsByCourseIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLessonsByCourseIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLessonsForCourseFromUserHistoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLessonsForCourseFromUserHistoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLessonsFromUserHistoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lessonid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLessonsFromUserHistoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLessonsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLessonsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecommendedCoursesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hasduration' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='haslessons' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='published' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecommendedCoursesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRequestByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='requestid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRequestByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRequestsListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRequestsListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRssFeedForCoursesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUploadUrlForLessonVideoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUploadUrlForLessonVideoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUsersListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUsersListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfCoursesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hasduration' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='haslessons' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='ownerguid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paid' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='published' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='schoolid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfCoursesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nextToWatchCoursesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hasduration' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='haslessons' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='paid' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='published' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='schoolid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nextToWatchCoursesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishTheCourseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishTheCourseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registerNewUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeLikeFromRequestWithCurrentUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='requestid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeLikeFromRequestWithCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendPasswordRestoreTokenToEmailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unpublishTheCourseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unpublishTheCourseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCourseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='cost' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='courseid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='currency' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='published' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCourseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateUserProfileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateUserProfileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadNewUserAvatarParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadNewUserAvatarResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addLikeToRequestWithCurrentUserRequestMessage'>
    <part name='parameters' element='tns:addLikeToRequestWithCurrentUserParameters' />
  </message>
  <message name='addLikeToRequestWithCurrentUserResponseMessage'>
    <part name='response' element='tns:addLikeToRequestWithCurrentUserResponse' />
  </message>
  <message name='addCourseToWatchlistRequestMessage'>
    <part name='parameters' element='tns:addCourseToWatchlistParameters' />
  </message>
  <message name='addCourseToWatchlistResponseMessage'>
    <part name='response' element='tns:addCourseToWatchlistResponse' />
  </message>
  <message name='bindCourseToRequestRequestMessage'>
    <part name='parameters' element='tns:bindCourseToRequestParameters' />
  </message>
  <message name='bindCourseToRequestResponseMessage'>
    <part name='response' element='tns:bindCourseToRequestResponse' />
  </message>
  <message name='changePasswordByTokenRequestMessage' />
  <message name='changePasswordByTokenResponseMessage'>
    <part name='response' element='tns:changePasswordByTokenResponse' />
  </message>
  <message name='createCommentRequestMessage' />
  <message name='createCommentResponseMessage'>
    <part name='response' element='tns:createCommentResponse' />
  </message>
  <message name='createLessonForCourseRequestMessage'>
    <part name='parameters' element='tns:createLessonForCourseParameters' />
  </message>
  <message name='createLessonForCourseResponseMessage'>
    <part name='response' element='tns:createLessonForCourseResponse' />
  </message>
  <message name='createNewCourseRequestMessage' />
  <message name='createNewCourseResponseMessage'>
    <part name='response' element='tns:createNewCourseResponse' />
  </message>
  <message name='createRequestRequestMessage' />
  <message name='createRequestResponseMessage'>
    <part name='response' element='tns:createRequestResponse' />
  </message>
  <message name='deleteCommentRequestMessage'>
    <part name='parameters' element='tns:deleteCommentParameters' />
  </message>
  <message name='deleteCommentResponseMessage'>
    <part name='response' element='tns:deleteCommentResponse' />
  </message>
  <message name='deleteCourseFromWatchlistRequestMessage'>
    <part name='parameters' element='tns:deleteCourseFromWatchlistParameters' />
  </message>
  <message name='deleteCourseFromWatchlistResponseMessage'>
    <part name='response' element='tns:deleteCourseFromWatchlistResponse' />
  </message>
  <message name='deleteTheCourseRequestMessage'>
    <part name='parameters' element='tns:deleteTheCourseParameters' />
  </message>
  <message name='deleteTheCourseResponseMessage'>
    <part name='response' element='tns:deleteTheCourseResponse' />
  </message>
  <message name='exportCourseToScormPackageRequestMessage'>
    <part name='parameters' element='tns:exportCourseToScormPackageParameters' />
  </message>
  <message name='exportCourseToScormPackageResponseMessage'>
    <part name='response' element='tns:exportCourseToScormPackageResponse' />
  </message>
  <message name='getAllAvailableVideoUrlSForLessonRequestMessage'>
    <part name='parameters' element='tns:getAllAvailableVideoUrlSForLessonParameters' />
  </message>
  <message name='getAllAvailableVideoUrlSForLessonResponseMessage'>
    <part name='response' element='tns:getAllAvailableVideoUrlSForLessonResponse' />
  </message>
  <message name='getCategoriesListRequestMessage'>
    <part name='parameters' element='tns:getCategoriesListParameters' />
  </message>
  <message name='getCategoriesListResponseMessage'>
    <part name='response' element='tns:getCategoriesListResponse' />
  </message>
  <message name='getCategoryByIdRequestMessage'>
    <part name='parameters' element='tns:getCategoryByIdParameters' />
  </message>
  <message name='getCategoryByIdResponseMessage'>
    <part name='response' element='tns:getCategoryByIdResponse' />
  </message>
  <message name='getCitiesListRequestMessage'>
    <part name='parameters' element='tns:getCitiesListParameters' />
  </message>
  <message name='getCitiesListResponseMessage'>
    <part name='response' element='tns:getCitiesListResponse' />
  </message>
  <message name='getCommentByIdRequestMessage'>
    <part name='parameters' element='tns:getCommentByIdParameters' />
  </message>
  <message name='getCommentByIdResponseMessage'>
    <part name='response' element='tns:getCommentByIdResponse' />
  </message>
  <message name='getCommentsRequestMessage'>
    <part name='parameters' element='tns:getCommentsParameters' />
  </message>
  <message name='getCommentsResponseMessage'>
    <part name='response' element='tns:getCommentsResponse' />
  </message>
  <message name='getCommentsByCourseIdRequestMessage'>
    <part name='parameters' element='tns:getCommentsByCourseIdParameters' />
  </message>
  <message name='getCommentsByCourseIdResponseMessage'>
    <part name='response' element='tns:getCommentsByCourseIdResponse' />
  </message>
  <message name='getCourseByCourseIdFromUserHistoryRequestMessage'>
    <part name='parameters' element='tns:getCourseByCourseIdFromUserHistoryParameters' />
  </message>
  <message name='getCourseByCourseIdFromUserHistoryResponseMessage'>
    <part name='response' element='tns:getCourseByCourseIdFromUserHistoryResponse' />
  </message>
  <message name='getCourseByIdRequestMessage'>
    <part name='parameters' element='tns:getCourseByIdParameters' />
  </message>
  <message name='getCourseByIdResponseMessage'>
    <part name='response' element='tns:getCourseByIdResponse' />
  </message>
  <message name='getCoursesFromUserHistoryRequestMessage'>
    <part name='parameters' element='tns:getCoursesFromUserHistoryParameters' />
  </message>
  <message name='getCoursesFromUserHistoryResponseMessage'>
    <part name='response' element='tns:getCoursesFromUserHistoryResponse' />
  </message>
  <message name='getCoursesListFromUserWatchlistRequestMessage'>
    <part name='parameters' element='tns:getCoursesListFromUserWatchlistParameters' />
  </message>
  <message name='getCoursesListFromUserWatchlistResponseMessage'>
    <part name='response' element='tns:getCoursesListFromUserWatchlistResponse' />
  </message>
  <message name='getLanguagesListRequestMessage' />
  <message name='getLanguagesListResponseMessage'>
    <part name='response' element='tns:getLanguagesListResponse' />
  </message>
  <message name='getLessonsByCourseIdRequestMessage'>
    <part name='parameters' element='tns:getLessonsByCourseIdParameters' />
  </message>
  <message name='getLessonsByCourseIdResponseMessage'>
    <part name='response' element='tns:getLessonsByCourseIdResponse' />
  </message>
  <message name='getLessonsForCourseFromUserHistoryRequestMessage'>
    <part name='parameters' element='tns:getLessonsForCourseFromUserHistoryParameters' />
  </message>
  <message name='getLessonsForCourseFromUserHistoryResponseMessage'>
    <part name='response' element='tns:getLessonsForCourseFromUserHistoryResponse' />
  </message>
  <message name='getLessonsFromUserHistoryRequestMessage'>
    <part name='parameters' element='tns:getLessonsFromUserHistoryParameters' />
  </message>
  <message name='getLessonsFromUserHistoryResponseMessage'>
    <part name='response' element='tns:getLessonsFromUserHistoryResponse' />
  </message>
  <message name='getLessonsRequestMessage'>
    <part name='parameters' element='tns:getLessonsParameters' />
  </message>
  <message name='getLessonsResponseMessage'>
    <part name='response' element='tns:getLessonsResponse' />
  </message>
  <message name='getRecommendedCoursesRequestMessage'>
    <part name='parameters' element='tns:getRecommendedCoursesParameters' />
  </message>
  <message name='getRecommendedCoursesResponseMessage'>
    <part name='response' element='tns:getRecommendedCoursesResponse' />
  </message>
  <message name='getRequestByIdRequestMessage'>
    <part name='parameters' element='tns:getRequestByIdParameters' />
  </message>
  <message name='getRequestByIdResponseMessage'>
    <part name='response' element='tns:getRequestByIdResponse' />
  </message>
  <message name='getRequestsListRequestMessage'>
    <part name='parameters' element='tns:getRequestsListParameters' />
  </message>
  <message name='getRequestsListResponseMessage'>
    <part name='response' element='tns:getRequestsListResponse' />
  </message>
  <message name='getRssFeedForCoursesRequestMessage' />
  <message name='getRssFeedForCoursesResponseMessage'>
    <part name='response' element='tns:getRssFeedForCoursesResponse' />
  </message>
  <message name='getUploadUrlForLessonVideoRequestMessage'>
    <part name='parameters' element='tns:getUploadUrlForLessonVideoParameters' />
  </message>
  <message name='getUploadUrlForLessonVideoResponseMessage'>
    <part name='response' element='tns:getUploadUrlForLessonVideoResponse' />
  </message>
  <message name='getUserByIdRequestMessage'>
    <part name='parameters' element='tns:getUserByIdParameters' />
  </message>
  <message name='getUserByIdResponseMessage'>
    <part name='response' element='tns:getUserByIdResponse' />
  </message>
  <message name='getUsersListRequestMessage'>
    <part name='parameters' element='tns:getUsersListParameters' />
  </message>
  <message name='getUsersListResponseMessage'>
    <part name='response' element='tns:getUsersListResponse' />
  </message>
  <message name='listOfCoursesRequestMessage'>
    <part name='parameters' element='tns:listOfCoursesParameters' />
  </message>
  <message name='listOfCoursesResponseMessage'>
    <part name='response' element='tns:listOfCoursesResponse' />
  </message>
  <message name='nextToWatchCoursesRequestMessage'>
    <part name='parameters' element='tns:nextToWatchCoursesParameters' />
  </message>
  <message name='nextToWatchCoursesResponseMessage'>
    <part name='response' element='tns:nextToWatchCoursesResponse' />
  </message>
  <message name='publishTheCourseRequestMessage'>
    <part name='parameters' element='tns:publishTheCourseParameters' />
  </message>
  <message name='publishTheCourseResponseMessage'>
    <part name='response' element='tns:publishTheCourseResponse' />
  </message>
  <message name='registerNewUserRequestMessage' />
  <message name='registerNewUserResponseMessage'>
    <part name='response' element='tns:registerNewUserResponse' />
  </message>
  <message name='removeLikeFromRequestWithCurrentUserRequestMessage'>
    <part name='parameters' element='tns:removeLikeFromRequestWithCurrentUserParameters' />
  </message>
  <message name='removeLikeFromRequestWithCurrentUserResponseMessage'>
    <part name='response' element='tns:removeLikeFromRequestWithCurrentUserResponse' />
  </message>
  <message name='sendPasswordRestoreTokenToEmailRequestMessage' />
  <message name='sendPasswordRestoreTokenToEmailResponseMessage'>
    <part name='response' element='tns:sendPasswordRestoreTokenToEmailResponse' />
  </message>
  <message name='unpublishTheCourseRequestMessage'>
    <part name='parameters' element='tns:unpublishTheCourseParameters' />
  </message>
  <message name='unpublishTheCourseResponseMessage'>
    <part name='response' element='tns:unpublishTheCourseResponse' />
  </message>
  <message name='updateCourseRequestMessage'>
    <part name='parameters' element='tns:updateCourseParameters' />
  </message>
  <message name='updateCourseResponseMessage'>
    <part name='response' element='tns:updateCourseResponse' />
  </message>
  <message name='updateUserProfileRequestMessage'>
    <part name='parameters' element='tns:updateUserProfileParameters' />
  </message>
  <message name='updateUserProfileResponseMessage'>
    <part name='response' element='tns:updateUserProfileResponse' />
  </message>
  <message name='uploadNewUserAvatarRequestMessage'>
    <part name='parameters' element='tns:uploadNewUserAvatarParameters' />
  </message>
  <message name='uploadNewUserAvatarResponseMessage'>
    <part name='response' element='tns:uploadNewUserAvatarResponse' />
  </message>
  <portType name='coursmosComVPortType'>
    <operation name='addLikeToRequestWithCurrentUser'>
      <input message='tns:addLikeToRequestWithCurrentUserRequestMessage' name='addLikeToRequestWithCurrentUserInput' />
      <output message='tns:addLikeToRequestWithCurrentUserResponseMessage' name='addLikeToRequestWithCurrentUserOutput' />
    </operation>
    <operation name='addCourseToWatchlist'>
      <documentation></documentation>
      <input message='tns:addCourseToWatchlistRequestMessage' name='addCourseToWatchlistInput' />
      <output message='tns:addCourseToWatchlistResponseMessage' name='addCourseToWatchlistOutput' />
    </operation>
    <operation name='bindCourseToRequest'>
      <input message='tns:bindCourseToRequestRequestMessage' name='bindCourseToRequestInput' />
      <output message='tns:bindCourseToRequestResponseMessage' name='bindCourseToRequestOutput' />
    </operation>
    <operation name='changePasswordByToken'>
      <documentation></documentation>
      <input message='tns:changePasswordByTokenRequestMessage' name='changePasswordByTokenInput' />
      <output message='tns:changePasswordByTokenResponseMessage' name='changePasswordByTokenOutput' />
    </operation>
    <operation name='createComment'>
      <documentation></documentation>
      <input message='tns:createCommentRequestMessage' name='createCommentInput' />
      <output message='tns:createCommentResponseMessage' name='createCommentOutput' />
    </operation>
    <operation name='createLessonForCourse'>
      <documentation>upload video before</documentation>
      <input message='tns:createLessonForCourseRequestMessage' name='createLessonForCourseInput' />
      <output message='tns:createLessonForCourseResponseMessage' name='createLessonForCourseOutput' />
    </operation>
    <operation name='createNewCourse'>
      <documentation></documentation>
      <input message='tns:createNewCourseRequestMessage' name='createNewCourseInput' />
      <output message='tns:createNewCourseResponseMessage' name='createNewCourseOutput' />
    </operation>
    <operation name='createRequest'>
      <input message='tns:createRequestRequestMessage' name='createRequestInput' />
      <output message='tns:createRequestResponseMessage' name='createRequestOutput' />
    </operation>
    <operation name='deleteComment'>
      <input message='tns:deleteCommentRequestMessage' name='deleteCommentInput' />
      <output message='tns:deleteCommentResponseMessage' name='deleteCommentOutput' />
    </operation>
    <operation name='deleteCourseFromWatchlist'>
      <input message='tns:deleteCourseFromWatchlistRequestMessage' name='deleteCourseFromWatchlistInput' />
      <output message='tns:deleteCourseFromWatchlistResponseMessage' name='deleteCourseFromWatchlistOutput' />
    </operation>
    <operation name='deleteTheCourse'>
      <documentation></documentation>
      <input message='tns:deleteTheCourseRequestMessage' name='deleteTheCourseInput' />
      <output message='tns:deleteTheCourseResponseMessage' name='deleteTheCourseOutput' />
    </operation>
    <operation name='exportCourseToScormPackage'>
      <documentation>this method can response HTTP status See API overview about this status</documentation>
      <input message='tns:exportCourseToScormPackageRequestMessage' name='exportCourseToScormPackageInput' />
      <output message='tns:exportCourseToScormPackageResponseMessage' name='exportCourseToScormPackageOutput' />
    </operation>
    <operation name='getAllAvailableVideoUrlSForLesson'>
      <documentation>each lesson can have multiple video formats and sizes This method return information about it</documentation>
      <input message='tns:getAllAvailableVideoUrlSForLessonRequestMessage' name='getAllAvailableVideoUrlSForLessonInput' />
      <output message='tns:getAllAvailableVideoUrlSForLessonResponseMessage' name='getAllAvailableVideoUrlSForLessonOutput' />
    </operation>
    <operation name='getCategoriesList'>
      <input message='tns:getCategoriesListRequestMessage' name='getCategoriesListInput' />
      <output message='tns:getCategoriesListResponseMessage' name='getCategoriesListOutput' />
    </operation>
    <operation name='getCategoryById'>
      <input message='tns:getCategoryByIdRequestMessage' name='getCategoryByIdInput' />
      <output message='tns:getCategoryByIdResponseMessage' name='getCategoryByIdOutput' />
    </operation>
    <operation name='getCitiesList'>
      <documentation></documentation>
      <input message='tns:getCitiesListRequestMessage' name='getCitiesListInput' />
      <output message='tns:getCitiesListResponseMessage' name='getCitiesListOutput' />
    </operation>
    <operation name='getCommentById'>
      <input message='tns:getCommentByIdRequestMessage' name='getCommentByIdInput' />
      <output message='tns:getCommentByIdResponseMessage' name='getCommentByIdOutput' />
    </operation>
    <operation name='getComments'>
      <input message='tns:getCommentsRequestMessage' name='getCommentsInput' />
      <output message='tns:getCommentsResponseMessage' name='getCommentsOutput' />
    </operation>
    <operation name='getCommentsByCourseId'>
      <input message='tns:getCommentsByCourseIdRequestMessage' name='getCommentsByCourseIdInput' />
      <output message='tns:getCommentsByCourseIdResponseMessage' name='getCommentsByCourseIdOutput' />
    </operation>
    <operation name='getCourseByCourseIdFromUserHistory'>
      <input message='tns:getCourseByCourseIdFromUserHistoryRequestMessage' name='getCourseByCourseIdFromUserHistoryInput' />
      <output message='tns:getCourseByCourseIdFromUserHistoryResponseMessage' name='getCourseByCourseIdFromUserHistoryOutput' />
    </operation>
    <operation name='getCourseById'>
      <input message='tns:getCourseByIdRequestMessage' name='getCourseByIdInput' />
      <output message='tns:getCourseByIdResponseMessage' name='getCourseByIdOutput' />
    </operation>
    <operation name='getCoursesFromUserHistory'>
      <input message='tns:getCoursesFromUserHistoryRequestMessage' name='getCoursesFromUserHistoryInput' />
      <output message='tns:getCoursesFromUserHistoryResponseMessage' name='getCoursesFromUserHistoryOutput' />
    </operation>
    <operation name='getCoursesListFromUserWatchlist'>
      <input message='tns:getCoursesListFromUserWatchlistRequestMessage' name='getCoursesListFromUserWatchlistInput' />
      <output message='tns:getCoursesListFromUserWatchlistResponseMessage' name='getCoursesListFromUserWatchlistOutput' />
    </operation>
    <operation name='getLanguagesList'>
      <documentation></documentation>
      <input message='tns:getLanguagesListRequestMessage' name='getLanguagesListInput' />
      <output message='tns:getLanguagesListResponseMessage' name='getLanguagesListOutput' />
    </operation>
    <operation name='getLessonsByCourseId'>
      <input message='tns:getLessonsByCourseIdRequestMessage' name='getLessonsByCourseIdInput' />
      <output message='tns:getLessonsByCourseIdResponseMessage' name='getLessonsByCourseIdOutput' />
    </operation>
    <operation name='getLessonsForCourseFromUserHistory'>
      <input message='tns:getLessonsForCourseFromUserHistoryRequestMessage' name='getLessonsForCourseFromUserHistoryInput' />
      <output message='tns:getLessonsForCourseFromUserHistoryResponseMessage' name='getLessonsForCourseFromUserHistoryOutput' />
    </operation>
    <operation name='getLessonsFromUserHistory'>
      <input message='tns:getLessonsFromUserHistoryRequestMessage' name='getLessonsFromUserHistoryInput' />
      <output message='tns:getLessonsFromUserHistoryResponseMessage' name='getLessonsFromUserHistoryOutput' />
    </operation>
    <operation name='getLessons'>
      <input message='tns:getLessonsRequestMessage' name='getLessonsInput' />
      <output message='tns:getLessonsResponseMessage' name='getLessonsOutput' />
    </operation>
    <operation name='getRecommendedCourses'>
      <documentation></documentation>
      <input message='tns:getRecommendedCoursesRequestMessage' name='getRecommendedCoursesInput' />
      <output message='tns:getRecommendedCoursesResponseMessage' name='getRecommendedCoursesOutput' />
    </operation>
    <operation name='getRequestById'>
      <input message='tns:getRequestByIdRequestMessage' name='getRequestByIdInput' />
      <output message='tns:getRequestByIdResponseMessage' name='getRequestByIdOutput' />
    </operation>
    <operation name='getRequestsList'>
      <input message='tns:getRequestsListRequestMessage' name='getRequestsListInput' />
      <output message='tns:getRequestsListResponseMessage' name='getRequestsListOutput' />
    </operation>
    <operation name='getRssFeedForCourses'>
      <documentation></documentation>
      <input message='tns:getRssFeedForCoursesRequestMessage' name='getRssFeedForCoursesInput' />
      <output message='tns:getRssFeedForCoursesResponseMessage' name='getRssFeedForCoursesOutput' />
    </operation>
    <operation name='getUploadUrlForLessonVideo'>
      <documentation>upload your video file to POST uploadUrl with field fileData Upload process return uploadToken in result This token need for lesson create method</documentation>
      <input message='tns:getUploadUrlForLessonVideoRequestMessage' name='getUploadUrlForLessonVideoInput' />
      <output message='tns:getUploadUrlForLessonVideoResponseMessage' name='getUploadUrlForLessonVideoOutput' />
    </operation>
    <operation name='getUserById'>
      <input message='tns:getUserByIdRequestMessage' name='getUserByIdInput' />
      <output message='tns:getUserByIdResponseMessage' name='getUserByIdOutput' />
    </operation>
    <operation name='getUsersList'>
      <input message='tns:getUsersListRequestMessage' name='getUsersListInput' />
      <output message='tns:getUsersListResponseMessage' name='getUsersListOutput' />
    </operation>
    <operation name='listOfCourses'>
      <input message='tns:listOfCoursesRequestMessage' name='listOfCoursesInput' />
      <output message='tns:listOfCoursesResponseMessage' name='listOfCoursesOutput' />
    </operation>
    <operation name='nextToWatchCourses'>
      <documentation>return recommended courses to next watch</documentation>
      <input message='tns:nextToWatchCoursesRequestMessage' name='nextToWatchCoursesInput' />
      <output message='tns:nextToWatchCoursesResponseMessage' name='nextToWatchCoursesOutput' />
    </operation>
    <operation name='publishTheCourse'>
      <input message='tns:publishTheCourseRequestMessage' name='publishTheCourseInput' />
      <output message='tns:publishTheCourseResponseMessage' name='publishTheCourseOutput' />
    </operation>
    <operation name='registerNewUser'>
      <documentation></documentation>
      <input message='tns:registerNewUserRequestMessage' name='registerNewUserInput' />
      <output message='tns:registerNewUserResponseMessage' name='registerNewUserOutput' />
    </operation>
    <operation name='removeLikeFromRequestWithCurrentUser'>
      <input message='tns:removeLikeFromRequestWithCurrentUserRequestMessage' name='removeLikeFromRequestWithCurrentUserInput' />
      <output message='tns:removeLikeFromRequestWithCurrentUserResponseMessage' name='removeLikeFromRequestWithCurrentUserOutput' />
    </operation>
    <operation name='sendPasswordRestoreTokenToEmail'>
      <input message='tns:sendPasswordRestoreTokenToEmailRequestMessage' name='sendPasswordRestoreTokenToEmailInput' />
      <output message='tns:sendPasswordRestoreTokenToEmailResponseMessage' name='sendPasswordRestoreTokenToEmailOutput' />
    </operation>
    <operation name='unpublishTheCourse'>
      <documentation></documentation>
      <input message='tns:unpublishTheCourseRequestMessage' name='unpublishTheCourseInput' />
      <output message='tns:unpublishTheCourseResponseMessage' name='unpublishTheCourseOutput' />
    </operation>
    <operation name='updateCourse'>
      <documentation></documentation>
      <input message='tns:updateCourseRequestMessage' name='updateCourseInput' />
      <output message='tns:updateCourseResponseMessage' name='updateCourseOutput' />
    </operation>
    <operation name='updateUserProfile'>
      <input message='tns:updateUserProfileRequestMessage' name='updateUserProfileInput' />
      <output message='tns:updateUserProfileResponseMessage' name='updateUserProfileOutput' />
    </operation>
    <operation name='uploadNewUserAvatar'>
      <input message='tns:uploadNewUserAvatarRequestMessage' name='uploadNewUserAvatarInput' />
      <output message='tns:uploadNewUserAvatarResponseMessage' name='uploadNewUserAvatarOutput' />
    </operation>
  </portType>
  <binding name='coursmosComVBinding' type='tns:coursmosComVPortType'>
    <operation name='addLikeToRequestWithCurrentUser'>
      <soap12:operation soapAction='http://addLikeToRequestWithCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addCourseToWatchlist'>
      <soap12:operation soapAction='http://addCourseToWatchlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bindCourseToRequest'>
      <soap12:operation soapAction='http://bindCourseToRequest' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='changePasswordByToken'>
      <soap12:operation soapAction='http://changePasswordByToken' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createComment'>
      <soap12:operation soapAction='http://createComment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createLessonForCourse'>
      <soap12:operation soapAction='http://createLessonForCourse' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createNewCourse'>
      <soap12:operation soapAction='http://createNewCourse' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createRequest'>
      <soap12:operation soapAction='http://createRequest' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteComment'>
      <soap12:operation soapAction='http://deleteComment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteCourseFromWatchlist'>
      <soap12:operation soapAction='http://deleteCourseFromWatchlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteTheCourse'>
      <soap12:operation soapAction='http://deleteTheCourse' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='exportCourseToScormPackage'>
      <soap12:operation soapAction='http://exportCourseToScormPackage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAllAvailableVideoUrlSForLesson'>
      <soap12:operation soapAction='http://getAllAvailableVideoUrlSForLesson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCategoriesList'>
      <soap12:operation soapAction='http://getCategoriesList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCategoryById'>
      <soap12:operation soapAction='http://getCategoryById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCitiesList'>
      <soap12:operation soapAction='http://getCitiesList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCommentById'>
      <soap12:operation soapAction='http://getCommentById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getComments'>
      <soap12:operation soapAction='http://getComments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCommentsByCourseId'>
      <soap12:operation soapAction='http://getCommentsByCourseId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCourseByCourseIdFromUserHistory'>
      <soap12:operation soapAction='http://getCourseByCourseIdFromUserHistory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCourseById'>
      <soap12:operation soapAction='http://getCourseById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCoursesFromUserHistory'>
      <soap12:operation soapAction='http://getCoursesFromUserHistory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCoursesListFromUserWatchlist'>
      <soap12:operation soapAction='http://getCoursesListFromUserWatchlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLanguagesList'>
      <soap12:operation soapAction='http://getLanguagesList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLessonsByCourseId'>
      <soap12:operation soapAction='http://getLessonsByCourseId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLessonsForCourseFromUserHistory'>
      <soap12:operation soapAction='http://getLessonsForCourseFromUserHistory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLessonsFromUserHistory'>
      <soap12:operation soapAction='http://getLessonsFromUserHistory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLessons'>
      <soap12:operation soapAction='http://getLessons' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRecommendedCourses'>
      <soap12:operation soapAction='http://getRecommendedCourses' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRequestById'>
      <soap12:operation soapAction='http://getRequestById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRequestsList'>
      <soap12:operation soapAction='http://getRequestsList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRssFeedForCourses'>
      <soap12:operation soapAction='http://getRssFeedForCourses' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUploadUrlForLessonVideo'>
      <soap12:operation soapAction='http://getUploadUrlForLessonVideo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserById'>
      <soap12:operation soapAction='http://getUserById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUsersList'>
      <soap12:operation soapAction='http://getUsersList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listOfCourses'>
      <soap12:operation soapAction='http://listOfCourses' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='nextToWatchCourses'>
      <soap12:operation soapAction='http://nextToWatchCourses' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publishTheCourse'>
      <soap12:operation soapAction='http://publishTheCourse' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='registerNewUser'>
      <soap12:operation soapAction='http://registerNewUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeLikeFromRequestWithCurrentUser'>
      <soap12:operation soapAction='http://removeLikeFromRequestWithCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendPasswordRestoreTokenToEmail'>
      <soap12:operation soapAction='http://sendPasswordRestoreTokenToEmail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='unpublishTheCourse'>
      <soap12:operation soapAction='http://unpublishTheCourse' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateCourse'>
      <soap12:operation soapAction='http://updateCourse' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateUserProfile'>
      <soap12:operation soapAction='http://updateUserProfile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='uploadNewUserAvatar'>
      <soap12:operation soapAction='http://uploadNewUserAvatar' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='coursmosComV'>
    <documentation>coursmos is a micro education platform uniting both authors and students and hosting more than online courses Micro learning is not just shorter courses At Coursmos we re leading the way in defining what micro learning means and developing it to achieve its maximum potential for you It s not another web app with a firehose of information to knock you off your feet but a smooth flow of learning on tap personal contextual and most of all adapted to your life and schedule</documentation>
    <port name='coursmosComVPort' binding='tns:coursmosComVBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://coursmosComV' />
    </port>
  </service>
</definitions>