workspace/datasets/mashape_dataset/cricketlivescores.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/cricketLiveScores/' name='cricketLiveScores' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/cricketLiveScores/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/cricketLiveScores/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/cricketLiveScores/'>
      <xsd:element name='matchesListAllMatchesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='upcomingMatchCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='inProgressMatchCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='completedMatchCount' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='matchList' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='matches' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='venue' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='isMultiDay' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='cmsMatchAssociatedType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='awayTeam' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='isBatting' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='teamColour' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='scores' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='homeOvers' type='xsd:string' minOccurs='0' />
                              <xsd:element name='awayOvers' type='xsd:string' minOccurs='0' />
                              <xsd:element name='homeScore' type='xsd:string' minOccurs='0' />
                              <xsd:element name='awayScore' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='cmsMatchVenueStartDateTime' type='xsd:string' minOccurs='0' />
                        <xsd:element name='winningTeamId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='matchSummaryText' type='xsd:string' minOccurs='0' />
                        <xsd:element name='cmsMatchType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='endDateTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isWomensMatch' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='localStartDate' type='xsd:string' minOccurs='0' />
                        <xsd:element name='startDateTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isMatchDrawn' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='series' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='shieldImageUrl' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='currentMatchState' type='xsd:string' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='homeTeam' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isBatting' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='teamColour' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='isMatchAbandoned' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='cmsMatchVenueEndDateTime' type='xsd:string' minOccurs='0' />
                        <xsd:element name='localStartTime' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='matchTypeId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='battingWheelParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='innid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='matchid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='seriesid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='battingWheelResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='battingWheel' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ball' type='xsd:int' minOccurs='0' />
                  <xsd:element name='strikeRate' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='six' type='xsd:int' minOccurs='0' />
                  <xsd:element name='four' type='xsd:int' minOccurs='0' />
                  <xsd:element name='teamId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='run' type='xsd:int' minOccurs='0' />
                  <xsd:element name='style' type='xsd:string' minOccurs='0' />
                  <xsd:element name='shots' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='over' type='xsd:int' minOccurs='0' />
                        <xsd:element name='bowler' type='xsd:string' minOccurs='0' />
                        <xsd:element name='distance' type='xsd:int' minOccurs='0' />
                        <xsd:element name='battingEnd' type='xsd:string' minOccurs='0' />
                        <xsd:element name='run' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ballType' type='xsd:string' minOccurs='0' />
                        <xsd:element name='fielder' type='xsd:string' minOccurs='0' />
                        <xsd:element name='bowlerId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='fielderId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='batsmanId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='angle' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ballId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ballLegalId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='recentBowlingInningId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='series' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shortName' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='currentInningId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='match' type='xsd:string' minOccurs='0' />
                  <xsd:element name='runStats' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n3' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n4' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n5' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n6' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='commemtaryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='matchid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='seriesid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='commemtaryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='series' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='commentary' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='innings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='overs' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='number' type='xsd:int' minOccurs='0' />
                              <xsd:element name='uniqueOverId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='balls' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='result' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='ballNumber' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='comments' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='dateTime' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='bowlerId' type='xsd:int' minOccurs='0' />
                                          <xsd:element name='batsmanId' type='xsd:int' minOccurs='0' />
                                          <xsd:element name='isFallOfWicket' type='xsd:boolean' minOccurs='0' />
                                          <xsd:element name='id' type='xsd:int' minOccurs='0' />
                                          <xsd:element name='text' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='battingTeamScore' type='xsd:int' minOccurs='0' />
                                          <xsd:element name='ballType' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='runs' type='xsd:int' minOccurs='0' />
                                          <xsd:element name='offStrikeBatsmanId' type='xsd:int' minOccurs='0' />
                                          <xsd:element name='wickets' type='xsd:int' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='id' type='xsd:int' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getImagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='imageurl' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getImagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='graphParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='matchid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='seriesid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='graphResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='series' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='match' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isLimitedOvers' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='graph' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='awayTeam' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='innings' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='battingTeamId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='requiredRunRate' type='xsd:string' minOccurs='0' />
                        <xsd:element name='bowlingTeamId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='battingTeamType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='totalRuns' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='overs' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='hasVideo' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='totalRun' type='xsd:int' minOccurs='0' />
                              <xsd:element name='overId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='runRate' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='run' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='inningIndex' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='homeTeam' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchBySeriesIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seriesid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchBySeriesIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='upcomingMatchCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='inProgressMatchCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='completedMatchCount' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='matchList' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='matches' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='venue' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='isMultiDay' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='cmsMatchAssociatedType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='awayTeam' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isBatting' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='teamColour' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='scores' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='homeOvers' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='awayOvers' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='homeScore' type='xsd:string' minOccurs='0' />
                              <xsd:element name='awayScore' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='cmsMatchVenueStartDateTime' type='xsd:string' minOccurs='0' />
                        <xsd:element name='winningTeamId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='matchSummaryText' type='xsd:string' minOccurs='0' />
                        <xsd:element name='cmsMatchType' type='xsd:string' minOccurs='0' />
                        <xsd:element name='endDateTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isWomensMatch' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='localStartDate' type='xsd:string' minOccurs='0' />
                        <xsd:element name='startDateTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isMatchDrawn' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='series' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='shieldImageUrl' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='currentMatchState' type='xsd:string' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='homeTeam' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='isBatting' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='teamColour' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='isMatchAbandoned' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='cmsMatchVenueEndDateTime' type='xsd:string' minOccurs='0' />
                        <xsd:element name='localStartTime' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='matchTypeId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchByMatchIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='matchid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='seriesid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchByMatchIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='match' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='venue' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='isMultiDay' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='cmsMatchAssociatedType' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='awayTeam' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isBatting' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='scores' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='homeOvers' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='awayOvers' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='homeScore' type='xsd:string' minOccurs='0' />
                        <xsd:element name='awayScore' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='cmsMatchVenueStartDateTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='winningTeamId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='matchSummaryText' type='xsd:string' minOccurs='0' />
                  <xsd:element name='cmsMatchType' type='xsd:string' minOccurs='0' />
                  <xsd:element name='endDateTime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isWomensMatch' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='localStartDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='startDateTime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isMatchDrawn' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='series' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='shieldImageUrl' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='currentMatchState' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='homeTeam' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isBatting' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='isMatchAbandoned' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='cmsMatchVenueEndDateTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='localStartTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='matchTypeId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchLiveHighlightsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='matchid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='seriesid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchLiveHighlightsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='requiredRunRate' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='hasGraph' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='matchName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='matchType' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='currentBattingTeam' type='xsd:int' minOccurs='0' />
                  <xsd:element name='currentRunRate' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='venueName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='currentInningsId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hasCompleted' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasCommentary' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='currentDay' type='xsd:int' minOccurs='0' />
                  <xsd:element name='series' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='shieldImageUrl' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='hasFullScorecard' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasPlayerProfile' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasWagonWheel' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='matchDetail' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='currentBatters' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='strikeRate' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='ballsFaced' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isFacing' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='runs' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='bowler' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='strikeRate' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='bowlerOver' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='economy' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wickets' type='xsd:int' minOccurs='0' />
                        <xsd:element name='runsAgainst' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='matchSummary' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='venue' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='isMultiDay' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='cmsMatchAssociatedType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='awayTeam' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isBatting' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='teamColour' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='scores' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='homeOvers' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='awayOvers' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='homeScore' type='xsd:string' minOccurs='0' />
                              <xsd:element name='awayScore' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='cmsMatchVenueStartDateTime' type='xsd:string' minOccurs='0' />
                        <xsd:element name='winningTeamId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='matchSummaryText' type='xsd:string' minOccurs='0' />
                        <xsd:element name='cmsMatchType' type='xsd:string' minOccurs='0' />
                        <xsd:element name='endDateTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isWomensMatch' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='localStartDate' type='xsd:string' minOccurs='0' />
                        <xsd:element name='startDateTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isMatchDrawn' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='series' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='shieldImageUrl' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='currentMatchState' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='homeTeam' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='isBatting' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='teamColour' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='isMatchAbandoned' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='cmsMatchVenueEndDateTime' type='xsd:string' minOccurs='0' />
                        <xsd:element name='localStartTime' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='matchTypeId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='teamBatting' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='score' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isBatting' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='innings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='score' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isDeclared' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='teamId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='overs' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='wickets' type='xsd:int' minOccurs='0' />
                        <xsd:element name='runs' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='umpires' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='secondUmpire' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='thirdUmpire' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='firstUmpire' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='referee' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='tossMessage' type='xsd:string' minOccurs='0' />
                  <xsd:element name='teamBowling' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='score' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isBatting' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='patnershipsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='innid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='matchid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='seriesid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='patnershipsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='partners' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstBatsman' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='balls' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sixes' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='fours' type='xsd:int' minOccurs='0' />
                        <xsd:element name='playerIndex' type='xsd:int' minOccurs='0' />
                        <xsd:element name='runs' type='xsd:int' minOccurs='0' />
                        <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='secondBatsman' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='balls' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sixes' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='fours' type='xsd:int' minOccurs='0' />
                        <xsd:element name='playerIndex' type='xsd:int' minOccurs='0' />
                        <xsd:element name='runs' type='xsd:int' minOccurs='0' />
                        <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='series' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='match' type='xsd:string' minOccurs='0' />
                  <xsd:element name='inningId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='matchId' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playersByMatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='matchid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='seriesid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playersByMatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='playersInMatch' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='awayTeam' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='teamName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='players' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='bowlingStyle' type='xsd:string' minOccurs='0' />
                              <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='imageURL' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='battingStyle' type='xsd:string' minOccurs='0' />
                              <xsd:element name='fullName' type='xsd:string' minOccurs='0' />
                              <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='teamShortName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='team' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='homeTeam' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='teamName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='players' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='bowlingStyle' type='xsd:string' minOccurs='0' />
                              <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='imageURL' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='battingStyle' type='xsd:string' minOccurs='0' />
                              <xsd:element name='fullName' type='xsd:string' minOccurs='0' />
                              <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='teamShortName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='team' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playersByTeamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='teamid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playersByTeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='teamPlayers' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='players' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fullName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='class' type='xsd:string' minOccurs='0' />
                        <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='scorecardsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='matchid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='seriesid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='scorecardsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='series' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='fullScorecard' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='innings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='over' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='requiredRunRate' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='wide' type='xsd:int' minOccurs='0' />
                        <xsd:element name='bowlers' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='runsConceded' type='xsd:int' minOccurs='0' />
                              <xsd:element name='noBalls' type='xsd:int' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='maidens' type='xsd:int' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='economy' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='overs' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='wickets' type='xsd:int' minOccurs='0' />
                              <xsd:element name='wides' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='runRate' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='run' type='xsd:int' minOccurs='0' />
                        <xsd:element name='legBye' type='xsd:int' minOccurs='0' />
                        <xsd:element name='team' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='wicket' type='xsd:int' minOccurs='0' />
                        <xsd:element name='bye' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noBall' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isDeclared' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='extra' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='batsmen' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='strikeRate' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='howOut' type='xsd:string' minOccurs='0' />
                              <xsd:element name='fallOfWicket' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='balls' type='xsd:int' minOccurs='0' />
                              <xsd:element name='sixes' type='xsd:int' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='fowOrder' type='xsd:int' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='fours' type='xsd:int' minOccurs='0' />
                              <xsd:element name='runs' type='xsd:int' minOccurs='0' />
                              <xsd:element name='fallOfWicketOver' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='fullScorecardAwards' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='mostRunsAwardPlayerResults' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='strikeRate' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='howOut' type='xsd:string' minOccurs='0' />
                        <xsd:element name='fallOfWicket' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='balls' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sixes' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='fowOrder' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='fours' type='xsd:int' minOccurs='0' />
                        <xsd:element name='runs' type='xsd:int' minOccurs='0' />
                        <xsd:element name='fallOfWicketOver' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='mostWicketsAwardPlayerResults' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='runsConceded' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noBalls' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='maidens' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='economy' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='overs' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='wickets' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wides' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='manOfTheMatchId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='manOfMatchBowlngResults' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='runsConceded' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noBalls' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='maidens' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='economy' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='overs' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='wickets' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wides' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='mostWicketsAward' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='runsConceded' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='economy' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='overs' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='wickets' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='manOfTheMatchName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='manOfMatchBattingResults' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='strikeRate' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='howOut' type='xsd:string' minOccurs='0' />
                        <xsd:element name='fallOfWicket' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='balls' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sixes' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='fowOrder' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='fours' type='xsd:int' minOccurs='0' />
                        <xsd:element name='runs' type='xsd:int' minOccurs='0' />
                        <xsd:element name='fallOfWicketOver' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='mostRunsAward' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='strikeRate' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='balls' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='fowOrder' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='runs' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='seriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seriesList' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='series' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='startDateTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='shieldImageUrl' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='endDateTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='inProgressSeriesCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='upcomingSeriesCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='completedSeriesCount' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='seriesIdList' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='seriesStandingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seriesid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='seriesStandingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metaData' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hasTied' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasWonOutRight' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='isDomesticFirstClass' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasWicketsLost' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasTiedInning1' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasWicketsLostInning1' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='seriesId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hasWicketsTakenInning1' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='result' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hasRunRateFor' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasRunRateNetInning1' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasCarriedPointsFor' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasQuotient' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasDrawn' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasWon' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasLost' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasPoint' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasLostInning' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasRunsConceded' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasCarriedPointsAgainst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='hasBallsFacedInning1' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasWicketsTaken' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasRunRateForInning1' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasLostOutRight' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasPointsAgainst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasBonusPointsAgainst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasPlayed' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasNetRunRate' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasBallsBowledInning1' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasNoResult' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasBallsFaced' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasRunsConcededInning1' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasRunRateAgainstInning1' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasBonus' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasBallsBowled' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasAdjustedPointsFor' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasRunsMadeInning1' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasRunsMade' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasAdjustedPointsAgainst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='series' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hasRunRateAgainst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasWonInnings' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hasPenalty' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='seriesTeamsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seriesid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='seriesTeamsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seriesTeams' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='teams' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='shortName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='logoUrl' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='seriesName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='seriesId' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='teamPlayersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='teamid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='teamPlayersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='teamPlayers' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='players' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fullName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='class' type='xsd:string' minOccurs='0' />
                        <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='matchesListAllMatchesRequestMessage' />
  <message name='matchesListAllMatchesResponseMessage'>
    <part name='response' element='tns:matchesListAllMatchesResponse' />
  </message>
  <message name='battingWheelRequestMessage'>
    <part name='parameters' element='tns:battingWheelParameters' />
  </message>
  <message name='battingWheelResponseMessage'>
    <part name='response' element='tns:battingWheelResponse' />
  </message>
  <message name='commemtaryRequestMessage'>
    <part name='parameters' element='tns:commemtaryParameters' />
  </message>
  <message name='commemtaryResponseMessage'>
    <part name='response' element='tns:commemtaryResponse' />
  </message>
  <message name='getImagesRequestMessage'>
    <part name='parameters' element='tns:getImagesParameters' />
  </message>
  <message name='getImagesResponseMessage'>
    <part name='response' element='tns:getImagesResponse' />
  </message>
  <message name='graphRequestMessage'>
    <part name='parameters' element='tns:graphParameters' />
  </message>
  <message name='graphResponseMessage'>
    <part name='response' element='tns:graphResponse' />
  </message>
  <message name='matchBySeriesIdRequestMessage'>
    <part name='parameters' element='tns:matchBySeriesIdParameters' />
  </message>
  <message name='matchBySeriesIdResponseMessage'>
    <part name='response' element='tns:matchBySeriesIdResponse' />
  </message>
  <message name='matchByMatchIdRequestMessage'>
    <part name='parameters' element='tns:matchByMatchIdParameters' />
  </message>
  <message name='matchByMatchIdResponseMessage'>
    <part name='response' element='tns:matchByMatchIdResponse' />
  </message>
  <message name='matchLiveHighlightsRequestMessage'>
    <part name='parameters' element='tns:matchLiveHighlightsParameters' />
  </message>
  <message name='matchLiveHighlightsResponseMessage'>
    <part name='response' element='tns:matchLiveHighlightsResponse' />
  </message>
  <message name='patnershipsRequestMessage'>
    <part name='parameters' element='tns:patnershipsParameters' />
  </message>
  <message name='patnershipsResponseMessage'>
    <part name='response' element='tns:patnershipsResponse' />
  </message>
  <message name='playersByMatchRequestMessage'>
    <part name='parameters' element='tns:playersByMatchParameters' />
  </message>
  <message name='playersByMatchResponseMessage'>
    <part name='response' element='tns:playersByMatchResponse' />
  </message>
  <message name='playersByTeamRequestMessage'>
    <part name='parameters' element='tns:playersByTeamParameters' />
  </message>
  <message name='playersByTeamResponseMessage'>
    <part name='response' element='tns:playersByTeamResponse' />
  </message>
  <message name='scorecardsRequestMessage'>
    <part name='parameters' element='tns:scorecardsParameters' />
  </message>
  <message name='scorecardsResponseMessage'>
    <part name='response' element='tns:scorecardsResponse' />
  </message>
  <message name='seriesRequestMessage' />
  <message name='seriesResponseMessage'>
    <part name='response' element='tns:seriesResponse' />
  </message>
  <message name='seriesStandingsRequestMessage'>
    <part name='parameters' element='tns:seriesStandingsParameters' />
  </message>
  <message name='seriesStandingsResponseMessage'>
    <part name='response' element='tns:seriesStandingsResponse' />
  </message>
  <message name='seriesTeamsRequestMessage'>
    <part name='parameters' element='tns:seriesTeamsParameters' />
  </message>
  <message name='seriesTeamsResponseMessage'>
    <part name='response' element='tns:seriesTeamsResponse' />
  </message>
  <message name='teamPlayersRequestMessage'>
    <part name='parameters' element='tns:teamPlayersParameters' />
  </message>
  <message name='teamPlayersResponseMessage'>
    <part name='response' element='tns:teamPlayersResponse' />
  </message>
  <portType name='cricketLiveScoresPortType'>
    <operation name='matchesListAllMatches'>
      <documentation>returns a list of matches for any series The matches can be upcoming in progress or completed</documentation>
      <input message='tns:matchesListAllMatchesRequestMessage' name='matchesListAllMatchesInput' />
      <output message='tns:matchesListAllMatchesResponseMessage' name='matchesListAllMatchesOutput' />
    </operation>
    <operation name='battingWheel'>
      <documentation>this endpoint provides the detail of each shot scored by each batsman involved in an inning of a current match</documentation>
      <input message='tns:battingWheelRequestMessage' name='battingWheelInput' />
      <output message='tns:battingWheelResponseMessage' name='battingWheelOutput' />
    </operation>
    <operation name='commemtary'>
      <documentation>get Detailed Commemtary for a given Match</documentation>
      <input message='tns:commemtaryRequestMessage' name='commemtaryInput' />
      <output message='tns:commemtaryResponseMessage' name='commemtaryOutput' />
    </operation>
    <operation name='getImages'>
      <documentation>get Images</documentation>
      <input message='tns:getImagesRequestMessage' name='getImagesInput' />
      <output message='tns:getImagesResponseMessage' name='getImagesOutput' />
    </operation>
    <operation name='graph'>
      <documentation>this can be used to draw the Manhattan chart Total Runs chart and Run Rate Chart re drawn on a live basis as and when match progresses</documentation>
      <input message='tns:graphRequestMessage' name='graphInput' />
      <output message='tns:graphResponseMessage' name='graphOutput' />
    </operation>
    <operation name='matchBySeriesId'>
      <documentation>returns a list of matches for a specific series The matches can be upcoming in progress or completed</documentation>
      <input message='tns:matchBySeriesIdRequestMessage' name='matchBySeriesIdInput' />
      <output message='tns:matchBySeriesIdResponseMessage' name='matchBySeriesIdOutput' />
    </operation>
    <operation name='matchByMatchId'>
      <documentation>gets the detail of a match like scores teams and venue</documentation>
      <input message='tns:matchByMatchIdRequestMessage' name='matchByMatchIdInput' />
      <output message='tns:matchByMatchIdResponseMessage' name='matchByMatchIdOutput' />
    </operation>
    <operation name='matchLiveHighlights'>
      <documentation>this intended to be used primarily a Live or Completed match highlight view as it provides the overall current state of a match with a live up to the minute updates and optional media It does not contain Commentary Match Players Ball or other MatchDetail information</documentation>
      <input message='tns:matchLiveHighlightsRequestMessage' name='matchLiveHighlightsInput' />
      <output message='tns:matchLiveHighlightsResponseMessage' name='matchLiveHighlightsOutput' />
    </operation>
    <operation name='patnerships'>
      <documentation>this intended to be used for display of a Partnership graph for a particular innings within a Match</documentation>
      <input message='tns:patnershipsRequestMessage' name='patnershipsInput' />
      <output message='tns:patnershipsResponseMessage' name='patnershipsOutput' />
    </operation>
    <operation name='playersByMatch'>
      <documentation>this endpoint provides the detail of each player in the team for a given match</documentation>
      <input message='tns:playersByMatchRequestMessage' name='playersByMatchInput' />
      <output message='tns:playersByMatchResponseMessage' name='playersByMatchOutput' />
    </operation>
    <operation name='playersByTeam'>
      <documentation>this endpoint provides the detail of each player in the team</documentation>
      <input message='tns:playersByTeamRequestMessage' name='playersByTeamInput' />
      <output message='tns:playersByTeamResponseMessage' name='playersByTeamOutput' />
    </operation>
    <operation name='scorecards'>
      <documentation>this gives detailed information on the scorecard of a match In includes all innings teams batsmen and bowler details</documentation>
      <input message='tns:scorecardsRequestMessage' name='scorecardsInput' />
      <output message='tns:scorecardsResponseMessage' name='scorecardsOutput' />
    </operation>
    <operation name='series'>
      <documentation>returns a collection of series names short names images start and end date teams etc</documentation>
      <input message='tns:seriesRequestMessage' name='seriesInput' />
      <output message='tns:seriesResponseMessage' name='seriesOutput' />
    </operation>
    <operation name='seriesStandings'>
      <documentation>this gives detailed information on the scorecard of a match In includes all innings teams batsmen and bowler details</documentation>
      <input message='tns:seriesStandingsRequestMessage' name='seriesStandingsInput' />
      <output message='tns:seriesStandingsResponseMessage' name='seriesStandingsOutput' />
    </operation>
    <operation name='seriesTeams'>
      <documentation>this endpoint provides the detail of each Team in the series</documentation>
      <input message='tns:seriesTeamsRequestMessage' name='seriesTeamsInput' />
      <output message='tns:seriesTeamsResponseMessage' name='seriesTeamsOutput' />
    </operation>
    <operation name='teamPlayers'>
      <documentation>this endpoint provides the detail of each player in the team</documentation>
      <input message='tns:teamPlayersRequestMessage' name='teamPlayersInput' />
      <output message='tns:teamPlayersResponseMessage' name='teamPlayersOutput' />
    </operation>
  </portType>
  <binding name='cricketLiveScoresBinding' type='tns:cricketLiveScoresPortType'>
    <operation name='matchesListAllMatches'>
      <soap12:operation soapAction='http://matchesListAllMatches' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='battingWheel'>
      <soap12:operation soapAction='http://battingWheel' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='commemtary'>
      <soap12:operation soapAction='http://commemtary' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getImages'>
      <soap12:operation soapAction='http://getImages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='graph'>
      <soap12:operation soapAction='http://graph' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchBySeriesId'>
      <soap12:operation soapAction='http://matchBySeriesId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchByMatchId'>
      <soap12:operation soapAction='http://matchByMatchId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchLiveHighlights'>
      <soap12:operation soapAction='http://matchLiveHighlights' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='patnerships'>
      <soap12:operation soapAction='http://patnerships' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='playersByMatch'>
      <soap12:operation soapAction='http://playersByMatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='playersByTeam'>
      <soap12:operation soapAction='http://playersByTeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='scorecards'>
      <soap12:operation soapAction='http://scorecards' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='series'>
      <soap12:operation soapAction='http://series' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='seriesStandings'>
      <soap12:operation soapAction='http://seriesStandings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='seriesTeams'>
      <soap12:operation soapAction='http://seriesTeams' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='teamPlayers'>
      <soap12:operation soapAction='http://teamPlayers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='cricketLiveScores'>
    <documentation>cricket Live Scores API provides invaluable data to develop cricket related apps The API accepts GET calls and returns JSON formatted content Cricket Live Scores API is able to deliver a list of available matches as well as cricket scores cricket scorecards Test scores ODI scores T scores BBL scores IPL scores World Cup scores</documentation>
    <port name='cricketLiveScoresPort' binding='tns:cricketLiveScoresBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://cricketLiveScores' />
    </port>
  </service>
</definitions>