workspace/datasets/mashape_dataset/crowdtilt.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/crowdtilt/' name='crowdtilt' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/crowdtilt/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/crowdtilt/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/crowdtilt/'>
      <xsd:element name='authenticateUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authenticateUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createCampaignResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createCampaignCommentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='campaignid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createCampaignCommentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createCampaignPaymentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createCampaignPaymentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createUserBankParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createUserBankResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createUserCardParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createUserCardResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteACommentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='campaignid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='commentid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteACommentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteUserBankParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteUserBankResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteUserCardParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cardid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteUserCardResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCampaignParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCampaignResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCampaignCommentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='campaignid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='commentid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCampaignCommentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCampaignPaymentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCampaignPaymentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCampaignSettlementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='campaignid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='settlementid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCampaignSettlementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRejectedPaymentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRejectedPaymentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserBankParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserBankResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserCampaignParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='campaignid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserCampaignResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserCampaignsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserCampaignsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserCardParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cardid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserCardResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserSDefaultBankParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserSDefaultBankResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCampaignCommentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCampaignCommentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCampaignPaymentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCampaignPaymentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCampaignSettlementsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='campaignid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCampaignSettlementsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCampaignsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUserBanksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUserBanksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUserCardsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUserCardsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUserPaidCampaignsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUserPaidCampaignsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUserPaymentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUserPaymentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='makeUserBankDefaultParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='makeUserBankDefaultResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='refundAPaymentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='refundAPaymentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCampaignParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCampaignResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCampaignCommentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='campaignid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='commentid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCampaignCommentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCampaignPaymentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCampaignPaymentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCampaignSettlementBankParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='campaignid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='settlementid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCampaignSettlementBankResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateUserBankParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateUserBankResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateUserCardParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cardid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateUserCardResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='authenticateUserRequestMessage'>
    <part name='parameters' element='tns:authenticateUserParameters' />
  </message>
  <message name='authenticateUserResponseMessage'>
    <part name='response' element='tns:authenticateUserResponse' />
  </message>
  <message name='createCampaignRequestMessage' />
  <message name='createCampaignResponseMessage'>
    <part name='response' element='tns:createCampaignResponse' />
  </message>
  <message name='createCampaignCommentRequestMessage'>
    <part name='parameters' element='tns:createCampaignCommentParameters' />
  </message>
  <message name='createCampaignCommentResponseMessage'>
    <part name='response' element='tns:createCampaignCommentResponse' />
  </message>
  <message name='createCampaignPaymentRequestMessage'>
    <part name='parameters' element='tns:createCampaignPaymentParameters' />
  </message>
  <message name='createCampaignPaymentResponseMessage'>
    <part name='response' element='tns:createCampaignPaymentResponse' />
  </message>
  <message name='createUserRequestMessage' />
  <message name='createUserResponseMessage'>
    <part name='response' element='tns:createUserResponse' />
  </message>
  <message name='createUserBankRequestMessage'>
    <part name='parameters' element='tns:createUserBankParameters' />
  </message>
  <message name='createUserBankResponseMessage'>
    <part name='response' element='tns:createUserBankResponse' />
  </message>
  <message name='createUserCardRequestMessage'>
    <part name='parameters' element='tns:createUserCardParameters' />
  </message>
  <message name='createUserCardResponseMessage'>
    <part name='response' element='tns:createUserCardResponse' />
  </message>
  <message name='deleteACommentRequestMessage'>
    <part name='parameters' element='tns:deleteACommentParameters' />
  </message>
  <message name='deleteACommentResponseMessage'>
    <part name='response' element='tns:deleteACommentResponse' />
  </message>
  <message name='deleteUserBankRequestMessage'>
    <part name='parameters' element='tns:deleteUserBankParameters' />
  </message>
  <message name='deleteUserBankResponseMessage'>
    <part name='response' element='tns:deleteUserBankResponse' />
  </message>
  <message name='deleteUserCardRequestMessage'>
    <part name='parameters' element='tns:deleteUserCardParameters' />
  </message>
  <message name='deleteUserCardResponseMessage'>
    <part name='response' element='tns:deleteUserCardResponse' />
  </message>
  <message name='getCampaignRequestMessage'>
    <part name='parameters' element='tns:getCampaignParameters' />
  </message>
  <message name='getCampaignResponseMessage'>
    <part name='response' element='tns:getCampaignResponse' />
  </message>
  <message name='getCampaignCommentRequestMessage'>
    <part name='parameters' element='tns:getCampaignCommentParameters' />
  </message>
  <message name='getCampaignCommentResponseMessage'>
    <part name='response' element='tns:getCampaignCommentResponse' />
  </message>
  <message name='getCampaignPaymentRequestMessage'>
    <part name='parameters' element='tns:getCampaignPaymentParameters' />
  </message>
  <message name='getCampaignPaymentResponseMessage'>
    <part name='response' element='tns:getCampaignPaymentResponse' />
  </message>
  <message name='getCampaignSettlementRequestMessage'>
    <part name='parameters' element='tns:getCampaignSettlementParameters' />
  </message>
  <message name='getCampaignSettlementResponseMessage'>
    <part name='response' element='tns:getCampaignSettlementResponse' />
  </message>
  <message name='getRejectedPaymentsRequestMessage'>
    <part name='parameters' element='tns:getRejectedPaymentsParameters' />
  </message>
  <message name='getRejectedPaymentsResponseMessage'>
    <part name='response' element='tns:getRejectedPaymentsResponse' />
  </message>
  <message name='getUserRequestMessage'>
    <part name='parameters' element='tns:getUserParameters' />
  </message>
  <message name='getUserResponseMessage'>
    <part name='response' element='tns:getUserResponse' />
  </message>
  <message name='getUserBankRequestMessage'>
    <part name='parameters' element='tns:getUserBankParameters' />
  </message>
  <message name='getUserBankResponseMessage'>
    <part name='response' element='tns:getUserBankResponse' />
  </message>
  <message name='getUserCampaignRequestMessage'>
    <part name='parameters' element='tns:getUserCampaignParameters' />
  </message>
  <message name='getUserCampaignResponseMessage'>
    <part name='response' element='tns:getUserCampaignResponse' />
  </message>
  <message name='getUserCampaignsRequestMessage'>
    <part name='parameters' element='tns:getUserCampaignsParameters' />
  </message>
  <message name='getUserCampaignsResponseMessage'>
    <part name='response' element='tns:getUserCampaignsResponse' />
  </message>
  <message name='getUserCardRequestMessage'>
    <part name='parameters' element='tns:getUserCardParameters' />
  </message>
  <message name='getUserCardResponseMessage'>
    <part name='response' element='tns:getUserCardResponse' />
  </message>
  <message name='getUserSDefaultBankRequestMessage'>
    <part name='parameters' element='tns:getUserSDefaultBankParameters' />
  </message>
  <message name='getUserSDefaultBankResponseMessage'>
    <part name='response' element='tns:getUserSDefaultBankResponse' />
  </message>
  <message name='listCampaignCommentsRequestMessage'>
    <part name='parameters' element='tns:listCampaignCommentsParameters' />
  </message>
  <message name='listCampaignCommentsResponseMessage'>
    <part name='response' element='tns:listCampaignCommentsResponse' />
  </message>
  <message name='listCampaignPaymentsRequestMessage'>
    <part name='parameters' element='tns:listCampaignPaymentsParameters' />
  </message>
  <message name='listCampaignPaymentsResponseMessage'>
    <part name='response' element='tns:listCampaignPaymentsResponse' />
  </message>
  <message name='listCampaignSettlementsRequestMessage'>
    <part name='parameters' element='tns:listCampaignSettlementsParameters' />
  </message>
  <message name='listCampaignSettlementsResponseMessage'>
    <part name='response' element='tns:listCampaignSettlementsResponse' />
  </message>
  <message name='listCampaignsRequestMessage' />
  <message name='listCampaignsResponseMessage'>
    <part name='response' element='tns:listCampaignsResponse' />
  </message>
  <message name='listUserBanksRequestMessage'>
    <part name='parameters' element='tns:listUserBanksParameters' />
  </message>
  <message name='listUserBanksResponseMessage'>
    <part name='response' element='tns:listUserBanksResponse' />
  </message>
  <message name='listUserCardsRequestMessage'>
    <part name='parameters' element='tns:listUserCardsParameters' />
  </message>
  <message name='listUserCardsResponseMessage'>
    <part name='response' element='tns:listUserCardsResponse' />
  </message>
  <message name='listUserPaidCampaignsRequestMessage'>
    <part name='parameters' element='tns:listUserPaidCampaignsParameters' />
  </message>
  <message name='listUserPaidCampaignsResponseMessage'>
    <part name='response' element='tns:listUserPaidCampaignsResponse' />
  </message>
  <message name='listUserPaymentsRequestMessage'>
    <part name='parameters' element='tns:listUserPaymentsParameters' />
  </message>
  <message name='listUserPaymentsResponseMessage'>
    <part name='response' element='tns:listUserPaymentsResponse' />
  </message>
  <message name='listUsersRequestMessage' />
  <message name='listUsersResponseMessage'>
    <part name='response' element='tns:listUsersResponse' />
  </message>
  <message name='makeUserBankDefaultRequestMessage'>
    <part name='parameters' element='tns:makeUserBankDefaultParameters' />
  </message>
  <message name='makeUserBankDefaultResponseMessage'>
    <part name='response' element='tns:makeUserBankDefaultResponse' />
  </message>
  <message name='refundAPaymentRequestMessage'>
    <part name='parameters' element='tns:refundAPaymentParameters' />
  </message>
  <message name='refundAPaymentResponseMessage'>
    <part name='response' element='tns:refundAPaymentResponse' />
  </message>
  <message name='updateCampaignRequestMessage'>
    <part name='parameters' element='tns:updateCampaignParameters' />
  </message>
  <message name='updateCampaignResponseMessage'>
    <part name='response' element='tns:updateCampaignResponse' />
  </message>
  <message name='updateCampaignCommentRequestMessage'>
    <part name='parameters' element='tns:updateCampaignCommentParameters' />
  </message>
  <message name='updateCampaignCommentResponseMessage'>
    <part name='response' element='tns:updateCampaignCommentResponse' />
  </message>
  <message name='updateCampaignPaymentRequestMessage'>
    <part name='parameters' element='tns:updateCampaignPaymentParameters' />
  </message>
  <message name='updateCampaignPaymentResponseMessage'>
    <part name='response' element='tns:updateCampaignPaymentResponse' />
  </message>
  <message name='updateCampaignSettlementBankRequestMessage'>
    <part name='parameters' element='tns:updateCampaignSettlementBankParameters' />
  </message>
  <message name='updateCampaignSettlementBankResponseMessage'>
    <part name='response' element='tns:updateCampaignSettlementBankResponse' />
  </message>
  <message name='updateUserRequestMessage'>
    <part name='parameters' element='tns:updateUserParameters' />
  </message>
  <message name='updateUserResponseMessage'>
    <part name='response' element='tns:updateUserResponse' />
  </message>
  <message name='updateUserBankRequestMessage'>
    <part name='parameters' element='tns:updateUserBankParameters' />
  </message>
  <message name='updateUserBankResponseMessage'>
    <part name='response' element='tns:updateUserBankResponse' />
  </message>
  <message name='updateUserCardRequestMessage'>
    <part name='parameters' element='tns:updateUserCardParameters' />
  </message>
  <message name='updateUserCardResponseMessage'>
    <part name='response' element='tns:updateUserCardResponse' />
  </message>
  <message name='verifyUserRequestMessage'>
    <part name='parameters' element='tns:verifyUserParameters' />
  </message>
  <message name='verifyUserResponseMessage'>
    <part name='response' element='tns:verifyUserResponse' />
  </message>
  <portType name='crowdtiltPortType'>
    <operation name='authenticateUser'>
      <documentation>to authenticate a user you can pass in the user s login credentials email and password as query parameters</documentation>
      <input message='tns:authenticateUserRequestMessage' name='authenticateUserInput' />
      <output message='tns:authenticateUserResponseMessage' name='authenticateUserOutput' />
    </operation>
    <operation name='createCampaign'>
      <documentation>a campaign needs to be associated to a user We refer to this user as the campaign admin Campaign admins can create campaigns without having to be verified However they need to be verified in order to set up their bank account details and then be able to receive the money collected in their campaign</documentation>
      <input message='tns:createCampaignRequestMessage' name='createCampaignInput' />
      <output message='tns:createCampaignResponseMessage' name='createCampaignOutput' />
    </operation>
    <operation name='createCampaignComment'>
      <documentation>to create a comment POST to campaigns id comments The only required fields are the user id of the comment author and the body of the comment The title parent id and score fields are optional The parent id is the id of the parent of this comment i e the comment that this comment is a reply to This only matters if you want to support nested comments You may provide a parent id of tns for top level comments The purpose of the score field is to provide support for voting on comments</documentation>
      <input message='tns:createCampaignCommentRequestMessage' name='createCampaignCommentInput' />
      <output message='tns:createCampaignCommentResponseMessage' name='createCampaignCommentOutput' />
    </operation>
    <operation name='createCampaignPayment'>
      <documentation>before a user is able to contribute they need to have a Credit Card associated to them All amounts and prices used in this API are always in cents When creating a payment the amount field determines how much money is going to the campaign The user fee amount accepts a value that will be charged to the paying user on top of the amount and the admin fee amount will be taken out of the money that goes to the campaign admin when the campaign tilts For example if a user wants to pay to a campaign and you want to add a fee to the user you would send amount as and user fee amount as of the The users credit card would then be charged In the same scenario if you wanted to charge from the admin when the campaign tilts you would set admin fee amount to and on tilt the admin will only receive from the payment</documentation>
      <input message='tns:createCampaignPaymentRequestMessage' name='createCampaignPaymentInput' />
      <output message='tns:createCampaignPaymentResponseMessage' name='createCampaignPaymentOutput' />
    </operation>
    <operation name='createUser'>
      <documentation>the minimum amount of information needed to create a user is a valid email address Keep in mind that the metadata field is a great place to store references to other user assets such as a profile image</documentation>
      <input message='tns:createUserRequestMessage' name='createUserInput' />
      <output message='tns:createUserResponseMessage' name='createUserOutput' />
    </operation>
    <operation name='createUserBank'>
      <documentation></documentation>
      <input message='tns:createUserBankRequestMessage' name='createUserBankInput' />
      <output message='tns:createUserBankResponseMessage' name='createUserBankOutput' />
    </operation>
    <operation name='createUserCard'>
      <documentation></documentation>
      <input message='tns:createUserCardRequestMessage' name='createUserCardInput' />
      <output message='tns:createUserCardResponseMessage' name='createUserCardOutput' />
    </operation>
    <operation name='deleteAComment'>
      <documentation></documentation>
      <input message='tns:deleteACommentRequestMessage' name='deleteACommentInput' />
      <output message='tns:deleteACommentResponseMessage' name='deleteACommentOutput' />
    </operation>
    <operation name='deleteUserBank'>
      <documentation></documentation>
      <input message='tns:deleteUserBankRequestMessage' name='deleteUserBankInput' />
      <output message='tns:deleteUserBankResponseMessage' name='deleteUserBankOutput' />
    </operation>
    <operation name='deleteUserCard'>
      <documentation></documentation>
      <input message='tns:deleteUserCardRequestMessage' name='deleteUserCardInput' />
      <output message='tns:deleteUserCardResponseMessage' name='deleteUserCardOutput' />
    </operation>
    <operation name='getCampaign'>
      <documentation></documentation>
      <input message='tns:getCampaignRequestMessage' name='getCampaignInput' />
      <output message='tns:getCampaignResponseMessage' name='getCampaignOutput' />
    </operation>
    <operation name='getCampaignComment'>
      <documentation></documentation>
      <input message='tns:getCampaignCommentRequestMessage' name='getCampaignCommentInput' />
      <output message='tns:getCampaignCommentResponseMessage' name='getCampaignCommentOutput' />
    </operation>
    <operation name='getCampaignPayment'>
      <documentation></documentation>
      <input message='tns:getCampaignPaymentRequestMessage' name='getCampaignPaymentInput' />
      <output message='tns:getCampaignPaymentResponseMessage' name='getCampaignPaymentOutput' />
    </operation>
    <operation name='getCampaignSettlement'>
      <documentation>campaign Settlements represent a disbursement of funds for a tilted campaign A campaign settlement will show you the campaign bank and user that the settlement belongs to It will also show you the admin amount which is the amount of money being sent to the admin s bank account The escrow amount is how much money from the campaign is going into your escrow account it represents fees charged to the admin and payers</documentation>
      <input message='tns:getCampaignSettlementRequestMessage' name='getCampaignSettlementInput' />
      <output message='tns:getCampaignSettlementResponseMessage' name='getCampaignSettlementOutput' />
    </operation>
    <operation name='getRejectedPayments'>
      <documentation></documentation>
      <input message='tns:getRejectedPaymentsRequestMessage' name='getRejectedPaymentsInput' />
      <output message='tns:getRejectedPaymentsResponseMessage' name='getRejectedPaymentsOutput' />
    </operation>
    <operation name='getUser'>
      <documentation></documentation>
      <input message='tns:getUserRequestMessage' name='getUserInput' />
      <output message='tns:getUserResponseMessage' name='getUserOutput' />
    </operation>
    <operation name='getUserBank'>
      <documentation></documentation>
      <input message='tns:getUserBankRequestMessage' name='getUserBankInput' />
      <output message='tns:getUserBankResponseMessage' name='getUserBankOutput' />
    </operation>
    <operation name='getUserCampaign'>
      <documentation>this resource returns a specific campaign created by this user</documentation>
      <input message='tns:getUserCampaignRequestMessage' name='getUserCampaignInput' />
      <output message='tns:getUserCampaignResponseMessage' name='getUserCampaignOutput' />
    </operation>
    <operation name='getUserCampaigns'>
      <documentation>this resource returns all the campaigns that the user has created as well as the campaigns that he paid for</documentation>
      <input message='tns:getUserCampaignsRequestMessage' name='getUserCampaignsInput' />
      <output message='tns:getUserCampaignsResponseMessage' name='getUserCampaignsOutput' />
    </operation>
    <operation name='getUserCard'>
      <documentation></documentation>
      <input message='tns:getUserCardRequestMessage' name='getUserCardInput' />
      <output message='tns:getUserCardResponseMessage' name='getUserCardOutput' />
    </operation>
    <operation name='getUserSDefaultBank'>
      <documentation>to get the current default bank for a user you can simply request</documentation>
      <input message='tns:getUserSDefaultBankRequestMessage' name='getUserSDefaultBankInput' />
      <output message='tns:getUserSDefaultBankResponseMessage' name='getUserSDefaultBankOutput' />
    </operation>
    <operation name='listCampaignComments'>
      <documentation></documentation>
      <input message='tns:listCampaignCommentsRequestMessage' name='listCampaignCommentsInput' />
      <output message='tns:listCampaignCommentsResponseMessage' name='listCampaignCommentsOutput' />
    </operation>
    <operation name='listCampaignPayments'>
      <documentation></documentation>
      <input message='tns:listCampaignPaymentsRequestMessage' name='listCampaignPaymentsInput' />
      <output message='tns:listCampaignPaymentsResponseMessage' name='listCampaignPaymentsOutput' />
    </operation>
    <operation name='listCampaignSettlements'>
      <documentation></documentation>
      <input message='tns:listCampaignSettlementsRequestMessage' name='listCampaignSettlementsInput' />
      <output message='tns:listCampaignSettlementsResponseMessage' name='listCampaignSettlementsOutput' />
    </operation>
    <operation name='listCampaigns'>
      <documentation></documentation>
      <input message='tns:listCampaignsRequestMessage' name='listCampaignsInput' />
      <output message='tns:listCampaignsResponseMessage' name='listCampaignsOutput' />
    </operation>
    <operation name='listUserBanks'>
      <documentation>this resource lists the bank accounts associated with this user</documentation>
      <input message='tns:listUserBanksRequestMessage' name='listUserBanksInput' />
      <output message='tns:listUserBanksResponseMessage' name='listUserBanksOutput' />
    </operation>
    <operation name='listUserCards'>
      <documentation></documentation>
      <input message='tns:listUserCardsRequestMessage' name='listUserCardsInput' />
      <output message='tns:listUserCardsResponseMessage' name='listUserCardsOutput' />
    </operation>
    <operation name='listUserPaidCampaigns'>
      <documentation>this resource returns all the campaigns that the user paid for</documentation>
      <input message='tns:listUserPaidCampaignsRequestMessage' name='listUserPaidCampaignsInput' />
      <output message='tns:listUserPaidCampaignsResponseMessage' name='listUserPaidCampaignsOutput' />
    </operation>
    <operation name='listUserPayments'>
      <documentation></documentation>
      <input message='tns:listUserPaymentsRequestMessage' name='listUserPaymentsInput' />
      <output message='tns:listUserPaymentsResponseMessage' name='listUserPaymentsOutput' />
    </operation>
    <operation name='listUsers'>
      <documentation></documentation>
      <input message='tns:listUsersRequestMessage' name='listUsersInput' />
      <output message='tns:listUsersResponseMessage' name='listUsersOutput' />
    </operation>
    <operation name='makeUserBankDefault'>
      <documentation>before a bank account will be sent money it must be marked as the default bank account for that user To make a bank account the default make the following request</documentation>
      <input message='tns:makeUserBankDefaultRequestMessage' name='makeUserBankDefaultInput' />
      <output message='tns:makeUserBankDefaultResponseMessage' name='makeUserBankDefaultOutput' />
    </operation>
    <operation name='refundAPayment'>
      <documentation>in order to refund a payment simply POST with an empty body to the payment s refund subresource</documentation>
      <input message='tns:refundAPaymentRequestMessage' name='refundAPaymentInput' />
      <output message='tns:refundAPaymentResponseMessage' name='refundAPaymentOutput' />
    </operation>
    <operation name='updateCampaign'>
      <documentation></documentation>
      <input message='tns:updateCampaignRequestMessage' name='updateCampaignInput' />
      <output message='tns:updateCampaignResponseMessage' name='updateCampaignOutput' />
    </operation>
    <operation name='updateCampaignComment'>
      <documentation>currently you can only alter the score and the metadata of a comment</documentation>
      <input message='tns:updateCampaignCommentRequestMessage' name='updateCampaignCommentInput' />
      <output message='tns:updateCampaignCommentResponseMessage' name='updateCampaignCommentOutput' />
    </operation>
    <operation name='updateCampaignPayment'>
      <documentation>you may update the credit card for payments Note that you may only do this for payments with a status of rejected</documentation>
      <input message='tns:updateCampaignPaymentRequestMessage' name='updateCampaignPaymentInput' />
      <output message='tns:updateCampaignPaymentResponseMessage' name='updateCampaignPaymentOutput' />
    </operation>
    <operation name='updateCampaignSettlementBank'>
      <documentation>a Campaign Settlement can only be updated if the status is needs bank account In this instance a bank object can be sent with the id of a new bank account to re attempt the settlement with</documentation>
      <input message='tns:updateCampaignSettlementBankRequestMessage' name='updateCampaignSettlementBankInput' />
      <output message='tns:updateCampaignSettlementBankResponseMessage' name='updateCampaignSettlementBankOutput' />
    </operation>
    <operation name='updateUser'>
      <documentation></documentation>
      <input message='tns:updateUserRequestMessage' name='updateUserInput' />
      <output message='tns:updateUserResponseMessage' name='updateUserOutput' />
    </operation>
    <operation name='updateUserBank'>
      <documentation>bank information cannot be updated once it is set You can however modify the metadata of a bank account That is the only thing modifiable with this request Other fields submitted will be ignored</documentation>
      <input message='tns:updateUserBankRequestMessage' name='updateUserBankInput' />
      <output message='tns:updateUserBankResponseMessage' name='updateUserBankOutput' />
    </operation>
    <operation name='updateUserCard'>
      <documentation>card information cannot be updated once it is set You can however modify the metadata of a Card That is the only thing modifiable with this request Other fields submitted will be ignored</documentation>
      <input message='tns:updateUserCardRequestMessage' name='updateUserCardInput' />
      <output message='tns:updateUserCardResponseMessage' name='updateUserCardOutput' />
    </operation>
    <operation name='verifyUser'>
      <documentation>in order for a user to receive money raised from a campaign the user s identity needs to be verified</documentation>
      <input message='tns:verifyUserRequestMessage' name='verifyUserInput' />
      <output message='tns:verifyUserResponseMessage' name='verifyUserOutput' />
    </operation>
  </portType>
  <binding name='crowdtiltBinding' type='tns:crowdtiltPortType'>
    <operation name='authenticateUser'>
      <soap12:operation soapAction='http://authenticateUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createCampaign'>
      <soap12:operation soapAction='http://createCampaign' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createCampaignComment'>
      <soap12:operation soapAction='http://createCampaignComment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createCampaignPayment'>
      <soap12:operation soapAction='http://createCampaignPayment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createUser'>
      <soap12:operation soapAction='http://createUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createUserBank'>
      <soap12:operation soapAction='http://createUserBank' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createUserCard'>
      <soap12:operation soapAction='http://createUserCard' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAComment'>
      <soap12:operation soapAction='http://deleteAComment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteUserBank'>
      <soap12:operation soapAction='http://deleteUserBank' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteUserCard'>
      <soap12:operation soapAction='http://deleteUserCard' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCampaign'>
      <soap12:operation soapAction='http://getCampaign' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCampaignComment'>
      <soap12:operation soapAction='http://getCampaignComment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCampaignPayment'>
      <soap12:operation soapAction='http://getCampaignPayment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCampaignSettlement'>
      <soap12:operation soapAction='http://getCampaignSettlement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRejectedPayments'>
      <soap12:operation soapAction='http://getRejectedPayments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUser'>
      <soap12:operation soapAction='http://getUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserBank'>
      <soap12:operation soapAction='http://getUserBank' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserCampaign'>
      <soap12:operation soapAction='http://getUserCampaign' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserCampaigns'>
      <soap12:operation soapAction='http://getUserCampaigns' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserCard'>
      <soap12:operation soapAction='http://getUserCard' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserSDefaultBank'>
      <soap12:operation soapAction='http://getUserSDefaultBank' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listCampaignComments'>
      <soap12:operation soapAction='http://listCampaignComments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listCampaignPayments'>
      <soap12:operation soapAction='http://listCampaignPayments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listCampaignSettlements'>
      <soap12:operation soapAction='http://listCampaignSettlements' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listCampaigns'>
      <soap12:operation soapAction='http://listCampaigns' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listUserBanks'>
      <soap12:operation soapAction='http://listUserBanks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listUserCards'>
      <soap12:operation soapAction='http://listUserCards' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listUserPaidCampaigns'>
      <soap12:operation soapAction='http://listUserPaidCampaigns' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listUserPayments'>
      <soap12:operation soapAction='http://listUserPayments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listUsers'>
      <soap12:operation soapAction='http://listUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='makeUserBankDefault'>
      <soap12:operation soapAction='http://makeUserBankDefault' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='refundAPayment'>
      <soap12:operation soapAction='http://refundAPayment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateCampaign'>
      <soap12:operation soapAction='http://updateCampaign' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateCampaignComment'>
      <soap12:operation soapAction='http://updateCampaignComment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateCampaignPayment'>
      <soap12:operation soapAction='http://updateCampaignPayment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateCampaignSettlementBank'>
      <soap12:operation soapAction='http://updateCampaignSettlementBank' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateUser'>
      <soap12:operation soapAction='http://updateUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateUserBank'>
      <soap12:operation soapAction='http://updateUserBank' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateUserCard'>
      <soap12:operation soapAction='http://updateUserCard' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='verifyUser'>
      <soap12:operation soapAction='http://verifyUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='crowdtilt'>
    <documentation>the Crowdtilt API allows developers to quickly and easily integrate crowdfunding or group payments into their applications</documentation>
    <port name='crowdtiltPort' binding='tns:crowdtiltBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://crowdtilt' />
    </port>
  </service>
</definitions>