workspace/datasets/mashape_dataset/crowdvalley.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/crowdValley/' name='crowdValley' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/crowdValley/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/crowdValley/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/crowdValley/'>
      <xsd:element name='acceptTermsAndConditionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='acceptTermsAndConditionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cancelTheOfferingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offeringid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cancelTheOfferingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkTheStatusOfYourNetworkParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkTheStatusOfYourNetworkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewOfferingForThisOrganizationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='organizationid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewOfferingForThisOrganizationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewOrganizationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewOrganizationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='crowdValleyApiHealthStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTheOrganizationFromThisNetworkParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='organizationid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTheOrganizationFromThisNetworkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='informationAboutThisInvestmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='investmentid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='informationAboutThisInvestmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='informationAboutThisOfferingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offeringid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='informationAboutThisOfferingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfInvestmentsForThisOfferingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offeringid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfInvestmentsForThisOfferingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfOfferingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfOfferingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loggedInUserSAccountInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loggedInUserSAccountInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registerANewUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registerANewUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAListOfOrganizationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAListOfOrganizationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAUserSPublicProfileInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAUserSPublicProfileInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveInformationAboutThisOrganizationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='organizationid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveInformationAboutThisOrganizationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveOfferingsForThisOrganizationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='organizationid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveOfferingsForThisOrganizationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveTheUserSInvestmentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveTheUserSInvestmentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='submitAnInvestmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offeringid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='submitAnInvestmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='theUserSOrganizationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='theUserSOrganizationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAUserSProfileInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAUserSProfileInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAnInvestmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='investmentid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAnInvestmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTheOfferingSInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offeringid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTheOfferingSInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTheOrganizationSInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='organizationid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTheOrganizationSInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='visibleUsersInYourNetworkParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='visibleUsersInYourNetworkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='withdrawThisInvestmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='investmentid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='withdrawThisInvestmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='acceptTermsAndConditionsRequestMessage'>
    <part name='parameters' element='tns:acceptTermsAndConditionsParameters' />
  </message>
  <message name='acceptTermsAndConditionsResponseMessage'>
    <part name='response' element='tns:acceptTermsAndConditionsResponse' />
  </message>
  <message name='cancelTheOfferingRequestMessage'>
    <part name='parameters' element='tns:cancelTheOfferingParameters' />
  </message>
  <message name='cancelTheOfferingResponseMessage'>
    <part name='response' element='tns:cancelTheOfferingResponse' />
  </message>
  <message name='checkTheStatusOfYourNetworkRequestMessage'>
    <part name='parameters' element='tns:checkTheStatusOfYourNetworkParameters' />
  </message>
  <message name='checkTheStatusOfYourNetworkResponseMessage'>
    <part name='response' element='tns:checkTheStatusOfYourNetworkResponse' />
  </message>
  <message name='createANewOfferingForThisOrganizationRequestMessage'>
    <part name='parameters' element='tns:createANewOfferingForThisOrganizationParameters' />
  </message>
  <message name='createANewOfferingForThisOrganizationResponseMessage'>
    <part name='response' element='tns:createANewOfferingForThisOrganizationResponse' />
  </message>
  <message name='createANewOrganizationRequestMessage'>
    <part name='parameters' element='tns:createANewOrganizationParameters' />
  </message>
  <message name='createANewOrganizationResponseMessage'>
    <part name='response' element='tns:createANewOrganizationResponse' />
  </message>
  <message name='crowdValleyApiHealthStatusRequestMessage' />
  <message name='crowdValleyApiHealthStatusResponseMessage'>
    <part name='response' element='tns:crowdValleyApiHealthStatusResponse' />
  </message>
  <message name='deleteTheOrganizationFromThisNetworkRequestMessage'>
    <part name='parameters' element='tns:deleteTheOrganizationFromThisNetworkParameters' />
  </message>
  <message name='deleteTheOrganizationFromThisNetworkResponseMessage'>
    <part name='response' element='tns:deleteTheOrganizationFromThisNetworkResponse' />
  </message>
  <message name='informationAboutThisInvestmentRequestMessage'>
    <part name='parameters' element='tns:informationAboutThisInvestmentParameters' />
  </message>
  <message name='informationAboutThisInvestmentResponseMessage'>
    <part name='response' element='tns:informationAboutThisInvestmentResponse' />
  </message>
  <message name='informationAboutThisOfferingRequestMessage'>
    <part name='parameters' element='tns:informationAboutThisOfferingParameters' />
  </message>
  <message name='informationAboutThisOfferingResponseMessage'>
    <part name='response' element='tns:informationAboutThisOfferingResponse' />
  </message>
  <message name='listOfInvestmentsForThisOfferingRequestMessage'>
    <part name='parameters' element='tns:listOfInvestmentsForThisOfferingParameters' />
  </message>
  <message name='listOfInvestmentsForThisOfferingResponseMessage'>
    <part name='response' element='tns:listOfInvestmentsForThisOfferingResponse' />
  </message>
  <message name='listOfOfferingsRequestMessage'>
    <part name='parameters' element='tns:listOfOfferingsParameters' />
  </message>
  <message name='listOfOfferingsResponseMessage'>
    <part name='response' element='tns:listOfOfferingsResponse' />
  </message>
  <message name='loggedInUserSAccountInformationRequestMessage'>
    <part name='parameters' element='tns:loggedInUserSAccountInformationParameters' />
  </message>
  <message name='loggedInUserSAccountInformationResponseMessage'>
    <part name='response' element='tns:loggedInUserSAccountInformationResponse' />
  </message>
  <message name='registerANewUserRequestMessage'>
    <part name='parameters' element='tns:registerANewUserParameters' />
  </message>
  <message name='registerANewUserResponseMessage'>
    <part name='response' element='tns:registerANewUserResponse' />
  </message>
  <message name='retrieveAListOfOrganizationsRequestMessage'>
    <part name='parameters' element='tns:retrieveAListOfOrganizationsParameters' />
  </message>
  <message name='retrieveAListOfOrganizationsResponseMessage'>
    <part name='response' element='tns:retrieveAListOfOrganizationsResponse' />
  </message>
  <message name='retrieveAUserSPublicProfileInformationRequestMessage'>
    <part name='parameters' element='tns:retrieveAUserSPublicProfileInformationParameters' />
  </message>
  <message name='retrieveAUserSPublicProfileInformationResponseMessage'>
    <part name='response' element='tns:retrieveAUserSPublicProfileInformationResponse' />
  </message>
  <message name='retrieveInformationAboutThisOrganizationRequestMessage'>
    <part name='parameters' element='tns:retrieveInformationAboutThisOrganizationParameters' />
  </message>
  <message name='retrieveInformationAboutThisOrganizationResponseMessage'>
    <part name='response' element='tns:retrieveInformationAboutThisOrganizationResponse' />
  </message>
  <message name='retrieveOfferingsForThisOrganizationRequestMessage'>
    <part name='parameters' element='tns:retrieveOfferingsForThisOrganizationParameters' />
  </message>
  <message name='retrieveOfferingsForThisOrganizationResponseMessage'>
    <part name='response' element='tns:retrieveOfferingsForThisOrganizationResponse' />
  </message>
  <message name='retrieveTheUserSInvestmentsRequestMessage'>
    <part name='parameters' element='tns:retrieveTheUserSInvestmentsParameters' />
  </message>
  <message name='retrieveTheUserSInvestmentsResponseMessage'>
    <part name='response' element='tns:retrieveTheUserSInvestmentsResponse' />
  </message>
  <message name='submitAnInvestmentRequestMessage'>
    <part name='parameters' element='tns:submitAnInvestmentParameters' />
  </message>
  <message name='submitAnInvestmentResponseMessage'>
    <part name='response' element='tns:submitAnInvestmentResponse' />
  </message>
  <message name='theUserSOrganizationsRequestMessage'>
    <part name='parameters' element='tns:theUserSOrganizationsParameters' />
  </message>
  <message name='theUserSOrganizationsResponseMessage'>
    <part name='response' element='tns:theUserSOrganizationsResponse' />
  </message>
  <message name='updateAUserSProfileInformationRequestMessage'>
    <part name='parameters' element='tns:updateAUserSProfileInformationParameters' />
  </message>
  <message name='updateAUserSProfileInformationResponseMessage'>
    <part name='response' element='tns:updateAUserSProfileInformationResponse' />
  </message>
  <message name='updateAnInvestmentRequestMessage'>
    <part name='parameters' element='tns:updateAnInvestmentParameters' />
  </message>
  <message name='updateAnInvestmentResponseMessage'>
    <part name='response' element='tns:updateAnInvestmentResponse' />
  </message>
  <message name='updateTheOfferingSInformationRequestMessage'>
    <part name='parameters' element='tns:updateTheOfferingSInformationParameters' />
  </message>
  <message name='updateTheOfferingSInformationResponseMessage'>
    <part name='response' element='tns:updateTheOfferingSInformationResponse' />
  </message>
  <message name='updateTheOrganizationSInformationRequestMessage'>
    <part name='parameters' element='tns:updateTheOrganizationSInformationParameters' />
  </message>
  <message name='updateTheOrganizationSInformationResponseMessage'>
    <part name='response' element='tns:updateTheOrganizationSInformationResponse' />
  </message>
  <message name='visibleUsersInYourNetworkRequestMessage'>
    <part name='parameters' element='tns:visibleUsersInYourNetworkParameters' />
  </message>
  <message name='visibleUsersInYourNetworkResponseMessage'>
    <part name='response' element='tns:visibleUsersInYourNetworkResponse' />
  </message>
  <message name='withdrawThisInvestmentRequestMessage'>
    <part name='parameters' element='tns:withdrawThisInvestmentParameters' />
  </message>
  <message name='withdrawThisInvestmentResponseMessage'>
    <part name='response' element='tns:withdrawThisInvestmentResponse' />
  </message>
  <portType name='crowdValleyPortType'>
    <operation name='acceptTermsAndConditions'>
      <documentation>accept End User Terms and Conditions Accepting Terms can be implemented as part of creating a user or as a separate step</documentation>
      <input message='tns:acceptTermsAndConditionsRequestMessage' name='acceptTermsAndConditionsInput' />
      <output message='tns:acceptTermsAndConditionsResponseMessage' name='acceptTermsAndConditionsOutput' />
    </operation>
    <operation name='cancelTheOffering'>
      <documentation>cancel the Offering This will only work if the logged in User is a team member of the Organization for this Offering It will not work unless the Offering has status as Draft or Submitted</documentation>
      <input message='tns:cancelTheOfferingRequestMessage' name='cancelTheOfferingInput' />
      <output message='tns:cancelTheOfferingResponseMessage' name='cancelTheOfferingOutput' />
    </operation>
    <operation name='checkTheStatusOfYourNetwork'>
      <documentation>check that your network has been set up and is available through the API with your API key</documentation>
      <input message='tns:checkTheStatusOfYourNetworkRequestMessage' name='checkTheStatusOfYourNetworkInput' />
      <output message='tns:checkTheStatusOfYourNetworkResponseMessage' name='checkTheStatusOfYourNetworkOutput' />
    </operation>
    <operation name='createANewOfferingForThisOrganization'>
      <documentation>create a new Offering for this Organization The logged in User must be a team member of this Organization</documentation>
      <input message='tns:createANewOfferingForThisOrganizationRequestMessage' name='createANewOfferingForThisOrganizationInput' />
      <output message='tns:createANewOfferingForThisOrganizationResponseMessage' name='createANewOfferingForThisOrganizationOutput' />
    </operation>
    <operation name='createANewOrganization'>
      <documentation>create a new Organization</documentation>
      <input message='tns:createANewOrganizationRequestMessage' name='createANewOrganizationInput' />
      <output message='tns:createANewOrganizationResponseMessage' name='createANewOrganizationOutput' />
    </operation>
    <operation name='crowdValleyApiHealthStatus'>
      <documentation>check the current health status of the Crowd Valley API</documentation>
      <input message='tns:crowdValleyApiHealthStatusRequestMessage' name='crowdValleyApiHealthStatusInput' />
      <output message='tns:crowdValleyApiHealthStatusResponseMessage' name='crowdValleyApiHealthStatusOutput' />
    </operation>
    <operation name='deleteTheOrganizationFromThisNetwork'>
      <documentation>delete the Organization from the network This will only work if the logged in User is a team member of the Organization It will not work if the Organization has any Offerings that do not have status as Canceled</documentation>
      <input message='tns:deleteTheOrganizationFromThisNetworkRequestMessage' name='deleteTheOrganizationFromThisNetworkInput' />
      <output message='tns:deleteTheOrganizationFromThisNetworkResponseMessage' name='deleteTheOrganizationFromThisNetworkOutput' />
    </operation>
    <operation name='informationAboutThisInvestment'>
      <documentation>information about this Investment It will only work if the Investment has visibility set to Open or Anonymous</documentation>
      <input message='tns:informationAboutThisInvestmentRequestMessage' name='informationAboutThisInvestmentInput' />
      <output message='tns:informationAboutThisInvestmentResponseMessage' name='informationAboutThisInvestmentOutput' />
    </operation>
    <operation name='informationAboutThisOffering'>
      <documentation>information about this Offering This will only work if the Offering is visible in the network</documentation>
      <input message='tns:informationAboutThisOfferingRequestMessage' name='informationAboutThisOfferingInput' />
      <output message='tns:informationAboutThisOfferingResponseMessage' name='informationAboutThisOfferingOutput' />
    </operation>
    <operation name='listOfInvestmentsForThisOffering'>
      <documentation>populate a list of Investments for this Offering This can be used to show a list of current investors for this Offering Investments will be shown in full if visibility is set to Open</documentation>
      <input message='tns:listOfInvestmentsForThisOfferingRequestMessage' name='listOfInvestmentsForThisOfferingInput' />
      <output message='tns:listOfInvestmentsForThisOfferingResponseMessage' name='listOfInvestmentsForThisOfferingOutput' />
    </operation>
    <operation name='listOfOfferings'>
      <documentation>populate a live Offerings page or a historical closed deals page Visible Offerings are those with status Restricted Published Live Closing or Settled</documentation>
      <input message='tns:listOfOfferingsRequestMessage' name='listOfOfferingsInput' />
      <output message='tns:listOfOfferingsResponseMessage' name='listOfOfferingsOutput' />
    </operation>
    <operation name='loggedInUserSAccountInformation'>
      <documentation>populate information on an user s private account page</documentation>
      <input message='tns:loggedInUserSAccountInformationRequestMessage' name='loggedInUserSAccountInformationInput' />
      <output message='tns:loggedInUserSAccountInformationResponseMessage' name='loggedInUserSAccountInformationOutput' />
    </operation>
    <operation name='registerANewUser'>
      <documentation>register a new User Implement this as part of your registration form including as much information as you want to collect on the first form User information can be changed or adjusted later using the self endpoint</documentation>
      <input message='tns:registerANewUserRequestMessage' name='registerANewUserInput' />
      <output message='tns:registerANewUserResponseMessage' name='registerANewUserOutput' />
    </operation>
    <operation name='retrieveAListOfOrganizations'>
      <documentation>a list of visible Organizations in the network Implement this to show a list of Organizations that are supporting various deals or that are umbrella entities for various users This will only show Organizations that have visibility set to Open</documentation>
      <input message='tns:retrieveAListOfOrganizationsRequestMessage' name='retrieveAListOfOrganizationsInput' />
      <output message='tns:retrieveAListOfOrganizationsResponseMessage' name='retrieveAListOfOrganizationsOutput' />
    </operation>
    <operation name='retrieveAUserSPublicProfileInformation'>
      <documentation>populate a user s public profile information Implement this to allow the logged in user to see information about other users on the network It will only populate all information if the target user s visibility is set to Open This function will only show public profile information it will not show private account information</documentation>
      <input message='tns:retrieveAUserSPublicProfileInformationRequestMessage' name='retrieveAUserSPublicProfileInformationInput' />
      <output message='tns:retrieveAUserSPublicProfileInformationResponseMessage' name='retrieveAUserSPublicProfileInformationOutput' />
    </operation>
    <operation name='retrieveInformationAboutThisOrganization'>
      <documentation>information about the Organization This will only work if the logged in User is a team member of the Organization or the Organization has visibility set to Open</documentation>
      <input message='tns:retrieveInformationAboutThisOrganizationRequestMessage' name='retrieveInformationAboutThisOrganizationInput' />
      <output message='tns:retrieveInformationAboutThisOrganizationResponseMessage' name='retrieveInformationAboutThisOrganizationOutput' />
    </operation>
    <operation name='retrieveOfferingsForThisOrganization'>
      <documentation>a list of visible Offerings for this Organization Visible Offerings are those with status Restricted Published Live Closing or Settled</documentation>
      <input message='tns:retrieveOfferingsForThisOrganizationRequestMessage' name='retrieveOfferingsForThisOrganizationInput' />
      <output message='tns:retrieveOfferingsForThisOrganizationResponseMessage' name='retrieveOfferingsForThisOrganizationOutput' />
    </operation>
    <operation name='retrieveTheUserSInvestments'>
      <documentation>retrieve a list of the user s investments This will include open investment offers as well as closed investments</documentation>
      <input message='tns:retrieveTheUserSInvestmentsRequestMessage' name='retrieveTheUserSInvestmentsInput' />
      <output message='tns:retrieveTheUserSInvestmentsResponseMessage' name='retrieveTheUserSInvestmentsOutput' />
    </operation>
    <operation name='submitAnInvestment'>
      <documentation>submit an Investment for this Offering This can be used to implement an Invest button on an Offering s page</documentation>
      <input message='tns:submitAnInvestmentRequestMessage' name='submitAnInvestmentInput' />
      <output message='tns:submitAnInvestmentResponseMessage' name='submitAnInvestmentOutput' />
    </operation>
    <operation name='theUserSOrganizations'>
      <documentation>a list of the logged in User s Organizations This could be used to show for which Organization s the User works or for which Organization s the User has created Offerings</documentation>
      <input message='tns:theUserSOrganizationsRequestMessage' name='theUserSOrganizationsInput' />
      <output message='tns:theUserSOrganizationsResponseMessage' name='theUserSOrganizationsOutput' />
    </operation>
    <operation name='updateAUserSProfileInformation'>
      <documentation>update the logged in user s profile information</documentation>
      <input message='tns:updateAUserSProfileInformationRequestMessage' name='updateAUserSProfileInformationInput' />
      <output message='tns:updateAUserSProfileInformationResponseMessage' name='updateAUserSProfileInformationOutput' />
    </operation>
    <operation name='updateAnInvestment'>
      <documentation>update this Investment The Investment must have been made by the logged in User</documentation>
      <input message='tns:updateAnInvestmentRequestMessage' name='updateAnInvestmentInput' />
      <output message='tns:updateAnInvestmentResponseMessage' name='updateAnInvestmentOutput' />
    </operation>
    <operation name='updateTheOfferingSInformation'>
      <documentation>update the Offering s information This will only work if the logged in User is a team member of the Organization for this Offering and the Offering status is Draft</documentation>
      <input message='tns:updateTheOfferingSInformationRequestMessage' name='updateTheOfferingSInformationInput' />
      <output message='tns:updateTheOfferingSInformationResponseMessage' name='updateTheOfferingSInformationOutput' />
    </operation>
    <operation name='updateTheOrganizationSInformation'>
      <documentation>update the Organization s information This will only work if the logged in User is a team member of the Organization</documentation>
      <input message='tns:updateTheOrganizationSInformationRequestMessage' name='updateTheOrganizationSInformationInput' />
      <output message='tns:updateTheOrganizationSInformationResponseMessage' name='updateTheOrganizationSInformationOutput' />
    </operation>
    <operation name='visibleUsersInYourNetwork'>
      <documentation>populate a public listing page of your visible Users Users are visible if they have their Visibility field set to Open</documentation>
      <input message='tns:visibleUsersInYourNetworkRequestMessage' name='visibleUsersInYourNetworkInput' />
      <output message='tns:visibleUsersInYourNetworkResponseMessage' name='visibleUsersInYourNetworkOutput' />
    </operation>
    <operation name='withdrawThisInvestment'>
      <documentation>withdraw this Investment The Investment must have been made by the logged in User</documentation>
      <input message='tns:withdrawThisInvestmentRequestMessage' name='withdrawThisInvestmentInput' />
      <output message='tns:withdrawThisInvestmentResponseMessage' name='withdrawThisInvestmentOutput' />
    </operation>
  </portType>
  <binding name='crowdValleyBinding' type='tns:crowdValleyPortType'>
    <operation name='acceptTermsAndConditions'>
      <soap12:operation soapAction='http://acceptTermsAndConditions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cancelTheOffering'>
      <soap12:operation soapAction='http://cancelTheOffering' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='checkTheStatusOfYourNetwork'>
      <soap12:operation soapAction='http://checkTheStatusOfYourNetwork' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createANewOfferingForThisOrganization'>
      <soap12:operation soapAction='http://createANewOfferingForThisOrganization' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createANewOrganization'>
      <soap12:operation soapAction='http://createANewOrganization' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='crowdValleyApiHealthStatus'>
      <soap12:operation soapAction='http://crowdValleyApiHealthStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteTheOrganizationFromThisNetwork'>
      <soap12:operation soapAction='http://deleteTheOrganizationFromThisNetwork' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='informationAboutThisInvestment'>
      <soap12:operation soapAction='http://informationAboutThisInvestment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='informationAboutThisOffering'>
      <soap12:operation soapAction='http://informationAboutThisOffering' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listOfInvestmentsForThisOffering'>
      <soap12:operation soapAction='http://listOfInvestmentsForThisOffering' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listOfOfferings'>
      <soap12:operation soapAction='http://listOfOfferings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='loggedInUserSAccountInformation'>
      <soap12:operation soapAction='http://loggedInUserSAccountInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='registerANewUser'>
      <soap12:operation soapAction='http://registerANewUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAListOfOrganizations'>
      <soap12:operation soapAction='http://retrieveAListOfOrganizations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAUserSPublicProfileInformation'>
      <soap12:operation soapAction='http://retrieveAUserSPublicProfileInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveInformationAboutThisOrganization'>
      <soap12:operation soapAction='http://retrieveInformationAboutThisOrganization' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveOfferingsForThisOrganization'>
      <soap12:operation soapAction='http://retrieveOfferingsForThisOrganization' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveTheUserSInvestments'>
      <soap12:operation soapAction='http://retrieveTheUserSInvestments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='submitAnInvestment'>
      <soap12:operation soapAction='http://submitAnInvestment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='theUserSOrganizations'>
      <soap12:operation soapAction='http://theUserSOrganizations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAUserSProfileInformation'>
      <soap12:operation soapAction='http://updateAUserSProfileInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAnInvestment'>
      <soap12:operation soapAction='http://updateAnInvestment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateTheOfferingSInformation'>
      <soap12:operation soapAction='http://updateTheOfferingSInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateTheOrganizationSInformation'>
      <soap12:operation soapAction='http://updateTheOrganizationSInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='visibleUsersInYourNetwork'>
      <soap12:operation soapAction='http://visibleUsersInYourNetwork' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='withdrawThisInvestment'>
      <soap12:operation soapAction='http://withdrawThisInvestment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='crowdValley'>
    <documentation>the Crowd Valley API is used to build online platforms and marketplaces globally for managing private placements securities real estate crowdfunding peer to peer lending and public stock trading The public REST API provides an end to end server side application which supports the technical back office requirements for client side applications of various kinds in the online investing and lending markets The Crowd Valley API also contains private financial back office functions and other services which are made available on request</documentation>
    <port name='crowdValleyPort' binding='tns:crowdValleyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://crowdValley' />
    </port>
  </service>
</definitions>