workspace/datasets/mashape_dataset/crunchbase.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/crunchbase/' name='crunchbase' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/crunchbase/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/crunchbase/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/crunchbase/'>
      <xsd:element name='acquisitionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='acquisitionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='www_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='api_path_prefix' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='relationships' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='primary_image' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='websites' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='properties' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='short_description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='launched_on_year' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lifecycle_stage' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='launched_on_month' type='xsd:int' minOccurs='0' />
                        <xsd:element name='owner_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='homepage_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='launched_on_day' type='xsd:int' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='launched_on_trust_code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='launched_on' type='xsd:date' minOccurs='0' />
                        <xsd:element name='permalink' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fundingRoundParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fundingRoundResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='www_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='api_path_prefix' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='relationships' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='primary_image' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='websites' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='properties' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='short_description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='launched_on_year' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lifecycle_stage' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='launched_on_month' type='xsd:int' minOccurs='0' />
                        <xsd:element name='owner_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='homepage_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='launched_on_day' type='xsd:int' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='launched_on_trust_code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='launched_on' type='xsd:date' minOccurs='0' />
                        <xsd:element name='permalink' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fundraiseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fundraiseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='www_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='api_path_prefix' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='relationships' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='primary_image' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='websites' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='properties' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='short_description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='launched_on_year' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lifecycle_stage' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='launched_on_month' type='xsd:int' minOccurs='0' />
                        <xsd:element name='owner_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='homepage_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='launched_on_day' type='xsd:int' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='launched_on_trust_code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='launched_on' type='xsd:date' minOccurs='0' />
                        <xsd:element name='permalink' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='www_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='api_path_prefix' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='relationships' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='primary_image' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='websites' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='properties' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='short_description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='launched_on_year' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lifecycle_stage' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='launched_on_month' type='xsd:int' minOccurs='0' />
                        <xsd:element name='owner_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='homepage_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='launched_on_day' type='xsd:int' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='launched_on_trust_code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='launched_on' type='xsd:date' minOccurs='0' />
                        <xsd:element name='permalink' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='organiationsInCrunchbaseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='order' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='organiationsInCrunchbaseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='www_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='api_path_prefix' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='paging' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='items_per_page' type='xsd:int' minOccurs='0' />
                        <xsd:element name='number_of_pages' type='xsd:int' minOccurs='0' />
                        <xsd:element name='next_page_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='prev_page_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                        <xsd:element name='current_page' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='items' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='peopleInCrunchbaseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='order' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='peopleInCrunchbaseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='www_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='api_path_prefix' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='paging' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='items_per_page' type='xsd:int' minOccurs='0' />
                        <xsd:element name='number_of_pages' type='xsd:int' minOccurs='0' />
                        <xsd:element name='next_page_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='prev_page_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                        <xsd:element name='current_page' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='items' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='order' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='www_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='api_path_prefix' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='paging' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='items_per_page' type='xsd:int' minOccurs='0' />
                        <xsd:element name='number_of_pages' type='xsd:int' minOccurs='0' />
                        <xsd:element name='next_page_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='prev_page_url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                        <xsd:element name='current_page' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='items' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertiesOfOrganizationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='permalink' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertiesOfOrganizationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='www_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='api_path_prefix' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='relationships' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='primary_image' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='news' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='posted_on' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='author' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='images' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='board_members_and_advisors' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='started_on' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='offices' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='street_1' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='city' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='street_2' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='acquired_by' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='announced_on' type='xsd:date' minOccurs='0' />
                                    <xsd:element name='name' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='founders' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='name' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='current_team' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='started_on' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='products' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='name' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='funding_rounds' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='name' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='competitors' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='headquarters' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='street_1' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='street_2' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='past_team' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='ended_on' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='started_on' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='websites' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='categories' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='name' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='properties' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='total_funding_usd' type='xsd:int' minOccurs='0' />
                        <xsd:element name='short_description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='role_company' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='primary_role' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='homepage_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='founded_on_day' type='xsd:int' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='closed_on_trust_code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='number_of_employees' type='xsd:int' minOccurs='0' />
                        <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='founded_on' type='xsd:date' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='founded_on_year' type='xsd:int' minOccurs='0' />
                        <xsd:element name='permalink' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='number_of_investments' type='xsd:int' minOccurs='0' />
                        <xsd:element name='founded_on_trust_code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='founded_on_month' type='xsd:int' minOccurs='0' />
                        <xsd:element name='is_closed' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertiesOfPersonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='permalink' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertiesOfPersonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='www_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='api_path_prefix' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='relationships' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='experience' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='ended_on' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='started_on' type='xsd:date' minOccurs='0' />
                                    <xsd:element name='organization_name' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='organization_path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='primary_affiliation' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='ended_on' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='started_on' type='xsd:date' minOccurs='0' />
                                    <xsd:element name='organization_name' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='properties' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='born_on_day' type='xsd:int' minOccurs='0' />
                        <xsd:element name='born_on_trust_code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='born_on' type='xsd:date' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='born_on_year' type='xsd:int' minOccurs='0' />
                        <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='permalink' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='born_on_month' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertiesOfProductParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='permalink' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertiesOfProductResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='www_path_prefix' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='api_path_prefix' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='relationships' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='primary_image' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='websites' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='paging' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='first_page_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='total_items' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='sort_order' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='properties' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='short_description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='launched_on_year' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lifecycle_stage' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='launched_on_month' type='xsd:int' minOccurs='0' />
                        <xsd:element name='owner_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='homepage_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='launched_on_day' type='xsd:int' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='launched_on_trust_code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='launched_on' type='xsd:date' minOccurs='0' />
                        <xsd:element name='permalink' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='acquisitionRequestMessage'>
    <part name='parameters' element='tns:acquisitionParameters' />
  </message>
  <message name='acquisitionResponseMessage'>
    <part name='response' element='tns:acquisitionResponse' />
  </message>
  <message name='fundingRoundRequestMessage'>
    <part name='parameters' element='tns:fundingRoundParameters' />
  </message>
  <message name='fundingRoundResponseMessage'>
    <part name='response' element='tns:fundingRoundResponse' />
  </message>
  <message name='fundraiseRequestMessage'>
    <part name='parameters' element='tns:fundraiseParameters' />
  </message>
  <message name='fundraiseResponseMessage'>
    <part name='response' element='tns:fundraiseResponse' />
  </message>
  <message name='ipoRequestMessage'>
    <part name='parameters' element='tns:ipoParameters' />
  </message>
  <message name='ipoResponseMessage'>
    <part name='response' element='tns:ipoResponse' />
  </message>
  <message name='organiationsInCrunchbaseRequestMessage'>
    <part name='parameters' element='tns:organiationsInCrunchbaseParameters' />
  </message>
  <message name='organiationsInCrunchbaseResponseMessage'>
    <part name='response' element='tns:organiationsInCrunchbaseResponse' />
  </message>
  <message name='peopleInCrunchbaseRequestMessage'>
    <part name='parameters' element='tns:peopleInCrunchbaseParameters' />
  </message>
  <message name='peopleInCrunchbaseResponseMessage'>
    <part name='response' element='tns:peopleInCrunchbaseResponse' />
  </message>
  <message name='productsRequestMessage'>
    <part name='parameters' element='tns:productsParameters' />
  </message>
  <message name='productsResponseMessage'>
    <part name='response' element='tns:productsResponse' />
  </message>
  <message name='propertiesOfOrganizationRequestMessage'>
    <part name='parameters' element='tns:propertiesOfOrganizationParameters' />
  </message>
  <message name='propertiesOfOrganizationResponseMessage'>
    <part name='response' element='tns:propertiesOfOrganizationResponse' />
  </message>
  <message name='propertiesOfPersonRequestMessage'>
    <part name='parameters' element='tns:propertiesOfPersonParameters' />
  </message>
  <message name='propertiesOfPersonResponseMessage'>
    <part name='response' element='tns:propertiesOfPersonResponse' />
  </message>
  <message name='propertiesOfProductRequestMessage'>
    <part name='parameters' element='tns:propertiesOfProductParameters' />
  </message>
  <message name='propertiesOfProductResponseMessage'>
    <part name='response' element='tns:propertiesOfProductResponse' />
  </message>
  <portType name='crunchbasePortType'>
    <operation name='acquisition'>
      <documentation>this operation returns the properties and relationships of the Acquisition for the given uuid</documentation>
      <input message='tns:acquisitionRequestMessage' name='acquisitionInput' />
      <output message='tns:acquisitionResponseMessage' name='acquisitionOutput' />
    </operation>
    <operation name='fundingRound'>
      <documentation>this operation returns the properties and relationships of the Funding Round for the given uuid</documentation>
      <input message='tns:fundingRoundRequestMessage' name='fundingRoundInput' />
      <output message='tns:fundingRoundResponseMessage' name='fundingRoundOutput' />
    </operation>
    <operation name='fundraise'>
      <documentation>this operation returns the properties and relationships of the Fund Raise for the given uuid</documentation>
      <input message='tns:fundraiseRequestMessage' name='fundraiseInput' />
      <output message='tns:fundraiseResponseMessage' name='fundraiseOutput' />
    </operation>
    <operation name='ipo'>
      <documentation>this operation returns the properties and relationships of the IPO for the given uuid</documentation>
      <input message='tns:ipoRequestMessage' name='ipoInput' />
      <output message='tns:ipoResponseMessage' name='ipoOutput' />
    </operation>
    <operation name='organiationsInCrunchbase'>
      <documentation>this operation returns a paginated list of all Organizations in CrunchBase</documentation>
      <input message='tns:organiationsInCrunchbaseRequestMessage' name='organiationsInCrunchbaseInput' />
      <output message='tns:organiationsInCrunchbaseResponseMessage' name='organiationsInCrunchbaseOutput' />
    </operation>
    <operation name='peopleInCrunchbase'>
      <documentation>this operation returns a paginated list of all People in CrunchBase</documentation>
      <input message='tns:peopleInCrunchbaseRequestMessage' name='peopleInCrunchbaseInput' />
      <output message='tns:peopleInCrunchbaseResponseMessage' name='peopleInCrunchbaseOutput' />
    </operation>
    <operation name='products'>
      <documentation>this operation returns a paginated list of all Products in CrunchBase</documentation>
      <input message='tns:productsRequestMessage' name='productsInput' />
      <output message='tns:productsResponseMessage' name='productsOutput' />
    </operation>
    <operation name='propertiesOfOrganization'>
      <input message='tns:propertiesOfOrganizationRequestMessage' name='propertiesOfOrganizationInput' />
      <output message='tns:propertiesOfOrganizationResponseMessage' name='propertiesOfOrganizationOutput' />
    </operation>
    <operation name='propertiesOfPerson'>
      <documentation>this operation returns the properties and relationships of the Person for the given permalink</documentation>
      <input message='tns:propertiesOfPersonRequestMessage' name='propertiesOfPersonInput' />
      <output message='tns:propertiesOfPersonResponseMessage' name='propertiesOfPersonOutput' />
    </operation>
    <operation name='propertiesOfProduct'>
      <documentation>this operation returns the properties and relationships of the Product for the given permalink</documentation>
      <input message='tns:propertiesOfProductRequestMessage' name='propertiesOfProductInput' />
      <output message='tns:propertiesOfProductResponseMessage' name='propertiesOfProductOutput' />
    </operation>
  </portType>
  <binding name='crunchbaseBinding' type='tns:crunchbasePortType'>
    <operation name='acquisition'>
      <soap12:operation soapAction='http://acquisition' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fundingRound'>
      <soap12:operation soapAction='http://fundingRound' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fundraise'>
      <soap12:operation soapAction='http://fundraise' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ipo'>
      <soap12:operation soapAction='http://ipo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='organiationsInCrunchbase'>
      <soap12:operation soapAction='http://organiationsInCrunchbase' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='peopleInCrunchbase'>
      <soap12:operation soapAction='http://peopleInCrunchbase' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='products'>
      <soap12:operation soapAction='http://products' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='propertiesOfOrganization'>
      <soap12:operation soapAction='http://propertiesOfOrganization' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='propertiesOfPerson'>
      <soap12:operation soapAction='http://propertiesOfPerson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='propertiesOfProduct'>
      <soap12:operation soapAction='http://propertiesOfProduct' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='crunchbase'>
    <documentation>crunchBase is the definitive database of the startup ecosystem The Business Graph connects companies people products events to provide data that you</documentation>
    <port name='crunchbasePort' binding='tns:crunchbaseBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://crunchbase' />
    </port>
  </service>
</definitions>