workspace/datasets/mashape_dataset/currencylayer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/currencylayer/' name='currencylayer' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/currencylayer/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/currencylayer/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/currencylayer/'>
      <xsd:element name='changeEndpointRequestACurrencySChangeParametersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currencies' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='enddate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='source' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startdate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='changeEndpointRequestACurrencySChangeParametersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='convertEndpointConvertAnyAmountFromOneCurrencyToAnotherParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='amount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='convertEndpointConvertAnyAmountFromOneCurrencyToAnotherResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalEndpointRequestExchangeRatesForASpecificDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currencies' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='source' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalEndpointRequestExchangeRatesForASpecificDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listEndpointObtainAJsonListOfAllSupportedCurrenciesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveEndpointRequestTheMostRecentExchangeRatesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currencies' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='source' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveEndpointRequestTheMostRecentExchangeRatesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='error' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='type' type='xsd:int' minOccurs='0' />
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='timeframeEndpointRequestExchangeRatesForASpecifiedTimeframeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currencies' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='enddate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='source' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startdate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='timeframeEndpointRequestExchangeRatesForASpecifiedTimeframeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='changeEndpointRequestACurrencySChangeParametersRequestMessage'>
    <part name='parameters' element='tns:changeEndpointRequestACurrencySChangeParametersParameters' />
  </message>
  <message name='changeEndpointRequestACurrencySChangeParametersResponseMessage'>
    <part name='response' element='tns:changeEndpointRequestACurrencySChangeParametersResponse' />
  </message>
  <message name='convertEndpointConvertAnyAmountFromOneCurrencyToAnotherRequestMessage'>
    <part name='parameters' element='tns:convertEndpointConvertAnyAmountFromOneCurrencyToAnotherParameters' />
  </message>
  <message name='convertEndpointConvertAnyAmountFromOneCurrencyToAnotherResponseMessage'>
    <part name='response' element='tns:convertEndpointConvertAnyAmountFromOneCurrencyToAnotherResponse' />
  </message>
  <message name='historicalEndpointRequestExchangeRatesForASpecificDateRequestMessage'>
    <part name='parameters' element='tns:historicalEndpointRequestExchangeRatesForASpecificDateParameters' />
  </message>
  <message name='historicalEndpointRequestExchangeRatesForASpecificDateResponseMessage'>
    <part name='response' element='tns:historicalEndpointRequestExchangeRatesForASpecificDateResponse' />
  </message>
  <message name='listEndpointObtainAJsonListOfAllSupportedCurrenciesRequestMessage' />
  <message name='listEndpointObtainAJsonListOfAllSupportedCurrenciesResponseMessage'>
    <part name='response' element='tns:listEndpointObtainAJsonListOfAllSupportedCurrenciesResponse' />
  </message>
  <message name='liveEndpointRequestTheMostRecentExchangeRatesRequestMessage'>
    <part name='parameters' element='tns:liveEndpointRequestTheMostRecentExchangeRatesParameters' />
  </message>
  <message name='liveEndpointRequestTheMostRecentExchangeRatesResponseMessage'>
    <part name='response' element='tns:liveEndpointRequestTheMostRecentExchangeRatesResponse' />
  </message>
  <message name='timeframeEndpointRequestExchangeRatesForASpecifiedTimeframeRequestMessage'>
    <part name='parameters' element='tns:timeframeEndpointRequestExchangeRatesForASpecifiedTimeframeParameters' />
  </message>
  <message name='timeframeEndpointRequestExchangeRatesForASpecifiedTimeframeResponseMessage'>
    <part name='response' element='tns:timeframeEndpointRequestExchangeRatesForASpecifiedTimeframeResponse' />
  </message>
  <portType name='currencylayerPortType'>
    <operation name='changeEndpointRequestACurrencySChangeParameters'>
      <documentation>using the change API endpoint you can obtain the change parameters margin and percentage of one or more currencies optionally within a specific time frame Important If you do not specify a time frame change parameters for yesterday to now will be displayed</documentation>
      <input message='tns:changeEndpointRequestACurrencySChangeParametersRequestMessage' name='changeEndpointRequestACurrencySChangeParametersInput' />
      <output message='tns:changeEndpointRequestACurrencySChangeParametersResponseMessage' name='changeEndpointRequestACurrencySChangeParametersOutput' />
    </operation>
    <operation name='convertEndpointConvertAnyAmountFromOneCurrencyToAnother'>
      <documentation>the convert endpoint lets you convert any amount from one currency to another using real time exchange rates If you append an additional date parameter exchange rates of the specified dates will be used for your conversion</documentation>
      <input message='tns:convertEndpointConvertAnyAmountFromOneCurrencyToAnotherRequestMessage' name='convertEndpointConvertAnyAmountFromOneCurrencyToAnotherInput' />
      <output message='tns:convertEndpointConvertAnyAmountFromOneCurrencyToAnotherResponseMessage' name='convertEndpointConvertAnyAmountFromOneCurrencyToAnotherOutput' />
    </operation>
    <operation name='historicalEndpointRequestExchangeRatesForASpecificDate'>
      <documentation>make a request to the API s historical endpoint providing a valid date in the format YYYY MM DD</documentation>
      <input message='tns:historicalEndpointRequestExchangeRatesForASpecificDateRequestMessage' name='historicalEndpointRequestExchangeRatesForASpecificDateInput' />
      <output message='tns:historicalEndpointRequestExchangeRatesForASpecificDateResponseMessage' name='historicalEndpointRequestExchangeRatesForASpecificDateOutput' />
    </operation>
    <operation name='listEndpointObtainAJsonListOfAllSupportedCurrencies'>
      <documentation></documentation>
      <input message='tns:listEndpointObtainAJsonListOfAllSupportedCurrenciesRequestMessage' name='listEndpointObtainAJsonListOfAllSupportedCurrenciesInput' />
      <output message='tns:listEndpointObtainAJsonListOfAllSupportedCurrenciesResponseMessage' name='listEndpointObtainAJsonListOfAllSupportedCurrenciesOutput' />
    </operation>
    <operation name='liveEndpointRequestTheMostRecentExchangeRates'>
      <documentation>making a request to the API s live endpoint will return the most recent exchange rate data available</documentation>
      <input message='tns:liveEndpointRequestTheMostRecentExchangeRatesRequestMessage' name='liveEndpointRequestTheMostRecentExchangeRatesInput' />
      <output message='tns:liveEndpointRequestTheMostRecentExchangeRatesResponseMessage' name='liveEndpointRequestTheMostRecentExchangeRatesOutput' />
    </operation>
    <operation name='timeframeEndpointRequestExchangeRatesForASpecifiedTimeframe'>
      <documentation>appending a valid start date and end date the API s timeframe endpoint will return exchange rates for this specified period</documentation>
      <input message='tns:timeframeEndpointRequestExchangeRatesForASpecifiedTimeframeRequestMessage' name='timeframeEndpointRequestExchangeRatesForASpecifiedTimeframeInput' />
      <output message='tns:timeframeEndpointRequestExchangeRatesForASpecifiedTimeframeResponseMessage' name='timeframeEndpointRequestExchangeRatesForASpecifiedTimeframeOutput' />
    </operation>
  </portType>
  <binding name='currencylayerBinding' type='tns:currencylayerPortType'>
    <operation name='changeEndpointRequestACurrencySChangeParameters'>
      <soap12:operation soapAction='http://changeEndpointRequestACurrencySChangeParameters' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='convertEndpointConvertAnyAmountFromOneCurrencyToAnother'>
      <soap12:operation soapAction='http://convertEndpointConvertAnyAmountFromOneCurrencyToAnother' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='historicalEndpointRequestExchangeRatesForASpecificDate'>
      <soap12:operation soapAction='http://historicalEndpointRequestExchangeRatesForASpecificDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listEndpointObtainAJsonListOfAllSupportedCurrencies'>
      <soap12:operation soapAction='http://listEndpointObtainAJsonListOfAllSupportedCurrencies' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveEndpointRequestTheMostRecentExchangeRates'>
      <soap12:operation soapAction='http://liveEndpointRequestTheMostRecentExchangeRates' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='timeframeEndpointRequestExchangeRatesForASpecifiedTimeframe'>
      <soap12:operation soapAction='http://timeframeEndpointRequestExchangeRatesForASpecifiedTimeframe' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='currencylayer'>
    <documentation>currencylayer provides an easy to integrate REST API with real time and historical exchange rates for world currencies and precious metals delivered in lightweight and highly portable JSON format and compatible with any application framework or language Sign up for your free API Access Key at https currencylayer com product</documentation>
    <port name='currencylayerPort' binding='tns:currencylayerBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://currencylayer' />
    </port>
  </service>
</definitions>