workspace/datasets/mashape_dataset/dailymotion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/dailymotion/' name='dailymotion' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/dailymotion/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/dailymotion/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/dailymotion/'>
      <xsd:element name='userDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='userDetailsRequestMessage'>
    <part name='parameters' element='tns:userDetailsParameters' />
  </message>
  <message name='userDetailsResponseMessage'>
    <part name='response' element='tns:userDetailsResponse' />
  </message>
  <portType name='dailymotionPortType'>
    <operation name='userDetails'>
      <documentation>get user informations</documentation>
      <input message='tns:userDetailsRequestMessage' name='userDetailsInput' />
      <output message='tns:userDetailsResponseMessage' name='userDetailsOutput' />
    </operation>
  </portType>
  <binding name='dailymotionBinding' type='tns:dailymotionPortType'>
    <operation name='userDetails'>
      <soap12:operation soapAction='http://userDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='dailymotion'>
    <documentation>this is a test of using Dailymotion in Mashape I don t represent Dailymotion and I don t work with them There was the first idea of API that I had that s why</documentation>
    <port name='dailymotionPort' binding='tns:dailymotionBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://dailymotion' />
    </port>
  </service>
</definitions>