workspace/datasets/mashape_dataset/dashchassis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/dashChassis/' name='dashChassis' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/dashChassis/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/dashChassis/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/dashChassis/'>
      <xsd:element name='chassisVBumperstickersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='dateEarned' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='bumperStickerImageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='vehicleId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='chassisVRoutesTripidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='tripid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='chassisVRoutesTripidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fuelEfficiency' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='vehicleId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='speed' type='xsd:int' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='chassisVStatsStarttimeStarttimeEndtimeEndtimeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='starttimeendtimeendtime' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='chassisVStatsStarttimeStarttimeEndtimeEndtimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dateStart' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fuelConsumed' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='averageSpeed' type='xsd:int' minOccurs='0' />
            <xsd:element name='dateEnd' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='distanceDriven' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='averageFuelEfficiency' type='xsd:int' minOccurs='0' />
            <xsd:element name='timeDriven' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='chassisVUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='userProfileImageUrl' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='gender' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnits' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='volume' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fuelEfficiency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='temperature' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='overallScore' type='xsd:int' minOccurs='0' />
            <xsd:element name='vehicles' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='cityFuelEfficiency' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='vehicleProfileImageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='fuelType' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='highwayFuelEfficiency' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='model' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='make' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='makeLogoImageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='engineDisplacementLiters' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='currentVehicle' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='cityFuelEfficiency' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='vehicleProfileImageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='fuelType' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='highwayFuelEfficiency' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='model' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='make' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='makeLogoImageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='engineDisplacementLiters' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='chassisVUserTripsStarttimeStarttimeEndtimeEndtimeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='starttimeendtimeendtime' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='chassisVUserTripsStarttimeStarttimeEndtimeEndtimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='endWeatherConditions' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='startAddress' type='xsd:string' minOccurs='0' />
                  <xsd:element name='endMapImageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='dateEnd' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='endLatitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='startWeatherConditionsImageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='startMapImageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='startLatitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='endTemperature' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dateStart' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='stats' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='dateStart' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fuelConsumed' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='averageSpeed' type='xsd:int' minOccurs='0' />
                        <xsd:element name='dateEnd' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='distanceDriven' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='averageFuelEfficiency' type='xsd:int' minOccurs='0' />
                        <xsd:element name='timeDriven' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='startTemperature' type='xsd:int' minOccurs='0' />
                  <xsd:element name='endLongitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='vehicleId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='startLongitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='startWeatherConditions' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='endWeatherConditionsImageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='endAddress' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='nextUrl' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='chassisVBumperstickersRequestMessage' />
  <message name='chassisVBumperstickersResponseMessage'>
    <part name='response' element='tns:chassisVBumperstickersResponse' />
  </message>
  <message name='chassisVRoutesTripidRequestMessage'>
    <part name='parameters' element='tns:chassisVRoutesTripidParameters' />
  </message>
  <message name='chassisVRoutesTripidResponseMessage'>
    <part name='response' element='tns:chassisVRoutesTripidResponse' />
  </message>
  <message name='chassisVStatsStarttimeStarttimeEndtimeEndtimeRequestMessage'>
    <part name='parameters' element='tns:chassisVStatsStarttimeStarttimeEndtimeEndtimeParameters' />
  </message>
  <message name='chassisVStatsStarttimeStarttimeEndtimeEndtimeResponseMessage'>
    <part name='response' element='tns:chassisVStatsStarttimeStarttimeEndtimeEndtimeResponse' />
  </message>
  <message name='chassisVUserRequestMessage' />
  <message name='chassisVUserResponseMessage'>
    <part name='response' element='tns:chassisVUserResponse' />
  </message>
  <message name='chassisVUserTripsStarttimeStarttimeEndtimeEndtimeRequestMessage'>
    <part name='parameters' element='tns:chassisVUserTripsStarttimeStarttimeEndtimeEndtimeParameters' />
  </message>
  <message name='chassisVUserTripsStarttimeStarttimeEndtimeEndtimeResponseMessage'>
    <part name='response' element='tns:chassisVUserTripsStarttimeStarttimeEndtimeEndtimeResponse' />
  </message>
  <portType name='dashChassisPortType'>
    <operation name='chassisVBumperstickers'>
      <documentation>requires user scope https dash by endpoint html endpoint api chassis v bumperstickers</documentation>
      <input message='tns:chassisVBumperstickersRequestMessage' name='chassisVBumperstickersInput' />
      <output message='tns:chassisVBumperstickersResponseMessage' name='chassisVBumperstickersOutput' />
    </operation>
    <operation name='chassisVRoutesTripid'>
      <documentation>requires trips scope https dash by endpoint html endpoint api chassis v routes</documentation>
      <input message='tns:chassisVRoutesTripidRequestMessage' name='chassisVRoutesTripidInput' />
      <output message='tns:chassisVRoutesTripidResponseMessage' name='chassisVRoutesTripidOutput' />
    </operation>
    <operation name='chassisVStatsStarttimeStarttimeEndtimeEndtime'>
      <documentation>requires trips scope https dash by endpoint html endpoint api chassis v stats</documentation>
      <input message='tns:chassisVStatsStarttimeStarttimeEndtimeEndtimeRequestMessage' name='chassisVStatsStarttimeStarttimeEndtimeEndtimeInput' />
      <output message='tns:chassisVStatsStarttimeStarttimeEndtimeEndtimeResponseMessage' name='chassisVStatsStarttimeStarttimeEndtimeEndtimeOutput' />
    </operation>
    <operation name='chassisVUser'>
      <documentation>requires user scope see https dash by endpoint html endpoint api chassis v user</documentation>
      <input message='tns:chassisVUserRequestMessage' name='chassisVUserInput' />
      <output message='tns:chassisVUserResponseMessage' name='chassisVUserOutput' />
    </operation>
    <operation name='chassisVUserTripsStarttimeStarttimeEndtimeEndtime'>
      <documentation>requires trips scope https dash by endpoint html endpoint api chassis v trips</documentation>
      <input message='tns:chassisVUserTripsStarttimeStarttimeEndtimeEndtimeRequestMessage' name='chassisVUserTripsStarttimeStarttimeEndtimeEndtimeInput' />
      <output message='tns:chassisVUserTripsStarttimeStarttimeEndtimeEndtimeResponseMessage' name='chassisVUserTripsStarttimeStarttimeEndtimeEndtimeOutput' />
    </operation>
  </portType>
  <binding name='dashChassisBinding' type='tns:dashChassisPortType'>
    <operation name='chassisVBumperstickers'>
      <soap12:operation soapAction='http://chassisVBumperstickers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='chassisVRoutesTripid'>
      <soap12:operation soapAction='http://chassisVRoutesTripid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='chassisVStatsStarttimeStarttimeEndtimeEndtime'>
      <soap12:operation soapAction='http://chassisVStatsStarttimeStarttimeEndtimeEndtime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='chassisVUser'>
      <soap12:operation soapAction='http://chassisVUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='chassisVUserTripsStarttimeStarttimeEndtimeEndtime'>
      <soap12:operation soapAction='http://chassisVUserTripsStarttimeStarttimeEndtimeEndtime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='dashChassis'>
    <documentation>enabling the Internet of Cars</documentation>
    <port name='dashChassisPort' binding='tns:dashChassisBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://dashChassis' />
    </port>
  </service>
</definitions>