workspace/datasets/mashape_dataset/datafinder.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/datafinder/' name='datafinder' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/datafinder/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/datafinder/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/datafinder/'>
      <xsd:element name='demographicParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dcity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='demail' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dfirst' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dfulladdr' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dlast' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dlat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dlong' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dphone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dstate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dzip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='output' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='service' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='demographicResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='emailAppendParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dcity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='demail' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dfirst' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dfulladdr' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dlast' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dlat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dlong' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dphone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dstate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dzip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='output' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='service' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='emailAppendResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='phoneAppendParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dcity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='demail' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dfirst' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dfulladdr' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dlast' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dlat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dlong' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dphone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dstate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dzip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='output' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='service' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='phoneAppendResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipDemographicAppendParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dzip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='output' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='service' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipDemographicAppendResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipDemographicAppendParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dzip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dzip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='output' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='service' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipDemographicAppendResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='demographicRequestMessage'>
    <part name='parameters' element='tns:demographicParameters' />
  </message>
  <message name='demographicResponseMessage'>
    <part name='response' element='tns:demographicResponse' />
  </message>
  <message name='emailAppendRequestMessage'>
    <part name='parameters' element='tns:emailAppendParameters' />
  </message>
  <message name='emailAppendResponseMessage'>
    <part name='response' element='tns:emailAppendResponse' />
  </message>
  <message name='phoneAppendRequestMessage'>
    <part name='parameters' element='tns:phoneAppendParameters' />
  </message>
  <message name='phoneAppendResponseMessage'>
    <part name='response' element='tns:phoneAppendResponse' />
  </message>
  <message name='zipDemographicAppendRequestMessage'>
    <part name='parameters' element='tns:zipDemographicAppendParameters' />
  </message>
  <message name='zipDemographicAppendResponseMessage'>
    <part name='response' element='tns:zipDemographicAppendResponse' />
  </message>
  <message name='zipDemographicAppendRequestMessage'>
    <part name='parameters' element='tns:zipDemographicAppendParameters' />
  </message>
  <message name='zipDemographicAppendResponseMessage'>
    <part name='response' element='tns:zipDemographicAppendResponse' />
  </message>
  <portType name='datafinderPortType'>
    <operation name='demographic'>
      <documentation>demographic</documentation>
      <input message='tns:demographicRequestMessage' name='demographicInput' />
      <output message='tns:demographicResponseMessage' name='demographicOutput' />
    </operation>
    <operation name='emailAppend'>
      <documentation>email Append</documentation>
      <input message='tns:emailAppendRequestMessage' name='emailAppendInput' />
      <output message='tns:emailAppendResponseMessage' name='emailAppendOutput' />
    </operation>
    <operation name='phoneAppend'>
      <documentation>phone Append</documentation>
      <input message='tns:phoneAppendRequestMessage' name='phoneAppendInput' />
      <output message='tns:phoneAppendResponseMessage' name='phoneAppendOutput' />
    </operation>
    <operation name='zipDemographicAppend'>
      <documentation>zip Demographic Append</documentation>
      <input message='tns:zipDemographicAppendRequestMessage' name='zipDemographicAppendInput' />
      <output message='tns:zipDemographicAppendResponseMessage' name='zipDemographicAppendOutput' />
    </operation>
    <operation name='zipDemographicAppend'>
      <documentation>zip Demographic Append</documentation>
      <input message='tns:zipDemographicAppendRequestMessage' name='zipDemographicAppendInput' />
      <output message='tns:zipDemographicAppendResponseMessage' name='zipDemographicAppendOutput' />
    </operation>
  </portType>
  <binding name='datafinderBinding' type='tns:datafinderPortType'>
    <operation name='demographic'>
      <soap12:operation soapAction='http://demographic' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='emailAppend'>
      <soap12:operation soapAction='http://emailAppend' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='phoneAppend'>
      <soap12:operation soapAction='http://phoneAppend' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='zipDemographicAppend'>
      <soap12:operation soapAction='http://zipDemographicAppend' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='zipDemographicAppend'>
      <soap12:operation soapAction='http://zipDemographicAppend' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='datafinder'>
    <documentation>datafinder helps businesses of all sizes to better understand and connect with their customers engage new prospects and increase revenue We have billions of consumer LifeData attributes including contact data demographic data financial data social data activity interest data email addresses and mobile phone numbers Datafinder s Predictive Scores help provide more insight into your customers additionally our modeling solutions create intelligent prospect lists that ensure you are always maximizing your marketing investment</documentation>
    <port name='datafinderPort' binding='tns:datafinderBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://datafinder' />
    </port>
  </service>
</definitions>