workspace/datasets/mashape_dataset/datafield.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/datafield/' name='datafield' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/datafield/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/datafield/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/datafield/'>
      <xsd:element name='getTokenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createATeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteATeamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteATeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDetailOfSurveyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDetailOfSurveyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getListOfSurveysResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsOfACampaignParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='after' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsOfACampaignResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTeamDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTeamDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='members' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listItemsInAnAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getTokenRequestMessage' />
  <message name='getTokenResponseMessage'>
    <part name='response' element='tns:getTokenResponse' />
  </message>
  <message name='createATeamRequestMessage' />
  <message name='createATeamResponseMessage'>
    <part name='response' element='tns:createATeamResponse' />
  </message>
  <message name='createAUserRequestMessage' />
  <message name='createAUserResponseMessage'>
    <part name='response' element='tns:createAUserResponse' />
  </message>
  <message name='deleteATeamRequestMessage'>
    <part name='parameters' element='tns:deleteATeamParameters' />
  </message>
  <message name='deleteATeamResponseMessage'>
    <part name='response' element='tns:deleteATeamResponse' />
  </message>
  <message name='deleteAUserRequestMessage'>
    <part name='parameters' element='tns:deleteAUserParameters' />
  </message>
  <message name='deleteAUserResponseMessage'>
    <part name='response' element='tns:deleteAUserResponse' />
  </message>
  <message name='detailsOfAUserRequestMessage'>
    <part name='parameters' element='tns:detailsOfAUserParameters' />
  </message>
  <message name='detailsOfAUserResponseMessage'>
    <part name='response' element='tns:detailsOfAUserResponse' />
  </message>
  <message name='getDetailOfSurveyRequestMessage'>
    <part name='parameters' element='tns:getDetailOfSurveyParameters' />
  </message>
  <message name='getDetailOfSurveyResponseMessage'>
    <part name='response' element='tns:getDetailOfSurveyResponse' />
  </message>
  <message name='getListOfSurveysRequestMessage' />
  <message name='getListOfSurveysResponseMessage'>
    <part name='response' element='tns:getListOfSurveysResponse' />
  </message>
  <message name='getResultsOfACampaignRequestMessage'>
    <part name='parameters' element='tns:getResultsOfACampaignParameters' />
  </message>
  <message name='getResultsOfACampaignResponseMessage'>
    <part name='response' element='tns:getResultsOfACampaignResponse' />
  </message>
  <message name='getTeamDetailsRequestMessage'>
    <part name='parameters' element='tns:getTeamDetailsParameters' />
  </message>
  <message name='getTeamDetailsResponseMessage'>
    <part name='response' element='tns:getTeamDetailsResponse' />
  </message>
  <message name='listItemsInAnAccountRequestMessage' />
  <message name='listItemsInAnAccountResponseMessage'>
    <part name='response' element='tns:listItemsInAnAccountResponse' />
  </message>
  <message name='listUsersRequestMessage' />
  <message name='listUsersResponseMessage'>
    <part name='response' element='tns:listUsersResponse' />
  </message>
  <portType name='datafieldPortType'>
    <operation name='getToken'>
      <documentation>a token is mandatory to call an API successfully The provided user must be an account admin</documentation>
      <input message='tns:getTokenRequestMessage' name='getTokenInput' />
      <output message='tns:getTokenResponseMessage' name='getTokenOutput' />
    </operation>
    <operation name='createATeam'>
      <documentation>create a team</documentation>
      <input message='tns:createATeamRequestMessage' name='createATeamInput' />
      <output message='tns:createATeamResponseMessage' name='createATeamOutput' />
    </operation>
    <operation name='createAUser'>
      <documentation>create a user</documentation>
      <input message='tns:createAUserRequestMessage' name='createAUserInput' />
      <output message='tns:createAUserResponseMessage' name='createAUserOutput' />
    </operation>
    <operation name='deleteATeam'>
      <documentation>delete a team</documentation>
      <input message='tns:deleteATeamRequestMessage' name='deleteATeamInput' />
      <output message='tns:deleteATeamResponseMessage' name='deleteATeamOutput' />
    </operation>
    <operation name='deleteAUser'>
      <documentation>delete a user</documentation>
      <input message='tns:deleteAUserRequestMessage' name='deleteAUserInput' />
      <output message='tns:deleteAUserResponseMessage' name='deleteAUserOutput' />
    </operation>
    <operation name='detailsOfAUser'>
      <documentation>get details of a user</documentation>
      <input message='tns:detailsOfAUserRequestMessage' name='detailsOfAUserInput' />
      <output message='tns:detailsOfAUserResponseMessage' name='detailsOfAUserOutput' />
    </operation>
    <operation name='getDetailOfSurvey'>
      <documentation>get the details of a survey where you know the SurveyID</documentation>
      <input message='tns:getDetailOfSurveyRequestMessage' name='getDetailOfSurveyInput' />
      <output message='tns:getDetailOfSurveyResponseMessage' name='getDetailOfSurveyOutput' />
    </operation>
    <operation name='getListOfSurveys'>
      <documentation>get the list of Surveys for your account</documentation>
      <input message='tns:getListOfSurveysRequestMessage' name='getListOfSurveysInput' />
      <output message='tns:getListOfSurveysResponseMessage' name='getListOfSurveysOutput' />
    </operation>
    <operation name='getResultsOfACampaign'>
      <documentation>get results of a campaign</documentation>
      <input message='tns:getResultsOfACampaignRequestMessage' name='getResultsOfACampaignInput' />
      <output message='tns:getResultsOfACampaignResponseMessage' name='getResultsOfACampaignOutput' />
    </operation>
    <operation name='getTeamDetails'>
      <documentation>get team details</documentation>
      <input message='tns:getTeamDetailsRequestMessage' name='getTeamDetailsInput' />
      <output message='tns:getTeamDetailsResponseMessage' name='getTeamDetailsOutput' />
    </operation>
    <operation name='listItemsInAnAccount'>
      <documentation>list items in an account</documentation>
      <input message='tns:listItemsInAnAccountRequestMessage' name='listItemsInAnAccountInput' />
      <output message='tns:listItemsInAnAccountResponseMessage' name='listItemsInAnAccountOutput' />
    </operation>
    <operation name='listUsers'>
      <documentation>list users from an account</documentation>
      <input message='tns:listUsersRequestMessage' name='listUsersInput' />
      <output message='tns:listUsersResponseMessage' name='listUsersOutput' />
    </operation>
  </portType>
  <binding name='datafieldBinding' type='tns:datafieldPortType'>
    <operation name='getToken'>
      <soap12:operation soapAction='http://getToken' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createATeam'>
      <soap12:operation soapAction='http://createATeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAUser'>
      <soap12:operation soapAction='http://createAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteATeam'>
      <soap12:operation soapAction='http://deleteATeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAUser'>
      <soap12:operation soapAction='http://deleteAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detailsOfAUser'>
      <soap12:operation soapAction='http://detailsOfAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDetailOfSurvey'>
      <soap12:operation soapAction='http://getDetailOfSurvey' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getListOfSurveys'>
      <soap12:operation soapAction='http://getListOfSurveys' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getResultsOfACampaign'>
      <soap12:operation soapAction='http://getResultsOfACampaign' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTeamDetails'>
      <soap12:operation soapAction='http://getTeamDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listItemsInAnAccount'>
      <soap12:operation soapAction='http://listItemsInAnAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listUsers'>
      <soap12:operation soapAction='http://listUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='datafield'>
    <documentation>cOMPLETE FORMS AND SURVEY ON MOBILE EVEN OFFLINE AND PLUG DATA COLLECTED TO YOUR SYSTEM WITH OUR API Create and publish your forms and surveys on Datafield mobile application for iPhone iPad and Android and start collecting on site data in real time Datafield s mobile form builder is trusted by small medium and large corporation worldwide</documentation>
    <port name='datafieldPort' binding='tns:datafieldBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://datafield' />
    </port>
  </service>
</definitions>