workspace/datasets/mashape_dataset/daywatch.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/daywatch/' name='daywatch' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/daywatch/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/daywatch/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/daywatch/'>
      <xsd:element name='apiSummaryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='argentinaDealsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cityicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='descriptionicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='discountrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='merchantnameicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offericontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pricerange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='priceusdrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='soldcountrange' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='argentinaDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='price_usd' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='is_main_deal' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='merchant_email' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_city' type='xsd:int' minOccurs='0' />
            <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='discount' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_lon' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='offer' type='xsd:string' minOccurs='0' />
            <xsd:element name='total_sales_usd' type='xsd:int' minOccurs='0' />
            <xsd:element name='price' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shows_sold_count' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_address' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_postcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='merchant_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_lat' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='merchant_website' type='xsd:int' minOccurs='0' />
            <xsd:element name='offer_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='category' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='start_date_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sold_count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brasilDealsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cityicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='descriptionicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='discountrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='merchantnameicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offericontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pricerange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='priceusdrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='soldcountrange' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brasilDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='price_usd' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='is_main_deal' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='merchant_email' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_city' type='xsd:int' minOccurs='0' />
            <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='discount' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_lon' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='offer' type='xsd:string' minOccurs='0' />
            <xsd:element name='total_sales_usd' type='xsd:int' minOccurs='0' />
            <xsd:element name='price' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shows_sold_count' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_address' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_postcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='merchant_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_lat' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='merchant_website' type='xsd:int' minOccurs='0' />
            <xsd:element name='offer_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='category' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='start_date_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sold_count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='chileDealsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cityicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='descriptionicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='discountrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='merchantnameicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offericontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pricerange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='priceusdrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='soldcountrange' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='chileDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='price_usd' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='is_main_deal' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='merchant_email' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_city' type='xsd:int' minOccurs='0' />
            <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='discount' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_lon' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='offer' type='xsd:string' minOccurs='0' />
            <xsd:element name='total_sales_usd' type='xsd:int' minOccurs='0' />
            <xsd:element name='price' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shows_sold_count' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_address' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_postcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='merchant_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_lat' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='merchant_website' type='xsd:int' minOccurs='0' />
            <xsd:element name='offer_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='category' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='start_date_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sold_count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='colombiaDealsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cityicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='descriptionicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='discountrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='merchantnameicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offericontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pricerange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='priceusdrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='soldcountrange' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='colombiaDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='price_usd' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='is_main_deal' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='merchant_email' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_city' type='xsd:int' minOccurs='0' />
            <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='discount' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_lon' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='offer' type='xsd:string' minOccurs='0' />
            <xsd:element name='total_sales_usd' type='xsd:int' minOccurs='0' />
            <xsd:element name='price' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shows_sold_count' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_address' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_postcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='merchant_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_lat' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='merchant_website' type='xsd:int' minOccurs='0' />
            <xsd:element name='offer_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='category' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='start_date_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sold_count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='companiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='companiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='shows_sold_count' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mexicoDealsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cityicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='descriptionicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='discountrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='merchantnameicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offericontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pricerange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='priceusdrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='soldcountrange' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mexicoDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='price_usd' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='is_main_deal' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='merchant_email' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_city' type='xsd:int' minOccurs='0' />
            <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='discount' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_lon' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='offer' type='xsd:string' minOccurs='0' />
            <xsd:element name='total_sales_usd' type='xsd:int' minOccurs='0' />
            <xsd:element name='price' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shows_sold_count' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_address' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_postcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='merchant_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_lat' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='merchant_website' type='xsd:int' minOccurs='0' />
            <xsd:element name='offer_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='category' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='start_date_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sold_count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='peruDealsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cityicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='descriptionicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='discountrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='merchantnameicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offericontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pricerange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='priceusdrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='soldcountrange' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='peruDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='price_usd' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='is_main_deal' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='merchant_email' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_city' type='xsd:int' minOccurs='0' />
            <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='discount' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_lon' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='offer' type='xsd:string' minOccurs='0' />
            <xsd:element name='total_sales_usd' type='xsd:int' minOccurs='0' />
            <xsd:element name='price' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shows_sold_count' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_address' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_postcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='merchant_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_lat' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='merchant_website' type='xsd:int' minOccurs='0' />
            <xsd:element name='offer_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='category' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='start_date_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sold_count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uruguayDealsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cityicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='descriptionicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='discountrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='merchantnameicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offericontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pricerange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='priceusdrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='soldcountrange' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uruguayDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='price_usd' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='is_main_deal' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='merchant_email' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_city' type='xsd:int' minOccurs='0' />
            <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='discount' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_lon' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='offer' type='xsd:string' minOccurs='0' />
            <xsd:element name='total_sales_usd' type='xsd:int' minOccurs='0' />
            <xsd:element name='price' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shows_sold_count' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_address' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_postcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='merchant_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_lat' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='merchant_website' type='xsd:int' minOccurs='0' />
            <xsd:element name='offer_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='category' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='start_date_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sold_count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usaDealsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cityicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='descriptionicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='discountrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='merchantnameicontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offericontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pricerange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='priceusdrange' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='soldcountrange' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usaDealsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='price_usd' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='is_main_deal' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='merchant_email' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_city' type='xsd:int' minOccurs='0' />
            <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='discount' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_lon' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='offer' type='xsd:string' minOccurs='0' />
            <xsd:element name='total_sales_usd' type='xsd:int' minOccurs='0' />
            <xsd:element name='price' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shows_sold_count' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='merchant_address' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_postcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='merchant_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='merchant_lat' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='merchant_website' type='xsd:int' minOccurs='0' />
            <xsd:element name='offer_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='category' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='start_date_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sold_count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='apiSummaryRequestMessage' />
  <message name='apiSummaryResponseMessage'>
    <part name='response' element='tns:apiSummaryResponse' />
  </message>
  <message name='argentinaDealsRequestMessage'>
    <part name='parameters' element='tns:argentinaDealsParameters' />
  </message>
  <message name='argentinaDealsResponseMessage'>
    <part name='response' element='tns:argentinaDealsResponse' />
  </message>
  <message name='brasilDealsRequestMessage'>
    <part name='parameters' element='tns:brasilDealsParameters' />
  </message>
  <message name='brasilDealsResponseMessage'>
    <part name='response' element='tns:brasilDealsResponse' />
  </message>
  <message name='categoriesRequestMessage'>
    <part name='parameters' element='tns:categoriesParameters' />
  </message>
  <message name='categoriesResponseMessage'>
    <part name='response' element='tns:categoriesResponse' />
  </message>
  <message name='chileDealsRequestMessage'>
    <part name='parameters' element='tns:chileDealsParameters' />
  </message>
  <message name='chileDealsResponseMessage'>
    <part name='response' element='tns:chileDealsResponse' />
  </message>
  <message name='colombiaDealsRequestMessage'>
    <part name='parameters' element='tns:colombiaDealsParameters' />
  </message>
  <message name='colombiaDealsResponseMessage'>
    <part name='response' element='tns:colombiaDealsResponse' />
  </message>
  <message name='companiesRequestMessage'>
    <part name='parameters' element='tns:companiesParameters' />
  </message>
  <message name='companiesResponseMessage'>
    <part name='response' element='tns:companiesResponse' />
  </message>
  <message name='mexicoDealsRequestMessage'>
    <part name='parameters' element='tns:mexicoDealsParameters' />
  </message>
  <message name='mexicoDealsResponseMessage'>
    <part name='response' element='tns:mexicoDealsResponse' />
  </message>
  <message name='peruDealsRequestMessage'>
    <part name='parameters' element='tns:peruDealsParameters' />
  </message>
  <message name='peruDealsResponseMessage'>
    <part name='response' element='tns:peruDealsResponse' />
  </message>
  <message name='uruguayDealsRequestMessage'>
    <part name='parameters' element='tns:uruguayDealsParameters' />
  </message>
  <message name='uruguayDealsResponseMessage'>
    <part name='response' element='tns:uruguayDealsResponse' />
  </message>
  <message name='usaDealsRequestMessage'>
    <part name='parameters' element='tns:usaDealsParameters' />
  </message>
  <message name='usaDealsResponseMessage'>
    <part name='response' element='tns:usaDealsResponse' />
  </message>
  <portType name='daywatchPortType'>
    <operation name='apiSummary'>
      <documentation>resources list</documentation>
      <input message='tns:apiSummaryRequestMessage' name='apiSummaryInput' />
      <output message='tns:apiSummaryResponseMessage' name='apiSummaryOutput' />
    </operation>
    <operation name='argentinaDeals'>
      <documentation>currently active daily deals in Argentina</documentation>
      <input message='tns:argentinaDealsRequestMessage' name='argentinaDealsInput' />
      <output message='tns:argentinaDealsResponseMessage' name='argentinaDealsOutput' />
    </operation>
    <operation name='brasilDeals'>
      <documentation>currently active daily deals in Brasil</documentation>
      <input message='tns:brasilDealsRequestMessage' name='brasilDealsInput' />
      <output message='tns:brasilDealsResponseMessage' name='brasilDealsOutput' />
    </operation>
    <operation name='categories'>
      <documentation>list of categories for deals</documentation>
      <input message='tns:categoriesRequestMessage' name='categoriesInput' />
      <output message='tns:categoriesResponseMessage' name='categoriesOutput' />
    </operation>
    <operation name='chileDeals'>
      <documentation>currently active daily deals in Chile</documentation>
      <input message='tns:chileDealsRequestMessage' name='chileDealsInput' />
      <output message='tns:chileDealsResponseMessage' name='chileDealsOutput' />
    </operation>
    <operation name='colombiaDeals'>
      <documentation>currently active daily deals in Colombia</documentation>
      <input message='tns:colombiaDealsRequestMessage' name='colombiaDealsInput' />
      <output message='tns:colombiaDealsResponseMessage' name='colombiaDealsOutput' />
    </operation>
    <operation name='companies'>
      <documentation>companies monitored by DayWatch</documentation>
      <input message='tns:companiesRequestMessage' name='companiesInput' />
      <output message='tns:companiesResponseMessage' name='companiesOutput' />
    </operation>
    <operation name='mexicoDeals'>
      <documentation>currently active daily deals in Mexico</documentation>
      <input message='tns:mexicoDealsRequestMessage' name='mexicoDealsInput' />
      <output message='tns:mexicoDealsResponseMessage' name='mexicoDealsOutput' />
    </operation>
    <operation name='peruDeals'>
      <documentation>currently active daily deals in Peru</documentation>
      <input message='tns:peruDealsRequestMessage' name='peruDealsInput' />
      <output message='tns:peruDealsResponseMessage' name='peruDealsOutput' />
    </operation>
    <operation name='uruguayDeals'>
      <documentation>currently active daily deals in Uruguay</documentation>
      <input message='tns:uruguayDealsRequestMessage' name='uruguayDealsInput' />
      <output message='tns:uruguayDealsResponseMessage' name='uruguayDealsOutput' />
    </operation>
    <operation name='usaDeals'>
      <documentation>currently active daily deals in the United States of America</documentation>
      <input message='tns:usaDealsRequestMessage' name='usaDealsInput' />
      <output message='tns:usaDealsResponseMessage' name='usaDealsOutput' />
    </operation>
  </portType>
  <binding name='daywatchBinding' type='tns:daywatchPortType'>
    <operation name='apiSummary'>
      <soap12:operation soapAction='http://apiSummary' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='argentinaDeals'>
      <soap12:operation soapAction='http://argentinaDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='brasilDeals'>
      <soap12:operation soapAction='http://brasilDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categories'>
      <soap12:operation soapAction='http://categories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='chileDeals'>
      <soap12:operation soapAction='http://chileDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='colombiaDeals'>
      <soap12:operation soapAction='http://colombiaDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='companies'>
      <soap12:operation soapAction='http://companies' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mexicoDeals'>
      <soap12:operation soapAction='http://mexicoDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='peruDeals'>
      <soap12:operation soapAction='http://peruDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='uruguayDeals'>
      <soap12:operation soapAction='http://uruguayDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='usaDeals'>
      <soap12:operation soapAction='http://usaDeals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='daywatch'>
    <documentation>dayWatch s API provides powerful data access to real time daily deal and coupons data in USA Latin America and South East Asia Search deals per country location category and activity About DayWatch DayWatch is the ultimate real time business reporting and decision support tool for Daily Deal companies Industry reports analytics insights metrics market penetration market shares business performance every moment at anytime All integrated into a web portal http www usedaywatch com A Product Powered by tryolabs com</documentation>
    <port name='daywatchPort' binding='tns:daywatchBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://daywatch' />
    </port>
  </service>
</definitions>