workspace/datasets/mashape_dataset/dealdatanet.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/dealdataNet/' name='dealdataNet' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/dealdataNet/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/dealdataNet/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/dealdataNet/'>
      <xsd:element name='brokerProfileFromBrokerIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='brokerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brokerProfileFromBrokerIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='filings' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='companies' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='cik' type='xsd:int' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='brokers' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='address' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='statedesc' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='city' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='street1' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='street2' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='bdCRDNumber' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='recipientName' type='xsd:string' minOccurs='0' />
                              <xsd:element name='bdName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='recipientCRDNumber' type='xsd:int' minOccurs='0' />
                              <xsd:element name='idbrokers' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='filinginfo' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='offeringAmountClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='filingDate' type='xsd:date' minOccurs='0' />
                              <xsd:element name='firstSaleDate' type='xsd:date' minOccurs='0' />
                              <xsd:element name='isAmendment' type='xsd:int' minOccurs='0' />
                              <xsd:element name='industry' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isSecurityToBeAcquired' type='xsd:int' minOccurs='0' />
                              <xsd:element name='minimumInvestment' type='xsd:int' minOccurs='0' />
                              <xsd:element name='idfilings' type='xsd:int' minOccurs='0' />
                              <xsd:element name='salesCommissionIsEstimate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='is40Act' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOptionToAcquire' type='xsd:int' minOccurs='0' />
                              <xsd:element name='totalAmountSold' type='xsd:int' minOccurs='0' />
                              <xsd:element name='grossProceedsUsedIsEstimate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='totalOfferingAmount' type='xsd:int' minOccurs='0' />
                              <xsd:element name='filingType' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='isPooledInvestmentFund' type='xsd:int' minOccurs='0' />
                              <xsd:element name='idofferings' type='xsd:int' minOccurs='0' />
                              <xsd:element name='aggregateNetAssetValueRange' type='xsd:string' minOccurs='0' />
                              <xsd:element name='findersFeesIsEstimate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='grossProceedsUsed' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOver100People' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOver100Recipients' type='xsd:int' minOccurs='0' />
                              <xsd:element name='salesCommissionAmount' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isSignatureAuthorizedRepresentative' type='xsd:int' minOccurs='0' />
                              <xsd:element name='investmentFundType' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isMineralProperty' type='xsd:int' minOccurs='0' />
                              <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='totalRemaining' type='xsd:int' minOccurs='0' />
                              <xsd:element name='salesCommissionFindersFeeClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isBusinessCombination' type='xsd:int' minOccurs='0' />
                              <xsd:element name='revenueRange' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isTenantInCommon' type='xsd:int' minOccurs='0' />
                              <xsd:element name='businessCombinationClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isOfferingMoreThanOneYear' type='xsd:int' minOccurs='0' />
                              <xsd:element name='industryGroupType' type='xsd:string' minOccurs='0' />
                              <xsd:element name='useOfProceedsClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isEquity' type='xsd:int' minOccurs='0' />
                              <xsd:element name='numberAlreadyInvested' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isDebt' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOther' type='xsd:int' minOccurs='0' />
                              <xsd:element name='otherDescription' type='xsd:string' minOccurs='0' />
                              <xsd:element name='nonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                              <xsd:element name='hasNonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                              <xsd:element name='findersFeesAmount' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='people' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='middlename' type='xsd:string' minOccurs='0' />
                              <xsd:element name='personid' type='xsd:int' minOccurs='0' />
                              <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='address' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='statedesc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='city' type='xsd:string' minOccurs='0' />
                        <xsd:element name='street1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='street2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='bdCRDNumber' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recipientName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='bdName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recipientCRDNumber' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brokerProfileFromCrdNumberParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='crdnumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brokerProfileFromCrdNumberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='filings' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='companies' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='cik' type='xsd:int' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='brokers' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='address' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='statedesc' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='city' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='street1' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='street2' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='bdCRDNumber' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='recipientName' type='xsd:string' minOccurs='0' />
                              <xsd:element name='bdName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='recipientCRDNumber' type='xsd:int' minOccurs='0' />
                              <xsd:element name='idbrokers' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='filinginfo' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='offeringAmountClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='filingDate' type='xsd:date' minOccurs='0' />
                              <xsd:element name='firstSaleDate' type='xsd:date' minOccurs='0' />
                              <xsd:element name='isAmendment' type='xsd:int' minOccurs='0' />
                              <xsd:element name='industry' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isSecurityToBeAcquired' type='xsd:int' minOccurs='0' />
                              <xsd:element name='minimumInvestment' type='xsd:int' minOccurs='0' />
                              <xsd:element name='idfilings' type='xsd:int' minOccurs='0' />
                              <xsd:element name='salesCommissionIsEstimate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='is40Act' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOptionToAcquire' type='xsd:int' minOccurs='0' />
                              <xsd:element name='totalAmountSold' type='xsd:int' minOccurs='0' />
                              <xsd:element name='grossProceedsUsedIsEstimate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='totalOfferingAmount' type='xsd:int' minOccurs='0' />
                              <xsd:element name='filingType' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='isPooledInvestmentFund' type='xsd:int' minOccurs='0' />
                              <xsd:element name='idofferings' type='xsd:int' minOccurs='0' />
                              <xsd:element name='aggregateNetAssetValueRange' type='xsd:string' minOccurs='0' />
                              <xsd:element name='findersFeesIsEstimate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='grossProceedsUsed' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOver100People' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOver100Recipients' type='xsd:int' minOccurs='0' />
                              <xsd:element name='salesCommissionAmount' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isSignatureAuthorizedRepresentative' type='xsd:int' minOccurs='0' />
                              <xsd:element name='investmentFundType' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isMineralProperty' type='xsd:int' minOccurs='0' />
                              <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='totalRemaining' type='xsd:int' minOccurs='0' />
                              <xsd:element name='salesCommissionFindersFeeClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isBusinessCombination' type='xsd:int' minOccurs='0' />
                              <xsd:element name='revenueRange' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isTenantInCommon' type='xsd:int' minOccurs='0' />
                              <xsd:element name='businessCombinationClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isOfferingMoreThanOneYear' type='xsd:int' minOccurs='0' />
                              <xsd:element name='industryGroupType' type='xsd:string' minOccurs='0' />
                              <xsd:element name='useOfProceedsClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isEquity' type='xsd:int' minOccurs='0' />
                              <xsd:element name='numberAlreadyInvested' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isDebt' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOther' type='xsd:int' minOccurs='0' />
                              <xsd:element name='otherDescription' type='xsd:string' minOccurs='0' />
                              <xsd:element name='nonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                              <xsd:element name='hasNonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                              <xsd:element name='findersFeesAmount' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='people' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='middlename' type='xsd:string' minOccurs='0' />
                              <xsd:element name='personid' type='xsd:int' minOccurs='0' />
                              <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='address' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='statedesc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='city' type='xsd:string' minOccurs='0' />
                        <xsd:element name='street1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='street2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='bdCRDNumber' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recipientName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='bdName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recipientCRDNumber' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brokerSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brokerSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='bdCRDNumber' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recipientName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='bdName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recipientCRDNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='idbrokers' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='companyProfileFromCikParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cik' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='companyProfileFromCikResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='amtraised' type='xsd:int' minOccurs='0' />
                  <xsd:element name='filings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='offeringAmountClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='brokers' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='brokerid' type='xsd:int' minOccurs='0' />
                              <xsd:element name='address' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='statedesc' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='city' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='street1' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='street2' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='bdCRDNumber' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='recipientName' type='xsd:string' minOccurs='0' />
                              <xsd:element name='bdName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='recipientCRDNumber' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='filingDate' type='xsd:date' minOccurs='0' />
                        <xsd:element name='firstSaleDate' type='xsd:date' minOccurs='0' />
                        <xsd:element name='isAmendment' type='xsd:int' minOccurs='0' />
                        <xsd:element name='industry' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isSecurityToBeAcquired' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minimumInvestment' type='xsd:int' minOccurs='0' />
                        <xsd:element name='idfilings' type='xsd:int' minOccurs='0' />
                        <xsd:element name='salesCommissionIsEstimate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='is40Act' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOptionToAcquire' type='xsd:int' minOccurs='0' />
                        <xsd:element name='totalAmountSold' type='xsd:int' minOccurs='0' />
                        <xsd:element name='grossProceedsUsedIsEstimate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='totalOfferingAmount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='filingType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isPooledInvestmentFund' type='xsd:int' minOccurs='0' />
                        <xsd:element name='idofferings' type='xsd:int' minOccurs='0' />
                        <xsd:element name='aggregateNetAssetValueRange' type='xsd:string' minOccurs='0' />
                        <xsd:element name='findersFeesIsEstimate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='grossProceedsUsed' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOver100People' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOver100Recipients' type='xsd:int' minOccurs='0' />
                        <xsd:element name='salesCommissionAmount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isSignatureAuthorizedRepresentative' type='xsd:int' minOccurs='0' />
                        <xsd:element name='investmentFundType' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isMineralProperty' type='xsd:int' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='totalRemaining' type='xsd:int' minOccurs='0' />
                        <xsd:element name='salesCommissionFindersFeeClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isBusinessCombination' type='xsd:int' minOccurs='0' />
                        <xsd:element name='revenueRange' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isTenantInCommon' type='xsd:int' minOccurs='0' />
                        <xsd:element name='businessCombinationClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isOfferingMoreThanOneYear' type='xsd:int' minOccurs='0' />
                        <xsd:element name='industryGroupType' type='xsd:string' minOccurs='0' />
                        <xsd:element name='useOfProceedsClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isEquity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='numberAlreadyInvested' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isDebt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOther' type='xsd:int' minOccurs='0' />
                        <xsd:element name='otherDescription' type='xsd:string' minOccurs='0' />
                        <xsd:element name='nonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                        <xsd:element name='hasNonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                        <xsd:element name='findersFeesAmount' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='company' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='addresses' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                              <xsd:element name='statedesc' type='xsd:string' minOccurs='0' />
                              <xsd:element name='city' type='xsd:string' minOccurs='0' />
                              <xsd:element name='street1' type='xsd:string' minOccurs='0' />
                              <xsd:element name='street2' type='xsd:string' minOccurs='0' />
                              <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='entitytype' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='phonenumbers' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='jurisdictionincorporated' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yearincorporated' type='xsd:int' minOccurs='0' />
                        <xsd:element name='companynames' type='xsd:string' minOccurs='0' />
                        <xsd:element name='iscompany' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
                        <xsd:element name='isfund' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='people' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='middlename' type='xsd:string' minOccurs='0' />
                        <xsd:element name='personid' type='xsd:int' minOccurs='0' />
                        <xsd:element name='titles' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='relatedcompanies' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='cik' type='xsd:int' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='rounds' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='businesscombination' type='xsd:int' minOccurs='0' />
                        <xsd:element name='optiontoacquire' type='xsd:int' minOccurs='0' />
                        <xsd:element name='opendate' type='xsd:date' minOccurs='0' />
                        <xsd:element name='amountsold' type='xsd:int' minOccurs='0' />
                        <xsd:element name='equity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='debt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='roundsize' type='xsd:int' minOccurs='0' />
                        <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='companyFundSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='namefragment' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='companyFundSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='addresses' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='city' type='xsd:string' minOccurs='0' />
                        <xsd:element name='street1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='street2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='cik' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='filingFeedSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='amounthigh' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='amountlow' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='first' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='function' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='filingFeedSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='companies' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='cik' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='filinginfo' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='offeringAmountClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='filingDate' type='xsd:date' minOccurs='0' />
                        <xsd:element name='firstSaleDate' type='xsd:date' minOccurs='0' />
                        <xsd:element name='isAmendment' type='xsd:int' minOccurs='0' />
                        <xsd:element name='industry' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isSecurityToBeAcquired' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minimumInvestment' type='xsd:int' minOccurs='0' />
                        <xsd:element name='idfilings' type='xsd:int' minOccurs='0' />
                        <xsd:element name='salesCommissionIsEstimate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='is40Act' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOptionToAcquire' type='xsd:int' minOccurs='0' />
                        <xsd:element name='totalAmountSold' type='xsd:int' minOccurs='0' />
                        <xsd:element name='grossProceedsUsedIsEstimate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='totalOfferingAmount' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='filingType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isPooledInvestmentFund' type='xsd:int' minOccurs='0' />
                        <xsd:element name='idofferings' type='xsd:int' minOccurs='0' />
                        <xsd:element name='aggregateNetAssetValueRange' type='xsd:string' minOccurs='0' />
                        <xsd:element name='findersFeesIsEstimate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='grossProceedsUsed' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOver100People' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOver100Recipients' type='xsd:int' minOccurs='0' />
                        <xsd:element name='salesCommissionAmount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isSignatureAuthorizedRepresentative' type='xsd:int' minOccurs='0' />
                        <xsd:element name='investmentFundType' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isMineralProperty' type='xsd:int' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='totalRemaining' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='salesCommissionFindersFeeClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isBusinessCombination' type='xsd:int' minOccurs='0' />
                        <xsd:element name='revenueRange' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isTenantInCommon' type='xsd:int' minOccurs='0' />
                        <xsd:element name='businessCombinationClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isOfferingMoreThanOneYear' type='xsd:int' minOccurs='0' />
                        <xsd:element name='industryGroupType' type='xsd:string' minOccurs='0' />
                        <xsd:element name='useOfProceedsClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isEquity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='numberAlreadyInvested' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isDebt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOther' type='xsd:int' minOccurs='0' />
                        <xsd:element name='otherDescription' type='xsd:string' minOccurs='0' />
                        <xsd:element name='nonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                        <xsd:element name='hasNonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                        <xsd:element name='findersFeesAmount' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='people' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='middlename' type='xsd:string' minOccurs='0' />
                        <xsd:element name='personid' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='filingProfileFromFilingIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='filingid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='filingProfileFromFilingIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='companies' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='cik' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='filinginfo' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='offeringAmountClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='filingDate' type='xsd:date' minOccurs='0' />
                        <xsd:element name='firstSaleDate' type='xsd:date' minOccurs='0' />
                        <xsd:element name='isAmendment' type='xsd:int' minOccurs='0' />
                        <xsd:element name='industry' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isSecurityToBeAcquired' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minimumInvestment' type='xsd:int' minOccurs='0' />
                        <xsd:element name='idfilings' type='xsd:int' minOccurs='0' />
                        <xsd:element name='salesCommissionIsEstimate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='is40Act' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOptionToAcquire' type='xsd:int' minOccurs='0' />
                        <xsd:element name='totalAmountSold' type='xsd:int' minOccurs='0' />
                        <xsd:element name='grossProceedsUsedIsEstimate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='totalOfferingAmount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='filingType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isPooledInvestmentFund' type='xsd:int' minOccurs='0' />
                        <xsd:element name='idofferings' type='xsd:int' minOccurs='0' />
                        <xsd:element name='aggregateNetAssetValueRange' type='xsd:string' minOccurs='0' />
                        <xsd:element name='findersFeesIsEstimate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='grossProceedsUsed' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOver100People' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOver100Recipients' type='xsd:int' minOccurs='0' />
                        <xsd:element name='salesCommissionAmount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isSignatureAuthorizedRepresentative' type='xsd:int' minOccurs='0' />
                        <xsd:element name='investmentFundType' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isMineralProperty' type='xsd:int' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='totalRemaining' type='xsd:int' minOccurs='0' />
                        <xsd:element name='salesCommissionFindersFeeClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isBusinessCombination' type='xsd:int' minOccurs='0' />
                        <xsd:element name='revenueRange' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isTenantInCommon' type='xsd:int' minOccurs='0' />
                        <xsd:element name='businessCombinationClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isOfferingMoreThanOneYear' type='xsd:int' minOccurs='0' />
                        <xsd:element name='industryGroupType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='useOfProceedsClarification' type='xsd:string' minOccurs='0' />
                        <xsd:element name='isEquity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='numberAlreadyInvested' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isDebt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isOther' type='xsd:int' minOccurs='0' />
                        <xsd:element name='otherDescription' type='xsd:string' minOccurs='0' />
                        <xsd:element name='nonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                        <xsd:element name='hasNonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                        <xsd:element name='findersFeesAmount' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='people' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='middlename' type='xsd:string' minOccurs='0' />
                        <xsd:element name='personid' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFundTypesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getIndustriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='personProfileFromPersonIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='personid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='personProfileFromPersonIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='filings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='companies' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='cik' type='xsd:int' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='filinginfo' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='offeringAmountClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='filingDate' type='xsd:date' minOccurs='0' />
                              <xsd:element name='firstSaleDate' type='xsd:date' minOccurs='0' />
                              <xsd:element name='isAmendment' type='xsd:int' minOccurs='0' />
                              <xsd:element name='industry' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isSecurityToBeAcquired' type='xsd:int' minOccurs='0' />
                              <xsd:element name='minimumInvestment' type='xsd:int' minOccurs='0' />
                              <xsd:element name='idfilings' type='xsd:int' minOccurs='0' />
                              <xsd:element name='salesCommissionIsEstimate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='is40Act' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOptionToAcquire' type='xsd:int' minOccurs='0' />
                              <xsd:element name='totalAmountSold' type='xsd:int' minOccurs='0' />
                              <xsd:element name='grossProceedsUsedIsEstimate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='totalOfferingAmount' type='xsd:int' minOccurs='0' />
                              <xsd:element name='filingType' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='isPooledInvestmentFund' type='xsd:int' minOccurs='0' />
                              <xsd:element name='idofferings' type='xsd:int' minOccurs='0' />
                              <xsd:element name='aggregateNetAssetValueRange' type='xsd:string' minOccurs='0' />
                              <xsd:element name='findersFeesIsEstimate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='grossProceedsUsed' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOver100People' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOver100Recipients' type='xsd:int' minOccurs='0' />
                              <xsd:element name='salesCommissionAmount' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isSignatureAuthorizedRepresentative' type='xsd:int' minOccurs='0' />
                              <xsd:element name='investmentFundType' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isMineralProperty' type='xsd:int' minOccurs='0' />
                              <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='totalRemaining' type='xsd:int' minOccurs='0' />
                              <xsd:element name='salesCommissionFindersFeeClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isBusinessCombination' type='xsd:int' minOccurs='0' />
                              <xsd:element name='revenueRange' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isTenantInCommon' type='xsd:int' minOccurs='0' />
                              <xsd:element name='businessCombinationClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isOfferingMoreThanOneYear' type='xsd:int' minOccurs='0' />
                              <xsd:element name='industryGroupType' type='xsd:string' minOccurs='0' />
                              <xsd:element name='useOfProceedsClarification' type='xsd:string' minOccurs='0' />
                              <xsd:element name='isEquity' type='xsd:int' minOccurs='0' />
                              <xsd:element name='numberAlreadyInvested' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isDebt' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isOther' type='xsd:int' minOccurs='0' />
                              <xsd:element name='otherDescription' type='xsd:string' minOccurs='0' />
                              <xsd:element name='nonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                              <xsd:element name='hasNonAccreditedInvestors' type='xsd:int' minOccurs='0' />
                              <xsd:element name='findersFeesAmount' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='people' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='middlename' type='xsd:string' minOccurs='0' />
                              <xsd:element name='personid' type='xsd:int' minOccurs='0' />
                              <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='companies' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='cik' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='people' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='middlename' type='xsd:string' minOccurs='0' />
                              <xsd:element name='personid' type='xsd:int' minOccurs='0' />
                              <xsd:element name='titles' type='xsd:string' maxOccurs='unbounded' />
                              <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='idpeople' type='xsd:int' minOccurs='0' />
                  <xsd:element name='middlename' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='personSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='first' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='function' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='last' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='middle' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='personSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='idpeople' type='xsd:int' minOccurs='0' />
                  <xsd:element name='middlename' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='brokerProfileFromBrokerIdRequestMessage'>
    <part name='parameters' element='tns:brokerProfileFromBrokerIdParameters' />
  </message>
  <message name='brokerProfileFromBrokerIdResponseMessage'>
    <part name='response' element='tns:brokerProfileFromBrokerIdResponse' />
  </message>
  <message name='brokerProfileFromCrdNumberRequestMessage'>
    <part name='parameters' element='tns:brokerProfileFromCrdNumberParameters' />
  </message>
  <message name='brokerProfileFromCrdNumberResponseMessage'>
    <part name='response' element='tns:brokerProfileFromCrdNumberResponse' />
  </message>
  <message name='brokerSearchRequestMessage'>
    <part name='parameters' element='tns:brokerSearchParameters' />
  </message>
  <message name='brokerSearchResponseMessage'>
    <part name='response' element='tns:brokerSearchResponse' />
  </message>
  <message name='companyProfileFromCikRequestMessage'>
    <part name='parameters' element='tns:companyProfileFromCikParameters' />
  </message>
  <message name='companyProfileFromCikResponseMessage'>
    <part name='response' element='tns:companyProfileFromCikResponse' />
  </message>
  <message name='companyFundSearchRequestMessage'>
    <part name='parameters' element='tns:companyFundSearchParameters' />
  </message>
  <message name='companyFundSearchResponseMessage'>
    <part name='response' element='tns:companyFundSearchResponse' />
  </message>
  <message name='filingFeedSearchRequestMessage'>
    <part name='parameters' element='tns:filingFeedSearchParameters' />
  </message>
  <message name='filingFeedSearchResponseMessage'>
    <part name='response' element='tns:filingFeedSearchResponse' />
  </message>
  <message name='filingProfileFromFilingIdRequestMessage'>
    <part name='parameters' element='tns:filingProfileFromFilingIdParameters' />
  </message>
  <message name='filingProfileFromFilingIdResponseMessage'>
    <part name='response' element='tns:filingProfileFromFilingIdResponse' />
  </message>
  <message name='getFundTypesRequestMessage' />
  <message name='getFundTypesResponseMessage'>
    <part name='response' element='tns:getFundTypesResponse' />
  </message>
  <message name='getIndustriesRequestMessage' />
  <message name='getIndustriesResponseMessage'>
    <part name='response' element='tns:getIndustriesResponse' />
  </message>
  <message name='personProfileFromPersonIdRequestMessage'>
    <part name='parameters' element='tns:personProfileFromPersonIdParameters' />
  </message>
  <message name='personProfileFromPersonIdResponseMessage'>
    <part name='response' element='tns:personProfileFromPersonIdResponse' />
  </message>
  <message name='personSearchRequestMessage'>
    <part name='parameters' element='tns:personSearchParameters' />
  </message>
  <message name='personSearchResponseMessage'>
    <part name='response' element='tns:personSearchResponse' />
  </message>
  <portType name='dealdataNetPortType'>
    <operation name='brokerProfileFromBrokerId'>
      <documentation>given the broker ID returned from a broker search this endpoint returns a full broker profile</documentation>
      <input message='tns:brokerProfileFromBrokerIdRequestMessage' name='brokerProfileFromBrokerIdInput' />
      <output message='tns:brokerProfileFromBrokerIdResponseMessage' name='brokerProfileFromBrokerIdOutput' />
    </operation>
    <operation name='brokerProfileFromCrdNumber'>
      <documentation>given a FINRA Central Registration Depository CRD for a broker dealer this function returns a full broker profile</documentation>
      <input message='tns:brokerProfileFromCrdNumberRequestMessage' name='brokerProfileFromCrdNumberInput' />
      <output message='tns:brokerProfileFromCrdNumberResponseMessage' name='brokerProfileFromCrdNumberOutput' />
    </operation>
    <operation name='brokerSearch'>
      <documentation>returns a list of brokers that match the given name fragment NOTE API responses are limited to characters so the fragment provided must limit the result set so as not to exceed this limit</documentation>
      <input message='tns:brokerSearchRequestMessage' name='brokerSearchInput' />
      <output message='tns:brokerSearchResponseMessage' name='brokerSearchOutput' />
    </operation>
    <operation name='companyProfileFromCik'>
      <documentation>given a CIK number the SEC identifier for the entity this function returns a full company or fund profile for the entity</documentation>
      <input message='tns:companyProfileFromCikRequestMessage' name='companyProfileFromCikInput' />
      <output message='tns:companyProfileFromCikResponseMessage' name='companyProfileFromCikOutput' />
    </operation>
    <operation name='companyFundSearch'>
      <documentation>finds all companies matching the name fragment NOTE All API requests are limited to a maximum return size of characters While there are no hard limits on how long of a fragment needs to be provided the fragment provided should not return too many results or the response limit will be triggered</documentation>
      <input message='tns:companyFundSearchRequestMessage' name='companyFundSearchInput' />
      <output message='tns:companyFundSearchResponseMessage' name='companyFundSearchOutput' />
    </operation>
    <operation name='filingFeedSearch'>
      <documentation>this endpoint returns a filing feed based on any combination of a date range entity type range of amount raised primary company fund state It also allows a limit range to be set NOTE all JSON return strings are limited to a maximum of kilobytes Ensure that your query is sufficiently narrow or an explicit result limit per call recommended is set to ensure that the call does not return a status</documentation>
      <input message='tns:filingFeedSearchRequestMessage' name='filingFeedSearchInput' />
      <output message='tns:filingFeedSearchResponseMessage' name='filingFeedSearchOutput' />
    </operation>
    <operation name='filingProfileFromFilingId'>
      <documentation>given an internal filing ID returned from another endpoint this call returns a full filing profile</documentation>
      <input message='tns:filingProfileFromFilingIdRequestMessage' name='filingProfileFromFilingIdInput' />
      <output message='tns:filingProfileFromFilingIdResponseMessage' name='filingProfileFromFilingIdOutput' />
    </operation>
    <operation name='getFundTypes'>
      <documentation>returns a list of available fund types for FUND filing feeds and searches</documentation>
      <input message='tns:getFundTypesRequestMessage' name='getFundTypesInput' />
      <output message='tns:getFundTypesResponseMessage' name='getFundTypesOutput' />
    </operation>
    <operation name='getIndustries'>
      <documentation>this returns all of the available industries or company types in the database</documentation>
      <input message='tns:getIndustriesRequestMessage' name='getIndustriesInput' />
      <output message='tns:getIndustriesResponseMessage' name='getIndustriesOutput' />
    </operation>
    <operation name='personProfileFromPersonId'>
      <documentation>given the person ID from a person search API call this endpoint returns a full profile for that person</documentation>
      <input message='tns:personProfileFromPersonIdRequestMessage' name='personProfileFromPersonIdInput' />
      <output message='tns:personProfileFromPersonIdResponseMessage' name='personProfileFromPersonIdOutput' />
    </operation>
    <operation name='personSearch'>
      <documentation>fragments can be of any length including a tns string NOTE API call returns are limited to more than characters each As a result you should provide enough of a guess as to the peroson s name so as to adequately limit the result set</documentation>
      <input message='tns:personSearchRequestMessage' name='personSearchInput' />
      <output message='tns:personSearchResponseMessage' name='personSearchOutput' />
    </operation>
  </portType>
  <binding name='dealdataNetBinding' type='tns:dealdataNetPortType'>
    <operation name='brokerProfileFromBrokerId'>
      <soap12:operation soapAction='http://brokerProfileFromBrokerId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='brokerProfileFromCrdNumber'>
      <soap12:operation soapAction='http://brokerProfileFromCrdNumber' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='brokerSearch'>
      <soap12:operation soapAction='http://brokerSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='companyProfileFromCik'>
      <soap12:operation soapAction='http://companyProfileFromCik' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='companyFundSearch'>
      <soap12:operation soapAction='http://companyFundSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='filingFeedSearch'>
      <soap12:operation soapAction='http://filingFeedSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='filingProfileFromFilingId'>
      <soap12:operation soapAction='http://filingProfileFromFilingId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getFundTypes'>
      <soap12:operation soapAction='http://getFundTypes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getIndustries'>
      <soap12:operation soapAction='http://getIndustries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='personProfileFromPersonId'>
      <soap12:operation soapAction='http://personProfileFromPersonId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='personSearch'>
      <soap12:operation soapAction='http://personSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='dealdataNet'>
    <documentation>sEC Form D filing API Get private company hedge fund private equity fund and venture capital fund fundraising profiles See connections between people companies and funds Populate your CRM with phone numbers and addresses of companies and funds that are actively fundraising Filter new filings by state company fund type amount raised etc Our freemium API is available at a tiny fraction of the cost of Pitchbook CB Insights etc Subscription tiers are available for internal use CRM integration as well as public facing websites looking to make use of our data</documentation>
    <port name='dealdataNetPort' binding='tns:dealdataNetBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://dealdataNet' />
    </port>
  </service>
</definitions>