workspace/datasets/mashape_dataset/deezer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/deezer/' name='deezer' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/deezer/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/deezer/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/deezer/'>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='albumParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='albumResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='commentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='commentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editorialParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editorialResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='genreParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='genreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='infosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playlistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='radioParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='radioResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <message name='albumRequestMessage'>
    <part name='parameters' element='tns:albumParameters' />
  </message>
  <message name='albumResponseMessage'>
    <part name='response' element='tns:albumResponse' />
  </message>
  <message name='artistRequestMessage'>
    <part name='parameters' element='tns:artistParameters' />
  </message>
  <message name='artistResponseMessage'>
    <part name='response' element='tns:artistResponse' />
  </message>
  <message name='commentRequestMessage'>
    <part name='parameters' element='tns:commentParameters' />
  </message>
  <message name='commentResponseMessage'>
    <part name='response' element='tns:commentResponse' />
  </message>
  <message name='editorialRequestMessage'>
    <part name='parameters' element='tns:editorialParameters' />
  </message>
  <message name='editorialResponseMessage'>
    <part name='response' element='tns:editorialResponse' />
  </message>
  <message name='genreRequestMessage'>
    <part name='parameters' element='tns:genreParameters' />
  </message>
  <message name='genreResponseMessage'>
    <part name='response' element='tns:genreResponse' />
  </message>
  <message name='infosRequestMessage' />
  <message name='infosResponseMessage'>
    <part name='response' element='tns:infosResponse' />
  </message>
  <message name='playlistRequestMessage'>
    <part name='parameters' element='tns:playlistParameters' />
  </message>
  <message name='playlistResponseMessage'>
    <part name='response' element='tns:playlistResponse' />
  </message>
  <message name='radioRequestMessage'>
    <part name='parameters' element='tns:radioParameters' />
  </message>
  <message name='radioResponseMessage'>
    <part name='response' element='tns:radioResponse' />
  </message>
  <message name='trackRequestMessage'>
    <part name='parameters' element='tns:trackParameters' />
  </message>
  <message name='trackResponseMessage'>
    <part name='response' element='tns:trackResponse' />
  </message>
  <portType name='deezerPortType'>
    <operation name='search'>
      <documentation>search tracks</documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
    <operation name='album'>
      <documentation>an album object</documentation>
      <input message='tns:albumRequestMessage' name='albumInput' />
      <output message='tns:albumResponseMessage' name='albumOutput' />
    </operation>
    <operation name='artist'>
      <documentation>an artist object</documentation>
      <input message='tns:artistRequestMessage' name='artistInput' />
      <output message='tns:artistResponseMessage' name='artistOutput' />
    </operation>
    <operation name='comment'>
      <documentation>a comment object</documentation>
      <input message='tns:commentRequestMessage' name='commentInput' />
      <output message='tns:commentResponseMessage' name='commentOutput' />
    </operation>
    <operation name='editorial'>
      <documentation>an editorial object</documentation>
      <input message='tns:editorialRequestMessage' name='editorialInput' />
      <output message='tns:editorialResponseMessage' name='editorialOutput' />
    </operation>
    <operation name='genre'>
      <documentation>a genre object</documentation>
      <input message='tns:genreRequestMessage' name='genreInput' />
      <output message='tns:genreResponseMessage' name='genreOutput' />
    </operation>
    <operation name='infos'>
      <documentation>get the infos about the api in the current country</documentation>
      <input message='tns:infosRequestMessage' name='infosInput' />
      <output message='tns:infosResponseMessage' name='infosOutput' />
    </operation>
    <operation name='playlist'>
      <documentation>a playlist object</documentation>
      <input message='tns:playlistRequestMessage' name='playlistInput' />
      <output message='tns:playlistResponseMessage' name='playlistOutput' />
    </operation>
    <operation name='radio'>
      <documentation>a radio object</documentation>
      <input message='tns:radioRequestMessage' name='radioInput' />
      <output message='tns:radioResponseMessage' name='radioOutput' />
    </operation>
    <operation name='track'>
      <documentation>a track object</documentation>
      <input message='tns:trackRequestMessage' name='trackInput' />
      <output message='tns:trackResponseMessage' name='trackOutput' />
    </operation>
  </portType>
  <binding name='deezerBinding' type='tns:deezerPortType'>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='album'>
      <soap12:operation soapAction='http://album' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='artist'>
      <soap12:operation soapAction='http://artist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='comment'>
      <soap12:operation soapAction='http://comment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editorial'>
      <soap12:operation soapAction='http://editorial' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='genre'>
      <soap12:operation soapAction='http://genre' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='infos'>
      <soap12:operation soapAction='http://infos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='playlist'>
      <soap12:operation soapAction='http://playlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='radio'>
      <soap12:operation soapAction='http://radio' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='track'>
      <soap12:operation soapAction='http://track' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='deezer'>
    <documentation>deezer is the No site for listening to music on demand Discover more than million tracks create your own playlists and share your favourite tracks</documentation>
    <port name='deezerPort' binding='tns:deezerBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://deezer' />
    </port>
  </service>
</definitions>