workspace/datasets/mashape_dataset/demographicinquiry.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/demographicinquiry/' name='demographicinquiry' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/demographicinquiry/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/demographicinquiry/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/demographicinquiry/'>
      <xsd:element name='describeVariablesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='properties' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Variable' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inquireByAddressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='variables' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inquireByAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='input' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='variables' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='properties' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='esmedage' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='psmedage' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='estotpop' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='pstotpop' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inquireByPointParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lng' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='variables' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inquireByPointResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='input' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='variables' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='properties' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='esmedage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psmedage' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='estotpop' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pstotpop' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inquireByPolygonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='variables' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inquireByPolygonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='input' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='variables' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='properties' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='esmedage' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='psmedage' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='estotpop' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='pstotpop' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inquireByProximityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='distanceunit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lng' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='variables' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inquireByProximityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='input' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='distanceUnit' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='variables' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='distance' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='properties' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='esmedage' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='psmedage' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='estotpop' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='pstotpop' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inquireByTravelTimeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lng' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='mode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timemin' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='variables' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inquireByTravelTimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='input' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='mode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='variables' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='timeMin' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='properties' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='esmedage' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='psmedage' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='estotpop' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='pstotpop' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='summaryByPointParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='detail' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lng' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='summaryByPointResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='input' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='properties' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='espop65_69' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop40_44' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pshavginc' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh25_30' type='xsd:int' minOccurs='0' />
                  <xsd:element name='estotpop' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espopba' type='xsd:int' minOccurs='0' />
                  <xsd:element name='eshurenter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop20_24' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh50_60' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop45_49' type='xsd:int' minOccurs='0' />
                  <xsd:element name='eshavginc' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh40_45' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop45_49' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop70_74' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pshurenter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh45_50' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esavghhsze' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='tstotpop' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='pstotpop' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espopaa' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh20_25' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop25_29' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop40_44' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspercpinc' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh150_200' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espercpinc' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop50_54' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop75_79' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh40_45' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh125_150' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop70_74' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espopr2' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh50_60' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop15_19' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspopaa' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop60_64' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop5_9' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espophs' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espoppa' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh45_50' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop80_84' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop35_39' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh25_30' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pstothh' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh15_20' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspopba' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pshundr10k' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh20_25' type='xsd:int' minOccurs='0' />
                  <xsd:element name='estothh' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh60_75' type='xsd:int' minOccurs='0' />
                  <xsd:element name='phsehldexp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh35_40' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh75_100' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop35_39' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop10_14' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspoppa' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espopwn' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh10_15' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspopwn' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh30_35' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop55_59' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop0_4' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop30_34' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh35_40' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espopwa' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh15_20' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh100_125' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh60_75' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espopna' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh75_100' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop55_59' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspophs' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psh10_15' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop75_79' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psavghhsze' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='psh150_200' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop10_14' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop85p' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspopr2' type='xsd:int' minOccurs='0' />
                  <xsd:element name='estotfam' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop25_29' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pshmedinc' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tshuowner' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='esh100_125' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop60_64' type='xsd:int' minOccurs='0' />
                  <xsd:element name='psmedage' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='espop15_19' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tstothh' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='pspop5_9' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esmedage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tstotfam' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='eshmedinc' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop85p' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop20_24' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pstotfam' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop0_4' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tshmedinc' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='esh30_35' type='xsd:int' minOccurs='0' />
                  <xsd:element name='esh125_150' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspopwa' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ehsehldexp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop30_34' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop50_54' type='xsd:int' minOccurs='0' />
                  <xsd:element name='eshuowner' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspop65_69' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pspopna' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pshuowner' type='xsd:int' minOccurs='0' />
                  <xsd:element name='espop80_84' type='xsd:int' minOccurs='0' />
                  <xsd:element name='eshundr10k' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='describeVariablesRequestMessage' />
  <message name='describeVariablesResponseMessage'>
    <part name='response' element='tns:describeVariablesResponse' />
  </message>
  <message name='inquireByAddressRequestMessage'>
    <part name='parameters' element='tns:inquireByAddressParameters' />
  </message>
  <message name='inquireByAddressResponseMessage'>
    <part name='response' element='tns:inquireByAddressResponse' />
  </message>
  <message name='inquireByPointRequestMessage'>
    <part name='parameters' element='tns:inquireByPointParameters' />
  </message>
  <message name='inquireByPointResponseMessage'>
    <part name='response' element='tns:inquireByPointResponse' />
  </message>
  <message name='inquireByPolygonRequestMessage'>
    <part name='parameters' element='tns:inquireByPolygonParameters' />
  </message>
  <message name='inquireByPolygonResponseMessage'>
    <part name='response' element='tns:inquireByPolygonResponse' />
  </message>
  <message name='inquireByProximityRequestMessage'>
    <part name='parameters' element='tns:inquireByProximityParameters' />
  </message>
  <message name='inquireByProximityResponseMessage'>
    <part name='response' element='tns:inquireByProximityResponse' />
  </message>
  <message name='inquireByTravelTimeRequestMessage'>
    <part name='parameters' element='tns:inquireByTravelTimeParameters' />
  </message>
  <message name='inquireByTravelTimeResponseMessage'>
    <part name='response' element='tns:inquireByTravelTimeResponse' />
  </message>
  <message name='summaryByPointRequestMessage'>
    <part name='parameters' element='tns:summaryByPointParameters' />
  </message>
  <message name='summaryByPointResponseMessage'>
    <part name='response' element='tns:summaryByPointResponse' />
  </message>
  <portType name='demographicinquiryPortType'>
    <operation name='describeVariables'>
      <documentation>provides descriptions for all demographic variables available to be queried</documentation>
      <input message='tns:describeVariablesRequestMessage' name='describeVariablesInput' />
      <output message='tns:describeVariablesResponseMessage' name='describeVariablesOutput' />
    </operation>
    <operation name='inquireByAddress'>
      <documentation>query by street address Results will be prefixed with e for estimate or p for projection</documentation>
      <input message='tns:inquireByAddressRequestMessage' name='inquireByAddressInput' />
      <output message='tns:inquireByAddressResponseMessage' name='inquireByAddressOutput' />
    </operation>
    <operation name='inquireByPoint'>
      <documentation>query by point location Results will be prefixed with e for estimate or p for projection</documentation>
      <input message='tns:inquireByPointRequestMessage' name='inquireByPointInput' />
      <output message='tns:inquireByPointResponseMessage' name='inquireByPointOutput' />
    </operation>
    <operation name='inquireByPolygon'>
      <documentation>query with a custom GeoJSON Polygon geometry object CRS must be a GCS using the WGS datum Max area must not exceed Sq Miles Output values will be rolled up for area covered Results will be prefixed with e for estimate or p for projection</documentation>
      <input message='tns:inquireByPolygonRequestMessage' name='inquireByPolygonInput' />
      <output message='tns:inquireByPolygonResponseMessage' name='inquireByPolygonOutput' />
    </operation>
    <operation name='inquireByProximity'>
      <documentation>query by proximity or buffer distance from point Output values will be rolled up for area covered Results will be prefixed with e for estimate or p for projection</documentation>
      <input message='tns:inquireByProximityRequestMessage' name='inquireByProximityInput' />
      <output message='tns:inquireByProximityResponseMessage' name='inquireByProximityOutput' />
    </operation>
    <operation name='inquireByTravelTime'>
      <documentation>query by travel time from point location Output values will be rolled up for area covered Results will be prefixed with e for estimate or p for projection</documentation>
      <input message='tns:inquireByTravelTimeRequestMessage' name='inquireByTravelTimeInput' />
      <output message='tns:inquireByTravelTimeResponseMessage' name='inquireByTravelTimeOutput' />
    </operation>
    <operation name='summaryByPoint'>
      <documentation>query default set of summary variables by point Results will be prefixed with t for trend annual rate of change e for estimate or p for projection</documentation>
      <input message='tns:summaryByPointRequestMessage' name='summaryByPointInput' />
      <output message='tns:summaryByPointResponseMessage' name='summaryByPointOutput' />
    </operation>
  </portType>
  <binding name='demographicinquiryBinding' type='tns:demographicinquiryPortType'>
    <operation name='describeVariables'>
      <soap12:operation soapAction='http://describeVariables' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='inquireByAddress'>
      <soap12:operation soapAction='http://inquireByAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='inquireByPoint'>
      <soap12:operation soapAction='http://inquireByPoint' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='inquireByPolygon'>
      <soap12:operation soapAction='http://inquireByPolygon' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='inquireByProximity'>
      <soap12:operation soapAction='http://inquireByProximity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='inquireByTravelTime'>
      <soap12:operation soapAction='http://inquireByTravelTime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='summaryByPoint'>
      <soap12:operation soapAction='http://summaryByPoint' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='demographicinquiry'>
    <documentation>the Demographic Inquiry API provides developers with access to current year estimates and five year projections for demographic variables Categories include population summaries income characteristics consumer expenditures educational attainment and demographic profiles We also provide multiple ways GIS and Non GIS Based methods to extract data of interest Operations include inquiry by point buffer proximity and travel time Data coverage includes the Contiguous US Alaska and Hawaii</documentation>
    <port name='demographicinquiryPort' binding='tns:demographicinquiryBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://demographicinquiry' />
    </port>
  </service>
</definitions>