workspace/datasets/mashape_dataset/directwines.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/directWines/' name='directWines' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/directWines/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/directWines/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/directWines/'>
      <xsd:element name='cartResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='numBottles' type='xsd:int' minOccurs='0' />
                  <xsd:element name='orderPriceInfo' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='discounted' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='total' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='shipping' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='tax' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rawSubtotal' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='savings' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='numLineItems' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='numItems' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='statusMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recommendationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='userItems' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='product' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='longDescription' type='xsd:string' minOccurs='0' />
                              <xsd:element name='colourName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='colourId' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='largeImage' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='skus' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='salePricePerBottle' type='xsd:decimal' minOccurs='0' />
                                    <xsd:element name='salePrice' type='xsd:decimal' minOccurs='0' />
                                    <xsd:element name='itemCode' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='vppApplier' type='xsd:boolean' minOccurs='0' />
                                    <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='preSellOrPreReleaseItem' type='xsd:boolean' minOccurs='0' />
                                    <xsd:element name='listPrice' type='xsd:decimal' minOccurs='0' />
                                    <xsd:element name='numberOfBottles' type='xsd:int' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='smallImage' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='itemCode' type='xsd:int' minOccurs='0' />
                              <xsd:element name='regionName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='mixed' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='styleName' type='xsd:string' minOccurs='0' />
                              <xsd:element name='countryId' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='styleId' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='webHeadline' type='xsd:string' minOccurs='0' />
                              <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='thumbnailImage' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='lowestPricePerBottle' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='appellationId' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='grapeName' type='xsd:string' minOccurs='0' />
                              <xsd:element name='appellationName' type='xsd:string' minOccurs='0' />
                              <xsd:element name='grapeId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='regionId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='vppQualifier' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='vintage' type='xsd:int' minOccurs='0' />
                              <xsd:element name='enPrimeurFlag' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='countryName' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='userItemDetails' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='new' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='sortPriority' type='xsd:int' minOccurs='0' />
                              <xsd:element name='recommendationTypeId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='whereUsed' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='inRecommendationsList' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='inPurchaseHistory' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='inRecentlyBrowsedList' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='inUserRatedWines' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='inFavourites' type='xsd:boolean' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='itemListInfo' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='numberOfItems' type='xsd:int' minOccurs='0' />
                        <xsd:element name='listName' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='statusMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='cartRequestMessage' />
  <message name='cartResponseMessage'>
    <part name='response' element='tns:cartResponse' />
  </message>
  <message name='recommendationsRequestMessage' />
  <message name='recommendationsResponseMessage'>
    <part name='response' element='tns:recommendationsResponse' />
  </message>
  <portType name='directWinesPortType'>
    <operation name='cart'>
      <input message='tns:cartRequestMessage' name='cartInput' />
      <output message='tns:cartResponseMessage' name='cartOutput' />
    </operation>
    <operation name='recommendations'>
      <input message='tns:recommendationsRequestMessage' name='recommendationsInput' />
      <output message='tns:recommendationsResponseMessage' name='recommendationsOutput' />
    </operation>
  </portType>
  <binding name='directWinesBinding' type='tns:directWinesPortType'>
    <operation name='cart'>
      <soap12:operation soapAction='http://cart' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recommendations'>
      <soap12:operation soapAction='http://recommendations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='directWines'>
    <documentation>the API provides you a way to consume different API s around product customer and account</documentation>
    <port name='directWinesPort' binding='tns:directWinesBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://directWines' />
    </port>
  </service>
</definitions>