workspace/datasets/mashape_dataset/divitface.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/divitFace/' name='divitFace' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/divitFace/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/divitFace/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/divitFace/'>
      <xsd:element name='analysisParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='analysisResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='analysiswithurlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='imageurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='analysiswithurlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='vectorList_lzm' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='expression_flag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='gender_flag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='analysisResult' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='rightEye_y2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='facedata_height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEye_y1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='detectedFace_height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='detectedFace_width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='detectedFace_x1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='detectedFace_x2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEye_y1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='face_width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEye_height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEye_y2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='aligned' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='face_y1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='face_y2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='facedata_width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='face_height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEye_x1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='extendedFaceAbsolute_x2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEye_width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='extendedFaceAbsolute_x1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='pose' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mouth_width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEye_x2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xError' type='xsd:int' minOccurs='0' />
                        <xsd:element name='face_x2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseBridge_height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='extendedFaceAbsolute_width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mouth_y1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='face_x1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mouth_y2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='extendedFaceAbsolute_y1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='extendedFaceAbsolute_y2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEye_width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='scale' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='angle' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseBridge_y1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mouth_x2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseBridge_y2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xMsg' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='facedata_channel' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mouth_x1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEye_height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='confidence' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBridge_width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='detectedFace_y2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='detectedFace_y1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEye_x2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEye_x1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='extendedFaceAbsolute_height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseBridge_x2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseBridge_x1' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='scale' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Gender' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='vectorList4' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='vectorList3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='age_flag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='angle' type='xsd:int' minOccurs='0' />
                  <xsd:element name='xMsg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='person_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pose' type='xsd:int' minOccurs='0' />
                  <xsd:element name='confidence' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='expression_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='gender_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='vectorList_lzm_bb_m1' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='xError' type='xsd:int' minOccurs='0' />
                  <xsd:element name='x' type='xsd:int' minOccurs='0' />
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='y' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='facePath' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='age_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='image_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkuserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkuserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createfacesetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='facesetname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createfacesetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creategroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creategroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createpersonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lastname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createpersonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletefaceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='faceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletefaceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletefacefromfacesetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='faceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='facesetid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletefacefromfacesetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletefacesetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='facesetid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletefacesetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletegroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletegroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteinformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='infoid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteinformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteinformationfromfacesetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='facesetid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteinformationfromfacesetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteinformationfromgroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteinformationfromgroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletepersonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='personid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletepersonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletepersonfromgroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='personid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletepersonfromgroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectionwithurlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='imageurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectionwithurlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='vectorList_lzm' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='expression_flag' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='gender_flag' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='analysisResult' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='scale' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='vectorList4' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='vectorList3' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='age_flag' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='angle' type='xsd:int' minOccurs='0' />
            <xsd:element name='xMsg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='height' type='xsd:int' minOccurs='0' />
            <xsd:element name='pose' type='xsd:int' minOccurs='0' />
            <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
            <xsd:element name='expression_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='gender_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='vectorList_lzm_bb_m1' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='xError' type='xsd:int' minOccurs='0' />
            <xsd:element name='x' type='xsd:int' minOccurs='0' />
            <xsd:element name='width' type='xsd:int' minOccurs='0' />
            <xsd:element name='y' type='xsd:int' minOccurs='0' />
            <xsd:element name='Id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facePath' type='xsd:string' minOccurs='0' />
            <xsd:element name='age_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='image_id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findgenderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findgenderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getfacesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='facesetid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getfacesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getfacesetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='facesetid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getfacesetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='personList' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='user_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgrouplistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgrouplistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='personList' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='user_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpersonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='personid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpersonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpersonsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpersonsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpersonsofgroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpersonsofgroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='identificationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='facesetid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='threshold' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='identificationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertfaceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='faceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='personid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertfaceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertfacetofacesetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='faceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='facesetid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertfacetofacesetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertinformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='info' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='personid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertinformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertinformationtofacesetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='facesetid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='info' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertinformationtofacesetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertinformationtogroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='info' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertinformationtogroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertpersonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='personid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertpersonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertpersontogroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='personid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='insertpersontogroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='facesetid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verificationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='threshold' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verificationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='analysisRequestMessage'>
    <part name='parameters' element='tns:analysisParameters' />
  </message>
  <message name='analysisResponseMessage'>
    <part name='response' element='tns:analysisResponse' />
  </message>
  <message name='analysiswithurlRequestMessage'>
    <part name='parameters' element='tns:analysiswithurlParameters' />
  </message>
  <message name='analysiswithurlResponseMessage'>
    <part name='response' element='tns:analysiswithurlResponse' />
  </message>
  <message name='checkuserRequestMessage'>
    <part name='parameters' element='tns:checkuserParameters' />
  </message>
  <message name='checkuserResponseMessage'>
    <part name='response' element='tns:checkuserResponse' />
  </message>
  <message name='createfacesetRequestMessage'>
    <part name='parameters' element='tns:createfacesetParameters' />
  </message>
  <message name='createfacesetResponseMessage'>
    <part name='response' element='tns:createfacesetResponse' />
  </message>
  <message name='creategroupRequestMessage'>
    <part name='parameters' element='tns:creategroupParameters' />
  </message>
  <message name='creategroupResponseMessage'>
    <part name='response' element='tns:creategroupResponse' />
  </message>
  <message name='createpersonRequestMessage'>
    <part name='parameters' element='tns:createpersonParameters' />
  </message>
  <message name='createpersonResponseMessage'>
    <part name='response' element='tns:createpersonResponse' />
  </message>
  <message name='deletefaceRequestMessage'>
    <part name='parameters' element='tns:deletefaceParameters' />
  </message>
  <message name='deletefaceResponseMessage'>
    <part name='response' element='tns:deletefaceResponse' />
  </message>
  <message name='deletefacefromfacesetRequestMessage'>
    <part name='parameters' element='tns:deletefacefromfacesetParameters' />
  </message>
  <message name='deletefacefromfacesetResponseMessage'>
    <part name='response' element='tns:deletefacefromfacesetResponse' />
  </message>
  <message name='deletefacesetRequestMessage'>
    <part name='parameters' element='tns:deletefacesetParameters' />
  </message>
  <message name='deletefacesetResponseMessage'>
    <part name='response' element='tns:deletefacesetResponse' />
  </message>
  <message name='deletegroupRequestMessage'>
    <part name='parameters' element='tns:deletegroupParameters' />
  </message>
  <message name='deletegroupResponseMessage'>
    <part name='response' element='tns:deletegroupResponse' />
  </message>
  <message name='deleteinformationRequestMessage'>
    <part name='parameters' element='tns:deleteinformationParameters' />
  </message>
  <message name='deleteinformationResponseMessage'>
    <part name='response' element='tns:deleteinformationResponse' />
  </message>
  <message name='deleteinformationfromfacesetRequestMessage'>
    <part name='parameters' element='tns:deleteinformationfromfacesetParameters' />
  </message>
  <message name='deleteinformationfromfacesetResponseMessage'>
    <part name='response' element='tns:deleteinformationfromfacesetResponse' />
  </message>
  <message name='deleteinformationfromgroupRequestMessage'>
    <part name='parameters' element='tns:deleteinformationfromgroupParameters' />
  </message>
  <message name='deleteinformationfromgroupResponseMessage'>
    <part name='response' element='tns:deleteinformationfromgroupResponse' />
  </message>
  <message name='deletepersonRequestMessage'>
    <part name='parameters' element='tns:deletepersonParameters' />
  </message>
  <message name='deletepersonResponseMessage'>
    <part name='response' element='tns:deletepersonResponse' />
  </message>
  <message name='deletepersonfromgroupRequestMessage'>
    <part name='parameters' element='tns:deletepersonfromgroupParameters' />
  </message>
  <message name='deletepersonfromgroupResponseMessage'>
    <part name='response' element='tns:deletepersonfromgroupResponse' />
  </message>
  <message name='detectionRequestMessage'>
    <part name='parameters' element='tns:detectionParameters' />
  </message>
  <message name='detectionResponseMessage'>
    <part name='response' element='tns:detectionResponse' />
  </message>
  <message name='detectionwithurlRequestMessage'>
    <part name='parameters' element='tns:detectionwithurlParameters' />
  </message>
  <message name='detectionwithurlResponseMessage'>
    <part name='response' element='tns:detectionwithurlResponse' />
  </message>
  <message name='findgenderRequestMessage'>
    <part name='parameters' element='tns:findgenderParameters' />
  </message>
  <message name='findgenderResponseMessage'>
    <part name='response' element='tns:findgenderResponse' />
  </message>
  <message name='getfacesRequestMessage'>
    <part name='parameters' element='tns:getfacesParameters' />
  </message>
  <message name='getfacesResponseMessage'>
    <part name='response' element='tns:getfacesResponse' />
  </message>
  <message name='getfacesetRequestMessage'>
    <part name='parameters' element='tns:getfacesetParameters' />
  </message>
  <message name='getfacesetResponseMessage'>
    <part name='response' element='tns:getfacesetResponse' />
  </message>
  <message name='getgroupRequestMessage'>
    <part name='parameters' element='tns:getgroupParameters' />
  </message>
  <message name='getgroupResponseMessage'>
    <part name='response' element='tns:getgroupResponse' />
  </message>
  <message name='getgrouplistRequestMessage'>
    <part name='parameters' element='tns:getgrouplistParameters' />
  </message>
  <message name='getgrouplistResponseMessage'>
    <part name='response' element='tns:getgrouplistResponse' />
  </message>
  <message name='getpersonRequestMessage'>
    <part name='parameters' element='tns:getpersonParameters' />
  </message>
  <message name='getpersonResponseMessage'>
    <part name='response' element='tns:getpersonResponse' />
  </message>
  <message name='getpersonsRequestMessage'>
    <part name='parameters' element='tns:getpersonsParameters' />
  </message>
  <message name='getpersonsResponseMessage'>
    <part name='response' element='tns:getpersonsResponse' />
  </message>
  <message name='getpersonsofgroupRequestMessage'>
    <part name='parameters' element='tns:getpersonsofgroupParameters' />
  </message>
  <message name='getpersonsofgroupResponseMessage'>
    <part name='response' element='tns:getpersonsofgroupResponse' />
  </message>
  <message name='getuserRequestMessage'>
    <part name='parameters' element='tns:getuserParameters' />
  </message>
  <message name='getuserResponseMessage'>
    <part name='response' element='tns:getuserResponse' />
  </message>
  <message name='identificationRequestMessage'>
    <part name='parameters' element='tns:identificationParameters' />
  </message>
  <message name='identificationResponseMessage'>
    <part name='response' element='tns:identificationResponse' />
  </message>
  <message name='insertfaceRequestMessage'>
    <part name='parameters' element='tns:insertfaceParameters' />
  </message>
  <message name='insertfaceResponseMessage'>
    <part name='response' element='tns:insertfaceResponse' />
  </message>
  <message name='insertfacetofacesetRequestMessage'>
    <part name='parameters' element='tns:insertfacetofacesetParameters' />
  </message>
  <message name='insertfacetofacesetResponseMessage'>
    <part name='response' element='tns:insertfacetofacesetResponse' />
  </message>
  <message name='insertinformationRequestMessage'>
    <part name='parameters' element='tns:insertinformationParameters' />
  </message>
  <message name='insertinformationResponseMessage'>
    <part name='response' element='tns:insertinformationResponse' />
  </message>
  <message name='insertinformationtofacesetRequestMessage'>
    <part name='parameters' element='tns:insertinformationtofacesetParameters' />
  </message>
  <message name='insertinformationtofacesetResponseMessage'>
    <part name='response' element='tns:insertinformationtofacesetResponse' />
  </message>
  <message name='insertinformationtogroupRequestMessage'>
    <part name='parameters' element='tns:insertinformationtogroupParameters' />
  </message>
  <message name='insertinformationtogroupResponseMessage'>
    <part name='response' element='tns:insertinformationtogroupResponse' />
  </message>
  <message name='insertpersonRequestMessage'>
    <part name='parameters' element='tns:insertpersonParameters' />
  </message>
  <message name='insertpersonResponseMessage'>
    <part name='response' element='tns:insertpersonResponse' />
  </message>
  <message name='insertpersontogroupRequestMessage'>
    <part name='parameters' element='tns:insertpersontogroupParameters' />
  </message>
  <message name='insertpersontogroupResponseMessage'>
    <part name='response' element='tns:insertpersontogroupResponse' />
  </message>
  <message name='registerRequestMessage'>
    <part name='parameters' element='tns:registerParameters' />
  </message>
  <message name='registerResponseMessage'>
    <part name='response' element='tns:registerResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <message name='verificationRequestMessage'>
    <part name='parameters' element='tns:verificationParameters' />
  </message>
  <message name='verificationResponseMessage'>
    <part name='response' element='tns:verificationResponse' />
  </message>
  <portType name='divitFacePortType'>
    <operation name='analysis'>
      <documentation></documentation>
      <input message='tns:analysisRequestMessage' name='analysisInput' />
      <output message='tns:analysisResponseMessage' name='analysisOutput' />
    </operation>
    <operation name='analysiswithurl'>
      <documentation>find face properties</documentation>
      <input message='tns:analysiswithurlRequestMessage' name='analysiswithurlInput' />
      <output message='tns:analysiswithurlResponseMessage' name='analysiswithurlOutput' />
    </operation>
    <operation name='checkuser'>
      <documentation>returns information of whether there is a user registered on the system or not</documentation>
      <input message='tns:checkuserRequestMessage' name='checkuserInput' />
      <output message='tns:checkuserResponseMessage' name='checkuserOutput' />
    </operation>
    <operation name='createfaceset'>
      <documentation></documentation>
      <input message='tns:createfacesetRequestMessage' name='createfacesetInput' />
      <output message='tns:createfacesetResponseMessage' name='createfacesetOutput' />
    </operation>
    <operation name='creategroup'>
      <input message='tns:creategroupRequestMessage' name='creategroupInput' />
      <output message='tns:creategroupResponseMessage' name='creategroupOutput' />
    </operation>
    <operation name='createperson'>
      <input message='tns:createpersonRequestMessage' name='createpersonInput' />
      <output message='tns:createpersonResponseMessage' name='createpersonOutput' />
    </operation>
    <operation name='deleteface'>
      <documentation></documentation>
      <input message='tns:deletefaceRequestMessage' name='deletefaceInput' />
      <output message='tns:deletefaceResponseMessage' name='deletefaceOutput' />
    </operation>
    <operation name='deletefacefromfaceset'>
      <documentation></documentation>
      <input message='tns:deletefacefromfacesetRequestMessage' name='deletefacefromfacesetInput' />
      <output message='tns:deletefacefromfacesetResponseMessage' name='deletefacefromfacesetOutput' />
    </operation>
    <operation name='deletefaceset'>
      <input message='tns:deletefacesetRequestMessage' name='deletefacesetInput' />
      <output message='tns:deletefacesetResponseMessage' name='deletefacesetOutput' />
    </operation>
    <operation name='deletegroup'>
      <documentation></documentation>
      <input message='tns:deletegroupRequestMessage' name='deletegroupInput' />
      <output message='tns:deletegroupResponseMessage' name='deletegroupOutput' />
    </operation>
    <operation name='deleteinformation'>
      <input message='tns:deleteinformationRequestMessage' name='deleteinformationInput' />
      <output message='tns:deleteinformationResponseMessage' name='deleteinformationOutput' />
    </operation>
    <operation name='deleteinformationfromfaceset'>
      <documentation></documentation>
      <input message='tns:deleteinformationfromfacesetRequestMessage' name='deleteinformationfromfacesetInput' />
      <output message='tns:deleteinformationfromfacesetResponseMessage' name='deleteinformationfromfacesetOutput' />
    </operation>
    <operation name='deleteinformationfromgroup'>
      <input message='tns:deleteinformationfromgroupRequestMessage' name='deleteinformationfromgroupInput' />
      <output message='tns:deleteinformationfromgroupResponseMessage' name='deleteinformationfromgroupOutput' />
    </operation>
    <operation name='deleteperson'>
      <input message='tns:deletepersonRequestMessage' name='deletepersonInput' />
      <output message='tns:deletepersonResponseMessage' name='deletepersonOutput' />
    </operation>
    <operation name='deletepersonfromgroup'>
      <input message='tns:deletepersonfromgroupRequestMessage' name='deletepersonfromgroupInput' />
      <output message='tns:deletepersonfromgroupResponseMessage' name='deletepersonfromgroupOutput' />
    </operation>
    <operation name='detection'>
      <documentation></documentation>
      <input message='tns:detectionRequestMessage' name='detectionInput' />
      <output message='tns:detectionResponseMessage' name='detectionOutput' />
    </operation>
    <operation name='detectionwithurl'>
      <documentation>get face location</documentation>
      <input message='tns:detectionwithurlRequestMessage' name='detectionwithurlInput' />
      <output message='tns:detectionwithurlResponseMessage' name='detectionwithurlOutput' />
    </operation>
    <operation name='findgender'>
      <documentation></documentation>
      <input message='tns:findgenderRequestMessage' name='findgenderInput' />
      <output message='tns:findgenderResponseMessage' name='findgenderOutput' />
    </operation>
    <operation name='getfaces'>
      <documentation>get all face from faceset</documentation>
      <input message='tns:getfacesRequestMessage' name='getfacesInput' />
      <output message='tns:getfacesResponseMessage' name='getfacesOutput' />
    </operation>
    <operation name='getfaceset'>
      <input message='tns:getfacesetRequestMessage' name='getfacesetInput' />
      <output message='tns:getfacesetResponseMessage' name='getfacesetOutput' />
    </operation>
    <operation name='getgroup'>
      <input message='tns:getgroupRequestMessage' name='getgroupInput' />
      <output message='tns:getgroupResponseMessage' name='getgroupOutput' />
    </operation>
    <operation name='getgrouplist'>
      <input message='tns:getgrouplistRequestMessage' name='getgrouplistInput' />
      <output message='tns:getgrouplistResponseMessage' name='getgrouplistOutput' />
    </operation>
    <operation name='getperson'>
      <documentation>get one of person from list</documentation>
      <input message='tns:getpersonRequestMessage' name='getpersonInput' />
      <output message='tns:getpersonResponseMessage' name='getpersonOutput' />
    </operation>
    <operation name='getpersons'>
      <documentation>get all persons of user</documentation>
      <input message='tns:getpersonsRequestMessage' name='getpersonsInput' />
      <output message='tns:getpersonsResponseMessage' name='getpersonsOutput' />
    </operation>
    <operation name='getpersonsofgroup'>
      <documentation></documentation>
      <input message='tns:getpersonsofgroupRequestMessage' name='getpersonsofgroupInput' />
      <output message='tns:getpersonsofgroupResponseMessage' name='getpersonsofgroupOutput' />
    </operation>
    <operation name='getuser'>
      <documentation>gets the User data from database</documentation>
      <input message='tns:getuserRequestMessage' name='getuserInput' />
      <output message='tns:getuserResponseMessage' name='getuserOutput' />
    </operation>
    <operation name='identification'>
      <input message='tns:identificationRequestMessage' name='identificationInput' />
      <output message='tns:identificationResponseMessage' name='identificationOutput' />
    </operation>
    <operation name='insertface'>
      <input message='tns:insertfaceRequestMessage' name='insertfaceInput' />
      <output message='tns:insertfaceResponseMessage' name='insertfaceOutput' />
    </operation>
    <operation name='insertfacetofaceset'>
      <input message='tns:insertfacetofacesetRequestMessage' name='insertfacetofacesetInput' />
      <output message='tns:insertfacetofacesetResponseMessage' name='insertfacetofacesetOutput' />
    </operation>
    <operation name='insertinformation'>
      <input message='tns:insertinformationRequestMessage' name='insertinformationInput' />
      <output message='tns:insertinformationResponseMessage' name='insertinformationOutput' />
    </operation>
    <operation name='insertinformationtofaceset'>
      <documentation></documentation>
      <input message='tns:insertinformationtofacesetRequestMessage' name='insertinformationtofacesetInput' />
      <output message='tns:insertinformationtofacesetResponseMessage' name='insertinformationtofacesetOutput' />
    </operation>
    <operation name='insertinformationtogroup'>
      <documentation></documentation>
      <input message='tns:insertinformationtogroupRequestMessage' name='insertinformationtogroupInput' />
      <output message='tns:insertinformationtogroupResponseMessage' name='insertinformationtogroupOutput' />
    </operation>
    <operation name='insertperson'>
      <documentation>add person to users list</documentation>
      <input message='tns:insertpersonRequestMessage' name='insertpersonInput' />
      <output message='tns:insertpersonResponseMessage' name='insertpersonOutput' />
    </operation>
    <operation name='insertpersontogroup'>
      <documentation></documentation>
      <input message='tns:insertpersontogroupRequestMessage' name='insertpersontogroupInput' />
      <output message='tns:insertpersontogroupResponseMessage' name='insertpersontogroupOutput' />
    </operation>
    <operation name='register'>
      <documentation>adds User to Database</documentation>
      <input message='tns:registerRequestMessage' name='registerInput' />
      <output message='tns:registerResponseMessage' name='registerOutput' />
    </operation>
    <operation name='search'>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
    <operation name='verification'>
      <documentation></documentation>
      <input message='tns:verificationRequestMessage' name='verificationInput' />
      <output message='tns:verificationResponseMessage' name='verificationOutput' />
    </operation>
  </portType>
  <binding name='divitFaceBinding' type='tns:divitFacePortType'>
    <operation name='analysis'>
      <soap12:operation soapAction='http://analysis' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='analysiswithurl'>
      <soap12:operation soapAction='http://analysiswithurl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='checkuser'>
      <soap12:operation soapAction='http://checkuser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createfaceset'>
      <soap12:operation soapAction='http://createfaceset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='creategroup'>
      <soap12:operation soapAction='http://creategroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createperson'>
      <soap12:operation soapAction='http://createperson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteface'>
      <soap12:operation soapAction='http://deleteface' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletefacefromfaceset'>
      <soap12:operation soapAction='http://deletefacefromfaceset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletefaceset'>
      <soap12:operation soapAction='http://deletefaceset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletegroup'>
      <soap12:operation soapAction='http://deletegroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteinformation'>
      <soap12:operation soapAction='http://deleteinformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteinformationfromfaceset'>
      <soap12:operation soapAction='http://deleteinformationfromfaceset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteinformationfromgroup'>
      <soap12:operation soapAction='http://deleteinformationfromgroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteperson'>
      <soap12:operation soapAction='http://deleteperson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletepersonfromgroup'>
      <soap12:operation soapAction='http://deletepersonfromgroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detection'>
      <soap12:operation soapAction='http://detection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detectionwithurl'>
      <soap12:operation soapAction='http://detectionwithurl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findgender'>
      <soap12:operation soapAction='http://findgender' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getfaces'>
      <soap12:operation soapAction='http://getfaces' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getfaceset'>
      <soap12:operation soapAction='http://getfaceset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgroup'>
      <soap12:operation soapAction='http://getgroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgrouplist'>
      <soap12:operation soapAction='http://getgrouplist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getperson'>
      <soap12:operation soapAction='http://getperson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getpersons'>
      <soap12:operation soapAction='http://getpersons' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getpersonsofgroup'>
      <soap12:operation soapAction='http://getpersonsofgroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuser'>
      <soap12:operation soapAction='http://getuser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='identification'>
      <soap12:operation soapAction='http://identification' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='insertface'>
      <soap12:operation soapAction='http://insertface' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='insertfacetofaceset'>
      <soap12:operation soapAction='http://insertfacetofaceset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='insertinformation'>
      <soap12:operation soapAction='http://insertinformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='insertinformationtofaceset'>
      <soap12:operation soapAction='http://insertinformationtofaceset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='insertinformationtogroup'>
      <soap12:operation soapAction='http://insertinformationtogroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='insertperson'>
      <soap12:operation soapAction='http://insertperson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='insertpersontogroup'>
      <soap12:operation soapAction='http://insertpersontogroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='register'>
      <soap12:operation soapAction='http://register' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='verification'>
      <soap12:operation soapAction='http://verification' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='divitFace'>
    <documentation>a face recognition API complete with detection analysis and identification features</documentation>
    <port name='divitFacePort' binding='tns:divitFaceBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://divitFace' />
    </port>
  </service>
</definitions>