workspace/datasets/mashape_dataset/docplanner.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/docplanner/' name='docplanner' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/docplanner/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/docplanner/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/docplanner/'>
      <xsd:element name='calendarSetHoursResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='doctorCalendarsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='doctorid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='doctorCalendarsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='visits' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n2' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='start' type='xsd:string' minOccurs='0' />
                        <xsd:element name='vacation' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n4' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='start' type='xsd:string' minOccurs='0' />
                        <xsd:element name='vacation' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hours' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='values' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='visit_time' type='xsd:int' minOccurs='0' />
            <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='require_pesel' type='xsd:int' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='doctorCategoriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='doctorCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='doctorSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phrase' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='doctorSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userRelatedDoctorsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userRelatedDoctorsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='items' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='surname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='visitBookParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='comment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='createuser' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='surname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='verifyphone' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='visitid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='visitBookResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='visitCancelParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='visitid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='visitCancelResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='visitDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='visitid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='visitDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='items' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='address' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='street' type='xsd:string' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='visit' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='canceled_by' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='calendar_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='canceled_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='start' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='active' type='xsd:int' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='doctor_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='booked_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='vacation' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='comment' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='comment' type='xsd:string' minOccurs='0' />
                              <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='calendarSetHoursRequestMessage' />
  <message name='calendarSetHoursResponseMessage'>
    <part name='response' element='tns:calendarSetHoursResponse' />
  </message>
  <message name='doctorCalendarsRequestMessage'>
    <part name='parameters' element='tns:doctorCalendarsParameters' />
  </message>
  <message name='doctorCalendarsResponseMessage'>
    <part name='response' element='tns:doctorCalendarsResponse' />
  </message>
  <message name='doctorCategoriesRequestMessage'>
    <part name='parameters' element='tns:doctorCategoriesParameters' />
  </message>
  <message name='doctorCategoriesResponseMessage'>
    <part name='response' element='tns:doctorCategoriesResponse' />
  </message>
  <message name='doctorSearchRequestMessage'>
    <part name='parameters' element='tns:doctorSearchParameters' />
  </message>
  <message name='doctorSearchResponseMessage'>
    <part name='response' element='tns:doctorSearchResponse' />
  </message>
  <message name='userRelatedDoctorsRequestMessage'>
    <part name='parameters' element='tns:userRelatedDoctorsParameters' />
  </message>
  <message name='userRelatedDoctorsResponseMessage'>
    <part name='response' element='tns:userRelatedDoctorsResponse' />
  </message>
  <message name='visitBookRequestMessage'>
    <part name='parameters' element='tns:visitBookParameters' />
  </message>
  <message name='visitBookResponseMessage'>
    <part name='response' element='tns:visitBookResponse' />
  </message>
  <message name='visitCancelRequestMessage'>
    <part name='parameters' element='tns:visitCancelParameters' />
  </message>
  <message name='visitCancelResponseMessage'>
    <part name='response' element='tns:visitCancelResponse' />
  </message>
  <message name='visitDetailsRequestMessage'>
    <part name='parameters' element='tns:visitDetailsParameters' />
  </message>
  <message name='visitDetailsResponseMessage'>
    <part name='response' element='tns:visitDetailsResponse' />
  </message>
  <portType name='docplannerPortType'>
    <operation name='calendarSetHours'>
      <documentation></documentation>
      <input message='tns:calendarSetHoursRequestMessage' name='calendarSetHoursInput' />
      <output message='tns:calendarSetHoursResponseMessage' name='calendarSetHoursOutput' />
    </operation>
    <operation name='doctorCalendars'>
      <documentation></documentation>
      <input message='tns:doctorCalendarsRequestMessage' name='doctorCalendarsInput' />
      <output message='tns:doctorCalendarsResponseMessage' name='doctorCalendarsOutput' />
    </operation>
    <operation name='doctorCategories'>
      <documentation></documentation>
      <input message='tns:doctorCategoriesRequestMessage' name='doctorCategoriesInput' />
      <output message='tns:doctorCategoriesResponseMessage' name='doctorCategoriesOutput' />
    </operation>
    <operation name='doctorSearch'>
      <documentation></documentation>
      <input message='tns:doctorSearchRequestMessage' name='doctorSearchInput' />
      <output message='tns:doctorSearchResponseMessage' name='doctorSearchOutput' />
    </operation>
    <operation name='userRelatedDoctors'>
      <documentation></documentation>
      <input message='tns:userRelatedDoctorsRequestMessage' name='userRelatedDoctorsInput' />
      <output message='tns:userRelatedDoctorsResponseMessage' name='userRelatedDoctorsOutput' />
    </operation>
    <operation name='visitBook'>
      <documentation></documentation>
      <input message='tns:visitBookRequestMessage' name='visitBookInput' />
      <output message='tns:visitBookResponseMessage' name='visitBookOutput' />
    </operation>
    <operation name='visitCancel'>
      <documentation></documentation>
      <input message='tns:visitCancelRequestMessage' name='visitCancelInput' />
      <output message='tns:visitCancelResponseMessage' name='visitCancelOutput' />
    </operation>
    <operation name='visitDetails'>
      <documentation></documentation>
      <input message='tns:visitDetailsRequestMessage' name='visitDetailsInput' />
      <output message='tns:visitDetailsResponseMessage' name='visitDetailsOutput' />
    </operation>
  </portType>
  <binding name='docplannerBinding' type='tns:docplannerPortType'>
    <operation name='calendarSetHours'>
      <soap12:operation soapAction='http://calendarSetHours' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='doctorCalendars'>
      <soap12:operation soapAction='http://doctorCalendars' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='doctorCategories'>
      <soap12:operation soapAction='http://doctorCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='doctorSearch'>
      <soap12:operation soapAction='http://doctorSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userRelatedDoctors'>
      <soap12:operation soapAction='http://userRelatedDoctors' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='visitBook'>
      <soap12:operation soapAction='http://visitBook' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='visitCancel'>
      <soap12:operation soapAction='http://visitCancel' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='visitDetails'>
      <soap12:operation soapAction='http://visitDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='docplanner'>
    <documentation>docPlanner com enables patients to find great local physicians online and book an appointment Choosing a specialist has never been more comfortable This API enables to integrate your clinic software with our online booking service</documentation>
    <port name='docplannerPort' binding='tns:docplannerBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://docplanner' />
    </port>
  </service>
</definitions>