workspace/datasets/mashape_dataset/doctape.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/doctape/' name='doctape' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/doctape/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/doctape/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/doctape/'>
      <xsd:element name='unPublishFileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='public' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unPublishFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cloneFileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cloneFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='extractArchiveZipParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='extractArchiveZipResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listFilesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='includemeta' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listFilesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listTapesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAudioMpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAudioMpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveDocumentPdfParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveDocumentPdfResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveFileOriginalParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveFileOriginalResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveFileInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='item' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveFileInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveFileThumbnailJpgParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='docid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveFileThumbnailJpgResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveFileThumbnailLargeJpgParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='docid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveFileThumbnailLargeJpgResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveHdPosterJpgParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveHdPosterJpgResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveHdVideoMpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveHdVideoMpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveImageJpgParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveImageJpgResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievePosterJpgParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievePosterJpgResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveTapeInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveTapeInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveUserAvatarParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='size' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveUserAvatarResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveUserDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveVideoMpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveVideoMpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateFileInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='item' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateFileInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTapeInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTapeInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadFileSResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='unPublishFileRequestMessage'>
    <part name='parameters' element='tns:unPublishFileParameters' />
  </message>
  <message name='unPublishFileResponseMessage'>
    <part name='response' element='tns:unPublishFileResponse' />
  </message>
  <message name='cloneFileRequestMessage'>
    <part name='parameters' element='tns:cloneFileParameters' />
  </message>
  <message name='cloneFileResponseMessage'>
    <part name='response' element='tns:cloneFileResponse' />
  </message>
  <message name='deleteFileRequestMessage'>
    <part name='parameters' element='tns:deleteFileParameters' />
  </message>
  <message name='deleteFileResponseMessage'>
    <part name='response' element='tns:deleteFileResponse' />
  </message>
  <message name='extractArchiveZipRequestMessage'>
    <part name='parameters' element='tns:extractArchiveZipParameters' />
  </message>
  <message name='extractArchiveZipResponseMessage'>
    <part name='response' element='tns:extractArchiveZipResponse' />
  </message>
  <message name='listFilesRequestMessage'>
    <part name='parameters' element='tns:listFilesParameters' />
  </message>
  <message name='listFilesResponseMessage'>
    <part name='response' element='tns:listFilesResponse' />
  </message>
  <message name='listTapesRequestMessage' />
  <message name='listTapesResponseMessage'>
    <part name='response' element='tns:listTapesResponse' />
  </message>
  <message name='retrieveAudioMpRequestMessage'>
    <part name='parameters' element='tns:retrieveAudioMpParameters' />
  </message>
  <message name='retrieveAudioMpResponseMessage'>
    <part name='response' element='tns:retrieveAudioMpResponse' />
  </message>
  <message name='retrieveDocumentPdfRequestMessage'>
    <part name='parameters' element='tns:retrieveDocumentPdfParameters' />
  </message>
  <message name='retrieveDocumentPdfResponseMessage'>
    <part name='response' element='tns:retrieveDocumentPdfResponse' />
  </message>
  <message name='retrieveFileOriginalRequestMessage'>
    <part name='parameters' element='tns:retrieveFileOriginalParameters' />
  </message>
  <message name='retrieveFileOriginalResponseMessage'>
    <part name='response' element='tns:retrieveFileOriginalResponse' />
  </message>
  <message name='retrieveFileInfoRequestMessage'>
    <part name='parameters' element='tns:retrieveFileInfoParameters' />
  </message>
  <message name='retrieveFileInfoResponseMessage'>
    <part name='response' element='tns:retrieveFileInfoResponse' />
  </message>
  <message name='retrieveFileThumbnailJpgRequestMessage'>
    <part name='parameters' element='tns:retrieveFileThumbnailJpgParameters' />
  </message>
  <message name='retrieveFileThumbnailJpgResponseMessage'>
    <part name='response' element='tns:retrieveFileThumbnailJpgResponse' />
  </message>
  <message name='retrieveFileThumbnailLargeJpgRequestMessage'>
    <part name='parameters' element='tns:retrieveFileThumbnailLargeJpgParameters' />
  </message>
  <message name='retrieveFileThumbnailLargeJpgResponseMessage'>
    <part name='response' element='tns:retrieveFileThumbnailLargeJpgResponse' />
  </message>
  <message name='retrieveHdPosterJpgRequestMessage'>
    <part name='parameters' element='tns:retrieveHdPosterJpgParameters' />
  </message>
  <message name='retrieveHdPosterJpgResponseMessage'>
    <part name='response' element='tns:retrieveHdPosterJpgResponse' />
  </message>
  <message name='retrieveHdVideoMpRequestMessage'>
    <part name='parameters' element='tns:retrieveHdVideoMpParameters' />
  </message>
  <message name='retrieveHdVideoMpResponseMessage'>
    <part name='response' element='tns:retrieveHdVideoMpResponse' />
  </message>
  <message name='retrieveImageJpgRequestMessage'>
    <part name='parameters' element='tns:retrieveImageJpgParameters' />
  </message>
  <message name='retrieveImageJpgResponseMessage'>
    <part name='response' element='tns:retrieveImageJpgResponse' />
  </message>
  <message name='retrievePosterJpgRequestMessage'>
    <part name='parameters' element='tns:retrievePosterJpgParameters' />
  </message>
  <message name='retrievePosterJpgResponseMessage'>
    <part name='response' element='tns:retrievePosterJpgResponse' />
  </message>
  <message name='retrieveTapeInfoRequestMessage'>
    <part name='parameters' element='tns:retrieveTapeInfoParameters' />
  </message>
  <message name='retrieveTapeInfoResponseMessage'>
    <part name='response' element='tns:retrieveTapeInfoResponse' />
  </message>
  <message name='retrieveUserAvatarRequestMessage'>
    <part name='parameters' element='tns:retrieveUserAvatarParameters' />
  </message>
  <message name='retrieveUserAvatarResponseMessage'>
    <part name='response' element='tns:retrieveUserAvatarResponse' />
  </message>
  <message name='retrieveUserDataRequestMessage' />
  <message name='retrieveUserDataResponseMessage'>
    <part name='response' element='tns:retrieveUserDataResponse' />
  </message>
  <message name='retrieveVideoMpRequestMessage'>
    <part name='parameters' element='tns:retrieveVideoMpParameters' />
  </message>
  <message name='retrieveVideoMpResponseMessage'>
    <part name='response' element='tns:retrieveVideoMpResponse' />
  </message>
  <message name='updateFileInfoRequestMessage'>
    <part name='parameters' element='tns:updateFileInfoParameters' />
  </message>
  <message name='updateFileInfoResponseMessage'>
    <part name='response' element='tns:updateFileInfoResponse' />
  </message>
  <message name='updateTapeInfoRequestMessage'>
    <part name='parameters' element='tns:updateTapeInfoParameters' />
  </message>
  <message name='updateTapeInfoResponseMessage'>
    <part name='response' element='tns:updateTapeInfoResponse' />
  </message>
  <message name='uploadFileSRequestMessage' />
  <message name='uploadFileSResponseMessage'>
    <part name='response' element='tns:uploadFileSResponse' />
  </message>
  <portType name='doctapePortType'>
    <operation name='unPublishFile'>
      <documentation></documentation>
      <input message='tns:unPublishFileRequestMessage' name='unPublishFileInput' />
      <output message='tns:unPublishFileResponseMessage' name='unPublishFileOutput' />
    </operation>
    <operation name='cloneFile'>
      <documentation></documentation>
      <input message='tns:cloneFileRequestMessage' name='cloneFileInput' />
      <output message='tns:cloneFileResponseMessage' name='cloneFileOutput' />
    </operation>
    <operation name='deleteFile'>
      <documentation></documentation>
      <input message='tns:deleteFileRequestMessage' name='deleteFileInput' />
      <output message='tns:deleteFileResponseMessage' name='deleteFileOutput' />
    </operation>
    <operation name='extractArchiveZip'>
      <documentation></documentation>
      <input message='tns:extractArchiveZipRequestMessage' name='extractArchiveZipInput' />
      <output message='tns:extractArchiveZipResponseMessage' name='extractArchiveZipOutput' />
    </operation>
    <operation name='listFiles'>
      <documentation></documentation>
      <input message='tns:listFilesRequestMessage' name='listFilesInput' />
      <output message='tns:listFilesResponseMessage' name='listFilesOutput' />
    </operation>
    <operation name='listTapes'>
      <documentation></documentation>
      <input message='tns:listTapesRequestMessage' name='listTapesInput' />
      <output message='tns:listTapesResponseMessage' name='listTapesOutput' />
    </operation>
    <operation name='retrieveAudioMp'>
      <documentation></documentation>
      <input message='tns:retrieveAudioMpRequestMessage' name='retrieveAudioMpInput' />
      <output message='tns:retrieveAudioMpResponseMessage' name='retrieveAudioMpOutput' />
    </operation>
    <operation name='retrieveDocumentPdf'>
      <documentation></documentation>
      <input message='tns:retrieveDocumentPdfRequestMessage' name='retrieveDocumentPdfInput' />
      <output message='tns:retrieveDocumentPdfResponseMessage' name='retrieveDocumentPdfOutput' />
    </operation>
    <operation name='retrieveFileOriginal'>
      <documentation></documentation>
      <input message='tns:retrieveFileOriginalRequestMessage' name='retrieveFileOriginalInput' />
      <output message='tns:retrieveFileOriginalResponseMessage' name='retrieveFileOriginalOutput' />
    </operation>
    <operation name='retrieveFileInfo'>
      <documentation></documentation>
      <input message='tns:retrieveFileInfoRequestMessage' name='retrieveFileInfoInput' />
      <output message='tns:retrieveFileInfoResponseMessage' name='retrieveFileInfoOutput' />
    </operation>
    <operation name='retrieveFileThumbnailJpg'>
      <documentation></documentation>
      <input message='tns:retrieveFileThumbnailJpgRequestMessage' name='retrieveFileThumbnailJpgInput' />
      <output message='tns:retrieveFileThumbnailJpgResponseMessage' name='retrieveFileThumbnailJpgOutput' />
    </operation>
    <operation name='retrieveFileThumbnailLargeJpg'>
      <documentation></documentation>
      <input message='tns:retrieveFileThumbnailLargeJpgRequestMessage' name='retrieveFileThumbnailLargeJpgInput' />
      <output message='tns:retrieveFileThumbnailLargeJpgResponseMessage' name='retrieveFileThumbnailLargeJpgOutput' />
    </operation>
    <operation name='retrieveHdPosterJpg'>
      <documentation></documentation>
      <input message='tns:retrieveHdPosterJpgRequestMessage' name='retrieveHdPosterJpgInput' />
      <output message='tns:retrieveHdPosterJpgResponseMessage' name='retrieveHdPosterJpgOutput' />
    </operation>
    <operation name='retrieveHdVideoMp'>
      <documentation></documentation>
      <input message='tns:retrieveHdVideoMpRequestMessage' name='retrieveHdVideoMpInput' />
      <output message='tns:retrieveHdVideoMpResponseMessage' name='retrieveHdVideoMpOutput' />
    </operation>
    <operation name='retrieveImageJpg'>
      <documentation></documentation>
      <input message='tns:retrieveImageJpgRequestMessage' name='retrieveImageJpgInput' />
      <output message='tns:retrieveImageJpgResponseMessage' name='retrieveImageJpgOutput' />
    </operation>
    <operation name='retrievePosterJpg'>
      <documentation></documentation>
      <input message='tns:retrievePosterJpgRequestMessage' name='retrievePosterJpgInput' />
      <output message='tns:retrievePosterJpgResponseMessage' name='retrievePosterJpgOutput' />
    </operation>
    <operation name='retrieveTapeInfo'>
      <documentation></documentation>
      <input message='tns:retrieveTapeInfoRequestMessage' name='retrieveTapeInfoInput' />
      <output message='tns:retrieveTapeInfoResponseMessage' name='retrieveTapeInfoOutput' />
    </operation>
    <operation name='retrieveUserAvatar'>
      <documentation></documentation>
      <input message='tns:retrieveUserAvatarRequestMessage' name='retrieveUserAvatarInput' />
      <output message='tns:retrieveUserAvatarResponseMessage' name='retrieveUserAvatarOutput' />
    </operation>
    <operation name='retrieveUserData'>
      <documentation></documentation>
      <input message='tns:retrieveUserDataRequestMessage' name='retrieveUserDataInput' />
      <output message='tns:retrieveUserDataResponseMessage' name='retrieveUserDataOutput' />
    </operation>
    <operation name='retrieveVideoMp'>
      <documentation></documentation>
      <input message='tns:retrieveVideoMpRequestMessage' name='retrieveVideoMpInput' />
      <output message='tns:retrieveVideoMpResponseMessage' name='retrieveVideoMpOutput' />
    </operation>
    <operation name='updateFileInfo'>
      <documentation></documentation>
      <input message='tns:updateFileInfoRequestMessage' name='updateFileInfoInput' />
      <output message='tns:updateFileInfoResponseMessage' name='updateFileInfoOutput' />
    </operation>
    <operation name='updateTapeInfo'>
      <documentation></documentation>
      <input message='tns:updateTapeInfoRequestMessage' name='updateTapeInfoInput' />
      <output message='tns:updateTapeInfoResponseMessage' name='updateTapeInfoOutput' />
    </operation>
    <operation name='uploadFileS'>
      <documentation></documentation>
      <input message='tns:uploadFileSRequestMessage' name='uploadFileSInput' />
      <output message='tns:uploadFileSResponseMessage' name='uploadFileSOutput' />
    </operation>
  </portType>
  <binding name='doctapeBinding' type='tns:doctapePortType'>
    <operation name='unPublishFile'>
      <soap12:operation soapAction='http://unPublishFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cloneFile'>
      <soap12:operation soapAction='http://cloneFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteFile'>
      <soap12:operation soapAction='http://deleteFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='extractArchiveZip'>
      <soap12:operation soapAction='http://extractArchiveZip' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listFiles'>
      <soap12:operation soapAction='http://listFiles' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listTapes'>
      <soap12:operation soapAction='http://listTapes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAudioMp'>
      <soap12:operation soapAction='http://retrieveAudioMp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveDocumentPdf'>
      <soap12:operation soapAction='http://retrieveDocumentPdf' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveFileOriginal'>
      <soap12:operation soapAction='http://retrieveFileOriginal' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveFileInfo'>
      <soap12:operation soapAction='http://retrieveFileInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveFileThumbnailJpg'>
      <soap12:operation soapAction='http://retrieveFileThumbnailJpg' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveFileThumbnailLargeJpg'>
      <soap12:operation soapAction='http://retrieveFileThumbnailLargeJpg' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveHdPosterJpg'>
      <soap12:operation soapAction='http://retrieveHdPosterJpg' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveHdVideoMp'>
      <soap12:operation soapAction='http://retrieveHdVideoMp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveImageJpg'>
      <soap12:operation soapAction='http://retrieveImageJpg' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrievePosterJpg'>
      <soap12:operation soapAction='http://retrievePosterJpg' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveTapeInfo'>
      <soap12:operation soapAction='http://retrieveTapeInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveUserAvatar'>
      <soap12:operation soapAction='http://retrieveUserAvatar' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveUserData'>
      <soap12:operation soapAction='http://retrieveUserData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveVideoMp'>
      <soap12:operation soapAction='http://retrieveVideoMp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateFileInfo'>
      <soap12:operation soapAction='http://updateFileInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateTapeInfo'>
      <soap12:operation soapAction='http://updateTapeInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='uploadFileS'>
      <soap12:operation soapAction='http://uploadFileS' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='doctape'>
    <documentation>your personal document and media hub Simplify your file management View organize share your files instantly in a single place</documentation>
    <port name='doctapePort' binding='tns:doctapeBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://doctape' />
    </port>
  </service>
</definitions>