workspace/datasets/mashape_dataset/docusignrest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/docusignRest/' name='docusignRest' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/docusignRest/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/docusignRest/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/docusignRest/'>
      <xsd:element name='embeddedConsoleViewParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='embeddedConsoleViewResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='embeddedSendingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='envelopeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='embeddedSendingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='embeddedSigningParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='envelopeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='embeddedSigningResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loginResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='loginAccounts' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='accountId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='baseUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='isDefault' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='siteDescription' type='xsd:string' minOccurs='0' />
                  <xsd:element name='userName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='requestSignatureOnADocumentSParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='requestSignatureOnADocumentSResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='envelopeId' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='statusDateTime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='embeddedConsoleViewRequestMessage'>
    <part name='parameters' element='tns:embeddedConsoleViewParameters' />
  </message>
  <message name='embeddedConsoleViewResponseMessage'>
    <part name='response' element='tns:embeddedConsoleViewResponse' />
  </message>
  <message name='embeddedSendingRequestMessage'>
    <part name='parameters' element='tns:embeddedSendingParameters' />
  </message>
  <message name='embeddedSendingResponseMessage'>
    <part name='response' element='tns:embeddedSendingResponse' />
  </message>
  <message name='embeddedSigningRequestMessage'>
    <part name='parameters' element='tns:embeddedSigningParameters' />
  </message>
  <message name='embeddedSigningResponseMessage'>
    <part name='response' element='tns:embeddedSigningResponse' />
  </message>
  <message name='loginRequestMessage' />
  <message name='loginResponseMessage'>
    <part name='response' element='tns:loginResponse' />
  </message>
  <message name='requestSignatureOnADocumentSRequestMessage'>
    <part name='parameters' element='tns:requestSignatureOnADocumentSParameters' />
  </message>
  <message name='requestSignatureOnADocumentSResponseMessage'>
    <part name='response' element='tns:requestSignatureOnADocumentSResponse' />
  </message>
  <portType name='docusignRestPortType'>
    <operation name='embeddedConsoleView'>
      <documentation>embedding can be used to initiate requests through direct URLs instead of Email links</documentation>
      <input message='tns:embeddedConsoleViewRequestMessage' name='embeddedConsoleViewInput' />
      <output message='tns:embeddedConsoleViewResponseMessage' name='embeddedConsoleViewOutput' />
    </operation>
    <operation name='embeddedSending'>
      <documentation>embedding can be used to initiate requests through direct URLs instead of Email links</documentation>
      <input message='tns:embeddedSendingRequestMessage' name='embeddedSendingInput' />
      <output message='tns:embeddedSendingResponseMessage' name='embeddedSendingOutput' />
    </operation>
    <operation name='embeddedSigning'>
      <documentation>embedding can be used to initiate requests through direct URLs instead of Email links</documentation>
      <input message='tns:embeddedSigningRequestMessage' name='embeddedSigningInput' />
      <output message='tns:embeddedSigningResponseMessage' name='embeddedSigningOutput' />
    </operation>
    <operation name='login'>
      <documentation>login call where everything starts</documentation>
      <input message='tns:loginRequestMessage' name='loginInput' />
      <output message='tns:loginResponseMessage' name='loginOutput' />
    </operation>
    <operation name='requestSignatureOnADocumentS'>
      <documentation></documentation>
      <input message='tns:requestSignatureOnADocumentSRequestMessage' name='requestSignatureOnADocumentSInput' />
      <output message='tns:requestSignatureOnADocumentSResponseMessage' name='requestSignatureOnADocumentSOutput' />
    </operation>
  </portType>
  <binding name='docusignRestBinding' type='tns:docusignRestPortType'>
    <operation name='embeddedConsoleView'>
      <soap12:operation soapAction='http://embeddedConsoleView' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='embeddedSending'>
      <soap12:operation soapAction='http://embeddedSending' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='embeddedSigning'>
      <soap12:operation soapAction='http://embeddedSigning' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='login'>
      <soap12:operation soapAction='http://login' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='requestSignatureOnADocumentS'>
      <soap12:operation soapAction='http://requestSignatureOnADocumentS' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='docusignRest'>
    <documentation>docuSign eSignature API allows you to request signatures on contracts get status download completed documents and embed DocuSign interface into your apps You can get a free developer account by going to www docusign com devcenter</documentation>
    <port name='docusignRestPort' binding='tns:docusignRestBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://docusignRest' />
    </port>
  </service>
</definitions>