workspace/datasets/mashape_dataset/documentconversionsuite.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/documentConversionSuite/' name='documentConversionSuite' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/documentConversionSuite/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/documentConversionSuite/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/documentConversionSuite/'>
      <xsd:element name='addtodocxconversionqueuejsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='taskId' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addtopdfconversionqueueResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='taskId' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addtopdfconversionqueuejsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='taskId' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addtotiffconversionqueueResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='taskId' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addtotiffconversionqueuejsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='taskId' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addtowebconversionqueuejsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='taskId' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkconversionstatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='taskid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkconversionstatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='conversionStatus' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletetaskParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='taskid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletetaskResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='conversionStatus' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadconvertedfileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='taskid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadconvertedfileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addtodocxconversionqueuejsonRequestMessage' />
  <message name='addtodocxconversionqueuejsonResponseMessage'>
    <part name='response' element='tns:addtodocxconversionqueuejsonResponse' />
  </message>
  <message name='addtopdfconversionqueueRequestMessage' />
  <message name='addtopdfconversionqueueResponseMessage'>
    <part name='response' element='tns:addtopdfconversionqueueResponse' />
  </message>
  <message name='addtopdfconversionqueuejsonRequestMessage' />
  <message name='addtopdfconversionqueuejsonResponseMessage'>
    <part name='response' element='tns:addtopdfconversionqueuejsonResponse' />
  </message>
  <message name='addtotiffconversionqueueRequestMessage' />
  <message name='addtotiffconversionqueueResponseMessage'>
    <part name='response' element='tns:addtotiffconversionqueueResponse' />
  </message>
  <message name='addtotiffconversionqueuejsonRequestMessage' />
  <message name='addtotiffconversionqueuejsonResponseMessage'>
    <part name='response' element='tns:addtotiffconversionqueuejsonResponse' />
  </message>
  <message name='addtowebconversionqueuejsonRequestMessage' />
  <message name='addtowebconversionqueuejsonResponseMessage'>
    <part name='response' element='tns:addtowebconversionqueuejsonResponse' />
  </message>
  <message name='checkconversionstatusRequestMessage'>
    <part name='parameters' element='tns:checkconversionstatusParameters' />
  </message>
  <message name='checkconversionstatusResponseMessage'>
    <part name='response' element='tns:checkconversionstatusResponse' />
  </message>
  <message name='deletetaskRequestMessage'>
    <part name='parameters' element='tns:deletetaskParameters' />
  </message>
  <message name='deletetaskResponseMessage'>
    <part name='response' element='tns:deletetaskResponse' />
  </message>
  <message name='downloadconvertedfileRequestMessage'>
    <part name='parameters' element='tns:downloadconvertedfileParameters' />
  </message>
  <message name='downloadconvertedfileResponseMessage'>
    <part name='response' element='tns:downloadconvertedfileResponse' />
  </message>
  <portType name='documentConversionSuitePortType'>
    <operation name='addtodocxconversionqueuejson'>
      <documentation>creates PDF to Microsoft Word DocX conversion task</documentation>
      <input message='tns:addtodocxconversionqueuejsonRequestMessage' name='addtodocxconversionqueuejsonInput' />
      <output message='tns:addtodocxconversionqueuejsonResponseMessage' name='addtodocxconversionqueuejsonOutput' />
    </operation>
    <operation name='addtopdfconversionqueue'>
      <documentation>creates PDF conversion job and returns id of task</documentation>
      <input message='tns:addtopdfconversionqueueRequestMessage' name='addtopdfconversionqueueInput' />
      <output message='tns:addtopdfconversionqueueResponseMessage' name='addtopdfconversionqueueOutput' />
    </operation>
    <operation name='addtopdfconversionqueuejson'>
      <documentation>creates PDF conversion job and returns id of task</documentation>
      <input message='tns:addtopdfconversionqueuejsonRequestMessage' name='addtopdfconversionqueuejsonInput' />
      <output message='tns:addtopdfconversionqueuejsonResponseMessage' name='addtopdfconversionqueuejsonOutput' />
    </operation>
    <operation name='addtotiffconversionqueue'>
      <documentation>creates TIFF conversion job and returns id of task</documentation>
      <input message='tns:addtotiffconversionqueueRequestMessage' name='addtotiffconversionqueueInput' />
      <output message='tns:addtotiffconversionqueueResponseMessage' name='addtotiffconversionqueueOutput' />
    </operation>
    <operation name='addtotiffconversionqueuejson'>
      <documentation>creates TIFF conversion job and returns id of task</documentation>
      <input message='tns:addtotiffconversionqueuejsonRequestMessage' name='addtotiffconversionqueuejsonInput' />
      <output message='tns:addtotiffconversionqueuejsonResponseMessage' name='addtotiffconversionqueuejsonOutput' />
    </operation>
    <operation name='addtowebconversionqueuejson'>
      <documentation>creates web conversion job and returns id of task</documentation>
      <input message='tns:addtowebconversionqueuejsonRequestMessage' name='addtowebconversionqueuejsonInput' />
      <output message='tns:addtowebconversionqueuejsonResponseMessage' name='addtowebconversionqueuejsonOutput' />
    </operation>
    <operation name='checkconversionstatus'>
      <documentation>returns current status of conversion job</documentation>
      <input message='tns:checkconversionstatusRequestMessage' name='checkconversionstatusInput' />
      <output message='tns:checkconversionstatusResponseMessage' name='checkconversionstatusOutput' />
    </operation>
    <operation name='deletetask'>
      <documentation>deletes conversion task from server</documentation>
      <input message='tns:deletetaskRequestMessage' name='deletetaskInput' />
      <output message='tns:deletetaskResponseMessage' name='deletetaskOutput' />
    </operation>
    <operation name='downloadconvertedfile'>
      <documentation>download converted file from server</documentation>
      <input message='tns:downloadconvertedfileRequestMessage' name='downloadconvertedfileInput' />
      <output message='tns:downloadconvertedfileResponseMessage' name='downloadconvertedfileOutput' />
    </operation>
  </portType>
  <binding name='documentConversionSuiteBinding' type='tns:documentConversionSuitePortType'>
    <operation name='addtodocxconversionqueuejson'>
      <soap12:operation soapAction='http://addtodocxconversionqueuejson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addtopdfconversionqueue'>
      <soap12:operation soapAction='http://addtopdfconversionqueue' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addtopdfconversionqueuejson'>
      <soap12:operation soapAction='http://addtopdfconversionqueuejson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addtotiffconversionqueue'>
      <soap12:operation soapAction='http://addtotiffconversionqueue' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addtotiffconversionqueuejson'>
      <soap12:operation soapAction='http://addtotiffconversionqueuejson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addtowebconversionqueuejson'>
      <soap12:operation soapAction='http://addtowebconversionqueuejson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='checkconversionstatus'>
      <soap12:operation soapAction='http://checkconversionstatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletetask'>
      <soap12:operation soapAction='http://deletetask' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='downloadconvertedfile'>
      <soap12:operation soapAction='http://downloadconvertedfile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='documentConversionSuite'>
    <documentation>document conversion suite provides cloud API to create PDF and multipage TIFF from various document sources Also It could convert PDF file to Microsoft Word format</documentation>
    <port name='documentConversionSuitePort' binding='tns:documentConversionSuiteBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://documentConversionSuite' />
    </port>
  </service>
</definitions>