workspace/datasets/mashape_dataset/dogechain.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/dogechain/' name='dogechain' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/dogechain/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/dogechain/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/dogechain/'>
      <xsd:element name='addressBalanceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addressBalanceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addressToHashParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addressToHashResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkAddressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='decodeAddressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='decodeAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getBlockCountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDifficultyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getReceivedByAddressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getReceivedByAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSentByAddressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSentByAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hashToAddressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hashToAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='netHashResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='totalbcResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transactionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addressBalanceRequestMessage'>
    <part name='parameters' element='tns:addressBalanceParameters' />
  </message>
  <message name='addressBalanceResponseMessage'>
    <part name='response' element='tns:addressBalanceResponse' />
  </message>
  <message name='addressToHashRequestMessage'>
    <part name='parameters' element='tns:addressToHashParameters' />
  </message>
  <message name='addressToHashResponseMessage'>
    <part name='response' element='tns:addressToHashResponse' />
  </message>
  <message name='checkAddressRequestMessage'>
    <part name='parameters' element='tns:checkAddressParameters' />
  </message>
  <message name='checkAddressResponseMessage'>
    <part name='response' element='tns:checkAddressResponse' />
  </message>
  <message name='decodeAddressRequestMessage'>
    <part name='parameters' element='tns:decodeAddressParameters' />
  </message>
  <message name='decodeAddressResponseMessage'>
    <part name='response' element='tns:decodeAddressResponse' />
  </message>
  <message name='getBlockCountRequestMessage' />
  <message name='getBlockCountResponseMessage'>
    <part name='response' element='tns:getBlockCountResponse' />
  </message>
  <message name='getDifficultyRequestMessage' />
  <message name='getDifficultyResponseMessage'>
    <part name='response' element='tns:getDifficultyResponse' />
  </message>
  <message name='getReceivedByAddressRequestMessage'>
    <part name='parameters' element='tns:getReceivedByAddressParameters' />
  </message>
  <message name='getReceivedByAddressResponseMessage'>
    <part name='response' element='tns:getReceivedByAddressResponse' />
  </message>
  <message name='getSentByAddressRequestMessage'>
    <part name='parameters' element='tns:getSentByAddressParameters' />
  </message>
  <message name='getSentByAddressResponseMessage'>
    <part name='response' element='tns:getSentByAddressResponse' />
  </message>
  <message name='hashToAddressRequestMessage'>
    <part name='parameters' element='tns:hashToAddressParameters' />
  </message>
  <message name='hashToAddressResponseMessage'>
    <part name='response' element='tns:hashToAddressResponse' />
  </message>
  <message name='netHashRequestMessage' />
  <message name='netHashResponseMessage'>
    <part name='response' element='tns:netHashResponse' />
  </message>
  <message name='totalbcRequestMessage' />
  <message name='totalbcResponseMessage'>
    <part name='response' element='tns:totalbcResponse' />
  </message>
  <message name='transactionsRequestMessage' />
  <message name='transactionsResponseMessage'>
    <part name='response' element='tns:transactionsResponse' />
  </message>
  <portType name='dogechainPortType'>
    <operation name='addressBalance'>
      <documentation>returns amount ever received minus amount ever sent by a given address</documentation>
      <input message='tns:addressBalanceRequestMessage' name='addressBalanceInput' />
      <output message='tns:addressBalanceResponseMessage' name='addressBalanceOutput' />
    </operation>
    <operation name='addressToHash'>
      <documentation>returns the public key hash encoded in an address</documentation>
      <input message='tns:addressToHashRequestMessage' name='addressToHashInput' />
      <output message='tns:addressToHashResponseMessage' name='addressToHashOutput' />
    </operation>
    <operation name='checkAddress'>
      <documentation>check an Address for Validity</documentation>
      <input message='tns:checkAddressRequestMessage' name='checkAddressInput' />
      <output message='tns:checkAddressResponseMessage' name='checkAddressOutput' />
    </operation>
    <operation name='decodeAddress'>
      <documentation>returns the version prefix and hash encoded in an address</documentation>
      <input message='tns:decodeAddressRequestMessage' name='decodeAddressInput' />
      <output message='tns:decodeAddressResponseMessage' name='decodeAddressOutput' />
    </operation>
    <operation name='getBlockCount'>
      <documentation>returns the current block count</documentation>
      <input message='tns:getBlockCountRequestMessage' name='getBlockCountInput' />
      <output message='tns:getBlockCountResponseMessage' name='getBlockCountOutput' />
    </operation>
    <operation name='getDifficulty'>
      <documentation>returns the last solved block s difficulty</documentation>
      <input message='tns:getDifficultyRequestMessage' name='getDifficultyInput' />
      <output message='tns:getDifficultyResponseMessage' name='getDifficultyOutput' />
    </operation>
    <operation name='getReceivedByAddress'>
      <documentation>returns the amount ever received by a given address</documentation>
      <input message='tns:getReceivedByAddressRequestMessage' name='getReceivedByAddressInput' />
      <output message='tns:getReceivedByAddressResponseMessage' name='getReceivedByAddressOutput' />
    </operation>
    <operation name='getSentByAddress'>
      <documentation>returns the amount ever sent from a given address</documentation>
      <input message='tns:getSentByAddressRequestMessage' name='getSentByAddressInput' />
      <output message='tns:getSentByAddressResponseMessage' name='getSentByAddressOutput' />
    </operation>
    <operation name='hashToAddress'>
      <documentation>returns the address with the given version prefix and hash</documentation>
      <input message='tns:hashToAddressRequestMessage' name='hashToAddressInput' />
      <output message='tns:hashToAddressResponseMessage' name='hashToAddressOutput' />
    </operation>
    <operation name='netHash'>
      <documentation>returns statistics about difficulty and network power</documentation>
      <input message='tns:netHashRequestMessage' name='netHashInput' />
      <output message='tns:netHashResponseMessage' name='netHashOutput' />
    </operation>
    <operation name='totalbc'>
      <documentation>returns the amount of currency ever mined</documentation>
      <input message='tns:totalbcRequestMessage' name='totalbcInput' />
      <output message='tns:totalbcResponseMessage' name='totalbcOutput' />
    </operation>
    <operation name='transactions'>
      <documentation>returns the amount transactions of the last blocks</documentation>
      <input message='tns:transactionsRequestMessage' name='transactionsInput' />
      <output message='tns:transactionsResponseMessage' name='transactionsOutput' />
    </operation>
  </portType>
  <binding name='dogechainBinding' type='tns:dogechainPortType'>
    <operation name='addressBalance'>
      <soap12:operation soapAction='http://addressBalance' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addressToHash'>
      <soap12:operation soapAction='http://addressToHash' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='checkAddress'>
      <soap12:operation soapAction='http://checkAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='decodeAddress'>
      <soap12:operation soapAction='http://decodeAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getBlockCount'>
      <soap12:operation soapAction='http://getBlockCount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDifficulty'>
      <soap12:operation soapAction='http://getDifficulty' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getReceivedByAddress'>
      <soap12:operation soapAction='http://getReceivedByAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSentByAddress'>
      <soap12:operation soapAction='http://getSentByAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='hashToAddress'>
      <soap12:operation soapAction='http://hashToAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='netHash'>
      <soap12:operation soapAction='http://netHash' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='totalbc'>
      <soap12:operation soapAction='http://totalbc' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='transactions'>
      <soap12:operation soapAction='http://transactions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='dogechain'>
    <documentation>the API of the Dogecoin blockchain get info on an address and current network statistics</documentation>
    <port name='dogechainPort' binding='tns:dogechainBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://dogechain' />
    </port>
  </service>
</definitions>