workspace/datasets/mashape_dataset/donorschooseorgdata.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/donorschooseOrgData/' name='donorschooseOrgData' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/donorschooseOrgData/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/donorschooseOrgData/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/donorschooseOrgData/'>
      <xsd:element name='donorPagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='donorid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='favoritesindex' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='favoritesmax' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagesindex' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagesmax' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='messagesverbose' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='photosonly' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='proposalsindex' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='proposalsmax' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='showbasicinfo' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='showgivingpages' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='donorPagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='givingPagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='givingPagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='centerlat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='centerlng' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='challengeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='community' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='concise' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='costtocomplete' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='gradetype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='historical' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keywords' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='nwlat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='nwlng' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='partiallyfunded' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='proposaltype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='proposaltypecombo' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='resourceusage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='schooltype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subject' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subject' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subject' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subject' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subject' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subject' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subject' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='teachertype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='teacherPagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hasproposalphotos' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='historical' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='index' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='max' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='teacher' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='teacherPagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='donorPagesRequestMessage'>
    <part name='parameters' element='tns:donorPagesParameters' />
  </message>
  <message name='donorPagesResponseMessage'>
    <part name='response' element='tns:donorPagesResponse' />
  </message>
  <message name='givingPagesRequestMessage'>
    <part name='parameters' element='tns:givingPagesParameters' />
  </message>
  <message name='givingPagesResponseMessage'>
    <part name='response' element='tns:givingPagesResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <message name='teacherPagesRequestMessage'>
    <part name='parameters' element='tns:teacherPagesParameters' />
  </message>
  <message name='teacherPagesResponseMessage'>
    <part name='response' element='tns:teacherPagesResponse' />
  </message>
  <portType name='donorschooseOrgDataPortType'>
    <operation name='donorPages'>
      <documentation></documentation>
      <input message='tns:donorPagesRequestMessage' name='donorPagesInput' />
      <output message='tns:donorPagesResponseMessage' name='donorPagesOutput' />
    </operation>
    <operation name='givingPages'>
      <documentation></documentation>
      <input message='tns:givingPagesRequestMessage' name='givingPagesInput' />
      <output message='tns:givingPagesResponseMessage' name='givingPagesOutput' />
    </operation>
    <operation name='search'>
      <documentation>search based on criteria</documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
    <operation name='teacherPages'>
      <documentation></documentation>
      <input message='tns:teacherPagesRequestMessage' name='teacherPagesInput' />
      <output message='tns:teacherPagesResponseMessage' name='teacherPagesOutput' />
    </operation>
  </portType>
  <binding name='donorschooseOrgDataBinding' type='tns:donorschooseOrgDataPortType'>
    <operation name='donorPages'>
      <soap12:operation soapAction='http://donorPages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='givingPages'>
      <soap12:operation soapAction='http://givingPages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='teacherPages'>
      <soap12:operation soapAction='http://teacherPages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='donorschooseOrgData'>
    <documentation>our simple JSON API allows developers to help classroom projects with their website or application It serves up project titles descriptions classroom photos geo tags full teacher written essays and more It can also be used to issue gift cards to your customers so they can support a classroom projects of their choosing The API has been used by Chevron SONIC Drive In NBC Universal Bing PayPal Starbucks and others to build customized cause marketing and community engagement experiences</documentation>
    <port name='donorschooseOrgDataPort' binding='tns:donorschooseOrgDataBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://donorschooseOrgData' />
    </port>
  </service>
</definitions>