workspace/datasets/mashape_dataset/dotasteamweb.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/dotaSteamWeb/' name='dotaSteamWeb' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/dotaSteamWeb/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/dotaSteamWeb/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/dotaSteamWeb/'>
      <xsd:element name='matchDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datemax' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datemin' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='heroid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='leagueid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='matchid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='matchesrequested' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='playername' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='skill' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startatmatchid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='first_blood_time' type='xsd:int' minOccurs='0' />
                  <xsd:element name='cluster' type='xsd:int' minOccurs='0' />
                  <xsd:element name='match_seq_num' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tower_status_radiant' type='xsd:int' minOccurs='0' />
                  <xsd:element name='players' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='kills' type='xsd:int' minOccurs='0' />
                        <xsd:element name='gold_per_min' type='xsd:int' minOccurs='0' />
                        <xsd:element name='gold_spent' type='xsd:int' minOccurs='0' />
                        <xsd:element name='level' type='xsd:int' minOccurs='0' />
                        <xsd:element name='player_slot' type='xsd:int' minOccurs='0' />
                        <xsd:element name='hero_damage' type='xsd:int' minOccurs='0' />
                        <xsd:element name='denies' type='xsd:int' minOccurs='0' />
                        <xsd:element name='gold' type='xsd:int' minOccurs='0' />
                        <xsd:element name='last_hits' type='xsd:int' minOccurs='0' />
                        <xsd:element name='account_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leaver_status' type='xsd:int' minOccurs='0' />
                        <xsd:element name='assists' type='xsd:int' minOccurs='0' />
                        <xsd:element name='tower_damage' type='xsd:int' minOccurs='0' />
                        <xsd:element name='hero_healing' type='xsd:int' minOccurs='0' />
                        <xsd:element name='item_5' type='xsd:int' minOccurs='0' />
                        <xsd:element name='item_4' type='xsd:int' minOccurs='0' />
                        <xsd:element name='item_3' type='xsd:int' minOccurs='0' />
                        <xsd:element name='item_2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='item_1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xp_per_min' type='xsd:int' minOccurs='0' />
                        <xsd:element name='hero_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='item_0' type='xsd:int' minOccurs='0' />
                        <xsd:element name='deaths' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='match_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lobby_type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='human_players' type='xsd:int' minOccurs='0' />
                  <xsd:element name='barracks_status_radiant' type='xsd:int' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start_time' type='xsd:int' minOccurs='0' />
                  <xsd:element name='radiant_win' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='leagueid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='negative_votes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tower_status_dire' type='xsd:int' minOccurs='0' />
                  <xsd:element name='positive_votes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='game_mode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='barracks_status_dire' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchHistoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startatmatchid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchHistoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='results_remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='matches' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='start_time' type='xsd:int' minOccurs='0' />
                        <xsd:element name='match_seq_num' type='xsd:int' minOccurs='0' />
                        <xsd:element name='players' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='account_id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='player_slot' type='xsd:int' minOccurs='0' />
                              <xsd:element name='hero_id' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='match_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lobby_type' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='num_results' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:int' minOccurs='0' />
                  <xsd:element name='total_results' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='matchDetailsRequestMessage'>
    <part name='parameters' element='tns:matchDetailsParameters' />
  </message>
  <message name='matchDetailsResponseMessage'>
    <part name='response' element='tns:matchDetailsResponse' />
  </message>
  <message name='matchHistoryRequestMessage'>
    <part name='parameters' element='tns:matchHistoryParameters' />
  </message>
  <message name='matchHistoryResponseMessage'>
    <part name='response' element='tns:matchHistoryResponse' />
  </message>
  <portType name='dotaSteamWebPortType'>
    <operation name='matchDetails'>
      <documentation>to retrieve the specific details of a match use this API</documentation>
      <input message='tns:matchDetailsRequestMessage' name='matchDetailsInput' />
      <output message='tns:matchDetailsResponseMessage' name='matchDetailsOutput' />
    </operation>
    <operation name='matchHistory'>
      <documentation>will return the latest public matches in JSON format You can request it in XML format</documentation>
      <input message='tns:matchHistoryRequestMessage' name='matchHistoryInput' />
      <output message='tns:matchHistoryResponseMessage' name='matchHistoryOutput' />
    </operation>
  </portType>
  <binding name='dotaSteamWebBinding' type='tns:dotaSteamWebPortType'>
    <operation name='matchDetails'>
      <soap12:operation soapAction='http://matchDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchHistory'>
      <soap12:operation soapAction='http://matchHistory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='dotaSteamWeb'>
    <documentation>a WebAPI for match history is now available on Dota Web developers can now retrieve the match history and match details in JSON or XML format for use in their own applications</documentation>
    <port name='dotaSteamWebPort' binding='tns:dotaSteamWebBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://dotaSteamWeb' />
    </port>
  </service>
</definitions>