workspace/datasets/mashape_dataset/doyoubuzz.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/doyoubuzz/' name='doyoubuzz' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/doyoubuzz/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/doyoubuzz/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/doyoubuzz/'>
      <xsd:element name='cvParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cvResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='resume' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='completion' type='xsd:int' minOccurs='0' />
                  <xsd:element name='n0' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='professionalStatus' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='portfolios' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='portfolio' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='mediaType' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='url' type='xsd:string' minOccurs='0' />
                              <xsd:element name='createDate' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='educations' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='education' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='school' type='xsd:string' minOccurs='0' />
                              <xsd:element name='start' type='xsd:date' minOccurs='0' />
                              <xsd:element name='degree' type='xsd:string' minOccurs='0' />
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='end' type='xsd:date' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='availability' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blog' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='rss' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='experiences' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='experience' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='country' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='isoCode' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='contractType' type='xsd:string' minOccurs='0' />
                              <xsd:element name='missions' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='mission' maxOccurs='unbounded'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='start' type='xsd:date' minOccurs='0' />
                              <xsd:element name='logo' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='end' type='xsd:string' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='title' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='printable' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='pdf' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='doc' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='odt' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='skills' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='skill' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='children' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='skill' maxOccurs='unbounded'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='children' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='title' type='xsd:string' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='title' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='culture' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userInformation' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='country' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='isoCode' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='birthdate' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='DriversLicence' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='maritalStatus' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='interests' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='interest' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='children' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='interest' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='children' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='title' type='xsd:string' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='seniority' type='xsd:int' minOccurs='0' />
                  <xsd:element name='contacts' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='contact' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='updatedAt' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='resume' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='completion' type='xsd:int' minOccurs='0' />
                  <xsd:element name='n0' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='professionalStatus' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='portfolios' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='portfolio' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='mediaType' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='url' type='xsd:string' minOccurs='0' />
                              <xsd:element name='createDate' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='educations' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='education' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='school' type='xsd:string' minOccurs='0' />
                              <xsd:element name='start' type='xsd:date' minOccurs='0' />
                              <xsd:element name='degree' type='xsd:string' minOccurs='0' />
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='end' type='xsd:date' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='availability' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='blog' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='rss' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='experiences' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='experience' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='country' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='isoCode' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='contractType' type='xsd:string' minOccurs='0' />
                              <xsd:element name='missions' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='mission' maxOccurs='unbounded'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='start' type='xsd:date' minOccurs='0' />
                              <xsd:element name='logo' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='end' type='xsd:string' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='title' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='printable' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='pdf' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='doc' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='odt' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='skills' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='skill' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='children' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='skill' maxOccurs='unbounded'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='children' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='title' type='xsd:string' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='title' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='culture' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userInformation' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='country' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='isoCode' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='birthdate' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='DriversLicence' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='maritalStatus' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='interests' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='interest' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='children' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='interest' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='children' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='title' type='xsd:string' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='seniority' type='xsd:int' minOccurs='0' />
                  <xsd:element name='contacts' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='contact' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='updatedAt' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='cvRequestMessage'>
    <part name='parameters' element='tns:cvParameters' />
  </message>
  <message name='cvResponseMessage'>
    <part name='response' element='tns:cvResponse' />
  </message>
  <message name='userRequestMessage' />
  <message name='userResponseMessage'>
    <part name='response' element='tns:userResponse' />
  </message>
  <portType name='doyoubuzzPortType'>
    <operation name='cv'>
      <documentation></documentation>
      <input message='tns:cvRequestMessage' name='cvInput' />
      <output message='tns:cvResponseMessage' name='cvOutput' />
    </operation>
    <operation name='user'>
      <documentation></documentation>
      <input message='tns:userRequestMessage' name='userInput' />
      <output message='tns:userResponseMessage' name='userOutput' />
    </operation>
  </portType>
  <binding name='doyoubuzzBinding' type='tns:doyoubuzzPortType'>
    <operation name='cv'>
      <soap12:operation soapAction='http://cv' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='user'>
      <soap12:operation soapAction='http://user' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='doyoubuzz'>
    <documentation>the DoYouBuzz API allows any developer to access his users resumes datas URIs and PDFs and professional preferences You can also add a layer of metadatas on the resumes and search on your resume database</documentation>
    <port name='doyoubuzzPort' binding='tns:doyoubuzzBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://doyoubuzz' />
    </port>
  </service>
</definitions>