workspace/datasets/mashape_dataset/dweetio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/dweetIo/' name='dweetIo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/dweetIo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/dweetIo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/dweetIo/'>
      <xsd:element name='createADweetForAThingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='content' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thing' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createADweetForAThingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='the' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='with' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='thing' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='by' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='this' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='readAllTheSavedDweetsForAThingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thing' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='readAllTheSavedDweetsForAThingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='the' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='with' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='thing' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='by' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='this' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='readTheLatestDweetForAThingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thing' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='readTheLatestDweetForAThingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='the' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='with' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='thing' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='by' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='this' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeALockFromThingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lock' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeALockFromThingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reserveAndLockAThingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lock' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thing' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reserveAndLockAThingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unlockAThingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thing' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unlockAThingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createADweetForAThingRequestMessage'>
    <part name='parameters' element='tns:createADweetForAThingParameters' />
  </message>
  <message name='createADweetForAThingResponseMessage'>
    <part name='response' element='tns:createADweetForAThingResponse' />
  </message>
  <message name='readAllTheSavedDweetsForAThingRequestMessage'>
    <part name='parameters' element='tns:readAllTheSavedDweetsForAThingParameters' />
  </message>
  <message name='readAllTheSavedDweetsForAThingResponseMessage'>
    <part name='response' element='tns:readAllTheSavedDweetsForAThingResponse' />
  </message>
  <message name='readTheLatestDweetForAThingRequestMessage'>
    <part name='parameters' element='tns:readTheLatestDweetForAThingParameters' />
  </message>
  <message name='readTheLatestDweetForAThingResponseMessage'>
    <part name='response' element='tns:readTheLatestDweetForAThingResponse' />
  </message>
  <message name='removeALockFromThingRequestMessage'>
    <part name='parameters' element='tns:removeALockFromThingParameters' />
  </message>
  <message name='removeALockFromThingResponseMessage'>
    <part name='response' element='tns:removeALockFromThingResponse' />
  </message>
  <message name='reserveAndLockAThingRequestMessage'>
    <part name='parameters' element='tns:reserveAndLockAThingParameters' />
  </message>
  <message name='reserveAndLockAThingResponseMessage'>
    <part name='response' element='tns:reserveAndLockAThingResponse' />
  </message>
  <message name='unlockAThingRequestMessage'>
    <part name='parameters' element='tns:unlockAThingParameters' />
  </message>
  <message name='unlockAThingResponseMessage'>
    <part name='response' element='tns:unlockAThingResponse' />
  </message>
  <portType name='dweetIoPortType'>
    <operation name='createADweetForAThing'>
      <documentation></documentation>
      <input message='tns:createADweetForAThingRequestMessage' name='createADweetForAThingInput' />
      <output message='tns:createADweetForAThingResponseMessage' name='createADweetForAThingOutput' />
    </operation>
    <operation name='readAllTheSavedDweetsForAThing'>
      <documentation></documentation>
      <input message='tns:readAllTheSavedDweetsForAThingRequestMessage' name='readAllTheSavedDweetsForAThingInput' />
      <output message='tns:readAllTheSavedDweetsForAThingResponseMessage' name='readAllTheSavedDweetsForAThingOutput' />
    </operation>
    <operation name='readTheLatestDweetForAThing'>
      <documentation></documentation>
      <input message='tns:readTheLatestDweetForAThingRequestMessage' name='readTheLatestDweetForAThingInput' />
      <output message='tns:readTheLatestDweetForAThingResponseMessage' name='readTheLatestDweetForAThingOutput' />
    </operation>
    <operation name='removeALockFromThing'>
      <documentation></documentation>
      <input message='tns:removeALockFromThingRequestMessage' name='removeALockFromThingInput' />
      <output message='tns:removeALockFromThingResponseMessage' name='removeALockFromThingOutput' />
    </operation>
    <operation name='reserveAndLockAThing'>
      <documentation></documentation>
      <input message='tns:reserveAndLockAThingRequestMessage' name='reserveAndLockAThingInput' />
      <output message='tns:reserveAndLockAThingResponseMessage' name='reserveAndLockAThingOutput' />
    </operation>
    <operation name='unlockAThing'>
      <documentation></documentation>
      <input message='tns:unlockAThingRequestMessage' name='unlockAThingInput' />
      <output message='tns:unlockAThingResponseMessage' name='unlockAThingOutput' />
    </operation>
  </portType>
  <binding name='dweetIoBinding' type='tns:dweetIoPortType'>
    <operation name='createADweetForAThing'>
      <soap12:operation soapAction='http://createADweetForAThing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='readAllTheSavedDweetsForAThing'>
      <soap12:operation soapAction='http://readAllTheSavedDweetsForAThing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='readTheLatestDweetForAThing'>
      <soap12:operation soapAction='http://readTheLatestDweetForAThing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeALockFromThing'>
      <soap12:operation soapAction='http://removeALockFromThing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reserveAndLockAThing'>
      <soap12:operation soapAction='http://reserveAndLockAThing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='unlockAThing'>
      <soap12:operation soapAction='http://unlockAThing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='dweetIo'>
    <documentation>ridiculously simple data sharing for the Internet of Things Fast free and ridiculously simple it s like Twitter for social machines</documentation>
    <port name='dweetIoPort' binding='tns:dweetIoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://dweetIo' />
    </port>
  </service>
</definitions>