workspace/datasets/mashape_dataset/eadditives.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/eAdditives/' name='eAdditives' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/eAdditives/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/eAdditives/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/eAdditives/'>
      <xsd:element name='additivesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='locale' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='order' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='additivesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='additivesSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='locale' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='order' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='additivesSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='additivesCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='locale' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='additivesCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:int' minOccurs='0' />
            <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='foods' type='xsd:string' minOccurs='0' />
            <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='function' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='veg' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='notice' type='xsd:string' minOccurs='0' />
            <xsd:element name='info' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='locale' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='order' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='additives' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='category' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='locale' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='additives' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_update' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='additivesRequestMessage'>
    <part name='parameters' element='tns:additivesParameters' />
  </message>
  <message name='additivesResponseMessage'>
    <part name='response' element='tns:additivesResponse' />
  </message>
  <message name='additivesSearchRequestMessage'>
    <part name='parameters' element='tns:additivesSearchParameters' />
  </message>
  <message name='additivesSearchResponseMessage'>
    <part name='response' element='tns:additivesSearchResponse' />
  </message>
  <message name='additivesCodeRequestMessage'>
    <part name='parameters' element='tns:additivesCodeParameters' />
  </message>
  <message name='additivesCodeResponseMessage'>
    <part name='response' element='tns:additivesCodeResponse' />
  </message>
  <message name='categoriesRequestMessage'>
    <part name='parameters' element='tns:categoriesParameters' />
  </message>
  <message name='categoriesResponseMessage'>
    <part name='response' element='tns:categoriesResponse' />
  </message>
  <message name='categoriesIdRequestMessage'>
    <part name='parameters' element='tns:categoriesIdParameters' />
  </message>
  <message name='categoriesIdResponseMessage'>
    <part name='response' element='tns:categoriesIdResponse' />
  </message>
  <portType name='eAdditivesPortType'>
    <operation name='additives'>
      <documentation>get a list of food additives</documentation>
      <input message='tns:additivesRequestMessage' name='additivesInput' />
      <output message='tns:additivesResponseMessage' name='additivesOutput' />
    </operation>
    <operation name='additivesSearch'>
      <documentation>search food additives</documentation>
      <input message='tns:additivesSearchRequestMessage' name='additivesSearchInput' />
      <output message='tns:additivesSearchResponseMessage' name='additivesSearchOutput' />
    </operation>
    <operation name='additivesCode'>
      <documentation>get information about single additive</documentation>
      <input message='tns:additivesCodeRequestMessage' name='additivesCodeInput' />
      <output message='tns:additivesCodeResponseMessage' name='additivesCodeOutput' />
    </operation>
    <operation name='categories'>
      <documentation>get a list of additives categories</documentation>
      <input message='tns:categoriesRequestMessage' name='categoriesInput' />
      <output message='tns:categoriesResponseMessage' name='categoriesOutput' />
    </operation>
    <operation name='categoriesId'>
      <documentation></documentation>
      <input message='tns:categoriesIdRequestMessage' name='categoriesIdInput' />
      <output message='tns:categoriesIdResponseMessage' name='categoriesIdOutput' />
    </operation>
  </portType>
  <binding name='eAdditivesBinding' type='tns:eAdditivesPortType'>
    <operation name='additives'>
      <soap12:operation soapAction='http://additives' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='additivesSearch'>
      <soap12:operation soapAction='http://additivesSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='additivesCode'>
      <soap12:operation soapAction='http://additivesCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categories'>
      <soap12:operation soapAction='http://categories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categoriesId'>
      <soap12:operation soapAction='http://categoriesId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='eAdditives'>
    <documentation>e additives API is a REST based service that brings you information about food additives Users can search for food additives get information about a single additive get a list of additive categories and get information about a single category</documentation>
    <port name='eAdditivesPort' binding='tns:eAdditivesBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://eAdditives' />
    </port>
  </service>
</definitions>