workspace/datasets/mashape_dataset/earthquakeseismology.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/earthquakeSeismology/' name='earthquakeSeismology' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/earthquakeSeismology/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/earthquakeSeismology/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/earthquakeSeismology/'>
      <xsd:element name='earthquakesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='minmagnitude' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='earthquakesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='earthquakes' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='depth' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='src' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='eqid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lon' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='magnitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='region' type='xsd:string' minOccurs='0' />
                  <xsd:element name='timedate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='totalsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='minmagnitude' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='totalsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n2009_12' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2009_11' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2009' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_07' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_06' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_05' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_04' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_06' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_07' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_09' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_08' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_08' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_09' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_11' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_02' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_10' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_03' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_04' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_05' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_03' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_02' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_01' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_12' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_01' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2013' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_08' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_07' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_06' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_05' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_09' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_10' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2013_03' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2013_04' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_04' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_03' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_10' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_12' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_02' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_11' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2013_01' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2010_11' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2011_01' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2012_12' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2013_02' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='earthquakesRequestMessage'>
    <part name='parameters' element='tns:earthquakesParameters' />
  </message>
  <message name='earthquakesResponseMessage'>
    <part name='response' element='tns:earthquakesResponse' />
  </message>
  <message name='totalsRequestMessage'>
    <part name='parameters' element='tns:totalsParameters' />
  </message>
  <message name='totalsResponseMessage'>
    <part name='response' element='tns:totalsResponse' />
  </message>
  <portType name='earthquakeSeismologyPortType'>
    <operation name='earthquakes'>
      <documentation>most recent earthquakes</documentation>
      <input message='tns:earthquakesRequestMessage' name='earthquakesInput' />
      <output message='tns:earthquakesResponseMessage' name='earthquakesOutput' />
    </operation>
    <operation name='totals'>
      <documentation>count of earthquakes by year month</documentation>
      <input message='tns:totalsRequestMessage' name='totalsInput' />
      <output message='tns:totalsResponseMessage' name='totalsOutput' />
    </operation>
  </portType>
  <binding name='earthquakeSeismologyBinding' type='tns:earthquakeSeismologyPortType'>
    <operation name='earthquakes'>
      <soap12:operation soapAction='http://earthquakes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='totals'>
      <soap12:operation soapAction='http://totals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='earthquakeSeismology'>
    <documentation>we provide REST API with JSON output for earthquake data that is present in Seismi At the moment we don t have frequency limitations or api keys Please use sparingly We only refresh our caches every hour so it is pointless to call api more frequently</documentation>
    <port name='earthquakeSeismologyPort' binding='tns:earthquakeSeismologyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://earthquakeSeismology' />
    </port>
  </service>
</definitions>