workspace/datasets/mashape_dataset/edmunds.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/edmunds/' name='edmunds' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/edmunds/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/edmunds/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/edmunds/'>
      <xsd:element name='getCarRatingByVehicleStyleIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fmt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='styleid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCarRatingByVehicleStyleIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='summary' type='xsd:string' minOccurs='0' />
            <xsd:element name='year' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='ratings' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='subRatings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                        <xsd:element name='score' type='xsd:int' minOccurs='0' />
                        <xsd:element name='grade' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='grade' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='grade' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='model' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='niceName' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='style' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='trim' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='submodel' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='modelName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='niceName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='body' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='make' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='niceName' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCarRatingsByMakeModelYearParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fmt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='makenicename' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='modelnicename' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='submodel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='year' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCarRatingsByMakeModelYearResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='summary' type='xsd:string' minOccurs='0' />
            <xsd:element name='year' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='ratings' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='subRatings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                        <xsd:element name='score' type='xsd:int' minOccurs='0' />
                        <xsd:element name='grade' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='grade' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='grade' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='model' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='niceName' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='style' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='trim' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='submodel' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='modelName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='niceName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='body' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='make' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='niceName' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getConsumerRatingsAndReviewsByCarMakeModelYearParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fmt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='makenicename' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='modelnicename' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagenum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='year' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getConsumerRatingsAndReviewsByCarMakeModelYearResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reviews' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='suggestedImprovements' type='xsd:string' minOccurs='0' />
                  <xsd:element name='author' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='authorName' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='created' type='xsd:int' minOccurs='0' />
                  <xsd:element name='link' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='rel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='href' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='thumbsUpDownCounter' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='thumbsDown' type='xsd:int' minOccurs='0' />
                        <xsd:element name='thumbsUp' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ratings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='commentsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='styleId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='averageRating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='legacyId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='favoriteFeatures' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='updated' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='averageRating' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='reviewsCount' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getGetConsumerRatingsAndReviewsByCarStyleIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fmt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagenum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='styleid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getGetConsumerRatingsAndReviewsByCarStyleIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reviews' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='suggestedImprovements' type='xsd:string' minOccurs='0' />
                  <xsd:element name='author' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='authorName' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='created' type='xsd:int' minOccurs='0' />
                  <xsd:element name='link' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='rel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='href' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='thumbsUpDownCounter' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='thumbsDown' type='xsd:int' minOccurs='0' />
                        <xsd:element name='thumbsUp' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ratings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='commentsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='styleId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='averageRating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='legacyId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='favoriteFeatures' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='updated' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='averageRating' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='links' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='rel' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='href' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='reviewsCount' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getCarRatingByVehicleStyleIdRequestMessage'>
    <part name='parameters' element='tns:getCarRatingByVehicleStyleIdParameters' />
  </message>
  <message name='getCarRatingByVehicleStyleIdResponseMessage'>
    <part name='response' element='tns:getCarRatingByVehicleStyleIdResponse' />
  </message>
  <message name='getCarRatingsByMakeModelYearRequestMessage'>
    <part name='parameters' element='tns:getCarRatingsByMakeModelYearParameters' />
  </message>
  <message name='getCarRatingsByMakeModelYearResponseMessage'>
    <part name='response' element='tns:getCarRatingsByMakeModelYearResponse' />
  </message>
  <message name='getConsumerRatingsAndReviewsByCarMakeModelYearRequestMessage'>
    <part name='parameters' element='tns:getConsumerRatingsAndReviewsByCarMakeModelYearParameters' />
  </message>
  <message name='getConsumerRatingsAndReviewsByCarMakeModelYearResponseMessage'>
    <part name='response' element='tns:getConsumerRatingsAndReviewsByCarMakeModelYearResponse' />
  </message>
  <message name='getGetConsumerRatingsAndReviewsByCarStyleIdRequestMessage'>
    <part name='parameters' element='tns:getGetConsumerRatingsAndReviewsByCarStyleIdParameters' />
  </message>
  <message name='getGetConsumerRatingsAndReviewsByCarStyleIdResponseMessage'>
    <part name='response' element='tns:getGetConsumerRatingsAndReviewsByCarStyleIdResponse' />
  </message>
  <portType name='edmundsPortType'>
    <operation name='getCarRatingByVehicleStyleId'>
      <documentation>get vehicle ratings grade by vehicle style ID</documentation>
      <input message='tns:getCarRatingByVehicleStyleIdRequestMessage' name='getCarRatingByVehicleStyleIdInput' />
      <output message='tns:getCarRatingByVehicleStyleIdResponseMessage' name='getCarRatingByVehicleStyleIdOutput' />
    </operation>
    <operation name='getCarRatingsByMakeModelYear'>
      <documentation>get vehicle ratings grade by make model year</documentation>
      <input message='tns:getCarRatingsByMakeModelYearRequestMessage' name='getCarRatingsByMakeModelYearInput' />
      <output message='tns:getCarRatingsByMakeModelYearResponseMessage' name='getCarRatingsByMakeModelYearOutput' />
    </operation>
    <operation name='getConsumerRatingsAndReviewsByCarMakeModelYear'>
      <documentation>get vehicle ratings and reviews by providing vehicle make model year data</documentation>
      <input message='tns:getConsumerRatingsAndReviewsByCarMakeModelYearRequestMessage' name='getConsumerRatingsAndReviewsByCarMakeModelYearInput' />
      <output message='tns:getConsumerRatingsAndReviewsByCarMakeModelYearResponseMessage' name='getConsumerRatingsAndReviewsByCarMakeModelYearOutput' />
    </operation>
    <operation name='getGetConsumerRatingsAndReviewsByCarStyleId'>
      <documentation>get vehicle ratings and reviews by providing vehicle make model year data</documentation>
      <input message='tns:getGetConsumerRatingsAndReviewsByCarStyleIdRequestMessage' name='getGetConsumerRatingsAndReviewsByCarStyleIdInput' />
      <output message='tns:getGetConsumerRatingsAndReviewsByCarStyleIdResponseMessage' name='getGetConsumerRatingsAndReviewsByCarStyleIdOutput' />
    </operation>
  </portType>
  <binding name='edmundsBinding' type='tns:edmundsPortType'>
    <operation name='getCarRatingByVehicleStyleId'>
      <soap12:operation soapAction='http://getCarRatingByVehicleStyleId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCarRatingsByMakeModelYear'>
      <soap12:operation soapAction='http://getCarRatingsByMakeModelYear' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getConsumerRatingsAndReviewsByCarMakeModelYear'>
      <soap12:operation soapAction='http://getConsumerRatingsAndReviewsByCarMakeModelYear' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getGetConsumerRatingsAndReviewsByCarStyleId'>
      <soap12:operation soapAction='http://getGetConsumerRatingsAndReviewsByCarStyleId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='edmunds'>
    <documentation>research new and used cars including car prices view incentives and dealer inventory listings compare vehicles get car buying advice and reviews at Edmunds com</documentation>
    <port name='edmundsPort' binding='tns:edmundsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://edmunds' />
    </port>
  </service>
</definitions>