workspace/datasets/mashape_dataset/educationverificationbyrillate.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/educationVerificationByRillate/' name='educationVerificationByRillate' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/educationVerificationByRillate/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/educationVerificationByRillate/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/educationVerificationByRillate/'>
      <xsd:element name='verifyCurrentlyEnrolledParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currentlyenrolled' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dob' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='firstname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyCurrentlyEnrolledResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyDegreeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='degree' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dob' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='firstname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyDegreeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyGraduatedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dob' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='firstname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='graduated' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyGraduatedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyMembershipParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='organization' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyMembershipResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifySchoolParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dob' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='firstname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='school' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifySchoolResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dataPayload' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='answer' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='detail' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='verifyCurrentlyEnrolledRequestMessage'>
    <part name='parameters' element='tns:verifyCurrentlyEnrolledParameters' />
  </message>
  <message name='verifyCurrentlyEnrolledResponseMessage'>
    <part name='response' element='tns:verifyCurrentlyEnrolledResponse' />
  </message>
  <message name='verifyDegreeRequestMessage'>
    <part name='parameters' element='tns:verifyDegreeParameters' />
  </message>
  <message name='verifyDegreeResponseMessage'>
    <part name='response' element='tns:verifyDegreeResponse' />
  </message>
  <message name='verifyGraduatedRequestMessage'>
    <part name='parameters' element='tns:verifyGraduatedParameters' />
  </message>
  <message name='verifyGraduatedResponseMessage'>
    <part name='response' element='tns:verifyGraduatedResponse' />
  </message>
  <message name='verifyMembershipRequestMessage'>
    <part name='parameters' element='tns:verifyMembershipParameters' />
  </message>
  <message name='verifyMembershipResponseMessage'>
    <part name='response' element='tns:verifyMembershipResponse' />
  </message>
  <message name='verifySchoolRequestMessage'>
    <part name='parameters' element='tns:verifySchoolParameters' />
  </message>
  <message name='verifySchoolResponseMessage'>
    <part name='response' element='tns:verifySchoolResponse' />
  </message>
  <portType name='educationVerificationByRillatePortType'>
    <operation name='verifyCurrentlyEnrolled'>
      <documentation>verify if someone is currently enrolled at a degree program i e is a student</documentation>
      <input message='tns:verifyCurrentlyEnrolledRequestMessage' name='verifyCurrentlyEnrolledInput' />
      <output message='tns:verifyCurrentlyEnrolledResponseMessage' name='verifyCurrentlyEnrolledOutput' />
    </operation>
    <operation name='verifyDegree'>
      <documentation>verify if someone has attained specific degree by using first and last name combined with date of birth</documentation>
      <input message='tns:verifyDegreeRequestMessage' name='verifyDegreeInput' />
      <output message='tns:verifyDegreeResponseMessage' name='verifyDegreeOutput' />
    </operation>
    <operation name='verifyGraduated'>
      <documentation>find out if someone has graduated with a degree see documentation for full list of degrees</documentation>
      <input message='tns:verifyGraduatedRequestMessage' name='verifyGraduatedInput' />
      <output message='tns:verifyGraduatedResponseMessage' name='verifyGraduatedOutput' />
    </operation>
    <operation name='verifyMembership'>
      <documentation>verify if an individual is an active member in a partnered organization</documentation>
      <input message='tns:verifyMembershipRequestMessage' name='verifyMembershipInput' />
      <output message='tns:verifyMembershipResponseMessage' name='verifyMembershipOutput' />
    </operation>
    <operation name='verifySchool'>
      <documentation>verify if an individual is attending or has enrolled at a specific school by using first and last name and date of birth</documentation>
      <input message='tns:verifySchoolRequestMessage' name='verifySchoolInput' />
      <output message='tns:verifySchoolResponseMessage' name='verifySchoolOutput' />
    </operation>
  </portType>
  <binding name='educationVerificationByRillateBinding' type='tns:educationVerificationByRillatePortType'>
    <operation name='verifyCurrentlyEnrolled'>
      <soap12:operation soapAction='http://verifyCurrentlyEnrolled' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='verifyDegree'>
      <soap12:operation soapAction='http://verifyDegree' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='verifyGraduated'>
      <soap12:operation soapAction='http://verifyGraduated' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='verifyMembership'>
      <soap12:operation soapAction='http://verifyMembership' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='verifySchool'>
      <soap12:operation soapAction='http://verifySchool' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='educationVerificationByRillate'>
    <documentation>rillate API allows developers to verify their users past and present affiliations to over public private and professional higher education academic institutions in the US</documentation>
    <port name='educationVerificationByRillatePort' binding='tns:educationVerificationByRillateBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://educationVerificationByRillate' />
    </port>
  </service>
</definitions>