workspace/datasets/mashape_dataset/elks.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/elks/' name='elks' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/elks/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/elks/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/elks/'>
      <xsd:element name='addingASubaccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='secret' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='callHistoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='callHistoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='next' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='from' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='to' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='actions' type='xsd:anyURI' maxOccurs='unbounded' />
                  <xsd:element name='direction' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='handlePhonecallsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='numberAllocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='voice_start' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='number' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='expires' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='capabilities' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='sms_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='active' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='numberModificationAndDeallocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='numberModificationAndDeallocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='voice_start' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='number' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='expires' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='capabilities' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='sms_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='active' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendANewSmsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cost' type='xsd:int' minOccurs='0' />
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='from' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='to' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
            <xsd:element name='direction' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='smsHistoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='smsHistoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='next' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='cost' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='delivered' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='from' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='to' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='direction' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingASubbaccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingASubbaccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='secret' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addingASubaccountRequestMessage' />
  <message name='addingASubaccountResponseMessage'>
    <part name='response' element='tns:addingASubaccountResponse' />
  </message>
  <message name='callHistoryRequestMessage'>
    <part name='parameters' element='tns:callHistoryParameters' />
  </message>
  <message name='callHistoryResponseMessage'>
    <part name='response' element='tns:callHistoryResponse' />
  </message>
  <message name='handlePhonecallsRequestMessage' />
  <message name='handlePhonecallsResponseMessage'>
    <part name='response' element='tns:handlePhonecallsResponse' />
  </message>
  <message name='numberAllocationRequestMessage' />
  <message name='numberAllocationResponseMessage'>
    <part name='response' element='tns:numberAllocationResponse' />
  </message>
  <message name='numberModificationAndDeallocationRequestMessage'>
    <part name='parameters' element='tns:numberModificationAndDeallocationParameters' />
  </message>
  <message name='numberModificationAndDeallocationResponseMessage'>
    <part name='response' element='tns:numberModificationAndDeallocationResponse' />
  </message>
  <message name='sendANewSmsRequestMessage' />
  <message name='sendANewSmsResponseMessage'>
    <part name='response' element='tns:sendANewSmsResponse' />
  </message>
  <message name='smsHistoryRequestMessage'>
    <part name='parameters' element='tns:smsHistoryParameters' />
  </message>
  <message name='smsHistoryResponseMessage'>
    <part name='response' element='tns:smsHistoryResponse' />
  </message>
  <message name='updatingASubbaccountRequestMessage'>
    <part name='parameters' element='tns:updatingASubbaccountParameters' />
  </message>
  <message name='updatingASubbaccountResponseMessage'>
    <part name='response' element='tns:updatingASubbaccountResponse' />
  </message>
  <portType name='elksPortType'>
    <operation name='addingASubaccount'>
      <documentation>in order to create a new subaccount simply make an HTTP POST to the Subaccounts resource The only mandatory key when creating a new subaccount is the key name</documentation>
      <input message='tns:addingASubaccountRequestMessage' name='addingASubaccountInput' />
      <output message='tns:addingASubaccountResponseMessage' name='addingASubaccountOutput' />
    </operation>
    <operation name='callHistory'>
      <documentation>you can list the Calls you have sent and recevied with a simple GET to Calls By default you get the latest items</documentation>
      <input message='tns:callHistoryRequestMessage' name='callHistoryInput' />
      <output message='tns:callHistoryResponseMessage' name='callHistoryOutput' />
    </operation>
    <operation name='handlePhonecalls'>
      <documentation>to handle phone calls please read the documentation at http www elks com docs</documentation>
      <input message='tns:handlePhonecallsRequestMessage' name='handlePhonecallsInput' />
      <output message='tns:handlePhonecallsResponseMessage' name='handlePhonecallsOutput' />
    </operation>
    <operation name='numberAllocation'>
      <documentation>to allocate a new elks phone number make a POST request to the resource Numbers The variable country is mandatory while sms url and voice start are optional</documentation>
      <input message='tns:numberAllocationRequestMessage' name='numberAllocationInput' />
      <output message='tns:numberAllocationResponseMessage' name='numberAllocationOutput' />
    </operation>
    <operation name='numberModificationAndDeallocation'>
      <documentation>for incoming SMS messages the attribute sms url on your numbers is used And for incoming Voice calls voice start it what you are looking for If you ever need to change these either do it manually in the dashboard or use the API and simply do a POST like this</documentation>
      <input message='tns:numberModificationAndDeallocationRequestMessage' name='numberModificationAndDeallocationInput' />
      <output message='tns:numberModificationAndDeallocationResponseMessage' name='numberModificationAndDeallocationOutput' />
    </operation>
    <operation name='sendANewSms'>
      <documentation>to send a new SMS simply POST to the SMS resource The from number can either be one of your previously allocated mobile phone numbers or an arbitrary alphanumeric string of at most characters</documentation>
      <input message='tns:sendANewSmsRequestMessage' name='sendANewSmsInput' />
      <output message='tns:sendANewSmsResponseMessage' name='sendANewSmsOutput' />
    </operation>
    <operation name='smsHistory'>
      <documentation>you can list the SMS messages you have sent and recevied with a simple GET to SMS By default you get the latest items</documentation>
      <input message='tns:smsHistoryRequestMessage' name='smsHistoryInput' />
      <output message='tns:smsHistoryResponseMessage' name='smsHistoryOutput' />
    </operation>
    <operation name='updatingASubbaccount'>
      <documentation>update data for Subbaccounts</documentation>
      <input message='tns:updatingASubbaccountRequestMessage' name='updatingASubbaccountInput' />
      <output message='tns:updatingASubbaccountResponseMessage' name='updatingASubbaccountOutput' />
    </operation>
  </portType>
  <binding name='elksBinding' type='tns:elksPortType'>
    <operation name='addingASubaccount'>
      <soap12:operation soapAction='http://addingASubaccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='callHistory'>
      <soap12:operation soapAction='http://callHistory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='handlePhonecalls'>
      <soap12:operation soapAction='http://handlePhonecalls' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='numberAllocation'>
      <soap12:operation soapAction='http://numberAllocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='numberModificationAndDeallocation'>
      <soap12:operation soapAction='http://numberModificationAndDeallocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendANewSms'>
      <soap12:operation soapAction='http://sendANewSms' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='smsHistory'>
      <soap12:operation soapAction='http://smsHistory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatingASubbaccount'>
      <soap12:operation soapAction='http://updatingASubbaccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='elks'>
    <documentation>receive send SMS messages allocate phone numbers control incoming phone calls build IVRs connect calls and create automated outgoing phone calls Simply Voice SMS MMS in one easy API Visit www elks com for support and account creation</documentation>
    <port name='elksPort' binding='tns:elksBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://elks' />
    </port>
  </service>
</definitions>