workspace/datasets/mashape_dataset/elophantleagueoflegends.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/elophantLeagueOfLegends/' name='elophantLeagueOfLegends' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/elophantLeagueOfLegends/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/elophantLeagueOfLegends/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/elophantLeagueOfLegends/'>
      <xsd:element name='getChampionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='iconPath' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFindTeamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tagorname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFindTeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thirdLastJoinDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='modifyDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='teamStatSummary' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='teamId' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='fullId' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='teamStatDetails' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='seedRating' type='xsd:int' minOccurs='0' />
                              <xsd:element name='wins' type='xsd:int' minOccurs='0' />
                              <xsd:element name='averageGamesPlayed' type='xsd:int' minOccurs='0' />
                              <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                              <xsd:element name='maxRating' type='xsd:int' minOccurs='0' />
                              <xsd:element name='losses' type='xsd:int' minOccurs='0' />
                              <xsd:element name='teamStatType' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='lastGameDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='roster' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='memberList' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='joinDate' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='playerName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='inviteDate' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='ownerId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='lastJoinDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='matchHistory' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='gameId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='kills' type='xsd:int' minOccurs='0' />
                        <xsd:element name='date' type='xsd:int' minOccurs='0' />
                        <xsd:element name='assists' type='xsd:int' minOccurs='0' />
                        <xsd:element name='invalid' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mapId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='gameMode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='opposingTeamKills' type='xsd:int' minOccurs='0' />
                        <xsd:element name='opposingTeamName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='win' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='deaths' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='tag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='secondLastJoinDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='secondsUntilEligibleForDeletion' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='createDate' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getInProgressGameInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='summonername' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getInProgressGameInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='game' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='spectatorsAllowed' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='terminatedCondition' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='gameType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='queuePosition' type='xsd:int' minOccurs='0' />
                        <xsd:element name='optimisticLock' type='xsd:int' minOccurs='0' />
                        <xsd:element name='passwordSet' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='queueTypeName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='maxNumPlayers' type='xsd:int' minOccurs='0' />
                        <xsd:element name='pickTurn' type='xsd:int' minOccurs='0' />
                        <xsd:element name='gameStartTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='gameTypeConfigId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='spectatorDelay' type='xsd:int' minOccurs='0' />
                        <xsd:element name='playerChampionSelections' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='summonerInternalName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='selectedSkinIndex' type='xsd:int' minOccurs='0' />
                              <xsd:element name='championId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='spell1Id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='spell2Id' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='teamTwo' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='profileIconId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='index' type='xsd:int' minOccurs='0' />
                              <xsd:element name='lastSelectedSkinIndex' type='xsd:int' minOccurs='0' />
                              <xsd:element name='summonerName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='timeAddedToQueue' type='xsd:int' minOccurs='0' />
                              <xsd:element name='botDifficulty' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='pickMode' type='xsd:int' minOccurs='0' />
                              <xsd:element name='teamOwner' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='accountId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='summonerInternalName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='pickTurn' type='xsd:int' minOccurs='0' />
                              <xsd:element name='originalPlatformId' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='summonerId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='statusOfParticipants' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mapId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='gameState' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='teamOne' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='profileIconId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='index' type='xsd:int' minOccurs='0' />
                              <xsd:element name='lastSelectedSkinIndex' type='xsd:int' minOccurs='0' />
                              <xsd:element name='summonerName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='timeAddedToQueue' type='xsd:int' minOccurs='0' />
                              <xsd:element name='botDifficulty' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='pickMode' type='xsd:int' minOccurs='0' />
                              <xsd:element name='teamOwner' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='accountId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='summonerInternalName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='pickTurn' type='xsd:int' minOccurs='0' />
                              <xsd:element name='originalPlatformId' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='summonerId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='bannedChampions' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='pickTurn' type='xsd:int' minOccurs='0' />
                              <xsd:element name='championId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='teamId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='gameMode' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='gameName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastModifiedDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='playerCredentials' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='gameId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='observer' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='observerServerIp' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lastSelectedSkinIndex' type='xsd:int' minOccurs='0' />
                        <xsd:element name='observerServerPort' type='xsd:int' minOccurs='0' />
                        <xsd:element name='observerEncryptionKey' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getItemsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getItemsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='iconPath' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLeaguesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='summonerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLeaguesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summonerLeagues' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='requestorsRank' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='entries' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='freshBlood' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='wins' type='xsd:int' minOccurs='0' />
                              <xsd:element name='playerOrTeamName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='leaguePoints' type='xsd:int' minOccurs='0' />
                              <xsd:element name='losses' type='xsd:int' minOccurs='0' />
                              <xsd:element name='lastPlayed' type='xsd:int' minOccurs='0' />
                              <xsd:element name='previousDayLeaguePosition' type='xsd:int' minOccurs='0' />
                              <xsd:element name='inactive' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='tier' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='veteran' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='hotStreak' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='rank' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='queueType' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='playerOrTeamId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='tier' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='requestorsName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='queue' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMasteryPagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='summonerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMasteryPagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='dateString' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summonerId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='bookPages' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='current' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='talentEntries' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='talentId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='talent' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='rank' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pageId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='createDate' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRunePagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='summonerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRunePagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='dateString' type='xsd:string' minOccurs='0' />
                  <xsd:element name='summonerId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='bookPages' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='current' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='slotEntries' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='runeId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='runeSlotId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='rune' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='name' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='pageId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='createDate' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSummonerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='summonername' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSummonerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='internalName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='profileIconId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='revisionDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='acctId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='summonerId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='summonerLevel' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSummonerTeamInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='summonerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSummonerTeamInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='teamsSummary' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='thirdLastJoinDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='modifyDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='teamStatSummary' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='teamId' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='fullId' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='teamStatDetails' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='seedRating' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='wins' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='averageGamesPlayed' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='maxRating' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='losses' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='teamStatType' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='lastGameDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='roster' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='memberList' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='joinDate' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='inviteDate' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='ownerId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='lastJoinDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='tag' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='secondLastJoinDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='secondsUntilEligibleForDeletion' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='createDate' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='playerTeams' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='teamId' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='fullId' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='tag' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='createdTeams' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='timeStamp' type='xsd:int' minOccurs='0' />
                        <xsd:element name='teamId' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='fullId' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTeamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='teamid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thirdLastJoinDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='modifyDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='teamStatSummary' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='teamId' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='fullId' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='teamStatDetails' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='seedRating' type='xsd:int' minOccurs='0' />
                              <xsd:element name='wins' type='xsd:int' minOccurs='0' />
                              <xsd:element name='averageGamesPlayed' type='xsd:int' minOccurs='0' />
                              <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                              <xsd:element name='maxRating' type='xsd:int' minOccurs='0' />
                              <xsd:element name='losses' type='xsd:int' minOccurs='0' />
                              <xsd:element name='teamStatType' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='lastGameDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='roster' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='memberList' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='joinDate' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='playerName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='inviteDate' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='ownerId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='lastJoinDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='matchHistory' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='gameId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='kills' type='xsd:int' minOccurs='0' />
                        <xsd:element name='date' type='xsd:int' minOccurs='0' />
                        <xsd:element name='assists' type='xsd:int' minOccurs='0' />
                        <xsd:element name='invalid' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mapId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='gameMode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='opposingTeamKills' type='xsd:int' minOccurs='0' />
                        <xsd:element name='opposingTeamName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='win' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='deaths' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='tag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='secondLastJoinDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='secondsUntilEligibleForDeletion' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='createDate' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTeamEndOfGameStatsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='teamid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTeamEndOfGameStatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='gameId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='gameType' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='teamPlayerParticipantStats' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='gameId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wins' type='xsd:int' minOccurs='0' />
                        <xsd:element name='botPlayer' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='profileIconId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='level' type='xsd:int' minOccurs='0' />
                        <xsd:element name='skinName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='elo' type='xsd:int' minOccurs='0' />
                        <xsd:element name='summonerName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='losses' type='xsd:int' minOccurs='0' />
                        <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leaver' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='eloChange' type='xsd:int' minOccurs='0' />
                        <xsd:element name='teamId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='spell1Id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='spell2Id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='statistics' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='statTypeName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='myTeamInfo' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='teamId' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='fullId' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='tag' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='elo' type='xsd:int' minOccurs='0' />
                  <xsd:element name='summonerName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='otherTeamPlayerParticipantStats' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='gameId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wins' type='xsd:int' minOccurs='0' />
                        <xsd:element name='botPlayer' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='profileIconId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='level' type='xsd:int' minOccurs='0' />
                        <xsd:element name='skinName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='elo' type='xsd:int' minOccurs='0' />
                        <xsd:element name='summonerName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='losses' type='xsd:int' minOccurs='0' />
                        <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leaver' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='eloChange' type='xsd:int' minOccurs='0' />
                        <xsd:element name='teamId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='spell1Id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='spell2Id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='statistics' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='statTypeName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='basePoints' type='xsd:int' minOccurs='0' />
                  <xsd:element name='otherTeamInfo' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='teamId' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='fullId' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='tag' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='eloChange' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ranked' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='queueType' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='gameLength' type='xsd:int' minOccurs='0' />
                  <xsd:element name='myTeamStatus' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='gameMode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ipEarned' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTeamRankedStatsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='teamid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTeamRankedStatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='playerAggregatedStatsList' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='aggregatedStats' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='modifyDate' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='lifetimeStatistics' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='championId' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='statType' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:int' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='playerId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='teamId' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='fullId' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='queueType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getChampionsRequestMessage' />
  <message name='getChampionsResponseMessage'>
    <part name='response' element='tns:getChampionsResponse' />
  </message>
  <message name='getFindTeamRequestMessage'>
    <part name='parameters' element='tns:getFindTeamParameters' />
  </message>
  <message name='getFindTeamResponseMessage'>
    <part name='response' element='tns:getFindTeamResponse' />
  </message>
  <message name='getInProgressGameInfoRequestMessage'>
    <part name='parameters' element='tns:getInProgressGameInfoParameters' />
  </message>
  <message name='getInProgressGameInfoResponseMessage'>
    <part name='response' element='tns:getInProgressGameInfoResponse' />
  </message>
  <message name='getItemsRequestMessage'>
    <part name='parameters' element='tns:getItemsParameters' />
  </message>
  <message name='getItemsResponseMessage'>
    <part name='response' element='tns:getItemsResponse' />
  </message>
  <message name='getLeaguesRequestMessage'>
    <part name='parameters' element='tns:getLeaguesParameters' />
  </message>
  <message name='getLeaguesResponseMessage'>
    <part name='response' element='tns:getLeaguesResponse' />
  </message>
  <message name='getMasteryPagesRequestMessage'>
    <part name='parameters' element='tns:getMasteryPagesParameters' />
  </message>
  <message name='getMasteryPagesResponseMessage'>
    <part name='response' element='tns:getMasteryPagesResponse' />
  </message>
  <message name='getRunePagesRequestMessage'>
    <part name='parameters' element='tns:getRunePagesParameters' />
  </message>
  <message name='getRunePagesResponseMessage'>
    <part name='response' element='tns:getRunePagesResponse' />
  </message>
  <message name='getSummonerRequestMessage'>
    <part name='parameters' element='tns:getSummonerParameters' />
  </message>
  <message name='getSummonerResponseMessage'>
    <part name='response' element='tns:getSummonerResponse' />
  </message>
  <message name='getSummonerTeamInfoRequestMessage'>
    <part name='parameters' element='tns:getSummonerTeamInfoParameters' />
  </message>
  <message name='getSummonerTeamInfoResponseMessage'>
    <part name='response' element='tns:getSummonerTeamInfoResponse' />
  </message>
  <message name='getTeamRequestMessage'>
    <part name='parameters' element='tns:getTeamParameters' />
  </message>
  <message name='getTeamResponseMessage'>
    <part name='response' element='tns:getTeamResponse' />
  </message>
  <message name='getTeamEndOfGameStatsRequestMessage'>
    <part name='parameters' element='tns:getTeamEndOfGameStatsParameters' />
  </message>
  <message name='getTeamEndOfGameStatsResponseMessage'>
    <part name='response' element='tns:getTeamEndOfGameStatsResponse' />
  </message>
  <message name='getTeamRankedStatsRequestMessage'>
    <part name='parameters' element='tns:getTeamRankedStatsParameters' />
  </message>
  <message name='getTeamRankedStatsResponseMessage'>
    <part name='response' element='tns:getTeamRankedStatsResponse' />
  </message>
  <portType name='elophantLeagueOfLegendsPortType'>
    <operation name='getChampions'>
      <documentation>returns every champion s id and name in Json We do not recommend calling this method too often because it does count as an API call Try to cache it and only use this method for updates A champion with an id of does not exist We use it to deal with exceptions</documentation>
      <input message='tns:getChampionsRequestMessage' name='getChampionsInput' />
      <output message='tns:getChampionsResponseMessage' name='getChampionsOutput' />
    </operation>
    <operation name='getFindTeam'>
      <documentation>returns a brief overview of a team including gameType dependent tiers and divisions the current roster and basic match history statistics Use this method only if and when teamId is not known or cannot be found another way When requesting a team tag or name with a space use to represent the space On that note always URL encode the team tag or name to avoid false error messages</documentation>
      <input message='tns:getFindTeamRequestMessage' name='getFindTeamInput' />
      <output message='tns:getFindTeamResponseMessage' name='getFindTeamOutput' />
    </operation>
    <operation name='getInProgressGameInfo'>
      <documentation>returns the player information for both teams bans if draft or ranked and observer information If the summoner is not found an error will be returned If the summoner is found but is not in game an error will be returned</documentation>
      <input message='tns:getInProgressGameInfoRequestMessage' name='getInProgressGameInfoInput' />
      <output message='tns:getInProgressGameInfoResponseMessage' name='getInProgressGameInfoOutput' />
    </operation>
    <operation name='getItems'>
      <documentation>returns every item s id and name in Json We do not recommend calling this method too often because it does count as an API call Try to cache it and only use this method for updates</documentation>
      <input message='tns:getItemsRequestMessage' name='getItemsInput' />
      <output message='tns:getItemsResponseMessage' name='getItemsOutput' />
    </operation>
    <operation name='getLeagues'>
      <documentation>returns the current Leagues for the requested summonerId including all players within each League</documentation>
      <input message='tns:getLeaguesRequestMessage' name='getLeaguesInput' />
      <output message='tns:getLeaguesResponseMessage' name='getLeaguesOutput' />
    </operation>
    <operation name='getMasteryPages'>
      <documentation>returns an array with each mastery book page and subsequent talent point entries for a specific summoner Mastery pages are very complex objects We recommend that you play around with different talent entries to obtain their talentId The most important values when reconstructing a page are rank and talentId</documentation>
      <input message='tns:getMasteryPagesRequestMessage' name='getMasteryPagesInput' />
      <output message='tns:getMasteryPagesResponseMessage' name='getMasteryPagesOutput' />
    </operation>
    <operation name='getRunePages'>
      <documentation>returns an array with each rune page and subsequent runes for a specific summoner Rune pages are very complex objects We recommend that you play around with different runes to obtain their runeId</documentation>
      <input message='tns:getRunePagesRequestMessage' name='getRunePagesInput' />
      <output message='tns:getRunePagesResponseMessage' name='getRunePagesOutput' />
    </operation>
    <operation name='getSummoner'>
      <documentation>returns a summoner s accountId summonerId account level and profile icon id This method has one of the smallest return sizes for the amount of value it possesses When requesting a summoner with a space in their name use to represent the space On that note please URL encode all summoner names before making a request Use this method to find out a summoner s accountId and summonerId when only the name is known From there requests for mastery pages or rune pages are easy</documentation>
      <input message='tns:getSummonerRequestMessage' name='getSummonerInput' />
      <output message='tns:getSummonerResponseMessage' name='getSummonerOutput' />
    </operation>
    <operation name='getSummonerTeamInfo'>
      <documentation>returns all team info regarding the specified summoner including team overviews and all of the teams the summoner has created Use this method to obtain teamIds for use in other team related methods This method also returns a brief match history for each team the summoner is on The value date returns a binary encoded DateTime object Be sure to account for that in your code Team names with special characters contain special encoding</documentation>
      <input message='tns:getSummonerTeamInfoRequestMessage' name='getSummonerTeamInfoInput' />
      <output message='tns:getSummonerTeamInfoResponseMessage' name='getSummonerTeamInfoOutput' />
    </operation>
    <operation name='getTeam'>
      <documentation>returns a brief overview of a team including gameType dependent Elos the current roster and basic match history statistics Use this method in favor of find team when the teamId is known because this method is faster</documentation>
      <input message='tns:getTeamRequestMessage' name='getTeamInput' />
      <output message='tns:getTeamResponseMessage' name='getTeamOutput' />
    </operation>
    <operation name='getTeamEndOfGameStats'>
      <documentation>returns very detailed statistics about the specified match Note This request is only for teams like TSM or CLG not individual summoners</documentation>
      <input message='tns:getTeamEndOfGameStatsRequestMessage' name='getTeamEndOfGameStatsInput' />
      <output message='tns:getTeamEndOfGameStatsResponseMessage' name='getTeamEndOfGameStatsOutput' />
    </operation>
    <operation name='getTeamRankedStats'>
      <documentation>returns each team member s statistics for the specified team This call provides very similar results to summoner ranked stats</documentation>
      <input message='tns:getTeamRankedStatsRequestMessage' name='getTeamRankedStatsInput' />
      <output message='tns:getTeamRankedStatsResponseMessage' name='getTeamRankedStatsOutput' />
    </operation>
  </portType>
  <binding name='elophantLeagueOfLegendsBinding' type='tns:elophantLeagueOfLegendsPortType'>
    <operation name='getChampions'>
      <soap12:operation soapAction='http://getChampions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getFindTeam'>
      <soap12:operation soapAction='http://getFindTeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getInProgressGameInfo'>
      <soap12:operation soapAction='http://getInProgressGameInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getItems'>
      <soap12:operation soapAction='http://getItems' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLeagues'>
      <soap12:operation soapAction='http://getLeagues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMasteryPages'>
      <soap12:operation soapAction='http://getMasteryPages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRunePages'>
      <soap12:operation soapAction='http://getRunePages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSummoner'>
      <soap12:operation soapAction='http://getSummoner' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSummonerTeamInfo'>
      <soap12:operation soapAction='http://getSummonerTeamInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTeam'>
      <soap12:operation soapAction='http://getTeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTeamEndOfGameStats'>
      <soap12:operation soapAction='http://getTeamEndOfGameStats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTeamRankedStats'>
      <soap12:operation soapAction='http://getTeamRankedStats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='elophantLeagueOfLegends'>
    <documentation>lOL Champion and Summoner Stats To consume a service perform a GET request on api elophant com v region resource Remember you must include your developer key for authentication resource key Each developer is currently rate limited to calls every minutes We highly discourage making an unreasonable amount of requests calls second All calls now return the proper content type for Json Also the number of requests remaining has been added to the header This value is updated immediately The regions we current support include NA EUW EUNE and BR</documentation>
    <port name='elophantLeagueOfLegendsPort' binding='tns:elophantLeagueOfLegendsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://elophantLeagueOfLegends' />
    </port>
  </service>
</definitions>