workspace/datasets/mashape_dataset/embedoembedandextractmetaandfulltextandimagesfromurls.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/embedOembedAndExtractMetaAndFullTextAndImagesFromUrls/' name='embedOembedAndExtractMetaAndFullTextAndImagesFromUrls' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/embedOembedAndExtractMetaAndFullTextAndImagesFromUrls/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/embedOembedAndExtractMetaAndFullTextAndImagesFromUrls/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/embedOembedAndExtractMetaAndFullTextAndImagesFromUrls/'>
      <xsd:element name='embedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='embedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='author_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='cache_age' type='xsd:string' minOccurs='0' />
            <xsd:element name='provider_url' type='xsd:string' minOccurs='0' />
            <xsd:element name='type' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='thumbnail_url' type='xsd:string' minOccurs='0' />
            <xsd:element name='version' type='xsd:string' minOccurs='0' />
            <xsd:element name='url' type='xsd:string' minOccurs='0' />
            <xsd:element name='thumbnail_height' type='xsd:string' minOccurs='0' />
            <xsd:element name='author_url' type='xsd:string' minOccurs='0' />
            <xsd:element name='thumbnail_width' type='xsd:string' minOccurs='0' />
            <xsd:element name='width' type='xsd:string' minOccurs='0' />
            <xsd:element name='html' type='xsd:string' minOccurs='0' />
            <xsd:element name='provider_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='height' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='extractParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='extractResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='property' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='context' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='meta' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='property' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='oembed' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='property' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='links' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='href' type='xsd:string' minOccurs='0' />
                        <xsd:element name='media' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='width' type='xsd:string' minOccurs='0' />
                              <xsd:element name='height' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='thumbnail' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='href' type='xsd:string' minOccurs='0' />
                        <xsd:element name='media' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='width' type='xsd:string' minOccurs='0' />
                              <xsd:element name='height' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='icon' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='href' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='player' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='html' type='xsd:string' minOccurs='0' />
                        <xsd:element name='href' type='xsd:string' minOccurs='0' />
                        <xsd:element name='media' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='aspect-ratio' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='html' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='embedRequestMessage'>
    <part name='parameters' element='tns:embedParameters' />
  </message>
  <message name='embedResponseMessage'>
    <part name='response' element='tns:embedResponse' />
  </message>
  <message name='extractRequestMessage'>
    <part name='parameters' element='tns:extractParameters' />
  </message>
  <message name='extractResponseMessage'>
    <part name='response' element='tns:extractResponse' />
  </message>
  <portType name='embedOembedAndExtractMetaAndFullTextAndImagesFromUrlsPortType'>
    <operation name='embed'>
      <documentation>get embed for URL</documentation>
      <input message='tns:embedRequestMessage' name='embedInput' />
      <output message='tns:embedResponseMessage' name='embedOutput' />
    </operation>
    <operation name='extract'>
      <documentation></documentation>
      <input message='tns:extractRequestMessage' name='extractInput' />
      <output message='tns:extractResponseMessage' name='extractOutput' />
    </operation>
  </portType>
  <binding name='embedOembedAndExtractMetaAndFullTextAndImagesFromUrlsBinding' type='tns:embedOembedAndExtractMetaAndFullTextAndImagesFromUrlsPortType'>
    <operation name='embed'>
      <soap12:operation soapAction='http://embed' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='extract'>
      <soap12:operation soapAction='http://extract' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='embedOembedAndExtractMetaAndFullTextAndImagesFromUrls'>
    <documentation>embed any url with oEmbed Extract any url and get meta tags and the full content from any article</documentation>
    <port name='embedOembedAndExtractMetaAndFullTextAndImagesFromUrlsPort' binding='tns:embedOembedAndExtractMetaAndFullTextAndImagesFromUrlsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://embedOembedAndExtractMetaAndFullTextAndImagesFromUrls' />
    </port>
  </service>
</definitions>