workspace/datasets/mashape_dataset/encryptpassword.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/encryptpassword/' name='encryptpassword' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/encryptpassword/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/encryptpassword/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/encryptpassword/'>
      <xsd:element name='binParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='do' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='binResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='encPasswd' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='resp' type='xsd:int' minOccurs='0' />
            <xsd:element name='desc' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='binRequestMessage'>
    <part name='parameters' element='tns:binParameters' />
  </message>
  <message name='binResponseMessage'>
    <part name='response' element='tns:binResponse' />
  </message>
  <portType name='encryptpasswordPortType'>
    <operation name='bin'>
      <input message='tns:binRequestMessage' name='binInput' />
      <output message='tns:binResponseMessage' name='binOutput' />
    </operation>
  </portType>
  <binding name='encryptpasswordBinding' type='tns:encryptpasswordPortType'>
    <operation name='bin'>
      <soap12:operation soapAction='http://bin' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='encryptpassword'>
    <documentation>allow you to encrypt a password delivering the encryption responsibility with a third party MD mysecret seed YourString</documentation>
    <port name='encryptpasswordPort' binding='tns:encryptpasswordBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://encryptpassword' />
    </port>
  </service>
</definitions>