workspace/datasets/mashape_dataset/epguidesapi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/epguidesApi/' name='epguidesApi' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/epguidesApi/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/epguidesApi/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/epguidesApi/'>
      <xsd:element name='Response'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='epguide_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imdb_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_episode' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='imdb_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='episodes' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='epguides_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='next_episode' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bigbangtheoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n1' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='release_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='show' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='epguide_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='season' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n2' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='release_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='show' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='epguide_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='season' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n3' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='release_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='show' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='epguide_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='season' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n4' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='release_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='show' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='epguide_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='season' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n5' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='release_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='show' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='epguide_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='season' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n6' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='release_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='show' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='epguide_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='season' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n7' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='release_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='show' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='epguide_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='season' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n8' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='release_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='show' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='epguide_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='season' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='RequestMessage' />
  <message name='ResponseMessage'>
    <part name='response' element='tns:Response' />
  </message>
  <message name='bigbangtheoryRequestMessage' />
  <message name='bigbangtheoryResponseMessage'>
    <part name='response' element='tns:bigbangtheoryResponse' />
  </message>
  <portType name='epguidesApiPortType'>
    <operation name=''>
      <documentation>discover TV shows</documentation>
      <input message='tns:RequestMessage' name='Input' />
      <output message='tns:ResponseMessage' name='Output' />
    </operation>
    <operation name='bigbangtheory'>
      <documentation>example of querying The Big Bang Theory</documentation>
      <input message='tns:bigbangtheoryRequestMessage' name='bigbangtheoryInput' />
      <output message='tns:bigbangtheoryResponseMessage' name='bigbangtheoryOutput' />
    </operation>
  </portType>
  <binding name='epguidesApiBinding' type='tns:epguidesApiPortType'>
    <operation name=''>
      <soap12:operation soapAction='http://' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bigbangtheory'>
      <soap12:operation soapAction='http://bigbangtheory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='epguidesApi'>
    <documentation>the epguides REST API allows developers to access and integrate information about TV episodes for many TV shows Some example API methods include retrieving all of the episodes of a TV show retrieving the last episode of a TV show and retrieving the first episode of a TV show epguides was built and is provided by Fredrik Carlsen</documentation>
    <port name='epguidesApiPort' binding='tns:epguidesApiBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://epguidesApi' />
    </port>
  </service>
</definitions>