workspace/datasets/mashape_dataset/erpk.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/erpk/' name='erpk' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/erpk/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/erpk/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/erpk/'>
      <xsd:element name='citizenProfileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='idformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='citizenProfileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='newspaper' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='role' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='true_patriot' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='damage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='since' type='xsd:date' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='medals' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='true_patriot' type='xsd:int' minOccurs='0' />
                  <xsd:element name='battle_hero' type='xsd:int' minOccurs='0' />
                  <xsd:element name='campaign_hero' type='xsd:int' minOccurs='0' />
                  <xsd:element name='congress_member' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mercenary' type='xsd:int' minOccurs='0' />
                  <xsd:element name='society_builder' type='xsd:int' minOccurs='0' />
                  <xsd:element name='super_soldier' type='xsd:int' minOccurs='0' />
                  <xsd:element name='media_mogul' type='xsd:int' minOccurs='0' />
                  <xsd:element name='top_fighter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='country_president' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hard_worker' type='xsd:int' minOccurs='0' />
                  <xsd:element name='resistance_hero' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='alive' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='strength' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='level' type='xsd:int' minOccurs='0' />
            <xsd:element name='citizenship' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='about' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='birth' type='xsd:date' minOccurs='0' />
            <xsd:element name='avatar' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='experience' type='xsd:int' minOccurs='0' />
            <xsd:element name='top_damage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='damage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='elite_citizen' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='ban' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='army' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='role' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:date' minOccurs='0' />
                  <xsd:element name='rank' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='avatar' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hit' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='online' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='rank' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='level' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='points' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='national_rank' type='xsd:int' minOccurs='0' />
            <xsd:element name='residence' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='region' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='party' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='citizenProfileRequestMessage'>
    <part name='parameters' element='tns:citizenProfileParameters' />
  </message>
  <message name='citizenProfileResponseMessage'>
    <part name='response' element='tns:citizenProfileResponse' />
  </message>
  <portType name='erpkPortType'>
    <operation name='citizenProfile'>
      <documentation></documentation>
      <input message='tns:citizenProfileRequestMessage' name='citizenProfileInput' />
      <output message='tns:citizenProfileResponseMessage' name='citizenProfileOutput' />
    </operation>
  </portType>
  <binding name='erpkBinding' type='tns:erpkPortType'>
    <operation name='citizenProfile'>
      <soap12:operation soapAction='http://citizenProfile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='erpk'>
    <documentation>it is eRepublik unofficial API which gives you many missing features and allows create your own tools easy</documentation>
    <port name='erpkPort' binding='tns:erpkBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://erpk' />
    </port>
  </service>
</definitions>