workspace/datasets/mashape_dataset/etsy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/etsy/' name='etsy' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/etsy/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/etsy/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/etsy/'>
      <xsd:element name='findallcurrentfeaturedlistingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagination' type='xsd:string' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='params' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='is_private' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='occasion' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_customizable' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='listing_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='has_variations' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='used_manufacturer' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='processing_max' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='currency_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='file_data' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ending_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='category_path_ids' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='processing_min' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='original_creation_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='state_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='views' type='xsd:int' minOccurs='0' />
                  <xsd:element name='quantity' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shipping_template_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='non_taxable' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='is_digital' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='num_favorers' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shop_section_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='featured_rank' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='is_supply' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='last_modified_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='materials' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='creation_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='category_path' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='when_made' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recipient' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='style' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='who_made' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findalllistingactiveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagination' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='effective_limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='next_page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='effective_page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='next_offset' type='xsd:int' minOccurs='0' />
                  <xsd:element name='effective_offset' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='params' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='accepts_gift_cards' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='offset' type='xsd:int' minOccurs='0' />
                  <xsd:element name='keywords' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='geo_level' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translate_keywords' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='lon' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='color_accuracy' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sort_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='max_price' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='min_price' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='page' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sort_order' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='is_private' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='occasion' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_customizable' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='listing_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='has_variations' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='used_manufacturer' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='processing_max' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='currency_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='file_data' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ending_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='category_path_ids' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='processing_min' type='xsd:int' minOccurs='0' />
                  <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='original_creation_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='state_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='views' type='xsd:int' minOccurs='0' />
                  <xsd:element name='quantity' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shipping_template_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='non_taxable' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='is_digital' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='num_favorers' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shop_section_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='featured_rank' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='is_supply' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='last_modified_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='materials' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='creation_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='category_path' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='when_made' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recipient' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='style' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='who_made' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getinterestinglistingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gettrendinglistingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagination' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='effective_limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='next_page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='effective_page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='next_offset' type='xsd:int' minOccurs='0' />
                  <xsd:element name='effective_offset' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='params' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='offset' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='page' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='is_private' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='occasion' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_customizable' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='listing_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='has_variations' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='used_manufacturer' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='processing_max' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='currency_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='file_data' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ending_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='category_path_ids' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='processing_min' type='xsd:int' minOccurs='0' />
                  <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='original_creation_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='state_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='views' type='xsd:int' minOccurs='0' />
                  <xsd:element name='quantity' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shipping_template_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='non_taxable' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='is_digital' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='num_favorers' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shop_section_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='featured_rank' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='is_supply' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='last_modified_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='creation_tsz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='category_path' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='when_made' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recipient' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='style' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='who_made' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='findallcurrentfeaturedlistingsRequestMessage' />
  <message name='findallcurrentfeaturedlistingsResponseMessage'>
    <part name='response' element='tns:findallcurrentfeaturedlistingsResponse' />
  </message>
  <message name='findalllistingactiveRequestMessage' />
  <message name='findalllistingactiveResponseMessage'>
    <part name='response' element='tns:findalllistingactiveResponse' />
  </message>
  <message name='getinterestinglistingsRequestMessage' />
  <message name='getinterestinglistingsResponseMessage'>
    <part name='response' element='tns:getinterestinglistingsResponse' />
  </message>
  <message name='gettrendinglistingsRequestMessage' />
  <message name='gettrendinglistingsResponseMessage'>
    <part name='response' element='tns:gettrendinglistingsResponse' />
  </message>
  <portType name='etsyPortType'>
    <operation name='findallcurrentfeaturedlistings'>
      <documentation>finds FeaturedTreasury listings that are currently displayed on a regional homepage</documentation>
      <input message='tns:findallcurrentfeaturedlistingsRequestMessage' name='findallcurrentfeaturedlistingsInput' />
      <output message='tns:findallcurrentfeaturedlistingsResponseMessage' name='findallcurrentfeaturedlistingsOutput' />
    </operation>
    <operation name='findalllistingactive'>
      <documentation>finds all active Listings Note the sort on and sort order options only work when combined with one of the search options keywords color tags location etc</documentation>
      <input message='tns:findalllistingactiveRequestMessage' name='findalllistingactiveInput' />
      <output message='tns:findalllistingactiveResponseMessage' name='findalllistingactiveOutput' />
    </operation>
    <operation name='getinterestinglistings'>
      <documentation>collects the list of interesting listings</documentation>
      <input message='tns:getinterestinglistingsRequestMessage' name='getinterestinglistingsInput' />
      <output message='tns:getinterestinglistingsResponseMessage' name='getinterestinglistingsOutput' />
    </operation>
    <operation name='gettrendinglistings'>
      <documentation>collects the list of listings used to generate the trending listing page</documentation>
      <input message='tns:gettrendinglistingsRequestMessage' name='gettrendinglistingsInput' />
      <output message='tns:gettrendinglistingsResponseMessage' name='gettrendinglistingsOutput' />
    </operation>
  </portType>
  <binding name='etsyBinding' type='tns:etsyPortType'>
    <operation name='findallcurrentfeaturedlistings'>
      <soap12:operation soapAction='http://findallcurrentfeaturedlistings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findalllistingactive'>
      <soap12:operation soapAction='http://findalllistingactive' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getinterestinglistings'>
      <soap12:operation soapAction='http://getinterestinglistings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gettrendinglistings'>
      <soap12:operation soapAction='http://gettrendinglistings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='etsy'>
    <documentation>buy and sell handmade or vintage items art and supplies on Etsy the world s most vibrant handmade marketplace</documentation>
    <port name='etsyPort' binding='tns:etsyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://etsy' />
    </port>
  </service>
</definitions>