workspace/datasets/mashape_dataset/eventssendnativecalendarinvites.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/eventsSendNativeCalendarInvites/' name='eventsSendNativeCalendarInvites' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/eventsSendNativeCalendarInvites/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/eventsSendNativeCalendarInvites/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/eventsSendNativeCalendarInvites/'>
      <xsd:element name='accounggetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='customerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accounggetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='customer_readytalkAccessCode' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_billingAddress' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_billingZip' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_username' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='customer_timezone' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='customer_dateAdded' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_datePaid' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_readytalkPassCode' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_password' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='customer_billingName' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_billingState' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_active' type='xsd:int' minOccurs='0' />
            <xsd:element name='customer_listSize' type='xsd:int' minOccurs='0' />
            <xsd:element name='customer_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='token' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_lastName' type='xsd:string' minOccurs='0' />
            <xsd:element name='plan_title' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='customer_paid' type='xsd:int' minOccurs='0' />
            <xsd:element name='parent_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='customer_email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='customer_firstName' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_billingCity' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='customer_admin' type='xsd:int' minOccurs='0' />
            <xsd:element name='plan_id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountcreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='CUSTOMER_ID' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountdeleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='customerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountdeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='CUSTOMER_ID' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='customer_readytalkAccessCode' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_billingAddress' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_billingZip' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_username' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='customer_timezone' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='customer_dateAdded' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_datePaid' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_readytalkPassCode' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_password' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='customer_billingName' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_billingState' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_active' type='xsd:int' minOccurs='0' />
            <xsd:element name='customer_listSize' type='xsd:int' minOccurs='0' />
            <xsd:element name='customer_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='token' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_lastName' type='xsd:string' minOccurs='0' />
            <xsd:element name='plan_title' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='customer_paid' type='xsd:int' minOccurs='0' />
            <xsd:element name='parent_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='customer_email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='customer_firstName' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_billingCity' type='xsd:string' minOccurs='0' />
            <xsd:element name='customer_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='customer_admin' type='xsd:int' minOccurs='0' />
            <xsd:element name='plan_id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountupdateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='customerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountupdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='CUSTOMER_ID' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventbulksubscribeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='eventid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventbulksubscribeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventcreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='EVENT_ID' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventdeleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='eventid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventdeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='EVENT_ID' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventgetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='eventid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventgetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='list_title' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_hostCompany' type='xsd:string' minOccurs='0' />
            <xsd:element name='list_id' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_format' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_location' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_readytalkId' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_archive' type='xsd:int' minOccurs='0' />
            <xsd:element name='event_issueTickets' type='xsd:int' minOccurs='0' />
            <xsd:element name='event_accept' type='xsd:int' minOccurs='0' />
            <xsd:element name='event_decline' type='xsd:int' minOccurs='0' />
            <xsd:element name='event_recipientCount' type='xsd:int' minOccurs='0' />
            <xsd:element name='event_uid' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_timezone' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='event_ticketResponseContent' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_hostPhone' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_dateStart' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_sequence' type='xsd:int' minOccurs='0' />
            <xsd:element name='event_dateEnd' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_subject' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_dateUpdated' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_hostName' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_title' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_dateSent' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_hostEmail' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_content' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_reviseAction' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='event_reminder' type='xsd:int' minOccurs='0' />
            <xsd:element name='event_summary' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_readytalkFromDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='event_sent' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='customer_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='event_dateAdded' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='event_dateUpdated' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_format' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_location' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_dateSent' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_issueTickets' type='xsd:int' minOccurs='0' />
                  <xsd:element name='attendedCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='event_uid' type='xsd:string' minOccurs='0' />
                  <xsd:element name='declineCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='acceptedCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='event_timezone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='event_content' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_reviseAction' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='event_summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='recipientCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='event_sent' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='event_ticketResponseContent' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_dateStart' type='xsd:string' minOccurs='0' />
                  <xsd:element name='customer_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='event_dateAdded' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_dateEnd' type='xsd:string' minOccurs='0' />
                  <xsd:element name='event_subject' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventresponsesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='eventid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='responsetype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventresponsesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='recipient_email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventsendParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='eventid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventsendResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='EVENT_ID' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventupdateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='eventid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventupdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='EVENT_ID' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='accounggetRequestMessage'>
    <part name='parameters' element='tns:accounggetParameters' />
  </message>
  <message name='accounggetResponseMessage'>
    <part name='response' element='tns:accounggetResponse' />
  </message>
  <message name='accountcreateRequestMessage' />
  <message name='accountcreateResponseMessage'>
    <part name='response' element='tns:accountcreateResponse' />
  </message>
  <message name='accountdeleteRequestMessage'>
    <part name='parameters' element='tns:accountdeleteParameters' />
  </message>
  <message name='accountdeleteResponseMessage'>
    <part name='response' element='tns:accountdeleteResponse' />
  </message>
  <message name='accountlistRequestMessage' />
  <message name='accountlistResponseMessage'>
    <part name='response' element='tns:accountlistResponse' />
  </message>
  <message name='accountupdateRequestMessage'>
    <part name='parameters' element='tns:accountupdateParameters' />
  </message>
  <message name='accountupdateResponseMessage'>
    <part name='response' element='tns:accountupdateResponse' />
  </message>
  <message name='eventbulksubscribeRequestMessage'>
    <part name='parameters' element='tns:eventbulksubscribeParameters' />
  </message>
  <message name='eventbulksubscribeResponseMessage'>
    <part name='response' element='tns:eventbulksubscribeResponse' />
  </message>
  <message name='eventcreateRequestMessage' />
  <message name='eventcreateResponseMessage'>
    <part name='response' element='tns:eventcreateResponse' />
  </message>
  <message name='eventdeleteRequestMessage'>
    <part name='parameters' element='tns:eventdeleteParameters' />
  </message>
  <message name='eventdeleteResponseMessage'>
    <part name='response' element='tns:eventdeleteResponse' />
  </message>
  <message name='eventgetRequestMessage'>
    <part name='parameters' element='tns:eventgetParameters' />
  </message>
  <message name='eventgetResponseMessage'>
    <part name='response' element='tns:eventgetResponse' />
  </message>
  <message name='eventlistRequestMessage' />
  <message name='eventlistResponseMessage'>
    <part name='response' element='tns:eventlistResponse' />
  </message>
  <message name='eventresponsesRequestMessage'>
    <part name='parameters' element='tns:eventresponsesParameters' />
  </message>
  <message name='eventresponsesResponseMessage'>
    <part name='response' element='tns:eventresponsesResponse' />
  </message>
  <message name='eventsendRequestMessage'>
    <part name='parameters' element='tns:eventsendParameters' />
  </message>
  <message name='eventsendResponseMessage'>
    <part name='response' element='tns:eventsendResponse' />
  </message>
  <message name='eventupdateRequestMessage'>
    <part name='parameters' element='tns:eventupdateParameters' />
  </message>
  <message name='eventupdateResponseMessage'>
    <part name='response' element='tns:eventupdateResponse' />
  </message>
  <portType name='eventsSendNativeCalendarInvitesPortType'>
    <operation name='accoungget'>
      <documentation></documentation>
      <input message='tns:accounggetRequestMessage' name='accounggetInput' />
      <output message='tns:accounggetResponseMessage' name='accounggetOutput' />
    </operation>
    <operation name='accountcreate'>
      <documentation></documentation>
      <input message='tns:accountcreateRequestMessage' name='accountcreateInput' />
      <output message='tns:accountcreateResponseMessage' name='accountcreateOutput' />
    </operation>
    <operation name='accountdelete'>
      <documentation></documentation>
      <input message='tns:accountdeleteRequestMessage' name='accountdeleteInput' />
      <output message='tns:accountdeleteResponseMessage' name='accountdeleteOutput' />
    </operation>
    <operation name='accountlist'>
      <documentation></documentation>
      <input message='tns:accountlistRequestMessage' name='accountlistInput' />
      <output message='tns:accountlistResponseMessage' name='accountlistOutput' />
    </operation>
    <operation name='accountupdate'>
      <documentation></documentation>
      <input message='tns:accountupdateRequestMessage' name='accountupdateInput' />
      <output message='tns:accountupdateResponseMessage' name='accountupdateOutput' />
    </operation>
    <operation name='eventbulksubscribe'>
      <documentation></documentation>
      <input message='tns:eventbulksubscribeRequestMessage' name='eventbulksubscribeInput' />
      <output message='tns:eventbulksubscribeResponseMessage' name='eventbulksubscribeOutput' />
    </operation>
    <operation name='eventcreate'>
      <documentation></documentation>
      <input message='tns:eventcreateRequestMessage' name='eventcreateInput' />
      <output message='tns:eventcreateResponseMessage' name='eventcreateOutput' />
    </operation>
    <operation name='eventdelete'>
      <documentation></documentation>
      <input message='tns:eventdeleteRequestMessage' name='eventdeleteInput' />
      <output message='tns:eventdeleteResponseMessage' name='eventdeleteOutput' />
    </operation>
    <operation name='eventget'>
      <documentation></documentation>
      <input message='tns:eventgetRequestMessage' name='eventgetInput' />
      <output message='tns:eventgetResponseMessage' name='eventgetOutput' />
    </operation>
    <operation name='eventlist'>
      <documentation></documentation>
      <input message='tns:eventlistRequestMessage' name='eventlistInput' />
      <output message='tns:eventlistResponseMessage' name='eventlistOutput' />
    </operation>
    <operation name='eventresponses'>
      <documentation></documentation>
      <input message='tns:eventresponsesRequestMessage' name='eventresponsesInput' />
      <output message='tns:eventresponsesResponseMessage' name='eventresponsesOutput' />
    </operation>
    <operation name='eventsend'>
      <documentation></documentation>
      <input message='tns:eventsendRequestMessage' name='eventsendInput' />
      <output message='tns:eventsendResponseMessage' name='eventsendOutput' />
    </operation>
    <operation name='eventupdate'>
      <documentation></documentation>
      <input message='tns:eventupdateRequestMessage' name='eventupdateInput' />
      <output message='tns:eventupdateResponseMessage' name='eventupdateOutput' />
    </operation>
  </portType>
  <binding name='eventsSendNativeCalendarInvitesBinding' type='tns:eventsSendNativeCalendarInvitesPortType'>
    <operation name='accoungget'>
      <soap12:operation soapAction='http://accoungget' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='accountcreate'>
      <soap12:operation soapAction='http://accountcreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='accountdelete'>
      <soap12:operation soapAction='http://accountdelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='accountlist'>
      <soap12:operation soapAction='http://accountlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='accountupdate'>
      <soap12:operation soapAction='http://accountupdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventbulksubscribe'>
      <soap12:operation soapAction='http://eventbulksubscribe' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventcreate'>
      <soap12:operation soapAction='http://eventcreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventdelete'>
      <soap12:operation soapAction='http://eventdelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventget'>
      <soap12:operation soapAction='http://eventget' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventlist'>
      <soap12:operation soapAction='http://eventlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventresponses'>
      <soap12:operation soapAction='http://eventresponses' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventsend'>
      <soap12:operation soapAction='http://eventsend' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventupdate'>
      <soap12:operation soapAction='http://eventupdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='eventsSendNativeCalendarInvites'>
    <documentation>Events is a simple yet powerful calendaring event management service that allows for the sending of calendaring events directly to your customer s calendar It could be used for Webinars Seminars Training etc If the customer accepts the calendar invite they are automatically signed up for the event Standards based iCal compliant that works with Exchange calendars Google Calendars mobile phones No more Click to download to calendar Send directly to a email account for accept or reject</documentation>
    <port name='eventsSendNativeCalendarInvitesPort' binding='tns:eventsSendNativeCalendarInvitesBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://eventsSendNativeCalendarInvites' />
    </port>
  </service>
</definitions>