workspace/datasets/mashape_dataset/evercampubliccameras.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/evercamPublicCameras/' name='evercamPublicCameras' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/evercamPublicCameras/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/evercamPublicCameras/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/evercamPublicCameras/'>
      <xsd:element name='cameraInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cameraInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cameras' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='timezone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_polled_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_online_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='vendor_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='vendor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='discoverable' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='is_public' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='short' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='jpg_url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='model' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_online' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='pages' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveBaseJpgImageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveBaseJpgImageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='timezone' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
            <xsd:element name='camera' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveJpgImageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveJpgImageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publicCamerasParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='casesensitive' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='idcontains' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='idendswith' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='idstartswith' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='isnearto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='withindistance' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publicCamerasResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cameras' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='timezone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_polled_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_online_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='vendor_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='vendor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='discoverable' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='is_public' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='short' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='jpg_url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='model' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_online' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='pages' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='cameraInformationRequestMessage'>
    <part name='parameters' element='tns:cameraInformationParameters' />
  </message>
  <message name='cameraInformationResponseMessage'>
    <part name='response' element='tns:cameraInformationResponse' />
  </message>
  <message name='liveBaseJpgImageRequestMessage'>
    <part name='parameters' element='tns:liveBaseJpgImageParameters' />
  </message>
  <message name='liveBaseJpgImageResponseMessage'>
    <part name='response' element='tns:liveBaseJpgImageResponse' />
  </message>
  <message name='liveJpgImageRequestMessage'>
    <part name='parameters' element='tns:liveJpgImageParameters' />
  </message>
  <message name='liveJpgImageResponseMessage'>
    <part name='response' element='tns:liveJpgImageResponse' />
  </message>
  <message name='publicCamerasRequestMessage'>
    <part name='parameters' element='tns:publicCamerasParameters' />
  </message>
  <message name='publicCamerasResponseMessage'>
    <part name='response' element='tns:publicCamerasResponse' />
  </message>
  <portType name='evercamPublicCamerasPortType'>
    <operation name='cameraInformation'>
      <documentation>returns all data for a given camera</documentation>
      <input message='tns:cameraInformationRequestMessage' name='cameraInformationInput' />
      <output message='tns:cameraInformationResponseMessage' name='cameraInformationOutput' />
    </operation>
    <operation name='liveBaseJpgImage'>
      <documentation>returns live base encoded jpg from the camera</documentation>
      <input message='tns:liveBaseJpgImageRequestMessage' name='liveBaseJpgImageInput' />
      <output message='tns:liveBaseJpgImageResponseMessage' name='liveBaseJpgImageOutput' />
    </operation>
    <operation name='liveJpgImage'>
      <documentation>returns live jpg from the camera</documentation>
      <input message='tns:liveJpgImageRequestMessage' name='liveJpgImageInput' />
      <output message='tns:liveJpgImageResponseMessage' name='liveJpgImageOutput' />
    </operation>
    <operation name='publicCameras'>
      <documentation>fetch a list of publicly discoverable cameras from within the Evercam system</documentation>
      <input message='tns:publicCamerasRequestMessage' name='publicCamerasInput' />
      <output message='tns:publicCamerasResponseMessage' name='publicCamerasOutput' />
    </operation>
  </portType>
  <binding name='evercamPublicCamerasBinding' type='tns:evercamPublicCamerasPortType'>
    <operation name='cameraInformation'>
      <soap12:operation soapAction='http://cameraInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveBaseJpgImage'>
      <soap12:operation soapAction='http://liveBaseJpgImage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveJpgImage'>
      <soap12:operation soapAction='http://liveJpgImage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publicCameras'>
      <soap12:operation soapAction='http://publicCameras' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='evercamPublicCameras'>
    <documentation>returns a list of publicly discoverable cameras from within the Evercam system</documentation>
    <port name='evercamPublicCamerasPort' binding='tns:evercamPublicCamerasBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://evercamPublicCameras' />
    </port>
  </service>
</definitions>