workspace/datasets/mashape_dataset/evercamio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/evercamIo/' name='evercamIo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/evercamIo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/evercamIo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/evercamIo/'>
      <xsd:element name='deleteCamerasIdJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteCamerasIdJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteCamerasIdSnapshotsTimestampJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timestamp' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteCamerasIdSnapshotsTimestampJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteUsersIdJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteUsersIdJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCamerasIdJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCamerasIdJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCamerasIdSnapshotsJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCamerasIdSnapshotsJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCamerasIdSnapshotsTimestampJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timestamp' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCamerasIdSnapshotsTimestampJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsVendorJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='vendor' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsVendorJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsVendorModelJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='model' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='vendor' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsVendorModelJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUsersIdJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUsersIdJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUsersIdCamerasJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUsersIdCamerasJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUsersIdRightsJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUsersIdRightsJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVendorsJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVendorsMacJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='mac' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVendorsMacJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postCamerasJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postCamerasIdSnapshotsJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postCamerasIdSnapshotsJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='putCamerasIdSnapshotsTimestampJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timestamp' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='putCamerasIdSnapshotsTimestampJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='deleteCamerasIdJsonRequestMessage'>
    <part name='parameters' element='tns:deleteCamerasIdJsonParameters' />
  </message>
  <message name='deleteCamerasIdJsonResponseMessage'>
    <part name='response' element='tns:deleteCamerasIdJsonResponse' />
  </message>
  <message name='deleteCamerasIdSnapshotsTimestampJsonRequestMessage'>
    <part name='parameters' element='tns:deleteCamerasIdSnapshotsTimestampJsonParameters' />
  </message>
  <message name='deleteCamerasIdSnapshotsTimestampJsonResponseMessage'>
    <part name='response' element='tns:deleteCamerasIdSnapshotsTimestampJsonResponse' />
  </message>
  <message name='deleteUsersIdJsonRequestMessage'>
    <part name='parameters' element='tns:deleteUsersIdJsonParameters' />
  </message>
  <message name='deleteUsersIdJsonResponseMessage'>
    <part name='response' element='tns:deleteUsersIdJsonResponse' />
  </message>
  <message name='getCamerasIdJsonRequestMessage'>
    <part name='parameters' element='tns:getCamerasIdJsonParameters' />
  </message>
  <message name='getCamerasIdJsonResponseMessage'>
    <part name='response' element='tns:getCamerasIdJsonResponse' />
  </message>
  <message name='getCamerasIdSnapshotsJsonRequestMessage'>
    <part name='parameters' element='tns:getCamerasIdSnapshotsJsonParameters' />
  </message>
  <message name='getCamerasIdSnapshotsJsonResponseMessage'>
    <part name='response' element='tns:getCamerasIdSnapshotsJsonResponse' />
  </message>
  <message name='getCamerasIdSnapshotsTimestampJsonRequestMessage'>
    <part name='parameters' element='tns:getCamerasIdSnapshotsTimestampJsonParameters' />
  </message>
  <message name='getCamerasIdSnapshotsTimestampJsonResponseMessage'>
    <part name='response' element='tns:getCamerasIdSnapshotsTimestampJsonResponse' />
  </message>
  <message name='getModelsJsonRequestMessage' />
  <message name='getModelsJsonResponseMessage'>
    <part name='response' element='tns:getModelsJsonResponse' />
  </message>
  <message name='getModelsVendorJsonRequestMessage'>
    <part name='parameters' element='tns:getModelsVendorJsonParameters' />
  </message>
  <message name='getModelsVendorJsonResponseMessage'>
    <part name='response' element='tns:getModelsVendorJsonResponse' />
  </message>
  <message name='getModelsVendorModelJsonRequestMessage'>
    <part name='parameters' element='tns:getModelsVendorModelJsonParameters' />
  </message>
  <message name='getModelsVendorModelJsonResponseMessage'>
    <part name='response' element='tns:getModelsVendorModelJsonResponse' />
  </message>
  <message name='getUsersIdJsonRequestMessage'>
    <part name='parameters' element='tns:getUsersIdJsonParameters' />
  </message>
  <message name='getUsersIdJsonResponseMessage'>
    <part name='response' element='tns:getUsersIdJsonResponse' />
  </message>
  <message name='getUsersIdCamerasJsonRequestMessage'>
    <part name='parameters' element='tns:getUsersIdCamerasJsonParameters' />
  </message>
  <message name='getUsersIdCamerasJsonResponseMessage'>
    <part name='response' element='tns:getUsersIdCamerasJsonResponse' />
  </message>
  <message name='getUsersIdRightsJsonRequestMessage'>
    <part name='parameters' element='tns:getUsersIdRightsJsonParameters' />
  </message>
  <message name='getUsersIdRightsJsonResponseMessage'>
    <part name='response' element='tns:getUsersIdRightsJsonResponse' />
  </message>
  <message name='getVendorsJsonRequestMessage' />
  <message name='getVendorsJsonResponseMessage'>
    <part name='response' element='tns:getVendorsJsonResponse' />
  </message>
  <message name='getVendorsMacJsonRequestMessage'>
    <part name='parameters' element='tns:getVendorsMacJsonParameters' />
  </message>
  <message name='getVendorsMacJsonResponseMessage'>
    <part name='response' element='tns:getVendorsMacJsonResponse' />
  </message>
  <message name='postCamerasJsonRequestMessage' />
  <message name='postCamerasJsonResponseMessage'>
    <part name='response' element='tns:postCamerasJsonResponse' />
  </message>
  <message name='postCamerasIdSnapshotsJsonRequestMessage'>
    <part name='parameters' element='tns:postCamerasIdSnapshotsJsonParameters' />
  </message>
  <message name='postCamerasIdSnapshotsJsonResponseMessage'>
    <part name='response' element='tns:postCamerasIdSnapshotsJsonResponse' />
  </message>
  <message name='postUsersJsonRequestMessage' />
  <message name='postUsersJsonResponseMessage'>
    <part name='response' element='tns:postUsersJsonResponse' />
  </message>
  <message name='putCamerasIdSnapshotsTimestampJsonRequestMessage'>
    <part name='parameters' element='tns:putCamerasIdSnapshotsTimestampJsonParameters' />
  </message>
  <message name='putCamerasIdSnapshotsTimestampJsonResponseMessage'>
    <part name='response' element='tns:putCamerasIdSnapshotsTimestampJsonResponse' />
  </message>
  <portType name='evercamIoPortType'>
    <operation name='deleteCamerasIdJson'>
      <documentation>deletes a camera from Evercam along with any stored media</documentation>
      <input message='tns:deleteCamerasIdJsonRequestMessage' name='deleteCamerasIdJsonInput' />
      <output message='tns:deleteCamerasIdJsonResponseMessage' name='deleteCamerasIdJsonOutput' />
    </operation>
    <operation name='deleteCamerasIdSnapshotsTimestampJson'>
      <documentation>deletes any snapshot for this camera which exactly matches the timestamp COMING SOON</documentation>
      <input message='tns:deleteCamerasIdSnapshotsTimestampJsonRequestMessage' name='deleteCamerasIdSnapshotsTimestampJsonInput' />
      <output message='tns:deleteCamerasIdSnapshotsTimestampJsonResponseMessage' name='deleteCamerasIdSnapshotsTimestampJsonOutput' />
    </operation>
    <operation name='deleteUsersIdJson'>
      <documentation>delete your account any cameras you own and all stored media</documentation>
      <input message='tns:deleteUsersIdJsonRequestMessage' name='deleteUsersIdJsonInput' />
      <output message='tns:deleteUsersIdJsonResponseMessage' name='deleteUsersIdJsonOutput' />
    </operation>
    <operation name='getCamerasIdJson'>
      <documentation>returns all data for a given camera</documentation>
      <input message='tns:getCamerasIdJsonRequestMessage' name='getCamerasIdJsonInput' />
      <output message='tns:getCamerasIdJsonResponseMessage' name='getCamerasIdJsonOutput' />
    </operation>
    <operation name='getCamerasIdSnapshotsJson'>
      <documentation>returns the list of all snapshots currently stored for this camera COMING SOON</documentation>
      <input message='tns:getCamerasIdSnapshotsJsonRequestMessage' name='getCamerasIdSnapshotsJsonInput' />
      <output message='tns:getCamerasIdSnapshotsJsonResponseMessage' name='getCamerasIdSnapshotsJsonOutput' />
    </operation>
    <operation name='getCamerasIdSnapshotsTimestampJson'>
      <documentation></documentation>
      <input message='tns:getCamerasIdSnapshotsTimestampJsonRequestMessage' name='getCamerasIdSnapshotsTimestampJsonInput' />
      <output message='tns:getCamerasIdSnapshotsTimestampJsonResponseMessage' name='getCamerasIdSnapshotsTimestampJsonOutput' />
    </operation>
    <operation name='getModelsJson'>
      <documentation>returns set of support supported camera vendors</documentation>
      <input message='tns:getModelsJsonRequestMessage' name='getModelsJsonInput' />
      <output message='tns:getModelsJsonResponseMessage' name='getModelsJsonOutput' />
    </operation>
    <operation name='getModelsVendorJson'>
      <documentation>returns set of known models for a supported camera vendor</documentation>
      <input message='tns:getModelsVendorJsonRequestMessage' name='getModelsVendorJsonInput' />
      <output message='tns:getModelsVendorJsonResponseMessage' name='getModelsVendorJsonOutput' />
    </operation>
    <operation name='getModelsVendorModelJson'>
      <documentation>returns data for a particular camera model</documentation>
      <input message='tns:getModelsVendorModelJsonRequestMessage' name='getModelsVendorModelJsonInput' />
      <output message='tns:getModelsVendorModelJsonResponseMessage' name='getModelsVendorModelJsonOutput' />
    </operation>
    <operation name='getUsersIdJson'>
      <documentation>returns available information for the user</documentation>
      <input message='tns:getUsersIdJsonRequestMessage' name='getUsersIdJsonInput' />
      <output message='tns:getUsersIdJsonResponseMessage' name='getUsersIdJsonOutput' />
    </operation>
    <operation name='getUsersIdCamerasJson'>
      <documentation>returns the set of cameras owned by a particular user</documentation>
      <input message='tns:getUsersIdCamerasJsonRequestMessage' name='getUsersIdCamerasJsonInput' />
      <output message='tns:getUsersIdCamerasJsonResponseMessage' name='getUsersIdCamerasJsonOutput' />
    </operation>
    <operation name='getUsersIdRightsJson'>
      <documentation>returns the set of camera and other rights you have granted and have been granted COMING SOON</documentation>
      <input message='tns:getUsersIdRightsJsonRequestMessage' name='getUsersIdRightsJsonInput' />
      <output message='tns:getUsersIdRightsJsonResponseMessage' name='getUsersIdRightsJsonOutput' />
    </operation>
    <operation name='getVendorsJson'>
      <documentation>returns all known IP hardware vendors</documentation>
      <input message='tns:getVendorsJsonRequestMessage' name='getVendorsJsonInput' />
      <output message='tns:getVendorsJsonResponseMessage' name='getVendorsJsonOutput' />
    </operation>
    <operation name='getVendorsMacJson'>
      <documentation>returns all known IP hardware vendors filtered by MAC prefix</documentation>
      <input message='tns:getVendorsMacJsonRequestMessage' name='getVendorsMacJsonInput' />
      <output message='tns:getVendorsMacJsonResponseMessage' name='getVendorsMacJsonOutput' />
    </operation>
    <operation name='postCamerasJson'>
      <documentation></documentation>
      <input message='tns:postCamerasJsonRequestMessage' name='postCamerasJsonInput' />
      <output message='tns:postCamerasJsonResponseMessage' name='postCamerasJsonOutput' />
    </operation>
    <operation name='postCamerasIdSnapshotsJson'>
      <documentation>fetches a snapshot from the camera and stores it using the current timestamp COMING SOON</documentation>
      <input message='tns:postCamerasIdSnapshotsJsonRequestMessage' name='postCamerasIdSnapshotsJsonInput' />
      <output message='tns:postCamerasIdSnapshotsJsonResponseMessage' name='postCamerasIdSnapshotsJsonOutput' />
    </operation>
    <operation name='postUsersJson'>
      <documentation>starts the new user signup process</documentation>
      <input message='tns:postUsersJsonRequestMessage' name='postUsersJsonInput' />
      <output message='tns:postUsersJsonResponseMessage' name='postUsersJsonOutput' />
    </operation>
    <operation name='putCamerasIdSnapshotsTimestampJson'>
      <documentation>stores the supplied snapshot image data for the given timestamp COMING SOON</documentation>
      <input message='tns:putCamerasIdSnapshotsTimestampJsonRequestMessage' name='putCamerasIdSnapshotsTimestampJsonInput' />
      <output message='tns:putCamerasIdSnapshotsTimestampJsonResponseMessage' name='putCamerasIdSnapshotsTimestampJsonOutput' />
    </operation>
  </portType>
  <binding name='evercamIoBinding' type='tns:evercamIoPortType'>
    <operation name='deleteCamerasIdJson'>
      <soap12:operation soapAction='http://deleteCamerasIdJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteCamerasIdSnapshotsTimestampJson'>
      <soap12:operation soapAction='http://deleteCamerasIdSnapshotsTimestampJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteUsersIdJson'>
      <soap12:operation soapAction='http://deleteUsersIdJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCamerasIdJson'>
      <soap12:operation soapAction='http://getCamerasIdJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCamerasIdSnapshotsJson'>
      <soap12:operation soapAction='http://getCamerasIdSnapshotsJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCamerasIdSnapshotsTimestampJson'>
      <soap12:operation soapAction='http://getCamerasIdSnapshotsTimestampJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getModelsJson'>
      <soap12:operation soapAction='http://getModelsJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getModelsVendorJson'>
      <soap12:operation soapAction='http://getModelsVendorJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getModelsVendorModelJson'>
      <soap12:operation soapAction='http://getModelsVendorModelJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUsersIdJson'>
      <soap12:operation soapAction='http://getUsersIdJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUsersIdCamerasJson'>
      <soap12:operation soapAction='http://getUsersIdCamerasJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUsersIdRightsJson'>
      <soap12:operation soapAction='http://getUsersIdRightsJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVendorsJson'>
      <soap12:operation soapAction='http://getVendorsJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVendorsMacJson'>
      <soap12:operation soapAction='http://getVendorsMacJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postCamerasJson'>
      <soap12:operation soapAction='http://postCamerasJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postCamerasIdSnapshotsJson'>
      <soap12:operation soapAction='http://postCamerasIdSnapshotsJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postUsersJson'>
      <soap12:operation soapAction='http://postUsersJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='putCamerasIdSnapshotsTimestampJson'>
      <soap12:operation soapAction='http://putCamerasIdSnapshotsTimestampJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='evercamIo'>
    <documentation>a Developer Platform for IP Cameras which includes a universal API various hosted services and a marketplace for apps</documentation>
    <port name='evercamIoPort' binding='tns:evercamIoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://evercamIo' />
    </port>
  </service>
</definitions>