workspace/datasets/mashape_dataset/facerecognition.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/faceRecognition/' name='faceRecognition' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/faceRecognition/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/faceRecognition/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/faceRecognition/'>
      <xsd:element name='createAlbumResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='msg' type='xsd:string' minOccurs='0' />
            <xsd:element name='albumkey' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='confidence' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='mouth_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='mouth_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='tid' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='prediction' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='gender' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rebuildAlbumParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='album' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='albumkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rebuildAlbumResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='size' type='xsd:int' minOccurs='0' />
            <xsd:element name='album' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recognizeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='confidence' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='mouth_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='mouth_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='tid' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='prediction' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='gender' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trainAlbumResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='album' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='image_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='entryid' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewAlbumParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='album' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='albumkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewAlbumResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='album' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='image_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='entryid' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewEntryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='album' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='albumkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entryid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewEntryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='album' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='image_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='entryid' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createAlbumRequestMessage' />
  <message name='createAlbumResponseMessage'>
    <part name='response' element='tns:createAlbumResponse' />
  </message>
  <message name='detectRequestMessage' />
  <message name='detectResponseMessage'>
    <part name='response' element='tns:detectResponse' />
  </message>
  <message name='rebuildAlbumRequestMessage'>
    <part name='parameters' element='tns:rebuildAlbumParameters' />
  </message>
  <message name='rebuildAlbumResponseMessage'>
    <part name='response' element='tns:rebuildAlbumResponse' />
  </message>
  <message name='recognizeRequestMessage' />
  <message name='recognizeResponseMessage'>
    <part name='response' element='tns:recognizeResponse' />
  </message>
  <message name='trainAlbumRequestMessage' />
  <message name='trainAlbumResponseMessage'>
    <part name='response' element='tns:trainAlbumResponse' />
  </message>
  <message name='viewAlbumRequestMessage'>
    <part name='parameters' element='tns:viewAlbumParameters' />
  </message>
  <message name='viewAlbumResponseMessage'>
    <part name='response' element='tns:viewAlbumResponse' />
  </message>
  <message name='viewEntryRequestMessage'>
    <part name='parameters' element='tns:viewEntryParameters' />
  </message>
  <message name='viewEntryResponseMessage'>
    <part name='response' element='tns:viewEntryResponse' />
  </message>
  <portType name='faceRecognitionPortType'>
    <operation name='createAlbum'>
      <documentation>create a new photo album be sure to save your albumkey</documentation>
      <input message='tns:createAlbumRequestMessage' name='createAlbumInput' />
      <output message='tns:createAlbumResponseMessage' name='createAlbumOutput' />
    </operation>
    <operation name='detect'>
      <documentation>detect faces in an image as well as extract facial features eyes nose mouth</documentation>
      <input message='tns:detectRequestMessage' name='detectInput' />
      <output message='tns:detectResponseMessage' name='detectOutput' />
    </operation>
    <operation name='rebuildAlbum'>
      <documentation>manually rebuild an album after adding training examples</documentation>
      <input message='tns:rebuildAlbumRequestMessage' name='rebuildAlbumInput' />
      <output message='tns:rebuildAlbumResponseMessage' name='rebuildAlbumOutput' />
    </operation>
    <operation name='recognize'>
      <documentation>after creating training and rebuilding an album see above you ll be able to recognize people in that album</documentation>
      <input message='tns:recognizeRequestMessage' name='recognizeInput' />
      <output message='tns:recognizeResponseMessage' name='recognizeOutput' />
    </operation>
    <operation name='trainAlbum'>
      <documentation>add an image and entryid to an album</documentation>
      <input message='tns:trainAlbumRequestMessage' name='trainAlbumInput' />
      <output message='tns:trainAlbumResponseMessage' name='trainAlbumOutput' />
    </operation>
    <operation name='viewAlbum'>
      <documentation>view one of your albums with a visual summary</documentation>
      <input message='tns:viewAlbumRequestMessage' name='viewAlbumInput' />
      <output message='tns:viewAlbumResponseMessage' name='viewAlbumOutput' />
    </operation>
    <operation name='viewEntry'>
      <documentation>view an entry in an album telling you how many training images it has</documentation>
      <input message='tns:viewEntryRequestMessage' name='viewEntryInput' />
      <output message='tns:viewEntryResponseMessage' name='viewEntryOutput' />
    </operation>
  </portType>
  <binding name='faceRecognitionBinding' type='tns:faceRecognitionPortType'>
    <operation name='createAlbum'>
      <soap12:operation soapAction='http://createAlbum' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detect'>
      <soap12:operation soapAction='http://detect' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='rebuildAlbum'>
      <soap12:operation soapAction='http://rebuildAlbum' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recognize'>
      <soap12:operation soapAction='http://recognize' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trainAlbum'>
      <soap12:operation soapAction='http://trainAlbum' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewAlbum'>
      <soap12:operation soapAction='http://viewAlbum' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewEntry'>
      <soap12:operation soapAction='http://viewEntry' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='faceRecognition'>
    <documentation>stephen here from Lambda Labs For sample code and a graphical demo check out http api lambdal com docs Our API provides face recognition facial detection eye position nose position mouth position and gender classification If you have any questions ask Just send an email to s lambdal com Happy Hacking Stephen</documentation>
    <port name='faceRecognitionPort' binding='tns:faceRecognitionBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://faceRecognition' />
    </port>
  </service>
</definitions>