workspace/datasets/mashape_dataset/facerect.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/facerect/' name='facerect' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/facerect/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/facerect/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/facerect/'>
      <xsd:element name='processImageFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='image' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='faces' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='features' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='mouth' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eyes' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='orientation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='x' type='xsd:int' minOccurs='0' />
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='y' type='xsd:int' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='processImageUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='features' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='processImageUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='image' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='faces' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='features' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='mouth' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eyes' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='orientation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='x' type='xsd:int' minOccurs='0' />
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='y' type='xsd:int' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='processImageFileRequestMessage' />
  <message name='processImageFileResponseMessage'>
    <part name='response' element='tns:processImageFileResponse' />
  </message>
  <message name='processImageUrlRequestMessage'>
    <part name='parameters' element='tns:processImageUrlParameters' />
  </message>
  <message name='processImageUrlResponseMessage'>
    <part name='response' element='tns:processImageUrlResponse' />
  </message>
  <portType name='facerectPortType'>
    <operation name='processImageFile'>
      <documentation>returns a JSON object that contains detected faces for the uploaded image visual demo http apicloud me apis facerect demo</documentation>
      <input message='tns:processImageFileRequestMessage' name='processImageFileInput' />
      <output message='tns:processImageFileResponseMessage' name='processImageFileOutput' />
    </operation>
    <operation name='processImageUrl'>
      <documentation>returns a JSON object that contains detected faces for the image specified by URL visual demo http apicloud me apis facerect demo</documentation>
      <input message='tns:processImageUrlRequestMessage' name='processImageUrlInput' />
      <output message='tns:processImageUrlResponseMessage' name='processImageUrlOutput' />
    </operation>
  </portType>
  <binding name='facerectBinding' type='tns:facerectPortType'>
    <operation name='processImageFile'>
      <soap12:operation soapAction='http://processImageFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='processImageUrl'>
      <soap12:operation soapAction='http://processImageUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='facerect'>
    <documentation>faceRect is a powerful and free API for face detection It finds faces both frontal and profile on the image specified by URL or uploaded as a file and is able to find multiple faces on a single photo producing JSON output with a bounding box for each face found Check out visual demo here http apicloud me apis facerect demo Note that additionally FaceRect can find face features for each detected face eyes nose and mouth For more precise face feature detection please see our FaceMark API https www mashape com apicloud facemark</documentation>
    <port name='facerectPort' binding='tns:facerectBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://facerect' />
    </port>
  </service>
</definitions>