workspace/datasets/mashape_dataset/fantasydata.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/fantasydata/' name='fantasydata' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/fantasydata/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/fantasydata/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/fantasydata/'>
      <xsd:element name='boxScoreParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hometeam' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='week' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='boxScoreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='byesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='byesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='currentSeasonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='currentSeasonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='currentWeekParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='currentWeekResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fantasyDefenseByGameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='week' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fantasyDefenseByGameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fantasyDefenseBySeasonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fantasyDefenseBySeasonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='freeAgentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='freeAgentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gameInProgressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gameInProgressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gameLeagueLeadersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='column' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='position' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='week' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gameLeagueLeadersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='injuriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='week' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='injuriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='injuriesByTeamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='week' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='injuriesByTeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lastCompletedSeasonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lastCompletedSeasonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lastCompletedWeekParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lastCompletedWeekResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveBoxScoreParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveBoxScoreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newsByPlayerIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='playerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newsByPlayerIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newsByTeamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newsByTeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerGameStatsByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='playerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='week' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerGameStatsByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerGameStatsByTeamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='week' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerGameStatsByTeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerRostersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='playerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerRostersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerSeasonByPlayerIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='acesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='playerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerSeasonByPlayerIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerStatsBySeasonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerStatsBySeasonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playersRostersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playersRostersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='schedulesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='schedulesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='scoresParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='scoresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='scoresByWeekParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='week' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='scoresByWeekResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='seasonLeagueLeadersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='column' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='position' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='seasonLeagueLeadersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='standingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='standingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='teamGameStatsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='week' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='teamGameStatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='teamSeasonStatsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='teamSeasonStatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='teamsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='teamsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='upcomingSeasonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='upcomingSeasonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='upcomingWeekParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accesslevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='upcomingWeekResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='boxScoreRequestMessage'>
    <part name='parameters' element='tns:boxScoreParameters' />
  </message>
  <message name='boxScoreResponseMessage'>
    <part name='response' element='tns:boxScoreResponse' />
  </message>
  <message name='byesRequestMessage'>
    <part name='parameters' element='tns:byesParameters' />
  </message>
  <message name='byesResponseMessage'>
    <part name='response' element='tns:byesResponse' />
  </message>
  <message name='currentSeasonRequestMessage'>
    <part name='parameters' element='tns:currentSeasonParameters' />
  </message>
  <message name='currentSeasonResponseMessage'>
    <part name='response' element='tns:currentSeasonResponse' />
  </message>
  <message name='currentWeekRequestMessage'>
    <part name='parameters' element='tns:currentWeekParameters' />
  </message>
  <message name='currentWeekResponseMessage'>
    <part name='response' element='tns:currentWeekResponse' />
  </message>
  <message name='fantasyDefenseByGameRequestMessage'>
    <part name='parameters' element='tns:fantasyDefenseByGameParameters' />
  </message>
  <message name='fantasyDefenseByGameResponseMessage'>
    <part name='response' element='tns:fantasyDefenseByGameResponse' />
  </message>
  <message name='fantasyDefenseBySeasonRequestMessage'>
    <part name='parameters' element='tns:fantasyDefenseBySeasonParameters' />
  </message>
  <message name='fantasyDefenseBySeasonResponseMessage'>
    <part name='response' element='tns:fantasyDefenseBySeasonResponse' />
  </message>
  <message name='freeAgentsRequestMessage'>
    <part name='parameters' element='tns:freeAgentsParameters' />
  </message>
  <message name='freeAgentsResponseMessage'>
    <part name='response' element='tns:freeAgentsResponse' />
  </message>
  <message name='gameInProgressRequestMessage'>
    <part name='parameters' element='tns:gameInProgressParameters' />
  </message>
  <message name='gameInProgressResponseMessage'>
    <part name='response' element='tns:gameInProgressResponse' />
  </message>
  <message name='gameLeagueLeadersRequestMessage'>
    <part name='parameters' element='tns:gameLeagueLeadersParameters' />
  </message>
  <message name='gameLeagueLeadersResponseMessage'>
    <part name='response' element='tns:gameLeagueLeadersResponse' />
  </message>
  <message name='injuriesRequestMessage'>
    <part name='parameters' element='tns:injuriesParameters' />
  </message>
  <message name='injuriesResponseMessage'>
    <part name='response' element='tns:injuriesResponse' />
  </message>
  <message name='injuriesByTeamRequestMessage'>
    <part name='parameters' element='tns:injuriesByTeamParameters' />
  </message>
  <message name='injuriesByTeamResponseMessage'>
    <part name='response' element='tns:injuriesByTeamResponse' />
  </message>
  <message name='lastCompletedSeasonRequestMessage'>
    <part name='parameters' element='tns:lastCompletedSeasonParameters' />
  </message>
  <message name='lastCompletedSeasonResponseMessage'>
    <part name='response' element='tns:lastCompletedSeasonResponse' />
  </message>
  <message name='lastCompletedWeekRequestMessage'>
    <part name='parameters' element='tns:lastCompletedWeekParameters' />
  </message>
  <message name='lastCompletedWeekResponseMessage'>
    <part name='response' element='tns:lastCompletedWeekResponse' />
  </message>
  <message name='liveBoxScoreRequestMessage'>
    <part name='parameters' element='tns:liveBoxScoreParameters' />
  </message>
  <message name='liveBoxScoreResponseMessage'>
    <part name='response' element='tns:liveBoxScoreResponse' />
  </message>
  <message name='newsRequestMessage'>
    <part name='parameters' element='tns:newsParameters' />
  </message>
  <message name='newsResponseMessage'>
    <part name='response' element='tns:newsResponse' />
  </message>
  <message name='newsByPlayerIdRequestMessage'>
    <part name='parameters' element='tns:newsByPlayerIdParameters' />
  </message>
  <message name='newsByPlayerIdResponseMessage'>
    <part name='response' element='tns:newsByPlayerIdResponse' />
  </message>
  <message name='newsByTeamRequestMessage'>
    <part name='parameters' element='tns:newsByTeamParameters' />
  </message>
  <message name='newsByTeamResponseMessage'>
    <part name='response' element='tns:newsByTeamResponse' />
  </message>
  <message name='playerGameStatsByIdRequestMessage'>
    <part name='parameters' element='tns:playerGameStatsByIdParameters' />
  </message>
  <message name='playerGameStatsByIdResponseMessage'>
    <part name='response' element='tns:playerGameStatsByIdResponse' />
  </message>
  <message name='playerGameStatsByTeamRequestMessage'>
    <part name='parameters' element='tns:playerGameStatsByTeamParameters' />
  </message>
  <message name='playerGameStatsByTeamResponseMessage'>
    <part name='response' element='tns:playerGameStatsByTeamResponse' />
  </message>
  <message name='playerRostersRequestMessage'>
    <part name='parameters' element='tns:playerRostersParameters' />
  </message>
  <message name='playerRostersResponseMessage'>
    <part name='response' element='tns:playerRostersResponse' />
  </message>
  <message name='playerSeasonByPlayerIdRequestMessage'>
    <part name='parameters' element='tns:playerSeasonByPlayerIdParameters' />
  </message>
  <message name='playerSeasonByPlayerIdResponseMessage'>
    <part name='response' element='tns:playerSeasonByPlayerIdResponse' />
  </message>
  <message name='playerStatsBySeasonRequestMessage'>
    <part name='parameters' element='tns:playerStatsBySeasonParameters' />
  </message>
  <message name='playerStatsBySeasonResponseMessage'>
    <part name='response' element='tns:playerStatsBySeasonResponse' />
  </message>
  <message name='playersRostersRequestMessage'>
    <part name='parameters' element='tns:playersRostersParameters' />
  </message>
  <message name='playersRostersResponseMessage'>
    <part name='response' element='tns:playersRostersResponse' />
  </message>
  <message name='schedulesRequestMessage'>
    <part name='parameters' element='tns:schedulesParameters' />
  </message>
  <message name='schedulesResponseMessage'>
    <part name='response' element='tns:schedulesResponse' />
  </message>
  <message name='scoresRequestMessage'>
    <part name='parameters' element='tns:scoresParameters' />
  </message>
  <message name='scoresResponseMessage'>
    <part name='response' element='tns:scoresResponse' />
  </message>
  <message name='scoresByWeekRequestMessage'>
    <part name='parameters' element='tns:scoresByWeekParameters' />
  </message>
  <message name='scoresByWeekResponseMessage'>
    <part name='response' element='tns:scoresByWeekResponse' />
  </message>
  <message name='seasonLeagueLeadersRequestMessage'>
    <part name='parameters' element='tns:seasonLeagueLeadersParameters' />
  </message>
  <message name='seasonLeagueLeadersResponseMessage'>
    <part name='response' element='tns:seasonLeagueLeadersResponse' />
  </message>
  <message name='standingsRequestMessage'>
    <part name='parameters' element='tns:standingsParameters' />
  </message>
  <message name='standingsResponseMessage'>
    <part name='response' element='tns:standingsResponse' />
  </message>
  <message name='teamGameStatsRequestMessage'>
    <part name='parameters' element='tns:teamGameStatsParameters' />
  </message>
  <message name='teamGameStatsResponseMessage'>
    <part name='response' element='tns:teamGameStatsResponse' />
  </message>
  <message name='teamSeasonStatsRequestMessage'>
    <part name='parameters' element='tns:teamSeasonStatsParameters' />
  </message>
  <message name='teamSeasonStatsResponseMessage'>
    <part name='response' element='tns:teamSeasonStatsResponse' />
  </message>
  <message name='teamsRequestMessage'>
    <part name='parameters' element='tns:teamsParameters' />
  </message>
  <message name='teamsResponseMessage'>
    <part name='response' element='tns:teamsResponse' />
  </message>
  <message name='upcomingSeasonRequestMessage'>
    <part name='parameters' element='tns:upcomingSeasonParameters' />
  </message>
  <message name='upcomingSeasonResponseMessage'>
    <part name='response' element='tns:upcomingSeasonResponse' />
  </message>
  <message name='upcomingWeekRequestMessage'>
    <part name='parameters' element='tns:upcomingWeekParameters' />
  </message>
  <message name='upcomingWeekResponseMessage'>
    <part name='response' element='tns:upcomingWeekResponse' />
  </message>
  <portType name='fantasydataPortType'>
    <operation name='boxScore'>
      <documentation></documentation>
      <input message='tns:boxScoreRequestMessage' name='boxScoreInput' />
      <output message='tns:boxScoreResponseMessage' name='boxScoreOutput' />
    </operation>
    <operation name='byes'>
      <documentation></documentation>
      <input message='tns:byesRequestMessage' name='byesInput' />
      <output message='tns:byesResponseMessage' name='byesOutput' />
    </operation>
    <operation name='currentSeason'>
      <documentation></documentation>
      <input message='tns:currentSeasonRequestMessage' name='currentSeasonInput' />
      <output message='tns:currentSeasonResponseMessage' name='currentSeasonOutput' />
    </operation>
    <operation name='currentWeek'>
      <documentation></documentation>
      <input message='tns:currentWeekRequestMessage' name='currentWeekInput' />
      <output message='tns:currentWeekResponseMessage' name='currentWeekOutput' />
    </operation>
    <operation name='fantasyDefenseByGame'>
      <documentation></documentation>
      <input message='tns:fantasyDefenseByGameRequestMessage' name='fantasyDefenseByGameInput' />
      <output message='tns:fantasyDefenseByGameResponseMessage' name='fantasyDefenseByGameOutput' />
    </operation>
    <operation name='fantasyDefenseBySeason'>
      <documentation></documentation>
      <input message='tns:fantasyDefenseBySeasonRequestMessage' name='fantasyDefenseBySeasonInput' />
      <output message='tns:fantasyDefenseBySeasonResponseMessage' name='fantasyDefenseBySeasonOutput' />
    </operation>
    <operation name='freeAgents'>
      <documentation></documentation>
      <input message='tns:freeAgentsRequestMessage' name='freeAgentsInput' />
      <output message='tns:freeAgentsResponseMessage' name='freeAgentsOutput' />
    </operation>
    <operation name='gameInProgress'>
      <documentation></documentation>
      <input message='tns:gameInProgressRequestMessage' name='gameInProgressInput' />
      <output message='tns:gameInProgressResponseMessage' name='gameInProgressOutput' />
    </operation>
    <operation name='gameLeagueLeaders'>
      <documentation></documentation>
      <input message='tns:gameLeagueLeadersRequestMessage' name='gameLeagueLeadersInput' />
      <output message='tns:gameLeagueLeadersResponseMessage' name='gameLeagueLeadersOutput' />
    </operation>
    <operation name='injuries'>
      <documentation></documentation>
      <input message='tns:injuriesRequestMessage' name='injuriesInput' />
      <output message='tns:injuriesResponseMessage' name='injuriesOutput' />
    </operation>
    <operation name='injuriesByTeam'>
      <documentation></documentation>
      <input message='tns:injuriesByTeamRequestMessage' name='injuriesByTeamInput' />
      <output message='tns:injuriesByTeamResponseMessage' name='injuriesByTeamOutput' />
    </operation>
    <operation name='lastCompletedSeason'>
      <documentation></documentation>
      <input message='tns:lastCompletedSeasonRequestMessage' name='lastCompletedSeasonInput' />
      <output message='tns:lastCompletedSeasonResponseMessage' name='lastCompletedSeasonOutput' />
    </operation>
    <operation name='lastCompletedWeek'>
      <documentation></documentation>
      <input message='tns:lastCompletedWeekRequestMessage' name='lastCompletedWeekInput' />
      <output message='tns:lastCompletedWeekResponseMessage' name='lastCompletedWeekOutput' />
    </operation>
    <operation name='liveBoxScore'>
      <documentation></documentation>
      <input message='tns:liveBoxScoreRequestMessage' name='liveBoxScoreInput' />
      <output message='tns:liveBoxScoreResponseMessage' name='liveBoxScoreOutput' />
    </operation>
    <operation name='news'>
      <documentation></documentation>
      <input message='tns:newsRequestMessage' name='newsInput' />
      <output message='tns:newsResponseMessage' name='newsOutput' />
    </operation>
    <operation name='newsByPlayerId'>
      <documentation></documentation>
      <input message='tns:newsByPlayerIdRequestMessage' name='newsByPlayerIdInput' />
      <output message='tns:newsByPlayerIdResponseMessage' name='newsByPlayerIdOutput' />
    </operation>
    <operation name='newsByTeam'>
      <documentation></documentation>
      <input message='tns:newsByTeamRequestMessage' name='newsByTeamInput' />
      <output message='tns:newsByTeamResponseMessage' name='newsByTeamOutput' />
    </operation>
    <operation name='playerGameStatsById'>
      <documentation></documentation>
      <input message='tns:playerGameStatsByIdRequestMessage' name='playerGameStatsByIdInput' />
      <output message='tns:playerGameStatsByIdResponseMessage' name='playerGameStatsByIdOutput' />
    </operation>
    <operation name='playerGameStatsByTeam'>
      <documentation></documentation>
      <input message='tns:playerGameStatsByTeamRequestMessage' name='playerGameStatsByTeamInput' />
      <output message='tns:playerGameStatsByTeamResponseMessage' name='playerGameStatsByTeamOutput' />
    </operation>
    <operation name='playerRosters'>
      <documentation></documentation>
      <input message='tns:playerRostersRequestMessage' name='playerRostersInput' />
      <output message='tns:playerRostersResponseMessage' name='playerRostersOutput' />
    </operation>
    <operation name='playerSeasonByPlayerId'>
      <documentation></documentation>
      <input message='tns:playerSeasonByPlayerIdRequestMessage' name='playerSeasonByPlayerIdInput' />
      <output message='tns:playerSeasonByPlayerIdResponseMessage' name='playerSeasonByPlayerIdOutput' />
    </operation>
    <operation name='playerStatsBySeason'>
      <documentation></documentation>
      <input message='tns:playerStatsBySeasonRequestMessage' name='playerStatsBySeasonInput' />
      <output message='tns:playerStatsBySeasonResponseMessage' name='playerStatsBySeasonOutput' />
    </operation>
    <operation name='playersRosters'>
      <documentation></documentation>
      <input message='tns:playersRostersRequestMessage' name='playersRostersInput' />
      <output message='tns:playersRostersResponseMessage' name='playersRostersOutput' />
    </operation>
    <operation name='schedules'>
      <documentation></documentation>
      <input message='tns:schedulesRequestMessage' name='schedulesInput' />
      <output message='tns:schedulesResponseMessage' name='schedulesOutput' />
    </operation>
    <operation name='scores'>
      <documentation></documentation>
      <input message='tns:scoresRequestMessage' name='scoresInput' />
      <output message='tns:scoresResponseMessage' name='scoresOutput' />
    </operation>
    <operation name='scoresByWeek'>
      <documentation></documentation>
      <input message='tns:scoresByWeekRequestMessage' name='scoresByWeekInput' />
      <output message='tns:scoresByWeekResponseMessage' name='scoresByWeekOutput' />
    </operation>
    <operation name='seasonLeagueLeaders'>
      <documentation></documentation>
      <input message='tns:seasonLeagueLeadersRequestMessage' name='seasonLeagueLeadersInput' />
      <output message='tns:seasonLeagueLeadersResponseMessage' name='seasonLeagueLeadersOutput' />
    </operation>
    <operation name='standings'>
      <documentation></documentation>
      <input message='tns:standingsRequestMessage' name='standingsInput' />
      <output message='tns:standingsResponseMessage' name='standingsOutput' />
    </operation>
    <operation name='teamGameStats'>
      <documentation></documentation>
      <input message='tns:teamGameStatsRequestMessage' name='teamGameStatsInput' />
      <output message='tns:teamGameStatsResponseMessage' name='teamGameStatsOutput' />
    </operation>
    <operation name='teamSeasonStats'>
      <documentation></documentation>
      <input message='tns:teamSeasonStatsRequestMessage' name='teamSeasonStatsInput' />
      <output message='tns:teamSeasonStatsResponseMessage' name='teamSeasonStatsOutput' />
    </operation>
    <operation name='teams'>
      <documentation></documentation>
      <input message='tns:teamsRequestMessage' name='teamsInput' />
      <output message='tns:teamsResponseMessage' name='teamsOutput' />
    </operation>
    <operation name='upcomingSeason'>
      <documentation></documentation>
      <input message='tns:upcomingSeasonRequestMessage' name='upcomingSeasonInput' />
      <output message='tns:upcomingSeasonResponseMessage' name='upcomingSeasonOutput' />
    </operation>
    <operation name='upcomingWeek'>
      <documentation></documentation>
      <input message='tns:upcomingWeekRequestMessage' name='upcomingWeekInput' />
      <output message='tns:upcomingWeekResponseMessage' name='upcomingWeekOutput' />
    </operation>
  </portType>
  <binding name='fantasydataBinding' type='tns:fantasydataPortType'>
    <operation name='boxScore'>
      <soap12:operation soapAction='http://boxScore' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='byes'>
      <soap12:operation soapAction='http://byes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='currentSeason'>
      <soap12:operation soapAction='http://currentSeason' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='currentWeek'>
      <soap12:operation soapAction='http://currentWeek' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fantasyDefenseByGame'>
      <soap12:operation soapAction='http://fantasyDefenseByGame' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fantasyDefenseBySeason'>
      <soap12:operation soapAction='http://fantasyDefenseBySeason' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='freeAgents'>
      <soap12:operation soapAction='http://freeAgents' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gameInProgress'>
      <soap12:operation soapAction='http://gameInProgress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gameLeagueLeaders'>
      <soap12:operation soapAction='http://gameLeagueLeaders' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='injuries'>
      <soap12:operation soapAction='http://injuries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='injuriesByTeam'>
      <soap12:operation soapAction='http://injuriesByTeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lastCompletedSeason'>
      <soap12:operation soapAction='http://lastCompletedSeason' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lastCompletedWeek'>
      <soap12:operation soapAction='http://lastCompletedWeek' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveBoxScore'>
      <soap12:operation soapAction='http://liveBoxScore' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='news'>
      <soap12:operation soapAction='http://news' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newsByPlayerId'>
      <soap12:operation soapAction='http://newsByPlayerId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newsByTeam'>
      <soap12:operation soapAction='http://newsByTeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='playerGameStatsById'>
      <soap12:operation soapAction='http://playerGameStatsById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='playerGameStatsByTeam'>
      <soap12:operation soapAction='http://playerGameStatsByTeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='playerRosters'>
      <soap12:operation soapAction='http://playerRosters' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='playerSeasonByPlayerId'>
      <soap12:operation soapAction='http://playerSeasonByPlayerId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='playerStatsBySeason'>
      <soap12:operation soapAction='http://playerStatsBySeason' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='playersRosters'>
      <soap12:operation soapAction='http://playersRosters' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='schedules'>
      <soap12:operation soapAction='http://schedules' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='scores'>
      <soap12:operation soapAction='http://scores' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='scoresByWeek'>
      <soap12:operation soapAction='http://scoresByWeek' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='seasonLeagueLeaders'>
      <soap12:operation soapAction='http://seasonLeagueLeaders' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='standings'>
      <soap12:operation soapAction='http://standings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='teamGameStats'>
      <soap12:operation soapAction='http://teamGameStats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='teamSeasonStats'>
      <soap12:operation soapAction='http://teamSeasonStats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='teams'>
      <soap12:operation soapAction='http://teams' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='upcomingSeason'>
      <soap12:operation soapAction='http://upcomingSeason' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='upcomingWeek'>
      <soap12:operation soapAction='http://upcomingWeek' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='fantasydata'>
    <documentation>fantasyData com provides the most extensive accurate and easily consumable NFL data in the world Using our advanced data feeds you ll be able to build the fantasy football application of your dreams</documentation>
    <port name='fantasydataPort' binding='tns:fantasydataBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://fantasydata' />
    </port>
  </service>
</definitions>