workspace/datasets/mashape_dataset/faqsonexporting.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/faqsOnExporting/' name='faqsOnExporting' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/faqsOnExporting/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/faqsOnExporting/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/faqsOnExporting/'>
      <xsd:element name='apiTradeGovVItaFaqsSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='apiTradeGovVItaFaqsSearchRequestMessage' />
  <message name='apiTradeGovVItaFaqsSearchResponseMessage'>
    <part name='response' element='tns:apiTradeGovVItaFaqsSearchResponse' />
  </message>
  <portType name='faqsOnExportingPortType'>
    <operation name='apiTradeGovVItaFaqsSearch'>
      <input message='tns:apiTradeGovVItaFaqsSearchRequestMessage' name='apiTradeGovVItaFaqsSearchInput' />
      <output message='tns:apiTradeGovVItaFaqsSearchResponseMessage' name='apiTradeGovVItaFaqsSearchOutput' />
    </operation>
  </portType>
  <binding name='faqsOnExportingBinding' type='tns:faqsOnExportingPortType'>
    <operation name='apiTradeGovVItaFaqsSearch'>
      <soap12:operation soapAction='http://apiTradeGovVItaFaqsSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='faqsOnExporting'>
    <documentation>the Frequently Asked Questions FAQs API includes more than commonly asked questions about exporting The answers provided are from government experts that specialize in unique aspects of trade</documentation>
    <port name='faqsOnExportingPort' binding='tns:faqsOnExportingBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://faqsOnExporting' />
    </port>
  </service>
</definitions>