workspace/datasets/mashape_dataset/feednu.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/feedNu/' name='feedNu' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/feedNu/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/feedNu/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/feedNu/'>
      <xsd:element name='createandroidappParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='packagename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createandroidappResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='payload' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='betaVersion' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='releaseVersion' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='blobKey' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='versionName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='buildNumber' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='androidMeta' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='value' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='packageName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='buildNumber' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteandroidappParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='packagename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteandroidappResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='payload' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateandroidappParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='packagename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateandroidappResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getandroidappParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='packagename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getandroidappResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='payload' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='betaVersion' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='releaseVersion' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='blobKey' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='versionName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='buildNumber' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='androidMeta' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='value' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='packageName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='buildNumber' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getandroidappsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='payload' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='betaVersion' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='releaseVersion' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='androidMeta' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='packageName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='buildNumber' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getavailablemetasettingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='payload' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getfilecontentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getfilecontentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getfileinfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getfileinfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='payload' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='fileName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='md5Hash' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='creationDate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='keyString' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='contentType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='payload' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='forename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='surname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nickname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='authorities' type='xsd:int' minOccurs='0' />
                  <xsd:element name='enabled' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='token' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishbetaParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='packagename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishbetaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='payload' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pushandroidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='packagename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pushandroidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setbuildnumberParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='buildnumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='packagename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setbuildnumberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='payload' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='betaVersion' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='releaseVersion' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='blobKey' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='versionName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='buildNumber' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='androidMeta' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='value' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='packageName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='buildNumber' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateandroidmetaParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='packagename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateandroidmetaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='payload' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='strings' type='xsd:string' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadimageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='packagename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadimageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='payload' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='fileName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='md5Hash' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='creationDate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='keyString' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='contentType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createandroidappRequestMessage'>
    <part name='parameters' element='tns:createandroidappParameters' />
  </message>
  <message name='createandroidappResponseMessage'>
    <part name='response' element='tns:createandroidappResponse' />
  </message>
  <message name='deleteandroidappRequestMessage'>
    <part name='parameters' element='tns:deleteandroidappParameters' />
  </message>
  <message name='deleteandroidappResponseMessage'>
    <part name='response' element='tns:deleteandroidappResponse' />
  </message>
  <message name='generateandroidappRequestMessage'>
    <part name='parameters' element='tns:generateandroidappParameters' />
  </message>
  <message name='generateandroidappResponseMessage'>
    <part name='response' element='tns:generateandroidappResponse' />
  </message>
  <message name='getandroidappRequestMessage'>
    <part name='parameters' element='tns:getandroidappParameters' />
  </message>
  <message name='getandroidappResponseMessage'>
    <part name='response' element='tns:getandroidappResponse' />
  </message>
  <message name='getandroidappsRequestMessage' />
  <message name='getandroidappsResponseMessage'>
    <part name='response' element='tns:getandroidappsResponse' />
  </message>
  <message name='getavailablemetasettingsRequestMessage' />
  <message name='getavailablemetasettingsResponseMessage'>
    <part name='response' element='tns:getavailablemetasettingsResponse' />
  </message>
  <message name='getfilecontentRequestMessage'>
    <part name='parameters' element='tns:getfilecontentParameters' />
  </message>
  <message name='getfilecontentResponseMessage'>
    <part name='response' element='tns:getfilecontentResponse' />
  </message>
  <message name='getfileinfoRequestMessage'>
    <part name='parameters' element='tns:getfileinfoParameters' />
  </message>
  <message name='getfileinfoResponseMessage'>
    <part name='response' element='tns:getfileinfoResponse' />
  </message>
  <message name='getuserRequestMessage' />
  <message name='getuserResponseMessage'>
    <part name='response' element='tns:getuserResponse' />
  </message>
  <message name='publishbetaRequestMessage'>
    <part name='parameters' element='tns:publishbetaParameters' />
  </message>
  <message name='publishbetaResponseMessage'>
    <part name='response' element='tns:publishbetaResponse' />
  </message>
  <message name='pushandroidRequestMessage'>
    <part name='parameters' element='tns:pushandroidParameters' />
  </message>
  <message name='pushandroidResponseMessage'>
    <part name='response' element='tns:pushandroidResponse' />
  </message>
  <message name='setbuildnumberRequestMessage'>
    <part name='parameters' element='tns:setbuildnumberParameters' />
  </message>
  <message name='setbuildnumberResponseMessage'>
    <part name='response' element='tns:setbuildnumberResponse' />
  </message>
  <message name='updateandroidmetaRequestMessage'>
    <part name='parameters' element='tns:updateandroidmetaParameters' />
  </message>
  <message name='updateandroidmetaResponseMessage'>
    <part name='response' element='tns:updateandroidmetaResponse' />
  </message>
  <message name='uploadimageRequestMessage'>
    <part name='parameters' element='tns:uploadimageParameters' />
  </message>
  <message name='uploadimageResponseMessage'>
    <part name='response' element='tns:uploadimageResponse' />
  </message>
  <portType name='feedNuPortType'>
    <operation name='createandroidapp'>
      <documentation></documentation>
      <input message='tns:createandroidappRequestMessage' name='createandroidappInput' />
      <output message='tns:createandroidappResponseMessage' name='createandroidappOutput' />
    </operation>
    <operation name='deleteandroidapp'>
      <documentation></documentation>
      <input message='tns:deleteandroidappRequestMessage' name='deleteandroidappInput' />
      <output message='tns:deleteandroidappResponseMessage' name='deleteandroidappOutput' />
    </operation>
    <operation name='generateandroidapp'>
      <documentation></documentation>
      <input message='tns:generateandroidappRequestMessage' name='generateandroidappInput' />
      <output message='tns:generateandroidappResponseMessage' name='generateandroidappOutput' />
    </operation>
    <operation name='getandroidapp'>
      <documentation></documentation>
      <input message='tns:getandroidappRequestMessage' name='getandroidappInput' />
      <output message='tns:getandroidappResponseMessage' name='getandroidappOutput' />
    </operation>
    <operation name='getandroidapps'>
      <documentation>get a list of all your android apps</documentation>
      <input message='tns:getandroidappsRequestMessage' name='getandroidappsInput' />
      <output message='tns:getandroidappsResponseMessage' name='getandroidappsOutput' />
    </operation>
    <operation name='getavailablemetasettings'>
      <documentation></documentation>
      <input message='tns:getavailablemetasettingsRequestMessage' name='getavailablemetasettingsInput' />
      <output message='tns:getavailablemetasettingsResponseMessage' name='getavailablemetasettingsOutput' />
    </operation>
    <operation name='getfilecontent'>
      <documentation></documentation>
      <input message='tns:getfilecontentRequestMessage' name='getfilecontentInput' />
      <output message='tns:getfilecontentResponseMessage' name='getfilecontentOutput' />
    </operation>
    <operation name='getfileinfo'>
      <documentation></documentation>
      <input message='tns:getfileinfoRequestMessage' name='getfileinfoInput' />
      <output message='tns:getfileinfoResponseMessage' name='getfileinfoOutput' />
    </operation>
    <operation name='getuser'>
      <documentation></documentation>
      <input message='tns:getuserRequestMessage' name='getuserInput' />
      <output message='tns:getuserResponseMessage' name='getuserOutput' />
    </operation>
    <operation name='publishbeta'>
      <documentation></documentation>
      <input message='tns:publishbetaRequestMessage' name='publishbetaInput' />
      <output message='tns:publishbetaResponseMessage' name='publishbetaOutput' />
    </operation>
    <operation name='pushandroid'>
      <documentation></documentation>
      <input message='tns:pushandroidRequestMessage' name='pushandroidInput' />
      <output message='tns:pushandroidResponseMessage' name='pushandroidOutput' />
    </operation>
    <operation name='setbuildnumber'>
      <documentation></documentation>
      <input message='tns:setbuildnumberRequestMessage' name='setbuildnumberInput' />
      <output message='tns:setbuildnumberResponseMessage' name='setbuildnumberOutput' />
    </operation>
    <operation name='updateandroidmeta'>
      <documentation></documentation>
      <input message='tns:updateandroidmetaRequestMessage' name='updateandroidmetaInput' />
      <output message='tns:updateandroidmetaResponseMessage' name='updateandroidmetaOutput' />
    </operation>
    <operation name='uploadimage'>
      <documentation></documentation>
      <input message='tns:uploadimageRequestMessage' name='uploadimageInput' />
      <output message='tns:uploadimageResponseMessage' name='uploadimageOutput' />
    </operation>
  </portType>
  <binding name='feedNuBinding' type='tns:feedNuPortType'>
    <operation name='createandroidapp'>
      <soap12:operation soapAction='http://createandroidapp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteandroidapp'>
      <soap12:operation soapAction='http://deleteandroidapp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generateandroidapp'>
      <soap12:operation soapAction='http://generateandroidapp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getandroidapp'>
      <soap12:operation soapAction='http://getandroidapp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getandroidapps'>
      <soap12:operation soapAction='http://getandroidapps' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getavailablemetasettings'>
      <soap12:operation soapAction='http://getavailablemetasettings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getfilecontent'>
      <soap12:operation soapAction='http://getfilecontent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getfileinfo'>
      <soap12:operation soapAction='http://getfileinfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuser'>
      <soap12:operation soapAction='http://getuser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publishbeta'>
      <soap12:operation soapAction='http://publishbeta' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='pushandroid'>
      <soap12:operation soapAction='http://pushandroid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setbuildnumber'>
      <soap12:operation soapAction='http://setbuildnumber' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateandroidmeta'>
      <soap12:operation soapAction='http://updateandroidmeta' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='uploadimage'>
      <soap12:operation soapAction='http://uploadimage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='feedNu'>
    <documentation>feed nu API is an api that generates an android application out from a RSS feed Enter your own strings colors images and settings and then generate your own custom android application To get an api token for authentication you need to login at http api feed nu and login with your gmail account then copy your token and use it with this API This is a verry early beta version Please contact me if you have any troubles for more information visit http feed nu</documentation>
    <port name='feedNuPort' binding='tns:feedNuBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://feedNu' />
    </port>
  </service>
</definitions>