workspace/datasets/mashape_dataset/feedr.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/feedr/' name='feedr' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/feedr/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/feedr/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/feedr/'>
      <xsd:element name='addParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='copyright' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='docs' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='imageurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastbuilddate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='link' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='managingeditor' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pubdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='rating' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='skipdays' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='skiphours' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ttl' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='webmaster' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seed' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_days' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_build_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_counter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pub_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='docs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='managing_editor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_hours' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_frequence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='web_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='p' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='ps' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='seeds' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_days' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_build_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_counter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pub_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='docs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='managing_editor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_hours' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_frequence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='web_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='changeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='copyright' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cronjobfrequence' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='docs' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='imageurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastbuilddate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='managingeditor' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pubdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='rating' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='skipdays' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='skiphours' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ttl' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='webmaster' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='changeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seed' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_days' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_build_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_counter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pub_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='docs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='managing_editor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_hours' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_frequence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='web_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seed' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_days' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_build_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_counter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pub_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='docs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='managing_editor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_hours' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_frequence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='web_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seed' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_days' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_build_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_counter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pub_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='docs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='managing_editor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_hours' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_frequence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='web_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='digestParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='dir' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='link' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='order' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='p' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='ps' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='smr' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='digestResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entries' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='killParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='killResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seed' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_days' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_build_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_counter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pub_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='docs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='managing_editor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_hours' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_frequence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='web_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='myIpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherDomainsAddParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherDomainsAddResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherDomainsAllResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherDomainsChangeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='host' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherDomainsChangeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherDomainsKillParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherDomainsKillResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherSeedsAddParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='link' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherSeedsAddResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherSeedsAllParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='p' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='ps' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherSeedsAllResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='seeds' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_days' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_build_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_counter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pub_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='docs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='managing_editor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_hours' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_frequence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='web_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherSeedsChangeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherSeedsChangeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherSeedsKillParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publisherSeedsKillResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='readParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='p' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='ps' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='readResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='seeds' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_days' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_build_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_counter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pub_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='docs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='managing_editor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_hours' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_frequence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='web_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='readOneParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='readOneResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seed' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_days' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_build_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_counter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pub_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='docs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='managing_editor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_hours' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_frequence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='web_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscriberFeedEntriesSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='dir' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='link' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='order' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='p' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='ps' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='smr' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='term' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscriberFeedEntriesSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entries' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscriberFeedEntryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscriberFeedEntryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='feed_entry' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='guid' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='published_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='seed_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscriberSeedFixParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscriberSeedFixResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscriberSeedsAllParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='p' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='ps' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscriberSeedsAllResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='seeds' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_days' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_build_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_counter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pub_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='docs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='managing_editor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_hours' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_frequence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='web_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscriberSeedsUnsubscribeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscriberSeedsUnsubscribeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seed' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_days' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_build_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_counter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ttl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pub_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='docs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='managing_editor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='skip_hours' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cron_job_frequence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='web_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addRequestMessage'>
    <part name='parameters' element='tns:addParameters' />
  </message>
  <message name='addResponseMessage'>
    <part name='response' element='tns:addResponse' />
  </message>
  <message name='allRequestMessage'>
    <part name='parameters' element='tns:allParameters' />
  </message>
  <message name='allResponseMessage'>
    <part name='response' element='tns:allResponse' />
  </message>
  <message name='changeRequestMessage'>
    <part name='parameters' element='tns:changeParameters' />
  </message>
  <message name='changeResponseMessage'>
    <part name='response' element='tns:changeResponse' />
  </message>
  <message name='createRequestMessage' />
  <message name='createResponseMessage'>
    <part name='response' element='tns:createResponse' />
  </message>
  <message name='deleteRequestMessage'>
    <part name='parameters' element='tns:deleteParameters' />
  </message>
  <message name='deleteResponseMessage'>
    <part name='response' element='tns:deleteResponse' />
  </message>
  <message name='digestRequestMessage'>
    <part name='parameters' element='tns:digestParameters' />
  </message>
  <message name='digestResponseMessage'>
    <part name='response' element='tns:digestResponse' />
  </message>
  <message name='killRequestMessage'>
    <part name='parameters' element='tns:killParameters' />
  </message>
  <message name='killResponseMessage'>
    <part name='response' element='tns:killResponse' />
  </message>
  <message name='myIpRequestMessage' />
  <message name='myIpResponseMessage'>
    <part name='response' element='tns:myIpResponse' />
  </message>
  <message name='publisherDomainsAddRequestMessage'>
    <part name='parameters' element='tns:publisherDomainsAddParameters' />
  </message>
  <message name='publisherDomainsAddResponseMessage'>
    <part name='response' element='tns:publisherDomainsAddResponse' />
  </message>
  <message name='publisherDomainsAllRequestMessage' />
  <message name='publisherDomainsAllResponseMessage'>
    <part name='response' element='tns:publisherDomainsAllResponse' />
  </message>
  <message name='publisherDomainsChangeRequestMessage'>
    <part name='parameters' element='tns:publisherDomainsChangeParameters' />
  </message>
  <message name='publisherDomainsChangeResponseMessage'>
    <part name='response' element='tns:publisherDomainsChangeResponse' />
  </message>
  <message name='publisherDomainsKillRequestMessage'>
    <part name='parameters' element='tns:publisherDomainsKillParameters' />
  </message>
  <message name='publisherDomainsKillResponseMessage'>
    <part name='response' element='tns:publisherDomainsKillResponse' />
  </message>
  <message name='publisherSeedsAddRequestMessage'>
    <part name='parameters' element='tns:publisherSeedsAddParameters' />
  </message>
  <message name='publisherSeedsAddResponseMessage'>
    <part name='response' element='tns:publisherSeedsAddResponse' />
  </message>
  <message name='publisherSeedsAllRequestMessage'>
    <part name='parameters' element='tns:publisherSeedsAllParameters' />
  </message>
  <message name='publisherSeedsAllResponseMessage'>
    <part name='response' element='tns:publisherSeedsAllResponse' />
  </message>
  <message name='publisherSeedsChangeRequestMessage'>
    <part name='parameters' element='tns:publisherSeedsChangeParameters' />
  </message>
  <message name='publisherSeedsChangeResponseMessage'>
    <part name='response' element='tns:publisherSeedsChangeResponse' />
  </message>
  <message name='publisherSeedsKillRequestMessage'>
    <part name='parameters' element='tns:publisherSeedsKillParameters' />
  </message>
  <message name='publisherSeedsKillResponseMessage'>
    <part name='response' element='tns:publisherSeedsKillResponse' />
  </message>
  <message name='readRequestMessage'>
    <part name='parameters' element='tns:readParameters' />
  </message>
  <message name='readResponseMessage'>
    <part name='response' element='tns:readResponse' />
  </message>
  <message name='readOneRequestMessage'>
    <part name='parameters' element='tns:readOneParameters' />
  </message>
  <message name='readOneResponseMessage'>
    <part name='response' element='tns:readOneResponse' />
  </message>
  <message name='subscriberFeedEntriesSearchRequestMessage'>
    <part name='parameters' element='tns:subscriberFeedEntriesSearchParameters' />
  </message>
  <message name='subscriberFeedEntriesSearchResponseMessage'>
    <part name='response' element='tns:subscriberFeedEntriesSearchResponse' />
  </message>
  <message name='subscriberFeedEntryRequestMessage'>
    <part name='parameters' element='tns:subscriberFeedEntryParameters' />
  </message>
  <message name='subscriberFeedEntryResponseMessage'>
    <part name='response' element='tns:subscriberFeedEntryResponse' />
  </message>
  <message name='subscriberSeedFixRequestMessage'>
    <part name='parameters' element='tns:subscriberSeedFixParameters' />
  </message>
  <message name='subscriberSeedFixResponseMessage'>
    <part name='response' element='tns:subscriberSeedFixResponse' />
  </message>
  <message name='subscriberSeedsAllRequestMessage'>
    <part name='parameters' element='tns:subscriberSeedsAllParameters' />
  </message>
  <message name='subscriberSeedsAllResponseMessage'>
    <part name='response' element='tns:subscriberSeedsAllResponse' />
  </message>
  <message name='subscriberSeedsUnsubscribeRequestMessage'>
    <part name='parameters' element='tns:subscriberSeedsUnsubscribeParameters' />
  </message>
  <message name='subscriberSeedsUnsubscribeResponseMessage'>
    <part name='response' element='tns:subscriberSeedsUnsubscribeResponse' />
  </message>
  <message name='updateRequestMessage'>
    <part name='parameters' element='tns:updateParameters' />
  </message>
  <message name='updateResponseMessage'>
    <part name='response' element='tns:updateResponse' />
  </message>
  <portType name='feedrPortType'>
    <operation name='add'>
      <documentation>the method subscribes you to the seed If the seed does not exist it creates a new seed based on the provided link and retrieves feed entries Note all non URL safe characters must be escaped</documentation>
      <input message='tns:addRequestMessage' name='addInput' />
      <output message='tns:addResponseMessage' name='addOutput' />
    </operation>
    <operation name='all'>
      <documentation>the method returns all the seeds you are subscribed to a k a your subscriptions</documentation>
      <input message='tns:allRequestMessage' name='allInput' />
      <output message='tns:allResponseMessage' name='allOutput' />
    </operation>
    <operation name='change'>
      <documentation>the method updates the provided properties of the seed of the provided id All non URL safe characters must be escaped Returns the status and the updated seed</documentation>
      <input message='tns:changeRequestMessage' name='changeInput' />
      <output message='tns:changeResponseMessage' name='changeOutput' />
    </operation>
    <operation name='create'>
      <documentation>the method creates a new seed based on the provided link and retrieves feed entries If the seed for the link already exists nothing happens Returns the status and the created seed</documentation>
      <input message='tns:createRequestMessage' name='createInput' />
      <output message='tns:createResponseMessage' name='createOutput' />
    </operation>
    <operation name='delete'>
      <documentation>the method deletes the seed of the provided id along with all related feed entries Returns the status and the deleted seed</documentation>
      <input message='tns:deleteRequestMessage' name='deleteInput' />
      <output message='tns:deleteResponseMessage' name='deleteOutput' />
    </operation>
    <operation name='digest'>
      <documentation>the method returns the set of feed entries for the seed of the provided link</documentation>
      <input message='tns:digestRequestMessage' name='digestInput' />
      <output message='tns:digestResponseMessage' name='digestOutput' />
    </operation>
    <operation name='kill'>
      <documentation>the method deletes the seed of the provided id along with all related feed entries Returns the status and the deleted seed</documentation>
      <input message='tns:killRequestMessage' name='killInput' />
      <output message='tns:killResponseMessage' name='killOutput' />
    </operation>
    <operation name='myIp'>
      <documentation>the method returns your IP If the call is made via proxy proxy IP and your IP are returned</documentation>
      <input message='tns:myIpRequestMessage' name='myIpInput' />
      <output message='tns:myIpResponseMessage' name='myIpOutput' />
    </operation>
    <operation name='publisherDomainsAdd'>
      <documentation></documentation>
      <input message='tns:publisherDomainsAddRequestMessage' name='publisherDomainsAddInput' />
      <output message='tns:publisherDomainsAddResponseMessage' name='publisherDomainsAddOutput' />
    </operation>
    <operation name='publisherDomainsAll'>
      <documentation></documentation>
      <input message='tns:publisherDomainsAllRequestMessage' name='publisherDomainsAllInput' />
      <output message='tns:publisherDomainsAllResponseMessage' name='publisherDomainsAllOutput' />
    </operation>
    <operation name='publisherDomainsChange'>
      <documentation></documentation>
      <input message='tns:publisherDomainsChangeRequestMessage' name='publisherDomainsChangeInput' />
      <output message='tns:publisherDomainsChangeResponseMessage' name='publisherDomainsChangeOutput' />
    </operation>
    <operation name='publisherDomainsKill'>
      <documentation></documentation>
      <input message='tns:publisherDomainsKillRequestMessage' name='publisherDomainsKillInput' />
      <output message='tns:publisherDomainsKillResponseMessage' name='publisherDomainsKillOutput' />
    </operation>
    <operation name='publisherSeedsAdd'>
      <documentation>the method creates a new seed based on the provided link and retrieves feed entries If the seed is already published by another publisher the error with the according message is returned Note all non URL safe characters must be escaped</documentation>
      <input message='tns:publisherSeedsAddRequestMessage' name='publisherSeedsAddInput' />
      <output message='tns:publisherSeedsAddResponseMessage' name='publisherSeedsAddOutput' />
    </operation>
    <operation name='publisherSeedsAll'>
      <documentation>the method returns all the seeds you publish a k a your publications</documentation>
      <input message='tns:publisherSeedsAllRequestMessage' name='publisherSeedsAllInput' />
      <output message='tns:publisherSeedsAllResponseMessage' name='publisherSeedsAllOutput' />
    </operation>
    <operation name='publisherSeedsChange'>
      <documentation></documentation>
      <input message='tns:publisherSeedsChangeRequestMessage' name='publisherSeedsChangeInput' />
      <output message='tns:publisherSeedsChangeResponseMessage' name='publisherSeedsChangeOutput' />
    </operation>
    <operation name='publisherSeedsKill'>
      <documentation></documentation>
      <input message='tns:publisherSeedsKillRequestMessage' name='publisherSeedsKillInput' />
      <output message='tns:publisherSeedsKillResponseMessage' name='publisherSeedsKillOutput' />
    </operation>
    <operation name='read'>
      <documentation>the method retrieves all seeds that either you own or you are subscribed to Returns the status and the seed set</documentation>
      <input message='tns:readRequestMessage' name='readInput' />
      <output message='tns:readResponseMessage' name='readOutput' />
    </operation>
    <operation name='readOne'>
      <documentation></documentation>
      <input message='tns:readOneRequestMessage' name='readOneInput' />
      <output message='tns:readOneResponseMessage' name='readOneOutput' />
    </operation>
    <operation name='subscriberFeedEntriesSearch'>
      <documentation>the method searches every field of every feed entry in the seed of the provided link</documentation>
      <input message='tns:subscriberFeedEntriesSearchRequestMessage' name='subscriberFeedEntriesSearchInput' />
      <output message='tns:subscriberFeedEntriesSearchResponseMessage' name='subscriberFeedEntriesSearchOutput' />
    </operation>
    <operation name='subscriberFeedEntry'>
      <documentation>the method retrieves a specific feed entry and all related custom fields by provided id If the feed entry of the provided id does not exist or you do not have access to the seed of the feed entry then no feed entry will be returned</documentation>
      <input message='tns:subscriberFeedEntryRequestMessage' name='subscriberFeedEntryInput' />
      <output message='tns:subscriberFeedEntryResponseMessage' name='subscriberFeedEntryOutput' />
    </operation>
    <operation name='subscriberSeedFix'>
      <documentation>the method sets title and or description for a seed for a subscriber s personal use</documentation>
      <input message='tns:subscriberSeedFixRequestMessage' name='subscriberSeedFixInput' />
      <output message='tns:subscriberSeedFixResponseMessage' name='subscriberSeedFixOutput' />
    </operation>
    <operation name='subscriberSeedsAll'>
      <documentation></documentation>
      <input message='tns:subscriberSeedsAllRequestMessage' name='subscriberSeedsAllInput' />
      <output message='tns:subscriberSeedsAllResponseMessage' name='subscriberSeedsAllOutput' />
    </operation>
    <operation name='subscriberSeedsUnsubscribe'>
      <documentation>the method unsubscribes you from the seed</documentation>
      <input message='tns:subscriberSeedsUnsubscribeRequestMessage' name='subscriberSeedsUnsubscribeInput' />
      <output message='tns:subscriberSeedsUnsubscribeResponseMessage' name='subscriberSeedsUnsubscribeOutput' />
    </operation>
    <operation name='update'>
      <documentation>the method updates the provided properties of the seed of the provided id Returns the status and the updated seed</documentation>
      <input message='tns:updateRequestMessage' name='updateInput' />
      <output message='tns:updateResponseMessage' name='updateOutput' />
    </operation>
  </portType>
  <binding name='feedrBinding' type='tns:feedrPortType'>
    <operation name='add'>
      <soap12:operation soapAction='http://add' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='all'>
      <soap12:operation soapAction='http://all' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='change'>
      <soap12:operation soapAction='http://change' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='create'>
      <soap12:operation soapAction='http://create' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='delete'>
      <soap12:operation soapAction='http://delete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='digest'>
      <soap12:operation soapAction='http://digest' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='kill'>
      <soap12:operation soapAction='http://kill' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='myIp'>
      <soap12:operation soapAction='http://myIp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publisherDomainsAdd'>
      <soap12:operation soapAction='http://publisherDomainsAdd' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publisherDomainsAll'>
      <soap12:operation soapAction='http://publisherDomainsAll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publisherDomainsChange'>
      <soap12:operation soapAction='http://publisherDomainsChange' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publisherDomainsKill'>
      <soap12:operation soapAction='http://publisherDomainsKill' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publisherSeedsAdd'>
      <soap12:operation soapAction='http://publisherSeedsAdd' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publisherSeedsAll'>
      <soap12:operation soapAction='http://publisherSeedsAll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publisherSeedsChange'>
      <soap12:operation soapAction='http://publisherSeedsChange' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publisherSeedsKill'>
      <soap12:operation soapAction='http://publisherSeedsKill' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='read'>
      <soap12:operation soapAction='http://read' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='readOne'>
      <soap12:operation soapAction='http://readOne' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='subscriberFeedEntriesSearch'>
      <soap12:operation soapAction='http://subscriberFeedEntriesSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='subscriberFeedEntry'>
      <soap12:operation soapAction='http://subscriberFeedEntry' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='subscriberSeedFix'>
      <soap12:operation soapAction='http://subscriberSeedFix' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='subscriberSeedsAll'>
      <soap12:operation soapAction='http://subscriberSeedsAll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='subscriberSeedsUnsubscribe'>
      <soap12:operation soapAction='http://subscriberSeedsUnsubscribe' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='update'>
      <soap12:operation soapAction='http://update' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='feedr'>
    <documentation>rSS cloud proxy service for web publishers developers and readers More www feedr io</documentation>
    <port name='feedrPort' binding='tns:feedrBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://feedr' />
    </port>
  </service>
</definitions>