workspace/datasets/mashape_dataset/fifaworldcup.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/fifaWorldCup/' name='fifaWorldCup' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/fifaWorldCup/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/fifaWorldCup/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/fifaWorldCup/'>
      <xsd:element name='gamesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score2et' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score1et' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score2' type='xsd:int' minOccurs='0' />
                  <xsd:element name='score1i' type='xsd:string' minOccurs='0' />
                  <xsd:element name='prev_game_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='play_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score2ii' type='xsd:string' minOccurs='0' />
                  <xsd:element name='round_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='pos' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ground_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='next_game_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='winner90' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='score1p' type='xsd:string' minOccurs='0' />
                  <xsd:element name='key' type='xsd:string' minOccurs='0' />
                  <xsd:element name='team2_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='postponed' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='knockout' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='score2i' type='xsd:string' minOccurs='0' />
                  <xsd:element name='home' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='play_at_v2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score1ii' type='xsd:string' minOccurs='0' />
                  <xsd:element name='play_at_v3' type='xsd:string' minOccurs='0' />
                  <xsd:element name='winner' type='xsd:int' minOccurs='0' />
                  <xsd:element name='group_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='score1' type='xsd:int' minOccurs='0' />
                  <xsd:element name='team1_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='score2p' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city_id' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='goalsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='offset' type='xsd:int' minOccurs='0' />
                  <xsd:element name='score2' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='penalty' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='team_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='score1' type='xsd:int' minOccurs='0' />
                  <xsd:element name='owngoal' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='person_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='game_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='personsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:string' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='synonyms' type='xsd:string' minOccurs='0' />
                  <xsd:element name='nationality_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='born_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city_id' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='roundsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='knockout' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='end_at' type='xsd:date' minOccurs='0' />
                  <xsd:element name='auto' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='pos' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='start_at' type='xsd:date' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='teamsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='assoc_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='synonyms' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='web' type='xsd:string' minOccurs='0' />
                  <xsd:element name='club' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='national' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='city_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='since' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='gamesRequestMessage' />
  <message name='gamesResponseMessage'>
    <part name='response' element='tns:gamesResponse' />
  </message>
  <message name='goalsRequestMessage' />
  <message name='goalsResponseMessage'>
    <part name='response' element='tns:goalsResponse' />
  </message>
  <message name='personsRequestMessage' />
  <message name='personsResponseMessage'>
    <part name='response' element='tns:personsResponse' />
  </message>
  <message name='roundsRequestMessage' />
  <message name='roundsResponseMessage'>
    <part name='response' element='tns:roundsResponse' />
  </message>
  <message name='teamsRequestMessage' />
  <message name='teamsResponseMessage'>
    <part name='response' element='tns:teamsResponse' />
  </message>
  <portType name='fifaWorldCupPortType'>
    <operation name='games'>
      <documentation>list of games</documentation>
      <input message='tns:gamesRequestMessage' name='gamesInput' />
      <output message='tns:gamesResponseMessage' name='gamesOutput' />
    </operation>
    <operation name='goals'>
      <documentation>list of goals scored</documentation>
      <input message='tns:goalsRequestMessage' name='goalsInput' />
      <output message='tns:goalsResponseMessage' name='goalsOutput' />
    </operation>
    <operation name='persons'>
      <documentation>list of players who scored at least one goal</documentation>
      <input message='tns:personsRequestMessage' name='personsInput' />
      <output message='tns:personsResponseMessage' name='personsOutput' />
    </operation>
    <operation name='rounds'>
      <documentation>list of rounds</documentation>
      <input message='tns:roundsRequestMessage' name='roundsInput' />
      <output message='tns:roundsResponseMessage' name='roundsOutput' />
    </operation>
    <operation name='teams'>
      <documentation>list of teams that played</documentation>
      <input message='tns:teamsRequestMessage' name='teamsInput' />
      <output message='tns:teamsResponseMessage' name='teamsOutput' />
    </operation>
  </portType>
  <binding name='fifaWorldCupBinding' type='tns:fifaWorldCupPortType'>
    <operation name='games'>
      <soap12:operation soapAction='http://games' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='goals'>
      <soap12:operation soapAction='http://goals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='persons'>
      <soap12:operation soapAction='http://persons' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='rounds'>
      <soap12:operation soapAction='http://rounds' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='teams'>
      <soap12:operation soapAction='http://teams' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='fifaWorldCup'>
    <documentation>keep up with the FIFA World Cup action using this API that returns teams rounds and matches in JSON format</documentation>
    <port name='fifaWorldCupPort' binding='tns:fifaWorldCupBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://fifaWorldCup' />
    </port>
  </service>
</definitions>