workspace/datasets/mashape_dataset/findmoreemailsemailfinderbydomain.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/findmoreemailsEmailFinderBydomain/' name='findmoreemailsEmailFinderBydomain' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/findmoreemailsEmailFinderBydomain/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/findmoreemailsEmailFinderBydomain/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/findmoreemailsEmailFinderBydomain/'>
      <xsd:element name='findPhpUrlDomainParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findPhpUrlDomainResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='findPhpUrlDomainRequestMessage'>
    <part name='parameters' element='tns:findPhpUrlDomainParameters' />
  </message>
  <message name='findPhpUrlDomainResponseMessage'>
    <part name='response' element='tns:findPhpUrlDomainResponse' />
  </message>
  <portType name='findmoreemailsEmailFinderBydomainPortType'>
    <operation name='findPhpUrlDomain'>
      <documentation>enter domain from url to get a list of emails for example mashape com</documentation>
      <input message='tns:findPhpUrlDomainRequestMessage' name='findPhpUrlDomainInput' />
      <output message='tns:findPhpUrlDomainResponseMessage' name='findPhpUrlDomainOutput' />
    </operation>
  </portType>
  <binding name='findmoreemailsEmailFinderBydomainBinding' type='tns:findmoreemailsEmailFinderBydomainPortType'>
    <operation name='findPhpUrlDomain'>
      <soap12:operation soapAction='http://findPhpUrlDomain' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='findmoreemailsEmailFinderBydomain'>
    <documentation>makes easier to find more emails and reach your leads</documentation>
    <port name='findmoreemailsEmailFinderBydomainPort' binding='tns:findmoreemailsEmailFinderBydomainBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://findmoreemailsEmailFinderBydomain' />
    </port>
  </service>
</definitions>