workspace/datasets/mashape_dataset/flowplayerdrive.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/flowplayerDrive/' name='flowplayerDrive' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/flowplayerDrive/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/flowplayerDrive/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/flowplayerDrive/'>
      <xsd:element name='jobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='job' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='public' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='free' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='multires' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loginResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='authcode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fullName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='alias' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='videosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='videos' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='viewCountCurr' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='encodings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='started' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='finished' type='xsd:string' minOccurs='0' />
                        <xsd:element name='filesize' type='xsd:int' minOccurs='0' />
                        <xsd:element name='audioCodec' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='audioBitrate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='videoBitrate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                        <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pos' type='xsd:int' minOccurs='0' />
                        <xsd:element name='bitRate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='modified' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='audiochannels' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='videoCodec' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='failed' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='seconds' type='xsd:int' minOccurs='0' />
                  <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='public' type='xsd:int' minOccurs='0' />
                  <xsd:element name='bytes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='snapshotUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pageUrl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='vodResolutions' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='viewCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='free' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hlsResolutions' type='xsd:int' minOccurs='0' />
                  <xsd:element name='thumbnailUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='viewCountInvoiced' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='debrandingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='debrandingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteVideoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteVideoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishAndUnpublishParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishAndUnpublishResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reactivateAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retentionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retentionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='invoicedTimestamp' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='reportingPeriod' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='taxable' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rtmpUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='freeBytes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='quotaEmails' type='xsd:int' minOccurs='0' />
                  <xsd:element name='videoCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='usageEmailTimestamp' type='xsd:string' minOccurs='0' />
                  <xsd:element name='seconds' type='xsd:int' minOccurs='0' />
                  <xsd:element name='bytes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='periodEnds' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='freeSeconds' type='xsd:int' minOccurs='0' />
                  <xsd:element name='plan' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showVideoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showVideoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='video' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='viewCountCurr' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='encodings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='started' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='finished' type='xsd:string' minOccurs='0' />
                        <xsd:element name='filesize' type='xsd:int' minOccurs='0' />
                        <xsd:element name='audioCodec' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='audioBitrate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='videoBitrate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                        <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pos' type='xsd:int' minOccurs='0' />
                        <xsd:element name='bitRate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='modified' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='audiochannels' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='videoCodec' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='failed' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='seconds' type='xsd:int' minOccurs='0' />
                  <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='public' type='xsd:int' minOccurs='0' />
                  <xsd:element name='bytes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='snapshotUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pageUrl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='vodResolutions' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='viewCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='free' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hlsResolutions' type='xsd:int' minOccurs='0' />
                  <xsd:element name='signedUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='thumbnailUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='viewCountInvoiced' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trafficParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='grouping' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trafficResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='video' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='verifyToken' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='free' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='multires' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='jobsRequestMessage' />
  <message name='jobsResponseMessage'>
    <part name='response' element='tns:jobsResponse' />
  </message>
  <message name='loginRequestMessage' />
  <message name='loginResponseMessage'>
    <part name='response' element='tns:loginResponse' />
  </message>
  <message name='videosRequestMessage' />
  <message name='videosResponseMessage'>
    <part name='response' element='tns:videosResponse' />
  </message>
  <message name='debrandingRequestMessage'>
    <part name='parameters' element='tns:debrandingParameters' />
  </message>
  <message name='debrandingResponseMessage'>
    <part name='response' element='tns:debrandingResponse' />
  </message>
  <message name='deleteVideoRequestMessage'>
    <part name='parameters' element='tns:deleteVideoParameters' />
  </message>
  <message name='deleteVideoResponseMessage'>
    <part name='response' element='tns:deleteVideoResponse' />
  </message>
  <message name='publishAndUnpublishRequestMessage'>
    <part name='parameters' element='tns:publishAndUnpublishParameters' />
  </message>
  <message name='publishAndUnpublishResponseMessage'>
    <part name='response' element='tns:publishAndUnpublishResponse' />
  </message>
  <message name='reactivateAccountRequestMessage' />
  <message name='reactivateAccountResponseMessage'>
    <part name='response' element='tns:reactivateAccountResponse' />
  </message>
  <message name='retentionRequestMessage'>
    <part name='parameters' element='tns:retentionParameters' />
  </message>
  <message name='retentionResponseMessage'>
    <part name='response' element='tns:retentionResponse' />
  </message>
  <message name='showAccountRequestMessage' />
  <message name='showAccountResponseMessage'>
    <part name='response' element='tns:showAccountResponse' />
  </message>
  <message name='showVideoRequestMessage'>
    <part name='parameters' element='tns:showVideoParameters' />
  </message>
  <message name='showVideoResponseMessage'>
    <part name='response' element='tns:showVideoResponse' />
  </message>
  <message name='trafficRequestMessage'>
    <part name='parameters' element='tns:trafficParameters' />
  </message>
  <message name='trafficResponseMessage'>
    <part name='response' element='tns:trafficResponse' />
  </message>
  <message name='updateAccountRequestMessage' />
  <message name='updateAccountResponseMessage'>
    <part name='response' element='tns:updateAccountResponse' />
  </message>
  <message name='uploadRequestMessage' />
  <message name='uploadResponseMessage'>
    <part name='response' element='tns:uploadResponse' />
  </message>
  <portType name='flowplayerDrivePortType'>
    <operation name='jobs'>
      <documentation>post an encoding job</documentation>
      <input message='tns:jobsRequestMessage' name='jobsInput' />
      <output message='tns:jobsResponseMessage' name='jobsOutput' />
    </operation>
    <operation name='login'>
      <documentation>login to your flowplayer org account to receive an auth token to be used in all additional API call</documentation>
      <input message='tns:loginRequestMessage' name='loginInput' />
      <output message='tns:loginResponseMessage' name='loginOutput' />
    </operation>
    <operation name='videos'>
      <documentation>list all videos in the library</documentation>
      <input message='tns:videosRequestMessage' name='videosInput' />
      <output message='tns:videosResponseMessage' name='videosOutput' />
    </operation>
    <operation name='debranding'>
      <documentation>debrand a free video to remove the Flowplayer watermark and to make it non free Requires a paid Flowplayer Drive plan</documentation>
      <input message='tns:debrandingRequestMessage' name='debrandingInput' />
      <output message='tns:debrandingResponseMessage' name='debrandingOutput' />
    </operation>
    <operation name='deleteVideo'>
      <documentation>delete the specified video</documentation>
      <input message='tns:deleteVideoRequestMessage' name='deleteVideoInput' />
      <output message='tns:deleteVideoResponseMessage' name='deleteVideoOutput' />
    </operation>
    <operation name='publishAndUnpublish'>
      <documentation>publish and unpublish</documentation>
      <input message='tns:publishAndUnpublishRequestMessage' name='publishAndUnpublishInput' />
      <output message='tns:publishAndUnpublishResponseMessage' name='publishAndUnpublishOutput' />
    </operation>
    <operation name='reactivateAccount'>
      <documentation>reactivate a canceled or unpaid account</documentation>
      <input message='tns:reactivateAccountRequestMessage' name='reactivateAccountInput' />
      <output message='tns:reactivateAccountResponseMessage' name='reactivateAccountOutput' />
    </operation>
    <operation name='retention'>
      <documentation>get retention data for the specified video Retention data answers following questions How long do viewers spend watching your videos At what point do they lose interest or tune out and go elsewhere The returned data tells the percentage and count of viewers that watched the video up to a given time in the video s timeline</documentation>
      <input message='tns:retentionRequestMessage' name='retentionInput' />
      <output message='tns:retentionResponseMessage' name='retentionOutput' />
    </operation>
    <operation name='showAccount'>
      <documentation>shows the account</documentation>
      <input message='tns:showAccountRequestMessage' name='showAccountInput' />
      <output message='tns:showAccountResponseMessage' name='showAccountOutput' />
    </operation>
    <operation name='showVideo'>
      <documentation>shows the specified video with embedded encodings</documentation>
      <input message='tns:showVideoRequestMessage' name='showVideoInput' />
      <output message='tns:showVideoResponseMessage' name='showVideoOutput' />
    </operation>
    <operation name='traffic'>
      <documentation>get traffic statistics for the specified video</documentation>
      <input message='tns:trafficRequestMessage' name='trafficInput' />
      <output message='tns:trafficResponseMessage' name='trafficOutput' />
    </operation>
    <operation name='updateAccount'>
      <documentation>update account attributes</documentation>
      <input message='tns:updateAccountRequestMessage' name='updateAccountInput' />
      <output message='tns:updateAccountResponseMessage' name='updateAccountOutput' />
    </operation>
    <operation name='upload'>
      <documentation>upload a video to your library the video will be first encoded</documentation>
      <input message='tns:uploadRequestMessage' name='uploadInput' />
      <output message='tns:uploadResponseMessage' name='uploadOutput' />
    </operation>
  </portType>
  <binding name='flowplayerDriveBinding' type='tns:flowplayerDrivePortType'>
    <operation name='jobs'>
      <soap12:operation soapAction='http://jobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='login'>
      <soap12:operation soapAction='http://login' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='videos'>
      <soap12:operation soapAction='http://videos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='debranding'>
      <soap12:operation soapAction='http://debranding' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteVideo'>
      <soap12:operation soapAction='http://deleteVideo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publishAndUnpublish'>
      <soap12:operation soapAction='http://publishAndUnpublish' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reactivateAccount'>
      <soap12:operation soapAction='http://reactivateAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retention'>
      <soap12:operation soapAction='http://retention' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='showAccount'>
      <soap12:operation soapAction='http://showAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='showVideo'>
      <soap12:operation soapAction='http://showVideo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='traffic'>
      <soap12:operation soapAction='http://traffic' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAccount'>
      <soap12:operation soapAction='http://updateAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='upload'>
      <soap12:operation soapAction='http://upload' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='flowplayerDrive'>
    <documentation>encode videos in the cloud and host them with Flowplayer Manage your video library and access your videos analytics data</documentation>
    <port name='flowplayerDrivePort' binding='tns:flowplayerDriveBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://flowplayerDrive' />
    </port>
  </service>
</definitions>