workspace/datasets/mashape_dataset/flyerprinting.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/flyerPrinting/' name='flyerPrinting' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/flyerPrinting/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/flyerPrinting/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/flyerPrinting/'>
      <xsd:element name='getOrderQuoteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apartmentorsuite' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='backpdfurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='careof' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='coating' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='color' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='companyname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='environment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='firstname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fold' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='frontpdfurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fullname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='holepunch' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='isresidential' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='lastname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='layout' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mimeopass' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mimeouser' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paper' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='postalcode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='quantity' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='streetaddress' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOrderQuoteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ShippingPrice' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='TotalPrice' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='ProductPrice' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOrderStatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='environment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mimeopass' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mimeouser' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='orderid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOrderStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Submitted' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProofParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='environment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mimeopass' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mimeouser' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='proofid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProofResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='IsDeleted' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='IsBroken' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='MaxPageHeight' type='xsd:int' minOccurs='0' />
            <xsd:element name='ProofPages' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ProductId' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Folder' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='IsRipped' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='Name' type='xsd:int' minOccurs='0' />
            <xsd:element name='LastModified' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ReferenceData' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='PageCount' type='xsd:int' minOccurs='0' />
            <xsd:element name='HasErrors' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='MaxPageWidth' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getQuoteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='backpdfurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='coating' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='color' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='environment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fold' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='frontpdfurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='holepunch' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='layout' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mimeopass' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mimeouser' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paper' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getQuoteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Quote' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getShippingOptionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apartmentorsuite' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='backpdfurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='careof' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='coating' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='color' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='companyname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='environment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='firstname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fold' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='frontpdfurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fullname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='holepunch' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='isresidential' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='layout' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mimeopass' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mimeouser' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paper' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='postalcode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='quantity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='streetaddress' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getShippingOptionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ShippingOptions' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Charge' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='DeliveryDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='placeOrderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='OrderId' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postProofResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='MaxPageHeight' type='xsd:int' minOccurs='0' />
            <xsd:element name='PageCount' type='xsd:int' minOccurs='0' />
            <xsd:element name='ProofID' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='IsRipped' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='MaxPageWidth' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getOrderQuoteRequestMessage'>
    <part name='parameters' element='tns:getOrderQuoteParameters' />
  </message>
  <message name='getOrderQuoteResponseMessage'>
    <part name='response' element='tns:getOrderQuoteResponse' />
  </message>
  <message name='getOrderStatusRequestMessage'>
    <part name='parameters' element='tns:getOrderStatusParameters' />
  </message>
  <message name='getOrderStatusResponseMessage'>
    <part name='response' element='tns:getOrderStatusResponse' />
  </message>
  <message name='getProofRequestMessage'>
    <part name='parameters' element='tns:getProofParameters' />
  </message>
  <message name='getProofResponseMessage'>
    <part name='response' element='tns:getProofResponse' />
  </message>
  <message name='getQuoteRequestMessage'>
    <part name='parameters' element='tns:getQuoteParameters' />
  </message>
  <message name='getQuoteResponseMessage'>
    <part name='response' element='tns:getQuoteResponse' />
  </message>
  <message name='getShippingOptionsRequestMessage'>
    <part name='parameters' element='tns:getShippingOptionsParameters' />
  </message>
  <message name='getShippingOptionsResponseMessage'>
    <part name='response' element='tns:getShippingOptionsResponse' />
  </message>
  <message name='placeOrderRequestMessage' />
  <message name='placeOrderResponseMessage'>
    <part name='response' element='tns:placeOrderResponse' />
  </message>
  <message name='postProofRequestMessage' />
  <message name='postProofResponseMessage'>
    <part name='response' element='tns:postProofResponse' />
  </message>
  <portType name='flyerPrintingPortType'>
    <operation name='getOrderQuote'>
      <documentation>this method gets a full order quote for a flyer or brochure print order URL https developer mimeo com api flyer orderquote</documentation>
      <input message='tns:getOrderQuoteRequestMessage' name='getOrderQuoteInput' />
      <output message='tns:getOrderQuoteResponseMessage' name='getOrderQuoteOutput' />
    </operation>
    <operation name='getOrderStatus'>
      <documentation>the method returns the submitted date and status of a print order URL https developer mimeo com api flyer orderstatus</documentation>
      <input message='tns:getOrderStatusRequestMessage' name='getOrderStatusInput' />
      <output message='tns:getOrderStatusResponseMessage' name='getOrderStatusOutput' />
    </operation>
    <operation name='getProof'>
      <documentation>the pulls a proof for a print file that has been posted URL https developer mimeo com api flyer proof proof id</documentation>
      <input message='tns:getProofRequestMessage' name='getProofInput' />
      <output message='tns:getProofResponseMessage' name='getProofOutput' />
    </operation>
    <operation name='getQuote'>
      <documentation>this method pulls a quote for an single product Returns current price for just printing of the product Does not include shipping costs URL https developer mimeo com api flyer quote</documentation>
      <input message='tns:getQuoteRequestMessage' name='getQuoteInput' />
      <output message='tns:getQuoteResponseMessage' name='getQuoteOutput' />
    </operation>
    <operation name='getShippingOptions'>
      <documentation>this method returns shipping delivery options for a flyer or brochure print order URL https developer mimeo com api flyer shippingoptions</documentation>
      <input message='tns:getShippingOptionsRequestMessage' name='getShippingOptionsInput' />
      <output message='tns:getShippingOptionsResponseMessage' name='getShippingOptionsOutput' />
    </operation>
    <operation name='placeOrder'>
      <documentation>this method gets a full order quote for a flyer or brochure print order URL https developer mimeo com api flyer orderquote</documentation>
      <input message='tns:placeOrderRequestMessage' name='placeOrderInput' />
      <output message='tns:placeOrderResponseMessage' name='placeOrderOutput' />
    </operation>
    <operation name='postProof'>
      <documentation>this method prepares a proof of a PDF print file It will start the preparation of the PDF proof depending on the size of document it could take up to or seconds to prepare Method will return if it was ripped or not The you can run get Proof method URL https developer mimeo com api flyer proof</documentation>
      <input message='tns:postProofRequestMessage' name='postProofInput' />
      <output message='tns:postProofResponseMessage' name='postProofOutput' />
    </operation>
  </portType>
  <binding name='flyerPrintingBinding' type='tns:flyerPrintingPortType'>
    <operation name='getOrderQuote'>
      <soap12:operation soapAction='http://getOrderQuote' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getOrderStatus'>
      <soap12:operation soapAction='http://getOrderStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getProof'>
      <soap12:operation soapAction='http://getProof' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getQuote'>
      <soap12:operation soapAction='http://getQuote' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getShippingOptions'>
      <soap12:operation soapAction='http://getShippingOptions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='placeOrder'>
      <soap12:operation soapAction='http://placeOrder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postProof'>
      <soap12:operation soapAction='http://postProof' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='flyerPrinting'>
    <documentation>this API provides a flyer and brochure printing services for developers It enables you to price and order commercially printed flyers and brochures with different folds colors paper coating and with or without hold punches from within your web and mobile applications</documentation>
    <port name='flyerPrintingPort' binding='tns:flyerPrintingBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://flyerPrinting' />
    </port>
  </service>
</definitions>