workspace/datasets/mashape_dataset/flysfo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/flysfo/' name='flysfo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/flysfo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/flysfo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/flysfo/'>
      <xsd:element name='airlinesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='airlinesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='website' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='terminal' type='xsd:string' minOccurs='0' />
                  <xsd:element name='body' type='xsd:string' minOccurs='0' />
                  <xsd:element name='node_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='map' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='diningParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='diningResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='hours' type='xsd:string' minOccurs='0' />
                  <xsd:element name='location_summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='nid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='terminal' type='xsd:string' minOccurs='0' />
                  <xsd:element name='body' type='xsd:string' minOccurs='0' />
                  <xsd:element name='node_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='flight_deck_map_area' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='flight_deck_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='security' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='map' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='passengerServicesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='passengerServicesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='hours' type='xsd:string' minOccurs='0' />
                  <xsd:element name='location_summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='nid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='terminal' type='xsd:string' minOccurs='0' />
                  <xsd:element name='node_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='flight_deck_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='passenger_service_tags' type='xsd:string' minOccurs='0' />
                  <xsd:element name='security' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shoppingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shoppingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='hours' type='xsd:string' minOccurs='0' />
                  <xsd:element name='location_summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='nid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='terminal' type='xsd:string' minOccurs='0' />
                  <xsd:element name='body' type='xsd:string' minOccurs='0' />
                  <xsd:element name='node_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='flight_deck_map_area' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='flight_deck_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='security' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='map' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='thingsToDoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='thingsToDoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='hours' type='xsd:string' minOccurs='0' />
                  <xsd:element name='location_summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='nid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='terminal' type='xsd:string' minOccurs='0' />
                  <xsd:element name='body' type='xsd:string' minOccurs='0' />
                  <xsd:element name='node_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='flight_deck_map_area' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='flight_deck_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='achievement_type' type='xsd:string' minOccurs='0' />
                  <xsd:element name='security' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='achievement_location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='map' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='airlinesRequestMessage'>
    <part name='parameters' element='tns:airlinesParameters' />
  </message>
  <message name='airlinesResponseMessage'>
    <part name='response' element='tns:airlinesResponse' />
  </message>
  <message name='diningRequestMessage'>
    <part name='parameters' element='tns:diningParameters' />
  </message>
  <message name='diningResponseMessage'>
    <part name='response' element='tns:diningResponse' />
  </message>
  <message name='passengerServicesRequestMessage'>
    <part name='parameters' element='tns:passengerServicesParameters' />
  </message>
  <message name='passengerServicesResponseMessage'>
    <part name='response' element='tns:passengerServicesResponse' />
  </message>
  <message name='shoppingRequestMessage'>
    <part name='parameters' element='tns:shoppingParameters' />
  </message>
  <message name='shoppingResponseMessage'>
    <part name='response' element='tns:shoppingResponse' />
  </message>
  <message name='thingsToDoRequestMessage'>
    <part name='parameters' element='tns:thingsToDoParameters' />
  </message>
  <message name='thingsToDoResponseMessage'>
    <part name='response' element='tns:thingsToDoResponse' />
  </message>
  <portType name='flysfoPortType'>
    <operation name='airlines'>
      <documentation></documentation>
      <input message='tns:airlinesRequestMessage' name='airlinesInput' />
      <output message='tns:airlinesResponseMessage' name='airlinesOutput' />
    </operation>
    <operation name='dining'>
      <documentation></documentation>
      <input message='tns:diningRequestMessage' name='diningInput' />
      <output message='tns:diningResponseMessage' name='diningOutput' />
    </operation>
    <operation name='passengerServices'>
      <documentation></documentation>
      <input message='tns:passengerServicesRequestMessage' name='passengerServicesInput' />
      <output message='tns:passengerServicesResponseMessage' name='passengerServicesOutput' />
    </operation>
    <operation name='shopping'>
      <documentation></documentation>
      <input message='tns:shoppingRequestMessage' name='shoppingInput' />
      <output message='tns:shoppingResponseMessage' name='shoppingOutput' />
    </operation>
    <operation name='thingsToDo'>
      <documentation></documentation>
      <input message='tns:thingsToDoRequestMessage' name='thingsToDoInput' />
      <output message='tns:thingsToDoResponseMessage' name='thingsToDoOutput' />
    </operation>
  </portType>
  <binding name='flysfoBinding' type='tns:flysfoPortType'>
    <operation name='airlines'>
      <soap12:operation soapAction='http://airlines' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='dining'>
      <soap12:operation soapAction='http://dining' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='passengerServices'>
      <soap12:operation soapAction='http://passengerServices' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='shopping'>
      <soap12:operation soapAction='http://shopping' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='thingsToDo'>
      <soap12:operation soapAction='http://thingsToDo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='flysfo'>
    <documentation>the FlySFO com API grants the web development community access to information about SFO airlines restaurants shops and more See more at http www flysfo com api sthash jcRJ zA dpuf</documentation>
    <port name='flysfoPort' binding='tns:flysfoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://flysfo' />
    </port>
  </service>
</definitions>