workspace/datasets/mashape_dataset/foaas.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/foaas/' name='foaas' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/foaas/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/foaas/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/foaas/'>
      <xsd:element name='chainsawParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='chainsawResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='donutParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='donutResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckEveryoneParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckEveryoneResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckEverythingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckEverythingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckMePinkParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckMePinkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckMyLifeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckMyLifeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckOffParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckOffResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckThatParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckThatResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckThisParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckThisResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckYouParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckYouResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckYouVeryMuchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fuckYouVeryMuchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='kingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='kingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shakespeareParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shakespeareResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtitle' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='chainsawRequestMessage'>
    <part name='parameters' element='tns:chainsawParameters' />
  </message>
  <message name='chainsawResponseMessage'>
    <part name='response' element='tns:chainsawResponse' />
  </message>
  <message name='donutRequestMessage'>
    <part name='parameters' element='tns:donutParameters' />
  </message>
  <message name='donutResponseMessage'>
    <part name='response' element='tns:donutResponse' />
  </message>
  <message name='fuckEveryoneRequestMessage'>
    <part name='parameters' element='tns:fuckEveryoneParameters' />
  </message>
  <message name='fuckEveryoneResponseMessage'>
    <part name='response' element='tns:fuckEveryoneResponse' />
  </message>
  <message name='fuckEverythingRequestMessage'>
    <part name='parameters' element='tns:fuckEverythingParameters' />
  </message>
  <message name='fuckEverythingResponseMessage'>
    <part name='response' element='tns:fuckEverythingResponse' />
  </message>
  <message name='fuckMePinkRequestMessage'>
    <part name='parameters' element='tns:fuckMePinkParameters' />
  </message>
  <message name='fuckMePinkResponseMessage'>
    <part name='response' element='tns:fuckMePinkResponse' />
  </message>
  <message name='fuckMyLifeRequestMessage'>
    <part name='parameters' element='tns:fuckMyLifeParameters' />
  </message>
  <message name='fuckMyLifeResponseMessage'>
    <part name='response' element='tns:fuckMyLifeResponse' />
  </message>
  <message name='fuckOffRequestMessage'>
    <part name='parameters' element='tns:fuckOffParameters' />
  </message>
  <message name='fuckOffResponseMessage'>
    <part name='response' element='tns:fuckOffResponse' />
  </message>
  <message name='fuckThatRequestMessage'>
    <part name='parameters' element='tns:fuckThatParameters' />
  </message>
  <message name='fuckThatResponseMessage'>
    <part name='response' element='tns:fuckThatResponse' />
  </message>
  <message name='fuckThisRequestMessage'>
    <part name='parameters' element='tns:fuckThisParameters' />
  </message>
  <message name='fuckThisResponseMessage'>
    <part name='response' element='tns:fuckThisResponse' />
  </message>
  <message name='fuckYouRequestMessage'>
    <part name='parameters' element='tns:fuckYouParameters' />
  </message>
  <message name='fuckYouResponseMessage'>
    <part name='response' element='tns:fuckYouResponse' />
  </message>
  <message name='fuckYouVeryMuchRequestMessage'>
    <part name='parameters' element='tns:fuckYouVeryMuchParameters' />
  </message>
  <message name='fuckYouVeryMuchResponseMessage'>
    <part name='response' element='tns:fuckYouVeryMuchResponse' />
  </message>
  <message name='kingRequestMessage'>
    <part name='parameters' element='tns:kingParameters' />
  </message>
  <message name='kingResponseMessage'>
    <part name='response' element='tns:kingResponse' />
  </message>
  <message name='linusRequestMessage'>
    <part name='parameters' element='tns:linusParameters' />
  </message>
  <message name='linusResponseMessage'>
    <part name='response' element='tns:linusResponse' />
  </message>
  <message name='shakespeareRequestMessage'>
    <part name='parameters' element='tns:shakespeareParameters' />
  </message>
  <message name='shakespeareResponseMessage'>
    <part name='response' element='tns:shakespeareResponse' />
  </message>
  <portType name='foaasPortType'>
    <operation name='chainsaw'>
      <documentation>will return content of the form Fuck me gently with a chainsaw name Do I look like Mother Teresa from e g chainsaw Chris Heather will return Fuck me gently with a chainsaw Chris Do I look like Mother Teresa Heather</documentation>
      <input message='tns:chainsawRequestMessage' name='chainsawInput' />
      <output message='tns:chainsawResponseMessage' name='chainsawOutput' />
    </operation>
    <operation name='donut'>
      <documentation>will return content of the form name go and take a flying fuck at a rolling donut from e g donut Tom Chris will return Tom go and take a flying fuck at a rolling donut Chris</documentation>
      <input message='tns:donutRequestMessage' name='donutInput' />
      <output message='tns:donutResponseMessage' name='donutOutput' />
    </operation>
    <operation name='fuckEveryone'>
      <documentation>will return content of the form Everyone can go and fuck off name e g everyone Tom will return Everyone can go and fuck off Tom</documentation>
      <input message='tns:fuckEveryoneRequestMessage' name='fuckEveryoneInput' />
      <output message='tns:fuckEveryoneResponseMessage' name='fuckEveryoneOutput' />
    </operation>
    <operation name='fuckEverything'>
      <documentation>will return content of the form Fuck everything from e g everything Chris will return Fuck everything Chris</documentation>
      <input message='tns:fuckEverythingRequestMessage' name='fuckEverythingInput' />
      <output message='tns:fuckEverythingResponseMessage' name='fuckEverythingOutput' />
    </operation>
    <operation name='fuckMePink'>
      <documentation>will return content of the form Well Fuck me pink from</documentation>
      <input message='tns:fuckMePinkRequestMessage' name='fuckMePinkInput' />
      <output message='tns:fuckMePinkResponseMessage' name='fuckMePinkOutput' />
    </operation>
    <operation name='fuckMyLife'>
      <documentation>will return content of the form Well Fuck me pink from</documentation>
      <input message='tns:fuckMyLifeRequestMessage' name='fuckMyLifeInput' />
      <output message='tns:fuckMyLifeResponseMessage' name='fuckMyLifeOutput' />
    </operation>
    <operation name='fuckOff'>
      <documentation>will return content of the form Fuck off name from e g off Tom Chris will return Fuck off Tom Chris</documentation>
      <input message='tns:fuckOffRequestMessage' name='fuckOffInput' />
      <output message='tns:fuckOffResponseMessage' name='fuckOffOutput' />
    </operation>
    <operation name='fuckThat'>
      <documentation>will return content of the form Fuck that from e g that Chris will return Fuck that Chris</documentation>
      <input message='tns:fuckThatRequestMessage' name='fuckThatInput' />
      <output message='tns:fuckThatResponseMessage' name='fuckThatOutput' />
    </operation>
    <operation name='fuckThis'>
      <documentation>will return content of the form Fuck this from e g this Chris will return Fuck this Chris</documentation>
      <input message='tns:fuckThisRequestMessage' name='fuckThisInput' />
      <output message='tns:fuckThisResponseMessage' name='fuckThisOutput' />
    </operation>
    <operation name='fuckYou'>
      <documentation>will return content of the form Fuck you name from e g you Tom Chris will return Fuck you Tom Chris</documentation>
      <input message='tns:fuckYouRequestMessage' name='fuckYouInput' />
      <output message='tns:fuckYouResponseMessage' name='fuckYouOutput' />
    </operation>
    <operation name='fuckYouVeryMuch'>
      <documentation>will return content of the form Fuck you very much from</documentation>
      <input message='tns:fuckYouVeryMuchRequestMessage' name='fuckYouVeryMuchInput' />
      <output message='tns:fuckYouVeryMuchResponseMessage' name='fuckYouVeryMuchOutput' />
    </operation>
    <operation name='king'>
      <documentation>will return content of the form Oh fuck off just really fuck off you total dickface Christ name you are fucking thick from</documentation>
      <input message='tns:kingRequestMessage' name='kingInput' />
      <output message='tns:kingResponseMessage' name='kingOutput' />
    </operation>
    <operation name='linus'>
      <documentation>will return content of the form name there aren t enough swear words in the English language so now I ll have to call you perkeleen vittup just to express my disgust and frustration with this crap from</documentation>
      <input message='tns:linusRequestMessage' name='linusInput' />
      <output message='tns:linusResponseMessage' name='linusOutput' />
    </operation>
    <operation name='shakespeare'>
      <documentation>will return content of the form name Thou clay brained guts thou knotty pated fool thou whoreson obscene greasy tallow catch from e g shakespeare Falstaff Prince Henry will return Falstaff Thou clay brained guts thou knotty pated fool thou whoreson obscene greasy tallow catch Prince Henry</documentation>
      <input message='tns:shakespeareRequestMessage' name='shakespeareInput' />
      <output message='tns:shakespeareResponseMessage' name='shakespeareOutput' />
    </operation>
  </portType>
  <binding name='foaasBinding' type='tns:foaasPortType'>
    <operation name='chainsaw'>
      <soap12:operation soapAction='http://chainsaw' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='donut'>
      <soap12:operation soapAction='http://donut' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fuckEveryone'>
      <soap12:operation soapAction='http://fuckEveryone' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fuckEverything'>
      <soap12:operation soapAction='http://fuckEverything' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fuckMePink'>
      <soap12:operation soapAction='http://fuckMePink' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fuckMyLife'>
      <soap12:operation soapAction='http://fuckMyLife' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fuckOff'>
      <soap12:operation soapAction='http://fuckOff' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fuckThat'>
      <soap12:operation soapAction='http://fuckThat' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fuckThis'>
      <soap12:operation soapAction='http://fuckThis' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fuckYou'>
      <soap12:operation soapAction='http://fuckYou' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fuckYouVeryMuch'>
      <soap12:operation soapAction='http://fuckYouVeryMuch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='king'>
      <soap12:operation soapAction='http://king' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='linus'>
      <soap12:operation soapAction='http://linus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='shakespeare'>
      <soap12:operation soapAction='http://shakespeare' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='foaas'>
    <documentation>fOAAS Fuck Off As A Service provides a modern RESTful scalable solution to the common problem of telling people to fuck off</documentation>
    <port name='foaasPort' binding='tns:foaasBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://foaas' />
    </port>
  </service>
</definitions>