workspace/datasets/mashape_dataset/fontscom.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/fontsCom/' name='fontsCom' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/fontsCom/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/fontsCom/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/fontsCom/'>
      <xsd:element name='addDomainParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addDomainResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addFontParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addFontResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addProjectsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addProjectsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addSelectorsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addSelectorsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addStylesheetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addStylesheetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='assignFontsToSelectorsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='assignFontsToSelectorsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteASelectorParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteASelectorResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDomainParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDomainResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFontParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFontResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteProjectParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteProjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editDomainParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editDomainResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editProjectsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editProjectsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exportStylesheetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfspid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsplimit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='wfspstart' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exportStylesheetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='filterValuesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsalphachar' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsclassificationid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsdesignerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsfiltertype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsfoundryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsfreeorpaid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='wfslanguageid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='filterValuesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateTokenParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsemail' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateTokenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTokenParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsemail' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTokenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='importStylesheetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfspid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsplimit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='wfspstart' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsptoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='importStylesheetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllFilterValuesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsalphachar' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsclassificationid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsdesignerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsfoundryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsfreeorpaid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='wfslanguageid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllFilterValuesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllFontsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsalphabet' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsclassid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfscss' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsdesignerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsfamilygrouping' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='wfsfountryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsfree' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='wfskeyword' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfslangid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsplimit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='wfspstart' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllFontsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDomainsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfspid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsplimit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='wfspstart' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDomainsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listFiltersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listFiltersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listProjectFontsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfspid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsplimit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='wfspstart' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listProjectFontsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listProjectsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsplimit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='wfspstart' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listProjectsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listSelectorsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfspid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wfsplimit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='wfspstart' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listSelectorsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addDomainRequestMessage'>
    <part name='parameters' element='tns:addDomainParameters' />
  </message>
  <message name='addDomainResponseMessage'>
    <part name='response' element='tns:addDomainResponse' />
  </message>
  <message name='addFontRequestMessage'>
    <part name='parameters' element='tns:addFontParameters' />
  </message>
  <message name='addFontResponseMessage'>
    <part name='response' element='tns:addFontResponse' />
  </message>
  <message name='addProjectsRequestMessage'>
    <part name='parameters' element='tns:addProjectsParameters' />
  </message>
  <message name='addProjectsResponseMessage'>
    <part name='response' element='tns:addProjectsResponse' />
  </message>
  <message name='addSelectorsRequestMessage'>
    <part name='parameters' element='tns:addSelectorsParameters' />
  </message>
  <message name='addSelectorsResponseMessage'>
    <part name='response' element='tns:addSelectorsResponse' />
  </message>
  <message name='addStylesheetRequestMessage'>
    <part name='parameters' element='tns:addStylesheetParameters' />
  </message>
  <message name='addStylesheetResponseMessage'>
    <part name='response' element='tns:addStylesheetResponse' />
  </message>
  <message name='assignFontsToSelectorsRequestMessage'>
    <part name='parameters' element='tns:assignFontsToSelectorsParameters' />
  </message>
  <message name='assignFontsToSelectorsResponseMessage'>
    <part name='response' element='tns:assignFontsToSelectorsResponse' />
  </message>
  <message name='createAccountRequestMessage'>
    <part name='parameters' element='tns:createAccountParameters' />
  </message>
  <message name='createAccountResponseMessage'>
    <part name='response' element='tns:createAccountResponse' />
  </message>
  <message name='deleteASelectorRequestMessage'>
    <part name='parameters' element='tns:deleteASelectorParameters' />
  </message>
  <message name='deleteASelectorResponseMessage'>
    <part name='response' element='tns:deleteASelectorResponse' />
  </message>
  <message name='deleteDomainRequestMessage'>
    <part name='parameters' element='tns:deleteDomainParameters' />
  </message>
  <message name='deleteDomainResponseMessage'>
    <part name='response' element='tns:deleteDomainResponse' />
  </message>
  <message name='deleteFontRequestMessage'>
    <part name='parameters' element='tns:deleteFontParameters' />
  </message>
  <message name='deleteFontResponseMessage'>
    <part name='response' element='tns:deleteFontResponse' />
  </message>
  <message name='deleteProjectRequestMessage'>
    <part name='parameters' element='tns:deleteProjectParameters' />
  </message>
  <message name='deleteProjectResponseMessage'>
    <part name='response' element='tns:deleteProjectResponse' />
  </message>
  <message name='editDomainRequestMessage'>
    <part name='parameters' element='tns:editDomainParameters' />
  </message>
  <message name='editDomainResponseMessage'>
    <part name='response' element='tns:editDomainResponse' />
  </message>
  <message name='editProjectsRequestMessage'>
    <part name='parameters' element='tns:editProjectsParameters' />
  </message>
  <message name='editProjectsResponseMessage'>
    <part name='response' element='tns:editProjectsResponse' />
  </message>
  <message name='exportStylesheetRequestMessage'>
    <part name='parameters' element='tns:exportStylesheetParameters' />
  </message>
  <message name='exportStylesheetResponseMessage'>
    <part name='response' element='tns:exportStylesheetResponse' />
  </message>
  <message name='filterValuesRequestMessage'>
    <part name='parameters' element='tns:filterValuesParameters' />
  </message>
  <message name='filterValuesResponseMessage'>
    <part name='response' element='tns:filterValuesResponse' />
  </message>
  <message name='generateTokenRequestMessage'>
    <part name='parameters' element='tns:generateTokenParameters' />
  </message>
  <message name='generateTokenResponseMessage'>
    <part name='response' element='tns:generateTokenResponse' />
  </message>
  <message name='getTokenRequestMessage'>
    <part name='parameters' element='tns:getTokenParameters' />
  </message>
  <message name='getTokenResponseMessage'>
    <part name='response' element='tns:getTokenResponse' />
  </message>
  <message name='importStylesheetRequestMessage'>
    <part name='parameters' element='tns:importStylesheetParameters' />
  </message>
  <message name='importStylesheetResponseMessage'>
    <part name='response' element='tns:importStylesheetResponse' />
  </message>
  <message name='listAllFilterValuesRequestMessage'>
    <part name='parameters' element='tns:listAllFilterValuesParameters' />
  </message>
  <message name='listAllFilterValuesResponseMessage'>
    <part name='response' element='tns:listAllFilterValuesResponse' />
  </message>
  <message name='listAllFontsRequestMessage'>
    <part name='parameters' element='tns:listAllFontsParameters' />
  </message>
  <message name='listAllFontsResponseMessage'>
    <part name='response' element='tns:listAllFontsResponse' />
  </message>
  <message name='listDomainsRequestMessage'>
    <part name='parameters' element='tns:listDomainsParameters' />
  </message>
  <message name='listDomainsResponseMessage'>
    <part name='response' element='tns:listDomainsResponse' />
  </message>
  <message name='listFiltersRequestMessage'>
    <part name='parameters' element='tns:listFiltersParameters' />
  </message>
  <message name='listFiltersResponseMessage'>
    <part name='response' element='tns:listFiltersResponse' />
  </message>
  <message name='listProjectFontsRequestMessage'>
    <part name='parameters' element='tns:listProjectFontsParameters' />
  </message>
  <message name='listProjectFontsResponseMessage'>
    <part name='response' element='tns:listProjectFontsResponse' />
  </message>
  <message name='listProjectsRequestMessage'>
    <part name='parameters' element='tns:listProjectsParameters' />
  </message>
  <message name='listProjectsResponseMessage'>
    <part name='response' element='tns:listProjectsResponse' />
  </message>
  <message name='listSelectorsRequestMessage'>
    <part name='parameters' element='tns:listSelectorsParameters' />
  </message>
  <message name='listSelectorsResponseMessage'>
    <part name='response' element='tns:listSelectorsResponse' />
  </message>
  <message name='publishRequestMessage'>
    <part name='parameters' element='tns:publishParameters' />
  </message>
  <message name='publishResponseMessage'>
    <part name='response' element='tns:publishResponse' />
  </message>
  <portType name='fontsComPortType'>
    <operation name='addDomain'>
      <documentation></documentation>
      <input message='tns:addDomainRequestMessage' name='addDomainInput' />
      <output message='tns:addDomainResponseMessage' name='addDomainOutput' />
    </operation>
    <operation name='addFont'>
      <documentation></documentation>
      <input message='tns:addFontRequestMessage' name='addFontInput' />
      <output message='tns:addFontResponseMessage' name='addFontOutput' />
    </operation>
    <operation name='addProjects'>
      <documentation></documentation>
      <input message='tns:addProjectsRequestMessage' name='addProjectsInput' />
      <output message='tns:addProjectsResponseMessage' name='addProjectsOutput' />
    </operation>
    <operation name='addSelectors'>
      <documentation></documentation>
      <input message='tns:addSelectorsRequestMessage' name='addSelectorsInput' />
      <output message='tns:addSelectorsResponseMessage' name='addSelectorsOutput' />
    </operation>
    <operation name='addStylesheet'>
      <documentation></documentation>
      <input message='tns:addStylesheetRequestMessage' name='addStylesheetInput' />
      <output message='tns:addStylesheetResponseMessage' name='addStylesheetOutput' />
    </operation>
    <operation name='assignFontsToSelectors'>
      <documentation></documentation>
      <input message='tns:assignFontsToSelectorsRequestMessage' name='assignFontsToSelectorsInput' />
      <output message='tns:assignFontsToSelectorsResponseMessage' name='assignFontsToSelectorsOutput' />
    </operation>
    <operation name='createAccount'>
      <documentation>initiates the account creation process causing an email to be sent to address provided The account is not activated until the user reads the email and follows its instructions AppKey</documentation>
      <input message='tns:createAccountRequestMessage' name='createAccountInput' />
      <output message='tns:createAccountResponseMessage' name='createAccountOutput' />
    </operation>
    <operation name='deleteASelector'>
      <documentation></documentation>
      <input message='tns:deleteASelectorRequestMessage' name='deleteASelectorInput' />
      <output message='tns:deleteASelectorResponseMessage' name='deleteASelectorOutput' />
    </operation>
    <operation name='deleteDomain'>
      <documentation></documentation>
      <input message='tns:deleteDomainRequestMessage' name='deleteDomainInput' />
      <output message='tns:deleteDomainResponseMessage' name='deleteDomainOutput' />
    </operation>
    <operation name='deleteFont'>
      <documentation></documentation>
      <input message='tns:deleteFontRequestMessage' name='deleteFontInput' />
      <output message='tns:deleteFontResponseMessage' name='deleteFontOutput' />
    </operation>
    <operation name='deleteProject'>
      <documentation></documentation>
      <input message='tns:deleteProjectRequestMessage' name='deleteProjectInput' />
      <output message='tns:deleteProjectResponseMessage' name='deleteProjectOutput' />
    </operation>
    <operation name='editDomain'>
      <documentation></documentation>
      <input message='tns:editDomainRequestMessage' name='editDomainInput' />
      <output message='tns:editDomainResponseMessage' name='editDomainOutput' />
    </operation>
    <operation name='editProjects'>
      <documentation></documentation>
      <input message='tns:editProjectsRequestMessage' name='editProjectsInput' />
      <output message='tns:editProjectsResponseMessage' name='editProjectsOutput' />
    </operation>
    <operation name='exportStylesheet'>
      <documentation></documentation>
      <input message='tns:exportStylesheetRequestMessage' name='exportStylesheetInput' />
      <output message='tns:exportStylesheetResponseMessage' name='exportStylesheetOutput' />
    </operation>
    <operation name='filterValues'>
      <documentation></documentation>
      <input message='tns:filterValuesRequestMessage' name='filterValuesInput' />
      <output message='tns:filterValuesResponseMessage' name='filterValuesOutput' />
    </operation>
    <operation name='generateToken'>
      <documentation></documentation>
      <input message='tns:generateTokenRequestMessage' name='generateTokenInput' />
      <output message='tns:generateTokenResponseMessage' name='generateTokenOutput' />
    </operation>
    <operation name='getToken'>
      <documentation></documentation>
      <input message='tns:getTokenRequestMessage' name='getTokenInput' />
      <output message='tns:getTokenResponseMessage' name='getTokenOutput' />
    </operation>
    <operation name='importStylesheet'>
      <documentation></documentation>
      <input message='tns:importStylesheetRequestMessage' name='importStylesheetInput' />
      <output message='tns:importStylesheetResponseMessage' name='importStylesheetOutput' />
    </operation>
    <operation name='listAllFilterValues'>
      <documentation></documentation>
      <input message='tns:listAllFilterValuesRequestMessage' name='listAllFilterValuesInput' />
      <output message='tns:listAllFilterValuesResponseMessage' name='listAllFilterValuesOutput' />
    </operation>
    <operation name='listAllFonts'>
      <documentation></documentation>
      <input message='tns:listAllFontsRequestMessage' name='listAllFontsInput' />
      <output message='tns:listAllFontsResponseMessage' name='listAllFontsOutput' />
    </operation>
    <operation name='listDomains'>
      <documentation></documentation>
      <input message='tns:listDomainsRequestMessage' name='listDomainsInput' />
      <output message='tns:listDomainsResponseMessage' name='listDomainsOutput' />
    </operation>
    <operation name='listFilters'>
      <documentation></documentation>
      <input message='tns:listFiltersRequestMessage' name='listFiltersInput' />
      <output message='tns:listFiltersResponseMessage' name='listFiltersOutput' />
    </operation>
    <operation name='listProjectFonts'>
      <documentation></documentation>
      <input message='tns:listProjectFontsRequestMessage' name='listProjectFontsInput' />
      <output message='tns:listProjectFontsResponseMessage' name='listProjectFontsOutput' />
    </operation>
    <operation name='listProjects'>
      <documentation></documentation>
      <input message='tns:listProjectsRequestMessage' name='listProjectsInput' />
      <output message='tns:listProjectsResponseMessage' name='listProjectsOutput' />
    </operation>
    <operation name='listSelectors'>
      <documentation></documentation>
      <input message='tns:listSelectorsRequestMessage' name='listSelectorsInput' />
      <output message='tns:listSelectorsResponseMessage' name='listSelectorsOutput' />
    </operation>
    <operation name='publish'>
      <documentation></documentation>
      <input message='tns:publishRequestMessage' name='publishInput' />
      <output message='tns:publishResponseMessage' name='publishOutput' />
    </operation>
  </portType>
  <binding name='fontsComBinding' type='tns:fontsComPortType'>
    <operation name='addDomain'>
      <soap12:operation soapAction='http://addDomain' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addFont'>
      <soap12:operation soapAction='http://addFont' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addProjects'>
      <soap12:operation soapAction='http://addProjects' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addSelectors'>
      <soap12:operation soapAction='http://addSelectors' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addStylesheet'>
      <soap12:operation soapAction='http://addStylesheet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='assignFontsToSelectors'>
      <soap12:operation soapAction='http://assignFontsToSelectors' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAccount'>
      <soap12:operation soapAction='http://createAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteASelector'>
      <soap12:operation soapAction='http://deleteASelector' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteDomain'>
      <soap12:operation soapAction='http://deleteDomain' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteFont'>
      <soap12:operation soapAction='http://deleteFont' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteProject'>
      <soap12:operation soapAction='http://deleteProject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editDomain'>
      <soap12:operation soapAction='http://editDomain' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editProjects'>
      <soap12:operation soapAction='http://editProjects' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='exportStylesheet'>
      <soap12:operation soapAction='http://exportStylesheet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='filterValues'>
      <soap12:operation soapAction='http://filterValues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generateToken'>
      <soap12:operation soapAction='http://generateToken' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getToken'>
      <soap12:operation soapAction='http://getToken' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='importStylesheet'>
      <soap12:operation soapAction='http://importStylesheet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllFilterValues'>
      <soap12:operation soapAction='http://listAllFilterValues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllFonts'>
      <soap12:operation soapAction='http://listAllFonts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDomains'>
      <soap12:operation soapAction='http://listDomains' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listFilters'>
      <soap12:operation soapAction='http://listFilters' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listProjectFonts'>
      <soap12:operation soapAction='http://listProjectFonts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listProjects'>
      <soap12:operation soapAction='http://listProjects' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listSelectors'>
      <soap12:operation soapAction='http://listSelectors' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publish'>
      <soap12:operation soapAction='http://publish' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='fontsCom'>
    <documentation>integrate leverage and build upon the Fonts com Web Fonts service through a host of solutions for developers and content creators</documentation>
    <port name='fontsComPort' binding='tns:fontsComBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://fontsCom' />
    </port>
  </service>
</definitions>