workspace/datasets/mashape_dataset/foodfacts.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/foodFacts/' name='foodFacts' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/foodFacts/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/foodFacts/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/foodFacts/'>
      <xsd:element name='foodgroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='foodGroupNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='foodgroupFoodgroupnumberParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='foodgroupnumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='foodgroupFoodgroupnumberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='totalResults' type='xsd:int' minOccurs='0' />
            <xsd:element name='attribution' type='xsd:string' minOccurs='0' />
            <xsd:element name='totalPages' type='xsd:int' minOccurs='0' />
            <xsd:element name='pageSize' type='xsd:int' minOccurs='0' />
            <xsd:element name='currentPage' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='longDescription' type='xsd:string' minOccurs='0' />
                  <xsd:element name='refuseDescription' type='xsd:string' minOccurs='0' />
                  <xsd:element name='choFactor' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='scientificName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ndbNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='fatFactor' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='shortDescription' type='xsd:string' minOccurs='0' />
                  <xsd:element name='foodGroupNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='proteinFactor' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='foodGroupName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='refuse' type='xsd:int' minOccurs='0' />
                  <xsd:element name='nitrogenFactor' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='survey' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fooditemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ndbnumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='nutrients' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='weight' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fooditemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='longDescription' type='xsd:string' minOccurs='0' />
            <xsd:element name='choFactor' type='xsd:int' minOccurs='0' />
            <xsd:element name='manufacturerName' type='xsd:string' minOccurs='0' />
            <xsd:element name='ndbNumber' type='xsd:int' minOccurs='0' />
            <xsd:element name='fatFactor' type='xsd:int' minOccurs='0' />
            <xsd:element name='weight' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sequenceNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='amount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='datapoints' type='xsd:int' minOccurs='0' />
                  <xsd:element name='measureDescription' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='standardDeviation' type='xsd:int' minOccurs='0' />
                  <xsd:element name='gramweight' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='shortDescription' type='xsd:string' minOccurs='0' />
            <xsd:element name='nutrients' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='units' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='foodGroupNumber' type='xsd:int' minOccurs='0' />
            <xsd:element name='proteinFactor' type='xsd:int' minOccurs='0' />
            <xsd:element name='foodGroupName' type='xsd:string' minOccurs='0' />
            <xsd:element name='refuse' type='xsd:int' minOccurs='0' />
            <xsd:element name='nitrogenFactor' type='xsd:int' minOccurs='0' />
            <xsd:element name='survey' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fooditemSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='criteria' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='foodgroup' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fooditemSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='totalResults' type='xsd:int' minOccurs='0' />
            <xsd:element name='attribution' type='xsd:string' minOccurs='0' />
            <xsd:element name='totalPages' type='xsd:int' minOccurs='0' />
            <xsd:element name='pageSize' type='xsd:int' minOccurs='0' />
            <xsd:element name='currentPage' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='longDescription' type='xsd:string' minOccurs='0' />
                  <xsd:element name='refuseDescription' type='xsd:string' minOccurs='0' />
                  <xsd:element name='choFactor' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='scientificName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ndbNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='fatFactor' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='shortDescription' type='xsd:string' minOccurs='0' />
                  <xsd:element name='foodGroupNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='proteinFactor' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='foodGroupName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='refuse' type='xsd:int' minOccurs='0' />
                  <xsd:element name='nitrogenFactor' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='survey' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fooditemNdbnumberSimilarKeyVitaminMineralsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ndbnumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fooditemNdbnumberSimilarKeyVitaminMineralsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nutrientResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='standardReferenceOrder' type='xsd:int' minOccurs='0' />
                  <xsd:element name='nutrientNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='units' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tagName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nutrientDescription' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nutrientTopParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='nutrientno' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nutrientTopResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='totalResults' type='xsd:int' minOccurs='0' />
            <xsd:element name='attribution' type='xsd:string' minOccurs='0' />
            <xsd:element name='totalPages' type='xsd:int' minOccurs='0' />
            <xsd:element name='pageSize' type='xsd:int' minOccurs='0' />
            <xsd:element name='currentPage' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ndbNo' type='xsd:int' minOccurs='0' />
                  <xsd:element name='longDescription' type='xsd:string' minOccurs='0' />
                  <xsd:element name='value' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='foodgroupRequestMessage' />
  <message name='foodgroupResponseMessage'>
    <part name='response' element='tns:foodgroupResponse' />
  </message>
  <message name='foodgroupFoodgroupnumberRequestMessage'>
    <part name='parameters' element='tns:foodgroupFoodgroupnumberParameters' />
  </message>
  <message name='foodgroupFoodgroupnumberResponseMessage'>
    <part name='response' element='tns:foodgroupFoodgroupnumberResponse' />
  </message>
  <message name='fooditemRequestMessage'>
    <part name='parameters' element='tns:fooditemParameters' />
  </message>
  <message name='fooditemResponseMessage'>
    <part name='response' element='tns:fooditemResponse' />
  </message>
  <message name='fooditemSearchRequestMessage'>
    <part name='parameters' element='tns:fooditemSearchParameters' />
  </message>
  <message name='fooditemSearchResponseMessage'>
    <part name='response' element='tns:fooditemSearchResponse' />
  </message>
  <message name='fooditemNdbnumberSimilarKeyVitaminMineralsRequestMessage'>
    <part name='parameters' element='tns:fooditemNdbnumberSimilarKeyVitaminMineralsParameters' />
  </message>
  <message name='fooditemNdbnumberSimilarKeyVitaminMineralsResponseMessage'>
    <part name='response' element='tns:fooditemNdbnumberSimilarKeyVitaminMineralsResponse' />
  </message>
  <message name='nutrientRequestMessage' />
  <message name='nutrientResponseMessage'>
    <part name='response' element='tns:nutrientResponse' />
  </message>
  <message name='nutrientTopRequestMessage'>
    <part name='parameters' element='tns:nutrientTopParameters' />
  </message>
  <message name='nutrientTopResponseMessage'>
    <part name='response' element='tns:nutrientTopResponse' />
  </message>
  <portType name='foodFactsPortType'>
    <operation name='foodgroup'>
      <documentation>returns all food groups Food groups can be Baked products Beef Products etc Food groups have unique identifiers that can be passed to the foodgroup foodGroupNumber end point</documentation>
      <input message='tns:foodgroupRequestMessage' name='foodgroupInput' />
      <output message='tns:foodgroupResponseMessage' name='foodgroupOutput' />
    </operation>
    <operation name='foodgroupFoodgroupnumber'>
      <documentation>returns the food items for the given food group</documentation>
      <input message='tns:foodgroupFoodgroupnumberRequestMessage' name='foodgroupFoodgroupnumberInput' />
      <output message='tns:foodgroupFoodgroupnumberResponseMessage' name='foodgroupFoodgroupnumberOutput' />
    </operation>
    <operation name='fooditem'>
      <documentation>returns information about a food item The default behaviour returns just basic info Can return detailed weight and nutrient information</documentation>
      <input message='tns:fooditemRequestMessage' name='fooditemInput' />
      <output message='tns:fooditemResponseMessage' name='fooditemOutput' />
    </operation>
    <operation name='fooditemSearch'>
      <documentation>returns the result of a keyword search The database is full text searchable The index is on Short description Long description Scientific Name Common Name and Manufacturer</documentation>
      <input message='tns:fooditemSearchRequestMessage' name='fooditemSearchInput' />
      <output message='tns:fooditemSearchResponseMessage' name='fooditemSearchOutput' />
    </operation>
    <operation name='fooditemNdbnumberSimilarKeyVitaminMinerals'>
      <documentation>experimental feature This will return food items that have similar values for the most important vitamins and minerals The similarities are computed by taking the distance in n dimentional space between products N is a vitamin or mineral</documentation>
      <input message='tns:fooditemNdbnumberSimilarKeyVitaminMineralsRequestMessage' name='fooditemNdbnumberSimilarKeyVitaminMineralsInput' />
      <output message='tns:fooditemNdbnumberSimilarKeyVitaminMineralsResponseMessage' name='fooditemNdbnumberSimilarKeyVitaminMineralsOutput' />
    </operation>
    <operation name='nutrient'>
      <documentation>returns a list off all nutrients available in the dataset</documentation>
      <input message='tns:nutrientRequestMessage' name='nutrientInput' />
      <output message='tns:nutrientResponseMessage' name='nutrientOutput' />
    </operation>
    <operation name='nutrientTop'>
      <documentation>returns the foods with the highest value for the given nutrient</documentation>
      <input message='tns:nutrientTopRequestMessage' name='nutrientTopInput' />
      <output message='tns:nutrientTopResponseMessage' name='nutrientTopOutput' />
    </operation>
  </portType>
  <binding name='foodFactsBinding' type='tns:foodFactsPortType'>
    <operation name='foodgroup'>
      <soap12:operation soapAction='http://foodgroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='foodgroupFoodgroupnumber'>
      <soap12:operation soapAction='http://foodgroupFoodgroupnumber' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fooditem'>
      <soap12:operation soapAction='http://fooditem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fooditemSearch'>
      <soap12:operation soapAction='http://fooditemSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fooditemNdbnumberSimilarKeyVitaminMinerals'>
      <soap12:operation soapAction='http://fooditemNdbnumberSimilarKeyVitaminMinerals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='nutrient'>
      <soap12:operation soapAction='http://nutrient' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='nutrientTop'>
      <soap12:operation soapAction='http://nutrientTop' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='foodFacts'>
    <documentation>an API for facts about food It contains detailed information for over food items The database contains over data points This API Also contains a full text search of food descriptions scientific names and manufacturers making searches like Coca cola company and latin names for herbs possible The API is fast returning long search results in pages where you decide page size up to items per page You can also convert to gram measurements from common house hold measurements like cups tablespoons and cans</documentation>
    <port name='foodFactsPort' binding='tns:foodFactsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://foodFacts' />
    </port>
  </service>
</definitions>