workspace/datasets/mashape_dataset/footballlivescore.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/footballLivescore/' name='footballLivescore' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/footballLivescore/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/footballLivescore/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/footballLivescore/'>
      <xsd:element name='allCountriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='countryCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='countryName' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allLeaguesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='PAR' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='COL' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='ISR' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='DEN' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='AZE' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='UEFA' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='OFC' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Arab' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='INT' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='CZE' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='TUR' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='GEO' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='CNCF' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='GER' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='ARG' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='ITA' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='PAK' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='GRE' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='PER' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='UKR' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='AFC' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='IND' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='SCO' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='ENG' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allMatchesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allMatchesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='awayRedCards' type='xsd:string' minOccurs='0' />
                  <xsd:element name='awayTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='league' type='xsd:string' minOccurs='0' />
                  <xsd:element name='awayRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreFirstHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='homeRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreSecondHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isLive' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='countryCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                  <xsd:element name='homeTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='startTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allTeamsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='teamName' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='byCountryCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='byCountryCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='awayTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='league' type='xsd:string' minOccurs='0' />
                  <xsd:element name='awayRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreFirstHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='homeRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreSecondHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isLive' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='countryCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                  <xsd:element name='homeTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='startTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='byLeagueCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='leaguecode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='byLeagueCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='awayTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='league' type='xsd:string' minOccurs='0' />
                  <xsd:element name='awayRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreFirstHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='homeRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreSecondHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isLive' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='countryCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                  <xsd:element name='homeTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='startTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='byMatchIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='byMatchIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='awayTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='league' type='xsd:string' minOccurs='0' />
                  <xsd:element name='awayRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreFirstHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='homeRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreSecondHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isLive' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='countryCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                  <xsd:element name='homeTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='startTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='finishedMatchesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='finishedMatchesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='awayRedCards' type='xsd:string' minOccurs='0' />
                  <xsd:element name='awayTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='league' type='xsd:string' minOccurs='0' />
                  <xsd:element name='awayRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreFirstHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='homeRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreSecondHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isLive' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='countryCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                  <xsd:element name='homeTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='startTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveMatchesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveMatchesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='awayTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='league' type='xsd:string' minOccurs='0' />
                  <xsd:element name='awayRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreFirstHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='homeRedCardsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scoreSecondHalf' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isLive' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='countryCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='leagueFull' type='xsd:string' minOccurs='0' />
                  <xsd:element name='homeTeam' type='xsd:string' minOccurs='0' />
                  <xsd:element name='startTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='allCountriesRequestMessage' />
  <message name='allCountriesResponseMessage'>
    <part name='response' element='tns:allCountriesResponse' />
  </message>
  <message name='allLeaguesRequestMessage' />
  <message name='allLeaguesResponseMessage'>
    <part name='response' element='tns:allLeaguesResponse' />
  </message>
  <message name='allMatchesRequestMessage'>
    <part name='parameters' element='tns:allMatchesParameters' />
  </message>
  <message name='allMatchesResponseMessage'>
    <part name='response' element='tns:allMatchesResponse' />
  </message>
  <message name='allTeamsRequestMessage' />
  <message name='allTeamsResponseMessage'>
    <part name='response' element='tns:allTeamsResponse' />
  </message>
  <message name='byCountryCodeRequestMessage'>
    <part name='parameters' element='tns:byCountryCodeParameters' />
  </message>
  <message name='byCountryCodeResponseMessage'>
    <part name='response' element='tns:byCountryCodeResponse' />
  </message>
  <message name='byLeagueCodeRequestMessage'>
    <part name='parameters' element='tns:byLeagueCodeParameters' />
  </message>
  <message name='byLeagueCodeResponseMessage'>
    <part name='response' element='tns:byLeagueCodeResponse' />
  </message>
  <message name='byMatchIdRequestMessage'>
    <part name='parameters' element='tns:byMatchIdParameters' />
  </message>
  <message name='byMatchIdResponseMessage'>
    <part name='response' element='tns:byMatchIdResponse' />
  </message>
  <message name='finishedMatchesRequestMessage'>
    <part name='parameters' element='tns:finishedMatchesParameters' />
  </message>
  <message name='finishedMatchesResponseMessage'>
    <part name='response' element='tns:finishedMatchesResponse' />
  </message>
  <message name='liveMatchesRequestMessage'>
    <part name='parameters' element='tns:liveMatchesParameters' />
  </message>
  <message name='liveMatchesResponseMessage'>
    <part name='response' element='tns:liveMatchesResponse' />
  </message>
  <portType name='footballLivescorePortType'>
    <operation name='allCountries'>
      <documentation>get all countries for today matches</documentation>
      <input message='tns:allCountriesRequestMessage' name='allCountriesInput' />
      <output message='tns:allCountriesResponseMessage' name='allCountriesOutput' />
    </operation>
    <operation name='allLeagues'>
      <documentation>get all leagues available for today matches sorted by Country</documentation>
      <input message='tns:allLeaguesRequestMessage' name='allLeaguesInput' />
      <output message='tns:allLeaguesResponseMessage' name='allLeaguesOutput' />
    </operation>
    <operation name='allMatches'>
      <documentation>this endpoint returns all live and finished matches for the day results per page</documentation>
      <input message='tns:allMatchesRequestMessage' name='allMatchesInput' />
      <output message='tns:allMatchesResponseMessage' name='allMatchesOutput' />
    </operation>
    <operation name='allTeams'>
      <documentation>get all available teams for today matches</documentation>
      <input message='tns:allTeamsRequestMessage' name='allTeamsInput' />
      <output message='tns:allTeamsResponseMessage' name='allTeamsOutput' />
    </operation>
    <operation name='byCountryCode'>
      <documentation>returns the matches live or finished filtered by the provided Country Code or International Code</documentation>
      <input message='tns:byCountryCodeRequestMessage' name='byCountryCodeInput' />
      <output message='tns:byCountryCodeResponseMessage' name='byCountryCodeOutput' />
    </operation>
    <operation name='byLeagueCode'>
      <documentation>returns the matches live or finished filtered by the provided Country Code or International Code and League</documentation>
      <input message='tns:byLeagueCodeRequestMessage' name='byLeagueCodeInput' />
      <output message='tns:byLeagueCodeResponseMessage' name='byLeagueCodeOutput' />
    </operation>
    <operation name='byMatchId'>
      <documentation>returns the match live or finished with the provided match id</documentation>
      <input message='tns:byMatchIdRequestMessage' name='byMatchIdInput' />
      <output message='tns:byMatchIdResponseMessage' name='byMatchIdOutput' />
    </operation>
    <operation name='finishedMatches'>
      <documentation>this endpoint returns all finished matches for the day results per page</documentation>
      <input message='tns:finishedMatchesRequestMessage' name='finishedMatchesInput' />
      <output message='tns:finishedMatchesResponseMessage' name='finishedMatchesOutput' />
    </operation>
    <operation name='liveMatches'>
      <documentation>this endpoint returns all live matches for the day results per page Sometimes you will see matches with status FT marked as live That happens if the match has recently finished and we haven t confirmed the result yet You will also get matches that are starting soon if any</documentation>
      <input message='tns:liveMatchesRequestMessage' name='liveMatchesInput' />
      <output message='tns:liveMatchesResponseMessage' name='liveMatchesOutput' />
    </operation>
  </portType>
  <binding name='footballLivescoreBinding' type='tns:footballLivescorePortType'>
    <operation name='allCountries'>
      <soap12:operation soapAction='http://allCountries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allLeagues'>
      <soap12:operation soapAction='http://allLeagues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allMatches'>
      <soap12:operation soapAction='http://allMatches' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allTeams'>
      <soap12:operation soapAction='http://allTeams' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='byCountryCode'>
      <soap12:operation soapAction='http://byCountryCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='byLeagueCode'>
      <soap12:operation soapAction='http://byLeagueCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='byMatchId'>
      <soap12:operation soapAction='http://byMatchId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='finishedMatches'>
      <soap12:operation soapAction='http://finishedMatches' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveMatches'>
      <soap12:operation soapAction='http://liveMatches' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='footballLivescore'>
    <documentation>livescore API provides information about all live and finished football matches</documentation>
    <port name='footballLivescorePort' binding='tns:footballLivescoreBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://footballLivescore' />
    </port>
  </service>
</definitions>