workspace/datasets/mashape_dataset/format.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/format/' name='format' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/format/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/format/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/format/'>
      <xsd:element name='currencyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='value' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='currencyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='given' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='formatted' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='prefix' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fullName' type='xsd:string' minOccurs='0' />
            <xsd:element name='suffix' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='numbersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='decimal' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='percentage' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='places' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='value' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='numbersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='given' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='formatted' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='phoneNumberParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='number' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='phoneNumberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='valid' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='e164' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='national' type='xsd:string' minOccurs='0' />
            <xsd:element name='international' type='xsd:string' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='timeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='value' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='timeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='valid' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='given' type='xsd:int' minOccurs='0' />
            <xsd:element name='offset' type='xsd:int' minOccurs='0' />
            <xsd:element name='array' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='utc' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='zone' type='xsd:int' minOccurs='0' />
            <xsd:element name='formatted' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='calendar' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ago' type='xsd:string' minOccurs='0' />
                  <xsd:element name='slim' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='handTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='longhand' type='xsd:string' minOccurs='0' />
                  <xsd:element name='short' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fullSlim' type='xsd:string' minOccurs='0' />
                  <xsd:element name='time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='generic' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='hand' type='xsd:string' minOccurs='0' />
                  <xsd:element name='longhandTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='full' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='time' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:int' minOccurs='0' />
                  <xsd:element name='daysInMonth' type='xsd:int' minOccurs='0' />
                  <xsd:element name='week' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hour' type='xsd:int' minOccurs='0' />
                  <xsd:element name='month' type='xsd:int' minOccurs='0' />
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='millisecond' type='xsd:int' minOccurs='0' />
                  <xsd:element name='day' type='xsd:int' minOccurs='0' />
                  <xsd:element name='second' type='xsd:int' minOccurs='0' />
                  <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='integer' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='unix' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trimSpacesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='side' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='value' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trimSpacesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='currencyRequestMessage'>
    <part name='parameters' element='tns:currencyParameters' />
  </message>
  <message name='currencyResponseMessage'>
    <part name='response' element='tns:currencyResponse' />
  </message>
  <message name='nameRequestMessage'>
    <part name='parameters' element='tns:nameParameters' />
  </message>
  <message name='nameResponseMessage'>
    <part name='response' element='tns:nameResponse' />
  </message>
  <message name='numbersRequestMessage'>
    <part name='parameters' element='tns:numbersParameters' />
  </message>
  <message name='numbersResponseMessage'>
    <part name='response' element='tns:numbersResponse' />
  </message>
  <message name='phoneNumberRequestMessage'>
    <part name='parameters' element='tns:phoneNumberParameters' />
  </message>
  <message name='phoneNumberResponseMessage'>
    <part name='response' element='tns:phoneNumberResponse' />
  </message>
  <message name='timeRequestMessage'>
    <part name='parameters' element='tns:timeParameters' />
  </message>
  <message name='timeResponseMessage'>
    <part name='response' element='tns:timeResponse' />
  </message>
  <message name='trimSpacesRequestMessage'>
    <part name='parameters' element='tns:trimSpacesParameters' />
  </message>
  <message name='trimSpacesResponseMessage'>
    <part name='response' element='tns:trimSpacesResponse' />
  </message>
  <portType name='formatPortType'>
    <operation name='currency'>
      <documentation>format currency amounts in multiple locales default en US</documentation>
      <input message='tns:currencyRequestMessage' name='currencyInput' />
      <output message='tns:currencyResponseMessage' name='currencyOutput' />
    </operation>
    <operation name='name'>
      <documentation>name normalization formatting Currently only English and Japanese honorifics are supported more coming soon</documentation>
      <input message='tns:nameRequestMessage' name='nameInput' />
      <output message='tns:nameResponseMessage' name='nameOutput' />
    </operation>
    <operation name='numbers'>
      <documentation>numeric formatting based on country code and input</documentation>
      <input message='tns:numbersRequestMessage' name='numbersInput' />
      <output message='tns:numbersResponseMessage' name='numbersOutput' />
    </operation>
    <operation name='phoneNumber'>
      <documentation>formats validates and returns the type of given number</documentation>
      <input message='tns:phoneNumberRequestMessage' name='phoneNumberInput' />
      <output message='tns:phoneNumberResponseMessage' name='phoneNumberOutput' />
    </operation>
    <operation name='time'>
      <documentation>format Validate and get extensive information and details about a date time</documentation>
      <input message='tns:timeRequestMessage' name='timeInput' />
      <output message='tns:timeResponseMessage' name='timeOutput' />
    </operation>
    <operation name='trimSpaces'>
      <documentation>trim whitespace from the beginning and end or only one side of a sentence or word Does not deal with tabs</documentation>
      <input message='tns:trimSpacesRequestMessage' name='trimSpacesInput' />
      <output message='tns:trimSpacesResponseMessage' name='trimSpacesOutput' />
    </operation>
  </portType>
  <binding name='formatBinding' type='tns:formatPortType'>
    <operation name='currency'>
      <soap12:operation soapAction='http://currency' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='name'>
      <soap12:operation soapAction='http://name' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='numbers'>
      <soap12:operation soapAction='http://numbers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='phoneNumber'>
      <soap12:operation soapAction='http://phoneNumber' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='time'>
      <soap12:operation soapAction='http://time' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trimSpaces'>
      <soap12:operation soapAction='http://trimSpaces' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='format'>
    <documentation>easily format data and information through our platform agnostic api Allows formatting of various information types such as Phone Numbers to National International and E Format and returns type of number Dates to a large multitude of formats with validation UTC time ago Currency and Numeric formatting based on country codes or default US setting and Names Normalization Formatting</documentation>
    <port name='formatPort' binding='tns:formatBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://format' />
    </port>
  </service>
</definitions>