workspace/datasets/mashape_dataset/frimann.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/frimann/' name='frimann' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/frimann/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/frimann/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/frimann/'>
      <xsd:element name='applyGetdetailParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='applyGetdetailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='apply_state' type='xsd:int' minOccurs='0' />
                  <xsd:element name='amount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='application' type='xsd:int' minOccurs='0' />
                  <xsd:element name='beginning' type='xsd:date' minOccurs='0' />
                  <xsd:element name='choice_state' type='xsd:int' minOccurs='0' />
                  <xsd:element name='property' type='xsd:string' minOccurs='0' />
                  <xsd:element name='apply_mail' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='apply_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:date' minOccurs='0' />
                  <xsd:element name='choice_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='amount_after_discount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='points' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='caretakerVerifyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='kt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pass' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='caretakerVerifyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='couponFindParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='couponFindResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='grantsGetlistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='grantsGetlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetapplicationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='kt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetapplicationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetinfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='kt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetinfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetnewsmsamountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='kt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetnewsmsamountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetrentedlistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='kt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetrentedlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='application' type='xsd:int' minOccurs='0' />
                  <xsd:element name='beginning' type='xsd:date' minOccurs='0' />
                  <xsd:element name='property' type='xsd:string' minOccurs='0' />
                  <xsd:element name='apply_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:date' minOccurs='0' />
                  <xsd:element name='choice_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetsmsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='kt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetsmsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetticketsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='kt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberGetticketsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberUpdatesmsstatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='kt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='smsid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberUpdatesmsstatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberVerifyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='kt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pass' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='memberVerifyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mobileTopnewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mobileTopnewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertyGetinfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertyGetinfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertyGettypesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertyGettypesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertyPeriodGetymexcdaysParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='month' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='propertyid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='year' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertyPeriodGetymexcdaysResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertyPeriodGetymperiodsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='month' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='propertyid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='year' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertyPeriodGetymperiodsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propetyFindParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bed' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='size' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='attr' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propetyFindResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rooms' type='xsd:int' minOccurs='0' />
                  <xsd:element name='area_size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='picture_url' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='region' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sleeping_spaces' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='systemGetunionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='systemGetunionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='data' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ticketFindParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ticketFindResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ticketGetorderpaymentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='orderid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sign' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='union' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ticketGetorderpaymentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='applyGetdetailRequestMessage'>
    <part name='parameters' element='tns:applyGetdetailParameters' />
  </message>
  <message name='applyGetdetailResponseMessage'>
    <part name='response' element='tns:applyGetdetailResponse' />
  </message>
  <message name='caretakerVerifyRequestMessage'>
    <part name='parameters' element='tns:caretakerVerifyParameters' />
  </message>
  <message name='caretakerVerifyResponseMessage'>
    <part name='response' element='tns:caretakerVerifyResponse' />
  </message>
  <message name='couponFindRequestMessage'>
    <part name='parameters' element='tns:couponFindParameters' />
  </message>
  <message name='couponFindResponseMessage'>
    <part name='response' element='tns:couponFindResponse' />
  </message>
  <message name='grantsGetlistRequestMessage'>
    <part name='parameters' element='tns:grantsGetlistParameters' />
  </message>
  <message name='grantsGetlistResponseMessage'>
    <part name='response' element='tns:grantsGetlistResponse' />
  </message>
  <message name='memberGetapplicationsRequestMessage'>
    <part name='parameters' element='tns:memberGetapplicationsParameters' />
  </message>
  <message name='memberGetapplicationsResponseMessage'>
    <part name='response' element='tns:memberGetapplicationsResponse' />
  </message>
  <message name='memberGetinfoRequestMessage'>
    <part name='parameters' element='tns:memberGetinfoParameters' />
  </message>
  <message name='memberGetinfoResponseMessage'>
    <part name='response' element='tns:memberGetinfoResponse' />
  </message>
  <message name='memberGetnewsmsamountRequestMessage'>
    <part name='parameters' element='tns:memberGetnewsmsamountParameters' />
  </message>
  <message name='memberGetnewsmsamountResponseMessage'>
    <part name='response' element='tns:memberGetnewsmsamountResponse' />
  </message>
  <message name='memberGetrentedlistRequestMessage'>
    <part name='parameters' element='tns:memberGetrentedlistParameters' />
  </message>
  <message name='memberGetrentedlistResponseMessage'>
    <part name='response' element='tns:memberGetrentedlistResponse' />
  </message>
  <message name='memberGetsmsRequestMessage'>
    <part name='parameters' element='tns:memberGetsmsParameters' />
  </message>
  <message name='memberGetsmsResponseMessage'>
    <part name='response' element='tns:memberGetsmsResponse' />
  </message>
  <message name='memberGetticketsRequestMessage'>
    <part name='parameters' element='tns:memberGetticketsParameters' />
  </message>
  <message name='memberGetticketsResponseMessage'>
    <part name='response' element='tns:memberGetticketsResponse' />
  </message>
  <message name='memberUpdatesmsstatusRequestMessage'>
    <part name='parameters' element='tns:memberUpdatesmsstatusParameters' />
  </message>
  <message name='memberUpdatesmsstatusResponseMessage'>
    <part name='response' element='tns:memberUpdatesmsstatusResponse' />
  </message>
  <message name='memberVerifyRequestMessage'>
    <part name='parameters' element='tns:memberVerifyParameters' />
  </message>
  <message name='memberVerifyResponseMessage'>
    <part name='response' element='tns:memberVerifyResponse' />
  </message>
  <message name='mobileTopnewsRequestMessage'>
    <part name='parameters' element='tns:mobileTopnewsParameters' />
  </message>
  <message name='mobileTopnewsResponseMessage'>
    <part name='response' element='tns:mobileTopnewsResponse' />
  </message>
  <message name='propertyGetinfoRequestMessage'>
    <part name='parameters' element='tns:propertyGetinfoParameters' />
  </message>
  <message name='propertyGetinfoResponseMessage'>
    <part name='response' element='tns:propertyGetinfoResponse' />
  </message>
  <message name='propertyGettypesRequestMessage'>
    <part name='parameters' element='tns:propertyGettypesParameters' />
  </message>
  <message name='propertyGettypesResponseMessage'>
    <part name='response' element='tns:propertyGettypesResponse' />
  </message>
  <message name='propertyPeriodGetymexcdaysRequestMessage'>
    <part name='parameters' element='tns:propertyPeriodGetymexcdaysParameters' />
  </message>
  <message name='propertyPeriodGetymexcdaysResponseMessage'>
    <part name='response' element='tns:propertyPeriodGetymexcdaysResponse' />
  </message>
  <message name='propertyPeriodGetymperiodsRequestMessage'>
    <part name='parameters' element='tns:propertyPeriodGetymperiodsParameters' />
  </message>
  <message name='propertyPeriodGetymperiodsResponseMessage'>
    <part name='response' element='tns:propertyPeriodGetymperiodsResponse' />
  </message>
  <message name='propetyFindRequestMessage'>
    <part name='parameters' element='tns:propetyFindParameters' />
  </message>
  <message name='propetyFindResponseMessage'>
    <part name='response' element='tns:propetyFindResponse' />
  </message>
  <message name='systemGetunionsRequestMessage'>
    <part name='parameters' element='tns:systemGetunionsParameters' />
  </message>
  <message name='systemGetunionsResponseMessage'>
    <part name='response' element='tns:systemGetunionsResponse' />
  </message>
  <message name='ticketFindRequestMessage'>
    <part name='parameters' element='tns:ticketFindParameters' />
  </message>
  <message name='ticketFindResponseMessage'>
    <part name='response' element='tns:ticketFindResponse' />
  </message>
  <message name='ticketGetorderpaymentRequestMessage'>
    <part name='parameters' element='tns:ticketGetorderpaymentParameters' />
  </message>
  <message name='ticketGetorderpaymentResponseMessage'>
    <part name='response' element='tns:ticketGetorderpaymentResponse' />
  </message>
  <portType name='frimannPortType'>
    <operation name='applyGetdetail'>
      <documentation>get details by apply id</documentation>
      <input message='tns:applyGetdetailRequestMessage' name='applyGetdetailInput' />
      <output message='tns:applyGetdetailResponseMessage' name='applyGetdetailOutput' />
    </operation>
    <operation name='caretakerVerify'>
      <input message='tns:caretakerVerifyRequestMessage' name='caretakerVerifyInput' />
      <output message='tns:caretakerVerifyResponseMessage' name='caretakerVerifyOutput' />
    </operation>
    <operation name='couponFind'>
      <documentation>find coupon</documentation>
      <input message='tns:couponFindRequestMessage' name='couponFindInput' />
      <output message='tns:couponFindResponseMessage' name='couponFindOutput' />
    </operation>
    <operation name='grantsGetlist'>
      <documentation>get grants list</documentation>
      <input message='tns:grantsGetlistRequestMessage' name='grantsGetlistInput' />
      <output message='tns:grantsGetlistResponseMessage' name='grantsGetlistOutput' />
    </operation>
    <operation name='memberGetapplications'>
      <documentation>get application history</documentation>
      <input message='tns:memberGetapplicationsRequestMessage' name='memberGetapplicationsInput' />
      <output message='tns:memberGetapplicationsResponseMessage' name='memberGetapplicationsOutput' />
    </operation>
    <operation name='memberGetinfo'>
      <documentation>get info of member</documentation>
      <input message='tns:memberGetinfoRequestMessage' name='memberGetinfoInput' />
      <output message='tns:memberGetinfoResponseMessage' name='memberGetinfoOutput' />
    </operation>
    <operation name='memberGetnewsmsamount'>
      <documentation>get new sms amount</documentation>
      <input message='tns:memberGetnewsmsamountRequestMessage' name='memberGetnewsmsamountInput' />
      <output message='tns:memberGetnewsmsamountResponseMessage' name='memberGetnewsmsamountOutput' />
    </operation>
    <operation name='memberGetrentedlist'>
      <documentation>get rented order list</documentation>
      <input message='tns:memberGetrentedlistRequestMessage' name='memberGetrentedlistInput' />
      <output message='tns:memberGetrentedlistResponseMessage' name='memberGetrentedlistOutput' />
    </operation>
    <operation name='memberGetsms'>
      <documentation>get sms</documentation>
      <input message='tns:memberGetsmsRequestMessage' name='memberGetsmsInput' />
      <output message='tns:memberGetsmsResponseMessage' name='memberGetsmsOutput' />
    </operation>
    <operation name='memberGettickets'>
      <documentation>get tickets order</documentation>
      <input message='tns:memberGetticketsRequestMessage' name='memberGetticketsInput' />
      <output message='tns:memberGetticketsResponseMessage' name='memberGetticketsOutput' />
    </operation>
    <operation name='memberUpdatesmsstatus'>
      <documentation>update sms status after people read it</documentation>
      <input message='tns:memberUpdatesmsstatusRequestMessage' name='memberUpdatesmsstatusInput' />
      <output message='tns:memberUpdatesmsstatusResponseMessage' name='memberUpdatesmsstatusOutput' />
    </operation>
    <operation name='memberVerify'>
      <documentation>verify a member in specific union</documentation>
      <input message='tns:memberVerifyRequestMessage' name='memberVerifyInput' />
      <output message='tns:memberVerifyResponseMessage' name='memberVerifyOutput' />
    </operation>
    <operation name='mobileTopnews'>
      <documentation>get top news for mobile home page</documentation>
      <input message='tns:mobileTopnewsRequestMessage' name='mobileTopnewsInput' />
      <output message='tns:mobileTopnewsResponseMessage' name='mobileTopnewsOutput' />
    </operation>
    <operation name='propertyGetinfo'>
      <documentation>get Basic information of a single property</documentation>
      <input message='tns:propertyGetinfoRequestMessage' name='propertyGetinfoInput' />
      <output message='tns:propertyGetinfoResponseMessage' name='propertyGetinfoOutput' />
    </operation>
    <operation name='propertyGettypes'>
      <documentation>get all types of properties</documentation>
      <input message='tns:propertyGettypesRequestMessage' name='propertyGettypesInput' />
      <output message='tns:propertyGettypesResponseMessage' name='propertyGettypesOutput' />
    </operation>
    <operation name='propertyPeriodGetymexcdays'>
      <documentation></documentation>
      <input message='tns:propertyPeriodGetymexcdaysRequestMessage' name='propertyPeriodGetymexcdaysInput' />
      <output message='tns:propertyPeriodGetymexcdaysResponseMessage' name='propertyPeriodGetymexcdaysOutput' />
    </operation>
    <operation name='propertyPeriodGetymperiods'>
      <documentation>get periods of a property in a year or a month</documentation>
      <input message='tns:propertyPeriodGetymperiodsRequestMessage' name='propertyPeriodGetymperiodsInput' />
      <output message='tns:propertyPeriodGetymperiodsResponseMessage' name='propertyPeriodGetymperiodsOutput' />
    </operation>
    <operation name='propetyFind'>
      <documentation>find properties according to some searching fields</documentation>
      <input message='tns:propetyFindRequestMessage' name='propetyFindInput' />
      <output message='tns:propetyFindResponseMessage' name='propetyFindOutput' />
    </operation>
    <operation name='systemGetunions'>
      <documentation></documentation>
      <input message='tns:systemGetunionsRequestMessage' name='systemGetunionsInput' />
      <output message='tns:systemGetunionsResponseMessage' name='systemGetunionsOutput' />
    </operation>
    <operation name='ticketFind'>
      <documentation>get ticket list</documentation>
      <input message='tns:ticketFindRequestMessage' name='ticketFindInput' />
      <output message='tns:ticketFindResponseMessage' name='ticketFindOutput' />
    </operation>
    <operation name='ticketGetorderpayment'>
      <documentation>get specific ticket info</documentation>
      <input message='tns:ticketGetorderpaymentRequestMessage' name='ticketGetorderpaymentInput' />
      <output message='tns:ticketGetorderpaymentResponseMessage' name='ticketGetorderpaymentOutput' />
    </operation>
  </portType>
  <binding name='frimannBinding' type='tns:frimannPortType'>
    <operation name='applyGetdetail'>
      <soap12:operation soapAction='http://applyGetdetail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='caretakerVerify'>
      <soap12:operation soapAction='http://caretakerVerify' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='couponFind'>
      <soap12:operation soapAction='http://couponFind' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='grantsGetlist'>
      <soap12:operation soapAction='http://grantsGetlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='memberGetapplications'>
      <soap12:operation soapAction='http://memberGetapplications' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='memberGetinfo'>
      <soap12:operation soapAction='http://memberGetinfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='memberGetnewsmsamount'>
      <soap12:operation soapAction='http://memberGetnewsmsamount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='memberGetrentedlist'>
      <soap12:operation soapAction='http://memberGetrentedlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='memberGetsms'>
      <soap12:operation soapAction='http://memberGetsms' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='memberGettickets'>
      <soap12:operation soapAction='http://memberGettickets' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='memberUpdatesmsstatus'>
      <soap12:operation soapAction='http://memberUpdatesmsstatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='memberVerify'>
      <soap12:operation soapAction='http://memberVerify' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mobileTopnews'>
      <soap12:operation soapAction='http://mobileTopnews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='propertyGetinfo'>
      <soap12:operation soapAction='http://propertyGetinfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='propertyGettypes'>
      <soap12:operation soapAction='http://propertyGettypes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='propertyPeriodGetymexcdays'>
      <soap12:operation soapAction='http://propertyPeriodGetymexcdays' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='propertyPeriodGetymperiods'>
      <soap12:operation soapAction='http://propertyPeriodGetymperiods' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='propetyFind'>
      <soap12:operation soapAction='http://propetyFind' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='systemGetunions'>
      <soap12:operation soapAction='http://systemGetunions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ticketFind'>
      <soap12:operation soapAction='http://ticketFind' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ticketGetorderpayment'>
      <soap12:operation soapAction='http://ticketGetorderpayment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='frimann'>
    <documentation>this is a API for Fr mann rental system The goal is to provide complete access to all of Fr mann s functions for our clients</documentation>
    <port name='frimannPort' binding='tns:frimannBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://frimann' />
    </port>
  </service>
</definitions>