workspace/datasets/mashape_dataset/gaana.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/gaana/' name='gaana' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/gaana/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/gaana/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/gaana/'>
      <xsd:element name='metaDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subtype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='metaDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user-token-status' type='xsd:int' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='user_token_status' type='xsd:int' minOccurs='0' />
            <xsd:element name='tracks' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='seokey' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='track_format' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='mp3' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='normal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='high' type='xsd:int' minOccurs='0' />
                              <xsd:element name='medium' type='xsd:int' minOccurs='0' />
                              <xsd:element name='extreme' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='mp4_aac' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='normal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='high' type='xsd:int' minOccurs='0' />
                              <xsd:element name='medium' type='xsd:int' minOccurs='0' />
                              <xsd:element name='extreme' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='artist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='gener' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='genre_id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='track_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='isrc' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rtsp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='artwork' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='display_global' type='xsd:int' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rtmp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_most_popular' type='xsd:int' minOccurs='0' />
                  <xsd:element name='content_source' type='xsd:int' minOccurs='0' />
                  <xsd:element name='track_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='albumseokey' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='popularity' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='stream_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='http' type='xsd:int' minOccurs='0' />
                  <xsd:element name='album_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='https' type='xsd:int' minOccurs='0' />
                  <xsd:element name='artwork_large' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='album_title' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Status' type='xsd:int' minOccurs='0' />
            <xsd:element name='regtoken' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='user-token-status' type='xsd:int' minOccurs='0' />
            <xsd:element name='user_token_status' type='xsd:int' minOccurs='0' />
            <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='metaDataRequestMessage'>
    <part name='parameters' element='tns:metaDataParameters' />
  </message>
  <message name='metaDataResponseMessage'>
    <part name='response' element='tns:metaDataResponse' />
  </message>
  <message name='userDataRequestMessage'>
    <part name='parameters' element='tns:userDataParameters' />
  </message>
  <message name='userDataResponseMessage'>
    <part name='response' element='tns:userDataResponse' />
  </message>
  <portType name='gaanaPortType'>
    <operation name='metaData'>
      <documentation>consists of Tracks Albums Artists Genre Playlist Search and Miscellaneous Please refer to http developer gaana com resources meta data api for parameter keys and values</documentation>
      <input message='tns:metaDataRequestMessage' name='metaDataInput' />
      <output message='tns:metaDataResponseMessage' name='metaDataOutput' />
    </operation>
    <operation name='userData'>
      <documentation>consists of Login Management My Favorites Recent Action Playlist Action and Friend Management Please refer to http developer gaana com resources user data api for parameter keys and values</documentation>
      <input message='tns:userDataRequestMessage' name='userDataInput' />
      <output message='tns:userDataResponseMessage' name='userDataOutput' />
    </operation>
  </portType>
  <binding name='gaanaBinding' type='tns:gaanaPortType'>
    <operation name='metaData'>
      <soap12:operation soapAction='http://metaData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userData'>
      <soap12:operation soapAction='http://userData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='gaana'>
    <documentation>listen to free music online on Gaana com Search and Play Free Music Online Listen music songs online Listen to any song online for free at Gaana com</documentation>
    <port name='gaanaPort' binding='tns:gaanaBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://gaana' />
    </port>
  </service>
</definitions>