workspace/datasets/mashape_dataset/gaanacomsongsdownload.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/gaanaComSongsDownload/' name='gaanaComSongsDownload' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/gaanaComSongsDownload/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/gaanaComSongsDownload/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/gaanaComSongsDownload/'>
      <xsd:element name='downloadTracksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='trackid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadTracksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='downloadLink' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='downloadProvider' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='powerdBy' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='featuredAlbumsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user-token-status' type='xsd:int' minOccurs='0' />
            <xsd:element name='album' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='primaryartist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='seokey' type='xsd:string' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='artist_id' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='seokey' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recordlevel' type='xsd:string' minOccurs='0' />
                  <xsd:element name='artist' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='seokey' type='xsd:string' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='gener' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='gener_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='artwork' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='release_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='trackids' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='album_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='favorite_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='custom_artworks' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n110x110' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='n480x480' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='n40x40' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='n175x175' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='n80x80' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='trackcount' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='user_token_status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newReleasesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user-token-status' type='xsd:int' minOccurs='0' />
            <xsd:element name='album' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='primaryartist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='seokey' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='country' type='xsd:int' minOccurs='0' />
                  <xsd:element name='seokey' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recordlevel' type='xsd:string' minOccurs='0' />
                  <xsd:element name='artist' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='seokey' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='gener' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='gener_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mobile' type='xsd:int' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='artwork' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='release_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='trackids' type='xsd:int' minOccurs='0' />
                  <xsd:element name='album_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='favorite_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='custom_artworks' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='n110x110' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='n480x480' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='n40x40' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='n175x175' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='n80x80' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='trackcount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='user_token_status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='popularTracksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user-token-status' type='xsd:int' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='user_token_status' type='xsd:int' minOccurs='0' />
            <xsd:element name='tracks' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:int' minOccurs='0' />
                  <xsd:element name='artist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='seokey' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rtmp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_url' type='xsd:string' minOccurs='0' />
                  <xsd:element name='content_source' type='xsd:int' minOccurs='0' />
                  <xsd:element name='albumseokey' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='vendor' type='xsd:int' minOccurs='0' />
                  <xsd:element name='popularity' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='stream_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='https' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lyrics_url' type='xsd:string' minOccurs='0' />
                  <xsd:element name='artwork_large' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='seokey' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='track_format' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='mp3' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='normal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='high' type='xsd:int' minOccurs='0' />
                              <xsd:element name='medium' type='xsd:int' minOccurs='0' />
                              <xsd:element name='extreme' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='mp4_aac' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='normal' type='xsd:int' minOccurs='0' />
                              <xsd:element name='high' type='xsd:int' minOccurs='0' />
                              <xsd:element name='medium' type='xsd:int' minOccurs='0' />
                              <xsd:element name='extreme' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='gener' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='genre_id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='track_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='mobile' type='xsd:int' minOccurs='0' />
                  <xsd:element name='isrc' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rtsp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='artwork' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='display_global' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_most_popular' type='xsd:int' minOccurs='0' />
                  <xsd:element name='track_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='http' type='xsd:int' minOccurs='0' />
                  <xsd:element name='album_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='artwork_web' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='album_title' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='term' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='url_link' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='seo_url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='datatype' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='datavalue' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='popularity' type='xsd:int' minOccurs='0' />
                  <xsd:element name='release_year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='primary_artist' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='downloadTracksRequestMessage'>
    <part name='parameters' element='tns:downloadTracksParameters' />
  </message>
  <message name='downloadTracksResponseMessage'>
    <part name='response' element='tns:downloadTracksResponse' />
  </message>
  <message name='featuredAlbumsRequestMessage' />
  <message name='featuredAlbumsResponseMessage'>
    <part name='response' element='tns:featuredAlbumsResponse' />
  </message>
  <message name='newReleasesRequestMessage' />
  <message name='newReleasesResponseMessage'>
    <part name='response' element='tns:newReleasesResponse' />
  </message>
  <message name='popularTracksRequestMessage' />
  <message name='popularTracksResponseMessage'>
    <part name='response' element='tns:popularTracksResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <portType name='gaanaComSongsDownloadPortType'>
    <operation name='downloadTracks'>
      <documentation>download Tracks Track id Required</documentation>
      <input message='tns:downloadTracksRequestMessage' name='downloadTracksInput' />
      <output message='tns:downloadTracksResponseMessage' name='downloadTracksOutput' />
    </operation>
    <operation name='featuredAlbums'>
      <input message='tns:featuredAlbumsRequestMessage' name='featuredAlbumsInput' />
      <output message='tns:featuredAlbumsResponseMessage' name='featuredAlbumsOutput' />
    </operation>
    <operation name='newReleases'>
      <documentation>new Albums</documentation>
      <input message='tns:newReleasesRequestMessage' name='newReleasesInput' />
      <output message='tns:newReleasesResponseMessage' name='newReleasesOutput' />
    </operation>
    <operation name='popularTracks'>
      <documentation></documentation>
      <input message='tns:popularTracksRequestMessage' name='popularTracksInput' />
      <output message='tns:popularTracksResponseMessage' name='popularTracksOutput' />
    </operation>
    <operation name='search'>
      <documentation>search Albums Tracks Artists etc</documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
  </portType>
  <binding name='gaanaComSongsDownloadBinding' type='tns:gaanaComSongsDownloadPortType'>
    <operation name='downloadTracks'>
      <soap12:operation soapAction='http://downloadTracks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='featuredAlbums'>
      <soap12:operation soapAction='http://featuredAlbums' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newReleases'>
      <soap12:operation soapAction='http://newReleases' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='popularTracks'>
      <soap12:operation soapAction='http://popularTracks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='gaanaComSongsDownload'>
    <documentation>download free music from gaana com Using this API you can search for Songs Albums browse New Albums Tracks etc This is unofficial API of gaana com Gaana com provides both Indian and international music content The entire Indian music catalog is available to users worldwide</documentation>
    <port name='gaanaComSongsDownloadPort' binding='tns:gaanaComSongsDownloadBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://gaanaComSongsDownload' />
    </port>
  </service>
</definitions>