workspace/datasets/mashape_dataset/gamerank.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/gamerank/' name='gamerank' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/gamerank/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/gamerank/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/gamerank/'>
      <xsd:element name='addPlayResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletePlayParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletePlayResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLatestSolutionDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='realmid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLatestSolutionDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPlayerInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='realmid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPlayerInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProblemInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='realmid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProblemInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatePlayerInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatePlayerInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateProblemInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateProblemInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addPlayRequestMessage' />
  <message name='addPlayResponseMessage'>
    <part name='response' element='tns:addPlayResponse' />
  </message>
  <message name='deletePlayRequestMessage'>
    <part name='parameters' element='tns:deletePlayParameters' />
  </message>
  <message name='deletePlayResponseMessage'>
    <part name='response' element='tns:deletePlayResponse' />
  </message>
  <message name='getLatestSolutionDateRequestMessage'>
    <part name='parameters' element='tns:getLatestSolutionDateParameters' />
  </message>
  <message name='getLatestSolutionDateResponseMessage'>
    <part name='response' element='tns:getLatestSolutionDateResponse' />
  </message>
  <message name='getPlayerInfoRequestMessage'>
    <part name='parameters' element='tns:getPlayerInfoParameters' />
  </message>
  <message name='getPlayerInfoResponseMessage'>
    <part name='response' element='tns:getPlayerInfoResponse' />
  </message>
  <message name='getProblemInfoRequestMessage'>
    <part name='parameters' element='tns:getProblemInfoParameters' />
  </message>
  <message name='getProblemInfoResponseMessage'>
    <part name='response' element='tns:getProblemInfoResponse' />
  </message>
  <message name='updatePlayerInfoRequestMessage'>
    <part name='parameters' element='tns:updatePlayerInfoParameters' />
  </message>
  <message name='updatePlayerInfoResponseMessage'>
    <part name='response' element='tns:updatePlayerInfoResponse' />
  </message>
  <message name='updateProblemInfoRequestMessage'>
    <part name='parameters' element='tns:updateProblemInfoParameters' />
  </message>
  <message name='updateProblemInfoResponseMessage'>
    <part name='response' element='tns:updateProblemInfoResponse' />
  </message>
  <portType name='gamerankPortType'>
    <operation name='addPlay'>
      <documentation>cURL example curl i H Accept application json d player id problem id solution score solution duration start date end date platform windows http www crowdranker org gamerank default api plays json</documentation>
      <input message='tns:addPlayRequestMessage' name='addPlayInput' />
      <output message='tns:addPlayResponseMessage' name='addPlayOutput' />
    </operation>
    <operation name='deletePlay'>
      <documentation></documentation>
      <input message='tns:deletePlayRequestMessage' name='deletePlayInput' />
      <output message='tns:deletePlayResponseMessage' name='deletePlayOutput' />
    </operation>
    <operation name='getLatestSolutionDate'>
      <documentation></documentation>
      <input message='tns:getLatestSolutionDateRequestMessage' name='getLatestSolutionDateInput' />
      <output message='tns:getLatestSolutionDateResponseMessage' name='getLatestSolutionDateOutput' />
    </operation>
    <operation name='getPlayerInfo'>
      <documentation></documentation>
      <input message='tns:getPlayerInfoRequestMessage' name='getPlayerInfoInput' />
      <output message='tns:getPlayerInfoResponseMessage' name='getPlayerInfoOutput' />
    </operation>
    <operation name='getProblemInfo'>
      <documentation></documentation>
      <input message='tns:getProblemInfoRequestMessage' name='getProblemInfoInput' />
      <output message='tns:getProblemInfoResponseMessage' name='getProblemInfoOutput' />
    </operation>
    <operation name='updatePlayerInfo'>
      <documentation></documentation>
      <input message='tns:updatePlayerInfoRequestMessage' name='updatePlayerInfoInput' />
      <output message='tns:updatePlayerInfoResponseMessage' name='updatePlayerInfoOutput' />
    </operation>
    <operation name='updateProblemInfo'>
      <documentation></documentation>
      <input message='tns:updateProblemInfoRequestMessage' name='updateProblemInfoInput' />
      <output message='tns:updateProblemInfoResponseMessage' name='updateProblemInfoOutput' />
    </operation>
  </portType>
  <binding name='gamerankBinding' type='tns:gamerankPortType'>
    <operation name='addPlay'>
      <soap12:operation soapAction='http://addPlay' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletePlay'>
      <soap12:operation soapAction='http://deletePlay' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLatestSolutionDate'>
      <soap12:operation soapAction='http://getLatestSolutionDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPlayerInfo'>
      <soap12:operation soapAction='http://getPlayerInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getProblemInfo'>
      <soap12:operation soapAction='http://getProblemInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatePlayerInfo'>
      <soap12:operation soapAction='http://updatePlayerInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateProblemInfo'>
      <soap12:operation soapAction='http://updateProblemInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='gamerank'>
    <documentation>the GameRank API can be used to access update delete and insert information about players games and plays in a game Reputation System The reputation system ranks players by quality and ranks games by difficulty</documentation>
    <port name='gamerankPort' binding='tns:gamerankBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://gamerank' />
    </port>
  </service>
</definitions>