workspace/datasets/mashape_dataset/geeklist.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/geeklist/' name='geeklist' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/geeklist/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/geeklist/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/geeklist/'>
      <xsd:element name='allActivityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='feed' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hash' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allActivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authenticatedUsersDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createCardParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='headline' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createCardResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createLinkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createMicroResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='followUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='followUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthenticatedUsersActivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthenticatedUsersCardsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='featured' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthenticatedUsersCardsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthenticatedUsersConnectionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthenticatedUsersContributionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='featured' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthenticatedUsersContributionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthenticatedUsersFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthenticatedUsersFollowingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthenticatedUsersLinksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthenticatedUsersMicrosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getIndividualLinkParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getIndividualLinkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getIndividualMicroParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getIndividualMicroResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPopularLinksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='communities' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPopularLinksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersActivityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersActivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersCardsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='featured' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersCardsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersConnectionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersConnectionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersContributionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='featured' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersContributionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersFollowersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersFollowingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersFollowingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersLinksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersLinksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersMicrosParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecifiedUsersMicrosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='highfiveItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gfk' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='highfiveItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oldFollowUnfollowUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedUsersDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='specifiedUsersDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unfollowUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unfollowUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='voteForLinkParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='voteForLinkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='allActivityRequestMessage'>
    <part name='parameters' element='tns:allActivityParameters' />
  </message>
  <message name='allActivityResponseMessage'>
    <part name='response' element='tns:allActivityResponse' />
  </message>
  <message name='authenticatedUsersDataRequestMessage' />
  <message name='authenticatedUsersDataResponseMessage'>
    <part name='response' element='tns:authenticatedUsersDataResponse' />
  </message>
  <message name='createCardRequestMessage'>
    <part name='parameters' element='tns:createCardParameters' />
  </message>
  <message name='createCardResponseMessage'>
    <part name='response' element='tns:createCardResponse' />
  </message>
  <message name='createLinkRequestMessage' />
  <message name='createLinkResponseMessage'>
    <part name='response' element='tns:createLinkResponse' />
  </message>
  <message name='createMicroRequestMessage' />
  <message name='createMicroResponseMessage'>
    <part name='response' element='tns:createMicroResponse' />
  </message>
  <message name='followUserRequestMessage'>
    <part name='parameters' element='tns:followUserParameters' />
  </message>
  <message name='followUserResponseMessage'>
    <part name='response' element='tns:followUserResponse' />
  </message>
  <message name='getAuthenticatedUsersActivityRequestMessage' />
  <message name='getAuthenticatedUsersActivityResponseMessage'>
    <part name='response' element='tns:getAuthenticatedUsersActivityResponse' />
  </message>
  <message name='getAuthenticatedUsersCardsRequestMessage'>
    <part name='parameters' element='tns:getAuthenticatedUsersCardsParameters' />
  </message>
  <message name='getAuthenticatedUsersCardsResponseMessage'>
    <part name='response' element='tns:getAuthenticatedUsersCardsResponse' />
  </message>
  <message name='getAuthenticatedUsersConnectionsRequestMessage' />
  <message name='getAuthenticatedUsersConnectionsResponseMessage'>
    <part name='response' element='tns:getAuthenticatedUsersConnectionsResponse' />
  </message>
  <message name='getAuthenticatedUsersContributionsRequestMessage'>
    <part name='parameters' element='tns:getAuthenticatedUsersContributionsParameters' />
  </message>
  <message name='getAuthenticatedUsersContributionsResponseMessage'>
    <part name='response' element='tns:getAuthenticatedUsersContributionsResponse' />
  </message>
  <message name='getAuthenticatedUsersFollowersRequestMessage' />
  <message name='getAuthenticatedUsersFollowersResponseMessage'>
    <part name='response' element='tns:getAuthenticatedUsersFollowersResponse' />
  </message>
  <message name='getAuthenticatedUsersFollowingRequestMessage' />
  <message name='getAuthenticatedUsersFollowingResponseMessage'>
    <part name='response' element='tns:getAuthenticatedUsersFollowingResponse' />
  </message>
  <message name='getAuthenticatedUsersLinksRequestMessage' />
  <message name='getAuthenticatedUsersLinksResponseMessage'>
    <part name='response' element='tns:getAuthenticatedUsersLinksResponse' />
  </message>
  <message name='getAuthenticatedUsersMicrosRequestMessage' />
  <message name='getAuthenticatedUsersMicrosResponseMessage'>
    <part name='response' element='tns:getAuthenticatedUsersMicrosResponse' />
  </message>
  <message name='getIndividualLinkRequestMessage'>
    <part name='parameters' element='tns:getIndividualLinkParameters' />
  </message>
  <message name='getIndividualLinkResponseMessage'>
    <part name='response' element='tns:getIndividualLinkResponse' />
  </message>
  <message name='getIndividualMicroRequestMessage'>
    <part name='parameters' element='tns:getIndividualMicroParameters' />
  </message>
  <message name='getIndividualMicroResponseMessage'>
    <part name='response' element='tns:getIndividualMicroResponse' />
  </message>
  <message name='getPopularLinksRequestMessage'>
    <part name='parameters' element='tns:getPopularLinksParameters' />
  </message>
  <message name='getPopularLinksResponseMessage'>
    <part name='response' element='tns:getPopularLinksResponse' />
  </message>
  <message name='getSpecifiedUsersActivityRequestMessage'>
    <part name='parameters' element='tns:getSpecifiedUsersActivityParameters' />
  </message>
  <message name='getSpecifiedUsersActivityResponseMessage'>
    <part name='response' element='tns:getSpecifiedUsersActivityResponse' />
  </message>
  <message name='getSpecifiedUsersCardsRequestMessage'>
    <part name='parameters' element='tns:getSpecifiedUsersCardsParameters' />
  </message>
  <message name='getSpecifiedUsersCardsResponseMessage'>
    <part name='response' element='tns:getSpecifiedUsersCardsResponse' />
  </message>
  <message name='getSpecifiedUsersConnectionsRequestMessage'>
    <part name='parameters' element='tns:getSpecifiedUsersConnectionsParameters' />
  </message>
  <message name='getSpecifiedUsersConnectionsResponseMessage'>
    <part name='response' element='tns:getSpecifiedUsersConnectionsResponse' />
  </message>
  <message name='getSpecifiedUsersContributionsRequestMessage'>
    <part name='parameters' element='tns:getSpecifiedUsersContributionsParameters' />
  </message>
  <message name='getSpecifiedUsersContributionsResponseMessage'>
    <part name='response' element='tns:getSpecifiedUsersContributionsResponse' />
  </message>
  <message name='getSpecifiedUsersFollowersRequestMessage'>
    <part name='parameters' element='tns:getSpecifiedUsersFollowersParameters' />
  </message>
  <message name='getSpecifiedUsersFollowersResponseMessage'>
    <part name='response' element='tns:getSpecifiedUsersFollowersResponse' />
  </message>
  <message name='getSpecifiedUsersFollowingRequestMessage'>
    <part name='parameters' element='tns:getSpecifiedUsersFollowingParameters' />
  </message>
  <message name='getSpecifiedUsersFollowingResponseMessage'>
    <part name='response' element='tns:getSpecifiedUsersFollowingResponse' />
  </message>
  <message name='getSpecifiedUsersLinksRequestMessage'>
    <part name='parameters' element='tns:getSpecifiedUsersLinksParameters' />
  </message>
  <message name='getSpecifiedUsersLinksResponseMessage'>
    <part name='response' element='tns:getSpecifiedUsersLinksResponse' />
  </message>
  <message name='getSpecifiedUsersMicrosRequestMessage'>
    <part name='parameters' element='tns:getSpecifiedUsersMicrosParameters' />
  </message>
  <message name='getSpecifiedUsersMicrosResponseMessage'>
    <part name='response' element='tns:getSpecifiedUsersMicrosResponse' />
  </message>
  <message name='highfiveItemRequestMessage'>
    <part name='parameters' element='tns:highfiveItemParameters' />
  </message>
  <message name='highfiveItemResponseMessage'>
    <part name='response' element='tns:highfiveItemResponse' />
  </message>
  <message name='oldFollowUnfollowUserRequestMessage' />
  <message name='oldFollowUnfollowUserResponseMessage'>
    <part name='response' element='tns:oldFollowUnfollowUserResponse' />
  </message>
  <message name='specifiedUsersDataRequestMessage'>
    <part name='parameters' element='tns:specifiedUsersDataParameters' />
  </message>
  <message name='specifiedUsersDataResponseMessage'>
    <part name='response' element='tns:specifiedUsersDataResponse' />
  </message>
  <message name='unfollowUserRequestMessage'>
    <part name='parameters' element='tns:unfollowUserParameters' />
  </message>
  <message name='unfollowUserResponseMessage'>
    <part name='response' element='tns:unfollowUserResponse' />
  </message>
  <message name='voteForLinkRequestMessage'>
    <part name='parameters' element='tns:voteForLinkParameters' />
  </message>
  <message name='voteForLinkResponseMessage'>
    <part name='response' element='tns:voteForLinkResponse' />
  </message>
  <portType name='geeklistPortType'>
    <operation name='allActivity'>
      <documentation></documentation>
      <input message='tns:allActivityRequestMessage' name='allActivityInput' />
      <output message='tns:allActivityResponseMessage' name='allActivityOutput' />
    </operation>
    <operation name='authenticatedUsersData'>
      <documentation></documentation>
      <input message='tns:authenticatedUsersDataRequestMessage' name='authenticatedUsersDataInput' />
      <output message='tns:authenticatedUsersDataResponseMessage' name='authenticatedUsersDataOutput' />
    </operation>
    <operation name='createCard'>
      <documentation></documentation>
      <input message='tns:createCardRequestMessage' name='createCardInput' />
      <output message='tns:createCardResponseMessage' name='createCardOutput' />
    </operation>
    <operation name='createLink'>
      <documentation></documentation>
      <input message='tns:createLinkRequestMessage' name='createLinkInput' />
      <output message='tns:createLinkResponseMessage' name='createLinkOutput' />
    </operation>
    <operation name='createMicro'>
      <documentation></documentation>
      <input message='tns:createMicroRequestMessage' name='createMicroInput' />
      <output message='tns:createMicroResponseMessage' name='createMicroOutput' />
    </operation>
    <operation name='followUser'>
      <documentation></documentation>
      <input message='tns:followUserRequestMessage' name='followUserInput' />
      <output message='tns:followUserResponseMessage' name='followUserOutput' />
    </operation>
    <operation name='getAuthenticatedUsersActivity'>
      <documentation></documentation>
      <input message='tns:getAuthenticatedUsersActivityRequestMessage' name='getAuthenticatedUsersActivityInput' />
      <output message='tns:getAuthenticatedUsersActivityResponseMessage' name='getAuthenticatedUsersActivityOutput' />
    </operation>
    <operation name='getAuthenticatedUsersCards'>
      <documentation></documentation>
      <input message='tns:getAuthenticatedUsersCardsRequestMessage' name='getAuthenticatedUsersCardsInput' />
      <output message='tns:getAuthenticatedUsersCardsResponseMessage' name='getAuthenticatedUsersCardsOutput' />
    </operation>
    <operation name='getAuthenticatedUsersConnections'>
      <documentation></documentation>
      <input message='tns:getAuthenticatedUsersConnectionsRequestMessage' name='getAuthenticatedUsersConnectionsInput' />
      <output message='tns:getAuthenticatedUsersConnectionsResponseMessage' name='getAuthenticatedUsersConnectionsOutput' />
    </operation>
    <operation name='getAuthenticatedUsersContributions'>
      <documentation></documentation>
      <input message='tns:getAuthenticatedUsersContributionsRequestMessage' name='getAuthenticatedUsersContributionsInput' />
      <output message='tns:getAuthenticatedUsersContributionsResponseMessage' name='getAuthenticatedUsersContributionsOutput' />
    </operation>
    <operation name='getAuthenticatedUsersFollowers'>
      <documentation></documentation>
      <input message='tns:getAuthenticatedUsersFollowersRequestMessage' name='getAuthenticatedUsersFollowersInput' />
      <output message='tns:getAuthenticatedUsersFollowersResponseMessage' name='getAuthenticatedUsersFollowersOutput' />
    </operation>
    <operation name='getAuthenticatedUsersFollowing'>
      <documentation></documentation>
      <input message='tns:getAuthenticatedUsersFollowingRequestMessage' name='getAuthenticatedUsersFollowingInput' />
      <output message='tns:getAuthenticatedUsersFollowingResponseMessage' name='getAuthenticatedUsersFollowingOutput' />
    </operation>
    <operation name='getAuthenticatedUsersLinks'>
      <documentation></documentation>
      <input message='tns:getAuthenticatedUsersLinksRequestMessage' name='getAuthenticatedUsersLinksInput' />
      <output message='tns:getAuthenticatedUsersLinksResponseMessage' name='getAuthenticatedUsersLinksOutput' />
    </operation>
    <operation name='getAuthenticatedUsersMicros'>
      <documentation></documentation>
      <input message='tns:getAuthenticatedUsersMicrosRequestMessage' name='getAuthenticatedUsersMicrosInput' />
      <output message='tns:getAuthenticatedUsersMicrosResponseMessage' name='getAuthenticatedUsersMicrosOutput' />
    </operation>
    <operation name='getIndividualLink'>
      <documentation></documentation>
      <input message='tns:getIndividualLinkRequestMessage' name='getIndividualLinkInput' />
      <output message='tns:getIndividualLinkResponseMessage' name='getIndividualLinkOutput' />
    </operation>
    <operation name='getIndividualMicro'>
      <documentation></documentation>
      <input message='tns:getIndividualMicroRequestMessage' name='getIndividualMicroInput' />
      <output message='tns:getIndividualMicroResponseMessage' name='getIndividualMicroOutput' />
    </operation>
    <operation name='getPopularLinks'>
      <documentation></documentation>
      <input message='tns:getPopularLinksRequestMessage' name='getPopularLinksInput' />
      <output message='tns:getPopularLinksResponseMessage' name='getPopularLinksOutput' />
    </operation>
    <operation name='getSpecifiedUsersActivity'>
      <documentation></documentation>
      <input message='tns:getSpecifiedUsersActivityRequestMessage' name='getSpecifiedUsersActivityInput' />
      <output message='tns:getSpecifiedUsersActivityResponseMessage' name='getSpecifiedUsersActivityOutput' />
    </operation>
    <operation name='getSpecifiedUsersCards'>
      <documentation></documentation>
      <input message='tns:getSpecifiedUsersCardsRequestMessage' name='getSpecifiedUsersCardsInput' />
      <output message='tns:getSpecifiedUsersCardsResponseMessage' name='getSpecifiedUsersCardsOutput' />
    </operation>
    <operation name='getSpecifiedUsersConnections'>
      <documentation></documentation>
      <input message='tns:getSpecifiedUsersConnectionsRequestMessage' name='getSpecifiedUsersConnectionsInput' />
      <output message='tns:getSpecifiedUsersConnectionsResponseMessage' name='getSpecifiedUsersConnectionsOutput' />
    </operation>
    <operation name='getSpecifiedUsersContributions'>
      <documentation></documentation>
      <input message='tns:getSpecifiedUsersContributionsRequestMessage' name='getSpecifiedUsersContributionsInput' />
      <output message='tns:getSpecifiedUsersContributionsResponseMessage' name='getSpecifiedUsersContributionsOutput' />
    </operation>
    <operation name='getSpecifiedUsersFollowers'>
      <documentation></documentation>
      <input message='tns:getSpecifiedUsersFollowersRequestMessage' name='getSpecifiedUsersFollowersInput' />
      <output message='tns:getSpecifiedUsersFollowersResponseMessage' name='getSpecifiedUsersFollowersOutput' />
    </operation>
    <operation name='getSpecifiedUsersFollowing'>
      <documentation></documentation>
      <input message='tns:getSpecifiedUsersFollowingRequestMessage' name='getSpecifiedUsersFollowingInput' />
      <output message='tns:getSpecifiedUsersFollowingResponseMessage' name='getSpecifiedUsersFollowingOutput' />
    </operation>
    <operation name='getSpecifiedUsersLinks'>
      <documentation></documentation>
      <input message='tns:getSpecifiedUsersLinksRequestMessage' name='getSpecifiedUsersLinksInput' />
      <output message='tns:getSpecifiedUsersLinksResponseMessage' name='getSpecifiedUsersLinksOutput' />
    </operation>
    <operation name='getSpecifiedUsersMicros'>
      <documentation></documentation>
      <input message='tns:getSpecifiedUsersMicrosRequestMessage' name='getSpecifiedUsersMicrosInput' />
      <output message='tns:getSpecifiedUsersMicrosResponseMessage' name='getSpecifiedUsersMicrosOutput' />
    </operation>
    <operation name='highfiveItem'>
      <documentation></documentation>
      <input message='tns:highfiveItemRequestMessage' name='highfiveItemInput' />
      <output message='tns:highfiveItemResponseMessage' name='highfiveItemOutput' />
    </operation>
    <operation name='oldFollowUnfollowUser'>
      <documentation></documentation>
      <input message='tns:oldFollowUnfollowUserRequestMessage' name='oldFollowUnfollowUserInput' />
      <output message='tns:oldFollowUnfollowUserResponseMessage' name='oldFollowUnfollowUserOutput' />
    </operation>
    <operation name='specifiedUsersData'>
      <documentation></documentation>
      <input message='tns:specifiedUsersDataRequestMessage' name='specifiedUsersDataInput' />
      <output message='tns:specifiedUsersDataResponseMessage' name='specifiedUsersDataOutput' />
    </operation>
    <operation name='unfollowUser'>
      <documentation></documentation>
      <input message='tns:unfollowUserRequestMessage' name='unfollowUserInput' />
      <output message='tns:unfollowUserResponseMessage' name='unfollowUserOutput' />
    </operation>
    <operation name='voteForLink'>
      <documentation></documentation>
      <input message='tns:voteForLinkRequestMessage' name='voteForLinkInput' />
      <output message='tns:voteForLinkResponseMessage' name='voteForLinkOutput' />
    </operation>
  </portType>
  <binding name='geeklistBinding' type='tns:geeklistPortType'>
    <operation name='allActivity'>
      <soap12:operation soapAction='http://allActivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='authenticatedUsersData'>
      <soap12:operation soapAction='http://authenticatedUsersData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createCard'>
      <soap12:operation soapAction='http://createCard' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createLink'>
      <soap12:operation soapAction='http://createLink' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createMicro'>
      <soap12:operation soapAction='http://createMicro' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='followUser'>
      <soap12:operation soapAction='http://followUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAuthenticatedUsersActivity'>
      <soap12:operation soapAction='http://getAuthenticatedUsersActivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAuthenticatedUsersCards'>
      <soap12:operation soapAction='http://getAuthenticatedUsersCards' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAuthenticatedUsersConnections'>
      <soap12:operation soapAction='http://getAuthenticatedUsersConnections' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAuthenticatedUsersContributions'>
      <soap12:operation soapAction='http://getAuthenticatedUsersContributions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAuthenticatedUsersFollowers'>
      <soap12:operation soapAction='http://getAuthenticatedUsersFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAuthenticatedUsersFollowing'>
      <soap12:operation soapAction='http://getAuthenticatedUsersFollowing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAuthenticatedUsersLinks'>
      <soap12:operation soapAction='http://getAuthenticatedUsersLinks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAuthenticatedUsersMicros'>
      <soap12:operation soapAction='http://getAuthenticatedUsersMicros' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getIndividualLink'>
      <soap12:operation soapAction='http://getIndividualLink' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getIndividualMicro'>
      <soap12:operation soapAction='http://getIndividualMicro' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPopularLinks'>
      <soap12:operation soapAction='http://getPopularLinks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSpecifiedUsersActivity'>
      <soap12:operation soapAction='http://getSpecifiedUsersActivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSpecifiedUsersCards'>
      <soap12:operation soapAction='http://getSpecifiedUsersCards' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSpecifiedUsersConnections'>
      <soap12:operation soapAction='http://getSpecifiedUsersConnections' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSpecifiedUsersContributions'>
      <soap12:operation soapAction='http://getSpecifiedUsersContributions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSpecifiedUsersFollowers'>
      <soap12:operation soapAction='http://getSpecifiedUsersFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSpecifiedUsersFollowing'>
      <soap12:operation soapAction='http://getSpecifiedUsersFollowing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSpecifiedUsersLinks'>
      <soap12:operation soapAction='http://getSpecifiedUsersLinks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSpecifiedUsersMicros'>
      <soap12:operation soapAction='http://getSpecifiedUsersMicros' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='highfiveItem'>
      <soap12:operation soapAction='http://highfiveItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='oldFollowUnfollowUser'>
      <soap12:operation soapAction='http://oldFollowUnfollowUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='specifiedUsersData'>
      <soap12:operation soapAction='http://specifiedUsersData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='unfollowUser'>
      <soap12:operation soapAction='http://unfollowUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='voteForLink'>
      <soap12:operation soapAction='http://voteForLink' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='geeklist'>
    <documentation>the first social network for developers and the tech community</documentation>
    <port name='geeklistPort' binding='tns:geeklistBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://geeklist' />
    </port>
  </service>
</definitions>