workspace/datasets/mashape_dataset/geolocationws.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/geolocationWs/' name='geolocationWs' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/geolocationWs/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/geolocationWs/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/geolocationWs/'>
      <xsd:element name='apiFindBoxParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='e' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='n' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='s' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='w' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='wikicommons' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='apiFindBoxResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='author_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='loc' type='xsd:decimal' maxOccurs='unbounded' />
                  <xsd:element name='image_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='thumbnail_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='source_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='licenses' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='source_image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='view_url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pg_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lightbox_image_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='source_id' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='apiFindBoxRequestMessage'>
    <part name='parameters' element='tns:apiFindBoxParameters' />
  </message>
  <message name='apiFindBoxResponseMessage'>
    <part name='response' element='tns:apiFindBoxResponse' />
  </message>
  <portType name='geolocationWsPortType'>
    <operation name='apiFindBox'>
      <documentation>search for photos inside specified bounding box</documentation>
      <input message='tns:apiFindBoxRequestMessage' name='apiFindBoxInput' />
      <output message='tns:apiFindBoxResponseMessage' name='apiFindBoxOutput' />
    </operation>
  </portType>
  <binding name='geolocationWsBinding' type='tns:geolocationWsPortType'>
    <operation name='apiFindBox'>
      <soap12:operation soapAction='http://apiFindBox' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='geolocationWs'>
    <documentation>browse geolocated Creative Commons photos taken from Panoramio Flickr and Wikimedia Commons websites Registered users can add one or more tags describing image content</documentation>
    <port name='geolocationWsPort' binding='tns:geolocationWsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://geolocationWs' />
    </port>
  </service>
</definitions>