workspace/datasets/mashape_dataset/geotemporalcontext.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/geoTemporalContext/' name='geoTemporalContext' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/geoTemporalContext/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/geoTemporalContext/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/geoTemporalContext/'>
      <xsd:element name='contextFirehoseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bottomright' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datefromday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datefromtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datetoday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='max' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='topleft' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='updated' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contextFirehoseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='fromDay' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='toDay' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fromTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='toTime' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='max' type='xsd:int' minOccurs='0' />
                  <xsd:element name='bottomRight' type='xsd:decimal' maxOccurs='unbounded' />
                  <xsd:element name='topLeft' type='xsd:decimal' maxOccurs='unbounded' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='matches' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='events' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='features' type='xsd:string' minOccurs='0' />
                  <xsd:element name='repeats' type='xsd:int' minOccurs='0' />
                  <xsd:element name='at' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='geo' type='xsd:decimal' maxOccurs='unbounded' />
                        <xsd:element name='address' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='street' type='xsd:string' minOccurs='0' />
                              <xsd:element name='postalCode' type='xsd:int' minOccurs='0' />
                              <xsd:element name='locality' type='xsd:string' minOccurs='0' />
                              <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='venueId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='precise' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='price' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='oid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='when' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='allDay' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='start' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='weekday' type='xsd:int' minOccurs='0' />
                        <xsd:element name='end' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sTime' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='updated' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='contextFirehoseRequestMessage'>
    <part name='parameters' element='tns:contextFirehoseParameters' />
  </message>
  <message name='contextFirehoseResponseMessage'>
    <part name='response' element='tns:contextFirehoseResponse' />
  </message>
  <portType name='geoTemporalContextPortType'>
    <operation name='contextFirehose'>
      <documentation>context Firehose</documentation>
      <input message='tns:contextFirehoseRequestMessage' name='contextFirehoseInput' />
      <output message='tns:contextFirehoseResponseMessage' name='contextFirehoseOutput' />
    </operation>
  </portType>
  <binding name='geoTemporalContextBinding' type='tns:geoTemporalContextPortType'>
    <operation name='contextFirehose'>
      <soap12:operation soapAction='http://contextFirehose' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='geoTemporalContext'>
    <documentation>obtain the location based situational context affinity tags and relevant correlations in real time to improve your mobile ad targeting to increase your app monetization and to enrich your user profiles LotaData connects the digital and physical realms by providing location based real time situational context to service providers ad networks mobile operators and app developers We are the experts in location based predictive technologies We can give you the ability to predict what is happening where and when so you can conclude when where and how to target you audience Behind the scenes our scientists are continuously sifting through constantly changing data with our own complex algorithms to structure classify categorize de dupe correlate verify and geo code the information to derive context from it</documentation>
    <port name='geoTemporalContextPort' binding='tns:geoTemporalContextBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://geoTemporalContext' />
    </port>
  </service>
</definitions>