workspace/datasets/mashape_dataset/globalhyperlocalevents.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/globalHyperLocalEvents/' name='globalHyperLocalEvents' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/globalHyperLocalEvents/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/globalHyperLocalEvents/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/globalHyperLocalEvents/'>
      <xsd:element name='eventDetailParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventDetailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='coverUrl' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='copyright' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='icon' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='at' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geo' type='xsd:decimal' maxOccurs='unbounded' />
                  <xsd:element name='address' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='street' type='xsd:string' minOccurs='0' />
                        <xsd:element name='postalCode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='locality' type='xsd:string' minOccurs='0' />
                        <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='venueId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='precise' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='infoUrl' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='synopsis' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='when' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='start' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventsSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bottomright' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datefromday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datefromtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datetoday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datetotime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='max' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='topleft' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventsSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='fromDay' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='toDay' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fromTime' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='toTime' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='q' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='max' type='xsd:int' minOccurs='0' />
                  <xsd:element name='bottomRight' type='xsd:decimal' maxOccurs='unbounded' />
                  <xsd:element name='topLeft' type='xsd:decimal' maxOccurs='unbounded' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='matches' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='events' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='coverUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='repeats' type='xsd:int' minOccurs='0' />
                  <xsd:element name='copyright' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='icon' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='text' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='at' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='geo' type='xsd:decimal' maxOccurs='unbounded' />
                        <xsd:element name='address' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='street' type='xsd:string' minOccurs='0' />
                              <xsd:element name='postalCode' type='xsd:int' minOccurs='0' />
                              <xsd:element name='locality' type='xsd:string' minOccurs='0' />
                              <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='venueId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='oid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='synopsis' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='when' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='start' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='end' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='eventDetailRequestMessage'>
    <part name='parameters' element='tns:eventDetailParameters' />
  </message>
  <message name='eventDetailResponseMessage'>
    <part name='response' element='tns:eventDetailResponse' />
  </message>
  <message name='eventsSearchRequestMessage'>
    <part name='parameters' element='tns:eventsSearchParameters' />
  </message>
  <message name='eventsSearchResponseMessage'>
    <part name='response' element='tns:eventsSearchResponse' />
  </message>
  <portType name='globalHyperLocalEventsPortType'>
    <operation name='eventDetail'>
      <input message='tns:eventDetailRequestMessage' name='eventDetailInput' />
      <output message='tns:eventDetailResponseMessage' name='eventDetailOutput' />
    </operation>
    <operation name='eventsSearch'>
      <input message='tns:eventsSearchRequestMessage' name='eventsSearchInput' />
      <output message='tns:eventsSearchResponseMessage' name='eventsSearchOutput' />
    </operation>
  </portType>
  <binding name='globalHyperLocalEventsBinding' type='tns:globalHyperLocalEventsPortType'>
    <operation name='eventDetail'>
      <soap12:operation soapAction='http://eventDetail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventsSearch'>
      <soap12:operation soapAction='http://eventsSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='globalHyperLocalEvents'>
    <documentation>access the most exhaustive accurate and up to date collection of global and hyper local events and activities across a wide range of categories like Theater Fitness Career Comedy Social Religion Music Health Food Outdoor Classes Commercial Cooking Literary Academic Recreation Technology Clubs Networking Conferences Sports Concerts Festivals Art Expos Dance Games Museum Exhibitions The feed is constructed and refreshed from thousands of public and private sources using proprietary recipes with millions of events monitored every hour</documentation>
    <port name='globalHyperLocalEventsPort' binding='tns:globalHyperLocalEventsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://globalHyperLocalEvents' />
    </port>
  </service>
</definitions>