workspace/datasets/mashape_dataset/googleplaystore.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/googlePlayStore/' name='googlePlayStore' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/googlePlayStore/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/googlePlayStore/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/googlePlayStore/'>
      <xsd:element name='applicationCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='applicationDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='applicationDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='author' type='xsd:string' minOccurs='0' />
            <xsd:element name='icon' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='rating' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='four' type='xsd:int' minOccurs='0' />
                  <xsd:element name='display' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='one' type='xsd:int' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='five' type='xsd:int' minOccurs='0' />
                  <xsd:element name='three' type='xsd:int' minOccurs='0' />
                  <xsd:element name='two' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='changelog' type='xsd:string' minOccurs='0' />
            <xsd:element name='storeCategory' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='versionName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='screenshots' type='xsd:anyURI' maxOccurs='unbounded' />
            <xsd:element name='versionCode' type='xsd:int' minOccurs='0' />
            <xsd:element name='datePublished' type='xsd:string' minOccurs='0' />
            <xsd:element name='operatingSystems' type='xsd:string' minOccurs='0' />
            <xsd:element name='priceCurrency' type='xsd:string' minOccurs='0' />
            <xsd:element name='fileSize' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='numDownloads' type='xsd:string' minOccurs='0' />
            <xsd:element name='price' type='xsd:int' minOccurs='0' />
            <xsd:element name='inAppBilling' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='topDeveloper' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='contentRating' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='applicationReviewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='versionnumber' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='applicationReviewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='author' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='body' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='applicationSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='applicationSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='multipleApplicationDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='net.luxteam.sacal' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='icon' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rating' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='four' type='xsd:int' minOccurs='0' />
                        <xsd:element name='display' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='one' type='xsd:int' minOccurs='0' />
                        <xsd:element name='count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='five' type='xsd:int' minOccurs='0' />
                        <xsd:element name='three' type='xsd:int' minOccurs='0' />
                        <xsd:element name='two' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='changelog' type='xsd:string' minOccurs='0' />
                  <xsd:element name='storeCategory' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='versionName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='screenshots' type='xsd:anyURI' maxOccurs='unbounded' />
                  <xsd:element name='versionCode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='datePublished' type='xsd:string' minOccurs='0' />
                  <xsd:element name='operatingSystems' type='xsd:string' minOccurs='0' />
                  <xsd:element name='priceCurrency' type='xsd:string' minOccurs='0' />
                  <xsd:element name='fileSize' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='numDownloads' type='xsd:string' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='inAppBilling' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='topDeveloper' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='contentRating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newFreeApplicationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newFreeApplicationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newFreeGamesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newFreeGamesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newPaidApplicationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newPaidApplicationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newPaidGamesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newPaidGamesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topFreeApplicationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topFreeApplicationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topFreeGamesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topFreeGamesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topGrossingApplicationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topGrossingApplicationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topGrossingGamesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topGrossingGamesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPaidApplicationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPaidApplicationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPaidGamesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPaidGamesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='applicationCategoriesRequestMessage' />
  <message name='applicationCategoriesResponseMessage'>
    <part name='response' element='tns:applicationCategoriesResponse' />
  </message>
  <message name='applicationDetailsRequestMessage'>
    <part name='parameters' element='tns:applicationDetailsParameters' />
  </message>
  <message name='applicationDetailsResponseMessage'>
    <part name='response' element='tns:applicationDetailsResponse' />
  </message>
  <message name='applicationReviewsRequestMessage'>
    <part name='parameters' element='tns:applicationReviewsParameters' />
  </message>
  <message name='applicationReviewsResponseMessage'>
    <part name='response' element='tns:applicationReviewsResponse' />
  </message>
  <message name='applicationSearchRequestMessage'>
    <part name='parameters' element='tns:applicationSearchParameters' />
  </message>
  <message name='applicationSearchResponseMessage'>
    <part name='response' element='tns:applicationSearchResponse' />
  </message>
  <message name='multipleApplicationDetailsRequestMessage' />
  <message name='multipleApplicationDetailsResponseMessage'>
    <part name='response' element='tns:multipleApplicationDetailsResponse' />
  </message>
  <message name='newFreeApplicationsRequestMessage'>
    <part name='parameters' element='tns:newFreeApplicationsParameters' />
  </message>
  <message name='newFreeApplicationsResponseMessage'>
    <part name='response' element='tns:newFreeApplicationsResponse' />
  </message>
  <message name='newFreeGamesRequestMessage'>
    <part name='parameters' element='tns:newFreeGamesParameters' />
  </message>
  <message name='newFreeGamesResponseMessage'>
    <part name='response' element='tns:newFreeGamesResponse' />
  </message>
  <message name='newPaidApplicationsRequestMessage'>
    <part name='parameters' element='tns:newPaidApplicationsParameters' />
  </message>
  <message name='newPaidApplicationsResponseMessage'>
    <part name='response' element='tns:newPaidApplicationsResponse' />
  </message>
  <message name='newPaidGamesRequestMessage'>
    <part name='parameters' element='tns:newPaidGamesParameters' />
  </message>
  <message name='newPaidGamesResponseMessage'>
    <part name='response' element='tns:newPaidGamesResponse' />
  </message>
  <message name='topFreeApplicationsRequestMessage'>
    <part name='parameters' element='tns:topFreeApplicationsParameters' />
  </message>
  <message name='topFreeApplicationsResponseMessage'>
    <part name='response' element='tns:topFreeApplicationsResponse' />
  </message>
  <message name='topFreeGamesRequestMessage'>
    <part name='parameters' element='tns:topFreeGamesParameters' />
  </message>
  <message name='topFreeGamesResponseMessage'>
    <part name='response' element='tns:topFreeGamesResponse' />
  </message>
  <message name='topGrossingApplicationsRequestMessage'>
    <part name='parameters' element='tns:topGrossingApplicationsParameters' />
  </message>
  <message name='topGrossingApplicationsResponseMessage'>
    <part name='response' element='tns:topGrossingApplicationsResponse' />
  </message>
  <message name='topGrossingGamesRequestMessage'>
    <part name='parameters' element='tns:topGrossingGamesParameters' />
  </message>
  <message name='topGrossingGamesResponseMessage'>
    <part name='response' element='tns:topGrossingGamesResponse' />
  </message>
  <message name='topPaidApplicationsRequestMessage'>
    <part name='parameters' element='tns:topPaidApplicationsParameters' />
  </message>
  <message name='topPaidApplicationsResponseMessage'>
    <part name='response' element='tns:topPaidApplicationsResponse' />
  </message>
  <message name='topPaidGamesRequestMessage'>
    <part name='parameters' element='tns:topPaidGamesParameters' />
  </message>
  <message name='topPaidGamesResponseMessage'>
    <part name='response' element='tns:topPaidGamesResponse' />
  </message>
  <portType name='googlePlayStorePortType'>
    <operation name='applicationCategories'>
      <documentation>get application categories</documentation>
      <input message='tns:applicationCategoriesRequestMessage' name='applicationCategoriesInput' />
      <output message='tns:applicationCategoriesResponseMessage' name='applicationCategoriesOutput' />
    </operation>
    <operation name='applicationDetails'>
      <documentation>get application details as displayed on Google Play Store</documentation>
      <input message='tns:applicationDetailsRequestMessage' name='applicationDetailsInput' />
      <output message='tns:applicationDetailsResponseMessage' name='applicationDetailsOutput' />
    </operation>
    <operation name='applicationReviews'>
      <documentation>get application reviews</documentation>
      <input message='tns:applicationReviewsRequestMessage' name='applicationReviewsInput' />
      <output message='tns:applicationReviewsResponseMessage' name='applicationReviewsOutput' />
    </operation>
    <operation name='applicationSearch'>
      <documentation>search into the store</documentation>
      <input message='tns:applicationSearchRequestMessage' name='applicationSearchInput' />
      <output message='tns:applicationSearchResponseMessage' name='applicationSearchOutput' />
    </operation>
    <operation name='multipleApplicationDetails'>
      <documentation>get multiple application details with a single request Billed x</documentation>
      <input message='tns:multipleApplicationDetailsRequestMessage' name='multipleApplicationDetailsInput' />
      <output message='tns:multipleApplicationDetailsResponseMessage' name='multipleApplicationDetailsOutput' />
    </operation>
    <operation name='newFreeApplications'>
      <input message='tns:newFreeApplicationsRequestMessage' name='newFreeApplicationsInput' />
      <output message='tns:newFreeApplicationsResponseMessage' name='newFreeApplicationsOutput' />
    </operation>
    <operation name='newFreeGames'>
      <input message='tns:newFreeGamesRequestMessage' name='newFreeGamesInput' />
      <output message='tns:newFreeGamesResponseMessage' name='newFreeGamesOutput' />
    </operation>
    <operation name='newPaidApplications'>
      <input message='tns:newPaidApplicationsRequestMessage' name='newPaidApplicationsInput' />
      <output message='tns:newPaidApplicationsResponseMessage' name='newPaidApplicationsOutput' />
    </operation>
    <operation name='newPaidGames'>
      <input message='tns:newPaidGamesRequestMessage' name='newPaidGamesInput' />
      <output message='tns:newPaidGamesResponseMessage' name='newPaidGamesOutput' />
    </operation>
    <operation name='topFreeApplications'>
      <input message='tns:topFreeApplicationsRequestMessage' name='topFreeApplicationsInput' />
      <output message='tns:topFreeApplicationsResponseMessage' name='topFreeApplicationsOutput' />
    </operation>
    <operation name='topFreeGames'>
      <input message='tns:topFreeGamesRequestMessage' name='topFreeGamesInput' />
      <output message='tns:topFreeGamesResponseMessage' name='topFreeGamesOutput' />
    </operation>
    <operation name='topGrossingApplications'>
      <input message='tns:topGrossingApplicationsRequestMessage' name='topGrossingApplicationsInput' />
      <output message='tns:topGrossingApplicationsResponseMessage' name='topGrossingApplicationsOutput' />
    </operation>
    <operation name='topGrossingGames'>
      <input message='tns:topGrossingGamesRequestMessage' name='topGrossingGamesInput' />
      <output message='tns:topGrossingGamesResponseMessage' name='topGrossingGamesOutput' />
    </operation>
    <operation name='topPaidApplications'>
      <input message='tns:topPaidApplicationsRequestMessage' name='topPaidApplicationsInput' />
      <output message='tns:topPaidApplicationsResponseMessage' name='topPaidApplicationsOutput' />
    </operation>
    <operation name='topPaidGames'>
      <input message='tns:topPaidGamesRequestMessage' name='topPaidGamesInput' />
      <output message='tns:topPaidGamesResponseMessage' name='topPaidGamesOutput' />
    </operation>
  </portType>
  <binding name='googlePlayStoreBinding' type='tns:googlePlayStorePortType'>
    <operation name='applicationCategories'>
      <soap12:operation soapAction='http://applicationCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='applicationDetails'>
      <soap12:operation soapAction='http://applicationDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='applicationReviews'>
      <soap12:operation soapAction='http://applicationReviews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='applicationSearch'>
      <soap12:operation soapAction='http://applicationSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='multipleApplicationDetails'>
      <soap12:operation soapAction='http://multipleApplicationDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newFreeApplications'>
      <soap12:operation soapAction='http://newFreeApplications' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newFreeGames'>
      <soap12:operation soapAction='http://newFreeGames' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newPaidApplications'>
      <soap12:operation soapAction='http://newPaidApplications' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newPaidGames'>
      <soap12:operation soapAction='http://newPaidGames' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topFreeApplications'>
      <soap12:operation soapAction='http://topFreeApplications' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topFreeGames'>
      <soap12:operation soapAction='http://topFreeGames' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topGrossingApplications'>
      <soap12:operation soapAction='http://topGrossingApplications' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topGrossingGames'>
      <soap12:operation soapAction='http://topGrossingGames' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topPaidApplications'>
      <soap12:operation soapAction='http://topPaidApplications' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topPaidGames'>
      <soap12:operation soapAction='http://topPaidGames' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='googlePlayStore'>
    <documentation>need to see up to date reviews ratings and rankings for products on the Google Play Store in each country Here it is An easy to use web service that retrieves current application details from Google Play Store Just give it an application id</documentation>
    <port name='googlePlayStorePort' binding='tns:googlePlayStoreBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://googlePlayStore' />
    </port>
  </service>
</definitions>