workspace/datasets/mashape_dataset/groove.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/groove/' name='groove' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/groove/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/groove/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/groove/'>
      <xsd:element name='createANewMessageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ticketnumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewTicketResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findOneAgentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='agentemail' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findOneAgentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findOneCustomerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='customeremail' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findOneCustomerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findOneMessageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='messageid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findOneMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findOneTicketParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ticketnumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findOneTicketResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findOneTicketSStateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ticketnumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findOneTicketSStateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllCustomersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllCustomersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllMessagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='ticketnumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllMessagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listTicketsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='assignee' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='customer' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listTicketsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateATicketStateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ticketnumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateATicketStateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateOneCustomerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='customeremail' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateOneCustomerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createANewMessageRequestMessage'>
    <part name='parameters' element='tns:createANewMessageParameters' />
  </message>
  <message name='createANewMessageResponseMessage'>
    <part name='response' element='tns:createANewMessageResponse' />
  </message>
  <message name='createANewTicketRequestMessage' />
  <message name='createANewTicketResponseMessage'>
    <part name='response' element='tns:createANewTicketResponse' />
  </message>
  <message name='findOneAgentRequestMessage'>
    <part name='parameters' element='tns:findOneAgentParameters' />
  </message>
  <message name='findOneAgentResponseMessage'>
    <part name='response' element='tns:findOneAgentResponse' />
  </message>
  <message name='findOneCustomerRequestMessage'>
    <part name='parameters' element='tns:findOneCustomerParameters' />
  </message>
  <message name='findOneCustomerResponseMessage'>
    <part name='response' element='tns:findOneCustomerResponse' />
  </message>
  <message name='findOneMessageRequestMessage'>
    <part name='parameters' element='tns:findOneMessageParameters' />
  </message>
  <message name='findOneMessageResponseMessage'>
    <part name='response' element='tns:findOneMessageResponse' />
  </message>
  <message name='findOneTicketRequestMessage'>
    <part name='parameters' element='tns:findOneTicketParameters' />
  </message>
  <message name='findOneTicketResponseMessage'>
    <part name='response' element='tns:findOneTicketResponse' />
  </message>
  <message name='findOneTicketSStateRequestMessage'>
    <part name='parameters' element='tns:findOneTicketSStateParameters' />
  </message>
  <message name='findOneTicketSStateResponseMessage'>
    <part name='response' element='tns:findOneTicketSStateResponse' />
  </message>
  <message name='listAllCustomersRequestMessage'>
    <part name='parameters' element='tns:listAllCustomersParameters' />
  </message>
  <message name='listAllCustomersResponseMessage'>
    <part name='response' element='tns:listAllCustomersResponse' />
  </message>
  <message name='listAllMessagesRequestMessage'>
    <part name='parameters' element='tns:listAllMessagesParameters' />
  </message>
  <message name='listAllMessagesResponseMessage'>
    <part name='response' element='tns:listAllMessagesResponse' />
  </message>
  <message name='listTicketsRequestMessage'>
    <part name='parameters' element='tns:listTicketsParameters' />
  </message>
  <message name='listTicketsResponseMessage'>
    <part name='response' element='tns:listTicketsResponse' />
  </message>
  <message name='updateATicketStateRequestMessage'>
    <part name='parameters' element='tns:updateATicketStateParameters' />
  </message>
  <message name='updateATicketStateResponseMessage'>
    <part name='response' element='tns:updateATicketStateResponse' />
  </message>
  <message name='updateOneCustomerRequestMessage'>
    <part name='parameters' element='tns:updateOneCustomerParameters' />
  </message>
  <message name='updateOneCustomerResponseMessage'>
    <part name='response' element='tns:updateOneCustomerResponse' />
  </message>
  <portType name='groovePortType'>
    <operation name='createANewMessage'>
      <documentation></documentation>
      <input message='tns:createANewMessageRequestMessage' name='createANewMessageInput' />
      <output message='tns:createANewMessageResponseMessage' name='createANewMessageOutput' />
    </operation>
    <operation name='createANewTicket'>
      <documentation></documentation>
      <input message='tns:createANewTicketRequestMessage' name='createANewTicketInput' />
      <output message='tns:createANewTicketResponseMessage' name='createANewTicketOutput' />
    </operation>
    <operation name='findOneAgent'>
      <documentation></documentation>
      <input message='tns:findOneAgentRequestMessage' name='findOneAgentInput' />
      <output message='tns:findOneAgentResponseMessage' name='findOneAgentOutput' />
    </operation>
    <operation name='findOneCustomer'>
      <documentation></documentation>
      <input message='tns:findOneCustomerRequestMessage' name='findOneCustomerInput' />
      <output message='tns:findOneCustomerResponseMessage' name='findOneCustomerOutput' />
    </operation>
    <operation name='findOneMessage'>
      <documentation></documentation>
      <input message='tns:findOneMessageRequestMessage' name='findOneMessageInput' />
      <output message='tns:findOneMessageResponseMessage' name='findOneMessageOutput' />
    </operation>
    <operation name='findOneTicket'>
      <input message='tns:findOneTicketRequestMessage' name='findOneTicketInput' />
      <output message='tns:findOneTicketResponseMessage' name='findOneTicketOutput' />
    </operation>
    <operation name='findOneTicketSState'>
      <input message='tns:findOneTicketSStateRequestMessage' name='findOneTicketSStateInput' />
      <output message='tns:findOneTicketSStateResponseMessage' name='findOneTicketSStateOutput' />
    </operation>
    <operation name='listAllCustomers'>
      <documentation></documentation>
      <input message='tns:listAllCustomersRequestMessage' name='listAllCustomersInput' />
      <output message='tns:listAllCustomersResponseMessage' name='listAllCustomersOutput' />
    </operation>
    <operation name='listAllMessages'>
      <documentation></documentation>
      <input message='tns:listAllMessagesRequestMessage' name='listAllMessagesInput' />
      <output message='tns:listAllMessagesResponseMessage' name='listAllMessagesOutput' />
    </operation>
    <operation name='listTickets'>
      <documentation></documentation>
      <input message='tns:listTicketsRequestMessage' name='listTicketsInput' />
      <output message='tns:listTicketsResponseMessage' name='listTicketsOutput' />
    </operation>
    <operation name='updateATicketState'>
      <input message='tns:updateATicketStateRequestMessage' name='updateATicketStateInput' />
      <output message='tns:updateATicketStateResponseMessage' name='updateATicketStateOutput' />
    </operation>
    <operation name='updateOneCustomer'>
      <documentation></documentation>
      <input message='tns:updateOneCustomerRequestMessage' name='updateOneCustomerInput' />
      <output message='tns:updateOneCustomerResponseMessage' name='updateOneCustomerOutput' />
    </operation>
  </portType>
  <binding name='grooveBinding' type='tns:groovePortType'>
    <operation name='createANewMessage'>
      <soap12:operation soapAction='http://createANewMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createANewTicket'>
      <soap12:operation soapAction='http://createANewTicket' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findOneAgent'>
      <soap12:operation soapAction='http://findOneAgent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findOneCustomer'>
      <soap12:operation soapAction='http://findOneCustomer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findOneMessage'>
      <soap12:operation soapAction='http://findOneMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findOneTicket'>
      <soap12:operation soapAction='http://findOneTicket' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findOneTicketSState'>
      <soap12:operation soapAction='http://findOneTicketSState' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllCustomers'>
      <soap12:operation soapAction='http://listAllCustomers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllMessages'>
      <soap12:operation soapAction='http://listAllMessages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listTickets'>
      <soap12:operation soapAction='http://listTickets' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateATicketState'>
      <soap12:operation soapAction='http://updateATicketState' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateOneCustomer'>
      <soap12:operation soapAction='http://updateOneCustomer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='groove'>
    <documentation>groove is a simple tool for growing small businesses help your team deliver personal customer support Ticket management tracking and reports and email integration</documentation>
    <port name='groovePort' binding='tns:grooveBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://groove' />
    </port>
  </service>
</definitions>