workspace/datasets/mashape_dataset/gvm.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/gvm/' name='gvm' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/gvm/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/gvm/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/gvm/'>
      <xsd:element name='allCandidatesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='apiVersionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='broadcastParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='version' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='broadcastResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='candidateDownloadParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='candidate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='version' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='candidateDownloadResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='candidateListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='candidate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='current' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='installed' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='candidateListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='defaultCandidateVersionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='candidate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='defaultCandidateVersionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='healthCheckResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='validateCandidateVersionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='candidate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='version' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='validateCandidateVersionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='allCandidatesRequestMessage' />
  <message name='allCandidatesResponseMessage'>
    <part name='response' element='tns:allCandidatesResponse' />
  </message>
  <message name='apiVersionRequestMessage' />
  <message name='apiVersionResponseMessage'>
    <part name='response' element='tns:apiVersionResponse' />
  </message>
  <message name='broadcastRequestMessage'>
    <part name='parameters' element='tns:broadcastParameters' />
  </message>
  <message name='broadcastResponseMessage'>
    <part name='response' element='tns:broadcastResponse' />
  </message>
  <message name='candidateDownloadRequestMessage'>
    <part name='parameters' element='tns:candidateDownloadParameters' />
  </message>
  <message name='candidateDownloadResponseMessage'>
    <part name='response' element='tns:candidateDownloadResponse' />
  </message>
  <message name='candidateListRequestMessage'>
    <part name='parameters' element='tns:candidateListParameters' />
  </message>
  <message name='candidateListResponseMessage'>
    <part name='response' element='tns:candidateListResponse' />
  </message>
  <message name='defaultCandidateVersionRequestMessage'>
    <part name='parameters' element='tns:defaultCandidateVersionParameters' />
  </message>
  <message name='defaultCandidateVersionResponseMessage'>
    <part name='response' element='tns:defaultCandidateVersionResponse' />
  </message>
  <message name='healthCheckRequestMessage' />
  <message name='healthCheckResponseMessage'>
    <part name='response' element='tns:healthCheckResponse' />
  </message>
  <message name='validateCandidateVersionRequestMessage'>
    <part name='parameters' element='tns:validateCandidateVersionParameters' />
  </message>
  <message name='validateCandidateVersionResponseMessage'>
    <part name='response' element='tns:validateCandidateVersionResponse' />
  </message>
  <portType name='gvmPortType'>
    <operation name='allCandidates'>
      <documentation>gets all candidates available</documentation>
      <input message='tns:allCandidatesRequestMessage' name='allCandidatesInput' />
      <output message='tns:allCandidatesResponseMessage' name='allCandidatesOutput' />
    </operation>
    <operation name='apiVersion'>
      <documentation>returns the version of the API</documentation>
      <input message='tns:apiVersionRequestMessage' name='apiVersionInput' />
      <output message='tns:apiVersionResponseMessage' name='apiVersionOutput' />
    </operation>
    <operation name='broadcast'>
      <documentation>returns the broadcast message</documentation>
      <input message='tns:broadcastRequestMessage' name='broadcastInput' />
      <output message='tns:broadcastResponseMessage' name='broadcastOutput' />
    </operation>
    <operation name='candidateDownload'>
      <documentation>download a Candidate Version</documentation>
      <input message='tns:candidateDownloadRequestMessage' name='candidateDownloadInput' />
      <output message='tns:candidateDownloadResponseMessage' name='candidateDownloadOutput' />
    </operation>
    <operation name='candidateList'>
      <documentation>a template that renders a list of Candidate Versions available</documentation>
      <input message='tns:candidateListRequestMessage' name='candidateListInput' />
      <output message='tns:candidateListResponseMessage' name='candidateListOutput' />
    </operation>
    <operation name='defaultCandidateVersion'>
      <documentation>returns the default version for a Candidate</documentation>
      <input message='tns:defaultCandidateVersionRequestMessage' name='defaultCandidateVersionInput' />
      <output message='tns:defaultCandidateVersionResponseMessage' name='defaultCandidateVersionOutput' />
    </operation>
    <operation name='healthCheck'>
      <documentation>checks to see if API is alive</documentation>
      <input message='tns:healthCheckRequestMessage' name='healthCheckInput' />
      <output message='tns:healthCheckResponseMessage' name='healthCheckOutput' />
    </operation>
    <operation name='validateCandidateVersion'>
      <documentation>validates the given Version of a Candidate</documentation>
      <input message='tns:validateCandidateVersionRequestMessage' name='validateCandidateVersionInput' />
      <output message='tns:validateCandidateVersionResponseMessage' name='validateCandidateVersionOutput' />
    </operation>
  </portType>
  <binding name='gvmBinding' type='tns:gvmPortType'>
    <operation name='allCandidates'>
      <soap12:operation soapAction='http://allCandidates' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='apiVersion'>
      <soap12:operation soapAction='http://apiVersion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='broadcast'>
      <soap12:operation soapAction='http://broadcast' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='candidateDownload'>
      <soap12:operation soapAction='http://candidateDownload' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='candidateList'>
      <soap12:operation soapAction='http://candidateList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='defaultCandidateVersion'>
      <soap12:operation soapAction='http://defaultCandidateVersion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='healthCheck'>
      <soap12:operation soapAction='http://healthCheck' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='validateCandidateVersion'>
      <soap12:operation soapAction='http://validateCandidateVersion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='gvm'>
    <documentation>the API to GVM the Groovy enVironment Manager This is a multi platform tool for installing multiple SDK versions side by side</documentation>
    <port name='gvmPort' binding='tns:gvmBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://gvm' />
    </port>
  </service>
</definitions>