workspace/datasets/mashape_dataset/hashfunctions.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/hashFunctions/' name='hashFunctions' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/hashFunctions/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/hashFunctions/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/hashFunctions/'>
      <xsd:element name='adlerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='crcResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='crcBResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fnvResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fnvResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='joaatResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ripemdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ripemdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ripemdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ripemdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='snefruResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='snefruResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tigerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tigerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tigerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tigerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tigerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tigerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='whirlpoolResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='adlerRequestMessage' />
  <message name='adlerResponseMessage'>
    <part name='response' element='tns:adlerResponse' />
  </message>
  <message name='crcRequestMessage' />
  <message name='crcResponseMessage'>
    <part name='response' element='tns:crcResponse' />
  </message>
  <message name='crcBRequestMessage' />
  <message name='crcBResponseMessage'>
    <part name='response' element='tns:crcBResponse' />
  </message>
  <message name='fnvRequestMessage' />
  <message name='fnvResponseMessage'>
    <part name='response' element='tns:fnvResponse' />
  </message>
  <message name='fnvRequestMessage' />
  <message name='fnvResponseMessage'>
    <part name='response' element='tns:fnvResponse' />
  </message>
  <message name='gostRequestMessage' />
  <message name='gostResponseMessage'>
    <part name='response' element='tns:gostResponse' />
  </message>
  <message name='joaatRequestMessage' />
  <message name='joaatResponseMessage'>
    <part name='response' element='tns:joaatResponse' />
  </message>
  <message name='mdRequestMessage' />
  <message name='mdResponseMessage'>
    <part name='response' element='tns:mdResponse' />
  </message>
  <message name='mdRequestMessage' />
  <message name='mdResponseMessage'>
    <part name='response' element='tns:mdResponse' />
  </message>
  <message name='mdRequestMessage' />
  <message name='mdResponseMessage'>
    <part name='response' element='tns:mdResponse' />
  </message>
  <message name='ripemdRequestMessage' />
  <message name='ripemdResponseMessage'>
    <part name='response' element='tns:ripemdResponse' />
  </message>
  <message name='ripemdRequestMessage' />
  <message name='ripemdResponseMessage'>
    <part name='response' element='tns:ripemdResponse' />
  </message>
  <message name='ripemdRequestMessage' />
  <message name='ripemdResponseMessage'>
    <part name='response' element='tns:ripemdResponse' />
  </message>
  <message name='ripemdRequestMessage' />
  <message name='ripemdResponseMessage'>
    <part name='response' element='tns:ripemdResponse' />
  </message>
  <message name='shaRequestMessage' />
  <message name='shaResponseMessage'>
    <part name='response' element='tns:shaResponse' />
  </message>
  <message name='shaRequestMessage' />
  <message name='shaResponseMessage'>
    <part name='response' element='tns:shaResponse' />
  </message>
  <message name='shaRequestMessage' />
  <message name='shaResponseMessage'>
    <part name='response' element='tns:shaResponse' />
  </message>
  <message name='shaRequestMessage' />
  <message name='shaResponseMessage'>
    <part name='response' element='tns:shaResponse' />
  </message>
  <message name='shaRequestMessage' />
  <message name='shaResponseMessage'>
    <part name='response' element='tns:shaResponse' />
  </message>
  <message name='snefruRequestMessage' />
  <message name='snefruResponseMessage'>
    <part name='response' element='tns:snefruResponse' />
  </message>
  <message name='snefruRequestMessage' />
  <message name='snefruResponseMessage'>
    <part name='response' element='tns:snefruResponse' />
  </message>
  <message name='tigerRequestMessage' />
  <message name='tigerResponseMessage'>
    <part name='response' element='tns:tigerResponse' />
  </message>
  <message name='tigerRequestMessage' />
  <message name='tigerResponseMessage'>
    <part name='response' element='tns:tigerResponse' />
  </message>
  <message name='tigerRequestMessage' />
  <message name='tigerResponseMessage'>
    <part name='response' element='tns:tigerResponse' />
  </message>
  <message name='tigerRequestMessage' />
  <message name='tigerResponseMessage'>
    <part name='response' element='tns:tigerResponse' />
  </message>
  <message name='tigerRequestMessage' />
  <message name='tigerResponseMessage'>
    <part name='response' element='tns:tigerResponse' />
  </message>
  <message name='tigerRequestMessage' />
  <message name='tigerResponseMessage'>
    <part name='response' element='tns:tigerResponse' />
  </message>
  <message name='whirlpoolRequestMessage' />
  <message name='whirlpoolResponseMessage'>
    <part name='response' element='tns:whirlpoolResponse' />
  </message>
  <portType name='hashFunctionsPortType'>
    <operation name='adler'>
      <documentation>generate adler hash of the given contents</documentation>
      <input message='tns:adlerRequestMessage' name='adlerInput' />
      <output message='tns:adlerResponseMessage' name='adlerOutput' />
    </operation>
    <operation name='crc'>
      <documentation>generate sha hash of the given contents</documentation>
      <input message='tns:crcRequestMessage' name='crcInput' />
      <output message='tns:crcResponseMessage' name='crcOutput' />
    </operation>
    <operation name='crcB'>
      <documentation>generate crc b hash of the given contents</documentation>
      <input message='tns:crcBRequestMessage' name='crcBInput' />
      <output message='tns:crcBResponseMessage' name='crcBOutput' />
    </operation>
    <operation name='fnv'>
      <documentation>generate fnv hash of the given contents</documentation>
      <input message='tns:fnvRequestMessage' name='fnvInput' />
      <output message='tns:fnvResponseMessage' name='fnvOutput' />
    </operation>
    <operation name='fnv'>
      <documentation>generate fnv hash of the given contents</documentation>
      <input message='tns:fnvRequestMessage' name='fnvInput' />
      <output message='tns:fnvResponseMessage' name='fnvOutput' />
    </operation>
    <operation name='gost'>
      <documentation>generate gost hash of the given contents</documentation>
      <input message='tns:gostRequestMessage' name='gostInput' />
      <output message='tns:gostResponseMessage' name='gostOutput' />
    </operation>
    <operation name='joaat'>
      <documentation>generate joaat hash of the given contents</documentation>
      <input message='tns:joaatRequestMessage' name='joaatInput' />
      <output message='tns:joaatResponseMessage' name='joaatOutput' />
    </operation>
    <operation name='md'>
      <documentation>generate md hash of the given contents</documentation>
      <input message='tns:mdRequestMessage' name='mdInput' />
      <output message='tns:mdResponseMessage' name='mdOutput' />
    </operation>
    <operation name='md'>
      <documentation>generate md hash of the given contents</documentation>
      <input message='tns:mdRequestMessage' name='mdInput' />
      <output message='tns:mdResponseMessage' name='mdOutput' />
    </operation>
    <operation name='md'>
      <documentation>generate md hash of the given contents</documentation>
      <input message='tns:mdRequestMessage' name='mdInput' />
      <output message='tns:mdResponseMessage' name='mdOutput' />
    </operation>
    <operation name='ripemd'>
      <documentation>generate ripemd hash of the given contents</documentation>
      <input message='tns:ripemdRequestMessage' name='ripemdInput' />
      <output message='tns:ripemdResponseMessage' name='ripemdOutput' />
    </operation>
    <operation name='ripemd'>
      <documentation>generate ripemd hash of the given contents</documentation>
      <input message='tns:ripemdRequestMessage' name='ripemdInput' />
      <output message='tns:ripemdResponseMessage' name='ripemdOutput' />
    </operation>
    <operation name='ripemd'>
      <documentation>generate ripemd hash of the given contents</documentation>
      <input message='tns:ripemdRequestMessage' name='ripemdInput' />
      <output message='tns:ripemdResponseMessage' name='ripemdOutput' />
    </operation>
    <operation name='ripemd'>
      <documentation>generate ripemd hash of the given contents</documentation>
      <input message='tns:ripemdRequestMessage' name='ripemdInput' />
      <output message='tns:ripemdResponseMessage' name='ripemdOutput' />
    </operation>
    <operation name='sha'>
      <documentation>generate sha hash of the given contents</documentation>
      <input message='tns:shaRequestMessage' name='shaInput' />
      <output message='tns:shaResponseMessage' name='shaOutput' />
    </operation>
    <operation name='sha'>
      <documentation>generate sha hash of the given contents</documentation>
      <input message='tns:shaRequestMessage' name='shaInput' />
      <output message='tns:shaResponseMessage' name='shaOutput' />
    </operation>
    <operation name='sha'>
      <documentation>generate sha hash of the given contents</documentation>
      <input message='tns:shaRequestMessage' name='shaInput' />
      <output message='tns:shaResponseMessage' name='shaOutput' />
    </operation>
    <operation name='sha'>
      <documentation></documentation>
      <input message='tns:shaRequestMessage' name='shaInput' />
      <output message='tns:shaResponseMessage' name='shaOutput' />
    </operation>
    <operation name='sha'>
      <documentation>generate sha hash of the given contents</documentation>
      <input message='tns:shaRequestMessage' name='shaInput' />
      <output message='tns:shaResponseMessage' name='shaOutput' />
    </operation>
    <operation name='snefru'>
      <documentation>generate snefru hash of the given contents</documentation>
      <input message='tns:snefruRequestMessage' name='snefruInput' />
      <output message='tns:snefruResponseMessage' name='snefruOutput' />
    </operation>
    <operation name='snefru'>
      <documentation>generate snefru hash of the given contents</documentation>
      <input message='tns:snefruRequestMessage' name='snefruInput' />
      <output message='tns:snefruResponseMessage' name='snefruOutput' />
    </operation>
    <operation name='tiger'>
      <documentation>generate tiger hash of the given contents</documentation>
      <input message='tns:tigerRequestMessage' name='tigerInput' />
      <output message='tns:tigerResponseMessage' name='tigerOutput' />
    </operation>
    <operation name='tiger'>
      <documentation>generate tiger hash of the given contents</documentation>
      <input message='tns:tigerRequestMessage' name='tigerInput' />
      <output message='tns:tigerResponseMessage' name='tigerOutput' />
    </operation>
    <operation name='tiger'>
      <documentation>generate tiger hash of the given contents</documentation>
      <input message='tns:tigerRequestMessage' name='tigerInput' />
      <output message='tns:tigerResponseMessage' name='tigerOutput' />
    </operation>
    <operation name='tiger'>
      <documentation>generate tiger hash of the given contents</documentation>
      <input message='tns:tigerRequestMessage' name='tigerInput' />
      <output message='tns:tigerResponseMessage' name='tigerOutput' />
    </operation>
    <operation name='tiger'>
      <documentation>generate tiger hash of the given contents</documentation>
      <input message='tns:tigerRequestMessage' name='tigerInput' />
      <output message='tns:tigerResponseMessage' name='tigerOutput' />
    </operation>
    <operation name='tiger'>
      <documentation>generate tiger hash of the given contents</documentation>
      <input message='tns:tigerRequestMessage' name='tigerInput' />
      <output message='tns:tigerResponseMessage' name='tigerOutput' />
    </operation>
    <operation name='whirlpool'>
      <documentation>generate whirlpool hash of the given contents</documentation>
      <input message='tns:whirlpoolRequestMessage' name='whirlpoolInput' />
      <output message='tns:whirlpoolResponseMessage' name='whirlpoolOutput' />
    </operation>
  </portType>
  <binding name='hashFunctionsBinding' type='tns:hashFunctionsPortType'>
    <operation name='adler'>
      <soap12:operation soapAction='http://adler' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='crc'>
      <soap12:operation soapAction='http://crc' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='crcB'>
      <soap12:operation soapAction='http://crcB' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fnv'>
      <soap12:operation soapAction='http://fnv' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fnv'>
      <soap12:operation soapAction='http://fnv' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gost'>
      <soap12:operation soapAction='http://gost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='joaat'>
      <soap12:operation soapAction='http://joaat' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='md'>
      <soap12:operation soapAction='http://md' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='md'>
      <soap12:operation soapAction='http://md' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='md'>
      <soap12:operation soapAction='http://md' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ripemd'>
      <soap12:operation soapAction='http://ripemd' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ripemd'>
      <soap12:operation soapAction='http://ripemd' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ripemd'>
      <soap12:operation soapAction='http://ripemd' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ripemd'>
      <soap12:operation soapAction='http://ripemd' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sha'>
      <soap12:operation soapAction='http://sha' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sha'>
      <soap12:operation soapAction='http://sha' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sha'>
      <soap12:operation soapAction='http://sha' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sha'>
      <soap12:operation soapAction='http://sha' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sha'>
      <soap12:operation soapAction='http://sha' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='snefru'>
      <soap12:operation soapAction='http://snefru' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='snefru'>
      <soap12:operation soapAction='http://snefru' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tiger'>
      <soap12:operation soapAction='http://tiger' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tiger'>
      <soap12:operation soapAction='http://tiger' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tiger'>
      <soap12:operation soapAction='http://tiger' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tiger'>
      <soap12:operation soapAction='http://tiger' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tiger'>
      <soap12:operation soapAction='http://tiger' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tiger'>
      <soap12:operation soapAction='http://tiger' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='whirlpool'>
      <soap12:operation soapAction='http://whirlpool' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='hashFunctions'>
    <documentation>generate hashes using many popular hashing functions including md md md sha sha sha sha sha ripemd ripemd ripemd ripemd whirlpool tiger tiger tiger tiger tiger tiger snefru snefru gost adler crc crc b fnv fnv joaat</documentation>
    <port name='hashFunctionsPort' binding='tns:hashFunctionsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://hashFunctions' />
    </port>
  </service>
</definitions>