workspace/datasets/mashape_dataset/haveibeenpwned.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/haveIBeenPwned/' name='haveIBeenPwned' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/haveIBeenPwned/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/haveIBeenPwned/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/haveIBeenPwned/'>
      <xsd:element name='getBreachedSitesForAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getBreachedSitesForAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getBreachedSitesForAccountRequestMessage'>
    <part name='parameters' element='tns:getBreachedSitesForAccountParameters' />
  </message>
  <message name='getBreachedSitesForAccountResponseMessage'>
    <part name='response' element='tns:getBreachedSitesForAccountResponse' />
  </message>
  <portType name='haveIBeenPwnedPortType'>
    <operation name='getBreachedSitesForAccount'>
      <documentation>the most common use of the API is to return a list of all breaches a particular account has been involved in The API takes a single parameter which is the account to be searched for The account is not case sensitive and will be trimmed of leading or trailing white spaces The account should always be URL encoded</documentation>
      <input message='tns:getBreachedSitesForAccountRequestMessage' name='getBreachedSitesForAccountInput' />
      <output message='tns:getBreachedSitesForAccountResponseMessage' name='getBreachedSitesForAccountOutput' />
    </operation>
  </portType>
  <binding name='haveIBeenPwnedBinding' type='tns:haveIBeenPwnedPortType'>
    <operation name='getBreachedSitesForAccount'>
      <soap12:operation soapAction='http://getBreachedSitesForAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='haveIBeenPwned'>
    <documentation>the Have I been pwned service allows you to search for accounts usernames and email addresses that have appeared in data breaches that the attackers have made public</documentation>
    <port name='haveIBeenPwnedPort' binding='tns:haveIBeenPwnedBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://haveIBeenPwned' />
    </port>
  </service>
</definitions>