workspace/datasets/mashape_dataset/hellosign.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/hellosign/' name='hellosign' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/hellosign/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/hellosign/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/hellosign/'>
      <xsd:element name='addMemberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='team' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='accounts' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='role_code' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='callback_url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='role_code' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createDraftResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='unclaimed_draft' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='claim_url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createTeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='team' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='accounts' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='role_code' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='team' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='accounts' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='role_code' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='callback_url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='role_code' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getReusableFormParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reusableformid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getReusableFormResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reusable_form' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='documents' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='form_fields' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='custom_fields' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='index' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='reusable_form_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signer_roles' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='cc_roles' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='accounts' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSignatureRequestParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='signaturerequestid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSignatureRequestResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='signature_request' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='response_data' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='signature_request_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subject' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='details_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='signatures' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='signer_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='status_code' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='last_viewed_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='signed_at' type='xsd:int' minOccurs='0' />
                        <xsd:element name='signer_email_address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='last_reminded_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='order' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='has_error' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='requester_email_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signing_url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_complete' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='team' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='accounts' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='role_code' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='giveAccessToReusableFormParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reusableformid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='giveAccessToReusableFormResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reusable_form' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='documents' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='form_fields' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='custom_fields' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='index' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='reusable_form_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signer_roles' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='cc_roles' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='accounts' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listReusableFormsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listReusableFormsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reusable_forms' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='documents' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='custom_fields' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='index' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='reusable_form_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signer_roles' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='cc_roles' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='accounts' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='list_info' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='num_pages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='num_results' type='xsd:int' minOccurs='0' />
                  <xsd:element name='page_size' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listSignatureRequestsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listSignatureRequestsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='signature_requests' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='signature_request_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subject' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='details_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='signatures' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='signer_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='status_code' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='last_viewed_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='signed_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='signer_email_address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='last_reminded_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='has_error' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='requester_email_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signing_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='is_complete' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='cc_email_addresses' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='list_info' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='num_pages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='num_results' type='xsd:int' minOccurs='0' />
                  <xsd:element name='page_size' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='callback_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='role_code' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postTeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='team' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='accounts' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='role_code' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeAccessToReusableFormParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reusableformid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeAccessToReusableFormResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reusable_form' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='documents' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='form_fields' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='x' type='xsd:int' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='y' type='xsd:int' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='custom_fields' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='index' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='reusable_form_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signer_roles' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='cc_roles' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='accounts' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='account_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeMemberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendSignatureRequestResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='signature_request' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='signature_request_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subject' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='details_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='signatures' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='signer_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='status_code' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='last_viewed_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='signed_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='signer_email_address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='last_reminded_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='order' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='has_error' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='requester_email_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signing_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='is_complete' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='cc_email_addresses' type='xsd:normalizedString' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendSignatureRequestWithReusableFormResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='signature_request' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='signature_request_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subject' type='xsd:string' minOccurs='0' />
                  <xsd:element name='custom_fields' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='details_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='signatures' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='signer_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='status_code' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='last_viewed_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='signed_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='signer_email_address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='last_reminded_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='order' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='has_error' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='requester_email_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signing_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='is_complete' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='cc_email_addresses' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addMemberRequestMessage' />
  <message name='addMemberResponseMessage'>
    <part name='response' element='tns:addMemberResponse' />
  </message>
  <message name='createAccountRequestMessage' />
  <message name='createAccountResponseMessage'>
    <part name='response' element='tns:createAccountResponse' />
  </message>
  <message name='createDraftRequestMessage' />
  <message name='createDraftResponseMessage'>
    <part name='response' element='tns:createDraftResponse' />
  </message>
  <message name='createTeamRequestMessage' />
  <message name='createTeamResponseMessage'>
    <part name='response' element='tns:createTeamResponse' />
  </message>
  <message name='deleteTeamRequestMessage' />
  <message name='deleteTeamResponseMessage'>
    <part name='response' element='tns:deleteTeamResponse' />
  </message>
  <message name='getAccountRequestMessage' />
  <message name='getAccountResponseMessage'>
    <part name='response' element='tns:getAccountResponse' />
  </message>
  <message name='getReusableFormRequestMessage'>
    <part name='parameters' element='tns:getReusableFormParameters' />
  </message>
  <message name='getReusableFormResponseMessage'>
    <part name='response' element='tns:getReusableFormResponse' />
  </message>
  <message name='getSignatureRequestRequestMessage'>
    <part name='parameters' element='tns:getSignatureRequestParameters' />
  </message>
  <message name='getSignatureRequestResponseMessage'>
    <part name='response' element='tns:getSignatureRequestResponse' />
  </message>
  <message name='getTeamRequestMessage' />
  <message name='getTeamResponseMessage'>
    <part name='response' element='tns:getTeamResponse' />
  </message>
  <message name='giveAccessToReusableFormRequestMessage'>
    <part name='parameters' element='tns:giveAccessToReusableFormParameters' />
  </message>
  <message name='giveAccessToReusableFormResponseMessage'>
    <part name='response' element='tns:giveAccessToReusableFormResponse' />
  </message>
  <message name='listReusableFormsRequestMessage'>
    <part name='parameters' element='tns:listReusableFormsParameters' />
  </message>
  <message name='listReusableFormsResponseMessage'>
    <part name='response' element='tns:listReusableFormsResponse' />
  </message>
  <message name='listSignatureRequestsRequestMessage'>
    <part name='parameters' element='tns:listSignatureRequestsParameters' />
  </message>
  <message name='listSignatureRequestsResponseMessage'>
    <part name='response' element='tns:listSignatureRequestsResponse' />
  </message>
  <message name='postAccountRequestMessage' />
  <message name='postAccountResponseMessage'>
    <part name='response' element='tns:postAccountResponse' />
  </message>
  <message name='postTeamRequestMessage' />
  <message name='postTeamResponseMessage'>
    <part name='response' element='tns:postTeamResponse' />
  </message>
  <message name='removeAccessToReusableFormRequestMessage'>
    <part name='parameters' element='tns:removeAccessToReusableFormParameters' />
  </message>
  <message name='removeAccessToReusableFormResponseMessage'>
    <part name='response' element='tns:removeAccessToReusableFormResponse' />
  </message>
  <message name='removeMemberRequestMessage' />
  <message name='removeMemberResponseMessage'>
    <part name='response' element='tns:removeMemberResponse' />
  </message>
  <message name='sendSignatureRequestRequestMessage' />
  <message name='sendSignatureRequestResponseMessage'>
    <part name='response' element='tns:sendSignatureRequestResponse' />
  </message>
  <message name='sendSignatureRequestWithReusableFormRequestMessage' />
  <message name='sendSignatureRequestWithReusableFormResponseMessage'>
    <part name='response' element='tns:sendSignatureRequestWithReusableFormResponse' />
  </message>
  <portType name='hellosignPortType'>
    <operation name='addMember'>
      <documentation>adds or invites a user specified using the email address parameter to your Team If the user does not currently have a HelloSign Account a new one will be created for them If the user currently has a paid subscription they will not automatically join the Team but instead will be sent an invitation to join If a user is already a part of another Team a team invite failed error will be returned</documentation>
      <input message='tns:addMemberRequestMessage' name='addMemberInput' />
      <output message='tns:addMemberResponseMessage' name='addMemberOutput' />
    </operation>
    <operation name='createAccount'>
      <documentation>creates a new HelloSign Account that is associated with the specified email address and password</documentation>
      <input message='tns:createAccountRequestMessage' name='createAccountInput' />
      <output message='tns:createAccountResponseMessage' name='createAccountOutput' />
    </operation>
    <operation name='createDraft'>
      <documentation>creates a new Draft that can be claimed using the claim URL The first authenticated user to access the URL will claim the Draft and will be shown either the Sign and send or the Request signature page with the Draft loaded Subsequent access to the claim URL will result in a If the type is send document then only the file parameter is required If the type is request signature then the identities of the signers and optionally the location of signing elements on the page are also required</documentation>
      <input message='tns:createDraftRequestMessage' name='createDraftInput' />
      <output message='tns:createDraftResponseMessage' name='createDraftOutput' />
    </operation>
    <operation name='createTeam'>
      <documentation>creates a new Team and makes you a member You must not currently belong to a Team to invoke</documentation>
      <input message='tns:createTeamRequestMessage' name='createTeamInput' />
      <output message='tns:createTeamResponseMessage' name='createTeamOutput' />
    </operation>
    <operation name='deleteTeam'>
      <documentation>deletes your Team Can only be invoked when you have a Team with only one member yourself</documentation>
      <input message='tns:deleteTeamRequestMessage' name='deleteTeamInput' />
      <output message='tns:deleteTeamResponseMessage' name='deleteTeamOutput' />
    </operation>
    <operation name='getAccount'>
      <documentation>returns the properties and settings of your Account</documentation>
      <input message='tns:getAccountRequestMessage' name='getAccountInput' />
      <output message='tns:getAccountResponseMessage' name='getAccountOutput' />
    </operation>
    <operation name='getReusableForm'>
      <documentation>returns the ReusableForm specified by the id parameter</documentation>
      <input message='tns:getReusableFormRequestMessage' name='getReusableFormInput' />
      <output message='tns:getReusableFormResponseMessage' name='getReusableFormOutput' />
    </operation>
    <operation name='getSignatureRequest'>
      <documentation>returns the status of the SignatureRequest specified by the signature request id parameter</documentation>
      <input message='tns:getSignatureRequestRequestMessage' name='getSignatureRequestInput' />
      <output message='tns:getSignatureRequestResponseMessage' name='getSignatureRequestOutput' />
    </operation>
    <operation name='getTeam'>
      <documentation>returns information about your Team as well as a list of its members If you do not belong to a Team a error with an error name of not found will be returned</documentation>
      <input message='tns:getTeamRequestMessage' name='getTeamInput' />
      <output message='tns:getTeamResponseMessage' name='getTeamOutput' />
    </operation>
    <operation name='giveAccessToReusableForm'>
      <documentation>gives the specified Account access to the specified ReusableForm The specified Account must be a part of your Team</documentation>
      <input message='tns:giveAccessToReusableFormRequestMessage' name='giveAccessToReusableFormInput' />
      <output message='tns:giveAccessToReusableFormResponseMessage' name='giveAccessToReusableFormOutput' />
    </operation>
    <operation name='listReusableForms'>
      <documentation>returns a list the ReusableForms that are accessible by you</documentation>
      <input message='tns:listReusableFormsRequestMessage' name='listReusableFormsInput' />
      <output message='tns:listReusableFormsResponseMessage' name='listReusableFormsOutput' />
    </operation>
    <operation name='listSignatureRequests'>
      <documentation>returns a list of SignatureRequests that you can access This includes SignatureRequests you have sent as well as received but not ones that you have been CCed on</documentation>
      <input message='tns:listSignatureRequestsRequestMessage' name='listSignatureRequestsInput' />
      <output message='tns:listSignatureRequestsResponseMessage' name='listSignatureRequestsOutput' />
    </operation>
    <operation name='postAccount'>
      <documentation>updates the properties and settings of your Account</documentation>
      <input message='tns:postAccountRequestMessage' name='postAccountInput' />
      <output message='tns:postAccountResponseMessage' name='postAccountOutput' />
    </operation>
    <operation name='postTeam'>
      <documentation>updates the name of your Team If you do not have a Team a new Team is created</documentation>
      <input message='tns:postTeamRequestMessage' name='postTeamInput' />
      <output message='tns:postTeamResponseMessage' name='postTeamOutput' />
    </operation>
    <operation name='removeAccessToReusableForm'>
      <documentation>removes the specified Account s access to the specified ReusableForm</documentation>
      <input message='tns:removeAccessToReusableFormRequestMessage' name='removeAccessToReusableFormInput' />
      <output message='tns:removeAccessToReusableFormResponseMessage' name='removeAccessToReusableFormOutput' />
    </operation>
    <operation name='removeMember'>
      <documentation>removes a user from your Team If the user had an outstanding invitation to your Team the invitation will be expired</documentation>
      <input message='tns:removeMemberRequestMessage' name='removeMemberInput' />
      <output message='tns:removeMemberResponseMessage' name='removeMemberOutput' />
    </operation>
    <operation name='sendSignatureRequest'>
      <documentation>creates and sends a new SignatureRequest with the submitted documents If form fields per document is not specified a signature page will be affixed where all signers will be required to add their signature signifying their agreement to all contained documents</documentation>
      <input message='tns:sendSignatureRequestRequestMessage' name='sendSignatureRequestInput' />
      <output message='tns:sendSignatureRequestResponseMessage' name='sendSignatureRequestOutput' />
    </operation>
    <operation name='sendSignatureRequestWithReusableForm'>
      <documentation>creates and sends a new SignatureRequest based off of the ReusableForm specified with the reusable form id parameter</documentation>
      <input message='tns:sendSignatureRequestWithReusableFormRequestMessage' name='sendSignatureRequestWithReusableFormInput' />
      <output message='tns:sendSignatureRequestWithReusableFormResponseMessage' name='sendSignatureRequestWithReusableFormOutput' />
    </operation>
  </portType>
  <binding name='hellosignBinding' type='tns:hellosignPortType'>
    <operation name='addMember'>
      <soap12:operation soapAction='http://addMember' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAccount'>
      <soap12:operation soapAction='http://createAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createDraft'>
      <soap12:operation soapAction='http://createDraft' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createTeam'>
      <soap12:operation soapAction='http://createTeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteTeam'>
      <soap12:operation soapAction='http://deleteTeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAccount'>
      <soap12:operation soapAction='http://getAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getReusableForm'>
      <soap12:operation soapAction='http://getReusableForm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSignatureRequest'>
      <soap12:operation soapAction='http://getSignatureRequest' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTeam'>
      <soap12:operation soapAction='http://getTeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='giveAccessToReusableForm'>
      <soap12:operation soapAction='http://giveAccessToReusableForm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listReusableForms'>
      <soap12:operation soapAction='http://listReusableForms' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listSignatureRequests'>
      <soap12:operation soapAction='http://listSignatureRequests' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postAccount'>
      <soap12:operation soapAction='http://postAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postTeam'>
      <soap12:operation soapAction='http://postTeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeAccessToReusableForm'>
      <soap12:operation soapAction='http://removeAccessToReusableForm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeMember'>
      <soap12:operation soapAction='http://removeMember' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendSignatureRequest'>
      <soap12:operation soapAction='http://sendSignatureRequest' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendSignatureRequestWithReusableForm'>
      <soap12:operation soapAction='http://sendSignatureRequestWithReusableForm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='hellosign'>
    <documentation>signatures Made simple Getting documents signed has never been simpler We ve removed paper entirely from the process and built tools to facilitate document signing tracking and management Notifications keep you apprised of the signer s activity and our audit trail logs it Once completed signed documents are securely stored and accessible from the cloud so you can always get to your important documents Sharing is just as easy With HelloSign you can share templates and signed documents with your team other internal departments and even outside counsel so everyone is on the same paperless page</documentation>
    <port name='hellosignPort' binding='tns:hellosignBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://hellosign' />
    </port>
  </service>
</definitions>