workspace/datasets/mashape_dataset/heywatchvideoencoding.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/heywatchVideoEncoding/' name='heywatchVideoEncoding' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/heywatchVideoEncoding/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/heywatchVideoEncoding/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/heywatchVideoEncoding/'>
      <xsd:element name='createformatResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='video_codec' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='owner' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='container' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='two_pass' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='audio_channels' type='xsd:int' minOccurs='0' />
                  <xsd:element name='fps' type='xsd:int' minOccurs='0' />
                  <xsd:element name='audio_bitrate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='audio_codec' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sample_rate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='video_bitrate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createhlsjobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format_ids' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='segment_duration' type='xsd:int' minOccurs='0' />
            <xsd:element name='s3_directive' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ftp_directive' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='error_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='m3u8_source_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='ping_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='m3u8_url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='video_id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createjobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='cf_directive' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='error_msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ping_url_after_encode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ping_url_if_error' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='s3_directive' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='encoded_video_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ftp_directive' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='http_upload_directive' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='format_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='progress' type='xsd:int' minOccurs='0' />
                  <xsd:element name='encoding_options' type='xsd:string' minOccurs='0' />
                  <xsd:element name='error_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadencodedvideoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadencodedvideoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadvideoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadvideoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateencodedvideothumbnailsasyncParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateencodedvideothumbnailsasyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateencodedvideothumbnailsyncParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='height' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='width' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateencodedvideothumbnailsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generatevideothumbnailsasyncParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generatevideothumbnailsasyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generatevideothumbnailsyncParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='height' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='width' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generatevideothumbnailsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getaccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cf_directive' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='env' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='login' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='s3_directive' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ftp_directive' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='automatic_encode' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='http_upload_directive' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='default_format' type='xsd:int' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallencodedvideosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='specs' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='size' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mime_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='thumb' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='format_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='video' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='container' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='codec' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='stream' type='xsd:int' minOccurs='0' />
                              <xsd:element name='pix_format' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='rotation' type='xsd:int' minOccurs='0' />
                              <xsd:element name='aspect' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='fps' type='xsd:int' minOccurs='0' />
                              <xsd:element name='length' type='xsd:int' minOccurs='0' />
                              <xsd:element name='bitrate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='audio' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='codec' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='channels' type='xsd:int' minOccurs='0' />
                              <xsd:element name='sample_rate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='stream' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='bitrate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='synched' type='xsd:boolean' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='format_name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='job_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallformatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='video_codec' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='owner' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='container' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='two_pass' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='audio_channels' type='xsd:int' minOccurs='0' />
                  <xsd:element name='fps' type='xsd:int' minOccurs='0' />
                  <xsd:element name='audio_bitrate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='audio_codec' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sample_rate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='video_bitrate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalljobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='cf_directive' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='error_msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ping_url_after_encode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ping_url_if_error' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='s3_directive' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='encoded_video_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ftp_directive' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='http_upload_directive' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='format_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='progress' type='xsd:int' minOccurs='0' />
                  <xsd:element name='encoding_options' type='xsd:string' minOccurs='0' />
                  <xsd:element name='error_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallvideosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='specs' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mime_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='thumb' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='video' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='container' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='codec' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='stream' type='xsd:int' minOccurs='0' />
                        <xsd:element name='pix_format' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='rotation' type='xsd:int' minOccurs='0' />
                        <xsd:element name='aspect' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='fps' type='xsd:int' minOccurs='0' />
                        <xsd:element name='length' type='xsd:int' minOccurs='0' />
                        <xsd:element name='bitrate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='audio' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='codec' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='channels' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sample_rate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='stream' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='bitrate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='synched' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='filename' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getdownloadParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getdownloadResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error_msg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='length' type='xsd:int' minOccurs='0' />
            <xsd:element name='progress' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='time_left' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='percent' type='xsd:int' minOccurs='0' />
                  <xsd:element name='current_length' type='xsd:int' minOccurs='0' />
                  <xsd:element name='speed' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='error_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='video_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getencodedvideoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getencodedvideoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='specs' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='size' type='xsd:int' minOccurs='0' />
                        <xsd:element name='mime_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='thumb' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='format_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='video' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='container' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='codec' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='stream' type='xsd:int' minOccurs='0' />
                              <xsd:element name='pix_format' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='rotation' type='xsd:int' minOccurs='0' />
                              <xsd:element name='aspect' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='fps' type='xsd:int' minOccurs='0' />
                              <xsd:element name='length' type='xsd:int' minOccurs='0' />
                              <xsd:element name='bitrate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='audio' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='codec' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='channels' type='xsd:int' minOccurs='0' />
                              <xsd:element name='sample_rate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='stream' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='bitrate' type='xsd:int' minOccurs='0' />
                              <xsd:element name='synched' type='xsd:boolean' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='format_name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='job_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getformatParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getformatResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='video_codec' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='container' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='owner' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='two_pass' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='audio_channels' type='xsd:int' minOccurs='0' />
            <xsd:element name='fps' type='xsd:int' minOccurs='0' />
            <xsd:element name='audio_bitrate' type='xsd:int' minOccurs='0' />
            <xsd:element name='audio_codec' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sample_rate' type='xsd:int' minOccurs='0' />
            <xsd:element name='width' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='video_bitrate' type='xsd:int' minOccurs='0' />
            <xsd:element name='height' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gethlsjobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gethlsjobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format_ids' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='segment_duration' type='xsd:int' minOccurs='0' />
            <xsd:element name='s3_directive' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ftp_directive' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='error_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='m3u8_source_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='ping_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='m3u8_url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='video_id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='specs' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mime_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='thumb' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='video' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='container' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='codec' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='stream' type='xsd:int' minOccurs='0' />
                        <xsd:element name='pix_format' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='rotation' type='xsd:int' minOccurs='0' />
                        <xsd:element name='aspect' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='fps' type='xsd:int' minOccurs='0' />
                        <xsd:element name='length' type='xsd:int' minOccurs='0' />
                        <xsd:element name='bitrate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='audio' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='codec' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='channels' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sample_rate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='stream' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='bitrate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='synched' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='filename' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setaccountenvResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transfervideoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error_msg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='length' type='xsd:int' minOccurs='0' />
            <xsd:element name='progress' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='time_left' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='percent' type='xsd:int' minOccurs='0' />
                  <xsd:element name='current_length' type='xsd:int' minOccurs='0' />
                  <xsd:element name='speed' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='error_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='video_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadencodedvideotocdnParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadencodedvideotocdnResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createformatRequestMessage' />
  <message name='createformatResponseMessage'>
    <part name='response' element='tns:createformatResponse' />
  </message>
  <message name='createhlsjobRequestMessage' />
  <message name='createhlsjobResponseMessage'>
    <part name='response' element='tns:createhlsjobResponse' />
  </message>
  <message name='createjobRequestMessage' />
  <message name='createjobResponseMessage'>
    <part name='response' element='tns:createjobResponse' />
  </message>
  <message name='downloadencodedvideoRequestMessage'>
    <part name='parameters' element='tns:downloadencodedvideoParameters' />
  </message>
  <message name='downloadencodedvideoResponseMessage'>
    <part name='response' element='tns:downloadencodedvideoResponse' />
  </message>
  <message name='downloadvideoRequestMessage'>
    <part name='parameters' element='tns:downloadvideoParameters' />
  </message>
  <message name='downloadvideoResponseMessage'>
    <part name='response' element='tns:downloadvideoResponse' />
  </message>
  <message name='generateencodedvideothumbnailsasyncRequestMessage'>
    <part name='parameters' element='tns:generateencodedvideothumbnailsasyncParameters' />
  </message>
  <message name='generateencodedvideothumbnailsasyncResponseMessage'>
    <part name='response' element='tns:generateencodedvideothumbnailsasyncResponse' />
  </message>
  <message name='generateencodedvideothumbnailsyncRequestMessage'>
    <part name='parameters' element='tns:generateencodedvideothumbnailsyncParameters' />
  </message>
  <message name='generateencodedvideothumbnailsyncResponseMessage'>
    <part name='response' element='tns:generateencodedvideothumbnailsyncResponse' />
  </message>
  <message name='generatevideothumbnailsasyncRequestMessage'>
    <part name='parameters' element='tns:generatevideothumbnailsasyncParameters' />
  </message>
  <message name='generatevideothumbnailsasyncResponseMessage'>
    <part name='response' element='tns:generatevideothumbnailsasyncResponse' />
  </message>
  <message name='generatevideothumbnailsyncRequestMessage'>
    <part name='parameters' element='tns:generatevideothumbnailsyncParameters' />
  </message>
  <message name='generatevideothumbnailsyncResponseMessage'>
    <part name='response' element='tns:generatevideothumbnailsyncResponse' />
  </message>
  <message name='getaccountRequestMessage' />
  <message name='getaccountResponseMessage'>
    <part name='response' element='tns:getaccountResponse' />
  </message>
  <message name='getallencodedvideosRequestMessage' />
  <message name='getallencodedvideosResponseMessage'>
    <part name='response' element='tns:getallencodedvideosResponse' />
  </message>
  <message name='getallformatsRequestMessage' />
  <message name='getallformatsResponseMessage'>
    <part name='response' element='tns:getallformatsResponse' />
  </message>
  <message name='getalljobsRequestMessage' />
  <message name='getalljobsResponseMessage'>
    <part name='response' element='tns:getalljobsResponse' />
  </message>
  <message name='getallvideosRequestMessage' />
  <message name='getallvideosResponseMessage'>
    <part name='response' element='tns:getallvideosResponse' />
  </message>
  <message name='getdownloadRequestMessage'>
    <part name='parameters' element='tns:getdownloadParameters' />
  </message>
  <message name='getdownloadResponseMessage'>
    <part name='response' element='tns:getdownloadResponse' />
  </message>
  <message name='getencodedvideoRequestMessage'>
    <part name='parameters' element='tns:getencodedvideoParameters' />
  </message>
  <message name='getencodedvideoResponseMessage'>
    <part name='response' element='tns:getencodedvideoResponse' />
  </message>
  <message name='getformatRequestMessage'>
    <part name='parameters' element='tns:getformatParameters' />
  </message>
  <message name='getformatResponseMessage'>
    <part name='response' element='tns:getformatResponse' />
  </message>
  <message name='gethlsjobRequestMessage'>
    <part name='parameters' element='tns:gethlsjobParameters' />
  </message>
  <message name='gethlsjobResponseMessage'>
    <part name='response' element='tns:gethlsjobResponse' />
  </message>
  <message name='getvideoRequestMessage'>
    <part name='parameters' element='tns:getvideoParameters' />
  </message>
  <message name='getvideoResponseMessage'>
    <part name='response' element='tns:getvideoResponse' />
  </message>
  <message name='setaccountenvRequestMessage' />
  <message name='setaccountenvResponseMessage'>
    <part name='response' element='tns:setaccountenvResponse' />
  </message>
  <message name='transfervideoRequestMessage' />
  <message name='transfervideoResponseMessage'>
    <part name='response' element='tns:transfervideoResponse' />
  </message>
  <message name='uploadencodedvideotocdnRequestMessage'>
    <part name='parameters' element='tns:uploadencodedvideotocdnParameters' />
  </message>
  <message name='uploadencodedvideotocdnResponseMessage'>
    <part name='response' element='tns:uploadencodedvideotocdnResponse' />
  </message>
  <portType name='heywatchVideoEncodingPortType'>
    <operation name='createformat'>
      <documentation>create a new format</documentation>
      <input message='tns:createformatRequestMessage' name='createformatInput' />
      <output message='tns:createformatResponseMessage' name='createformatOutput' />
    </operation>
    <operation name='createhlsjob'>
      <documentation>create m u with multiple bitrate using HLS API</documentation>
      <input message='tns:createhlsjobRequestMessage' name='createhlsjobInput' />
      <output message='tns:createhlsjobResponseMessage' name='createhlsjobOutput' />
    </operation>
    <operation name='createjob'>
      <documentation>encode the specified video</documentation>
      <input message='tns:createjobRequestMessage' name='createjobInput' />
      <output message='tns:createjobResponseMessage' name='createjobOutput' />
    </operation>
    <operation name='downloadencodedvideo'>
      <documentation>download the encoded video file</documentation>
      <input message='tns:downloadencodedvideoRequestMessage' name='downloadencodedvideoInput' />
      <output message='tns:downloadencodedvideoResponseMessage' name='downloadencodedvideoOutput' />
    </operation>
    <operation name='downloadvideo'>
      <documentation>download the source video</documentation>
      <input message='tns:downloadvideoRequestMessage' name='downloadvideoInput' />
      <output message='tns:downloadvideoResponseMessage' name='downloadvideoOutput' />
    </operation>
    <operation name='generateencodedvideothumbnailsasync'>
      <documentation></documentation>
      <input message='tns:generateencodedvideothumbnailsasyncRequestMessage' name='generateencodedvideothumbnailsasyncInput' />
      <output message='tns:generateencodedvideothumbnailsasyncResponseMessage' name='generateencodedvideothumbnailsasyncOutput' />
    </operation>
    <operation name='generateencodedvideothumbnailsync'>
      <documentation></documentation>
      <input message='tns:generateencodedvideothumbnailsyncRequestMessage' name='generateencodedvideothumbnailsyncInput' />
      <output message='tns:generateencodedvideothumbnailsyncResponseMessage' name='generateencodedvideothumbnailsyncOutput' />
    </operation>
    <operation name='generatevideothumbnailsasync'>
      <documentation>generate a thumbnail in the background</documentation>
      <input message='tns:generatevideothumbnailsasyncRequestMessage' name='generatevideothumbnailsasyncInput' />
      <output message='tns:generatevideothumbnailsasyncResponseMessage' name='generatevideothumbnailsasyncOutput' />
    </operation>
    <operation name='generatevideothumbnailsync'>
      <documentation>generate the thumbnail of the video Sync</documentation>
      <input message='tns:generatevideothumbnailsyncRequestMessage' name='generatevideothumbnailsyncInput' />
      <output message='tns:generatevideothumbnailsyncResponseMessage' name='generatevideothumbnailsyncOutput' />
    </operation>
    <operation name='getaccount'>
      <documentation>get account information</documentation>
      <input message='tns:getaccountRequestMessage' name='getaccountInput' />
      <output message='tns:getaccountResponseMessage' name='getaccountOutput' />
    </operation>
    <operation name='getallencodedvideos'>
      <documentation>get all encoded videos of your account</documentation>
      <input message='tns:getallencodedvideosRequestMessage' name='getallencodedvideosInput' />
      <output message='tns:getallencodedvideosResponseMessage' name='getallencodedvideosOutput' />
    </operation>
    <operation name='getallformats'>
      <documentation>retrieve all the formats</documentation>
      <input message='tns:getallformatsRequestMessage' name='getallformatsInput' />
      <output message='tns:getallformatsResponseMessage' name='getallformatsOutput' />
    </operation>
    <operation name='getalljobs'>
      <documentation></documentation>
      <input message='tns:getalljobsRequestMessage' name='getalljobsInput' />
      <output message='tns:getalljobsResponseMessage' name='getalljobsOutput' />
    </operation>
    <operation name='getallvideos'>
      <documentation>list of all videos</documentation>
      <input message='tns:getallvideosRequestMessage' name='getallvideosInput' />
      <output message='tns:getallvideosResponseMessage' name='getallvideosOutput' />
    </operation>
    <operation name='getdownload'>
      <documentation></documentation>
      <input message='tns:getdownloadRequestMessage' name='getdownloadInput' />
      <output message='tns:getdownloadResponseMessage' name='getdownloadOutput' />
    </operation>
    <operation name='getencodedvideo'>
      <documentation>get specific info about an encoded video</documentation>
      <input message='tns:getencodedvideoRequestMessage' name='getencodedvideoInput' />
      <output message='tns:getencodedvideoResponseMessage' name='getencodedvideoOutput' />
    </operation>
    <operation name='getformat'>
      <documentation>get a specific format</documentation>
      <input message='tns:getformatRequestMessage' name='getformatInput' />
      <output message='tns:getformatResponseMessage' name='getformatOutput' />
    </operation>
    <operation name='gethlsjob'>
      <documentation>get information of the specified HLS Job</documentation>
      <input message='tns:gethlsjobRequestMessage' name='gethlsjobInput' />
      <output message='tns:gethlsjobResponseMessage' name='gethlsjobOutput' />
    </operation>
    <operation name='getvideo'>
      <documentation>get Information about a specific video</documentation>
      <input message='tns:getvideoRequestMessage' name='getvideoInput' />
      <output message='tns:getvideoResponseMessage' name='getvideoOutput' />
    </operation>
    <operation name='setaccountenv'>
      <documentation>update Environment</documentation>
      <input message='tns:setaccountenvRequestMessage' name='setaccountenvInput' />
      <output message='tns:setaccountenvResponseMessage' name='setaccountenvOutput' />
    </operation>
    <operation name='transfervideo'>
      <documentation>transfer a video to your HeyWatch account for encoding</documentation>
      <input message='tns:transfervideoRequestMessage' name='transfervideoInput' />
      <output message='tns:transfervideoResponseMessage' name='transfervideoOutput' />
    </operation>
    <operation name='uploadencodedvideotocdn'>
      <documentation></documentation>
      <input message='tns:uploadencodedvideotocdnRequestMessage' name='uploadencodedvideotocdnInput' />
      <output message='tns:uploadencodedvideotocdnResponseMessage' name='uploadencodedvideotocdnOutput' />
    </operation>
  </portType>
  <binding name='heywatchVideoEncodingBinding' type='tns:heywatchVideoEncodingPortType'>
    <operation name='createformat'>
      <soap12:operation soapAction='http://createformat' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createhlsjob'>
      <soap12:operation soapAction='http://createhlsjob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createjob'>
      <soap12:operation soapAction='http://createjob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='downloadencodedvideo'>
      <soap12:operation soapAction='http://downloadencodedvideo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='downloadvideo'>
      <soap12:operation soapAction='http://downloadvideo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generateencodedvideothumbnailsasync'>
      <soap12:operation soapAction='http://generateencodedvideothumbnailsasync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generateencodedvideothumbnailsync'>
      <soap12:operation soapAction='http://generateencodedvideothumbnailsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generatevideothumbnailsasync'>
      <soap12:operation soapAction='http://generatevideothumbnailsasync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generatevideothumbnailsync'>
      <soap12:operation soapAction='http://generatevideothumbnailsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getaccount'>
      <soap12:operation soapAction='http://getaccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getallencodedvideos'>
      <soap12:operation soapAction='http://getallencodedvideos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getallformats'>
      <soap12:operation soapAction='http://getallformats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getalljobs'>
      <soap12:operation soapAction='http://getalljobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getallvideos'>
      <soap12:operation soapAction='http://getallvideos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getdownload'>
      <soap12:operation soapAction='http://getdownload' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getencodedvideo'>
      <soap12:operation soapAction='http://getencodedvideo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getformat'>
      <soap12:operation soapAction='http://getformat' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gethlsjob'>
      <soap12:operation soapAction='http://gethlsjob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getvideo'>
      <soap12:operation soapAction='http://getvideo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setaccountenv'>
      <soap12:operation soapAction='http://setaccountenv' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='transfervideo'>
      <soap12:operation soapAction='http://transfervideo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='uploadencodedvideotocdn'>
      <soap12:operation soapAction='http://uploadencodedvideotocdn' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='heywatchVideoEncoding'>
    <documentation>encode videos in the cloud with the HeyWatch Video Encoding API</documentation>
    <port name='heywatchVideoEncodingPort' binding='tns:heywatchVideoEncodingBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://heywatchVideoEncoding' />
    </port>
  </service>
</definitions>