workspace/datasets/mashape_dataset/hipmob.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/hipmob/' name='hipmob' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/hipmob/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/hipmob/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/hipmob/'>
      <xsd:element name='addDeviceFriendsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hostapplicationidentifier' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addDeviceFriendsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkIfDeviceExistsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hostapplicationidentifier' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkIfDeviceExistsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='online' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTranscriptParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='transcriptidentifier' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTranscriptResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApplicationDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApplicationDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDeviceDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hostapplicationidentifier' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDeviceDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userdata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='lastcontext' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='locale' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='version' type='xsd:int' minOccurs='0' />
            <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDeviceFriendsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hostapplicationidentifier' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDeviceFriendsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='pagesize' type='xsd:int' minOccurs='0' />
            <xsd:element name='index' type='xsd:int' minOccurs='0' />
            <xsd:element name='friends' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDeviceMessageCountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hostapplicationidentifier' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDeviceMessageCountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTranscriptParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='transcriptidentifier' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTranscriptResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='app' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='linecount' type='xsd:int' minOccurs='0' />
            <xsd:element name='appname' type='xsd:string' minOccurs='0' />
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ended' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='started' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lines' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='session' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='detail' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='userdata' type='xsd:string' minOccurs='0' />
                        <xsd:element name='appid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='version' type='xsd:int' minOccurs='0' />
                        <xsd:element name='device' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='device' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='userdata' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lastcontext' type='xsd:string' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='locale' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='info' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='app' type='xsd:string' minOccurs='0' />
                  <xsd:element name='humanlines' type='xsd:int' minOccurs='0' />
                  <xsd:element name='built' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='availableadminscount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='session' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='length' type='xsd:int' minOccurs='0' />
                  <xsd:element name='humanduration' type='xsd:string' minOccurs='0' />
                  <xsd:element name='enddate_epoch' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='startdate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='enddate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='startdate_epoch' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='company' type='xsd:string' minOccurs='0' />
                  <xsd:element name='availableadmins' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listApplicationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='values' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listTranscriptsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='since' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listTranscriptsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='values' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='app' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='end' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lines' type='xsd:int' minOccurs='0' />
                  <xsd:element name='info' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='app' type='xsd:string' minOccurs='0' />
                        <xsd:element name='humanlines' type='xsd:int' minOccurs='0' />
                        <xsd:element name='built' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='availableadminscount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='session' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='length' type='xsd:int' minOccurs='0' />
                        <xsd:element name='humanduration' type='xsd:string' minOccurs='0' />
                        <xsd:element name='enddate_epoch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='startdate' type='xsd:string' minOccurs='0' />
                        <xsd:element name='version' type='xsd:int' minOccurs='0' />
                        <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='duration' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='enddate' type='xsd:string' minOccurs='0' />
                        <xsd:element name='startdate_epoch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company' type='xsd:string' minOccurs='0' />
                        <xsd:element name='availableadmins' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeDeviceFriendParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='friendhostapplicationidentifier' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hostapplicationidentifier' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeDeviceFriendResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeDeviceFriendsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hostapplicationidentifier' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeDeviceFriendsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTextMessageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hostapplicationidentifier' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTextMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='pagesize' type='xsd:int' minOccurs='0' />
            <xsd:element name='index' type='xsd:int' minOccurs='0' />
            <xsd:element name='friends' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setDeviceFriendsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hostapplicationidentifier' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setDeviceFriendsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setUserStatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setUserStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='values' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='app' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='end' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lines' type='xsd:int' minOccurs='0' />
                  <xsd:element name='info' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='app' type='xsd:string' minOccurs='0' />
                        <xsd:element name='humanlines' type='xsd:int' minOccurs='0' />
                        <xsd:element name='built' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='availableadminscount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='session' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='length' type='xsd:int' minOccurs='0' />
                        <xsd:element name='humanduration' type='xsd:string' minOccurs='0' />
                        <xsd:element name='enddate_epoch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='startdate' type='xsd:string' minOccurs='0' />
                        <xsd:element name='version' type='xsd:int' minOccurs='0' />
                        <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='duration' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='enddate' type='xsd:string' minOccurs='0' />
                        <xsd:element name='startdate_epoch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company' type='xsd:string' minOccurs='0' />
                        <xsd:element name='availableadmins' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addDeviceFriendsRequestMessage'>
    <part name='parameters' element='tns:addDeviceFriendsParameters' />
  </message>
  <message name='addDeviceFriendsResponseMessage'>
    <part name='response' element='tns:addDeviceFriendsResponse' />
  </message>
  <message name='checkIfDeviceExistsRequestMessage'>
    <part name='parameters' element='tns:checkIfDeviceExistsParameters' />
  </message>
  <message name='checkIfDeviceExistsResponseMessage'>
    <part name='response' element='tns:checkIfDeviceExistsResponse' />
  </message>
  <message name='deleteTranscriptRequestMessage'>
    <part name='parameters' element='tns:deleteTranscriptParameters' />
  </message>
  <message name='deleteTranscriptResponseMessage'>
    <part name='response' element='tns:deleteTranscriptResponse' />
  </message>
  <message name='getApplicationDetailsRequestMessage'>
    <part name='parameters' element='tns:getApplicationDetailsParameters' />
  </message>
  <message name='getApplicationDetailsResponseMessage'>
    <part name='response' element='tns:getApplicationDetailsResponse' />
  </message>
  <message name='getDeviceDetailsRequestMessage'>
    <part name='parameters' element='tns:getDeviceDetailsParameters' />
  </message>
  <message name='getDeviceDetailsResponseMessage'>
    <part name='response' element='tns:getDeviceDetailsResponse' />
  </message>
  <message name='getDeviceFriendsRequestMessage'>
    <part name='parameters' element='tns:getDeviceFriendsParameters' />
  </message>
  <message name='getDeviceFriendsResponseMessage'>
    <part name='response' element='tns:getDeviceFriendsResponse' />
  </message>
  <message name='getDeviceMessageCountRequestMessage'>
    <part name='parameters' element='tns:getDeviceMessageCountParameters' />
  </message>
  <message name='getDeviceMessageCountResponseMessage'>
    <part name='response' element='tns:getDeviceMessageCountResponse' />
  </message>
  <message name='getTranscriptRequestMessage'>
    <part name='parameters' element='tns:getTranscriptParameters' />
  </message>
  <message name='getTranscriptResponseMessage'>
    <part name='response' element='tns:getTranscriptResponse' />
  </message>
  <message name='getUserDetailsRequestMessage'>
    <part name='parameters' element='tns:getUserDetailsParameters' />
  </message>
  <message name='getUserDetailsResponseMessage'>
    <part name='response' element='tns:getUserDetailsResponse' />
  </message>
  <message name='listApplicationsRequestMessage' />
  <message name='listApplicationsResponseMessage'>
    <part name='response' element='tns:listApplicationsResponse' />
  </message>
  <message name='listTranscriptsRequestMessage'>
    <part name='parameters' element='tns:listTranscriptsParameters' />
  </message>
  <message name='listTranscriptsResponseMessage'>
    <part name='response' element='tns:listTranscriptsResponse' />
  </message>
  <message name='removeDeviceFriendRequestMessage'>
    <part name='parameters' element='tns:removeDeviceFriendParameters' />
  </message>
  <message name='removeDeviceFriendResponseMessage'>
    <part name='response' element='tns:removeDeviceFriendResponse' />
  </message>
  <message name='removeDeviceFriendsRequestMessage'>
    <part name='parameters' element='tns:removeDeviceFriendsParameters' />
  </message>
  <message name='removeDeviceFriendsResponseMessage'>
    <part name='response' element='tns:removeDeviceFriendsResponse' />
  </message>
  <message name='sendTextMessageRequestMessage'>
    <part name='parameters' element='tns:sendTextMessageParameters' />
  </message>
  <message name='sendTextMessageResponseMessage'>
    <part name='response' element='tns:sendTextMessageResponse' />
  </message>
  <message name='setDeviceFriendsRequestMessage'>
    <part name='parameters' element='tns:setDeviceFriendsParameters' />
  </message>
  <message name='setDeviceFriendsResponseMessage'>
    <part name='response' element='tns:setDeviceFriendsResponse' />
  </message>
  <message name='setUserStatusRequestMessage'>
    <part name='parameters' element='tns:setUserStatusParameters' />
  </message>
  <message name='setUserStatusResponseMessage'>
    <part name='response' element='tns:setUserStatusResponse' />
  </message>
  <portType name='hipmobPortType'>
    <operation name='addDeviceFriends'>
      <documentation>adds friends to the friends list of a specific device these friends will now be able to send messages to this device or receive messages from this device</documentation>
      <input message='tns:addDeviceFriendsRequestMessage' name='addDeviceFriendsInput' />
      <output message='tns:addDeviceFriendsResponseMessage' name='addDeviceFriendsOutput' />
    </operation>
    <operation name='checkIfDeviceExists'>
      <documentation>checks to see if the device running the specified application and using the specified host application identifier is currently online</documentation>
      <input message='tns:checkIfDeviceExistsRequestMessage' name='checkIfDeviceExistsInput' />
      <output message='tns:checkIfDeviceExistsResponseMessage' name='checkIfDeviceExistsOutput' />
    </operation>
    <operation name='deleteTranscript'>
      <documentation>deletes a specific transcript in the company associated with the authenticated Hipmob account The API identifies the requested transcript by its internal Hipmob ID retrieved using the List Transcripts API call</documentation>
      <input message='tns:deleteTranscriptRequestMessage' name='deleteTranscriptInput' />
      <output message='tns:deleteTranscriptResponseMessage' name='deleteTranscriptOutput' />
    </operation>
    <operation name='getApplicationDetails'>
      <documentation>returns the application details for a specific application associated with the authenticated Hipmob account The API identifies the requested application by its internal Hipmob ID which is identical to the application s ID</documentation>
      <input message='tns:getApplicationDetailsRequestMessage' name='getApplicationDetailsInput' />
      <output message='tns:getApplicationDetailsResponseMessage' name='getApplicationDetailsOutput' />
    </operation>
    <operation name='getDeviceDetails'>
      <documentation>retrieves the details saved for the device running the specified application and using the specified host application identifier that has connected to the Hipmob communication network</documentation>
      <input message='tns:getDeviceDetailsRequestMessage' name='getDeviceDetailsInput' />
      <output message='tns:getDeviceDetailsResponseMessage' name='getDeviceDetailsOutput' />
    </operation>
    <operation name='getDeviceFriends'>
      <documentation>retrieves the host application identifiers of all devices that are considered friends of the specified device these are the devices that can send messages to this device or receive messages from this device</documentation>
      <input message='tns:getDeviceFriendsRequestMessage' name='getDeviceFriendsInput' />
      <output message='tns:getDeviceFriendsResponseMessage' name='getDeviceFriendsOutput' />
    </operation>
    <operation name='getDeviceMessageCount'>
      <documentation>retrieves the number of undelivered messages that have been sent to the device running the specified application and using the specified host application identifier</documentation>
      <input message='tns:getDeviceMessageCountRequestMessage' name='getDeviceMessageCountInput' />
      <output message='tns:getDeviceMessageCountResponseMessage' name='getDeviceMessageCountOutput' />
    </operation>
    <operation name='getTranscript'>
      <documentation>returns the transcript details for a specific transcript in the company associated with the authenticated Hipmob account The API identifies the requested transcript by its internal Hipmob ID retrieved using the List Transcripts API call</documentation>
      <input message='tns:getTranscriptRequestMessage' name='getTranscriptInput' />
      <output message='tns:getTranscriptResponseMessage' name='getTranscriptOutput' />
    </operation>
    <operation name='getUserDetails'>
      <documentation>returns the details for a specific user The API identifies the user by its internal Hipmob username</documentation>
      <input message='tns:getUserDetailsRequestMessage' name='getUserDetailsInput' />
      <output message='tns:getUserDetailsResponseMessage' name='getUserDetailsOutput' />
    </operation>
    <operation name='listApplications'>
      <documentation>lists all the applications associated with the authenticated Hipmob account</documentation>
      <input message='tns:listApplicationsRequestMessage' name='listApplicationsInput' />
      <output message='tns:listApplicationsResponseMessage' name='listApplicationsOutput' />
    </operation>
    <operation name='listTranscripts'>
      <documentation>lists all the transcripts saved for the company associated with the authenticated Hipmob account</documentation>
      <input message='tns:listTranscriptsRequestMessage' name='listTranscriptsInput' />
      <output message='tns:listTranscriptsResponseMessage' name='listTranscriptsOutput' />
    </operation>
    <operation name='removeDeviceFriend'>
      <documentation>removes a specific friend from the friend list of the specified device this friend will no longer be able to send messages to this device or receive messages from this device</documentation>
      <input message='tns:removeDeviceFriendRequestMessage' name='removeDeviceFriendInput' />
      <output message='tns:removeDeviceFriendResponseMessage' name='removeDeviceFriendOutput' />
    </operation>
    <operation name='removeDeviceFriends'>
      <documentation>clears the friend list of the specified device the device will no longer be able to send messages to any other devices or receive messages from any other devices</documentation>
      <input message='tns:removeDeviceFriendsRequestMessage' name='removeDeviceFriendsInput' />
      <output message='tns:removeDeviceFriendsResponseMessage' name='removeDeviceFriendsOutput' />
    </operation>
    <operation name='sendTextMessage'>
      <documentation>sends a text message to the specified device</documentation>
      <input message='tns:sendTextMessageRequestMessage' name='sendTextMessageInput' />
      <output message='tns:sendTextMessageResponseMessage' name='sendTextMessageOutput' />
    </operation>
    <operation name='setDeviceFriends'>
      <documentation>clears the friends list and then adds the specified friends to the friends list of a specific device Equivalent to calling Remove All Device Friends followed by Add Device Friends</documentation>
      <input message='tns:setDeviceFriendsRequestMessage' name='setDeviceFriendsInput' />
      <output message='tns:setDeviceFriendsResponseMessage' name='setDeviceFriendsOutput' />
    </operation>
    <operation name='setUserStatus'>
      <documentation>sets the availability status of the authenticated user</documentation>
      <input message='tns:setUserStatusRequestMessage' name='setUserStatusInput' />
      <output message='tns:setUserStatusResponseMessage' name='setUserStatusOutput' />
    </operation>
  </portType>
  <binding name='hipmobBinding' type='tns:hipmobPortType'>
    <operation name='addDeviceFriends'>
      <soap12:operation soapAction='http://addDeviceFriends' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='checkIfDeviceExists'>
      <soap12:operation soapAction='http://checkIfDeviceExists' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteTranscript'>
      <soap12:operation soapAction='http://deleteTranscript' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getApplicationDetails'>
      <soap12:operation soapAction='http://getApplicationDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDeviceDetails'>
      <soap12:operation soapAction='http://getDeviceDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDeviceFriends'>
      <soap12:operation soapAction='http://getDeviceFriends' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDeviceMessageCount'>
      <soap12:operation soapAction='http://getDeviceMessageCount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTranscript'>
      <soap12:operation soapAction='http://getTranscript' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserDetails'>
      <soap12:operation soapAction='http://getUserDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listApplications'>
      <soap12:operation soapAction='http://listApplications' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listTranscripts'>
      <soap12:operation soapAction='http://listTranscripts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeDeviceFriend'>
      <soap12:operation soapAction='http://removeDeviceFriend' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeDeviceFriends'>
      <soap12:operation soapAction='http://removeDeviceFriends' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendTextMessage'>
      <soap12:operation soapAction='http://sendTextMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setDeviceFriends'>
      <soap12:operation soapAction='http://setDeviceFriends' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setUserStatus'>
      <soap12:operation soapAction='http://setUserStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='hipmob'>
    <documentation>talk to mobile users inside your app Used by m commerce SAAS and Subscription services and mobile hardware companies to increase retention</documentation>
    <port name='hipmobPort' binding='tns:hipmobBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://hipmob' />
    </port>
  </service>
</definitions>