workspace/datasets/mashape_dataset/hipsteripsum.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/hipsterIpsum/' name='hipsterIpsum' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/hipsterIpsum/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/hipsterIpsum/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/hipsterIpsum/'>
      <xsd:element name='hipsterIpsumParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paras' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hipsterIpsumResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='text' type='xsd:string' minOccurs='0' />
            <xsd:element name='params' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='paras' type='xsd:int' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='hipsterIpsumRequestMessage'>
    <part name='parameters' element='tns:hipsterIpsumParameters' />
  </message>
  <message name='hipsterIpsumResponseMessage'>
    <part name='response' element='tns:hipsterIpsumResponse' />
  </message>
  <portType name='hipsterIpsumPortType'>
    <operation name='hipsterIpsum'>
      <documentation></documentation>
      <input message='tns:hipsterIpsumRequestMessage' name='hipsterIpsumInput' />
      <output message='tns:hipsterIpsumResponseMessage' name='hipsterIpsumOutput' />
    </operation>
  </portType>
  <binding name='hipsterIpsumBinding' type='tns:hipsterIpsumPortType'>
    <operation name='hipsterIpsum'>
      <soap12:operation soapAction='http://hipsterIpsum' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='hipsterIpsum'>
    <documentation>oh You need a little dummy text for your mockup How quaint</documentation>
    <port name='hipsterIpsumPort' binding='tns:hipsterIpsumBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://hipsterIpsum' />
    </port>
  </service>
</definitions>