workspace/datasets/mashape_dataset/hnsearch.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/hnSearch/' name='hnSearch' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/hnSearch/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/hnSearch/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/hnSearch/'>
      <xsd:element name='itemsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='itemsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='children' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='author' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='parent_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='story_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at_i' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='points' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='author' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at_i' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='text' type='xsd:string' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='points' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='numericfilters' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='hits' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='comment_text' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='story_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='author' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='story_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_tags' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at_i' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='_highlightResult' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='story_text' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='matchLevel' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='author' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='matchLevel' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='title' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='matchLevel' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:string' minOccurs='0' />
                              <xsd:element name='matchedWords' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='url' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='matchLevel' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='num_comments' type='xsd:int' minOccurs='0' />
                  <xsd:element name='story_title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='parent_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='story_url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='objectID' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hitsPerPage' type='xsd:int' minOccurs='0' />
            <xsd:element name='processingTimeMS' type='xsd:int' minOccurs='0' />
            <xsd:element name='query' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nbHits' type='xsd:int' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
            <xsd:element name='params' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nbPages' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='numericfilters' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='hits' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='comment_text' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='story_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='author' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='story_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_tags' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at_i' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:string' minOccurs='0' />
                  <xsd:element name='points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='_highlightResult' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='story_text' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='matchLevel' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='author' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='matchLevel' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='title' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='matchLevel' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='url' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='matchLevel' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='num_comments' type='xsd:int' minOccurs='0' />
                  <xsd:element name='story_title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='parent_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='story_url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='objectID' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='hitsPerPage' type='xsd:int' minOccurs='0' />
            <xsd:element name='processingTimeMS' type='xsd:int' minOccurs='0' />
            <xsd:element name='query' type='xsd:string' minOccurs='0' />
            <xsd:element name='nbHits' type='xsd:int' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
            <xsd:element name='params' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nbPages' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='comment_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='karma' type='xsd:int' minOccurs='0' />
            <xsd:element name='avg' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='submission_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='about' type='xsd:string' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at_i' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='objectID' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='itemsRequestMessage'>
    <part name='parameters' element='tns:itemsParameters' />
  </message>
  <message name='itemsResponseMessage'>
    <part name='response' element='tns:itemsResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <message name='searchByDateRequestMessage'>
    <part name='parameters' element='tns:searchByDateParameters' />
  </message>
  <message name='searchByDateResponseMessage'>
    <part name='response' element='tns:searchByDateResponse' />
  </message>
  <message name='usersRequestMessage'>
    <part name='parameters' element='tns:usersParameters' />
  </message>
  <message name='usersResponseMessage'>
    <part name='response' element='tns:usersResponse' />
  </message>
  <portType name='hnSearchPortType'>
    <operation name='items'>
      <documentation></documentation>
      <input message='tns:itemsRequestMessage' name='itemsInput' />
      <output message='tns:itemsResponseMessage' name='itemsOutput' />
    </operation>
    <operation name='search'>
      <documentation></documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
    <operation name='searchByDate'>
      <documentation></documentation>
      <input message='tns:searchByDateRequestMessage' name='searchByDateInput' />
      <output message='tns:searchByDateResponseMessage' name='searchByDateOutput' />
    </operation>
    <operation name='users'>
      <documentation></documentation>
      <input message='tns:usersRequestMessage' name='usersInput' />
      <output message='tns:usersResponseMessage' name='usersOutput' />
    </operation>
  </portType>
  <binding name='hnSearchBinding' type='tns:hnSearchPortType'>
    <operation name='items'>
      <soap12:operation soapAction='http://items' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchByDate'>
      <soap12:operation soapAction='http://searchByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='users'>
      <soap12:operation soapAction='http://users' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='hnSearch'>
    <documentation>this API is built on top of Algolia Search s API It enables developers to access HN Hacker News data programmatically using a REST API This documentation describes how to request data from the API and how to interpret the response</documentation>
    <port name='hnSearchPort' binding='tns:hnSearchBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://hnSearch' />
    </port>
  </service>
</definitions>