workspace/datasets/mashape_dataset/homecook.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/homecook/' name='homecook' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/homecook/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/homecook/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/homecook/'>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='search' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='backgroundUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='lastLogin' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='businessName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='blog' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='countryId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='aboutMe' type='xsd:string' minOccurs='0' />
                  <xsd:element name='password' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='profilePhoto' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='businessAddress' type='xsd:string' minOccurs='0' />
                  <xsd:element name='class' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='website' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='ipAddress' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='loginTimes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='autoTweet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='friendsCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='permission' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updateTime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tweet' type='xsd:int' minOccurs='0' />
                  <xsd:element name='marketingId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='userName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='facebookProfile' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='token' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='facebookUid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='numCategories' type='xsd:int' minOccurs='0' />
                  <xsd:element name='createTime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='oauthObj' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='businessPhone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='followersCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tokenSecret' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchBusinessParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='biz' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchBusinessResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='backgroundUrl' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='lastLogin' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='color' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='businessName' type='xsd:string' minOccurs='0' />
            <xsd:element name='blog' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='countryId' type='xsd:int' minOccurs='0' />
            <xsd:element name='aboutMe' type='xsd:string' minOccurs='0' />
            <xsd:element name='password' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='profilePhoto' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='businessAddress' type='xsd:string' minOccurs='0' />
            <xsd:element name='class' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='website' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='ipAddress' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='loginTimes' type='xsd:int' minOccurs='0' />
            <xsd:element name='autoTweet' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='friendsCount' type='xsd:int' minOccurs='0' />
            <xsd:element name='permission' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='updateTime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='tweet' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='marketingId' type='xsd:int' minOccurs='0' />
            <xsd:element name='userName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookProfile' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='token' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookUid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='numCategories' type='xsd:int' minOccurs='0' />
            <xsd:element name='createTime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='oauthObj' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='businessPhone' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='followersCount' type='xsd:int' minOccurs='0' />
            <xsd:element name='tokenSecret' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchLocalFarmerMarketsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='searchmarket' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchLocalFarmerMarketsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='googleMap' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='marketAdmin' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='facebookLike' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='createTime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timings' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='marketPhoto' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='class' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchLocalMarketParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='marketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchLocalMarketResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='googleMap' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='address' type='xsd:string' minOccurs='0' />
            <xsd:element name='city' type='xsd:string' minOccurs='0' />
            <xsd:element name='marketAdmin' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='facebookLike' type='xsd:string' minOccurs='0' />
            <xsd:element name='createTime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='timings' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='marketPhoto' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='class' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchProductByItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='productid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchProductByItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='quantity' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='createTime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='price' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='updateTime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='class' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='userId' type='xsd:int' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchProductByUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchProductByUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='quantity' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='createTime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='price' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='updateTime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='class' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serchLocalFarmerMarketByUseridParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serchLocalFarmerMarketByUseridResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='googleMap' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='marketAdmin' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='facebookLike' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='createTime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timings' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='marketPhoto' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='class' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <message name='searchBusinessRequestMessage'>
    <part name='parameters' element='tns:searchBusinessParameters' />
  </message>
  <message name='searchBusinessResponseMessage'>
    <part name='response' element='tns:searchBusinessResponse' />
  </message>
  <message name='searchLocalFarmerMarketsRequestMessage'>
    <part name='parameters' element='tns:searchLocalFarmerMarketsParameters' />
  </message>
  <message name='searchLocalFarmerMarketsResponseMessage'>
    <part name='response' element='tns:searchLocalFarmerMarketsResponse' />
  </message>
  <message name='searchLocalMarketRequestMessage'>
    <part name='parameters' element='tns:searchLocalMarketParameters' />
  </message>
  <message name='searchLocalMarketResponseMessage'>
    <part name='response' element='tns:searchLocalMarketResponse' />
  </message>
  <message name='searchProductByItemRequestMessage'>
    <part name='parameters' element='tns:searchProductByItemParameters' />
  </message>
  <message name='searchProductByItemResponseMessage'>
    <part name='response' element='tns:searchProductByItemResponse' />
  </message>
  <message name='searchProductByUserRequestMessage'>
    <part name='parameters' element='tns:searchProductByUserParameters' />
  </message>
  <message name='searchProductByUserResponseMessage'>
    <part name='response' element='tns:searchProductByUserResponse' />
  </message>
  <message name='serchLocalFarmerMarketByUseridRequestMessage'>
    <part name='parameters' element='tns:serchLocalFarmerMarketByUseridParameters' />
  </message>
  <message name='serchLocalFarmerMarketByUseridResponseMessage'>
    <part name='response' element='tns:serchLocalFarmerMarketByUseridResponse' />
  </message>
  <portType name='homecookPortType'>
    <operation name='search'>
      <documentation>search based on term contains in profile fields</documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
    <operation name='searchBusiness'>
      <documentation>search for local business by name</documentation>
      <input message='tns:searchBusinessRequestMessage' name='searchBusinessInput' />
      <output message='tns:searchBusinessResponseMessage' name='searchBusinessOutput' />
    </operation>
    <operation name='searchLocalFarmerMarkets'>
      <documentation></documentation>
      <input message='tns:searchLocalFarmerMarketsRequestMessage' name='searchLocalFarmerMarketsInput' />
      <output message='tns:searchLocalFarmerMarketsResponseMessage' name='searchLocalFarmerMarketsOutput' />
    </operation>
    <operation name='searchLocalMarket'>
      <documentation>search for local farmers market by id</documentation>
      <input message='tns:searchLocalMarketRequestMessage' name='searchLocalMarketInput' />
      <output message='tns:searchLocalMarketResponseMessage' name='searchLocalMarketOutput' />
    </operation>
    <operation name='searchProductByItem'>
      <documentation>search for local farmers markets product item</documentation>
      <input message='tns:searchProductByItemRequestMessage' name='searchProductByItemInput' />
      <output message='tns:searchProductByItemResponseMessage' name='searchProductByItemOutput' />
    </operation>
    <operation name='searchProductByUser'>
      <documentation></documentation>
      <input message='tns:searchProductByUserRequestMessage' name='searchProductByUserInput' />
      <output message='tns:searchProductByUserResponseMessage' name='searchProductByUserOutput' />
    </operation>
    <operation name='serchLocalFarmerMarketByUserid'>
      <documentation></documentation>
      <input message='tns:serchLocalFarmerMarketByUseridRequestMessage' name='serchLocalFarmerMarketByUseridInput' />
      <output message='tns:serchLocalFarmerMarketByUseridResponseMessage' name='serchLocalFarmerMarketByUseridOutput' />
    </operation>
  </portType>
  <binding name='homecookBinding' type='tns:homecookPortType'>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchBusiness'>
      <soap12:operation soapAction='http://searchBusiness' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchLocalFarmerMarkets'>
      <soap12:operation soapAction='http://searchLocalFarmerMarkets' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchLocalMarket'>
      <soap12:operation soapAction='http://searchLocalMarket' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchProductByItem'>
      <soap12:operation soapAction='http://searchProductByItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchProductByUser'>
      <soap12:operation soapAction='http://searchProductByUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='serchLocalFarmerMarketByUserid'>
      <soap12:operation soapAction='http://serchLocalFarmerMarketByUserid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='homecook'>
    <documentation>the local food and farmers market REST API Search by food items get details on a farmers market or on a local business This is our contribution to the local food and farmers market developer community From this data we can build many applications</documentation>
    <port name='homecookPort' binding='tns:homecookBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://homecook' />
    </port>
  </service>
</definitions>