workspace/datasets/mashape_dataset/hoppitrestaurantguide.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/hoppitRestaurantGuide/' name='hoppitRestaurantGuide' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/hoppitRestaurantGuide/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/hoppitRestaurantGuide/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/hoppitRestaurantGuide/'>
      <xsd:element name='getPlaceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='placeData' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='designerData' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='image' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='facebookId' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='zipCode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='associatedVibes' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Badge_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='frequency' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='menuHighlights' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='placeData' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='shortMenu' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='entries' maxOccurs='unbounded'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='title' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='prices' minOccurs='0'>
                                            <xsd:complexType>
                                              <xsd:sequence minOccurs='1' maxOccurs='1'>
                                                <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                                                <xsd:element name='title' type='xsd:string' minOccurs='0' />
                                              </xsd:sequence>
                                            </xsd:complexType>
                                          </xsd:element>
                                          <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='attributionImageLink' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='attributionImage' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='location' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='general' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='gps' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='tips' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='author' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='text' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='imageUrlArray' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='image_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='is_optimized' type='xsd:int' minOccurs='0' />
                        <xsd:element name='source_url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='streetAddress' type='xsd:string' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:int' minOccurs='0' />
                  <xsd:element name='placeDetailUrl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rank' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='neighborhood' type='xsd:string' minOccurs='0' />
                  <xsd:element name='thumbUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='reservationLink' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='placeAttributes' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='attr_values' type='xsd:string' minOccurs='0' />
                        <xsd:element name='attr_category' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPlacesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='placeData' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zipCode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='streetAddress' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:int' minOccurs='0' />
                  <xsd:element name='placeDetailUrl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rank' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='neighborhood' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='gps' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='thumbUrl' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVibesListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getPlaceRequestMessage' />
  <message name='getPlaceResponseMessage'>
    <part name='response' element='tns:getPlaceResponse' />
  </message>
  <message name='getPlacesRequestMessage' />
  <message name='getPlacesResponseMessage'>
    <part name='response' element='tns:getPlacesResponse' />
  </message>
  <message name='getVibesListRequestMessage' />
  <message name='getVibesListResponseMessage'>
    <part name='response' element='tns:getVibesListResponse' />
  </message>
  <portType name='hoppitRestaurantGuidePortType'>
    <operation name='getPlace'>
      <documentation>retrieves all available details and images for a Hoppit place id</documentation>
      <input message='tns:getPlaceRequestMessage' name='getPlaceInput' />
      <output message='tns:getPlaceResponseMessage' name='getPlaceOutput' />
    </operation>
    <operation name='getPlaces'>
      <documentation>retrieves a list of places in Hoppit based on search criteria</documentation>
      <input message='tns:getPlacesRequestMessage' name='getPlacesInput' />
      <output message='tns:getPlacesResponseMessage' name='getPlacesOutput' />
    </operation>
    <operation name='getVibesList'>
      <documentation>retrieves Vibe ids used in the GetPlaces endpoint</documentation>
      <input message='tns:getVibesListRequestMessage' name='getVibesListInput' />
      <output message='tns:getVibesListResponseMessage' name='getVibesListOutput' />
    </operation>
  </portType>
  <binding name='hoppitRestaurantGuideBinding' type='tns:hoppitRestaurantGuidePortType'>
    <operation name='getPlace'>
      <soap12:operation soapAction='http://getPlace' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPlaces'>
      <soap12:operation soapAction='http://getPlaces' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVibesList'>
      <soap12:operation soapAction='http://getVibesList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='hoppitRestaurantGuide'>
    <documentation>dubbed as Yelp meets Pandora the Hoppit API answers the ongoing question Where should we eat tonight by giving you access to the restaurant data used by our award winning applications as seen on FOX CBS and Mashable This includes the nation s largest repository of high resolution restaurant photography and Vibe data available for U S cities Filter restaurants bars and coffee shops by type of Vibe e g Cozy Hipster Romantic and scenario e g with a Date with a Colleague with Children as well as by price cuisine e g Italian and meal e g Brunch Perfect for developers of travel lifestyle food social local applications who wish to surface the amazing content that Hoppit users interact with every second Available for New York Brooklyn San Francisco Chicago Boston Washington D C Los Angeles San Diego Seattle Portland Houston Dallas Austin Atlanta Philadelphia Miami New Orleans Las Vegas and Denver</documentation>
    <port name='hoppitRestaurantGuidePort' binding='tns:hoppitRestaurantGuideBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://hoppitRestaurantGuide' />
    </port>
  </service>
</definitions>