workspace/datasets/mashape_dataset/horoscopematchmaking.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/horoscopeMatchMaking/' name='horoscopeMatchMaking' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/horoscopeMatchMaking/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/horoscopeMatchMaking/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/horoscopeMatchMaking/'>
      <xsd:element name='ashtakootDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Varna' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Male_Varna' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Varna' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Vashya' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='MaleVashya' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Vashya' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Gan' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Gan' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Male_Gan' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Bhakut' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Female_Sign' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Male_Sign' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Tara' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Nakshatra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Male_Nakshatra' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Yoni' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Female_Yoni' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Male_Yoni' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Maitri' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Sign_Lord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Male_Sign_Lord' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Nadi' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='received_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='total_points' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Female_Nadi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Male_Nadi' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchMakingReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='conclusion' type='xsd:string' minOccurs='0' />
            <xsd:element name='obstructions' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='total_received_points' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchManglikReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='female' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='manglik_present' type='xsd:string' minOccurs='0' />
                  <xsd:element name='percentage_manglik_after_cancellation' type='xsd:int' minOccurs='0' />
                  <xsd:element name='manglik_status' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='manglik_present_rule' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='based_on_aspect' type='xsd:string' maxOccurs='unbounded' />
                        <xsd:element name='based_on_house' type='xsd:string' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='percentage_manglik_present' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='male' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='manglik_present' type='xsd:string' minOccurs='0' />
                  <xsd:element name='percentage_manglik_after_cancellation' type='xsd:int' minOccurs='0' />
                  <xsd:element name='manglik_status' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='manglik_present_rule' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='based_on_aspect' type='xsd:string' maxOccurs='unbounded' />
                        <xsd:element name='based_on_house' type='xsd:string' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='percentage_manglik_present' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchingAstrologyDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='female_astro_details' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Varna' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Vashya' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Gan' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='SignLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='NaksahtraLord' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Naksahtra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Yoni' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Nadi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Charan' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='male_astro_details' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Varna' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Vashya' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Gan' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='SignLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='NaksahtraLord' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Naksahtra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Yoni' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Nadi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Charan' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchingBirthDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='female_astro_details' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sunrise' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='month' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hour' type='xsd:int' minOccurs='0' />
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='timezone' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sunset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ayanamsha' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='day' type='xsd:int' minOccurs='0' />
                  <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='male_astro_details' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sunrise' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='month' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hour' type='xsd:int' minOccurs='0' />
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='timezone' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sunset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ayanamsha' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='day' type='xsd:int' minOccurs='0' />
                  <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchingObstructionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='obstructions' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchingPlanetaryDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='male_planet_details' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='nakshatraLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nakshatra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fullDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='normDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='isRetro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='house' type='xsd:int' minOccurs='0' />
                  <xsd:element name='speed' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='female_planet_details' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='nakshatraLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nakshatra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fullDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='normDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='isRetro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='house' type='xsd:int' minOccurs='0' />
                  <xsd:element name='speed' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='ashtakootDetailsRequestMessage' />
  <message name='ashtakootDetailsResponseMessage'>
    <part name='response' element='tns:ashtakootDetailsResponse' />
  </message>
  <message name='matchMakingReportRequestMessage' />
  <message name='matchMakingReportResponseMessage'>
    <part name='response' element='tns:matchMakingReportResponse' />
  </message>
  <message name='matchManglikReportRequestMessage' />
  <message name='matchManglikReportResponseMessage'>
    <part name='response' element='tns:matchManglikReportResponse' />
  </message>
  <message name='matchingAstrologyDetailsRequestMessage' />
  <message name='matchingAstrologyDetailsResponseMessage'>
    <part name='response' element='tns:matchingAstrologyDetailsResponse' />
  </message>
  <message name='matchingBirthDetailsRequestMessage' />
  <message name='matchingBirthDetailsResponseMessage'>
    <part name='response' element='tns:matchingBirthDetailsResponse' />
  </message>
  <message name='matchingObstructionRequestMessage' />
  <message name='matchingObstructionResponseMessage'>
    <part name='response' element='tns:matchingObstructionResponse' />
  </message>
  <message name='matchingPlanetaryDetailsRequestMessage' />
  <message name='matchingPlanetaryDetailsResponseMessage'>
    <part name='response' element='tns:matchingPlanetaryDetailsResponse' />
  </message>
  <portType name='horoscopeMatchMakingPortType'>
    <operation name='ashtakootDetails'>
      <documentation>ashtakoot details provides complete ashtakoot analysis</documentation>
      <input message='tns:ashtakootDetailsRequestMessage' name='ashtakootDetailsInput' />
      <output message='tns:ashtakootDetailsResponseMessage' name='ashtakootDetailsOutput' />
    </operation>
    <operation name='matchMakingReport'>
      <documentation>match making report gives matching report based on male and female horoscope</documentation>
      <input message='tns:matchMakingReportRequestMessage' name='matchMakingReportInput' />
      <output message='tns:matchMakingReportResponseMessage' name='matchMakingReportOutput' />
    </operation>
    <operation name='matchManglikReport'>
      <documentation>match manglik reports gives you manglik report for male and female horoscopes</documentation>
      <input message='tns:matchManglikReportRequestMessage' name='matchManglikReportInput' />
      <output message='tns:matchManglikReportResponseMessage' name='matchManglikReportOutput' />
    </operation>
    <operation name='matchingAstrologyDetails'>
      <documentation>provides matching astrological details like varna vashya maitri nadi gan etc</documentation>
      <input message='tns:matchingAstrologyDetailsRequestMessage' name='matchingAstrologyDetailsInput' />
      <output message='tns:matchingAstrologyDetailsResponseMessage' name='matchingAstrologyDetailsOutput' />
    </operation>
    <operation name='matchingBirthDetails'>
      <documentation>gives birth details of both male and femaile horoscope</documentation>
      <input message='tns:matchingBirthDetailsRequestMessage' name='matchingBirthDetailsInput' />
      <output message='tns:matchingBirthDetailsResponseMessage' name='matchingBirthDetailsOutput' />
    </operation>
    <operation name='matchingObstruction'>
      <documentation>matching Obstruction provide whether matching have obstruction or not</documentation>
      <input message='tns:matchingObstructionRequestMessage' name='matchingObstructionInput' />
      <output message='tns:matchingObstructionResponseMessage' name='matchingObstructionOutput' />
    </operation>
    <operation name='matchingPlanetaryDetails'>
      <documentation>provides both male and female planetary position details of their corresponding horoscopes</documentation>
      <input message='tns:matchingPlanetaryDetailsRequestMessage' name='matchingPlanetaryDetailsInput' />
      <output message='tns:matchingPlanetaryDetailsResponseMessage' name='matchingPlanetaryDetailsOutput' />
    </operation>
  </portType>
  <binding name='horoscopeMatchMakingBinding' type='tns:horoscopeMatchMakingPortType'>
    <operation name='ashtakootDetails'>
      <soap12:operation soapAction='http://ashtakootDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchMakingReport'>
      <soap12:operation soapAction='http://matchMakingReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchManglikReport'>
      <soap12:operation soapAction='http://matchManglikReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchingAstrologyDetails'>
      <soap12:operation soapAction='http://matchingAstrologyDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchingBirthDetails'>
      <soap12:operation soapAction='http://matchingBirthDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchingObstruction'>
      <soap12:operation soapAction='http://matchingObstruction' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchingPlanetaryDetails'>
      <soap12:operation soapAction='http://matchingPlanetaryDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='horoscopeMatchMaking'>
    <documentation>match Making made easier with Vedic Rishi Astro Match APIs These APIs provides various details and reports of horoscopes of a boy and girl matched according to Vedic Astrology This considers the Ashtakoota points detailed analysis along with Rajju Vedha and Manglik Match reports</documentation>
    <port name='horoscopeMatchMakingPort' binding='tns:horoscopeMatchMakingBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://horoscopeMatchMaking' />
    </port>
  </service>
</definitions>