workspace/datasets/mashape_dataset/htmltopdf.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/htmlToPdf/' name='htmlToPdf' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/htmlToPdf/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/htmlToPdf/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/htmlToPdf/'>
      <xsd:element name='htmlToPdfResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='htmlToPdfRequestMessage' />
  <message name='htmlToPdfResponseMessage'>
    <part name='response' element='tns:htmlToPdfResponse' />
  </message>
  <portType name='htmlToPdfPortType'>
    <operation name='htmlToPdf'>
      <documentation></documentation>
      <input message='tns:htmlToPdfRequestMessage' name='htmlToPdfInput' />
      <output message='tns:htmlToPdfResponseMessage' name='htmlToPdfOutput' />
    </operation>
  </portType>
  <binding name='htmlToPdfBinding' type='tns:htmlToPdfPortType'>
    <operation name='htmlToPdf'>
      <soap12:operation soapAction='http://htmlToPdf' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='htmlToPdf'>
    <documentation>convert HTML content into PDF documents This API uses a high quality HTML CSS rendering engine that will work with most well formed HTML and CSS content but will not execute java script code One of the key advantages of this rendering API is that your resulting PDF document will retain correct text and hyper link information making your document small selectable and navigable Unlike other HTML to PDF rendering engines which simply turn your HTML into an image and save it as a PDF resulting in a user unfriendly and large PDF document</documentation>
    <port name='htmlToPdfPort' binding='tns:htmlToPdfBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://htmlToPdf' />
    </port>
  </service>
</definitions>