workspace/datasets/mashape_dataset/httpconsole.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/httpConsole/' name='httpConsole' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/httpConsole/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/httpConsole/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/httpConsole/'>
      <xsd:element name='agentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cookieNameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cookieNameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cookiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='echoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gzipResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='headerNameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='headerNameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='headersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='redirectStatusCountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='redirectStatusCountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='statusCodeReasonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reason' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='statusCodeReasonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='agentRequestMessage' />
  <message name='agentResponseMessage'>
    <part name='response' element='tns:agentResponse' />
  </message>
  <message name='cookieNameRequestMessage'>
    <part name='parameters' element='tns:cookieNameParameters' />
  </message>
  <message name='cookieNameResponseMessage'>
    <part name='response' element='tns:cookieNameResponse' />
  </message>
  <message name='cookiesRequestMessage' />
  <message name='cookiesResponseMessage'>
    <part name='response' element='tns:cookiesResponse' />
  </message>
  <message name='echoRequestMessage' />
  <message name='echoResponseMessage'>
    <part name='response' element='tns:echoResponse' />
  </message>
  <message name='gzipRequestMessage' />
  <message name='gzipResponseMessage'>
    <part name='response' element='tns:gzipResponse' />
  </message>
  <message name='headerNameRequestMessage'>
    <part name='parameters' element='tns:headerNameParameters' />
  </message>
  <message name='headerNameResponseMessage'>
    <part name='response' element='tns:headerNameResponse' />
  </message>
  <message name='headersRequestMessage' />
  <message name='headersResponseMessage'>
    <part name='response' element='tns:headersResponse' />
  </message>
  <message name='ipRequestMessage' />
  <message name='ipResponseMessage'>
    <part name='response' element='tns:ipResponse' />
  </message>
  <message name='ipsRequestMessage' />
  <message name='ipsResponseMessage'>
    <part name='response' element='tns:ipsResponse' />
  </message>
  <message name='redirectStatusCountRequestMessage'>
    <part name='parameters' element='tns:redirectStatusCountParameters' />
  </message>
  <message name='redirectStatusCountResponseMessage'>
    <part name='response' element='tns:redirectStatusCountResponse' />
  </message>
  <message name='statusCodeReasonRequestMessage'>
    <part name='parameters' element='tns:statusCodeReasonParameters' />
  </message>
  <message name='statusCodeReasonResponseMessage'>
    <part name='response' element='tns:statusCodeReasonResponse' />
  </message>
  <portType name='httpConsolePortType'>
    <operation name='agent'>
      <documentation>returns user agent</documentation>
      <input message='tns:agentRequestMessage' name='agentInput' />
      <output message='tns:agentResponseMessage' name='agentOutput' />
    </operation>
    <operation name='cookieName'>
      <documentation>returns the value of the cookie with the name name</documentation>
      <input message='tns:cookieNameRequestMessage' name='cookieNameInput' />
      <output message='tns:cookieNameResponseMessage' name='cookieNameOutput' />
    </operation>
    <operation name='cookies'>
      <documentation>returns list of all cookies sent by the client</documentation>
      <input message='tns:cookiesRequestMessage' name='cookiesInput' />
      <output message='tns:cookiesResponseMessage' name='cookiesOutput' />
    </operation>
    <operation name='echo'>
      <documentation>returns back all the info sent through your request in HAR format</documentation>
      <input message='tns:echoRequestMessage' name='echoInput' />
      <output message='tns:echoResponseMessage' name='echoOutput' />
    </operation>
    <operation name='gzip'>
      <documentation>identical to echo but with forced compression on response body returns back all the info sent through your request in HAR format</documentation>
      <input message='tns:gzipRequestMessage' name='gzipInput' />
      <output message='tns:gzipResponseMessage' name='gzipOutput' />
    </operation>
    <operation name='headerName'>
      <documentation>returns the value of header with the name name</documentation>
      <input message='tns:headerNameRequestMessage' name='headerNameInput' />
      <output message='tns:headerNameResponseMessage' name='headerNameOutput' />
    </operation>
    <operation name='headers'>
      <documentation>returns list of all headers used in request as well as total number of bytes from the start of the HTTP request message until and including the double CRLF before the body</documentation>
      <input message='tns:headersRequestMessage' name='headersInput' />
      <output message='tns:headersResponseMessage' name='headersOutput' />
    </operation>
    <operation name='ip'>
      <documentation>returns Origin IP</documentation>
      <input message='tns:ipRequestMessage' name='ipInput' />
      <output message='tns:ipResponseMessage' name='ipOutput' />
    </operation>
    <operation name='ips'>
      <documentation>parses the X Forwarded For ip address list and return an array Otherwise an empty array is returned</documentation>
      <input message='tns:ipsRequestMessage' name='ipsInput' />
      <output message='tns:ipsResponseMessage' name='ipsOutput' />
    </operation>
    <operation name='redirectStatusCount'>
      <documentation>start a redirects loop using the redirect custom status code status looping through the url pattern redirect status count eventually landing on url or redirect status if no url was provided</documentation>
      <input message='tns:redirectStatusCountRequestMessage' name='redirectStatusCountInput' />
      <output message='tns:redirectStatusCountResponseMessage' name='redirectStatusCountOutput' />
    </operation>
    <operation name='statusCodeReason'>
      <documentation>returns a response with the given HTTP Status code and message in status line and body</documentation>
      <input message='tns:statusCodeReasonRequestMessage' name='statusCodeReasonInput' />
      <output message='tns:statusCodeReasonResponseMessage' name='statusCodeReasonOutput' />
    </operation>
  </portType>
  <binding name='httpConsoleBinding' type='tns:httpConsolePortType'>
    <operation name='agent'>
      <soap12:operation soapAction='http://agent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cookieName'>
      <soap12:operation soapAction='http://cookieName' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cookies'>
      <soap12:operation soapAction='http://cookies' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='echo'>
      <soap12:operation soapAction='http://echo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gzip'>
      <soap12:operation soapAction='http://gzip' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='headerName'>
      <soap12:operation soapAction='http://headerName' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='headers'>
      <soap12:operation soapAction='http://headers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ip'>
      <soap12:operation soapAction='http://ip' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ips'>
      <soap12:operation soapAction='http://ips' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='redirectStatusCount'>
      <soap12:operation soapAction='http://redirectStatusCount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='statusCodeReason'>
      <soap12:operation soapAction='http://statusCodeReason' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='httpConsole'>
    <documentation>mock Test Track HTTP calls</documentation>
    <port name='httpConsolePort' binding='tns:httpConsoleBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://httpConsole' />
    </port>
  </service>
</definitions>