workspace/datasets/mashape_dataset/human.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/human/' name='human' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/human/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/human/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/human/'>
      <xsd:element name='activeMinutesByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='activeMinutesByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bloodGlucoseByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bloodGlucoseByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bloodGlucoseByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bloodglucoseid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bloodGlucoseByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bloodPressureByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bloodPressureByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bloodPressureByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bloodpressureid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bloodPressureByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bmiByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bmiid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bmiByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bmiForASpecificDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bmiForASpecificDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bodyFatByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bodyFatByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bodyFatByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='geneticsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='heartRateByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='heartRateByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='heartRateByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='heartrateid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='heartRateByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='heightByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='heightByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='heightByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='heightid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='heightByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='locationByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='locationByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='profileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='createdAt' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='defaultTimeZone' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='offset' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='userId' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentActiveMinutesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentBloodGluecoseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentBloodPressureResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentBmiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentBodyFatResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentHeartRateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentHeightResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentSleepResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentSleepSeriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentTimeSeriesOfActivitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentWeightResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sleepByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sleepid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sleepByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sleepByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sleepByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sleepRecordingsByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sleepRecordingsByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='summaryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='timeSeriesOfActivitiesByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='timeSeriesOfActivitiesByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='weightByDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='weightByDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='weightByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='weightid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='weightByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='activeMinutesByDateRequestMessage'>
    <part name='parameters' element='tns:activeMinutesByDateParameters' />
  </message>
  <message name='activeMinutesByDateResponseMessage'>
    <part name='response' element='tns:activeMinutesByDateResponse' />
  </message>
  <message name='bloodGlucoseByDateRequestMessage'>
    <part name='parameters' element='tns:bloodGlucoseByDateParameters' />
  </message>
  <message name='bloodGlucoseByDateResponseMessage'>
    <part name='response' element='tns:bloodGlucoseByDateResponse' />
  </message>
  <message name='bloodGlucoseByIdRequestMessage'>
    <part name='parameters' element='tns:bloodGlucoseByIdParameters' />
  </message>
  <message name='bloodGlucoseByIdResponseMessage'>
    <part name='response' element='tns:bloodGlucoseByIdResponse' />
  </message>
  <message name='bloodPressureByDateRequestMessage'>
    <part name='parameters' element='tns:bloodPressureByDateParameters' />
  </message>
  <message name='bloodPressureByDateResponseMessage'>
    <part name='response' element='tns:bloodPressureByDateResponse' />
  </message>
  <message name='bloodPressureByIdRequestMessage'>
    <part name='parameters' element='tns:bloodPressureByIdParameters' />
  </message>
  <message name='bloodPressureByIdResponseMessage'>
    <part name='response' element='tns:bloodPressureByIdResponse' />
  </message>
  <message name='bmiByIdRequestMessage'>
    <part name='parameters' element='tns:bmiByIdParameters' />
  </message>
  <message name='bmiByIdResponseMessage'>
    <part name='response' element='tns:bmiByIdResponse' />
  </message>
  <message name='bmiForASpecificDateRequestMessage'>
    <part name='parameters' element='tns:bmiForASpecificDateParameters' />
  </message>
  <message name='bmiForASpecificDateResponseMessage'>
    <part name='response' element='tns:bmiForASpecificDateResponse' />
  </message>
  <message name='bodyFatByDateRequestMessage'>
    <part name='parameters' element='tns:bodyFatByDateParameters' />
  </message>
  <message name='bodyFatByDateResponseMessage'>
    <part name='response' element='tns:bodyFatByDateResponse' />
  </message>
  <message name='bodyFatByIdRequestMessage' />
  <message name='bodyFatByIdResponseMessage'>
    <part name='response' element='tns:bodyFatByIdResponse' />
  </message>
  <message name='geneticsRequestMessage' />
  <message name='geneticsResponseMessage'>
    <part name='response' element='tns:geneticsResponse' />
  </message>
  <message name='heartRateByDateRequestMessage'>
    <part name='parameters' element='tns:heartRateByDateParameters' />
  </message>
  <message name='heartRateByDateResponseMessage'>
    <part name='response' element='tns:heartRateByDateResponse' />
  </message>
  <message name='heartRateByIdRequestMessage'>
    <part name='parameters' element='tns:heartRateByIdParameters' />
  </message>
  <message name='heartRateByIdResponseMessage'>
    <part name='response' element='tns:heartRateByIdResponse' />
  </message>
  <message name='heightByDateRequestMessage'>
    <part name='parameters' element='tns:heightByDateParameters' />
  </message>
  <message name='heightByDateResponseMessage'>
    <part name='response' element='tns:heightByDateResponse' />
  </message>
  <message name='heightByIdRequestMessage'>
    <part name='parameters' element='tns:heightByIdParameters' />
  </message>
  <message name='heightByIdResponseMessage'>
    <part name='response' element='tns:heightByIdResponse' />
  </message>
  <message name='locationByDateRequestMessage'>
    <part name='parameters' element='tns:locationByDateParameters' />
  </message>
  <message name='locationByDateResponseMessage'>
    <part name='response' element='tns:locationByDateResponse' />
  </message>
  <message name='profileRequestMessage' />
  <message name='profileResponseMessage'>
    <part name='response' element='tns:profileResponse' />
  </message>
  <message name='recentActiveMinutesRequestMessage' />
  <message name='recentActiveMinutesResponseMessage'>
    <part name='response' element='tns:recentActiveMinutesResponse' />
  </message>
  <message name='recentBloodGluecoseRequestMessage' />
  <message name='recentBloodGluecoseResponseMessage'>
    <part name='response' element='tns:recentBloodGluecoseResponse' />
  </message>
  <message name='recentBloodPressureRequestMessage' />
  <message name='recentBloodPressureResponseMessage'>
    <part name='response' element='tns:recentBloodPressureResponse' />
  </message>
  <message name='recentBmiRequestMessage' />
  <message name='recentBmiResponseMessage'>
    <part name='response' element='tns:recentBmiResponse' />
  </message>
  <message name='recentBodyFatRequestMessage' />
  <message name='recentBodyFatResponseMessage'>
    <part name='response' element='tns:recentBodyFatResponse' />
  </message>
  <message name='recentHeartRateRequestMessage' />
  <message name='recentHeartRateResponseMessage'>
    <part name='response' element='tns:recentHeartRateResponse' />
  </message>
  <message name='recentHeightRequestMessage' />
  <message name='recentHeightResponseMessage'>
    <part name='response' element='tns:recentHeightResponse' />
  </message>
  <message name='recentLocationRequestMessage' />
  <message name='recentLocationResponseMessage'>
    <part name='response' element='tns:recentLocationResponse' />
  </message>
  <message name='recentSleepRequestMessage' />
  <message name='recentSleepResponseMessage'>
    <part name='response' element='tns:recentSleepResponse' />
  </message>
  <message name='recentSleepSeriesRequestMessage' />
  <message name='recentSleepSeriesResponseMessage'>
    <part name='response' element='tns:recentSleepSeriesResponse' />
  </message>
  <message name='recentTimeSeriesOfActivitiesRequestMessage' />
  <message name='recentTimeSeriesOfActivitiesResponseMessage'>
    <part name='response' element='tns:recentTimeSeriesOfActivitiesResponse' />
  </message>
  <message name='recentWeightRequestMessage' />
  <message name='recentWeightResponseMessage'>
    <part name='response' element='tns:recentWeightResponse' />
  </message>
  <message name='sleepByIdRequestMessage'>
    <part name='parameters' element='tns:sleepByIdParameters' />
  </message>
  <message name='sleepByIdResponseMessage'>
    <part name='response' element='tns:sleepByIdResponse' />
  </message>
  <message name='sleepByDateRequestMessage'>
    <part name='parameters' element='tns:sleepByDateParameters' />
  </message>
  <message name='sleepByDateResponseMessage'>
    <part name='response' element='tns:sleepByDateResponse' />
  </message>
  <message name='sleepRecordingsByDateRequestMessage'>
    <part name='parameters' element='tns:sleepRecordingsByDateParameters' />
  </message>
  <message name='sleepRecordingsByDateResponseMessage'>
    <part name='response' element='tns:sleepRecordingsByDateResponse' />
  </message>
  <message name='summaryRequestMessage' />
  <message name='summaryResponseMessage'>
    <part name='response' element='tns:summaryResponse' />
  </message>
  <message name='timeSeriesOfActivitiesByDateRequestMessage'>
    <part name='parameters' element='tns:timeSeriesOfActivitiesByDateParameters' />
  </message>
  <message name='timeSeriesOfActivitiesByDateResponseMessage'>
    <part name='response' element='tns:timeSeriesOfActivitiesByDateResponse' />
  </message>
  <message name='weightByDateRequestMessage'>
    <part name='parameters' element='tns:weightByDateParameters' />
  </message>
  <message name='weightByDateResponseMessage'>
    <part name='response' element='tns:weightByDateResponse' />
  </message>
  <message name='weightByIdRequestMessage'>
    <part name='parameters' element='tns:weightByIdParameters' />
  </message>
  <message name='weightByIdResponseMessage'>
    <part name='response' element='tns:weightByIdResponse' />
  </message>
  <portType name='humanPortType'>
    <operation name='activeMinutesByDate'>
      <documentation>returns a summary of the active minutes by a specific date</documentation>
      <input message='tns:activeMinutesByDateRequestMessage' name='activeMinutesByDateInput' />
      <output message='tns:activeMinutesByDateResponseMessage' name='activeMinutesByDateOutput' />
    </operation>
    <operation name='bloodGlucoseByDate'>
      <documentation>returns blood glucose readings for a specific date</documentation>
      <input message='tns:bloodGlucoseByDateRequestMessage' name='bloodGlucoseByDateInput' />
      <output message='tns:bloodGlucoseByDateResponseMessage' name='bloodGlucoseByDateOutput' />
    </operation>
    <operation name='bloodGlucoseById'>
      <documentation>returns a specific blood glucose reading</documentation>
      <input message='tns:bloodGlucoseByIdRequestMessage' name='bloodGlucoseByIdInput' />
      <output message='tns:bloodGlucoseByIdResponseMessage' name='bloodGlucoseByIdOutput' />
    </operation>
    <operation name='bloodPressureByDate'>
      <documentation></documentation>
      <input message='tns:bloodPressureByDateRequestMessage' name='bloodPressureByDateInput' />
      <output message='tns:bloodPressureByDateResponseMessage' name='bloodPressureByDateOutput' />
    </operation>
    <operation name='bloodPressureById'>
      <documentation>returns a specific blood pressure recording</documentation>
      <input message='tns:bloodPressureByIdRequestMessage' name='bloodPressureByIdInput' />
      <output message='tns:bloodPressureByIdResponseMessage' name='bloodPressureByIdOutput' />
    </operation>
    <operation name='bmiById'>
      <documentation>returns a specific BMI recording</documentation>
      <input message='tns:bmiByIdRequestMessage' name='bmiByIdInput' />
      <output message='tns:bmiByIdResponseMessage' name='bmiByIdOutput' />
    </operation>
    <operation name='bmiForASpecificDate'>
      <documentation>returns BMI recordings for a specific date</documentation>
      <input message='tns:bmiForASpecificDateRequestMessage' name='bmiForASpecificDateInput' />
      <output message='tns:bmiForASpecificDateResponseMessage' name='bmiForASpecificDateOutput' />
    </operation>
    <operation name='bodyFatByDate'>
      <documentation>returns body fat recordings for a specific date</documentation>
      <input message='tns:bodyFatByDateRequestMessage' name='bodyFatByDateInput' />
      <output message='tns:bodyFatByDateResponseMessage' name='bodyFatByDateOutput' />
    </operation>
    <operation name='bodyFatById'>
      <documentation>returns a specific body fat recording</documentation>
      <input message='tns:bodyFatByIdRequestMessage' name='bodyFatByIdInput' />
      <output message='tns:bodyFatByIdResponseMessage' name='bodyFatByIdOutput' />
    </operation>
    <operation name='genetics'>
      <documentation>returns the genetic traits of the human</documentation>
      <input message='tns:geneticsRequestMessage' name='geneticsInput' />
      <output message='tns:geneticsResponseMessage' name='geneticsOutput' />
    </operation>
    <operation name='heartRateByDate'>
      <documentation>returns heart rate recordings for a specific date</documentation>
      <input message='tns:heartRateByDateRequestMessage' name='heartRateByDateInput' />
      <output message='tns:heartRateByDateResponseMessage' name='heartRateByDateOutput' />
    </operation>
    <operation name='heartRateById'>
      <documentation>returns a specific heart rate recording</documentation>
      <input message='tns:heartRateByIdRequestMessage' name='heartRateByIdInput' />
      <output message='tns:heartRateByIdResponseMessage' name='heartRateByIdOutput' />
    </operation>
    <operation name='heightByDate'>
      <documentation>returns height recordings for a specific date</documentation>
      <input message='tns:heightByDateRequestMessage' name='heightByDateInput' />
      <output message='tns:heightByDateResponseMessage' name='heightByDateOutput' />
    </operation>
    <operation name='heightById'>
      <documentation>returns a specific height recording</documentation>
      <input message='tns:heightByIdRequestMessage' name='heightByIdInput' />
      <output message='tns:heightByIdResponseMessage' name='heightByIdOutput' />
    </operation>
    <operation name='locationByDate'>
      <documentation>returns a list of location recordings for a specific date</documentation>
      <input message='tns:locationByDateRequestMessage' name='locationByDateInput' />
      <output message='tns:locationByDateResponseMessage' name='locationByDateOutput' />
    </operation>
    <operation name='profile'>
      <documentation>returns the profile of the authenticated user</documentation>
      <input message='tns:profileRequestMessage' name='profileInput' />
      <output message='tns:profileResponseMessage' name='profileOutput' />
    </operation>
    <operation name='recentActiveMinutes'>
      <documentation>returns a summary of the most recent active minutes</documentation>
      <input message='tns:recentActiveMinutesRequestMessage' name='recentActiveMinutesInput' />
      <output message='tns:recentActiveMinutesResponseMessage' name='recentActiveMinutesOutput' />
    </operation>
    <operation name='recentBloodGluecose'>
      <documentation>returns the most recent blood glucose reading</documentation>
      <input message='tns:recentBloodGluecoseRequestMessage' name='recentBloodGluecoseInput' />
      <output message='tns:recentBloodGluecoseResponseMessage' name='recentBloodGluecoseOutput' />
    </operation>
    <operation name='recentBloodPressure'>
      <documentation>returns the most recent blood pressure recording</documentation>
      <input message='tns:recentBloodPressureRequestMessage' name='recentBloodPressureInput' />
      <output message='tns:recentBloodPressureResponseMessage' name='recentBloodPressureOutput' />
    </operation>
    <operation name='recentBmi'>
      <documentation>returns the most recent BMI recording</documentation>
      <input message='tns:recentBmiRequestMessage' name='recentBmiInput' />
      <output message='tns:recentBmiResponseMessage' name='recentBmiOutput' />
    </operation>
    <operation name='recentBodyFat'>
      <documentation>returns the most recent body fat recording</documentation>
      <input message='tns:recentBodyFatRequestMessage' name='recentBodyFatInput' />
      <output message='tns:recentBodyFatResponseMessage' name='recentBodyFatOutput' />
    </operation>
    <operation name='recentHeartRate'>
      <documentation>returns the most recent heart rate recording</documentation>
      <input message='tns:recentHeartRateRequestMessage' name='recentHeartRateInput' />
      <output message='tns:recentHeartRateResponseMessage' name='recentHeartRateOutput' />
    </operation>
    <operation name='recentHeight'>
      <documentation>returns the most recent height recording</documentation>
      <input message='tns:recentHeightRequestMessage' name='recentHeightInput' />
      <output message='tns:recentHeightResponseMessage' name='recentHeightOutput' />
    </operation>
    <operation name='recentLocation'>
      <documentation>returns a list of recent locations</documentation>
      <input message='tns:recentLocationRequestMessage' name='recentLocationInput' />
      <output message='tns:recentLocationResponseMessage' name='recentLocationOutput' />
    </operation>
    <operation name='recentSleep'>
      <documentation>returns a summary of the most recent sleep recordings</documentation>
      <input message='tns:recentSleepRequestMessage' name='recentSleepInput' />
      <output message='tns:recentSleepResponseMessage' name='recentSleepOutput' />
    </operation>
    <operation name='recentSleepSeries'>
      <documentation>returns the most recent time series of sleep recordings</documentation>
      <input message='tns:recentSleepSeriesRequestMessage' name='recentSleepSeriesInput' />
      <output message='tns:recentSleepSeriesResponseMessage' name='recentSleepSeriesOutput' />
    </operation>
    <operation name='recentTimeSeriesOfActivities'>
      <documentation>returns the most recent time series of activities</documentation>
      <input message='tns:recentTimeSeriesOfActivitiesRequestMessage' name='recentTimeSeriesOfActivitiesInput' />
      <output message='tns:recentTimeSeriesOfActivitiesResponseMessage' name='recentTimeSeriesOfActivitiesOutput' />
    </operation>
    <operation name='recentWeight'>
      <documentation></documentation>
      <input message='tns:recentWeightRequestMessage' name='recentWeightInput' />
      <output message='tns:recentWeightResponseMessage' name='recentWeightOutput' />
    </operation>
    <operation name='sleepById'>
      <documentation>returns a specific sleep recording</documentation>
      <input message='tns:sleepByIdRequestMessage' name='sleepByIdInput' />
      <output message='tns:sleepByIdResponseMessage' name='sleepByIdOutput' />
    </operation>
    <operation name='sleepByDate'>
      <documentation>returns a summary of recent sleep recordings for a specific date</documentation>
      <input message='tns:sleepByDateRequestMessage' name='sleepByDateInput' />
      <output message='tns:sleepByDateResponseMessage' name='sleepByDateOutput' />
    </operation>
    <operation name='sleepRecordingsByDate'>
      <documentation>returns the time series of sleep recordings for a specific date</documentation>
      <input message='tns:sleepRecordingsByDateRequestMessage' name='sleepRecordingsByDateInput' />
      <output message='tns:sleepRecordingsByDateResponseMessage' name='sleepRecordingsByDateOutput' />
    </operation>
    <operation name='summary'>
      <documentation>returns a summary of the user s current health data</documentation>
      <input message='tns:summaryRequestMessage' name='summaryInput' />
      <output message='tns:summaryResponseMessage' name='summaryOutput' />
    </operation>
    <operation name='timeSeriesOfActivitiesByDate'>
      <documentation>returns the time series of activities for a specific date</documentation>
      <input message='tns:timeSeriesOfActivitiesByDateRequestMessage' name='timeSeriesOfActivitiesByDateInput' />
      <output message='tns:timeSeriesOfActivitiesByDateResponseMessage' name='timeSeriesOfActivitiesByDateOutput' />
    </operation>
    <operation name='weightByDate'>
      <documentation>returns weight recordings for a specific date</documentation>
      <input message='tns:weightByDateRequestMessage' name='weightByDateInput' />
      <output message='tns:weightByDateResponseMessage' name='weightByDateOutput' />
    </operation>
    <operation name='weightById'>
      <documentation>returns a specific weight recording</documentation>
      <input message='tns:weightByIdRequestMessage' name='weightByIdInput' />
      <output message='tns:weightByIdResponseMessage' name='weightByIdOutput' />
    </operation>
  </portType>
  <binding name='humanBinding' type='tns:humanPortType'>
    <operation name='activeMinutesByDate'>
      <soap12:operation soapAction='http://activeMinutesByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bloodGlucoseByDate'>
      <soap12:operation soapAction='http://bloodGlucoseByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bloodGlucoseById'>
      <soap12:operation soapAction='http://bloodGlucoseById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bloodPressureByDate'>
      <soap12:operation soapAction='http://bloodPressureByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bloodPressureById'>
      <soap12:operation soapAction='http://bloodPressureById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bmiById'>
      <soap12:operation soapAction='http://bmiById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bmiForASpecificDate'>
      <soap12:operation soapAction='http://bmiForASpecificDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bodyFatByDate'>
      <soap12:operation soapAction='http://bodyFatByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bodyFatById'>
      <soap12:operation soapAction='http://bodyFatById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='genetics'>
      <soap12:operation soapAction='http://genetics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='heartRateByDate'>
      <soap12:operation soapAction='http://heartRateByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='heartRateById'>
      <soap12:operation soapAction='http://heartRateById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='heightByDate'>
      <soap12:operation soapAction='http://heightByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='heightById'>
      <soap12:operation soapAction='http://heightById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='locationByDate'>
      <soap12:operation soapAction='http://locationByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='profile'>
      <soap12:operation soapAction='http://profile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentActiveMinutes'>
      <soap12:operation soapAction='http://recentActiveMinutes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentBloodGluecose'>
      <soap12:operation soapAction='http://recentBloodGluecose' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentBloodPressure'>
      <soap12:operation soapAction='http://recentBloodPressure' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentBmi'>
      <soap12:operation soapAction='http://recentBmi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentBodyFat'>
      <soap12:operation soapAction='http://recentBodyFat' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentHeartRate'>
      <soap12:operation soapAction='http://recentHeartRate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentHeight'>
      <soap12:operation soapAction='http://recentHeight' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentLocation'>
      <soap12:operation soapAction='http://recentLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentSleep'>
      <soap12:operation soapAction='http://recentSleep' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentSleepSeries'>
      <soap12:operation soapAction='http://recentSleepSeries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentTimeSeriesOfActivities'>
      <soap12:operation soapAction='http://recentTimeSeriesOfActivities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentWeight'>
      <soap12:operation soapAction='http://recentWeight' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sleepById'>
      <soap12:operation soapAction='http://sleepById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sleepByDate'>
      <soap12:operation soapAction='http://sleepByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sleepRecordingsByDate'>
      <soap12:operation soapAction='http://sleepRecordingsByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='summary'>
      <soap12:operation soapAction='http://summary' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='timeSeriesOfActivitiesByDate'>
      <soap12:operation soapAction='http://timeSeriesOfActivitiesByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='weightByDate'>
      <soap12:operation soapAction='http://weightByDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='weightById'>
      <soap12:operation soapAction='http://weightById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='human'>
    <documentation>human api is a platform that makes human health data available through a RESTful web service We make it very easy to securely get a human s current or past health data</documentation>
    <port name='humanPort' binding='tns:humanBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://human' />
    </port>
  </service>
</definitions>