workspace/datasets/mashape_dataset/hummingbirdv.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/hummingbirdV/' name='hummingbirdV' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/hummingbirdV/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/hummingbirdV/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/hummingbirdV/'>
      <xsd:element name='animeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='animeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='show_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='episode_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='genres' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='cover_image' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='synopsis' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='slug' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:string' minOccurs='0' />
            <xsd:element name='alternate_title' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authenticateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='libraryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='authtoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='libraryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='status_parameterized' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='private' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='last_watched' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='episodes_watched' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='negative' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='neutral' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='positive' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='star_rating' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='simple' type='xsd:boolean' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='unknown' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='rewatched_times' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes_present' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='anime' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='show_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='episode_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='cover_image' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='synopsis' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='slug' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='status' type='xsd:string' minOccurs='0' />
                        <xsd:element name='alternate_title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='status' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='libraryRemoveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='animeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='libraryRemoveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='libraryUpdateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='animeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='libraryUpdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='status_parameterized' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='private' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='last_watched' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='episodes_watched' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='negative' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='neutral' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='positive' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='star_rating' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='simple' type='xsd:boolean' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='unknown' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='rewatched_times' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notes_present' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='anime' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='show_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='episode_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='cover_image' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='synopsis' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='slug' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='status' type='xsd:string' minOccurs='0' />
                        <xsd:element name='alternate_title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='status' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='animeRequestMessage'>
    <part name='parameters' element='tns:animeParameters' />
  </message>
  <message name='animeResponseMessage'>
    <part name='response' element='tns:animeResponse' />
  </message>
  <message name='authenticateRequestMessage' />
  <message name='authenticateResponseMessage'>
    <part name='response' element='tns:authenticateResponse' />
  </message>
  <message name='libraryRequestMessage'>
    <part name='parameters' element='tns:libraryParameters' />
  </message>
  <message name='libraryResponseMessage'>
    <part name='response' element='tns:libraryResponse' />
  </message>
  <message name='libraryRemoveRequestMessage'>
    <part name='parameters' element='tns:libraryRemoveParameters' />
  </message>
  <message name='libraryRemoveResponseMessage'>
    <part name='response' element='tns:libraryRemoveResponse' />
  </message>
  <message name='libraryUpdateRequestMessage'>
    <part name='parameters' element='tns:libraryUpdateParameters' />
  </message>
  <message name='libraryUpdateResponseMessage'>
    <part name='response' element='tns:libraryUpdateResponse' />
  </message>
  <portType name='hummingbirdVPortType'>
    <operation name='anime'>
      <documentation></documentation>
      <input message='tns:animeRequestMessage' name='animeInput' />
      <output message='tns:animeResponseMessage' name='animeOutput' />
    </operation>
    <operation name='authenticate'>
      <documentation>get a user s authentication token using the password and either one of the username and email</documentation>
      <input message='tns:authenticateRequestMessage' name='authenticateInput' />
      <output message='tns:authenticateResponseMessage' name='authenticateOutput' />
    </operation>
    <operation name='library'>
      <documentation>get a user s library entries in a given section</documentation>
      <input message='tns:libraryRequestMessage' name='libraryInput' />
      <output message='tns:libraryResponseMessage' name='libraryOutput' />
    </operation>
    <operation name='libraryRemove'>
      <documentation>remove an entry from the user s library</documentation>
      <input message='tns:libraryRemoveRequestMessage' name='libraryRemoveInput' />
      <output message='tns:libraryRemoveResponseMessage' name='libraryRemoveOutput' />
    </operation>
    <operation name='libraryUpdate'>
      <documentation>create or update an entry in a user s library</documentation>
      <input message='tns:libraryUpdateRequestMessage' name='libraryUpdateInput' />
      <output message='tns:libraryUpdateResponseMessage' name='libraryUpdateOutput' />
    </operation>
  </portType>
  <binding name='hummingbirdVBinding' type='tns:hummingbirdVPortType'>
    <operation name='anime'>
      <soap12:operation soapAction='http://anime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='authenticate'>
      <soap12:operation soapAction='http://authenticate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='library'>
      <soap12:operation soapAction='http://library' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='libraryRemove'>
      <soap12:operation soapAction='http://libraryRemove' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='libraryUpdate'>
      <soap12:operation soapAction='http://libraryUpdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='hummingbirdV'>
    <documentation>aPI for Hummingbird the easiest way to track share and discover new anime Free for non commercial use</documentation>
    <port name='hummingbirdVPort' binding='tns:hummingbirdVBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://hummingbirdV' />
    </port>
  </service>
</definitions>