workspace/datasets/mashape_dataset/icongenerator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/icongenerator/' name='icongenerator' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/icongenerator/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/icongenerator/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/icongenerator/'>
      <xsd:element name='androidIconsetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='download' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='androidIconsetUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='androidIconsetUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipadIconsetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='download' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipadIconsetUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipadIconsetUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='iphoneIconsetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='download' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='iphoneIconsetUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='iphoneIconsetUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oldIpadIconsetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='download' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oldIpadIconsetUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oldIpadIconsetUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oldIphoneIconsetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='download' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oldIphoneIconsetUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oldIphoneIconsetUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oldUniversalIconsetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='download' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oldUniversalIconsetUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oldUniversalIconsetUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='universalIconsetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='download' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='universalIconsetUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='universalIconsetUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='androidIconsetRequestMessage' />
  <message name='androidIconsetResponseMessage'>
    <part name='response' element='tns:androidIconsetResponse' />
  </message>
  <message name='androidIconsetUrlRequestMessage'>
    <part name='parameters' element='tns:androidIconsetUrlParameters' />
  </message>
  <message name='androidIconsetUrlResponseMessage'>
    <part name='response' element='tns:androidIconsetUrlResponse' />
  </message>
  <message name='ipadIconsetRequestMessage' />
  <message name='ipadIconsetResponseMessage'>
    <part name='response' element='tns:ipadIconsetResponse' />
  </message>
  <message name='ipadIconsetUrlRequestMessage'>
    <part name='parameters' element='tns:ipadIconsetUrlParameters' />
  </message>
  <message name='ipadIconsetUrlResponseMessage'>
    <part name='response' element='tns:ipadIconsetUrlResponse' />
  </message>
  <message name='iphoneIconsetRequestMessage' />
  <message name='iphoneIconsetResponseMessage'>
    <part name='response' element='tns:iphoneIconsetResponse' />
  </message>
  <message name='iphoneIconsetUrlRequestMessage'>
    <part name='parameters' element='tns:iphoneIconsetUrlParameters' />
  </message>
  <message name='iphoneIconsetUrlResponseMessage'>
    <part name='response' element='tns:iphoneIconsetUrlResponse' />
  </message>
  <message name='oldIpadIconsetRequestMessage' />
  <message name='oldIpadIconsetResponseMessage'>
    <part name='response' element='tns:oldIpadIconsetResponse' />
  </message>
  <message name='oldIpadIconsetUrlRequestMessage'>
    <part name='parameters' element='tns:oldIpadIconsetUrlParameters' />
  </message>
  <message name='oldIpadIconsetUrlResponseMessage'>
    <part name='response' element='tns:oldIpadIconsetUrlResponse' />
  </message>
  <message name='oldIphoneIconsetRequestMessage' />
  <message name='oldIphoneIconsetResponseMessage'>
    <part name='response' element='tns:oldIphoneIconsetResponse' />
  </message>
  <message name='oldIphoneIconsetUrlRequestMessage'>
    <part name='parameters' element='tns:oldIphoneIconsetUrlParameters' />
  </message>
  <message name='oldIphoneIconsetUrlResponseMessage'>
    <part name='response' element='tns:oldIphoneIconsetUrlResponse' />
  </message>
  <message name='oldUniversalIconsetRequestMessage' />
  <message name='oldUniversalIconsetResponseMessage'>
    <part name='response' element='tns:oldUniversalIconsetResponse' />
  </message>
  <message name='oldUniversalIconsetUrlRequestMessage'>
    <part name='parameters' element='tns:oldUniversalIconsetUrlParameters' />
  </message>
  <message name='oldUniversalIconsetUrlResponseMessage'>
    <part name='response' element='tns:oldUniversalIconsetUrlResponse' />
  </message>
  <message name='universalIconsetRequestMessage' />
  <message name='universalIconsetResponseMessage'>
    <part name='response' element='tns:universalIconsetResponse' />
  </message>
  <message name='universalIconsetUrlRequestMessage'>
    <part name='parameters' element='tns:universalIconsetUrlParameters' />
  </message>
  <message name='universalIconsetUrlResponseMessage'>
    <part name='response' element='tns:universalIconsetUrlResponse' />
  </message>
  <portType name='icongeneratorPortType'>
    <operation name='androidIconset'>
      <documentation>generate iconset for Android devices</documentation>
      <input message='tns:androidIconsetRequestMessage' name='androidIconsetInput' />
      <output message='tns:androidIconsetResponseMessage' name='androidIconsetOutput' />
    </operation>
    <operation name='androidIconsetUrl'>
      <documentation>generate iconset for Android devices</documentation>
      <input message='tns:androidIconsetUrlRequestMessage' name='androidIconsetUrlInput' />
      <output message='tns:androidIconsetUrlResponseMessage' name='androidIconsetUrlOutput' />
    </operation>
    <operation name='ipadIconset'>
      <documentation>generate iconset suitable for projects aimed at iOS and newest iPads</documentation>
      <input message='tns:ipadIconsetRequestMessage' name='ipadIconsetInput' />
      <output message='tns:ipadIconsetResponseMessage' name='ipadIconsetOutput' />
    </operation>
    <operation name='ipadIconsetUrl'>
      <documentation>generate iconset suitable for projects aimed at iOS and newest iPads</documentation>
      <input message='tns:ipadIconsetUrlRequestMessage' name='ipadIconsetUrlInput' />
      <output message='tns:ipadIconsetUrlResponseMessage' name='ipadIconsetUrlOutput' />
    </operation>
    <operation name='iphoneIconset'>
      <documentation>generate iconset suitable for projects aimed at iOS and newest iPhones</documentation>
      <input message='tns:iphoneIconsetRequestMessage' name='iphoneIconsetInput' />
      <output message='tns:iphoneIconsetResponseMessage' name='iphoneIconsetOutput' />
    </operation>
    <operation name='iphoneIconsetUrl'>
      <documentation>generate iconset suitable for projects aimed at iOS and newest iPhones</documentation>
      <input message='tns:iphoneIconsetUrlRequestMessage' name='iphoneIconsetUrlInput' />
      <output message='tns:iphoneIconsetUrlResponseMessage' name='iphoneIconsetUrlOutput' />
    </operation>
    <operation name='oldIpadIconset'>
      <documentation>generate iconset suitable for iPads running iOS and below</documentation>
      <input message='tns:oldIpadIconsetRequestMessage' name='oldIpadIconsetInput' />
      <output message='tns:oldIpadIconsetResponseMessage' name='oldIpadIconsetOutput' />
    </operation>
    <operation name='oldIpadIconsetUrl'>
      <documentation>generate iconset suitable for iPads running iOS and below</documentation>
      <input message='tns:oldIpadIconsetUrlRequestMessage' name='oldIpadIconsetUrlInput' />
      <output message='tns:oldIpadIconsetUrlResponseMessage' name='oldIpadIconsetUrlOutput' />
    </operation>
    <operation name='oldIphoneIconset'>
      <documentation>generate iconset suitable for projects aimed at iPhones running iOS and below</documentation>
      <input message='tns:oldIphoneIconsetRequestMessage' name='oldIphoneIconsetInput' />
      <output message='tns:oldIphoneIconsetResponseMessage' name='oldIphoneIconsetOutput' />
    </operation>
    <operation name='oldIphoneIconsetUrl'>
      <documentation>generate iconset suitable for projects aimed at iPhones running iOS and below</documentation>
      <input message='tns:oldIphoneIconsetUrlRequestMessage' name='oldIphoneIconsetUrlInput' />
      <output message='tns:oldIphoneIconsetUrlResponseMessage' name='oldIphoneIconsetUrlOutput' />
    </operation>
    <operation name='oldUniversalIconset'>
      <documentation>generate universal iconset for devices running iOS and below</documentation>
      <input message='tns:oldUniversalIconsetRequestMessage' name='oldUniversalIconsetInput' />
      <output message='tns:oldUniversalIconsetResponseMessage' name='oldUniversalIconsetOutput' />
    </operation>
    <operation name='oldUniversalIconsetUrl'>
      <documentation>generate universal iconset for devices running iOS and below</documentation>
      <input message='tns:oldUniversalIconsetUrlRequestMessage' name='oldUniversalIconsetUrlInput' />
      <output message='tns:oldUniversalIconsetUrlResponseMessage' name='oldUniversalIconsetUrlOutput' />
    </operation>
    <operation name='universalIconset'>
      <documentation>generate universal iconset for iOS and newest devices</documentation>
      <input message='tns:universalIconsetRequestMessage' name='universalIconsetInput' />
      <output message='tns:universalIconsetResponseMessage' name='universalIconsetOutput' />
    </operation>
    <operation name='universalIconsetUrl'>
      <documentation>generate universal iconset for iOS and newest devices</documentation>
      <input message='tns:universalIconsetUrlRequestMessage' name='universalIconsetUrlInput' />
      <output message='tns:universalIconsetUrlResponseMessage' name='universalIconsetUrlOutput' />
    </operation>
  </portType>
  <binding name='icongeneratorBinding' type='tns:icongeneratorPortType'>
    <operation name='androidIconset'>
      <soap12:operation soapAction='http://androidIconset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='androidIconsetUrl'>
      <soap12:operation soapAction='http://androidIconsetUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ipadIconset'>
      <soap12:operation soapAction='http://ipadIconset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ipadIconsetUrl'>
      <soap12:operation soapAction='http://ipadIconsetUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='iphoneIconset'>
      <soap12:operation soapAction='http://iphoneIconset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='iphoneIconsetUrl'>
      <soap12:operation soapAction='http://iphoneIconsetUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='oldIpadIconset'>
      <soap12:operation soapAction='http://oldIpadIconset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='oldIpadIconsetUrl'>
      <soap12:operation soapAction='http://oldIpadIconsetUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='oldIphoneIconset'>
      <soap12:operation soapAction='http://oldIphoneIconset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='oldIphoneIconsetUrl'>
      <soap12:operation soapAction='http://oldIphoneIconsetUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='oldUniversalIconset'>
      <soap12:operation soapAction='http://oldUniversalIconset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='oldUniversalIconsetUrl'>
      <soap12:operation soapAction='http://oldUniversalIconsetUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='universalIconset'>
      <soap12:operation soapAction='http://universalIconset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='universalIconsetUrl'>
      <soap12:operation soapAction='http://universalIconsetUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='icongenerator'>
    <documentation>create iconsets for iPhone iPad and Android The iconset download links are available for minutes since creation</documentation>
    <port name='icongeneratorPort' binding='tns:icongeneratorBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://icongenerator' />
    </port>
  </service>
</definitions>