workspace/datasets/mashape_dataset/imageanalyzer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/imageanalyzer/' name='imageanalyzer' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/imageanalyzer/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/imageanalyzer/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/imageanalyzer/'>
      <xsd:element name='analyzeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='orientation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='size_bytes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='compression_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='colors' type='xsd:int' minOccurs='0' />
                  <xsd:element name='compression_quality' type='xsd:int' minOccurs='0' />
                  <xsd:element name='depth' type='xsd:int' minOccurs='0' />
                  <xsd:element name='colorspace' type='xsd:int' minOccurs='0' />
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mimetype' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='dpi' type='xsd:int' minOccurs='0' />
                  <xsd:element name='gamma' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='properties' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='modify' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='create' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='jpeg' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='sampling-factor' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='colorspace' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='exif' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='copyright' type='xsd:string' minOccurs='0' />
                              <xsd:element name='software' type='xsd:string' minOccurs='0' />
                              <xsd:element name='maxaperturevalue' type='xsd:string' minOccurs='0' />
                              <xsd:element name='subjectdistancerange' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='isospeedratings' type='xsd:int' minOccurs='0' />
                              <xsd:element name='exposureprogram' type='xsd:string' minOccurs='0' />
                              <xsd:element name='exposuretime' type='xsd:string' minOccurs='0' />
                              <xsd:element name='printimagematching' type='xsd:string' minOccurs='0' />
                              <xsd:element name='datetime' type='xsd:string' minOccurs='0' />
                              <xsd:element name='focalplaneyresolution' type='xsd:int' minOccurs='0' />
                              <xsd:element name='model' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='focalplaneresolutionunit' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='interoperabilityversion' type='xsd:int' minOccurs='0' />
                              <xsd:element name='interoperabilityoffset' type='xsd:int' minOccurs='0' />
                              <xsd:element name='aperturevalue' type='xsd:string' minOccurs='0' />
                              <xsd:element name='shutterspeedvalue' type='xsd:string' minOccurs='0' />
                              <xsd:element name='exifversion' type='xsd:string' minOccurs='0' />
                              <xsd:element name='exposurebiasvalue' type='xsd:string' minOccurs='0' />
                              <xsd:element name='filesource' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='whitebalance' type='xsd:string' minOccurs='0' />
                              <xsd:element name='lightsource' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='meteringmode' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='makernote' type='xsd:string' minOccurs='0' />
                              <xsd:element name='customrendered' type='xsd:string' minOccurs='0' />
                              <xsd:element name='focalplanexresolution' type='xsd:int' minOccurs='0' />
                              <xsd:element name='datetimedigitized' type='xsd:string' minOccurs='0' />
                              <xsd:element name='componentsconfiguration' type='xsd:string' minOccurs='0' />
                              <xsd:element name='fnumber' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='compression' type='xsd:string' minOccurs='0' />
                              <xsd:element name='flash' type='xsd:string' minOccurs='0' />
                              <xsd:element name='flashpixversion' type='xsd:string' minOccurs='0' />
                              <xsd:element name='jpeginterchangeformat' type='xsd:int' minOccurs='0' />
                              <xsd:element name='jpeginterchangeformatlength' type='xsd:int' minOccurs='0' />
                              <xsd:element name='interoperabilityindex' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='yresolution' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='make' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='datetimeoriginal' type='xsd:string' minOccurs='0' />
                              <xsd:element name='compressedbitsperpixel' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='orientation' type='xsd:int' minOccurs='0' />
                              <xsd:element name='sensingmethod' type='xsd:string' minOccurs='0' />
                              <xsd:element name='focallength' type='xsd:string' minOccurs='0' />
                              <xsd:element name='resolutionunit' type='xsd:int' minOccurs='0' />
                              <xsd:element name='scenetype' type='xsd:string' minOccurs='0' />
                              <xsd:element name='exposuremode' type='xsd:string' minOccurs='0' />
                              <xsd:element name='exifimagewidth' type='xsd:int' minOccurs='0' />
                              <xsd:element name='pixelxdimension' type='xsd:int' minOccurs='0' />
                              <xsd:element name='xresolution' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='colorspace' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='pixelydimension' type='xsd:int' minOccurs='0' />
                              <xsd:element name='exifimagelength' type='xsd:int' minOccurs='0' />
                              <xsd:element name='ycbcrpositioning' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='scenecapturetype' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='brightnessvalue' type='xsd:string' minOccurs='0' />
                              <xsd:element name='exifoffset' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='analyzeUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='analyzeUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='orientation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='size_bytes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='compression_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='colors' type='xsd:int' minOccurs='0' />
                  <xsd:element name='compression_quality' type='xsd:int' minOccurs='0' />
                  <xsd:element name='depth' type='xsd:int' minOccurs='0' />
                  <xsd:element name='colorspace' type='xsd:int' minOccurs='0' />
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mimetype' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='dpi' type='xsd:int' minOccurs='0' />
                  <xsd:element name='gamma' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='properties' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='modify' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='create' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='jpeg' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='sampling-factor' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='colorspace' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='analyzeRequestMessage' />
  <message name='analyzeResponseMessage'>
    <part name='response' element='tns:analyzeResponse' />
  </message>
  <message name='analyzeUrlRequestMessage'>
    <part name='parameters' element='tns:analyzeUrlParameters' />
  </message>
  <message name='analyzeUrlResponseMessage'>
    <part name='response' element='tns:analyzeUrlResponse' />
  </message>
  <portType name='imageanalyzerPortType'>
    <operation name='analyze'>
      <documentation>analyze the provided image</documentation>
      <input message='tns:analyzeRequestMessage' name='analyzeInput' />
      <output message='tns:analyzeResponseMessage' name='analyzeOutput' />
    </operation>
    <operation name='analyzeUrl'>
      <documentation>analyze provided image</documentation>
      <input message='tns:analyzeUrlRequestMessage' name='analyzeUrlInput' />
      <output message='tns:analyzeUrlResponseMessage' name='analyzeUrlOutput' />
    </operation>
  </portType>
  <binding name='imageanalyzerBinding' type='tns:imageanalyzerPortType'>
    <operation name='analyze'>
      <soap12:operation soapAction='http://analyze' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='analyzeUrl'>
      <soap12:operation soapAction='http://analyzeUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='imageanalyzer'>
    <documentation>quickly analyze and parse image data</documentation>
    <port name='imageanalyzerPort' binding='tns:imageanalyzerBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://imageanalyzer' />
    </port>
  </service>
</definitions>