workspace/datasets/mashape_dataset/imdb.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/imdb/' name='imdb' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/imdb/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/imdb/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/imdb/'>
      <xsd:element name='movieResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='releaseDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='given' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='max' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='runtime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cast' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='actor' type='xsd:string' minOccurs='0' />
                        <xsd:element name='role' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='reviews' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='critic' type='xsd:int' minOccurs='0' />
                        <xsd:element name='user' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='storyline' type='xsd:string' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='writer' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='metascore' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='given' type='xsd:int' minOccurs='0' />
                        <xsd:element name='max' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='poster' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='movieRequestMessage' />
  <message name='movieResponseMessage'>
    <part name='response' element='tns:movieResponse' />
  </message>
  <portType name='imdbPortType'>
    <operation name='movie'>
      <documentation>query for a movie TV show</documentation>
      <input message='tns:movieRequestMessage' name='movieInput' />
      <output message='tns:movieResponseMessage' name='movieOutput' />
    </operation>
  </portType>
  <binding name='imdbBinding' type='tns:imdbPortType'>
    <operation name='movie'>
      <soap12:operation soapAction='http://movie' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='imdb'>
    <documentation>an Unofficial API for IMDb com Use it to collect data from IMDb</documentation>
    <port name='imdbPort' binding='tns:imdbBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://imdb' />
    </port>
  </service>
</definitions>