workspace/datasets/mashape_dataset/imeiinfo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/imeiInfo/' name='imeiInfo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/imeiInfo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/imeiInfo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/imeiInfo/'>
      <xsd:element name='checkImeiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bt_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='imei_parts' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='cd' type='xsd:int' minOccurs='0' />
                  <xsd:element name='snr' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tac' type='xsd:int' minOccurs='0' />
                  <xsd:element name='fac' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='bt_link' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='imei' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='model' type='xsd:string' minOccurs='0' />
            <xsd:element name='brand' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='info' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='cpu_clock' type='xsd:int' minOccurs='0' />
                  <xsd:element name='year' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='memory_card' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='qwerty' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='battery' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='int_memory' type='xsd:int' minOccurs='0' />
                  <xsd:element name='touch_scr' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='sim_card_size' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lan' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hsdpa_band' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='stand_by' type='xsd:int' minOccurs='0' />
                  <xsd:element name='gsm_band' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='os' type='xsd:string' minOccurs='0' />
                  <xsd:element name='display' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='color' type='xsd:boolean' maxOccurs='unbounded' />
                        <xsd:element name='size' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='inches' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='type' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='talk_time_umts' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='weight' type='xsd:int' minOccurs='0' />
                  <xsd:element name='cpu' type='xsd:string' minOccurs='0' />
                  <xsd:element name='cpu_cores' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='size' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='thickness' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='wifi_hotspot' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='build' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lan_ports' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tel_func' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='talk_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='checkImeiRequestMessage' />
  <message name='checkImeiResponseMessage'>
    <part name='response' element='tns:checkImeiResponse' />
  </message>
  <portType name='imeiInfoPortType'>
    <operation name='checkImei'>
      <documentation>every mobile phone GSM modem or device with a built in phone modem has a unique digit IMEI number Based on this number you can check some information about the device eg brand or model Enter the IMEI number below</documentation>
      <input message='tns:checkImeiRequestMessage' name='checkImeiInput' />
      <output message='tns:checkImeiResponseMessage' name='checkImeiOutput' />
    </operation>
  </portType>
  <binding name='imeiInfoBinding' type='tns:imeiInfoPortType'>
    <operation name='checkImei'>
      <soap12:operation soapAction='http://checkImei' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='imeiInfo'>
    <documentation>every mobile phone GSM modem or device with a built in phone modem has a unique digit IMEI number Based on this number you can check some information about the device eg brand or model Enter the IMEI number below</documentation>
    <port name='imeiInfoPort' binding='tns:imeiInfoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://imeiInfo' />
    </port>
  </service>
</definitions>