workspace/datasets/mashape_dataset/indeed.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/indeed/' name='indeed' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/indeed/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/indeed/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/indeed/'>
      <xsd:element name='getJobsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jobkeys' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='v' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getJobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='version' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='chnl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='co' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fromage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='highlight' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='l' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='latlong' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='radius' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='st' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='useragent' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='v' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='highlight' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='totalResults' type='xsd:int' minOccurs='0' />
            <xsd:element name='pageNumber' type='xsd:int' minOccurs='0' />
            <xsd:element name='dupefilter' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='query' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='start' type='xsd:int' minOccurs='0' />
            <xsd:element name='location' type='xsd:string' minOccurs='0' />
            <xsd:element name='end' type='xsd:int' minOccurs='0' />
            <xsd:element name='radius' type='xsd:int' minOccurs='0' />
            <xsd:element name='version' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='snippet' type='xsd:string' minOccurs='0' />
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='jobtitle' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='formattedLocation' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sponsored' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='source' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='jobkey' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='expired' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='formattedRelativeTime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='formattedLocationFull' type='xsd:string' minOccurs='0' />
                  <xsd:element name='company' type='xsd:string' minOccurs='0' />
                  <xsd:element name='onmousedown' type='xsd:string' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getJobsRequestMessage'>
    <part name='parameters' element='tns:getJobsParameters' />
  </message>
  <message name='getJobsResponseMessage'>
    <part name='response' element='tns:getJobsResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <portType name='indeedPortType'>
    <operation name='getJobs'>
      <documentation></documentation>
      <input message='tns:getJobsRequestMessage' name='getJobsInput' />
      <output message='tns:getJobsResponseMessage' name='getJobsOutput' />
    </operation>
    <operation name='search'>
      <documentation></documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
  </portType>
  <binding name='indeedBinding' type='tns:indeedPortType'>
    <operation name='getJobs'>
      <soap12:operation soapAction='http://getJobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='indeed'>
    <documentation>indeed is the job site worldwide with over million unique visitors per month Indeed is available in more than countries and languages covering of global GDP</documentation>
    <port name='indeedPort' binding='tns:indeedBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://indeed' />
    </port>
  </service>
</definitions>