workspace/datasets/mashape_dataset/indianstockexchange.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/indianStockExchange/' name='indianStockExchange' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/indianStockExchange/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/indianStockExchange/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/indianStockExchange/'>
      <xsd:element name='scripGrabberParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='scripid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='scripGrabberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='previousClose' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='high' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='current' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='low' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='open' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='scripGrabberRequestMessage'>
    <part name='parameters' element='tns:scripGrabberParameters' />
  </message>
  <message name='scripGrabberResponseMessage'>
    <part name='response' element='tns:scripGrabberResponse' />
  </message>
  <portType name='indianStockExchangePortType'>
    <operation name='scripGrabber'>
      <documentation>get Scrip Details</documentation>
      <input message='tns:scripGrabberRequestMessage' name='scripGrabberInput' />
      <output message='tns:scripGrabberResponseMessage' name='scripGrabberOutput' />
    </operation>
  </portType>
  <binding name='indianStockExchangeBinding' type='tns:indianStockExchangePortType'>
    <operation name='scripGrabber'>
      <soap12:operation soapAction='http://scripGrabber' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='indianStockExchange'>
    <documentation>this is simple and fast API to get any Indian listed scrip stock company s current values in exchange Try us out as its free</documentation>
    <port name='indianStockExchangePort' binding='tns:indianStockExchangeBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://indianStockExchange' />
    </port>
  </service>
</definitions>