workspace/datasets/mashape_dataset/indianpost.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/indianPost/' name='indianPost' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/indianPost/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/indianPost/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/indianPost/'>
      <xsd:element name='getOfficesByPincodesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pincode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOfficesByPincodesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='pincode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='officename' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deliverystatus' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='taluk' type='xsd:string' minOccurs='0' />
                  <xsd:element name='districtname' type='xsd:string' minOccurs='0' />
                  <xsd:element name='divisionname' type='xsd:string' minOccurs='0' />
                  <xsd:element name='regionname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='statename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='officetype' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='circlename' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPincodesByOfficeCityNameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPincodesByOfficeCityNameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='pincode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='officename' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deliverystatus' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='taluk' type='xsd:string' minOccurs='0' />
                  <xsd:element name='districtname' type='xsd:string' minOccurs='0' />
                  <xsd:element name='divisionname' type='xsd:string' minOccurs='0' />
                  <xsd:element name='regionname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='statename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='officetype' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='circlename' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='speedPostTrackingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='itemno' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='speedPostTrackingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='DeliveredOn' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ItemNumber' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='BookedAt' type='xsd:string' minOccurs='0' />
            <xsd:element name='DeliveredAt' type='xsd:string' minOccurs='0' />
            <xsd:element name='BookedOn' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='DetailsTable' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Status' type='xsd:string' minOccurs='0' />
                  <xsd:element name='StatusAt' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Time' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Date' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getOfficesByPincodesRequestMessage'>
    <part name='parameters' element='tns:getOfficesByPincodesParameters' />
  </message>
  <message name='getOfficesByPincodesResponseMessage'>
    <part name='response' element='tns:getOfficesByPincodesResponse' />
  </message>
  <message name='getPincodesByOfficeCityNameRequestMessage'>
    <part name='parameters' element='tns:getPincodesByOfficeCityNameParameters' />
  </message>
  <message name='getPincodesByOfficeCityNameResponseMessage'>
    <part name='response' element='tns:getPincodesByOfficeCityNameResponse' />
  </message>
  <message name='speedPostTrackingRequestMessage'>
    <part name='parameters' element='tns:speedPostTrackingParameters' />
  </message>
  <message name='speedPostTrackingResponseMessage'>
    <part name='response' element='tns:speedPostTrackingResponse' />
  </message>
  <portType name='indianPostPortType'>
    <operation name='getOfficesByPincodes'>
      <documentation>just enter the pincode and look for available post offices in that area</documentation>
      <input message='tns:getOfficesByPincodesRequestMessage' name='getOfficesByPincodesInput' />
      <output message='tns:getOfficesByPincodesResponseMessage' name='getOfficesByPincodesOutput' />
    </operation>
    <operation name='getPincodesByOfficeCityName'>
      <documentation>get the pincodes of any place in India by just giving the office or location name</documentation>
      <input message='tns:getPincodesByOfficeCityNameRequestMessage' name='getPincodesByOfficeCityNameInput' />
      <output message='tns:getPincodesByOfficeCityNameResponseMessage' name='getPincodesByOfficeCityNameOutput' />
    </operation>
    <operation name='speedPostTracking'>
      <documentation>track any Indian Post s Speed Post by giving consignment Id</documentation>
      <input message='tns:speedPostTrackingRequestMessage' name='speedPostTrackingInput' />
      <output message='tns:speedPostTrackingResponseMessage' name='speedPostTrackingOutput' />
    </operation>
  </portType>
  <binding name='indianPostBinding' type='tns:indianPostPortType'>
    <operation name='getOfficesByPincodes'>
      <soap12:operation soapAction='http://getOfficesByPincodes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPincodesByOfficeCityName'>
      <soap12:operation soapAction='http://getPincodesByOfficeCityName' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='speedPostTracking'>
      <soap12:operation soapAction='http://speedPostTracking' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='indianPost'>
    <documentation>using this API anyone can get the information of Indian Post s Speed post consignment just give consignment id itemno as input and get the whole details also get the pincodes search feature spread the word with your friends who are interested in this</documentation>
    <port name='indianPostPort' binding='tns:indianPostBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://indianPost' />
    </port>
  </service>
</definitions>