workspace/datasets/mashape_dataset/indianrailwaysnationaltrainenquirysystemntes.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/indianRailwaysNationalTrainEnquirySystemNtes/' name='indianRailwaysNationalTrainEnquirySystemNtes' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/indianRailwaysNationalTrainEnquirySystemNtes/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/indianRailwaysNationalTrainEnquirySystemNtes/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/indianRailwaysNationalTrainEnquirySystemNtes/'>
      <xsd:element name='pnrStatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pnr' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pnrStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='providedBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Error' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trainScheduleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='trainno' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trainScheduleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='providedBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Destination' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='TrainNumber' type='xsd:int' minOccurs='0' />
            <xsd:element name='TrainName' type='xsd:string' minOccurs='0' />
            <xsd:element name='AlertMsg' type='xsd:string' minOccurs='0' />
            <xsd:element name='SourceName' type='xsd:string' minOccurs='0' />
            <xsd:element name='DaysOfRun' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='stations' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='STA' type='xsd:string' minOccurs='0' />
                  <xsd:element name='StationName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='STD' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='DayOfRun' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='StationCode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Day' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Distance' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Sr' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Source' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='TrainTypeDesc' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='DestinationName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='TrainType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trainScheduleDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datetype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='journeystation' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='trainno' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trainScheduleDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='DelayArr' type='xsd:string' minOccurs='0' />
            <xsd:element name='Destination' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Platform' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='LastUpdate' type='xsd:string' minOccurs='0' />
            <xsd:element name='TrainName' type='xsd:string' minOccurs='0' />
            <xsd:element name='AlertMsg' type='xsd:string' minOccurs='0' />
            <xsd:element name='JourneyStationName' type='xsd:string' minOccurs='0' />
            <xsd:element name='SchArr' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Source' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Gauge' type='xsd:string' minOccurs='0' />
            <xsd:element name='DelayDep' type='xsd:string' minOccurs='0' />
            <xsd:element name='LastUpdateTime' type='xsd:string' minOccurs='0' />
            <xsd:element name='DelayRun' type='xsd:string' minOccurs='0' />
            <xsd:element name='DestinationName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ActArr' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='providedBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='JourneyStation' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='TrainNumber' type='xsd:int' minOccurs='0' />
            <xsd:element name='ArrFlag' type='xsd:int' minOccurs='0' />
            <xsd:element name='SourceName' type='xsd:string' minOccurs='0' />
            <xsd:element name='ActDep' type='xsd:string' minOccurs='0' />
            <xsd:element name='DistToGo' type='xsd:int' minOccurs='0' />
            <xsd:element name='SchDep' type='xsd:string' minOccurs='0' />
            <xsd:element name='DepFlag' type='xsd:int' minOccurs='0' />
            <xsd:element name='JourneyDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveStationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='innexthour' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='journeystation' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tostation' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='liveStationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Station' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='providedBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='StationName' type='xsd:string' minOccurs='0' />
            <xsd:element name='TrainsAtStation' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='DelayArr' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='STA' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Destination' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='TrainNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='STD' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Platform' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='TrainName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='SourceName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Source' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ETA' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='DelayDep' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ETD' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='DestinationName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='TrainType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='ToStation' type='xsd:string' minOccurs='0' />
            <xsd:element name='AlertMsg' type='xsd:string' minOccurs='0' />
            <xsd:element name='ToStationName' type='xsd:string' minOccurs='0' />
            <xsd:element name='NextHr' type='xsd:int' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trainBetweenStationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='stationfrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stationto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='traintype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trainBetweenStationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Trains' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Destination' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='TrainNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='FromStation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='TrainName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='SourceName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='DepTimeFrom' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Source' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='TravelTime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='toStation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='FromStationName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DayOfRun' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ToStationName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ArrTimeTo' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='TrainTypeDesc' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DestinationName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='TrainType' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Sr' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='providedBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='StationToCode' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='StationFrom' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='AlertMsg' type='xsd:string' minOccurs='0' />
            <xsd:element name='TrainTypeDesc' type='xsd:string' minOccurs='0' />
            <xsd:element name='TrainType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='RecordCount' type='xsd:string' minOccurs='0' />
            <xsd:element name='StationFromCode' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='StationTo' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cancelledTrainsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datetype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='excptype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cancelledTrainsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='providedBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ExcpTrains' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='StartDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DepTimeSource' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Destination' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='TrainNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='TrainName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DestinationName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='SourceName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Source' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='ExcpType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='AlertMsg' type='xsd:string' minOccurs='0' />
            <xsd:element name='ExcpStartDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ExcpDateType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='divertedTrainsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datetype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='divertedTrainsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='AlertMsg' type='xsd:string' minOccurs='0' />
            <xsd:element name='poweredBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rescheduledTrainsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datetype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rescheduledTrainsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='providedBy' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ExcpTrains' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='StartDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DepTimeSource' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Destination' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='TrainNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='RescheduledDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='TrainName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='RescheduledByTime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='DestinationName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='SourceName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Source' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='ExcpType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='AlertMsg' type='xsd:string' minOccurs='0' />
            <xsd:element name='ExcpStartDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ExcpDateType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stationCodeSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='station' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stationCodeSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Station' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trainTypeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='train_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='pnrStatusRequestMessage'>
    <part name='parameters' element='tns:pnrStatusParameters' />
  </message>
  <message name='pnrStatusResponseMessage'>
    <part name='response' element='tns:pnrStatusResponse' />
  </message>
  <message name='trainScheduleRequestMessage'>
    <part name='parameters' element='tns:trainScheduleParameters' />
  </message>
  <message name='trainScheduleResponseMessage'>
    <part name='response' element='tns:trainScheduleResponse' />
  </message>
  <message name='trainScheduleDetailsRequestMessage'>
    <part name='parameters' element='tns:trainScheduleDetailsParameters' />
  </message>
  <message name='trainScheduleDetailsResponseMessage'>
    <part name='response' element='tns:trainScheduleDetailsResponse' />
  </message>
  <message name='liveStationRequestMessage'>
    <part name='parameters' element='tns:liveStationParameters' />
  </message>
  <message name='liveStationResponseMessage'>
    <part name='response' element='tns:liveStationResponse' />
  </message>
  <message name='trainBetweenStationsRequestMessage'>
    <part name='parameters' element='tns:trainBetweenStationsParameters' />
  </message>
  <message name='trainBetweenStationsResponseMessage'>
    <part name='response' element='tns:trainBetweenStationsResponse' />
  </message>
  <message name='cancelledTrainsRequestMessage'>
    <part name='parameters' element='tns:cancelledTrainsParameters' />
  </message>
  <message name='cancelledTrainsResponseMessage'>
    <part name='response' element='tns:cancelledTrainsResponse' />
  </message>
  <message name='divertedTrainsRequestMessage'>
    <part name='parameters' element='tns:divertedTrainsParameters' />
  </message>
  <message name='divertedTrainsResponseMessage'>
    <part name='response' element='tns:divertedTrainsResponse' />
  </message>
  <message name='rescheduledTrainsRequestMessage'>
    <part name='parameters' element='tns:rescheduledTrainsParameters' />
  </message>
  <message name='rescheduledTrainsResponseMessage'>
    <part name='response' element='tns:rescheduledTrainsResponse' />
  </message>
  <message name='stationCodeSearchRequestMessage'>
    <part name='parameters' element='tns:stationCodeSearchParameters' />
  </message>
  <message name='stationCodeSearchResponseMessage'>
    <part name='response' element='tns:stationCodeSearchResponse' />
  </message>
  <message name='trainTypeRequestMessage' />
  <message name='trainTypeResponseMessage'>
    <part name='response' element='tns:trainTypeResponse' />
  </message>
  <portType name='indianRailwaysNationalTrainEnquirySystemNtesPortType'>
    <operation name='pnrStatus'>
      <documentation>rETURNS PNR status</documentation>
      <input message='tns:pnrStatusRequestMessage' name='pnrStatusInput' />
      <output message='tns:pnrStatusResponseMessage' name='pnrStatusOutput' />
    </operation>
    <operation name='trainSchedule'>
      <documentation>returns Schedule of a given Trian</documentation>
      <input message='tns:trainScheduleRequestMessage' name='trainScheduleInput' />
      <output message='tns:trainScheduleResponseMessage' name='trainScheduleOutput' />
    </operation>
    <operation name='trainScheduleDetails'>
      <documentation>returns run details of a train for a given Station</documentation>
      <input message='tns:trainScheduleDetailsRequestMessage' name='trainScheduleDetailsInput' />
      <output message='tns:trainScheduleDetailsResponseMessage' name='trainScheduleDetailsOutput' />
    </operation>
    <operation name='liveStation'>
      <documentation>rETURNS all train details for a given Station</documentation>
      <input message='tns:liveStationRequestMessage' name='liveStationInput' />
      <output message='tns:liveStationResponseMessage' name='liveStationOutput' />
    </operation>
    <operation name='trainBetweenStations'>
      <documentation>rETURNS train between stations</documentation>
      <input message='tns:trainBetweenStationsRequestMessage' name='trainBetweenStationsInput' />
      <output message='tns:trainBetweenStationsResponseMessage' name='trainBetweenStationsOutput' />
    </operation>
    <operation name='cancelledTrains'>
      <documentation>returns Cancelled Trains For a Given Date</documentation>
      <input message='tns:cancelledTrainsRequestMessage' name='cancelledTrainsInput' />
      <output message='tns:cancelledTrainsResponseMessage' name='cancelledTrainsOutput' />
    </operation>
    <operation name='divertedTrains'>
      <documentation>rETURNS Diverted trains</documentation>
      <input message='tns:divertedTrainsRequestMessage' name='divertedTrainsInput' />
      <output message='tns:divertedTrainsResponseMessage' name='divertedTrainsOutput' />
    </operation>
    <operation name='rescheduledTrains'>
      <documentation>rETURNS Rescheduled Trains</documentation>
      <input message='tns:rescheduledTrainsRequestMessage' name='rescheduledTrainsInput' />
      <output message='tns:rescheduledTrainsResponseMessage' name='rescheduledTrainsOutput' />
    </operation>
    <operation name='stationCodeSearch'>
      <documentation>returns a list of all Stations for a given input string It can be used as Quick Search Tool</documentation>
      <input message='tns:stationCodeSearchRequestMessage' name='stationCodeSearchInput' />
      <output message='tns:stationCodeSearchResponseMessage' name='stationCodeSearchOutput' />
    </operation>
    <operation name='trainType'>
      <documentation>returns Lits of all train types</documentation>
      <input message='tns:trainTypeRequestMessage' name='trainTypeInput' />
      <output message='tns:trainTypeResponseMessage' name='trainTypeOutput' />
    </operation>
  </portType>
  <binding name='indianRailwaysNationalTrainEnquirySystemNtesBinding' type='tns:indianRailwaysNationalTrainEnquirySystemNtesPortType'>
    <operation name='pnrStatus'>
      <soap12:operation soapAction='http://pnrStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trainSchedule'>
      <soap12:operation soapAction='http://trainSchedule' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trainScheduleDetails'>
      <soap12:operation soapAction='http://trainScheduleDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='liveStation'>
      <soap12:operation soapAction='http://liveStation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trainBetweenStations'>
      <soap12:operation soapAction='http://trainBetweenStations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cancelledTrains'>
      <soap12:operation soapAction='http://cancelledTrains' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='divertedTrains'>
      <soap12:operation soapAction='http://divertedTrains' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='rescheduledTrains'>
      <soap12:operation soapAction='http://rescheduledTrains' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stationCodeSearch'>
      <soap12:operation soapAction='http://stationCodeSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trainType'>
      <soap12:operation soapAction='http://trainType' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='indianRailwaysNationalTrainEnquirySystemNtes'>
    <documentation>this API provides information related to Indian Railways Trains You can get the list of stations trains between stations route of a train current running status of the train and get PNR current status This is unofficial NTES API NTES provides train running related and real time status queries for all trains of India</documentation>
    <port name='indianRailwaysNationalTrainEnquirySystemNtesPort' binding='tns:indianRailwaysNationalTrainEnquirySystemNtesBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://indianRailwaysNationalTrainEnquirySystemNtes' />
    </port>
  </service>
</definitions>