workspace/datasets/mashape_dataset/indico.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/indico/' name='indico' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/indico/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/indico/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/indico/'>
      <xsd:element name='languageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Slovak' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Italian' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Russian' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Hebrew' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='German' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Swedish' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Turkish' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='French' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Arabic' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Portuguese' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Indonesian' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Tagalog' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Esperanto' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Finnish' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Spanish' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Thai' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Norwegian' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Polish' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Lithuanian' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Persian_-Farsi-' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Romanian' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Korean' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Bulgarian' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Japanese' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='English' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Latin' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Vietnamese' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Danish' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Chinese' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Hungarian' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Czech' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Dutch' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Greek' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='politicalResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Libertarian' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Liberal' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Conservative' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Green' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sentimentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='texttagsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='pets' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='education' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='guns' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='atheism' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='christianity' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='movies' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='relationships' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='humor' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='music' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='fitness' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='military' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='investing' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='parenting' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='programming' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='energy' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='history' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='nba' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='philosophy' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='cars' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='books' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='geek' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='nfl' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='science' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='baseball' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='photography' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='politics' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='conservative' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='gardening' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='entertainment' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='comics' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='bicycling' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='psychology' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='cooking' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='news' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='hockey' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='soccer' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='realestate' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='art' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='gaming' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='business' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sports' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='nature' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='television' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='jobs' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='health' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='technology' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='startups' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='entrepreneur' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='food' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='religion' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='environment' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='economics' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='personalfinance' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='travel' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='anime' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='fashion' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='languageRequestMessage' />
  <message name='languageResponseMessage'>
    <part name='response' element='tns:languageResponse' />
  </message>
  <message name='politicalRequestMessage' />
  <message name='politicalResponseMessage'>
    <part name='response' element='tns:politicalResponse' />
  </message>
  <message name='sentimentRequestMessage' />
  <message name='sentimentResponseMessage'>
    <part name='response' element='tns:sentimentResponse' />
  </message>
  <message name='texttagsRequestMessage' />
  <message name='texttagsResponseMessage'>
    <part name='response' element='tns:texttagsResponse' />
  </message>
  <portType name='indicoPortType'>
    <operation name='language'>
      <documentation>a language detection endpoint</documentation>
      <input message='tns:languageRequestMessage' name='languageInput' />
      <output message='tns:languageResponseMessage' name='languageOutput' />
    </operation>
    <operation name='political'>
      <documentation>a political alignment detection API</documentation>
      <input message='tns:politicalRequestMessage' name='politicalInput' />
      <output message='tns:politicalResponseMessage' name='politicalOutput' />
    </operation>
    <operation name='sentiment'>
      <documentation>sentiment analysis endpoint</documentation>
      <input message='tns:sentimentRequestMessage' name='sentimentInput' />
      <output message='tns:sentimentResponseMessage' name='sentimentOutput' />
    </operation>
    <operation name='texttags'>
      <documentation>an endpoint that categorizes raw strings into a number of pre built categories</documentation>
      <input message='tns:texttagsRequestMessage' name='texttagsInput' />
      <output message='tns:texttagsResponseMessage' name='texttagsOutput' />
    </operation>
  </portType>
  <binding name='indicoBinding' type='tns:indicoPortType'>
    <operation name='language'>
      <soap12:operation soapAction='http://language' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='political'>
      <soap12:operation soapAction='http://political' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sentiment'>
      <soap12:operation soapAction='http://sentiment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='texttags'>
      <soap12:operation soapAction='http://texttags' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='indico'>
    <documentation>a Mashape wrapper for indico s existing text APIs Current APIS Sentiment Analysis Political Alignment Detection Language Detection Text Tagging Our image APIs will be along shortly once the interface is cleaned up a bit These APIs also have explicit wrappers for a number of languages visible on our Github page https github com IndicoDataSolutions More documentation as well as docs specific to each of our language can be found here http indico readme io v docs</documentation>
    <port name='indicoPort' binding='tns:indicoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://indico' />
    </port>
  </service>
</definitions>