workspace/datasets/mashape_dataset/indix.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/indix/' name='indix' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/indix/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/indix/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/indix/'>
      <xsd:element name='exportCategoriesListsAllCategoriesAlongWithTheirIdsAndPathResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='request' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='app_key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='app_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='namePath' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='idPath' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDaysParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDaysResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='request' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='app_key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='app_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='brandId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='storeId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categoryId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='priceHistory' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='salePrice' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='recordedAt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='listPrice' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productDetailsReturnsDetailedInformationForAProductAndSimilarProductsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagenumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productDetailsReturnsDetailedInformationForAProductAndSimilarProductsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='request' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='app_key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='app_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='pageNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='products' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='brandName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='priceHistoryAvailable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='upc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='mpn' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='availability' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lastRecordedAt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='categoryIdPath' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='categoryNamePath' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='salePrice' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='listPrice' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='offersCount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='storeName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='producttype' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='productUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='sku' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchBrandsListsAllBrandsAlongWithTheirIdsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchBrandsListsAllBrandsAlongWithTheirIdsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='request' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='app_key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='query' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='app_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParametersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='brandid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='endprice' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagenumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startprice' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParametersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='request' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='app_key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='query' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='brandId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='app_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='pageNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='products' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='brandName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='priceHistoryAvailable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='upc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='mpn' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='availability' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lastRecordedAt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='categoryIdPath' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='categoryNamePath' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='salePrice' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='listPrice' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='offersCount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='storeName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='producttype' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='productUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='sku' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchStoresListsAllStoresAlongWithTheirIdsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchStoresListsAllStoresAlongWithTheirIdsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='request' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='app_key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='query' type='xsd:string' minOccurs='0' />
                  <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='app_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='exportCategoriesListsAllCategoriesAlongWithTheirIdsAndPathRequestMessage' />
  <message name='exportCategoriesListsAllCategoriesAlongWithTheirIdsAndPathResponseMessage'>
    <part name='response' element='tns:exportCategoriesListsAllCategoriesAlongWithTheirIdsAndPathResponse' />
  </message>
  <message name='priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDaysRequestMessage'>
    <part name='parameters' element='tns:priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDaysParameters' />
  </message>
  <message name='priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDaysResponseMessage'>
    <part name='response' element='tns:priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDaysResponse' />
  </message>
  <message name='productDetailsReturnsDetailedInformationForAProductAndSimilarProductsRequestMessage'>
    <part name='parameters' element='tns:productDetailsReturnsDetailedInformationForAProductAndSimilarProductsParameters' />
  </message>
  <message name='productDetailsReturnsDetailedInformationForAProductAndSimilarProductsResponseMessage'>
    <part name='response' element='tns:productDetailsReturnsDetailedInformationForAProductAndSimilarProductsResponse' />
  </message>
  <message name='searchBrandsListsAllBrandsAlongWithTheirIdsRequestMessage'>
    <part name='parameters' element='tns:searchBrandsListsAllBrandsAlongWithTheirIdsParameters' />
  </message>
  <message name='searchBrandsListsAllBrandsAlongWithTheirIdsResponseMessage'>
    <part name='response' element='tns:searchBrandsListsAllBrandsAlongWithTheirIdsResponse' />
  </message>
  <message name='searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParametersRequestMessage'>
    <part name='parameters' element='tns:searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParametersParameters' />
  </message>
  <message name='searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParametersResponseMessage'>
    <part name='response' element='tns:searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParametersResponse' />
  </message>
  <message name='searchStoresListsAllStoresAlongWithTheirIdsRequestMessage'>
    <part name='parameters' element='tns:searchStoresListsAllStoresAlongWithTheirIdsParameters' />
  </message>
  <message name='searchStoresListsAllStoresAlongWithTheirIdsResponseMessage'>
    <part name='response' element='tns:searchStoresListsAllStoresAlongWithTheirIdsResponse' />
  </message>
  <portType name='indixPortType'>
    <operation name='exportCategoriesListsAllCategoriesAlongWithTheirIdsAndPath'>
      <documentation>lists all categories along with their IDs and ancestry</documentation>
      <input message='tns:exportCategoriesListsAllCategoriesAlongWithTheirIdsAndPathRequestMessage' name='exportCategoriesListsAllCategoriesAlongWithTheirIdsAndPathInput' />
      <output message='tns:exportCategoriesListsAllCategoriesAlongWithTheirIdsAndPathResponseMessage' name='exportCategoriesListsAllCategoriesAlongWithTheirIdsAndPathOutput' />
    </operation>
    <operation name='priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDays'>
      <documentation>price History Returns the price history for a product Returns price history for days prior to the current date</documentation>
      <input message='tns:priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDaysRequestMessage' name='priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDaysInput' />
      <output message='tns:priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDaysResponseMessage' name='priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDaysOutput' />
    </operation>
    <operation name='productDetailsReturnsDetailedInformationForAProductAndSimilarProducts'>
      <documentation>this operation returns the product and price details for the specified product and the products similar to it</documentation>
      <input message='tns:productDetailsReturnsDetailedInformationForAProductAndSimilarProductsRequestMessage' name='productDetailsReturnsDetailedInformationForAProductAndSimilarProductsInput' />
      <output message='tns:productDetailsReturnsDetailedInformationForAProductAndSimilarProductsResponseMessage' name='productDetailsReturnsDetailedInformationForAProductAndSimilarProductsOutput' />
    </operation>
    <operation name='searchBrandsListsAllBrandsAlongWithTheirIds'>
      <documentation>lists all brands along with their IDs matching query term Does not support wildcards Limit is results per query</documentation>
      <input message='tns:searchBrandsListsAllBrandsAlongWithTheirIdsRequestMessage' name='searchBrandsListsAllBrandsAlongWithTheirIdsInput' />
      <output message='tns:searchBrandsListsAllBrandsAlongWithTheirIdsResponseMessage' name='searchBrandsListsAllBrandsAlongWithTheirIdsOutput' />
    </operation>
    <operation name='searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParameters'>
      <documentation>returns a collection of products matching a specified query along with a variety of statistics about the query results Requires at least one of query brandId storeId or categoryId</documentation>
      <input message='tns:searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParametersRequestMessage' name='searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParametersInput' />
      <output message='tns:searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParametersResponseMessage' name='searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParametersOutput' />
    </operation>
    <operation name='searchStoresListsAllStoresAlongWithTheirIds'>
      <documentation>lists all stores along with their IDs matching the query term Does not support wildcards Limit results per query</documentation>
      <input message='tns:searchStoresListsAllStoresAlongWithTheirIdsRequestMessage' name='searchStoresListsAllStoresAlongWithTheirIdsInput' />
      <output message='tns:searchStoresListsAllStoresAlongWithTheirIdsResponseMessage' name='searchStoresListsAllStoresAlongWithTheirIdsOutput' />
    </operation>
  </portType>
  <binding name='indixBinding' type='tns:indixPortType'>
    <operation name='exportCategoriesListsAllCategoriesAlongWithTheirIdsAndPath'>
      <soap12:operation soapAction='http://exportCategoriesListsAllCategoriesAlongWithTheirIdsAndPath' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDays'>
      <soap12:operation soapAction='http://priceHistoryReturnsAllThePricesRecordedForTheProductInTheLastDays' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productDetailsReturnsDetailedInformationForAProductAndSimilarProducts'>
      <soap12:operation soapAction='http://productDetailsReturnsDetailedInformationForAProductAndSimilarProducts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchBrandsListsAllBrandsAlongWithTheirIds'>
      <soap12:operation soapAction='http://searchBrandsListsAllBrandsAlongWithTheirIds' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParameters'>
      <soap12:operation soapAction='http://searchProductsRetrievesAListOfProductsMatchingAVarietyOfQueryParameters' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchStoresListsAllStoresAlongWithTheirIds'>
      <soap12:operation soapAction='http://searchStoresListsAllStoresAlongWithTheirIds' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='indix'>
    <documentation>indix APIs for products prices promotions stores and more The Most Comprehensive Product Intelligence Platform Sell More Acquire Customers Increase Productivity</documentation>
    <port name='indixPort' binding='tns:indixBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://indix' />
    </port>
  </service>
</definitions>