workspace/datasets/mashape_dataset/instagramanalytics.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/instagramAnalytics/' name='instagramAnalytics' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/instagramAnalytics/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/instagramAnalytics/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/instagramAnalytics/'>
      <xsd:element name='bestTimeToPostParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bestTimeToPostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='citiesOfFollowersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='citiesOfFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='countriesOfFollowersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='countriesOfFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gainedAndLostFollowersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gainedAndLostFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='genderOfFollowersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='genderOfFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='growthTotalFollowersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='growthTotalFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='interactionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='interactionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mostEngagingPhotoFiltersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mostEngagingPhotoFiltersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mostEngagingPostTypesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mostEngagingPostTypesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mostEngagingVideoFiltersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mostEngagingVideoFiltersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='numberOfPostsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='numberOfPostsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postEngagementRateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postEngagementRateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postTypesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postTypesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='profileEngagementRateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='profileEngagementRateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reportDeleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reportDeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reportGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reportGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='is_ready' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='show_all' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='is_own' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reportsGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reports' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='is_active' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='report_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_own' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reportsPostParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reportsPostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='report_id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sourceOfEngagementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sourceOfEngagementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topGainedFollowersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='skip' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topGainedFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topLostFollowersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='skip' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topLostFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPhotoFiltersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPhotoFiltersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPostsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='skip' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPostsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topTagsByInteractionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topTagsByInteractionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topVideoFiltersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topVideoFiltersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='totalFollowersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reportid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='totalFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email_newsletters' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='img_link' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='invited' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='instagram' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='access_token' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='current_package' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='have_billing_info' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='expired' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='expire' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_trial' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='bestTimeToPostRequestMessage'>
    <part name='parameters' element='tns:bestTimeToPostParameters' />
  </message>
  <message name='bestTimeToPostResponseMessage'>
    <part name='response' element='tns:bestTimeToPostResponse' />
  </message>
  <message name='citiesOfFollowersRequestMessage'>
    <part name='parameters' element='tns:citiesOfFollowersParameters' />
  </message>
  <message name='citiesOfFollowersResponseMessage'>
    <part name='response' element='tns:citiesOfFollowersResponse' />
  </message>
  <message name='countriesOfFollowersRequestMessage'>
    <part name='parameters' element='tns:countriesOfFollowersParameters' />
  </message>
  <message name='countriesOfFollowersResponseMessage'>
    <part name='response' element='tns:countriesOfFollowersResponse' />
  </message>
  <message name='gainedAndLostFollowersRequestMessage'>
    <part name='parameters' element='tns:gainedAndLostFollowersParameters' />
  </message>
  <message name='gainedAndLostFollowersResponseMessage'>
    <part name='response' element='tns:gainedAndLostFollowersResponse' />
  </message>
  <message name='genderOfFollowersRequestMessage'>
    <part name='parameters' element='tns:genderOfFollowersParameters' />
  </message>
  <message name='genderOfFollowersResponseMessage'>
    <part name='response' element='tns:genderOfFollowersResponse' />
  </message>
  <message name='growthTotalFollowersRequestMessage'>
    <part name='parameters' element='tns:growthTotalFollowersParameters' />
  </message>
  <message name='growthTotalFollowersResponseMessage'>
    <part name='response' element='tns:growthTotalFollowersResponse' />
  </message>
  <message name='interactionsRequestMessage'>
    <part name='parameters' element='tns:interactionsParameters' />
  </message>
  <message name='interactionsResponseMessage'>
    <part name='response' element='tns:interactionsResponse' />
  </message>
  <message name='mostEngagingPhotoFiltersRequestMessage'>
    <part name='parameters' element='tns:mostEngagingPhotoFiltersParameters' />
  </message>
  <message name='mostEngagingPhotoFiltersResponseMessage'>
    <part name='response' element='tns:mostEngagingPhotoFiltersResponse' />
  </message>
  <message name='mostEngagingPostTypesRequestMessage'>
    <part name='parameters' element='tns:mostEngagingPostTypesParameters' />
  </message>
  <message name='mostEngagingPostTypesResponseMessage'>
    <part name='response' element='tns:mostEngagingPostTypesResponse' />
  </message>
  <message name='mostEngagingVideoFiltersRequestMessage'>
    <part name='parameters' element='tns:mostEngagingVideoFiltersParameters' />
  </message>
  <message name='mostEngagingVideoFiltersResponseMessage'>
    <part name='response' element='tns:mostEngagingVideoFiltersResponse' />
  </message>
  <message name='numberOfPostsRequestMessage'>
    <part name='parameters' element='tns:numberOfPostsParameters' />
  </message>
  <message name='numberOfPostsResponseMessage'>
    <part name='response' element='tns:numberOfPostsResponse' />
  </message>
  <message name='postEngagementRateRequestMessage'>
    <part name='parameters' element='tns:postEngagementRateParameters' />
  </message>
  <message name='postEngagementRateResponseMessage'>
    <part name='response' element='tns:postEngagementRateResponse' />
  </message>
  <message name='postTypesRequestMessage'>
    <part name='parameters' element='tns:postTypesParameters' />
  </message>
  <message name='postTypesResponseMessage'>
    <part name='response' element='tns:postTypesResponse' />
  </message>
  <message name='profileEngagementRateRequestMessage'>
    <part name='parameters' element='tns:profileEngagementRateParameters' />
  </message>
  <message name='profileEngagementRateResponseMessage'>
    <part name='response' element='tns:profileEngagementRateResponse' />
  </message>
  <message name='reportDeleteRequestMessage'>
    <part name='parameters' element='tns:reportDeleteParameters' />
  </message>
  <message name='reportDeleteResponseMessage'>
    <part name='response' element='tns:reportDeleteResponse' />
  </message>
  <message name='reportGetRequestMessage'>
    <part name='parameters' element='tns:reportGetParameters' />
  </message>
  <message name='reportGetResponseMessage'>
    <part name='response' element='tns:reportGetResponse' />
  </message>
  <message name='reportsGetRequestMessage' />
  <message name='reportsGetResponseMessage'>
    <part name='response' element='tns:reportsGetResponse' />
  </message>
  <message name='reportsPostRequestMessage'>
    <part name='parameters' element='tns:reportsPostParameters' />
  </message>
  <message name='reportsPostResponseMessage'>
    <part name='response' element='tns:reportsPostResponse' />
  </message>
  <message name='sourceOfEngagementRequestMessage'>
    <part name='parameters' element='tns:sourceOfEngagementParameters' />
  </message>
  <message name='sourceOfEngagementResponseMessage'>
    <part name='response' element='tns:sourceOfEngagementResponse' />
  </message>
  <message name='topGainedFollowersRequestMessage'>
    <part name='parameters' element='tns:topGainedFollowersParameters' />
  </message>
  <message name='topGainedFollowersResponseMessage'>
    <part name='response' element='tns:topGainedFollowersResponse' />
  </message>
  <message name='topLostFollowersRequestMessage'>
    <part name='parameters' element='tns:topLostFollowersParameters' />
  </message>
  <message name='topLostFollowersResponseMessage'>
    <part name='response' element='tns:topLostFollowersResponse' />
  </message>
  <message name='topPhotoFiltersRequestMessage'>
    <part name='parameters' element='tns:topPhotoFiltersParameters' />
  </message>
  <message name='topPhotoFiltersResponseMessage'>
    <part name='response' element='tns:topPhotoFiltersResponse' />
  </message>
  <message name='topPostsRequestMessage'>
    <part name='parameters' element='tns:topPostsParameters' />
  </message>
  <message name='topPostsResponseMessage'>
    <part name='response' element='tns:topPostsResponse' />
  </message>
  <message name='topTagsByInteractionsRequestMessage'>
    <part name='parameters' element='tns:topTagsByInteractionsParameters' />
  </message>
  <message name='topTagsByInteractionsResponseMessage'>
    <part name='response' element='tns:topTagsByInteractionsResponse' />
  </message>
  <message name='topVideoFiltersRequestMessage'>
    <part name='parameters' element='tns:topVideoFiltersParameters' />
  </message>
  <message name='topVideoFiltersResponseMessage'>
    <part name='response' element='tns:topVideoFiltersResponse' />
  </message>
  <message name='totalFollowersRequestMessage'>
    <part name='parameters' element='tns:totalFollowersParameters' />
  </message>
  <message name='totalFollowersResponseMessage'>
    <part name='response' element='tns:totalFollowersResponse' />
  </message>
  <message name='userGetRequestMessage' />
  <message name='userGetResponseMessage'>
    <part name='response' element='tns:userGetResponse' />
  </message>
  <portType name='instagramAnalyticsPortType'>
    <operation name='bestTimeToPost'>
      <documentation>shows the times of day and the days of the week when your audience has been interacting during a selected time range The darkest blue is the best time for you to post Timezone GMT</documentation>
      <input message='tns:bestTimeToPostRequestMessage' name='bestTimeToPostInput' />
      <output message='tns:bestTimeToPostResponseMessage' name='bestTimeToPostOutput' />
    </operation>
    <operation name='citiesOfFollowers'>
      <documentation>the distribution of cities of Followers during a selected time range</documentation>
      <input message='tns:citiesOfFollowersRequestMessage' name='citiesOfFollowersInput' />
      <output message='tns:citiesOfFollowersResponseMessage' name='citiesOfFollowersOutput' />
    </operation>
    <operation name='countriesOfFollowers'>
      <documentation>the distribution of countries of Followers during a selected time range</documentation>
      <input message='tns:countriesOfFollowersRequestMessage' name='countriesOfFollowersInput' />
      <output message='tns:countriesOfFollowersResponseMessage' name='countriesOfFollowersOutput' />
    </operation>
    <operation name='gainedAndLostFollowers'>
      <documentation>the number of Followers gained and lost during a selected time range</documentation>
      <input message='tns:gainedAndLostFollowersRequestMessage' name='gainedAndLostFollowersInput' />
      <output message='tns:gainedAndLostFollowersResponseMessage' name='gainedAndLostFollowersOutput' />
    </operation>
    <operation name='genderOfFollowers'>
      <documentation>the distribution of gender of Followers during a selected time range</documentation>
      <input message='tns:genderOfFollowersRequestMessage' name='genderOfFollowersInput' />
      <output message='tns:genderOfFollowersResponseMessage' name='genderOfFollowersOutput' />
    </operation>
    <operation name='growthTotalFollowers'>
      <documentation>the absolute increase or decrease in Followers during a selected time range</documentation>
      <input message='tns:growthTotalFollowersRequestMessage' name='growthTotalFollowersInput' />
      <output message='tns:growthTotalFollowersResponseMessage' name='growthTotalFollowersOutput' />
    </operation>
    <operation name='interactions'>
      <documentation>the total number of Likes and Comments divided by their type during a selected time range</documentation>
      <input message='tns:interactionsRequestMessage' name='interactionsInput' />
      <output message='tns:interactionsResponseMessage' name='interactionsOutput' />
    </operation>
    <operation name='mostEngagingPhotoFilters'>
      <input message='tns:mostEngagingPhotoFiltersRequestMessage' name='mostEngagingPhotoFiltersInput' />
      <output message='tns:mostEngagingPhotoFiltersResponseMessage' name='mostEngagingPhotoFiltersOutput' />
    </operation>
    <operation name='mostEngagingPostTypes'>
      <input message='tns:mostEngagingPostTypesRequestMessage' name='mostEngagingPostTypesInput' />
      <output message='tns:mostEngagingPostTypesResponseMessage' name='mostEngagingPostTypesOutput' />
    </operation>
    <operation name='mostEngagingVideoFilters'>
      <input message='tns:mostEngagingVideoFiltersRequestMessage' name='mostEngagingVideoFiltersInput' />
      <output message='tns:mostEngagingVideoFiltersResponseMessage' name='mostEngagingVideoFiltersOutput' />
    </operation>
    <operation name='numberOfPosts'>
      <documentation>the total number of Posts published during a selected time range</documentation>
      <input message='tns:numberOfPostsRequestMessage' name='numberOfPostsInput' />
      <output message='tns:numberOfPostsResponseMessage' name='numberOfPostsOutput' />
    </operation>
    <operation name='postEngagementRate'>
      <documentation>calculated as the sum of all Likes and Comments divided by number of Posts divided by number of Followers during a selected time range</documentation>
      <input message='tns:postEngagementRateRequestMessage' name='postEngagementRateInput' />
      <output message='tns:postEngagementRateResponseMessage' name='postEngagementRateOutput' />
    </operation>
    <operation name='postTypes'>
      <input message='tns:postTypesRequestMessage' name='postTypesInput' />
      <output message='tns:postTypesResponseMessage' name='postTypesOutput' />
    </operation>
    <operation name='profileEngagementRate'>
      <documentation>calculated as the sum of all Likes and Comments divided by number of Followers during a selected time range</documentation>
      <input message='tns:profileEngagementRateRequestMessage' name='profileEngagementRateInput' />
      <output message='tns:profileEngagementRateResponseMessage' name='profileEngagementRateOutput' />
    </operation>
    <operation name='reportDelete'>
      <documentation>remove a report</documentation>
      <input message='tns:reportDeleteRequestMessage' name='reportDeleteInput' />
      <output message='tns:reportDeleteResponseMessage' name='reportDeleteOutput' />
    </operation>
    <operation name='reportGet'>
      <documentation>get information about report</documentation>
      <input message='tns:reportGetRequestMessage' name='reportGetInput' />
      <output message='tns:reportGetResponseMessage' name='reportGetOutput' />
    </operation>
    <operation name='reportsGet'>
      <documentation>get list of all available reports</documentation>
      <input message='tns:reportsGetRequestMessage' name='reportsGetInput' />
      <output message='tns:reportsGetResponseMessage' name='reportsGetOutput' />
    </operation>
    <operation name='reportsPost'>
      <documentation>add report for Instagram user</documentation>
      <input message='tns:reportsPostRequestMessage' name='reportsPostInput' />
      <output message='tns:reportsPostResponseMessage' name='reportsPostOutput' />
    </operation>
    <operation name='sourceOfEngagement'>
      <documentation>the distribution of all Likes and Comments from Followers and not from Followers during a selected time range</documentation>
      <input message='tns:sourceOfEngagementRequestMessage' name='sourceOfEngagementInput' />
      <output message='tns:sourceOfEngagementResponseMessage' name='sourceOfEngagementOutput' />
    </operation>
    <operation name='topGainedFollowers'>
      <documentation>top Gained Followers by the number of their Followers</documentation>
      <input message='tns:topGainedFollowersRequestMessage' name='topGainedFollowersInput' />
      <output message='tns:topGainedFollowersResponseMessage' name='topGainedFollowersOutput' />
    </operation>
    <operation name='topLostFollowers'>
      <documentation>top lost Followers by the number of their Followers</documentation>
      <input message='tns:topLostFollowersRequestMessage' name='topLostFollowersInput' />
      <output message='tns:topLostFollowersResponseMessage' name='topLostFollowersOutput' />
    </operation>
    <operation name='topPhotoFilters'>
      <input message='tns:topPhotoFiltersRequestMessage' name='topPhotoFiltersInput' />
      <output message='tns:topPhotoFiltersResponseMessage' name='topPhotoFiltersOutput' />
    </operation>
    <operation name='topPosts'>
      <documentation>top Posts by Engagement Rate</documentation>
      <input message='tns:topPostsRequestMessage' name='topPostsInput' />
      <output message='tns:topPostsResponseMessage' name='topPostsOutput' />
    </operation>
    <operation name='topTagsByInteractions'>
      <documentation>top tags used by the number of interactions received during a selected time range</documentation>
      <input message='tns:topTagsByInteractionsRequestMessage' name='topTagsByInteractionsInput' />
      <output message='tns:topTagsByInteractionsResponseMessage' name='topTagsByInteractionsOutput' />
    </operation>
    <operation name='topVideoFilters'>
      <input message='tns:topVideoFiltersRequestMessage' name='topVideoFiltersInput' />
      <output message='tns:topVideoFiltersResponseMessage' name='topVideoFiltersOutput' />
    </operation>
    <operation name='totalFollowers'>
      <documentation>the number of profile s Followers during a selected time range</documentation>
      <input message='tns:totalFollowersRequestMessage' name='totalFollowersInput' />
      <output message='tns:totalFollowersResponseMessage' name='totalFollowersOutput' />
    </operation>
    <operation name='userGet'>
      <documentation>get information about current user self</documentation>
      <input message='tns:userGetRequestMessage' name='userGetInput' />
      <output message='tns:userGetResponseMessage' name='userGetOutput' />
    </operation>
  </portType>
  <binding name='instagramAnalyticsBinding' type='tns:instagramAnalyticsPortType'>
    <operation name='bestTimeToPost'>
      <soap12:operation soapAction='http://bestTimeToPost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='citiesOfFollowers'>
      <soap12:operation soapAction='http://citiesOfFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='countriesOfFollowers'>
      <soap12:operation soapAction='http://countriesOfFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gainedAndLostFollowers'>
      <soap12:operation soapAction='http://gainedAndLostFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='genderOfFollowers'>
      <soap12:operation soapAction='http://genderOfFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='growthTotalFollowers'>
      <soap12:operation soapAction='http://growthTotalFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='interactions'>
      <soap12:operation soapAction='http://interactions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mostEngagingPhotoFilters'>
      <soap12:operation soapAction='http://mostEngagingPhotoFilters' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mostEngagingPostTypes'>
      <soap12:operation soapAction='http://mostEngagingPostTypes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mostEngagingVideoFilters'>
      <soap12:operation soapAction='http://mostEngagingVideoFilters' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='numberOfPosts'>
      <soap12:operation soapAction='http://numberOfPosts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postEngagementRate'>
      <soap12:operation soapAction='http://postEngagementRate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postTypes'>
      <soap12:operation soapAction='http://postTypes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='profileEngagementRate'>
      <soap12:operation soapAction='http://profileEngagementRate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reportDelete'>
      <soap12:operation soapAction='http://reportDelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reportGet'>
      <soap12:operation soapAction='http://reportGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reportsGet'>
      <soap12:operation soapAction='http://reportsGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reportsPost'>
      <soap12:operation soapAction='http://reportsPost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sourceOfEngagement'>
      <soap12:operation soapAction='http://sourceOfEngagement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topGainedFollowers'>
      <soap12:operation soapAction='http://topGainedFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topLostFollowers'>
      <soap12:operation soapAction='http://topLostFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topPhotoFilters'>
      <soap12:operation soapAction='http://topPhotoFilters' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topPosts'>
      <soap12:operation soapAction='http://topPosts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topTagsByInteractions'>
      <soap12:operation soapAction='http://topTagsByInteractions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topVideoFilters'>
      <soap12:operation soapAction='http://topVideoFilters' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='totalFollowers'>
      <soap12:operation soapAction='http://totalFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userGet'>
      <soap12:operation soapAction='http://userGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='instagramAnalytics'>
    <documentation>the most complete Instagram Analytics</documentation>
    <port name='instagramAnalyticsPort' binding='tns:instagramAnalyticsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://instagramAnalytics' />
    </port>
  </service>
</definitions>