workspace/datasets/mashape_dataset/instructables.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/instructables/' name='instructables' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/instructables/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/instructables/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/instructables/'>
      <xsd:element name='getCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='favorites' type='xsd:int' minOccurs='0' />
                  <xsd:element name='featured' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rectangle1Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='channel' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='publishDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='square3Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='instructableType' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='views' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='favorites' type='xsd:int' minOccurs='0' />
            <xsd:element name='mediumUrl' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='featureFlag' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='keywords' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='rectangle1Url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='urlString' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='publishDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='channel' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='type' type='xsd:string' minOccurs='0' />
            <xsd:element name='locale' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='coverImage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='rect840Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rect600Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='mediumUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rect270Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rect1350Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='squareUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rectangle1Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='tinyUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='largeUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rect2100Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='smallUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='square3Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='square2Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rect390Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='thumbUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='editVersion' type='xsd:int' minOccurs='0' />
            <xsd:element name='views' type='xsd:int' minOccurs='0' />
            <xsd:element name='numStepsByWordCount' type='xsd:int' minOccurs='0' />
            <xsd:element name='comments' type='xsd:int' minOccurs='0' />
            <xsd:element name='author' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='tinyUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='screenName' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='displayCategory' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='pgFlag' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='popularFlag' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='sponsoredFlag' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='steps' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='stepIndex' type='xsd:int' minOccurs='0' />
                  <xsd:element name='wordCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='files' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='image' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mediumUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='squareUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='rectangle1Url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='tinyUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='largeUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='smallUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='square3Url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='square2Url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='thumbUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='body' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='smallUrl' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='license' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='fullName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='square2Url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='displayChannel' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='files' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='mediumUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='squareUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rectangle1Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='downloadUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='tinyUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='largeUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='smallUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='square3Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='square2Url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='thumbUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='machineTranslatedFlag' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='stepCount' type='xsd:int' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getCategoriesRequestMessage' />
  <message name='getCategoriesResponseMessage'>
    <part name='response' element='tns:getCategoriesResponse' />
  </message>
  <message name='getListRequestMessage'>
    <part name='parameters' element='tns:getListParameters' />
  </message>
  <message name='getListResponseMessage'>
    <part name='response' element='tns:getListResponse' />
  </message>
  <message name='showDetailsRequestMessage'>
    <part name='parameters' element='tns:showDetailsParameters' />
  </message>
  <message name='showDetailsResponseMessage'>
    <part name='response' element='tns:showDetailsResponse' />
  </message>
  <portType name='instructablesPortType'>
    <operation name='getCategories'>
      <documentation></documentation>
      <input message='tns:getCategoriesRequestMessage' name='getCategoriesInput' />
      <output message='tns:getCategoriesResponseMessage' name='getCategoriesOutput' />
    </operation>
    <operation name='getList'>
      <documentation></documentation>
      <input message='tns:getListRequestMessage' name='getListInput' />
      <output message='tns:getListResponseMessage' name='getListOutput' />
    </operation>
    <operation name='showDetails'>
      <documentation></documentation>
      <input message='tns:showDetailsRequestMessage' name='showDetailsInput' />
      <output message='tns:showDetailsResponseMessage' name='showDetailsOutput' />
    </operation>
  </portType>
  <binding name='instructablesBinding' type='tns:instructablesPortType'>
    <operation name='getCategories'>
      <soap12:operation soapAction='http://getCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getList'>
      <soap12:operation soapAction='http://getList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='showDetails'>
      <soap12:operation soapAction='http://showDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='instructables'>
    <documentation>this is unofficial API of Instructables com Instructables is a website specializing in user created and uploaded do it yourself projects which other users can comment on and rate for quality Instructables is dedicated to step by step collaboration among members to build a variety of projects Users post instructions to their projects usually accompanied by visual aids and then interact through comment sections below each Instructable step as well in topic forums</documentation>
    <port name='instructablesPort' binding='tns:instructablesBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://instructables' />
    </port>
  </service>
</definitions>