workspace/datasets/mashape_dataset/investments.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/investments/' name='investments' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/investments/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/investments/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/investments/'>
      <xsd:element name='investmentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='amount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entitycity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entitycountry' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entitydateofbirth' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entityemail' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entityname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entityphone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entitypostalcode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entityregion' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entitystreetaddress' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entitytaxidnumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='equitysharecount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offeringid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paymentmethod' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='investmentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status_message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='testModeInvestmentsIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='testModeInvestmentsIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status_message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='investmentsRequestMessage'>
    <part name='parameters' element='tns:investmentsParameters' />
  </message>
  <message name='investmentsResponseMessage'>
    <part name='response' element='tns:investmentsResponse' />
  </message>
  <message name='testModeInvestmentsIdRequestMessage'>
    <part name='parameters' element='tns:testModeInvestmentsIdParameters' />
  </message>
  <message name='testModeInvestmentsIdResponseMessage'>
    <part name='response' element='tns:testModeInvestmentsIdResponse' />
  </message>
  <portType name='investmentsPortType'>
    <operation name='investments'>
      <documentation>investments</documentation>
      <input message='tns:investmentsRequestMessage' name='investmentsInput' />
      <output message='tns:investmentsResponseMessage' name='investmentsOutput' />
    </operation>
    <operation name='testModeInvestmentsId'>
      <documentation></documentation>
      <input message='tns:testModeInvestmentsIdRequestMessage' name='testModeInvestmentsIdInput' />
      <output message='tns:testModeInvestmentsIdResponseMessage' name='testModeInvestmentsIdOutput' />
    </operation>
  </portType>
  <binding name='investmentsBinding' type='tns:investmentsPortType'>
    <operation name='investments'>
      <soap12:operation soapAction='http://investments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='testModeInvestmentsId'>
      <soap12:operation soapAction='http://testModeInvestmentsId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='investments'>
    <documentation>investments are made when an investor wants to invest in an offering and send funds for said investment Investments are probably the single most complex object in the system It s important to understand all the status settings and payment methods involved An AML check is automatically processed on every single investment When using our escrow service this is not charged to your account FundAmerica customer service will do a follow up if there are any issues with the background check and may cancel the result if there are problems The results of this background check are available to your account if you have requested permission and been accepted for processing AML checks on your account Please see AML and Due Diligence for more information on this process and details on the API calls When an investment is made customer service will review the details before changing the status type They may even opt to cancel the investment if there is a problem If you want to give immediate feedback to your investors it s important to utilize webhooks for status updates Note An offering must have accept investments set to true to create investments otherwise you will receive a error This is done by having an escrow service application accepted</documentation>
    <port name='investmentsPort' binding='tns:investmentsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://investments' />
    </port>
  </service>
</definitions>