workspace/datasets/mashape_dataset/iplocation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/ipLocation/' name='ipLocation' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/ipLocation/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/ipLocation/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/ipLocation/'>
      <xsd:element name='ipLocationApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='license' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipLocationApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='ipLocationApiRequestMessage'>
    <part name='parameters' element='tns:ipLocationApiParameters' />
  </message>
  <message name='ipLocationApiResponseMessage'>
    <part name='response' element='tns:ipLocationApiResponse' />
  </message>
  <portType name='ipLocationPortType'>
    <operation name='ipLocationApi'>
      <documentation>iP Geolocation API</documentation>
      <input message='tns:ipLocationApiRequestMessage' name='ipLocationApiInput' />
      <output message='tns:ipLocationApiResponseMessage' name='ipLocationApiOutput' />
    </operation>
  </portType>
  <binding name='ipLocationBinding' type='tns:ipLocationPortType'>
    <operation name='ipLocationApi'>
      <soap12:operation soapAction='http://ipLocationApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='ipLocation'>
    <documentation>the IP Location Geolocation Web Service allows instant identification of online visitors geographical location by using IP address The IP Location Geolocation Web Service returns geographic information such as country region city latitude longitude ISP and domain name Sign up for free license key at http www fraudlabs com freelicense aspx PackageID t which allows up to queries a month</documentation>
    <port name='ipLocationPort' binding='tns:ipLocationBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://ipLocation' />
    </port>
  </service>
</definitions>