workspace/datasets/mashape_dataset/irail.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/irail/' name='irail' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/irail/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/irail/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/irail/'>
      <xsd:element name='departuresParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='day' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hour' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='minutes' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='month' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stationname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='year' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='departuresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Departures' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='location' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='departures' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='delay' type='xsd:int' minOccurs='0' />
                        <xsd:element name='iso8601' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='time' type='xsd:int' minOccurs='0' />
                        <xsd:element name='platform' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='vehicle' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stationsListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Stations' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='departures' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='departuresRequestMessage'>
    <part name='parameters' element='tns:departuresParameters' />
  </message>
  <message name='departuresResponseMessage'>
    <part name='response' element='tns:departuresResponse' />
  </message>
  <message name='stationsListRequestMessage' />
  <message name='stationsListResponseMessage'>
    <part name='response' element='tns:stationsListResponse' />
  </message>
  <portType name='irailPortType'>
    <operation name='departures'>
      <documentation>departures of trains in Belgium</documentation>
      <input message='tns:departuresRequestMessage' name='departuresInput' />
      <output message='tns:departuresResponseMessage' name='departuresOutput' />
    </operation>
    <operation name='stationsList'>
      <documentation></documentation>
      <input message='tns:stationsListRequestMessage' name='stationsListInput' />
      <output message='tns:stationsListResponseMessage' name='stationsListOutput' />
    </operation>
  </portType>
  <binding name='irailBinding' type='tns:irailPortType'>
    <operation name='departures'>
      <soap12:operation soapAction='http://departures' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stationsList'>
      <soap12:operation soapAction='http://stationsList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='irail'>
    <documentation>search for train trips in Belgium using the iRail API You can search for train departures in a certain station and search for all the stations in Belgium</documentation>
    <port name='irailPort' binding='tns:irailBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://irail' />
    </port>
  </service>
</definitions>