workspace/datasets/mashape_dataset/italyseriealeagueliveresults.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/italySerieaLeagueLiveResults/' name='italySerieaLeagueLiveResults' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/italySerieaLeagueLiveResults/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/italySerieaLeagueLiveResults/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/italySerieaLeagueLiveResults/'>
      <xsd:element name='previousMatchResultsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='detail' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='previousMatchResultsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='games' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='lose' type='xsd:int' minOccurs='0' />
                  <xsd:element name='draw' type='xsd:int' minOccurs='0' />
                  <xsd:element name='win' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieAHistoricalResultsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gamenumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='season' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieAHistoricalResultsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='season' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='matches' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='team1' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='teamScore' type='xsd:int' minOccurs='0' />
                        <xsd:element name='teamName' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='team2' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='teamScore' type='xsd:int' minOccurs='0' />
                        <xsd:element name='teamName' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='referee' type='xsd:string' minOccurs='0' />
                  <xsd:element name='when' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='matchNumber' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieALinesupAndSubstitutesLiveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gamenumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieALinesupAndSubstitutesLiveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='team1' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='teamName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='players' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='substitutes' type='xsd:string' maxOccurs='unbounded' />
                        <xsd:element name='lineups' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='playerNumber' type='xsd:int' minOccurs='0' />
                              <xsd:element name='playerName' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='coach' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='team2' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='teamName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='players' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='substitutes' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='playerNumber' type='xsd:int' minOccurs='0' />
                              <xsd:element name='playerName' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='lineups' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='playerNumber' type='xsd:int' minOccurs='0' />
                              <xsd:element name='playerName' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='coach' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieAMatchRecordMenParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gamenumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='record' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieAMatchRecordMenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='records' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='recordNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='team' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='player' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='recordType' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='time' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieAMatchStatsLiveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gamenumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieAMatchStatsLiveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='team1' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='teamName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='attemptsOnTarget' type='xsd:int' minOccurs='0' />
                  <xsd:element name='foulsCommitted' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pitchDomination' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='corners' type='xsd:int' minOccurs='0' />
                  <xsd:element name='possessionPerc' type='xsd:int' minOccurs='0' />
                  <xsd:element name='totalAttempts' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ballsPlayed' type='xsd:int' minOccurs='0' />
                  <xsd:element name='successfulPassesPerc' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='goalAttackPerc' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='goalDefensePerc' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='attackingPlaysPerc' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='team2' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='teamName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='attemptsOnTarget' type='xsd:int' minOccurs='0' />
                  <xsd:element name='foulsCommitted' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pitchDomination' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='corners' type='xsd:int' minOccurs='0' />
                  <xsd:element name='possessionPerc' type='xsd:int' minOccurs='0' />
                  <xsd:element name='totalAttempts' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ballsPlayed' type='xsd:int' minOccurs='0' />
                  <xsd:element name='successfulPassesPerc' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='goalAttackPerc' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='goalDefensePerc' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='attackingPlaysPerc' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='time' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieAResultsCurrentSeasonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gamenumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieAResultsCurrentSeasonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='matches' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='isLive' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='team1' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='teamScore' type='xsd:int' minOccurs='0' />
                        <xsd:element name='teamName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='goals' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                              <xsd:element name='player' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='team2' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='teamScore' type='xsd:int' minOccurs='0' />
                        <xsd:element name='teamName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='goals' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='penalty' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                              <xsd:element name='player' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='weather' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='referee' type='xsd:string' minOccurs='0' />
                  <xsd:element name='when' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='matchNumber' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLiveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gamenumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLiveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='team1' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='teamName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='events' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='players' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='playerNumber' type='xsd:int' minOccurs='0' />
                              <xsd:element name='playerName' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eventName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='team2' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='teamName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='events' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='players' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='playerNumber' type='xsd:int' minOccurs='0' />
                              <xsd:element name='playerName' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eventName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='minute' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='previousMatchResultsRequestMessage'>
    <part name='parameters' element='tns:previousMatchResultsParameters' />
  </message>
  <message name='previousMatchResultsResponseMessage'>
    <part name='response' element='tns:previousMatchResultsResponse' />
  </message>
  <message name='serieAHistoricalResultsRequestMessage'>
    <part name='parameters' element='tns:serieAHistoricalResultsParameters' />
  </message>
  <message name='serieAHistoricalResultsResponseMessage'>
    <part name='response' element='tns:serieAHistoricalResultsResponse' />
  </message>
  <message name='serieALinesupAndSubstitutesLiveRequestMessage'>
    <part name='parameters' element='tns:serieALinesupAndSubstitutesLiveParameters' />
  </message>
  <message name='serieALinesupAndSubstitutesLiveResponseMessage'>
    <part name='response' element='tns:serieALinesupAndSubstitutesLiveResponse' />
  </message>
  <message name='serieAMatchRecordMenRequestMessage'>
    <part name='parameters' element='tns:serieAMatchRecordMenParameters' />
  </message>
  <message name='serieAMatchRecordMenResponseMessage'>
    <part name='response' element='tns:serieAMatchRecordMenResponse' />
  </message>
  <message name='serieAMatchStatsLiveRequestMessage'>
    <part name='parameters' element='tns:serieAMatchStatsLiveParameters' />
  </message>
  <message name='serieAMatchStatsLiveResponseMessage'>
    <part name='response' element='tns:serieAMatchStatsLiveResponse' />
  </message>
  <message name='serieAResultsCurrentSeasonRequestMessage'>
    <part name='parameters' element='tns:serieAResultsCurrentSeasonParameters' />
  </message>
  <message name='serieAResultsCurrentSeasonResponseMessage'>
    <part name='response' element='tns:serieAResultsCurrentSeasonResponse' />
  </message>
  <message name='serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLiveRequestMessage'>
    <part name='parameters' element='tns:serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLiveParameters' />
  </message>
  <message name='serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLiveResponseMessage'>
    <part name='response' element='tns:serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLiveResponse' />
  </message>
  <portType name='italySerieaLeagueLiveResultsPortType'>
    <operation name='previousMatchResults'>
      <documentation>show all the previous matches results for the game till in aggregate form win draw lose Use the detail parameter to see the detail results</documentation>
      <input message='tns:previousMatchResultsRequestMessage' name='previousMatchResultsInput' />
      <output message='tns:previousMatchResultsResponseMessage' name='previousMatchResultsOutput' />
    </operation>
    <operation name='serieAHistoricalResults'>
      <documentation>you can see results since season</documentation>
      <input message='tns:serieAHistoricalResultsRequestMessage' name='serieAHistoricalResultsInput' />
      <output message='tns:serieAHistoricalResultsResponseMessage' name='serieAHistoricalResultsOutput' />
    </operation>
    <operation name='serieALinesupAndSubstitutesLive'>
      <documentation>pass the gameNumber if the match isn t playing LIVE Works only for current season</documentation>
      <input message='tns:serieALinesupAndSubstitutesLiveRequestMessage' name='serieALinesupAndSubstitutesLiveInput' />
      <output message='tns:serieALinesupAndSubstitutesLiveResponseMessage' name='serieALinesupAndSubstitutesLiveOutput' />
    </operation>
    <operation name='serieAMatchRecordMen'>
      <documentation>pass the gameNumber if the match isn t playing LIVE Works only for current season</documentation>
      <input message='tns:serieAMatchRecordMenRequestMessage' name='serieAMatchRecordMenInput' />
      <output message='tns:serieAMatchRecordMenResponseMessage' name='serieAMatchRecordMenOutput' />
    </operation>
    <operation name='serieAMatchStatsLive'>
      <documentation>pass the gameNumber if match isn t playing LIVE Works only for current season</documentation>
      <input message='tns:serieAMatchStatsLiveRequestMessage' name='serieAMatchStatsLiveInput' />
      <output message='tns:serieAMatchStatsLiveResponseMessage' name='serieAMatchStatsLiveOutput' />
    </operation>
    <operation name='serieAResultsCurrentSeason'>
      <documentation>pass the gameNumber parameter to see all result for that match day or none to see last or current matches LIVE</documentation>
      <input message='tns:serieAResultsCurrentSeasonRequestMessage' name='serieAResultsCurrentSeasonInput' />
      <output message='tns:serieAResultsCurrentSeasonResponseMessage' name='serieAResultsCurrentSeasonOutput' />
    </operation>
    <operation name='serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLive'>
      <documentation>see events for each match pass the gameNumber if the match isn t playing in that moment LIVE Works only for current season</documentation>
      <input message='tns:serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLiveRequestMessage' name='serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLiveInput' />
      <output message='tns:serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLiveResponseMessage' name='serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLiveOutput' />
    </operation>
  </portType>
  <binding name='italySerieaLeagueLiveResultsBinding' type='tns:italySerieaLeagueLiveResultsPortType'>
    <operation name='previousMatchResults'>
      <soap12:operation soapAction='http://previousMatchResults' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='serieAHistoricalResults'>
      <soap12:operation soapAction='http://serieAHistoricalResults' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='serieALinesupAndSubstitutesLive'>
      <soap12:operation soapAction='http://serieALinesupAndSubstitutesLive' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='serieAMatchRecordMen'>
      <soap12:operation soapAction='http://serieAMatchRecordMen' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='serieAMatchStatsLive'>
      <soap12:operation soapAction='http://serieAMatchStatsLive' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='serieAResultsCurrentSeason'>
      <soap12:operation soapAction='http://serieAResultsCurrentSeason' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLive'>
      <soap12:operation soapAction='http://serieAYellowRedCardMissedPenaltiesAndSubstitutionEventsLive' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='italySerieaLeagueLiveResults'>
    <documentation>live stats and results on last SerieA matches historical either Subscribe to the API to support and keep it updated</documentation>
    <port name='italySerieaLeagueLiveResultsPort' binding='tns:italySerieaLeagueLiveResultsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://italySerieaLeagueLiveResults' />
    </port>
  </service>
</definitions>