workspace/datasets/mashape_dataset/itaofficescenters.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/itaOfficesCenters/' name='itaOfficesCenters' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/itaOfficesCenters/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/itaOfficesCenters/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/itaOfficesCenters/'>
      <xsd:element name='apiTradeGovVItaOfficeLocationsSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='apiTradeGovVItaOfficeLocationsSearchRequestMessage' />
  <message name='apiTradeGovVItaOfficeLocationsSearchResponseMessage'>
    <part name='response' element='tns:apiTradeGovVItaOfficeLocationsSearchResponse' />
  </message>
  <portType name='itaOfficesCentersPortType'>
    <operation name='apiTradeGovVItaOfficeLocationsSearch'>
      <input message='tns:apiTradeGovVItaOfficeLocationsSearchRequestMessage' name='apiTradeGovVItaOfficeLocationsSearchInput' />
      <output message='tns:apiTradeGovVItaOfficeLocationsSearchResponseMessage' name='apiTradeGovVItaOfficeLocationsSearchOutput' />
    </operation>
  </portType>
  <binding name='itaOfficesCentersBinding' type='tns:itaOfficesCentersPortType'>
    <operation name='apiTradeGovVItaOfficeLocationsSearch'>
      <soap12:operation soapAction='http://apiTradeGovVItaOfficeLocationsSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='itaOfficesCenters'>
    <documentation>the ITA Offices Centers API provides contact and address information for all of ITA s domestic and international export assistance centers There are almost ITA centers worldwide whose locations are managed by ITA s internal office management system</documentation>
    <port name='itaOfficesCentersPort' binding='tns:itaOfficesCentersBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://itaOfficesCenters' />
    </port>
  </service>
</definitions>