workspace/datasets/mashape_dataset/jsonpedia.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/jsonpedia/' name='jsonpedia' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/jsonpedia/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/jsonpedia/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/jsonpedia/'>
      <xsd:element name='annotateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entity' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='annotateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='annotateRequestMessage'>
    <part name='parameters' element='tns:annotateParameters' />
  </message>
  <message name='annotateResponseMessage'>
    <part name='response' element='tns:annotateResponse' />
  </message>
  <portType name='jsonpediaPortType'>
    <operation name='annotate'>
      <documentation>annotate endpoint</documentation>
      <input message='tns:annotateRequestMessage' name='annotateInput' />
      <output message='tns:annotateResponseMessage' name='annotateOutput' />
    </operation>
  </portType>
  <binding name='jsonpediaBinding' type='tns:jsonpediaPortType'>
    <operation name='annotate'>
      <soap12:operation soapAction='http://annotate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='jsonpedia'>
    <documentation>jSONpedia API is designed to simplify access at MediaWiki contents transforming everything into JSON Such API provides a REST service to parse convert and enrich WikiText documents JSONpedia supplies capabilities for recursive template expansion and mapping to DBpedia This framework has been designed to extract linguistic resources from the Wikipedia and to enable massive data scraping Our mission is to deliver a general purpose infrastructure for Wikipedia multi language data consumption both for researchers and industry</documentation>
    <port name='jsonpediaPort' binding='tns:jsonpediaBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://jsonpedia' />
    </port>
  </service>
</definitions>