workspace/datasets/mashape_dataset/jsonwhoisscreenshotsgooglesocialdata.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/jsonWhoisScreenshotsGoogleSocialData/' name='jsonWhoisScreenshotsGoogleSocialData' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/jsonWhoisScreenshotsGoogleSocialData/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/jsonWhoisScreenshotsGoogleSocialData/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/jsonWhoisScreenshotsGoogleSocialData/'>
      <xsd:element name='domainInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='domainInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_on' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='registrar' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='organization' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='expires_on' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='admin_contacts' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='organization' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fax' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='technical_contacts' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='organization' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fax' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='availablei' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='domain_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nameservers' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ipv4' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ipv6' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='created_on' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='registrant_contacts' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='organization' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fax' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='domain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='disclaimer' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='registeredi' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='screenshotParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='screenshotResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='domain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='socialDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='socialDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='twitter' type='xsd:int' minOccurs='0' />
            <xsd:element name='stumbleupon' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebook' type='xsd:int' minOccurs='0' />
            <xsd:element name='domain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='google' type='xsd:int' minOccurs='0' />
            <xsd:element name='pinterest' type='xsd:int' minOccurs='0' />
            <xsd:element name='linkedin' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='domainInformationRequestMessage'>
    <part name='parameters' element='tns:domainInformationParameters' />
  </message>
  <message name='domainInformationResponseMessage'>
    <part name='response' element='tns:domainInformationResponse' />
  </message>
  <message name='screenshotRequestMessage'>
    <part name='parameters' element='tns:screenshotParameters' />
  </message>
  <message name='screenshotResponseMessage'>
    <part name='response' element='tns:screenshotResponse' />
  </message>
  <message name='socialDataRequestMessage'>
    <part name='parameters' element='tns:socialDataParameters' />
  </message>
  <message name='socialDataResponseMessage'>
    <part name='response' element='tns:socialDataResponse' />
  </message>
  <portType name='jsonWhoisScreenshotsGoogleSocialDataPortType'>
    <operation name='domainInformation'>
      <documentation>whois Screenshot Alexa Google Social Data</documentation>
      <input message='tns:domainInformationRequestMessage' name='domainInformationInput' />
      <output message='tns:domainInformationResponseMessage' name='domainInformationOutput' />
    </operation>
    <operation name='screenshot'>
      <input message='tns:screenshotRequestMessage' name='screenshotInput' />
      <output message='tns:screenshotResponseMessage' name='screenshotOutput' />
    </operation>
    <operation name='socialData'>
      <documentation>get social data for a URL</documentation>
      <input message='tns:socialDataRequestMessage' name='socialDataInput' />
      <output message='tns:socialDataResponseMessage' name='socialDataOutput' />
    </operation>
  </portType>
  <binding name='jsonWhoisScreenshotsGoogleSocialDataBinding' type='tns:jsonWhoisScreenshotsGoogleSocialDataPortType'>
    <operation name='domainInformation'>
      <soap12:operation soapAction='http://domainInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='screenshot'>
      <soap12:operation soapAction='http://screenshot' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='socialData'>
      <soap12:operation soapAction='http://socialData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='jsonWhoisScreenshotsGoogleSocialData'>
    <documentation>an API to generate a screenshot of a domain get social data whois data alexa data and graphs and lots of other information</documentation>
    <port name='jsonWhoisScreenshotsGoogleSocialDataPort' binding='tns:jsonWhoisScreenshotsGoogleSocialDataBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://jsonWhoisScreenshotsGoogleSocialData' />
    </port>
  </service>
</definitions>