workspace/datasets/mashape_dataset/kairosfacedetection.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/kairosFaceDetection/' name='kairosFaceDetection' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/kairosFaceDetection/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/kairosFaceDetection/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/kairosFaceDetection/'>
      <xsd:element name='detectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='file' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='faces' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='topLeftY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='topLeftX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEarTragusY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rightEarTragusX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='noseTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='pitch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leftEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilRightHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftSideX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='noseBtwEyesY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerLeftY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeBrowRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nostrilLeftHoleBottomY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='roll' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEarTragusY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipLineMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='leftEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCenterY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeBrowMiddleY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='chinTipY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='rightEyeCornerRightY' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='chinTipX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftX' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lipCornerLeftY' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enrollResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='transaction' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='subject_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='topLeftY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='topLeftX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='face_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='gallery_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='galleryListAllResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gallery_ids' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='galleryRemoveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='galleryRemoveSubjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='galleryViewResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subject_ids' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recognizeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='candidates' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='elizabeth' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='enrollment_timestamp' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='time' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='transaction' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='topLeftY' type='xsd:int' minOccurs='0' />
                        <xsd:element name='topLeftX' type='xsd:int' minOccurs='0' />
                        <xsd:element name='subject' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='confidence' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='width' type='xsd:int' minOccurs='0' />
                        <xsd:element name='gallery_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='height' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='detectRequestMessage' />
  <message name='detectResponseMessage'>
    <part name='response' element='tns:detectResponse' />
  </message>
  <message name='enrollRequestMessage' />
  <message name='enrollResponseMessage'>
    <part name='response' element='tns:enrollResponse' />
  </message>
  <message name='galleryListAllRequestMessage' />
  <message name='galleryListAllResponseMessage'>
    <part name='response' element='tns:galleryListAllResponse' />
  </message>
  <message name='galleryRemoveRequestMessage' />
  <message name='galleryRemoveResponseMessage'>
    <part name='response' element='tns:galleryRemoveResponse' />
  </message>
  <message name='galleryRemoveSubjectRequestMessage' />
  <message name='galleryRemoveSubjectResponseMessage'>
    <part name='response' element='tns:galleryRemoveSubjectResponse' />
  </message>
  <message name='galleryViewRequestMessage' />
  <message name='galleryViewResponseMessage'>
    <part name='response' element='tns:galleryViewResponse' />
  </message>
  <message name='recognizeRequestMessage' />
  <message name='recognizeResponseMessage'>
    <part name='response' element='tns:recognizeResponse' />
  </message>
  <portType name='kairosFaceDetectionPortType'>
    <operation name='detect'>
      <documentation>takes an image and returns the facial features found within it</documentation>
      <input message='tns:detectRequestMessage' name='detectInput' />
      <output message='tns:detectResponseMessage' name='detectOutput' />
    </operation>
    <operation name='enroll'>
      <documentation>takes an image and stores it as a face template into a gallery you define</documentation>
      <input message='tns:enrollRequestMessage' name='enrollInput' />
      <output message='tns:enrollResponseMessage' name='enrollOutput' />
    </operation>
    <operation name='galleryListAll'>
      <documentation>lists out all the galleries you have subjects enrolled in</documentation>
      <input message='tns:galleryListAllRequestMessage' name='galleryListAllInput' />
      <output message='tns:galleryListAllResponseMessage' name='galleryListAllOutput' />
    </operation>
    <operation name='galleryRemove'>
      <documentation>removes all the subjects in a gallery</documentation>
      <input message='tns:galleryRemoveRequestMessage' name='galleryRemoveInput' />
      <output message='tns:galleryRemoveResponseMessage' name='galleryRemoveOutput' />
    </operation>
    <operation name='galleryRemoveSubject'>
      <documentation>removes a subject from a specified gallery</documentation>
      <input message='tns:galleryRemoveSubjectRequestMessage' name='galleryRemoveSubjectInput' />
      <output message='tns:galleryRemoveSubjectResponseMessage' name='galleryRemoveSubjectOutput' />
    </operation>
    <operation name='galleryView'>
      <documentation>lists out all the subjects you have enrolled in a specified gallery</documentation>
      <input message='tns:galleryViewRequestMessage' name='galleryViewInput' />
      <output message='tns:galleryViewResponseMessage' name='galleryViewOutput' />
    </operation>
    <operation name='recognize'>
      <documentation>takes an image and tries to match it against the already enrolled images in a gallery you define</documentation>
      <input message='tns:recognizeRequestMessage' name='recognizeInput' />
      <output message='tns:recognizeResponseMessage' name='recognizeOutput' />
    </operation>
  </portType>
  <binding name='kairosFaceDetectionBinding' type='tns:kairosFaceDetectionPortType'>
    <operation name='detect'>
      <soap12:operation soapAction='http://detect' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enroll'>
      <soap12:operation soapAction='http://enroll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='galleryListAll'>
      <soap12:operation soapAction='http://galleryListAll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='galleryRemove'>
      <soap12:operation soapAction='http://galleryRemove' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='galleryRemoveSubject'>
      <soap12:operation soapAction='http://galleryRemoveSubject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='galleryView'>
      <soap12:operation soapAction='http://galleryView' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recognize'>
      <soap12:operation soapAction='http://recognize' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='kairosFaceDetection'>
    <documentation>kairos D to D face detection and facial recognition API</documentation>
    <port name='kairosFaceDetectionPort' binding='tns:kairosFaceDetectionBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://kairosFaceDetection' />
    </port>
  </service>
</definitions>