workspace/datasets/mashape_dataset/keywords.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/keywords/' name='keywords' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/keywords/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/keywords/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/keywords/'>
      <xsd:element name='getKeywordInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='keyword' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getKeywordInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='numberOfWords' type='xsd:int' minOccurs='0' />
            <xsd:element name='ppcAdvertisers' type='xsd:int' minOccurs='0' />
            <xsd:element name='cpc' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='monthlyExactSearches' type='xsd:int' minOccurs='0' />
            <xsd:element name='serpsPhraseInTitle' type='xsd:int' minOccurs='0' />
            <xsd:element name='top10Google' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='googlePlusLikes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='keywordContainment' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='batman' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='title' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='headline' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='url' type='xsd:boolean' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='tweets' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dmozListed' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='extractionDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='backlinksDomain' type='xsd:int' minOccurs='0' />
                  <xsd:element name='wooRank' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='backlinksPage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='facebookLikes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rank' type='xsd:int' minOccurs='0' />
                  <xsd:element name='indexedPages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alexaTrafficRank' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='keyword' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='serpsPhraseInUrl' type='xsd:int' minOccurs='0' />
            <xsd:element name='serpsBroad' type='xsd:int' minOccurs='0' />
            <xsd:element name='monthlyBroadSearches' type='xsd:int' minOccurs='0' />
            <xsd:element name='serpsPhrase' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRelatedKeywordsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='keyword' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRelatedKeywordsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='numberOfWords' type='xsd:int' minOccurs='0' />
            <xsd:element name='ppcAdvertisers' type='xsd:int' minOccurs='0' />
            <xsd:element name='cpc' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='monthlyExactSearches' type='xsd:int' minOccurs='0' />
            <xsd:element name='serpsPhraseInTitle' type='xsd:int' minOccurs='0' />
            <xsd:element name='top10Google' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='googlePlusLikes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='keywordContainment' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='batman' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='title' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='headline' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='url' type='xsd:boolean' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='tweets' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dmozListed' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='extractionDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='backlinksDomain' type='xsd:int' minOccurs='0' />
                  <xsd:element name='wooRank' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='backlinksPage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='facebookLikes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rank' type='xsd:int' minOccurs='0' />
                  <xsd:element name='indexedPages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alexaTrafficRank' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='keyword' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='serpsPhraseInUrl' type='xsd:int' minOccurs='0' />
            <xsd:element name='serpsBroad' type='xsd:int' minOccurs='0' />
            <xsd:element name='monthlyBroadSearches' type='xsd:int' minOccurs='0' />
            <xsd:element name='serpsPhrase' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getKeywordInformationRequestMessage'>
    <part name='parameters' element='tns:getKeywordInformationParameters' />
  </message>
  <message name='getKeywordInformationResponseMessage'>
    <part name='response' element='tns:getKeywordInformationResponse' />
  </message>
  <message name='getRelatedKeywordsRequestMessage'>
    <part name='parameters' element='tns:getRelatedKeywordsParameters' />
  </message>
  <message name='getRelatedKeywordsResponseMessage'>
    <part name='response' element='tns:getRelatedKeywordsResponse' />
  </message>
  <portType name='keywordsPortType'>
    <operation name='getKeywordInformation'>
      <documentation>get information about a certain keyword</documentation>
      <input message='tns:getKeywordInformationRequestMessage' name='getKeywordInformationInput' />
      <output message='tns:getKeywordInformationResponseMessage' name='getKeywordInformationOutput' />
    </operation>
    <operation name='getRelatedKeywords'>
      <documentation>get related keywords for a given keyword</documentation>
      <input message='tns:getRelatedKeywordsRequestMessage' name='getRelatedKeywordsInput' />
      <output message='tns:getRelatedKeywordsResponseMessage' name='getRelatedKeywordsOutput' />
    </operation>
  </portType>
  <binding name='keywordsBinding' type='tns:keywordsPortType'>
    <operation name='getKeywordInformation'>
      <soap12:operation soapAction='http://getKeywordInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRelatedKeywords'>
      <soap12:operation soapAction='http://getRelatedKeywords' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='keywords'>
    <documentation>the WebKnox keyword API gives you access to keyword data You can find information about keywords such as how often they are searched how many competing pages there are on Google You may also get a list of related keywords to your given keywords</documentation>
    <port name='keywordsPort' binding='tns:keywordsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://keywords' />
    </port>
  </service>
</definitions>