workspace/datasets/mashape_dataset/kiuwanrest.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/kiuwanRest/' name='kiuwanRest' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/kiuwanRest/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/kiuwanRest/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/kiuwanRest/'>
      <xsd:element name='getLastApplicationAnalysisParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLastApplicationAnalysisResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Risk_index' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='languages' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Main_metrics' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='ordered_by' type='xsd:string' minOccurs='0' />
            <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Quality_indicator' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='children' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Effort_to_target' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='children' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='quality_model' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLastPublicApplicationAnalysisParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='publicaccount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLastPublicApplicationAnalysisResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Risk_index' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='languages' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Main_metrics' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='ordered_by' type='xsd:string' minOccurs='0' />
            <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Quality_indicator' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='children' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Effort_to_target' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='children' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='quality_model' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listApplicationDefectsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='count' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listApplicationDefectsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='defects' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='difficulty' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='file' type='xsd:string' minOccurs='0' />
                  <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='line' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rule' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='priority' type='xsd:string' minOccurs='0' />
                  <xsd:element name='characteristic' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='ordered_by' type='xsd:string' minOccurs='0' />
            <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
            <xsd:element name='defects_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='quality_model' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listApplicationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listFilesWithMetricValuesAndDefectsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='count' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='defectscount' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listFilesWithMetricValuesAndDefectsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='files_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='files' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='metrics_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='metrics' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='defects_count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='ordered_by' type='xsd:string' minOccurs='0' />
            <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
            <xsd:element name='quality_model' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPublicAppFilesWithMetricValuesAndDefectsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='count' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='defectscount' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='publicaccount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPublicAppFilesWithMetricValuesAndDefectsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='files_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='files' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='metrics_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='metrics' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='defects_count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='ordered_by' type='xsd:string' minOccurs='0' />
            <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
            <xsd:element name='quality_model' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPublicApplicationDefectsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='count' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='publicaccount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPublicApplicationDefectsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='defects' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='difficulty' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='file' type='xsd:string' minOccurs='0' />
                  <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='line' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rule' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='priority' type='xsd:string' minOccurs='0' />
                  <xsd:element name='characteristic' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='ordered_by' type='xsd:string' minOccurs='0' />
            <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
            <xsd:element name='defects_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='quality_model' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPublicApplicationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='publicaccount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPublicApplicationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getLastApplicationAnalysisRequestMessage'>
    <part name='parameters' element='tns:getLastApplicationAnalysisParameters' />
  </message>
  <message name='getLastApplicationAnalysisResponseMessage'>
    <part name='response' element='tns:getLastApplicationAnalysisResponse' />
  </message>
  <message name='getLastPublicApplicationAnalysisRequestMessage'>
    <part name='parameters' element='tns:getLastPublicApplicationAnalysisParameters' />
  </message>
  <message name='getLastPublicApplicationAnalysisResponseMessage'>
    <part name='response' element='tns:getLastPublicApplicationAnalysisResponse' />
  </message>
  <message name='listApplicationDefectsRequestMessage'>
    <part name='parameters' element='tns:listApplicationDefectsParameters' />
  </message>
  <message name='listApplicationDefectsResponseMessage'>
    <part name='response' element='tns:listApplicationDefectsResponse' />
  </message>
  <message name='listApplicationsRequestMessage' />
  <message name='listApplicationsResponseMessage'>
    <part name='response' element='tns:listApplicationsResponse' />
  </message>
  <message name='listFilesWithMetricValuesAndDefectsRequestMessage'>
    <part name='parameters' element='tns:listFilesWithMetricValuesAndDefectsParameters' />
  </message>
  <message name='listFilesWithMetricValuesAndDefectsResponseMessage'>
    <part name='response' element='tns:listFilesWithMetricValuesAndDefectsResponse' />
  </message>
  <message name='listPublicAppFilesWithMetricValuesAndDefectsRequestMessage'>
    <part name='parameters' element='tns:listPublicAppFilesWithMetricValuesAndDefectsParameters' />
  </message>
  <message name='listPublicAppFilesWithMetricValuesAndDefectsResponseMessage'>
    <part name='response' element='tns:listPublicAppFilesWithMetricValuesAndDefectsResponse' />
  </message>
  <message name='listPublicApplicationDefectsRequestMessage'>
    <part name='parameters' element='tns:listPublicApplicationDefectsParameters' />
  </message>
  <message name='listPublicApplicationDefectsResponseMessage'>
    <part name='response' element='tns:listPublicApplicationDefectsResponse' />
  </message>
  <message name='listPublicApplicationsRequestMessage'>
    <part name='parameters' element='tns:listPublicApplicationsParameters' />
  </message>
  <message name='listPublicApplicationsResponseMessage'>
    <part name='response' element='tns:listPublicApplicationsResponse' />
  </message>
  <portType name='kiuwanRestPortType'>
    <operation name='getLastApplicationAnalysis'>
      <documentation>retrieves last application results for a given application name</documentation>
      <input message='tns:getLastApplicationAnalysisRequestMessage' name='getLastApplicationAnalysisInput' />
      <output message='tns:getLastApplicationAnalysisResponseMessage' name='getLastApplicationAnalysisOutput' />
    </operation>
    <operation name='getLastPublicApplicationAnalysis'>
      <documentation>retrieves last application results for a given application name</documentation>
      <input message='tns:getLastPublicApplicationAnalysisRequestMessage' name='getLastPublicApplicationAnalysisInput' />
      <output message='tns:getLastPublicApplicationAnalysisResponseMessage' name='getLastPublicApplicationAnalysisOutput' />
    </operation>
    <operation name='listApplicationDefects'>
      <documentation>list application defects for the indicated application</documentation>
      <input message='tns:listApplicationDefectsRequestMessage' name='listApplicationDefectsInput' />
      <output message='tns:listApplicationDefectsResponseMessage' name='listApplicationDefectsOutput' />
    </operation>
    <operation name='listApplications'>
      <documentation>list applications for the authenticated user If you indicate a public account name you will get the public application of that account</documentation>
      <input message='tns:listApplicationsRequestMessage' name='listApplicationsInput' />
      <output message='tns:listApplicationsResponseMessage' name='listApplicationsOutput' />
    </operation>
    <operation name='listFilesWithMetricValuesAndDefects'>
      <documentation>list files of indicated application For each file you will get its metric values and defects found</documentation>
      <input message='tns:listFilesWithMetricValuesAndDefectsRequestMessage' name='listFilesWithMetricValuesAndDefectsInput' />
      <output message='tns:listFilesWithMetricValuesAndDefectsResponseMessage' name='listFilesWithMetricValuesAndDefectsOutput' />
    </operation>
    <operation name='listPublicAppFilesWithMetricValuesAndDefects'>
      <documentation>list files of indicated application For each file you will get its metric values and defects found</documentation>
      <input message='tns:listPublicAppFilesWithMetricValuesAndDefectsRequestMessage' name='listPublicAppFilesWithMetricValuesAndDefectsInput' />
      <output message='tns:listPublicAppFilesWithMetricValuesAndDefectsResponseMessage' name='listPublicAppFilesWithMetricValuesAndDefectsOutput' />
    </operation>
    <operation name='listPublicApplicationDefects'>
      <documentation>list application defects for the indicated application</documentation>
      <input message='tns:listPublicApplicationDefectsRequestMessage' name='listPublicApplicationDefectsInput' />
      <output message='tns:listPublicApplicationDefectsResponseMessage' name='listPublicApplicationDefectsOutput' />
    </operation>
    <operation name='listPublicApplications'>
      <documentation>list applications for the indicated account name</documentation>
      <input message='tns:listPublicApplicationsRequestMessage' name='listPublicApplicationsInput' />
      <output message='tns:listPublicApplicationsResponseMessage' name='listPublicApplicationsOutput' />
    </operation>
  </portType>
  <binding name='kiuwanRestBinding' type='tns:kiuwanRestPortType'>
    <operation name='getLastApplicationAnalysis'>
      <soap12:operation soapAction='http://getLastApplicationAnalysis' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLastPublicApplicationAnalysis'>
      <soap12:operation soapAction='http://getLastPublicApplicationAnalysis' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listApplicationDefects'>
      <soap12:operation soapAction='http://listApplicationDefects' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listApplications'>
      <soap12:operation soapAction='http://listApplications' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listFilesWithMetricValuesAndDefects'>
      <soap12:operation soapAction='http://listFilesWithMetricValuesAndDefects' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listPublicAppFilesWithMetricValuesAndDefects'>
      <soap12:operation soapAction='http://listPublicAppFilesWithMetricValuesAndDefects' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listPublicApplicationDefects'>
      <soap12:operation soapAction='http://listPublicApplicationDefects' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listPublicApplications'>
      <soap12:operation soapAction='http://listPublicApplications' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='kiuwanRest'>
    <documentation>kiuwan is a static analysis cloud service to measure analyze and verify the quality of the code of your applications portfolios providing immediately essential results and reports of the analyzed code Kiuwan analyzes more than a dozen technologies The REST API is the primary way that data are retrieved from Kiuwan</documentation>
    <port name='kiuwanRestPort' binding='tns:kiuwanRestBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://kiuwanRest' />
    </port>
  </service>
</definitions>