workspace/datasets/mashape_dataset/kooabaimagerecognitionupload.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/kooabaImageRecognitionUpload/' name='kooabaImageRecognitionUpload' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/kooabaImageRecognitionUpload/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/kooabaImageRecognitionUpload/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/kooabaImageRecognitionUpload/'>
      <xsd:element name='addAdditionalImagesToAnItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='itemuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addAdditionalImagesToAnItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sha1' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAnItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bucketuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAnItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sha1' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='enabled' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAnItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='itemuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAnItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sha1' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='itemuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='metadata' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTheStatusOfAnItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='itemuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTheStatusOfAnItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sha1' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='indexResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listItemsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bucketuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listItemsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reference_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='enabled' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAnItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='itemuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAnItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sha1' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addAdditionalImagesToAnItemRequestMessage'>
    <part name='parameters' element='tns:addAdditionalImagesToAnItemParameters' />
  </message>
  <message name='addAdditionalImagesToAnItemResponseMessage'>
    <part name='response' element='tns:addAdditionalImagesToAnItemResponse' />
  </message>
  <message name='createAnItemRequestMessage'>
    <part name='parameters' element='tns:createAnItemParameters' />
  </message>
  <message name='createAnItemResponseMessage'>
    <part name='response' element='tns:createAnItemResponse' />
  </message>
  <message name='deleteAnItemRequestMessage'>
    <part name='parameters' element='tns:deleteAnItemParameters' />
  </message>
  <message name='deleteAnItemResponseMessage'>
    <part name='response' element='tns:deleteAnItemResponse' />
  </message>
  <message name='getAnItemRequestMessage'>
    <part name='parameters' element='tns:getAnItemParameters' />
  </message>
  <message name='getAnItemResponseMessage'>
    <part name='response' element='tns:getAnItemResponse' />
  </message>
  <message name='getTheStatusOfAnItemRequestMessage'>
    <part name='parameters' element='tns:getTheStatusOfAnItemParameters' />
  </message>
  <message name='getTheStatusOfAnItemResponseMessage'>
    <part name='response' element='tns:getTheStatusOfAnItemResponse' />
  </message>
  <message name='indexRequestMessage' />
  <message name='indexResponseMessage'>
    <part name='response' element='tns:indexResponse' />
  </message>
  <message name='listItemsRequestMessage'>
    <part name='parameters' element='tns:listItemsParameters' />
  </message>
  <message name='listItemsResponseMessage'>
    <part name='response' element='tns:listItemsResponse' />
  </message>
  <message name='updateAnItemRequestMessage'>
    <part name='parameters' element='tns:updateAnItemParameters' />
  </message>
  <message name='updateAnItemResponseMessage'>
    <part name='response' element='tns:updateAnItemResponse' />
  </message>
  <portType name='kooabaImageRecognitionUploadPortType'>
    <operation name='addAdditionalImagesToAnItem'>
      <documentation></documentation>
      <input message='tns:addAdditionalImagesToAnItemRequestMessage' name='addAdditionalImagesToAnItemInput' />
      <output message='tns:addAdditionalImagesToAnItemResponseMessage' name='addAdditionalImagesToAnItemOutput' />
    </operation>
    <operation name='createAnItem'>
      <documentation></documentation>
      <input message='tns:createAnItemRequestMessage' name='createAnItemInput' />
      <output message='tns:createAnItemResponseMessage' name='createAnItemOutput' />
    </operation>
    <operation name='deleteAnItem'>
      <documentation></documentation>
      <input message='tns:deleteAnItemRequestMessage' name='deleteAnItemInput' />
      <output message='tns:deleteAnItemResponseMessage' name='deleteAnItemOutput' />
    </operation>
    <operation name='getAnItem'>
      <documentation></documentation>
      <input message='tns:getAnItemRequestMessage' name='getAnItemInput' />
      <output message='tns:getAnItemResponseMessage' name='getAnItemOutput' />
    </operation>
    <operation name='getTheStatusOfAnItem'>
      <documentation></documentation>
      <input message='tns:getTheStatusOfAnItemRequestMessage' name='getTheStatusOfAnItemInput' />
      <output message='tns:getTheStatusOfAnItemResponseMessage' name='getTheStatusOfAnItemOutput' />
    </operation>
    <operation name='index'>
      <documentation>returns a list of buckets the API user has access to</documentation>
      <input message='tns:indexRequestMessage' name='indexInput' />
      <output message='tns:indexResponseMessage' name='indexOutput' />
    </operation>
    <operation name='listItems'>
      <documentation>list the items in a bucket Up to items are returned for each page</documentation>
      <input message='tns:listItemsRequestMessage' name='listItemsInput' />
      <output message='tns:listItemsResponseMessage' name='listItemsOutput' />
    </operation>
    <operation name='updateAnItem'>
      <documentation></documentation>
      <input message='tns:updateAnItemRequestMessage' name='updateAnItemInput' />
      <output message='tns:updateAnItemResponseMessage' name='updateAnItemOutput' />
    </operation>
  </portType>
  <binding name='kooabaImageRecognitionUploadBinding' type='tns:kooabaImageRecognitionUploadPortType'>
    <operation name='addAdditionalImagesToAnItem'>
      <soap12:operation soapAction='http://addAdditionalImagesToAnItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAnItem'>
      <soap12:operation soapAction='http://createAnItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAnItem'>
      <soap12:operation soapAction='http://deleteAnItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAnItem'>
      <soap12:operation soapAction='http://getAnItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTheStatusOfAnItem'>
      <soap12:operation soapAction='http://getTheStatusOfAnItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='index'>
      <soap12:operation soapAction='http://index' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listItems'>
      <soap12:operation soapAction='http://listItems' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAnItem'>
      <soap12:operation soapAction='http://updateAnItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='kooabaImageRecognitionUpload'>
    <documentation>this API allows you to upload your own data for recognition It is usually used together with the Query API to make recognition requests for the uploaded database</documentation>
    <port name='kooabaImageRecognitionUploadPort' binding='tns:kooabaImageRecognitionUploadBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://kooabaImageRecognitionUpload' />
    </port>
  </service>
</definitions>