workspace/datasets/mashape_dataset/layurllayeredurlshortener.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/layurlLayeredurlShortener/' name='layurlLayeredurlShortener' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/layurlLayeredurlShortener/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/layurlLayeredurlShortener/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/layurlLayeredurlShortener/'>
      <xsd:element name='readApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='readApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:string' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='simpleApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='custom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='simpleApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='writeApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='custom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='expire' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='private' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uses' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='via' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='writeApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='full' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='readApiRequestMessage'>
    <part name='parameters' element='tns:readApiParameters' />
  </message>
  <message name='readApiResponseMessage'>
    <part name='response' element='tns:readApiResponse' />
  </message>
  <message name='simpleApiRequestMessage'>
    <part name='parameters' element='tns:simpleApiParameters' />
  </message>
  <message name='simpleApiResponseMessage'>
    <part name='response' element='tns:simpleApiResponse' />
  </message>
  <message name='writeApiRequestMessage'>
    <part name='parameters' element='tns:writeApiParameters' />
  </message>
  <message name='writeApiResponseMessage'>
    <part name='response' element='tns:writeApiResponse' />
  </message>
  <portType name='layurlLayeredurlShortenerPortType'>
    <operation name='readApi'>
      <documentation>read API</documentation>
      <input message='tns:readApiRequestMessage' name='readApiInput' />
      <output message='tns:readApiResponseMessage' name='readApiOutput' />
    </operation>
    <operation name='simpleApi'>
      <documentation>simple API</documentation>
      <input message='tns:simpleApiRequestMessage' name='simpleApiInput' />
      <output message='tns:simpleApiResponseMessage' name='simpleApiOutput' />
    </operation>
    <operation name='writeApi'>
      <documentation>write API</documentation>
      <input message='tns:writeApiRequestMessage' name='writeApiInput' />
      <output message='tns:writeApiResponseMessage' name='writeApiOutput' />
    </operation>
  </portType>
  <binding name='layurlLayeredurlShortenerBinding' type='tns:layurlLayeredurlShortenerPortType'>
    <operation name='readApi'>
      <soap12:operation soapAction='http://readApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='simpleApi'>
      <soap12:operation soapAction='http://simpleApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='writeApi'>
      <soap12:operation soapAction='http://writeApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='layurlLayeredurlShortener'>
    <documentation>layURL is an URL Shortener Features with custom naming password protected private access QR code generated expiry with date expiry by view count etc Public stats available Read more http layurl com developer html An InnoByT com Project</documentation>
    <port name='layurlLayeredurlShortenerPort' binding='tns:layurlLayeredurlShortenerBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://layurlLayeredurlShortener' />
    </port>
  </service>
</definitions>