workspace/datasets/mashape_dataset/leagueoflegendstrivia.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/leagueOfLegendsTrivia/' name='leagueOfLegendsTrivia' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/leagueOfLegendsTrivia/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/leagueOfLegendsTrivia/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/leagueOfLegendsTrivia/'>
      <xsd:element name='championPriceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='championPriceIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='championPriceIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ip' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='rp' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='championReleaseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n90' type='xsd:int' minOccurs='0' />
            <xsd:element name='n92' type='xsd:int' minOccurs='0' />
            <xsd:element name='n91' type='xsd:int' minOccurs='0' />
            <xsd:element name='n96' type='xsd:int' minOccurs='0' />
            <xsd:element name='n10' type='xsd:int' minOccurs='0' />
            <xsd:element name='n98' type='xsd:int' minOccurs='0' />
            <xsd:element name='n12' type='xsd:int' minOccurs='0' />
            <xsd:element name='n99' type='xsd:int' minOccurs='0' />
            <xsd:element name='n11' type='xsd:int' minOccurs='0' />
            <xsd:element name='n14' type='xsd:int' minOccurs='0' />
            <xsd:element name='n133' type='xsd:int' minOccurs='0' />
            <xsd:element name='n13' type='xsd:int' minOccurs='0' />
            <xsd:element name='n254' type='xsd:int' minOccurs='0' />
            <xsd:element name='n16' type='xsd:int' minOccurs='0' />
            <xsd:element name='n131' type='xsd:int' minOccurs='0' />
            <xsd:element name='n15' type='xsd:int' minOccurs='0' />
            <xsd:element name='n18' type='xsd:int' minOccurs='0' />
            <xsd:element name='n17' type='xsd:int' minOccurs='0' />
            <xsd:element name='n412' type='xsd:int' minOccurs='0' />
            <xsd:element name='n134' type='xsd:int' minOccurs='0' />
            <xsd:element name='n19' type='xsd:int' minOccurs='0' />
            <xsd:element name='n21' type='xsd:int' minOccurs='0' />
            <xsd:element name='n20' type='xsd:int' minOccurs='0' />
            <xsd:element name='n23' type='xsd:int' minOccurs='0' />
            <xsd:element name='n22' type='xsd:int' minOccurs='0' />
            <xsd:element name='n121' type='xsd:int' minOccurs='0' />
            <xsd:element name='n25' type='xsd:int' minOccurs='0' />
            <xsd:element name='n122' type='xsd:int' minOccurs='0' />
            <xsd:element name='n24' type='xsd:int' minOccurs='0' />
            <xsd:element name='n27' type='xsd:int' minOccurs='0' />
            <xsd:element name='n120' type='xsd:int' minOccurs='0' />
            <xsd:element name='n26' type='xsd:int' minOccurs='0' />
            <xsd:element name='n29' type='xsd:int' minOccurs='0' />
            <xsd:element name='n28' type='xsd:int' minOccurs='0' />
            <xsd:element name='n126' type='xsd:int' minOccurs='0' />
            <xsd:element name='n127' type='xsd:int' minOccurs='0' />
            <xsd:element name='n30' type='xsd:int' minOccurs='0' />
            <xsd:element name='n32' type='xsd:int' minOccurs='0' />
            <xsd:element name='n161' type='xsd:int' minOccurs='0' />
            <xsd:element name='n31' type='xsd:int' minOccurs='0' />
            <xsd:element name='n34' type='xsd:int' minOccurs='0' />
            <xsd:element name='n33' type='xsd:int' minOccurs='0' />
            <xsd:element name='n36' type='xsd:int' minOccurs='0' />
            <xsd:element name='n154' type='xsd:int' minOccurs='0' />
            <xsd:element name='n35' type='xsd:int' minOccurs='0' />
            <xsd:element name='n38' type='xsd:int' minOccurs='0' />
            <xsd:element name='n37' type='xsd:int' minOccurs='0' />
            <xsd:element name='n39' type='xsd:int' minOccurs='0' />
            <xsd:element name='n157' type='xsd:int' minOccurs='0' />
            <xsd:element name='n41' type='xsd:int' minOccurs='0' />
            <xsd:element name='n40' type='xsd:int' minOccurs='0' />
            <xsd:element name='n150' type='xsd:int' minOccurs='0' />
            <xsd:element name='n43' type='xsd:int' minOccurs='0' />
            <xsd:element name='n42' type='xsd:int' minOccurs='0' />
            <xsd:element name='n45' type='xsd:int' minOccurs='0' />
            <xsd:element name='n44' type='xsd:int' minOccurs='0' />
            <xsd:element name='n143' type='xsd:int' minOccurs='0' />
            <xsd:element name='n48' type='xsd:int' minOccurs='0' />
            <xsd:element name='n268' type='xsd:int' minOccurs='0' />
            <xsd:element name='n266' type='xsd:int' minOccurs='0' />
            <xsd:element name='n267' type='xsd:int' minOccurs='0' />
            <xsd:element name='n421' type='xsd:int' minOccurs='0' />
            <xsd:element name='n429' type='xsd:int' minOccurs='0' />
            <xsd:element name='n1' type='xsd:int' minOccurs='0' />
            <xsd:element name='n2' type='xsd:int' minOccurs='0' />
            <xsd:element name='n3' type='xsd:int' minOccurs='0' />
            <xsd:element name='n4' type='xsd:int' minOccurs='0' />
            <xsd:element name='n5' type='xsd:int' minOccurs='0' />
            <xsd:element name='n50' type='xsd:int' minOccurs='0' />
            <xsd:element name='n6' type='xsd:int' minOccurs='0' />
            <xsd:element name='n7' type='xsd:int' minOccurs='0' />
            <xsd:element name='n8' type='xsd:int' minOccurs='0' />
            <xsd:element name='n51' type='xsd:int' minOccurs='0' />
            <xsd:element name='n9' type='xsd:int' minOccurs='0' />
            <xsd:element name='n54' type='xsd:int' minOccurs='0' />
            <xsd:element name='n53' type='xsd:int' minOccurs='0' />
            <xsd:element name='n56' type='xsd:int' minOccurs='0' />
            <xsd:element name='n55' type='xsd:int' minOccurs='0' />
            <xsd:element name='n58' type='xsd:int' minOccurs='0' />
            <xsd:element name='n57' type='xsd:int' minOccurs='0' />
            <xsd:element name='n59' type='xsd:int' minOccurs='0' />
            <xsd:element name='n61' type='xsd:int' minOccurs='0' />
            <xsd:element name='n60' type='xsd:int' minOccurs='0' />
            <xsd:element name='n63' type='xsd:int' minOccurs='0' />
            <xsd:element name='n62' type='xsd:int' minOccurs='0' />
            <xsd:element name='n64' type='xsd:int' minOccurs='0' />
            <xsd:element name='n67' type='xsd:int' minOccurs='0' />
            <xsd:element name='n69' type='xsd:int' minOccurs='0' />
            <xsd:element name='n68' type='xsd:int' minOccurs='0' />
            <xsd:element name='n201' type='xsd:int' minOccurs='0' />
            <xsd:element name='n72' type='xsd:int' minOccurs='0' />
            <xsd:element name='n74' type='xsd:int' minOccurs='0' />
            <xsd:element name='n76' type='xsd:int' minOccurs='0' />
            <xsd:element name='n75' type='xsd:int' minOccurs='0' />
            <xsd:element name='n78' type='xsd:int' minOccurs='0' />
            <xsd:element name='n77' type='xsd:int' minOccurs='0' />
            <xsd:element name='n110' type='xsd:int' minOccurs='0' />
            <xsd:element name='n79' type='xsd:int' minOccurs='0' />
            <xsd:element name='n111' type='xsd:int' minOccurs='0' />
            <xsd:element name='n114' type='xsd:int' minOccurs='0' />
            <xsd:element name='n236' type='xsd:int' minOccurs='0' />
            <xsd:element name='n115' type='xsd:int' minOccurs='0' />
            <xsd:element name='n112' type='xsd:int' minOccurs='0' />
            <xsd:element name='n113' type='xsd:int' minOccurs='0' />
            <xsd:element name='n119' type='xsd:int' minOccurs='0' />
            <xsd:element name='n117' type='xsd:int' minOccurs='0' />
            <xsd:element name='n238' type='xsd:int' minOccurs='0' />
            <xsd:element name='n81' type='xsd:int' minOccurs='0' />
            <xsd:element name='n80' type='xsd:int' minOccurs='0' />
            <xsd:element name='n83' type='xsd:int' minOccurs='0' />
            <xsd:element name='n82' type='xsd:int' minOccurs='0' />
            <xsd:element name='n85' type='xsd:int' minOccurs='0' />
            <xsd:element name='n84' type='xsd:int' minOccurs='0' />
            <xsd:element name='n86' type='xsd:int' minOccurs='0' />
            <xsd:element name='n89' type='xsd:int' minOccurs='0' />
            <xsd:element name='n103' type='xsd:int' minOccurs='0' />
            <xsd:element name='n104' type='xsd:int' minOccurs='0' />
            <xsd:element name='n222' type='xsd:int' minOccurs='0' />
            <xsd:element name='n101' type='xsd:int' minOccurs='0' />
            <xsd:element name='n102' type='xsd:int' minOccurs='0' />
            <xsd:element name='n107' type='xsd:int' minOccurs='0' />
            <xsd:element name='n105' type='xsd:int' minOccurs='0' />
            <xsd:element name='n106' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='championReleaseIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='championReleaseIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='championSaleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errorCode' type='xsd:int' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='championSaleTimestampParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='timestamp' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='championSaleTimestampResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='champions' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sale' type='xsd:int' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='from_date' type='xsd:int' minOccurs='0' />
            <xsd:element name='to_date' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='skinPriceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='skinPriceIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='skinPriceIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='price' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='skinSaleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errorCode' type='xsd:int' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='skinSaleTimestampParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='timestamp' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='skinSaleTimestampResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='skins' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sale' type='xsd:int' minOccurs='0' />
                  <xsd:element name='price' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='champion_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='from_date' type='xsd:int' minOccurs='0' />
            <xsd:element name='to_date' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='championPriceRequestMessage' />
  <message name='championPriceResponseMessage'>
    <part name='response' element='tns:championPriceResponse' />
  </message>
  <message name='championPriceIdRequestMessage'>
    <part name='parameters' element='tns:championPriceIdParameters' />
  </message>
  <message name='championPriceIdResponseMessage'>
    <part name='response' element='tns:championPriceIdResponse' />
  </message>
  <message name='championReleaseRequestMessage' />
  <message name='championReleaseResponseMessage'>
    <part name='response' element='tns:championReleaseResponse' />
  </message>
  <message name='championReleaseIdRequestMessage'>
    <part name='parameters' element='tns:championReleaseIdParameters' />
  </message>
  <message name='championReleaseIdResponseMessage'>
    <part name='response' element='tns:championReleaseIdResponse' />
  </message>
  <message name='championSaleRequestMessage' />
  <message name='championSaleResponseMessage'>
    <part name='response' element='tns:championSaleResponse' />
  </message>
  <message name='championSaleTimestampRequestMessage'>
    <part name='parameters' element='tns:championSaleTimestampParameters' />
  </message>
  <message name='championSaleTimestampResponseMessage'>
    <part name='response' element='tns:championSaleTimestampResponse' />
  </message>
  <message name='skinPriceRequestMessage' />
  <message name='skinPriceResponseMessage'>
    <part name='response' element='tns:skinPriceResponse' />
  </message>
  <message name='skinPriceIdRequestMessage'>
    <part name='parameters' element='tns:skinPriceIdParameters' />
  </message>
  <message name='skinPriceIdResponseMessage'>
    <part name='response' element='tns:skinPriceIdResponse' />
  </message>
  <message name='skinSaleRequestMessage' />
  <message name='skinSaleResponseMessage'>
    <part name='response' element='tns:skinSaleResponse' />
  </message>
  <message name='skinSaleTimestampRequestMessage'>
    <part name='parameters' element='tns:skinSaleTimestampParameters' />
  </message>
  <message name='skinSaleTimestampResponseMessage'>
    <part name='response' element='tns:skinSaleTimestampResponse' />
  </message>
  <portType name='leagueOfLegendsTriviaPortType'>
    <operation name='championPrice'>
      <documentation>list of IP and RP cost for all champions</documentation>
      <input message='tns:championPriceRequestMessage' name='championPriceInput' />
      <output message='tns:championPriceResponseMessage' name='championPriceOutput' />
    </operation>
    <operation name='championPriceId'>
      <documentation>rP and IP cost for a champion identified by its id</documentation>
      <input message='tns:championPriceIdRequestMessage' name='championPriceIdInput' />
      <output message='tns:championPriceIdResponseMessage' name='championPriceIdOutput' />
    </operation>
    <operation name='championRelease'>
      <documentation>release dates for all champions</documentation>
      <input message='tns:championReleaseRequestMessage' name='championReleaseInput' />
      <output message='tns:championReleaseResponseMessage' name='championReleaseOutput' />
    </operation>
    <operation name='championReleaseId'>
      <documentation>release date for a champion identified by ID</documentation>
      <input message='tns:championReleaseIdRequestMessage' name='championReleaseIdInput' />
      <output message='tns:championReleaseIdResponseMessage' name='championReleaseIdOutput' />
    </operation>
    <operation name='championSale'>
      <documentation>current champion sales if there are any</documentation>
      <input message='tns:championSaleRequestMessage' name='championSaleInput' />
      <output message='tns:championSaleResponseMessage' name='championSaleOutput' />
    </operation>
    <operation name='championSaleTimestamp'>
      <documentation>champion sales for the given unix timestamp</documentation>
      <input message='tns:championSaleTimestampRequestMessage' name='championSaleTimestampInput' />
      <output message='tns:championSaleTimestampResponseMessage' name='championSaleTimestampOutput' />
    </operation>
    <operation name='skinPrice'>
      <documentation>rP costs for all skins</documentation>
      <input message='tns:skinPriceRequestMessage' name='skinPriceInput' />
      <output message='tns:skinPriceResponseMessage' name='skinPriceOutput' />
    </operation>
    <operation name='skinPriceId'>
      <documentation>rP cost for a skin identified by its ID</documentation>
      <input message='tns:skinPriceIdRequestMessage' name='skinPriceIdInput' />
      <output message='tns:skinPriceIdResponseMessage' name='skinPriceIdOutput' />
    </operation>
    <operation name='skinSale'>
      <documentation>current skin sale if there is one</documentation>
      <input message='tns:skinSaleRequestMessage' name='skinSaleInput' />
      <output message='tns:skinSaleResponseMessage' name='skinSaleOutput' />
    </operation>
    <operation name='skinSaleTimestamp'>
      <documentation>skin sale for a given time interval</documentation>
      <input message='tns:skinSaleTimestampRequestMessage' name='skinSaleTimestampInput' />
      <output message='tns:skinSaleTimestampResponseMessage' name='skinSaleTimestampOutput' />
    </operation>
  </portType>
  <binding name='leagueOfLegendsTriviaBinding' type='tns:leagueOfLegendsTriviaPortType'>
    <operation name='championPrice'>
      <soap12:operation soapAction='http://championPrice' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='championPriceId'>
      <soap12:operation soapAction='http://championPriceId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='championRelease'>
      <soap12:operation soapAction='http://championRelease' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='championReleaseId'>
      <soap12:operation soapAction='http://championReleaseId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='championSale'>
      <soap12:operation soapAction='http://championSale' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='championSaleTimestamp'>
      <soap12:operation soapAction='http://championSaleTimestamp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='skinPrice'>
      <soap12:operation soapAction='http://skinPrice' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='skinPriceId'>
      <soap12:operation soapAction='http://skinPriceId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='skinSale'>
      <soap12:operation soapAction='http://skinSale' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='skinSaleTimestamp'>
      <soap12:operation soapAction='http://skinSaleTimestamp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='leagueOfLegendsTrivia'>
    <documentation>league of Legends API to provide champion costs release dates and prices</documentation>
    <port name='leagueOfLegendsTriviaPort' binding='tns:leagueOfLegendsTriviaBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://leagueOfLegendsTrivia' />
    </port>
  </service>
</definitions>