workspace/datasets/mashape_dataset/leagueoflegendstribunal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/leagueOfLegendsTribunal/' name='leagueOfLegendsTribunal' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/leagueOfLegendsTribunal/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/leagueOfLegendsTribunal/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/leagueOfLegendsTribunal/'>
      <xsd:element name='loginCaptchaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tribunalCaseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tribunalCaseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='votes_today' type='xsd:int' minOccurs='0' />
            <xsd:element name='votes_allowed' type='xsd:int' minOccurs='0' />
            <xsd:element name='games' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reports' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='association_to_offender' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='offense' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='comment' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='case_total_reports' type='xsd:int' minOccurs='0' />
                  <xsd:element name='enemy_report_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='game_mode_raw' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='platform_game_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='players' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='association_to_offender' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='summoner_spell_1_icon' type='xsd:string' minOccurs='0' />
                        <xsd:element name='level' type='xsd:int' minOccurs='0' />
                        <xsd:element name='scores' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='kills' type='xsd:int' minOccurs='0' />
                              <xsd:element name='nodes_neutralized' type='xsd:int' minOccurs='0' />
                              <xsd:element name='assists' type='xsd:int' minOccurs='0' />
                              <xsd:element name='player_score' type='xsd:int' minOccurs='0' />
                              <xsd:element name='nodes_captured' type='xsd:int' minOccurs='0' />
                              <xsd:element name='deaths' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='champion_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='summoner_spell_2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='skin' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='minions_killed' type='xsd:int' minOccurs='0' />
                        <xsd:element name='summoner_spell_1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='champion_icon' type='xsd:string' minOccurs='0' />
                        <xsd:element name='team' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='time_played' type='xsd:int' minOccurs='0' />
                        <xsd:element name='summoner_spell_2_icon' type='xsd:string' minOccurs='0' />
                        <xsd:element name='gold_earned' type='xsd:int' minOccurs='0' />
                        <xsd:element name='summoner_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='champion_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='total_damage_dealt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='item_icons' type='xsd:string' maxOccurs='unbounded' />
                        <xsd:element name='items' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='total_damage_received' type='xsd:int' minOccurs='0' />
                        <xsd:element name='outcome' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='game_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='chat_log' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='association_to_offender' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='champion_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='summoner_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sent_to' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='message' type='xsd:string' minOccurs='0' />
                        <xsd:element name='name_change' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translated_reported_by' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ally' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='enemy' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='game_creation_time' type='xsd:date' minOccurs='0' />
                  <xsd:element name='offender' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='allied_report_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='game_mode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translated_report_reasons' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='LEAVING_AFK' type='xsd:string' minOccurs='0' />
                        <xsd:element name='INAPPROPRIATE_NAME' type='xsd:string' minOccurs='0' />
                        <xsd:element name='VERBAL_ABUSE' type='xsd:string' minOccurs='0' />
                        <xsd:element name='INTENTIONAL_FEEDING' type='xsd:string' minOccurs='0' />
                        <xsd:element name='ASSISTING_ENEMY' type='xsd:string' minOccurs='0' />
                        <xsd:element name='NEGATIVE_ATTITUDE' type='xsd:string' minOccurs='0' />
                        <xsd:element name='UNSKILLED_PLAYER' type='xsd:string' minOccurs='0' />
                        <xsd:element name='OFFENSIVE_LANGUAGE' type='xsd:string' minOccurs='0' />
                        <xsd:element name='SPAMMING' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='NO_COMMUNICATION_WITH_TEAM' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='premade' type='xsd:int' minOccurs='0' />
                  <xsd:element name='most_common_report_reason' type='xsd:string' minOccurs='0' />
                  <xsd:element name='offender_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='case_number' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userLoginResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='voteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='votes_today' type='xsd:int' minOccurs='0' />
            <xsd:element name='votes_allowed' type='xsd:int' minOccurs='0' />
            <xsd:element name='games' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reports' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='association_to_offender' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='offense' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='comment' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='case_total_reports' type='xsd:int' minOccurs='0' />
                  <xsd:element name='enemy_report_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='game_mode_raw' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='platform_game_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='players' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='association_to_offender' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='summoner_spell_1_icon' type='xsd:string' minOccurs='0' />
                        <xsd:element name='level' type='xsd:int' minOccurs='0' />
                        <xsd:element name='scores' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='kills' type='xsd:int' minOccurs='0' />
                              <xsd:element name='nodes_neutralized' type='xsd:int' minOccurs='0' />
                              <xsd:element name='assists' type='xsd:int' minOccurs='0' />
                              <xsd:element name='player_score' type='xsd:int' minOccurs='0' />
                              <xsd:element name='nodes_captured' type='xsd:int' minOccurs='0' />
                              <xsd:element name='deaths' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='champion_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='summoner_spell_2' type='xsd:int' minOccurs='0' />
                        <xsd:element name='skin' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='minions_killed' type='xsd:int' minOccurs='0' />
                        <xsd:element name='summoner_spell_1' type='xsd:int' minOccurs='0' />
                        <xsd:element name='champion_icon' type='xsd:string' minOccurs='0' />
                        <xsd:element name='team' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='time_played' type='xsd:int' minOccurs='0' />
                        <xsd:element name='summoner_spell_2_icon' type='xsd:string' minOccurs='0' />
                        <xsd:element name='gold_earned' type='xsd:int' minOccurs='0' />
                        <xsd:element name='summoner_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='champion_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='total_damage_dealt' type='xsd:int' minOccurs='0' />
                        <xsd:element name='item_icons' type='xsd:string' maxOccurs='unbounded' />
                        <xsd:element name='items' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='total_damage_received' type='xsd:int' minOccurs='0' />
                        <xsd:element name='outcome' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='game_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='chat_log' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='association_to_offender' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='champion_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='summoner_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sent_to' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='message' type='xsd:string' minOccurs='0' />
                        <xsd:element name='name_change' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translated_reported_by' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ally' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='enemy' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='game_creation_time' type='xsd:date' minOccurs='0' />
                  <xsd:element name='offender' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='allied_report_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='game_mode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translated_report_reasons' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='LEAVING_AFK' type='xsd:string' minOccurs='0' />
                        <xsd:element name='INAPPROPRIATE_NAME' type='xsd:string' minOccurs='0' />
                        <xsd:element name='VERBAL_ABUSE' type='xsd:string' minOccurs='0' />
                        <xsd:element name='INTENTIONAL_FEEDING' type='xsd:string' minOccurs='0' />
                        <xsd:element name='ASSISTING_ENEMY' type='xsd:string' minOccurs='0' />
                        <xsd:element name='NEGATIVE_ATTITUDE' type='xsd:string' minOccurs='0' />
                        <xsd:element name='UNSKILLED_PLAYER' type='xsd:string' minOccurs='0' />
                        <xsd:element name='OFFENSIVE_LANGUAGE' type='xsd:string' minOccurs='0' />
                        <xsd:element name='SPAMMING' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='NO_COMMUNICATION_WITH_TEAM' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='premade' type='xsd:int' minOccurs='0' />
                  <xsd:element name='most_common_report_reason' type='xsd:string' minOccurs='0' />
                  <xsd:element name='offender_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='case_number' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='loginCaptchaRequestMessage' />
  <message name='loginCaptchaResponseMessage'>
    <part name='response' element='tns:loginCaptchaResponse' />
  </message>
  <message name='tribunalCaseRequestMessage'>
    <part name='parameters' element='tns:tribunalCaseParameters' />
  </message>
  <message name='tribunalCaseResponseMessage'>
    <part name='response' element='tns:tribunalCaseResponse' />
  </message>
  <message name='userLoginRequestMessage' />
  <message name='userLoginResponseMessage'>
    <part name='response' element='tns:userLoginResponse' />
  </message>
  <message name='voteRequestMessage' />
  <message name='voteResponseMessage'>
    <part name='response' element='tns:voteResponse' />
  </message>
  <portType name='leagueOfLegendsTribunalPortType'>
    <operation name='loginCaptcha'>
      <documentation>retrieve a captcha image and associated id for user verification</documentation>
      <input message='tns:loginCaptchaRequestMessage' name='loginCaptchaInput' />
      <output message='tns:loginCaptchaResponseMessage' name='loginCaptchaOutput' />
    </operation>
    <operation name='tribunalCase'>
      <documentation>retrieve the next available Tribunal Case to review</documentation>
      <input message='tns:tribunalCaseRequestMessage' name='tribunalCaseInput' />
      <output message='tns:tribunalCaseResponseMessage' name='tribunalCaseOutput' />
    </operation>
    <operation name='userLogin'>
      <documentation>allows a user to log in and retrieve an access token for the Tribunal</documentation>
      <input message='tns:userLoginRequestMessage' name='userLoginInput' />
      <output message='tns:userLoginResponseMessage' name='userLoginOutput' />
    </operation>
    <operation name='vote'>
      <documentation>submit your vote Pardon Punish for a Tribunal case</documentation>
      <input message='tns:voteRequestMessage' name='voteInput' />
      <output message='tns:voteResponseMessage' name='voteOutput' />
    </operation>
  </portType>
  <binding name='leagueOfLegendsTribunalBinding' type='tns:leagueOfLegendsTribunalPortType'>
    <operation name='loginCaptcha'>
      <soap12:operation soapAction='http://loginCaptcha' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tribunalCase'>
      <soap12:operation soapAction='http://tribunalCase' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userLogin'>
      <soap12:operation soapAction='http://userLogin' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='vote'>
      <soap12:operation soapAction='http://vote' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='leagueOfLegendsTribunal'>
    <documentation>this API allows developer access to login view cases and submit Pardon Punish votes in the League of Legends Tribunal</documentation>
    <port name='leagueOfLegendsTribunalPort' binding='tns:leagueOfLegendsTribunalBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://leagueOfLegendsTribunal' />
    </port>
  </service>
</definitions>