workspace/datasets/mashape_dataset/lemonwhale.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/lemonwhale/' name='lemonwhale' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/lemonwhale/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/lemonwhale/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/lemonwhale/'>
      <xsd:element name='getLiveshowParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='idformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLiveshowResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='siteid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='payment' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='starttime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='stoptime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='userid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='views' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLiveshowsForSiteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortorder' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timespan' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLiveshowsForSiteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='liveshows' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='siteid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='payment' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='price' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='starttime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='stoptime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='views' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProgressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='videoid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='videoidformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProgressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='progress' type='xsd:int' minOccurs='0' />
            <xsd:element name='videoid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='label' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVideoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='idformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVideoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='normal_image_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='thumbnail_url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='dislikes' type='xsd:int' minOccurs='0' />
            <xsd:element name='userid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='duration' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='siteid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='published_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='categoryid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='views' type='xsd:int' minOccurs='0' />
            <xsd:element name='likes' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCategoriesForSiteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='onlyroot' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='parent' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCategoriesForSiteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categories' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='parentid' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publicListVideosForSiteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categories' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='search' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortorder' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timespan' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publicListVideosForSiteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='videos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='images' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='normal_image_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='thumbnail_url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='siteid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='published_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='views' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categoryid' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publicToplistVideosForSiteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categories' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timespan' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publicToplistVideosForSiteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='videos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='images' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='normal_image_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='thumbnail_url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='siteid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='published_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='views' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categoryid' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getLiveshowRequestMessage'>
    <part name='parameters' element='tns:getLiveshowParameters' />
  </message>
  <message name='getLiveshowResponseMessage'>
    <part name='response' element='tns:getLiveshowResponse' />
  </message>
  <message name='getLiveshowsForSiteRequestMessage'>
    <part name='parameters' element='tns:getLiveshowsForSiteParameters' />
  </message>
  <message name='getLiveshowsForSiteResponseMessage'>
    <part name='response' element='tns:getLiveshowsForSiteResponse' />
  </message>
  <message name='getProgressRequestMessage'>
    <part name='parameters' element='tns:getProgressParameters' />
  </message>
  <message name='getProgressResponseMessage'>
    <part name='response' element='tns:getProgressResponse' />
  </message>
  <message name='getVideoRequestMessage'>
    <part name='parameters' element='tns:getVideoParameters' />
  </message>
  <message name='getVideoResponseMessage'>
    <part name='response' element='tns:getVideoResponse' />
  </message>
  <message name='listCategoriesForSiteRequestMessage'>
    <part name='parameters' element='tns:listCategoriesForSiteParameters' />
  </message>
  <message name='listCategoriesForSiteResponseMessage'>
    <part name='response' element='tns:listCategoriesForSiteResponse' />
  </message>
  <message name='publicListVideosForSiteRequestMessage'>
    <part name='parameters' element='tns:publicListVideosForSiteParameters' />
  </message>
  <message name='publicListVideosForSiteResponseMessage'>
    <part name='response' element='tns:publicListVideosForSiteResponse' />
  </message>
  <message name='publicToplistVideosForSiteRequestMessage'>
    <part name='parameters' element='tns:publicToplistVideosForSiteParameters' />
  </message>
  <message name='publicToplistVideosForSiteResponseMessage'>
    <part name='response' element='tns:publicToplistVideosForSiteResponse' />
  </message>
  <portType name='lemonwhalePortType'>
    <operation name='getLiveshow'>
      <documentation>returns data for a single liveshow that is publicly accessible published true If the requested liveshow isn t publicly accessible it will return a This request it s possible to use JSONP responses by using the callback parameter</documentation>
      <input message='tns:getLiveshowRequestMessage' name='getLiveshowInput' />
      <output message='tns:getLiveshowResponseMessage' name='getLiveshowOutput' />
    </operation>
    <operation name='getLiveshowsForSite'>
      <documentation>returns a list of liveshows for the specified site By default this request returns the most recently created liveshows and that either had a start time in the last days or have it in the next days This can easily be changed by using either the timespan or sorting parameters This request will only return public liveshows which is defined by its visible in portal parameter When visible in portal is set to false for a liveshow it will not be returned With this request it s possible to use JSONP responses by using the callback parameter</documentation>
      <input message='tns:getLiveshowsForSiteRequestMessage' name='getLiveshowsForSiteInput' />
      <output message='tns:getLiveshowsForSiteResponseMessage' name='getLiveshowsForSiteOutput' />
    </operation>
    <operation name='getProgress'>
      <documentation>this request is used for receiving information on the transcoding progress for a video file</documentation>
      <input message='tns:getProgressRequestMessage' name='getProgressInput' />
      <output message='tns:getProgressResponseMessage' name='getProgressOutput' />
    </operation>
    <operation name='getVideo'>
      <documentation>returns data for a single video that is publicly accessible published true and a publish date that have passed If the requested video isn t publicly accessible it will return a This request it s possible to use JSONP responses by using the callback parameter</documentation>
      <input message='tns:getVideoRequestMessage' name='getVideoInput' />
      <output message='tns:getVideoResponseMessage' name='getVideoOutput' />
    </operation>
    <operation name='listCategoriesForSite'>
      <documentation>returns up to categories on the site Categories are ordered in a tree structure with parent categories and subcategories and this can be used when filtering out categories on a site in this request There are two parameter for filtering out categories the first one is only root which only returns categories without a parent category the other parameter is parent who when used only returns categories with the specified parent category This is a public request which means that no categories that are hidden e g parameter hidden true will be in the response With this request it s possible to use JSONP responses by using the callback parameter</documentation>
      <input message='tns:listCategoriesForSiteRequestMessage' name='listCategoriesForSiteInput' />
      <output message='tns:listCategoriesForSiteResponseMessage' name='listCategoriesForSiteOutput' />
    </operation>
    <operation name='publicListVideosForSite'>
      <documentation>use this request to list videos on a site You filter your request based on categories as well as timespan and sort the data on several different values</documentation>
      <input message='tns:publicListVideosForSiteRequestMessage' name='publicListVideosForSiteInput' />
      <output message='tns:publicListVideosForSiteResponseMessage' name='publicListVideosForSiteOutput' />
    </operation>
    <operation name='publicToplistVideosForSite'>
      <documentation>use this request to make a toplist for videos on a site over a specified period of time You filter your request based on categories as well as timespan The timespan is the time period used to summarize the number of impressions for each video and then order videos by number of impressions With this request it s possible to use JSONP responses by using the callback parameter</documentation>
      <input message='tns:publicToplistVideosForSiteRequestMessage' name='publicToplistVideosForSiteInput' />
      <output message='tns:publicToplistVideosForSiteResponseMessage' name='publicToplistVideosForSiteOutput' />
    </operation>
  </portType>
  <binding name='lemonwhaleBinding' type='tns:lemonwhalePortType'>
    <operation name='getLiveshow'>
      <soap12:operation soapAction='http://getLiveshow' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLiveshowsForSite'>
      <soap12:operation soapAction='http://getLiveshowsForSite' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getProgress'>
      <soap12:operation soapAction='http://getProgress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVideo'>
      <soap12:operation soapAction='http://getVideo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listCategoriesForSite'>
      <soap12:operation soapAction='http://listCategoriesForSite' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publicListVideosForSite'>
      <soap12:operation soapAction='http://publicListVideosForSite' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publicToplistVideosForSite'>
      <soap12:operation soapAction='http://publicToplistVideosForSite' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='lemonwhale'>
    <documentation>lemonwhale Cloud Video securely delivers the highest quality on demand and live video experiences to reach your audience no matter where they are We simplify delivery to an increasingly complex ecosystem of devices and standards across the online devices such a web mobile and tablets Lemonwhale API allows you to connect your application to Lemonwhales video system without having to use the web interface</documentation>
    <port name='lemonwhalePort' binding='tns:lemonwhaleBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://lemonwhale' />
    </port>
  </service>
</definitions>