workspace/datasets/mashape_dataset/lenewblack.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/leNewBlack/' name='leNewBlack' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/leNewBlack/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/leNewBlack/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/leNewBlack/'>
      <xsd:element name='authTokenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='access_token' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='expires_on' type='xsd:string' minOccurs='0' />
            <xsd:element name='scope' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='token_type' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesPostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesIdGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesIdGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesIdPatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesIdPatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='enable_inventory' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='create_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='privacy_level' type='xsd:string' minOccurs='0' />
                  <xsd:element name='close_on' type='xsd:date' minOccurs='0' />
                  <xsd:element name='delivery_end_on' type='xsd:string' minOccurs='0' />
                  <xsd:element name='image_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='payment_terms' type='xsd:string' minOccurs='0' />
                  <xsd:element name='colors' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='update_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='fabrics' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='is_expired' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='publish_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='categories' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='delivery_start_on' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsPostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='enable_inventory' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='create_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='privacy_level' type='xsd:string' minOccurs='0' />
            <xsd:element name='close_on' type='xsd:date' minOccurs='0' />
            <xsd:element name='delivery_end_on' type='xsd:string' minOccurs='0' />
            <xsd:element name='image_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='payment_terms' type='xsd:string' minOccurs='0' />
            <xsd:element name='colors' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='update_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='fabrics' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='is_expired' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='publish_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='categories' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='delivery_start_on' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdPatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdPatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdCategoriesGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdCategoriesGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdCategoriesPostParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdCategoriesPostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdCategoriesCategoryIdGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdCategoriesCategoryIdGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdCategoriesCategoryIdPatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsIdCategoriesCategoryIdPatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='colorsGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='colorsPostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='colorsIdGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='colorsIdGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='colorsIdPatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='colorsIdPatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='buyer_email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='delivery_address' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='reference' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='zipcode' type='xsd:string' minOccurs='0' />
                        <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='contact_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address_1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company' type='xsd:string' minOccurs='0' />
                        <xsd:element name='tel' type='xsd:int' minOccurs='0' />
                        <xsd:element name='contact_email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='retailer_reference' type='xsd:string' minOccurs='0' />
                  <xsd:element name='buyer_first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='create_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='cancellation_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='buyer_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='price_total_prediscount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='billing_address' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='zipcode' type='xsd:string' minOccurs='0' />
                        <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='contact_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address_1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='vat_number' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company' type='xsd:string' minOccurs='0' />
                        <xsd:element name='tel' type='xsd:int' minOccurs='0' />
                        <xsd:element name='contact_email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='confirmation_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='discount_rate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='update_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='retailer_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='items' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='reference' type='xsd:int' minOccurs='0' />
                        <xsd:element name='quantity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='color' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='size' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='ean13' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='unit_price' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='price_total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersIdGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersIdGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='buyer_email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='delivery_address' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reference' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='zipcode' type='xsd:string' minOccurs='0' />
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='contact_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address_1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='company' type='xsd:string' minOccurs='0' />
                  <xsd:element name='tel' type='xsd:int' minOccurs='0' />
                  <xsd:element name='contact_email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='retailer_reference' type='xsd:string' minOccurs='0' />
            <xsd:element name='buyer_first_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='create_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='cancellation_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='buyer_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='price_total_prediscount' type='xsd:int' minOccurs='0' />
            <xsd:element name='billing_address' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zipcode' type='xsd:string' minOccurs='0' />
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='contact_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address_1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='vat_number' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='company' type='xsd:string' minOccurs='0' />
                  <xsd:element name='tel' type='xsd:int' minOccurs='0' />
                  <xsd:element name='contact_email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='confirmation_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='discount_rate' type='xsd:int' minOccurs='0' />
            <xsd:element name='update_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='retailer_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reference' type='xsd:int' minOccurs='0' />
                  <xsd:element name='quantity' type='xsd:int' minOccurs='0' />
                  <xsd:element name='color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='size' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ean13' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='unit_price' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='price_total' type='xsd:int' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productsGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='collectionid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productsGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='is_new' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='is_top' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='colors' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='available_on' type='xsd:string' minOccurs='0' />
                        <xsd:element name='image_4' type='xsd:string' minOccurs='0' />
                        <xsd:element name='care_instruction' type='xsd:string' minOccurs='0' />
                        <xsd:element name='show_looks' type='xsd:string' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='showroom_availability' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='is_available' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='reference' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='update_time' type='xsd:string' minOccurs='0' />
                        <xsd:element name='made_in' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='color_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='composition' type='xsd:string' minOccurs='0' />
                        <xsd:element name='fabric_print' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lining' type='xsd:string' minOccurs='0' />
                        <xsd:element name='color_image' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='image_1' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='image_3' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='color_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='image_2' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='prices' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='catalog_id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='wholesale_price' type='xsd:int' minOccurs='0' />
                              <xsd:element name='recommended_retail_price' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='order_min' type='xsd:int' minOccurs='0' />
                  <xsd:element name='collection_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='update_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='sizes' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='default_color_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='model' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='order_max' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productsIdGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productsIdGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='is_new' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='is_top' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='colors' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='available_on' type='xsd:string' minOccurs='0' />
                  <xsd:element name='image_4' type='xsd:string' minOccurs='0' />
                  <xsd:element name='care_instruction' type='xsd:string' minOccurs='0' />
                  <xsd:element name='show_looks' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='showroom_availability' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='is_available' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='reference' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='update_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='made_in' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='color_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='composition' type='xsd:string' minOccurs='0' />
                  <xsd:element name='fabric_print' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lining' type='xsd:string' minOccurs='0' />
                  <xsd:element name='color_image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='image_1' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='image_3' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='color_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='image_2' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='prices' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='catalog_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wholesale_price' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recommended_retail_price' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='order_min' type='xsd:int' minOccurs='0' />
            <xsd:element name='collection_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='update_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='sizes' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='default_color_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='model' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='order_max' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retailersGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='delivery_incoterm' type='xsd:string' minOccurs='0' />
                  <xsd:element name='discount_special_rate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='store_address' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='reference' type='xsd:string' minOccurs='0' />
                        <xsd:element name='zipcode' type='xsd:string' minOccurs='0' />
                        <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='contact_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address_1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='vat_number' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company' type='xsd:string' minOccurs='0' />
                        <xsd:element name='tel' type='xsd:string' minOccurs='0' />
                        <xsd:element name='contact_email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='billing_address' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='reference' type='xsd:string' minOccurs='0' />
                        <xsd:element name='zipcode' type='xsd:string' minOccurs='0' />
                        <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='contact_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address_1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='vat_number' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company' type='xsd:string' minOccurs='0' />
                        <xsd:element name='tel' type='xsd:string' minOccurs='0' />
                        <xsd:element name='contact_email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='discount_rate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reference' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='catalog_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='update_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='members' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='terms_of_delivery' type='xsd:string' minOccurs='0' />
                  <xsd:element name='terms_of_payment' type='xsd:string' minOccurs='0' />
                  <xsd:element name='delivery_addresses' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='reference' type='xsd:string' minOccurs='0' />
                        <xsd:element name='zipcode' type='xsd:string' minOccurs='0' />
                        <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='contact_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address_1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='vat_number' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company' type='xsd:string' minOccurs='0' />
                        <xsd:element name='tel' type='xsd:string' minOccurs='0' />
                        <xsd:element name='contact_email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='authTokenRequestMessage' />
  <message name='authTokenResponseMessage'>
    <part name='response' element='tns:authTokenResponse' />
  </message>
  <message name='categoriesGetRequestMessage' />
  <message name='categoriesGetResponseMessage'>
    <part name='response' element='tns:categoriesGetResponse' />
  </message>
  <message name='categoriesPostRequestMessage' />
  <message name='categoriesPostResponseMessage'>
    <part name='response' element='tns:categoriesPostResponse' />
  </message>
  <message name='categoriesIdGetRequestMessage'>
    <part name='parameters' element='tns:categoriesIdGetParameters' />
  </message>
  <message name='categoriesIdGetResponseMessage'>
    <part name='response' element='tns:categoriesIdGetResponse' />
  </message>
  <message name='categoriesIdPatchRequestMessage'>
    <part name='parameters' element='tns:categoriesIdPatchParameters' />
  </message>
  <message name='categoriesIdPatchResponseMessage'>
    <part name='response' element='tns:categoriesIdPatchResponse' />
  </message>
  <message name='collectionsGetRequestMessage' />
  <message name='collectionsGetResponseMessage'>
    <part name='response' element='tns:collectionsGetResponse' />
  </message>
  <message name='collectionsPostRequestMessage' />
  <message name='collectionsPostResponseMessage'>
    <part name='response' element='tns:collectionsPostResponse' />
  </message>
  <message name='collectionsIdGetRequestMessage'>
    <part name='parameters' element='tns:collectionsIdGetParameters' />
  </message>
  <message name='collectionsIdGetResponseMessage'>
    <part name='response' element='tns:collectionsIdGetResponse' />
  </message>
  <message name='collectionsIdPatchRequestMessage'>
    <part name='parameters' element='tns:collectionsIdPatchParameters' />
  </message>
  <message name='collectionsIdPatchResponseMessage'>
    <part name='response' element='tns:collectionsIdPatchResponse' />
  </message>
  <message name='collectionsIdCategoriesGetRequestMessage'>
    <part name='parameters' element='tns:collectionsIdCategoriesGetParameters' />
  </message>
  <message name='collectionsIdCategoriesGetResponseMessage'>
    <part name='response' element='tns:collectionsIdCategoriesGetResponse' />
  </message>
  <message name='collectionsIdCategoriesPostRequestMessage'>
    <part name='parameters' element='tns:collectionsIdCategoriesPostParameters' />
  </message>
  <message name='collectionsIdCategoriesPostResponseMessage'>
    <part name='response' element='tns:collectionsIdCategoriesPostResponse' />
  </message>
  <message name='collectionsIdCategoriesCategoryIdGetRequestMessage'>
    <part name='parameters' element='tns:collectionsIdCategoriesCategoryIdGetParameters' />
  </message>
  <message name='collectionsIdCategoriesCategoryIdGetResponseMessage'>
    <part name='response' element='tns:collectionsIdCategoriesCategoryIdGetResponse' />
  </message>
  <message name='collectionsIdCategoriesCategoryIdPatchRequestMessage'>
    <part name='parameters' element='tns:collectionsIdCategoriesCategoryIdPatchParameters' />
  </message>
  <message name='collectionsIdCategoriesCategoryIdPatchResponseMessage'>
    <part name='response' element='tns:collectionsIdCategoriesCategoryIdPatchResponse' />
  </message>
  <message name='colorsGetRequestMessage' />
  <message name='colorsGetResponseMessage'>
    <part name='response' element='tns:colorsGetResponse' />
  </message>
  <message name='colorsPostRequestMessage' />
  <message name='colorsPostResponseMessage'>
    <part name='response' element='tns:colorsPostResponse' />
  </message>
  <message name='colorsIdGetRequestMessage'>
    <part name='parameters' element='tns:colorsIdGetParameters' />
  </message>
  <message name='colorsIdGetResponseMessage'>
    <part name='response' element='tns:colorsIdGetResponse' />
  </message>
  <message name='colorsIdPatchRequestMessage'>
    <part name='parameters' element='tns:colorsIdPatchParameters' />
  </message>
  <message name='colorsIdPatchResponseMessage'>
    <part name='response' element='tns:colorsIdPatchResponse' />
  </message>
  <message name='ordersGetRequestMessage'>
    <part name='parameters' element='tns:ordersGetParameters' />
  </message>
  <message name='ordersGetResponseMessage'>
    <part name='response' element='tns:ordersGetResponse' />
  </message>
  <message name='ordersIdGetRequestMessage'>
    <part name='parameters' element='tns:ordersIdGetParameters' />
  </message>
  <message name='ordersIdGetResponseMessage'>
    <part name='response' element='tns:ordersIdGetResponse' />
  </message>
  <message name='productsGetRequestMessage'>
    <part name='parameters' element='tns:productsGetParameters' />
  </message>
  <message name='productsGetResponseMessage'>
    <part name='response' element='tns:productsGetResponse' />
  </message>
  <message name='productsIdGetRequestMessage'>
    <part name='parameters' element='tns:productsIdGetParameters' />
  </message>
  <message name='productsIdGetResponseMessage'>
    <part name='response' element='tns:productsIdGetResponse' />
  </message>
  <message name='retailersGetRequestMessage' />
  <message name='retailersGetResponseMessage'>
    <part name='response' element='tns:retailersGetResponse' />
  </message>
  <portType name='leNewBlackPortType'>
    <operation name='authToken'>
      <input message='tns:authTokenRequestMessage' name='authTokenInput' />
      <output message='tns:authTokenResponseMessage' name='authTokenOutput' />
    </operation>
    <operation name='categoriesGet'>
      <input message='tns:categoriesGetRequestMessage' name='categoriesGetInput' />
      <output message='tns:categoriesGetResponseMessage' name='categoriesGetOutput' />
    </operation>
    <operation name='categoriesPost'>
      <documentation>create a category</documentation>
      <input message='tns:categoriesPostRequestMessage' name='categoriesPostInput' />
      <output message='tns:categoriesPostResponseMessage' name='categoriesPostOutput' />
    </operation>
    <operation name='categoriesIdGet'>
      <documentation></documentation>
      <input message='tns:categoriesIdGetRequestMessage' name='categoriesIdGetInput' />
      <output message='tns:categoriesIdGetResponseMessage' name='categoriesIdGetOutput' />
    </operation>
    <operation name='categoriesIdPatch'>
      <documentation>update a category</documentation>
      <input message='tns:categoriesIdPatchRequestMessage' name='categoriesIdPatchInput' />
      <output message='tns:categoriesIdPatchResponseMessage' name='categoriesIdPatchOutput' />
    </operation>
    <operation name='collectionsGet'>
      <documentation></documentation>
      <input message='tns:collectionsGetRequestMessage' name='collectionsGetInput' />
      <output message='tns:collectionsGetResponseMessage' name='collectionsGetOutput' />
    </operation>
    <operation name='collectionsPost'>
      <documentation>create a collection</documentation>
      <input message='tns:collectionsPostRequestMessage' name='collectionsPostInput' />
      <output message='tns:collectionsPostResponseMessage' name='collectionsPostOutput' />
    </operation>
    <operation name='collectionsIdGet'>
      <documentation></documentation>
      <input message='tns:collectionsIdGetRequestMessage' name='collectionsIdGetInput' />
      <output message='tns:collectionsIdGetResponseMessage' name='collectionsIdGetOutput' />
    </operation>
    <operation name='collectionsIdPatch'>
      <documentation>update a collection</documentation>
      <input message='tns:collectionsIdPatchRequestMessage' name='collectionsIdPatchInput' />
      <output message='tns:collectionsIdPatchResponseMessage' name='collectionsIdPatchOutput' />
    </operation>
    <operation name='collectionsIdCategoriesGet'>
      <documentation></documentation>
      <input message='tns:collectionsIdCategoriesGetRequestMessage' name='collectionsIdCategoriesGetInput' />
      <output message='tns:collectionsIdCategoriesGetResponseMessage' name='collectionsIdCategoriesGetOutput' />
    </operation>
    <operation name='collectionsIdCategoriesPost'>
      <documentation>create a collection category link</documentation>
      <input message='tns:collectionsIdCategoriesPostRequestMessage' name='collectionsIdCategoriesPostInput' />
      <output message='tns:collectionsIdCategoriesPostResponseMessage' name='collectionsIdCategoriesPostOutput' />
    </operation>
    <operation name='collectionsIdCategoriesCategoryIdGet'>
      <documentation></documentation>
      <input message='tns:collectionsIdCategoriesCategoryIdGetRequestMessage' name='collectionsIdCategoriesCategoryIdGetInput' />
      <output message='tns:collectionsIdCategoriesCategoryIdGetResponseMessage' name='collectionsIdCategoriesCategoryIdGetOutput' />
    </operation>
    <operation name='collectionsIdCategoriesCategoryIdPatch'>
      <documentation>update a collection category link</documentation>
      <input message='tns:collectionsIdCategoriesCategoryIdPatchRequestMessage' name='collectionsIdCategoriesCategoryIdPatchInput' />
      <output message='tns:collectionsIdCategoriesCategoryIdPatchResponseMessage' name='collectionsIdCategoriesCategoryIdPatchOutput' />
    </operation>
    <operation name='colorsGet'>
      <documentation></documentation>
      <input message='tns:colorsGetRequestMessage' name='colorsGetInput' />
      <output message='tns:colorsGetResponseMessage' name='colorsGetOutput' />
    </operation>
    <operation name='colorsPost'>
      <documentation>create a color</documentation>
      <input message='tns:colorsPostRequestMessage' name='colorsPostInput' />
      <output message='tns:colorsPostResponseMessage' name='colorsPostOutput' />
    </operation>
    <operation name='colorsIdGet'>
      <documentation></documentation>
      <input message='tns:colorsIdGetRequestMessage' name='colorsIdGetInput' />
      <output message='tns:colorsIdGetResponseMessage' name='colorsIdGetOutput' />
    </operation>
    <operation name='colorsIdPatch'>
      <documentation>update a color</documentation>
      <input message='tns:colorsIdPatchRequestMessage' name='colorsIdPatchInput' />
      <output message='tns:colorsIdPatchResponseMessage' name='colorsIdPatchOutput' />
    </operation>
    <operation name='ordersGet'>
      <input message='tns:ordersGetRequestMessage' name='ordersGetInput' />
      <output message='tns:ordersGetResponseMessage' name='ordersGetOutput' />
    </operation>
    <operation name='ordersIdGet'>
      <documentation></documentation>
      <input message='tns:ordersIdGetRequestMessage' name='ordersIdGetInput' />
      <output message='tns:ordersIdGetResponseMessage' name='ordersIdGetOutput' />
    </operation>
    <operation name='productsGet'>
      <documentation></documentation>
      <input message='tns:productsGetRequestMessage' name='productsGetInput' />
      <output message='tns:productsGetResponseMessage' name='productsGetOutput' />
    </operation>
    <operation name='productsIdGet'>
      <documentation></documentation>
      <input message='tns:productsIdGetRequestMessage' name='productsIdGetInput' />
      <output message='tns:productsIdGetResponseMessage' name='productsIdGetOutput' />
    </operation>
    <operation name='retailersGet'>
      <documentation></documentation>
      <input message='tns:retailersGetRequestMessage' name='retailersGetInput' />
      <output message='tns:retailersGetResponseMessage' name='retailersGetOutput' />
    </operation>
  </portType>
  <binding name='leNewBlackBinding' type='tns:leNewBlackPortType'>
    <operation name='authToken'>
      <soap12:operation soapAction='http://authToken' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categoriesGet'>
      <soap12:operation soapAction='http://categoriesGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categoriesPost'>
      <soap12:operation soapAction='http://categoriesPost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categoriesIdGet'>
      <soap12:operation soapAction='http://categoriesIdGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categoriesIdPatch'>
      <soap12:operation soapAction='http://categoriesIdPatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='collectionsGet'>
      <soap12:operation soapAction='http://collectionsGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='collectionsPost'>
      <soap12:operation soapAction='http://collectionsPost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='collectionsIdGet'>
      <soap12:operation soapAction='http://collectionsIdGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='collectionsIdPatch'>
      <soap12:operation soapAction='http://collectionsIdPatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='collectionsIdCategoriesGet'>
      <soap12:operation soapAction='http://collectionsIdCategoriesGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='collectionsIdCategoriesPost'>
      <soap12:operation soapAction='http://collectionsIdCategoriesPost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='collectionsIdCategoriesCategoryIdGet'>
      <soap12:operation soapAction='http://collectionsIdCategoriesCategoryIdGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='collectionsIdCategoriesCategoryIdPatch'>
      <soap12:operation soapAction='http://collectionsIdCategoriesCategoryIdPatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='colorsGet'>
      <soap12:operation soapAction='http://colorsGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='colorsPost'>
      <soap12:operation soapAction='http://colorsPost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='colorsIdGet'>
      <soap12:operation soapAction='http://colorsIdGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='colorsIdPatch'>
      <soap12:operation soapAction='http://colorsIdPatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ordersGet'>
      <soap12:operation soapAction='http://ordersGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ordersIdGet'>
      <soap12:operation soapAction='http://ordersIdGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productsGet'>
      <soap12:operation soapAction='http://productsGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productsIdGet'>
      <soap12:operation soapAction='http://productsIdGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retailersGet'>
      <soap12:operation soapAction='http://retailersGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='leNewBlack'>
    <documentation>le New Black is a wholesale platform dedicated to fashion brands and retailers You must own a valid Le New Black account to use this API Please contact us to get your API client credentials</documentation>
    <port name='leNewBlackPort' binding='tns:leNewBlackBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://leNewBlack' />
    </port>
  </service>
</definitions>