workspace/datasets/mashape_dataset/lettrice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/lettrice/' name='lettrice' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/lettrice/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/lettrice/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/lettrice/'>
      <xsd:element name='createNewDocumentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createNewDocumentRequestMessage' />
  <message name='createNewDocumentResponseMessage'>
    <part name='response' element='tns:createNewDocumentResponse' />
  </message>
  <portType name='lettricePortType'>
    <operation name='createNewDocument'>
      <documentation>create new formal letter Returns PDF</documentation>
      <input message='tns:createNewDocumentRequestMessage' name='createNewDocumentInput' />
      <output message='tns:createNewDocumentResponseMessage' name='createNewDocumentOutput' />
    </operation>
  </portType>
  <binding name='lettriceBinding' type='tns:lettricePortType'>
    <operation name='createNewDocument'>
      <soap12:operation soapAction='http://createNewDocument' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='lettrice'>
    <documentation>create beautiful formal letters from simple text strings This is the official API of the Lettrice App from https itunes apple com de app lettrice id mt</documentation>
    <port name='lettricePort' binding='tns:lettriceBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://lettrice' />
    </port>
  </service>
</definitions>