workspace/datasets/mashape_dataset/lfopenweb.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/lfopenWeb/' name='lfopenWeb' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/lfopenWeb/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/lfopenWeb/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/lfopenWeb/'>
      <xsd:element name='getEquipmentListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getGpsResultsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timezone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getGpsResultsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookSharing' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='datePerformed' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='calories' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fbShareMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLifefitnessResultsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timezone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLifefitnessResultsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookSharing' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='datePerformed' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='calories' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fbShareMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getManualCardioResultsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timezone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getManualCardioResultsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookSharing' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='datePerformed' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='calories' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fbShareMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getManualstrengthResultsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timezone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getManualstrengthResultsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookSharing' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='datePerformed' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='calories' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fbShareMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPhotoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookSharing' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='datePerformed' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='calories' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fbShareMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsDailyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timezone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsDailyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookSharing' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='datePerformed' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='calories' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fbShareMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsWorkoutParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timezone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsWorkoutResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookSharing' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='datePerformed' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='calories' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fbShareMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSummaryResultsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timezone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='todate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSummaryResultsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookSharing' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='datePerformed' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='calories' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fbShareMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserAccountDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getWorkoutlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postcardioResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookSharing' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='datePerformed' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='calories' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fbShareMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postgpsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distanceUnit' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='distance' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='coordinates' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='altitude' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pauseAfter' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pace' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='calories' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='speed' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='offSetMin' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookSharing' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='datePerformed' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='calories' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fbShareMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='poststrengthResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='intensity' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='duration' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='weight' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='facebookSharing' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='strengthSets' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='repetitionsCount' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='setNumber' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='resistanceWeight' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='datePerformed' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fbShareMessage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='savePhotoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='emailAddress' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='gender' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nickName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='weight' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='age' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='heightUnit' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='preferredUnit' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='height' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='weightUnit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getEquipmentListRequestMessage' />
  <message name='getEquipmentListResponseMessage'>
    <part name='response' element='tns:getEquipmentListResponse' />
  </message>
  <message name='getGpsResultsRequestMessage'>
    <part name='parameters' element='tns:getGpsResultsParameters' />
  </message>
  <message name='getGpsResultsResponseMessage'>
    <part name='response' element='tns:getGpsResultsResponse' />
  </message>
  <message name='getLifefitnessResultsRequestMessage'>
    <part name='parameters' element='tns:getLifefitnessResultsParameters' />
  </message>
  <message name='getLifefitnessResultsResponseMessage'>
    <part name='response' element='tns:getLifefitnessResultsResponse' />
  </message>
  <message name='getManualCardioResultsRequestMessage'>
    <part name='parameters' element='tns:getManualCardioResultsParameters' />
  </message>
  <message name='getManualCardioResultsResponseMessage'>
    <part name='response' element='tns:getManualCardioResultsResponse' />
  </message>
  <message name='getManualstrengthResultsRequestMessage'>
    <part name='parameters' element='tns:getManualstrengthResultsParameters' />
  </message>
  <message name='getManualstrengthResultsResponseMessage'>
    <part name='response' element='tns:getManualstrengthResultsResponse' />
  </message>
  <message name='getPhotoRequestMessage' />
  <message name='getPhotoResponseMessage'>
    <part name='response' element='tns:getPhotoResponse' />
  </message>
  <message name='getResultsDailyRequestMessage'>
    <part name='parameters' element='tns:getResultsDailyParameters' />
  </message>
  <message name='getResultsDailyResponseMessage'>
    <part name='response' element='tns:getResultsDailyResponse' />
  </message>
  <message name='getResultsWorkoutRequestMessage'>
    <part name='parameters' element='tns:getResultsWorkoutParameters' />
  </message>
  <message name='getResultsWorkoutResponseMessage'>
    <part name='response' element='tns:getResultsWorkoutResponse' />
  </message>
  <message name='getSummaryResultsRequestMessage'>
    <part name='parameters' element='tns:getSummaryResultsParameters' />
  </message>
  <message name='getSummaryResultsResponseMessage'>
    <part name='response' element='tns:getSummaryResultsResponse' />
  </message>
  <message name='getUserAccountDetailsRequestMessage' />
  <message name='getUserAccountDetailsResponseMessage'>
    <part name='response' element='tns:getUserAccountDetailsResponse' />
  </message>
  <message name='getWorkoutlistRequestMessage' />
  <message name='getWorkoutlistResponseMessage'>
    <part name='response' element='tns:getWorkoutlistResponse' />
  </message>
  <message name='postcardioRequestMessage' />
  <message name='postcardioResponseMessage'>
    <part name='response' element='tns:postcardioResponse' />
  </message>
  <message name='postgpsRequestMessage' />
  <message name='postgpsResponseMessage'>
    <part name='response' element='tns:postgpsResponse' />
  </message>
  <message name='poststrengthRequestMessage' />
  <message name='poststrengthResponseMessage'>
    <part name='response' element='tns:poststrengthResponse' />
  </message>
  <message name='savePhotoRequestMessage' />
  <message name='savePhotoResponseMessage'>
    <part name='response' element='tns:savePhotoResponse' />
  </message>
  <message name='updateUserRequestMessage' />
  <message name='updateUserResponseMessage'>
    <part name='response' element='tns:updateUserResponse' />
  </message>
  <portType name='lfopenWebPortType'>
    <operation name='getEquipmentList'>
      <documentation>retreives all the equipments available This service retrieves the static values of equipment Ids and equipments These values can be provided as an input to get the User workouts using get workoutlist service The workout results retrieval services holds these values to identify the equipment that the workout has been completed</documentation>
      <input message='tns:getEquipmentListRequestMessage' name='getEquipmentListInput' />
      <output message='tns:getEquipmentListResponseMessage' name='getEquipmentListOutput' />
    </operation>
    <operation name='getGpsResults'>
      <documentation>retrieves Workout results posted by User through GPS between the specified dates</documentation>
      <input message='tns:getGpsResultsRequestMessage' name='getGpsResultsInput' />
      <output message='tns:getGpsResultsResponseMessage' name='getGpsResultsOutput' />
    </operation>
    <operation name='getLifefitnessResults'>
      <documentation></documentation>
      <input message='tns:getLifefitnessResultsRequestMessage' name='getLifefitnessResultsInput' />
      <output message='tns:getLifefitnessResultsResponseMessage' name='getLifefitnessResultsOutput' />
    </operation>
    <operation name='getManualCardioResults'>
      <documentation>retrieves Manual Cardio workout results of User between the specified dates</documentation>
      <input message='tns:getManualCardioResultsRequestMessage' name='getManualCardioResultsInput' />
      <output message='tns:getManualCardioResultsResponseMessage' name='getManualCardioResultsOutput' />
    </operation>
    <operation name='getManualstrengthResults'>
      <documentation>retrieves Manual Strength workout results of User between the specifieddates</documentation>
      <input message='tns:getManualstrengthResultsRequestMessage' name='getManualstrengthResultsInput' />
      <output message='tns:getManualstrengthResultsResponseMessage' name='getManualstrengthResultsOutput' />
    </operation>
    <operation name='getPhoto'>
      <documentation>returns the Profile photo of the LFConnect User related to the Access Token passed</documentation>
      <input message='tns:getPhotoRequestMessage' name='getPhotoInput' />
      <output message='tns:getPhotoResponseMessage' name='getPhotoOutput' />
    </operation>
    <operation name='getResultsDaily'>
      <documentation>retrieves Daily Progress of User between the specified dates</documentation>
      <input message='tns:getResultsDailyRequestMessage' name='getResultsDailyInput' />
      <output message='tns:getResultsDailyResponseMessage' name='getResultsDailyOutput' />
    </operation>
    <operation name='getResultsWorkout'>
      <documentation>retrieves workout progress of User between the specified dates</documentation>
      <input message='tns:getResultsWorkoutRequestMessage' name='getResultsWorkoutInput' />
      <output message='tns:getResultsWorkoutResponseMessage' name='getResultsWorkoutOutput' />
    </operation>
    <operation name='getSummaryResults'>
      <documentation>read current progress information This service provides the progress information like calories duration workout span days and weights lifted per Day Week Month and Year The currDate parameter value passed is considered as the current day till which the progress information is seeked</documentation>
      <input message='tns:getSummaryResultsRequestMessage' name='getSummaryResultsInput' />
      <output message='tns:getSummaryResultsResponseMessage' name='getSummaryResultsOutput' />
    </operation>
    <operation name='getUserAccountDetails'>
      <documentation>retrieves the user account details based on the User access token passed</documentation>
      <input message='tns:getUserAccountDetailsRequestMessage' name='getUserAccountDetailsInput' />
      <output message='tns:getUserAccountDetailsResponseMessage' name='getUserAccountDetailsOutput' />
    </operation>
    <operation name='getWorkoutlist'>
      <documentation>the user creates custom workouts giving specific goals and parameters such as time calories distance This service returns all the workout presets created by the user The user selects any one of the preset in the Lifefitness equipment before starting a workout If the equipmentIds are not mentioned then this returns all the workouts available This details provides the users preference of workouts and might help in suggesting similar workout regimens To provide the value for equipmentIds input the service xx can be used to get the list of predefined equipmentIds and the desired value can be provided</documentation>
      <input message='tns:getWorkoutlistRequestMessage' name='getWorkoutlistInput' />
      <output message='tns:getWorkoutlistResponseMessage' name='getWorkoutlistOutput' />
    </operation>
    <operation name='postcardio'>
      <documentation>store Manual Cardio Workout information i e Cardio workout posted manually rather than through equipment This service saves the Manual Cardio workout information and posts to Facebook if the User has authorized Facebook sharing in his profile with the message specified in facebookShareMsg and the workout information</documentation>
      <input message='tns:postcardioRequestMessage' name='postcardioInput' />
      <output message='tns:postcardioResponseMessage' name='postcardioOutput' />
    </operation>
    <operation name='postgps'>
      <documentation>saves the GPS workout information This service saves the GPS information and posts to Facebook if the User has authorized Facebook sharing in his profile with the message specified in facebookShareMsg and the workout information</documentation>
      <input message='tns:postgpsRequestMessage' name='postgpsInput' />
      <output message='tns:postgpsResponseMessage' name='postgpsOutput' />
    </operation>
    <operation name='poststrength'>
      <documentation>store Manual Strength Workout information i e Strength workout posted manually rather than through equipment This service saves the Manual Strength workout information and posts to Facebook if the User has authorized Facebook sharing in his profile with the message specified in facebookShareMsg and the workout information</documentation>
      <input message='tns:poststrengthRequestMessage' name='poststrengthInput' />
      <output message='tns:poststrengthResponseMessage' name='poststrengthOutput' />
    </operation>
    <operation name='savePhoto'>
      <documentation></documentation>
      <input message='tns:savePhotoRequestMessage' name='savePhotoInput' />
      <output message='tns:savePhotoResponseMessage' name='savePhotoOutput' />
    </operation>
    <operation name='updateUser'>
      <documentation></documentation>
      <input message='tns:updateUserRequestMessage' name='updateUserInput' />
      <output message='tns:updateUserResponseMessage' name='updateUserOutput' />
    </operation>
  </portType>
  <binding name='lfopenWebBinding' type='tns:lfopenWebPortType'>
    <operation name='getEquipmentList'>
      <soap12:operation soapAction='http://getEquipmentList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getGpsResults'>
      <soap12:operation soapAction='http://getGpsResults' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLifefitnessResults'>
      <soap12:operation soapAction='http://getLifefitnessResults' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getManualCardioResults'>
      <soap12:operation soapAction='http://getManualCardioResults' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getManualstrengthResults'>
      <soap12:operation soapAction='http://getManualstrengthResults' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPhoto'>
      <soap12:operation soapAction='http://getPhoto' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getResultsDaily'>
      <soap12:operation soapAction='http://getResultsDaily' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getResultsWorkout'>
      <soap12:operation soapAction='http://getResultsWorkout' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSummaryResults'>
      <soap12:operation soapAction='http://getSummaryResults' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserAccountDetails'>
      <soap12:operation soapAction='http://getUserAccountDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getWorkoutlist'>
      <soap12:operation soapAction='http://getWorkoutlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postcardio'>
      <soap12:operation soapAction='http://postcardio' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postgps'>
      <soap12:operation soapAction='http://postgps' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='poststrength'>
      <soap12:operation soapAction='http://poststrength' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='savePhoto'>
      <soap12:operation soapAction='http://savePhoto' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateUser'>
      <soap12:operation soapAction='http://updateUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='lfopenWeb'>
    <documentation>at Life Fitness we commit to providing the best exercising experience by empowering others With LFopen developers and fitness facility owners can access the Life Fitness Application Programming Interfaces API to be able to extend the functionali</documentation>
    <port name='lfopenWebPort' binding='tns:lfopenWebBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://lfopenWeb' />
    </port>
  </service>
</definitions>