workspace/datasets/mashape_dataset/lingulab.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/lingulab/' name='lingulab' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/lingulab/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/lingulab/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/lingulab/'>
      <xsd:element name='addToIgnoreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getConfigurationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getHelpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getKeywordItemsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLanguagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModuleItemsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultAdvResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUpdatedTextResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getWcagResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loginResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='processTextAdvResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='processTextForOfficeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='processtextResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='validateAuthenticationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addToIgnoreRequestMessage' />
  <message name='addToIgnoreResponseMessage'>
    <part name='response' element='tns:addToIgnoreResponse' />
  </message>
  <message name='getConfigurationsRequestMessage' />
  <message name='getConfigurationsResponseMessage'>
    <part name='response' element='tns:getConfigurationsResponse' />
  </message>
  <message name='getHelpRequestMessage' />
  <message name='getHelpResponseMessage'>
    <part name='response' element='tns:getHelpResponse' />
  </message>
  <message name='getKeywordItemsRequestMessage' />
  <message name='getKeywordItemsResponseMessage'>
    <part name='response' element='tns:getKeywordItemsResponse' />
  </message>
  <message name='getLanguagesRequestMessage' />
  <message name='getLanguagesResponseMessage'>
    <part name='response' element='tns:getLanguagesResponse' />
  </message>
  <message name='getModuleItemsRequestMessage' />
  <message name='getModuleItemsResponseMessage'>
    <part name='response' element='tns:getModuleItemsResponse' />
  </message>
  <message name='getResultRequestMessage' />
  <message name='getResultResponseMessage'>
    <part name='response' element='tns:getResultResponse' />
  </message>
  <message name='getResultAdvRequestMessage' />
  <message name='getResultAdvResponseMessage'>
    <part name='response' element='tns:getResultAdvResponse' />
  </message>
  <message name='getUpdatedTextRequestMessage' />
  <message name='getUpdatedTextResponseMessage'>
    <part name='response' element='tns:getUpdatedTextResponse' />
  </message>
  <message name='getUserDataRequestMessage' />
  <message name='getUserDataResponseMessage'>
    <part name='response' element='tns:getUserDataResponse' />
  </message>
  <message name='getWcagRequestMessage' />
  <message name='getWcagResponseMessage'>
    <part name='response' element='tns:getWcagResponse' />
  </message>
  <message name='loginRequestMessage' />
  <message name='loginResponseMessage'>
    <part name='response' element='tns:loginResponse' />
  </message>
  <message name='processTextAdvRequestMessage' />
  <message name='processTextAdvResponseMessage'>
    <part name='response' element='tns:processTextAdvResponse' />
  </message>
  <message name='processTextForOfficeRequestMessage' />
  <message name='processTextForOfficeResponseMessage'>
    <part name='response' element='tns:processTextForOfficeResponse' />
  </message>
  <message name='processtextRequestMessage' />
  <message name='processtextResponseMessage'>
    <part name='response' element='tns:processtextResponse' />
  </message>
  <message name='validateAuthenticationRequestMessage' />
  <message name='validateAuthenticationResponseMessage'>
    <part name='response' element='tns:validateAuthenticationResponse' />
  </message>
  <portType name='lingulabPortType'>
    <operation name='addToIgnore'>
      <documentation>add To Ignore</documentation>
      <input message='tns:addToIgnoreRequestMessage' name='addToIgnoreInput' />
      <output message='tns:addToIgnoreResponseMessage' name='addToIgnoreOutput' />
    </operation>
    <operation name='getConfigurations'>
      <documentation>get Configurations</documentation>
      <input message='tns:getConfigurationsRequestMessage' name='getConfigurationsInput' />
      <output message='tns:getConfigurationsResponseMessage' name='getConfigurationsOutput' />
    </operation>
    <operation name='getHelp'>
      <documentation>get Help</documentation>
      <input message='tns:getHelpRequestMessage' name='getHelpInput' />
      <output message='tns:getHelpResponseMessage' name='getHelpOutput' />
    </operation>
    <operation name='getKeywordItems'>
      <documentation>get Keyword Items</documentation>
      <input message='tns:getKeywordItemsRequestMessage' name='getKeywordItemsInput' />
      <output message='tns:getKeywordItemsResponseMessage' name='getKeywordItemsOutput' />
    </operation>
    <operation name='getLanguages'>
      <documentation>get Languages</documentation>
      <input message='tns:getLanguagesRequestMessage' name='getLanguagesInput' />
      <output message='tns:getLanguagesResponseMessage' name='getLanguagesOutput' />
    </operation>
    <operation name='getModuleItems'>
      <documentation>get Module Items</documentation>
      <input message='tns:getModuleItemsRequestMessage' name='getModuleItemsInput' />
      <output message='tns:getModuleItemsResponseMessage' name='getModuleItemsOutput' />
    </operation>
    <operation name='getResult'>
      <documentation>get Result</documentation>
      <input message='tns:getResultRequestMessage' name='getResultInput' />
      <output message='tns:getResultResponseMessage' name='getResultOutput' />
    </operation>
    <operation name='getResultAdv'>
      <documentation>get Result Adv</documentation>
      <input message='tns:getResultAdvRequestMessage' name='getResultAdvInput' />
      <output message='tns:getResultAdvResponseMessage' name='getResultAdvOutput' />
    </operation>
    <operation name='getUpdatedText'>
      <documentation>get Updated Text</documentation>
      <input message='tns:getUpdatedTextRequestMessage' name='getUpdatedTextInput' />
      <output message='tns:getUpdatedTextResponseMessage' name='getUpdatedTextOutput' />
    </operation>
    <operation name='getUserData'>
      <documentation>get User Data</documentation>
      <input message='tns:getUserDataRequestMessage' name='getUserDataInput' />
      <output message='tns:getUserDataResponseMessage' name='getUserDataOutput' />
    </operation>
    <operation name='getWcag'>
      <documentation>get Wcag</documentation>
      <input message='tns:getWcagRequestMessage' name='getWcagInput' />
      <output message='tns:getWcagResponseMessage' name='getWcagOutput' />
    </operation>
    <operation name='login'>
      <documentation>login into the application to authentication key from the Lingulab</documentation>
      <input message='tns:loginRequestMessage' name='loginInput' />
      <output message='tns:loginResponseMessage' name='loginOutput' />
    </operation>
    <operation name='processTextAdv'>
      <documentation>process Text Adv</documentation>
      <input message='tns:processTextAdvRequestMessage' name='processTextAdvInput' />
      <output message='tns:processTextAdvResponseMessage' name='processTextAdvOutput' />
    </operation>
    <operation name='processTextForOffice'>
      <documentation>process Text For Office</documentation>
      <input message='tns:processTextForOfficeRequestMessage' name='processTextForOfficeInput' />
      <output message='tns:processTextForOfficeResponseMessage' name='processTextForOfficeOutput' />
    </operation>
    <operation name='processtext'>
      <documentation>process Text</documentation>
      <input message='tns:processtextRequestMessage' name='processtextInput' />
      <output message='tns:processtextResponseMessage' name='processtextOutput' />
    </operation>
    <operation name='validateAuthentication'>
      <documentation>validate Authentication</documentation>
      <input message='tns:validateAuthenticationRequestMessage' name='validateAuthenticationInput' />
      <output message='tns:validateAuthenticationResponseMessage' name='validateAuthenticationOutput' />
    </operation>
  </portType>
  <binding name='lingulabBinding' type='tns:lingulabPortType'>
    <operation name='addToIgnore'>
      <soap12:operation soapAction='http://addToIgnore' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getConfigurations'>
      <soap12:operation soapAction='http://getConfigurations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getHelp'>
      <soap12:operation soapAction='http://getHelp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getKeywordItems'>
      <soap12:operation soapAction='http://getKeywordItems' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLanguages'>
      <soap12:operation soapAction='http://getLanguages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getModuleItems'>
      <soap12:operation soapAction='http://getModuleItems' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getResult'>
      <soap12:operation soapAction='http://getResult' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getResultAdv'>
      <soap12:operation soapAction='http://getResultAdv' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUpdatedText'>
      <soap12:operation soapAction='http://getUpdatedText' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserData'>
      <soap12:operation soapAction='http://getUserData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getWcag'>
      <soap12:operation soapAction='http://getWcag' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='login'>
      <soap12:operation soapAction='http://login' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='processTextAdv'>
      <soap12:operation soapAction='http://processTextAdv' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='processTextForOffice'>
      <soap12:operation soapAction='http://processTextForOffice' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='processtext'>
      <soap12:operation soapAction='http://processtext' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='validateAuthentication'>
      <soap12:operation soapAction='http://validateAuthentication' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='lingulab'>
    <documentation>have fun optimizing your content with LinguLab Understandable and to the point Based on scientific criteria LinguLab verifies the understandability of your content You get wording suggestions that you can accept with one single click Impress with structure Get your content into perfect shape So you attract the attention of your readers and leave a positive impression at first glance Content for readers and machines Optimize your texts on the fly with up to three keywords Save time and money for subsequent SEO campaigns</documentation>
    <port name='lingulabPort' binding='tns:lingulabBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://lingulab' />
    </port>
  </service>
</definitions>