workspace/datasets/mashape_dataset/liveaddressaddressverification.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/liveaddressAddressVerification/' name='liveaddressAddressVerification' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/liveaddressAddressVerification/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/liveaddressAddressVerification/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/liveaddressAddressVerification/'>
      <xsd:element name='multipleStreetAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='last_line' type='xsd:string' minOccurs='0' />
                  <xsd:element name='components' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='city_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='primary_number' type='xsd:int' minOccurs='0' />
                        <xsd:element name='delivery_point_check_digit' type='xsd:int' minOccurs='0' />
                        <xsd:element name='delivery_point' type='xsd:int' minOccurs='0' />
                        <xsd:element name='state_abbreviation' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='plus4_code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='street_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='street_suffix' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='metadata' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='congressional_district' type='xsd:int' minOccurs='0' />
                        <xsd:element name='county_fips' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rdi' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='precision' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='county_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='building_default_indicator' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='record_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='carrier_route' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='candidate_index' type='xsd:int' minOccurs='0' />
                  <xsd:element name='delivery_point_barcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='delivery_line_1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='analysis' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='dpv_match_code' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='dpv_vacant' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='active' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='dpv_cmra' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='footnotes' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='dpv_footnotes' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='input_index' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='singleStreetAddressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='addressee' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='candidates' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='inputid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastline' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='secondary' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='street' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='street' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='urbanization' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zipcode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='singleStreetAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='last_line' type='xsd:string' minOccurs='0' />
                  <xsd:element name='components' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='city_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='primary_number' type='xsd:int' minOccurs='0' />
                        <xsd:element name='delivery_point_check_digit' type='xsd:int' minOccurs='0' />
                        <xsd:element name='delivery_point' type='xsd:int' minOccurs='0' />
                        <xsd:element name='state_abbreviation' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='plus4_code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='street_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='street_suffix' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='metadata' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='congressional_district' type='xsd:int' minOccurs='0' />
                        <xsd:element name='county_fips' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rdi' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='precision' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='county_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='building_default_indicator' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='record_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='carrier_route' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='candidate_index' type='xsd:int' minOccurs='0' />
                  <xsd:element name='delivery_point_barcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='delivery_line_1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='analysis' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='dpv_match_code' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='dpv_vacant' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='active' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='dpv_cmra' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='footnotes' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='dpv_footnotes' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='input_index' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='multipleStreetAddressRequestMessage' />
  <message name='multipleStreetAddressResponseMessage'>
    <part name='response' element='tns:multipleStreetAddressResponse' />
  </message>
  <message name='singleStreetAddressRequestMessage'>
    <part name='parameters' element='tns:singleStreetAddressParameters' />
  </message>
  <message name='singleStreetAddressResponseMessage'>
    <part name='response' element='tns:singleStreetAddressResponse' />
  </message>
  <portType name='liveaddressAddressVerificationPortType'>
    <operation name='multipleStreetAddress'>
      <documentation></documentation>
      <input message='tns:multipleStreetAddressRequestMessage' name='multipleStreetAddressInput' />
      <output message='tns:multipleStreetAddressResponseMessage' name='multipleStreetAddressOutput' />
    </operation>
    <operation name='singleStreetAddress'>
      <documentation>easily verify a single street address</documentation>
      <input message='tns:singleStreetAddressRequestMessage' name='singleStreetAddressInput' />
      <output message='tns:singleStreetAddressResponseMessage' name='singleStreetAddressOutput' />
    </operation>
  </portType>
  <binding name='liveaddressAddressVerificationBinding' type='tns:liveaddressAddressVerificationPortType'>
    <operation name='multipleStreetAddress'>
      <soap12:operation soapAction='http://multipleStreetAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='singleStreetAddress'>
      <soap12:operation soapAction='http://singleStreetAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='liveaddressAddressVerification'>
    <documentation>verify standardize and validate US street addresses</documentation>
    <port name='liveaddressAddressVerificationPort' binding='tns:liveaddressAddressVerificationBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://liveaddressAddressVerification' />
    </port>
  </service>
</definitions>