workspace/datasets/mashape_dataset/locations.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/locations/' name='locations' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/locations/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/locations/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/locations/'>
      <xsd:element name='locationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='long' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='radius' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='locationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='label' type='xsd:string' minOccurs='0' />
            <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='locationsRequestMessage'>
    <part name='parameters' element='tns:locationsParameters' />
  </message>
  <message name='locationsResponseMessage'>
    <part name='response' element='tns:locationsResponse' />
  </message>
  <portType name='locationsPortType'>
    <operation name='locations'>
      <documentation>locations near a coordinate latitude longitude</documentation>
      <input message='tns:locationsRequestMessage' name='locationsInput' />
      <output message='tns:locationsResponseMessage' name='locationsOutput' />
    </operation>
  </portType>
  <binding name='locationsBinding' type='tns:locationsPortType'>
    <operation name='locations'>
      <soap12:operation soapAction='http://locations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='locations'>
    <documentation>this api allows users to retrieve locations nearby a specific coordinate latitude longitude in the language that most suites them</documentation>
    <port name='locationsPort' binding='tns:locationsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://locations' />
    </port>
  </service>
</definitions>