workspace/datasets/mashape_dataset/loginradius.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/loginradius/' name='loginradius' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/loginradius/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/loginradius/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/loginradius/'>
      <xsd:element name='contactNetworkApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='secret' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contactNetworkApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errormessage' type='xsd:string' minOccurs='0' />
            <xsd:element name='errordescription' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errorcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='isformprovider' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='directMessageApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='secret' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='directMessageApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='facebookEventsApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='secret' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='facebookEventsApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errormessage' type='xsd:string' minOccurs='0' />
            <xsd:element name='errordescription' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errorcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='isformprovider' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='facebookGroupsApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='secret' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='facebookGroupsApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errormessage' type='xsd:string' minOccurs='0' />
            <xsd:element name='errordescription' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errorcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='isformprovider' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='facebookPostsApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='secret' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='facebookPostsApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errormessage' type='xsd:string' minOccurs='0' />
            <xsd:element name='errordescription' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errorcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='isformprovider' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linkedinFollowedCompaniesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='secret' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linkedinFollowedCompaniesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errormessage' type='xsd:string' minOccurs='0' />
            <xsd:element name='errordescription' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errorcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='isformprovider' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='statusUpdateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='secret' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='statusUpdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='twitterMentionsApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='secret' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='twitterMentionsApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errormessage' type='xsd:string' minOccurs='0' />
            <xsd:element name='errordescription' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errorcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='isformprovider' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userProfileApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='secret' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userProfileApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='errormessage' type='xsd:string' minOccurs='0' />
            <xsd:element name='errordescription' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errorcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='isformprovider' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='contactNetworkApiRequestMessage'>
    <part name='parameters' element='tns:contactNetworkApiParameters' />
  </message>
  <message name='contactNetworkApiResponseMessage'>
    <part name='response' element='tns:contactNetworkApiResponse' />
  </message>
  <message name='directMessageApiRequestMessage'>
    <part name='parameters' element='tns:directMessageApiParameters' />
  </message>
  <message name='directMessageApiResponseMessage'>
    <part name='response' element='tns:directMessageApiResponse' />
  </message>
  <message name='facebookEventsApiRequestMessage'>
    <part name='parameters' element='tns:facebookEventsApiParameters' />
  </message>
  <message name='facebookEventsApiResponseMessage'>
    <part name='response' element='tns:facebookEventsApiResponse' />
  </message>
  <message name='facebookGroupsApiRequestMessage'>
    <part name='parameters' element='tns:facebookGroupsApiParameters' />
  </message>
  <message name='facebookGroupsApiResponseMessage'>
    <part name='response' element='tns:facebookGroupsApiResponse' />
  </message>
  <message name='facebookPostsApiRequestMessage'>
    <part name='parameters' element='tns:facebookPostsApiParameters' />
  </message>
  <message name='facebookPostsApiResponseMessage'>
    <part name='response' element='tns:facebookPostsApiResponse' />
  </message>
  <message name='linkedinFollowedCompaniesRequestMessage'>
    <part name='parameters' element='tns:linkedinFollowedCompaniesParameters' />
  </message>
  <message name='linkedinFollowedCompaniesResponseMessage'>
    <part name='response' element='tns:linkedinFollowedCompaniesResponse' />
  </message>
  <message name='statusUpdateRequestMessage'>
    <part name='parameters' element='tns:statusUpdateParameters' />
  </message>
  <message name='statusUpdateResponseMessage'>
    <part name='response' element='tns:statusUpdateResponse' />
  </message>
  <message name='twitterMentionsApiRequestMessage'>
    <part name='parameters' element='tns:twitterMentionsApiParameters' />
  </message>
  <message name='twitterMentionsApiResponseMessage'>
    <part name='response' element='tns:twitterMentionsApiResponse' />
  </message>
  <message name='userProfileApiRequestMessage'>
    <part name='parameters' element='tns:userProfileApiParameters' />
  </message>
  <message name='userProfileApiResponseMessage'>
    <part name='response' element='tns:userProfileApiResponse' />
  </message>
  <portType name='loginradiusPortType'>
    <operation name='contactNetworkApi'>
      <documentation>this API is use to get contacts network data for user s social account This API is only supported by oAuth ID providers such as Facebook LinkedIn Twitter Google Yahoo MSN API help Endpoint https hub loginradius com contacts help</documentation>
      <input message='tns:contactNetworkApiRequestMessage' name='contactNetworkApiInput' />
      <output message='tns:contactNetworkApiResponseMessage' name='contactNetworkApiOutput' />
    </operation>
    <operation name='directMessageApi'>
      <documentation>direct Message API API help Endpoint https hub loginradius com directmessage help</documentation>
      <input message='tns:directMessageApiRequestMessage' name='directMessageApiInput' />
      <output message='tns:directMessageApiResponseMessage' name='directMessageApiOutput' />
    </operation>
    <operation name='facebookEventsApi'>
      <documentation>facebook Events API API help Endpoint https hub loginradius com GetEvents help</documentation>
      <input message='tns:facebookEventsApiRequestMessage' name='facebookEventsApiInput' />
      <output message='tns:facebookEventsApiResponseMessage' name='facebookEventsApiOutput' />
    </operation>
    <operation name='facebookGroupsApi'>
      <documentation>facebook Groups API API help Endpoint https hub loginradius com GetGroups help</documentation>
      <input message='tns:facebookGroupsApiRequestMessage' name='facebookGroupsApiInput' />
      <output message='tns:facebookGroupsApiResponseMessage' name='facebookGroupsApiOutput' />
    </operation>
    <operation name='facebookPostsApi'>
      <documentation>facebook Posts API API help Endpoint https hub loginradius com GetPosts help</documentation>
      <input message='tns:facebookPostsApiRequestMessage' name='facebookPostsApiInput' />
      <output message='tns:facebookPostsApiResponseMessage' name='facebookPostsApiOutput' />
    </operation>
    <operation name='linkedinFollowedCompanies'>
      <documentation>companies followed in LinkedIn API API help Endpoint https hub loginradius com GetCompany help</documentation>
      <input message='tns:linkedinFollowedCompaniesRequestMessage' name='linkedinFollowedCompaniesInput' />
      <output message='tns:linkedinFollowedCompaniesResponseMessage' name='linkedinFollowedCompaniesOutput' />
    </operation>
    <operation name='statusUpdate'>
      <documentation>status Update API help Endpoint https hub loginradius com status help</documentation>
      <input message='tns:statusUpdateRequestMessage' name='statusUpdateInput' />
      <output message='tns:statusUpdateResponseMessage' name='statusUpdateOutput' />
    </operation>
    <operation name='twitterMentionsApi'>
      <documentation>twitter mentions API API help Endpoint https hub loginradius com status help</documentation>
      <input message='tns:twitterMentionsApiRequestMessage' name='twitterMentionsApiInput' />
      <output message='tns:twitterMentionsApiResponseMessage' name='twitterMentionsApiOutput' />
    </operation>
    <operation name='userProfileApi'>
      <documentation>this API is use to get the social profile data from user s social account after authentication The social profile will be retrieved via oAuth and OpenID protocols The data would be normalized into LoginRadius s JSON format API help Endpoint https hub loginradius com userprofile help</documentation>
      <input message='tns:userProfileApiRequestMessage' name='userProfileApiInput' />
      <output message='tns:userProfileApiResponseMessage' name='userProfileApiOutput' />
    </operation>
  </portType>
  <binding name='loginradiusBinding' type='tns:loginradiusPortType'>
    <operation name='contactNetworkApi'>
      <soap12:operation soapAction='http://contactNetworkApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='directMessageApi'>
      <soap12:operation soapAction='http://directMessageApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='facebookEventsApi'>
      <soap12:operation soapAction='http://facebookEventsApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='facebookGroupsApi'>
      <soap12:operation soapAction='http://facebookGroupsApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='facebookPostsApi'>
      <soap12:operation soapAction='http://facebookPostsApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='linkedinFollowedCompanies'>
      <soap12:operation soapAction='http://linkedinFollowedCompanies' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='statusUpdate'>
      <soap12:operation soapAction='http://statusUpdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='twitterMentionsApi'>
      <soap12:operation soapAction='http://twitterMentionsApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userProfileApi'>
      <soap12:operation soapAction='http://userProfileApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='loginradius'>
    <documentation>loginRadius is one simplified API for popular ID providers such as Facebook Google Twitter LinkedIn Amazon etc LoginRadius unified API websites can quickly integrate multiple social networks and no need to worry about the maintenance and changes with provider s API LoginRadius technology has made it possible to aggregate the data sets and unify the protocols OpenID and oAuth into one API</documentation>
    <port name='loginradiusPort' binding='tns:loginradiusBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://loginradius' />
    </port>
  </service>
</definitions>