workspace/datasets/mashape_dataset/logograblogodetectionengine.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/logograbLogoDetectionEngine/' name='logograbLogoDetectionEngine' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/logograbLogoDetectionEngine/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/logograbLogoDetectionEngine/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/logograbLogoDetectionEngine/'>
      <xsd:element name='detectlogosParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='detectlogosbrandids' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='detectlogosminimumdetectionarea' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='imageurl' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectlogosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='validationFlags' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='validated' type='xsd:int' minOccurs='0' />
                  <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='coordinates' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='iconUrl' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getactivebrandsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='logoVersions' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='iconUrl' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='iconUrl' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='detectlogosRequestMessage'>
    <part name='parameters' element='tns:detectlogosParameters' />
  </message>
  <message name='detectlogosResponseMessage'>
    <part name='response' element='tns:detectlogosResponse' />
  </message>
  <message name='getactivebrandsRequestMessage' />
  <message name='getactivebrandsResponseMessage'>
    <part name='response' element='tns:getactivebrandsResponse' />
  </message>
  <portType name='logograbLogoDetectionEnginePortType'>
    <operation name='detectlogos'>
      <documentation>performs logo detection on a query image Please read carefully the description of each parameter to optimize the system depending on your requirements The image can be given as a multipart upload see imageFile OR as an URL see imageUrl Currently supported format is JPG Image resolution is capped at Megapixels everything larger than that will be rescaled prior to processing</documentation>
      <input message='tns:detectlogosRequestMessage' name='detectlogosInput' />
      <output message='tns:detectlogosResponseMessage' name='detectlogosOutput' />
    </operation>
    <operation name='getactivebrands'>
      <documentation>returns the list of brands that are currently active on LogoGrab You can detect the presence of any of these brands in your images by using the id field as input to detectLogos Please note each brand might have multiple versions of its logos you can find a thumbnail for each logo version in the field logoVersions</documentation>
      <input message='tns:getactivebrandsRequestMessage' name='getactivebrandsInput' />
      <output message='tns:getactivebrandsResponseMessage' name='getactivebrandsOutput' />
    </operation>
  </portType>
  <binding name='logograbLogoDetectionEngineBinding' type='tns:logograbLogoDetectionEnginePortType'>
    <operation name='detectlogos'>
      <soap12:operation soapAction='http://detectlogos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getactivebrands'>
      <soap12:operation soapAction='http://getactivebrands' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='logograbLogoDetectionEngine'>
    <documentation>this API allows you to access our state of the art image recognition engine for logo detection Activate your free API key at logograb com register Your query images are going to be tested against all logos in our ever growing database If you want to suggest a missing logo our just upload your own you can do so after logging in at logograb com login in the Your Brands section In order for the logo to be detected it must cover at least from to of the query image surface depending on the type of logo If you need to detect even smaller logos contact us for a customized solution We ll be rolling out new features soon multiple logos per image detection bounding box etc so stay tuned</documentation>
    <port name='logograbLogoDetectionEnginePort' binding='tns:logograbLogoDetectionEngineBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://logograbLogoDetectionEngine' />
    </port>
  </service>
</definitions>