workspace/datasets/mashape_dataset/lolwt.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/lolwt/' name='lolwt' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/lolwt/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/lolwt/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/lolwt/'>
      <xsd:element name='getchampionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='argument' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getchampionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getchampionspellParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='argument' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getchampionspellResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getitemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='argument' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getitemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlanguageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlanguageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlistofParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='argument' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlistofResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmasteryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='argument' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmasteryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getruneParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='argument' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getruneResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsummonerspellParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='argument' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsummonerspellResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='versionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='langue' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='versionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getchampionRequestMessage'>
    <part name='parameters' element='tns:getchampionParameters' />
  </message>
  <message name='getchampionResponseMessage'>
    <part name='response' element='tns:getchampionResponse' />
  </message>
  <message name='getchampionspellRequestMessage'>
    <part name='parameters' element='tns:getchampionspellParameters' />
  </message>
  <message name='getchampionspellResponseMessage'>
    <part name='response' element='tns:getchampionspellResponse' />
  </message>
  <message name='getitemRequestMessage'>
    <part name='parameters' element='tns:getitemParameters' />
  </message>
  <message name='getitemResponseMessage'>
    <part name='response' element='tns:getitemResponse' />
  </message>
  <message name='getlanguageRequestMessage'>
    <part name='parameters' element='tns:getlanguageParameters' />
  </message>
  <message name='getlanguageResponseMessage'>
    <part name='response' element='tns:getlanguageResponse' />
  </message>
  <message name='getlistofRequestMessage'>
    <part name='parameters' element='tns:getlistofParameters' />
  </message>
  <message name='getlistofResponseMessage'>
    <part name='response' element='tns:getlistofResponse' />
  </message>
  <message name='getmasteryRequestMessage'>
    <part name='parameters' element='tns:getmasteryParameters' />
  </message>
  <message name='getmasteryResponseMessage'>
    <part name='response' element='tns:getmasteryResponse' />
  </message>
  <message name='getruneRequestMessage'>
    <part name='parameters' element='tns:getruneParameters' />
  </message>
  <message name='getruneResponseMessage'>
    <part name='response' element='tns:getruneResponse' />
  </message>
  <message name='getsummonerspellRequestMessage'>
    <part name='parameters' element='tns:getsummonerspellParameters' />
  </message>
  <message name='getsummonerspellResponseMessage'>
    <part name='response' element='tns:getsummonerspellResponse' />
  </message>
  <message name='versionRequestMessage'>
    <part name='parameters' element='tns:versionParameters' />
  </message>
  <message name='versionResponseMessage'>
    <part name='response' element='tns:versionResponse' />
  </message>
  <portType name='lolwtPortType'>
    <operation name='getchampion'>
      <documentation></documentation>
      <input message='tns:getchampionRequestMessage' name='getchampionInput' />
      <output message='tns:getchampionResponseMessage' name='getchampionOutput' />
    </operation>
    <operation name='getchampionspell'>
      <documentation></documentation>
      <input message='tns:getchampionspellRequestMessage' name='getchampionspellInput' />
      <output message='tns:getchampionspellResponseMessage' name='getchampionspellOutput' />
    </operation>
    <operation name='getitem'>
      <documentation>to get all data about an Item</documentation>
      <input message='tns:getitemRequestMessage' name='getitemInput' />
      <output message='tns:getitemResponseMessage' name='getitemOutput' />
    </operation>
    <operation name='getlanguage'>
      <documentation>return the language Json of League of Legends in language specified</documentation>
      <input message='tns:getlanguageRequestMessage' name='getlanguageInput' />
      <output message='tns:getlanguageResponseMessage' name='getlanguageOutput' />
    </operation>
    <operation name='getlistof'>
      <documentation>obtain list of type specified</documentation>
      <input message='tns:getlistofRequestMessage' name='getlistofInput' />
      <output message='tns:getlistofResponseMessage' name='getlistofOutput' />
    </operation>
    <operation name='getmastery'>
      <documentation></documentation>
      <input message='tns:getmasteryRequestMessage' name='getmasteryInput' />
      <output message='tns:getmasteryResponseMessage' name='getmasteryOutput' />
    </operation>
    <operation name='getrune'>
      <documentation></documentation>
      <input message='tns:getruneRequestMessage' name='getruneInput' />
      <output message='tns:getruneResponseMessage' name='getruneOutput' />
    </operation>
    <operation name='getsummonerspell'>
      <documentation></documentation>
      <input message='tns:getsummonerspellRequestMessage' name='getsummonerspellInput' />
      <output message='tns:getsummonerspellResponseMessage' name='getsummonerspellOutput' />
    </operation>
    <operation name='version'>
      <documentation>to obtain version of each type of Json data</documentation>
      <input message='tns:versionRequestMessage' name='versionInput' />
      <output message='tns:versionResponseMessage' name='versionOutput' />
    </operation>
  </portType>
  <binding name='lolwtBinding' type='tns:lolwtPortType'>
    <operation name='getchampion'>
      <soap12:operation soapAction='http://getchampion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getchampionspell'>
      <soap12:operation soapAction='http://getchampionspell' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getitem'>
      <soap12:operation soapAction='http://getitem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getlanguage'>
      <soap12:operation soapAction='http://getlanguage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getlistof'>
      <soap12:operation soapAction='http://getlistof' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getmastery'>
      <soap12:operation soapAction='http://getmastery' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getrune'>
      <soap12:operation soapAction='http://getrune' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsummonerspell'>
      <soap12:operation soapAction='http://getsummonerspell' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='version'>
      <soap12:operation soapAction='http://version' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='lolwt'>
    <documentation>loLWT API for League of Legends LoLWT API provides you data from RIOT League of Legends Features List of all types supported Languages Items Summoner spells Champions Champions spells Masteries Runes Profile icons GetJson data of Item Mastery Rune Champion Summoner spell Champion spell Profile icon Languages French English Deutsch Espa ol Italiano LoLWT Api also gives u LoLWT Tags and LoLWT div way to use my javascript LoLWT script see demo on http www xrecasens info informatique lol webmaster tooltip lolwt</documentation>
    <port name='lolwtPort' binding='tns:lolwtBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://lolwt' />
    </port>
  </service>
</definitions>