workspace/datasets/mashape_dataset/loveasaservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/loveAsAService/' name='loveAsAService' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/loveAsAService/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/loveAsAService/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/loveAsAService/'>
      <xsd:element name='crushToFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='crushToFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cuddleToFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cuddleToFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='everyoneFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='everyoneFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='kissToFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='kissToFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='likeToFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='likeToFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loveToFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loveToFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='missToFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='missToFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='replyToFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='replyToFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='requestToFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='requestToFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='snapchatToFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='snapchatToFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='thankWhatFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='what' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='thankWhatFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='thanksgivingToFromParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='thanksgivingToFromResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='crushToFromRequestMessage'>
    <part name='parameters' element='tns:crushToFromParameters' />
  </message>
  <message name='crushToFromResponseMessage'>
    <part name='response' element='tns:crushToFromResponse' />
  </message>
  <message name='cuddleToFromRequestMessage'>
    <part name='parameters' element='tns:cuddleToFromParameters' />
  </message>
  <message name='cuddleToFromResponseMessage'>
    <part name='response' element='tns:cuddleToFromResponse' />
  </message>
  <message name='everyoneFromRequestMessage'>
    <part name='parameters' element='tns:everyoneFromParameters' />
  </message>
  <message name='everyoneFromResponseMessage'>
    <part name='response' element='tns:everyoneFromResponse' />
  </message>
  <message name='kissToFromRequestMessage'>
    <part name='parameters' element='tns:kissToFromParameters' />
  </message>
  <message name='kissToFromResponseMessage'>
    <part name='response' element='tns:kissToFromResponse' />
  </message>
  <message name='likeToFromRequestMessage'>
    <part name='parameters' element='tns:likeToFromParameters' />
  </message>
  <message name='likeToFromResponseMessage'>
    <part name='response' element='tns:likeToFromResponse' />
  </message>
  <message name='loveToFromRequestMessage'>
    <part name='parameters' element='tns:loveToFromParameters' />
  </message>
  <message name='loveToFromResponseMessage'>
    <part name='response' element='tns:loveToFromResponse' />
  </message>
  <message name='missToFromRequestMessage'>
    <part name='parameters' element='tns:missToFromParameters' />
  </message>
  <message name='missToFromResponseMessage'>
    <part name='response' element='tns:missToFromResponse' />
  </message>
  <message name='replyToFromRequestMessage'>
    <part name='parameters' element='tns:replyToFromParameters' />
  </message>
  <message name='replyToFromResponseMessage'>
    <part name='response' element='tns:replyToFromResponse' />
  </message>
  <message name='requestToFromRequestMessage'>
    <part name='parameters' element='tns:requestToFromParameters' />
  </message>
  <message name='requestToFromResponseMessage'>
    <part name='response' element='tns:requestToFromResponse' />
  </message>
  <message name='snapchatToFromRequestMessage'>
    <part name='parameters' element='tns:snapchatToFromParameters' />
  </message>
  <message name='snapchatToFromResponseMessage'>
    <part name='response' element='tns:snapchatToFromResponse' />
  </message>
  <message name='thankWhatFromRequestMessage'>
    <part name='parameters' element='tns:thankWhatFromParameters' />
  </message>
  <message name='thankWhatFromResponseMessage'>
    <part name='response' element='tns:thankWhatFromResponse' />
  </message>
  <message name='thanksgivingToFromRequestMessage'>
    <part name='parameters' element='tns:thanksgivingToFromParameters' />
  </message>
  <message name='thanksgivingToFromResponseMessage'>
    <part name='response' element='tns:thanksgivingToFromResponse' />
  </message>
  <portType name='loveAsAServicePortType'>
    <operation name='crushToFrom'>
      <documentation>will return content in the form I can t keep it in anymore to I have a HUGE crush on you from</documentation>
      <input message='tns:crushToFromRequestMessage' name='crushToFromInput' />
      <output message='tns:crushToFromResponseMessage' name='crushToFromOutput' />
    </operation>
    <operation name='cuddleToFrom'>
      <documentation>will return content in the form I want to cuddle with you so bad to from</documentation>
      <input message='tns:cuddleToFromRequestMessage' name='cuddleToFromInput' />
      <output message='tns:cuddleToFromResponseMessage' name='cuddleToFromOutput' />
    </operation>
    <operation name='everyoneFrom'>
      <documentation>will return content in the form I love everyone from</documentation>
      <input message='tns:everyoneFromRequestMessage' name='everyoneFromInput' />
      <output message='tns:everyoneFromResponseMessage' name='everyoneFromOutput' />
    </operation>
    <operation name='kissToFrom'>
      <documentation>will return content in the form I want to kiss you all over I m so into smooching with you to from</documentation>
      <input message='tns:kissToFromRequestMessage' name='kissToFromInput' />
      <output message='tns:kissToFromResponseMessage' name='kissToFromOutput' />
    </operation>
    <operation name='likeToFrom'>
      <documentation>will return content in the form Hi to I like you like a lot from</documentation>
      <input message='tns:likeToFromRequestMessage' name='likeToFromInput' />
      <output message='tns:likeToFromResponseMessage' name='likeToFromOutput' />
    </operation>
    <operation name='loveToFrom'>
      <documentation>will return content in the form Hi to I love you from</documentation>
      <input message='tns:loveToFromRequestMessage' name='loveToFromInput' />
      <output message='tns:loveToFromResponseMessage' name='loveToFromOutput' />
    </operation>
    <operation name='missToFrom'>
      <documentation>will return content in the form Hi to I miss you so much from</documentation>
      <input message='tns:missToFromRequestMessage' name='missToFromInput' />
      <output message='tns:missToFromResponseMessage' name='missToFromOutput' />
    </operation>
    <operation name='replyToFrom'>
      <documentation>will return content in the form I love you too to from</documentation>
      <input message='tns:replyToFromRequestMessage' name='replyToFromInput' />
      <output message='tns:replyToFromResponseMessage' name='replyToFromOutput' />
    </operation>
    <operation name='requestToFrom'>
      <documentation>will return content in the form Hey to do you love me from</documentation>
      <input message='tns:requestToFromRequestMessage' name='requestToFromInput' />
      <output message='tns:requestToFromResponseMessage' name='requestToFromOutput' />
    </operation>
    <operation name='snapchatToFrom'>
      <documentation>will return content in the form Hi to In the name of love snapchat me from</documentation>
      <input message='tns:snapchatToFromRequestMessage' name='snapchatToFromInput' />
      <output message='tns:snapchatToFromResponseMessage' name='snapchatToFromOutput' />
    </operation>
    <operation name='thankWhatFrom'>
      <documentation>will return content in the form Thank you for what from</documentation>
      <input message='tns:thankWhatFromRequestMessage' name='thankWhatFromInput' />
      <output message='tns:thankWhatFromResponseMessage' name='thankWhatFromOutput' />
    </operation>
    <operation name='thanksgivingToFrom'>
      <documentation>will return content in the form Happy Thanksgiving to from</documentation>
      <input message='tns:thanksgivingToFromRequestMessage' name='thanksgivingToFromInput' />
      <output message='tns:thanksgivingToFromResponseMessage' name='thanksgivingToFromOutput' />
    </operation>
  </portType>
  <binding name='loveAsAServiceBinding' type='tns:loveAsAServicePortType'>
    <operation name='crushToFrom'>
      <soap12:operation soapAction='http://crushToFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cuddleToFrom'>
      <soap12:operation soapAction='http://cuddleToFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='everyoneFrom'>
      <soap12:operation soapAction='http://everyoneFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='kissToFrom'>
      <soap12:operation soapAction='http://kissToFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='likeToFrom'>
      <soap12:operation soapAction='http://likeToFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='loveToFrom'>
      <soap12:operation soapAction='http://loveToFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='missToFrom'>
      <soap12:operation soapAction='http://missToFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='replyToFrom'>
      <soap12:operation soapAction='http://replyToFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='requestToFrom'>
      <soap12:operation soapAction='http://requestToFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='snapchatToFrom'>
      <soap12:operation soapAction='http://snapchatToFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='thankWhatFrom'>
      <soap12:operation soapAction='http://thankWhatFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='thanksgivingToFrom'>
      <soap12:operation soapAction='http://thanksgivingToFrom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='loveAsAService'>
    <documentation>lOVE aas Love As A Service provides a modern RESTful scalable solution to the common problem spreading the love Love As A Service was build out of love as an answer to the Fuck Off As A Service Project</documentation>
    <port name='loveAsAServicePort' binding='tns:loveAsAServiceBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://loveAsAService' />
    </port>
  </service>
</definitions>