workspace/datasets/mashape_dataset/magentolanguageandcurrencyswitcher.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/magentoLanguageAndCurrencySwitcher/' name='magentoLanguageAndCurrencySwitcher' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/magentoLanguageAndCurrencySwitcher/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/magentoLanguageAndCurrencySwitcher/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/magentoLanguageAndCurrencySwitcher/'>
      <xsd:element name='httpWwwMagentocommerceComMagentoConnectGeoIpLanguageCurrencySwitcherHtmlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='httpWwwMagentocommerceComMagentoConnectGeoIpLanguageCurrencySwitcherHtmlRequestMessage' />
  <message name='httpWwwMagentocommerceComMagentoConnectGeoIpLanguageCurrencySwitcherHtmlResponseMessage'>
    <part name='response' element='tns:httpWwwMagentocommerceComMagentoConnectGeoIpLanguageCurrencySwitcherHtmlResponse' />
  </message>
  <portType name='magentoLanguageAndCurrencySwitcherPortType'>
    <operation name='httpWwwMagentocommerceComMagentoConnectGeoIpLanguageCurrencySwitcherHtml'>
      <documentation>automatic Language and Currency Switcher Magento Extension</documentation>
      <input message='tns:httpWwwMagentocommerceComMagentoConnectGeoIpLanguageCurrencySwitcherHtmlRequestMessage' name='httpWwwMagentocommerceComMagentoConnectGeoIpLanguageCurrencySwitcherHtmlInput' />
      <output message='tns:httpWwwMagentocommerceComMagentoConnectGeoIpLanguageCurrencySwitcherHtmlResponseMessage' name='httpWwwMagentocommerceComMagentoConnectGeoIpLanguageCurrencySwitcherHtmlOutput' />
    </operation>
  </portType>
  <binding name='magentoLanguageAndCurrencySwitcherBinding' type='tns:magentoLanguageAndCurrencySwitcherPortType'>
    <operation name='httpWwwMagentocommerceComMagentoConnectGeoIpLanguageCurrencySwitcherHtml'>
      <soap12:operation soapAction='http://httpWwwMagentocommerceComMagentoConnectGeoIpLanguageCurrencySwitcherHtml' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='magentoLanguageAndCurrencySwitcher'>
    <documentation>automatic Language and Currency Switcher FME Magento extension</documentation>
    <port name='magentoLanguageAndCurrencySwitcherPort' binding='tns:magentoLanguageAndCurrencySwitcherBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://magentoLanguageAndCurrencySwitcher' />
    </port>
  </service>
</definitions>