workspace/datasets/mashape_dataset/maileeclientv.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/maileeClientV/' name='maileeClientV' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/maileeClientV/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/maileeClientV/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/maileeClientV/'>
      <xsd:element name='addAContactToAListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addAContactToAListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address' type='xsd:string' minOccurs='0' />
            <xsd:element name='phone' type='xsd:string' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allContactsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='where' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wherecontactstatusid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='whereemail' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wherename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allContactsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='birthday' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='forwarded_by' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='internal_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sex' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='mobile' type='xsd:string' minOccurs='0' />
                  <xsd:element name='photo' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='position' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='age' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='origin_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='errors' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allListsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allListsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='site' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='company' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='errors' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clicksOfAMessageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clicksOfAMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='user_agent_string' type='xsd:string' minOccurs='0' />
                  <xsd:element name='os' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='os_version' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='message_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='contact_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user_agent_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='inner_html' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='message_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='user_agent_version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='browser' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contactsNewResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='birthday' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='forwarded_by' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='internal_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sex' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='mobile' type='xsd:string' minOccurs='0' />
                  <xsd:element name='photo' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='position' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='age' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='origin_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='errors' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAContactResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='birthday' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='forwarded_by' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='internal_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sex' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='mobile' type='xsd:string' minOccurs='0' />
                  <xsd:element name='photo' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='position' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='age' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='origin_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='errors' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address' type='xsd:string' minOccurs='0' />
            <xsd:element name='phone' type='xsd:string' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from_email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='thumb' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='subject' type='xsd:string' minOccurs='0' />
            <xsd:element name='send_when' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='from_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='newsletter_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='analytics' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='send_after' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='reply_email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lists' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lists_contacts_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='facebook' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='active' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deleted_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='client_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='site' type='xsd:string' minOccurs='0' />
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='twitter' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='job_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='company' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='template_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='segment_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createNewTemplateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='thumb' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address' type='xsd:string' minOccurs='0' />
            <xsd:element name='phone' type='xsd:string' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTemplateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTemplateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='thumb' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateTemplateThumbnailParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateTemplateThumbnailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTemplateHtmlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTemplateHtmlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllMessagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllMessagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='from_email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='thumb' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subject' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='send_when' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='from_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='newsletter_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='analytics' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='send_after' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='reply_email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lists' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lists_contacts_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='facebook' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='active' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='deleted_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='client_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='total' type='xsd:int' minOccurs='0' />
                        <xsd:element name='twitter' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='job_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='template_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='segment_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='errors' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllTemplatesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllTemplatesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='thumb' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='errors' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='meResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='credits' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from_email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='thumb' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='subject' type='xsd:string' minOccurs='0' />
            <xsd:element name='send_when' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='from_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='newsletter_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='analytics' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='send_after' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='reply_email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lists' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lists_contacts_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='facebook' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='active' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deleted_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='client_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='site' type='xsd:string' minOccurs='0' />
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='twitter' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='job_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='company' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='template_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='segment_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageReportsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageReportsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message_statistic' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='unsubscribes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='total_opens' type='xsd:int' minOccurs='0' />
                  <xsd:element name='unique_clicks' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_clicks' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='returns' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='newsletter_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='unique_opens' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageSendingStatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageSendingStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='table' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='started_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sent' type='xsd:int' minOccurs='0' />
                  <xsd:element name='percent' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesNewResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from_email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='thumb' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='subject' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='send_when' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='from_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='newsletter_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='analytics' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='send_after' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='reply_email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='template_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='segment_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeAContactFromAListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeAContactFromAListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address' type='xsd:string' minOccurs='0' />
            <xsd:element name='phone' type='xsd:string' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendOrScheduleMessageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendOrScheduleMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTestForMessageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTestForMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTransactionalDeliveryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='templateInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='templateInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='thumb' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='totalActiveContactsOfAListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='totalActiveContactsOfAListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transactionalDeliveriesBounceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transactionalDeliveriesBounceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transactionalDeliveriesBouncesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transactionalDeliveriesBouncesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unsubscribeContactParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unsubscribeContactResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unsubscribesOfAMessageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unsubscribesOfAMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reason' type='xsd:string' minOccurs='0' />
                  <xsd:element name='contact' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='birthday' type='xsd:date' minOccurs='0' />
                        <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                        <xsd:element name='linkedin_followers' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='goodreads_connections' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='origin_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='photo_file_size' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='client_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='plaxo_connections' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='company' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='kscore' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='forwarded_by' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='photo_updated_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address' type='xsd:string' minOccurs='0' />
                        <xsd:element name='internal_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='contact_status_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='import_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sex' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='mobile' type='xsd:string' minOccurs='0' />
                        <xsd:element name='dynamic_values' type='xsd:string' minOccurs='0' />
                        <xsd:element name='linkedin_recomendations' type='xsd:int' minOccurs='0' />
                        <xsd:element name='deleted_at' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='facebook_followers' type='xsd:int' minOccurs='0' />
                        <xsd:element name='twitter_followers' type='xsd:int' minOccurs='0' />
                        <xsd:element name='photo_content_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='skoob_connections' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='photo_file_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='orkut_followers' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='position' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='age' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='spam' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateContactInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateContactInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='birthday' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='forwarded_by' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='internal_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sex' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='mobile' type='xsd:string' minOccurs='0' />
                  <xsd:element name='photo' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='position' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='age' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='origin_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='errors' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateListInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateListInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address' type='xsd:string' minOccurs='0' />
            <xsd:element name='phone' type='xsd:string' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateMessageHtmlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateMessageHtmlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTemplateInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTemplateInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='thumb' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='validKeyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewContactParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewContactResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='birthday' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='forwarded_by' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='internal_id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sex' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='mobile' type='xsd:string' minOccurs='0' />
                  <xsd:element name='photo' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='position' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='age' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='origin_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='errors' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address' type='xsd:string' minOccurs='0' />
            <xsd:element name='phone' type='xsd:string' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewsOfAMessageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewsOfAMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='user_agent_string' type='xsd:string' minOccurs='0' />
                  <xsd:element name='os' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='os_version' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='message_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='contact_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user_agent_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='user_agent_version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='browser' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addAContactToAListRequestMessage'>
    <part name='parameters' element='tns:addAContactToAListParameters' />
  </message>
  <message name='addAContactToAListResponseMessage'>
    <part name='response' element='tns:addAContactToAListResponse' />
  </message>
  <message name='allContactsRequestMessage'>
    <part name='parameters' element='tns:allContactsParameters' />
  </message>
  <message name='allContactsResponseMessage'>
    <part name='response' element='tns:allContactsResponse' />
  </message>
  <message name='allListsRequestMessage'>
    <part name='parameters' element='tns:allListsParameters' />
  </message>
  <message name='allListsResponseMessage'>
    <part name='response' element='tns:allListsResponse' />
  </message>
  <message name='clicksOfAMessageRequestMessage'>
    <part name='parameters' element='tns:clicksOfAMessageParameters' />
  </message>
  <message name='clicksOfAMessageResponseMessage'>
    <part name='response' element='tns:clicksOfAMessageResponse' />
  </message>
  <message name='contactsNewRequestMessage' />
  <message name='contactsNewResponseMessage'>
    <part name='response' element='tns:contactsNewResponse' />
  </message>
  <message name='createAContactRequestMessage' />
  <message name='createAContactResponseMessage'>
    <part name='response' element='tns:createAContactResponse' />
  </message>
  <message name='createAListRequestMessage' />
  <message name='createAListResponseMessage'>
    <part name='response' element='tns:createAListResponse' />
  </message>
  <message name='createMessageRequestMessage' />
  <message name='createMessageResponseMessage'>
    <part name='response' element='tns:createMessageResponse' />
  </message>
  <message name='createNewTemplateRequestMessage' />
  <message name='createNewTemplateResponseMessage'>
    <part name='response' element='tns:createNewTemplateResponse' />
  </message>
  <message name='deleteAListRequestMessage'>
    <part name='parameters' element='tns:deleteAListParameters' />
  </message>
  <message name='deleteAListResponseMessage'>
    <part name='response' element='tns:deleteAListResponse' />
  </message>
  <message name='deleteTemplateRequestMessage'>
    <part name='parameters' element='tns:deleteTemplateParameters' />
  </message>
  <message name='deleteTemplateResponseMessage'>
    <part name='response' element='tns:deleteTemplateResponse' />
  </message>
  <message name='generateTemplateThumbnailRequestMessage'>
    <part name='parameters' element='tns:generateTemplateThumbnailParameters' />
  </message>
  <message name='generateTemplateThumbnailResponseMessage'>
    <part name='response' element='tns:generateTemplateThumbnailResponse' />
  </message>
  <message name='getTemplateHtmlRequestMessage'>
    <part name='parameters' element='tns:getTemplateHtmlParameters' />
  </message>
  <message name='getTemplateHtmlResponseMessage'>
    <part name='response' element='tns:getTemplateHtmlResponse' />
  </message>
  <message name='listAllMessagesRequestMessage'>
    <part name='parameters' element='tns:listAllMessagesParameters' />
  </message>
  <message name='listAllMessagesResponseMessage'>
    <part name='response' element='tns:listAllMessagesResponse' />
  </message>
  <message name='listAllTemplatesRequestMessage'>
    <part name='parameters' element='tns:listAllTemplatesParameters' />
  </message>
  <message name='listAllTemplatesResponseMessage'>
    <part name='response' element='tns:listAllTemplatesResponse' />
  </message>
  <message name='meRequestMessage' />
  <message name='meResponseMessage'>
    <part name='response' element='tns:meResponse' />
  </message>
  <message name='messageInformationRequestMessage'>
    <part name='parameters' element='tns:messageInformationParameters' />
  </message>
  <message name='messageInformationResponseMessage'>
    <part name='response' element='tns:messageInformationResponse' />
  </message>
  <message name='messageReportsRequestMessage'>
    <part name='parameters' element='tns:messageReportsParameters' />
  </message>
  <message name='messageReportsResponseMessage'>
    <part name='response' element='tns:messageReportsResponse' />
  </message>
  <message name='messageSendingStatusRequestMessage'>
    <part name='parameters' element='tns:messageSendingStatusParameters' />
  </message>
  <message name='messageSendingStatusResponseMessage'>
    <part name='response' element='tns:messageSendingStatusResponse' />
  </message>
  <message name='messagesNewRequestMessage' />
  <message name='messagesNewResponseMessage'>
    <part name='response' element='tns:messagesNewResponse' />
  </message>
  <message name='removeAContactFromAListRequestMessage'>
    <part name='parameters' element='tns:removeAContactFromAListParameters' />
  </message>
  <message name='removeAContactFromAListResponseMessage'>
    <part name='response' element='tns:removeAContactFromAListResponse' />
  </message>
  <message name='sendOrScheduleMessageRequestMessage'>
    <part name='parameters' element='tns:sendOrScheduleMessageParameters' />
  </message>
  <message name='sendOrScheduleMessageResponseMessage'>
    <part name='response' element='tns:sendOrScheduleMessageResponse' />
  </message>
  <message name='sendTestForMessageRequestMessage'>
    <part name='parameters' element='tns:sendTestForMessageParameters' />
  </message>
  <message name='sendTestForMessageResponseMessage'>
    <part name='response' element='tns:sendTestForMessageResponse' />
  </message>
  <message name='sendTransactionalDeliveryRequestMessage' />
  <message name='sendTransactionalDeliveryResponseMessage'>
    <part name='response' element='tns:sendTransactionalDeliveryResponse' />
  </message>
  <message name='templateInformationRequestMessage'>
    <part name='parameters' element='tns:templateInformationParameters' />
  </message>
  <message name='templateInformationResponseMessage'>
    <part name='response' element='tns:templateInformationResponse' />
  </message>
  <message name='totalActiveContactsOfAListRequestMessage'>
    <part name='parameters' element='tns:totalActiveContactsOfAListParameters' />
  </message>
  <message name='totalActiveContactsOfAListResponseMessage'>
    <part name='response' element='tns:totalActiveContactsOfAListResponse' />
  </message>
  <message name='transactionalDeliveriesBounceRequestMessage'>
    <part name='parameters' element='tns:transactionalDeliveriesBounceParameters' />
  </message>
  <message name='transactionalDeliveriesBounceResponseMessage'>
    <part name='response' element='tns:transactionalDeliveriesBounceResponse' />
  </message>
  <message name='transactionalDeliveriesBouncesRequestMessage'>
    <part name='parameters' element='tns:transactionalDeliveriesBouncesParameters' />
  </message>
  <message name='transactionalDeliveriesBouncesResponseMessage'>
    <part name='response' element='tns:transactionalDeliveriesBouncesResponse' />
  </message>
  <message name='unsubscribeContactRequestMessage'>
    <part name='parameters' element='tns:unsubscribeContactParameters' />
  </message>
  <message name='unsubscribeContactResponseMessage'>
    <part name='response' element='tns:unsubscribeContactResponse' />
  </message>
  <message name='unsubscribesOfAMessageRequestMessage'>
    <part name='parameters' element='tns:unsubscribesOfAMessageParameters' />
  </message>
  <message name='unsubscribesOfAMessageResponseMessage'>
    <part name='response' element='tns:unsubscribesOfAMessageResponse' />
  </message>
  <message name='updateContactInformationRequestMessage'>
    <part name='parameters' element='tns:updateContactInformationParameters' />
  </message>
  <message name='updateContactInformationResponseMessage'>
    <part name='response' element='tns:updateContactInformationResponse' />
  </message>
  <message name='updateListInformationRequestMessage'>
    <part name='parameters' element='tns:updateListInformationParameters' />
  </message>
  <message name='updateListInformationResponseMessage'>
    <part name='response' element='tns:updateListInformationResponse' />
  </message>
  <message name='updateMessageHtmlRequestMessage'>
    <part name='parameters' element='tns:updateMessageHtmlParameters' />
  </message>
  <message name='updateMessageHtmlResponseMessage'>
    <part name='response' element='tns:updateMessageHtmlResponse' />
  </message>
  <message name='updateTemplateInformationRequestMessage'>
    <part name='parameters' element='tns:updateTemplateInformationParameters' />
  </message>
  <message name='updateTemplateInformationResponseMessage'>
    <part name='response' element='tns:updateTemplateInformationResponse' />
  </message>
  <message name='validKeyRequestMessage' />
  <message name='validKeyResponseMessage'>
    <part name='response' element='tns:validKeyResponse' />
  </message>
  <message name='viewContactRequestMessage'>
    <part name='parameters' element='tns:viewContactParameters' />
  </message>
  <message name='viewContactResponseMessage'>
    <part name='response' element='tns:viewContactResponse' />
  </message>
  <message name='viewListRequestMessage'>
    <part name='parameters' element='tns:viewListParameters' />
  </message>
  <message name='viewListResponseMessage'>
    <part name='response' element='tns:viewListResponse' />
  </message>
  <message name='viewsOfAMessageRequestMessage'>
    <part name='parameters' element='tns:viewsOfAMessageParameters' />
  </message>
  <message name='viewsOfAMessageResponseMessage'>
    <part name='response' element='tns:viewsOfAMessageResponse' />
  </message>
  <portType name='maileeClientVPortType'>
    <operation name='addAContactToAList'>
      <documentation>to send messages you will need to select lists of contacts This method should be used to add a contact to a list</documentation>
      <input message='tns:addAContactToAListRequestMessage' name='addAContactToAListInput' />
      <output message='tns:addAContactToAListResponseMessage' name='addAContactToAListOutput' />
    </operation>
    <operation name='allContacts'>
      <documentation>list all contacts of your account</documentation>
      <input message='tns:allContactsRequestMessage' name='allContactsInput' />
      <output message='tns:allContactsResponseMessage' name='allContactsOutput' />
    </operation>
    <operation name='allLists'>
      <documentation></documentation>
      <input message='tns:allListsRequestMessage' name='allListsInput' />
      <output message='tns:allListsResponseMessage' name='allListsOutput' />
    </operation>
    <operation name='clicksOfAMessage'>
      <documentation></documentation>
      <input message='tns:clicksOfAMessageRequestMessage' name='clicksOfAMessageInput' />
      <output message='tns:clicksOfAMessageResponseMessage' name='clicksOfAMessageOutput' />
    </operation>
    <operation name='contactsNew'>
      <documentation></documentation>
      <input message='tns:contactsNewRequestMessage' name='contactsNewInput' />
      <output message='tns:contactsNewResponseMessage' name='contactsNewOutput' />
    </operation>
    <operation name='createAContact'>
      <documentation>create a new contact</documentation>
      <input message='tns:createAContactRequestMessage' name='createAContactInput' />
      <output message='tns:createAContactResponseMessage' name='createAContactOutput' />
    </operation>
    <operation name='createAList'>
      <documentation>you will have to select a list of contacts to send a message Using this method you will be able to create a new list</documentation>
      <input message='tns:createAListRequestMessage' name='createAListInput' />
      <output message='tns:createAListResponseMessage' name='createAListOutput' />
    </operation>
    <operation name='createMessage'>
      <documentation>you should use this method to start the creation of a message</documentation>
      <input message='tns:createMessageRequestMessage' name='createMessageInput' />
      <output message='tns:createMessageResponseMessage' name='createMessageOutput' />
    </operation>
    <operation name='createNewTemplate'>
      <documentation></documentation>
      <input message='tns:createNewTemplateRequestMessage' name='createNewTemplateInput' />
      <output message='tns:createNewTemplateResponseMessage' name='createNewTemplateOutput' />
    </operation>
    <operation name='deleteAList'>
      <documentation></documentation>
      <input message='tns:deleteAListRequestMessage' name='deleteAListInput' />
      <output message='tns:deleteAListResponseMessage' name='deleteAListOutput' />
    </operation>
    <operation name='deleteTemplate'>
      <documentation></documentation>
      <input message='tns:deleteTemplateRequestMessage' name='deleteTemplateInput' />
      <output message='tns:deleteTemplateResponseMessage' name='deleteTemplateOutput' />
    </operation>
    <operation name='generateTemplateThumbnail'>
      <documentation>generate thumbmail</documentation>
      <input message='tns:generateTemplateThumbnailRequestMessage' name='generateTemplateThumbnailInput' />
      <output message='tns:generateTemplateThumbnailResponseMessage' name='generateTemplateThumbnailOutput' />
    </operation>
    <operation name='getTemplateHtml'>
      <documentation></documentation>
      <input message='tns:getTemplateHtmlRequestMessage' name='getTemplateHtmlInput' />
      <output message='tns:getTemplateHtmlResponseMessage' name='getTemplateHtmlOutput' />
    </operation>
    <operation name='listAllMessages'>
      <documentation></documentation>
      <input message='tns:listAllMessagesRequestMessage' name='listAllMessagesInput' />
      <output message='tns:listAllMessagesResponseMessage' name='listAllMessagesOutput' />
    </operation>
    <operation name='listAllTemplates'>
      <documentation></documentation>
      <input message='tns:listAllTemplatesRequestMessage' name='listAllTemplatesInput' />
      <output message='tns:listAllTemplatesResponseMessage' name='listAllTemplatesOutput' />
    </operation>
    <operation name='me'>
      <documentation>info about your account</documentation>
      <input message='tns:meRequestMessage' name='meInput' />
      <output message='tns:meResponseMessage' name='meOutput' />
    </operation>
    <operation name='messageInformation'>
      <documentation></documentation>
      <input message='tns:messageInformationRequestMessage' name='messageInformationInput' />
      <output message='tns:messageInformationResponseMessage' name='messageInformationOutput' />
    </operation>
    <operation name='messageReports'>
      <documentation></documentation>
      <input message='tns:messageReportsRequestMessage' name='messageReportsInput' />
      <output message='tns:messageReportsResponseMessage' name='messageReportsOutput' />
    </operation>
    <operation name='messageSendingStatus'>
      <documentation></documentation>
      <input message='tns:messageSendingStatusRequestMessage' name='messageSendingStatusInput' />
      <output message='tns:messageSendingStatusResponseMessage' name='messageSendingStatusOutput' />
    </operation>
    <operation name='messagesNew'>
      <documentation></documentation>
      <input message='tns:messagesNewRequestMessage' name='messagesNewInput' />
      <output message='tns:messagesNewResponseMessage' name='messagesNewOutput' />
    </operation>
    <operation name='removeAContactFromAList'>
      <documentation></documentation>
      <input message='tns:removeAContactFromAListRequestMessage' name='removeAContactFromAListInput' />
      <output message='tns:removeAContactFromAListResponseMessage' name='removeAContactFromAListOutput' />
    </operation>
    <operation name='sendOrScheduleMessage'>
      <documentation>send or schedule the message to be sent</documentation>
      <input message='tns:sendOrScheduleMessageRequestMessage' name='sendOrScheduleMessageInput' />
      <output message='tns:sendOrScheduleMessageResponseMessage' name='sendOrScheduleMessageOutput' />
    </operation>
    <operation name='sendTestForMessage'>
      <documentation>send test messages</documentation>
      <input message='tns:sendTestForMessageRequestMessage' name='sendTestForMessageInput' />
      <output message='tns:sendTestForMessageResponseMessage' name='sendTestForMessageOutput' />
    </operation>
    <operation name='sendTransactionalDelivery'>
      <documentation>this method should be used to send transactional messages messages to only a one address</documentation>
      <input message='tns:sendTransactionalDeliveryRequestMessage' name='sendTransactionalDeliveryInput' />
      <output message='tns:sendTransactionalDeliveryResponseMessage' name='sendTransactionalDeliveryOutput' />
    </operation>
    <operation name='templateInformation'>
      <documentation></documentation>
      <input message='tns:templateInformationRequestMessage' name='templateInformationInput' />
      <output message='tns:templateInformationResponseMessage' name='templateInformationOutput' />
    </operation>
    <operation name='totalActiveContactsOfAList'>
      <documentation></documentation>
      <input message='tns:totalActiveContactsOfAListRequestMessage' name='totalActiveContactsOfAListInput' />
      <output message='tns:totalActiveContactsOfAListResponseMessage' name='totalActiveContactsOfAListOutput' />
    </operation>
    <operation name='transactionalDeliveriesBounce'>
      <documentation></documentation>
      <input message='tns:transactionalDeliveriesBounceRequestMessage' name='transactionalDeliveriesBounceInput' />
      <output message='tns:transactionalDeliveriesBounceResponseMessage' name='transactionalDeliveriesBounceOutput' />
    </operation>
    <operation name='transactionalDeliveriesBounces'>
      <documentation></documentation>
      <input message='tns:transactionalDeliveriesBouncesRequestMessage' name='transactionalDeliveriesBouncesInput' />
      <output message='tns:transactionalDeliveriesBouncesResponseMessage' name='transactionalDeliveriesBouncesOutput' />
    </operation>
    <operation name='unsubscribeContact'>
      <documentation>unsubscribe a contact from your account Warning the contact won t receive your none of your message anymore</documentation>
      <input message='tns:unsubscribeContactRequestMessage' name='unsubscribeContactInput' />
      <output message='tns:unsubscribeContactResponseMessage' name='unsubscribeContactOutput' />
    </operation>
    <operation name='unsubscribesOfAMessage'>
      <documentation></documentation>
      <input message='tns:unsubscribesOfAMessageRequestMessage' name='unsubscribesOfAMessageInput' />
      <output message='tns:unsubscribesOfAMessageResponseMessage' name='unsubscribesOfAMessageOutput' />
    </operation>
    <operation name='updateContactInformation'>
      <documentation></documentation>
      <input message='tns:updateContactInformationRequestMessage' name='updateContactInformationInput' />
      <output message='tns:updateContactInformationResponseMessage' name='updateContactInformationOutput' />
    </operation>
    <operation name='updateListInformation'>
      <documentation></documentation>
      <input message='tns:updateListInformationRequestMessage' name='updateListInformationInput' />
      <output message='tns:updateListInformationResponseMessage' name='updateListInformationOutput' />
    </operation>
    <operation name='updateMessageHtml'>
      <documentation></documentation>
      <input message='tns:updateMessageHtmlRequestMessage' name='updateMessageHtmlInput' />
      <output message='tns:updateMessageHtmlResponseMessage' name='updateMessageHtmlOutput' />
    </operation>
    <operation name='updateTemplateInformation'>
      <documentation></documentation>
      <input message='tns:updateTemplateInformationRequestMessage' name='updateTemplateInformationInput' />
      <output message='tns:updateTemplateInformationResponseMessage' name='updateTemplateInformationOutput' />
    </operation>
    <operation name='validKey'>
      <documentation>check if your api key is valid</documentation>
      <input message='tns:validKeyRequestMessage' name='validKeyInput' />
      <output message='tns:validKeyResponseMessage' name='validKeyOutput' />
    </operation>
    <operation name='viewContact'>
      <documentation></documentation>
      <input message='tns:viewContactRequestMessage' name='viewContactInput' />
      <output message='tns:viewContactResponseMessage' name='viewContactOutput' />
    </operation>
    <operation name='viewList'>
      <documentation></documentation>
      <input message='tns:viewListRequestMessage' name='viewListInput' />
      <output message='tns:viewListResponseMessage' name='viewListOutput' />
    </operation>
    <operation name='viewsOfAMessage'>
      <documentation></documentation>
      <input message='tns:viewsOfAMessageRequestMessage' name='viewsOfAMessageInput' />
      <output message='tns:viewsOfAMessageResponseMessage' name='viewsOfAMessageOutput' />
    </operation>
  </portType>
  <binding name='maileeClientVBinding' type='tns:maileeClientVPortType'>
    <operation name='addAContactToAList'>
      <soap12:operation soapAction='http://addAContactToAList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allContacts'>
      <soap12:operation soapAction='http://allContacts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allLists'>
      <soap12:operation soapAction='http://allLists' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clicksOfAMessage'>
      <soap12:operation soapAction='http://clicksOfAMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='contactsNew'>
      <soap12:operation soapAction='http://contactsNew' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAContact'>
      <soap12:operation soapAction='http://createAContact' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAList'>
      <soap12:operation soapAction='http://createAList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createMessage'>
      <soap12:operation soapAction='http://createMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createNewTemplate'>
      <soap12:operation soapAction='http://createNewTemplate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAList'>
      <soap12:operation soapAction='http://deleteAList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteTemplate'>
      <soap12:operation soapAction='http://deleteTemplate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generateTemplateThumbnail'>
      <soap12:operation soapAction='http://generateTemplateThumbnail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTemplateHtml'>
      <soap12:operation soapAction='http://getTemplateHtml' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllMessages'>
      <soap12:operation soapAction='http://listAllMessages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllTemplates'>
      <soap12:operation soapAction='http://listAllTemplates' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='me'>
      <soap12:operation soapAction='http://me' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messageInformation'>
      <soap12:operation soapAction='http://messageInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messageReports'>
      <soap12:operation soapAction='http://messageReports' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messageSendingStatus'>
      <soap12:operation soapAction='http://messageSendingStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messagesNew'>
      <soap12:operation soapAction='http://messagesNew' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeAContactFromAList'>
      <soap12:operation soapAction='http://removeAContactFromAList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendOrScheduleMessage'>
      <soap12:operation soapAction='http://sendOrScheduleMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendTestForMessage'>
      <soap12:operation soapAction='http://sendTestForMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendTransactionalDelivery'>
      <soap12:operation soapAction='http://sendTransactionalDelivery' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='templateInformation'>
      <soap12:operation soapAction='http://templateInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='totalActiveContactsOfAList'>
      <soap12:operation soapAction='http://totalActiveContactsOfAList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='transactionalDeliveriesBounce'>
      <soap12:operation soapAction='http://transactionalDeliveriesBounce' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='transactionalDeliveriesBounces'>
      <soap12:operation soapAction='http://transactionalDeliveriesBounces' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='unsubscribeContact'>
      <soap12:operation soapAction='http://unsubscribeContact' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='unsubscribesOfAMessage'>
      <soap12:operation soapAction='http://unsubscribesOfAMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateContactInformation'>
      <soap12:operation soapAction='http://updateContactInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateListInformation'>
      <soap12:operation soapAction='http://updateListInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateMessageHtml'>
      <soap12:operation soapAction='http://updateMessageHtml' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateTemplateInformation'>
      <soap12:operation soapAction='http://updateTemplateInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='validKey'>
      <soap12:operation soapAction='http://validKey' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewContact'>
      <soap12:operation soapAction='http://viewContact' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewList'>
      <soap12:operation soapAction='http://viewList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewsOfAMessage'>
      <soap12:operation soapAction='http://viewsOfAMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='maileeClientV'>
    <documentation>aPI to integrate your app with Mailee me You can automatically send email marketing campaigns track its results and keep your contacts synced We are still in beta If you have any problems or suggestions please contact us at support mailee me</documentation>
    <port name='maileeClientVPort' binding='tns:maileeClientVBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://maileeClientV' />
    </port>
  </service>
</definitions>