workspace/datasets/mashape_dataset/mailparser.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mailparser/' name='mailparser' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mailparser/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mailparser/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mailparser/'>
      <xsd:element name='messagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='replaceinlineurlpath' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdHeadersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdHeadersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cc' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='display' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='date' type='xsd:string' minOccurs='0' />
            <xsd:element name='content_type' type='xsd:string' minOccurs='0' />
            <xsd:element name='subject' type='xsd:string' minOccurs='0' />
            <xsd:element name='from' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='display' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='to' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='display' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdPartsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdPartsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n1' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='disposition' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content-type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content-id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n1_2' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='disposition' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content-type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content-id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n1_1' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='disposition' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content-type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content-id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n1_2_2' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='disposition' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content-type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content-id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='n1_2_1' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='disposition' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content-type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content-id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdPartsPartidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='partid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdPartsPartidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdStructureParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdStructureResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='valid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='headers' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='cc' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='address' type='xsd:string' minOccurs='0' />
                        <xsd:element name='display' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='content_type' type='xsd:string' minOccurs='0' />
                  <xsd:element name='subject' type='xsd:string' minOccurs='0' />
                  <xsd:element name='from' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='display' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='message_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='to' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='display' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='parts_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='parts' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n1' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='disposition' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='content-type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='content-id' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n1_2' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='disposition' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='content-type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='content-id' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n1_1' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='disposition' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='content-type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='content-id' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n1_2_2' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='disposition' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='content-type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='content-id' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n1_2_1' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='disposition' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='filename' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='content-type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='content-id' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdSubjectParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='raw' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesIdSubjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='messagesRequestMessage' />
  <message name='messagesResponseMessage'>
    <part name='response' element='tns:messagesResponse' />
  </message>
  <message name='messagesIdRequestMessage'>
    <part name='parameters' element='tns:messagesIdParameters' />
  </message>
  <message name='messagesIdResponseMessage'>
    <part name='response' element='tns:messagesIdResponse' />
  </message>
  <message name='messagesIdHeadersRequestMessage'>
    <part name='parameters' element='tns:messagesIdHeadersParameters' />
  </message>
  <message name='messagesIdHeadersResponseMessage'>
    <part name='response' element='tns:messagesIdHeadersResponse' />
  </message>
  <message name='messagesIdPartsRequestMessage'>
    <part name='parameters' element='tns:messagesIdPartsParameters' />
  </message>
  <message name='messagesIdPartsResponseMessage'>
    <part name='response' element='tns:messagesIdPartsResponse' />
  </message>
  <message name='messagesIdPartsPartidRequestMessage'>
    <part name='parameters' element='tns:messagesIdPartsPartidParameters' />
  </message>
  <message name='messagesIdPartsPartidResponseMessage'>
    <part name='response' element='tns:messagesIdPartsPartidResponse' />
  </message>
  <message name='messagesIdStructureRequestMessage'>
    <part name='parameters' element='tns:messagesIdStructureParameters' />
  </message>
  <message name='messagesIdStructureResponseMessage'>
    <part name='response' element='tns:messagesIdStructureResponse' />
  </message>
  <message name='messagesIdSubjectRequestMessage'>
    <part name='parameters' element='tns:messagesIdSubjectParameters' />
  </message>
  <message name='messagesIdSubjectResponseMessage'>
    <part name='response' element='tns:messagesIdSubjectResponse' />
  </message>
  <portType name='mailparserPortType'>
    <operation name='messages'>
      <documentation>create a new message resource</documentation>
      <input message='tns:messagesRequestMessage' name='messagesInput' />
      <output message='tns:messagesResponseMessage' name='messagesOutput' />
    </operation>
    <operation name='messagesId'>
      <documentation>retrieve message body If it is a multipart message and if html type is available html version will be returned</documentation>
      <input message='tns:messagesIdRequestMessage' name='messagesIdInput' />
      <output message='tns:messagesIdResponseMessage' name='messagesIdOutput' />
    </operation>
    <operation name='messagesIdHeaders'>
      <documentation>retrieve message headers</documentation>
      <input message='tns:messagesIdHeadersRequestMessage' name='messagesIdHeadersInput' />
      <output message='tns:messagesIdHeadersResponseMessage' name='messagesIdHeadersOutput' />
    </operation>
    <operation name='messagesIdParts'>
      <documentation>retrieve message parts information</documentation>
      <input message='tns:messagesIdPartsRequestMessage' name='messagesIdPartsInput' />
      <output message='tns:messagesIdPartsResponseMessage' name='messagesIdPartsOutput' />
    </operation>
    <operation name='messagesIdPartsPartid'>
      <documentation>retrieve individual message part</documentation>
      <input message='tns:messagesIdPartsPartidRequestMessage' name='messagesIdPartsPartidInput' />
      <output message='tns:messagesIdPartsPartidResponseMessage' name='messagesIdPartsPartidOutput' />
    </operation>
    <operation name='messagesIdStructure'>
      <documentation>succesfully retrieved resource</documentation>
      <input message='tns:messagesIdStructureRequestMessage' name='messagesIdStructureInput' />
      <output message='tns:messagesIdStructureResponseMessage' name='messagesIdStructureOutput' />
    </operation>
    <operation name='messagesIdSubject'>
      <documentation>retrieve message subject</documentation>
      <input message='tns:messagesIdSubjectRequestMessage' name='messagesIdSubjectInput' />
      <output message='tns:messagesIdSubjectResponseMessage' name='messagesIdSubjectOutput' />
    </operation>
  </portType>
  <binding name='mailparserBinding' type='tns:mailparserPortType'>
    <operation name='messages'>
      <soap12:operation soapAction='http://messages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messagesId'>
      <soap12:operation soapAction='http://messagesId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messagesIdHeaders'>
      <soap12:operation soapAction='http://messagesIdHeaders' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messagesIdParts'>
      <soap12:operation soapAction='http://messagesIdParts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messagesIdPartsPartid'>
      <soap12:operation soapAction='http://messagesIdPartsPartid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messagesIdStructure'>
      <soap12:operation soapAction='http://messagesIdStructure' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messagesIdSubject'>
      <soap12:operation soapAction='http://messagesIdSubject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mailparser'>
    <documentation>mIME Mail Parser API</documentation>
    <port name='mailparserPort' binding='tns:mailparserBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mailparser' />
    </port>
  </service>
</definitions>