workspace/datasets/mashape_dataset/mailgun.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mailgun/' name='mailgun' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mailgun/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mailgun/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mailgun/'>
      <xsd:element name='changeDomainLoginCredentialsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='login' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='changeDomainLoginCredentialsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createDomainResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createDomainCredentialsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createDomainCredentialsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteADomainParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteADomainResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingCredentialsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='login' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingCredentialsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='domainCredentialsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='domainCredentialsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='informationAboutYourdomainComParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='informationAboutYourdomainComResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='receiving_dns_records' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='valid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='priority' type='xsd:int' minOccurs='0' />
                  <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='record_type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='domain' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='smtp_password' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='smtp_login' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='spam_action' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='wildcard' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='sending_dns_records' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='valid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:string' minOccurs='0' />
                  <xsd:element name='record_type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='informationForAllDomainsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='skip' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='informationForAllDomainsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='smtp_password' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='smtp_login' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='spam_action' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='wildcard' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendAnEmailParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendAnEmailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='changeDomainLoginCredentialsRequestMessage'>
    <part name='parameters' element='tns:changeDomainLoginCredentialsParameters' />
  </message>
  <message name='changeDomainLoginCredentialsResponseMessage'>
    <part name='response' element='tns:changeDomainLoginCredentialsResponse' />
  </message>
  <message name='createDomainRequestMessage' />
  <message name='createDomainResponseMessage'>
    <part name='response' element='tns:createDomainResponse' />
  </message>
  <message name='createDomainCredentialsRequestMessage'>
    <part name='parameters' element='tns:createDomainCredentialsParameters' />
  </message>
  <message name='createDomainCredentialsResponseMessage'>
    <part name='response' element='tns:createDomainCredentialsResponse' />
  </message>
  <message name='deleteADomainRequestMessage'>
    <part name='parameters' element='tns:deleteADomainParameters' />
  </message>
  <message name='deleteADomainResponseMessage'>
    <part name='response' element='tns:deleteADomainResponse' />
  </message>
  <message name='deletingCredentialsRequestMessage'>
    <part name='parameters' element='tns:deletingCredentialsParameters' />
  </message>
  <message name='deletingCredentialsResponseMessage'>
    <part name='response' element='tns:deletingCredentialsResponse' />
  </message>
  <message name='domainCredentialsRequestMessage'>
    <part name='parameters' element='tns:domainCredentialsParameters' />
  </message>
  <message name='domainCredentialsResponseMessage'>
    <part name='response' element='tns:domainCredentialsResponse' />
  </message>
  <message name='informationAboutYourdomainComRequestMessage'>
    <part name='parameters' element='tns:informationAboutYourdomainComParameters' />
  </message>
  <message name='informationAboutYourdomainComResponseMessage'>
    <part name='response' element='tns:informationAboutYourdomainComResponse' />
  </message>
  <message name='informationForAllDomainsRequestMessage'>
    <part name='parameters' element='tns:informationForAllDomainsParameters' />
  </message>
  <message name='informationForAllDomainsResponseMessage'>
    <part name='response' element='tns:informationForAllDomainsResponse' />
  </message>
  <message name='sendAnEmailRequestMessage'>
    <part name='parameters' element='tns:sendAnEmailParameters' />
  </message>
  <message name='sendAnEmailResponseMessage'>
    <part name='response' element='tns:sendAnEmailResponse' />
  </message>
  <portType name='mailgunPortType'>
    <operation name='changeDomainLoginCredentials'>
      <documentation>changing login credentials password only supported</documentation>
      <input message='tns:changeDomainLoginCredentialsRequestMessage' name='changeDomainLoginCredentialsInput' />
      <output message='tns:changeDomainLoginCredentialsResponseMessage' name='changeDomainLoginCredentialsOutput' />
    </operation>
    <operation name='createDomain'>
      <documentation>create a domain</documentation>
      <input message='tns:createDomainRequestMessage' name='createDomainInput' />
      <output message='tns:createDomainResponseMessage' name='createDomainOutput' />
    </operation>
    <operation name='createDomainCredentials'>
      <documentation>creating domain credentials</documentation>
      <input message='tns:createDomainCredentialsRequestMessage' name='createDomainCredentialsInput' />
      <output message='tns:createDomainCredentialsResponseMessage' name='createDomainCredentialsOutput' />
    </operation>
    <operation name='deleteADomain'>
      <documentation>deleting a domain</documentation>
      <input message='tns:deleteADomainRequestMessage' name='deleteADomainInput' />
      <output message='tns:deleteADomainResponseMessage' name='deleteADomainOutput' />
    </operation>
    <operation name='deletingCredentials'>
      <documentation>deleting credentials for a domain</documentation>
      <input message='tns:deletingCredentialsRequestMessage' name='deletingCredentialsInput' />
      <output message='tns:deletingCredentialsResponseMessage' name='deletingCredentialsOutput' />
    </operation>
    <operation name='domainCredentials'>
      <documentation>retrieve domain credentials</documentation>
      <input message='tns:domainCredentialsRequestMessage' name='domainCredentialsInput' />
      <output message='tns:domainCredentialsResponseMessage' name='domainCredentialsOutput' />
    </operation>
    <operation name='informationAboutYourdomainCom'>
      <documentation>retrieve only information linked to yourdomain com</documentation>
      <input message='tns:informationAboutYourdomainComRequestMessage' name='informationAboutYourdomainComInput' />
      <output message='tns:informationAboutYourdomainComResponseMessage' name='informationAboutYourdomainComOutput' />
    </operation>
    <operation name='informationForAllDomains'>
      <documentation>retrieve information regarding associated domains with your account</documentation>
      <input message='tns:informationForAllDomainsRequestMessage' name='informationForAllDomainsInput' />
      <output message='tns:informationForAllDomainsResponseMessage' name='informationForAllDomainsOutput' />
    </operation>
    <operation name='sendAnEmail'>
      <documentation>allows you to send messages</documentation>
      <input message='tns:sendAnEmailRequestMessage' name='sendAnEmailInput' />
      <output message='tns:sendAnEmailResponseMessage' name='sendAnEmailOutput' />
    </operation>
  </portType>
  <binding name='mailgunBinding' type='tns:mailgunPortType'>
    <operation name='changeDomainLoginCredentials'>
      <soap12:operation soapAction='http://changeDomainLoginCredentials' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createDomain'>
      <soap12:operation soapAction='http://createDomain' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createDomainCredentials'>
      <soap12:operation soapAction='http://createDomainCredentials' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteADomain'>
      <soap12:operation soapAction='http://deleteADomain' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletingCredentials'>
      <soap12:operation soapAction='http://deletingCredentials' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='domainCredentials'>
      <soap12:operation soapAction='http://domainCredentials' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='informationAboutYourdomainCom'>
      <soap12:operation soapAction='http://informationAboutYourdomainCom' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='informationForAllDomains'>
      <soap12:operation soapAction='http://informationForAllDomains' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendAnEmail'>
      <soap12:operation soapAction='http://sendAnEmail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mailgun'>
    <documentation>mailgun is a programmable email platform It allows your application to become a fully featured email server Send receive and track messages with ease using your favorite programming language</documentation>
    <port name='mailgunPort' binding='tns:mailgunBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mailgun' />
    </port>
  </service>
</definitions>