workspace/datasets/mashape_dataset/maileeagencyv.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/maileeAgencyV/' name='maileeAgencyV' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/maileeAgencyV/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/maileeAgencyV/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/maileeAgencyV/'>
      <xsd:element name='clientsAddCreditsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsAddCreditsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:string' minOccurs='0' />
                  <xsd:element name='errors' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsDestroyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsDestroyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='credits' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsIndexResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:string' minOccurs='0' />
                  <xsd:element name='errors' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsNewResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='can_pay' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='show_credits' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='integration_enabled' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='credits' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsNewInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='credits' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsRemoveCreditsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsRemoveCreditsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsShowParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsShowResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='credits' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsUpdateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsUpdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='meResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='credits' type='xsd:int' minOccurs='0' />
            <xsd:element name='subdomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='clientsAddCreditsRequestMessage'>
    <part name='parameters' element='tns:clientsAddCreditsParameters' />
  </message>
  <message name='clientsAddCreditsResponseMessage'>
    <part name='response' element='tns:clientsAddCreditsResponse' />
  </message>
  <message name='clientsDestroyRequestMessage'>
    <part name='parameters' element='tns:clientsDestroyParameters' />
  </message>
  <message name='clientsDestroyResponseMessage'>
    <part name='response' element='tns:clientsDestroyResponse' />
  </message>
  <message name='clientsIndexRequestMessage' />
  <message name='clientsIndexResponseMessage'>
    <part name='response' element='tns:clientsIndexResponse' />
  </message>
  <message name='clientsNewRequestMessage' />
  <message name='clientsNewResponseMessage'>
    <part name='response' element='tns:clientsNewResponse' />
  </message>
  <message name='clientsNewInfoRequestMessage' />
  <message name='clientsNewInfoResponseMessage'>
    <part name='response' element='tns:clientsNewInfoResponse' />
  </message>
  <message name='clientsRemoveCreditsRequestMessage'>
    <part name='parameters' element='tns:clientsRemoveCreditsParameters' />
  </message>
  <message name='clientsRemoveCreditsResponseMessage'>
    <part name='response' element='tns:clientsRemoveCreditsResponse' />
  </message>
  <message name='clientsShowRequestMessage'>
    <part name='parameters' element='tns:clientsShowParameters' />
  </message>
  <message name='clientsShowResponseMessage'>
    <part name='response' element='tns:clientsShowResponse' />
  </message>
  <message name='clientsUpdateRequestMessage'>
    <part name='parameters' element='tns:clientsUpdateParameters' />
  </message>
  <message name='clientsUpdateResponseMessage'>
    <part name='response' element='tns:clientsUpdateResponse' />
  </message>
  <message name='meRequestMessage' />
  <message name='meResponseMessage'>
    <part name='response' element='tns:meResponse' />
  </message>
  <portType name='maileeAgencyVPortType'>
    <operation name='clientsAddCredits'>
      <documentation>add credits to a subclient</documentation>
      <input message='tns:clientsAddCreditsRequestMessage' name='clientsAddCreditsInput' />
      <output message='tns:clientsAddCreditsResponseMessage' name='clientsAddCreditsOutput' />
    </operation>
    <operation name='clientsDestroy'>
      <documentation>destroy a subaccount</documentation>
      <input message='tns:clientsDestroyRequestMessage' name='clientsDestroyInput' />
      <output message='tns:clientsDestroyResponseMessage' name='clientsDestroyOutput' />
    </operation>
    <operation name='clientsIndex'>
      <documentation>list all clients</documentation>
      <input message='tns:clientsIndexRequestMessage' name='clientsIndexInput' />
      <output message='tns:clientsIndexResponseMessage' name='clientsIndexOutput' />
    </operation>
    <operation name='clientsNew'>
      <documentation>create a new subaccount</documentation>
      <input message='tns:clientsNewRequestMessage' name='clientsNewInput' />
      <output message='tns:clientsNewResponseMessage' name='clientsNewOutput' />
    </operation>
    <operation name='clientsNewInfo'>
      <documentation></documentation>
      <input message='tns:clientsNewInfoRequestMessage' name='clientsNewInfoInput' />
      <output message='tns:clientsNewInfoResponseMessage' name='clientsNewInfoOutput' />
    </operation>
    <operation name='clientsRemoveCredits'>
      <documentation></documentation>
      <input message='tns:clientsRemoveCreditsRequestMessage' name='clientsRemoveCreditsInput' />
      <output message='tns:clientsRemoveCreditsResponseMessage' name='clientsRemoveCreditsOutput' />
    </operation>
    <operation name='clientsShow'>
      <documentation>show information for a subaccount</documentation>
      <input message='tns:clientsShowRequestMessage' name='clientsShowInput' />
      <output message='tns:clientsShowResponseMessage' name='clientsShowOutput' />
    </operation>
    <operation name='clientsUpdate'>
      <documentation>update the subaccount information</documentation>
      <input message='tns:clientsUpdateRequestMessage' name='clientsUpdateInput' />
      <output message='tns:clientsUpdateResponseMessage' name='clientsUpdateOutput' />
    </operation>
    <operation name='me'>
      <documentation>account information</documentation>
      <input message='tns:meRequestMessage' name='meInput' />
      <output message='tns:meResponseMessage' name='meOutput' />
    </operation>
  </portType>
  <binding name='maileeAgencyVBinding' type='tns:maileeAgencyVPortType'>
    <operation name='clientsAddCredits'>
      <soap12:operation soapAction='http://clientsAddCredits' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clientsDestroy'>
      <soap12:operation soapAction='http://clientsDestroy' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clientsIndex'>
      <soap12:operation soapAction='http://clientsIndex' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clientsNew'>
      <soap12:operation soapAction='http://clientsNew' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clientsNewInfo'>
      <soap12:operation soapAction='http://clientsNewInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clientsRemoveCredits'>
      <soap12:operation soapAction='http://clientsRemoveCredits' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clientsShow'>
      <soap12:operation soapAction='http://clientsShow' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clientsUpdate'>
      <soap12:operation soapAction='http://clientsUpdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='me'>
      <soap12:operation soapAction='http://me' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='maileeAgencyV'>
    <documentation>aPI to integrate your app with Mailee me This API is focused on agencies so you can create and manage your subclients We are still in beta If you have any problems or suggestions please contact us at support mailee me</documentation>
    <port name='maileeAgencyVPort' binding='tns:maileeAgencyVBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://maileeAgencyV' />
    </port>
  </service>
</definitions>