workspace/datasets/mashape_dataset/mailboxvalidator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mailboxvalidator/' name='mailboxvalidator' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mailboxvalidator/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mailboxvalidator/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mailboxvalidator/'>
      <xsd:element name='mailboxvalidatorApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='license' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mailboxvalidatorApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='mailboxvalidatorApiRequestMessage'>
    <part name='parameters' element='tns:mailboxvalidatorApiParameters' />
  </message>
  <message name='mailboxvalidatorApiResponseMessage'>
    <part name='response' element='tns:mailboxvalidatorApiResponse' />
  </message>
  <portType name='mailboxvalidatorPortType'>
    <operation name='mailboxvalidatorApi'>
      <documentation>email validation API</documentation>
      <input message='tns:mailboxvalidatorApiRequestMessage' name='mailboxvalidatorApiInput' />
      <output message='tns:mailboxvalidatorApiResponseMessage' name='mailboxvalidatorApiOutput' />
    </operation>
  </portType>
  <binding name='mailboxvalidatorBinding' type='tns:mailboxvalidatorPortType'>
    <operation name='mailboxvalidatorApi'>
      <soap12:operation soapAction='http://mailboxvalidatorApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mailboxvalidator'>
    <documentation>the MailBoxValidator Email Validation Web Service allows instant email address verification by using real time mail server connectivity and syntax checker Sign up for free license key at http www fraudlabs com freelicense aspx PackageID which allows up to queries a month</documentation>
    <port name='mailboxvalidatorPort' binding='tns:mailboxvalidatorBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mailboxvalidator' />
    </port>
  </service>
</definitions>