workspace/datasets/mashape_dataset/mangascraper.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mangaScraper/' name='mangaScraper' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mangaScraper/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mangaScraper/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mangaScraper/'>
      <xsd:element name='getchapterParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='chapterid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='mangaid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getchapterResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgenrelistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgenrelistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmangaParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='mangaid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmangaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmangabygenreParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='genreid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmangabygenreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmangalistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmangalistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsitelistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='g' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='l' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='siteid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getchapterRequestMessage'>
    <part name='parameters' element='tns:getchapterParameters' />
  </message>
  <message name='getchapterResponseMessage'>
    <part name='response' element='tns:getchapterResponse' />
  </message>
  <message name='getgenrelistRequestMessage'>
    <part name='parameters' element='tns:getgenrelistParameters' />
  </message>
  <message name='getgenrelistResponseMessage'>
    <part name='response' element='tns:getgenrelistResponse' />
  </message>
  <message name='getmangaRequestMessage'>
    <part name='parameters' element='tns:getmangaParameters' />
  </message>
  <message name='getmangaResponseMessage'>
    <part name='response' element='tns:getmangaResponse' />
  </message>
  <message name='getmangabygenreRequestMessage'>
    <part name='parameters' element='tns:getmangabygenreParameters' />
  </message>
  <message name='getmangabygenreResponseMessage'>
    <part name='response' element='tns:getmangabygenreResponse' />
  </message>
  <message name='getmangalistRequestMessage'>
    <part name='parameters' element='tns:getmangalistParameters' />
  </message>
  <message name='getmangalistResponseMessage'>
    <part name='response' element='tns:getmangalistResponse' />
  </message>
  <message name='getsitelistRequestMessage' />
  <message name='getsitelistResponseMessage'>
    <part name='response' element='tns:getsitelistResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <portType name='mangaScraperPortType'>
    <operation name='getchapter'>
      <input message='tns:getchapterRequestMessage' name='getchapterInput' />
      <output message='tns:getchapterResponseMessage' name='getchapterOutput' />
    </operation>
    <operation name='getgenrelist'>
      <input message='tns:getgenrelistRequestMessage' name='getgenrelistInput' />
      <output message='tns:getgenrelistResponseMessage' name='getgenrelistOutput' />
    </operation>
    <operation name='getmanga'>
      <input message='tns:getmangaRequestMessage' name='getmangaInput' />
      <output message='tns:getmangaResponseMessage' name='getmangaOutput' />
    </operation>
    <operation name='getmangabygenre'>
      <input message='tns:getmangabygenreRequestMessage' name='getmangabygenreInput' />
      <output message='tns:getmangabygenreResponseMessage' name='getmangabygenreOutput' />
    </operation>
    <operation name='getmangalist'>
      <input message='tns:getmangalistRequestMessage' name='getmangalistInput' />
      <output message='tns:getmangalistResponseMessage' name='getmangalistOutput' />
    </operation>
    <operation name='getsitelist'>
      <documentation></documentation>
      <input message='tns:getsitelistRequestMessage' name='getsitelistInput' />
      <output message='tns:getsitelistResponseMessage' name='getsitelistOutput' />
    </operation>
    <operation name='search'>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
  </portType>
  <binding name='mangaScraperBinding' type='tns:mangaScraperPortType'>
    <operation name='getchapter'>
      <soap12:operation soapAction='http://getchapter' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgenrelist'>
      <soap12:operation soapAction='http://getgenrelist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getmanga'>
      <soap12:operation soapAction='http://getmanga' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getmangabygenre'>
      <soap12:operation soapAction='http://getmangabygenre' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getmangalist'>
      <soap12:operation soapAction='http://getmangalist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsitelist'>
      <soap12:operation soapAction='http://getsitelist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mangaScraper'>
    <documentation>basic API for scraping other manga sites for manga content Currently only mangareader net mangafox me and mangastream com are supported</documentation>
    <port name='mangaScraperPort' binding='tns:mangaScraperBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mangaScraper' />
    </port>
  </service>
</definitions>