workspace/datasets/mashape_dataset/mbar.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mbar/' name='mbar' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mbar/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mbar/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mbar/'>
      <xsd:element name='artistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='extrainfo' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timemodified' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clubSeriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='events' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='extrainfourls' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hosts' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lead' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='picturecaption' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pictureuri' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='resourceuri' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='resourcewebpageuri' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timemodified' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clubSeriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='club' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='clubname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datefilter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='endtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='starttime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timemodified' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='next' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='offset' type='xsd:int' minOccurs='0' />
                  <xsd:element name='previous' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='objects' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='picture_uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='end_time' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='resource_webpage_uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='fb_url' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lead' type='xsd:string' minOccurs='0' />
                  <xsd:element name='start_time' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='time_modified' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='full_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='oneliner' type='xsd:string' minOccurs='0' />
                  <xsd:element name='artists' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='act_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='price' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='performers_string' type='xsd:string' minOccurs='0' />
                  <xsd:element name='club' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tagline' type='xsd:string' minOccurs='0' />
                  <xsd:element name='picture_caption' type='xsd:string' minOccurs='0' />
                  <xsd:element name='performers_string_short' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='artistRequestMessage'>
    <part name='parameters' element='tns:artistParameters' />
  </message>
  <message name='artistResponseMessage'>
    <part name='response' element='tns:artistResponse' />
  </message>
  <message name='clubSeriesRequestMessage'>
    <part name='parameters' element='tns:clubSeriesParameters' />
  </message>
  <message name='clubSeriesResponseMessage'>
    <part name='response' element='tns:clubSeriesResponse' />
  </message>
  <message name='eventRequestMessage'>
    <part name='parameters' element='tns:eventParameters' />
  </message>
  <message name='eventResponseMessage'>
    <part name='response' element='tns:eventResponse' />
  </message>
  <portType name='mbarPortType'>
    <operation name='artist'>
      <documentation></documentation>
      <input message='tns:artistRequestMessage' name='artistInput' />
      <output message='tns:artistResponseMessage' name='artistOutput' />
    </operation>
    <operation name='clubSeries'>
      <documentation></documentation>
      <input message='tns:clubSeriesRequestMessage' name='clubSeriesInput' />
      <output message='tns:clubSeriesResponseMessage' name='clubSeriesOutput' />
    </operation>
    <operation name='event'>
      <documentation>can be ordered by start time descending and various fields can be filtered</documentation>
      <input message='tns:eventRequestMessage' name='eventInput' />
      <output message='tns:eventResponseMessage' name='eventOutput' />
    </operation>
  </portType>
  <binding name='mbarBinding' type='tns:mbarPortType'>
    <operation name='artist'>
      <soap12:operation soapAction='http://artist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clubSeries'>
      <soap12:operation soapAction='http://clubSeries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='event'>
      <soap12:operation soapAction='http://event' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mbar'>
    <documentation>mbar offers a free read only REST API for access to its programme data including event artist and club series information</documentation>
    <port name='mbarPort' binding='tns:mbarBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mbar' />
    </port>
  </service>
</definitions>