workspace/datasets/mashape_dataset/mcskinheadandtorso.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mcSkinHeadAndtorso/' name='mcSkinHeadAndtorso' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mcSkinHeadAndtorso/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mcSkinHeadAndtorso/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mcSkinHeadAndtorso/'>
      <xsd:element name='imageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='size' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='imageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='imageRequestMessage'>
    <part name='parameters' element='tns:imageParameters' />
  </message>
  <message name='imageResponseMessage'>
    <part name='response' element='tns:imageResponse' />
  </message>
  <portType name='mcSkinHeadAndtorsoPortType'>
    <operation name='image'>
      <input message='tns:imageRequestMessage' name='imageInput' />
      <output message='tns:imageResponseMessage' name='imageOutput' />
    </operation>
  </portType>
  <binding name='mcSkinHeadAndtorsoBinding' type='tns:mcSkinHeadAndtorsoPortType'>
    <operation name='image'>
      <soap12:operation soapAction='http://image' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mcSkinHeadAndtorso'>
    <documentation>grabs a MC Head Body or torso</documentation>
    <port name='mcSkinHeadAndtorsoPort' binding='tns:mcSkinHeadAndtorsoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mcSkinHeadAndtorso' />
    </port>
  </service>
</definitions>