workspace/datasets/mashape_dataset/mdndcheck.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mdndcheck/' name='mdndcheck' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mdndcheck/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mdndcheck/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mdndcheck/'>
      <xsd:element name='ncprscrubParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='phone' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ncprscrubResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='result' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='phone' type='xsd:int' minOccurs='0' />
                        <xsd:element name='category' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='catId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='isEnabled' type='xsd:boolean' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='details' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='ncprscrubRequestMessage'>
    <part name='parameters' element='tns:ncprscrubParameters' />
  </message>
  <message name='ncprscrubResponseMessage'>
    <part name='response' element='tns:ncprscrubResponse' />
  </message>
  <portType name='mdndcheckPortType'>
    <operation name='ncprscrub'>
      <documentation>nCPR Scrub</documentation>
      <input message='tns:ncprscrubRequestMessage' name='ncprscrubInput' />
      <output message='tns:ncprscrubResponseMessage' name='ncprscrubOutput' />
    </operation>
  </portType>
  <binding name='mdndcheckBinding' type='tns:mdndcheckPortType'>
    <operation name='ncprscrub'>
      <soap12:operation soapAction='http://ncprscrub' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mdndcheck'>
    <documentation>mDNDCheck is a simple open API that can help lookup whether a mobile phone number is in the NCPR s National Customer Preference Register DND Do Not Disturb list</documentation>
    <port name='mdndcheckPort' binding='tns:mdndcheckBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mdndcheck' />
    </port>
  </service>
</definitions>