workspace/datasets/mashape_dataset/measurelylymbix.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/measurelyLymbix/' name='measurelyLymbix' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/measurelyLymbix/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/measurelyLymbix/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/measurelyLymbix/'>
      <xsd:element name='tonalizeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='coverage' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='fear_uneasiness' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='enjoyment_elation' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='sadness_grief' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='article' type='xsd:string' minOccurs='0' />
            <xsd:element name='amusement_excitement' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='contentment_gratitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='humiliation_shame' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='affection_friendliness' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='dominant_emotion' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='clarity' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='anger_loathing' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='intense_sentence' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sentence' type='xsd:string' minOccurs='0' />
                  <xsd:element name='intensity' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='dominant_emotion' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='average_intensity' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='article_sentiment' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sentiment' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tonalizeDetailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='coverage' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='fear_uneasiness' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='sentences_data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sentence' type='xsd:string' minOccurs='0' />
                  <xsd:element name='coverage' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='fear_uneasiness' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sentence_sentiment' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='sentiment' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='enjoyment_elation' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sadness_grief' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='amusement_excitement' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='contentment_gratitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='humiliation_shame' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='dominant_emotion' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='affection_friendliness' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='clarity' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='anger_loathing' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='enjoyment_elation' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='sadness_grief' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='article' type='xsd:string' minOccurs='0' />
            <xsd:element name='amusement_excitement' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='contentment_gratitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='humiliation_shame' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='affection_friendliness' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='dominant_emotion' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='clarity' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='anger_loathing' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='intense_sentence' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sentence' type='xsd:string' minOccurs='0' />
                  <xsd:element name='intensity' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='dominant_emotion' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='average_intensity' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='article_sentiment' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sentiment' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tonalizeMultipleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1' />
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='tonalizeRequestMessage' />
  <message name='tonalizeResponseMessage'>
    <part name='response' element='tns:tonalizeResponse' />
  </message>
  <message name='tonalizeDetailRequestMessage' />
  <message name='tonalizeDetailResponseMessage'>
    <part name='response' element='tns:tonalizeDetailResponse' />
  </message>
  <message name='tonalizeMultipleRequestMessage' />
  <message name='tonalizeMultipleResponseMessage'>
    <part name='response' element='tns:tonalizeMultipleResponse' />
  </message>
  <portType name='measurelyLymbixPortType'>
    <operation name='tonalize'>
      <documentation>the tonalize method provides article level Lymbix sentiment data for a single article</documentation>
      <input message='tns:tonalizeRequestMessage' name='tonalizeInput' />
      <output message='tns:tonalizeResponseMessage' name='tonalizeOutput' />
    </operation>
    <operation name='tonalizeDetail'>
      <documentation>the tonalize detailed method provides article level Lymbix sentiment data along with a sentence by sentence sentiment data for a single article</documentation>
      <input message='tns:tonalizeDetailRequestMessage' name='tonalizeDetailInput' />
      <output message='tns:tonalizeDetailResponseMessage' name='tonalizeDetailOutput' />
    </operation>
    <operation name='tonalizeMultiple'>
      <documentation>the tonalize multiple method provides article level Lymbix sentiment data for multiple articles</documentation>
      <input message='tns:tonalizeMultipleRequestMessage' name='tonalizeMultipleInput' />
      <output message='tns:tonalizeMultipleResponseMessage' name='tonalizeMultipleOutput' />
    </operation>
  </portType>
  <binding name='measurelyLymbixBinding' type='tns:measurelyLymbixPortType'>
    <operation name='tonalize'>
      <soap12:operation soapAction='http://tonalize' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tonalizeDetail'>
      <soap12:operation soapAction='http://tonalizeDetail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tonalizeMultiple'>
      <soap12:operation soapAction='http://tonalizeMultiple' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='measurelyLymbix'>
    <documentation>lymbix launched a new platform that leverages the power of its sentiment and text analytics technology to power an all new content analytics engine Measure ly takes on the role of merging your content and social efforts by measuring the real earned media that drives convertable value for your marketing campaign Focus on the content influencers and referrals that perform</documentation>
    <port name='measurelyLymbixPort' binding='tns:measurelyLymbixBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://measurelyLymbix' />
    </port>
  </service>
</definitions>