workspace/datasets/mashape_dataset/metacriticv.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/metacriticV/' name='metacriticV' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/metacriticV/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/metacriticV/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/metacriticV/'>
      <xsd:element name='findGameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='platform' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findGameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userscore' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:string' minOccurs='0' />
                  <xsd:element name='developer' type='xsd:string' minOccurs='0' />
                  <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findMovieParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findMovieResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='cast' type='xsd:string' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userscore' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='runtime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findMusicAlbumParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='artist' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findMusicAlbumResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='artist' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:string' minOccurs='0' />
                  <xsd:element name='userscore' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findTvShowParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findTvShowResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='creator' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='series_premiere_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='series_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='userscore' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='season_premiere_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='season_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gameListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='listtype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='orderby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='platform' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gameListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='next_page' type='xsd:int' minOccurs='0' />
            <xsd:element name='total_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getComingSoonAlbumListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='comment' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getComingSoonMovieListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='cast' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNewReleasesAlbumListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='orderby' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNewReleasesAlbumListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avguserscore' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNewReleasesMovieListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='orderby' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNewReleasesMovieListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avguserscore' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='cast' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:string' minOccurs='0' />
                  <xsd:element name='runtime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCriticReviewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='orderby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCriticReviewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='critic' type='xsd:string' minOccurs='0' />
                  <xsd:element name='excerpt' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDetailsByUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDetailsByUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userscore' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:string' minOccurs='0' />
                  <xsd:element name='developer' type='xsd:string' minOccurs='0' />
                  <xsd:element name='platform' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reviews' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='movies' type='xsd:int' minOccurs='0' />
                        <xsd:element name='total' type='xsd:int' minOccurs='0' />
                        <xsd:element name='tv' type='xsd:int' minOccurs='0' />
                        <xsd:element name='music' type='xsd:int' minOccurs='0' />
                        <xsd:element name='games' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='ratings' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserReviewListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='orderby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserReviewListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='next_page' type='xsd:int' minOccurs='0' />
            <xsd:element name='average' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='total_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='distribution' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='negative' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mixed' type='xsd:int' minOccurs='0' />
                  <xsd:element name='positive' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserReviewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='orderby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserReviewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mediaTypeDescriptionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mediaTypeDescriptionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='genres' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='flight' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='racing' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sports' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='platformer' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='simulation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='third-person' type='xsd:string' minOccurs='0' />
                  <xsd:element name='fighting' type='xsd:string' minOccurs='0' />
                  <xsd:element name='adventure' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='real-time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='puzzle' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wargame' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='action' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first-person' type='xsd:string' minOccurs='0' />
                  <xsd:element name='strategy' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wrestling' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='role-playing' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='turn-based' type='xsd:string' minOccurs='0' />
                  <xsd:element name='party' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='platforms' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='xbox360' type='xsd:string' minOccurs='0' />
                  <xsd:element name='wii-u' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ps' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n3ds' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='gba' type='xsd:string' minOccurs='0' />
                  <xsd:element name='xboxone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='dreamcast' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='xbox' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ios' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='psp' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n64' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ps2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ds' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ps4' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ps3' type='xsd:string' minOccurs='0' />
                  <xsd:element name='pc' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='gamecube' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wii' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='vita' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchGamesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='maxpages' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='platform' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='yearfrom' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='yearto' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchGamesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='max_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchMoviesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='maxpages' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='yearfrom' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='yearto' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchMoviesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='max_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='avguserscore' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='cast' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:string' minOccurs='0' />
                  <xsd:element name='runtime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchMusicAlbumsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='maxpages' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='yearfrom' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='yearto' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchMusicAlbumsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='max_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchTvShowsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='maxpages' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='yearfrom' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='yearto' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchTvShowsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='max_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='findGameRequestMessage'>
    <part name='parameters' element='tns:findGameParameters' />
  </message>
  <message name='findGameResponseMessage'>
    <part name='response' element='tns:findGameResponse' />
  </message>
  <message name='findMovieRequestMessage'>
    <part name='parameters' element='tns:findMovieParameters' />
  </message>
  <message name='findMovieResponseMessage'>
    <part name='response' element='tns:findMovieResponse' />
  </message>
  <message name='findMusicAlbumRequestMessage'>
    <part name='parameters' element='tns:findMusicAlbumParameters' />
  </message>
  <message name='findMusicAlbumResponseMessage'>
    <part name='response' element='tns:findMusicAlbumResponse' />
  </message>
  <message name='findTvShowRequestMessage'>
    <part name='parameters' element='tns:findTvShowParameters' />
  </message>
  <message name='findTvShowResponseMessage'>
    <part name='response' element='tns:findTvShowResponse' />
  </message>
  <message name='gameListRequestMessage'>
    <part name='parameters' element='tns:gameListParameters' />
  </message>
  <message name='gameListResponseMessage'>
    <part name='response' element='tns:gameListResponse' />
  </message>
  <message name='getComingSoonAlbumListRequestMessage' />
  <message name='getComingSoonAlbumListResponseMessage'>
    <part name='response' element='tns:getComingSoonAlbumListResponse' />
  </message>
  <message name='getComingSoonMovieListRequestMessage' />
  <message name='getComingSoonMovieListResponseMessage'>
    <part name='response' element='tns:getComingSoonMovieListResponse' />
  </message>
  <message name='getNewReleasesAlbumListRequestMessage'>
    <part name='parameters' element='tns:getNewReleasesAlbumListParameters' />
  </message>
  <message name='getNewReleasesAlbumListResponseMessage'>
    <part name='response' element='tns:getNewReleasesAlbumListResponse' />
  </message>
  <message name='getNewReleasesMovieListRequestMessage'>
    <part name='parameters' element='tns:getNewReleasesMovieListParameters' />
  </message>
  <message name='getNewReleasesMovieListResponseMessage'>
    <part name='response' element='tns:getNewReleasesMovieListResponse' />
  </message>
  <message name='getCriticReviewsRequestMessage'>
    <part name='parameters' element='tns:getCriticReviewsParameters' />
  </message>
  <message name='getCriticReviewsResponseMessage'>
    <part name='response' element='tns:getCriticReviewsResponse' />
  </message>
  <message name='getDetailsByUrlRequestMessage'>
    <part name='parameters' element='tns:getDetailsByUrlParameters' />
  </message>
  <message name='getDetailsByUrlResponseMessage'>
    <part name='response' element='tns:getDetailsByUrlResponse' />
  </message>
  <message name='getUserDetailsRequestMessage'>
    <part name='parameters' element='tns:getUserDetailsParameters' />
  </message>
  <message name='getUserDetailsResponseMessage'>
    <part name='response' element='tns:getUserDetailsResponse' />
  </message>
  <message name='getUserReviewListRequestMessage'>
    <part name='parameters' element='tns:getUserReviewListParameters' />
  </message>
  <message name='getUserReviewListResponseMessage'>
    <part name='response' element='tns:getUserReviewListResponse' />
  </message>
  <message name='getUserReviewsRequestMessage'>
    <part name='parameters' element='tns:getUserReviewsParameters' />
  </message>
  <message name='getUserReviewsResponseMessage'>
    <part name='response' element='tns:getUserReviewsResponse' />
  </message>
  <message name='mediaTypeDescriptionRequestMessage'>
    <part name='parameters' element='tns:mediaTypeDescriptionParameters' />
  </message>
  <message name='mediaTypeDescriptionResponseMessage'>
    <part name='response' element='tns:mediaTypeDescriptionResponse' />
  </message>
  <message name='searchGamesRequestMessage'>
    <part name='parameters' element='tns:searchGamesParameters' />
  </message>
  <message name='searchGamesResponseMessage'>
    <part name='response' element='tns:searchGamesResponse' />
  </message>
  <message name='searchMoviesRequestMessage'>
    <part name='parameters' element='tns:searchMoviesParameters' />
  </message>
  <message name='searchMoviesResponseMessage'>
    <part name='response' element='tns:searchMoviesResponse' />
  </message>
  <message name='searchMusicAlbumsRequestMessage'>
    <part name='parameters' element='tns:searchMusicAlbumsParameters' />
  </message>
  <message name='searchMusicAlbumsResponseMessage'>
    <part name='response' element='tns:searchMusicAlbumsResponse' />
  </message>
  <message name='searchTvShowsRequestMessage'>
    <part name='parameters' element='tns:searchTvShowsParameters' />
  </message>
  <message name='searchTvShowsResponseMessage'>
    <part name='response' element='tns:searchTvShowsResponse' />
  </message>
  <portType name='metacriticVPortType'>
    <operation name='findGame'>
      <documentation>get game details by exact name match</documentation>
      <input message='tns:findGameRequestMessage' name='findGameInput' />
      <output message='tns:findGameResponseMessage' name='findGameOutput' />
    </operation>
    <operation name='findMovie'>
      <documentation>get movie detaily by exact name match</documentation>
      <input message='tns:findMovieRequestMessage' name='findMovieInput' />
      <output message='tns:findMovieResponseMessage' name='findMovieOutput' />
    </operation>
    <operation name='findMusicAlbum'>
      <documentation>get music album details by exact name and artist match</documentation>
      <input message='tns:findMusicAlbumRequestMessage' name='findMusicAlbumInput' />
      <output message='tns:findMusicAlbumResponseMessage' name='findMusicAlbumOutput' />
    </operation>
    <operation name='findTvShow'>
      <documentation>find TV show by exact name match</documentation>
      <input message='tns:findTvShowRequestMessage' name='findTvShowInput' />
      <output message='tns:findTvShowResponseMessage' name='findTvShowOutput' />
    </operation>
    <operation name='gameList'>
      <documentation>provides a listing function for the browsable game section</documentation>
      <input message='tns:gameListRequestMessage' name='gameListInput' />
      <output message='tns:gameListResponseMessage' name='gameListOutput' />
    </operation>
    <operation name='getComingSoonAlbumList'>
      <input message='tns:getComingSoonAlbumListRequestMessage' name='getComingSoonAlbumListInput' />
      <output message='tns:getComingSoonAlbumListResponseMessage' name='getComingSoonAlbumListOutput' />
    </operation>
    <operation name='getComingSoonMovieList'>
      <documentation></documentation>
      <input message='tns:getComingSoonMovieListRequestMessage' name='getComingSoonMovieListInput' />
      <output message='tns:getComingSoonMovieListResponseMessage' name='getComingSoonMovieListOutput' />
    </operation>
    <operation name='getNewReleasesAlbumList'>
      <documentation></documentation>
      <input message='tns:getNewReleasesAlbumListRequestMessage' name='getNewReleasesAlbumListInput' />
      <output message='tns:getNewReleasesAlbumListResponseMessage' name='getNewReleasesAlbumListOutput' />
    </operation>
    <operation name='getNewReleasesMovieList'>
      <documentation></documentation>
      <input message='tns:getNewReleasesMovieListRequestMessage' name='getNewReleasesMovieListInput' />
      <output message='tns:getNewReleasesMovieListResponseMessage' name='getNewReleasesMovieListOutput' />
    </operation>
    <operation name='getCriticReviews'>
      <documentation>get a list of critic reviews with scores links</documentation>
      <input message='tns:getCriticReviewsRequestMessage' name='getCriticReviewsInput' />
      <output message='tns:getCriticReviewsResponseMessage' name='getCriticReviewsOutput' />
    </operation>
    <operation name='getDetailsByUrl'>
      <documentation>extract details for any entity type by an URL To see what kind of details are extracted for each type see the respective find method as they return the same format</documentation>
      <input message='tns:getDetailsByUrlRequestMessage' name='getDetailsByUrlInput' />
      <output message='tns:getDetailsByUrlResponseMessage' name='getDetailsByUrlOutput' />
    </operation>
    <operation name='getUserDetails'>
      <documentation></documentation>
      <input message='tns:getUserDetailsRequestMessage' name='getUserDetailsInput' />
      <output message='tns:getUserDetailsResponseMessage' name='getUserDetailsOutput' />
    </operation>
    <operation name='getUserReviewList'>
      <documentation>use this endpoint to get a paginated list of reviews contributed by the user Only the first page of each type game movie includes score distribution and the score average</documentation>
      <input message='tns:getUserReviewListRequestMessage' name='getUserReviewListInput' />
      <output message='tns:getUserReviewListResponseMessage' name='getUserReviewListOutput' />
    </operation>
    <operation name='getUserReviews'>
      <documentation></documentation>
      <input message='tns:getUserReviewsRequestMessage' name='getUserReviewsInput' />
      <output message='tns:getUserReviewsResponseMessage' name='getUserReviewsOutput' />
    </operation>
    <operation name='mediaTypeDescription'>
      <documentation></documentation>
      <input message='tns:mediaTypeDescriptionRequestMessage' name='mediaTypeDescriptionInput' />
      <output message='tns:mediaTypeDescriptionResponseMessage' name='mediaTypeDescriptionOutput' />
    </operation>
    <operation name='searchGames'>
      <documentation></documentation>
      <input message='tns:searchGamesRequestMessage' name='searchGamesInput' />
      <output message='tns:searchGamesResponseMessage' name='searchGamesOutput' />
    </operation>
    <operation name='searchMovies'>
      <documentation></documentation>
      <input message='tns:searchMoviesRequestMessage' name='searchMoviesInput' />
      <output message='tns:searchMoviesResponseMessage' name='searchMoviesOutput' />
    </operation>
    <operation name='searchMusicAlbums'>
      <documentation></documentation>
      <input message='tns:searchMusicAlbumsRequestMessage' name='searchMusicAlbumsInput' />
      <output message='tns:searchMusicAlbumsResponseMessage' name='searchMusicAlbumsOutput' />
    </operation>
    <operation name='searchTvShows'>
      <documentation></documentation>
      <input message='tns:searchTvShowsRequestMessage' name='searchTvShowsInput' />
      <output message='tns:searchTvShowsResponseMessage' name='searchTvShowsOutput' />
    </operation>
  </portType>
  <binding name='metacriticVBinding' type='tns:metacriticVPortType'>
    <operation name='findGame'>
      <soap12:operation soapAction='http://findGame' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findMovie'>
      <soap12:operation soapAction='http://findMovie' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findMusicAlbum'>
      <soap12:operation soapAction='http://findMusicAlbum' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findTvShow'>
      <soap12:operation soapAction='http://findTvShow' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gameList'>
      <soap12:operation soapAction='http://gameList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getComingSoonAlbumList'>
      <soap12:operation soapAction='http://getComingSoonAlbumList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getComingSoonMovieList'>
      <soap12:operation soapAction='http://getComingSoonMovieList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getNewReleasesAlbumList'>
      <soap12:operation soapAction='http://getNewReleasesAlbumList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getNewReleasesMovieList'>
      <soap12:operation soapAction='http://getNewReleasesMovieList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCriticReviews'>
      <soap12:operation soapAction='http://getCriticReviews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDetailsByUrl'>
      <soap12:operation soapAction='http://getDetailsByUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserDetails'>
      <soap12:operation soapAction='http://getUserDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserReviewList'>
      <soap12:operation soapAction='http://getUserReviewList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserReviews'>
      <soap12:operation soapAction='http://getUserReviews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mediaTypeDescription'>
      <soap12:operation soapAction='http://mediaTypeDescription' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchGames'>
      <soap12:operation soapAction='http://searchGames' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchMovies'>
      <soap12:operation soapAction='http://searchMovies' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchMusicAlbums'>
      <soap12:operation soapAction='http://searchMusicAlbums' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchTvShows'>
      <soap12:operation soapAction='http://searchTvShows' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='metacriticV'>
    <documentation>unofficial Metacritic API for getting metascores and other details for Games Movies and Music</documentation>
    <port name='metacriticVPort' binding='tns:metacriticVBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://metacriticV' />
    </port>
  </service>
</definitions>