workspace/datasets/mashape_dataset/metacritic.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/metacritic/' name='metacritic' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/metacritic/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/metacritic/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/metacritic/'>
      <xsd:element name='entityTypeDescriptionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='retry' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='entityTypeDescriptionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='genres' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='flight' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='racing' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sports' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='platformer' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='simulation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='third-person' type='xsd:string' minOccurs='0' />
                  <xsd:element name='fighting' type='xsd:string' minOccurs='0' />
                  <xsd:element name='adventure' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='real-time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='puzzle' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wargame' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='action' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first-person' type='xsd:string' minOccurs='0' />
                  <xsd:element name='strategy' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wrestling' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='role-playing' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='turn-based' type='xsd:string' minOccurs='0' />
                  <xsd:element name='party' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='platforms' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='n2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='n67365' type='xsd:string' minOccurs='0' />
                  <xsd:element name='n3' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n6' type='xsd:string' minOccurs='0' />
                  <xsd:element name='n7' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n8' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n9' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n68410' type='xsd:string' minOccurs='0' />
                  <xsd:element name='n10' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n12' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n11' type='xsd:string' minOccurs='0' />
                  <xsd:element name='n14' type='xsd:string' minOccurs='0' />
                  <xsd:element name='n13' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n16' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n15' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findGameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userscore' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:string' minOccurs='0' />
                  <xsd:element name='developer' type='xsd:string' minOccurs='0' />
                  <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findMovieResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='cast' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='director' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='runtime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gameListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='listtype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='platform' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gameListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='platform' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getComingSoonMusicAlbumsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='debug' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='author' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='comment' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfNewReleasesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='orderby' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfNewReleasesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avguserscore' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getComingSoonMovieListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='score' type='xsd:string' minOccurs='0' />
                  <xsd:element name='cast' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCriticReviewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCriticReviewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='critic' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='excerpt' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDetailsByUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='retry' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDetailsByUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNewMovieReleasesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='orderby' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNewMovieReleasesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='max_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avguserscore' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='cast' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:string' minOccurs='0' />
                  <xsd:element name='runtime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserReviewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagecount' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserReviewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ratings_positive' type='xsd:int' minOccurs='0' />
            <xsd:element name='ratings_total' type='xsd:int' minOccurs='0' />
            <xsd:element name='reviews' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='total_ups' type='xsd:int' minOccurs='0' />
                  <xsd:element name='review' type='xsd:string' minOccurs='0' />
                  <xsd:element name='total_thumbs' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='ratings_mixed' type='xsd:int' minOccurs='0' />
            <xsd:element name='ratings_negative' type='xsd:int' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchGamesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='maxpages' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='platform' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='yearfrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='yearto' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchGamesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='max_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchMoviesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='max_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avguserscore' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='cast' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='genre' type='xsd:string' minOccurs='0' />
                  <xsd:element name='runtime' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchMusicAlbumsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='max_pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rlsdate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='entityTypeDescriptionRequestMessage'>
    <part name='parameters' element='tns:entityTypeDescriptionParameters' />
  </message>
  <message name='entityTypeDescriptionResponseMessage'>
    <part name='response' element='tns:entityTypeDescriptionResponse' />
  </message>
  <message name='findGameRequestMessage' />
  <message name='findGameResponseMessage'>
    <part name='response' element='tns:findGameResponse' />
  </message>
  <message name='findMovieRequestMessage' />
  <message name='findMovieResponseMessage'>
    <part name='response' element='tns:findMovieResponse' />
  </message>
  <message name='gameListRequestMessage'>
    <part name='parameters' element='tns:gameListParameters' />
  </message>
  <message name='gameListResponseMessage'>
    <part name='response' element='tns:gameListResponse' />
  </message>
  <message name='getComingSoonMusicAlbumsRequestMessage' />
  <message name='getComingSoonMusicAlbumsResponseMessage'>
    <part name='response' element='tns:getComingSoonMusicAlbumsResponse' />
  </message>
  <message name='getAListOfNewReleasesRequestMessage'>
    <part name='parameters' element='tns:getAListOfNewReleasesParameters' />
  </message>
  <message name='getAListOfNewReleasesResponseMessage'>
    <part name='response' element='tns:getAListOfNewReleasesResponse' />
  </message>
  <message name='getComingSoonMovieListRequestMessage' />
  <message name='getComingSoonMovieListResponseMessage'>
    <part name='response' element='tns:getComingSoonMovieListResponse' />
  </message>
  <message name='getCriticReviewsRequestMessage'>
    <part name='parameters' element='tns:getCriticReviewsParameters' />
  </message>
  <message name='getCriticReviewsResponseMessage'>
    <part name='response' element='tns:getCriticReviewsResponse' />
  </message>
  <message name='getDetailsByUrlRequestMessage'>
    <part name='parameters' element='tns:getDetailsByUrlParameters' />
  </message>
  <message name='getDetailsByUrlResponseMessage'>
    <part name='response' element='tns:getDetailsByUrlResponse' />
  </message>
  <message name='getNewMovieReleasesRequestMessage'>
    <part name='parameters' element='tns:getNewMovieReleasesParameters' />
  </message>
  <message name='getNewMovieReleasesResponseMessage'>
    <part name='response' element='tns:getNewMovieReleasesResponse' />
  </message>
  <message name='getUserReviewsRequestMessage'>
    <part name='parameters' element='tns:getUserReviewsParameters' />
  </message>
  <message name='getUserReviewsResponseMessage'>
    <part name='response' element='tns:getUserReviewsResponse' />
  </message>
  <message name='searchGamesRequestMessage'>
    <part name='parameters' element='tns:searchGamesParameters' />
  </message>
  <message name='searchGamesResponseMessage'>
    <part name='response' element='tns:searchGamesResponse' />
  </message>
  <message name='searchMoviesRequestMessage' />
  <message name='searchMoviesResponseMessage'>
    <part name='response' element='tns:searchMoviesResponse' />
  </message>
  <message name='searchMusicAlbumsRequestMessage' />
  <message name='searchMusicAlbumsResponseMessage'>
    <part name='response' element='tns:searchMusicAlbumsResponse' />
  </message>
  <portType name='metacriticPortType'>
    <operation name='entityTypeDescription'>
      <documentation>specification of type options</documentation>
      <input message='tns:entityTypeDescriptionRequestMessage' name='entityTypeDescriptionInput' />
      <output message='tns:entityTypeDescriptionResponseMessage' name='entityTypeDescriptionOutput' />
    </operation>
    <operation name='findGame'>
      <documentation>get game details by exact name match</documentation>
      <input message='tns:findGameRequestMessage' name='findGameInput' />
      <output message='tns:findGameResponseMessage' name='findGameOutput' />
    </operation>
    <operation name='findMovie'>
      <documentation>get movie details by exact name match</documentation>
      <input message='tns:findMovieRequestMessage' name='findMovieInput' />
      <output message='tns:findMovieResponseMessage' name='findMovieOutput' />
    </operation>
    <operation name='gameList'>
      <documentation>provides a listing function for the browsable game section</documentation>
      <input message='tns:gameListRequestMessage' name='gameListInput' />
      <output message='tns:gameListResponseMessage' name='gameListOutput' />
    </operation>
    <operation name='getComingSoonMusicAlbums'>
      <documentation></documentation>
      <input message='tns:getComingSoonMusicAlbumsRequestMessage' name='getComingSoonMusicAlbumsInput' />
      <output message='tns:getComingSoonMusicAlbumsResponseMessage' name='getComingSoonMusicAlbumsOutput' />
    </operation>
    <operation name='getAListOfNewReleases'>
      <documentation>this is scraping the Music New releases page on metacritic com</documentation>
      <input message='tns:getAListOfNewReleasesRequestMessage' name='getAListOfNewReleasesInput' />
      <output message='tns:getAListOfNewReleasesResponseMessage' name='getAListOfNewReleasesOutput' />
    </operation>
    <operation name='getComingSoonMovieList'>
      <documentation></documentation>
      <input message='tns:getComingSoonMovieListRequestMessage' name='getComingSoonMovieListInput' />
      <output message='tns:getComingSoonMovieListResponseMessage' name='getComingSoonMovieListOutput' />
    </operation>
    <operation name='getCriticReviews'>
      <documentation>get a list of critic reviews with scores links</documentation>
      <input message='tns:getCriticReviewsRequestMessage' name='getCriticReviewsInput' />
      <output message='tns:getCriticReviewsResponseMessage' name='getCriticReviewsOutput' />
    </operation>
    <operation name='getDetailsByUrl'>
      <documentation>extract details for any entity type by an URL To see what kind of details are extracted for each type see the respective find method as they return the same format</documentation>
      <input message='tns:getDetailsByUrlRequestMessage' name='getDetailsByUrlInput' />
      <output message='tns:getDetailsByUrlResponseMessage' name='getDetailsByUrlOutput' />
    </operation>
    <operation name='getNewMovieReleases'>
      <input message='tns:getNewMovieReleasesRequestMessage' name='getNewMovieReleasesInput' />
      <output message='tns:getNewMovieReleasesResponseMessage' name='getNewMovieReleasesOutput' />
    </operation>
    <operation name='getUserReviews'>
      <documentation>fetch up to user reviews</documentation>
      <input message='tns:getUserReviewsRequestMessage' name='getUserReviewsInput' />
      <output message='tns:getUserReviewsResponseMessage' name='getUserReviewsOutput' />
    </operation>
    <operation name='searchGames'>
      <input message='tns:searchGamesRequestMessage' name='searchGamesInput' />
      <output message='tns:searchGamesResponseMessage' name='searchGamesOutput' />
    </operation>
    <operation name='searchMovies'>
      <documentation></documentation>
      <input message='tns:searchMoviesRequestMessage' name='searchMoviesInput' />
      <output message='tns:searchMoviesResponseMessage' name='searchMoviesOutput' />
    </operation>
    <operation name='searchMusicAlbums'>
      <documentation>perform a search for the specified keywords</documentation>
      <input message='tns:searchMusicAlbumsRequestMessage' name='searchMusicAlbumsInput' />
      <output message='tns:searchMusicAlbumsResponseMessage' name='searchMusicAlbumsOutput' />
    </operation>
  </portType>
  <binding name='metacriticBinding' type='tns:metacriticPortType'>
    <operation name='entityTypeDescription'>
      <soap12:operation soapAction='http://entityTypeDescription' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findGame'>
      <soap12:operation soapAction='http://findGame' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findMovie'>
      <soap12:operation soapAction='http://findMovie' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gameList'>
      <soap12:operation soapAction='http://gameList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getComingSoonMusicAlbums'>
      <soap12:operation soapAction='http://getComingSoonMusicAlbums' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAListOfNewReleases'>
      <soap12:operation soapAction='http://getAListOfNewReleases' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getComingSoonMovieList'>
      <soap12:operation soapAction='http://getComingSoonMovieList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCriticReviews'>
      <soap12:operation soapAction='http://getCriticReviews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDetailsByUrl'>
      <soap12:operation soapAction='http://getDetailsByUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getNewMovieReleases'>
      <soap12:operation soapAction='http://getNewMovieReleases' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserReviews'>
      <soap12:operation soapAction='http://getUserReviews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchGames'>
      <soap12:operation soapAction='http://searchGames' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchMovies'>
      <soap12:operation soapAction='http://searchMovies' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchMusicAlbums'>
      <soap12:operation soapAction='http://searchMusicAlbums' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='metacritic'>
    <documentation>deprecated see https www mashape com byroredux metacritic v instead</documentation>
    <port name='metacriticPort' binding='tns:metacriticBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://metacritic' />
    </port>
  </service>
</definitions>