workspace/datasets/mashape_dataset/minecraftforgeoptifine.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/minecraftForgeOptifine/' name='minecraftForgeOptifine' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/minecraftForgeOptifine/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/minecraftForgeOptifine/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/minecraftForgeOptifine/'>
      <xsd:element name='downloadforgeinstallerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='forgeversion' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='minecraftversion' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadforgeinstallerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadminecraftjarParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='minecraftversion' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadminecraftjarResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadminecraftjarchecksumParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='minecraftversion' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadminecraftjarchecksumResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadminecraftjsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='minecraftversion' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadminecraftjsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadoptimizeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='optifineversion' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadoptimizeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='forgelegacylistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='forgeversionlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='minecraftresourcesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='minecraftversionlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='optifineversionlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='downloadforgeinstallerRequestMessage'>
    <part name='parameters' element='tns:downloadforgeinstallerParameters' />
  </message>
  <message name='downloadforgeinstallerResponseMessage'>
    <part name='response' element='tns:downloadforgeinstallerResponse' />
  </message>
  <message name='downloadminecraftjarRequestMessage'>
    <part name='parameters' element='tns:downloadminecraftjarParameters' />
  </message>
  <message name='downloadminecraftjarResponseMessage'>
    <part name='response' element='tns:downloadminecraftjarResponse' />
  </message>
  <message name='downloadminecraftjarchecksumRequestMessage'>
    <part name='parameters' element='tns:downloadminecraftjarchecksumParameters' />
  </message>
  <message name='downloadminecraftjarchecksumResponseMessage'>
    <part name='response' element='tns:downloadminecraftjarchecksumResponse' />
  </message>
  <message name='downloadminecraftjsonRequestMessage'>
    <part name='parameters' element='tns:downloadminecraftjsonParameters' />
  </message>
  <message name='downloadminecraftjsonResponseMessage'>
    <part name='response' element='tns:downloadminecraftjsonResponse' />
  </message>
  <message name='downloadoptimizeRequestMessage'>
    <part name='parameters' element='tns:downloadoptimizeParameters' />
  </message>
  <message name='downloadoptimizeResponseMessage'>
    <part name='response' element='tns:downloadoptimizeResponse' />
  </message>
  <message name='forgelegacylistRequestMessage' />
  <message name='forgelegacylistResponseMessage'>
    <part name='response' element='tns:forgelegacylistResponse' />
  </message>
  <message name='forgeversionlistRequestMessage' />
  <message name='forgeversionlistResponseMessage'>
    <part name='response' element='tns:forgeversionlistResponse' />
  </message>
  <message name='minecraftresourcesRequestMessage' />
  <message name='minecraftresourcesResponseMessage'>
    <part name='response' element='tns:minecraftresourcesResponse' />
  </message>
  <message name='minecraftversionlistRequestMessage' />
  <message name='minecraftversionlistResponseMessage'>
    <part name='response' element='tns:minecraftversionlistResponse' />
  </message>
  <message name='optifineversionlistRequestMessage' />
  <message name='optifineversionlistResponseMessage'>
    <part name='response' element='tns:optifineversionlistResponse' />
  </message>
  <portType name='minecraftForgeOptifinePortType'>
    <operation name='downloadforgeinstaller'>
      <documentation>redirect to download Forge Installer</documentation>
      <input message='tns:downloadforgeinstallerRequestMessage' name='downloadforgeinstallerInput' />
      <output message='tns:downloadforgeinstallerResponseMessage' name='downloadforgeinstallerOutput' />
    </operation>
    <operation name='downloadminecraftjar'>
      <documentation>redirect to download Minecraft jar file</documentation>
      <input message='tns:downloadminecraftjarRequestMessage' name='downloadminecraftjarInput' />
      <output message='tns:downloadminecraftjarResponseMessage' name='downloadminecraftjarOutput' />
    </operation>
    <operation name='downloadminecraftjarchecksum'>
      <documentation>return a sha file used to checksum for downloadMinecraftJar method</documentation>
      <input message='tns:downloadminecraftjarchecksumRequestMessage' name='downloadminecraftjarchecksumInput' />
      <output message='tns:downloadminecraftjarchecksumResponseMessage' name='downloadminecraftjarchecksumOutput' />
    </operation>
    <operation name='downloadminecraftjson'>
      <documentation>redirect to download Minecraft json file</documentation>
      <input message='tns:downloadminecraftjsonRequestMessage' name='downloadminecraftjsonInput' />
      <output message='tns:downloadminecraftjsonResponseMessage' name='downloadminecraftjsonOutput' />
    </operation>
    <operation name='downloadoptimize'>
      <documentation>redirect to download Optimize</documentation>
      <input message='tns:downloadoptimizeRequestMessage' name='downloadoptimizeInput' />
      <output message='tns:downloadoptimizeResponseMessage' name='downloadoptimizeOutput' />
    </operation>
    <operation name='forgelegacylist'>
      <documentation>return a JSON format file of http files minecraftforge net minecraftforge index legacy html</documentation>
      <input message='tns:forgelegacylistRequestMessage' name='forgelegacylistInput' />
      <output message='tns:forgelegacylistResponseMessage' name='forgelegacylistOutput' />
    </operation>
    <operation name='forgeversionlist'>
      <documentation>this method return a forge version list in JSON format</documentation>
      <input message='tns:forgeversionlistRequestMessage' name='forgeversionlistInput' />
      <output message='tns:forgeversionlistResponseMessage' name='forgeversionlistOutput' />
    </operation>
    <operation name='minecraftresources'>
      <documentation>same to official source Used to get resources file for MC</documentation>
      <input message='tns:minecraftresourcesRequestMessage' name='minecraftresourcesInput' />
      <output message='tns:minecraftresourcesResponseMessage' name='minecraftresourcesOutput' />
    </operation>
    <operation name='minecraftversionlist'>
      <documentation>return Minecraft version list in JSON format</documentation>
      <input message='tns:minecraftversionlistRequestMessage' name='minecraftversionlistInput' />
      <output message='tns:minecraftversionlistResponseMessage' name='minecraftversionlistOutput' />
    </operation>
    <operation name='optifineversionlist'>
      <documentation>get Optifine version list</documentation>
      <input message='tns:optifineversionlistRequestMessage' name='optifineversionlistInput' />
      <output message='tns:optifineversionlistResponseMessage' name='optifineversionlistOutput' />
    </operation>
  </portType>
  <binding name='minecraftForgeOptifineBinding' type='tns:minecraftForgeOptifinePortType'>
    <operation name='downloadforgeinstaller'>
      <soap12:operation soapAction='http://downloadforgeinstaller' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='downloadminecraftjar'>
      <soap12:operation soapAction='http://downloadminecraftjar' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='downloadminecraftjarchecksum'>
      <soap12:operation soapAction='http://downloadminecraftjarchecksum' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='downloadminecraftjson'>
      <soap12:operation soapAction='http://downloadminecraftjson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='downloadoptimize'>
      <soap12:operation soapAction='http://downloadoptimize' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='forgelegacylist'>
      <soap12:operation soapAction='http://forgelegacylist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='forgeversionlist'>
      <soap12:operation soapAction='http://forgeversionlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='minecraftresources'>
      <soap12:operation soapAction='http://minecraftresources' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='minecraftversionlist'>
      <soap12:operation soapAction='http://minecraftversionlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='optifineversionlist'>
      <soap12:operation soapAction='http://optifineversionlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='minecraftForgeOptifine'>
    <documentation>this api is used to get version list and download for Minectaft Forge and Optifine</documentation>
    <port name='minecraftForgeOptifinePort' binding='tns:minecraftForgeOptifineBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://minecraftForgeOptifine' />
    </port>
  </service>
</definitions>