workspace/datasets/mashape_dataset/mobilenumberportabilityindiaoperator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mobileNumberPortabilityIndiaOperator/' name='mobileNumberPortabilityIndiaOperator' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mobileNumberPortabilityIndiaOperator/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mobileNumberPortabilityIndiaOperator/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mobileNumberPortabilityIndiaOperator/'>
      <xsd:element name='mnpMobileNoInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='number' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mnpMobileNoInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Operator' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Is_MNP' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Telecom_circle' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='mnpMobileNoInfoRequestMessage'>
    <part name='parameters' element='tns:mnpMobileNoInfoParameters' />
  </message>
  <message name='mnpMobileNoInfoResponseMessage'>
    <part name='response' element='tns:mnpMobileNoInfoResponse' />
  </message>
  <portType name='mobileNumberPortabilityIndiaOperatorPortType'>
    <operation name='mnpMobileNoInfo'>
      <documentation>find the mobile number info of MNP number in India</documentation>
      <input message='tns:mnpMobileNoInfoRequestMessage' name='mnpMobileNoInfoInput' />
      <output message='tns:mnpMobileNoInfoResponseMessage' name='mnpMobileNoInfoOutput' />
    </operation>
  </portType>
  <binding name='mobileNumberPortabilityIndiaOperatorBinding' type='tns:mobileNumberPortabilityIndiaOperatorPortType'>
    <operation name='mnpMobileNoInfo'>
      <soap12:operation soapAction='http://mnpMobileNoInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mobileNumberPortabilityIndiaOperator'>
    <documentation>this API will show the correct operator name and location details for Indian mobile number even after using MNP This will be useful to recharge sites for to detect correct operator even if the customer has used mnp Mobile Number Portability facility KEYWORDS mnp data mnp details mnp database mnp database india mnp data india mnp trai data mobile number portability</documentation>
    <port name='mobileNumberPortabilityIndiaOperatorPort' binding='tns:mobileNumberPortabilityIndiaOperatorBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mobileNumberPortabilityIndiaOperator' />
    </port>
  </service>
</definitions>