workspace/datasets/mashape_dataset/mobstac.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mobstac/' name='mobstac' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mobstac/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mobstac/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mobstac/'>
      <xsd:element name='createANewCategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewProductResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='detail' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAppResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='detail' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createOrganizationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteACategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAProductResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAppParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAppResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAProductResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllAppsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='nsid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='orgid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllAppsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllOrganizationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAllProductsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProductsByCategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSingleAppWithAppIdAppIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSingleAppWithAppIdAppIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTheShoppingCartStateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsACategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyAnExistingCategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyAnExistingCategoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyAnExistingCategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyAnExistingProductResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyTheShoppingCartStateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAppParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAppResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createANewCategoryRequestMessage' />
  <message name='createANewCategoryResponseMessage'>
    <part name='response' element='tns:createANewCategoryResponse' />
  </message>
  <message name='createANewProductRequestMessage' />
  <message name='createANewProductResponseMessage'>
    <part name='response' element='tns:createANewProductResponse' />
  </message>
  <message name='createAppRequestMessage' />
  <message name='createAppResponseMessage'>
    <part name='response' element='tns:createAppResponse' />
  </message>
  <message name='createOrganizationRequestMessage' />
  <message name='createOrganizationResponseMessage'>
    <part name='response' element='tns:createOrganizationResponse' />
  </message>
  <message name='deleteACategoryRequestMessage' />
  <message name='deleteACategoryResponseMessage'>
    <part name='response' element='tns:deleteACategoryResponse' />
  </message>
  <message name='deleteAProductRequestMessage' />
  <message name='deleteAProductResponseMessage'>
    <part name='response' element='tns:deleteAProductResponse' />
  </message>
  <message name='deleteAppRequestMessage'>
    <part name='parameters' element='tns:deleteAppParameters' />
  </message>
  <message name='deleteAppResponseMessage'>
    <part name='response' element='tns:deleteAppResponse' />
  </message>
  <message name='getAProductRequestMessage' />
  <message name='getAProductResponseMessage'>
    <part name='response' element='tns:getAProductResponse' />
  </message>
  <message name='getAllAppsRequestMessage'>
    <part name='parameters' element='tns:getAllAppsParameters' />
  </message>
  <message name='getAllAppsResponseMessage'>
    <part name='response' element='tns:getAllAppsResponse' />
  </message>
  <message name='getAllCategoriesRequestMessage' />
  <message name='getAllCategoriesResponseMessage'>
    <part name='response' element='tns:getAllCategoriesResponse' />
  </message>
  <message name='getAllOrganizationsRequestMessage' />
  <message name='getAllOrganizationsResponseMessage'>
    <part name='response' element='tns:getAllOrganizationsResponse' />
  </message>
  <message name='getAllProductsRequestMessage' />
  <message name='getAllProductsResponseMessage'>
    <part name='response' element='tns:getAllProductsResponse' />
  </message>
  <message name='getProductsByCategoryRequestMessage' />
  <message name='getProductsByCategoryResponseMessage'>
    <part name='response' element='tns:getProductsByCategoryResponse' />
  </message>
  <message name='getSingleAppWithAppIdAppIdRequestMessage'>
    <part name='parameters' element='tns:getSingleAppWithAppIdAppIdParameters' />
  </message>
  <message name='getSingleAppWithAppIdAppIdResponseMessage'>
    <part name='response' element='tns:getSingleAppWithAppIdAppIdResponse' />
  </message>
  <message name='getTheShoppingCartStateRequestMessage' />
  <message name='getTheShoppingCartStateResponseMessage'>
    <part name='response' element='tns:getTheShoppingCartStateResponse' />
  </message>
  <message name='getsACategoryRequestMessage' />
  <message name='getsACategoryResponseMessage'>
    <part name='response' element='tns:getsACategoryResponse' />
  </message>
  <message name='modifyAnExistingCategoryRequestMessage' />
  <message name='modifyAnExistingCategoryResponseMessage'>
    <part name='response' element='tns:modifyAnExistingCategoryResponse' />
  </message>
  <message name='modifyAnExistingCategoryRequestMessage'>
    <part name='parameters' element='tns:modifyAnExistingCategoryParameters' />
  </message>
  <message name='modifyAnExistingCategoryResponseMessage'>
    <part name='response' element='tns:modifyAnExistingCategoryResponse' />
  </message>
  <message name='modifyAnExistingProductRequestMessage' />
  <message name='modifyAnExistingProductResponseMessage'>
    <part name='response' element='tns:modifyAnExistingProductResponse' />
  </message>
  <message name='modifyTheShoppingCartStateRequestMessage' />
  <message name='modifyTheShoppingCartStateResponseMessage'>
    <part name='response' element='tns:modifyTheShoppingCartStateResponse' />
  </message>
  <message name='updateAppRequestMessage'>
    <part name='parameters' element='tns:updateAppParameters' />
  </message>
  <message name='updateAppResponseMessage'>
    <part name='response' element='tns:updateAppResponse' />
  </message>
  <portType name='mobstacPortType'>
    <operation name='createANewCategory'>
      <documentation>creates a new category Accepts a JSON encoded array of key value pairs</documentation>
      <input message='tns:createANewCategoryRequestMessage' name='createANewCategoryInput' />
      <output message='tns:createANewCategoryResponseMessage' name='createANewCategoryOutput' />
    </operation>
    <operation name='createANewProduct'>
      <documentation>creates a new product Accepts a JSON encoded array of key value pairs The array should contain a categories field containing the list of category ids for the product</documentation>
      <input message='tns:createANewProductRequestMessage' name='createANewProductInput' />
      <output message='tns:createANewProductResponseMessage' name='createANewProductOutput' />
    </operation>
    <operation name='createApp'>
      <documentation>creates a new app for user belonging to organization id org id and namespace id ns id</documentation>
      <input message='tns:createAppRequestMessage' name='createAppInput' />
      <output message='tns:createAppResponseMessage' name='createAppOutput' />
    </operation>
    <operation name='createOrganization'>
      <documentation>creates a new orgasnization for a user</documentation>
      <input message='tns:createOrganizationRequestMessage' name='createOrganizationInput' />
      <output message='tns:createOrganizationResponseMessage' name='createOrganizationOutput' />
    </operation>
    <operation name='deleteACategory'>
      <documentation>deletes a category Enter the category id in the request URL</documentation>
      <input message='tns:deleteACategoryRequestMessage' name='deleteACategoryInput' />
      <output message='tns:deleteACategoryResponseMessage' name='deleteACategoryOutput' />
    </operation>
    <operation name='deleteAProduct'>
      <documentation>deletes a product</documentation>
      <input message='tns:deleteAProductRequestMessage' name='deleteAProductInput' />
      <output message='tns:deleteAProductResponseMessage' name='deleteAProductOutput' />
    </operation>
    <operation name='deleteApp'>
      <documentation>deletes an app with app id app id</documentation>
      <input message='tns:deleteAppRequestMessage' name='deleteAppInput' />
      <output message='tns:deleteAppResponseMessage' name='deleteAppOutput' />
    </operation>
    <operation name='getAProduct'>
      <documentation>returns a JSON encoded array of product attributes Product ID needs to be passed in the request URL</documentation>
      <input message='tns:getAProductRequestMessage' name='getAProductInput' />
      <output message='tns:getAProductResponseMessage' name='getAProductOutput' />
    </operation>
    <operation name='getAllApps'>
      <documentation>returns a JSON encoded array of apps linked to organization id org id and namespace id ns id</documentation>
      <input message='tns:getAllAppsRequestMessage' name='getAllAppsInput' />
      <output message='tns:getAllAppsResponseMessage' name='getAllAppsOutput' />
    </operation>
    <operation name='getAllCategories'>
      <documentation>returns a JSON encoded list of all categories belonging to the given store namespace id</documentation>
      <input message='tns:getAllCategoriesRequestMessage' name='getAllCategoriesInput' />
      <output message='tns:getAllCategoriesResponseMessage' name='getAllCategoriesOutput' />
    </operation>
    <operation name='getAllOrganizations'>
      <documentation>returns a JSON encoded list of all organizations belonging to a particular user account</documentation>
      <input message='tns:getAllOrganizationsRequestMessage' name='getAllOrganizationsInput' />
      <output message='tns:getAllOrganizationsResponseMessage' name='getAllOrganizationsOutput' />
    </operation>
    <operation name='getAllProducts'>
      <documentation>returns a JSON encoded list of all products belonging to the given store namespace id</documentation>
      <input message='tns:getAllProductsRequestMessage' name='getAllProductsInput' />
      <output message='tns:getAllProductsResponseMessage' name='getAllProductsOutput' />
    </operation>
    <operation name='getProductsByCategory'>
      <documentation>returns a JSON encoded list of products belonging to the given category id</documentation>
      <input message='tns:getProductsByCategoryRequestMessage' name='getProductsByCategoryInput' />
      <output message='tns:getProductsByCategoryResponseMessage' name='getProductsByCategoryOutput' />
    </operation>
    <operation name='getSingleAppWithAppIdAppId'>
      <documentation>returns a JSON encoded list of attributes linked to app id app id</documentation>
      <input message='tns:getSingleAppWithAppIdAppIdRequestMessage' name='getSingleAppWithAppIdAppIdInput' />
      <output message='tns:getSingleAppWithAppIdAppIdResponseMessage' name='getSingleAppWithAppIdAppIdOutput' />
    </operation>
    <operation name='getTheShoppingCartState'>
      <documentation>returns an associative array with product ids as keys and their quantities as values Requires setting the HTTP Authorization header for uniquely identifying the customer Read the docs for further details</documentation>
      <input message='tns:getTheShoppingCartStateRequestMessage' name='getTheShoppingCartStateInput' />
      <output message='tns:getTheShoppingCartStateResponseMessage' name='getTheShoppingCartStateOutput' />
    </operation>
    <operation name='getsACategory'>
      <documentation>returns a JSON encoded array of category attributes for the category id mentioned in the Request URL</documentation>
      <input message='tns:getsACategoryRequestMessage' name='getsACategoryInput' />
      <output message='tns:getsACategoryResponseMessage' name='getsACategoryOutput' />
    </operation>
    <operation name='modifyAnExistingCategory'>
      <documentation>returns a JSON encoded associative array of new product attributes for the category id specified in the Request URL</documentation>
      <input message='tns:modifyAnExistingCategoryRequestMessage' name='modifyAnExistingCategoryInput' />
      <output message='tns:modifyAnExistingCategoryResponseMessage' name='modifyAnExistingCategoryOutput' />
    </operation>
    <operation name='modifyAnExistingCategory'>
      <documentation>accepts an associative array with product ids as keys and their quantities as values Requires setting the HTTP Authorization header for uniquely identifying the customer Read the docs for further details</documentation>
      <input message='tns:modifyAnExistingCategoryRequestMessage' name='modifyAnExistingCategoryInput' />
      <output message='tns:modifyAnExistingCategoryResponseMessage' name='modifyAnExistingCategoryOutput' />
    </operation>
    <operation name='modifyAnExistingProduct'>
      <documentation>returns a JSON encoded associative array of new product attributes</documentation>
      <input message='tns:modifyAnExistingProductRequestMessage' name='modifyAnExistingProductInput' />
      <output message='tns:modifyAnExistingProductResponseMessage' name='modifyAnExistingProductOutput' />
    </operation>
    <operation name='modifyTheShoppingCartState'>
      <documentation>requires setting the HTTP Authorization header for uniquely identifying the customer Read the docs for further details</documentation>
      <input message='tns:modifyTheShoppingCartStateRequestMessage' name='modifyTheShoppingCartStateInput' />
      <output message='tns:modifyTheShoppingCartStateResponseMessage' name='modifyTheShoppingCartStateOutput' />
    </operation>
    <operation name='updateApp'>
      <documentation>updates the values of attributes linked to app id app id</documentation>
      <input message='tns:updateAppRequestMessage' name='updateAppInput' />
      <output message='tns:updateAppResponseMessage' name='updateAppOutput' />
    </operation>
  </portType>
  <binding name='mobstacBinding' type='tns:mobstacPortType'>
    <operation name='createANewCategory'>
      <soap12:operation soapAction='http://createANewCategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createANewProduct'>
      <soap12:operation soapAction='http://createANewProduct' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createApp'>
      <soap12:operation soapAction='http://createApp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createOrganization'>
      <soap12:operation soapAction='http://createOrganization' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteACategory'>
      <soap12:operation soapAction='http://deleteACategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAProduct'>
      <soap12:operation soapAction='http://deleteAProduct' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteApp'>
      <soap12:operation soapAction='http://deleteApp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAProduct'>
      <soap12:operation soapAction='http://getAProduct' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAllApps'>
      <soap12:operation soapAction='http://getAllApps' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAllCategories'>
      <soap12:operation soapAction='http://getAllCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAllOrganizations'>
      <soap12:operation soapAction='http://getAllOrganizations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAllProducts'>
      <soap12:operation soapAction='http://getAllProducts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getProductsByCategory'>
      <soap12:operation soapAction='http://getProductsByCategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSingleAppWithAppIdAppId'>
      <soap12:operation soapAction='http://getSingleAppWithAppIdAppId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTheShoppingCartState'>
      <soap12:operation soapAction='http://getTheShoppingCartState' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsACategory'>
      <soap12:operation soapAction='http://getsACategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='modifyAnExistingCategory'>
      <soap12:operation soapAction='http://modifyAnExistingCategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='modifyAnExistingCategory'>
      <soap12:operation soapAction='http://modifyAnExistingCategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='modifyAnExistingProduct'>
      <soap12:operation soapAction='http://modifyAnExistingProduct' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='modifyTheShoppingCartState'>
      <soap12:operation soapAction='http://modifyTheShoppingCartState' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateApp'>
      <soap12:operation soapAction='http://updateApp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mobstac'>
    <documentation>build beautiful mobile commerce apps Leave the heavy lifting to us</documentation>
    <port name='mobstacPort' binding='tns:mobstacBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mobstac' />
    </port>
  </service>
</definitions>