workspace/datasets/mashape_dataset/mogreet.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mogreet/' name='mogreet' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mogreet/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mogreet/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mogreet/'>
      <xsd:element name='listAppendResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDestroyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='listid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDestroyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDownloadParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='listid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDownloadResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listEmptyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPruneResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listSendResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mediaGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contentid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mediaGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mediaListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mediaListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mediaUploadResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='media' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='content_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='smart_url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='systemPingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='systemPingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transactionSendResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userLookupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='number' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userLookupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='listAppendRequestMessage' />
  <message name='listAppendResponseMessage'>
    <part name='response' element='tns:listAppendResponse' />
  </message>
  <message name='listCreateRequestMessage' />
  <message name='listCreateResponseMessage'>
    <part name='response' element='tns:listCreateResponse' />
  </message>
  <message name='listDestroyRequestMessage'>
    <part name='parameters' element='tns:listDestroyParameters' />
  </message>
  <message name='listDestroyResponseMessage'>
    <part name='response' element='tns:listDestroyResponse' />
  </message>
  <message name='listDownloadRequestMessage'>
    <part name='parameters' element='tns:listDownloadParameters' />
  </message>
  <message name='listDownloadResponseMessage'>
    <part name='response' element='tns:listDownloadResponse' />
  </message>
  <message name='listEmptyRequestMessage' />
  <message name='listEmptyResponseMessage'>
    <part name='response' element='tns:listEmptyResponse' />
  </message>
  <message name='listPruneRequestMessage' />
  <message name='listPruneResponseMessage'>
    <part name='response' element='tns:listPruneResponse' />
  </message>
  <message name='listSendRequestMessage' />
  <message name='listSendResponseMessage'>
    <part name='response' element='tns:listSendResponse' />
  </message>
  <message name='mediaGetRequestMessage'>
    <part name='parameters' element='tns:mediaGetParameters' />
  </message>
  <message name='mediaGetResponseMessage'>
    <part name='response' element='tns:mediaGetResponse' />
  </message>
  <message name='mediaListRequestMessage'>
    <part name='parameters' element='tns:mediaListParameters' />
  </message>
  <message name='mediaListResponseMessage'>
    <part name='response' element='tns:mediaListResponse' />
  </message>
  <message name='mediaUploadRequestMessage' />
  <message name='mediaUploadResponseMessage'>
    <part name='response' element='tns:mediaUploadResponse' />
  </message>
  <message name='systemPingRequestMessage'>
    <part name='parameters' element='tns:systemPingParameters' />
  </message>
  <message name='systemPingResponseMessage'>
    <part name='response' element='tns:systemPingResponse' />
  </message>
  <message name='transactionSendRequestMessage' />
  <message name='transactionSendResponseMessage'>
    <part name='response' element='tns:transactionSendResponse' />
  </message>
  <message name='userLookupRequestMessage'>
    <part name='parameters' element='tns:userLookupParameters' />
  </message>
  <message name='userLookupResponseMessage'>
    <part name='response' element='tns:userLookupResponse' />
  </message>
  <portType name='mogreetPortType'>
    <operation name='listAppend'>
      <documentation>add numbers to your list</documentation>
      <input message='tns:listAppendRequestMessage' name='listAppendInput' />
      <output message='tns:listAppendResponseMessage' name='listAppendOutput' />
    </operation>
    <operation name='listCreate'>
      <documentation>create a list of mobile numbers</documentation>
      <input message='tns:listCreateRequestMessage' name='listCreateInput' />
      <output message='tns:listCreateResponseMessage' name='listCreateOutput' />
    </operation>
    <operation name='listDestroy'>
      <documentation>destroy a list completely</documentation>
      <input message='tns:listDestroyRequestMessage' name='listDestroyInput' />
      <output message='tns:listDestroyResponseMessage' name='listDestroyOutput' />
    </operation>
    <operation name='listDownload'>
      <documentation>download a list of numbers</documentation>
      <input message='tns:listDownloadRequestMessage' name='listDownloadInput' />
      <output message='tns:listDownloadResponseMessage' name='listDownloadOutput' />
    </operation>
    <operation name='listEmpty'>
      <documentation>erase a list</documentation>
      <input message='tns:listEmptyRequestMessage' name='listEmptyInput' />
      <output message='tns:listEmptyResponseMessage' name='listEmptyOutput' />
    </operation>
    <operation name='listPrune'>
      <documentation>remove number from a list</documentation>
      <input message='tns:listPruneRequestMessage' name='listPruneInput' />
      <output message='tns:listPruneResponseMessage' name='listPruneOutput' />
    </operation>
    <operation name='listSend'>
      <documentation>send a blast of messages to a list of users</documentation>
      <input message='tns:listSendRequestMessage' name='listSendInput' />
      <output message='tns:listSendResponseMessage' name='listSendOutput' />
    </operation>
    <operation name='mediaGet'>
      <documentation>lookup a single media object by id</documentation>
      <input message='tns:mediaGetRequestMessage' name='mediaGetInput' />
      <output message='tns:mediaGetResponseMessage' name='mediaGetOutput' />
    </operation>
    <operation name='mediaList'>
      <documentation>list all the media you have previously uploaded</documentation>
      <input message='tns:mediaListRequestMessage' name='mediaListInput' />
      <output message='tns:mediaListResponseMessage' name='mediaListOutput' />
    </operation>
    <operation name='mediaUpload'>
      <documentation>upload image video or audio files to Mogreet</documentation>
      <input message='tns:mediaUploadRequestMessage' name='mediaUploadInput' />
      <output message='tns:mediaUploadResponseMessage' name='mediaUploadOutput' />
    </operation>
    <operation name='systemPing'>
      <documentation>test your credentials and our system status</documentation>
      <input message='tns:systemPingRequestMessage' name='systemPingInput' />
      <output message='tns:systemPingResponseMessage' name='systemPingOutput' />
    </operation>
    <operation name='transactionSend'>
      <documentation>main api endpoint</documentation>
      <input message='tns:transactionSendRequestMessage' name='transactionSendInput' />
      <output message='tns:transactionSendResponseMessage' name='transactionSendOutput' />
    </operation>
    <operation name='userLookup'>
      <documentation>get information on a phone number</documentation>
      <input message='tns:userLookupRequestMessage' name='userLookupInput' />
      <output message='tns:userLookupResponseMessage' name='userLookupOutput' />
    </operation>
  </portType>
  <binding name='mogreetBinding' type='tns:mogreetPortType'>
    <operation name='listAppend'>
      <soap12:operation soapAction='http://listAppend' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listCreate'>
      <soap12:operation soapAction='http://listCreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDestroy'>
      <soap12:operation soapAction='http://listDestroy' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDownload'>
      <soap12:operation soapAction='http://listDownload' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listEmpty'>
      <soap12:operation soapAction='http://listEmpty' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listPrune'>
      <soap12:operation soapAction='http://listPrune' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listSend'>
      <soap12:operation soapAction='http://listSend' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mediaGet'>
      <soap12:operation soapAction='http://mediaGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mediaList'>
      <soap12:operation soapAction='http://mediaList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mediaUpload'>
      <soap12:operation soapAction='http://mediaUpload' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='systemPing'>
      <soap12:operation soapAction='http://systemPing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='transactionSend'>
      <soap12:operation soapAction='http://transactionSend' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userLookup'>
      <soap12:operation soapAction='http://userLookup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mogreet'>
    <documentation>sMS MMS Transcoding and User Lookup APIs Quickly and easily add messaging and rich media to your mobile application with the Mogreet Mobile Services Platform</documentation>
    <port name='mogreetPort' binding='tns:mogreetBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mogreet' />
    </port>
  </service>
</definitions>