workspace/datasets/mashape_dataset/monitrfinancialdata.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/monitrFinancialData/' name='monitrFinancialData' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/monitrFinancialData/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/monitrFinancialData/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/monitrFinancialData/'>
      <xsd:element name='addSymbolToPortfolioParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addSymbolToPortfolioResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allBusinessNewsStreamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='since' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allBusinessNewsStreamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allTechnologyNewsStreamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='since' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allTechnologyNewsStreamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCompanyNewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='endday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='max' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCompanyNewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCompetitorListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCompetitorListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDailyNewsDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='endday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDailyNewsDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLinkMetadataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='link' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLinkMetadataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLinkSentimentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='link' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLinkSentimentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLinkTagsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='link' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getLinkTagsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMarketDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='days' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='market' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMarketDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMarketNewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='endday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='market' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='max' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startday' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMarketNewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPortfolioDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='endday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startday' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPortfolioDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPortfolioNewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='endday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='max' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sentiment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startday' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPortfolioNewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSymbolDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSymbolDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listIndustriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listIndustriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listMarketSectorsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listMarketSectorsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeSymbolFromPortfolioParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeSymbolFromPortfolioResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addSymbolToPortfolioRequestMessage'>
    <part name='parameters' element='tns:addSymbolToPortfolioParameters' />
  </message>
  <message name='addSymbolToPortfolioResponseMessage'>
    <part name='response' element='tns:addSymbolToPortfolioResponse' />
  </message>
  <message name='allBusinessNewsStreamRequestMessage'>
    <part name='parameters' element='tns:allBusinessNewsStreamParameters' />
  </message>
  <message name='allBusinessNewsStreamResponseMessage'>
    <part name='response' element='tns:allBusinessNewsStreamResponse' />
  </message>
  <message name='allTechnologyNewsStreamRequestMessage'>
    <part name='parameters' element='tns:allTechnologyNewsStreamParameters' />
  </message>
  <message name='allTechnologyNewsStreamResponseMessage'>
    <part name='response' element='tns:allTechnologyNewsStreamResponse' />
  </message>
  <message name='getCompanyNewsRequestMessage'>
    <part name='parameters' element='tns:getCompanyNewsParameters' />
  </message>
  <message name='getCompanyNewsResponseMessage'>
    <part name='response' element='tns:getCompanyNewsResponse' />
  </message>
  <message name='getCompetitorListRequestMessage'>
    <part name='parameters' element='tns:getCompetitorListParameters' />
  </message>
  <message name='getCompetitorListResponseMessage'>
    <part name='response' element='tns:getCompetitorListResponse' />
  </message>
  <message name='getDailyNewsDataRequestMessage'>
    <part name='parameters' element='tns:getDailyNewsDataParameters' />
  </message>
  <message name='getDailyNewsDataResponseMessage'>
    <part name='response' element='tns:getDailyNewsDataResponse' />
  </message>
  <message name='getLinkMetadataRequestMessage'>
    <part name='parameters' element='tns:getLinkMetadataParameters' />
  </message>
  <message name='getLinkMetadataResponseMessage'>
    <part name='response' element='tns:getLinkMetadataResponse' />
  </message>
  <message name='getLinkSentimentRequestMessage'>
    <part name='parameters' element='tns:getLinkSentimentParameters' />
  </message>
  <message name='getLinkSentimentResponseMessage'>
    <part name='response' element='tns:getLinkSentimentResponse' />
  </message>
  <message name='getLinkTagsRequestMessage'>
    <part name='parameters' element='tns:getLinkTagsParameters' />
  </message>
  <message name='getLinkTagsResponseMessage'>
    <part name='response' element='tns:getLinkTagsResponse' />
  </message>
  <message name='getMarketDataRequestMessage'>
    <part name='parameters' element='tns:getMarketDataParameters' />
  </message>
  <message name='getMarketDataResponseMessage'>
    <part name='response' element='tns:getMarketDataResponse' />
  </message>
  <message name='getMarketNewsRequestMessage'>
    <part name='parameters' element='tns:getMarketNewsParameters' />
  </message>
  <message name='getMarketNewsResponseMessage'>
    <part name='response' element='tns:getMarketNewsResponse' />
  </message>
  <message name='getPortfolioDataRequestMessage'>
    <part name='parameters' element='tns:getPortfolioDataParameters' />
  </message>
  <message name='getPortfolioDataResponseMessage'>
    <part name='response' element='tns:getPortfolioDataResponse' />
  </message>
  <message name='getPortfolioNewsRequestMessage'>
    <part name='parameters' element='tns:getPortfolioNewsParameters' />
  </message>
  <message name='getPortfolioNewsResponseMessage'>
    <part name='response' element='tns:getPortfolioNewsResponse' />
  </message>
  <message name='getSymbolDetailsRequestMessage'>
    <part name='parameters' element='tns:getSymbolDetailsParameters' />
  </message>
  <message name='getSymbolDetailsResponseMessage'>
    <part name='response' element='tns:getSymbolDetailsResponse' />
  </message>
  <message name='listIndustriesRequestMessage'>
    <part name='parameters' element='tns:listIndustriesParameters' />
  </message>
  <message name='listIndustriesResponseMessage'>
    <part name='response' element='tns:listIndustriesResponse' />
  </message>
  <message name='listMarketSectorsRequestMessage'>
    <part name='parameters' element='tns:listMarketSectorsParameters' />
  </message>
  <message name='listMarketSectorsResponseMessage'>
    <part name='response' element='tns:listMarketSectorsResponse' />
  </message>
  <message name='removeSymbolFromPortfolioRequestMessage'>
    <part name='parameters' element='tns:removeSymbolFromPortfolioParameters' />
  </message>
  <message name='removeSymbolFromPortfolioResponseMessage'>
    <part name='response' element='tns:removeSymbolFromPortfolioResponse' />
  </message>
  <portType name='monitrFinancialDataPortType'>
    <operation name='addSymbolToPortfolio'>
      <documentation>add symbol to portfolio</documentation>
      <input message='tns:addSymbolToPortfolioRequestMessage' name='addSymbolToPortfolioInput' />
      <output message='tns:addSymbolToPortfolioResponseMessage' name='addSymbolToPortfolioOutput' />
    </operation>
    <operation name='allBusinessNewsStream'>
      <documentation>all Business news stream</documentation>
      <input message='tns:allBusinessNewsStreamRequestMessage' name='allBusinessNewsStreamInput' />
      <output message='tns:allBusinessNewsStreamResponseMessage' name='allBusinessNewsStreamOutput' />
    </operation>
    <operation name='allTechnologyNewsStream'>
      <documentation>all Technology news stream</documentation>
      <input message='tns:allTechnologyNewsStreamRequestMessage' name='allTechnologyNewsStreamInput' />
      <output message='tns:allTechnologyNewsStreamResponseMessage' name='allTechnologyNewsStreamOutput' />
    </operation>
    <operation name='getCompanyNews'>
      <documentation>get company news</documentation>
      <input message='tns:getCompanyNewsRequestMessage' name='getCompanyNewsInput' />
      <output message='tns:getCompanyNewsResponseMessage' name='getCompanyNewsOutput' />
    </operation>
    <operation name='getCompetitorList'>
      <documentation>get competitor list</documentation>
      <input message='tns:getCompetitorListRequestMessage' name='getCompetitorListInput' />
      <output message='tns:getCompetitorListResponseMessage' name='getCompetitorListOutput' />
    </operation>
    <operation name='getDailyNewsData'>
      <documentation>get daily news data</documentation>
      <input message='tns:getDailyNewsDataRequestMessage' name='getDailyNewsDataInput' />
      <output message='tns:getDailyNewsDataResponseMessage' name='getDailyNewsDataOutput' />
    </operation>
    <operation name='getLinkMetadata'>
      <documentation>get link metadata</documentation>
      <input message='tns:getLinkMetadataRequestMessage' name='getLinkMetadataInput' />
      <output message='tns:getLinkMetadataResponseMessage' name='getLinkMetadataOutput' />
    </operation>
    <operation name='getLinkSentiment'>
      <documentation>get link sentiment</documentation>
      <input message='tns:getLinkSentimentRequestMessage' name='getLinkSentimentInput' />
      <output message='tns:getLinkSentimentResponseMessage' name='getLinkSentimentOutput' />
    </operation>
    <operation name='getLinkTags'>
      <documentation>get link tags</documentation>
      <input message='tns:getLinkTagsRequestMessage' name='getLinkTagsInput' />
      <output message='tns:getLinkTagsResponseMessage' name='getLinkTagsOutput' />
    </operation>
    <operation name='getMarketData'>
      <documentation>get market data</documentation>
      <input message='tns:getMarketDataRequestMessage' name='getMarketDataInput' />
      <output message='tns:getMarketDataResponseMessage' name='getMarketDataOutput' />
    </operation>
    <operation name='getMarketNews'>
      <documentation>get market news</documentation>
      <input message='tns:getMarketNewsRequestMessage' name='getMarketNewsInput' />
      <output message='tns:getMarketNewsResponseMessage' name='getMarketNewsOutput' />
    </operation>
    <operation name='getPortfolioData'>
      <documentation>get portfolio data</documentation>
      <input message='tns:getPortfolioDataRequestMessage' name='getPortfolioDataInput' />
      <output message='tns:getPortfolioDataResponseMessage' name='getPortfolioDataOutput' />
    </operation>
    <operation name='getPortfolioNews'>
      <documentation>get portfolio news</documentation>
      <input message='tns:getPortfolioNewsRequestMessage' name='getPortfolioNewsInput' />
      <output message='tns:getPortfolioNewsResponseMessage' name='getPortfolioNewsOutput' />
    </operation>
    <operation name='getSymbolDetails'>
      <documentation>get symbol details</documentation>
      <input message='tns:getSymbolDetailsRequestMessage' name='getSymbolDetailsInput' />
      <output message='tns:getSymbolDetailsResponseMessage' name='getSymbolDetailsOutput' />
    </operation>
    <operation name='listIndustries'>
      <documentation>list industries</documentation>
      <input message='tns:listIndustriesRequestMessage' name='listIndustriesInput' />
      <output message='tns:listIndustriesResponseMessage' name='listIndustriesOutput' />
    </operation>
    <operation name='listMarketSectors'>
      <documentation>list market sectors</documentation>
      <input message='tns:listMarketSectorsRequestMessage' name='listMarketSectorsInput' />
      <output message='tns:listMarketSectorsResponseMessage' name='listMarketSectorsOutput' />
    </operation>
    <operation name='removeSymbolFromPortfolio'>
      <documentation>remove symbol from portfolio</documentation>
      <input message='tns:removeSymbolFromPortfolioRequestMessage' name='removeSymbolFromPortfolioInput' />
      <output message='tns:removeSymbolFromPortfolioResponseMessage' name='removeSymbolFromPortfolioOutput' />
    </operation>
  </portType>
  <binding name='monitrFinancialDataBinding' type='tns:monitrFinancialDataPortType'>
    <operation name='addSymbolToPortfolio'>
      <soap12:operation soapAction='http://addSymbolToPortfolio' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allBusinessNewsStream'>
      <soap12:operation soapAction='http://allBusinessNewsStream' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='allTechnologyNewsStream'>
      <soap12:operation soapAction='http://allTechnologyNewsStream' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCompanyNews'>
      <soap12:operation soapAction='http://getCompanyNews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCompetitorList'>
      <soap12:operation soapAction='http://getCompetitorList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDailyNewsData'>
      <soap12:operation soapAction='http://getDailyNewsData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLinkMetadata'>
      <soap12:operation soapAction='http://getLinkMetadata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLinkSentiment'>
      <soap12:operation soapAction='http://getLinkSentiment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getLinkTags'>
      <soap12:operation soapAction='http://getLinkTags' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMarketData'>
      <soap12:operation soapAction='http://getMarketData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMarketNews'>
      <soap12:operation soapAction='http://getMarketNews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPortfolioData'>
      <soap12:operation soapAction='http://getPortfolioData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPortfolioNews'>
      <soap12:operation soapAction='http://getPortfolioNews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSymbolDetails'>
      <soap12:operation soapAction='http://getSymbolDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listIndustries'>
      <soap12:operation soapAction='http://listIndustries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listMarketSectors'>
      <soap12:operation soapAction='http://listMarketSectors' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeSymbolFromPortfolio'>
      <soap12:operation soapAction='http://removeSymbolFromPortfolio' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='monitrFinancialData'>
    <documentation>the Monitr Financial REST API allows developers to access and integrate the functionality of Monitr with other applications Developers can capture and pull analytics on market sentiment economic data financial news and social media Public documentation is not available developers can request an API key here http www monitr com developers</documentation>
    <port name='monitrFinancialDataPort' binding='tns:monitrFinancialDataBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://monitrFinancialData' />
    </port>
  </service>
</definitions>