workspace/datasets/mashape_dataset/montecarlosimulation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/monteCarloSimulation/' name='monteCarloSimulation' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/monteCarloSimulation/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/monteCarloSimulation/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/monteCarloSimulation/'>
      <xsd:element name='mcsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jobId' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='apiVersion' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='tenantName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='numberOfYears' type='xsd:int' minOccurs='0' />
            <xsd:element name='portfolios' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='wealthTrajectories' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ninetiethPercentileTrajectory' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='year' type='xsd:int' minOccurs='0' />
                              <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='fifthPercentileTrajectory' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='year' type='xsd:int' minOccurs='0' />
                              <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='fiftiethPercentileTrajectory' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='year' type='xsd:int' minOccurs='0' />
                              <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='zeroPercentileTrajectory' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='year' type='xsd:int' minOccurs='0' />
                              <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='hundredthPercentileTrajectory' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='year' type='xsd:int' minOccurs='0' />
                              <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='seventyfifthPercentileTrajectory' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='year' type='xsd:int' minOccurs='0' />
                              <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='tenthPercentileTrajectory' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='year' type='xsd:int' minOccurs='0' />
                              <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='twentyfifthPercentileTrajectory' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='year' type='xsd:int' minOccurs='0' />
                              <xsd:element name='value' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='portfolioMetrics' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='meanAnnualizedReturn' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='successRate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='potentialFirstYearLoss' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='startValue' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='standardDeviation' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='trueMeanAnnualizeReturn' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='numberOfSimulations' type='xsd:int' minOccurs='0' />
            <xsd:element name='startDate' type='xsd:date' minOccurs='0' />
            <xsd:element name='timestamp' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='mcsRequestMessage' />
  <message name='mcsResponseMessage'>
    <part name='response' element='tns:mcsResponse' />
  </message>
  <portType name='monteCarloSimulationPortType'>
    <operation name='mcs'>
      <documentation></documentation>
      <input message='tns:mcsRequestMessage' name='mcsInput' />
      <output message='tns:mcsResponseMessage' name='mcsOutput' />
    </operation>
  </portType>
  <binding name='monteCarloSimulationBinding' type='tns:monteCarloSimulationPortType'>
    <operation name='mcs'>
      <soap12:operation soapAction='http://mcs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='monteCarloSimulation'>
    <documentation>the Monte Carlo Simulation API is used to run thousands of simulations on a portfolio over specified time period to return a range of wealth projections and return risk metrics for the portfolio The Monte Carlo Simulation API returns a series of annual portfolio values for different simulation paths and a set of risk and return metrics for the portfolio For each request you will need to include certain simulation parameters such as number of simulations time period to simulate over rebalance frequency and tax information along with the list of portfolios to simulate For each portfolio you will need to specify the portfolio holdings Optionally you can also include any number of income sources and goals for a portfolio in a request to simulate inflows and outflows from the portfolio</documentation>
    <port name='monteCarloSimulationPort' binding='tns:monteCarloSimulationBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://monteCarloSimulation' />
    </port>
  </service>
</definitions>