workspace/datasets/mashape_dataset/mortalkombat.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mortalKombat/' name='mortalKombat' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mortalKombat/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mortalKombat/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mortalKombat/'>
      <xsd:element name='articlesListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='articlesListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='articlesListRequestMessage'>
    <part name='parameters' element='tns:articlesListParameters' />
  </message>
  <message name='articlesListResponseMessage'>
    <part name='response' element='tns:articlesListResponse' />
  </message>
  <portType name='mortalKombatPortType'>
    <operation name='articlesList'>
      <documentation></documentation>
      <input message='tns:articlesListRequestMessage' name='articlesListInput' />
      <output message='tns:articlesListResponseMessage' name='articlesListOutput' />
    </operation>
  </portType>
  <binding name='mortalKombatBinding' type='tns:mortalKombatPortType'>
    <operation name='articlesList'>
      <soap12:operation soapAction='http://articlesList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mortalKombat'>
    <documentation>mortal Kombat data exposed as an API from wikia</documentation>
    <port name='mortalKombatPort' binding='tns:mortalKombatBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mortalKombat' />
    </port>
  </service>
</definitions>