workspace/datasets/mashape_dataset/moz.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/moz/' name='moz' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/moz/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/moz/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/moz/'>
      <xsd:element name='anchorTextMetricsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cols' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='scope' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sourcecols' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='targeturl' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='anchorTextMetricsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linkMetricsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkcols' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='scope' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sourcecols' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='targeturl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='targetcols' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linkMetricsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='metadataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='command' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='metadataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='targeturl' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlMetricsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cols' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='linkcols' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='scope' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sourcecols' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='targeturl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='targetcols' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlMetricsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='anchorTextMetricsRequestMessage'>
    <part name='parameters' element='tns:anchorTextMetricsParameters' />
  </message>
  <message name='anchorTextMetricsResponseMessage'>
    <part name='response' element='tns:anchorTextMetricsResponse' />
  </message>
  <message name='linkMetricsRequestMessage'>
    <part name='parameters' element='tns:linkMetricsParameters' />
  </message>
  <message name='linkMetricsResponseMessage'>
    <part name='response' element='tns:linkMetricsResponse' />
  </message>
  <message name='metadataRequestMessage'>
    <part name='parameters' element='tns:metadataParameters' />
  </message>
  <message name='metadataResponseMessage'>
    <part name='response' element='tns:metadataResponse' />
  </message>
  <message name='topPagesRequestMessage'>
    <part name='parameters' element='tns:topPagesParameters' />
  </message>
  <message name='topPagesResponseMessage'>
    <part name='response' element='tns:topPagesResponse' />
  </message>
  <message name='urlMetricsRequestMessage'>
    <part name='parameters' element='tns:urlMetricsParameters' />
  </message>
  <message name='urlMetricsResponseMessage'>
    <part name='response' element='tns:urlMetricsResponse' />
  </message>
  <portType name='mozPortType'>
    <operation name='anchorTextMetrics'>
      <documentation>the anchor text endpoint returns anchor text for inbound links</documentation>
      <input message='tns:anchorTextMetricsRequestMessage' name='anchorTextMetricsInput' />
      <output message='tns:anchorTextMetricsResponseMessage' name='anchorTextMetricsOutput' />
    </operation>
    <operation name='linkMetrics'>
      <documentation>the links endpoint returns information about links between a target URL and other pages and domains Parameters for links let you receive a wide array or a narrow subset of results with multiple options for how results are sorted Response fields help you organize the information Mozscape returns</documentation>
      <input message='tns:linkMetricsRequestMessage' name='linkMetricsInput' />
      <output message='tns:linkMetricsResponseMessage' name='linkMetricsOutput' />
    </operation>
    <operation name='metadata'>
      <documentation>find index statistics and release dates with metadata Metadata is available to free and paid API users</documentation>
      <input message='tns:metadataRequestMessage' name='metadataInput' />
      <output message='tns:metadataResponseMessage' name='metadataOutput' />
    </operation>
    <operation name='topPages'>
      <documentation>the top pages endpoint accessible to Mozscape paid users returns metrics for many URLs on a subdomain you specify Make top pages calls with a GET request for a single subdomain and specify metrics to return with the Cols parameter</documentation>
      <input message='tns:topPagesRequestMessage' name='topPagesInput' />
      <output message='tns:topPagesResponseMessage' name='topPagesOutput' />
    </operation>
    <operation name='urlMetrics'>
      <documentation>the url metrics Mozscape endpoint returns metrics for a URL or set of URLs you specify Use the Cols parameter to specify which metrics to return enter the sum of the bit flag values for each metric For a single URL use a GET request the typical Mozscape format with all information contained in the body of a single URL Use batched calls for more than one URL Response fields help you organize the information Mozscape returns</documentation>
      <input message='tns:urlMetricsRequestMessage' name='urlMetricsInput' />
      <output message='tns:urlMetricsResponseMessage' name='urlMetricsOutput' />
    </operation>
  </portType>
  <binding name='mozBinding' type='tns:mozPortType'>
    <operation name='anchorTextMetrics'>
      <soap12:operation soapAction='http://anchorTextMetrics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='linkMetrics'>
      <soap12:operation soapAction='http://linkMetrics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='metadata'>
      <soap12:operation soapAction='http://metadata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topPages'>
      <soap12:operation soapAction='http://topPages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlMetrics'>
      <soap12:operation soapAction='http://urlMetrics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='moz'>
    <documentation>the Mozscape API allows you to customize and integrate data from our dynamic Mozscape index right into your own applications Our Mozscape index is updated frequently to ensure that you re getting the freshest look at the web possible With billions of links in our index intelligent metrics and thorough URL data our Mozscape API offers unlimited possibilities</documentation>
    <port name='mozPort' binding='tns:mozBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://moz' />
    </port>
  </service>
</definitions>