workspace/datasets/mashape_dataset/musixmatch.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/musixmatch/' name='musixmatch' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/musixmatch/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/musixmatch/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/musixmatch/'>
      <xsd:element name='albumParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='albumid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='albumResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album_coverart_100x100' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='album_track_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album_coverart_800x800' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='album_release_date' type='xsd:date' minOccurs='0' />
            <xsd:element name='album_mbid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='album_coverart_500x500' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='album_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album_coverart_350x350' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='album_rating' type='xsd:int' minOccurs='0' />
            <xsd:element name='album_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='album_release_type' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='albumTracksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='albumid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='albumTracksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album_coverart_100x100' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='artist_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album_coverart_800x800' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='track_length' type='xsd:int' minOccurs='0' />
            <xsd:element name='commontrack_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='subtitle_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_mbid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lyrics_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='album_coverart_500x500' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='track_rating' type='xsd:int' minOccurs='0' />
            <xsd:element name='track_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='instrumental' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='album_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='has_subtitles' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='album_coverart_350x350' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='album_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='track_mbid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='has_lyrics' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='track_name' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='artistid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='artist_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='artist_twitter_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='artist_alias' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='artist_rating' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_country' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_mbid' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistRelatedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='artistid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistRelatedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='artist_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='artist_twitter_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='artist_alias' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='artist_rating' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_country' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_mbid' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='qartist' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sartistrating' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='artist_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='artist_twitter_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='artist_alias' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='artist_rating' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_country' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_mbid' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matcherLyricsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='qartist' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='qtrack' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matcherLyricsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lyrics_language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='restricted' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='instrumental' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='lyrics_body' type='xsd:string' minOccurs='0' />
            <xsd:element name='html_tracking_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='lyrics_copyright' type='xsd:string' minOccurs='0' />
            <xsd:element name='pixel_tracking_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='script_tracking_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='lyrics_id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matcherSubtitleGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fsubtitlelength' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='fsubtitlelengthmaxdeviation' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='qartist' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='qtrack' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matcherSubtitleGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matcherTrackParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fhaslyrics' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='qartist' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='qtrack' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matcherTrackResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album_coverart_100x100' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='artist_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album_coverart_800x800' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='track_length' type='xsd:int' minOccurs='0' />
            <xsd:element name='commontrack_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='subtitle_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_mbid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lyrics_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='album_coverart_500x500' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='track_rating' type='xsd:int' minOccurs='0' />
            <xsd:element name='track_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='instrumental' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='album_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='has_subtitles' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='album_coverart_350x350' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='album_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='track_mbid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='has_lyrics' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='track_name' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='trackid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album_coverart_100x100' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='artist_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album_coverart_800x800' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='track_length' type='xsd:int' minOccurs='0' />
            <xsd:element name='commontrack_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='subtitle_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_mbid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lyrics_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='album_coverart_500x500' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='track_rating' type='xsd:int' minOccurs='0' />
            <xsd:element name='track_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='instrumental' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='album_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='has_subtitles' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='album_coverart_350x350' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='album_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='track_mbid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='has_lyrics' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='track_name' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackLyricsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='trackid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackLyricsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lyrics_language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='restricted' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='instrumental' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='lyrics_body' type='xsd:string' minOccurs='0' />
            <xsd:element name='html_tracking_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='lyrics_copyright' type='xsd:string' minOccurs='0' />
            <xsd:element name='pixel_tracking_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='script_tracking_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='lyrics_id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fhaslyrics' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='qartist' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='qlyrics' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='qtrack' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='qtrackartist' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='strackrating' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album_coverart_100x100' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='artist_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='album_coverart_800x800' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='track_length' type='xsd:int' minOccurs='0' />
            <xsd:element name='commontrack_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='subtitle_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='artist_mbid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lyrics_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='album_coverart_500x500' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='track_rating' type='xsd:int' minOccurs='0' />
            <xsd:element name='track_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='instrumental' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='album_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='has_subtitles' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='album_coverart_350x350' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='album_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='track_mbid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='has_lyrics' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='track_name' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackSnippetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='trackid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trackSnippetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='snippet_language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='updated_time' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='snippet_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='snippet_body' type='xsd:string' minOccurs='0' />
            <xsd:element name='restricted' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='instrumental' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='html_tracking_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='pixel_tracking_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='script_tracking_url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='albumRequestMessage'>
    <part name='parameters' element='tns:albumParameters' />
  </message>
  <message name='albumResponseMessage'>
    <part name='response' element='tns:albumResponse' />
  </message>
  <message name='albumTracksRequestMessage'>
    <part name='parameters' element='tns:albumTracksParameters' />
  </message>
  <message name='albumTracksResponseMessage'>
    <part name='response' element='tns:albumTracksResponse' />
  </message>
  <message name='artistRequestMessage'>
    <part name='parameters' element='tns:artistParameters' />
  </message>
  <message name='artistResponseMessage'>
    <part name='response' element='tns:artistResponse' />
  </message>
  <message name='artistRelatedRequestMessage'>
    <part name='parameters' element='tns:artistRelatedParameters' />
  </message>
  <message name='artistRelatedResponseMessage'>
    <part name='response' element='tns:artistRelatedResponse' />
  </message>
  <message name='artistSearchRequestMessage'>
    <part name='parameters' element='tns:artistSearchParameters' />
  </message>
  <message name='artistSearchResponseMessage'>
    <part name='response' element='tns:artistSearchResponse' />
  </message>
  <message name='matcherLyricsRequestMessage'>
    <part name='parameters' element='tns:matcherLyricsParameters' />
  </message>
  <message name='matcherLyricsResponseMessage'>
    <part name='response' element='tns:matcherLyricsResponse' />
  </message>
  <message name='matcherSubtitleGetRequestMessage'>
    <part name='parameters' element='tns:matcherSubtitleGetParameters' />
  </message>
  <message name='matcherSubtitleGetResponseMessage'>
    <part name='response' element='tns:matcherSubtitleGetResponse' />
  </message>
  <message name='matcherTrackRequestMessage'>
    <part name='parameters' element='tns:matcherTrackParameters' />
  </message>
  <message name='matcherTrackResponseMessage'>
    <part name='response' element='tns:matcherTrackResponse' />
  </message>
  <message name='trackRequestMessage'>
    <part name='parameters' element='tns:trackParameters' />
  </message>
  <message name='trackResponseMessage'>
    <part name='response' element='tns:trackResponse' />
  </message>
  <message name='trackLyricsRequestMessage'>
    <part name='parameters' element='tns:trackLyricsParameters' />
  </message>
  <message name='trackLyricsResponseMessage'>
    <part name='response' element='tns:trackLyricsResponse' />
  </message>
  <message name='trackSearchRequestMessage'>
    <part name='parameters' element='tns:trackSearchParameters' />
  </message>
  <message name='trackSearchResponseMessage'>
    <part name='response' element='tns:trackSearchResponse' />
  </message>
  <message name='trackSnippetRequestMessage'>
    <part name='parameters' element='tns:trackSnippetParameters' />
  </message>
  <message name='trackSnippetResponseMessage'>
    <part name='response' element='tns:trackSnippetResponse' />
  </message>
  <portType name='musixmatchPortType'>
    <operation name='album'>
      <documentation>get the album object</documentation>
      <input message='tns:albumRequestMessage' name='albumInput' />
      <output message='tns:albumResponseMessage' name='albumOutput' />
    </operation>
    <operation name='albumTracks'>
      <documentation>get the list of song within an album</documentation>
      <input message='tns:albumTracksRequestMessage' name='albumTracksInput' />
      <output message='tns:albumTracksResponseMessage' name='albumTracksOutput' />
    </operation>
    <operation name='artist'>
      <documentation>get the artist object</documentation>
      <input message='tns:artistRequestMessage' name='artistInput' />
      <output message='tns:artistResponseMessage' name='artistOutput' />
    </operation>
    <operation name='artistRelated'>
      <documentation></documentation>
      <input message='tns:artistRelatedRequestMessage' name='artistRelatedInput' />
      <output message='tns:artistRelatedResponseMessage' name='artistRelatedOutput' />
    </operation>
    <operation name='artistSearch'>
      <documentation></documentation>
      <input message='tns:artistSearchRequestMessage' name='artistSearchInput' />
      <output message='tns:artistSearchResponseMessage' name='artistSearchOutput' />
    </operation>
    <operation name='matcherLyrics'>
      <documentation>get the lyrics for a song starting by title and artist</documentation>
      <input message='tns:matcherLyricsRequestMessage' name='matcherLyricsInput' />
      <output message='tns:matcherLyricsResponseMessage' name='matcherLyricsOutput' />
    </operation>
    <operation name='matcherSubtitleGet'>
      <documentation></documentation>
      <input message='tns:matcherSubtitleGetRequestMessage' name='matcherSubtitleGetInput' />
      <output message='tns:matcherSubtitleGetResponseMessage' name='matcherSubtitleGetOutput' />
    </operation>
    <operation name='matcherTrack'>
      <documentation>starting from your track title and artist name find our correspondent track</documentation>
      <input message='tns:matcherTrackRequestMessage' name='matcherTrackInput' />
      <output message='tns:matcherTrackResponseMessage' name='matcherTrackOutput' />
    </operation>
    <operation name='track'>
      <documentation>get a track from musixmatch</documentation>
      <input message='tns:trackRequestMessage' name='trackInput' />
      <output message='tns:trackResponseMessage' name='trackOutput' />
    </operation>
    <operation name='trackLyrics'>
      <documentation>get the lyrics for a track</documentation>
      <input message='tns:trackLyricsRequestMessage' name='trackLyricsInput' />
      <output message='tns:trackLyricsResponseMessage' name='trackLyricsOutput' />
    </operation>
    <operation name='trackSearch'>
      <documentation>search a song in our music database</documentation>
      <input message='tns:trackSearchRequestMessage' name='trackSearchInput' />
      <output message='tns:trackSearchResponseMessage' name='trackSearchOutput' />
    </operation>
    <operation name='trackSnippet'>
      <documentation></documentation>
      <input message='tns:trackSnippetRequestMessage' name='trackSnippetInput' />
      <output message='tns:trackSnippetResponseMessage' name='trackSnippetOutput' />
    </operation>
  </portType>
  <binding name='musixmatchBinding' type='tns:musixmatchPortType'>
    <operation name='album'>
      <soap12:operation soapAction='http://album' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='albumTracks'>
      <soap12:operation soapAction='http://albumTracks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='artist'>
      <soap12:operation soapAction='http://artist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='artistRelated'>
      <soap12:operation soapAction='http://artistRelated' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='artistSearch'>
      <soap12:operation soapAction='http://artistSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matcherLyrics'>
      <soap12:operation soapAction='http://matcherLyrics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matcherSubtitleGet'>
      <soap12:operation soapAction='http://matcherSubtitleGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matcherTrack'>
      <soap12:operation soapAction='http://matcherTrack' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='track'>
      <soap12:operation soapAction='http://track' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trackLyrics'>
      <soap12:operation soapAction='http://trackLyrics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trackSearch'>
      <soap12:operation soapAction='http://trackSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trackSnippet'>
      <soap12:operation soapAction='http://trackSnippet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='musixmatch'>
    <documentation>the fastest most powerful and legal way to display lyrics on your website or in your application Today A complete music catalogue featuring k artists and M of tracks organized by albums A powerful search engine including all our library is available through our api Every artist track album has a score based on our api requests this is our rating You can sort the artist track albums search results by this rating providing the most relevant content for your users musiXmatch lyrics API is a robust service that permits you to search a complete music catalogue and retrieve lyrics in the simplest possible way It just works</documentation>
    <port name='musixmatchPort' binding='tns:musixmatchBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://musixmatch' />
    </port>
  </service>
</definitions>