workspace/datasets/mashape_dataset/muslimsalat.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/muslimSalat/' name='muslimSalat' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/muslimSalat/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/muslimSalat/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/muslimSalat/'>
      <xsd:element name='prayerTimesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='daylight' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='times' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='prayerTimesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address' type='xsd:string' minOccurs='0' />
            <xsd:element name='prayer_method_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='city' type='xsd:string' minOccurs='0' />
            <xsd:element name='timezone' type='xsd:int' minOccurs='0' />
            <xsd:element name='query' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='for' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='qibla_direction' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='daylight' type='xsd:int' minOccurs='0' />
            <xsd:element name='today_weather' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='temperature' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pressure' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='state' type='xsd:string' minOccurs='0' />
            <xsd:element name='postal_code' type='xsd:string' minOccurs='0' />
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='asr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isha' type='xsd:string' minOccurs='0' />
                  <xsd:element name='shurooq' type='xsd:string' minOccurs='0' />
                  <xsd:element name='date_for' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='dhuhr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='fajr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='maghrib' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='map_image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='prayerTimesForALocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='prayerTimesForALocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address' type='xsd:string' minOccurs='0' />
            <xsd:element name='prayer_method_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='city' type='xsd:string' minOccurs='0' />
            <xsd:element name='timezone' type='xsd:int' minOccurs='0' />
            <xsd:element name='query' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='for' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='qibla_direction' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='daylight' type='xsd:int' minOccurs='0' />
            <xsd:element name='today_weather' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='temperature' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pressure' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='state' type='xsd:string' minOccurs='0' />
            <xsd:element name='postal_code' type='xsd:string' minOccurs='0' />
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='asr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isha' type='xsd:string' minOccurs='0' />
                  <xsd:element name='shurooq' type='xsd:string' minOccurs='0' />
                  <xsd:element name='date_for' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='dhuhr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='fajr' type='xsd:string' minOccurs='0' />
                  <xsd:element name='maghrib' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='map_image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='prayerTimesRequestMessage'>
    <part name='parameters' element='tns:prayerTimesParameters' />
  </message>
  <message name='prayerTimesResponseMessage'>
    <part name='response' element='tns:prayerTimesResponse' />
  </message>
  <message name='prayerTimesForALocationRequestMessage'>
    <part name='parameters' element='tns:prayerTimesForALocationParameters' />
  </message>
  <message name='prayerTimesForALocationResponseMessage'>
    <part name='response' element='tns:prayerTimesForALocationResponse' />
  </message>
  <portType name='muslimSalatPortType'>
    <operation name='prayerTimes'>
      <documentation>this will fetch the prayer time based on the location you request for with the given parameters All following parameters are optional you can set as you wish If you wish to set two or more parameters then you have to set url in the order the parameter is given below</documentation>
      <input message='tns:prayerTimesRequestMessage' name='prayerTimesInput' />
      <output message='tns:prayerTimesResponseMessage' name='prayerTimesOutput' />
    </operation>
    <operation name='prayerTimesForALocation'>
      <documentation></documentation>
      <input message='tns:prayerTimesForALocationRequestMessage' name='prayerTimesForALocationInput' />
      <output message='tns:prayerTimesForALocationResponseMessage' name='prayerTimesForALocationOutput' />
    </operation>
  </portType>
  <binding name='muslimSalatBinding' type='tns:muslimSalatPortType'>
    <operation name='prayerTimes'>
      <soap12:operation soapAction='http://prayerTimes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='prayerTimesForALocation'>
      <soap12:operation soapAction='http://prayerTimesForALocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='muslimSalat'>
    <documentation>prayer times for around the world by MuslimSalat com</documentation>
    <port name='muslimSalatPort' binding='tns:muslimSalatBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://muslimSalat' />
    </port>
  </service>
</definitions>