workspace/datasets/mashape_dataset/mverify.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mverify/' name='mverify' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mverify/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mverify/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mverify/'>
      <xsd:element name='stepSendOtpOnPhoneParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='phone' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stepSendOtpOnPhoneResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stepVerifyOtpReceivedOnPhoneParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phone' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stepVerifyOtpReceivedOnPhoneResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='stepSendOtpOnPhoneRequestMessage'>
    <part name='parameters' element='tns:stepSendOtpOnPhoneParameters' />
  </message>
  <message name='stepSendOtpOnPhoneResponseMessage'>
    <part name='response' element='tns:stepSendOtpOnPhoneResponse' />
  </message>
  <message name='stepVerifyOtpReceivedOnPhoneRequestMessage'>
    <part name='parameters' element='tns:stepVerifyOtpReceivedOnPhoneParameters' />
  </message>
  <message name='stepVerifyOtpReceivedOnPhoneResponseMessage'>
    <part name='response' element='tns:stepVerifyOtpReceivedOnPhoneResponse' />
  </message>
  <portType name='mverifyPortType'>
    <operation name='stepSendOtpOnPhone'>
      <documentation>send Verification Code on Mobile</documentation>
      <input message='tns:stepSendOtpOnPhoneRequestMessage' name='stepSendOtpOnPhoneInput' />
      <output message='tns:stepSendOtpOnPhoneResponseMessage' name='stepSendOtpOnPhoneOutput' />
    </operation>
    <operation name='stepVerifyOtpReceivedOnPhone'>
      <input message='tns:stepVerifyOtpReceivedOnPhoneRequestMessage' name='stepVerifyOtpReceivedOnPhoneInput' />
      <output message='tns:stepVerifyOtpReceivedOnPhoneResponseMessage' name='stepVerifyOtpReceivedOnPhoneOutput' />
    </operation>
  </portType>
  <binding name='mverifyBinding' type='tns:mverifyPortType'>
    <operation name='stepSendOtpOnPhone'>
      <soap12:operation soapAction='http://stepSendOtpOnPhone' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stepVerifyOtpReceivedOnPhone'>
      <soap12:operation soapAction='http://stepVerifyOtpReceivedOnPhone' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mverify'>
    <documentation>mVerify is an Open API that is an alternative to SMS based One Time Password It is a hosted secured scalable solution for customer phone verification that works without SMS mVerify brings an innovative approach for customer phone verification as it replaces SMS based onetime password with an OTP over a missed call to mobile landline phone thereby eliminating any cost and delay</documentation>
    <port name='mverifyPort' binding='tns:mverifyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mverify' />
    </port>
  </service>
</definitions>