workspace/datasets/mashape_dataset/mx.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mX/' name='mX' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mX/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mX/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mX/'>
      <xsd:element name='createChartResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createCollectionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='parent' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createCollectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createDeviceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='basedevice' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='collection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='serial' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='visibility' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createDeviceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createKeyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='collection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='device' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='deviceaccess' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='distribution' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='expiresat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='origin' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stream' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createKeyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createUpdateDataStreamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createUpdateDataStreamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='dataStreamSamplingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='interval' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='max' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='min' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='dataStreamSamplingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='dataStreamStatsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='max' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='min' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='dataStreamStatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteChartParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteChartResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteCollectionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteCollectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDataStreamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDataStreamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDataStreamValuesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDataStreamValuesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDeviceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDeviceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDeviceTriggerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='deviceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDeviceTriggerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteKeyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteKeyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exportValuesFromAllDataStreamsOfADeviceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='streams' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exportValuesFromAllDataStreamsOfADeviceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTimeIsoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTimeMillisecondsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTimeSecondsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTimeSecondsMillisecondsIsoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listChartsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='device' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listChartsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCollecitonsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='parent' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCollecitonsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDataStreamValuesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='max' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='min' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDataStreamValuesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDataStreamsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDataStreamsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDeviceTagsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDeviceTriggersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDeviceTriggersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDevicesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dir' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDevicesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listJobsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listJobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listKeysParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='collection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='device' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='distribution' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listKeysResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listValuesFromAllDataStreamsOfADeviceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listValuesFromAllDataStreamsOfADeviceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listSearchPublicDevicesCatalogParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dir' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='distance' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='distanceunit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='latitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='modifiedsince' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='serial' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unmodifiedsince' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listSearchPublicDevicesCatalogResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='limit' type='xsd:int' minOccurs='0' />
            <xsd:element name='current_page' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postDataStreamValuesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postDataStreamValuesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postDeviceUpdatesMultipleValuesToMultipleStreamsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postDeviceUpdatesMultipleValuesToMultipleStreamsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postDeviceUpdatesSingleValuesToMultipleStreamsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postDeviceUpdatesSingleValuesToMultipleStreamsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='readDeviceLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='readDeviceLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='regenerateKeyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='regenerateKeyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='renderChartParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='height' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='interval' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='width' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='renderChartResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchDevicesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='collection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dir' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='distance' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='distanceunit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ids' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='latitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='modifiedsince' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='serial' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='streams' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='unmodifiedsince' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='visibility' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchDevicesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchValuesFromAllDataStreamsOfADeviceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchValuesFromAllDataStreamsOfADeviceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateChartParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateChartResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCollectionDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='parent' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateCollectionDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateDataStreamValueParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timestamp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='value' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateDataStreamValueResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateDeviceDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='collection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='serial' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='visibility' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateDeviceDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateDeviceLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='elevation' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='latitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timestamp' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateDeviceLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateKeyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateKeyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewChartDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewChartDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewCollectionDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewCollectionDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewDataStreamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewDataStreamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewDeviceDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewDeviceDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewDeviceTriggerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='deviceid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewDeviceTriggerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewJobDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewJobDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewJobResultsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewJobResultsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewKeyDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewKeyDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewRequestLogParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewRequestLogResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createChartRequestMessage' />
  <message name='createChartResponseMessage'>
    <part name='response' element='tns:createChartResponse' />
  </message>
  <message name='createCollectionRequestMessage'>
    <part name='parameters' element='tns:createCollectionParameters' />
  </message>
  <message name='createCollectionResponseMessage'>
    <part name='response' element='tns:createCollectionResponse' />
  </message>
  <message name='createDeviceRequestMessage'>
    <part name='parameters' element='tns:createDeviceParameters' />
  </message>
  <message name='createDeviceResponseMessage'>
    <part name='response' element='tns:createDeviceResponse' />
  </message>
  <message name='createKeyRequestMessage'>
    <part name='parameters' element='tns:createKeyParameters' />
  </message>
  <message name='createKeyResponseMessage'>
    <part name='response' element='tns:createKeyResponse' />
  </message>
  <message name='createUpdateDataStreamRequestMessage'>
    <part name='parameters' element='tns:createUpdateDataStreamParameters' />
  </message>
  <message name='createUpdateDataStreamResponseMessage'>
    <part name='response' element='tns:createUpdateDataStreamResponse' />
  </message>
  <message name='dataStreamSamplingRequestMessage'>
    <part name='parameters' element='tns:dataStreamSamplingParameters' />
  </message>
  <message name='dataStreamSamplingResponseMessage'>
    <part name='response' element='tns:dataStreamSamplingResponse' />
  </message>
  <message name='dataStreamStatsRequestMessage'>
    <part name='parameters' element='tns:dataStreamStatsParameters' />
  </message>
  <message name='dataStreamStatsResponseMessage'>
    <part name='response' element='tns:dataStreamStatsResponse' />
  </message>
  <message name='deleteChartRequestMessage'>
    <part name='parameters' element='tns:deleteChartParameters' />
  </message>
  <message name='deleteChartResponseMessage'>
    <part name='response' element='tns:deleteChartResponse' />
  </message>
  <message name='deleteCollectionRequestMessage'>
    <part name='parameters' element='tns:deleteCollectionParameters' />
  </message>
  <message name='deleteCollectionResponseMessage'>
    <part name='response' element='tns:deleteCollectionResponse' />
  </message>
  <message name='deleteDataStreamRequestMessage'>
    <part name='parameters' element='tns:deleteDataStreamParameters' />
  </message>
  <message name='deleteDataStreamResponseMessage'>
    <part name='response' element='tns:deleteDataStreamResponse' />
  </message>
  <message name='deleteDataStreamValuesRequestMessage'>
    <part name='parameters' element='tns:deleteDataStreamValuesParameters' />
  </message>
  <message name='deleteDataStreamValuesResponseMessage'>
    <part name='response' element='tns:deleteDataStreamValuesResponse' />
  </message>
  <message name='deleteDeviceRequestMessage'>
    <part name='parameters' element='tns:deleteDeviceParameters' />
  </message>
  <message name='deleteDeviceResponseMessage'>
    <part name='response' element='tns:deleteDeviceResponse' />
  </message>
  <message name='deleteDeviceTriggerRequestMessage'>
    <part name='parameters' element='tns:deleteDeviceTriggerParameters' />
  </message>
  <message name='deleteDeviceTriggerResponseMessage'>
    <part name='response' element='tns:deleteDeviceTriggerResponse' />
  </message>
  <message name='deleteKeyRequestMessage'>
    <part name='parameters' element='tns:deleteKeyParameters' />
  </message>
  <message name='deleteKeyResponseMessage'>
    <part name='response' element='tns:deleteKeyResponse' />
  </message>
  <message name='exportValuesFromAllDataStreamsOfADeviceRequestMessage'>
    <part name='parameters' element='tns:exportValuesFromAllDataStreamsOfADeviceParameters' />
  </message>
  <message name='exportValuesFromAllDataStreamsOfADeviceResponseMessage'>
    <part name='response' element='tns:exportValuesFromAllDataStreamsOfADeviceResponse' />
  </message>
  <message name='getTimeIsoRequestMessage' />
  <message name='getTimeIsoResponseMessage'>
    <part name='response' element='tns:getTimeIsoResponse' />
  </message>
  <message name='getTimeMillisecondsRequestMessage' />
  <message name='getTimeMillisecondsResponseMessage'>
    <part name='response' element='tns:getTimeMillisecondsResponse' />
  </message>
  <message name='getTimeSecondsRequestMessage' />
  <message name='getTimeSecondsResponseMessage'>
    <part name='response' element='tns:getTimeSecondsResponse' />
  </message>
  <message name='getTimeSecondsMillisecondsIsoRequestMessage' />
  <message name='getTimeSecondsMillisecondsIsoResponseMessage'>
    <part name='response' element='tns:getTimeSecondsMillisecondsIsoResponse' />
  </message>
  <message name='listChartsRequestMessage'>
    <part name='parameters' element='tns:listChartsParameters' />
  </message>
  <message name='listChartsResponseMessage'>
    <part name='response' element='tns:listChartsResponse' />
  </message>
  <message name='listCollecitonsRequestMessage'>
    <part name='parameters' element='tns:listCollecitonsParameters' />
  </message>
  <message name='listCollecitonsResponseMessage'>
    <part name='response' element='tns:listCollecitonsResponse' />
  </message>
  <message name='listDataStreamValuesRequestMessage'>
    <part name='parameters' element='tns:listDataStreamValuesParameters' />
  </message>
  <message name='listDataStreamValuesResponseMessage'>
    <part name='response' element='tns:listDataStreamValuesResponse' />
  </message>
  <message name='listDataStreamsRequestMessage'>
    <part name='parameters' element='tns:listDataStreamsParameters' />
  </message>
  <message name='listDataStreamsResponseMessage'>
    <part name='response' element='tns:listDataStreamsResponse' />
  </message>
  <message name='listDeviceTagsRequestMessage' />
  <message name='listDeviceTagsResponseMessage'>
    <part name='response' element='tns:listDeviceTagsResponse' />
  </message>
  <message name='listDeviceTriggersRequestMessage'>
    <part name='parameters' element='tns:listDeviceTriggersParameters' />
  </message>
  <message name='listDeviceTriggersResponseMessage'>
    <part name='response' element='tns:listDeviceTriggersResponse' />
  </message>
  <message name='listDevicesRequestMessage'>
    <part name='parameters' element='tns:listDevicesParameters' />
  </message>
  <message name='listDevicesResponseMessage'>
    <part name='response' element='tns:listDevicesResponse' />
  </message>
  <message name='listJobsRequestMessage'>
    <part name='parameters' element='tns:listJobsParameters' />
  </message>
  <message name='listJobsResponseMessage'>
    <part name='response' element='tns:listJobsResponse' />
  </message>
  <message name='listKeysRequestMessage'>
    <part name='parameters' element='tns:listKeysParameters' />
  </message>
  <message name='listKeysResponseMessage'>
    <part name='response' element='tns:listKeysResponse' />
  </message>
  <message name='listValuesFromAllDataStreamsOfADeviceRequestMessage'>
    <part name='parameters' element='tns:listValuesFromAllDataStreamsOfADeviceParameters' />
  </message>
  <message name='listValuesFromAllDataStreamsOfADeviceResponseMessage'>
    <part name='response' element='tns:listValuesFromAllDataStreamsOfADeviceResponse' />
  </message>
  <message name='listSearchPublicDevicesCatalogRequestMessage'>
    <part name='parameters' element='tns:listSearchPublicDevicesCatalogParameters' />
  </message>
  <message name='listSearchPublicDevicesCatalogResponseMessage'>
    <part name='response' element='tns:listSearchPublicDevicesCatalogResponse' />
  </message>
  <message name='postDataStreamValuesRequestMessage'>
    <part name='parameters' element='tns:postDataStreamValuesParameters' />
  </message>
  <message name='postDataStreamValuesResponseMessage'>
    <part name='response' element='tns:postDataStreamValuesResponse' />
  </message>
  <message name='postDeviceUpdatesMultipleValuesToMultipleStreamsRequestMessage'>
    <part name='parameters' element='tns:postDeviceUpdatesMultipleValuesToMultipleStreamsParameters' />
  </message>
  <message name='postDeviceUpdatesMultipleValuesToMultipleStreamsResponseMessage'>
    <part name='response' element='tns:postDeviceUpdatesMultipleValuesToMultipleStreamsResponse' />
  </message>
  <message name='postDeviceUpdatesSingleValuesToMultipleStreamsRequestMessage'>
    <part name='parameters' element='tns:postDeviceUpdatesSingleValuesToMultipleStreamsParameters' />
  </message>
  <message name='postDeviceUpdatesSingleValuesToMultipleStreamsResponseMessage'>
    <part name='response' element='tns:postDeviceUpdatesSingleValuesToMultipleStreamsResponse' />
  </message>
  <message name='readDeviceLocationRequestMessage'>
    <part name='parameters' element='tns:readDeviceLocationParameters' />
  </message>
  <message name='readDeviceLocationResponseMessage'>
    <part name='response' element='tns:readDeviceLocationResponse' />
  </message>
  <message name='regenerateKeyRequestMessage'>
    <part name='parameters' element='tns:regenerateKeyParameters' />
  </message>
  <message name='regenerateKeyResponseMessage'>
    <part name='response' element='tns:regenerateKeyResponse' />
  </message>
  <message name='renderChartRequestMessage'>
    <part name='parameters' element='tns:renderChartParameters' />
  </message>
  <message name='renderChartResponseMessage'>
    <part name='response' element='tns:renderChartResponse' />
  </message>
  <message name='searchDevicesRequestMessage'>
    <part name='parameters' element='tns:searchDevicesParameters' />
  </message>
  <message name='searchDevicesResponseMessage'>
    <part name='response' element='tns:searchDevicesResponse' />
  </message>
  <message name='searchValuesFromAllDataStreamsOfADeviceRequestMessage'>
    <part name='parameters' element='tns:searchValuesFromAllDataStreamsOfADeviceParameters' />
  </message>
  <message name='searchValuesFromAllDataStreamsOfADeviceResponseMessage'>
    <part name='response' element='tns:searchValuesFromAllDataStreamsOfADeviceResponse' />
  </message>
  <message name='updateChartRequestMessage'>
    <part name='parameters' element='tns:updateChartParameters' />
  </message>
  <message name='updateChartResponseMessage'>
    <part name='response' element='tns:updateChartResponse' />
  </message>
  <message name='updateCollectionDetailsRequestMessage'>
    <part name='parameters' element='tns:updateCollectionDetailsParameters' />
  </message>
  <message name='updateCollectionDetailsResponseMessage'>
    <part name='response' element='tns:updateCollectionDetailsResponse' />
  </message>
  <message name='updateDataStreamValueRequestMessage'>
    <part name='parameters' element='tns:updateDataStreamValueParameters' />
  </message>
  <message name='updateDataStreamValueResponseMessage'>
    <part name='response' element='tns:updateDataStreamValueResponse' />
  </message>
  <message name='updateDeviceDetailsRequestMessage'>
    <part name='parameters' element='tns:updateDeviceDetailsParameters' />
  </message>
  <message name='updateDeviceDetailsResponseMessage'>
    <part name='response' element='tns:updateDeviceDetailsResponse' />
  </message>
  <message name='updateDeviceLocationRequestMessage'>
    <part name='parameters' element='tns:updateDeviceLocationParameters' />
  </message>
  <message name='updateDeviceLocationResponseMessage'>
    <part name='response' element='tns:updateDeviceLocationResponse' />
  </message>
  <message name='updateKeyRequestMessage'>
    <part name='parameters' element='tns:updateKeyParameters' />
  </message>
  <message name='updateKeyResponseMessage'>
    <part name='response' element='tns:updateKeyResponse' />
  </message>
  <message name='viewChartDetailsRequestMessage'>
    <part name='parameters' element='tns:viewChartDetailsParameters' />
  </message>
  <message name='viewChartDetailsResponseMessage'>
    <part name='response' element='tns:viewChartDetailsResponse' />
  </message>
  <message name='viewCollectionDetailsRequestMessage'>
    <part name='parameters' element='tns:viewCollectionDetailsParameters' />
  </message>
  <message name='viewCollectionDetailsResponseMessage'>
    <part name='response' element='tns:viewCollectionDetailsResponse' />
  </message>
  <message name='viewDataStreamRequestMessage'>
    <part name='parameters' element='tns:viewDataStreamParameters' />
  </message>
  <message name='viewDataStreamResponseMessage'>
    <part name='response' element='tns:viewDataStreamResponse' />
  </message>
  <message name='viewDeviceDetailsRequestMessage'>
    <part name='parameters' element='tns:viewDeviceDetailsParameters' />
  </message>
  <message name='viewDeviceDetailsResponseMessage'>
    <part name='response' element='tns:viewDeviceDetailsResponse' />
  </message>
  <message name='viewDeviceTriggerRequestMessage'>
    <part name='parameters' element='tns:viewDeviceTriggerParameters' />
  </message>
  <message name='viewDeviceTriggerResponseMessage'>
    <part name='response' element='tns:viewDeviceTriggerResponse' />
  </message>
  <message name='viewJobDetailsRequestMessage'>
    <part name='parameters' element='tns:viewJobDetailsParameters' />
  </message>
  <message name='viewJobDetailsResponseMessage'>
    <part name='response' element='tns:viewJobDetailsResponse' />
  </message>
  <message name='viewJobResultsRequestMessage'>
    <part name='parameters' element='tns:viewJobResultsParameters' />
  </message>
  <message name='viewJobResultsResponseMessage'>
    <part name='response' element='tns:viewJobResultsResponse' />
  </message>
  <message name='viewKeyDetailsRequestMessage'>
    <part name='parameters' element='tns:viewKeyDetailsParameters' />
  </message>
  <message name='viewKeyDetailsResponseMessage'>
    <part name='response' element='tns:viewKeyDetailsResponse' />
  </message>
  <message name='viewRequestLogRequestMessage'>
    <part name='parameters' element='tns:viewRequestLogParameters' />
  </message>
  <message name='viewRequestLogResponseMessage'>
    <part name='response' element='tns:viewRequestLogResponse' />
  </message>
  <portType name='mXPortType'>
    <operation name='createChart'>
      <documentation>create a new chart associated with the authenticated account</documentation>
      <input message='tns:createChartRequestMessage' name='createChartInput' />
      <output message='tns:createChartResponseMessage' name='createChartOutput' />
    </operation>
    <operation name='createCollection'>
      <documentation>create a new collection</documentation>
      <input message='tns:createCollectionRequestMessage' name='createCollectionInput' />
      <output message='tns:createCollectionResponseMessage' name='createCollectionOutput' />
    </operation>
    <operation name='createDevice'>
      <documentation>creates a new Device</documentation>
      <input message='tns:createDeviceRequestMessage' name='createDeviceInput' />
      <output message='tns:createDeviceResponseMessage' name='createDeviceOutput' />
    </operation>
    <operation name='createKey'>
      <documentation>create a new key associated with the specified account Only one of the following params can be passed when creating Keys distribution collection device If none of those are passed the resulting key will be considered a Master Key Once a key is created their distribution collection device and stream attributes cannot be updated</documentation>
      <input message='tns:createKeyRequestMessage' name='createKeyInput' />
      <output message='tns:createKeyResponseMessage' name='createKeyOutput' />
    </operation>
    <operation name='createUpdateDataStream'>
      <documentation>update a data stream associated with the specified Device if a stream with this name does not exist it gets created</documentation>
      <input message='tns:createUpdateDataStreamRequestMessage' name='createUpdateDataStreamInput' />
      <output message='tns:createUpdateDataStreamResponseMessage' name='createUpdateDataStreamOutput' />
    </operation>
    <operation name='dataStreamSampling'>
      <documentation>sample values from an existing data stream associated with a specific device sorted in reverse chronological order most recent values first This endpoint only works for numeric streams</documentation>
      <input message='tns:dataStreamSamplingRequestMessage' name='dataStreamSamplingInput' />
      <output message='tns:dataStreamSamplingResponseMessage' name='dataStreamSamplingOutput' />
    </operation>
    <operation name='dataStreamStats'>
      <documentation>return count min max average and standard deviation stats for the values on an existing data stream This endpoint only works for numeric streams</documentation>
      <input message='tns:dataStreamStatsRequestMessage' name='dataStreamStatsInput' />
      <output message='tns:dataStreamStatsResponseMessage' name='dataStreamStatsOutput' />
    </operation>
    <operation name='deleteChart'>
      <documentation>delete an existing chart</documentation>
      <input message='tns:deleteChartRequestMessage' name='deleteChartInput' />
      <output message='tns:deleteChartResponseMessage' name='deleteChartOutput' />
    </operation>
    <operation name='deleteCollection'>
      <documentation>delete an existing collection along with all of its children collections and associated devices</documentation>
      <input message='tns:deleteCollectionRequestMessage' name='deleteCollectionInput' />
      <output message='tns:deleteCollectionResponseMessage' name='deleteCollectionOutput' />
    </operation>
    <operation name='deleteDataStream'>
      <documentation>delete an existing data stream associated with a specific device</documentation>
      <input message='tns:deleteDataStreamRequestMessage' name='deleteDataStreamInput' />
      <output message='tns:deleteDataStreamResponseMessage' name='deleteDataStreamOutput' />
    </operation>
    <operation name='deleteDataStreamValues'>
      <documentation>delete values in a stream by a date range</documentation>
      <input message='tns:deleteDataStreamValuesRequestMessage' name='deleteDataStreamValuesInput' />
      <output message='tns:deleteDataStreamValuesResponseMessage' name='deleteDataStreamValuesOutput' />
    </operation>
    <operation name='deleteDevice'>
      <documentation>delete an existing device</documentation>
      <input message='tns:deleteDeviceRequestMessage' name='deleteDeviceInput' />
      <output message='tns:deleteDeviceResponseMessage' name='deleteDeviceOutput' />
    </operation>
    <operation name='deleteDeviceTrigger'>
      <documentation>delete an existing trigger associated with a specific device</documentation>
      <input message='tns:deleteDeviceTriggerRequestMessage' name='deleteDeviceTriggerInput' />
      <output message='tns:deleteDeviceTriggerResponseMessage' name='deleteDeviceTriggerOutput' />
    </operation>
    <operation name='deleteKey'>
      <documentation>delete an existing key</documentation>
      <input message='tns:deleteKeyRequestMessage' name='deleteKeyInput' />
      <output message='tns:deleteKeyResponseMessage' name='deleteKeyOutput' />
    </operation>
    <operation name='exportValuesFromAllDataStreamsOfADevice'>
      <documentation>export all values from all or selected data streams associated with a specific device sorted in reverse chronological order most recent values first The response format can be specified as a file extension In the current version of the M X API only the csv format is specified This operation will be executed asynchronously meaning that a developer will not get an immediate response with the results The request will be accepted for background processing and a Job URL will be returned in which the user will be able to track the status of said job Once the operation is complete the Job will be marked as complete and the URL for downloading the exported files will be available in the result field of the Job See Jobs API for more information about jobs The results file will be available for one week after which time it will be deleted</documentation>
      <input message='tns:exportValuesFromAllDataStreamsOfADeviceRequestMessage' name='exportValuesFromAllDataStreamsOfADeviceInput' />
      <output message='tns:exportValuesFromAllDataStreamsOfADeviceResponseMessage' name='exportValuesFromAllDataStreamsOfADeviceOutput' />
    </operation>
    <operation name='getTimeIso'>
      <documentation>returns the M X server time in ISO format This is ideal for devices without a real time clock RTC for short</documentation>
      <input message='tns:getTimeIsoRequestMessage' name='getTimeIsoInput' />
      <output message='tns:getTimeIsoResponseMessage' name='getTimeIsoOutput' />
    </operation>
    <operation name='getTimeMilliseconds'>
      <documentation>returns the M X server time in milliseconds This is ideal for devices without a real time clock RTC for short</documentation>
      <input message='tns:getTimeMillisecondsRequestMessage' name='getTimeMillisecondsInput' />
      <output message='tns:getTimeMillisecondsResponseMessage' name='getTimeMillisecondsOutput' />
    </operation>
    <operation name='getTimeSeconds'>
      <documentation>returns the M X server time in seconds This is ideal for devices without a real time clock RTC for short</documentation>
      <input message='tns:getTimeSecondsRequestMessage' name='getTimeSecondsInput' />
      <output message='tns:getTimeSecondsResponseMessage' name='getTimeSecondsOutput' />
    </operation>
    <operation name='getTimeSecondsMillisecondsIso'>
      <documentation>returns the M X server time in seconds milliseconds and ISO formatted This is ideal for devices without a real time clock RTC for short</documentation>
      <input message='tns:getTimeSecondsMillisecondsIsoRequestMessage' name='getTimeSecondsMillisecondsIsoInput' />
      <output message='tns:getTimeSecondsMillisecondsIsoResponseMessage' name='getTimeSecondsMillisecondsIsoOutput' />
    </operation>
    <operation name='listCharts'>
      <documentation>retrieve the list of charts that belong to the authenticated user</documentation>
      <input message='tns:listChartsRequestMessage' name='listChartsInput' />
      <output message='tns:listChartsResponseMessage' name='listChartsOutput' />
    </operation>
    <operation name='listCollecitons'>
      <documentation>retrieve a list of collections accessible by the authenticated user</documentation>
      <input message='tns:listCollecitonsRequestMessage' name='listCollecitonsInput' />
      <output message='tns:listCollecitonsResponseMessage' name='listCollecitonsOutput' />
    </operation>
    <operation name='listDataStreamValues'>
      <documentation>list values from an existing data stream associated with a specific device sorted in reverse chronological order most recent values first</documentation>
      <input message='tns:listDataStreamValuesRequestMessage' name='listDataStreamValuesInput' />
      <output message='tns:listDataStreamValuesResponseMessage' name='listDataStreamValuesOutput' />
    </operation>
    <operation name='listDataStreams'>
      <documentation>retrieve list of data streams associated with the specified device</documentation>
      <input message='tns:listDataStreamsRequestMessage' name='listDataStreamsInput' />
      <output message='tns:listDataStreamsResponseMessage' name='listDataStreamsOutput' />
    </operation>
    <operation name='listDeviceTags'>
      <documentation>retrieve the list of device tags for the authenticated user</documentation>
      <input message='tns:listDeviceTagsRequestMessage' name='listDeviceTagsInput' />
      <output message='tns:listDeviceTagsResponseMessage' name='listDeviceTagsOutput' />
    </operation>
    <operation name='listDeviceTriggers'>
      <documentation>retrieve list of triggers associated with the specified device</documentation>
      <input message='tns:listDeviceTriggersRequestMessage' name='listDeviceTriggersInput' />
      <output message='tns:listDeviceTriggersResponseMessage' name='listDeviceTriggersOutput' />
    </operation>
    <operation name='listDevices'>
      <documentation>retrieve the list of devices accessible by the authenticated API key provided in the X M X KEY header</documentation>
      <input message='tns:listDevicesRequestMessage' name='listDevicesInput' />
      <output message='tns:listDevicesResponseMessage' name='listDevicesOutput' />
    </operation>
    <operation name='listJobs'>
      <documentation>retrieve the list of the most recent jobs that belong to the authenticated user</documentation>
      <input message='tns:listJobsRequestMessage' name='listJobsInput' />
      <output message='tns:listJobsResponseMessage' name='listJobsOutput' />
    </operation>
    <operation name='listKeys'>
      <documentation>retrieve list of keys associated with the specified account</documentation>
      <input message='tns:listKeysRequestMessage' name='listKeysInput' />
      <output message='tns:listKeysResponseMessage' name='listKeysOutput' />
    </operation>
    <operation name='listValuesFromAllDataStreamsOfADevice'>
      <documentation>list values from all data streams associated with a specific device sorted in reverse chronological order most recent values first</documentation>
      <input message='tns:listValuesFromAllDataStreamsOfADeviceRequestMessage' name='listValuesFromAllDataStreamsOfADeviceInput' />
      <output message='tns:listValuesFromAllDataStreamsOfADeviceResponseMessage' name='listValuesFromAllDataStreamsOfADeviceOutput' />
    </operation>
    <operation name='listSearchPublicDevicesCatalog'>
      <documentation>search the catalog of public Devices This allows unauthenticated users to search Devices from other users that have been marked as public allowing them to read public Device metadata locations streams list and view each Devices stream metadata and its values The catalog of public devices is sorted by descendant creation date by default that is newer devices appear first on the results list</documentation>
      <input message='tns:listSearchPublicDevicesCatalogRequestMessage' name='listSearchPublicDevicesCatalogInput' />
      <output message='tns:listSearchPublicDevicesCatalogResponseMessage' name='listSearchPublicDevicesCatalogOutput' />
    </operation>
    <operation name='postDataStreamValues'>
      <documentation>post timestamped values to an existing data stream associated with a specific device</documentation>
      <input message='tns:postDataStreamValuesRequestMessage' name='postDataStreamValuesInput' />
      <output message='tns:postDataStreamValuesResponseMessage' name='postDataStreamValuesOutput' />
    </operation>
    <operation name='postDeviceUpdatesMultipleValuesToMultipleStreams'>
      <documentation>post values to multiple streams at once</documentation>
      <input message='tns:postDeviceUpdatesMultipleValuesToMultipleStreamsRequestMessage' name='postDeviceUpdatesMultipleValuesToMultipleStreamsInput' />
      <output message='tns:postDeviceUpdatesMultipleValuesToMultipleStreamsResponseMessage' name='postDeviceUpdatesMultipleValuesToMultipleStreamsOutput' />
    </operation>
    <operation name='postDeviceUpdatesSingleValuesToMultipleStreams'>
      <documentation>post singles values to multiple streams at once</documentation>
      <input message='tns:postDeviceUpdatesSingleValuesToMultipleStreamsRequestMessage' name='postDeviceUpdatesSingleValuesToMultipleStreamsInput' />
      <output message='tns:postDeviceUpdatesSingleValuesToMultipleStreamsResponseMessage' name='postDeviceUpdatesSingleValuesToMultipleStreamsOutput' />
    </operation>
    <operation name='readDeviceLocation'>
      <documentation>get location details of an existing Device</documentation>
      <input message='tns:readDeviceLocationRequestMessage' name='readDeviceLocationInput' />
      <output message='tns:readDeviceLocationResponseMessage' name='readDeviceLocationOutput' />
    </operation>
    <operation name='regenerateKey'>
      <documentation>regenerate the specified key</documentation>
      <input message='tns:regenerateKeyRequestMessage' name='regenerateKeyInput' />
      <output message='tns:regenerateKeyResponseMessage' name='regenerateKeyOutput' />
    </operation>
    <operation name='renderChart'>
      <documentation>this method is public and therefore it does not require the user to authenticate himself using an API key It s generally used in the src attribute of an img html tag</documentation>
      <input message='tns:renderChartRequestMessage' name='renderChartInput' />
      <output message='tns:renderChartResponseMessage' name='renderChartOutput' />
    </operation>
    <operation name='searchDevices'>
      <documentation>retrieve the list of devices accessible by the authenticated API key that meet the search criteria</documentation>
      <input message='tns:searchDevicesRequestMessage' name='searchDevicesInput' />
      <output message='tns:searchDevicesResponseMessage' name='searchDevicesOutput' />
    </operation>
    <operation name='searchValuesFromAllDataStreamsOfADevice'>
      <documentation>search and list values from all data streams associated with a specific device sorted in reverse chronological order Values logged during the start end timeframe will be returned for the streams listed in the streams array if and only if the conditions listed in the conditions object have been met Only numeric streams can be included in the conditions object</documentation>
      <input message='tns:searchValuesFromAllDataStreamsOfADeviceRequestMessage' name='searchValuesFromAllDataStreamsOfADeviceInput' />
      <output message='tns:searchValuesFromAllDataStreamsOfADeviceResponseMessage' name='searchValuesFromAllDataStreamsOfADeviceOutput' />
    </operation>
    <operation name='updateChart'>
      <documentation>update an existing chart</documentation>
      <input message='tns:updateChartRequestMessage' name='updateChartInput' />
      <output message='tns:updateChartResponseMessage' name='updateChartOutput' />
    </operation>
    <operation name='updateCollectionDetails'>
      <documentation>update an existing collection s information</documentation>
      <input message='tns:updateCollectionDetailsRequestMessage' name='updateCollectionDetailsInput' />
      <output message='tns:updateCollectionDetailsResponseMessage' name='updateCollectionDetailsOutput' />
    </operation>
    <operation name='updateDataStreamValue'>
      <documentation>update the current stream value of the specified stream</documentation>
      <input message='tns:updateDataStreamValueRequestMessage' name='updateDataStreamValueInput' />
      <output message='tns:updateDataStreamValueResponseMessage' name='updateDataStreamValueOutput' />
    </operation>
    <operation name='updateDeviceDetails'>
      <documentation>update an existing Device s information</documentation>
      <input message='tns:updateDeviceDetailsRequestMessage' name='updateDeviceDetailsInput' />
      <output message='tns:updateDeviceDetailsResponseMessage' name='updateDeviceDetailsOutput' />
    </operation>
    <operation name='updateDeviceLocation'>
      <documentation>update the current location of the specified device</documentation>
      <input message='tns:updateDeviceLocationRequestMessage' name='updateDeviceLocationInput' />
      <output message='tns:updateDeviceLocationResponseMessage' name='updateDeviceLocationOutput' />
    </operation>
    <operation name='updateKey'>
      <documentation>update name stream permissions expiration date origin or device access of an existing key associated with the specified account</documentation>
      <input message='tns:updateKeyRequestMessage' name='updateKeyInput' />
      <output message='tns:updateKeyResponseMessage' name='updateKeyOutput' />
    </operation>
    <operation name='viewChartDetails'>
      <documentation>get details of a specific chart This method is public and therefore it does not require the user to authenticate himself using an API key</documentation>
      <input message='tns:viewChartDetailsRequestMessage' name='viewChartDetailsInput' />
      <output message='tns:viewChartDetailsResponseMessage' name='viewChartDetailsOutput' />
    </operation>
    <operation name='viewCollectionDetails'>
      <documentation>retrieve information about an existing collection</documentation>
      <input message='tns:viewCollectionDetailsRequestMessage' name='viewCollectionDetailsInput' />
      <output message='tns:viewCollectionDetailsResponseMessage' name='viewCollectionDetailsOutput' />
    </operation>
    <operation name='viewDataStream'>
      <documentation>get details of a specific data Stream associated with an existing device</documentation>
      <input message='tns:viewDataStreamRequestMessage' name='viewDataStreamInput' />
      <output message='tns:viewDataStreamResponseMessage' name='viewDataStreamOutput' />
    </operation>
    <operation name='viewDeviceDetails'>
      <documentation>get details of an existing Device</documentation>
      <input message='tns:viewDeviceDetailsRequestMessage' name='viewDeviceDetailsInput' />
      <output message='tns:viewDeviceDetailsResponseMessage' name='viewDeviceDetailsOutput' />
    </operation>
    <operation name='viewDeviceTrigger'>
      <documentation>get details of a specific trigger associated with an existing device</documentation>
      <input message='tns:viewDeviceTriggerRequestMessage' name='viewDeviceTriggerInput' />
      <output message='tns:viewDeviceTriggerResponseMessage' name='viewDeviceTriggerOutput' />
    </operation>
    <operation name='viewJobDetails'>
      <documentation></documentation>
      <input message='tns:viewJobDetailsRequestMessage' name='viewJobDetailsInput' />
      <output message='tns:viewJobDetailsResponseMessage' name='viewJobDetailsOutput' />
    </operation>
    <operation name='viewJobResults'>
      <documentation>view the results of a background job</documentation>
      <input message='tns:viewJobResultsRequestMessage' name='viewJobResultsInput' />
      <output message='tns:viewJobResultsResponseMessage' name='viewJobResultsOutput' />
    </operation>
    <operation name='viewKeyDetails'>
      <documentation>get details of a specific key associated with a developer account</documentation>
      <input message='tns:viewKeyDetailsRequestMessage' name='viewKeyDetailsInput' />
      <output message='tns:viewKeyDetailsResponseMessage' name='viewKeyDetailsOutput' />
    </operation>
    <operation name='viewRequestLog'>
      <documentation>retrieve list of HTTP requests received lately by the specified device up to entries</documentation>
      <input message='tns:viewRequestLogRequestMessage' name='viewRequestLogInput' />
      <output message='tns:viewRequestLogResponseMessage' name='viewRequestLogOutput' />
    </operation>
  </portType>
  <binding name='mXBinding' type='tns:mXPortType'>
    <operation name='createChart'>
      <soap12:operation soapAction='http://createChart' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createCollection'>
      <soap12:operation soapAction='http://createCollection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createDevice'>
      <soap12:operation soapAction='http://createDevice' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createKey'>
      <soap12:operation soapAction='http://createKey' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createUpdateDataStream'>
      <soap12:operation soapAction='http://createUpdateDataStream' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='dataStreamSampling'>
      <soap12:operation soapAction='http://dataStreamSampling' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='dataStreamStats'>
      <soap12:operation soapAction='http://dataStreamStats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteChart'>
      <soap12:operation soapAction='http://deleteChart' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteCollection'>
      <soap12:operation soapAction='http://deleteCollection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteDataStream'>
      <soap12:operation soapAction='http://deleteDataStream' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteDataStreamValues'>
      <soap12:operation soapAction='http://deleteDataStreamValues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteDevice'>
      <soap12:operation soapAction='http://deleteDevice' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteDeviceTrigger'>
      <soap12:operation soapAction='http://deleteDeviceTrigger' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteKey'>
      <soap12:operation soapAction='http://deleteKey' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='exportValuesFromAllDataStreamsOfADevice'>
      <soap12:operation soapAction='http://exportValuesFromAllDataStreamsOfADevice' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTimeIso'>
      <soap12:operation soapAction='http://getTimeIso' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTimeMilliseconds'>
      <soap12:operation soapAction='http://getTimeMilliseconds' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTimeSeconds'>
      <soap12:operation soapAction='http://getTimeSeconds' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTimeSecondsMillisecondsIso'>
      <soap12:operation soapAction='http://getTimeSecondsMillisecondsIso' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listCharts'>
      <soap12:operation soapAction='http://listCharts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listCollecitons'>
      <soap12:operation soapAction='http://listCollecitons' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDataStreamValues'>
      <soap12:operation soapAction='http://listDataStreamValues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDataStreams'>
      <soap12:operation soapAction='http://listDataStreams' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDeviceTags'>
      <soap12:operation soapAction='http://listDeviceTags' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDeviceTriggers'>
      <soap12:operation soapAction='http://listDeviceTriggers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDevices'>
      <soap12:operation soapAction='http://listDevices' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listJobs'>
      <soap12:operation soapAction='http://listJobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listKeys'>
      <soap12:operation soapAction='http://listKeys' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listValuesFromAllDataStreamsOfADevice'>
      <soap12:operation soapAction='http://listValuesFromAllDataStreamsOfADevice' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listSearchPublicDevicesCatalog'>
      <soap12:operation soapAction='http://listSearchPublicDevicesCatalog' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postDataStreamValues'>
      <soap12:operation soapAction='http://postDataStreamValues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postDeviceUpdatesMultipleValuesToMultipleStreams'>
      <soap12:operation soapAction='http://postDeviceUpdatesMultipleValuesToMultipleStreams' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postDeviceUpdatesSingleValuesToMultipleStreams'>
      <soap12:operation soapAction='http://postDeviceUpdatesSingleValuesToMultipleStreams' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='readDeviceLocation'>
      <soap12:operation soapAction='http://readDeviceLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='regenerateKey'>
      <soap12:operation soapAction='http://regenerateKey' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='renderChart'>
      <soap12:operation soapAction='http://renderChart' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchDevices'>
      <soap12:operation soapAction='http://searchDevices' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchValuesFromAllDataStreamsOfADevice'>
      <soap12:operation soapAction='http://searchValuesFromAllDataStreamsOfADevice' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateChart'>
      <soap12:operation soapAction='http://updateChart' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateCollectionDetails'>
      <soap12:operation soapAction='http://updateCollectionDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateDataStreamValue'>
      <soap12:operation soapAction='http://updateDataStreamValue' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateDeviceDetails'>
      <soap12:operation soapAction='http://updateDeviceDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateDeviceLocation'>
      <soap12:operation soapAction='http://updateDeviceLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateKey'>
      <soap12:operation soapAction='http://updateKey' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewChartDetails'>
      <soap12:operation soapAction='http://viewChartDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewCollectionDetails'>
      <soap12:operation soapAction='http://viewCollectionDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewDataStream'>
      <soap12:operation soapAction='http://viewDataStream' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewDeviceDetails'>
      <soap12:operation soapAction='http://viewDeviceDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewDeviceTrigger'>
      <soap12:operation soapAction='http://viewDeviceTrigger' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewJobDetails'>
      <soap12:operation soapAction='http://viewJobDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewJobResults'>
      <soap12:operation soapAction='http://viewJobResults' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewKeyDetails'>
      <soap12:operation soapAction='http://viewKeyDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewRequestLog'>
      <soap12:operation soapAction='http://viewRequestLog' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mX'>
    <documentation>aT T M X is a highly secure and scalable time series data storage service for network connected devices and the Internet of Things In addition to data storage M X enables automatic data driven action by monitoring streams of data in real time and if a user defined trigger condition is met an event is fired The AT T M X API provides all the needed operations and methods to connect your devices to AT T s M X service and has supported client libraries for Ruby Python Node js PHP C and Java among many other languages platforms and devices like Arduino Spark Core Raspberry Pi and more</documentation>
    <port name='mXPort' binding='tns:mXBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mX' />
    </port>
  </service>
</definitions>