workspace/datasets/mashape_dataset/mymemorytranslationmemory.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/mymemoryTranslationMemory/' name='mymemoryTranslationMemory' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/mymemoryTranslationMemory/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/mymemoryTranslationMemory/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/mymemoryTranslationMemory/'>
      <xsd:element name='getParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='langpair' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='of' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='responseDetails' type='xsd:string' minOccurs='0' />
            <xsd:element name='responseData' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='translatedText' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='responseStatus' type='xsd:string' minOccurs='0' />
            <xsd:element name='matches' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reference' type='xsd:string' minOccurs='0' />
                  <xsd:element name='usage-count' type='xsd:string' minOccurs='0' />
                  <xsd:element name='create-date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='subject' type='xsd:string' minOccurs='0' />
                  <xsd:element name='segment' type='xsd:string' minOccurs='0' />
                  <xsd:element name='match' type='xsd:string' minOccurs='0' />
                  <xsd:element name='translation' type='xsd:string' minOccurs='0' />
                  <xsd:element name='last-update-date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:string' minOccurs='0' />
                  <xsd:element name='last-updated-by' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created-by' type='xsd:string' minOccurs='0' />
                  <xsd:element name='quality' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getRequestMessage'>
    <part name='parameters' element='tns:getParameters' />
  </message>
  <message name='getResponseMessage'>
    <part name='response' element='tns:getResponse' />
  </message>
  <portType name='mymemoryTranslationMemoryPortType'>
    <operation name='get'>
      <documentation>get a list of translation from the translation memory ranked by quality and similarity what we call match</documentation>
      <input message='tns:getRequestMessage' name='getInput' />
      <output message='tns:getResponseMessage' name='getOutput' />
    </operation>
  </portType>
  <binding name='mymemoryTranslationMemoryBinding' type='tns:mymemoryTranslationMemoryPortType'>
    <operation name='get'>
      <soap12:operation soapAction='http://get' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='mymemoryTranslationMemory'>
    <documentation>get a better translation MyMemory is the world s largest Translation Memory It contains billions of words translated by professional translators MyMemory will give you a machine translation Google Microsoft or our only when a human translation is not available</documentation>
    <port name='mymemoryTranslationMemoryPort' binding='tns:mymemoryTranslationMemoryBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://mymemoryTranslationMemory' />
    </port>
  </service>
</definitions>