workspace/datasets/mashape_dataset/nametoolkit.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/nameToolkit/' name='nameToolkit' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/nameToolkit/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/nameToolkit/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/nameToolkit/'>
      <xsd:element name='alexaRankParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='alexaRankResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='popularity_rank' type='xsd:int' minOccurs='0' />
            <xsd:element name='reach_rank' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nslookupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nslookupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='whoisParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='whoisResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' minOccurs='0' />
            <xsd:element name='registrar' type='xsd:string' minOccurs='0' />
            <xsd:element name='address_postal_code' type='xsd:string' minOccurs='0' />
            <xsd:element name='address_country' type='xsd:string' minOccurs='0' />
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='referral_url' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='raw' type='xsd:string' minOccurs='0' />
            <xsd:element name='expiration_date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address_city' type='xsd:string' minOccurs='0' />
            <xsd:element name='descr' type='xsd:string' minOccurs='0' />
            <xsd:element name='technical_contact' type='xsd:string' minOccurs='0' />
            <xsd:element name='name_server' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='administrative_contact' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phone' type='xsd:string' minOccurs='0' />
            <xsd:element name='domain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='dateExpires' type='xsd:date' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='checked' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='referral_domain' type='xsd:string' minOccurs='0' />
            <xsd:element name='fax' type='xsd:string' minOccurs='0' />
            <xsd:element name='updated' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='whoisBetaParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='whoisBetaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='updated_on' type='xsd:string' minOccurs='0' />
            <xsd:element name='nameservers' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ipv4' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ipv6' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='registrar' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='organization' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='registrant_contacts' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='organization' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fax' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='domain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='available' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='admin_contacts' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='organization' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fax' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='technical_contacts' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_on' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='organization' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fax' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='expiration_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='alexaRankRequestMessage'>
    <part name='parameters' element='tns:alexaRankParameters' />
  </message>
  <message name='alexaRankResponseMessage'>
    <part name='response' element='tns:alexaRankResponse' />
  </message>
  <message name='nslookupRequestMessage'>
    <part name='parameters' element='tns:nslookupParameters' />
  </message>
  <message name='nslookupResponseMessage'>
    <part name='response' element='tns:nslookupResponse' />
  </message>
  <message name='whoisRequestMessage'>
    <part name='parameters' element='tns:whoisParameters' />
  </message>
  <message name='whoisResponseMessage'>
    <part name='response' element='tns:whoisResponse' />
  </message>
  <message name='whoisBetaRequestMessage'>
    <part name='parameters' element='tns:whoisBetaParameters' />
  </message>
  <message name='whoisBetaResponseMessage'>
    <part name='response' element='tns:whoisBetaResponse' />
  </message>
  <portType name='nameToolkitPortType'>
    <operation name='alexaRank'>
      <documentation></documentation>
      <input message='tns:alexaRankRequestMessage' name='alexaRankInput' />
      <output message='tns:alexaRankResponseMessage' name='alexaRankOutput' />
    </operation>
    <operation name='nslookup'>
      <documentation></documentation>
      <input message='tns:nslookupRequestMessage' name='nslookupInput' />
      <output message='tns:nslookupResponseMessage' name='nslookupOutput' />
    </operation>
    <operation name='whois'>
      <documentation></documentation>
      <input message='tns:whoisRequestMessage' name='whoisInput' />
      <output message='tns:whoisResponseMessage' name='whoisOutput' />
    </operation>
    <operation name='whoisBeta'>
      <documentation>warning this API is unstable and may change at short notice</documentation>
      <input message='tns:whoisBetaRequestMessage' name='whoisBetaInput' />
      <output message='tns:whoisBetaResponseMessage' name='whoisBetaOutput' />
    </operation>
  </portType>
  <binding name='nameToolkitBinding' type='tns:nameToolkitPortType'>
    <operation name='alexaRank'>
      <soap12:operation soapAction='http://alexaRank' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='nslookup'>
      <soap12:operation soapAction='http://nslookup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='whois'>
      <soap12:operation soapAction='http://whois' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='whoisBeta'>
      <soap12:operation soapAction='http://whoisBeta' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='nameToolkit'>
    <documentation>name Toolkit is a domain name suggestion registration and whois info provider Our focus is on speed simplicity and honesty</documentation>
    <port name='nameToolkitPort' binding='tns:nameToolkitBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://nameToolkit' />
    </port>
  </service>
</definitions>