workspace/datasets/mashape_dataset/newsinappio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/newsinappIo/' name='newsinappIo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/newsinappIo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/newsinappIo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/newsinappIo/'>
      <xsd:element name='createATopicResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllYourTopicsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllYourTopicsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveLatestNewsOnATopicParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='beforeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='topicid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveLatestNewsOnATopicResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveLatestNewsOnAllYourTopicsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='beforeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveLatestNewsOnAllYourTopicsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchAvailableTopicsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchAvailableTopicsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscribeATopicParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='topicid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscribeATopicResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unsubscribeATopicParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='topicid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unsubscribeATopicResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createATopicRequestMessage' />
  <message name='createATopicResponseMessage'>
    <part name='response' element='tns:createATopicResponse' />
  </message>
  <message name='listAllYourTopicsRequestMessage'>
    <part name='parameters' element='tns:listAllYourTopicsParameters' />
  </message>
  <message name='listAllYourTopicsResponseMessage'>
    <part name='response' element='tns:listAllYourTopicsResponse' />
  </message>
  <message name='retrieveLatestNewsOnATopicRequestMessage'>
    <part name='parameters' element='tns:retrieveLatestNewsOnATopicParameters' />
  </message>
  <message name='retrieveLatestNewsOnATopicResponseMessage'>
    <part name='response' element='tns:retrieveLatestNewsOnATopicResponse' />
  </message>
  <message name='retrieveLatestNewsOnAllYourTopicsRequestMessage'>
    <part name='parameters' element='tns:retrieveLatestNewsOnAllYourTopicsParameters' />
  </message>
  <message name='retrieveLatestNewsOnAllYourTopicsResponseMessage'>
    <part name='response' element='tns:retrieveLatestNewsOnAllYourTopicsResponse' />
  </message>
  <message name='searchAvailableTopicsRequestMessage'>
    <part name='parameters' element='tns:searchAvailableTopicsParameters' />
  </message>
  <message name='searchAvailableTopicsResponseMessage'>
    <part name='response' element='tns:searchAvailableTopicsResponse' />
  </message>
  <message name='subscribeATopicRequestMessage'>
    <part name='parameters' element='tns:subscribeATopicParameters' />
  </message>
  <message name='subscribeATopicResponseMessage'>
    <part name='response' element='tns:subscribeATopicResponse' />
  </message>
  <message name='unsubscribeATopicRequestMessage'>
    <part name='parameters' element='tns:unsubscribeATopicParameters' />
  </message>
  <message name='unsubscribeATopicResponseMessage'>
    <part name='response' element='tns:unsubscribeATopicResponse' />
  </message>
  <portType name='newsinappIoPortType'>
    <operation name='createATopic'>
      <documentation>create a new topic Before creating it be sur this topics does not already exist with search method When you create a topic you automatically subscibe to it</documentation>
      <input message='tns:createATopicRequestMessage' name='createATopicInput' />
      <output message='tns:createATopicResponseMessage' name='createATopicOutput' />
    </operation>
    <operation name='listAllYourTopics'>
      <documentation>return all topics you have subscribed</documentation>
      <input message='tns:listAllYourTopicsRequestMessage' name='listAllYourTopicsInput' />
      <output message='tns:listAllYourTopicsResponseMessage' name='listAllYourTopicsOutput' />
    </operation>
    <operation name='retrieveLatestNewsOnATopic'>
      <documentation>return latest news related to the given topic</documentation>
      <input message='tns:retrieveLatestNewsOnATopicRequestMessage' name='retrieveLatestNewsOnATopicInput' />
      <output message='tns:retrieveLatestNewsOnATopicResponseMessage' name='retrieveLatestNewsOnATopicOutput' />
    </operation>
    <operation name='retrieveLatestNewsOnAllYourTopics'>
      <documentation>return latest news related to all topics you have subscribed</documentation>
      <input message='tns:retrieveLatestNewsOnAllYourTopicsRequestMessage' name='retrieveLatestNewsOnAllYourTopicsInput' />
      <output message='tns:retrieveLatestNewsOnAllYourTopicsResponseMessage' name='retrieveLatestNewsOnAllYourTopicsOutput' />
    </operation>
    <operation name='searchAvailableTopics'>
      <documentation>return topics that match a specified query</documentation>
      <input message='tns:searchAvailableTopicsRequestMessage' name='searchAvailableTopicsInput' />
      <output message='tns:searchAvailableTopicsResponseMessage' name='searchAvailableTopicsOutput' />
    </operation>
    <operation name='subscribeATopic'>
      <documentation>subscribe a topic in order to get news about it</documentation>
      <input message='tns:subscribeATopicRequestMessage' name='subscribeATopicInput' />
      <output message='tns:subscribeATopicResponseMessage' name='subscribeATopicOutput' />
    </operation>
    <operation name='unsubscribeATopic'>
      <documentation>cancel subscription of a topic in order to stop receiving news about it</documentation>
      <input message='tns:unsubscribeATopicRequestMessage' name='unsubscribeATopicInput' />
      <output message='tns:unsubscribeATopicResponseMessage' name='unsubscribeATopicOutput' />
    </operation>
  </portType>
  <binding name='newsinappIoBinding' type='tns:newsinappIoPortType'>
    <operation name='createATopic'>
      <soap12:operation soapAction='http://createATopic' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllYourTopics'>
      <soap12:operation soapAction='http://listAllYourTopics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveLatestNewsOnATopic'>
      <soap12:operation soapAction='http://retrieveLatestNewsOnATopic' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveLatestNewsOnAllYourTopics'>
      <soap12:operation soapAction='http://retrieveLatestNewsOnAllYourTopics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchAvailableTopics'>
      <soap12:operation soapAction='http://searchAvailableTopics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='subscribeATopic'>
      <soap12:operation soapAction='http://subscribeATopic' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='unsubscribeATopic'>
      <soap12:operation soapAction='http://unsubscribeATopic' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='newsinappIo'>
    <documentation>newsinapp is an API which allows you to add relevant news from topics into your apps</documentation>
    <port name='newsinappIoPort' binding='tns:newsinappIoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://newsinappIo' />
    </port>
  </service>
</definitions>