workspace/datasets/mashape_dataset/newspaper.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/newspaper/' name='newspaper' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/newspaper/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/newspaper/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/newspaper/'>
      <xsd:element name='articleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='articleurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keeparticlehtml' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxauthors' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxkeywords' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxsummary' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxtext' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxtitle' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='minsentcount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='minwordcount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='articleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='summary' type='xsd:string' minOccurs='0' />
            <xsd:element name='images' type='xsd:anyURI' maxOccurs='unbounded' />
            <xsd:element name='meta_img' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='top_image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='meta_lang' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='top_img' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='meta_keywords' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='meta_favicon' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='source_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='meta_description' type='xsd:string' minOccurs='0' />
            <xsd:element name='additional_data' type='xsd:string' minOccurs='0' />
            <xsd:element name='canonical_link' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='meta_data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sailthru.tags' type='xsd:string' minOccurs='0' />
                  <xsd:element name='HandheldFriendly' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='msapplication-tooltip' type='xsd:string' minOccurs='0' />
                  <xsd:element name='apple-mobile-web-app-title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='generator' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='twitter' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='image' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='src' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='card' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='sailthru.title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='og' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='site_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='robots' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='application-name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sailthru.date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='msapplication-window' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='google-site-verification' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='msvalidate.01' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sailthru.image.thumb' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='article' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='publisher' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='p' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='domain_verify' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='sailthru.description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='MobileOptimized' type='xsd:int' minOccurs='0' />
                  <xsd:element name='viewport' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fb' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='app_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='admins' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='sailthru.author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sailthru.image.full' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='msapplication-task' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='text' type='xsd:string' minOccurs='0' />
            <xsd:element name='publish_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='authors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newspaperParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='newspaperurl' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newspaperResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='feed_urls' type='xsd:anyURI' maxOccurs='unbounded' />
            <xsd:element name='size' type='xsd:int' minOccurs='0' />
            <xsd:element name='logo_url' type='xsd:string' minOccurs='0' />
            <xsd:element name='category_urls' type='xsd:anyURI' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='article_urls' type='xsd:anyURI' maxOccurs='unbounded' />
            <xsd:element name='brand' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='articleRequestMessage'>
    <part name='parameters' element='tns:articleParameters' />
  </message>
  <message name='articleResponseMessage'>
    <part name='response' element='tns:articleResponse' />
  </message>
  <message name='newspaperRequestMessage'>
    <part name='parameters' element='tns:newspaperParameters' />
  </message>
  <message name='newspaperResponseMessage'>
    <part name='response' element='tns:newspaperResponse' />
  </message>
  <portType name='newspaperPortType'>
    <operation name='article'>
      <documentation>build news blog article source</documentation>
      <input message='tns:articleRequestMessage' name='articleInput' />
      <output message='tns:articleResponseMessage' name='articleOutput' />
    </operation>
    <operation name='newspaper'>
      <documentation>build newspaper blog source</documentation>
      <input message='tns:newspaperRequestMessage' name='newspaperInput' />
      <output message='tns:newspaperResponseMessage' name='newspaperOutput' />
    </operation>
  </portType>
  <binding name='newspaperBinding' type='tns:newspaperPortType'>
    <operation name='article'>
      <soap12:operation soapAction='http://article' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newspaper'>
      <soap12:operation soapAction='http://newspaper' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='newspaper'>
    <documentation>newspaper is an API for Instapaper style article extracting and based off the python library newspaper https github com codelucas newspaper</documentation>
    <port name='newspaperPort' binding='tns:newspaperBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://newspaper' />
    </port>
  </service>
</definitions>