workspace/datasets/mashape_dataset/newscuria.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/newscuria/' name='newscuria' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/newscuria/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/newscuria/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/newscuria/'>
      <xsd:element name='urlCompaniesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hits' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='meta' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='total' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlEventsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hits' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='meta' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='total' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlInstancesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hits' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_index' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='_source' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='instances' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='detection' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='offset' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='prefix' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='exact' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='length' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='suffix' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='relevance' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sort' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='_score' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='max_score' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlPeopleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hits' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='meta' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='total' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlPlacesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hits' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='meta' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='total' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlRelationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hits' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='meta' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='total' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlSummaryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hits' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_index' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='_source' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='_typeGroup' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='instances' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='detection' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='offset' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='prefix' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='exact' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='length' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='suffix' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                              <xsd:element name='resolutions' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                                    <xsd:element name='name' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='id' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='relevance' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sort' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='_score' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='max_score' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlTagsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hits' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='_index' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='_source' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='importance' type='xsd:int' minOccurs='0' />
                              <xsd:element name='name' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sort' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='_score' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='max_score' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlThingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hits' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='meta' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='total' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='urlCompaniesRequestMessage' />
  <message name='urlCompaniesResponseMessage'>
    <part name='response' element='tns:urlCompaniesResponse' />
  </message>
  <message name='urlEventsRequestMessage' />
  <message name='urlEventsResponseMessage'>
    <part name='response' element='tns:urlEventsResponse' />
  </message>
  <message name='urlInstancesRequestMessage' />
  <message name='urlInstancesResponseMessage'>
    <part name='response' element='tns:urlInstancesResponse' />
  </message>
  <message name='urlPeopleRequestMessage' />
  <message name='urlPeopleResponseMessage'>
    <part name='response' element='tns:urlPeopleResponse' />
  </message>
  <message name='urlPlacesRequestMessage' />
  <message name='urlPlacesResponseMessage'>
    <part name='response' element='tns:urlPlacesResponse' />
  </message>
  <message name='urlRelationsRequestMessage' />
  <message name='urlRelationsResponseMessage'>
    <part name='response' element='tns:urlRelationsResponse' />
  </message>
  <message name='urlSummaryRequestMessage' />
  <message name='urlSummaryResponseMessage'>
    <part name='response' element='tns:urlSummaryResponse' />
  </message>
  <message name='urlTagsRequestMessage' />
  <message name='urlTagsResponseMessage'>
    <part name='response' element='tns:urlTagsResponse' />
  </message>
  <message name='urlThingsRequestMessage' />
  <message name='urlThingsResponseMessage'>
    <part name='response' element='tns:urlThingsResponse' />
  </message>
  <portType name='newscuriaPortType'>
    <operation name='urlCompanies'>
      <documentation></documentation>
      <input message='tns:urlCompaniesRequestMessage' name='urlCompaniesInput' />
      <output message='tns:urlCompaniesResponseMessage' name='urlCompaniesOutput' />
    </operation>
    <operation name='urlEvents'>
      <documentation></documentation>
      <input message='tns:urlEventsRequestMessage' name='urlEventsInput' />
      <output message='tns:urlEventsResponseMessage' name='urlEventsOutput' />
    </operation>
    <operation name='urlInstances'>
      <documentation>url to instances</documentation>
      <input message='tns:urlInstancesRequestMessage' name='urlInstancesInput' />
      <output message='tns:urlInstancesResponseMessage' name='urlInstancesOutput' />
    </operation>
    <operation name='urlPeople'>
      <documentation></documentation>
      <input message='tns:urlPeopleRequestMessage' name='urlPeopleInput' />
      <output message='tns:urlPeopleResponseMessage' name='urlPeopleOutput' />
    </operation>
    <operation name='urlPlaces'>
      <documentation></documentation>
      <input message='tns:urlPlacesRequestMessage' name='urlPlacesInput' />
      <output message='tns:urlPlacesResponseMessage' name='urlPlacesOutput' />
    </operation>
    <operation name='urlRelations'>
      <documentation></documentation>
      <input message='tns:urlRelationsRequestMessage' name='urlRelationsInput' />
      <output message='tns:urlRelationsResponseMessage' name='urlRelationsOutput' />
    </operation>
    <operation name='urlSummary'>
      <documentation>url to all metadata</documentation>
      <input message='tns:urlSummaryRequestMessage' name='urlSummaryInput' />
      <output message='tns:urlSummaryResponseMessage' name='urlSummaryOutput' />
    </operation>
    <operation name='urlTags'>
      <documentation>url to tags</documentation>
      <input message='tns:urlTagsRequestMessage' name='urlTagsInput' />
      <output message='tns:urlTagsResponseMessage' name='urlTagsOutput' />
    </operation>
    <operation name='urlThings'>
      <documentation></documentation>
      <input message='tns:urlThingsRequestMessage' name='urlThingsInput' />
      <output message='tns:urlThingsResponseMessage' name='urlThingsOutput' />
    </operation>
  </portType>
  <binding name='newscuriaBinding' type='tns:newscuriaPortType'>
    <operation name='urlCompanies'>
      <soap12:operation soapAction='http://urlCompanies' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlEvents'>
      <soap12:operation soapAction='http://urlEvents' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlInstances'>
      <soap12:operation soapAction='http://urlInstances' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlPeople'>
      <soap12:operation soapAction='http://urlPeople' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlPlaces'>
      <soap12:operation soapAction='http://urlPlaces' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlRelations'>
      <soap12:operation soapAction='http://urlRelations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlSummary'>
      <soap12:operation soapAction='http://urlSummary' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlTags'>
      <soap12:operation soapAction='http://urlTags' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlThings'>
      <soap12:operation soapAction='http://urlThings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='newscuria'>
    <documentation>submit a url of a news article Get back stuff Potentially useful stuff</documentation>
    <port name='newscuriaPort' binding='tns:newscuriaBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://newscuria' />
    </port>
  </service>
</definitions>