workspace/datasets/mashape_dataset/nicereply.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/nicereply/' name='nicereply' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/nicereply/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/nicereply/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/nicereply/'>
      <xsd:element name='getcompanyaverageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcompanyaveragelastmonthResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcompanyaveragelastweekResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcompanydifferenceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcompanyratingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcompanyratingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcompanyratingscountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcompanyratingscountlastmonthResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcompanyratingscountlastweekResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcompanystatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpubliccompanyratingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpubliccompanyratingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuseraverageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuseraverageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuseraveragelastmonthParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuseraveragelastmonthResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuseraveragelastweekParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuseraveragelastweekResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserdifferenceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserdifferenceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserratingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserratingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserratingscountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserratingscountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserratingscountlastmonthParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserratingscountlastmonthResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserratingscountlastweekParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserratingscountlastweekResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserstatsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserstatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setratingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateratingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getcompanyaverageRequestMessage' />
  <message name='getcompanyaverageResponseMessage'>
    <part name='response' element='tns:getcompanyaverageResponse' />
  </message>
  <message name='getcompanyaveragelastmonthRequestMessage' />
  <message name='getcompanyaveragelastmonthResponseMessage'>
    <part name='response' element='tns:getcompanyaveragelastmonthResponse' />
  </message>
  <message name='getcompanyaveragelastweekRequestMessage' />
  <message name='getcompanyaveragelastweekResponseMessage'>
    <part name='response' element='tns:getcompanyaveragelastweekResponse' />
  </message>
  <message name='getcompanydifferenceRequestMessage' />
  <message name='getcompanydifferenceResponseMessage'>
    <part name='response' element='tns:getcompanydifferenceResponse' />
  </message>
  <message name='getcompanyratingsRequestMessage'>
    <part name='parameters' element='tns:getcompanyratingsParameters' />
  </message>
  <message name='getcompanyratingsResponseMessage'>
    <part name='response' element='tns:getcompanyratingsResponse' />
  </message>
  <message name='getcompanyratingscountRequestMessage' />
  <message name='getcompanyratingscountResponseMessage'>
    <part name='response' element='tns:getcompanyratingscountResponse' />
  </message>
  <message name='getcompanyratingscountlastmonthRequestMessage' />
  <message name='getcompanyratingscountlastmonthResponseMessage'>
    <part name='response' element='tns:getcompanyratingscountlastmonthResponse' />
  </message>
  <message name='getcompanyratingscountlastweekRequestMessage' />
  <message name='getcompanyratingscountlastweekResponseMessage'>
    <part name='response' element='tns:getcompanyratingscountlastweekResponse' />
  </message>
  <message name='getcompanystatsRequestMessage' />
  <message name='getcompanystatsResponseMessage'>
    <part name='response' element='tns:getcompanystatsResponse' />
  </message>
  <message name='getpubliccompanyratingsRequestMessage'>
    <part name='parameters' element='tns:getpubliccompanyratingsParameters' />
  </message>
  <message name='getpubliccompanyratingsResponseMessage'>
    <part name='response' element='tns:getpubliccompanyratingsResponse' />
  </message>
  <message name='getuseraverageRequestMessage'>
    <part name='parameters' element='tns:getuseraverageParameters' />
  </message>
  <message name='getuseraverageResponseMessage'>
    <part name='response' element='tns:getuseraverageResponse' />
  </message>
  <message name='getuseraveragelastmonthRequestMessage'>
    <part name='parameters' element='tns:getuseraveragelastmonthParameters' />
  </message>
  <message name='getuseraveragelastmonthResponseMessage'>
    <part name='response' element='tns:getuseraveragelastmonthResponse' />
  </message>
  <message name='getuseraveragelastweekRequestMessage'>
    <part name='parameters' element='tns:getuseraveragelastweekParameters' />
  </message>
  <message name='getuseraveragelastweekResponseMessage'>
    <part name='response' element='tns:getuseraveragelastweekResponse' />
  </message>
  <message name='getuserdifferenceRequestMessage'>
    <part name='parameters' element='tns:getuserdifferenceParameters' />
  </message>
  <message name='getuserdifferenceResponseMessage'>
    <part name='response' element='tns:getuserdifferenceResponse' />
  </message>
  <message name='getuserlistRequestMessage' />
  <message name='getuserlistResponseMessage'>
    <part name='response' element='tns:getuserlistResponse' />
  </message>
  <message name='getuserratingsRequestMessage'>
    <part name='parameters' element='tns:getuserratingsParameters' />
  </message>
  <message name='getuserratingsResponseMessage'>
    <part name='response' element='tns:getuserratingsResponse' />
  </message>
  <message name='getuserratingscountRequestMessage'>
    <part name='parameters' element='tns:getuserratingscountParameters' />
  </message>
  <message name='getuserratingscountResponseMessage'>
    <part name='response' element='tns:getuserratingscountResponse' />
  </message>
  <message name='getuserratingscountlastmonthRequestMessage'>
    <part name='parameters' element='tns:getuserratingscountlastmonthParameters' />
  </message>
  <message name='getuserratingscountlastmonthResponseMessage'>
    <part name='response' element='tns:getuserratingscountlastmonthResponse' />
  </message>
  <message name='getuserratingscountlastweekRequestMessage'>
    <part name='parameters' element='tns:getuserratingscountlastweekParameters' />
  </message>
  <message name='getuserratingscountlastweekResponseMessage'>
    <part name='response' element='tns:getuserratingscountlastweekResponse' />
  </message>
  <message name='getuserstatsRequestMessage'>
    <part name='parameters' element='tns:getuserstatsParameters' />
  </message>
  <message name='getuserstatsResponseMessage'>
    <part name='response' element='tns:getuserstatsResponse' />
  </message>
  <message name='setratingRequestMessage' />
  <message name='setratingResponseMessage'>
    <part name='response' element='tns:setratingResponse' />
  </message>
  <message name='updateratingRequestMessage' />
  <message name='updateratingResponseMessage'>
    <part name='response' element='tns:updateratingResponse' />
  </message>
  <portType name='nicereplyPortType'>
    <operation name='getcompanyaverage'>
      <documentation>retrieve average score of all ratings for given Company identified by API key</documentation>
      <input message='tns:getcompanyaverageRequestMessage' name='getcompanyaverageInput' />
      <output message='tns:getcompanyaverageResponseMessage' name='getcompanyaverageOutput' />
    </operation>
    <operation name='getcompanyaveragelastmonth'>
      <documentation>retrieve average score of ratings arrived last month for given Company identified by API key</documentation>
      <input message='tns:getcompanyaveragelastmonthRequestMessage' name='getcompanyaveragelastmonthInput' />
      <output message='tns:getcompanyaveragelastmonthResponseMessage' name='getcompanyaveragelastmonthOutput' />
    </operation>
    <operation name='getcompanyaveragelastweek'>
      <documentation>retrieve average score of ratings arrived last week for given Company identified by API key</documentation>
      <input message='tns:getcompanyaveragelastweekRequestMessage' name='getcompanyaveragelastweekInput' />
      <output message='tns:getcompanyaveragelastweekResponseMessage' name='getcompanyaveragelastweekOutput' />
    </operation>
    <operation name='getcompanydifference'>
      <documentation>retrieve percentage difference of average score of ratings arrived this and previous week for given Company identified by API key</documentation>
      <input message='tns:getcompanydifferenceRequestMessage' name='getcompanydifferenceInput' />
      <output message='tns:getcompanydifferenceResponseMessage' name='getcompanydifferenceOutput' />
    </operation>
    <operation name='getcompanyratings'>
      <documentation>retrieve pagged list of complete ratings of all agents for given Company identified by API key In reverse time order</documentation>
      <input message='tns:getcompanyratingsRequestMessage' name='getcompanyratingsInput' />
      <output message='tns:getcompanyratingsResponseMessage' name='getcompanyratingsOutput' />
    </operation>
    <operation name='getcompanyratingscount'>
      <documentation>retrieve total number of all ratings for given Company identified by API key</documentation>
      <input message='tns:getcompanyratingscountRequestMessage' name='getcompanyratingscountInput' />
      <output message='tns:getcompanyratingscountResponseMessage' name='getcompanyratingscountOutput' />
    </operation>
    <operation name='getcompanyratingscountlastmonth'>
      <documentation>retrieve number of ratings arrived last month for given Company identified by API key</documentation>
      <input message='tns:getcompanyratingscountlastmonthRequestMessage' name='getcompanyratingscountlastmonthInput' />
      <output message='tns:getcompanyratingscountlastmonthResponseMessage' name='getcompanyratingscountlastmonthOutput' />
    </operation>
    <operation name='getcompanyratingscountlastweek'>
      <documentation>retrieve number of ratings arrived last week for given Company identified by API key</documentation>
      <input message='tns:getcompanyratingscountlastweekRequestMessage' name='getcompanyratingscountlastweekInput' />
      <output message='tns:getcompanyratingscountlastweekResponseMessage' name='getcompanyratingscountlastweekOutput' />
    </operation>
    <operation name='getcompanystats'>
      <documentation>retrieve all public attributes for given Company identified by API key</documentation>
      <input message='tns:getcompanystatsRequestMessage' name='getcompanystatsInput' />
      <output message='tns:getcompanystatsResponseMessage' name='getcompanystatsOutput' />
    </operation>
    <operation name='getpubliccompanyratings'>
      <documentation>retrieve public profile ratings for given Company identified by API key</documentation>
      <input message='tns:getpubliccompanyratingsRequestMessage' name='getpubliccompanyratingsInput' />
      <output message='tns:getpubliccompanyratingsResponseMessage' name='getpubliccompanyratingsOutput' />
    </operation>
    <operation name='getuseraverage'>
      <documentation>retrieve average score of all ratings of given agent for given Company identified by API key</documentation>
      <input message='tns:getuseraverageRequestMessage' name='getuseraverageInput' />
      <output message='tns:getuseraverageResponseMessage' name='getuseraverageOutput' />
    </operation>
    <operation name='getuseraveragelastmonth'>
      <documentation>retrieve total number of all ratings of given agent for given Company identified by API key</documentation>
      <input message='tns:getuseraveragelastmonthRequestMessage' name='getuseraveragelastmonthInput' />
      <output message='tns:getuseraveragelastmonthResponseMessage' name='getuseraveragelastmonthOutput' />
    </operation>
    <operation name='getuseraveragelastweek'>
      <documentation>retrieve total number of all ratings of given agent for given Company identified by API key</documentation>
      <input message='tns:getuseraveragelastweekRequestMessage' name='getuseraveragelastweekInput' />
      <output message='tns:getuseraveragelastweekResponseMessage' name='getuseraveragelastweekOutput' />
    </operation>
    <operation name='getuserdifference'>
      <documentation>retrieve percentage difference of average score of ratings arrived this and previous week for concrete agent within Company identified by API key</documentation>
      <input message='tns:getuserdifferenceRequestMessage' name='getuserdifferenceInput' />
      <output message='tns:getuserdifferenceResponseMessage' name='getuserdifferenceOutput' />
    </operation>
    <operation name='getuserlist'>
      <documentation>retrieve list of agents for given Company identified by API key</documentation>
      <input message='tns:getuserlistRequestMessage' name='getuserlistInput' />
      <output message='tns:getuserlistResponseMessage' name='getuserlistOutput' />
    </operation>
    <operation name='getuserratings'>
      <documentation>retrieve pagged list of complete ratings of concrete agent for given Company identified by API key In reverse time order</documentation>
      <input message='tns:getuserratingsRequestMessage' name='getuserratingsInput' />
      <output message='tns:getuserratingsResponseMessage' name='getuserratingsOutput' />
    </operation>
    <operation name='getuserratingscount'>
      <documentation>retrieve total number of all ratings of given agent for given Company identified by API key</documentation>
      <input message='tns:getuserratingscountRequestMessage' name='getuserratingscountInput' />
      <output message='tns:getuserratingscountResponseMessage' name='getuserratingscountOutput' />
    </operation>
    <operation name='getuserratingscountlastmonth'>
      <documentation>retrieve number of ratings arrived last month for concrete agent within given Company identified by API key</documentation>
      <input message='tns:getuserratingscountlastmonthRequestMessage' name='getuserratingscountlastmonthInput' />
      <output message='tns:getuserratingscountlastmonthResponseMessage' name='getuserratingscountlastmonthOutput' />
    </operation>
    <operation name='getuserratingscountlastweek'>
      <documentation>retrieve number of ratings arrived last week for concrete agent within given Company identified by API key</documentation>
      <input message='tns:getuserratingscountlastweekRequestMessage' name='getuserratingscountlastweekInput' />
      <output message='tns:getuserratingscountlastweekResponseMessage' name='getuserratingscountlastweekOutput' />
    </operation>
    <operation name='getuserstats'>
      <documentation>retrieve all public attributes of concrete agent within Company identified by API key</documentation>
      <input message='tns:getuserstatsRequestMessage' name='getuserstatsInput' />
      <output message='tns:getuserstatsResponseMessage' name='getuserstatsOutput' />
    </operation>
    <operation name='setrating'>
      <documentation>insert new rating of concrete agent within Company identified by API key</documentation>
      <input message='tns:setratingRequestMessage' name='setratingInput' />
      <output message='tns:setratingResponseMessage' name='setratingOutput' />
    </operation>
    <operation name='updaterating'>
      <documentation>update rating identified by id or ticket</documentation>
      <input message='tns:updateratingRequestMessage' name='updateratingInput' />
      <output message='tns:updateratingResponseMessage' name='updateratingOutput' />
    </operation>
  </portType>
  <binding name='nicereplyBinding' type='tns:nicereplyPortType'>
    <operation name='getcompanyaverage'>
      <soap12:operation soapAction='http://getcompanyaverage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcompanyaveragelastmonth'>
      <soap12:operation soapAction='http://getcompanyaveragelastmonth' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcompanyaveragelastweek'>
      <soap12:operation soapAction='http://getcompanyaveragelastweek' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcompanydifference'>
      <soap12:operation soapAction='http://getcompanydifference' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcompanyratings'>
      <soap12:operation soapAction='http://getcompanyratings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcompanyratingscount'>
      <soap12:operation soapAction='http://getcompanyratingscount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcompanyratingscountlastmonth'>
      <soap12:operation soapAction='http://getcompanyratingscountlastmonth' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcompanyratingscountlastweek'>
      <soap12:operation soapAction='http://getcompanyratingscountlastweek' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcompanystats'>
      <soap12:operation soapAction='http://getcompanystats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getpubliccompanyratings'>
      <soap12:operation soapAction='http://getpubliccompanyratings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuseraverage'>
      <soap12:operation soapAction='http://getuseraverage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuseraveragelastmonth'>
      <soap12:operation soapAction='http://getuseraveragelastmonth' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuseraveragelastweek'>
      <soap12:operation soapAction='http://getuseraveragelastweek' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuserdifference'>
      <soap12:operation soapAction='http://getuserdifference' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuserlist'>
      <soap12:operation soapAction='http://getuserlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuserratings'>
      <soap12:operation soapAction='http://getuserratings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuserratingscount'>
      <soap12:operation soapAction='http://getuserratingscount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuserratingscountlastmonth'>
      <soap12:operation soapAction='http://getuserratingscountlastmonth' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuserratingscountlastweek'>
      <soap12:operation soapAction='http://getuserratingscountlastweek' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuserstats'>
      <soap12:operation soapAction='http://getuserstats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setrating'>
      <soap12:operation soapAction='http://setrating' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updaterating'>
      <soap12:operation soapAction='http://updaterating' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='nicereply'>
    <documentation>nicereply is a web based analytic tool used to determine customer satisfaction with your agents products or services</documentation>
    <port name='nicereplyPort' binding='tns:nicereplyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://nicereply' />
    </port>
  </service>
</definitions>