workspace/datasets/mashape_dataset/nlptools18.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/nlpTools/' name='nlpTools' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/nlpTools/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/nlpTools/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/nlpTools/'>
      <xsd:element name='enIsAdjectiveQWordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='word' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsAdjectiveQWordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ok' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsAdverbQWordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='word' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsAdverbQWordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ok' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsBasicEmotionQWordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='word' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsBasicEmotionQWordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ok' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsConnectiveQWordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='word' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsConnectiveQWordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ok' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsHtmlTagQWordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='word' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsHtmlTagQWordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ok' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsNounQWordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='word' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsNounQWordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ok' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsNumberQWordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='word' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsNumberQWordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ok' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsPersuasiveQWordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='word' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsPersuasiveQWordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ok' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsTagQWordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='word' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsTagQWordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ok' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsVerbQWordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='word' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enIsVerbQWordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ok' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='enIsAdjectiveQWordRequestMessage'>
    <part name='parameters' element='tns:enIsAdjectiveQWordParameters' />
  </message>
  <message name='enIsAdjectiveQWordResponseMessage'>
    <part name='response' element='tns:enIsAdjectiveQWordResponse' />
  </message>
  <message name='enIsAdverbQWordRequestMessage'>
    <part name='parameters' element='tns:enIsAdverbQWordParameters' />
  </message>
  <message name='enIsAdverbQWordResponseMessage'>
    <part name='response' element='tns:enIsAdverbQWordResponse' />
  </message>
  <message name='enIsBasicEmotionQWordRequestMessage'>
    <part name='parameters' element='tns:enIsBasicEmotionQWordParameters' />
  </message>
  <message name='enIsBasicEmotionQWordResponseMessage'>
    <part name='response' element='tns:enIsBasicEmotionQWordResponse' />
  </message>
  <message name='enIsConnectiveQWordRequestMessage'>
    <part name='parameters' element='tns:enIsConnectiveQWordParameters' />
  </message>
  <message name='enIsConnectiveQWordResponseMessage'>
    <part name='response' element='tns:enIsConnectiveQWordResponse' />
  </message>
  <message name='enIsHtmlTagQWordRequestMessage'>
    <part name='parameters' element='tns:enIsHtmlTagQWordParameters' />
  </message>
  <message name='enIsHtmlTagQWordResponseMessage'>
    <part name='response' element='tns:enIsHtmlTagQWordResponse' />
  </message>
  <message name='enIsNounQWordRequestMessage'>
    <part name='parameters' element='tns:enIsNounQWordParameters' />
  </message>
  <message name='enIsNounQWordResponseMessage'>
    <part name='response' element='tns:enIsNounQWordResponse' />
  </message>
  <message name='enIsNumberQWordRequestMessage'>
    <part name='parameters' element='tns:enIsNumberQWordParameters' />
  </message>
  <message name='enIsNumberQWordResponseMessage'>
    <part name='response' element='tns:enIsNumberQWordResponse' />
  </message>
  <message name='enIsPersuasiveQWordRequestMessage'>
    <part name='parameters' element='tns:enIsPersuasiveQWordParameters' />
  </message>
  <message name='enIsPersuasiveQWordResponseMessage'>
    <part name='response' element='tns:enIsPersuasiveQWordResponse' />
  </message>
  <message name='enIsTagQWordRequestMessage'>
    <part name='parameters' element='tns:enIsTagQWordParameters' />
  </message>
  <message name='enIsTagQWordResponseMessage'>
    <part name='response' element='tns:enIsTagQWordResponse' />
  </message>
  <message name='enIsVerbQWordRequestMessage'>
    <part name='parameters' element='tns:enIsVerbQWordParameters' />
  </message>
  <message name='enIsVerbQWordResponseMessage'>
    <part name='response' element='tns:enIsVerbQWordResponse' />
  </message>
  <portType name='nlpToolsPortType'>
    <operation name='enIsAdjectiveQWord'>
      <documentation>check if the word is an adjective</documentation>
      <input message='tns:enIsAdjectiveQWordRequestMessage' name='enIsAdjectiveQWordInput' />
      <output message='tns:enIsAdjectiveQWordResponseMessage' name='enIsAdjectiveQWordOutput' />
    </operation>
    <operation name='enIsAdverbQWord'>
      <documentation>check if the word is an adverb</documentation>
      <input message='tns:enIsAdverbQWordRequestMessage' name='enIsAdverbQWordInput' />
      <output message='tns:enIsAdverbQWordResponseMessage' name='enIsAdverbQWordOutput' />
    </operation>
    <operation name='enIsBasicEmotionQWord'>
      <documentation>check if the word is a basic emotion</documentation>
      <input message='tns:enIsBasicEmotionQWordRequestMessage' name='enIsBasicEmotionQWordInput' />
      <output message='tns:enIsBasicEmotionQWordResponseMessage' name='enIsBasicEmotionQWordOutput' />
    </operation>
    <operation name='enIsConnectiveQWord'>
      <documentation>check if the word is a connective</documentation>
      <input message='tns:enIsConnectiveQWordRequestMessage' name='enIsConnectiveQWordInput' />
      <output message='tns:enIsConnectiveQWordResponseMessage' name='enIsConnectiveQWordOutput' />
    </operation>
    <operation name='enIsHtmlTagQWord'>
      <documentation>check if the word is a html tag</documentation>
      <input message='tns:enIsHtmlTagQWordRequestMessage' name='enIsHtmlTagQWordInput' />
      <output message='tns:enIsHtmlTagQWordResponseMessage' name='enIsHtmlTagQWordOutput' />
    </operation>
    <operation name='enIsNounQWord'>
      <documentation>check if the word is a noun</documentation>
      <input message='tns:enIsNounQWordRequestMessage' name='enIsNounQWordInput' />
      <output message='tns:enIsNounQWordResponseMessage' name='enIsNounQWordOutput' />
    </operation>
    <operation name='enIsNumberQWord'>
      <documentation>check if the word is a number</documentation>
      <input message='tns:enIsNumberQWordRequestMessage' name='enIsNumberQWordInput' />
      <output message='tns:enIsNumberQWordResponseMessage' name='enIsNumberQWordOutput' />
    </operation>
    <operation name='enIsPersuasiveQWord'>
      <documentation>check if the word is a persuasive</documentation>
      <input message='tns:enIsPersuasiveQWordRequestMessage' name='enIsPersuasiveQWordInput' />
      <output message='tns:enIsPersuasiveQWordResponseMessage' name='enIsPersuasiveQWordOutput' />
    </operation>
    <operation name='enIsTagQWord'>
      <documentation>check if the word is a tag</documentation>
      <input message='tns:enIsTagQWordRequestMessage' name='enIsTagQWordInput' />
      <output message='tns:enIsTagQWordResponseMessage' name='enIsTagQWordOutput' />
    </operation>
    <operation name='enIsVerbQWord'>
      <documentation>check if the word is a verb</documentation>
      <input message='tns:enIsVerbQWordRequestMessage' name='enIsVerbQWordInput' />
      <output message='tns:enIsVerbQWordResponseMessage' name='enIsVerbQWordOutput' />
    </operation>
  </portType>
  <binding name='nlpToolsBinding' type='tns:nlpToolsPortType'>
    <operation name='enIsAdjectiveQWord'>
      <soap12:operation soapAction='http://enIsAdjectiveQWord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enIsAdverbQWord'>
      <soap12:operation soapAction='http://enIsAdverbQWord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enIsBasicEmotionQWord'>
      <soap12:operation soapAction='http://enIsBasicEmotionQWord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enIsConnectiveQWord'>
      <soap12:operation soapAction='http://enIsConnectiveQWord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enIsHtmlTagQWord'>
      <soap12:operation soapAction='http://enIsHtmlTagQWord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enIsNounQWord'>
      <soap12:operation soapAction='http://enIsNounQWord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enIsNumberQWord'>
      <soap12:operation soapAction='http://enIsNumberQWord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enIsPersuasiveQWord'>
      <soap12:operation soapAction='http://enIsPersuasiveQWord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enIsTagQWord'>
      <soap12:operation soapAction='http://enIsTagQWord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enIsVerbQWord'>
      <soap12:operation soapAction='http://enIsVerbQWord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='nlpTools'>
    <documentation>some useful Natural Language Processing tools</documentation>
    <port name='nlpToolsPort' binding='tns:nlpToolsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://nlpTools' />
    </port>
  </service>
</definitions>