workspace/datasets/mashape_dataset/nrelnationalrenewableenergylaboratory.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/nrelNationalRenewableEnergyLaboratory/' name='nrelNationalRenewableEnergyLaboratory' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/nrelNationalRenewableEnergyLaboratory/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/nrelNationalRenewableEnergyLaboratory/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/nrelNationalRenewableEnergyLaboratory/'>
      <xsd:element name='allStationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='access' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cardsaccepted' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='evcharginglevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='evnetwork' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='federalagencyid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fueltype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ownertype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allStationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='station_locator_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='fuel_stations' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='station_phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='street_address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='plus4' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fuel_type_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ng_vehicle_class' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ng_fill_type_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ng_psi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cards_accepted' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lpg_primary' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ev_network' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='date_last_confirmed' type='xsd:date' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ev_level2_evse_num' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='geocode_status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='intersection_directions' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ev_network_web' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='open_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='station_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ev_dc_fast_num' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='owner_type_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ev_level1_evse_num' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='bd_blends' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='hy_status_link' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ev_other_evse' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='groups_with_access_code' type='xsd:string' minOccurs='0' />
                  <xsd:element name='e85_blender_pump' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='expected_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='access_days_time' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total_results' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nearestStationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='access' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cardsaccepted' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='evcharginglevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='evnetwork' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='federalagencyid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fueltype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='latitude' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ownertype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='radius' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nearestStationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='station_locator_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='offset' type='xsd:int' minOccurs='0' />
            <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='precision' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='types' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='fuel_stations' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='station_phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='street_address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='distance' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='plus4' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fuel_type_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ng_vehicle_class' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ng_fill_type_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ng_psi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cards_accepted' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lpg_primary' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ev_network' type='xsd:string' minOccurs='0' />
                  <xsd:element name='date_last_confirmed' type='xsd:date' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ev_level2_evse_num' type='xsd:int' minOccurs='0' />
                  <xsd:element name='geocode_status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='intersection_directions' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ev_network_web' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='open_date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='station_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ev_dc_fast_num' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='owner_type_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ev_level1_evse_num' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='bd_blends' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='hy_status_link' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ev_other_evse' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='groups_with_access_code' type='xsd:string' minOccurs='0' />
                  <xsd:element name='e85_blender_pump' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='expected_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='access_days_time' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='total_results' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pvwattsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='azimuth' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dataset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='derate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fileid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='gamma' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='inoct' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lon' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='systemsize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tilt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tilteqlat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timeframe' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='trackmode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pvwattsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='outputs' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ac_monthly' type='xsd:decimal' maxOccurs='unbounded' />
                  <xsd:element name='dc_monthly' type='xsd:decimal' maxOccurs='unbounded' />
                  <xsd:element name='solrad_annual' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ac_annual' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='poa_monthly' type='xsd:decimal' maxOccurs='unbounded' />
                  <xsd:element name='solrad_monthly' type='xsd:decimal' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='ssc_info' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='build' type='xsd:string' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='inputs' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='derate' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='lon' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dataset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='system_size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='station_info' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tz' type='xsd:int' minOccurs='0' />
                  <xsd:element name='file_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='elev' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lon' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='location' type='xsd:int' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='utilityRatesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lon' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='utilityRatesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='outputs' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='commercial' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='industrial' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='residential' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='utility_info' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='company_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='utility_name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='utility_name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='metadata' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sources' type='xsd:string' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='inputs' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='lon' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='allStationsRequestMessage'>
    <part name='parameters' element='tns:allStationsParameters' />
  </message>
  <message name='allStationsResponseMessage'>
    <part name='response' element='tns:allStationsResponse' />
  </message>
  <message name='nearestStationsRequestMessage'>
    <part name='parameters' element='tns:nearestStationsParameters' />
  </message>
  <message name='nearestStationsResponseMessage'>
    <part name='response' element='tns:nearestStationsResponse' />
  </message>
  <message name='pvwattsRequestMessage'>
    <part name='parameters' element='tns:pvwattsParameters' />
  </message>
  <message name='pvwattsResponseMessage'>
    <part name='response' element='tns:pvwattsResponse' />
  </message>
  <message name='utilityRatesRequestMessage'>
    <part name='parameters' element='tns:utilityRatesParameters' />
  </message>
  <message name='utilityRatesResponseMessage'>
    <part name='response' element='tns:utilityRatesResponse' />
  </message>
  <portType name='nrelNationalRenewableEnergyLaboratoryPortType'>
    <operation name='allStations'>
      <documentation>return a full list of alternative fuel stations that match your query</documentation>
      <input message='tns:allStationsRequestMessage' name='allStationsInput' />
      <output message='tns:allStationsResponseMessage' name='allStationsOutput' />
    </operation>
    <operation name='nearestStations'>
      <documentation>return the nearest alternative fuel stations within a distance of a given location</documentation>
      <input message='tns:nearestStationsRequestMessage' name='nearestStationsInput' />
      <output message='tns:nearestStationsResponseMessage' name='nearestStationsOutput' />
    </operation>
    <operation name='pvwatts'>
      <documentation>nREL s PVWatts calculates the energy production of grid connected photovoltaic PV energy systems This service estimates the performance of hypothetical residential and small commercial PV installations Version is the current version of the PVWatts API Previous versions have been deprecated and its users are encouraged to migrate to this newly enhanced version</documentation>
      <input message='tns:pvwattsRequestMessage' name='pvwattsInput' />
      <output message='tns:pvwattsResponseMessage' name='pvwattsOutput' />
    </operation>
    <operation name='utilityRates'>
      <documentation>this service returns annual average utility rates kWH for residential commercial and industrial sectors as well as the local utility name for a specific location This service does not return complex rate information Version is the current version of the utility rates API Previous versions have been deprecated and its users are encouraged to migrate to this newly enhanced version</documentation>
      <input message='tns:utilityRatesRequestMessage' name='utilityRatesInput' />
      <output message='tns:utilityRatesResponseMessage' name='utilityRatesOutput' />
    </operation>
  </portType>
  <binding name='nrelNationalRenewableEnergyLaboratoryBinding' type='tns:nrelNationalRenewableEnergyLaboratoryPortType'>
    <operation name='allStations'>
      <soap12:operation soapAction='http://allStations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='nearestStations'>
      <soap12:operation soapAction='http://nearestStations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='pvwatts'>
      <soap12:operation soapAction='http://pvwatts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='utilityRates'>
      <soap12:operation soapAction='http://utilityRates' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='nrelNationalRenewableEnergyLaboratory'>
    <documentation>the National Renewable Energy Laboratory s developer network helps developers access and use energy data via Web services including renewable energy and alternative fuel data</documentation>
    <port name='nrelNationalRenewableEnergyLaboratoryPort' binding='tns:nrelNationalRenewableEnergyLaboratoryBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://nrelNationalRenewableEnergyLaboratory' />
    </port>
  </service>
</definitions>