workspace/datasets/mashape_dataset/numbers.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/numbers/' name='numbers' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/numbers/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/numbers/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/numbers/'>
      <xsd:element name='getDateFactParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='day' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fragment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='json' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='month' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDateFactResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMathFactParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fragment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='json' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='number' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMathFactResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRandomFactParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fragment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='json' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='max' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='min' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRandomFactResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTriviaFactParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fragment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='json' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='notfound' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='number' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTriviaFactResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getYearFactParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fragment' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='json' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='year' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getYearFactResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getDateFactRequestMessage'>
    <part name='parameters' element='tns:getDateFactParameters' />
  </message>
  <message name='getDateFactResponseMessage'>
    <part name='response' element='tns:getDateFactResponse' />
  </message>
  <message name='getMathFactRequestMessage'>
    <part name='parameters' element='tns:getMathFactParameters' />
  </message>
  <message name='getMathFactResponseMessage'>
    <part name='response' element='tns:getMathFactResponse' />
  </message>
  <message name='getRandomFactRequestMessage'>
    <part name='parameters' element='tns:getRandomFactParameters' />
  </message>
  <message name='getRandomFactResponseMessage'>
    <part name='response' element='tns:getRandomFactResponse' />
  </message>
  <message name='getTriviaFactRequestMessage'>
    <part name='parameters' element='tns:getTriviaFactParameters' />
  </message>
  <message name='getTriviaFactResponseMessage'>
    <part name='response' element='tns:getTriviaFactResponse' />
  </message>
  <message name='getYearFactRequestMessage'>
    <part name='parameters' element='tns:getYearFactParameters' />
  </message>
  <message name='getYearFactResponseMessage'>
    <part name='response' element='tns:getYearFactResponse' />
  </message>
  <portType name='numbersPortType'>
    <operation name='getDateFact'>
      <documentation>get a fact about a day of year</documentation>
      <input message='tns:getDateFactRequestMessage' name='getDateFactInput' />
      <output message='tns:getDateFactResponseMessage' name='getDateFactOutput' />
    </operation>
    <operation name='getMathFact'>
      <documentation>get a mathematical property about a number</documentation>
      <input message='tns:getMathFactRequestMessage' name='getMathFactInput' />
      <output message='tns:getMathFactResponseMessage' name='getMathFactOutput' />
    </operation>
    <operation name='getRandomFact'>
      <documentation>get result by random number</documentation>
      <input message='tns:getRandomFactRequestMessage' name='getRandomFactInput' />
      <output message='tns:getRandomFactResponseMessage' name='getRandomFactOutput' />
    </operation>
    <operation name='getTriviaFact'>
      <documentation>get a trivia fact about a number</documentation>
      <input message='tns:getTriviaFactRequestMessage' name='getTriviaFactInput' />
      <output message='tns:getTriviaFactResponseMessage' name='getTriviaFactOutput' />
    </operation>
    <operation name='getYearFact'>
      <documentation>get a fact about a year</documentation>
      <input message='tns:getYearFactRequestMessage' name='getYearFactInput' />
      <output message='tns:getYearFactResponseMessage' name='getYearFactOutput' />
    </operation>
  </portType>
  <binding name='numbersBinding' type='tns:numbersPortType'>
    <operation name='getDateFact'>
      <soap12:operation soapAction='http://getDateFact' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMathFact'>
      <soap12:operation soapAction='http://getMathFact' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRandomFact'>
      <soap12:operation soapAction='http://getRandomFact' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTriviaFact'>
      <soap12:operation soapAction='http://getTriviaFact' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getYearFact'>
      <soap12:operation soapAction='http://getYearFact' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='numbers'>
    <documentation>an API for interesting facts about numbers Provides trivia math date and year facts about numbers For example is the number of platonic solids is the number of little squares forming the left side trail of Microsoft s Windows logo February th is the day in that the government of Italy asks for help to keep the Leaning Tower of Pisa from toppling over</documentation>
    <port name='numbersPort' binding='tns:numbersBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://numbers' />
    </port>
  </service>
</definitions>