workspace/datasets/mashape_dataset/nutritionixnutritiondatabase.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/nutritionixNutritionDatabase/' name='nutritionixNutritionDatabase' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/nutritionixNutritionDatabase/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/nutritionixNutritionDatabase/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/nutritionixNutritionDatabase/'>
      <xsd:element name='foodSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phrase' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='foodSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='hits' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='_index' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='fields' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nf_total_fat' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='nf_calories' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='item_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='brand_name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total_hits' type='xsd:int' minOccurs='0' />
            <xsd:element name='max_score' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='upcScanParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='upc' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='upcScanResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='nf_saturated_fat' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nf_trans_fatty_acid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nf_cholesterol' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='old_api_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='allergen_contains_gluten' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nf_total_fat' type='xsd:int' minOccurs='0' />
            <xsd:element name='nf_serving_size_qty' type='xsd:int' minOccurs='0' />
            <xsd:element name='nf_serving_size_unit' type='xsd:string' minOccurs='0' />
            <xsd:element name='nf_sugars' type='xsd:int' minOccurs='0' />
            <xsd:element name='nf_ingredient_statement' type='xsd:string' minOccurs='0' />
            <xsd:element name='nf_iron_dv' type='xsd:int' minOccurs='0' />
            <xsd:element name='nf_protein' type='xsd:int' minOccurs='0' />
            <xsd:element name='nf_refuse_pct' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='allergen_contains_soybeans' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='allergen_contains_peanuts' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='leg_loc_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nf_vitamin_a_dv' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nf_vitamin_c_dv' type='xsd:int' minOccurs='0' />
            <xsd:element name='allergen_contains_tree_nuts' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nf_polyunsaturated_fat' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='allergen_contains_wheat' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='usda_fields' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nf_servings_per_container' type='xsd:int' minOccurs='0' />
            <xsd:element name='nf_water_grams' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='allergen_contains_shellfish' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='item_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='item_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='brand_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nf_calcium_dv' type='xsd:int' minOccurs='0' />
            <xsd:element name='nf_serving_weight_grams' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nf_total_carbohydrate' type='xsd:int' minOccurs='0' />
            <xsd:element name='brand_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='allergen_contains_eggs' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nf_calories' type='xsd:int' minOccurs='0' />
            <xsd:element name='nf_sodium' type='xsd:int' minOccurs='0' />
            <xsd:element name='nf_monounsaturated_fat' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='allergen_contains_fish' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='item_description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='allergen_contains_milk' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nf_calories_from_fat' type='xsd:int' minOccurs='0' />
            <xsd:element name='nf_dietary_fiber' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='foodSearchRequestMessage'>
    <part name='parameters' element='tns:foodSearchParameters' />
  </message>
  <message name='foodSearchResponseMessage'>
    <part name='response' element='tns:foodSearchResponse' />
  </message>
  <message name='upcScanRequestMessage'>
    <part name='parameters' element='tns:upcScanParameters' />
  </message>
  <message name='upcScanResponseMessage'>
    <part name='response' element='tns:upcScanResponse' />
  </message>
  <portType name='nutritionixNutritionDatabasePortType'>
    <operation name='foodSearch'>
      <documentation></documentation>
      <input message='tns:foodSearchRequestMessage' name='foodSearchInput' />
      <output message='tns:foodSearchResponseMessage' name='foodSearchOutput' />
    </operation>
    <operation name='upcScan'>
      <documentation></documentation>
      <input message='tns:upcScanRequestMessage' name='upcScanInput' />
      <output message='tns:upcScanResponseMessage' name='upcScanOutput' />
    </operation>
  </portType>
  <binding name='nutritionixNutritionDatabaseBinding' type='tns:nutritionixNutritionDatabasePortType'>
    <operation name='foodSearch'>
      <soap12:operation soapAction='http://foodSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='upcScan'>
      <soap12:operation soapAction='http://upcScan' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='nutritionixNutritionDatabase'>
    <documentation>global API of nutrition data for restaurants food manufacturers and USDA common foods Includes over K UPCs barcodes K restaurant foods and common foods from the USDA</documentation>
    <port name='nutritionixNutritionDatabasePort' binding='tns:nutritionixNutritionDatabaseBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://nutritionixNutritionDatabase' />
    </port>
  </service>
</definitions>