workspace/datasets/mashape_dataset/nychealthinspectionresults.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/nycHealthInspectionResults/' name='nycHealthInspectionResults' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/nycHealthInspectionResults/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/nycHealthInspectionResults/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/nycHealthInspectionResults/'>
      <xsd:element name='actionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='camisSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='camis' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='camisSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='data' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='restaurant' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='street_address' type='xsd:string' minOccurs='0' />
                              <xsd:element name='dba' type='xsd:string' minOccurs='0' />
                              <xsd:element name='last_updated' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='current_grade' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='cuisine_code' type='xsd:int' minOccurs='0' />
                              <xsd:element name='inspections' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='action_details' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='score' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='violations' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='critical_violation' type='xsd:boolean' minOccurs='0' />
                                          <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='action_code' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='date_inspected' type='xsd:date' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='boro_code' type='xsd:int' minOccurs='0' />
                              <xsd:element name='zip_code' type='xsd:int' minOccurs='0' />
                              <xsd:element name='boro_name' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='total_inspections' type='xsd:int' minOccurs='0' />
                              <xsd:element name='camis' type='xsd:int' minOccurs='0' />
                              <xsd:element name='phone_number' type='xsd:int' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='cuisine_type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='building_number' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='params' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='controller' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='action' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='camis' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='boro' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cuisine' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='currentgrade' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dba' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zipcode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='violationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='critical_violation' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='actionsRequestMessage' />
  <message name='actionsResponseMessage'>
    <part name='response' element='tns:actionsResponse' />
  </message>
  <message name='camisSearchRequestMessage'>
    <part name='parameters' element='tns:camisSearchParameters' />
  </message>
  <message name='camisSearchResponseMessage'>
    <part name='response' element='tns:camisSearchResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <message name='violationsRequestMessage' />
  <message name='violationsResponseMessage'>
    <part name='response' element='tns:violationsResponse' />
  </message>
  <portType name='nycHealthInspectionResultsPortType'>
    <operation name='actions'>
      <documentation>returns a list of all inspection action codes and description</documentation>
      <input message='tns:actionsRequestMessage' name='actionsInput' />
      <output message='tns:actionsResponseMessage' name='actionsOutput' />
    </operation>
    <operation name='camisSearch'>
      <documentation>search for restaurant by NYC CAMIS identification number</documentation>
      <input message='tns:camisSearchRequestMessage' name='camisSearchInput' />
      <output message='tns:camisSearchResponseMessage' name='camisSearchOutput' />
    </operation>
    <operation name='search'>
      <documentation>search for restaurants based on certain parameters</documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
    <operation name='violations'>
      <documentation>returns a list of all inspection violation codes and description</documentation>
      <input message='tns:violationsRequestMessage' name='violationsInput' />
      <output message='tns:violationsResponseMessage' name='violationsOutput' />
    </operation>
  </portType>
  <binding name='nycHealthInspectionResultsBinding' type='tns:nycHealthInspectionResultsPortType'>
    <operation name='actions'>
      <soap12:operation soapAction='http://actions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='camisSearch'>
      <soap12:operation soapAction='http://camisSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='violations'>
      <soap12:operation soapAction='http://violations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='nycHealthInspectionResults'>
    <documentation>a web API for NYC food service establishment health inspection results All information is provided by NYC Open Data No key or authentication is required to gain access to the API The API was implemented using a REST like interface and is also CORS friendly The API provides JSON and XML endpoints for accessing the restaurant information default is JSON</documentation>
    <port name='nycHealthInspectionResultsPort' binding='tns:nycHealthInspectionResultsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://nycHealthInspectionResults' />
    </port>
  </service>
</definitions>