workspace/datasets/mashape_dataset/odeskapis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/odeskApis/' name='odeskApis' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/odeskApis/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/odeskApis/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/odeskApis/'>
      <xsd:element name='cancelTheJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jobreferenceformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cancelTheJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAnOtaskRecordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='company' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAnOtaskRecordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAllOtaskRecordsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='company' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAllOtaskRecordsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAnOtaskRecordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='codeformat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='company' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAnOtaskRecordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateTimeReportsForASpecificTeamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='company' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='tq' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateTimeReportsForASpecificTeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generatingAgencySpecificReportsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='agency' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='company' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tq' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generatingAgencySpecificReportsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generatingCompanyWideReportsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='company' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tq' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generatingCompanyWideReportsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generatingProviderSpecificReportsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='provider' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='tq' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generatingProviderSpecificReportsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getASpecificTaskRecordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='codecodecodenformat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='codecodecoden' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='company' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getASpecificTaskRecordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='server_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='auth_user' type='xsd:string' minOccurs='0' />
            <xsd:element name='tasks' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='record_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='code' type='xsd:string' minOccurs='0' />
                  <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='level' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='team_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getJobProfileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jobkey' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='jobkeyformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getJobProfileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMyJobsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='buyerteamreference' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='createdby' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='createdtimefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='createdtimeto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='includesubteams' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='orderby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMyJobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='job_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='end_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='buyer_team__id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='num_new_candidates' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='buyer_company__reference' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='duration' type='xsd:int' minOccurs='0' />
            <xsd:element name='public_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='reference' type='xsd:int' minOccurs='0' />
            <xsd:element name='buyer_team__name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='budget' type='xsd:string' minOccurs='0' />
            <xsd:element name='start_date' type='xsd:int' minOccurs='0' />
            <xsd:element name='created_time' type='xsd:int' minOccurs='0' />
            <xsd:element name='buyer_company__name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='filled_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='created_by' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='buyer_team__reference' type='xsd:int' minOccurs='0' />
            <xsd:element name='num_active_candidates' type='xsd:int' minOccurs='0' />
            <xsd:element name='cancelled_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='num_candidates' type='xsd:int' minOccurs='0' />
            <xsd:element name='subcategory' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='last_candidacy_access_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecificJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jobreference' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='jobreferenceformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpecificJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='job_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='end_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='buyer_team__id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='num_new_candidates' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='buyer_company__reference' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='duration' type='xsd:int' minOccurs='0' />
            <xsd:element name='public_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='reference' type='xsd:int' minOccurs='0' />
            <xsd:element name='buyer_team__name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='budget' type='xsd:string' minOccurs='0' />
            <xsd:element name='start_date' type='xsd:int' minOccurs='0' />
            <xsd:element name='created_time' type='xsd:int' minOccurs='0' />
            <xsd:element name='buyer_company__name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='filled_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='created_by' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='buyer_team__reference' type='xsd:int' minOccurs='0' />
            <xsd:element name='num_active_candidates' type='xsd:int' minOccurs='0' />
            <xsd:element name='cancelled_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='num_candidates' type='xsd:int' minOccurs='0' />
            <xsd:element name='subcategory' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='last_candidacy_access_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inviteToInterviewParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jobreference' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inviteToInterviewResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllOtaskRecordsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='company' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllOtaskRecordsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='server_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='auth_user' type='xsd:string' minOccurs='0' />
            <xsd:element name='tasks' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='record_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='code' type='xsd:string' minOccurs='0' />
                  <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='level' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='team_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllTasksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='company' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllTasksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='server_time' type='xsd:string' minOccurs='0' />
            <xsd:element name='auth_user' type='xsd:string' minOccurs='0' />
            <xsd:element name='tasks' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='record_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='code' type='xsd:string' minOccurs='0' />
                  <xsd:element name='company_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='level' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='team_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postAJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postAJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAGroupOfOtaskRecordsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='company' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAGroupOfOtaskRecordsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAnOtaskRecordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='codeformat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='company' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='team' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAnOtaskRecordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jobreferenceformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='cancelTheJobRequestMessage'>
    <part name='parameters' element='tns:cancelTheJobParameters' />
  </message>
  <message name='cancelTheJobResponseMessage'>
    <part name='response' element='tns:cancelTheJobResponse' />
  </message>
  <message name='createAnOtaskRecordRequestMessage'>
    <part name='parameters' element='tns:createAnOtaskRecordParameters' />
  </message>
  <message name='createAnOtaskRecordResponseMessage'>
    <part name='response' element='tns:createAnOtaskRecordResponse' />
  </message>
  <message name='deleteAllOtaskRecordsRequestMessage'>
    <part name='parameters' element='tns:deleteAllOtaskRecordsParameters' />
  </message>
  <message name='deleteAllOtaskRecordsResponseMessage'>
    <part name='response' element='tns:deleteAllOtaskRecordsResponse' />
  </message>
  <message name='deleteAnOtaskRecordRequestMessage'>
    <part name='parameters' element='tns:deleteAnOtaskRecordParameters' />
  </message>
  <message name='deleteAnOtaskRecordResponseMessage'>
    <part name='response' element='tns:deleteAnOtaskRecordResponse' />
  </message>
  <message name='generateTimeReportsForASpecificTeamRequestMessage'>
    <part name='parameters' element='tns:generateTimeReportsForASpecificTeamParameters' />
  </message>
  <message name='generateTimeReportsForASpecificTeamResponseMessage'>
    <part name='response' element='tns:generateTimeReportsForASpecificTeamResponse' />
  </message>
  <message name='generatingAgencySpecificReportsRequestMessage'>
    <part name='parameters' element='tns:generatingAgencySpecificReportsParameters' />
  </message>
  <message name='generatingAgencySpecificReportsResponseMessage'>
    <part name='response' element='tns:generatingAgencySpecificReportsResponse' />
  </message>
  <message name='generatingCompanyWideReportsRequestMessage'>
    <part name='parameters' element='tns:generatingCompanyWideReportsParameters' />
  </message>
  <message name='generatingCompanyWideReportsResponseMessage'>
    <part name='response' element='tns:generatingCompanyWideReportsResponse' />
  </message>
  <message name='generatingProviderSpecificReportsRequestMessage'>
    <part name='parameters' element='tns:generatingProviderSpecificReportsParameters' />
  </message>
  <message name='generatingProviderSpecificReportsResponseMessage'>
    <part name='response' element='tns:generatingProviderSpecificReportsResponse' />
  </message>
  <message name='getASpecificTaskRecordRequestMessage'>
    <part name='parameters' element='tns:getASpecificTaskRecordParameters' />
  </message>
  <message name='getASpecificTaskRecordResponseMessage'>
    <part name='response' element='tns:getASpecificTaskRecordResponse' />
  </message>
  <message name='getJobProfileRequestMessage'>
    <part name='parameters' element='tns:getJobProfileParameters' />
  </message>
  <message name='getJobProfileResponseMessage'>
    <part name='response' element='tns:getJobProfileResponse' />
  </message>
  <message name='getMyJobsRequestMessage'>
    <part name='parameters' element='tns:getMyJobsParameters' />
  </message>
  <message name='getMyJobsResponseMessage'>
    <part name='response' element='tns:getMyJobsResponse' />
  </message>
  <message name='getSpecificJobRequestMessage'>
    <part name='parameters' element='tns:getSpecificJobParameters' />
  </message>
  <message name='getSpecificJobResponseMessage'>
    <part name='response' element='tns:getSpecificJobResponse' />
  </message>
  <message name='inviteToInterviewRequestMessage'>
    <part name='parameters' element='tns:inviteToInterviewParameters' />
  </message>
  <message name='inviteToInterviewResponseMessage'>
    <part name='response' element='tns:inviteToInterviewResponse' />
  </message>
  <message name='listAllOtaskRecordsRequestMessage'>
    <part name='parameters' element='tns:listAllOtaskRecordsParameters' />
  </message>
  <message name='listAllOtaskRecordsResponseMessage'>
    <part name='response' element='tns:listAllOtaskRecordsResponse' />
  </message>
  <message name='listAllTasksRequestMessage'>
    <part name='parameters' element='tns:listAllTasksParameters' />
  </message>
  <message name='listAllTasksResponseMessage'>
    <part name='response' element='tns:listAllTasksResponse' />
  </message>
  <message name='postAJobRequestMessage'>
    <part name='parameters' element='tns:postAJobParameters' />
  </message>
  <message name='postAJobResponseMessage'>
    <part name='response' element='tns:postAJobResponse' />
  </message>
  <message name='updateAGroupOfOtaskRecordsRequestMessage'>
    <part name='parameters' element='tns:updateAGroupOfOtaskRecordsParameters' />
  </message>
  <message name='updateAGroupOfOtaskRecordsResponseMessage'>
    <part name='response' element='tns:updateAGroupOfOtaskRecordsResponse' />
  </message>
  <message name='updateAnOtaskRecordRequestMessage'>
    <part name='parameters' element='tns:updateAnOtaskRecordParameters' />
  </message>
  <message name='updateAnOtaskRecordResponseMessage'>
    <part name='response' element='tns:updateAnOtaskRecordResponse' />
  </message>
  <message name='updateJobRequestMessage'>
    <part name='parameters' element='tns:updateJobParameters' />
  </message>
  <message name='updateJobResponseMessage'>
    <part name='response' element='tns:updateJobResponse' />
  </message>
  <portType name='odeskApisPortType'>
    <operation name='cancelTheJob'>
      <documentation>cancel a specific job with parameters</documentation>
      <input message='tns:cancelTheJobRequestMessage' name='cancelTheJobInput' />
      <output message='tns:cancelTheJobResponseMessage' name='cancelTheJobOutput' />
    </operation>
    <operation name='createAnOtaskRecord'>
      <documentation>new oTasks can be created using the API when you create a new oTask you need to define a code description and URL</documentation>
      <input message='tns:createAnOtaskRecordRequestMessage' name='createAnOtaskRecordInput' />
      <output message='tns:createAnOtaskRecordResponseMessage' name='createAnOtaskRecordOutput' />
    </operation>
    <operation name='deleteAllOtaskRecords'>
      <documentation>deletes all tasks within a company team or assigned to a specific user</documentation>
      <input message='tns:deleteAllOtaskRecordsRequestMessage' name='deleteAllOtaskRecordsInput' />
      <output message='tns:deleteAllOtaskRecordsResponseMessage' name='deleteAllOtaskRecordsOutput' />
    </operation>
    <operation name='deleteAnOtaskRecord'>
      <documentation>oTasks can be deleted using the API</documentation>
      <input message='tns:deleteAnOtaskRecordRequestMessage' name='deleteAnOtaskRecordInput' />
      <output message='tns:deleteAnOtaskRecordResponseMessage' name='deleteAnOtaskRecordOutput' />
    </operation>
    <operation name='generateTimeReportsForASpecificTeam'>
      <documentation>time reports can be generated for a specific team with or without detailed monetary information based on the relationship of the authorized user at the time the call is made and what information is included in the call</documentation>
      <input message='tns:generateTimeReportsForASpecificTeamRequestMessage' name='generateTimeReportsForASpecificTeamInput' />
      <output message='tns:generateTimeReportsForASpecificTeamResponseMessage' name='generateTimeReportsForASpecificTeamOutput' />
    </operation>
    <operation name='generatingAgencySpecificReports'>
      <documentation>time reports can be generated for an agency in order to use this API the authorized user needs staffing manager permissions to the agency</documentation>
      <input message='tns:generatingAgencySpecificReportsRequestMessage' name='generatingAgencySpecificReportsInput' />
      <output message='tns:generatingAgencySpecificReportsResponseMessage' name='generatingAgencySpecificReportsOutput' />
    </operation>
    <operation name='generatingCompanyWideReports'>
      <documentation>time reports can be generated on a company wide level All time reports fields are supported on this level except earnings related fields In order to access this API the authorized user needs either hiring or finance permissions to all teams within the company</documentation>
      <input message='tns:generatingCompanyWideReportsRequestMessage' name='generatingCompanyWideReportsInput' />
      <output message='tns:generatingCompanyWideReportsResponseMessage' name='generatingCompanyWideReportsOutput' />
    </operation>
    <operation name='generatingProviderSpecificReports'>
      <documentation>this API allows callers to fetch data source of themselves No monetary fields such as charges or earnings are supported The caller of this API must be the provider himself</documentation>
      <input message='tns:generatingProviderSpecificReportsRequestMessage' name='generatingProviderSpecificReportsInput' />
      <output message='tns:generatingProviderSpecificReportsResponseMessage' name='generatingProviderSpecificReportsOutput' />
    </operation>
    <operation name='getASpecificTaskRecord'>
      <documentation>return details on a specific oTask or set of oTasks this format can be used within a company companyid team teamid or user userid</documentation>
      <input message='tns:getASpecificTaskRecordRequestMessage' name='getASpecificTaskRecordInput' />
      <output message='tns:getASpecificTaskRecordResponseMessage' name='getASpecificTaskRecordOutput' />
    </operation>
    <operation name='getJobProfile'>
      <documentation>gets a specific job profile</documentation>
      <input message='tns:getJobProfileRequestMessage' name='getJobProfileInput' />
      <output message='tns:getJobProfileResponseMessage' name='getJobProfileOutput' />
    </operation>
    <operation name='getMyJobs'>
      <documentation>returns all jobs that a user has manage recruiting access to This API call can be used to find the reference ID of a specific job</documentation>
      <input message='tns:getMyJobsRequestMessage' name='getMyJobsInput' />
      <output message='tns:getMyJobsResponseMessage' name='getMyJobsOutput' />
    </operation>
    <operation name='getSpecificJob'>
      <documentation>returns the complete job object for the referenced job this is only available to users with manage recruiting permissions within the team that the job is posted in</documentation>
      <input message='tns:getSpecificJobRequestMessage' name='getSpecificJobInput' />
      <output message='tns:getSpecificJobResponseMessage' name='getSpecificJobOutput' />
    </operation>
    <operation name='inviteToInterview'>
      <documentation>sends invitation to a specific user s</documentation>
      <input message='tns:inviteToInterviewRequestMessage' name='inviteToInterviewInput' />
      <output message='tns:inviteToInterviewResponseMessage' name='inviteToInterviewOutput' />
    </operation>
    <operation name='listAllOtaskRecords'>
      <documentation>returns all task records under the company</documentation>
      <input message='tns:listAllOtaskRecordsRequestMessage' name='listAllOtaskRecordsInput' />
      <output message='tns:listAllOtaskRecordsResponseMessage' name='listAllOtaskRecordsOutput' />
    </operation>
    <operation name='listAllTasks'>
      <documentation>pull all tasks assigned within a company team or to a specific user</documentation>
      <input message='tns:listAllTasksRequestMessage' name='listAllTasksInput' />
      <output message='tns:listAllTasksResponseMessage' name='listAllTasksOutput' />
    </operation>
    <operation name='postAJob'>
      <documentation>posts one job with required parameters</documentation>
      <input message='tns:postAJobRequestMessage' name='postAJobInput' />
      <output message='tns:postAJobResponseMessage' name='postAJobOutput' />
    </operation>
    <operation name='updateAGroupOfOtaskRecords'>
      <documentation>oTasks can be updated using a CSV file via the API</documentation>
      <input message='tns:updateAGroupOfOtaskRecordsRequestMessage' name='updateAGroupOfOtaskRecordsInput' />
      <output message='tns:updateAGroupOfOtaskRecordsResponseMessage' name='updateAGroupOfOtaskRecordsOutput' />
    </operation>
    <operation name='updateAnOtaskRecord'>
      <documentation>updats using the API the code description and URL can be updated</documentation>
      <input message='tns:updateAnOtaskRecordRequestMessage' name='updateAnOtaskRecordInput' />
      <output message='tns:updateAnOtaskRecordResponseMessage' name='updateAnOtaskRecordOutput' />
    </operation>
    <operation name='updateJob'>
      <documentation>updates a specific job with parameters</documentation>
      <input message='tns:updateJobRequestMessage' name='updateJobInput' />
      <output message='tns:updateJobResponseMessage' name='updateJobOutput' />
    </operation>
  </portType>
  <binding name='odeskApisBinding' type='tns:odeskApisPortType'>
    <operation name='cancelTheJob'>
      <soap12:operation soapAction='http://cancelTheJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAnOtaskRecord'>
      <soap12:operation soapAction='http://createAnOtaskRecord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAllOtaskRecords'>
      <soap12:operation soapAction='http://deleteAllOtaskRecords' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAnOtaskRecord'>
      <soap12:operation soapAction='http://deleteAnOtaskRecord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generateTimeReportsForASpecificTeam'>
      <soap12:operation soapAction='http://generateTimeReportsForASpecificTeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generatingAgencySpecificReports'>
      <soap12:operation soapAction='http://generatingAgencySpecificReports' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generatingCompanyWideReports'>
      <soap12:operation soapAction='http://generatingCompanyWideReports' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generatingProviderSpecificReports'>
      <soap12:operation soapAction='http://generatingProviderSpecificReports' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getASpecificTaskRecord'>
      <soap12:operation soapAction='http://getASpecificTaskRecord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getJobProfile'>
      <soap12:operation soapAction='http://getJobProfile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMyJobs'>
      <soap12:operation soapAction='http://getMyJobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSpecificJob'>
      <soap12:operation soapAction='http://getSpecificJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='inviteToInterview'>
      <soap12:operation soapAction='http://inviteToInterview' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllOtaskRecords'>
      <soap12:operation soapAction='http://listAllOtaskRecords' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllTasks'>
      <soap12:operation soapAction='http://listAllTasks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postAJob'>
      <soap12:operation soapAction='http://postAJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAGroupOfOtaskRecords'>
      <soap12:operation soapAction='http://updateAGroupOfOtaskRecords' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAnOtaskRecord'>
      <soap12:operation soapAction='http://updateAnOtaskRecord' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateJob'>
      <soap12:operation soapAction='http://updateJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='odeskApis'>
    <documentation>oDesk APIs allowed for authorized users to can access and build their own oDesk applications</documentation>
    <port name='odeskApisPort' binding='tns:odeskApisBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://odeskApis' />
    </port>
  </service>
</definitions>