workspace/datasets/mashape_dataset/officialworldcup.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/officialWorldCup/' name='officialWorldCup' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/officialWorldCup/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/officialWorldCup/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/officialWorldCup/'>
      <xsd:element name='matchesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='expires' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='currentDay' type='xsd:int' minOccurs='0' />
                  <xsd:element name='days' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='b_BlogAvailable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='n_MatchDay' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_Current' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_MatchDayDate' type='xsd:date' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='group' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='b_DateUnknown' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='n_FifaEdition' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_CompetitionType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='d_MatchDayDate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_Competition_pt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='b_MOTMWon' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='b_Abandoned' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_AwayTeam_es' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_AwayType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='n_HomeGoals' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_DataEntryLiveScore' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_AwayTeam_en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_HomeType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_Stadium' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_Competition_es' type='xsd:string' minOccurs='0' />
                        <xsd:element name='n_AwayGoals' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n_CompetitionID' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_HomeNatioShort' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='n_HomeGoalsHalftime' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_Suspended' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_Competition_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_City' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_Phase_fr' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_MatchPosition' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_AwayTeam_fr' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_AwayLogoImage' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='b_DataEntryLiveGoal' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='d_Date' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_TimeUnknown' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='n_AwayTeamID' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_HomeTeam_fr' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='n_WeatherCode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n_StadiumID' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n_AwayGoals90mins' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_Competition_fr' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_Score_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='b_RescheduledToBeResumed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_MatchStatusShort' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_FifaCompetition' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_AwayTeam_pt' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_MatchDayDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_HomeLogoImage' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='c_AwayTeam_de' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='n_MatchNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_ShowComments' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='n_AwayGoalsHalftime' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_Live' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_CountryShort' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_Phase_es' type='xsd:string' minOccurs='0' />
                        <xsd:element name='n_CityID' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_Phase_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='b_MOTMCanVote' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='n_HomeTeamID' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_AwayNatioShort' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='b_Current' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_HomeTeam_en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_ShareURL' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='b_Postponed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_HomeTeam_es' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_Date' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='n_MatchID' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_Started' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_HomeTeam_pt' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='b_Lineup' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_HomeTeam_de' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='n_MatchDay' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_Awarded' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_ShareURL_en' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='c_Source' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='n_HomeGoals90mins' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_Score' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_Minute' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_Competition_de' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_Phase_pt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='b_Finished' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_Phase_de' type='xsd:string' minOccurs='0' />
                        <xsd:element name='b_MatchDetails' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='second' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='b_DateUnknown' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='n_FifaEdition' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_CompetitionType' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='d_MatchDayDate' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_Competition_pt' type='xsd:string' minOccurs='0' />
                        <xsd:element name='b_MOTMWon' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='b_Abandoned' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='n_HomeGoals' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='b_DataEntryLiveScore' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_AwayTeam_en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_Stadium' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_Competition_es' type='xsd:string' minOccurs='0' />
                        <xsd:element name='n_AwayGoals' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='n_CompetitionID' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_Suspended' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_Competition_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_City' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_Phase_fr' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_MatchPosition' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='b_DataEntryLiveGoal' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='d_Date' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_TimeUnknown' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='n_WeatherCode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='n_StadiumID' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_Competition_fr' type='xsd:string' minOccurs='0' />
                        <xsd:element name='b_RescheduledToBeResumed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_MatchStatusShort' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_FifaCompetition' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_MatchDayDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='n_MatchNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_ShowComments' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='b_Live' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_CountryShort' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_Phase_es' type='xsd:string' minOccurs='0' />
                        <xsd:element name='n_CityID' type='xsd:int' minOccurs='0' />
                        <xsd:element name='c_Phase_en' type='xsd:string' minOccurs='0' />
                        <xsd:element name='b_MOTMCanVote' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='b_Current' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_HomeTeam_en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_ShareURL' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='b_Postponed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_Date' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='n_MatchID' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_Started' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='b_Lineup' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='n_MatchDay' type='xsd:int' minOccurs='0' />
                        <xsd:element name='b_Awarded' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_ShareURL_en' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='c_Source' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_Score' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_Minute' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='c_Competition_de' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_Phase_pt' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='b_Finished' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='c_Phase_de' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='b_MatchDetails' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='expiresSource' type='xsd:string' minOccurs='0' />
            <xsd:element name='lastModified' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='matchesRequestMessage' />
  <message name='matchesResponseMessage'>
    <part name='response' element='tns:matchesResponse' />
  </message>
  <portType name='officialWorldCupPortType'>
    <operation name='matches'>
      <documentation></documentation>
      <input message='tns:matchesRequestMessage' name='matchesInput' />
      <output message='tns:matchesResponseMessage' name='matchesOutput' />
    </operation>
  </portType>
  <binding name='officialWorldCupBinding' type='tns:officialWorldCupPortType'>
    <operation name='matches'>
      <soap12:operation soapAction='http://matches' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='officialWorldCup'>
    <documentation>the Official Match Schedule for the FIFA World Cup Brazil</documentation>
    <port name='officialWorldCupPort' binding='tns:officialWorldCupBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://officialWorldCup' />
    </port>
  </service>
</definitions>