workspace/datasets/mashape_dataset/onehourtranslation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/onehourtranslation/' name='onehourtranslation' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/onehourtranslation/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/onehourtranslation/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/onehourtranslation/'>
      <xsd:element name='cancelProjectParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cancelProjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createFileResourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createNewContextTmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='parent' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='acl' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='public_read' type='xsd:int' minOccurs='0' />
                        <xsd:element name='public_write' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createPhraseTmParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contextuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createPhraseTmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='parent' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='acl' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='public_read' type='xsd:int' minOccurs='0' />
                        <xsd:element name='public_write' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createProjectTmParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contextuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createProjectTmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='word_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='project_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createProofreadingProjectSourceAndTargetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='project_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createProofreadingProjectSourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='project_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createTextResourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createTranscriptionProjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='project_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                  <xsd:element name='length' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createTranslationProjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='project_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteContextAndItsPhrasesTmParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contextuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteContextAndItsPhrasesTmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletePhraseTmParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contextuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phrasekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletePhraseTmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='status' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectLanguageMachineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sourcecontent' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectLanguageMachineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadResourceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='resourceuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadResourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='transaction_fee' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='net_price' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='resources' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                        <xsd:element name='resource' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAccountDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='account_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                  <xsd:element name='account_username' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getContextSDetailsTmParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contextuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getContextSDetailsTmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='parent' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='acl' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='public_read' type='xsd:int' minOccurs='0' />
                        <xsd:element name='public_write' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getContextsListTmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPhraseTmParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contextuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phrasekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPhraseTmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='phrase_key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='source_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='source_language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='context' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='flags' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='remarks' type='xsd:string' minOccurs='0' />
                  <xsd:element name='target' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='dutch' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='spanish' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPhrasesListTmParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contextuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPhrasesListTmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='phrase_key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='source_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='source_language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='context' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='flags' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='remarks' type='xsd:string' minOccurs='0' />
                  <xsd:element name='target' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='dutch' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='spanish' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProjectDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProjectDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='project_type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='project_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='source_language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='target_language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom' type='xsd:string' minOccurs='0' />
                  <xsd:element name='project_status' type='xsd:string' minOccurs='0' />
                  <xsd:element name='resources' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='sources' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='translations' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='proofs' type='xsd:string' minOccurs='0' />
                        <xsd:element name='transcriptions' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='project_status_code' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProjectSCommentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProjectSCommentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='commenter_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='commenter_role' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='comment_content' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getQuoteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='resources' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getQuoteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='transaction_fee' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='net_price' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='resources' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                        <xsd:element name='resource' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='price' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResourceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='resourceuuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='file_mime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='file_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='length' type='xsd:int' minOccurs='0' />
                  <xsd:element name='download_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getWordCountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='resources' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getWordCountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='resources' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='resource' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newProjectCommentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newProjectCommentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='supportedExpertiseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sourcelanguage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='targetlanguage' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='supportedExpertiseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='supportedLanguagePairsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='supportedLanguagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='translateMachineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sourcecontent' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sourcelanguage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='targetlanguage' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='translateMachineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='TranslatedText' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatePhraseTmParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contextuuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phrasekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatePhraseTmResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='results' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='phrase_key' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='source_text' type='xsd:string' minOccurs='0' />
                        <xsd:element name='source_language' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='context' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='remarks' type='xsd:string' minOccurs='0' />
                        <xsd:element name='target' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='dutch' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='spanish' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='status' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='cancelProjectRequestMessage'>
    <part name='parameters' element='tns:cancelProjectParameters' />
  </message>
  <message name='cancelProjectResponseMessage'>
    <part name='response' element='tns:cancelProjectResponse' />
  </message>
  <message name='createFileResourceRequestMessage' />
  <message name='createFileResourceResponseMessage'>
    <part name='response' element='tns:createFileResourceResponse' />
  </message>
  <message name='createNewContextTmRequestMessage' />
  <message name='createNewContextTmResponseMessage'>
    <part name='response' element='tns:createNewContextTmResponse' />
  </message>
  <message name='createPhraseTmRequestMessage'>
    <part name='parameters' element='tns:createPhraseTmParameters' />
  </message>
  <message name='createPhraseTmResponseMessage'>
    <part name='response' element='tns:createPhraseTmResponse' />
  </message>
  <message name='createProjectTmRequestMessage'>
    <part name='parameters' element='tns:createProjectTmParameters' />
  </message>
  <message name='createProjectTmResponseMessage'>
    <part name='response' element='tns:createProjectTmResponse' />
  </message>
  <message name='createProofreadingProjectSourceAndTargetRequestMessage' />
  <message name='createProofreadingProjectSourceAndTargetResponseMessage'>
    <part name='response' element='tns:createProofreadingProjectSourceAndTargetResponse' />
  </message>
  <message name='createProofreadingProjectSourceRequestMessage' />
  <message name='createProofreadingProjectSourceResponseMessage'>
    <part name='response' element='tns:createProofreadingProjectSourceResponse' />
  </message>
  <message name='createTextResourceRequestMessage' />
  <message name='createTextResourceResponseMessage'>
    <part name='response' element='tns:createTextResourceResponse' />
  </message>
  <message name='createTranscriptionProjectRequestMessage' />
  <message name='createTranscriptionProjectResponseMessage'>
    <part name='response' element='tns:createTranscriptionProjectResponse' />
  </message>
  <message name='createTranslationProjectRequestMessage' />
  <message name='createTranslationProjectResponseMessage'>
    <part name='response' element='tns:createTranslationProjectResponse' />
  </message>
  <message name='deleteContextAndItsPhrasesTmRequestMessage'>
    <part name='parameters' element='tns:deleteContextAndItsPhrasesTmParameters' />
  </message>
  <message name='deleteContextAndItsPhrasesTmResponseMessage'>
    <part name='response' element='tns:deleteContextAndItsPhrasesTmResponse' />
  </message>
  <message name='deletePhraseTmRequestMessage'>
    <part name='parameters' element='tns:deletePhraseTmParameters' />
  </message>
  <message name='deletePhraseTmResponseMessage'>
    <part name='response' element='tns:deletePhraseTmResponse' />
  </message>
  <message name='detectLanguageMachineRequestMessage'>
    <part name='parameters' element='tns:detectLanguageMachineParameters' />
  </message>
  <message name='detectLanguageMachineResponseMessage'>
    <part name='response' element='tns:detectLanguageMachineResponse' />
  </message>
  <message name='downloadResourceRequestMessage'>
    <part name='parameters' element='tns:downloadResourceParameters' />
  </message>
  <message name='downloadResourceResponseMessage'>
    <part name='response' element='tns:downloadResourceResponse' />
  </message>
  <message name='getAccountDetailsRequestMessage' />
  <message name='getAccountDetailsResponseMessage'>
    <part name='response' element='tns:getAccountDetailsResponse' />
  </message>
  <message name='getContextSDetailsTmRequestMessage'>
    <part name='parameters' element='tns:getContextSDetailsTmParameters' />
  </message>
  <message name='getContextSDetailsTmResponseMessage'>
    <part name='response' element='tns:getContextSDetailsTmResponse' />
  </message>
  <message name='getContextsListTmRequestMessage' />
  <message name='getContextsListTmResponseMessage'>
    <part name='response' element='tns:getContextsListTmResponse' />
  </message>
  <message name='getPhraseTmRequestMessage'>
    <part name='parameters' element='tns:getPhraseTmParameters' />
  </message>
  <message name='getPhraseTmResponseMessage'>
    <part name='response' element='tns:getPhraseTmResponse' />
  </message>
  <message name='getPhrasesListTmRequestMessage'>
    <part name='parameters' element='tns:getPhrasesListTmParameters' />
  </message>
  <message name='getPhrasesListTmResponseMessage'>
    <part name='response' element='tns:getPhrasesListTmResponse' />
  </message>
  <message name='getProjectDetailsRequestMessage'>
    <part name='parameters' element='tns:getProjectDetailsParameters' />
  </message>
  <message name='getProjectDetailsResponseMessage'>
    <part name='response' element='tns:getProjectDetailsResponse' />
  </message>
  <message name='getProjectSCommentsRequestMessage'>
    <part name='parameters' element='tns:getProjectSCommentsParameters' />
  </message>
  <message name='getProjectSCommentsResponseMessage'>
    <part name='response' element='tns:getProjectSCommentsResponse' />
  </message>
  <message name='getQuoteRequestMessage'>
    <part name='parameters' element='tns:getQuoteParameters' />
  </message>
  <message name='getQuoteResponseMessage'>
    <part name='response' element='tns:getQuoteResponse' />
  </message>
  <message name='getResourceRequestMessage'>
    <part name='parameters' element='tns:getResourceParameters' />
  </message>
  <message name='getResourceResponseMessage'>
    <part name='response' element='tns:getResourceResponse' />
  </message>
  <message name='getWordCountRequestMessage'>
    <part name='parameters' element='tns:getWordCountParameters' />
  </message>
  <message name='getWordCountResponseMessage'>
    <part name='response' element='tns:getWordCountResponse' />
  </message>
  <message name='newProjectCommentRequestMessage'>
    <part name='parameters' element='tns:newProjectCommentParameters' />
  </message>
  <message name='newProjectCommentResponseMessage'>
    <part name='response' element='tns:newProjectCommentResponse' />
  </message>
  <message name='supportedExpertiseRequestMessage'>
    <part name='parameters' element='tns:supportedExpertiseParameters' />
  </message>
  <message name='supportedExpertiseResponseMessage'>
    <part name='response' element='tns:supportedExpertiseResponse' />
  </message>
  <message name='supportedLanguagePairsRequestMessage' />
  <message name='supportedLanguagePairsResponseMessage'>
    <part name='response' element='tns:supportedLanguagePairsResponse' />
  </message>
  <message name='supportedLanguagesRequestMessage' />
  <message name='supportedLanguagesResponseMessage'>
    <part name='response' element='tns:supportedLanguagesResponse' />
  </message>
  <message name='translateMachineRequestMessage'>
    <part name='parameters' element='tns:translateMachineParameters' />
  </message>
  <message name='translateMachineResponseMessage'>
    <part name='response' element='tns:translateMachineResponse' />
  </message>
  <message name='updatePhraseTmRequestMessage'>
    <part name='parameters' element='tns:updatePhraseTmParameters' />
  </message>
  <message name='updatePhraseTmResponseMessage'>
    <part name='response' element='tns:updatePhraseTmResponse' />
  </message>
  <portType name='onehourtranslationPortType'>
    <operation name='cancelProject'>
      <documentation></documentation>
      <input message='tns:cancelProjectRequestMessage' name='cancelProjectInput' />
      <output message='tns:cancelProjectResponseMessage' name='cancelProjectOutput' />
    </operation>
    <operation name='createFileResource'>
      <documentation>create a new file entity on One Hour Translation After the resource entity is created it can be used on job requests such as translation proofreading etc Read more about supported content formats here Notice This request must be encoded as multipart form data for file upload to succeed Please read here for more information</documentation>
      <input message='tns:createFileResourceRequestMessage' name='createFileResourceInput' />
      <output message='tns:createFileResourceResponseMessage' name='createFileResourceOutput' />
    </operation>
    <operation name='createNewContextTm'>
      <documentation></documentation>
      <input message='tns:createNewContextTmRequestMessage' name='createNewContextTmInput' />
      <output message='tns:createNewContextTmResponseMessage' name='createNewContextTmOutput' />
    </operation>
    <operation name='createPhraseTm'>
      <documentation></documentation>
      <input message='tns:createPhraseTmRequestMessage' name='createPhraseTmInput' />
      <output message='tns:createPhraseTmResponseMessage' name='createPhraseTmOutput' />
    </operation>
    <operation name='createProjectTm'>
      <documentation>this request acts the same as Project Create a New Project request but instead of manually specifying source resources all untranslated strings in the context are automatically wrapped as a source resource One may also specify to use already translated strings or specific phrases see request parameters</documentation>
      <input message='tns:createProjectTmRequestMessage' name='createProjectTmInput' />
      <output message='tns:createProjectTmResponseMessage' name='createProjectTmOutput' />
    </operation>
    <operation name='createProofreadingProjectSourceAndTarget'>
      <documentation></documentation>
      <input message='tns:createProofreadingProjectSourceAndTargetRequestMessage' name='createProofreadingProjectSourceAndTargetInput' />
      <output message='tns:createProofreadingProjectSourceAndTargetResponseMessage' name='createProofreadingProjectSourceAndTargetOutput' />
    </operation>
    <operation name='createProofreadingProjectSource'>
      <documentation></documentation>
      <input message='tns:createProofreadingProjectSourceRequestMessage' name='createProofreadingProjectSourceInput' />
      <output message='tns:createProofreadingProjectSourceResponseMessage' name='createProofreadingProjectSourceOutput' />
    </operation>
    <operation name='createTextResource'>
      <documentation>create a new text entity on One Hour Translation On success this method responds with a unique UUID for the created resource You may use this UUID when creating a new job request such as translation proofreading etc</documentation>
      <input message='tns:createTextResourceRequestMessage' name='createTextResourceInput' />
      <output message='tns:createTextResourceResponseMessage' name='createTextResourceOutput' />
    </operation>
    <operation name='createTranscriptionProject'>
      <documentation></documentation>
      <input message='tns:createTranscriptionProjectRequestMessage' name='createTranscriptionProjectInput' />
      <output message='tns:createTranscriptionProjectResponseMessage' name='createTranscriptionProjectOutput' />
    </operation>
    <operation name='createTranslationProject'>
      <documentation></documentation>
      <input message='tns:createTranslationProjectRequestMessage' name='createTranslationProjectInput' />
      <output message='tns:createTranslationProjectResponseMessage' name='createTranslationProjectOutput' />
    </operation>
    <operation name='deleteContextAndItsPhrasesTm'>
      <documentation></documentation>
      <input message='tns:deleteContextAndItsPhrasesTmRequestMessage' name='deleteContextAndItsPhrasesTmInput' />
      <output message='tns:deleteContextAndItsPhrasesTmResponseMessage' name='deleteContextAndItsPhrasesTmOutput' />
    </operation>
    <operation name='deletePhraseTm'>
      <documentation></documentation>
      <input message='tns:deletePhraseTmRequestMessage' name='deletePhraseTmInput' />
      <output message='tns:deletePhraseTmResponseMessage' name='deletePhraseTmOutput' />
    </operation>
    <operation name='detectLanguageMachine'>
      <documentation></documentation>
      <input message='tns:detectLanguageMachineRequestMessage' name='detectLanguageMachineInput' />
      <output message='tns:detectLanguageMachineResponseMessage' name='detectLanguageMachineOutput' />
    </operation>
    <operation name='downloadResource'>
      <documentation>return a file download response not JSON See here File is downloaded with original name text content is downloaded with file name oht resource uuid txt</documentation>
      <input message='tns:downloadResourceRequestMessage' name='downloadResourceInput' />
      <output message='tns:downloadResourceResponseMessage' name='downloadResourceOutput' />
    </operation>
    <operation name='getAccountDetails'>
      <documentation>fetch basic account details and credits balance</documentation>
      <input message='tns:getAccountDetailsRequestMessage' name='getAccountDetailsInput' />
      <output message='tns:getAccountDetailsResponseMessage' name='getAccountDetailsOutput' />
    </operation>
    <operation name='getContextSDetailsTm'>
      <documentation></documentation>
      <input message='tns:getContextSDetailsTmRequestMessage' name='getContextSDetailsTmInput' />
      <output message='tns:getContextSDetailsTmResponseMessage' name='getContextSDetailsTmOutput' />
    </operation>
    <operation name='getContextsListTm'>
      <documentation></documentation>
      <input message='tns:getContextsListTmRequestMessage' name='getContextsListTmInput' />
      <output message='tns:getContextsListTmResponseMessage' name='getContextsListTmOutput' />
    </operation>
    <operation name='getPhraseTm'>
      <documentation></documentation>
      <input message='tns:getPhraseTmRequestMessage' name='getPhraseTmInput' />
      <output message='tns:getPhraseTmResponseMessage' name='getPhraseTmOutput' />
    </operation>
    <operation name='getPhrasesListTm'>
      <documentation></documentation>
      <input message='tns:getPhrasesListTmRequestMessage' name='getPhrasesListTmInput' />
      <output message='tns:getPhrasesListTmResponseMessage' name='getPhrasesListTmOutput' />
    </operation>
    <operation name='getProjectDetails'>
      <documentation></documentation>
      <input message='tns:getProjectDetailsRequestMessage' name='getProjectDetailsInput' />
      <output message='tns:getProjectDetailsResponseMessage' name='getProjectDetailsOutput' />
    </operation>
    <operation name='getProjectSComments'>
      <documentation></documentation>
      <input message='tns:getProjectSCommentsRequestMessage' name='getProjectSCommentsInput' />
      <output message='tns:getProjectSCommentsResponseMessage' name='getProjectSCommentsOutput' />
    </operation>
    <operation name='getQuote'>
      <documentation></documentation>
      <input message='tns:getQuoteRequestMessage' name='getQuoteInput' />
      <output message='tns:getQuoteResponseMessage' name='getQuoteOutput' />
    </operation>
    <operation name='getResource'>
      <documentation></documentation>
      <input message='tns:getResourceRequestMessage' name='getResourceInput' />
      <output message='tns:getResourceResponseMessage' name='getResourceOutput' />
    </operation>
    <operation name='getWordCount'>
      <documentation></documentation>
      <input message='tns:getWordCountRequestMessage' name='getWordCountInput' />
      <output message='tns:getWordCountResponseMessage' name='getWordCountOutput' />
    </operation>
    <operation name='newProjectComment'>
      <documentation></documentation>
      <input message='tns:newProjectCommentRequestMessage' name='newProjectCommentInput' />
      <output message='tns:newProjectCommentResponseMessage' name='newProjectCommentOutput' />
    </operation>
    <operation name='supportedExpertise'>
      <documentation></documentation>
      <input message='tns:supportedExpertiseRequestMessage' name='supportedExpertiseInput' />
      <output message='tns:supportedExpertiseResponseMessage' name='supportedExpertiseOutput' />
    </operation>
    <operation name='supportedLanguagePairs'>
      <documentation></documentation>
      <input message='tns:supportedLanguagePairsRequestMessage' name='supportedLanguagePairsInput' />
      <output message='tns:supportedLanguagePairsResponseMessage' name='supportedLanguagePairsOutput' />
    </operation>
    <operation name='supportedLanguages'>
      <documentation></documentation>
      <input message='tns:supportedLanguagesRequestMessage' name='supportedLanguagesInput' />
      <output message='tns:supportedLanguagesResponseMessage' name='supportedLanguagesOutput' />
    </operation>
    <operation name='translateMachine'>
      <documentation></documentation>
      <input message='tns:translateMachineRequestMessage' name='translateMachineInput' />
      <output message='tns:translateMachineResponseMessage' name='translateMachineOutput' />
    </operation>
    <operation name='updatePhraseTm'>
      <documentation></documentation>
      <input message='tns:updatePhraseTmRequestMessage' name='updatePhraseTmInput' />
      <output message='tns:updatePhraseTmResponseMessage' name='updatePhraseTmOutput' />
    </operation>
  </portType>
  <binding name='onehourtranslationBinding' type='tns:onehourtranslationPortType'>
    <operation name='cancelProject'>
      <soap12:operation soapAction='http://cancelProject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createFileResource'>
      <soap12:operation soapAction='http://createFileResource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createNewContextTm'>
      <soap12:operation soapAction='http://createNewContextTm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createPhraseTm'>
      <soap12:operation soapAction='http://createPhraseTm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createProjectTm'>
      <soap12:operation soapAction='http://createProjectTm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createProofreadingProjectSourceAndTarget'>
      <soap12:operation soapAction='http://createProofreadingProjectSourceAndTarget' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createProofreadingProjectSource'>
      <soap12:operation soapAction='http://createProofreadingProjectSource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createTextResource'>
      <soap12:operation soapAction='http://createTextResource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createTranscriptionProject'>
      <soap12:operation soapAction='http://createTranscriptionProject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createTranslationProject'>
      <soap12:operation soapAction='http://createTranslationProject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteContextAndItsPhrasesTm'>
      <soap12:operation soapAction='http://deleteContextAndItsPhrasesTm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletePhraseTm'>
      <soap12:operation soapAction='http://deletePhraseTm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detectLanguageMachine'>
      <soap12:operation soapAction='http://detectLanguageMachine' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='downloadResource'>
      <soap12:operation soapAction='http://downloadResource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAccountDetails'>
      <soap12:operation soapAction='http://getAccountDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getContextSDetailsTm'>
      <soap12:operation soapAction='http://getContextSDetailsTm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getContextsListTm'>
      <soap12:operation soapAction='http://getContextsListTm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPhraseTm'>
      <soap12:operation soapAction='http://getPhraseTm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPhrasesListTm'>
      <soap12:operation soapAction='http://getPhrasesListTm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getProjectDetails'>
      <soap12:operation soapAction='http://getProjectDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getProjectSComments'>
      <soap12:operation soapAction='http://getProjectSComments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getQuote'>
      <soap12:operation soapAction='http://getQuote' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getResource'>
      <soap12:operation soapAction='http://getResource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getWordCount'>
      <soap12:operation soapAction='http://getWordCount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newProjectComment'>
      <soap12:operation soapAction='http://newProjectComment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='supportedExpertise'>
      <soap12:operation soapAction='http://supportedExpertise' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='supportedLanguagePairs'>
      <soap12:operation soapAction='http://supportedLanguagePairs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='supportedLanguages'>
      <soap12:operation soapAction='http://supportedLanguages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='translateMachine'>
      <soap12:operation soapAction='http://translateMachine' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatePhraseTm'>
      <soap12:operation soapAction='http://updatePhraseTm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='onehourtranslation'>
    <documentation>hassle free translation and localization for your business One Hour Translation API exposes various methods and services delivered by One Hour Translation and allows external systems to securely launch monitor and communicate with translation jobs</documentation>
    <port name='onehourtranslationPort' binding='tns:onehourtranslationBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://onehourtranslation' />
    </port>
  </service>
</definitions>