workspace/datasets/mashape_dataset/onlinefontconverter.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/onlineFontConverter/' name='onlineFontConverter' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/onlineFontConverter/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/onlineFontConverter/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/onlineFontConverter/'>
      <xsd:element name='directconvertfontResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='directconvertfontRequestMessage' />
  <message name='directconvertfontResponseMessage'>
    <part name='response' element='tns:directconvertfontResponse' />
  </message>
  <portType name='onlineFontConverterPortType'>
    <operation name='directconvertfont'>
      <documentation>the returned binary file is a tar gz</documentation>
      <input message='tns:directconvertfontRequestMessage' name='directconvertfontInput' />
      <output message='tns:directconvertfontResponseMessage' name='directconvertfontOutput' />
    </operation>
  </portType>
  <binding name='onlineFontConverterBinding' type='tns:onlineFontConverterPortType'>
    <operation name='directconvertfont'>
      <soap12:operation soapAction='http://directconvertfont' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='onlineFontConverter'>
    <documentation>convert fonts from one format to another</documentation>
    <port name='onlineFontConverterPort' binding='tns:onlineFontConverterBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://onlineFontConverter' />
    </port>
  </service>
</definitions>