workspace/datasets/mashape_dataset/onpay.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/onpay/' name='onpay' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/onpay/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/onpay/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/onpay/'>
      <xsd:element name='allEmployeesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='activestatus' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allEmployeesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='employees' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='employee_state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pay_schedule_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='img_source' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pay_schedule_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='employee_city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='location_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='frequency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='employee_zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rate' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='employee_address_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='department' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='SS' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='home_phone' type='xsd:int' minOccurs='0' />
                  <xsd:element name='employee_address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='department_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='img_file' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='middle_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='cell_phone' type='xsd:int' minOccurs='0' />
                  <xsd:element name='location' type='xsd:string' minOccurs='0' />
                  <xsd:element name='position' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='position_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createDeductionBenefitResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='deduction_type' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='dataStoresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pay_schedules' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='period_end' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='period_start' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='check_date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='freq' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='workers_comp_states' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='workers_comp_codes_by_state' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='CA' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rate' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='locations' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='positions' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='departments' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='leave_policies' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n16' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='track' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n3' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='track' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='n5' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='track' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='pay_types' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='cash_item' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='locked' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='worksites' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='managers' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deductionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='tax_type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='calculation_method' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:string' minOccurs='0' />
                  <xsd:element name='er_percent' type='xsd:string' minOccurs='0' />
                  <xsd:element name='er_gross' type='xsd:string' minOccurs='0' />
                  <xsd:element name='er_percent_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ignore_deferral' type='xsd:string' minOccurs='0' />
                  <xsd:element name='er_gross_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='deduction_type_string' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='employeeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='employeeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='notes' type='xsd:string' minOccurs='0' />
            <xsd:element name='rehire_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='address_2' type='xsd:string' minOccurs='0' />
            <xsd:element name='work_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='clock_password' type='xsd:string' minOccurs='0' />
            <xsd:element name='type' type='xsd:int' minOccurs='0' />
            <xsd:element name='zip_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='location_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='number' type='xsd:int' minOccurs='0' />
            <xsd:element name='workers_comp_rate' type='xsd:string' minOccurs='0' />
            <xsd:element name='workers_comp_use_multiple' type='xsd:string' minOccurs='0' />
            <xsd:element name='mail_use_mail_address' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='rehire_date_yyyymmdd' type='xsd:string' minOccurs='0' />
            <xsd:element name='mail_address' type='xsd:string' minOccurs='0' />
            <xsd:element name='accrual_policy_3_id' type='xsd:string' minOccurs='0' />
            <xsd:element name='hire_date_yyyymmdd' type='xsd:date' minOccurs='0' />
            <xsd:element name='home_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='clock_username' type='xsd:string' minOccurs='0' />
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='cell_phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='date_added' type='xsd:int' minOccurs='0' />
            <xsd:element name='termination_code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='part_time' type='xsd:int' minOccurs='0' />
            <xsd:element name='date_added_yyyymmdd' type='xsd:date' minOccurs='0' />
            <xsd:element name='accrual_policy_2_id' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
            <xsd:element name='position_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='birthday' type='xsd:int' minOccurs='0' />
            <xsd:element name='gender' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='city' type='xsd:string' minOccurs='0' />
            <xsd:element name='seasonal' type='xsd:int' minOccurs='0' />
            <xsd:element name='pay_schedule_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='use_401k_catchup' type='xsd:string' minOccurs='0' />
            <xsd:element name='has_online_access' type='xsd:int' minOccurs='0' />
            <xsd:element name='workers_comp_state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='mail_address_2' type='xsd:string' minOccurs='0' />
            <xsd:element name='manager_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='termination_date_yyyymmdd' type='xsd:string' minOccurs='0' />
            <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='use_hsa_catchup' type='xsd:string' minOccurs='0' />
            <xsd:element name='use_hsa_family' type='xsd:string' minOccurs='0' />
            <xsd:element name='mail_state' type='xsd:string' minOccurs='0' />
            <xsd:element name='address' type='xsd:string' minOccurs='0' />
            <xsd:element name='workers_comp_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='department_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='accrual_policy_id' type='xsd:string' minOccurs='0' />
            <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='hire_date' type='xsd:int' minOccurs='0' />
            <xsd:element name='mail_city' type='xsd:string' minOccurs='0' />
            <xsd:element name='birthday_yyyymmdd' type='xsd:date' minOccurs='0' />
            <xsd:element name='middle_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='direct_deposit_active' type='xsd:int' minOccurs='0' />
            <xsd:element name='mail_zip' type='xsd:string' minOccurs='0' />
            <xsd:element name='supplemental_calculation_method' type='xsd:int' minOccurs='0' />
            <xsd:element name='termination_date' type='xsd:string' minOccurs='0' />
            <xsd:element name='employee_tax_state' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='employeeChildSupportParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='employeeChildSupportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='amount' type='xsd:string' minOccurs='0' />
                  <xsd:element name='value_4' type='xsd:string' minOccurs='0' />
                  <xsd:element name='agency_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='value_5' type='xsd:string' minOccurs='0' />
                  <xsd:element name='active' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value_2' type='xsd:int' minOccurs='0' />
                  <xsd:element name='value_3' type='xsd:string' minOccurs='0' />
                  <xsd:element name='type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='value_1' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='employee_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='case_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='order' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='employeeDeductionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='employeeDeductionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='inactive' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='in_401k' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='er_gross' type='xsd:string' minOccurs='0' />
                  <xsd:element name='er_percent_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deduction_type' type='xsd:string' minOccurs='0' />
                  <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='calculation_method' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tax_type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:string' minOccurs='0' />
                  <xsd:element name='er_percent' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ignore_deferral' type='xsd:string' minOccurs='0' />
                  <xsd:element name='er_gross_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='active' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='in_401k' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='batch' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='amount' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='ach' type='xsd:string' minOccurs='0' />
                        <xsd:element name='active' type='xsd:int' minOccurs='0' />
                        <xsd:element name='memo' type='xsd:string' minOccurs='0' />
                        <xsd:element name='benefit_flat_amount' type='xsd:string' minOccurs='0' />
                        <xsd:element name='deduction_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='percent' type='xsd:string' minOccurs='0' />
                        <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='deduction_lifetime_limit' type='xsd:string' minOccurs='0' />
                        <xsd:element name='routing' type='xsd:string' minOccurs='0' />
                        <xsd:element name='include_match' type='xsd:string' minOccurs='0' />
                        <xsd:element name='c_s' type='xsd:string' minOccurs='0' />
                        <xsd:element name='employee_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='deduction_annual_limit' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='account' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='er_gross' type='xsd:string' minOccurs='0' />
                  <xsd:element name='er_percent_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deduction_type' type='xsd:string' minOccurs='0' />
                  <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tax_type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='calculation_method' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='er_percent' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ignore_deferral' type='xsd:string' minOccurs='0' />
                  <xsd:element name='er_gross_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='employeeGarnishmentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='employeeGarnishmentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='amount' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='agency_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='value_4' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='active' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value_5' type='xsd:string' minOccurs='0' />
                  <xsd:element name='value_2' type='xsd:int' minOccurs='0' />
                  <xsd:element name='value_3' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='garnishment_order' type='xsd:int' minOccurs='0' />
                  <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='garnishment_type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='garnishment_description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='value_1' type='xsd:int' minOccurs='0' />
                  <xsd:element name='employee_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='case_number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='employeeTaxesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='employeeTaxesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='state_misc_2_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='school_code' type='xsd:string' minOccurs='0' />
            <xsd:element name='school_exempt' type='xsd:int' minOccurs='0' />
            <xsd:element name='school_resident' type='xsd:int' minOccurs='0' />
            <xsd:element name='fica_ER_exempt' type='xsd:string' minOccurs='0' />
            <xsd:element name='state_misc_4_desc' type='xsd:string' minOccurs='0' />
            <xsd:element name='state_flat_amt' type='xsd:string' minOccurs='0' />
            <xsd:element name='fed_additional' type='xsd:string' minOccurs='0' />
            <xsd:element name='state_misc_1_desc' type='xsd:string' minOccurs='0' />
            <xsd:element name='state_misc_4_value' type='xsd:string' minOccurs='0' />
            <xsd:element name='workStateModel' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='stateInfo' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='params' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='state_resident' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='values' type='xsd:int' maxOccurs='unbounded' />
                              <xsd:element name='typeOfUserInput' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='options' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='value' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='desc' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='state_exempt' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='values' type='xsd:int' maxOccurs='unbounded' />
                              <xsd:element name='typeOfUserInput' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='options' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='value' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='desc' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='state_misc_4_value' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='values' type='xsd:string' maxOccurs='unbounded' />
                              <xsd:element name='typeOfUserInput' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='options' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='desc' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='state_additional' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='typeOfUserInput' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='state_misc_2_value' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='typeOfUserInput' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='state_misc_3_value' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='typeOfUserInput' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='sdi_exempt' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='values' type='xsd:int' maxOccurs='unbounded' />
                              <xsd:element name='typeOfUserInput' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='options' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='value' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='desc' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='state_misc_1_value' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='values' type='xsd:normalizedString' maxOccurs='unbounded' />
                              <xsd:element name='typeOfUserInput' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='options' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='school_munici_code' type='xsd:string' minOccurs='0' />
            <xsd:element name='fed_status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='state_misc_1_value' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='futa_ER_exempt' type='xsd:int' minOccurs='0' />
            <xsd:element name='state_resident' type='xsd:int' minOccurs='0' />
            <xsd:element name='county_resident' type='xsd:int' minOccurs='0' />
            <xsd:element name='state_exempt' type='xsd:int' minOccurs='0' />
            <xsd:element name='medicare_ER_exempt' type='xsd:string' minOccurs='0' />
            <xsd:element name='name_of_work_state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='state_misc_1_values' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='federal_exempt' type='xsd:int' minOccurs='0' />
            <xsd:element name='state_additional' type='xsd:string' minOccurs='0' />
            <xsd:element name='fica_exempt' type='xsd:string' minOccurs='0' />
            <xsd:element name='fed_allowances' type='xsd:int' minOccurs='0' />
            <xsd:element name='state_misc_2_desc' type='xsd:string' minOccurs='0' />
            <xsd:element name='city_exempt' type='xsd:int' minOccurs='0' />
            <xsd:element name='state_misc_4_values' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fli_exempt' type='xsd:int' minOccurs='0' />
            <xsd:element name='state_misc_3_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fed_pct_amt' type='xsd:string' minOccurs='0' />
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='state_misc_3_value' type='xsd:string' minOccurs='0' />
            <xsd:element name='sdi_exempt' type='xsd:int' minOccurs='0' />
            <xsd:element name='state_pct_amt' type='xsd:string' minOccurs='0' />
            <xsd:element name='city_resident' type='xsd:int' minOccurs='0' />
            <xsd:element name='medicare_exempt' type='xsd:string' minOccurs='0' />
            <xsd:element name='state_misc_1_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='employee_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='state_misc_2_value' type='xsd:string' minOccurs='0' />
            <xsd:element name='state_misc_3_desc' type='xsd:string' minOccurs='0' />
            <xsd:element name='worksite' type='xsd:int' minOccurs='0' />
            <xsd:element name='fed_flat_amt' type='xsd:string' minOccurs='0' />
            <xsd:element name='futa_noReduction' type='xsd:int' minOccurs='0' />
            <xsd:element name='state_misc_4_type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='county_exempt' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='homeStateModelParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fips' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='homeStateModelResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='state_info' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='parameters' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='home_state_misc_2_value' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='home_state_exempt' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='values' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='options' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='home_state_misc_3_value' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='home_state_misc_1_value' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='values' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='options' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='home_state_misc_4_value' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='values' type='xsd:string' maxOccurs='unbounded' />
                        <xsd:element name='options' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyAnEmployeeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyAnEmployeeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyDeductionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyDeductionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyEmployeeDeductionBatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ded' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyEmployeeDeductionBatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyEmployeeTaxParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyEmployeeTaxResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userinfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='workStateModelParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fips' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='workStateModelResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='state_info' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='parameters' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='state_resident' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='values' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='options' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='state_exempt' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='values' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='options' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='value' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='state_misc_4_value' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='state_additional' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='state_misc_2_value' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='values' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='options' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:int' minOccurs='0' />
                              <xsd:element name='value' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='state_misc_3_value' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='state_misc_1_value' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type_of_user_input' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='values' type='xsd:normalizedString' maxOccurs='unbounded' />
                        <xsd:element name='options' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='required' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='allEmployeesRequestMessage'>
    <part name='parameters' element='tns:allEmployeesParameters' />
  </message>
  <message name='allEmployeesResponseMessage'>
    <part name='response' element='tns:allEmployeesResponse' />
  </message>
  <message name='createDeductionBenefitRequestMessage' />
  <message name='createDeductionBenefitResponseMessage'>
    <part name='response' element='tns:createDeductionBenefitResponse' />
  </message>
  <message name='dataStoresRequestMessage' />
  <message name='dataStoresResponseMessage'>
    <part name='response' element='tns:dataStoresResponse' />
  </message>
  <message name='deductionsRequestMessage' />
  <message name='deductionsResponseMessage'>
    <part name='response' element='tns:deductionsResponse' />
  </message>
  <message name='employeeRequestMessage'>
    <part name='parameters' element='tns:employeeParameters' />
  </message>
  <message name='employeeResponseMessage'>
    <part name='response' element='tns:employeeResponse' />
  </message>
  <message name='employeeChildSupportRequestMessage'>
    <part name='parameters' element='tns:employeeChildSupportParameters' />
  </message>
  <message name='employeeChildSupportResponseMessage'>
    <part name='response' element='tns:employeeChildSupportResponse' />
  </message>
  <message name='employeeDeductionsRequestMessage'>
    <part name='parameters' element='tns:employeeDeductionsParameters' />
  </message>
  <message name='employeeDeductionsResponseMessage'>
    <part name='response' element='tns:employeeDeductionsResponse' />
  </message>
  <message name='employeeGarnishmentsRequestMessage'>
    <part name='parameters' element='tns:employeeGarnishmentsParameters' />
  </message>
  <message name='employeeGarnishmentsResponseMessage'>
    <part name='response' element='tns:employeeGarnishmentsResponse' />
  </message>
  <message name='employeeTaxesRequestMessage'>
    <part name='parameters' element='tns:employeeTaxesParameters' />
  </message>
  <message name='employeeTaxesResponseMessage'>
    <part name='response' element='tns:employeeTaxesResponse' />
  </message>
  <message name='homeStateModelRequestMessage'>
    <part name='parameters' element='tns:homeStateModelParameters' />
  </message>
  <message name='homeStateModelResponseMessage'>
    <part name='response' element='tns:homeStateModelResponse' />
  </message>
  <message name='modifyAnEmployeeRequestMessage'>
    <part name='parameters' element='tns:modifyAnEmployeeParameters' />
  </message>
  <message name='modifyAnEmployeeResponseMessage'>
    <part name='response' element='tns:modifyAnEmployeeResponse' />
  </message>
  <message name='modifyDeductionRequestMessage'>
    <part name='parameters' element='tns:modifyDeductionParameters' />
  </message>
  <message name='modifyDeductionResponseMessage'>
    <part name='response' element='tns:modifyDeductionResponse' />
  </message>
  <message name='modifyEmployeeDeductionBatchRequestMessage'>
    <part name='parameters' element='tns:modifyEmployeeDeductionBatchParameters' />
  </message>
  <message name='modifyEmployeeDeductionBatchResponseMessage'>
    <part name='response' element='tns:modifyEmployeeDeductionBatchResponse' />
  </message>
  <message name='modifyEmployeeTaxRequestMessage'>
    <part name='parameters' element='tns:modifyEmployeeTaxParameters' />
  </message>
  <message name='modifyEmployeeTaxResponseMessage'>
    <part name='response' element='tns:modifyEmployeeTaxResponse' />
  </message>
  <message name='userinfoRequestMessage' />
  <message name='userinfoResponseMessage'>
    <part name='response' element='tns:userinfoResponse' />
  </message>
  <message name='workStateModelRequestMessage'>
    <part name='parameters' element='tns:workStateModelParameters' />
  </message>
  <message name='workStateModelResponseMessage'>
    <part name='response' element='tns:workStateModelResponse' />
  </message>
  <portType name='onpayPortType'>
    <operation name='allEmployees'>
      <documentation>get all employees limit not all employee data is returned Use the Employee Employee Deductions Employee Taxes etc endpoints to retrieve additional information</documentation>
      <input message='tns:allEmployeesRequestMessage' name='allEmployeesInput' />
      <output message='tns:allEmployeesResponseMessage' name='allEmployeesOutput' />
    </operation>
    <operation name='createDeductionBenefit'>
      <documentation>create a company wide deduction and or benefit</documentation>
      <input message='tns:createDeductionBenefitRequestMessage' name='createDeductionBenefitInput' />
      <output message='tns:createDeductionBenefitResponseMessage' name='createDeductionBenefitOutput' />
    </operation>
    <operation name='dataStores'>
      <documentation>data stores location positions managers departments worksites etc</documentation>
      <input message='tns:dataStoresRequestMessage' name='dataStoresInput' />
      <output message='tns:dataStoresResponseMessage' name='dataStoresOutput' />
    </operation>
    <operation name='deductions'>
      <documentation>get all deductions benefits for company</documentation>
      <input message='tns:deductionsRequestMessage' name='deductionsInput' />
      <output message='tns:deductionsResponseMessage' name='deductionsOutput' />
    </operation>
    <operation name='employee'>
      <documentation>get employee information</documentation>
      <input message='tns:employeeRequestMessage' name='employeeInput' />
      <output message='tns:employeeResponseMessage' name='employeeOutput' />
    </operation>
    <operation name='employeeChildSupport'>
      <documentation>retrieve employee child support garnishments</documentation>
      <input message='tns:employeeChildSupportRequestMessage' name='employeeChildSupportInput' />
      <output message='tns:employeeChildSupportResponseMessage' name='employeeChildSupportOutput' />
    </operation>
    <operation name='employeeDeductions'>
      <documentation>retrieve employee deductions model</documentation>
      <input message='tns:employeeDeductionsRequestMessage' name='employeeDeductionsInput' />
      <output message='tns:employeeDeductionsResponseMessage' name='employeeDeductionsOutput' />
    </operation>
    <operation name='employeeGarnishments'>
      <documentation>retrieve garnishments for an employee</documentation>
      <input message='tns:employeeGarnishmentsRequestMessage' name='employeeGarnishmentsInput' />
      <output message='tns:employeeGarnishmentsResponseMessage' name='employeeGarnishmentsOutput' />
    </operation>
    <operation name='employeeTaxes'>
      <documentation>retrieve employee tax model</documentation>
      <input message='tns:employeeTaxesRequestMessage' name='employeeTaxesInput' />
      <output message='tns:employeeTaxesResponseMessage' name='employeeTaxesOutput' />
    </operation>
    <operation name='homeStateModel'>
      <documentation>retrieve home state model Contains available work state tax options by state FIPS code Used along with Work State Model if employee home state and work state are different</documentation>
      <input message='tns:homeStateModelRequestMessage' name='homeStateModelInput' />
      <output message='tns:homeStateModelResponseMessage' name='homeStateModelOutput' />
    </operation>
    <operation name='modifyAnEmployee'>
      <documentation>partial update of an Employee model</documentation>
      <input message='tns:modifyAnEmployeeRequestMessage' name='modifyAnEmployeeInput' />
      <output message='tns:modifyAnEmployeeResponseMessage' name='modifyAnEmployeeOutput' />
    </operation>
    <operation name='modifyDeduction'>
      <documentation>modify a single param of deduction benefit</documentation>
      <input message='tns:modifyDeductionRequestMessage' name='modifyDeductionInput' />
      <output message='tns:modifyDeductionResponseMessage' name='modifyDeductionOutput' />
    </operation>
    <operation name='modifyEmployeeDeductionBatch'>
      <documentation>partial update of the batch model of a deduction for an employee</documentation>
      <input message='tns:modifyEmployeeDeductionBatchRequestMessage' name='modifyEmployeeDeductionBatchInput' />
      <output message='tns:modifyEmployeeDeductionBatchResponseMessage' name='modifyEmployeeDeductionBatchOutput' />
    </operation>
    <operation name='modifyEmployeeTax'>
      <documentation>partial update of the employee tax model</documentation>
      <input message='tns:modifyEmployeeTaxRequestMessage' name='modifyEmployeeTaxInput' />
      <output message='tns:modifyEmployeeTaxResponseMessage' name='modifyEmployeeTaxOutput' />
    </operation>
    <operation name='userinfo'>
      <documentation>get userInfo model OpenID Connect</documentation>
      <input message='tns:userinfoRequestMessage' name='userinfoInput' />
      <output message='tns:userinfoResponseMessage' name='userinfoOutput' />
    </operation>
    <operation name='workStateModel'>
      <documentation>retrieve state model Contains available work state tax options by state FIPS code</documentation>
      <input message='tns:workStateModelRequestMessage' name='workStateModelInput' />
      <output message='tns:workStateModelResponseMessage' name='workStateModelOutput' />
    </operation>
  </portType>
  <binding name='onpayBinding' type='tns:onpayPortType'>
    <operation name='allEmployees'>
      <soap12:operation soapAction='http://allEmployees' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createDeductionBenefit'>
      <soap12:operation soapAction='http://createDeductionBenefit' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='dataStores'>
      <soap12:operation soapAction='http://dataStores' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deductions'>
      <soap12:operation soapAction='http://deductions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='employee'>
      <soap12:operation soapAction='http://employee' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='employeeChildSupport'>
      <soap12:operation soapAction='http://employeeChildSupport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='employeeDeductions'>
      <soap12:operation soapAction='http://employeeDeductions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='employeeGarnishments'>
      <soap12:operation soapAction='http://employeeGarnishments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='employeeTaxes'>
      <soap12:operation soapAction='http://employeeTaxes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='homeStateModel'>
      <soap12:operation soapAction='http://homeStateModel' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='modifyAnEmployee'>
      <soap12:operation soapAction='http://modifyAnEmployee' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='modifyDeduction'>
      <soap12:operation soapAction='http://modifyDeduction' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='modifyEmployeeDeductionBatch'>
      <soap12:operation soapAction='http://modifyEmployeeDeductionBatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='modifyEmployeeTax'>
      <soap12:operation soapAction='http://modifyEmployeeTax' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userinfo'>
      <soap12:operation soapAction='http://userinfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='workStateModel'>
      <soap12:operation soapAction='http://workStateModel' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='onpay'>
    <documentation>iN DEVELOPMENT</documentation>
    <port name='onpayPort' binding='tns:onpayBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://onpay' />
    </port>
  </service>
</definitions>