workspace/datasets/mashape_dataset/opencivicdata.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/openCivicData/' name='openCivicData' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/openCivicData/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/openCivicData/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/openCivicData/'>
      <xsd:element name='billSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='billSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='divisionsSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='divisionsSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='jurisdictionsSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='jurisdictionsSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='organizationSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='organizationSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='personSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='birthdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='createdat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='deathdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='evermemberof' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='gender' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='memberof' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='updatedat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='personSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='voteSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='updatedat' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='voteSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='billSearchRequestMessage'>
    <part name='parameters' element='tns:billSearchParameters' />
  </message>
  <message name='billSearchResponseMessage'>
    <part name='response' element='tns:billSearchResponse' />
  </message>
  <message name='divisionsSearchRequestMessage'>
    <part name='parameters' element='tns:divisionsSearchParameters' />
  </message>
  <message name='divisionsSearchResponseMessage'>
    <part name='response' element='tns:divisionsSearchResponse' />
  </message>
  <message name='jurisdictionsSearchRequestMessage'>
    <part name='parameters' element='tns:jurisdictionsSearchParameters' />
  </message>
  <message name='jurisdictionsSearchResponseMessage'>
    <part name='response' element='tns:jurisdictionsSearchResponse' />
  </message>
  <message name='organizationSearchRequestMessage'>
    <part name='parameters' element='tns:organizationSearchParameters' />
  </message>
  <message name='organizationSearchResponseMessage'>
    <part name='response' element='tns:organizationSearchResponse' />
  </message>
  <message name='personSearchRequestMessage'>
    <part name='parameters' element='tns:personSearchParameters' />
  </message>
  <message name='personSearchResponseMessage'>
    <part name='response' element='tns:personSearchResponse' />
  </message>
  <message name='voteSearchRequestMessage'>
    <part name='parameters' element='tns:voteSearchParameters' />
  </message>
  <message name='voteSearchResponseMessage'>
    <part name='response' element='tns:voteSearchResponse' />
  </message>
  <portType name='openCivicDataPortType'>
    <operation name='billSearch'>
      <documentation></documentation>
      <input message='tns:billSearchRequestMessage' name='billSearchInput' />
      <output message='tns:billSearchResponseMessage' name='billSearchOutput' />
    </operation>
    <operation name='divisionsSearch'>
      <documentation></documentation>
      <input message='tns:divisionsSearchRequestMessage' name='divisionsSearchInput' />
      <output message='tns:divisionsSearchResponseMessage' name='divisionsSearchOutput' />
    </operation>
    <operation name='jurisdictionsSearch'>
      <documentation></documentation>
      <input message='tns:jurisdictionsSearchRequestMessage' name='jurisdictionsSearchInput' />
      <output message='tns:jurisdictionsSearchResponseMessage' name='jurisdictionsSearchOutput' />
    </operation>
    <operation name='organizationSearch'>
      <documentation></documentation>
      <input message='tns:organizationSearchRequestMessage' name='organizationSearchInput' />
      <output message='tns:organizationSearchResponseMessage' name='organizationSearchOutput' />
    </operation>
    <operation name='personSearch'>
      <documentation></documentation>
      <input message='tns:personSearchRequestMessage' name='personSearchInput' />
      <output message='tns:personSearchResponseMessage' name='personSearchOutput' />
    </operation>
    <operation name='voteSearch'>
      <documentation></documentation>
      <input message='tns:voteSearchRequestMessage' name='voteSearchInput' />
      <output message='tns:voteSearchResponseMessage' name='voteSearchOutput' />
    </operation>
  </portType>
  <binding name='openCivicDataBinding' type='tns:openCivicDataPortType'>
    <operation name='billSearch'>
      <soap12:operation soapAction='http://billSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='divisionsSearch'>
      <soap12:operation soapAction='http://divisionsSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='jurisdictionsSearch'>
      <soap12:operation soapAction='http://jurisdictionsSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='organizationSearch'>
      <soap12:operation soapAction='http://organizationSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='personSearch'>
      <soap12:operation soapAction='http://personSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='voteSearch'>
      <soap12:operation soapAction='http://voteSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='openCivicData'>
    <documentation>technology can make government more responsive accountable and useful whether through an email reminder about a community meeting or an app that connects you to your council rep But first data about your government needs to be organized into a fo</documentation>
    <port name='openCivicDataPort' binding='tns:openCivicDataBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://openCivicData' />
    </port>
  </service>
</definitions>