workspace/datasets/mashape_dataset/openaccessjournalscorpus.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/openAccessJournalsCorpus/' name='openAccessJournalsCorpus' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/openAccessJournalsCorpus/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/openAccessJournalsCorpus/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/openAccessJournalsCorpus/'>
      <xsd:element name='getArticleByAlternateIdAlternateIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alternateid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getArticleByAlternateIdAlternateIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_published' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alts' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='abstract' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='author_ids' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='article_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='journal' type='xsd:string' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:string' minOccurs='0' />
                  <xsd:element name='page' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='alternate_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='doi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='authors' type='xsd:string' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getArticleByIdArticleIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='articleid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getArticleByIdArticleIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='year' type='xsd:int' minOccurs='0' />
            <xsd:element name='is_published' type='xsd:int' minOccurs='0' />
            <xsd:element name='alts' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='abstract' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='author_ids' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='article_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='journal' type='xsd:string' minOccurs='0' />
            <xsd:element name='publisher' type='xsd:string' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
            <xsd:element name='alternate_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='doi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='authors' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getArticlesOffsetLimitParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getArticlesOffsetLimitResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getArticlesSearchTitleKeywordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='keyword' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getArticlesSearchTitleKeywordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_published' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alts' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='abstract' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:string' minOccurs='0' />
                  <xsd:element name='article_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='journal' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='publisher' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alternate_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='doi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='authors' type='xsd:string' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthorsArticleIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='articleid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAuthorsArticleIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getJournalArticleIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='articleid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getJournalArticleIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getArticleByAlternateIdAlternateIdRequestMessage'>
    <part name='parameters' element='tns:getArticleByAlternateIdAlternateIdParameters' />
  </message>
  <message name='getArticleByAlternateIdAlternateIdResponseMessage'>
    <part name='response' element='tns:getArticleByAlternateIdAlternateIdResponse' />
  </message>
  <message name='getArticleByIdArticleIdRequestMessage'>
    <part name='parameters' element='tns:getArticleByIdArticleIdParameters' />
  </message>
  <message name='getArticleByIdArticleIdResponseMessage'>
    <part name='response' element='tns:getArticleByIdArticleIdResponse' />
  </message>
  <message name='getArticlesOffsetLimitRequestMessage'>
    <part name='parameters' element='tns:getArticlesOffsetLimitParameters' />
  </message>
  <message name='getArticlesOffsetLimitResponseMessage'>
    <part name='response' element='tns:getArticlesOffsetLimitResponse' />
  </message>
  <message name='getArticlesSearchTitleKeywordRequestMessage'>
    <part name='parameters' element='tns:getArticlesSearchTitleKeywordParameters' />
  </message>
  <message name='getArticlesSearchTitleKeywordResponseMessage'>
    <part name='response' element='tns:getArticlesSearchTitleKeywordResponse' />
  </message>
  <message name='getAuthorsArticleIdRequestMessage'>
    <part name='parameters' element='tns:getAuthorsArticleIdParameters' />
  </message>
  <message name='getAuthorsArticleIdResponseMessage'>
    <part name='response' element='tns:getAuthorsArticleIdResponse' />
  </message>
  <message name='getJournalArticleIdRequestMessage'>
    <part name='parameters' element='tns:getJournalArticleIdParameters' />
  </message>
  <message name='getJournalArticleIdResponseMessage'>
    <part name='response' element='tns:getJournalArticleIdResponse' />
  </message>
  <portType name='openAccessJournalsCorpusPortType'>
    <operation name='getArticleByAlternateIdAlternateId'>
      <documentation>get article with the specific alternate id</documentation>
      <input message='tns:getArticleByAlternateIdAlternateIdRequestMessage' name='getArticleByAlternateIdAlternateIdInput' />
      <output message='tns:getArticleByAlternateIdAlternateIdResponseMessage' name='getArticleByAlternateIdAlternateIdOutput' />
    </operation>
    <operation name='getArticleByIdArticleId'>
      <documentation>get article with the specific article id</documentation>
      <input message='tns:getArticleByIdArticleIdRequestMessage' name='getArticleByIdArticleIdInput' />
      <output message='tns:getArticleByIdArticleIdResponseMessage' name='getArticleByIdArticleIdOutput' />
    </operation>
    <operation name='getArticlesOffsetLimit'>
      <documentation>get articles</documentation>
      <input message='tns:getArticlesOffsetLimitRequestMessage' name='getArticlesOffsetLimitInput' />
      <output message='tns:getArticlesOffsetLimitResponseMessage' name='getArticlesOffsetLimitOutput' />
    </operation>
    <operation name='getArticlesSearchTitleKeyword'>
      <documentation>search for a Keyword in the title</documentation>
      <input message='tns:getArticlesSearchTitleKeywordRequestMessage' name='getArticlesSearchTitleKeywordInput' />
      <output message='tns:getArticlesSearchTitleKeywordResponseMessage' name='getArticlesSearchTitleKeywordOutput' />
    </operation>
    <operation name='getAuthorsArticleId'>
      <documentation>get a list of author name associated with the specified article id</documentation>
      <input message='tns:getAuthorsArticleIdRequestMessage' name='getAuthorsArticleIdInput' />
      <output message='tns:getAuthorsArticleIdResponseMessage' name='getAuthorsArticleIdOutput' />
    </operation>
    <operation name='getJournalArticleId'>
      <documentation>get journal name associated with the specified article id</documentation>
      <input message='tns:getJournalArticleIdRequestMessage' name='getJournalArticleIdInput' />
      <output message='tns:getJournalArticleIdResponseMessage' name='getJournalArticleIdOutput' />
    </operation>
  </portType>
  <binding name='openAccessJournalsCorpusBinding' type='tns:openAccessJournalsCorpusPortType'>
    <operation name='getArticleByAlternateIdAlternateId'>
      <soap12:operation soapAction='http://getArticleByAlternateIdAlternateId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getArticleByIdArticleId'>
      <soap12:operation soapAction='http://getArticleByIdArticleId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getArticlesOffsetLimit'>
      <soap12:operation soapAction='http://getArticlesOffsetLimit' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getArticlesSearchTitleKeyword'>
      <soap12:operation soapAction='http://getArticlesSearchTitleKeyword' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAuthorsArticleId'>
      <soap12:operation soapAction='http://getAuthorsArticleId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getJournalArticleId'>
      <soap12:operation soapAction='http://getJournalArticleId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='openAccessJournalsCorpus'>
    <documentation>simple API to access over million open access Research Papers and Journals</documentation>
    <port name='openAccessJournalsCorpusPort' binding='tns:openAccessJournalsCorpusBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://openAccessJournalsCorpus' />
    </port>
  </service>
</definitions>