workspace/datasets/mashape_dataset/openbadges.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/openbadges/' name='openbadges' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/openbadges/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/openbadges/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/openbadges/'>
      <xsd:element name='badgeFacebookShareParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='badgeFacebookShareResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='badgeFindParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='badgeFindResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='createdAt' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='issuer_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='criteria' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='issuer_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updatedAt' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='badgeOembedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='badgeOembedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='author_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='author_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='width' type='xsd:int' minOccurs='0' />
            <xsd:element name='provider_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='provider_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='height' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='badgeTwitterCardParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='badgeTwitterCardResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='filemanagerCreateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='file' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='filemanagerCreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='badgeId' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='badgeFacebookShareRequestMessage'>
    <part name='parameters' element='tns:badgeFacebookShareParameters' />
  </message>
  <message name='badgeFacebookShareResponseMessage'>
    <part name='response' element='tns:badgeFacebookShareResponse' />
  </message>
  <message name='badgeFindRequestMessage'>
    <part name='parameters' element='tns:badgeFindParameters' />
  </message>
  <message name='badgeFindResponseMessage'>
    <part name='response' element='tns:badgeFindResponse' />
  </message>
  <message name='badgeOembedRequestMessage'>
    <part name='parameters' element='tns:badgeOembedParameters' />
  </message>
  <message name='badgeOembedResponseMessage'>
    <part name='response' element='tns:badgeOembedResponse' />
  </message>
  <message name='badgeTwitterCardRequestMessage'>
    <part name='parameters' element='tns:badgeTwitterCardParameters' />
  </message>
  <message name='badgeTwitterCardResponseMessage'>
    <part name='response' element='tns:badgeTwitterCardResponse' />
  </message>
  <message name='filemanagerCreateRequestMessage'>
    <part name='parameters' element='tns:filemanagerCreateParameters' />
  </message>
  <message name='filemanagerCreateResponseMessage'>
    <part name='response' element='tns:filemanagerCreateResponse' />
  </message>
  <portType name='openbadgesPortType'>
    <operation name='badgeFacebookShare'>
      <documentation>get a facebook card</documentation>
      <input message='tns:badgeFacebookShareRequestMessage' name='badgeFacebookShareInput' />
      <output message='tns:badgeFacebookShareResponseMessage' name='badgeFacebookShareOutput' />
    </operation>
    <operation name='badgeFind'>
      <documentation>find a Badges</documentation>
      <input message='tns:badgeFindRequestMessage' name='badgeFindInput' />
      <output message='tns:badgeFindResponseMessage' name='badgeFindOutput' />
    </operation>
    <operation name='badgeOembed'>
      <documentation>get oembed badge</documentation>
      <input message='tns:badgeOembedRequestMessage' name='badgeOembedInput' />
      <output message='tns:badgeOembedResponseMessage' name='badgeOembedOutput' />
    </operation>
    <operation name='badgeTwitterCard'>
      <documentation>return a twitter card</documentation>
      <input message='tns:badgeTwitterCardRequestMessage' name='badgeTwitterCardInput' />
      <output message='tns:badgeTwitterCardResponseMessage' name='badgeTwitterCardOutput' />
    </operation>
    <operation name='filemanagerCreate'>
      <documentation>upload a openbadges</documentation>
      <input message='tns:filemanagerCreateRequestMessage' name='filemanagerCreateInput' />
      <output message='tns:filemanagerCreateResponseMessage' name='filemanagerCreateOutput' />
    </operation>
  </portType>
  <binding name='openbadgesBinding' type='tns:openbadgesPortType'>
    <operation name='badgeFacebookShare'>
      <soap12:operation soapAction='http://badgeFacebookShare' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='badgeFind'>
      <soap12:operation soapAction='http://badgeFind' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='badgeOembed'>
      <soap12:operation soapAction='http://badgeOembed' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='badgeTwitterCard'>
      <soap12:operation soapAction='http://badgeTwitterCard' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='filemanagerCreate'>
      <soap12:operation soapAction='http://filemanagerCreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='openbadges'>
    <documentation>upload and Share a Openbadges</documentation>
    <port name='openbadgesPort' binding='tns:openbadgesBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://openbadges' />
    </port>
  </service>
</definitions>