workspace/datasets/mashape_dataset/openexchangerates.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/openExchangeRates/' name='openExchangeRates' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/openExchangeRates/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/openExchangeRates/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/openExchangeRates/'>
      <xsd:element name='currenciesJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='FJD' type='xsd:string' minOccurs='0' />
            <xsd:element name='MXN' type='xsd:string' minOccurs='0' />
            <xsd:element name='STD' type='xsd:string' minOccurs='0' />
            <xsd:element name='LVL' type='xsd:string' minOccurs='0' />
            <xsd:element name='SCR' type='xsd:string' minOccurs='0' />
            <xsd:element name='CDF' type='xsd:string' minOccurs='0' />
            <xsd:element name='BBD' type='xsd:string' minOccurs='0' />
            <xsd:element name='GTQ' type='xsd:string' minOccurs='0' />
            <xsd:element name='CLP' type='xsd:string' minOccurs='0' />
            <xsd:element name='HNL' type='xsd:string' minOccurs='0' />
            <xsd:element name='UGX' type='xsd:string' minOccurs='0' />
            <xsd:element name='ZAR' type='xsd:string' minOccurs='0' />
            <xsd:element name='TND' type='xsd:string' minOccurs='0' />
            <xsd:element name='BSD' type='xsd:string' minOccurs='0' />
            <xsd:element name='SLL' type='xsd:string' minOccurs='0' />
            <xsd:element name='SDG' type='xsd:string' minOccurs='0' />
            <xsd:element name='IQD' type='xsd:string' minOccurs='0' />
            <xsd:element name='CUP' type='xsd:string' minOccurs='0' />
            <xsd:element name='GMD' type='xsd:string' minOccurs='0' />
            <xsd:element name='TWD' type='xsd:string' minOccurs='0' />
            <xsd:element name='RSD' type='xsd:string' minOccurs='0' />
            <xsd:element name='DOP' type='xsd:string' minOccurs='0' />
            <xsd:element name='KMF' type='xsd:string' minOccurs='0' />
            <xsd:element name='MYR' type='xsd:string' minOccurs='0' />
            <xsd:element name='FKP' type='xsd:string' minOccurs='0' />
            <xsd:element name='XOF' type='xsd:string' minOccurs='0' />
            <xsd:element name='GEL' type='xsd:string' minOccurs='0' />
            <xsd:element name='UYU' type='xsd:string' minOccurs='0' />
            <xsd:element name='MAD' type='xsd:string' minOccurs='0' />
            <xsd:element name='CVE' type='xsd:string' minOccurs='0' />
            <xsd:element name='TOP' type='xsd:string' minOccurs='0' />
            <xsd:element name='AZN' type='xsd:string' minOccurs='0' />
            <xsd:element name='OMR' type='xsd:string' minOccurs='0' />
            <xsd:element name='PGK' type='xsd:string' minOccurs='0' />
            <xsd:element name='KES' type='xsd:string' minOccurs='0' />
            <xsd:element name='SEK' type='xsd:string' minOccurs='0' />
            <xsd:element name='BTN' type='xsd:string' minOccurs='0' />
            <xsd:element name='UAH' type='xsd:string' minOccurs='0' />
            <xsd:element name='GNF' type='xsd:string' minOccurs='0' />
            <xsd:element name='MZN' type='xsd:string' minOccurs='0' />
            <xsd:element name='SVC' type='xsd:string' minOccurs='0' />
            <xsd:element name='ARS' type='xsd:string' minOccurs='0' />
            <xsd:element name='QAR' type='xsd:string' minOccurs='0' />
            <xsd:element name='IRR' type='xsd:string' minOccurs='0' />
            <xsd:element name='MRO' type='xsd:string' minOccurs='0' />
            <xsd:element name='CNY' type='xsd:string' minOccurs='0' />
            <xsd:element name='THB' type='xsd:string' minOccurs='0' />
            <xsd:element name='UZS' type='xsd:string' minOccurs='0' />
            <xsd:element name='XPF' type='xsd:string' minOccurs='0' />
            <xsd:element name='BDT' type='xsd:string' minOccurs='0' />
            <xsd:element name='LYD' type='xsd:string' minOccurs='0' />
            <xsd:element name='BMD' type='xsd:string' minOccurs='0' />
            <xsd:element name='KWD' type='xsd:string' minOccurs='0' />
            <xsd:element name='PHP' type='xsd:string' minOccurs='0' />
            <xsd:element name='RUB' type='xsd:string' minOccurs='0' />
            <xsd:element name='PYG' type='xsd:string' minOccurs='0' />
            <xsd:element name='ISK' type='xsd:string' minOccurs='0' />
            <xsd:element name='JMD' type='xsd:string' minOccurs='0' />
            <xsd:element name='COP' type='xsd:string' minOccurs='0' />
            <xsd:element name='MKD' type='xsd:string' minOccurs='0' />
            <xsd:element name='USD' type='xsd:string' minOccurs='0' />
            <xsd:element name='DZD' type='xsd:string' minOccurs='0' />
            <xsd:element name='PAB' type='xsd:string' minOccurs='0' />
            <xsd:element name='SGD' type='xsd:string' minOccurs='0' />
            <xsd:element name='ETB' type='xsd:string' minOccurs='0' />
            <xsd:element name='KGS' type='xsd:string' minOccurs='0' />
            <xsd:element name='SOS' type='xsd:string' minOccurs='0' />
            <xsd:element name='VEF' type='xsd:string' minOccurs='0' />
            <xsd:element name='VUV' type='xsd:string' minOccurs='0' />
            <xsd:element name='LAK' type='xsd:string' minOccurs='0' />
            <xsd:element name='BND' type='xsd:string' minOccurs='0' />
            <xsd:element name='ZMK' type='xsd:string' minOccurs='0' />
            <xsd:element name='XAF' type='xsd:string' minOccurs='0' />
            <xsd:element name='LRD' type='xsd:string' minOccurs='0' />
            <xsd:element name='CHF' type='xsd:string' minOccurs='0' />
            <xsd:element name='HRK' type='xsd:string' minOccurs='0' />
            <xsd:element name='ALL' type='xsd:string' minOccurs='0' />
            <xsd:element name='DJF' type='xsd:string' minOccurs='0' />
            <xsd:element name='TZS' type='xsd:string' minOccurs='0' />
            <xsd:element name='VND' type='xsd:string' minOccurs='0' />
            <xsd:element name='AUD' type='xsd:string' minOccurs='0' />
            <xsd:element name='ILS' type='xsd:string' minOccurs='0' />
            <xsd:element name='GHS' type='xsd:string' minOccurs='0' />
            <xsd:element name='GYD' type='xsd:string' minOccurs='0' />
            <xsd:element name='KPW' type='xsd:string' minOccurs='0' />
            <xsd:element name='BOB' type='xsd:string' minOccurs='0' />
            <xsd:element name='KHR' type='xsd:string' minOccurs='0' />
            <xsd:element name='MDL' type='xsd:string' minOccurs='0' />
            <xsd:element name='IDR' type='xsd:string' minOccurs='0' />
            <xsd:element name='AMD' type='xsd:string' minOccurs='0' />
            <xsd:element name='BWP' type='xsd:string' minOccurs='0' />
            <xsd:element name='SHP' type='xsd:string' minOccurs='0' />
            <xsd:element name='TRY' type='xsd:string' minOccurs='0' />
            <xsd:element name='LBP' type='xsd:string' minOccurs='0' />
            <xsd:element name='TJS' type='xsd:string' minOccurs='0' />
            <xsd:element name='JOD' type='xsd:string' minOccurs='0' />
            <xsd:element name='AED' type='xsd:string' minOccurs='0' />
            <xsd:element name='HKD' type='xsd:string' minOccurs='0' />
            <xsd:element name='RWF' type='xsd:string' minOccurs='0' />
            <xsd:element name='EUR' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='LSL' type='xsd:string' minOccurs='0' />
            <xsd:element name='DKK' type='xsd:string' minOccurs='0' />
            <xsd:element name='CAD' type='xsd:string' minOccurs='0' />
            <xsd:element name='BGN' type='xsd:string' minOccurs='0' />
            <xsd:element name='MMK' type='xsd:string' minOccurs='0' />
            <xsd:element name='MUR' type='xsd:string' minOccurs='0' />
            <xsd:element name='NOK' type='xsd:string' minOccurs='0' />
            <xsd:element name='SYP' type='xsd:string' minOccurs='0' />
            <xsd:element name='ZWL' type='xsd:string' minOccurs='0' />
            <xsd:element name='GIP' type='xsd:string' minOccurs='0' />
            <xsd:element name='RON' type='xsd:string' minOccurs='0' />
            <xsd:element name='LKR' type='xsd:string' minOccurs='0' />
            <xsd:element name='NGN' type='xsd:string' minOccurs='0' />
            <xsd:element name='CRC' type='xsd:string' minOccurs='0' />
            <xsd:element name='CZK' type='xsd:string' minOccurs='0' />
            <xsd:element name='PKR' type='xsd:string' minOccurs='0' />
            <xsd:element name='XCD' type='xsd:string' minOccurs='0' />
            <xsd:element name='ANG' type='xsd:string' minOccurs='0' />
            <xsd:element name='HTG' type='xsd:string' minOccurs='0' />
            <xsd:element name='BHD' type='xsd:string' minOccurs='0' />
            <xsd:element name='KZT' type='xsd:string' minOccurs='0' />
            <xsd:element name='SRD' type='xsd:string' minOccurs='0' />
            <xsd:element name='SZL' type='xsd:string' minOccurs='0' />
            <xsd:element name='LTL' type='xsd:string' minOccurs='0' />
            <xsd:element name='SAR' type='xsd:string' minOccurs='0' />
            <xsd:element name='TTD' type='xsd:string' minOccurs='0' />
            <xsd:element name='YER' type='xsd:string' minOccurs='0' />
            <xsd:element name='MVR' type='xsd:string' minOccurs='0' />
            <xsd:element name='AFN' type='xsd:string' minOccurs='0' />
            <xsd:element name='INR' type='xsd:string' minOccurs='0' />
            <xsd:element name='AWG' type='xsd:string' minOccurs='0' />
            <xsd:element name='KRW' type='xsd:string' minOccurs='0' />
            <xsd:element name='NPR' type='xsd:string' minOccurs='0' />
            <xsd:element name='JPY' type='xsd:string' minOccurs='0' />
            <xsd:element name='MNT' type='xsd:string' minOccurs='0' />
            <xsd:element name='AOA' type='xsd:string' minOccurs='0' />
            <xsd:element name='PLN' type='xsd:string' minOccurs='0' />
            <xsd:element name='GBP' type='xsd:string' minOccurs='0' />
            <xsd:element name='SBD' type='xsd:string' minOccurs='0' />
            <xsd:element name='HUF' type='xsd:string' minOccurs='0' />
            <xsd:element name='BYR' type='xsd:string' minOccurs='0' />
            <xsd:element name='BIF' type='xsd:string' minOccurs='0' />
            <xsd:element name='MWK' type='xsd:string' minOccurs='0' />
            <xsd:element name='MGA' type='xsd:string' minOccurs='0' />
            <xsd:element name='XDR' type='xsd:string' minOccurs='0' />
            <xsd:element name='BZD' type='xsd:string' minOccurs='0' />
            <xsd:element name='BAM' type='xsd:string' minOccurs='0' />
            <xsd:element name='EGP' type='xsd:string' minOccurs='0' />
            <xsd:element name='MOP' type='xsd:string' minOccurs='0' />
            <xsd:element name='NAD' type='xsd:string' minOccurs='0' />
            <xsd:element name='NIO' type='xsd:string' minOccurs='0' />
            <xsd:element name='PEN' type='xsd:string' minOccurs='0' />
            <xsd:element name='NZD' type='xsd:string' minOccurs='0' />
            <xsd:element name='WST' type='xsd:string' minOccurs='0' />
            <xsd:element name='TMT' type='xsd:string' minOccurs='0' />
            <xsd:element name='CLF' type='xsd:string' minOccurs='0' />
            <xsd:element name='BRL' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalYyyyMmDdJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='day' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='month' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='year' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='yearmonthday' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historicalYyyyMmDdJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='license' type='xsd:string' minOccurs='0' />
            <xsd:element name='rates' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='FJD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MXN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='STD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LVL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SCR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CDF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BBD' type='xsd:int' minOccurs='0' />
                  <xsd:element name='GTQ' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CLP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='HNL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='UGX' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ZAR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TND' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BSD' type='xsd:int' minOccurs='0' />
                  <xsd:element name='SLL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SDG' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='IQD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CUP' type='xsd:int' minOccurs='0' />
                  <xsd:element name='GMD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TWD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='RSD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='DOP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KMF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MYR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='FKP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='XOF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GEL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='UYU' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MAD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CVE' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TOP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AZN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='OMR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PGK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KES' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SEK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BTN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='UAH' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GNF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MZN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SVC' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ARS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='QAR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='IRR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MRO' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CNY' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='THB' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='UZS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='XPF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BDT' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LYD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BMD' type='xsd:int' minOccurs='0' />
                  <xsd:element name='KWD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PHP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='RUB' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PYG' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ISK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='JMD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='COP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MKD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='USD' type='xsd:int' minOccurs='0' />
                  <xsd:element name='DZD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PAB' type='xsd:int' minOccurs='0' />
                  <xsd:element name='SGD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ETB' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KGS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SOS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='VEF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='VUV' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LAK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BND' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ZMK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='XAF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LRD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CHF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='HRK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ALL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='DJF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TZS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='VND' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AUD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ILS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GHS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GYD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KPW' type='xsd:int' minOccurs='0' />
                  <xsd:element name='BOB' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KHR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MDL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='IDR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AMD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BWP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SHP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TRY' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LBP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TJS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='JOD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AED' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='HKD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='RWF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='EUR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LSL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='DKK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CAD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BGN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MMK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MUR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NOK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SYP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ZWL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GIP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='RON' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LKR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NGN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CRC' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CZK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PKR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='XCD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ANG' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='HTG' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BHD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KZT' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SRD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SZL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LTL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SAR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TTD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='YER' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MVR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AFN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='INR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AWG' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KRW' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NPR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='JPY' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MNT' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AOA' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PLN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GBP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SBD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='HUF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BYR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BIF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MWK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MGA' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='XDR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BZD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BAM' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='EGP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MOP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NAD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NIO' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PEN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NZD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='WST' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TMT' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CLF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BRL' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='disclaimer' type='xsd:string' minOccurs='0' />
            <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
            <xsd:element name='base' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='latestJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='license' type='xsd:string' minOccurs='0' />
            <xsd:element name='rates' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='FJD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MXN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='STD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LVL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SCR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CDF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BBD' type='xsd:int' minOccurs='0' />
                  <xsd:element name='GTQ' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CLP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='HNL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='UGX' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ZAR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TND' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BSD' type='xsd:int' minOccurs='0' />
                  <xsd:element name='SLL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SDG' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='IQD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CUP' type='xsd:int' minOccurs='0' />
                  <xsd:element name='GMD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TWD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='RSD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='DOP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KMF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MYR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='FKP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='XOF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GEL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='UYU' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MAD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CVE' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TOP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AZN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='OMR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PGK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KES' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SEK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BTN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='UAH' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GNF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MZN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SVC' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ARS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='QAR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='IRR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MRO' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CNY' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='THB' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='UZS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='XPF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BDT' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LYD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BMD' type='xsd:int' minOccurs='0' />
                  <xsd:element name='KWD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PHP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='RUB' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PYG' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ISK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='JMD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='COP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MKD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='USD' type='xsd:int' minOccurs='0' />
                  <xsd:element name='DZD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PAB' type='xsd:int' minOccurs='0' />
                  <xsd:element name='SGD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ETB' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KGS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SOS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='VEF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='VUV' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LAK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BND' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ZMK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='XAF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LRD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CHF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='HRK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ALL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='DJF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TZS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='VND' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AUD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ILS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GHS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GYD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KPW' type='xsd:int' minOccurs='0' />
                  <xsd:element name='BOB' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KHR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MDL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='IDR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AMD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BWP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SHP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TRY' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LBP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TJS' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='JOD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AED' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='HKD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='RWF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='EUR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LSL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='DKK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CAD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BGN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MMK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MUR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NOK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SYP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ZWL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GIP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='RON' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LKR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NGN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CRC' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CZK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PKR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='XCD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='ANG' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='HTG' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BHD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KZT' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SRD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SZL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='LTL' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SAR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TTD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='YER' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MVR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AFN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='INR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AWG' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='KRW' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NPR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='JPY' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MNT' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='AOA' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PLN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='GBP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SBD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='HUF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BYR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BIF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MWK' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MGA' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='XDR' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BZD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BAM' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='EGP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MOP' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NAD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NIO' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='PEN' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='NZD' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='WST' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='TMT' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CLF' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='BRL' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='disclaimer' type='xsd:string' minOccurs='0' />
            <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
            <xsd:element name='base' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='currenciesJsonRequestMessage' />
  <message name='currenciesJsonResponseMessage'>
    <part name='response' element='tns:currenciesJsonResponse' />
  </message>
  <message name='historicalYyyyMmDdJsonRequestMessage'>
    <part name='parameters' element='tns:historicalYyyyMmDdJsonParameters' />
  </message>
  <message name='historicalYyyyMmDdJsonResponseMessage'>
    <part name='response' element='tns:historicalYyyyMmDdJsonResponse' />
  </message>
  <message name='latestJsonRequestMessage' />
  <message name='latestJsonResponseMessage'>
    <part name='response' element='tns:latestJsonResponse' />
  </message>
  <portType name='openExchangeRatesPortType'>
    <operation name='currenciesJson'>
      <documentation>object containing currency names labeled by their international standard letter currency codes</documentation>
      <input message='tns:currenciesJsonRequestMessage' name='currenciesJsonInput' />
      <output message='tns:currenciesJsonResponseMessage' name='currenciesJsonOutput' />
    </operation>
    <operation name='historicalYyyyMmDdJson'>
      <documentation>historical End Of Day exchange rates for any given date from st January</documentation>
      <input message='tns:historicalYyyyMmDdJsonRequestMessage' name='historicalYyyyMmDdJsonInput' />
      <output message='tns:historicalYyyyMmDdJsonResponseMessage' name='historicalYyyyMmDdJsonOutput' />
    </operation>
    <operation name='latestJson'>
      <documentation>the latest conversion rates from Open Exchange Rates</documentation>
      <input message='tns:latestJsonRequestMessage' name='latestJsonInput' />
      <output message='tns:latestJsonResponseMessage' name='latestJsonOutput' />
    </operation>
  </portType>
  <binding name='openExchangeRatesBinding' type='tns:openExchangeRatesPortType'>
    <operation name='currenciesJson'>
      <soap12:operation soapAction='http://currenciesJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='historicalYyyyMmDdJson'>
      <soap12:operation soapAction='http://historicalYyyyMmDdJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='latestJson'>
      <soap12:operation soapAction='http://latestJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='openExchangeRates'>
    <documentation>real time Exchange Rates designed just for Developers simple fast and accurate JSON currency API with prices for world currencies historical data back to jump over to https openexchangerates org for more info</documentation>
    <port name='openExchangeRatesPort' binding='tns:openExchangeRatesBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://openExchangeRates' />
    </port>
  </service>
</definitions>