workspace/datasets/mashape_dataset/openapi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/openapi/' name='openapi' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/openapi/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/openapi/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/openapi/'>
      <xsd:element name='agenciesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='agencies' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='geoarea' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='agenciesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='rate_limit' type='xsd:int' minOccurs='0' />
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='bounding_box' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timezone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='agency_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='short_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='position' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='long_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='api_latest_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='generated_on' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='api_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='expires_in' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='arrivalEstimatesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='agencies' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='routes' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stops' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='arrivalEstimatesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='rate_limit' type='xsd:int' minOccurs='0' />
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='arrivals' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='route_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='vehicle_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='arrival_at' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='stop_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='agency_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='api_latest_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='generated_on' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='api_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='expires_in' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='routesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='agencies' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='geoarea' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='routesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='rate_limit' type='xsd:int' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n16' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='route_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='is_active' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='color' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='agency_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='is_hidden' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='long_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:string' minOccurs='0' />
                        <xsd:element name='segments' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='array' type='xsd:int' maxOccurs='unbounded' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='short_name' type='xsd:int' minOccurs='0' />
                        <xsd:element name='text_color' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='stops' type='xsd:int' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='api_latest_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='generated_on' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='api_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='expires_in' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='segmentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='agencies' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='geoarea' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='routes' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='segmentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='rate_limit' type='xsd:int' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n4001444' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4000410' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4065755' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4000565' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4000070' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4001370' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4000409' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4000481' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4000383' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4065759' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4000484' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n4001441' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='api_latest_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='generated_on' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='api_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='expires_in' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stopsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='agencies' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='geoarea' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stopsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='rate_limit' type='xsd:int' minOccurs='0' />
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='routes' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='station_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='stop_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='agency_ids' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='location' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='parent_station_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:string' minOccurs='0' />
                  <xsd:element name='location_type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='api_latest_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='generated_on' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='api_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='expires_in' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vehiclesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='agencies' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='geoarea' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='routes' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vehiclesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='rate_limit' type='xsd:int' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n16' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='route_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='heading' type='xsd:int' minOccurs='0' />
                        <xsd:element name='tracking_status' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='last_updated_on' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='location' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='segment_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='vehicle_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='speed' type='xsd:int' minOccurs='0' />
                        <xsd:element name='call_name' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='api_latest_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='generated_on' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='api_version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='expires_in' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='agenciesRequestMessage'>
    <part name='parameters' element='tns:agenciesParameters' />
  </message>
  <message name='agenciesResponseMessage'>
    <part name='response' element='tns:agenciesResponse' />
  </message>
  <message name='arrivalEstimatesRequestMessage'>
    <part name='parameters' element='tns:arrivalEstimatesParameters' />
  </message>
  <message name='arrivalEstimatesResponseMessage'>
    <part name='response' element='tns:arrivalEstimatesResponse' />
  </message>
  <message name='routesRequestMessage'>
    <part name='parameters' element='tns:routesParameters' />
  </message>
  <message name='routesResponseMessage'>
    <part name='response' element='tns:routesResponse' />
  </message>
  <message name='segmentsRequestMessage'>
    <part name='parameters' element='tns:segmentsParameters' />
  </message>
  <message name='segmentsResponseMessage'>
    <part name='response' element='tns:segmentsResponse' />
  </message>
  <message name='stopsRequestMessage'>
    <part name='parameters' element='tns:stopsParameters' />
  </message>
  <message name='stopsResponseMessage'>
    <part name='response' element='tns:stopsResponse' />
  </message>
  <message name='vehiclesRequestMessage'>
    <part name='parameters' element='tns:vehiclesParameters' />
  </message>
  <message name='vehiclesResponseMessage'>
    <part name='response' element='tns:vehiclesResponse' />
  </message>
  <portType name='openapiPortType'>
    <operation name='agencies'>
      <documentation>this resource contains a list of agencies along with their properties It may be restricted by a geographical area filter to retrieve only a list of agencies in a particular area of interest It may also be restricted by agencies IDs</documentation>
      <input message='tns:agenciesRequestMessage' name='agenciesInput' />
      <output message='tns:agenciesResponseMessage' name='agenciesOutput' />
    </operation>
    <operation name='arrivalEstimates'>
      <documentation>this resource contains a list of arrival estimates separated by stops When accessing this resource you must specify either a list of agencies a list of routes or a list of stops</documentation>
      <input message='tns:arrivalEstimatesRequestMessage' name='arrivalEstimatesInput' />
      <output message='tns:arrivalEstimatesResponseMessage' name='arrivalEstimatesOutput' />
    </operation>
    <operation name='routes'>
      <documentation>this resource contains a list of routes It must be restricted by agencies IDs It may be restricted by a geographical area filter to retrieve only a list of routes in a particular area</documentation>
      <input message='tns:routesRequestMessage' name='routesInput' />
      <output message='tns:routesResponseMessage' name='routesOutput' />
    </operation>
    <operation name='segments'>
      <documentation>this resource contains a list of all the segments that are required to visualize routes It must be restricted by agencies ID s It may be restricted by a geographical area filter to retreive only a list of segments in a particular area It may also be restricted by route ID s</documentation>
      <input message='tns:segmentsRequestMessage' name='segmentsInput' />
      <output message='tns:segmentsResponseMessage' name='segmentsOutput' />
    </operation>
    <operation name='stops'>
      <documentation>this resource contains a list of stops It must be restricted by agencies IDs It may be restricted by a geographical area filter to retreive only a list of stops in a particular area</documentation>
      <input message='tns:stopsRequestMessage' name='stopsInput' />
      <output message='tns:stopsResponseMessage' name='stopsOutput' />
    </operation>
    <operation name='vehicles'>
      <documentation>this resource contains a list of vehicle their properties and their locations It must be restricted by agencies IDs It may be further restricted by a geographical area filter to retrieve only the list of routes in a particular area of interest It may also be restricted by a list of route ID s</documentation>
      <input message='tns:vehiclesRequestMessage' name='vehiclesInput' />
      <output message='tns:vehiclesResponseMessage' name='vehiclesOutput' />
    </operation>
  </portType>
  <binding name='openapiBinding' type='tns:openapiPortType'>
    <operation name='agencies'>
      <soap12:operation soapAction='http://agencies' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='arrivalEstimates'>
      <soap12:operation soapAction='http://arrivalEstimates' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='routes'>
      <soap12:operation soapAction='http://routes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='segments'>
      <soap12:operation soapAction='http://segments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stops'>
      <soap12:operation soapAction='http://stops' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='vehicles'>
      <soap12:operation soapAction='http://vehicles' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='openapi'>
    <documentation>the TransLoc PublicAPI is a RESTful API which allows you to incorporate real time vehicle tracking information into your web or mobile applications It exposes several resources that allow you to access real time information about transit systems tracked by TransLoc Inc</documentation>
    <port name='openapiPort' binding='tns:openapiBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://openapi' />
    </port>
  </service>
</definitions>