workspace/datasets/mashape_dataset/osmosis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/osmosis/' name='osmosis' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/osmosis/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/osmosis/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/osmosis/'>
      <xsd:element name='createANewClientResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewQuestionnaireForAClientResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewZapierEventSubscriptionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAndSendANewQuestionnaireForAClientResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfAcceptedProposalsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfAllYourClientsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfDeclinedProposalsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfDraftProposalsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfSentProposalsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getASpecificClientParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getASpecificClientResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAStreamOfAllYourRecentActivitiesLastDaysResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTheQuestionnairesTaggedAsDraftResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtcParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtcResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postActivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeAZapierSubscriptionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='returnASampleListOfAgreementVerdictsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='returnASampleListOfProposalViewedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAClientParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAClientResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createANewClientRequestMessage' />
  <message name='createANewClientResponseMessage'>
    <part name='response' element='tns:createANewClientResponse' />
  </message>
  <message name='createANewQuestionnaireForAClientRequestMessage' />
  <message name='createANewQuestionnaireForAClientResponseMessage'>
    <part name='response' element='tns:createANewQuestionnaireForAClientResponse' />
  </message>
  <message name='createANewZapierEventSubscriptionRequestMessage' />
  <message name='createANewZapierEventSubscriptionResponseMessage'>
    <part name='response' element='tns:createANewZapierEventSubscriptionResponse' />
  </message>
  <message name='createAndSendANewQuestionnaireForAClientRequestMessage' />
  <message name='createAndSendANewQuestionnaireForAClientResponseMessage'>
    <part name='response' element='tns:createAndSendANewQuestionnaireForAClientResponse' />
  </message>
  <message name='getAListOfAcceptedProposalsRequestMessage' />
  <message name='getAListOfAcceptedProposalsResponseMessage'>
    <part name='response' element='tns:getAListOfAcceptedProposalsResponse' />
  </message>
  <message name='getAListOfAllYourClientsRequestMessage' />
  <message name='getAListOfAllYourClientsResponseMessage'>
    <part name='response' element='tns:getAListOfAllYourClientsResponse' />
  </message>
  <message name='getAListOfDeclinedProposalsRequestMessage' />
  <message name='getAListOfDeclinedProposalsResponseMessage'>
    <part name='response' element='tns:getAListOfDeclinedProposalsResponse' />
  </message>
  <message name='getAListOfDraftProposalsRequestMessage' />
  <message name='getAListOfDraftProposalsResponseMessage'>
    <part name='response' element='tns:getAListOfDraftProposalsResponse' />
  </message>
  <message name='getAListOfSentProposalsRequestMessage' />
  <message name='getAListOfSentProposalsResponseMessage'>
    <part name='response' element='tns:getAListOfSentProposalsResponse' />
  </message>
  <message name='getASpecificClientRequestMessage'>
    <part name='parameters' element='tns:getASpecificClientParameters' />
  </message>
  <message name='getASpecificClientResponseMessage'>
    <part name='response' element='tns:getASpecificClientResponse' />
  </message>
  <message name='getAStreamOfAllYourRecentActivitiesLastDaysRequestMessage' />
  <message name='getAStreamOfAllYourRecentActivitiesLastDaysResponseMessage'>
    <part name='response' element='tns:getAStreamOfAllYourRecentActivitiesLastDaysResponse' />
  </message>
  <message name='getTheQuestionnairesTaggedAsDraftRequestMessage' />
  <message name='getTheQuestionnairesTaggedAsDraftResponseMessage'>
    <part name='response' element='tns:getTheQuestionnairesTaggedAsDraftResponse' />
  </message>
  <message name='permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtcRequestMessage'>
    <part name='parameters' element='tns:permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtcParameters' />
  </message>
  <message name='permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtcResponseMessage'>
    <part name='response' element='tns:permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtcResponse' />
  </message>
  <message name='postActivityRequestMessage' />
  <message name='postActivityResponseMessage'>
    <part name='response' element='tns:postActivityResponse' />
  </message>
  <message name='removeAZapierSubscriptionRequestMessage' />
  <message name='removeAZapierSubscriptionResponseMessage'>
    <part name='response' element='tns:removeAZapierSubscriptionResponse' />
  </message>
  <message name='returnASampleListOfAgreementVerdictsRequestMessage' />
  <message name='returnASampleListOfAgreementVerdictsResponseMessage'>
    <part name='response' element='tns:returnASampleListOfAgreementVerdictsResponse' />
  </message>
  <message name='returnASampleListOfProposalViewedRequestMessage' />
  <message name='returnASampleListOfProposalViewedResponseMessage'>
    <part name='response' element='tns:returnASampleListOfProposalViewedResponse' />
  </message>
  <message name='updateAClientRequestMessage'>
    <part name='parameters' element='tns:updateAClientParameters' />
  </message>
  <message name='updateAClientResponseMessage'>
    <part name='response' element='tns:updateAClientResponse' />
  </message>
  <portType name='osmosisPortType'>
    <operation name='createANewClient'>
      <documentation></documentation>
      <input message='tns:createANewClientRequestMessage' name='createANewClientInput' />
      <output message='tns:createANewClientResponseMessage' name='createANewClientOutput' />
    </operation>
    <operation name='createANewQuestionnaireForAClient'>
      <documentation></documentation>
      <input message='tns:createANewQuestionnaireForAClientRequestMessage' name='createANewQuestionnaireForAClientInput' />
      <output message='tns:createANewQuestionnaireForAClientResponseMessage' name='createANewQuestionnaireForAClientOutput' />
    </operation>
    <operation name='createANewZapierEventSubscription'>
      <documentation></documentation>
      <input message='tns:createANewZapierEventSubscriptionRequestMessage' name='createANewZapierEventSubscriptionInput' />
      <output message='tns:createANewZapierEventSubscriptionResponseMessage' name='createANewZapierEventSubscriptionOutput' />
    </operation>
    <operation name='createAndSendANewQuestionnaireForAClient'>
      <documentation></documentation>
      <input message='tns:createAndSendANewQuestionnaireForAClientRequestMessage' name='createAndSendANewQuestionnaireForAClientInput' />
      <output message='tns:createAndSendANewQuestionnaireForAClientResponseMessage' name='createAndSendANewQuestionnaireForAClientOutput' />
    </operation>
    <operation name='getAListOfAcceptedProposals'>
      <documentation></documentation>
      <input message='tns:getAListOfAcceptedProposalsRequestMessage' name='getAListOfAcceptedProposalsInput' />
      <output message='tns:getAListOfAcceptedProposalsResponseMessage' name='getAListOfAcceptedProposalsOutput' />
    </operation>
    <operation name='getAListOfAllYourClients'>
      <documentation></documentation>
      <input message='tns:getAListOfAllYourClientsRequestMessage' name='getAListOfAllYourClientsInput' />
      <output message='tns:getAListOfAllYourClientsResponseMessage' name='getAListOfAllYourClientsOutput' />
    </operation>
    <operation name='getAListOfDeclinedProposals'>
      <documentation></documentation>
      <input message='tns:getAListOfDeclinedProposalsRequestMessage' name='getAListOfDeclinedProposalsInput' />
      <output message='tns:getAListOfDeclinedProposalsResponseMessage' name='getAListOfDeclinedProposalsOutput' />
    </operation>
    <operation name='getAListOfDraftProposals'>
      <documentation></documentation>
      <input message='tns:getAListOfDraftProposalsRequestMessage' name='getAListOfDraftProposalsInput' />
      <output message='tns:getAListOfDraftProposalsResponseMessage' name='getAListOfDraftProposalsOutput' />
    </operation>
    <operation name='getAListOfSentProposals'>
      <documentation></documentation>
      <input message='tns:getAListOfSentProposalsRequestMessage' name='getAListOfSentProposalsInput' />
      <output message='tns:getAListOfSentProposalsResponseMessage' name='getAListOfSentProposalsOutput' />
    </operation>
    <operation name='getASpecificClient'>
      <documentation></documentation>
      <input message='tns:getASpecificClientRequestMessage' name='getASpecificClientInput' />
      <output message='tns:getASpecificClientResponseMessage' name='getASpecificClientOutput' />
    </operation>
    <operation name='getAStreamOfAllYourRecentActivitiesLastDays'>
      <documentation></documentation>
      <input message='tns:getAStreamOfAllYourRecentActivitiesLastDaysRequestMessage' name='getAStreamOfAllYourRecentActivitiesLastDaysInput' />
      <output message='tns:getAStreamOfAllYourRecentActivitiesLastDaysResponseMessage' name='getAStreamOfAllYourRecentActivitiesLastDaysOutput' />
    </operation>
    <operation name='getTheQuestionnairesTaggedAsDraft'>
      <documentation></documentation>
      <input message='tns:getTheQuestionnairesTaggedAsDraftRequestMessage' name='getTheQuestionnairesTaggedAsDraftInput' />
      <output message='tns:getTheQuestionnairesTaggedAsDraftResponseMessage' name='getTheQuestionnairesTaggedAsDraftOutput' />
    </operation>
    <operation name='permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtc'>
      <documentation></documentation>
      <input message='tns:permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtcRequestMessage' name='permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtcInput' />
      <output message='tns:permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtcResponseMessage' name='permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtcOutput' />
    </operation>
    <operation name='postActivity'>
      <documentation></documentation>
      <input message='tns:postActivityRequestMessage' name='postActivityInput' />
      <output message='tns:postActivityResponseMessage' name='postActivityOutput' />
    </operation>
    <operation name='removeAZapierSubscription'>
      <documentation></documentation>
      <input message='tns:removeAZapierSubscriptionRequestMessage' name='removeAZapierSubscriptionInput' />
      <output message='tns:removeAZapierSubscriptionResponseMessage' name='removeAZapierSubscriptionOutput' />
    </operation>
    <operation name='returnASampleListOfAgreementVerdicts'>
      <documentation></documentation>
      <input message='tns:returnASampleListOfAgreementVerdictsRequestMessage' name='returnASampleListOfAgreementVerdictsInput' />
      <output message='tns:returnASampleListOfAgreementVerdictsResponseMessage' name='returnASampleListOfAgreementVerdictsOutput' />
    </operation>
    <operation name='returnASampleListOfProposalViewed'>
      <documentation></documentation>
      <input message='tns:returnASampleListOfProposalViewedRequestMessage' name='returnASampleListOfProposalViewedInput' />
      <output message='tns:returnASampleListOfProposalViewedResponseMessage' name='returnASampleListOfProposalViewedOutput' />
    </operation>
    <operation name='updateAClient'>
      <documentation></documentation>
      <input message='tns:updateAClientRequestMessage' name='updateAClientInput' />
      <output message='tns:updateAClientResponseMessage' name='updateAClientOutput' />
    </operation>
  </portType>
  <binding name='osmosisBinding' type='tns:osmosisPortType'>
    <operation name='createANewClient'>
      <soap12:operation soapAction='http://createANewClient' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createANewQuestionnaireForAClient'>
      <soap12:operation soapAction='http://createANewQuestionnaireForAClient' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createANewZapierEventSubscription'>
      <soap12:operation soapAction='http://createANewZapierEventSubscription' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAndSendANewQuestionnaireForAClient'>
      <soap12:operation soapAction='http://createAndSendANewQuestionnaireForAClient' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAListOfAcceptedProposals'>
      <soap12:operation soapAction='http://getAListOfAcceptedProposals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAListOfAllYourClients'>
      <soap12:operation soapAction='http://getAListOfAllYourClients' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAListOfDeclinedProposals'>
      <soap12:operation soapAction='http://getAListOfDeclinedProposals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAListOfDraftProposals'>
      <soap12:operation soapAction='http://getAListOfDraftProposals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAListOfSentProposals'>
      <soap12:operation soapAction='http://getAListOfSentProposals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getASpecificClient'>
      <soap12:operation soapAction='http://getASpecificClient' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAStreamOfAllYourRecentActivitiesLastDays'>
      <soap12:operation soapAction='http://getAStreamOfAllYourRecentActivitiesLastDays' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTheQuestionnairesTaggedAsDraft'>
      <soap12:operation soapAction='http://getTheQuestionnairesTaggedAsDraft' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtc'>
      <soap12:operation soapAction='http://permanentlyDeleteAClientsAndAllOfTheirRelatedAssetsQuestionairesAgreementsEtc' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postActivity'>
      <soap12:operation soapAction='http://postActivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeAZapierSubscription'>
      <soap12:operation soapAction='http://removeAZapierSubscription' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='returnASampleListOfAgreementVerdicts'>
      <soap12:operation soapAction='http://returnASampleListOfAgreementVerdicts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='returnASampleListOfProposalViewed'>
      <soap12:operation soapAction='http://returnASampleListOfProposalViewed' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAClient'>
      <soap12:operation soapAction='http://updateAClient' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='osmosis'>
    <documentation>you can access your data via our simple RESTful API We are still adding new resources to this API so be careful The main goal of this API is to connect with other applications so your data can be exchanged based on your preferences auth Each of your requests should include the query string key The value must be your API key found on your Settings page url The API URL is https www getosmosis com api resource method i e https www getosmosis com api Activities Push</documentation>
    <port name='osmosisPort' binding='tns:osmosisBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://osmosis' />
    </port>
  </service>
</definitions>