workspace/datasets/mashape_dataset/pangalinknet.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/pangalinkNet/' name='pangalinkNet' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/pangalinkNet/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/pangalinkNet/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/pangalinkNet/'>
      <xsd:element name='addNewPaymentProjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='payment_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='bank_certificate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='private_key' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='client_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAvailableBanksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPaymentProjectsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='startindex' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPaymentProjectsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start_index' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end_index' type='xsd:int' minOccurs='0' />
                  <xsd:element name='list' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removePaymentProjectParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removePaymentProjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showPaymentProjectParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showPaymentProjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='payment_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='bank_certificate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='private_key' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='client_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addNewPaymentProjectRequestMessage' />
  <message name='addNewPaymentProjectResponseMessage'>
    <part name='response' element='tns:addNewPaymentProjectResponse' />
  </message>
  <message name='listAvailableBanksRequestMessage' />
  <message name='listAvailableBanksResponseMessage'>
    <part name='response' element='tns:listAvailableBanksResponse' />
  </message>
  <message name='listPaymentProjectsRequestMessage'>
    <part name='parameters' element='tns:listPaymentProjectsParameters' />
  </message>
  <message name='listPaymentProjectsResponseMessage'>
    <part name='response' element='tns:listPaymentProjectsResponse' />
  </message>
  <message name='removePaymentProjectRequestMessage'>
    <part name='parameters' element='tns:removePaymentProjectParameters' />
  </message>
  <message name='removePaymentProjectResponseMessage'>
    <part name='response' element='tns:removePaymentProjectResponse' />
  </message>
  <message name='showPaymentProjectRequestMessage'>
    <part name='parameters' element='tns:showPaymentProjectParameters' />
  </message>
  <message name='showPaymentProjectResponseMessage'>
    <part name='response' element='tns:showPaymentProjectResponse' />
  </message>
  <portType name='pangalinkNetPortType'>
    <operation name='addNewPaymentProject'>
      <documentation></documentation>
      <input message='tns:addNewPaymentProjectRequestMessage' name='addNewPaymentProjectInput' />
      <output message='tns:addNewPaymentProjectResponseMessage' name='addNewPaymentProjectOutput' />
    </operation>
    <operation name='listAvailableBanks'>
      <documentation></documentation>
      <input message='tns:listAvailableBanksRequestMessage' name='listAvailableBanksInput' />
      <output message='tns:listAvailableBanksResponseMessage' name='listAvailableBanksOutput' />
    </operation>
    <operation name='listPaymentProjects'>
      <documentation></documentation>
      <input message='tns:listPaymentProjectsRequestMessage' name='listPaymentProjectsInput' />
      <output message='tns:listPaymentProjectsResponseMessage' name='listPaymentProjectsOutput' />
    </operation>
    <operation name='removePaymentProject'>
      <documentation></documentation>
      <input message='tns:removePaymentProjectRequestMessage' name='removePaymentProjectInput' />
      <output message='tns:removePaymentProjectResponseMessage' name='removePaymentProjectOutput' />
    </operation>
    <operation name='showPaymentProject'>
      <documentation>details for a payment project</documentation>
      <input message='tns:showPaymentProjectRequestMessage' name='showPaymentProjectInput' />
      <output message='tns:showPaymentProjectResponseMessage' name='showPaymentProjectOutput' />
    </operation>
  </portType>
  <binding name='pangalinkNetBinding' type='tns:pangalinkNetPortType'>
    <operation name='addNewPaymentProject'>
      <soap12:operation soapAction='http://addNewPaymentProject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAvailableBanks'>
      <soap12:operation soapAction='http://listAvailableBanks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listPaymentProjects'>
      <soap12:operation soapAction='http://listPaymentProjects' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removePaymentProject'>
      <soap12:operation soapAction='http://removePaymentProject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='showPaymentProject'>
      <soap12:operation soapAction='http://showPaymentProject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='pangalinkNet'>
    <documentation>manage Pangalink net payment projects Pangalink net allows you to test Estonian banklink payment systems by emulating different banks</documentation>
    <port name='pangalinkNetPort' binding='tns:pangalinkNetBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://pangalinkNet' />
    </port>
  </service>
</definitions>