workspace/datasets/mashape_dataset/passwordtools.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/passwordTools/' name='passwordTools' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/passwordTools/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/passwordTools/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/passwordTools/'>
      <xsd:element name='checkhashParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='hash' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkhashResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='passwordMatches' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkstrengthParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkstrengthResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='strength' type='xsd:int' minOccurs='0' />
            <xsd:element name='details' type='xsd:string' minOccurs='0' />
            <xsd:element name='text' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='error' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='length' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='numericcharsnum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbolscharsnum' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uppercasecharsnum' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='passwordMatches' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hashParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hashResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='checkhashRequestMessage'>
    <part name='parameters' element='tns:checkhashParameters' />
  </message>
  <message name='checkhashResponseMessage'>
    <part name='response' element='tns:checkhashResponse' />
  </message>
  <message name='checkstrengthRequestMessage'>
    <part name='parameters' element='tns:checkstrengthParameters' />
  </message>
  <message name='checkstrengthResponseMessage'>
    <part name='response' element='tns:checkstrengthResponse' />
  </message>
  <message name='generateRequestMessage'>
    <part name='parameters' element='tns:generateParameters' />
  </message>
  <message name='generateResponseMessage'>
    <part name='response' element='tns:generateResponse' />
  </message>
  <message name='hashRequestMessage'>
    <part name='parameters' element='tns:hashParameters' />
  </message>
  <message name='hashResponseMessage'>
    <part name='response' element='tns:hashResponse' />
  </message>
  <portType name='passwordToolsPortType'>
    <operation name='checkhash'>
      <documentation>verifies that a plain text password usually submitted by the user matches the previously generated and stored hash</documentation>
      <input message='tns:checkhashRequestMessage' name='checkhashInput' />
      <output message='tns:checkhashResponseMessage' name='checkhashOutput' />
    </operation>
    <operation name='checkstrength'>
      <documentation>strength level of a provided password</documentation>
      <input message='tns:checkstrengthRequestMessage' name='checkstrengthInput' />
      <output message='tns:checkstrengthResponseMessage' name='checkstrengthOutput' />
    </operation>
    <operation name='generate'>
      <documentation>generates a random password You can optionally choose the length default is and the amount of numeric characters uppercase letters or symbols</documentation>
      <input message='tns:generateRequestMessage' name='generateInput' />
      <output message='tns:generateResponseMessage' name='generateOutput' />
    </operation>
    <operation name='hash'>
      <documentation>generates a password hash by using the OpenBSD style Blowfish based bcrypt</documentation>
      <input message='tns:hashRequestMessage' name='hashInput' />
      <output message='tns:hashResponseMessage' name='hashOutput' />
    </operation>
  </portType>
  <binding name='passwordToolsBinding' type='tns:passwordToolsPortType'>
    <operation name='checkhash'>
      <soap12:operation soapAction='http://checkhash' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='checkstrength'>
      <soap12:operation soapAction='http://checkstrength' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generate'>
      <soap12:operation soapAction='http://generate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='hash'>
      <soap12:operation soapAction='http://hash' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='passwordTools'>
    <documentation>provides a set of API for generating strong passwords checking a password strength generating a password hash and verifying it</documentation>
    <port name='passwordToolsPort' binding='tns:passwordToolsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://passwordTools' />
    </port>
  </service>
</definitions>