workspace/datasets/mashape_dataset/passwdmerandompasswordgeneration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/passwdMeRandomPasswordGeneration/' name='passwdMeRandomPasswordGeneration' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/passwdMeRandomPasswordGeneration/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/passwdMeRandomPasswordGeneration/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/passwdMeRandomPasswordGeneration/'>
      <xsd:element name='getPasswordJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='charset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='length' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='separator' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPasswordJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='length' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPasswordTxtParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='charset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='length' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='separator' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPasswordTxtResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getPasswordJsonRequestMessage'>
    <part name='parameters' element='tns:getPasswordJsonParameters' />
  </message>
  <message name='getPasswordJsonResponseMessage'>
    <part name='response' element='tns:getPasswordJsonResponse' />
  </message>
  <message name='getPasswordTxtRequestMessage'>
    <part name='parameters' element='tns:getPasswordTxtParameters' />
  </message>
  <message name='getPasswordTxtResponseMessage'>
    <part name='response' element='tns:getPasswordTxtResponse' />
  </message>
  <portType name='passwdMeRandomPasswordGenerationPortType'>
    <operation name='getPasswordJson'>
      <input message='tns:getPasswordJsonRequestMessage' name='getPasswordJsonInput' />
      <output message='tns:getPasswordJsonResponseMessage' name='getPasswordJsonOutput' />
    </operation>
    <operation name='getPasswordTxt'>
      <documentation></documentation>
      <input message='tns:getPasswordTxtRequestMessage' name='getPasswordTxtInput' />
      <output message='tns:getPasswordTxtResponseMessage' name='getPasswordTxtOutput' />
    </operation>
  </portType>
  <binding name='passwdMeRandomPasswordGenerationBinding' type='tns:passwdMeRandomPasswordGenerationPortType'>
    <operation name='getPasswordJson'>
      <soap12:operation soapAction='http://getPasswordJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPasswordTxt'>
      <soap12:operation soapAction='http://getPasswordTxt' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='passwdMeRandomPasswordGeneration'>
    <documentation>this api allow you to generate random password txt or json with out callback Unofficial tool extending passwd me api service enjoy</documentation>
    <port name='passwdMeRandomPasswordGenerationPort' binding='tns:passwdMeRandomPasswordGenerationBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://passwdMeRandomPasswordGeneration' />
    </port>
  </service>
</definitions>