workspace/datasets/mashape_dataset/pdfappengine.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/pdfAppengine/' name='pdfAppengine' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/pdfAppengine/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/pdfAppengine/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/pdfAppengine/'>
      <xsd:element name='addWatermarkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletePagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='extractFormResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='extractImagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='extractTextResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='generateThumbnailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='htmlToPdfResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mergePdfFilesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyFooterResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='modifyHeaderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='optimizeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='populateFormResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeHeaderFooterResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeWatermarkResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='securePdfResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transformPdfPagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlToPdfResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addWatermarkRequestMessage' />
  <message name='addWatermarkResponseMessage'>
    <part name='response' element='tns:addWatermarkResponse' />
  </message>
  <message name='deletePagesRequestMessage' />
  <message name='deletePagesResponseMessage'>
    <part name='response' element='tns:deletePagesResponse' />
  </message>
  <message name='extractFormRequestMessage' />
  <message name='extractFormResponseMessage'>
    <part name='response' element='tns:extractFormResponse' />
  </message>
  <message name='extractImagesRequestMessage' />
  <message name='extractImagesResponseMessage'>
    <part name='response' element='tns:extractImagesResponse' />
  </message>
  <message name='extractTextRequestMessage' />
  <message name='extractTextResponseMessage'>
    <part name='response' element='tns:extractTextResponse' />
  </message>
  <message name='generateThumbnailsRequestMessage' />
  <message name='generateThumbnailsResponseMessage'>
    <part name='response' element='tns:generateThumbnailsResponse' />
  </message>
  <message name='getInfoRequestMessage' />
  <message name='getInfoResponseMessage'>
    <part name='response' element='tns:getInfoResponse' />
  </message>
  <message name='htmlToPdfRequestMessage' />
  <message name='htmlToPdfResponseMessage'>
    <part name='response' element='tns:htmlToPdfResponse' />
  </message>
  <message name='mergePdfFilesRequestMessage' />
  <message name='mergePdfFilesResponseMessage'>
    <part name='response' element='tns:mergePdfFilesResponse' />
  </message>
  <message name='modifyFooterRequestMessage' />
  <message name='modifyFooterResponseMessage'>
    <part name='response' element='tns:modifyFooterResponse' />
  </message>
  <message name='modifyHeaderRequestMessage' />
  <message name='modifyHeaderResponseMessage'>
    <part name='response' element='tns:modifyHeaderResponse' />
  </message>
  <message name='optimizeRequestMessage' />
  <message name='optimizeResponseMessage'>
    <part name='response' element='tns:optimizeResponse' />
  </message>
  <message name='populateFormRequestMessage' />
  <message name='populateFormResponseMessage'>
    <part name='response' element='tns:populateFormResponse' />
  </message>
  <message name='removeHeaderFooterRequestMessage' />
  <message name='removeHeaderFooterResponseMessage'>
    <part name='response' element='tns:removeHeaderFooterResponse' />
  </message>
  <message name='removeWatermarkRequestMessage' />
  <message name='removeWatermarkResponseMessage'>
    <part name='response' element='tns:removeWatermarkResponse' />
  </message>
  <message name='securePdfRequestMessage' />
  <message name='securePdfResponseMessage'>
    <part name='response' element='tns:securePdfResponse' />
  </message>
  <message name='setInfoRequestMessage' />
  <message name='setInfoResponseMessage'>
    <part name='response' element='tns:setInfoResponse' />
  </message>
  <message name='transformPdfPagesRequestMessage' />
  <message name='transformPdfPagesResponseMessage'>
    <part name='response' element='tns:transformPdfPagesResponse' />
  </message>
  <message name='urlToPdfRequestMessage' />
  <message name='urlToPdfResponseMessage'>
    <part name='response' element='tns:urlToPdfResponse' />
  </message>
  <portType name='pdfAppenginePortType'>
    <operation name='addWatermark'>
      <documentation>add Watermark to PDF pages</documentation>
      <input message='tns:addWatermarkRequestMessage' name='addWatermarkInput' />
      <output message='tns:addWatermarkResponseMessage' name='addWatermarkOutput' />
    </operation>
    <operation name='deletePages'>
      <documentation>delete one or more pages from a pdf</documentation>
      <input message='tns:deletePagesRequestMessage' name='deletePagesInput' />
      <output message='tns:deletePagesResponseMessage' name='deletePagesOutput' />
    </operation>
    <operation name='extractForm'>
      <documentation>extract form field values from a PDF</documentation>
      <input message='tns:extractFormRequestMessage' name='extractFormInput' />
      <output message='tns:extractFormResponseMessage' name='extractFormOutput' />
    </operation>
    <operation name='extractImages'>
      <documentation>extract all of the images in a PDF as a single zip file</documentation>
      <input message='tns:extractImagesRequestMessage' name='extractImagesInput' />
      <output message='tns:extractImagesResponseMessage' name='extractImagesOutput' />
    </operation>
    <operation name='extractText'>
      <documentation>extract the text from a PDF file</documentation>
      <input message='tns:extractTextRequestMessage' name='extractTextInput' />
      <output message='tns:extractTextResponseMessage' name='extractTextOutput' />
    </operation>
    <operation name='generateThumbnails'>
      <documentation>generate thumbnail versions of each page</documentation>
      <input message='tns:generateThumbnailsRequestMessage' name='generateThumbnailsInput' />
      <output message='tns:generateThumbnailsResponseMessage' name='generateThumbnailsOutput' />
    </operation>
    <operation name='getInfo'>
      <documentation>get information about a PDF document</documentation>
      <input message='tns:getInfoRequestMessage' name='getInfoInput' />
      <output message='tns:getInfoResponseMessage' name='getInfoOutput' />
    </operation>
    <operation name='htmlToPdf'>
      <documentation>convert HTML to PDF</documentation>
      <input message='tns:htmlToPdfRequestMessage' name='htmlToPdfInput' />
      <output message='tns:htmlToPdfResponseMessage' name='htmlToPdfOutput' />
    </operation>
    <operation name='mergePdfFiles'>
      <documentation>merge multiple PDF files into one</documentation>
      <input message='tns:mergePdfFilesRequestMessage' name='mergePdfFilesInput' />
      <output message='tns:mergePdfFilesResponseMessage' name='mergePdfFilesOutput' />
    </operation>
    <operation name='modifyFooter'>
      <documentation>add or change the Footer on your PDF pages</documentation>
      <input message='tns:modifyFooterRequestMessage' name='modifyFooterInput' />
      <output message='tns:modifyFooterResponseMessage' name='modifyFooterOutput' />
    </operation>
    <operation name='modifyHeader'>
      <documentation>add or change the Header on your PDF pages</documentation>
      <input message='tns:modifyHeaderRequestMessage' name='modifyHeaderInput' />
      <output message='tns:modifyHeaderResponseMessage' name='modifyHeaderOutput' />
    </operation>
    <operation name='optimize'>
      <documentation>reduce the quality of a PDF document</documentation>
      <input message='tns:optimizeRequestMessage' name='optimizeInput' />
      <output message='tns:optimizeResponseMessage' name='optimizeOutput' />
    </operation>
    <operation name='populateForm'>
      <documentation>populate the embedded form fields in a PDF</documentation>
      <input message='tns:populateFormRequestMessage' name='populateFormInput' />
      <output message='tns:populateFormResponseMessage' name='populateFormOutput' />
    </operation>
    <operation name='removeHeaderFooter'>
      <documentation>remove Header Footer from pdf pages</documentation>
      <input message='tns:removeHeaderFooterRequestMessage' name='removeHeaderFooterInput' />
      <output message='tns:removeHeaderFooterResponseMessage' name='removeHeaderFooterOutput' />
    </operation>
    <operation name='removeWatermark'>
      <documentation>remove a watermark for PDF pages</documentation>
      <input message='tns:removeWatermarkRequestMessage' name='removeWatermarkInput' />
      <output message='tns:removeWatermarkResponseMessage' name='removeWatermarkOutput' />
    </operation>
    <operation name='securePdf'>
      <documentation>secure a PDF with a password</documentation>
      <input message='tns:securePdfRequestMessage' name='securePdfInput' />
      <output message='tns:securePdfResponseMessage' name='securePdfOutput' />
    </operation>
    <operation name='setInfo'>
      <documentation>jSON Map of properties to set in the pdf You can specify the Author Subject Title and Keywords for the PDF output file</documentation>
      <input message='tns:setInfoRequestMessage' name='setInfoInput' />
      <output message='tns:setInfoResponseMessage' name='setInfoOutput' />
    </operation>
    <operation name='transformPdfPages'>
      <documentation>rotate or Scale different PDF pages</documentation>
      <input message='tns:transformPdfPagesRequestMessage' name='transformPdfPagesInput' />
      <output message='tns:transformPdfPagesResponseMessage' name='transformPdfPagesOutput' />
    </operation>
    <operation name='urlToPdf'>
      <documentation>convert public URLs to a PDF</documentation>
      <input message='tns:urlToPdfRequestMessage' name='urlToPdfInput' />
      <output message='tns:urlToPdfResponseMessage' name='urlToPdfOutput' />
    </operation>
  </portType>
  <binding name='pdfAppengineBinding' type='tns:pdfAppenginePortType'>
    <operation name='addWatermark'>
      <soap12:operation soapAction='http://addWatermark' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletePages'>
      <soap12:operation soapAction='http://deletePages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='extractForm'>
      <soap12:operation soapAction='http://extractForm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='extractImages'>
      <soap12:operation soapAction='http://extractImages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='extractText'>
      <soap12:operation soapAction='http://extractText' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='generateThumbnails'>
      <soap12:operation soapAction='http://generateThumbnails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getInfo'>
      <soap12:operation soapAction='http://getInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='htmlToPdf'>
      <soap12:operation soapAction='http://htmlToPdf' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mergePdfFiles'>
      <soap12:operation soapAction='http://mergePdfFiles' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='modifyFooter'>
      <soap12:operation soapAction='http://modifyFooter' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='modifyHeader'>
      <soap12:operation soapAction='http://modifyHeader' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='optimize'>
      <soap12:operation soapAction='http://optimize' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='populateForm'>
      <soap12:operation soapAction='http://populateForm' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeHeaderFooter'>
      <soap12:operation soapAction='http://removeHeaderFooter' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeWatermark'>
      <soap12:operation soapAction='http://removeWatermark' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='securePdf'>
      <soap12:operation soapAction='http://securePdf' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setInfo'>
      <soap12:operation soapAction='http://setInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='transformPdfPages'>
      <soap12:operation soapAction='http://transformPdfPages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='urlToPdf'>
      <soap12:operation soapAction='http://urlToPdf' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='pdfAppengine'>
    <documentation>multiple PDF APIs that will allow you to create modify and manipulate PDF files in your application Using the latest Adobe PDF libraries</documentation>
    <port name='pdfAppenginePort' binding='tns:pdfAppengineBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://pdfAppengine' />
    </port>
  </service>
</definitions>