workspace/datasets/mashape_dataset/peakcomdynamictrainingplansforcyclingrunningandtriathlon.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/peakComDynamicTrainingPlansForCyclingRunningAndTriathlon/' name='peakComDynamicTrainingPlansForCyclingRunningAndTriathlon' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/peakComDynamicTrainingPlansForCyclingRunningAndTriathlon/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/peakComDynamicTrainingPlansForCyclingRunningAndTriathlon/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/peakComDynamicTrainingPlansForCyclingRunningAndTriathlon/'>
      <xsd:element name='apiVActivitiesBeforeTZAfterTZResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='apiVActivitiesBeforeTZAfterTZRequestMessage' />
  <message name='apiVActivitiesBeforeTZAfterTZResponseMessage'>
    <part name='response' element='tns:apiVActivitiesBeforeTZAfterTZResponse' />
  </message>
  <portType name='peakComDynamicTrainingPlansForCyclingRunningAndTriathlonPortType'>
    <operation name='apiVActivitiesBeforeTZAfterTZ'>
      <documentation>get Activities</documentation>
      <input message='tns:apiVActivitiesBeforeTZAfterTZRequestMessage' name='apiVActivitiesBeforeTZAfterTZInput' />
      <output message='tns:apiVActivitiesBeforeTZAfterTZResponseMessage' name='apiVActivitiesBeforeTZAfterTZOutput' />
    </operation>
  </portType>
  <binding name='peakComDynamicTrainingPlansForCyclingRunningAndTriathlonBinding' type='tns:peakComDynamicTrainingPlansForCyclingRunningAndTriathlonPortType'>
    <operation name='apiVActivitiesBeforeTZAfterTZ'>
      <soap12:operation soapAction='http://apiVActivitiesBeforeTZAfterTZ' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='peakComDynamicTrainingPlansForCyclingRunningAndTriathlon'>
    <documentation>our API enables third party developers to build applications using PEAK s Dynamic Training Platform You are free to build for the Web desktops or mobile devices Learn how the authentication works and then read the documentation to get started Please read our API Guidelines before getting started Monetize your app by creating personalized dynamic and adaptive training plans The PEAK API allows developers to connect with everything PEAK offers From uploading activities to creating state of the art personal dynamic and adaptive training plans the PEAK API opens a new world Having trouble coming up with an idea for an app Here are some things we would love to see built Mobile clients develop mobile apps for iPhone Android Windows Phone and other devices Nutrition integrate calories burned from PEAK trainings with intake from a nutrition site Bulk import import your history from other services Nike Garmin other online logs Connected Objects integrate PEAK in any connected object you can think of No limits unless your imagination is</documentation>
    <port name='peakComDynamicTrainingPlansForCyclingRunningAndTriathlonPort' binding='tns:peakComDynamicTrainingPlansForCyclingRunningAndTriathlonBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://peakComDynamicTrainingPlansForCyclingRunningAndTriathlon' />
    </port>
  </service>
</definitions>