workspace/datasets/mashape_dataset/personmatching.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/personMatching/' name='personMatching' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/personMatching/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/personMatching/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/personMatching/'>
      <xsd:element name='householdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='householdid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='householdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='persons' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='email_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='household_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='address' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='zip' type='xsd:int' minOccurs='0' />
                        <xsd:element name='building_or_firm_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='zip4' type='xsd:int' minOccurs='0' />
                        <xsd:element name='county_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='zip_code' type='xsd:int' minOccurs='0' />
                        <xsd:element name='address_elements' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='secondary' type='xsd:string' minOccurs='0' />
                              <xsd:element name='pre_directional' type='xsd:string' minOccurs='0' />
                              <xsd:element name='post_directional' type='xsd:string' minOccurs='0' />
                              <xsd:element name='street_number' type='xsd:int' minOccurs='0' />
                              <xsd:element name='suffix' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='street_name' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='base_alt_code' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='update_key_number' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='zip_classification_code' type='xsd:string' minOccurs='0' />
                        <xsd:element name='addr_2' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city_state_zip' type='xsd:string' minOccurs='0' />
                        <xsd:element name='carrier_route_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='state_abbrev' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='county_no' type='xsd:int' minOccurs='0' />
                        <xsd:element name='addr_1' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city_state_match' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='city_delv_ind' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='match_level' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='location' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='congressional_district' type='xsd:string' minOccurs='0' />
                              <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='census_block' type='xsd:string' minOccurs='0' />
                              <xsd:element name='match_level' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='census_tract' type='xsd:string' minOccurs='0' />
                              <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='record_type_code' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='sources' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='cookie' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='requests' type='xsd:int' minOccurs='0' />
                  <xsd:element name='twitter' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='utc_offset' type='xsd:int' minOccurs='0' />
                        <xsd:element name='friends_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='profile_image_url_https' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='listed_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='profile_background_image_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='default_profile_image' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='favourites_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                        <xsd:element name='is_translator' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='profile_background_image_url_https' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='protected' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='screen_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id_str' type='xsd:int' minOccurs='0' />
                        <xsd:element name='profile_link_color' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='is_translation_enabled' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='geo_enabled' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='profile_background_color' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='profile_sidebar_border_color' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='profile_location' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='profile_text_color' type='xsd:int' minOccurs='0' />
                        <xsd:element name='verified' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='profile_image_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='time_zone' type='xsd:string' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='contributors_enabled' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='profile_background_tile' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='profile_banner_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='entities' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='url' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='urls' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='display_url' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='indices' type='xsd:int' maxOccurs='unbounded' />
                                          <xsd:element name='expanded_url' type='xsd:anyURI' minOccurs='0' />
                                          <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='statuses_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='follow_request_sent' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='followers_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='profile_use_background_image' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='default_profile' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='following' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='location' type='xsd:string' minOccurs='0' />
                        <xsd:element name='profile_sidebar_fill_color' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='notifications' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='status' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='in_reply_to_status_id_str' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='in_reply_to_status_id' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='possibly_sensitive' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='coordinates' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                              <xsd:element name='truncated' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='in_reply_to_user_id_str' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='source' type='xsd:string' minOccurs='0' />
                              <xsd:element name='retweet_count' type='xsd:int' minOccurs='0' />
                              <xsd:element name='retweeted' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='geo' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='in_reply_to_screen_name' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='entities' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='urls' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='display_url' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='indices' type='xsd:int' maxOccurs='unbounded' />
                                          <xsd:element name='expanded_url' type='xsd:anyURI' minOccurs='0' />
                                          <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='id_str' type='xsd:int' minOccurs='0' />
                              <xsd:element name='in_reply_to_user_id' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='favorite_count' type='xsd:int' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='text' type='xsd:string' minOccurs='0' />
                              <xsd:element name='place' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='contributors' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='favorited' type='xsd:boolean' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='household_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='full_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='middle_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='suffix' type='xsd:string' minOccurs='0' />
                        <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='last_name_parts' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='address_key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='twitter_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='person_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='updated' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email_domain' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='requests' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='personParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='personid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='personResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='household_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='address' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='building_or_firm_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='zip4' type='xsd:int' minOccurs='0' />
                  <xsd:element name='county_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='zip_code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address_elements' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='secondary' type='xsd:string' minOccurs='0' />
                        <xsd:element name='pre_directional' type='xsd:string' minOccurs='0' />
                        <xsd:element name='post_directional' type='xsd:string' minOccurs='0' />
                        <xsd:element name='street_number' type='xsd:int' minOccurs='0' />
                        <xsd:element name='suffix' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='street_name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='base_alt_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='update_key_number' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='zip_classification_code' type='xsd:string' minOccurs='0' />
                  <xsd:element name='addr_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city_state_zip' type='xsd:string' minOccurs='0' />
                  <xsd:element name='carrier_route_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state_abbrev' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='county_no' type='xsd:int' minOccurs='0' />
                  <xsd:element name='addr_1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city_state_match' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city_delv_ind' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='match_level' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='location' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='congressional_district' type='xsd:string' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='census_block' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match_level' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='census_tract' type='xsd:string' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='record_type_code' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='sources' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='cookie' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created' type='xsd:string' minOccurs='0' />
            <xsd:element name='address_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='requests' type='xsd:int' minOccurs='0' />
            <xsd:element name='twitter' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='utc_offset' type='xsd:int' minOccurs='0' />
                  <xsd:element name='friends_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='profile_image_url_https' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='listed_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='profile_background_image_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='default_profile_image' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='favourites_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='is_translator' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='profile_background_image_url_https' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='protected' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='screen_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id_str' type='xsd:int' minOccurs='0' />
                  <xsd:element name='profile_link_color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_translation_enabled' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='geo_enabled' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='profile_background_color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='profile_sidebar_border_color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='profile_location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='profile_text_color' type='xsd:int' minOccurs='0' />
                  <xsd:element name='verified' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='profile_image_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='time_zone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='contributors_enabled' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='profile_background_tile' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='profile_banner_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='entities' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='url' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='urls' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='display_url' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='indices' type='xsd:int' maxOccurs='unbounded' />
                                    <xsd:element name='expanded_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='statuses_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='follow_request_sent' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='followers_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='profile_use_background_image' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='default_profile' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='following' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='location' type='xsd:string' minOccurs='0' />
                  <xsd:element name='profile_sidebar_fill_color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notifications' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='status' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='in_reply_to_status_id_str' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='in_reply_to_status_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='possibly_sensitive' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='coordinates' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                        <xsd:element name='truncated' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='in_reply_to_user_id_str' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='source' type='xsd:string' minOccurs='0' />
                        <xsd:element name='retweet_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='retweeted' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='geo' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='in_reply_to_screen_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='entities' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='urls' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='display_url' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='indices' type='xsd:int' maxOccurs='unbounded' />
                                    <xsd:element name='expanded_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='id_str' type='xsd:int' minOccurs='0' />
                        <xsd:element name='in_reply_to_user_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='favorite_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='text' type='xsd:string' minOccurs='0' />
                        <xsd:element name='place' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='contributors' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='favorited' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='household_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='full_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='middle_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='suffix' type='xsd:string' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_name_parts' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='address_key' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='twitter_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='person_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='updated' type='xsd:string' minOccurs='0' />
            <xsd:element name='email' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email_domain' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='household_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='address' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='building_or_firm_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='zip4' type='xsd:int' minOccurs='0' />
                  <xsd:element name='county_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='zip_code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address_elements' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='secondary' type='xsd:string' minOccurs='0' />
                        <xsd:element name='pre_directional' type='xsd:string' minOccurs='0' />
                        <xsd:element name='post_directional' type='xsd:string' minOccurs='0' />
                        <xsd:element name='street_number' type='xsd:int' minOccurs='0' />
                        <xsd:element name='suffix' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='street_name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='base_alt_code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='update_key_number' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='zip_classification_code' type='xsd:string' minOccurs='0' />
                  <xsd:element name='addr_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city_state_zip' type='xsd:string' minOccurs='0' />
                  <xsd:element name='carrier_route_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state_abbrev' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='county_no' type='xsd:int' minOccurs='0' />
                  <xsd:element name='addr_1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city_state_match' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='city_delv_ind' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='match_level' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='location' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='congressional_district' type='xsd:string' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='census_block' type='xsd:string' minOccurs='0' />
                        <xsd:element name='match_level' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='census_tract' type='xsd:string' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='record_type_code' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='sources' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='cookie' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created' type='xsd:string' minOccurs='0' />
            <xsd:element name='address_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='requests' type='xsd:int' minOccurs='0' />
            <xsd:element name='twitter' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='utc_offset' type='xsd:int' minOccurs='0' />
                  <xsd:element name='friends_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='profile_image_url_https' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='listed_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='profile_background_image_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='default_profile_image' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='favourites_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='is_translator' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='profile_background_image_url_https' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='protected' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='screen_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id_str' type='xsd:int' minOccurs='0' />
                  <xsd:element name='profile_link_color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_translation_enabled' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='geo_enabled' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='profile_background_color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='profile_sidebar_border_color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='profile_location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='profile_text_color' type='xsd:int' minOccurs='0' />
                  <xsd:element name='verified' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='profile_image_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='time_zone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='contributors_enabled' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='profile_background_tile' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='profile_banner_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='entities' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='url' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='urls' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='display_url' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='indices' type='xsd:int' maxOccurs='unbounded' />
                                    <xsd:element name='expanded_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='statuses_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='follow_request_sent' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='followers_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='profile_use_background_image' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='default_profile' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='following' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='location' type='xsd:string' minOccurs='0' />
                  <xsd:element name='profile_sidebar_fill_color' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='notifications' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='status' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='in_reply_to_status_id_str' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='in_reply_to_status_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='possibly_sensitive' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='coordinates' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                        <xsd:element name='truncated' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='in_reply_to_user_id_str' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='source' type='xsd:string' minOccurs='0' />
                        <xsd:element name='retweet_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='retweeted' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='geo' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='in_reply_to_screen_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='entities' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='urls' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='display_url' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='indices' type='xsd:int' maxOccurs='unbounded' />
                                    <xsd:element name='expanded_url' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='id_str' type='xsd:int' minOccurs='0' />
                        <xsd:element name='in_reply_to_user_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='favorite_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='text' type='xsd:string' minOccurs='0' />
                        <xsd:element name='place' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='contributors' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='favorited' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='household_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='full_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='middle_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='suffix' type='xsd:string' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_name_parts' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='address_key' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='twitter_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='person_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='updated' type='xsd:string' minOccurs='0' />
            <xsd:element name='email' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='email_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email_domain' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='householdRequestMessage'>
    <part name='parameters' element='tns:householdParameters' />
  </message>
  <message name='householdResponseMessage'>
    <part name='response' element='tns:householdResponse' />
  </message>
  <message name='personRequestMessage'>
    <part name='parameters' element='tns:personParameters' />
  </message>
  <message name='personResponseMessage'>
    <part name='response' element='tns:personResponse' />
  </message>
  <message name='updateRequestMessage' />
  <message name='updateResponseMessage'>
    <part name='response' element='tns:updateResponse' />
  </message>
  <portType name='personMatchingPortType'>
    <operation name='household'>
      <documentation>returns each member of a household in a JSON array based on their matchbox io household id The household id is returned by using either the update or find methods A household is determined by two or more individuals have the same or similar surname at the same address</documentation>
      <input message='tns:householdRequestMessage' name='householdInput' />
      <output message='tns:householdResponseMessage' name='householdOutput' />
    </operation>
    <operation name='person'>
      <documentation>returns all stored information about a person based on their matchbox io person id The person id is found by using either the update or find methods</documentation>
      <input message='tns:personRequestMessage' name='personInput' />
      <output message='tns:personResponseMessage' name='personOutput' />
    </operation>
    <operation name='update'>
      <documentation>uses the provided information to update a person in matchbox io If enough contact information is provide such as a name and address an email address or a web cookie that information is used to perform a match and update the person s contact information If a match is not found a new person is created within your matchbox io account In addition the entire person JSON document is returned The matching methodology may be modified if necessary Check out matchbox io for more details</documentation>
      <input message='tns:updateRequestMessage' name='updateInput' />
      <output message='tns:updateResponseMessage' name='updateOutput' />
    </operation>
  </portType>
  <binding name='personMatchingBinding' type='tns:personMatchingPortType'>
    <operation name='household'>
      <soap12:operation soapAction='http://household' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='person'>
      <soap12:operation soapAction='http://person' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='update'>
      <soap12:operation soapAction='http://update' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='personMatching'>
    <documentation>the matchbox io Match API identifies and deduplicates individuals by providing a consistent identifier By correcting spelling errors and using fuzzy match logic the API can be used to track an individual across different marketing channels including mailing email and social The API can also be used to identify members of the same household and to append third party data Check out http matchbox io to find out more</documentation>
    <port name='personMatchingPort' binding='tns:personMatchingBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://personMatching' />
    </port>
  </service>
</definitions>