workspace/datasets/mashape_dataset/personalizerio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/personalizerIo/' name='personalizerIo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/personalizerIo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/personalizerIo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/personalizerIo/'>
      <xsd:element name='activityLogsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='administratorAuthenticationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='AccessToken' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='deleteunlisted' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='collectionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Identifier' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='itemsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Identifier' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='popularParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='collectionidentifier' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='excludeditemidentifier' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='popularResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Identifier' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentViewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='excludeditemidentifier' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentViewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Identifier' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='relatedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='identifiers' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='relatedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Identifier' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPicksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topPicksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Identifier' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trendingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='excludeditemidentifier' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trendingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Identifier' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userAuthenticationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='AccessToken' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='activityLogsRequestMessage' />
  <message name='activityLogsResponseMessage'>
    <part name='response' element='tns:activityLogsResponse' />
  </message>
  <message name='administratorAuthenticationRequestMessage' />
  <message name='administratorAuthenticationResponseMessage'>
    <part name='response' element='tns:administratorAuthenticationResponse' />
  </message>
  <message name='collectionsRequestMessage'>
    <part name='parameters' element='tns:collectionsParameters' />
  </message>
  <message name='collectionsResponseMessage'>
    <part name='response' element='tns:collectionsResponse' />
  </message>
  <message name='itemsRequestMessage' />
  <message name='itemsResponseMessage'>
    <part name='response' element='tns:itemsResponse' />
  </message>
  <message name='popularRequestMessage'>
    <part name='parameters' element='tns:popularParameters' />
  </message>
  <message name='popularResponseMessage'>
    <part name='response' element='tns:popularResponse' />
  </message>
  <message name='recentViewsRequestMessage'>
    <part name='parameters' element='tns:recentViewsParameters' />
  </message>
  <message name='recentViewsResponseMessage'>
    <part name='response' element='tns:recentViewsResponse' />
  </message>
  <message name='relatedRequestMessage'>
    <part name='parameters' element='tns:relatedParameters' />
  </message>
  <message name='relatedResponseMessage'>
    <part name='response' element='tns:relatedResponse' />
  </message>
  <message name='topPicksRequestMessage'>
    <part name='parameters' element='tns:topPicksParameters' />
  </message>
  <message name='topPicksResponseMessage'>
    <part name='response' element='tns:topPicksResponse' />
  </message>
  <message name='trendingRequestMessage'>
    <part name='parameters' element='tns:trendingParameters' />
  </message>
  <message name='trendingResponseMessage'>
    <part name='response' element='tns:trendingResponse' />
  </message>
  <message name='userAuthenticationRequestMessage' />
  <message name='userAuthenticationResponseMessage'>
    <part name='response' element='tns:userAuthenticationResponse' />
  </message>
  <message name='usersRequestMessage' />
  <message name='usersResponseMessage'>
    <part name='response' element='tns:usersResponse' />
  </message>
  <portType name='personalizerIoPortType'>
    <operation name='activityLogs'>
      <documentation>log user s activity</documentation>
      <input message='tns:activityLogsRequestMessage' name='activityLogsInput' />
      <output message='tns:activityLogsResponseMessage' name='activityLogsOutput' />
    </operation>
    <operation name='administratorAuthentication'>
      <documentation>get administrative access token</documentation>
      <input message='tns:administratorAuthenticationRequestMessage' name='administratorAuthenticationInput' />
      <output message='tns:administratorAuthenticationResponseMessage' name='administratorAuthenticationOutput' />
    </operation>
    <operation name='collections'>
      <documentation>batch store insert update collections</documentation>
      <input message='tns:collectionsRequestMessage' name='collectionsInput' />
      <output message='tns:collectionsResponseMessage' name='collectionsOutput' />
    </operation>
    <operation name='items'>
      <documentation>batch store insert update items</documentation>
      <input message='tns:itemsRequestMessage' name='itemsInput' />
      <output message='tns:itemsResponseMessage' name='itemsOutput' />
    </operation>
    <operation name='popular'>
      <documentation>returns the most Popular Items</documentation>
      <input message='tns:popularRequestMessage' name='popularInput' />
      <output message='tns:popularResponseMessage' name='popularOutput' />
    </operation>
    <operation name='recentViews'>
      <documentation>returns the Recently Viewed Items</documentation>
      <input message='tns:recentViewsRequestMessage' name='recentViewsInput' />
      <output message='tns:recentViewsResponseMessage' name='recentViewsOutput' />
    </operation>
    <operation name='related'>
      <documentation>returns the Related Items for a particular item</documentation>
      <input message='tns:relatedRequestMessage' name='relatedInput' />
      <output message='tns:relatedResponseMessage' name='relatedOutput' />
    </operation>
    <operation name='topPicks'>
      <documentation>returns the Top Picks items for the current User</documentation>
      <input message='tns:topPicksRequestMessage' name='topPicksInput' />
      <output message='tns:topPicksResponseMessage' name='topPicksOutput' />
    </operation>
    <operation name='trending'>
      <documentation>returns the Trending Items</documentation>
      <input message='tns:trendingRequestMessage' name='trendingInput' />
      <output message='tns:trendingResponseMessage' name='trendingOutput' />
    </operation>
    <operation name='userAuthentication'>
      <documentation>get user access token</documentation>
      <input message='tns:userAuthenticationRequestMessage' name='userAuthenticationInput' />
      <output message='tns:userAuthenticationResponseMessage' name='userAuthenticationOutput' />
    </operation>
    <operation name='users'>
      <documentation>sets updates the user profile information The fields with NULL values will be ignored in case of update</documentation>
      <input message='tns:usersRequestMessage' name='usersInput' />
      <output message='tns:usersResponseMessage' name='usersOutput' />
    </operation>
  </portType>
  <binding name='personalizerIoBinding' type='tns:personalizerIoPortType'>
    <operation name='activityLogs'>
      <soap12:operation soapAction='http://activityLogs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='administratorAuthentication'>
      <soap12:operation soapAction='http://administratorAuthentication' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='collections'>
      <soap12:operation soapAction='http://collections' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='items'>
      <soap12:operation soapAction='http://items' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='popular'>
      <soap12:operation soapAction='http://popular' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentViews'>
      <soap12:operation soapAction='http://recentViews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='related'>
      <soap12:operation soapAction='http://related' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='topPicks'>
      <soap12:operation soapAction='http://topPicks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trending'>
      <soap12:operation soapAction='http://trending' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userAuthentication'>
      <soap12:operation soapAction='http://userAuthentication' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='users'>
      <soap12:operation soapAction='http://users' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='personalizerIo'>
    <documentation>the open API platform to easily add personalization to your application or website</documentation>
    <port name='personalizerIoPort' binding='tns:personalizerIoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://personalizerIo' />
    </port>
  </service>
</definitions>