workspace/datasets/mashape_dataset/phone.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/phone/' name='phone' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/phone/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/phone/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/phone/'>
      <xsd:element name='analysisParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='telephone' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='analysisResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='valid' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='line-type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='international-area-code' type='xsd:int' minOccurs='0' />
            <xsd:element name='telephone-number' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='formatted-number' type='xsd:string' minOccurs='0' />
            <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='api-message' type='xsd:string' minOccurs='0' />
            <xsd:element name='iso-code' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='areaCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='areaCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='area-code' type='xsd:int' minOccurs='0' />
            <xsd:element name='country-calling-code' type='xsd:int' minOccurs='0' />
            <xsd:element name='api-message' type='xsd:string' minOccurs='0' />
            <xsd:element name='iso-code' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='directoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='directoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='area-code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='country-calling-code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='api-message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='iso-code' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='flagParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='flagResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='flag' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='api-message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='isoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='isoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='iso-code2' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='country-calling-code' type='xsd:int' minOccurs='0' />
            <xsd:element name='api-message' type='xsd:string' minOccurs='0' />
            <xsd:element name='iso-code' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='regionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='areacode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='regionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='region1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='region2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='api-message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='iso-code' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='analysisRequestMessage'>
    <part name='parameters' element='tns:analysisParameters' />
  </message>
  <message name='analysisResponseMessage'>
    <part name='response' element='tns:analysisResponse' />
  </message>
  <message name='areaCodeRequestMessage'>
    <part name='parameters' element='tns:areaCodeParameters' />
  </message>
  <message name='areaCodeResponseMessage'>
    <part name='response' element='tns:areaCodeResponse' />
  </message>
  <message name='directoryRequestMessage'>
    <part name='parameters' element='tns:directoryParameters' />
  </message>
  <message name='directoryResponseMessage'>
    <part name='response' element='tns:directoryResponse' />
  </message>
  <message name='flagRequestMessage'>
    <part name='parameters' element='tns:flagParameters' />
  </message>
  <message name='flagResponseMessage'>
    <part name='response' element='tns:flagResponse' />
  </message>
  <message name='isoRequestMessage'>
    <part name='parameters' element='tns:isoParameters' />
  </message>
  <message name='isoResponseMessage'>
    <part name='response' element='tns:isoResponse' />
  </message>
  <message name='regionRequestMessage'>
    <part name='parameters' element='tns:regionParameters' />
  </message>
  <message name='regionResponseMessage'>
    <part name='response' element='tns:regionResponse' />
  </message>
  <portType name='phonePortType'>
    <operation name='analysis'>
      <documentation>analyse validate and parse the content of a given Phone Number</documentation>
      <input message='tns:analysisRequestMessage' name='analysisInput' />
      <output message='tns:analysisResponseMessage' name='analysisOutput' />
    </operation>
    <operation name='areaCode'>
      <documentation>get the International Country Calling Code and the Local Area Code information</documentation>
      <input message='tns:areaCodeRequestMessage' name='areaCodeInput' />
      <output message='tns:areaCodeResponseMessage' name='areaCodeOutput' />
    </operation>
    <operation name='directory'>
      <documentation>get all the Local Area Codes from a given Country</documentation>
      <input message='tns:directoryRequestMessage' name='directoryInput' />
      <output message='tns:directoryResponseMessage' name='directoryOutput' />
    </operation>
    <operation name='flag'>
      <documentation>get the Flag Image from a given Country</documentation>
      <input message='tns:flagRequestMessage' name='flagInput' />
      <output message='tns:flagResponseMessage' name='flagOutput' />
    </operation>
    <operation name='iso'>
      <documentation>get the ISO codes from a given Country</documentation>
      <input message='tns:isoRequestMessage' name='isoInput' />
      <output message='tns:isoResponseMessage' name='isoOutput' />
    </operation>
    <operation name='region'>
      <documentation>get the Geographic Region information</documentation>
      <input message='tns:regionRequestMessage' name='regionInput' />
      <output message='tns:regionResponseMessage' name='regionOutput' />
    </operation>
  </portType>
  <binding name='phoneBinding' type='tns:phonePortType'>
    <operation name='analysis'>
      <soap12:operation soapAction='http://analysis' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='areaCode'>
      <soap12:operation soapAction='http://areaCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='directory'>
      <soap12:operation soapAction='http://directory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='flag'>
      <soap12:operation soapAction='http://flag' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='iso'>
      <soap12:operation soapAction='http://iso' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='region'>
      <soap12:operation soapAction='http://region' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='phone'>
    <documentation>full set of cool Telephone validation functions with a coverage of more than a hundred different countries Phone Metropolis API can analyse get location information and parse the content of a given phone number</documentation>
    <port name='phonePort' binding='tns:phoneBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://phone' />
    </port>
  </service>
</definitions>