workspace/datasets/mashape_dataset/piltlibcompendium.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/piltlibCompendium/' name='piltlibCompendium' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/piltlibCompendium/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/piltlibCompendium/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/piltlibCompendium/'>
      <xsd:element name='championParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='championResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='_links' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='start' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='self' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='champion' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_status' type='xsd:int' minOccurs='0' />
            <xsd:element name='champion' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='images' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='icon' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='portrait' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='splash' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='role' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lore' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='opponentTips' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='tips' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='internalName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='quote' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ratings' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='magic' type='xsd:int' minOccurs='0' />
                        <xsd:element name='difficulty' type='xsd:int' minOccurs='0' />
                        <xsd:element name='defense' type='xsd:int' minOccurs='0' />
                        <xsd:element name='attack' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='quoteAuthor' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='baseStats' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='armor' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='perLevel' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='base' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='mana' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='perLevel' type='xsd:int' minOccurs='0' />
                              <xsd:element name='base' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='critChance' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='perLevel' type='xsd:int' minOccurs='0' />
                              <xsd:element name='base' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='magicResist' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='perLevel' type='xsd:int' minOccurs='0' />
                              <xsd:element name='base' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='range' type='xsd:int' minOccurs='0' />
                        <xsd:element name='health' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='perLevel' type='xsd:int' minOccurs='0' />
                              <xsd:element name='base' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='movementSpeed' type='xsd:int' minOccurs='0' />
                        <xsd:element name='healthRegen' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='perLevel' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='base' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='manaRegen' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='perLevel' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='base' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attackDamage' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='perLevel' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='base' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='championRequestMessage'>
    <part name='parameters' element='tns:championParameters' />
  </message>
  <message name='championResponseMessage'>
    <part name='response' element='tns:championResponse' />
  </message>
  <portType name='piltlibCompendiumPortType'>
    <operation name='champion'>
      <documentation>get static Champion data</documentation>
      <input message='tns:championRequestMessage' name='championInput' />
      <output message='tns:championResponseMessage' name='championOutput' />
    </operation>
  </portType>
  <binding name='piltlibCompendiumBinding' type='tns:piltlibCompendiumPortType'>
    <operation name='champion'>
      <soap12:operation soapAction='http://champion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='piltlibCompendium'>
    <documentation>static League of Legends data like champion information</documentation>
    <port name='piltlibCompendiumPort' binding='tns:piltlibCompendiumBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://piltlibCompendium' />
    </port>
  </service>
</definitions>