workspace/datasets/mashape_dataset/pivotaltracker.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/pivotalTracker/' name='pivotalTracker' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/pivotalTracker/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/pivotalTracker/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/pivotalTracker/'>
      <xsd:element name='getallactivitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='occurredsincedate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallactivitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalltaskParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalltaskResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcommentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcommentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectactivityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectactivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectiterationcategoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectiterationcategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectiterationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectiterationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectmembershipsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectmembershipsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectstoriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectstoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectstoryactivityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectstoryactivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsinglecommentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='commentid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsinglecommentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsingleprojectParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsingleprojectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsingleprojectmembershipsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='membershipid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsingleprojectmembershipsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsingletaskParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projectid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storyid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='taskid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsingletaskResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getstoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='storyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getstoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getstoryactivityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='storyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getstoryactivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getallactivitiesRequestMessage'>
    <part name='parameters' element='tns:getallactivitiesParameters' />
  </message>
  <message name='getallactivitiesResponseMessage'>
    <part name='response' element='tns:getallactivitiesResponse' />
  </message>
  <message name='getalltaskRequestMessage'>
    <part name='parameters' element='tns:getalltaskParameters' />
  </message>
  <message name='getalltaskResponseMessage'>
    <part name='response' element='tns:getalltaskResponse' />
  </message>
  <message name='getcommentsRequestMessage'>
    <part name='parameters' element='tns:getcommentsParameters' />
  </message>
  <message name='getcommentsResponseMessage'>
    <part name='response' element='tns:getcommentsResponse' />
  </message>
  <message name='getprojectactivityRequestMessage'>
    <part name='parameters' element='tns:getprojectactivityParameters' />
  </message>
  <message name='getprojectactivityResponseMessage'>
    <part name='response' element='tns:getprojectactivityResponse' />
  </message>
  <message name='getprojectiterationcategoryRequestMessage'>
    <part name='parameters' element='tns:getprojectiterationcategoryParameters' />
  </message>
  <message name='getprojectiterationcategoryResponseMessage'>
    <part name='response' element='tns:getprojectiterationcategoryResponse' />
  </message>
  <message name='getprojectiterationsRequestMessage'>
    <part name='parameters' element='tns:getprojectiterationsParameters' />
  </message>
  <message name='getprojectiterationsResponseMessage'>
    <part name='response' element='tns:getprojectiterationsResponse' />
  </message>
  <message name='getprojectmembershipsRequestMessage'>
    <part name='parameters' element='tns:getprojectmembershipsParameters' />
  </message>
  <message name='getprojectmembershipsResponseMessage'>
    <part name='response' element='tns:getprojectmembershipsResponse' />
  </message>
  <message name='getprojectsRequestMessage' />
  <message name='getprojectsResponseMessage'>
    <part name='response' element='tns:getprojectsResponse' />
  </message>
  <message name='getprojectstoriesRequestMessage'>
    <part name='parameters' element='tns:getprojectstoriesParameters' />
  </message>
  <message name='getprojectstoriesResponseMessage'>
    <part name='response' element='tns:getprojectstoriesResponse' />
  </message>
  <message name='getprojectstoryactivityRequestMessage'>
    <part name='parameters' element='tns:getprojectstoryactivityParameters' />
  </message>
  <message name='getprojectstoryactivityResponseMessage'>
    <part name='response' element='tns:getprojectstoryactivityResponse' />
  </message>
  <message name='getsinglecommentRequestMessage'>
    <part name='parameters' element='tns:getsinglecommentParameters' />
  </message>
  <message name='getsinglecommentResponseMessage'>
    <part name='response' element='tns:getsinglecommentResponse' />
  </message>
  <message name='getsingleprojectRequestMessage'>
    <part name='parameters' element='tns:getsingleprojectParameters' />
  </message>
  <message name='getsingleprojectResponseMessage'>
    <part name='response' element='tns:getsingleprojectResponse' />
  </message>
  <message name='getsingleprojectmembershipsRequestMessage'>
    <part name='parameters' element='tns:getsingleprojectmembershipsParameters' />
  </message>
  <message name='getsingleprojectmembershipsResponseMessage'>
    <part name='response' element='tns:getsingleprojectmembershipsResponse' />
  </message>
  <message name='getsingletaskRequestMessage'>
    <part name='parameters' element='tns:getsingletaskParameters' />
  </message>
  <message name='getsingletaskResponseMessage'>
    <part name='response' element='tns:getsingletaskResponse' />
  </message>
  <message name='getstoryRequestMessage'>
    <part name='parameters' element='tns:getstoryParameters' />
  </message>
  <message name='getstoryResponseMessage'>
    <part name='response' element='tns:getstoryResponse' />
  </message>
  <message name='getstoryactivityRequestMessage'>
    <part name='parameters' element='tns:getstoryactivityParameters' />
  </message>
  <message name='getstoryactivityResponseMessage'>
    <part name='response' element='tns:getstoryactivityResponse' />
  </message>
  <portType name='pivotalTrackerPortType'>
    <operation name='getallactivities'>
      <documentation>allows you to retrieve the recent activity of all your projects</documentation>
      <input message='tns:getallactivitiesRequestMessage' name='getallactivitiesInput' />
      <output message='tns:getallactivitiesResponseMessage' name='getallactivitiesOutput' />
    </operation>
    <operation name='getalltask'>
      <documentation></documentation>
      <input message='tns:getalltaskRequestMessage' name='getalltaskInput' />
      <output message='tns:getalltaskResponseMessage' name='getalltaskOutput' />
    </operation>
    <operation name='getcomments'>
      <documentation></documentation>
      <input message='tns:getcommentsRequestMessage' name='getcommentsInput' />
      <output message='tns:getcommentsResponseMessage' name='getcommentsOutput' />
    </operation>
    <operation name='getprojectactivity'>
      <documentation>allow you to get Project Activity</documentation>
      <input message='tns:getprojectactivityRequestMessage' name='getprojectactivityInput' />
      <output message='tns:getprojectactivityResponseMessage' name='getprojectactivityOutput' />
    </operation>
    <operation name='getprojectiterationcategory'>
      <documentation></documentation>
      <input message='tns:getprojectiterationcategoryRequestMessage' name='getprojectiterationcategoryInput' />
      <output message='tns:getprojectiterationcategoryResponseMessage' name='getprojectiterationcategoryOutput' />
    </operation>
    <operation name='getprojectiterations'>
      <documentation></documentation>
      <input message='tns:getprojectiterationsRequestMessage' name='getprojectiterationsInput' />
      <output message='tns:getprojectiterationsResponseMessage' name='getprojectiterationsOutput' />
    </operation>
    <operation name='getprojectmemberships'>
      <documentation></documentation>
      <input message='tns:getprojectmembershipsRequestMessage' name='getprojectmembershipsInput' />
      <output message='tns:getprojectmembershipsResponseMessage' name='getprojectmembershipsOutput' />
    </operation>
    <operation name='getprojects'>
      <documentation>get List of Projects</documentation>
      <input message='tns:getprojectsRequestMessage' name='getprojectsInput' />
      <output message='tns:getprojectsResponseMessage' name='getprojectsOutput' />
    </operation>
    <operation name='getprojectstories'>
      <documentation></documentation>
      <input message='tns:getprojectstoriesRequestMessage' name='getprojectstoriesInput' />
      <output message='tns:getprojectstoriesResponseMessage' name='getprojectstoriesOutput' />
    </operation>
    <operation name='getprojectstoryactivity'>
      <documentation>allows you to retrieve the activity of a specific story</documentation>
      <input message='tns:getprojectstoryactivityRequestMessage' name='getprojectstoryactivityInput' />
      <output message='tns:getprojectstoryactivityResponseMessage' name='getprojectstoryactivityOutput' />
    </operation>
    <operation name='getsinglecomment'>
      <documentation></documentation>
      <input message='tns:getsinglecommentRequestMessage' name='getsinglecommentInput' />
      <output message='tns:getsinglecommentResponseMessage' name='getsinglecommentOutput' />
    </operation>
    <operation name='getsingleproject'>
      <documentation></documentation>
      <input message='tns:getsingleprojectRequestMessage' name='getsingleprojectInput' />
      <output message='tns:getsingleprojectResponseMessage' name='getsingleprojectOutput' />
    </operation>
    <operation name='getsingleprojectmemberships'>
      <documentation></documentation>
      <input message='tns:getsingleprojectmembershipsRequestMessage' name='getsingleprojectmembershipsInput' />
      <output message='tns:getsingleprojectmembershipsResponseMessage' name='getsingleprojectmembershipsOutput' />
    </operation>
    <operation name='getsingletask'>
      <documentation></documentation>
      <input message='tns:getsingletaskRequestMessage' name='getsingletaskInput' />
      <output message='tns:getsingletaskResponseMessage' name='getsingletaskOutput' />
    </operation>
    <operation name='getstory'>
      <documentation></documentation>
      <input message='tns:getstoryRequestMessage' name='getstoryInput' />
      <output message='tns:getstoryResponseMessage' name='getstoryOutput' />
    </operation>
    <operation name='getstoryactivity'>
      <documentation></documentation>
      <input message='tns:getstoryactivityRequestMessage' name='getstoryactivityInput' />
      <output message='tns:getstoryactivityResponseMessage' name='getstoryactivityOutput' />
    </operation>
  </portType>
  <binding name='pivotalTrackerBinding' type='tns:pivotalTrackerPortType'>
    <operation name='getallactivities'>
      <soap12:operation soapAction='http://getallactivities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getalltask'>
      <soap12:operation soapAction='http://getalltask' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcomments'>
      <soap12:operation soapAction='http://getcomments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getprojectactivity'>
      <soap12:operation soapAction='http://getprojectactivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getprojectiterationcategory'>
      <soap12:operation soapAction='http://getprojectiterationcategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getprojectiterations'>
      <soap12:operation soapAction='http://getprojectiterations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getprojectmemberships'>
      <soap12:operation soapAction='http://getprojectmemberships' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getprojects'>
      <soap12:operation soapAction='http://getprojects' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getprojectstories'>
      <soap12:operation soapAction='http://getprojectstories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getprojectstoryactivity'>
      <soap12:operation soapAction='http://getprojectstoryactivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsinglecomment'>
      <soap12:operation soapAction='http://getsinglecomment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsingleproject'>
      <soap12:operation soapAction='http://getsingleproject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsingleprojectmemberships'>
      <soap12:operation soapAction='http://getsingleprojectmemberships' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsingletask'>
      <soap12:operation soapAction='http://getsingletask' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getstory'>
      <soap12:operation soapAction='http://getstory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getstoryactivity'>
      <soap12:operation soapAction='http://getstoryactivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='pivotalTracker'>
    <documentation>pivotal Tracker API</documentation>
    <port name='pivotalTrackerPort' binding='tns:pivotalTrackerBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://pivotalTracker' />
    </port>
  </service>
</definitions>