workspace/datasets/mashape_dataset/placekitten.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/placekitten/' name='placekitten' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/placekitten/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/placekitten/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/placekitten/'>
      <xsd:element name='kittenParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='height' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='width' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='kittenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='kittenRequestMessage'>
    <part name='parameters' element='tns:kittenParameters' />
  </message>
  <message name='kittenResponseMessage'>
    <part name='response' element='tns:kittenResponse' />
  </message>
  <portType name='placekittenPortType'>
    <operation name='kitten'>
      <documentation></documentation>
      <input message='tns:kittenRequestMessage' name='kittenInput' />
      <output message='tns:kittenResponseMessage' name='kittenOutput' />
    </operation>
  </portType>
  <binding name='placekittenBinding' type='tns:placekittenPortType'>
    <operation name='kitten'>
      <soap12:operation soapAction='http://kitten' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='placekitten'>
    <documentation>a quick and simple service for getting pictures of kittens for use as placeholders in your designs or code Just put your image size width height after our URL and you ll get a placeholder</documentation>
    <port name='placekittenPort' binding='tns:placekittenBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://placekitten' />
    </port>
  </service>
</definitions>