workspace/datasets/mashape_dataset/poetrydb.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/poetryDb/' name='poetryDb' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/poetryDb/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/poetryDb/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/poetryDb/'>
      <xsd:element name='authorResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorTitleAuthorTitleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='author' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorTitleAuthorTitleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='linecount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lines' type='xsd:string' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorAuthorParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='author' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorAuthorResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='linecount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lines' type='xsd:string' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorAuthorAbsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='author' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorAuthorAbsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='linecount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lines' type='xsd:string' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linecountLinecountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='linecount' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linecountLinecountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linesLineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='line' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linesLineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reason' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linesLineAbsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='line' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linesLineAbsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reason' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='titleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='titleTitleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='titleTitleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reason' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='titleTitleAbsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='titleTitleAbsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='authorRequestMessage' />
  <message name='authorResponseMessage'>
    <part name='response' element='tns:authorResponse' />
  </message>
  <message name='authorTitleAuthorTitleRequestMessage'>
    <part name='parameters' element='tns:authorTitleAuthorTitleParameters' />
  </message>
  <message name='authorTitleAuthorTitleResponseMessage'>
    <part name='response' element='tns:authorTitleAuthorTitleResponse' />
  </message>
  <message name='authorAuthorRequestMessage'>
    <part name='parameters' element='tns:authorAuthorParameters' />
  </message>
  <message name='authorAuthorResponseMessage'>
    <part name='response' element='tns:authorAuthorResponse' />
  </message>
  <message name='authorAuthorAbsRequestMessage'>
    <part name='parameters' element='tns:authorAuthorAbsParameters' />
  </message>
  <message name='authorAuthorAbsResponseMessage'>
    <part name='response' element='tns:authorAuthorAbsResponse' />
  </message>
  <message name='linecountLinecountRequestMessage'>
    <part name='parameters' element='tns:linecountLinecountParameters' />
  </message>
  <message name='linecountLinecountResponseMessage'>
    <part name='response' element='tns:linecountLinecountResponse' />
  </message>
  <message name='linesLineRequestMessage'>
    <part name='parameters' element='tns:linesLineParameters' />
  </message>
  <message name='linesLineResponseMessage'>
    <part name='response' element='tns:linesLineResponse' />
  </message>
  <message name='linesLineAbsRequestMessage'>
    <part name='parameters' element='tns:linesLineAbsParameters' />
  </message>
  <message name='linesLineAbsResponseMessage'>
    <part name='response' element='tns:linesLineAbsResponse' />
  </message>
  <message name='titleRequestMessage' />
  <message name='titleResponseMessage'>
    <part name='response' element='tns:titleResponse' />
  </message>
  <message name='titleTitleRequestMessage'>
    <part name='parameters' element='tns:titleTitleParameters' />
  </message>
  <message name='titleTitleResponseMessage'>
    <part name='response' element='tns:titleTitleResponse' />
  </message>
  <message name='titleTitleAbsRequestMessage'>
    <part name='parameters' element='tns:titleTitleAbsParameters' />
  </message>
  <message name='titleTitleAbsResponseMessage'>
    <part name='response' element='tns:titleTitleAbsResponse' />
  </message>
  <portType name='poetryDbPortType'>
    <operation name='author'>
      <documentation>list of all poets on Poetry DB</documentation>
      <input message='tns:authorRequestMessage' name='authorInput' />
      <output message='tns:authorResponseMessage' name='authorOutput' />
    </operation>
    <operation name='authorTitleAuthorTitle'>
      <documentation>all poems with a specific title by a specific author</documentation>
      <input message='tns:authorTitleAuthorTitleRequestMessage' name='authorTitleAuthorTitleInput' />
      <output message='tns:authorTitleAuthorTitleResponseMessage' name='authorTitleAuthorTitleOutput' />
    </operation>
    <operation name='authorAuthor'>
      <documentation>all poems on Poetry DB by a specific poet</documentation>
      <input message='tns:authorAuthorRequestMessage' name='authorAuthorInput' />
      <output message='tns:authorAuthorResponseMessage' name='authorAuthorOutput' />
    </operation>
    <operation name='authorAuthorAbs'>
      <documentation>all poems by a specific author</documentation>
      <input message='tns:authorAuthorAbsRequestMessage' name='authorAuthorAbsInput' />
      <output message='tns:authorAuthorAbsResponseMessage' name='authorAuthorAbsOutput' />
    </operation>
    <operation name='linecountLinecount'>
      <documentation>all poems on Poetry DB with a specific number of lines</documentation>
      <input message='tns:linecountLinecountRequestMessage' name='linecountLinecountInput' />
      <output message='tns:linecountLinecountResponseMessage' name='linecountLinecountOutput' />
    </operation>
    <operation name='linesLine'>
      <documentation>all poems on Poetry DB containing a specific line</documentation>
      <input message='tns:linesLineRequestMessage' name='linesLineInput' />
      <output message='tns:linesLineResponseMessage' name='linesLineOutput' />
    </operation>
    <operation name='linesLineAbs'>
      <documentation>all poems that contain a specific line</documentation>
      <input message='tns:linesLineAbsRequestMessage' name='linesLineAbsInput' />
      <output message='tns:linesLineAbsResponseMessage' name='linesLineAbsOutput' />
    </operation>
    <operation name='title'>
      <documentation>list of all poem titles on Poetry DB</documentation>
      <input message='tns:titleRequestMessage' name='titleInput' />
      <output message='tns:titleResponseMessage' name='titleOutput' />
    </operation>
    <operation name='titleTitle'>
      <documentation>all poems on Poetry DB with a specific title</documentation>
      <input message='tns:titleTitleRequestMessage' name='titleTitleInput' />
      <output message='tns:titleTitleResponseMessage' name='titleTitleOutput' />
    </operation>
    <operation name='titleTitleAbs'>
      <documentation>all poems with a specific title</documentation>
      <input message='tns:titleTitleAbsRequestMessage' name='titleTitleAbsInput' />
      <output message='tns:titleTitleAbsResponseMessage' name='titleTitleAbsOutput' />
    </operation>
  </portType>
  <binding name='poetryDbBinding' type='tns:poetryDbPortType'>
    <operation name='author'>
      <soap12:operation soapAction='http://author' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='authorTitleAuthorTitle'>
      <soap12:operation soapAction='http://authorTitleAuthorTitle' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='authorAuthor'>
      <soap12:operation soapAction='http://authorAuthor' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='authorAuthorAbs'>
      <soap12:operation soapAction='http://authorAuthorAbs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='linecountLinecount'>
      <soap12:operation soapAction='http://linecountLinecount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='linesLine'>
      <soap12:operation soapAction='http://linesLine' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='linesLineAbs'>
      <soap12:operation soapAction='http://linesLineAbs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='title'>
      <soap12:operation soapAction='http://title' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='titleTitle'>
      <soap12:operation soapAction='http://titleTitle' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='titleTitleAbs'>
      <soap12:operation soapAction='http://titleTitleAbs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='poetryDb'>
    <documentation>poetryDB is the world s first API for Next Generation internet poets</documentation>
    <port name='poetryDbPort' binding='tns:poetryDbBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://poetryDb' />
    </port>
  </service>
</definitions>