workspace/datasets/mashape_dataset/pokeapi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/pokeapi/' name='pokeapi' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/pokeapi/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/pokeapi/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/pokeapi/'>
      <xsd:element name='abilityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='abilityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='moveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='moveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pp' type='xsd:int' minOccurs='0' />
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='accuracy' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='power' type='xsd:int' minOccurs='0' />
            <xsd:element name='category' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pokemonIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pokemonIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='national_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='hp' type='xsd:int' minOccurs='0' />
            <xsd:element name='speed' type='xsd:int' minOccurs='0' />
            <xsd:element name='abilities' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='ev_yield' type='xsd:string' minOccurs='0' />
            <xsd:element name='growth_rate' type='xsd:string' minOccurs='0' />
            <xsd:element name='defense' type='xsd:int' minOccurs='0' />
            <xsd:element name='egg_cycles' type='xsd:int' minOccurs='0' />
            <xsd:element name='happiness' type='xsd:int' minOccurs='0' />
            <xsd:element name='attack' type='xsd:int' minOccurs='0' />
            <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='evolutions' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='method' type='xsd:string' minOccurs='0' />
                  <xsd:element name='level' type='xsd:int' minOccurs='0' />
                  <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='to' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='exp' type='xsd:int' minOccurs='0' />
            <xsd:element name='height' type='xsd:string' minOccurs='0' />
            <xsd:element name='sp_atk' type='xsd:int' minOccurs='0' />
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='weight' type='xsd:string' minOccurs='0' />
            <xsd:element name='catch_rate' type='xsd:int' minOccurs='0' />
            <xsd:element name='male_female_ratio' type='xsd:string' minOccurs='0' />
            <xsd:element name='species' type='xsd:string' minOccurs='0' />
            <xsd:element name='moves' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='learn_type' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='sp_def' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pokemonNameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pokemonNameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='national_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='pkdx_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='hp' type='xsd:int' minOccurs='0' />
            <xsd:element name='speed' type='xsd:int' minOccurs='0' />
            <xsd:element name='abilities' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='ev_yield' type='xsd:string' minOccurs='0' />
            <xsd:element name='growth_rate' type='xsd:string' minOccurs='0' />
            <xsd:element name='defense' type='xsd:int' minOccurs='0' />
            <xsd:element name='egg_cycles' type='xsd:int' minOccurs='0' />
            <xsd:element name='happiness' type='xsd:int' minOccurs='0' />
            <xsd:element name='attack' type='xsd:int' minOccurs='0' />
            <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='exp' type='xsd:int' minOccurs='0' />
            <xsd:element name='height' type='xsd:string' minOccurs='0' />
            <xsd:element name='sp_atk' type='xsd:int' minOccurs='0' />
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='weight' type='xsd:string' minOccurs='0' />
            <xsd:element name='catch_rate' type='xsd:int' minOccurs='0' />
            <xsd:element name='male_female_ratio' type='xsd:string' minOccurs='0' />
            <xsd:element name='species' type='xsd:string' minOccurs='0' />
            <xsd:element name='moves' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='learn_type' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='sp_def' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='typeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='typeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='resource_uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='modified' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='abilityRequestMessage'>
    <part name='parameters' element='tns:abilityParameters' />
  </message>
  <message name='abilityResponseMessage'>
    <part name='response' element='tns:abilityResponse' />
  </message>
  <message name='moveRequestMessage'>
    <part name='parameters' element='tns:moveParameters' />
  </message>
  <message name='moveResponseMessage'>
    <part name='response' element='tns:moveResponse' />
  </message>
  <message name='pokemonIdRequestMessage'>
    <part name='parameters' element='tns:pokemonIdParameters' />
  </message>
  <message name='pokemonIdResponseMessage'>
    <part name='response' element='tns:pokemonIdResponse' />
  </message>
  <message name='pokemonNameRequestMessage'>
    <part name='parameters' element='tns:pokemonNameParameters' />
  </message>
  <message name='pokemonNameResponseMessage'>
    <part name='response' element='tns:pokemonNameResponse' />
  </message>
  <message name='typeRequestMessage'>
    <part name='parameters' element='tns:typeParameters' />
  </message>
  <message name='typeResponseMessage'>
    <part name='response' element='tns:typeResponse' />
  </message>
  <portType name='pokeapiPortType'>
    <operation name='ability'>
      <documentation>an Ability resource</documentation>
      <input message='tns:abilityRequestMessage' name='abilityInput' />
      <output message='tns:abilityResponseMessage' name='abilityOutput' />
    </operation>
    <operation name='move'>
      <documentation>a move resource</documentation>
      <input message='tns:moveRequestMessage' name='moveInput' />
      <output message='tns:moveResponseMessage' name='moveOutput' />
    </operation>
    <operation name='pokemonId'>
      <documentation>a Pok mon resource via ID</documentation>
      <input message='tns:pokemonIdRequestMessage' name='pokemonIdInput' />
      <output message='tns:pokemonIdResponseMessage' name='pokemonIdOutput' />
    </operation>
    <operation name='pokemonName'>
      <documentation>a Pokemon resource via name</documentation>
      <input message='tns:pokemonNameRequestMessage' name='pokemonNameInput' />
      <output message='tns:pokemonNameResponseMessage' name='pokemonNameOutput' />
    </operation>
    <operation name='type'>
      <documentation>a Pokemon Type</documentation>
      <input message='tns:typeRequestMessage' name='typeInput' />
      <output message='tns:typeResponseMessage' name='typeOutput' />
    </operation>
  </portType>
  <binding name='pokeapiBinding' type='tns:pokeapiPortType'>
    <operation name='ability'>
      <soap12:operation soapAction='http://ability' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='move'>
      <soap12:operation soapAction='http://move' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='pokemonId'>
      <soap12:operation soapAction='http://pokemonId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='pokemonName'>
      <soap12:operation soapAction='http://pokemonName' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='type'>
      <soap12:operation soapAction='http://type' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='pokeapi'>
    <documentation>the Pok mon API Access all the information from the Pok mon games through this RESTful API</documentation>
    <port name='pokeapiPort' binding='tns:pokeapiBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://pokeapi' />
    </port>
  </service>
</definitions>