workspace/datasets/mashape_dataset/pollencheck.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/pollencheck/' name='pollencheck' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/pollencheck/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/pollencheck/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/pollencheck/'>
      <xsd:element name='finddailyforecastbywoeidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='woeid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='finddailyforecastbywoeidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='creationTime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='woeid' type='xsd:int' minOccurs='0' />
            <xsd:element name='active' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='periods' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='olive' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='maxLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='minLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='avgLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='avgCounter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='maxCounter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minCounter' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='birch' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='maxLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='minLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='avgLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='avgCounter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='maxCounter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minCounter' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='grass' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='maxLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='minLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='avgLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='avgCounter' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='maxCounter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minCounter' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='link' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ragweed' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='maxLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='minLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='avgLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='avgCounter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='maxCounter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minCounter' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='combined' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='maxLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='minLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='avgLevel' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='avgCounter' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='maxCounter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='minCounter' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='day' type='xsd:int' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='interval' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='location' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timeZone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findhourlyforecastbywoeidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='woeid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findhourlyforecastbywoeidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='creationTime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='woeid' type='xsd:int' minOccurs='0' />
            <xsd:element name='active' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='periods' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='olive' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='level' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='counter' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='birch' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='level' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='counter' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='grass' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='level' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='counter' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='link' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ragweed' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='level' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='counter' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='combined' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='level' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='counter' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='time' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='interval' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='location' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timeZone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlocationbywoeidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='woeid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlocationbywoeidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='woeid' type='xsd:int' minOccurs='0' />
            <xsd:element name='active' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='timeZone' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registerlocationbywoeidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='woeid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registerlocationbywoeidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='woeid' type='xsd:int' minOccurs='0' />
            <xsd:element name='active' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='timeZone' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchlocationbynameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='q' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchlocationbynameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='woeid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='active' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='timeZone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='finddailyforecastbywoeidRequestMessage'>
    <part name='parameters' element='tns:finddailyforecastbywoeidParameters' />
  </message>
  <message name='finddailyforecastbywoeidResponseMessage'>
    <part name='response' element='tns:finddailyforecastbywoeidResponse' />
  </message>
  <message name='findhourlyforecastbywoeidRequestMessage'>
    <part name='parameters' element='tns:findhourlyforecastbywoeidParameters' />
  </message>
  <message name='findhourlyforecastbywoeidResponseMessage'>
    <part name='response' element='tns:findhourlyforecastbywoeidResponse' />
  </message>
  <message name='getlocationbywoeidRequestMessage'>
    <part name='parameters' element='tns:getlocationbywoeidParameters' />
  </message>
  <message name='getlocationbywoeidResponseMessage'>
    <part name='response' element='tns:getlocationbywoeidResponse' />
  </message>
  <message name='registerlocationbywoeidRequestMessage'>
    <part name='parameters' element='tns:registerlocationbywoeidParameters' />
  </message>
  <message name='registerlocationbywoeidResponseMessage'>
    <part name='response' element='tns:registerlocationbywoeidResponse' />
  </message>
  <message name='searchlocationbynameRequestMessage'>
    <part name='parameters' element='tns:searchlocationbynameParameters' />
  </message>
  <message name='searchlocationbynameResponseMessage'>
    <part name='response' element='tns:searchlocationbynameResponse' />
  </message>
  <portType name='pollencheckPortType'>
    <operation name='finddailyforecastbywoeid'>
      <documentation>get daily forecast for a location</documentation>
      <input message='tns:finddailyforecastbywoeidRequestMessage' name='finddailyforecastbywoeidInput' />
      <output message='tns:finddailyforecastbywoeidResponseMessage' name='finddailyforecastbywoeidOutput' />
    </operation>
    <operation name='findhourlyforecastbywoeid'>
      <documentation>get a hourly forecast for a location</documentation>
      <input message='tns:findhourlyforecastbywoeidRequestMessage' name='findhourlyforecastbywoeidInput' />
      <output message='tns:findhourlyforecastbywoeidResponseMessage' name='findhourlyforecastbywoeidOutput' />
    </operation>
    <operation name='getlocationbywoeid'>
      <documentation>get a Location</documentation>
      <input message='tns:getlocationbywoeidRequestMessage' name='getlocationbywoeidInput' />
      <output message='tns:getlocationbywoeidResponseMessage' name='getlocationbywoeidOutput' />
    </operation>
    <operation name='registerlocationbywoeid'>
      <documentation>register a new Location</documentation>
      <input message='tns:registerlocationbywoeidRequestMessage' name='registerlocationbywoeidInput' />
      <output message='tns:registerlocationbywoeidResponseMessage' name='registerlocationbywoeidOutput' />
    </operation>
    <operation name='searchlocationbyname'>
      <documentation>search Location by name</documentation>
      <input message='tns:searchlocationbynameRequestMessage' name='searchlocationbynameInput' />
      <output message='tns:searchlocationbynameResponseMessage' name='searchlocationbynameOutput' />
    </operation>
  </portType>
  <binding name='pollencheckBinding' type='tns:pollencheckPortType'>
    <operation name='finddailyforecastbywoeid'>
      <soap12:operation soapAction='http://finddailyforecastbywoeid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findhourlyforecastbywoeid'>
      <soap12:operation soapAction='http://findhourlyforecastbywoeid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getlocationbywoeid'>
      <soap12:operation soapAction='http://getlocationbywoeid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='registerlocationbywoeid'>
      <soap12:operation soapAction='http://registerlocationbywoeid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchlocationbyname'>
      <soap12:operation soapAction='http://searchlocationbyname' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='pollencheck'>
    <documentation>pollenCheck provide pollen forecasts in Europe Four day forecasts are available at any city in Europe updated daily and including data every hours More details http www pollencheck eu docs</documentation>
    <port name='pollencheckPort' binding='tns:pollencheckBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://pollencheck' />
    </port>
  </service>
</definitions>