workspace/datasets/mashape_dataset/polstir.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/polstir/' name='polstir' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/polstir/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/polstir/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/polstir/'>
      <xsd:element name='loginResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='authToken' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pollsCreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='poll' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='featured' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='comments' type='xsd:int' minOccurs='0' />
                  <xsd:element name='method' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='question' type='xsd:string' minOccurs='0' />
                  <xsd:element name='published' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='options' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='score' type='xsd:int' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='votes' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='votes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='headline' type='xsd:string' minOccurs='0' />
                  <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pollsDeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pollsShowIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pollsShowIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='poll' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='featured' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='comments' type='xsd:int' minOccurs='0' />
                  <xsd:element name='question' type='xsd:string' minOccurs='0' />
                  <xsd:element name='method' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='voters' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='published' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='options' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='score' type='xsd:int' minOccurs='0' />
                        <xsd:element name='voteIds' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='votes' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='context' type='xsd:string' minOccurs='0' />
                  <xsd:element name='votes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pollsUpdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='loginRequestMessage' />
  <message name='loginResponseMessage'>
    <part name='response' element='tns:loginResponse' />
  </message>
  <message name='pollsCreateRequestMessage' />
  <message name='pollsCreateResponseMessage'>
    <part name='response' element='tns:pollsCreateResponse' />
  </message>
  <message name='pollsDeleteRequestMessage' />
  <message name='pollsDeleteResponseMessage'>
    <part name='response' element='tns:pollsDeleteResponse' />
  </message>
  <message name='pollsShowIdRequestMessage'>
    <part name='parameters' element='tns:pollsShowIdParameters' />
  </message>
  <message name='pollsShowIdResponseMessage'>
    <part name='response' element='tns:pollsShowIdResponse' />
  </message>
  <message name='pollsUpdateRequestMessage' />
  <message name='pollsUpdateResponseMessage'>
    <part name='response' element='tns:pollsUpdateResponse' />
  </message>
  <portType name='polstirPortType'>
    <operation name='login'>
      <documentation></documentation>
      <input message='tns:loginRequestMessage' name='loginInput' />
      <output message='tns:loginResponseMessage' name='loginOutput' />
    </operation>
    <operation name='pollsCreate'>
      <input message='tns:pollsCreateRequestMessage' name='pollsCreateInput' />
      <output message='tns:pollsCreateResponseMessage' name='pollsCreateOutput' />
    </operation>
    <operation name='pollsDelete'>
      <input message='tns:pollsDeleteRequestMessage' name='pollsDeleteInput' />
      <output message='tns:pollsDeleteResponseMessage' name='pollsDeleteOutput' />
    </operation>
    <operation name='pollsShowId'>
      <documentation></documentation>
      <input message='tns:pollsShowIdRequestMessage' name='pollsShowIdInput' />
      <output message='tns:pollsShowIdResponseMessage' name='pollsShowIdOutput' />
    </operation>
    <operation name='pollsUpdate'>
      <input message='tns:pollsUpdateRequestMessage' name='pollsUpdateInput' />
      <output message='tns:pollsUpdateResponseMessage' name='pollsUpdateOutput' />
    </operation>
  </portType>
  <binding name='polstirBinding' type='tns:polstirPortType'>
    <operation name='login'>
      <soap12:operation soapAction='http://login' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='pollsCreate'>
      <soap12:operation soapAction='http://pollsCreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='pollsDelete'>
      <soap12:operation soapAction='http://pollsDelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='pollsShowId'>
      <soap12:operation soapAction='http://pollsShowId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='pollsUpdate'>
      <soap12:operation soapAction='http://pollsUpdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='polstir'>
    <documentation>create real time polls with live comments</documentation>
    <port name='polstirPort' binding='tns:polstirBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://polstir' />
    </port>
  </service>
</definitions>