workspace/datasets/mashape_dataset/printchomp.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/printchomp/' name='printchomp' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/printchomp/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/printchomp/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/printchomp/'>
      <xsd:element name='createAShippingQuoteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAnOrderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllFilesForAnOrderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='orderid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllFilesForAnOrderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllOffersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='exclusive' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='productname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllOffersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllOrdersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllProductsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAFileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAProductParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAProductResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAllUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAnOfferParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAnOfferResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAnOrderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAnOrderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createAShippingQuoteRequestMessage' />
  <message name='createAShippingQuoteResponseMessage'>
    <part name='response' element='tns:createAShippingQuoteResponse' />
  </message>
  <message name='createAUserRequestMessage' />
  <message name='createAUserResponseMessage'>
    <part name='response' element='tns:createAUserResponse' />
  </message>
  <message name='createAnOrderRequestMessage' />
  <message name='createAnOrderResponseMessage'>
    <part name='response' element='tns:createAnOrderResponse' />
  </message>
  <message name='listAllFilesForAnOrderRequestMessage'>
    <part name='parameters' element='tns:listAllFilesForAnOrderParameters' />
  </message>
  <message name='listAllFilesForAnOrderResponseMessage'>
    <part name='response' element='tns:listAllFilesForAnOrderResponse' />
  </message>
  <message name='listAllOffersRequestMessage'>
    <part name='parameters' element='tns:listAllOffersParameters' />
  </message>
  <message name='listAllOffersResponseMessage'>
    <part name='response' element='tns:listAllOffersResponse' />
  </message>
  <message name='listAllOrdersRequestMessage' />
  <message name='listAllOrdersResponseMessage'>
    <part name='response' element='tns:listAllOrdersResponse' />
  </message>
  <message name='listAllProductsRequestMessage' />
  <message name='listAllProductsResponseMessage'>
    <part name='response' element='tns:listAllProductsResponse' />
  </message>
  <message name='retrieveAFileRequestMessage'>
    <part name='parameters' element='tns:retrieveAFileParameters' />
  </message>
  <message name='retrieveAFileResponseMessage'>
    <part name='response' element='tns:retrieveAFileResponse' />
  </message>
  <message name='retrieveAProductRequestMessage'>
    <part name='parameters' element='tns:retrieveAProductParameters' />
  </message>
  <message name='retrieveAProductResponseMessage'>
    <part name='response' element='tns:retrieveAProductResponse' />
  </message>
  <message name='retrieveAUserRequestMessage'>
    <part name='parameters' element='tns:retrieveAUserParameters' />
  </message>
  <message name='retrieveAUserResponseMessage'>
    <part name='response' element='tns:retrieveAUserResponse' />
  </message>
  <message name='retrieveAllUsersRequestMessage' />
  <message name='retrieveAllUsersResponseMessage'>
    <part name='response' element='tns:retrieveAllUsersResponse' />
  </message>
  <message name='retrieveAnOfferRequestMessage'>
    <part name='parameters' element='tns:retrieveAnOfferParameters' />
  </message>
  <message name='retrieveAnOfferResponseMessage'>
    <part name='response' element='tns:retrieveAnOfferResponse' />
  </message>
  <message name='retrieveAnOrderRequestMessage'>
    <part name='parameters' element='tns:retrieveAnOrderParameters' />
  </message>
  <message name='retrieveAnOrderResponseMessage'>
    <part name='response' element='tns:retrieveAnOrderResponse' />
  </message>
  <portType name='printchompPortType'>
    <operation name='createAShippingQuote'>
      <documentation>obtains a shipping quote for an offer</documentation>
      <input message='tns:createAShippingQuoteRequestMessage' name='createAShippingQuoteInput' />
      <output message='tns:createAShippingQuoteResponseMessage' name='createAShippingQuoteOutput' />
    </operation>
    <operation name='createAUser'>
      <documentation>creates a user and associates the user with your application</documentation>
      <input message='tns:createAUserRequestMessage' name='createAUserInput' />
      <output message='tns:createAUserResponseMessage' name='createAUserOutput' />
    </operation>
    <operation name='createAnOrder'>
      <documentation></documentation>
      <input message='tns:createAnOrderRequestMessage' name='createAnOrderInput' />
      <output message='tns:createAnOrderResponseMessage' name='createAnOrderOutput' />
    </operation>
    <operation name='listAllFilesForAnOrder'>
      <input message='tns:listAllFilesForAnOrderRequestMessage' name='listAllFilesForAnOrderInput' />
      <output message='tns:listAllFilesForAnOrderResponseMessage' name='listAllFilesForAnOrderOutput' />
    </operation>
    <operation name='listAllOffers'>
      <documentation></documentation>
      <input message='tns:listAllOffersRequestMessage' name='listAllOffersInput' />
      <output message='tns:listAllOffersResponseMessage' name='listAllOffersOutput' />
    </operation>
    <operation name='listAllOrders'>
      <documentation></documentation>
      <input message='tns:listAllOrdersRequestMessage' name='listAllOrdersInput' />
      <output message='tns:listAllOrdersResponseMessage' name='listAllOrdersOutput' />
    </operation>
    <operation name='listAllProducts'>
      <documentation></documentation>
      <input message='tns:listAllProductsRequestMessage' name='listAllProductsInput' />
      <output message='tns:listAllProductsResponseMessage' name='listAllProductsOutput' />
    </operation>
    <operation name='retrieveAFile'>
      <documentation></documentation>
      <input message='tns:retrieveAFileRequestMessage' name='retrieveAFileInput' />
      <output message='tns:retrieveAFileResponseMessage' name='retrieveAFileOutput' />
    </operation>
    <operation name='retrieveAProduct'>
      <documentation></documentation>
      <input message='tns:retrieveAProductRequestMessage' name='retrieveAProductInput' />
      <output message='tns:retrieveAProductResponseMessage' name='retrieveAProductOutput' />
    </operation>
    <operation name='retrieveAUser'>
      <documentation>retrieves a user</documentation>
      <input message='tns:retrieveAUserRequestMessage' name='retrieveAUserInput' />
      <output message='tns:retrieveAUserResponseMessage' name='retrieveAUserOutput' />
    </operation>
    <operation name='retrieveAllUsers'>
      <documentation>retrieves all users associated with your application</documentation>
      <input message='tns:retrieveAllUsersRequestMessage' name='retrieveAllUsersInput' />
      <output message='tns:retrieveAllUsersResponseMessage' name='retrieveAllUsersOutput' />
    </operation>
    <operation name='retrieveAnOffer'>
      <documentation></documentation>
      <input message='tns:retrieveAnOfferRequestMessage' name='retrieveAnOfferInput' />
      <output message='tns:retrieveAnOfferResponseMessage' name='retrieveAnOfferOutput' />
    </operation>
    <operation name='retrieveAnOrder'>
      <documentation></documentation>
      <input message='tns:retrieveAnOrderRequestMessage' name='retrieveAnOrderInput' />
      <output message='tns:retrieveAnOrderResponseMessage' name='retrieveAnOrderOutput' />
    </operation>
  </portType>
  <binding name='printchompBinding' type='tns:printchompPortType'>
    <operation name='createAShippingQuote'>
      <soap12:operation soapAction='http://createAShippingQuote' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAUser'>
      <soap12:operation soapAction='http://createAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAnOrder'>
      <soap12:operation soapAction='http://createAnOrder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllFilesForAnOrder'>
      <soap12:operation soapAction='http://listAllFilesForAnOrder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllOffers'>
      <soap12:operation soapAction='http://listAllOffers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllOrders'>
      <soap12:operation soapAction='http://listAllOrders' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllProducts'>
      <soap12:operation soapAction='http://listAllProducts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAFile'>
      <soap12:operation soapAction='http://retrieveAFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAProduct'>
      <soap12:operation soapAction='http://retrieveAProduct' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAUser'>
      <soap12:operation soapAction='http://retrieveAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAllUsers'>
      <soap12:operation soapAction='http://retrieveAllUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAnOffer'>
      <soap12:operation soapAction='http://retrieveAnOffer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAnOrder'>
      <soap12:operation soapAction='http://retrieveAnOrder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='printchomp'>
    <documentation>printchomp API from the very start was envisioned and developed with developers in mind We make sure we re always accessible to our API partners and welcome all feedback Printchomp API is truly RESTful and has adopted Hypertext Application Language HAL to make it easily consumable and explorable All API calls and responses are very consistent making it a delight to program against</documentation>
    <port name='printchompPort' binding='tns:printchompBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://printchomp' />
    </port>
  </service>
</definitions>