workspace/datasets/mashape_dataset/proprofssurveymaker.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/proprofsSurveyMaker/' name='proprofsSurveyMaker' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/proprofsSurveyMaker/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/proprofsSurveyMaker/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/proprofsSurveyMaker/'>
      <xsd:element name='surveySoftwareResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='surveySoftwareRequestMessage' />
  <message name='surveySoftwareResponseMessage'>
    <part name='response' element='tns:surveySoftwareResponse' />
  </message>
  <portType name='proprofsSurveyMakerPortType'>
    <operation name='surveySoftware'>
      <documentation>create online survey</documentation>
      <input message='tns:surveySoftwareRequestMessage' name='surveySoftwareInput' />
      <output message='tns:surveySoftwareResponseMessage' name='surveySoftwareOutput' />
    </operation>
  </portType>
  <binding name='proprofsSurveyMakerBinding' type='tns:proprofsSurveyMakerPortType'>
    <operation name='surveySoftware'>
      <soap12:operation soapAction='http://surveySoftware' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='proprofsSurveyMaker'>
    <documentation>proProfs is a powerful survey tool using which educators instructors online marketers and organizations can quickly create a range of surveys such as customer feedback survey market research survey demographic survey course evaluation survey and more Along with this ProProfs Survey Maker supports advanced features including response grading detailed survey stats multiple question types cross device compatibility survey embed facility and many more ProProfs also makes creating surveys a delight with a simple drag and drop survey creation interface easy edit and effortlessly change or reordering of survey questions all on the same page With ProProfs Survey Maker you can create surveys tailored to the needs of your respondents and get detailed reports which help you to accurately interpret the results of your survey</documentation>
    <port name='proprofsSurveyMakerPort' binding='tns:proprofsSurveyMakerBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://proprofsSurveyMaker' />
    </port>
  </service>
</definitions>