workspace/datasets/mashape_dataset/proxies.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/proxies/' name='proxies' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/proxies/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/proxies/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/proxies/'>
      <xsd:element name='getAProxyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='maxresponsetime' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAProxyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='proxy' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProxiesInBatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='batchsize' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='maxresponsetime' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getProxiesInBatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='proxy' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='markProxyBlockedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='proxy' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='markProxyBlockedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='markProxyDeadParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='proxy' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='markProxyDeadResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='headers' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='server' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='vary' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='x-vary-options' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='x-varnish' type='xsd:string' minOccurs='0' />
                  <xsd:element name='via' type='xsd:string' minOccurs='0' />
                  <xsd:element name='last-modified' type='xsd:string' minOccurs='0' />
                  <xsd:element name='set-cookie' type='xsd:string' minOccurs='0' />
                  <xsd:element name='x-content-type-options' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='proxy-connection' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='x-powered-by' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='content-type' type='xsd:string' minOccurs='0' />
                  <xsd:element name='x-cache' type='xsd:string' minOccurs='0' />
                  <xsd:element name='accept-ranges' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cache-control' type='xsd:string' minOccurs='0' />
                  <xsd:element name='age' type='xsd:int' minOccurs='0' />
                  <xsd:element name='content-language' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='retrievalTime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='statusCode' type='xsd:int' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='htmlContent' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getAProxyRequestMessage'>
    <part name='parameters' element='tns:getAProxyParameters' />
  </message>
  <message name='getAProxyResponseMessage'>
    <part name='response' element='tns:getAProxyResponse' />
  </message>
  <message name='getProxiesInBatchRequestMessage'>
    <part name='parameters' element='tns:getProxiesInBatchParameters' />
  </message>
  <message name='getProxiesInBatchResponseMessage'>
    <part name='response' element='tns:getProxiesInBatchResponse' />
  </message>
  <message name='markProxyBlockedRequestMessage'>
    <part name='parameters' element='tns:markProxyBlockedParameters' />
  </message>
  <message name='markProxyBlockedResponseMessage'>
    <part name='response' element='tns:markProxyBlockedResponse' />
  </message>
  <message name='markProxyDeadRequestMessage'>
    <part name='parameters' element='tns:markProxyDeadParameters' />
  </message>
  <message name='markProxyDeadResponseMessage'>
    <part name='response' element='tns:markProxyDeadResponse' />
  </message>
  <message name='retrieveRequestMessage'>
    <part name='parameters' element='tns:retrieveParameters' />
  </message>
  <message name='retrieveResponseMessage'>
    <part name='response' element='tns:retrieveResponse' />
  </message>
  <portType name='proxiesPortType'>
    <operation name='getAProxy'>
      <documentation>get a fresh proxy</documentation>
      <input message='tns:getAProxyRequestMessage' name='getAProxyInput' />
      <output message='tns:getAProxyResponseMessage' name='getAProxyOutput' />
    </operation>
    <operation name='getProxiesInBatch'>
      <documentation>get multiple proxies with one request</documentation>
      <input message='tns:getProxiesInBatchRequestMessage' name='getProxiesInBatchInput' />
      <output message='tns:getProxiesInBatchResponseMessage' name='getProxiesInBatchOutput' />
    </operation>
    <operation name='markProxyBlocked'>
      <documentation>mark a certain proxy as blocked</documentation>
      <input message='tns:markProxyBlockedRequestMessage' name='markProxyBlockedInput' />
      <output message='tns:markProxyBlockedResponseMessage' name='markProxyBlockedOutput' />
    </operation>
    <operation name='markProxyDead'>
      <documentation>mark a certain proxy as dead</documentation>
      <input message='tns:markProxyDeadRequestMessage' name='markProxyDeadInput' />
      <output message='tns:markProxyDeadResponseMessage' name='markProxyDeadOutput' />
    </operation>
    <operation name='retrieve'>
      <documentation>retrieve a Web page using a proxy</documentation>
      <input message='tns:retrieveRequestMessage' name='retrieveInput' />
      <output message='tns:retrieveResponseMessage' name='retrieveOutput' />
    </operation>
  </portType>
  <binding name='proxiesBinding' type='tns:proxiesPortType'>
    <operation name='getAProxy'>
      <soap12:operation soapAction='http://getAProxy' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getProxiesInBatch'>
      <soap12:operation soapAction='http://getProxiesInBatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='markProxyBlocked'>
      <soap12:operation soapAction='http://markProxyBlocked' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='markProxyDead'>
      <soap12:operation soapAction='http://markProxyDead' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieve'>
      <soap12:operation soapAction='http://retrieve' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='proxies'>
    <documentation>the WebKnox proxies API lets you retrieve public proxies We try to keep a list of fresh unblocked high responsive and alive proxies Public proxies come and go so it is not guaranteed that they are available at the point of retrieval You can improve proxy delivery by sending feedback whether a proxy is blocked or dead</documentation>
    <port name='proxiesPort' binding='tns:proxiesBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://proxies' />
    </port>
  </service>
</definitions>