workspace/datasets/mashape_dataset/psychsignal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/psychsignal/' name='psychsignal' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/psychsignal/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/psychsignal/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/psychsignal/'>
      <xsd:element name='getApiAlertsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiAlertsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alerts' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='symbol' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sentiment' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='level' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='movement' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiAlertsStreamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiAlertsStreamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alerts' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='symbol' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sentiment' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='level' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='movement' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiRatioParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiRatioResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ratios' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='symbol' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='bearish' type='xsd:int' minOccurs='0' />
                  <xsd:element name='bullish' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ratio' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiRatioAllParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiRatioAllResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ratios' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='symbol' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='bearish' type='xsd:int' minOccurs='0' />
                  <xsd:element name='bullish' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ratio' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiSentimentsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='period' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiSentimentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sentiments' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='symbol' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='bearish' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='bullish' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiSentimentsAllParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='period' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiSentimentsAllResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sentiments' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='symbol' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='bearish' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='bullish' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getApiAlertsRequestMessage'>
    <part name='parameters' element='tns:getApiAlertsParameters' />
  </message>
  <message name='getApiAlertsResponseMessage'>
    <part name='response' element='tns:getApiAlertsResponse' />
  </message>
  <message name='getApiAlertsStreamRequestMessage'>
    <part name='parameters' element='tns:getApiAlertsStreamParameters' />
  </message>
  <message name='getApiAlertsStreamResponseMessage'>
    <part name='response' element='tns:getApiAlertsStreamResponse' />
  </message>
  <message name='getApiRatioRequestMessage'>
    <part name='parameters' element='tns:getApiRatioParameters' />
  </message>
  <message name='getApiRatioResponseMessage'>
    <part name='response' element='tns:getApiRatioResponse' />
  </message>
  <message name='getApiRatioAllRequestMessage'>
    <part name='parameters' element='tns:getApiRatioAllParameters' />
  </message>
  <message name='getApiRatioAllResponseMessage'>
    <part name='response' element='tns:getApiRatioAllResponse' />
  </message>
  <message name='getApiSentimentsRequestMessage'>
    <part name='parameters' element='tns:getApiSentimentsParameters' />
  </message>
  <message name='getApiSentimentsResponseMessage'>
    <part name='response' element='tns:getApiSentimentsResponse' />
  </message>
  <message name='getApiSentimentsAllRequestMessage'>
    <part name='parameters' element='tns:getApiSentimentsAllParameters' />
  </message>
  <message name='getApiSentimentsAllResponseMessage'>
    <part name='response' element='tns:getApiSentimentsAllResponse' />
  </message>
  <portType name='psychsignalPortType'>
    <operation name='getApiAlerts'>
      <documentation>returns alerts triggered on the system for the requested date range Defaults to most recent data available for your API access level It can be stock specific and the date range is limited to days</documentation>
      <input message='tns:getApiAlertsRequestMessage' name='getApiAlertsInput' />
      <output message='tns:getApiAlertsResponseMessage' name='getApiAlertsOutput' />
    </operation>
    <operation name='getApiAlertsStream'>
      <documentation>returns paginated alerts triggered on the system from most recent to oldest It can be stock specific and it is limited to alerts per request It s also limited by your API level access</documentation>
      <input message='tns:getApiAlertsStreamRequestMessage' name='getApiAlertsStreamInput' />
      <output message='tns:getApiAlertsStreamResponseMessage' name='getApiAlertsStreamOutput' />
    </operation>
    <operation name='getApiRatio'>
      <documentation>returns daily bullish bearish messages volume ratio for a specific symbol Defaults to most recent data available for your API access level</documentation>
      <input message='tns:getApiRatioRequestMessage' name='getApiRatioInput' />
      <output message='tns:getApiRatioResponseMessage' name='getApiRatioOutput' />
    </operation>
    <operation name='getApiRatioAll'>
      <documentation>returns daily bullish bearish messages volume ratio for all symbols Defaults to most recent data available for your API access level</documentation>
      <input message='tns:getApiRatioAllRequestMessage' name='getApiRatioAllInput' />
      <output message='tns:getApiRatioAllResponseMessage' name='getApiRatioAllOutput' />
    </operation>
    <operation name='getApiSentiments'>
      <documentation>returns the raw bullish and bearish values for a specific stock and specified date range aggregated by period Defaults to most recent data available for your API access level</documentation>
      <input message='tns:getApiSentimentsRequestMessage' name='getApiSentimentsInput' />
      <output message='tns:getApiSentimentsResponseMessage' name='getApiSentimentsOutput' />
    </operation>
    <operation name='getApiSentimentsAll'>
      <documentation>returns the raw bullish and bearish values for all stocks and specific date aggregated by period Defaults to most recent data available for your API access level</documentation>
      <input message='tns:getApiSentimentsAllRequestMessage' name='getApiSentimentsAllInput' />
      <output message='tns:getApiSentimentsAllResponseMessage' name='getApiSentimentsAllOutput' />
    </operation>
  </portType>
  <binding name='psychsignalBinding' type='tns:psychsignalPortType'>
    <operation name='getApiAlerts'>
      <soap12:operation soapAction='http://getApiAlerts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getApiAlertsStream'>
      <soap12:operation soapAction='http://getApiAlertsStream' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getApiRatio'>
      <soap12:operation soapAction='http://getApiRatio' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getApiRatioAll'>
      <soap12:operation soapAction='http://getApiRatioAll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getApiSentiments'>
      <soap12:operation soapAction='http://getApiSentiments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getApiSentimentsAll'>
      <soap12:operation soapAction='http://getApiSentimentsAll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='psychsignal'>
    <documentation>the most granular real time financial sentiment API in the world</documentation>
    <port name='psychsignalPort' binding='tns:psychsignalBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://psychsignal' />
    </port>
  </service>
</definitions>