workspace/datasets/mashape_dataset/publicproxies.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/publicProxies/' name='publicProxies' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/publicProxies/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/publicProxies/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/publicProxies/'>
      <xsd:element name='proxiesCsvParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alive' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='protocols' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='proxiesCsvResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='proxiesJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alive' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='protocols' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='proxiesJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='proxies' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='alive' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='port' type='xsd:int' minOccurs='0' />
                        <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='ip' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='protocols' type='xsd:normalizedString' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='filters' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='country_code' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='request_id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='proxiesTxtParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alive' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='protocols' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='proxiesTxtResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='proxiesXmlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alive' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='protocols' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='proxiesXmlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='proxiesCsvRequestMessage'>
    <part name='parameters' element='tns:proxiesCsvParameters' />
  </message>
  <message name='proxiesCsvResponseMessage'>
    <part name='response' element='tns:proxiesCsvResponse' />
  </message>
  <message name='proxiesJsonRequestMessage'>
    <part name='parameters' element='tns:proxiesJsonParameters' />
  </message>
  <message name='proxiesJsonResponseMessage'>
    <part name='response' element='tns:proxiesJsonResponse' />
  </message>
  <message name='proxiesTxtRequestMessage'>
    <part name='parameters' element='tns:proxiesTxtParameters' />
  </message>
  <message name='proxiesTxtResponseMessage'>
    <part name='response' element='tns:proxiesTxtResponse' />
  </message>
  <message name='proxiesXmlRequestMessage'>
    <part name='parameters' element='tns:proxiesXmlParameters' />
  </message>
  <message name='proxiesXmlResponseMessage'>
    <part name='response' element='tns:proxiesXmlResponse' />
  </message>
  <portType name='publicProxiesPortType'>
    <operation name='proxiesCsv'>
      <documentation>cSV</documentation>
      <input message='tns:proxiesCsvRequestMessage' name='proxiesCsvInput' />
      <output message='tns:proxiesCsvResponseMessage' name='proxiesCsvOutput' />
    </operation>
    <operation name='proxiesJson'>
      <documentation>jSON</documentation>
      <input message='tns:proxiesJsonRequestMessage' name='proxiesJsonInput' />
      <output message='tns:proxiesJsonResponseMessage' name='proxiesJsonOutput' />
    </operation>
    <operation name='proxiesTxt'>
      <documentation>tXT</documentation>
      <input message='tns:proxiesTxtRequestMessage' name='proxiesTxtInput' />
      <output message='tns:proxiesTxtResponseMessage' name='proxiesTxtOutput' />
    </operation>
    <operation name='proxiesXml'>
      <documentation>xML</documentation>
      <input message='tns:proxiesXmlRequestMessage' name='proxiesXmlInput' />
      <output message='tns:proxiesXmlResponseMessage' name='proxiesXmlOutput' />
    </operation>
  </portType>
  <binding name='publicProxiesBinding' type='tns:publicProxiesPortType'>
    <operation name='proxiesCsv'>
      <soap12:operation soapAction='http://proxiesCsv' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='proxiesJson'>
      <soap12:operation soapAction='http://proxiesJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='proxiesTxt'>
      <soap12:operation soapAction='http://proxiesTxt' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='proxiesXml'>
      <soap12:operation soapAction='http://proxiesXml' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='publicProxies'>
    <documentation>the most reliable public proxy servers list Thousands of http and socks proxies tested daily</documentation>
    <port name='publicProxiesPort' binding='tns:publicProxiesBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://publicProxies' />
    </port>
  </service>
</definitions>