workspace/datasets/mashape_dataset/pubnubnetwork.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/pubnubNetwork/' name='pubnubNetwork' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/pubnubNetwork/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/pubnubNetwork/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/pubnubNetwork/'>
      <xsd:element name='hereNowParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='channel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subscribekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hereNowResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='occupancy' type='xsd:int' minOccurs='0' />
            <xsd:element name='uuids' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='channel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subscribekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='historyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='channel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='message' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='publishkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subscribekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publishResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registerDeviceApnsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='add' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='devicetoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='remove' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subscribekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registerDeviceApnsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='replayParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='destination' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='publishkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='source' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subscribekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='replayResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscribeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='channel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subscribekey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timetoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='subscribeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='timeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='timeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='hereNowRequestMessage'>
    <part name='parameters' element='tns:hereNowParameters' />
  </message>
  <message name='hereNowResponseMessage'>
    <part name='response' element='tns:hereNowResponse' />
  </message>
  <message name='historyRequestMessage'>
    <part name='parameters' element='tns:historyParameters' />
  </message>
  <message name='historyResponseMessage'>
    <part name='response' element='tns:historyResponse' />
  </message>
  <message name='publishRequestMessage'>
    <part name='parameters' element='tns:publishParameters' />
  </message>
  <message name='publishResponseMessage'>
    <part name='response' element='tns:publishResponse' />
  </message>
  <message name='registerDeviceApnsRequestMessage'>
    <part name='parameters' element='tns:registerDeviceApnsParameters' />
  </message>
  <message name='registerDeviceApnsResponseMessage'>
    <part name='response' element='tns:registerDeviceApnsResponse' />
  </message>
  <message name='replayRequestMessage'>
    <part name='parameters' element='tns:replayParameters' />
  </message>
  <message name='replayResponseMessage'>
    <part name='response' element='tns:replayResponse' />
  </message>
  <message name='subscribeRequestMessage'>
    <part name='parameters' element='tns:subscribeParameters' />
  </message>
  <message name='subscribeResponseMessage'>
    <part name='response' element='tns:subscribeResponse' />
  </message>
  <message name='timeRequestMessage'>
    <part name='parameters' element='tns:timeParameters' />
  </message>
  <message name='timeResponseMessage'>
    <part name='response' element='tns:timeResponse' />
  </message>
  <portType name='pubnubNetworkPortType'>
    <operation name='hereNow'>
      <documentation>presence Summery of User IDs who are Online Now</documentation>
      <input message='tns:hereNowRequestMessage' name='hereNowInput' />
      <output message='tns:hereNowResponseMessage' name='hereNowOutput' />
    </operation>
    <operation name='history'>
      <documentation>get older messages</documentation>
      <input message='tns:historyRequestMessage' name='historyInput' />
      <output message='tns:historyResponseMessage' name='historyOutput' />
    </operation>
    <operation name='publish'>
      <documentation>send message</documentation>
      <input message='tns:publishRequestMessage' name='publishInput' />
      <output message='tns:publishResponseMessage' name='publishOutput' />
    </operation>
    <operation name='registerDeviceApns'>
      <documentation>iOS Only Register and Deregister an iOS Device to receive Apple Push Notification Service This is a secondary PubNub Service endpoint that allows you to PUBLISH a message via PubNub Publish API and receive the data via APNs See https gist github com stephenlb c c d f f for more details</documentation>
      <input message='tns:registerDeviceApnsRequestMessage' name='registerDeviceApnsInput' />
      <output message='tns:registerDeviceApnsResponseMessage' name='registerDeviceApnsOutput' />
    </operation>
    <operation name='replay'>
      <documentation>replay messages from the past in the order and timespan they came in</documentation>
      <input message='tns:replayRequestMessage' name='replayInput' />
      <output message='tns:replayResponseMessage' name='replayOutput' />
    </operation>
    <operation name='subscribe'>
      <documentation>receive message</documentation>
      <input message='tns:subscribeRequestMessage' name='subscribeInput' />
      <output message='tns:subscribeResponseMessage' name='subscribeOutput' />
    </operation>
    <operation name='time'>
      <documentation>timetoken from PubNub Network</documentation>
      <input message='tns:timeRequestMessage' name='timeInput' />
      <output message='tns:timeResponseMessage' name='timeOutput' />
    </operation>
  </portType>
  <binding name='pubnubNetworkBinding' type='tns:pubnubNetworkPortType'>
    <operation name='hereNow'>
      <soap12:operation soapAction='http://hereNow' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='history'>
      <soap12:operation soapAction='http://history' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publish'>
      <soap12:operation soapAction='http://publish' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='registerDeviceApns'>
      <soap12:operation soapAction='http://registerDeviceApns' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='replay'>
      <soap12:operation soapAction='http://replay' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='subscribe'>
      <soap12:operation soapAction='http://subscribe' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='time'>
      <soap12:operation soapAction='http://time' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='pubnubNetwork'>
    <documentation>the PubNub Network makes Real time Communications Simple with an easy API Two Functions Send Receive Publish Subscribe We provide a web scale API for businesses to build scalable Data Push communication apps on Mobile Tablet and Web Bidirectional JSON Ask for commit access via Twitter pubnub via IRC pubnub on FreeNode</documentation>
    <port name='pubnubNetworkPort' binding='tns:pubnubNetworkBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://pubnubNetwork' />
    </port>
  </service>
</definitions>