workspace/datasets/mashape_dataset/qrdbycreatetrackableqrcodes.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/qrdByCreateTrackableQrCodes/' name='qrdByCreateTrackableQrCodes' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/qrdByCreateTrackableQrCodes/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/qrdByCreateTrackableQrCodes/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/qrdByCreateTrackableQrCodes/'>
      <xsd:element name='geotagsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='geotagsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='geotags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='qr' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='image' type='xsd:string' minOccurs='0' />
                        <xsd:element name='creationdate' type='xsd:string' minOccurs='0' />
                        <xsd:element name='shorturl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='scans' type='xsd:int' minOccurs='0' />
                        <xsd:element name='uniquevisitors' type='xsd:int' minOccurs='0' />
                        <xsd:element name='location' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='note' type='xsd:string' minOccurs='0' />
                              <xsd:element name='address' type='xsd:string' minOccurs='0' />
                              <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='gps' type='xsd:int' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shortParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lng' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='note' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shortResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='qr' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='image' type='xsd:string' minOccurs='0' />
                  <xsd:element name='creationdate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='shorturl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='location' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='note' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='statParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='statResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='qr' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='image' type='xsd:string' minOccurs='0' />
                  <xsd:element name='creationdate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='firstrequestdate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='requestcount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='shorturl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='daysbetweenfirstandlastrequest' type='xsd:int' minOccurs='0' />
                  <xsd:element name='callsperday' type='xsd:int' minOccurs='0' />
                  <xsd:element name='uniqevisitors' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='lastrequestdate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='dayssincecreated' type='xsd:int' minOccurs='0' />
                  <xsd:element name='location' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='note' type='xsd:string' minOccurs='0' />
                        <xsd:element name='address' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='geotagsRequestMessage'>
    <part name='parameters' element='tns:geotagsParameters' />
  </message>
  <message name='geotagsResponseMessage'>
    <part name='response' element='tns:geotagsResponse' />
  </message>
  <message name='shortRequestMessage'>
    <part name='parameters' element='tns:shortParameters' />
  </message>
  <message name='shortResponseMessage'>
    <part name='response' element='tns:shortResponse' />
  </message>
  <message name='statRequestMessage'>
    <part name='parameters' element='tns:statParameters' />
  </message>
  <message name='statResponseMessage'>
    <part name='response' element='tns:statResponse' />
  </message>
  <portType name='qrdByCreateTrackableQrCodesPortType'>
    <operation name='geotags'>
      <documentation>this method retrieves a list of all created QR Codes</documentation>
      <input message='tns:geotagsRequestMessage' name='geotagsInput' />
      <output message='tns:geotagsResponseMessage' name='geotagsOutput' />
    </operation>
    <operation name='short'>
      <documentation>the method shortens a given URL and returns the shortended URL as well the QR Code URL You may attach optional geo information to set a location of where the QR Code will be placed This may be your company address or any location where you want to stick your QR Code The parameter address is a human readable address string The parameter lat Latitude and lng Longitude are used for further machine processing e g to show the location on a map The note parameter is used to add a detailed description about the location e g nd floor left door</documentation>
      <input message='tns:shortRequestMessage' name='shortInput' />
      <output message='tns:shortResponseMessage' name='shortOutput' />
    </operation>
    <operation name='stat'>
      <documentation>this method returns the statistics for a QR Code The response includes basic statistical data like the original URL shortened URL link to the QR Code address and geo coordinates followed by when was the shortened URL first accessed how much time elapsed between the first and the last call how often the URL is called by day the URL s age in days the number of uniqe visitors and the total number of requests For every request detailed information about the request date the country the region which browser version which OS and which model or brand if the QR Code was scanned with a mobile device is saved If the user sends his location after scanning the QR Code his position is encoded as lng lat</documentation>
      <input message='tns:statRequestMessage' name='statInput' />
      <output message='tns:statResponseMessage' name='statOutput' />
    </operation>
  </portType>
  <binding name='qrdByCreateTrackableQrCodesBinding' type='tns:qrdByCreateTrackableQrCodesPortType'>
    <operation name='geotags'>
      <soap12:operation soapAction='http://geotags' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='short'>
      <soap12:operation soapAction='http://short' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stat'>
      <soap12:operation soapAction='http://stat' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='qrdByCreateTrackableQrCodes'>
    <documentation>the API lets you create trackable QR Codes and retrieve statistics about where when and which device the QR Code scanned You can attach optional geo information like address longitude or latitude to set a fixed position for a QR Code</documentation>
    <port name='qrdByCreateTrackableQrCodesPort' binding='tns:qrdByCreateTrackableQrCodesBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://qrdByCreateTrackableQrCodes' />
    </port>
  </service>
</definitions>