workspace/datasets/mashape_dataset/questionanswering.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/questionAnswering/' name='questionAnswering' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/questionAnswering/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/questionAnswering/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/questionAnswering/'>
      <xsd:element name='answerAQuestionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='answerlookup' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='answersearch' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='question' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='answerAQuestionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='answer' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='quicklyAnswerAQuestionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='question' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='quicklyAnswerAQuestionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='a' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='answerAQuestionRequestMessage'>
    <part name='parameters' element='tns:answerAQuestionParameters' />
  </message>
  <message name='answerAQuestionResponseMessage'>
    <part name='response' element='tns:answerAQuestionResponse' />
  </message>
  <message name='quicklyAnswerAQuestionRequestMessage'>
    <part name='parameters' element='tns:quicklyAnswerAQuestionParameters' />
  </message>
  <message name='quicklyAnswerAQuestionResponseMessage'>
    <part name='response' element='tns:quicklyAnswerAQuestionResponse' />
  </message>
  <portType name='questionAnsweringPortType'>
    <operation name='answerAQuestion'>
      <documentation>find an answer to a given question</documentation>
      <input message='tns:answerAQuestionRequestMessage' name='answerAQuestionInput' />
      <output message='tns:answerAQuestionResponseMessage' name='answerAQuestionOutput' />
    </operation>
    <operation name='quicklyAnswerAQuestion'>
      <documentation>get a short quick answer to a simple question</documentation>
      <input message='tns:quicklyAnswerAQuestionRequestMessage' name='quicklyAnswerAQuestionInput' />
      <output message='tns:quicklyAnswerAQuestionResponseMessage' name='quicklyAnswerAQuestionOutput' />
    </operation>
  </portType>
  <binding name='questionAnsweringBinding' type='tns:questionAnsweringPortType'>
    <operation name='answerAQuestion'>
      <soap12:operation soapAction='http://answerAQuestion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='quicklyAnswerAQuestion'>
      <soap12:operation soapAction='http://quicklyAnswerAQuestion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='questionAnswering'>
    <documentation>the WebKnox question answering API allows you to find answers to natural language questions These questions can be factual such as What is the capital of Australia or more complex</documentation>
    <port name='questionAnsweringPort' binding='tns:questionAnsweringBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://questionAnswering' />
    </port>
  </service>
</definitions>