workspace/datasets/mashape_dataset/quicktate.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/quicktate/' name='quicktate' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/quicktate/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/quicktate/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/quicktate/'>
      <xsd:element name='cancelTranscriptionRequestParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cancelTranscriptionRequestResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createTranscriptionRequestResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTranscriptionByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTranscriptionByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
            <xsd:element name='metadata' type='xsd:string' minOccurs='0' />
            <xsd:element name='transcription' type='xsd:string' minOccurs='0' />
            <xsd:element name='dateCompleted' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='language' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='datePosted' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTranscriptionRequestByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTranscriptionRequestByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' type='xsd:string' minOccurs='0' />
            <xsd:element name='audiourl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='callbackDestination' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='callbackMethod' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='datePosted' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='audiodata' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTranscriptionRequestsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' type='xsd:string' minOccurs='0' />
            <xsd:element name='audiourl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='callbackDestination' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='callbackMethod' type='xsd:string' minOccurs='0' />
            <xsd:element name='language' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='datePosted' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='audiodata' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTranscriptionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='wordcount' type='xsd:int' minOccurs='0' />
            <xsd:element name='metadata' type='xsd:string' minOccurs='0' />
            <xsd:element name='transcription' type='xsd:string' minOccurs='0' />
            <xsd:element name='dateCompleted' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='language' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='datePosted' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTranscriptionRequestParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTranscriptionRequestResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='cancelTranscriptionRequestRequestMessage'>
    <part name='parameters' element='tns:cancelTranscriptionRequestParameters' />
  </message>
  <message name='cancelTranscriptionRequestResponseMessage'>
    <part name='response' element='tns:cancelTranscriptionRequestResponse' />
  </message>
  <message name='createTranscriptionRequestRequestMessage' />
  <message name='createTranscriptionRequestResponseMessage'>
    <part name='response' element='tns:createTranscriptionRequestResponse' />
  </message>
  <message name='getTranscriptionByIdRequestMessage'>
    <part name='parameters' element='tns:getTranscriptionByIdParameters' />
  </message>
  <message name='getTranscriptionByIdResponseMessage'>
    <part name='response' element='tns:getTranscriptionByIdResponse' />
  </message>
  <message name='getTranscriptionRequestByIdRequestMessage'>
    <part name='parameters' element='tns:getTranscriptionRequestByIdParameters' />
  </message>
  <message name='getTranscriptionRequestByIdResponseMessage'>
    <part name='response' element='tns:getTranscriptionRequestByIdResponse' />
  </message>
  <message name='getTranscriptionRequestsRequestMessage' />
  <message name='getTranscriptionRequestsResponseMessage'>
    <part name='response' element='tns:getTranscriptionRequestsResponse' />
  </message>
  <message name='getTranscriptionsRequestMessage' />
  <message name='getTranscriptionsResponseMessage'>
    <part name='response' element='tns:getTranscriptionsResponse' />
  </message>
  <message name='updateTranscriptionRequestRequestMessage'>
    <part name='parameters' element='tns:updateTranscriptionRequestParameters' />
  </message>
  <message name='updateTranscriptionRequestResponseMessage'>
    <part name='response' element='tns:updateTranscriptionRequestResponse' />
  </message>
  <portType name='quicktatePortType'>
    <operation name='cancelTranscriptionRequest'>
      <documentation>this cancels a transcription request If the transcription request is already being processed or has completed processing you cannot cancel</documentation>
      <input message='tns:cancelTranscriptionRequestRequestMessage' name='cancelTranscriptionRequestInput' />
      <output message='tns:cancelTranscriptionRequestResponseMessage' name='cancelTranscriptionRequestOutput' />
    </operation>
    <operation name='createTranscriptionRequest'>
      <documentation></documentation>
      <input message='tns:createTranscriptionRequestRequestMessage' name='createTranscriptionRequestInput' />
      <output message='tns:createTranscriptionRequestResponseMessage' name='createTranscriptionRequestOutput' />
    </operation>
    <operation name='getTranscriptionById'>
      <documentation>returns a completed transcription for id</documentation>
      <input message='tns:getTranscriptionByIdRequestMessage' name='getTranscriptionByIdInput' />
      <output message='tns:getTranscriptionByIdResponseMessage' name='getTranscriptionByIdOutput' />
    </operation>
    <operation name='getTranscriptionRequestById'>
      <documentation>returns a submitted or processing transcription request for id</documentation>
      <input message='tns:getTranscriptionRequestByIdRequestMessage' name='getTranscriptionRequestByIdInput' />
      <output message='tns:getTranscriptionRequestByIdResponseMessage' name='getTranscriptionRequestByIdOutput' />
    </operation>
    <operation name='getTranscriptionRequests'>
      <documentation>returns the top most recent submitted or processing transcription requests</documentation>
      <input message='tns:getTranscriptionRequestsRequestMessage' name='getTranscriptionRequestsInput' />
      <output message='tns:getTranscriptionRequestsResponseMessage' name='getTranscriptionRequestsOutput' />
    </operation>
    <operation name='getTranscriptions'>
      <documentation>returns the top most recent completed transcriptions</documentation>
      <input message='tns:getTranscriptionsRequestMessage' name='getTranscriptionsInput' />
      <output message='tns:getTranscriptionsResponseMessage' name='getTranscriptionsOutput' />
    </operation>
    <operation name='updateTranscriptionRequest'>
      <documentation></documentation>
      <input message='tns:updateTranscriptionRequestRequestMessage' name='updateTranscriptionRequestInput' />
      <output message='tns:updateTranscriptionRequestResponseMessage' name='updateTranscriptionRequestOutput' />
    </operation>
  </portType>
  <binding name='quicktateBinding' type='tns:quicktatePortType'>
    <operation name='cancelTranscriptionRequest'>
      <soap12:operation soapAction='http://cancelTranscriptionRequest' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createTranscriptionRequest'>
      <soap12:operation soapAction='http://createTranscriptionRequest' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTranscriptionById'>
      <soap12:operation soapAction='http://getTranscriptionById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTranscriptionRequestById'>
      <soap12:operation soapAction='http://getTranscriptionRequestById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTranscriptionRequests'>
      <soap12:operation soapAction='http://getTranscriptionRequests' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTranscriptions'>
      <soap12:operation soapAction='http://getTranscriptions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateTranscriptionRequest'>
      <soap12:operation soapAction='http://updateTranscriptionRequest' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='quicktate'>
    <documentation>quicktate uses live professional transcribers to convert audio notes to do lists medical reports conference calls legal files voicemail messages and more to text We accept both short and long files</documentation>
    <port name='quicktatePort' binding='tns:quicktateBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://quicktate' />
    </port>
  </service>
</definitions>