workspace/datasets/mashape_dataset/quttera.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/quttera/' name='quttera' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/quttera/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/quttera/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/quttera/'>
      <xsd:element name='currentStatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='domainname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='currentStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='currentSystemStatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='currentSystemStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='download_pended' type='xsd:int' minOccurs='0' />
            <xsd:element name='downloading' type='xsd:int' minOccurs='0' />
            <xsd:element name='scanning' type='xsd:int' minOccurs='0' />
            <xsd:element name='total_in_progress' type='xsd:int' minOccurs='0' />
            <xsd:element name='scan_pended' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='investigationReportParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='domainname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='investigationReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newScanParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='domainname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newScanResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reScanParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='domainname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reScanResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeScanInvestigationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='domainname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeScanInvestigationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='currentStatusRequestMessage'>
    <part name='parameters' element='tns:currentStatusParameters' />
  </message>
  <message name='currentStatusResponseMessage'>
    <part name='response' element='tns:currentStatusResponse' />
  </message>
  <message name='currentSystemStatusRequestMessage'>
    <part name='parameters' element='tns:currentSystemStatusParameters' />
  </message>
  <message name='currentSystemStatusResponseMessage'>
    <part name='response' element='tns:currentSystemStatusResponse' />
  </message>
  <message name='investigationReportRequestMessage'>
    <part name='parameters' element='tns:investigationReportParameters' />
  </message>
  <message name='investigationReportResponseMessage'>
    <part name='response' element='tns:investigationReportResponse' />
  </message>
  <message name='newScanRequestMessage'>
    <part name='parameters' element='tns:newScanParameters' />
  </message>
  <message name='newScanResponseMessage'>
    <part name='response' element='tns:newScanResponse' />
  </message>
  <message name='reScanRequestMessage'>
    <part name='parameters' element='tns:reScanParameters' />
  </message>
  <message name='reScanResponseMessage'>
    <part name='response' element='tns:reScanResponse' />
  </message>
  <message name='removeScanInvestigationRequestMessage'>
    <part name='parameters' element='tns:removeScanInvestigationParameters' />
  </message>
  <message name='removeScanInvestigationResponseMessage'>
    <part name='response' element='tns:removeScanInvestigationResponse' />
  </message>
  <portType name='qutteraPortType'>
    <operation name='currentStatus'>
      <documentation>retrieves current investigation status of URL submitted for scan</documentation>
      <input message='tns:currentStatusRequestMessage' name='currentStatusInput' />
      <output message='tns:currentStatusResponseMessage' name='currentStatusOutput' />
    </operation>
    <operation name='currentSystemStatus'>
      <documentation>retrieves current status of the system</documentation>
      <input message='tns:currentSystemStatusRequestMessage' name='currentSystemStatusInput' />
      <output message='tns:currentSystemStatusResponseMessage' name='currentSystemStatusOutput' />
    </operation>
    <operation name='investigationReport'>
      <documentation>retrieves detailed investigation report for previously scanned domain</documentation>
      <input message='tns:investigationReportRequestMessage' name='investigationReportInput' />
      <output message='tns:investigationReportResponseMessage' name='investigationReportOutput' />
    </operation>
    <operation name='newScan'>
      <documentation>submits domain for new scan</documentation>
      <input message='tns:newScanRequestMessage' name='newScanInput' />
      <output message='tns:newScanResponseMessage' name='newScanOutput' />
    </operation>
    <operation name='reScan'>
      <documentation>submits domain with existing threat report for re scan</documentation>
      <input message='tns:reScanRequestMessage' name='reScanInput' />
      <output message='tns:reScanResponseMessage' name='reScanOutput' />
    </operation>
    <operation name='removeScanInvestigation'>
      <documentation>removes investigation information of previously scanned domain</documentation>
      <input message='tns:removeScanInvestigationRequestMessage' name='removeScanInvestigationInput' />
      <output message='tns:removeScanInvestigationResponseMessage' name='removeScanInvestigationOutput' />
    </operation>
  </portType>
  <binding name='qutteraBinding' type='tns:qutteraPortType'>
    <operation name='currentStatus'>
      <soap12:operation soapAction='http://currentStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='currentSystemStatus'>
      <soap12:operation soapAction='http://currentSystemStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='investigationReport'>
      <soap12:operation soapAction='http://investigationReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newScan'>
      <soap12:operation soapAction='http://newScan' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reScan'>
      <soap12:operation soapAction='http://reScan' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeScanInvestigation'>
      <soap12:operation soapAction='http://removeScanInvestigation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='quttera'>
    <documentation>quttera API attempts to conform to the design principles of Representational State Transfer REST Simply change the format extension in a request to get results in the format of your choice API supports JSON XML and YAML formats If no format is specified JSON is used as default format</documentation>
    <port name='qutteraPort' binding='tns:qutteraBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://quttera' />
    </port>
  </service>
</definitions>