workspace/datasets/mashape_dataset/randomprofile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/randomprofile/' name='randomprofile' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/randomprofile/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/randomprofile/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/randomprofile/'>
      <xsd:element name='getprofileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getprofileRequestMessage' />
  <message name='getprofileResponseMessage'>
    <part name='response' element='tns:getprofileResponse' />
  </message>
  <portType name='randomprofilePortType'>
    <operation name='getprofile'>
      <documentation>get two randomly generated user profiles</documentation>
      <input message='tns:getprofileRequestMessage' name='getprofileInput' />
      <output message='tns:getprofileResponseMessage' name='getprofileOutput' />
    </operation>
  </portType>
  <binding name='randomprofileBinding' type='tns:randomprofilePortType'>
    <operation name='getprofile'>
      <soap12:operation soapAction='http://getprofile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='randomprofile'>
    <documentation>randomly generated profiles of users for quick and efficient database testing Ideal for social networks dating websites online forums and other people oriented projects Includes random address name date of birth bank info credit card number weight height occupation etc</documentation>
    <port name='randomprofilePort' binding='tns:randomprofileBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://randomprofile' />
    </port>
  </service>
</definitions>