workspace/datasets/mashape_dataset/randomcatgif.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/randomCatGif/' name='randomCatGif' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/randomCatGif/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/randomCatGif/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/randomCatGif/'>
      <xsd:element name='randomCatGifsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='randomCatGifsRequestMessage' />
  <message name='randomCatGifsResponseMessage'>
    <part name='response' element='tns:randomCatGifsResponse' />
  </message>
  <portType name='randomCatGifPortType'>
    <operation name='randomCatGifs'>
      <documentation>code here body background image url http thecatapi com api images get format src type gif</documentation>
      <input message='tns:randomCatGifsRequestMessage' name='randomCatGifsInput' />
      <output message='tns:randomCatGifsResponseMessage' name='randomCatGifsOutput' />
    </operation>
  </portType>
  <binding name='randomCatGifBinding' type='tns:randomCatGifPortType'>
    <operation name='randomCatGifs'>
      <soap12:operation soapAction='http://randomCatGifs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='randomCatGif'>
    <documentation>an api that inserts a cat gif onto your page So this needs to be at least characters so here are some extra characters Hello im currently sitting at a hackathon trying to get this to be fifty characters and its still not working no matter how much i add</documentation>
    <port name='randomCatGifPort' binding='tns:randomCatGifBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://randomCatGif' />
    </port>
  </service>
</definitions>