workspace/datasets/mashape_dataset/rdio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/rdio/' name='rdio' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/rdio/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/rdio/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/rdio/'>
      <xsd:element name='addfriendResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addtocollectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='finduserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getactivitystreamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalbumsbyupcResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalbumsforartistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalbumsforartistincollectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalbumsforlabelResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalbumsincollectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getartistsforlabelResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getartistsincollectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getheavyrotationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getnewreleasesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getobjectfromshortcodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getobjectfromurlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getplaybacktokenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getplaylistsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gettopchartsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gettracksbyisrcResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gettracksforalbumincollectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gettracksforartistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gettracksforartistincollectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gettracksincollectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserplaylistsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removefromcollectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchsuggestionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userfollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userfollowingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addfriendRequestMessage' />
  <message name='addfriendResponseMessage'>
    <part name='response' element='tns:addfriendResponse' />
  </message>
  <message name='addtocollectionRequestMessage' />
  <message name='addtocollectionResponseMessage'>
    <part name='response' element='tns:addtocollectionResponse' />
  </message>
  <message name='finduserRequestMessage' />
  <message name='finduserResponseMessage'>
    <part name='response' element='tns:finduserResponse' />
  </message>
  <message name='getRequestMessage' />
  <message name='getResponseMessage'>
    <part name='response' element='tns:getResponse' />
  </message>
  <message name='getactivitystreamRequestMessage' />
  <message name='getactivitystreamResponseMessage'>
    <part name='response' element='tns:getactivitystreamResponse' />
  </message>
  <message name='getalbumsbyupcRequestMessage' />
  <message name='getalbumsbyupcResponseMessage'>
    <part name='response' element='tns:getalbumsbyupcResponse' />
  </message>
  <message name='getalbumsforartistRequestMessage' />
  <message name='getalbumsforartistResponseMessage'>
    <part name='response' element='tns:getalbumsforartistResponse' />
  </message>
  <message name='getalbumsforartistincollectionRequestMessage' />
  <message name='getalbumsforartistincollectionResponseMessage'>
    <part name='response' element='tns:getalbumsforartistincollectionResponse' />
  </message>
  <message name='getalbumsforlabelRequestMessage' />
  <message name='getalbumsforlabelResponseMessage'>
    <part name='response' element='tns:getalbumsforlabelResponse' />
  </message>
  <message name='getalbumsincollectionRequestMessage' />
  <message name='getalbumsincollectionResponseMessage'>
    <part name='response' element='tns:getalbumsincollectionResponse' />
  </message>
  <message name='getartistsforlabelRequestMessage' />
  <message name='getartistsforlabelResponseMessage'>
    <part name='response' element='tns:getartistsforlabelResponse' />
  </message>
  <message name='getartistsincollectionRequestMessage' />
  <message name='getartistsincollectionResponseMessage'>
    <part name='response' element='tns:getartistsincollectionResponse' />
  </message>
  <message name='getheavyrotationRequestMessage' />
  <message name='getheavyrotationResponseMessage'>
    <part name='response' element='tns:getheavyrotationResponse' />
  </message>
  <message name='getnewreleasesRequestMessage' />
  <message name='getnewreleasesResponseMessage'>
    <part name='response' element='tns:getnewreleasesResponse' />
  </message>
  <message name='getobjectfromshortcodeRequestMessage' />
  <message name='getobjectfromshortcodeResponseMessage'>
    <part name='response' element='tns:getobjectfromshortcodeResponse' />
  </message>
  <message name='getobjectfromurlRequestMessage' />
  <message name='getobjectfromurlResponseMessage'>
    <part name='response' element='tns:getobjectfromurlResponse' />
  </message>
  <message name='getplaybacktokenRequestMessage' />
  <message name='getplaybacktokenResponseMessage'>
    <part name='response' element='tns:getplaybacktokenResponse' />
  </message>
  <message name='getplaylistsRequestMessage' />
  <message name='getplaylistsResponseMessage'>
    <part name='response' element='tns:getplaylistsResponse' />
  </message>
  <message name='gettopchartsRequestMessage' />
  <message name='gettopchartsResponseMessage'>
    <part name='response' element='tns:gettopchartsResponse' />
  </message>
  <message name='gettracksbyisrcRequestMessage' />
  <message name='gettracksbyisrcResponseMessage'>
    <part name='response' element='tns:gettracksbyisrcResponse' />
  </message>
  <message name='gettracksforalbumincollectionRequestMessage' />
  <message name='gettracksforalbumincollectionResponseMessage'>
    <part name='response' element='tns:gettracksforalbumincollectionResponse' />
  </message>
  <message name='gettracksforartistRequestMessage' />
  <message name='gettracksforartistResponseMessage'>
    <part name='response' element='tns:gettracksforartistResponse' />
  </message>
  <message name='gettracksforartistincollectionRequestMessage' />
  <message name='gettracksforartistincollectionResponseMessage'>
    <part name='response' element='tns:gettracksforartistincollectionResponse' />
  </message>
  <message name='gettracksincollectionRequestMessage' />
  <message name='gettracksincollectionResponseMessage'>
    <part name='response' element='tns:gettracksincollectionResponse' />
  </message>
  <message name='getuserplaylistsRequestMessage' />
  <message name='getuserplaylistsResponseMessage'>
    <part name='response' element='tns:getuserplaylistsResponse' />
  </message>
  <message name='removefromcollectionRequestMessage' />
  <message name='removefromcollectionResponseMessage'>
    <part name='response' element='tns:removefromcollectionResponse' />
  </message>
  <message name='searchRequestMessage' />
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <message name='searchsuggestionsRequestMessage' />
  <message name='searchsuggestionsResponseMessage'>
    <part name='response' element='tns:searchsuggestionsResponse' />
  </message>
  <message name='userfollowersRequestMessage' />
  <message name='userfollowersResponseMessage'>
    <part name='response' element='tns:userfollowersResponse' />
  </message>
  <message name='userfollowingRequestMessage' />
  <message name='userfollowingResponseMessage'>
    <part name='response' element='tns:userfollowingResponse' />
  </message>
  <portType name='rdioPortType'>
    <operation name='addfriend'>
      <documentation>add a friend to the current user</documentation>
      <input message='tns:addfriendRequestMessage' name='addfriendInput' />
      <output message='tns:addfriendResponseMessage' name='addfriendOutput' />
    </operation>
    <operation name='addtocollection'>
      <documentation></documentation>
      <input message='tns:addtocollectionRequestMessage' name='addtocollectionInput' />
      <output message='tns:addtocollectionResponseMessage' name='addtocollectionOutput' />
    </operation>
    <operation name='finduser'>
      <documentation>find a user either by email address or by their username Exactly one of email or vanityName must be supplied</documentation>
      <input message='tns:finduserRequestMessage' name='finduserInput' />
      <output message='tns:finduserResponseMessage' name='finduserOutput' />
    </operation>
    <operation name='get'>
      <documentation>fetch one or more objects from Rdio</documentation>
      <input message='tns:getRequestMessage' name='getInput' />
      <output message='tns:getResponseMessage' name='getOutput' />
    </operation>
    <operation name='getactivitystream'>
      <documentation>get the activity events for a user a user s friends or everyone on Rdio</documentation>
      <input message='tns:getactivitystreamRequestMessage' name='getactivitystreamInput' />
      <output message='tns:getactivitystreamResponseMessage' name='getactivitystreamOutput' />
    </operation>
    <operation name='getalbumsbyupc'>
      <documentation>finds and returns albums based on their Universal Product Code UPC</documentation>
      <input message='tns:getalbumsbyupcRequestMessage' name='getalbumsbyupcInput' />
      <output message='tns:getalbumsbyupcResponseMessage' name='getalbumsbyupcOutput' />
    </operation>
    <operation name='getalbumsforartist'>
      <documentation>return the albums by or featuring an artist</documentation>
      <input message='tns:getalbumsforartistRequestMessage' name='getalbumsforartistInput' />
      <output message='tns:getalbumsforartistResponseMessage' name='getalbumsforartistOutput' />
    </operation>
    <operation name='getalbumsforartistincollection'>
      <documentation></documentation>
      <input message='tns:getalbumsforartistincollectionRequestMessage' name='getalbumsforartistincollectionInput' />
      <output message='tns:getalbumsforartistincollectionResponseMessage' name='getalbumsforartistincollectionOutput' />
    </operation>
    <operation name='getalbumsforlabel'>
      <documentation>return the albums for a label</documentation>
      <input message='tns:getalbumsforlabelRequestMessage' name='getalbumsforlabelInput' />
      <output message='tns:getalbumsforlabelResponseMessage' name='getalbumsforlabelOutput' />
    </operation>
    <operation name='getalbumsincollection'>
      <documentation>get all of the albums in the user s collection</documentation>
      <input message='tns:getalbumsincollectionRequestMessage' name='getalbumsincollectionInput' />
      <output message='tns:getalbumsincollectionResponseMessage' name='getalbumsincollectionOutput' />
    </operation>
    <operation name='getartistsforlabel'>
      <documentation>return the artists for a label</documentation>
      <input message='tns:getartistsforlabelRequestMessage' name='getartistsforlabelInput' />
      <output message='tns:getartistsforlabelResponseMessage' name='getartistsforlabelOutput' />
    </operation>
    <operation name='getartistsincollection'>
      <documentation>get all of the artist in a user s collection</documentation>
      <input message='tns:getartistsincollectionRequestMessage' name='getartistsincollectionInput' />
      <output message='tns:getartistsincollectionResponseMessage' name='getartistsincollectionOutput' />
    </operation>
    <operation name='getheavyrotation'>
      <documentation>find the most popular artists or albums for a user their friends or the whole site</documentation>
      <input message='tns:getheavyrotationRequestMessage' name='getheavyrotationInput' />
      <output message='tns:getheavyrotationResponseMessage' name='getheavyrotationOutput' />
    </operation>
    <operation name='getnewreleases'>
      <documentation>return new albums released across a timeframe</documentation>
      <input message='tns:getnewreleasesRequestMessage' name='getnewreleasesInput' />
      <output message='tns:getnewreleasesResponseMessage' name='getnewreleasesOutput' />
    </operation>
    <operation name='getobjectfromshortcode'>
      <documentation>return the object that the supplied Rdio short code is a representation of or an error if the short code is invalid</documentation>
      <input message='tns:getobjectfromshortcodeRequestMessage' name='getobjectfromshortcodeInput' />
      <output message='tns:getobjectfromshortcodeResponseMessage' name='getobjectfromshortcodeOutput' />
    </operation>
    <operation name='getobjectfromurl'>
      <documentation>return the object that the supplied Rdio url is a representation of or error response if the url doesn t represent an object</documentation>
      <input message='tns:getobjectfromurlRequestMessage' name='getobjectfromurlInput' />
      <output message='tns:getobjectfromurlResponseMessage' name='getobjectfromurlOutput' />
    </operation>
    <operation name='getplaybacktoken'>
      <documentation>get an playback token If you are using this for web playback you must supply a domain</documentation>
      <input message='tns:getplaybacktokenRequestMessage' name='getplaybacktokenInput' />
      <output message='tns:getplaybacktokenResponseMessage' name='getplaybacktokenOutput' />
    </operation>
    <operation name='getplaylists'>
      <documentation>returns a user s playlists If no user is specified then the current user will be used</documentation>
      <input message='tns:getplaylistsRequestMessage' name='getplaylistsInput' />
      <output message='tns:getplaylistsResponseMessage' name='getplaylistsOutput' />
    </operation>
    <operation name='gettopcharts'>
      <documentation>return the site wide most popular items for a given type</documentation>
      <input message='tns:gettopchartsRequestMessage' name='gettopchartsInput' />
      <output message='tns:gettopchartsResponseMessage' name='gettopchartsOutput' />
    </operation>
    <operation name='gettracksbyisrc'>
      <documentation>finds and returns tracks based on their International Standard Recording Code ISRC</documentation>
      <input message='tns:gettracksbyisrcRequestMessage' name='gettracksbyisrcInput' />
      <output message='tns:gettracksbyisrcResponseMessage' name='gettracksbyisrcOutput' />
    </operation>
    <operation name='gettracksforalbumincollection'>
      <documentation>which tracks on the given album are in the user s collection</documentation>
      <input message='tns:gettracksforalbumincollectionRequestMessage' name='gettracksforalbumincollectionInput' />
      <output message='tns:gettracksforalbumincollectionResponseMessage' name='gettracksforalbumincollectionOutput' />
    </operation>
    <operation name='gettracksforartist'>
      <documentation>get all of the tracks by this artist</documentation>
      <input message='tns:gettracksforartistRequestMessage' name='gettracksforartistInput' />
      <output message='tns:gettracksforartistResponseMessage' name='gettracksforartistOutput' />
    </operation>
    <operation name='gettracksforartistincollection'>
      <documentation></documentation>
      <input message='tns:gettracksforartistincollectionRequestMessage' name='gettracksforartistincollectionInput' />
      <output message='tns:gettracksforartistincollectionResponseMessage' name='gettracksforartistincollectionOutput' />
    </operation>
    <operation name='gettracksincollection'>
      <documentation>get all of the tracks in the user s collection</documentation>
      <input message='tns:gettracksincollectionRequestMessage' name='gettracksincollectionInput' />
      <output message='tns:gettracksincollectionResponseMessage' name='gettracksincollectionOutput' />
    </operation>
    <operation name='getuserplaylists'>
      <documentation></documentation>
      <input message='tns:getuserplaylistsRequestMessage' name='getuserplaylistsInput' />
      <output message='tns:getuserplaylistsResponseMessage' name='getuserplaylistsOutput' />
    </operation>
    <operation name='removefromcollection'>
      <documentation>remove tracks or playlists from the current user s collection</documentation>
      <input message='tns:removefromcollectionRequestMessage' name='removefromcollectionInput' />
      <output message='tns:removefromcollectionResponseMessage' name='removefromcollectionOutput' />
    </operation>
    <operation name='search'>
      <documentation>search for artists albums tracks users or all kinds of objects</documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
    <operation name='searchsuggestions'>
      <documentation>match the supplied prefix against artists albums tracks playlists and people in the Rdio system Return the first ten matches</documentation>
      <input message='tns:searchsuggestionsRequestMessage' name='searchsuggestionsInput' />
      <output message='tns:searchsuggestionsResponseMessage' name='searchsuggestionsOutput' />
    </operation>
    <operation name='userfollowers'>
      <documentation></documentation>
      <input message='tns:userfollowersRequestMessage' name='userfollowersInput' />
      <output message='tns:userfollowersResponseMessage' name='userfollowersOutput' />
    </operation>
    <operation name='userfollowing'>
      <documentation>get a list of users that a user follows</documentation>
      <input message='tns:userfollowingRequestMessage' name='userfollowingInput' />
      <output message='tns:userfollowingResponseMessage' name='userfollowingOutput' />
    </operation>
  </portType>
  <binding name='rdioBinding' type='tns:rdioPortType'>
    <operation name='addfriend'>
      <soap12:operation soapAction='http://addfriend' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addtocollection'>
      <soap12:operation soapAction='http://addtocollection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='finduser'>
      <soap12:operation soapAction='http://finduser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='get'>
      <soap12:operation soapAction='http://get' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getactivitystream'>
      <soap12:operation soapAction='http://getactivitystream' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getalbumsbyupc'>
      <soap12:operation soapAction='http://getalbumsbyupc' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getalbumsforartist'>
      <soap12:operation soapAction='http://getalbumsforartist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getalbumsforartistincollection'>
      <soap12:operation soapAction='http://getalbumsforartistincollection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getalbumsforlabel'>
      <soap12:operation soapAction='http://getalbumsforlabel' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getalbumsincollection'>
      <soap12:operation soapAction='http://getalbumsincollection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getartistsforlabel'>
      <soap12:operation soapAction='http://getartistsforlabel' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getartistsincollection'>
      <soap12:operation soapAction='http://getartistsincollection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getheavyrotation'>
      <soap12:operation soapAction='http://getheavyrotation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getnewreleases'>
      <soap12:operation soapAction='http://getnewreleases' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getobjectfromshortcode'>
      <soap12:operation soapAction='http://getobjectfromshortcode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getobjectfromurl'>
      <soap12:operation soapAction='http://getobjectfromurl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getplaybacktoken'>
      <soap12:operation soapAction='http://getplaybacktoken' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getplaylists'>
      <soap12:operation soapAction='http://getplaylists' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gettopcharts'>
      <soap12:operation soapAction='http://gettopcharts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gettracksbyisrc'>
      <soap12:operation soapAction='http://gettracksbyisrc' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gettracksforalbumincollection'>
      <soap12:operation soapAction='http://gettracksforalbumincollection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gettracksforartist'>
      <soap12:operation soapAction='http://gettracksforartist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gettracksforartistincollection'>
      <soap12:operation soapAction='http://gettracksforartistincollection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gettracksincollection'>
      <soap12:operation soapAction='http://gettracksincollection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuserplaylists'>
      <soap12:operation soapAction='http://getuserplaylists' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removefromcollection'>
      <soap12:operation soapAction='http://removefromcollection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchsuggestions'>
      <soap12:operation soapAction='http://searchsuggestions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userfollowers'>
      <soap12:operation soapAction='http://userfollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userfollowing'>
      <soap12:operation soapAction='http://userfollowing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='rdio'>
    <documentation>rdio has millions of songs from massive hits to rare gems to cult classics with more added every week It s more music than you could listen to in a lifetime</documentation>
    <port name='rdioPort' binding='tns:rdioBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://rdio' />
    </port>
  </service>
</definitions>