workspace/datasets/mashape_dataset/rechargelapubase.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/rechargeLapuBase/' name='rechargeLapuBase' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/rechargeLapuBase/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/rechargeLapuBase/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/rechargeLapuBase/'>
      <xsd:element name='isparshapiApiUsernameYourUsernamePwdYourPasswordCirclecodeYourCirclecodeOperatorcodeOperatorCodeNumberMobileordthNoAmountAmountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='isparshapiApiUsernameYourUsernamePwdYourPasswordCirclecodeYourCirclecodeOperatorcodeOperatorCodeNumberMobileordthNoAmountAmountRequestMessage' />
  <message name='isparshapiApiUsernameYourUsernamePwdYourPasswordCirclecodeYourCirclecodeOperatorcodeOperatorCodeNumberMobileordthNoAmountAmountResponseMessage'>
    <part name='response' element='tns:isparshapiApiUsernameYourUsernamePwdYourPasswordCirclecodeYourCirclecodeOperatorcodeOperatorCodeNumberMobileordthNoAmountAmountResponse' />
  </message>
  <portType name='rechargeLapuBasePortType'>
    <operation name='isparshapiApiUsernameYourUsernamePwdYourPasswordCirclecodeYourCirclecodeOperatorcodeOperatorCodeNumberMobileordthNoAmountAmount'>
      <documentation></documentation>
      <input message='tns:isparshapiApiUsernameYourUsernamePwdYourPasswordCirclecodeYourCirclecodeOperatorcodeOperatorCodeNumberMobileordthNoAmountAmountRequestMessage' name='isparshapiApiUsernameYourUsernamePwdYourPasswordCirclecodeYourCirclecodeOperatorcodeOperatorCodeNumberMobileordthNoAmountAmountInput' />
      <output message='tns:isparshapiApiUsernameYourUsernamePwdYourPasswordCirclecodeYourCirclecodeOperatorcodeOperatorCodeNumberMobileordthNoAmountAmountResponseMessage' name='isparshapiApiUsernameYourUsernamePwdYourPasswordCirclecodeYourCirclecodeOperatorcodeOperatorCodeNumberMobileordthNoAmountAmountOutput' />
    </operation>
  </portType>
  <binding name='rechargeLapuBaseBinding' type='tns:rechargeLapuBasePortType'>
    <operation name='isparshapiApiUsernameYourUsernamePwdYourPasswordCirclecodeYourCirclecodeOperatorcodeOperatorCodeNumberMobileordthNoAmountAmount'>
      <soap12:operation soapAction='http://isparshapiApiUsernameYourUsernamePwdYourPasswordCirclecodeYourCirclecodeOperatorcodeOperatorCodeNumberMobileordthNoAmountAmount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='rechargeLapuBase'>
    <documentation>i Sparsh Recharge API with maximum margin on all Indian telecom and DTH operators recharge services success ratio and uptime</documentation>
    <port name='rechargeLapuBasePort' binding='tns:rechargeLapuBaseBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://rechargeLapuBase' />
    </port>
  </service>
</definitions>