workspace/datasets/mashape_dataset/recommendationengine.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/recommendationEngine/' name='recommendationEngine' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/recommendationEngine/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/recommendationEngine/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/recommendationEngine/'>
      <xsd:element name='dataFilePreparationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOneParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOneResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='itemBasedLogLikelihoodResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='itemBasedPearsonCorrelationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userBasedLogLikelihoodResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userBasedPearsonCorrelationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='dataFilePreparationRequestMessage' />
  <message name='dataFilePreparationResponseMessage'>
    <part name='response' element='tns:dataFilePreparationResponse' />
  </message>
  <message name='deleteRequestMessage'>
    <part name='parameters' element='tns:deleteParameters' />
  </message>
  <message name='deleteResponseMessage'>
    <part name='response' element='tns:deleteResponse' />
  </message>
  <message name='getOneRequestMessage'>
    <part name='parameters' element='tns:getOneParameters' />
  </message>
  <message name='getOneResponseMessage'>
    <part name='response' element='tns:getOneResponse' />
  </message>
  <message name='itemBasedLogLikelihoodRequestMessage' />
  <message name='itemBasedLogLikelihoodResponseMessage'>
    <part name='response' element='tns:itemBasedLogLikelihoodResponse' />
  </message>
  <message name='itemBasedPearsonCorrelationRequestMessage' />
  <message name='itemBasedPearsonCorrelationResponseMessage'>
    <part name='response' element='tns:itemBasedPearsonCorrelationResponse' />
  </message>
  <message name='listAllRequestMessage' />
  <message name='listAllResponseMessage'>
    <part name='response' element='tns:listAllResponse' />
  </message>
  <message name='uploadRequestMessage' />
  <message name='uploadResponseMessage'>
    <part name='response' element='tns:uploadResponse' />
  </message>
  <message name='userBasedLogLikelihoodRequestMessage' />
  <message name='userBasedLogLikelihoodResponseMessage'>
    <part name='response' element='tns:userBasedLogLikelihoodResponse' />
  </message>
  <message name='userBasedPearsonCorrelationRequestMessage' />
  <message name='userBasedPearsonCorrelationResponseMessage'>
    <part name='response' element='tns:userBasedPearsonCorrelationResponse' />
  </message>
  <portType name='recommendationEnginePortType'>
    <operation name='dataFilePreparation'>
      <documentation>this function formats a data file to be compatible with the recommendation algorithms Currently you will need to use a cURL command to execute this function as it does not work with the GUI cURL details are here http catalog algorithms io catalog algo id category Recommenders</documentation>
      <input message='tns:dataFilePreparationRequestMessage' name='dataFilePreparationInput' />
      <output message='tns:dataFilePreparationResponseMessage' name='dataFilePreparationOutput' />
    </operation>
    <operation name='delete'>
      <documentation>delete a dataset</documentation>
      <input message='tns:deleteRequestMessage' name='deleteInput' />
      <output message='tns:deleteResponseMessage' name='deleteOutput' />
    </operation>
    <operation name='getOne'>
      <documentation>get the content of a dataset by an id</documentation>
      <input message='tns:getOneRequestMessage' name='getOneInput' />
      <output message='tns:getOneResponseMessage' name='getOneOutput' />
    </operation>
    <operation name='itemBasedLogLikelihood'>
      <documentation>item based recommenders make recommendations based on similarity of items If item X is similiar to item Y and person A likes an item X then person A may also like item Y They use a defined statistical method in this case Log Likelihood to determine the similarity of items based on a set of characteristics or features</documentation>
      <input message='tns:itemBasedLogLikelihoodRequestMessage' name='itemBasedLogLikelihoodInput' />
      <output message='tns:itemBasedLogLikelihoodResponseMessage' name='itemBasedLogLikelihoodOutput' />
    </operation>
    <operation name='itemBasedPearsonCorrelation'>
      <documentation>item based recommenders make recommendations based on similarity of items If item X is similiar to item Y and person A likes an item X then person A may also like item Y They use a defined statistical method in this case Pearson Correlation to determine the similarity of items based on a set of characteristics or features</documentation>
      <input message='tns:itemBasedPearsonCorrelationRequestMessage' name='itemBasedPearsonCorrelationInput' />
      <output message='tns:itemBasedPearsonCorrelationResponseMessage' name='itemBasedPearsonCorrelationOutput' />
    </operation>
    <operation name='listAll'>
      <documentation>list all of your datasets and their attributes such as the id</documentation>
      <input message='tns:listAllRequestMessage' name='listAllInput' />
      <output message='tns:listAllResponseMessage' name='listAllOutput' />
    </operation>
    <operation name='upload'>
      <documentation>upload a dataset</documentation>
      <input message='tns:uploadRequestMessage' name='uploadInput' />
      <output message='tns:uploadResponseMessage' name='uploadOutput' />
    </operation>
    <operation name='userBasedLogLikelihood'>
      <documentation>user based recommenders make recommendations based on similarity of users If person A is similiar to person B and person B likes an item X then person A may also like item X They use a defined statistical method in this case Log Likelihood to determine the similarity of a new user to previous users based on a set of characteristics or features</documentation>
      <input message='tns:userBasedLogLikelihoodRequestMessage' name='userBasedLogLikelihoodInput' />
      <output message='tns:userBasedLogLikelihoodResponseMessage' name='userBasedLogLikelihoodOutput' />
    </operation>
    <operation name='userBasedPearsonCorrelation'>
      <documentation>user based recommenders make recommendations based on similarity of users If person A is similiar to person B and person B likes an item X then person A may also like item X They use a defined statistical method in this case Pearson Correlation to determine the similarity of a new user to previous users based on a set of characteristics or features</documentation>
      <input message='tns:userBasedPearsonCorrelationRequestMessage' name='userBasedPearsonCorrelationInput' />
      <output message='tns:userBasedPearsonCorrelationResponseMessage' name='userBasedPearsonCorrelationOutput' />
    </operation>
  </portType>
  <binding name='recommendationEngineBinding' type='tns:recommendationEnginePortType'>
    <operation name='dataFilePreparation'>
      <soap12:operation soapAction='http://dataFilePreparation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='delete'>
      <soap12:operation soapAction='http://delete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getOne'>
      <soap12:operation soapAction='http://getOne' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='itemBasedLogLikelihood'>
      <soap12:operation soapAction='http://itemBasedLogLikelihood' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='itemBasedPearsonCorrelation'>
      <soap12:operation soapAction='http://itemBasedPearsonCorrelation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAll'>
      <soap12:operation soapAction='http://listAll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='upload'>
      <soap12:operation soapAction='http://upload' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userBasedLogLikelihood'>
      <soap12:operation soapAction='http://userBasedLogLikelihood' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userBasedPearsonCorrelation'>
      <soap12:operation soapAction='http://userBasedPearsonCorrelation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='recommendationEngine'>
    <documentation>provide automated product or service recommendations based on your customers preferences Several recommendation algorithms are provided Experiment with the different algorithms to find which produces the best results with your data You can find more documentation for these algorithms on our website at http catalog algorithms io catalog index category Recommenders</documentation>
    <port name='recommendationEnginePort' binding='tns:recommendationEngineBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://recommendationEngine' />
    </port>
  </service>
</definitions>