workspace/datasets/mashape_dataset/recomio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/recomio/' name='recomio' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/recomio/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/recomio/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/recomio/'>
      <xsd:element name='addARelationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fromtype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='relation' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='toid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='totype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addARelationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addAScoreParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fromtype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='score' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='toid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='totype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addAScoreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createOrReplaceAItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='itemid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createOrReplaceAItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='thumbnailImageUrl' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createOrReplaceAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createOrReplaceAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAItemParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='itemid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAItemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findAItemByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='itemid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findAItemByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='thumbnailImageUrl' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findAUserByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findAUserByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecommendationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fromtype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fromuserid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='totype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRecommendationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setARelationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fromtype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='relation' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='toid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='totype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setARelationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setAScoreParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fromid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fromtype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='score' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='toid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='totype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setAScoreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addARelationRequestMessage'>
    <part name='parameters' element='tns:addARelationParameters' />
  </message>
  <message name='addARelationResponseMessage'>
    <part name='response' element='tns:addARelationResponse' />
  </message>
  <message name='addAScoreRequestMessage'>
    <part name='parameters' element='tns:addAScoreParameters' />
  </message>
  <message name='addAScoreResponseMessage'>
    <part name='response' element='tns:addAScoreResponse' />
  </message>
  <message name='createOrReplaceAItemRequestMessage'>
    <part name='parameters' element='tns:createOrReplaceAItemParameters' />
  </message>
  <message name='createOrReplaceAItemResponseMessage'>
    <part name='response' element='tns:createOrReplaceAItemResponse' />
  </message>
  <message name='createOrReplaceAUserRequestMessage'>
    <part name='parameters' element='tns:createOrReplaceAUserParameters' />
  </message>
  <message name='createOrReplaceAUserResponseMessage'>
    <part name='response' element='tns:createOrReplaceAUserResponse' />
  </message>
  <message name='deleteAItemRequestMessage'>
    <part name='parameters' element='tns:deleteAItemParameters' />
  </message>
  <message name='deleteAItemResponseMessage'>
    <part name='response' element='tns:deleteAItemResponse' />
  </message>
  <message name='deleteAUserRequestMessage'>
    <part name='parameters' element='tns:deleteAUserParameters' />
  </message>
  <message name='deleteAUserResponseMessage'>
    <part name='response' element='tns:deleteAUserResponse' />
  </message>
  <message name='findAItemByIdRequestMessage'>
    <part name='parameters' element='tns:findAItemByIdParameters' />
  </message>
  <message name='findAItemByIdResponseMessage'>
    <part name='response' element='tns:findAItemByIdResponse' />
  </message>
  <message name='findAUserByIdRequestMessage'>
    <part name='parameters' element='tns:findAUserByIdParameters' />
  </message>
  <message name='findAUserByIdResponseMessage'>
    <part name='response' element='tns:findAUserByIdResponse' />
  </message>
  <message name='getRecommendationsRequestMessage'>
    <part name='parameters' element='tns:getRecommendationsParameters' />
  </message>
  <message name='getRecommendationsResponseMessage'>
    <part name='response' element='tns:getRecommendationsResponse' />
  </message>
  <message name='setARelationRequestMessage'>
    <part name='parameters' element='tns:setARelationParameters' />
  </message>
  <message name='setARelationResponseMessage'>
    <part name='response' element='tns:setARelationResponse' />
  </message>
  <message name='setAScoreRequestMessage'>
    <part name='parameters' element='tns:setAScoreParameters' />
  </message>
  <message name='setAScoreResponseMessage'>
    <part name='response' element='tns:setAScoreResponse' />
  </message>
  <portType name='recomioPortType'>
    <operation name='addARelation'>
      <documentation>add a relation</documentation>
      <input message='tns:addARelationRequestMessage' name='addARelationInput' />
      <output message='tns:addARelationResponseMessage' name='addARelationOutput' />
    </operation>
    <operation name='addAScore'>
      <documentation>add a score</documentation>
      <input message='tns:addAScoreRequestMessage' name='addAScoreInput' />
      <output message='tns:addAScoreResponseMessage' name='addAScoreOutput' />
    </operation>
    <operation name='createOrReplaceAItem'>
      <documentation>create or replace a item</documentation>
      <input message='tns:createOrReplaceAItemRequestMessage' name='createOrReplaceAItemInput' />
      <output message='tns:createOrReplaceAItemResponseMessage' name='createOrReplaceAItemOutput' />
    </operation>
    <operation name='createOrReplaceAUser'>
      <documentation>create or replace a user</documentation>
      <input message='tns:createOrReplaceAUserRequestMessage' name='createOrReplaceAUserInput' />
      <output message='tns:createOrReplaceAUserResponseMessage' name='createOrReplaceAUserOutput' />
    </operation>
    <operation name='deleteAItem'>
      <documentation>delete a item</documentation>
      <input message='tns:deleteAItemRequestMessage' name='deleteAItemInput' />
      <output message='tns:deleteAItemResponseMessage' name='deleteAItemOutput' />
    </operation>
    <operation name='deleteAUser'>
      <documentation>delete a user</documentation>
      <input message='tns:deleteAUserRequestMessage' name='deleteAUserInput' />
      <output message='tns:deleteAUserResponseMessage' name='deleteAUserOutput' />
    </operation>
    <operation name='findAItemById'>
      <documentation>find a item by Id</documentation>
      <input message='tns:findAItemByIdRequestMessage' name='findAItemByIdInput' />
      <output message='tns:findAItemByIdResponseMessage' name='findAItemByIdOutput' />
    </operation>
    <operation name='findAUserById'>
      <documentation>find a user by Id</documentation>
      <input message='tns:findAUserByIdRequestMessage' name='findAUserByIdInput' />
      <output message='tns:findAUserByIdResponseMessage' name='findAUserByIdOutput' />
    </operation>
    <operation name='getRecommendations'>
      <documentation>get recommendations</documentation>
      <input message='tns:getRecommendationsRequestMessage' name='getRecommendationsInput' />
      <output message='tns:getRecommendationsResponseMessage' name='getRecommendationsOutput' />
    </operation>
    <operation name='setARelation'>
      <documentation>set a relation</documentation>
      <input message='tns:setARelationRequestMessage' name='setARelationInput' />
      <output message='tns:setARelationResponseMessage' name='setARelationOutput' />
    </operation>
    <operation name='setAScore'>
      <documentation>set a score</documentation>
      <input message='tns:setAScoreRequestMessage' name='setAScoreInput' />
      <output message='tns:setAScoreResponseMessage' name='setAScoreOutput' />
    </operation>
  </portType>
  <binding name='recomioBinding' type='tns:recomioPortType'>
    <operation name='addARelation'>
      <soap12:operation soapAction='http://addARelation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addAScore'>
      <soap12:operation soapAction='http://addAScore' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createOrReplaceAItem'>
      <soap12:operation soapAction='http://createOrReplaceAItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createOrReplaceAUser'>
      <soap12:operation soapAction='http://createOrReplaceAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAItem'>
      <soap12:operation soapAction='http://deleteAItem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAUser'>
      <soap12:operation soapAction='http://deleteAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findAItemById'>
      <soap12:operation soapAction='http://findAItemById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findAUserById'>
      <soap12:operation soapAction='http://findAUserById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRecommendations'>
      <soap12:operation soapAction='http://getRecommendations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setARelation'>
      <soap12:operation soapAction='http://setARelation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setAScore'>
      <soap12:operation soapAction='http://setAScore' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='recomio'>
    <documentation>recomio delivers recommendations with a few lines of code With Recomio you can build your own recommendation engine with simplicity both on the web and mobile All you need to do is use our free code which instantly enables star based ratings likes item relations and recommendations Recomio will then aggregate all the information real time basis provide recommendations and predict user behavior by analyzing user and item patterns and relationships</documentation>
    <port name='recomioPort' binding='tns:recomioBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://recomio' />
    </port>
  </service>
</definitions>