workspace/datasets/mashape_dataset/redlinezipcode.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/redlineZipcode/' name='redlineZipcode' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/redlineZipcode/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/redlineZipcode/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/redlineZipcode/'>
      <xsd:element name='distanceBetweenZipCodesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='units' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zipcode' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='zipcode' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='distanceBetweenZipCodesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='locationToZipCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='locationToZipCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='zip_codes' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipCodesToLocationInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='units' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zipcode' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipCodesToLocationInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='timezone' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='timezone_identifier' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timezone_abbr' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='utc_offset_sec' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_dst' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='acceptable_city_names' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='zip_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipCodesWithinRadiusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='radius' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='units' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zipcode' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipCodesWithinRadiusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='zip_codes' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='distance' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='zip_code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='distanceBetweenZipCodesRequestMessage'>
    <part name='parameters' element='tns:distanceBetweenZipCodesParameters' />
  </message>
  <message name='distanceBetweenZipCodesResponseMessage'>
    <part name='response' element='tns:distanceBetweenZipCodesResponse' />
  </message>
  <message name='locationToZipCodeRequestMessage'>
    <part name='parameters' element='tns:locationToZipCodeParameters' />
  </message>
  <message name='locationToZipCodeResponseMessage'>
    <part name='response' element='tns:locationToZipCodeResponse' />
  </message>
  <message name='zipCodesToLocationInformationRequestMessage'>
    <part name='parameters' element='tns:zipCodesToLocationInformationParameters' />
  </message>
  <message name='zipCodesToLocationInformationResponseMessage'>
    <part name='response' element='tns:zipCodesToLocationInformationResponse' />
  </message>
  <message name='zipCodesWithinRadiusRequestMessage'>
    <part name='parameters' element='tns:zipCodesWithinRadiusParameters' />
  </message>
  <message name='zipCodesWithinRadiusResponseMessage'>
    <part name='response' element='tns:zipCodesWithinRadiusResponse' />
  </message>
  <portType name='redlineZipcodePortType'>
    <operation name='distanceBetweenZipCodes'>
      <documentation>determine the distance between two zip codes</documentation>
      <input message='tns:distanceBetweenZipCodesRequestMessage' name='distanceBetweenZipCodesInput' />
      <output message='tns:distanceBetweenZipCodesResponseMessage' name='distanceBetweenZipCodesOutput' />
    </operation>
    <operation name='locationToZipCode'>
      <documentation>returns zip codes for a given city</documentation>
      <input message='tns:locationToZipCodeRequestMessage' name='locationToZipCodeInput' />
      <output message='tns:locationToZipCodeResponseMessage' name='locationToZipCodeOutput' />
    </operation>
    <operation name='zipCodesToLocationInformation'>
      <documentation>returns location information for a zip code This information includes city state latitude longitude and time zone information It also contains a list of other acceptable city names for the location</documentation>
      <input message='tns:zipCodesToLocationInformationRequestMessage' name='zipCodesToLocationInformationInput' />
      <output message='tns:zipCodesToLocationInformationResponseMessage' name='zipCodesToLocationInformationOutput' />
    </operation>
    <operation name='zipCodesWithinRadius'>
      <documentation>returns all zip codes within a radius of the given zip code</documentation>
      <input message='tns:zipCodesWithinRadiusRequestMessage' name='zipCodesWithinRadiusInput' />
      <output message='tns:zipCodesWithinRadiusResponseMessage' name='zipCodesWithinRadiusOutput' />
    </operation>
  </portType>
  <binding name='redlineZipcodeBinding' type='tns:redlineZipcodePortType'>
    <operation name='distanceBetweenZipCodes'>
      <soap12:operation soapAction='http://distanceBetweenZipCodes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='locationToZipCode'>
      <soap12:operation soapAction='http://locationToZipCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='zipCodesToLocationInformation'>
      <soap12:operation soapAction='http://zipCodesToLocationInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='zipCodesWithinRadius'>
      <soap12:operation soapAction='http://zipCodesWithinRadius' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='redlineZipcode'>
    <documentation>the Zip Code API provides the following functions Distance Between Zip Code API The API allows you to quickly and easily figure out the distance between zip codes Zip Codes in Radius API You can use this API to find all zip codes within a given radius from another zip code Zip Code to City and State API and Zip Code to Latitude Longitude API The API can convert a zip code to the primary location for the zip code This includes the city state latitude and longitude for the primary location City to Zip Code This API looks up the Zip Code based on the City and State</documentation>
    <port name='redlineZipcodePort' binding='tns:redlineZipcodeBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://redlineZipcode' />
    </port>
  </service>
</definitions>