workspace/datasets/mashape_dataset/reputation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/reputation/' name='reputation' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/reputation/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/reputation/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/reputation/'>
      <xsd:element name='reputationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reputationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Google' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='target' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='MyWOT' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ChildSafety_Confidence' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Trustworthiness' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='VendorReliability_Reputation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='VendorReliability' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='Privacy_Reputation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='target' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Privacy' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='Trustworthiness_Confidence' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ChildSafety_Reputation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ChildSafety' type='xsd:int' maxOccurs='unbounded' />
                  <xsd:element name='VendorReliability_Confidence' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Privacy_Confidence' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Trustworthiness_Reputation' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='reputationRequestMessage'>
    <part name='parameters' element='tns:reputationParameters' />
  </message>
  <message name='reputationResponseMessage'>
    <part name='response' element='tns:reputationResponse' />
  </message>
  <portType name='reputationPortType'>
    <operation name='reputation'>
      <documentation>domain reputation</documentation>
      <input message='tns:reputationRequestMessage' name='reputationInput' />
      <output message='tns:reputationResponseMessage' name='reputationOutput' />
    </operation>
  </portType>
  <binding name='reputationBinding' type='tns:reputationPortType'>
    <operation name='reputation'>
      <soap12:operation soapAction='http://reputation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='reputation'>
    <documentation>this API returns the reputation information for a given domain data is pulled from Google Safe Browsing API and MyWOT</documentation>
    <port name='reputationPort' binding='tns:reputationBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://reputation' />
    </port>
  </service>
</definitions>