workspace/datasets/mashape_dataset/resaltysms.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/resaltySms/' name='resaltySms' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/resaltySms/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/resaltySms/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/resaltySms/'>
      <xsd:element name='sendsmsPhpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='encoding' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='msg' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sender' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendsmsPhpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getYourAccountBalanceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getYourAccountBalanceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='sendsmsPhpRequestMessage'>
    <part name='parameters' element='tns:sendsmsPhpParameters' />
  </message>
  <message name='sendsmsPhpResponseMessage'>
    <part name='response' element='tns:sendsmsPhpResponse' />
  </message>
  <message name='getYourAccountBalanceRequestMessage'>
    <part name='parameters' element='tns:getYourAccountBalanceParameters' />
  </message>
  <message name='getYourAccountBalanceResponseMessage'>
    <part name='response' element='tns:getYourAccountBalanceResponse' />
  </message>
  <portType name='resaltySmsPortType'>
    <operation name='sendsmsPhp'>
      <documentation></documentation>
      <input message='tns:sendsmsPhpRequestMessage' name='sendsmsPhpInput' />
      <output message='tns:sendsmsPhpResponseMessage' name='sendsmsPhpOutput' />
    </operation>
    <operation name='getYourAccountBalance'>
      <documentation></documentation>
      <input message='tns:getYourAccountBalanceRequestMessage' name='getYourAccountBalanceInput' />
      <output message='tns:getYourAccountBalanceResponseMessage' name='getYourAccountBalanceOutput' />
    </operation>
  </portType>
  <binding name='resaltySmsBinding' type='tns:resaltySmsPortType'>
    <operation name='sendsmsPhp'>
      <soap12:operation soapAction='http://sendsmsPhp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getYourAccountBalance'>
      <soap12:operation soapAction='http://getYourAccountBalance' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='resaltySms'>
    <documentation>this API For resalty net website with this API You Can Send SMS And Get your Balance you need to have an account on resalty website to use this API</documentation>
    <port name='resaltySmsPort' binding='tns:resaltySmsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://resaltySms' />
    </port>
  </service>
</definitions>