workspace/datasets/mashape_dataset/restcountriesv5.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/restCountriesV/' name='restCountriesV' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/restCountriesV/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/restCountriesV/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/restCountriesV/'>
      <xsd:element name='getAllCountriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='area' type='xsd:int' minOccurs='0' />
                  <xsd:element name='capital' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='alpha2Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='languages' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='subregion' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isoNumericCode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='gini' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:int' minOccurs='0' />
                  <xsd:element name='population' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alpha3Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='callingcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='topLevelDomain' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timezones' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nationality' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translations' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='de' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fr' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='es' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='altSpellings' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latlng' type='xsd:int' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByCallingCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByCallingCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='capital' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='languages' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='alpha2Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subregion' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isoNumericCode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='callingcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alpha3Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='topLevelDomain' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nationality' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translations' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='de' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fr' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='es' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='altSpellings' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latlng' type='xsd:int' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByCapitalCityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='capital' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByCapitalCityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='capital' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='languages' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='alpha2Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subregion' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isoNumericCode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:int' minOccurs='0' />
                  <xsd:element name='callingcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alpha3Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='topLevelDomain' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nationality' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translations' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='de' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fr' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='es' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='altSpellings' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latlng' type='xsd:int' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByCountryCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByCountryCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='capital' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='languages' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='alpha2Code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='subregion' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='isoNumericCode' type='xsd:int' minOccurs='0' />
            <xsd:element name='relevance' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='callingcode' type='xsd:int' minOccurs='0' />
            <xsd:element name='alpha3Code' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='topLevelDomain' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nationality' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='translations' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='de' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='en' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fr' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='es' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='altSpellings' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='latlng' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByCountryCodesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='codes' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByCountryCodesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='area' type='xsd:int' minOccurs='0' />
                  <xsd:element name='capital' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='alpha2Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='languages' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subregion' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isoNumericCode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='gini' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:int' minOccurs='0' />
                  <xsd:element name='population' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alpha3Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='callingcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='topLevelDomain' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timezones' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nationality' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translations' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='de' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fr' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='es' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='altSpellings' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latlng' type='xsd:int' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByCurrencyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currency' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByCurrencyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='capital' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='languages' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='alpha2Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subregion' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isoNumericCode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:int' minOccurs='0' />
                  <xsd:element name='callingcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alpha3Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='topLevelDomain' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nationality' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translations' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='de' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fr' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='es' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='altSpellings' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latlng' type='xsd:int' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByLanguageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByLanguageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='capital' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='alpha2Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='languages' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subregion' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isoNumericCode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alpha3Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='callingcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='topLevelDomain' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nationality' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translations' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='de' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fr' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='es' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='altSpellings' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latlng' type='xsd:int' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByNameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByNameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='capital' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='languages' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='alpha2Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subregion' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isoNumericCode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='callingcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alpha3Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='topLevelDomain' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nationality' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translations' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='de' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fr' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='es' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='altSpellings' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latlng' type='xsd:int' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByRegionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='region' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByRegionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='capital' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='languages' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='alpha2Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subregion' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isoNumericCode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:int' minOccurs='0' />
                  <xsd:element name='callingcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='alpha3Code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='topLevelDomain' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nationality' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='translations' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='de' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='en' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fr' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='es' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='altSpellings' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='region' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latlng' type='xsd:int' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchBySubregionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='subregion' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchBySubregionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getAllCountriesRequestMessage' />
  <message name='getAllCountriesResponseMessage'>
    <part name='response' element='tns:getAllCountriesResponse' />
  </message>
  <message name='searchByCallingCodeRequestMessage'>
    <part name='parameters' element='tns:searchByCallingCodeParameters' />
  </message>
  <message name='searchByCallingCodeResponseMessage'>
    <part name='response' element='tns:searchByCallingCodeResponse' />
  </message>
  <message name='searchByCapitalCityRequestMessage'>
    <part name='parameters' element='tns:searchByCapitalCityParameters' />
  </message>
  <message name='searchByCapitalCityResponseMessage'>
    <part name='response' element='tns:searchByCapitalCityResponse' />
  </message>
  <message name='searchByCountryCodeRequestMessage'>
    <part name='parameters' element='tns:searchByCountryCodeParameters' />
  </message>
  <message name='searchByCountryCodeResponseMessage'>
    <part name='response' element='tns:searchByCountryCodeResponse' />
  </message>
  <message name='searchByCountryCodesRequestMessage'>
    <part name='parameters' element='tns:searchByCountryCodesParameters' />
  </message>
  <message name='searchByCountryCodesResponseMessage'>
    <part name='response' element='tns:searchByCountryCodesResponse' />
  </message>
  <message name='searchByCurrencyRequestMessage'>
    <part name='parameters' element='tns:searchByCurrencyParameters' />
  </message>
  <message name='searchByCurrencyResponseMessage'>
    <part name='response' element='tns:searchByCurrencyResponse' />
  </message>
  <message name='searchByLanguageRequestMessage'>
    <part name='parameters' element='tns:searchByLanguageParameters' />
  </message>
  <message name='searchByLanguageResponseMessage'>
    <part name='response' element='tns:searchByLanguageResponse' />
  </message>
  <message name='searchByNameRequestMessage'>
    <part name='parameters' element='tns:searchByNameParameters' />
  </message>
  <message name='searchByNameResponseMessage'>
    <part name='response' element='tns:searchByNameResponse' />
  </message>
  <message name='searchByRegionRequestMessage'>
    <part name='parameters' element='tns:searchByRegionParameters' />
  </message>
  <message name='searchByRegionResponseMessage'>
    <part name='response' element='tns:searchByRegionResponse' />
  </message>
  <message name='searchBySubregionRequestMessage'>
    <part name='parameters' element='tns:searchBySubregionParameters' />
  </message>
  <message name='searchBySubregionResponseMessage'>
    <part name='response' element='tns:searchBySubregionResponse' />
  </message>
  <portType name='restCountriesVPortType'>
    <operation name='getAllCountries'>
      <documentation></documentation>
      <input message='tns:getAllCountriesRequestMessage' name='getAllCountriesInput' />
      <output message='tns:getAllCountriesResponseMessage' name='getAllCountriesOutput' />
    </operation>
    <operation name='searchByCallingCode'>
      <documentation></documentation>
      <input message='tns:searchByCallingCodeRequestMessage' name='searchByCallingCodeInput' />
      <output message='tns:searchByCallingCodeResponseMessage' name='searchByCallingCodeOutput' />
    </operation>
    <operation name='searchByCapitalCity'>
      <documentation></documentation>
      <input message='tns:searchByCapitalCityRequestMessage' name='searchByCapitalCityInput' />
      <output message='tns:searchByCapitalCityResponseMessage' name='searchByCapitalCityOutput' />
    </operation>
    <operation name='searchByCountryCode'>
      <documentation></documentation>
      <input message='tns:searchByCountryCodeRequestMessage' name='searchByCountryCodeInput' />
      <output message='tns:searchByCountryCodeResponseMessage' name='searchByCountryCodeOutput' />
    </operation>
    <operation name='searchByCountryCodes'>
      <documentation></documentation>
      <input message='tns:searchByCountryCodesRequestMessage' name='searchByCountryCodesInput' />
      <output message='tns:searchByCountryCodesResponseMessage' name='searchByCountryCodesOutput' />
    </operation>
    <operation name='searchByCurrency'>
      <documentation></documentation>
      <input message='tns:searchByCurrencyRequestMessage' name='searchByCurrencyInput' />
      <output message='tns:searchByCurrencyResponseMessage' name='searchByCurrencyOutput' />
    </operation>
    <operation name='searchByLanguage'>
      <documentation>search by ISO Language Code</documentation>
      <input message='tns:searchByLanguageRequestMessage' name='searchByLanguageInput' />
      <output message='tns:searchByLanguageResponseMessage' name='searchByLanguageOutput' />
    </operation>
    <operation name='searchByName'>
      <documentation></documentation>
      <input message='tns:searchByNameRequestMessage' name='searchByNameInput' />
      <output message='tns:searchByNameResponseMessage' name='searchByNameOutput' />
    </operation>
    <operation name='searchByRegion'>
      <documentation></documentation>
      <input message='tns:searchByRegionRequestMessage' name='searchByRegionInput' />
      <output message='tns:searchByRegionResponseMessage' name='searchByRegionOutput' />
    </operation>
    <operation name='searchBySubregion'>
      <documentation></documentation>
      <input message='tns:searchBySubregionRequestMessage' name='searchBySubregionInput' />
      <output message='tns:searchBySubregionResponseMessage' name='searchBySubregionOutput' />
    </operation>
  </portType>
  <binding name='restCountriesVBinding' type='tns:restCountriesVPortType'>
    <operation name='getAllCountries'>
      <soap12:operation soapAction='http://getAllCountries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchByCallingCode'>
      <soap12:operation soapAction='http://searchByCallingCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchByCapitalCity'>
      <soap12:operation soapAction='http://searchByCapitalCity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchByCountryCode'>
      <soap12:operation soapAction='http://searchByCountryCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchByCountryCodes'>
      <soap12:operation soapAction='http://searchByCountryCodes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchByCurrency'>
      <soap12:operation soapAction='http://searchByCurrency' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchByLanguage'>
      <soap12:operation soapAction='http://searchByLanguage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchByName'>
      <soap12:operation soapAction='http://searchByName' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchByRegion'>
      <soap12:operation soapAction='http://searchByRegion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchBySubregion'>
      <soap12:operation soapAction='http://searchBySubregion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='restCountriesV'>
    <documentation>get information about countries via a RESTful API</documentation>
    <port name='restCountriesVPort' binding='tns:restCountriesVBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://restCountriesV' />
    </port>
  </service>
</definitions>