workspace/datasets/mashape_dataset/ritetag.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/ritetag/' name='ritetag' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/ritetag/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/ritetag/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/ritetag/'>
      <xsd:element name='associatedHashtagsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='associatedHashtagsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='executionTime' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='code' type='xsd:int' minOccurs='0' />
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='density' type='xsd:int' minOccurs='0' />
                  <xsd:element name='color' type='xsd:int' minOccurs='0' />
                  <xsd:element name='potential_views' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mentions' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='links' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='tag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='retweets' type='xsd:int' minOccurs='0' />
                  <xsd:element name='photos' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='frequency' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='color' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='queryHashtag' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='density' type='xsd:int' minOccurs='0' />
                  <xsd:element name='color' type='xsd:int' minOccurs='0' />
                  <xsd:element name='potential_views' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mentions' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='links' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='tag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='retweets' type='xsd:int' minOccurs='0' />
                  <xsd:element name='photos' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='lastupdate' type='xsd:int' minOccurs='0' />
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='calculated' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hashtagHistoricalUsageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='hashtag' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hashtagHistoricalUsageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='executionTime' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='code' type='xsd:int' minOccurs='0' />
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='density' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='color' type='xsd:int' minOccurs='0' />
                  <xsd:element name='potential_views' type='xsd:int' minOccurs='0' />
                  <xsd:element name='unique' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mentions' type='xsd:int' minOccurs='0' />
                  <xsd:element name='links' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='retweets' type='xsd:int' minOccurs='0' />
                  <xsd:element name='photos' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='hashtag' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='influencersForHashtagParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='hashtag' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='influencersForHashtagResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='executionTime' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='code' type='xsd:int' minOccurs='0' />
            <xsd:element name='influencers' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='folowers' type='xsd:int' minOccurs='0' />
                  <xsd:element name='photo' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='updateTime' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:string' minOccurs='0' />
                        <xsd:element name='timezone' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='timezone_type' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='hashtag' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='socialMediaCoachParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='network' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='photo' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='tweet' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='socialMediaCoachResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='twitter' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='orange' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='cite' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='source' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='network' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='red' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='cite' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='source' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='network' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='random' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='cite' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='source' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='network' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='urls' type='xsd:string' minOccurs='0' />
            <xsd:element name='extract' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='replyto' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='words' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='tweet' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='networks' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n3' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trendingHashtagsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='green' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='onlylatin' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trendingHashtagsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='executionTime' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='code' type='xsd:int' minOccurs='0' />
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='tags' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='density' type='xsd:int' minOccurs='0' />
                  <xsd:element name='color' type='xsd:int' minOccurs='0' />
                  <xsd:element name='potential_views' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mentions' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='links' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='tag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='retweets' type='xsd:int' minOccurs='0' />
                  <xsd:element name='photos' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='associatedHashtagsRequestMessage'>
    <part name='parameters' element='tns:associatedHashtagsParameters' />
  </message>
  <message name='associatedHashtagsResponseMessage'>
    <part name='response' element='tns:associatedHashtagsResponse' />
  </message>
  <message name='hashtagHistoricalUsageRequestMessage'>
    <part name='parameters' element='tns:hashtagHistoricalUsageParameters' />
  </message>
  <message name='hashtagHistoricalUsageResponseMessage'>
    <part name='response' element='tns:hashtagHistoricalUsageResponse' />
  </message>
  <message name='influencersForHashtagRequestMessage'>
    <part name='parameters' element='tns:influencersForHashtagParameters' />
  </message>
  <message name='influencersForHashtagResponseMessage'>
    <part name='response' element='tns:influencersForHashtagResponse' />
  </message>
  <message name='socialMediaCoachRequestMessage'>
    <part name='parameters' element='tns:socialMediaCoachParameters' />
  </message>
  <message name='socialMediaCoachResponseMessage'>
    <part name='response' element='tns:socialMediaCoachResponse' />
  </message>
  <message name='trendingHashtagsRequestMessage'>
    <part name='parameters' element='tns:trendingHashtagsParameters' />
  </message>
  <message name='trendingHashtagsResponseMessage'>
    <part name='response' element='tns:trendingHashtagsResponse' />
  </message>
  <portType name='ritetagPortType'>
    <operation name='associatedHashtags'>
      <documentation>returns an array of up to hashtags most frequently used in tweets containing your query returns stats on query hashtag hashtag created by adding sign to your query</documentation>
      <input message='tns:associatedHashtagsRequestMessage' name='associatedHashtagsInput' />
      <output message='tns:associatedHashtagsResponseMessage' name='associatedHashtagsOutput' />
    </operation>
    <operation name='hashtagHistoricalUsage'>
      <input message='tns:hashtagHistoricalUsageRequestMessage' name='hashtagHistoricalUsageInput' />
      <output message='tns:hashtagHistoricalUsageResponseMessage' name='hashtagHistoricalUsageOutput' />
    </operation>
    <operation name='influencersForHashtag'>
      <input message='tns:influencersForHashtagRequestMessage' name='influencersForHashtagInput' />
      <output message='tns:influencersForHashtagResponseMessage' name='influencersForHashtagOutput' />
    </operation>
    <operation name='socialMediaCoach'>
      <documentation>paramert tweet tweet Do you know when and how to media optimize iphonegames What related hashtags are top rated https ritetag com best hashtags for iphonegames</documentation>
      <input message='tns:socialMediaCoachRequestMessage' name='socialMediaCoachInput' />
      <output message='tns:socialMediaCoachResponseMessage' name='socialMediaCoachOutput' />
    </operation>
    <operation name='trendingHashtags'>
      <input message='tns:trendingHashtagsRequestMessage' name='trendingHashtagsInput' />
      <output message='tns:trendingHashtagsResponseMessage' name='trendingHashtagsOutput' />
    </operation>
  </portType>
  <binding name='ritetagBinding' type='tns:ritetagPortType'>
    <operation name='associatedHashtags'>
      <soap12:operation soapAction='http://associatedHashtags' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='hashtagHistoricalUsage'>
      <soap12:operation soapAction='http://hashtagHistoricalUsage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='influencersForHashtag'>
      <soap12:operation soapAction='http://influencersForHashtag' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='socialMediaCoach'>
      <soap12:operation soapAction='http://socialMediaCoach' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trendingHashtags'>
      <soap12:operation soapAction='http://trendingHashtags' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='ritetag'>
    <documentation>enhance your app with powerful Twitter hashtag analytics</documentation>
    <port name='ritetagPort' binding='tns:ritetagBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://ritetag' />
    </port>
  </service>
</definitions>