workspace/datasets/mashape_dataset/robotbridgepdfconversion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/robotbridgePdfConversion/' name='robotbridgePdfConversion' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/robotbridgePdfConversion/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/robotbridgePdfConversion/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/robotbridgePdfConversion/'>
      <xsd:element name='createPdfFromUrlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createPdfFromUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createPdfFromUrlRequestMessage'>
    <part name='parameters' element='tns:createPdfFromUrlParameters' />
  </message>
  <message name='createPdfFromUrlResponseMessage'>
    <part name='response' element='tns:createPdfFromUrlResponse' />
  </message>
  <portType name='robotbridgePdfConversionPortType'>
    <operation name='createPdfFromUrl'>
      <documentation></documentation>
      <input message='tns:createPdfFromUrlRequestMessage' name='createPdfFromUrlInput' />
      <output message='tns:createPdfFromUrlResponseMessage' name='createPdfFromUrlOutput' />
    </operation>
  </portType>
  <binding name='robotbridgePdfConversionBinding' type='tns:robotbridgePdfConversionPortType'>
    <operation name='createPdfFromUrl'>
      <soap12:operation soapAction='http://createPdfFromUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='robotbridgePdfConversion'>
    <documentation>robotBridge offers PDF conversion services for HTML web pages Create great looking forms reports letters invoices or resumes in your application using the latest HTML and CSS and then turn those into PDF files RobotBridge uses the open source project WebKit to render HTML pages just like Google s Chrome or Apple s Safari web browsers</documentation>
    <port name='robotbridgePdfConversionPort' binding='tns:robotbridgePdfConversionBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://robotbridgePdfConversion' />
    </port>
  </service>
</definitions>