workspace/datasets/mashape_dataset/romerio2.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/romeRio/' name='romeRio' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/romeRio/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/romeRio/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/romeRio/'>
      <xsd:element name='geocodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='geocodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='places' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='regionCode' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lng' type='xsd:string' minOccurs='0' />
                  <xsd:element name='countryCode' type='xsd:string' minOccurs='0' />
                  <xsd:element name='kind' type='xsd:string' minOccurs='0' />
                  <xsd:element name='regionName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='countryName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='shortName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lat' type='xsd:int' minOccurs='0' />
                  <xsd:element name='canonicalName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='longName' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='countryCode' type='xsd:string' minOccurs='0' />
            <xsd:element name='query' type='xsd:string' minOccurs='0' />
            <xsd:element name='languageCode' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='currency' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dkind' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dpos' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='okind' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='oname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='opos' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='routes' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='segments' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='duration' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='distance' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sPos' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='tPos' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='kind' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='sName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='itineraries' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='legs' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='hops' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                                          <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='agency' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='sPos' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='tPos' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='line' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='sName' type='xsd:normalizedString' minOccurs='0' />
                                          <xsd:element name='tName' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='frequency' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='vehicle' type='xsd:normalizedString' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='tName' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='airlines' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='airports' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pos' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='geocodeRequestMessage'>
    <part name='parameters' element='tns:geocodeParameters' />
  </message>
  <message name='geocodeResponseMessage'>
    <part name='response' element='tns:geocodeResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <portType name='romeRioPortType'>
    <operation name='geocode'>
      <documentation></documentation>
      <input message='tns:geocodeRequestMessage' name='geocodeInput' />
      <output message='tns:geocodeResponseMessage' name='geocodeOutput' />
    </operation>
    <operation name='search'>
      <documentation>provide routes options from one point to another</documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
  </portType>
  <binding name='romeRioBinding' type='tns:romeRioPortType'>
    <operation name='geocode'>
      <soap12:operation soapAction='http://geocode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='romeRio'>
    <documentation>rome rio offers a multi modal travel API that allows users to plan journeys all around the world by searching plane train bus car and ferry routes The database currently features over airlines million surface routes including extensive rail coverage in Europe India Japan North America and China and constantly expanding intercity bus rail and ferry coverage across the globe Feel free to contact us at api rome rio com with any support questions or to tell us about your project</documentation>
    <port name='romeRioPort' binding='tns:romeRioBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://romeRio' />
    </port>
  </service>
</definitions>