workspace/datasets/mashape_dataset/routific.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/routific/' name='routific' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/routific/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/routific/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/routific/'>
      <xsd:element name='inputVehicleRoutingProblemResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='visits' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='order_1' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                        <xsd:element name='start' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='end' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='order_2' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                        <xsd:element name='start' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='end' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='order_3' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                        <xsd:element name='start' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='end' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='fleet' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='vehicle_1' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='shift-start' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='end-location' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='start-location' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='shift-end' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='network' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='depot' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='order_1' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='order_2' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='order_3' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='inputVehicleRoutingProblemRequestMessage' />
  <message name='inputVehicleRoutingProblemResponseMessage'>
    <part name='response' element='tns:inputVehicleRoutingProblemResponse' />
  </message>
  <portType name='routificPortType'>
    <operation name='inputVehicleRoutingProblem'>
      <documentation></documentation>
      <input message='tns:inputVehicleRoutingProblemRequestMessage' name='inputVehicleRoutingProblemInput' />
      <output message='tns:inputVehicleRoutingProblemResponseMessage' name='inputVehicleRoutingProblemOutput' />
    </operation>
  </portType>
  <binding name='routificBinding' type='tns:routificPortType'>
    <operation name='inputVehicleRoutingProblem'>
      <soap12:operation soapAction='http://inputVehicleRoutingProblem' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='routific'>
    <documentation>we provide a solution to automate and optimize your routing and scheduling operations Whether you deliver groceries distribute compost bins or pick up laundry any Vehicle Routing Problem for that matter we got your back</documentation>
    <port name='routificPort' binding='tns:routificBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://routific' />
    </port>
  </service>
</definitions>