workspace/datasets/mashape_dataset/rssfromanypage.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/rssFromAnyPage/' name='rssFromAnyPage' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/rssFromAnyPage/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/rssFromAnyPage/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/rssFromAnyPage/'>
      <xsd:element name='feedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='blfilterkeywords' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='charset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='detailslinkcsspath' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='detailspagetextcsspath' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='indexurl' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wlfilterkeywords' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='feedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='feedRequestMessage'>
    <part name='parameters' element='tns:feedParameters' />
  </message>
  <message name='feedResponseMessage'>
    <part name='response' element='tns:feedResponse' />
  </message>
  <portType name='rssFromAnyPagePortType'>
    <operation name='feed'>
      <documentation></documentation>
      <input message='tns:feedRequestMessage' name='feedInput' />
      <output message='tns:feedResponseMessage' name='feedOutput' />
    </operation>
  </portType>
  <binding name='rssFromAnyPageBinding' type='tns:rssFromAnyPagePortType'>
    <operation name='feed'>
      <soap12:operation soapAction='http://feed' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='rssFromAnyPage'>
    <documentation>make RSS feed from any page using css paths to feed elements Use Firebug Copy CSS path feature to copy path Firefinder for Firebug to debug and highlight matches</documentation>
    <port name='rssFromAnyPagePort' binding='tns:rssFromAnyPageBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://rssFromAnyPage' />
    </port>
  </service>
</definitions>