workspace/datasets/mashape_dataset/rushbeloengine.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/rushbEloEngine/' name='rushbEloEngine' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/rushbEloEngine/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/rushbEloEngine/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/rushbEloEngine/'>
      <xsd:element name='createGameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='starter_boundry' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pro_rating_boundry' type='xsd:int' minOccurs='0' />
                  <xsd:element name='default_k_factor' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='default_rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='application_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createMatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createMatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='player1_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='player2_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='winner_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='played_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='game_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createPlayerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createPlayerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='starting_rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='game_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteGameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteGameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='starter_boundry' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pro_rating_boundry' type='xsd:int' minOccurs='0' />
                  <xsd:element name='default_k_factor' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='default_rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='application_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteMatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteMatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='player1_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='player2_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='winner_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='played_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='game_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletePlayerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletePlayerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='starting_rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='game_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gameRankingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gameRankingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagination' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='next' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='per_page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='current' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='previous' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='player_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='match_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='previous_rating' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gamesIndexParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gamesIndexResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagination' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='next' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='per_page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='current' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='previous' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='starter_boundry' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pro_rating_boundry' type='xsd:int' minOccurs='0' />
                  <xsd:element name='default_k_factor' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='default_rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='application_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchRankingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='matchid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchRankingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagination' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='next' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='per_page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='current' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='previous' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='player_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='match_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='previous_rating' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchesIndexParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='matchesIndexResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagination' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='next' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='per_page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='current' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='previous' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='player1_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='player2_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='winner_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='played_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='game_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerRankingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='playerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playerRankingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagination' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='next' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='per_page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='current' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='previous' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='player_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='match_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='previous_rating' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playersIndexParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='playersIndexResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagination' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='next' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='per_page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='current' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='previous' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='starting_rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='game_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showGameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showGameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='starter_boundry' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pro_rating_boundry' type='xsd:int' minOccurs='0' />
                  <xsd:element name='default_k_factor' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='default_rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='application_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showMatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showMatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='player1_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='player2_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='winner_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='played_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='game_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showPlayerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='showPlayerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='starting_rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='game_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateMatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateMatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='player1_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='player2_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='winner_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scheduled_for_destruction' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='played_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='game_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createGameRequestMessage' />
  <message name='createGameResponseMessage'>
    <part name='response' element='tns:createGameResponse' />
  </message>
  <message name='createMatchRequestMessage'>
    <part name='parameters' element='tns:createMatchParameters' />
  </message>
  <message name='createMatchResponseMessage'>
    <part name='response' element='tns:createMatchResponse' />
  </message>
  <message name='createPlayerRequestMessage'>
    <part name='parameters' element='tns:createPlayerParameters' />
  </message>
  <message name='createPlayerResponseMessage'>
    <part name='response' element='tns:createPlayerResponse' />
  </message>
  <message name='deleteGameRequestMessage'>
    <part name='parameters' element='tns:deleteGameParameters' />
  </message>
  <message name='deleteGameResponseMessage'>
    <part name='response' element='tns:deleteGameResponse' />
  </message>
  <message name='deleteMatchRequestMessage'>
    <part name='parameters' element='tns:deleteMatchParameters' />
  </message>
  <message name='deleteMatchResponseMessage'>
    <part name='response' element='tns:deleteMatchResponse' />
  </message>
  <message name='deletePlayerRequestMessage'>
    <part name='parameters' element='tns:deletePlayerParameters' />
  </message>
  <message name='deletePlayerResponseMessage'>
    <part name='response' element='tns:deletePlayerResponse' />
  </message>
  <message name='gameRankingsRequestMessage'>
    <part name='parameters' element='tns:gameRankingsParameters' />
  </message>
  <message name='gameRankingsResponseMessage'>
    <part name='response' element='tns:gameRankingsResponse' />
  </message>
  <message name='gamesIndexRequestMessage'>
    <part name='parameters' element='tns:gamesIndexParameters' />
  </message>
  <message name='gamesIndexResponseMessage'>
    <part name='response' element='tns:gamesIndexResponse' />
  </message>
  <message name='matchRankingsRequestMessage'>
    <part name='parameters' element='tns:matchRankingsParameters' />
  </message>
  <message name='matchRankingsResponseMessage'>
    <part name='response' element='tns:matchRankingsResponse' />
  </message>
  <message name='matchesIndexRequestMessage'>
    <part name='parameters' element='tns:matchesIndexParameters' />
  </message>
  <message name='matchesIndexResponseMessage'>
    <part name='response' element='tns:matchesIndexResponse' />
  </message>
  <message name='playerRankingsRequestMessage'>
    <part name='parameters' element='tns:playerRankingsParameters' />
  </message>
  <message name='playerRankingsResponseMessage'>
    <part name='response' element='tns:playerRankingsResponse' />
  </message>
  <message name='playersIndexRequestMessage'>
    <part name='parameters' element='tns:playersIndexParameters' />
  </message>
  <message name='playersIndexResponseMessage'>
    <part name='response' element='tns:playersIndexResponse' />
  </message>
  <message name='showGameRequestMessage'>
    <part name='parameters' element='tns:showGameParameters' />
  </message>
  <message name='showGameResponseMessage'>
    <part name='response' element='tns:showGameResponse' />
  </message>
  <message name='showMatchRequestMessage'>
    <part name='parameters' element='tns:showMatchParameters' />
  </message>
  <message name='showMatchResponseMessage'>
    <part name='response' element='tns:showMatchResponse' />
  </message>
  <message name='showPlayerRequestMessage'>
    <part name='parameters' element='tns:showPlayerParameters' />
  </message>
  <message name='showPlayerResponseMessage'>
    <part name='response' element='tns:showPlayerResponse' />
  </message>
  <message name='updateMatchRequestMessage'>
    <part name='parameters' element='tns:updateMatchParameters' />
  </message>
  <message name='updateMatchResponseMessage'>
    <part name='response' element='tns:updateMatchResponse' />
  </message>
  <portType name='rushbEloEnginePortType'>
    <operation name='createGame'>
      <documentation>create a new game for the application</documentation>
      <input message='tns:createGameRequestMessage' name='createGameInput' />
      <output message='tns:createGameResponseMessage' name='createGameOutput' />
    </operation>
    <operation name='createMatch'>
      <documentation>create a new match between two players of the game Ranking rating are automatically created based on the match results</documentation>
      <input message='tns:createMatchRequestMessage' name='createMatchInput' />
      <output message='tns:createMatchResponseMessage' name='createMatchOutput' />
    </operation>
    <operation name='createPlayer'>
      <documentation>create a new player for the game Once created this player can be used for matches</documentation>
      <input message='tns:createPlayerRequestMessage' name='createPlayerInput' />
      <output message='tns:createPlayerResponseMessage' name='createPlayerOutput' />
    </operation>
    <operation name='deleteGame'>
      <documentation>delete a game from your application This will also delete all players matches and rankings associated to the game</documentation>
      <input message='tns:deleteGameRequestMessage' name='deleteGameInput' />
      <output message='tns:deleteGameResponseMessage' name='deleteGameOutput' />
    </operation>
    <operation name='deleteMatch'>
      <documentation>delete an existing match Rankings for all impacted matches and players will automatically be updated</documentation>
      <input message='tns:deleteMatchRequestMessage' name='deleteMatchInput' />
      <output message='tns:deleteMatchResponseMessage' name='deleteMatchOutput' />
    </operation>
    <operation name='deletePlayer'>
      <documentation>delete a player This can only be done if the player is not associated to any matches</documentation>
      <input message='tns:deletePlayerRequestMessage' name='deletePlayerInput' />
      <output message='tns:deletePlayerResponseMessage' name='deletePlayerOutput' />
    </operation>
    <operation name='gameRankings'>
      <documentation>all rankings associated to the provided Game</documentation>
      <input message='tns:gameRankingsRequestMessage' name='gameRankingsInput' />
      <output message='tns:gameRankingsResponseMessage' name='gameRankingsOutput' />
    </operation>
    <operation name='gamesIndex'>
      <documentation>the games created for this application</documentation>
      <input message='tns:gamesIndexRequestMessage' name='gamesIndexInput' />
      <output message='tns:gamesIndexResponseMessage' name='gamesIndexOutput' />
    </operation>
    <operation name='matchRankings'>
      <documentation>all rankings associated to the provided Match</documentation>
      <input message='tns:matchRankingsRequestMessage' name='matchRankingsInput' />
      <output message='tns:matchRankingsResponseMessage' name='matchRankingsOutput' />
    </operation>
    <operation name='matchesIndex'>
      <documentation>get all matches for the provided game</documentation>
      <input message='tns:matchesIndexRequestMessage' name='matchesIndexInput' />
      <output message='tns:matchesIndexResponseMessage' name='matchesIndexOutput' />
    </operation>
    <operation name='playerRankings'>
      <documentation>all rankings associated to the provided Player</documentation>
      <input message='tns:playerRankingsRequestMessage' name='playerRankingsInput' />
      <output message='tns:playerRankingsResponseMessage' name='playerRankingsOutput' />
    </operation>
    <operation name='playersIndex'>
      <documentation>get players that participate in the provided game</documentation>
      <input message='tns:playersIndexRequestMessage' name='playersIndexInput' />
      <output message='tns:playersIndexResponseMessage' name='playersIndexOutput' />
    </operation>
    <operation name='showGame'>
      <documentation>show the game data for the provided game ID</documentation>
      <input message='tns:showGameRequestMessage' name='showGameInput' />
      <output message='tns:showGameResponseMessage' name='showGameOutput' />
    </operation>
    <operation name='showMatch'>
      <documentation>get the data for an individual match</documentation>
      <input message='tns:showMatchRequestMessage' name='showMatchInput' />
      <output message='tns:showMatchResponseMessage' name='showMatchOutput' />
    </operation>
    <operation name='showPlayer'>
      <documentation>get the data for an individual player</documentation>
      <input message='tns:showPlayerRequestMessage' name='showPlayerInput' />
      <output message='tns:showPlayerResponseMessage' name='showPlayerOutput' />
    </operation>
    <operation name='updateMatch'>
      <documentation>update an existing match Rankings for all impacted matches and players will automatically be updated</documentation>
      <input message='tns:updateMatchRequestMessage' name='updateMatchInput' />
      <output message='tns:updateMatchResponseMessage' name='updateMatchOutput' />
    </operation>
  </portType>
  <binding name='rushbEloEngineBinding' type='tns:rushbEloEnginePortType'>
    <operation name='createGame'>
      <soap12:operation soapAction='http://createGame' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createMatch'>
      <soap12:operation soapAction='http://createMatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createPlayer'>
      <soap12:operation soapAction='http://createPlayer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteGame'>
      <soap12:operation soapAction='http://deleteGame' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteMatch'>
      <soap12:operation soapAction='http://deleteMatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletePlayer'>
      <soap12:operation soapAction='http://deletePlayer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gameRankings'>
      <soap12:operation soapAction='http://gameRankings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gamesIndex'>
      <soap12:operation soapAction='http://gamesIndex' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchRankings'>
      <soap12:operation soapAction='http://matchRankings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='matchesIndex'>
      <soap12:operation soapAction='http://matchesIndex' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='playerRankings'>
      <soap12:operation soapAction='http://playerRankings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='playersIndex'>
      <soap12:operation soapAction='http://playersIndex' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='showGame'>
      <soap12:operation soapAction='http://showGame' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='showMatch'>
      <soap12:operation soapAction='http://showMatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='showPlayer'>
      <soap12:operation soapAction='http://showPlayer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateMatch'>
      <soap12:operation soapAction='http://updateMatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='rushbEloEngine'>
    <documentation>rushb makes it easy to implement the ELO rating system for your game using FIDE settings It supports not only creating rating for new matches but updating or deleting previous matches</documentation>
    <port name='rushbEloEnginePort' binding='tns:rushbEloEngineBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://rushbEloEngine' />
    </port>
  </service>
</definitions>