workspace/datasets/mashape_dataset/savedeo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/savedeo/' name='savedeo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/savedeo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/savedeo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/savedeo/'>
      <xsd:element name='downloadResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='formats' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ext' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='format_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='nsfw' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='webpage_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='downloaded' type='xsd:int' minOccurs='0' />
            <xsd:element name='duration' type='xsd:int' minOccurs='0' />
            <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='valid_until' type='xsd:int' minOccurs='0' />
            <xsd:element name='deleted' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='generated_at' type='xsd:int' minOccurs='0' />
            <xsd:element name='uploader' type='xsd:string' minOccurs='0' />
            <xsd:element name='updated' type='xsd:int' minOccurs='0' />
            <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='view_count' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='upload_date' type='xsd:int' minOccurs='0' />
            <xsd:element name='video_id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='popularNsfwResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='video_data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='nsfw' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='webpage_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloaded' type='xsd:int' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='valid_until' type='xsd:int' minOccurs='0' />
                  <xsd:element name='deleted' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='generated_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='uploader' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='view_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='upload_date' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='page' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='popularSfwResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='video_data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='nsfw' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='webpage_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloaded' type='xsd:int' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='valid_until' type='xsd:int' minOccurs='0' />
                  <xsd:element name='deleted' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='generated_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='uploader' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='view_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='upload_date' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='page' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentNsfwResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='video_data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='nsfw' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='webpage_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloaded' type='xsd:int' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='valid_until' type='xsd:int' minOccurs='0' />
                  <xsd:element name='deleted' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='generated_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='uploader' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='view_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='upload_date' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='page' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='recentSfwResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='video_data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thumbnail' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='nsfw' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='webpage_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='downloaded' type='xsd:int' minOccurs='0' />
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='site' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='valid_until' type='xsd:int' minOccurs='0' />
                  <xsd:element name='deleted' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='generated_at' type='xsd:int' minOccurs='0' />
                  <xsd:element name='uploader' type='xsd:string' minOccurs='0' />
                  <xsd:element name='updated' type='xsd:int' minOccurs='0' />
                  <xsd:element name='hash' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='view_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='upload_date' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='page' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='supportedSitesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='supportedSitesNsfwResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='supported_sites' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='supportedSitesSfwResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='supported_sites' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='downloadRequestMessage' />
  <message name='downloadResponseMessage'>
    <part name='response' element='tns:downloadResponse' />
  </message>
  <message name='popularNsfwRequestMessage' />
  <message name='popularNsfwResponseMessage'>
    <part name='response' element='tns:popularNsfwResponse' />
  </message>
  <message name='popularSfwRequestMessage' />
  <message name='popularSfwResponseMessage'>
    <part name='response' element='tns:popularSfwResponse' />
  </message>
  <message name='recentNsfwRequestMessage' />
  <message name='recentNsfwResponseMessage'>
    <part name='response' element='tns:recentNsfwResponse' />
  </message>
  <message name='recentSfwRequestMessage' />
  <message name='recentSfwResponseMessage'>
    <part name='response' element='tns:recentSfwResponse' />
  </message>
  <message name='supportedSitesRequestMessage' />
  <message name='supportedSitesResponseMessage'>
    <part name='response' element='tns:supportedSitesResponse' />
  </message>
  <message name='supportedSitesNsfwRequestMessage' />
  <message name='supportedSitesNsfwResponseMessage'>
    <part name='response' element='tns:supportedSitesNsfwResponse' />
  </message>
  <message name='supportedSitesSfwRequestMessage' />
  <message name='supportedSitesSfwResponseMessage'>
    <part name='response' element='tns:supportedSitesSfwResponse' />
  </message>
  <portType name='savedeoPortType'>
    <operation name='download'>
      <input message='tns:downloadRequestMessage' name='downloadInput' />
      <output message='tns:downloadResponseMessage' name='downloadOutput' />
    </operation>
    <operation name='popularNsfw'>
      <documentation>all popular not safe for work videos downloaded by all users in last hours</documentation>
      <input message='tns:popularNsfwRequestMessage' name='popularNsfwInput' />
      <output message='tns:popularNsfwResponseMessage' name='popularNsfwOutput' />
    </operation>
    <operation name='popularSfw'>
      <documentation>popular safe for work videos downloaded in last hours by all users</documentation>
      <input message='tns:popularSfwRequestMessage' name='popularSfwInput' />
      <output message='tns:popularSfwResponseMessage' name='popularSfwOutput' />
    </operation>
    <operation name='recentNsfw'>
      <documentation>recent not safe for work videos downloaded by all users</documentation>
      <input message='tns:recentNsfwRequestMessage' name='recentNsfwInput' />
      <output message='tns:recentNsfwResponseMessage' name='recentNsfwOutput' />
    </operation>
    <operation name='recentSfw'>
      <documentation>recent safe for work videos downloaded by all users</documentation>
      <input message='tns:recentSfwRequestMessage' name='recentSfwInput' />
      <output message='tns:recentSfwResponseMessage' name='recentSfwOutput' />
    </operation>
    <operation name='supportedSites'>
      <input message='tns:supportedSitesRequestMessage' name='supportedSitesInput' />
      <output message='tns:supportedSitesResponseMessage' name='supportedSitesOutput' />
    </operation>
    <operation name='supportedSitesNsfw'>
      <documentation>list of supported NSFW sites</documentation>
      <input message='tns:supportedSitesNsfwRequestMessage' name='supportedSitesNsfwInput' />
      <output message='tns:supportedSitesNsfwResponseMessage' name='supportedSitesNsfwOutput' />
    </operation>
    <operation name='supportedSitesSfw'>
      <documentation>list of supported SFW sites</documentation>
      <input message='tns:supportedSitesSfwRequestMessage' name='supportedSitesSfwInput' />
      <output message='tns:supportedSitesSfwResponseMessage' name='supportedSitesSfwOutput' />
    </operation>
  </portType>
  <binding name='savedeoBinding' type='tns:savedeoPortType'>
    <operation name='download'>
      <soap12:operation soapAction='http://download' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='popularNsfw'>
      <soap12:operation soapAction='http://popularNsfw' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='popularSfw'>
      <soap12:operation soapAction='http://popularSfw' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentNsfw'>
      <soap12:operation soapAction='http://recentNsfw' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='recentSfw'>
      <soap12:operation soapAction='http://recentSfw' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='supportedSites'>
      <soap12:operation soapAction='http://supportedSites' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='supportedSitesNsfw'>
      <soap12:operation soapAction='http://supportedSitesNsfw' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='supportedSitesSfw'>
      <soap12:operation soapAction='http://supportedSitesSfw' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='savedeo'>
    <documentation>extract direct links to videos for many popular video hosting sites e g YouTube Vimeo etc</documentation>
    <port name='savedeoPort' binding='tns:savedeoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://savedeo' />
    </port>
  </service>
</definitions>