workspace/datasets/mashape_dataset/scorebig.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/scorebig/' name='scorebig' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/scorebig/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/scorebig/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/scorebig/'>
      <xsd:element name='categoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='parent_category_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='citiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dealrating' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='enddate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='eventid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxresults' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='metroregionid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='performerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='performername' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='secondaryperformerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='venue' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='venue' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deal_rating_percentage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='is_onsale' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='deal_rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='venue_address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='venue_longitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='next_30_days' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='primary_performer_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='next_3_days' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='is_canceled' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='top_category' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='day_of_week' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lower_categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='star_ratings' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='deal_rating' type='xsd:int' minOccurs='0' />
                        <xsd:element name='deal_rating_percentage' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rating' type='xsd:int' minOccurs='0' />
                        <xsd:element name='retail_price' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='metro_region' type='xsd:string' minOccurs='0' />
                  <xsd:element name='secondary_performer_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='next_7_days' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='primary_performer' type='xsd:string' minOccurs='0' />
                  <xsd:element name='venue_latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='this_weekend' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='local_date_time' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='local_date_time_type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='secondary_performer' type='xsd:string' minOccurs='0' />
                  <xsd:element name='is_outofstock' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='ticket_expiration' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='performersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='categoriesRequestMessage' />
  <message name='categoriesResponseMessage'>
    <part name='response' element='tns:categoriesResponse' />
  </message>
  <message name='citiesRequestMessage' />
  <message name='citiesResponseMessage'>
    <part name='response' element='tns:citiesResponse' />
  </message>
  <message name='eventSearchRequestMessage'>
    <part name='parameters' element='tns:eventSearchParameters' />
  </message>
  <message name='eventSearchResponseMessage'>
    <part name='response' element='tns:eventSearchResponse' />
  </message>
  <message name='eventsRequestMessage' />
  <message name='eventsResponseMessage'>
    <part name='response' element='tns:eventsResponse' />
  </message>
  <message name='performersRequestMessage' />
  <message name='performersResponseMessage'>
    <part name='response' element='tns:performersResponse' />
  </message>
  <portType name='scorebigPortType'>
    <operation name='categories'>
      <documentation>get a list of valid categories</documentation>
      <input message='tns:categoriesRequestMessage' name='categoriesInput' />
      <output message='tns:categoriesResponseMessage' name='categoriesOutput' />
    </operation>
    <operation name='cities'>
      <documentation></documentation>
      <input message='tns:citiesRequestMessage' name='citiesInput' />
      <output message='tns:citiesResponseMessage' name='citiesOutput' />
    </operation>
    <operation name='eventSearch'>
      <documentation></documentation>
      <input message='tns:eventSearchRequestMessage' name='eventSearchInput' />
      <output message='tns:eventSearchResponseMessage' name='eventSearchOutput' />
    </operation>
    <operation name='events'>
      <documentation></documentation>
      <input message='tns:eventsRequestMessage' name='eventsInput' />
      <output message='tns:eventsResponseMessage' name='eventsOutput' />
    </operation>
    <operation name='performers'>
      <documentation></documentation>
      <input message='tns:performersRequestMessage' name='performersInput' />
      <output message='tns:performersResponseMessage' name='performersOutput' />
    </operation>
  </portType>
  <binding name='scorebigBinding' type='tns:scorebigPortType'>
    <operation name='categories'>
      <soap12:operation soapAction='http://categories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cities'>
      <soap12:operation soapAction='http://cities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventSearch'>
      <soap12:operation soapAction='http://eventSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='events'>
      <soap12:operation soapAction='http://events' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='performers'>
      <soap12:operation soapAction='http://performers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='scorebig'>
    <documentation>search discount sports events inventory that is always below box office price Guaranteed Our tickets are always authentic valid for entry</documentation>
    <port name='scorebigPort' binding='tns:scorebigBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://scorebig' />
    </port>
  </service>
</definitions>