workspace/datasets/mashape_dataset/scoreoid.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/scoreoid/' name='scoreoid' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/scoreoid/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/scoreoid/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/scoreoid/'>
      <xsd:element name='countbestscoresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='scores' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='countplayersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='players' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='countscoresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='scores' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createplayerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createscoreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteplayerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editplayerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getaveragescoreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='average_score' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getbestscoresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Player' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='last_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='first_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Score' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='difficulty' type='xsd:int' minOccurs='0' />
                        <xsd:element name='score' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leaderboard' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='data' type='xsd:int' minOccurs='0' />
                        <xsd:element name='created' type='xsd:string' minOccurs='0' />
                        <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Game' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='short_description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='play_url' type='xsd:string' minOccurs='0' />
                        <xsd:element name='created' type='xsd:string' minOccurs='0' />
                        <xsd:element name='scores_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='game_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='website_url' type='xsd:string' minOccurs='0' />
                        <xsd:element name='user_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='players_count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='updated' type='xsd:string' minOccurs='0' />
                        <xsd:element name='levels' type='xsd:int' minOccurs='0' />
                        <xsd:element name='status' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgameaverageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bonus' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgamedataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='mykey' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgamefieldResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgamelowestResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bonus' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgametopResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bonus' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgametotalResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bonus' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getnotificationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='notifications' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='game_notification' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='GameNotification' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='debug' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='status' type='xsd:boolean' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getplayerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Player' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='kills' type='xsd:int' minOccurs='0' />
                        <xsd:element name='current_achievements' type='xsd:string' minOccurs='0' />
                        <xsd:element name='best_score' type='xsd:int' minOccurs='0' />
                        <xsd:element name='unlocked_items' type='xsd:string' minOccurs='0' />
                        <xsd:element name='achievements' type='xsd:string' minOccurs='0' />
                        <xsd:element name='bonus' type='xsd:int' minOccurs='0' />
                        <xsd:element name='current_level' type='xsd:string' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:int' minOccurs='0' />
                        <xsd:element name='longtitude' type='xsd:string' minOccurs='0' />
                        <xsd:element name='inventory' type='xsd:string' minOccurs='0' />
                        <xsd:element name='platform' type='xsd:string' minOccurs='0' />
                        <xsd:element name='gold' type='xsd:int' minOccurs='0' />
                        <xsd:element name='game_state' type='xsd:string' minOccurs='0' />
                        <xsd:element name='rank' type='xsd:int' minOccurs='0' />
                        <xsd:element name='first_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='email' type='xsd:string' minOccurs='0' />
                        <xsd:element name='current_time' type='xsd:int' minOccurs='0' />
                        <xsd:element name='energy' type='xsd:string' minOccurs='0' />
                        <xsd:element name='current_gold' type='xsd:int' minOccurs='0' />
                        <xsd:element name='current_kills' type='xsd:int' minOccurs='0' />
                        <xsd:element name='unique_id' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lives' type='xsd:int' minOccurs='0' />
                        <xsd:element name='created' type='xsd:string' minOccurs='0' />
                        <xsd:element name='current_bonus' type='xsd:int' minOccurs='0' />
                        <xsd:element name='last_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='time_played' type='xsd:int' minOccurs='0' />
                        <xsd:element name='current_unlocked_items' type='xsd:string' minOccurs='0' />
                        <xsd:element name='money' type='xsd:int' minOccurs='0' />
                        <xsd:element name='unlocked_levels' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xp' type='xsd:string' minOccurs='0' />
                        <xsd:element name='last_level' type='xsd:string' minOccurs='0' />
                        <xsd:element name='current_lives' type='xsd:int' minOccurs='0' />
                        <xsd:element name='boost' type='xsd:string' minOccurs='0' />
                        <xsd:element name='current_unlocked_levels' type='xsd:int' minOccurs='0' />
                        <xsd:element name='updated' type='xsd:string' minOccurs='0' />
                        <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getplayerdataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='test' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getplayerfieldResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='best_score' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getplayerrankResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='rank' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getplayersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bonus' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getplayerscoresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Score' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='difficulty' type='xsd:int' minOccurs='0' />
                        <xsd:element name='score' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leaderboard' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='player_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='data' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='created' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='platform' type='xsd:string' minOccurs='0' />
                        <xsd:element name='game_id' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getscoresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Player' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='last_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='first_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Score' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='difficulty' type='xsd:int' minOccurs='0' />
                        <xsd:element name='score' type='xsd:int' minOccurs='0' />
                        <xsd:element name='leaderboard' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='data' type='xsd:int' minOccurs='0' />
                        <xsd:element name='created' type='xsd:string' minOccurs='0' />
                        <xsd:element name='platform' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='incrementscoreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setgamedataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setplayerdataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='test' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unsetgamedataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unsetplayerdataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateplayerfieldResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='countbestscoresRequestMessage' />
  <message name='countbestscoresResponseMessage'>
    <part name='response' element='tns:countbestscoresResponse' />
  </message>
  <message name='countplayersRequestMessage' />
  <message name='countplayersResponseMessage'>
    <part name='response' element='tns:countplayersResponse' />
  </message>
  <message name='countscoresRequestMessage' />
  <message name='countscoresResponseMessage'>
    <part name='response' element='tns:countscoresResponse' />
  </message>
  <message name='createplayerRequestMessage' />
  <message name='createplayerResponseMessage'>
    <part name='response' element='tns:createplayerResponse' />
  </message>
  <message name='createscoreRequestMessage' />
  <message name='createscoreResponseMessage'>
    <part name='response' element='tns:createscoreResponse' />
  </message>
  <message name='deleteplayerRequestMessage' />
  <message name='deleteplayerResponseMessage'>
    <part name='response' element='tns:deleteplayerResponse' />
  </message>
  <message name='editplayerRequestMessage' />
  <message name='editplayerResponseMessage'>
    <part name='response' element='tns:editplayerResponse' />
  </message>
  <message name='getaveragescoreRequestMessage' />
  <message name='getaveragescoreResponseMessage'>
    <part name='response' element='tns:getaveragescoreResponse' />
  </message>
  <message name='getbestscoresRequestMessage' />
  <message name='getbestscoresResponseMessage'>
    <part name='response' element='tns:getbestscoresResponse' />
  </message>
  <message name='getgameRequestMessage' />
  <message name='getgameResponseMessage'>
    <part name='response' element='tns:getgameResponse' />
  </message>
  <message name='getgameaverageRequestMessage' />
  <message name='getgameaverageResponseMessage'>
    <part name='response' element='tns:getgameaverageResponse' />
  </message>
  <message name='getgamedataRequestMessage' />
  <message name='getgamedataResponseMessage'>
    <part name='response' element='tns:getgamedataResponse' />
  </message>
  <message name='getgamefieldRequestMessage' />
  <message name='getgamefieldResponseMessage'>
    <part name='response' element='tns:getgamefieldResponse' />
  </message>
  <message name='getgamelowestRequestMessage' />
  <message name='getgamelowestResponseMessage'>
    <part name='response' element='tns:getgamelowestResponse' />
  </message>
  <message name='getgametopRequestMessage' />
  <message name='getgametopResponseMessage'>
    <part name='response' element='tns:getgametopResponse' />
  </message>
  <message name='getgametotalRequestMessage' />
  <message name='getgametotalResponseMessage'>
    <part name='response' element='tns:getgametotalResponse' />
  </message>
  <message name='getnotificationRequestMessage' />
  <message name='getnotificationResponseMessage'>
    <part name='response' element='tns:getnotificationResponse' />
  </message>
  <message name='getplayerRequestMessage' />
  <message name='getplayerResponseMessage'>
    <part name='response' element='tns:getplayerResponse' />
  </message>
  <message name='getplayerdataRequestMessage' />
  <message name='getplayerdataResponseMessage'>
    <part name='response' element='tns:getplayerdataResponse' />
  </message>
  <message name='getplayerfieldRequestMessage' />
  <message name='getplayerfieldResponseMessage'>
    <part name='response' element='tns:getplayerfieldResponse' />
  </message>
  <message name='getplayerrankRequestMessage' />
  <message name='getplayerrankResponseMessage'>
    <part name='response' element='tns:getplayerrankResponse' />
  </message>
  <message name='getplayersRequestMessage' />
  <message name='getplayersResponseMessage'>
    <part name='response' element='tns:getplayersResponse' />
  </message>
  <message name='getplayerscoresRequestMessage' />
  <message name='getplayerscoresResponseMessage'>
    <part name='response' element='tns:getplayerscoresResponse' />
  </message>
  <message name='getscoresRequestMessage' />
  <message name='getscoresResponseMessage'>
    <part name='response' element='tns:getscoresResponse' />
  </message>
  <message name='incrementscoreRequestMessage' />
  <message name='incrementscoreResponseMessage'>
    <part name='response' element='tns:incrementscoreResponse' />
  </message>
  <message name='setgamedataRequestMessage' />
  <message name='setgamedataResponseMessage'>
    <part name='response' element='tns:setgamedataResponse' />
  </message>
  <message name='setplayerdataRequestMessage' />
  <message name='setplayerdataResponseMessage'>
    <part name='response' element='tns:setplayerdataResponse' />
  </message>
  <message name='unsetgamedataRequestMessage' />
  <message name='unsetgamedataResponseMessage'>
    <part name='response' element='tns:unsetgamedataResponse' />
  </message>
  <message name='unsetplayerdataRequestMessage' />
  <message name='unsetplayerdataResponseMessage'>
    <part name='response' element='tns:unsetplayerdataResponse' />
  </message>
  <message name='updateplayerfieldRequestMessage' />
  <message name='updateplayerfieldResponseMessage'>
    <part name='response' element='tns:updateplayerfieldResponse' />
  </message>
  <portType name='scoreoidPortType'>
    <operation name='countbestscores'>
      <documentation>countBestScores method lets you count all your game best scores</documentation>
      <input message='tns:countbestscoresRequestMessage' name='countbestscoresInput' />
      <output message='tns:countbestscoresResponseMessage' name='countbestscoresOutput' />
    </operation>
    <operation name='countplayers'>
      <documentation>countPlayers method lets you count all your players</documentation>
      <input message='tns:countplayersRequestMessage' name='countplayersInput' />
      <output message='tns:countplayersResponseMessage' name='countplayersOutput' />
    </operation>
    <operation name='countscores'>
      <documentation>countScores method lets you count all your game scores</documentation>
      <input message='tns:countscoresRequestMessage' name='countscoresInput' />
      <output message='tns:countscoresResponseMessage' name='countscoresOutput' />
    </operation>
    <operation name='createplayer'>
      <documentation>createPlayer method lets you create a new player</documentation>
      <input message='tns:createplayerRequestMessage' name='createplayerInput' />
      <output message='tns:createplayerResponseMessage' name='createplayerOutput' />
    </operation>
    <operation name='createscore'>
      <documentation>createScore method lets you create a score for a player</documentation>
      <input message='tns:createscoreRequestMessage' name='createscoreInput' />
      <output message='tns:createscoreResponseMessage' name='createscoreOutput' />
    </operation>
    <operation name='deleteplayer'>
      <documentation>deletePlayer method deletes a player and all the players scores</documentation>
      <input message='tns:deleteplayerRequestMessage' name='deleteplayerInput' />
      <output message='tns:deleteplayerResponseMessage' name='deleteplayerOutput' />
    </operation>
    <operation name='editplayer'>
      <documentation>editPlayer method lets you edit your player information</documentation>
      <input message='tns:editplayerRequestMessage' name='editplayerInput' />
      <output message='tns:editplayerResponseMessage' name='editplayerOutput' />
    </operation>
    <operation name='getaveragescore'>
      <documentation>getAverageScore method lets you get all your game Average Scores</documentation>
      <input message='tns:getaveragescoreRequestMessage' name='getaveragescoreInput' />
      <output message='tns:getaveragescoreResponseMessage' name='getaveragescoreOutput' />
    </operation>
    <operation name='getbestscores'>
      <documentation>getBestScores method lets you get all your games best scores</documentation>
      <input message='tns:getbestscoresRequestMessage' name='getbestscoresInput' />
      <output message='tns:getbestscoresResponseMessage' name='getbestscoresOutput' />
    </operation>
    <operation name='getgame'>
      <documentation>method lets you pull all your game information</documentation>
      <input message='tns:getgameRequestMessage' name='getgameInput' />
      <output message='tns:getgameResponseMessage' name='getgameOutput' />
    </operation>
    <operation name='getgameaverage'>
      <documentation>method lets you pull the average value for the game field s</documentation>
      <input message='tns:getgameaverageRequestMessage' name='getgameaverageInput' />
      <output message='tns:getgameaverageResponseMessage' name='getgameaverageOutput' />
    </operation>
    <operation name='getgamedata'>
      <documentation>sets the value for the key</documentation>
      <input message='tns:getgamedataRequestMessage' name='getgamedataInput' />
      <output message='tns:getgamedataResponseMessage' name='getgamedataOutput' />
    </operation>
    <operation name='getgamefield'>
      <documentation>method lets you pull a specific field from your game info</documentation>
      <input message='tns:getgamefieldRequestMessage' name='getgamefieldInput' />
      <output message='tns:getgamefieldResponseMessage' name='getgamefieldOutput' />
    </operation>
    <operation name='getgamelowest'>
      <documentation>method lets you pull the lowest value for the game field s</documentation>
      <input message='tns:getgamelowestRequestMessage' name='getgamelowestInput' />
      <output message='tns:getgamelowestResponseMessage' name='getgamelowestOutput' />
    </operation>
    <operation name='getgametop'>
      <documentation>method lets you pull the top value for the game field s</documentation>
      <input message='tns:getgametopRequestMessage' name='getgametopInput' />
      <output message='tns:getgametopResponseMessage' name='getgametopOutput' />
    </operation>
    <operation name='getgametotal'>
      <documentation>method lets you pull the total value for the game field s</documentation>
      <input message='tns:getgametotalRequestMessage' name='getgametotalInput' />
      <output message='tns:getgametotalResponseMessage' name='getgametotalOutput' />
    </operation>
    <operation name='getnotification'>
      <documentation>getNotification method lets you pull your game s in game notifications</documentation>
      <input message='tns:getnotificationRequestMessage' name='getnotificationInput' />
      <output message='tns:getnotificationResponseMessage' name='getnotificationOutput' />
    </operation>
    <operation name='getplayer'>
      <documentation>getPlayer checks if player exists and returns the player information Post parameters work as query conditions This method can be used for login by adding username and password parameters</documentation>
      <input message='tns:getplayerRequestMessage' name='getplayerInput' />
      <output message='tns:getplayerResponseMessage' name='getplayerOutput' />
    </operation>
    <operation name='getplayerdata'>
      <documentation>getPlayerData sets the value for the key</documentation>
      <input message='tns:getplayerdataRequestMessage' name='getplayerdataInput' />
      <output message='tns:getplayerdataResponseMessage' name='getplayerdataOutput' />
    </operation>
    <operation name='getplayerfield'>
      <documentation>getPlayerField method lets you pull a specific field from your player info</documentation>
      <input message='tns:getplayerfieldRequestMessage' name='getplayerfieldInput' />
      <output message='tns:getplayerfieldResponseMessage' name='getplayerfieldOutput' />
    </operation>
    <operation name='getplayerrank'>
      <documentation>getPlayerRank returns a player s rank</documentation>
      <input message='tns:getplayerrankRequestMessage' name='getplayerrankInput' />
      <output message='tns:getplayerrankResponseMessage' name='getplayerrankOutput' />
    </operation>
    <operation name='getplayers'>
      <documentation>method lets you pull all the players for a game</documentation>
      <input message='tns:getplayersRequestMessage' name='getplayersInput' />
      <output message='tns:getplayersResponseMessage' name='getplayersOutput' />
    </operation>
    <operation name='getplayerscores'>
      <documentation>getPlayerScores method lets you pull all the scores for a player</documentation>
      <input message='tns:getplayerscoresRequestMessage' name='getplayerscoresInput' />
      <output message='tns:getplayerscoresResponseMessage' name='getplayerscoresOutput' />
    </operation>
    <operation name='getscores'>
      <documentation>getScores method lets you pull all your game scores</documentation>
      <input message='tns:getscoresRequestMessage' name='getscoresInput' />
      <output message='tns:getscoresResponseMessage' name='getscoresOutput' />
    </operation>
    <operation name='incrementscore'>
      <documentation>incrementScore sets the value for the key</documentation>
      <input message='tns:incrementscoreRequestMessage' name='incrementscoreInput' />
      <output message='tns:incrementscoreResponseMessage' name='incrementscoreOutput' />
    </operation>
    <operation name='setgamedata'>
      <documentation>sets the value for the key</documentation>
      <input message='tns:setgamedataRequestMessage' name='setgamedataInput' />
      <output message='tns:setgamedataResponseMessage' name='setgamedataOutput' />
    </operation>
    <operation name='setplayerdata'>
      <documentation>setPlayerData sets the value for the key</documentation>
      <input message='tns:setplayerdataRequestMessage' name='setplayerdataInput' />
      <output message='tns:setplayerdataResponseMessage' name='setplayerdataOutput' />
    </operation>
    <operation name='unsetgamedata'>
      <documentation>sets the value for the key</documentation>
      <input message='tns:unsetgamedataRequestMessage' name='unsetgamedataInput' />
      <output message='tns:unsetgamedataResponseMessage' name='unsetgamedataOutput' />
    </operation>
    <operation name='unsetplayerdata'>
      <documentation>unsetPlayerData sets the value for the key</documentation>
      <input message='tns:unsetplayerdataRequestMessage' name='unsetplayerdataInput' />
      <output message='tns:unsetplayerdataResponseMessage' name='unsetplayerdataOutput' />
    </operation>
    <operation name='updateplayerfield'>
      <documentation>updatePlayerField method lets you update your player field s</documentation>
      <input message='tns:updateplayerfieldRequestMessage' name='updateplayerfieldInput' />
      <output message='tns:updateplayerfieldResponseMessage' name='updateplayerfieldOutput' />
    </operation>
  </portType>
  <binding name='scoreoidBinding' type='tns:scoreoidPortType'>
    <operation name='countbestscores'>
      <soap12:operation soapAction='http://countbestscores' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='countplayers'>
      <soap12:operation soapAction='http://countplayers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='countscores'>
      <soap12:operation soapAction='http://countscores' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createplayer'>
      <soap12:operation soapAction='http://createplayer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createscore'>
      <soap12:operation soapAction='http://createscore' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteplayer'>
      <soap12:operation soapAction='http://deleteplayer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editplayer'>
      <soap12:operation soapAction='http://editplayer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getaveragescore'>
      <soap12:operation soapAction='http://getaveragescore' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getbestscores'>
      <soap12:operation soapAction='http://getbestscores' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgame'>
      <soap12:operation soapAction='http://getgame' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgameaverage'>
      <soap12:operation soapAction='http://getgameaverage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgamedata'>
      <soap12:operation soapAction='http://getgamedata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgamefield'>
      <soap12:operation soapAction='http://getgamefield' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgamelowest'>
      <soap12:operation soapAction='http://getgamelowest' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgametop'>
      <soap12:operation soapAction='http://getgametop' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgametotal'>
      <soap12:operation soapAction='http://getgametotal' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getnotification'>
      <soap12:operation soapAction='http://getnotification' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getplayer'>
      <soap12:operation soapAction='http://getplayer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getplayerdata'>
      <soap12:operation soapAction='http://getplayerdata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getplayerfield'>
      <soap12:operation soapAction='http://getplayerfield' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getplayerrank'>
      <soap12:operation soapAction='http://getplayerrank' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getplayers'>
      <soap12:operation soapAction='http://getplayers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getplayerscores'>
      <soap12:operation soapAction='http://getplayerscores' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getscores'>
      <soap12:operation soapAction='http://getscores' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='incrementscore'>
      <soap12:operation soapAction='http://incrementscore' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setgamedata'>
      <soap12:operation soapAction='http://setgamedata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setplayerdata'>
      <soap12:operation soapAction='http://setplayerdata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='unsetgamedata'>
      <soap12:operation soapAction='http://unsetgamedata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='unsetplayerdata'>
      <soap12:operation soapAction='http://unsetplayerdata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateplayerfield'>
      <soap12:operation soapAction='http://updateplayerfield' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='scoreoid'>
    <documentation>truly cross platform highly scalable gaming backend as service and real time marketing platform that powers engagement and monetization Gamify your apps with Scoreoid s gaming backend as a service Increase retention engagement and sales in real time using Scoreoid Live Scoreoid Live enables brands studios publishers and app developers to interact and engage with their users in real time</documentation>
    <port name='scoreoidPort' binding='tns:scoreoidBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://scoreoid' />
    </port>
  </service>
</definitions>