workspace/datasets/mashape_dataset/secretlymeet.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/secretlyMeet/' name='secretlyMeet' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/secretlyMeet/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/secretlyMeet/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/secretlyMeet/'>
      <xsd:element name='createwebsiteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='headertitle' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagetype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='themenumber' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createwebsiteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createwebsiteRequestMessage'>
    <part name='parameters' element='tns:createwebsiteParameters' />
  </message>
  <message name='createwebsiteResponseMessage'>
    <part name='response' element='tns:createwebsiteResponse' />
  </message>
  <portType name='secretlyMeetPortType'>
    <operation name='createwebsite'>
      <documentation>create a personalized disposable website A new temporary web address is generated for each call</documentation>
      <input message='tns:createwebsiteRequestMessage' name='createwebsiteInput' />
      <output message='tns:createwebsiteResponseMessage' name='createwebsiteOutput' />
    </operation>
  </portType>
  <binding name='secretlyMeetBinding' type='tns:secretlyMeetPortType'>
    <operation name='createwebsite'>
      <soap12:operation soapAction='http://createwebsite' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='secretlyMeet'>
    <documentation>create websites that only last for a browser session Secretly Meet allows you to create a short lived web meeting room where all the content lives within your browser The browser serves all the content shared in P P peer to peer way When you close your browser all the content is deleted without leaving any tracks about the exchanged information chat text links videos photos webcam and more Protect your privacy</documentation>
    <port name='secretlyMeetPort' binding='tns:secretlyMeetBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://secretlyMeet' />
    </port>
  </service>
</definitions>