workspace/datasets/mashape_dataset/seevl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/seevl/' name='seevl' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/seevl/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/seevl/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/seevl/'>
      <xsd:element name='entitySearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='autocomplete' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxres' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='preflabel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='value' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='entitySearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='size' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='a' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEntityBasicInfosParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEntityBasicInfosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='a' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='value' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEntityFactSheetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEntityFactSheetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='a' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='origin' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='prefLabel' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
            <xsd:element name='genre' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='collaborated_with' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='label' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='membership' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='artist' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEntityLinksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getEntityLinksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='a' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='seeAlso' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRelatedEntitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRelatedEntitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='a' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
            <xsd:element name='association' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='grounding' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='object' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRelationsBetweenEntitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='oid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRelationsBetweenEntitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='origin' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='genre' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='collaborated_with' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='label' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='membership' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='artist' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
                              <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='prefLabel' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='entitySearchRequestMessage'>
    <part name='parameters' element='tns:entitySearchParameters' />
  </message>
  <message name='entitySearchResponseMessage'>
    <part name='response' element='tns:entitySearchResponse' />
  </message>
  <message name='getEntityBasicInfosRequestMessage'>
    <part name='parameters' element='tns:getEntityBasicInfosParameters' />
  </message>
  <message name='getEntityBasicInfosResponseMessage'>
    <part name='response' element='tns:getEntityBasicInfosResponse' />
  </message>
  <message name='getEntityFactSheetRequestMessage'>
    <part name='parameters' element='tns:getEntityFactSheetParameters' />
  </message>
  <message name='getEntityFactSheetResponseMessage'>
    <part name='response' element='tns:getEntityFactSheetResponse' />
  </message>
  <message name='getEntityLinksRequestMessage'>
    <part name='parameters' element='tns:getEntityLinksParameters' />
  </message>
  <message name='getEntityLinksResponseMessage'>
    <part name='response' element='tns:getEntityLinksResponse' />
  </message>
  <message name='getRelatedEntitiesRequestMessage'>
    <part name='parameters' element='tns:getRelatedEntitiesParameters' />
  </message>
  <message name='getRelatedEntitiesResponseMessage'>
    <part name='response' element='tns:getRelatedEntitiesResponse' />
  </message>
  <message name='getRelationsBetweenEntitiesRequestMessage'>
    <part name='parameters' element='tns:getRelationsBetweenEntitiesParameters' />
  </message>
  <message name='getRelationsBetweenEntitiesResponseMessage'>
    <part name='response' element='tns:getRelationsBetweenEntitiesResponse' />
  </message>
  <portType name='seevlPortType'>
    <operation name='entitySearch'>
      <documentation>search for an entity by prefLabel i e its name OR Search for an entity by key value patterns Values are entity IDs and can be identified with the previous prefLabel search method</documentation>
      <input message='tns:entitySearchRequestMessage' name='entitySearchInput' />
      <output message='tns:entitySearchResponseMessage' name='entitySearchOutput' />
    </operation>
    <operation name='getEntityBasicInfos'>
      <documentation>get entity basic infos prefLabel description type Description is from Wikipedia you must display its source and licence when using it in your application</documentation>
      <input message='tns:getEntityBasicInfosRequestMessage' name='getEntityBasicInfosInput' />
      <output message='tns:getEntityBasicInfosResponseMessage' name='getEntityBasicInfosOutput' />
    </operation>
    <operation name='getEntityFactSheet'>
      <documentation>get entity fact sheet including genre label influences etc for artists Fact sheet is using a key value model with keys including depending on the entity type genre musical genre for Artist SoloArtist Group label record label for Artist SoloArtist Group origin artist origin for Artist SoloArtist Group membership group groups the artist is member of for Artist SoloArtist Group membership artist group members for Artist SoloArtist Group collaborated with artist collaborations for Artist SoloArtist Group birth place birth place for Artist SoloArtist Group birth date birth date for Artist SoloArtist Group death place death place for Artist SoloArtist Group death date death date for Artist SoloArtist Group broader paren genres for Genre narrower child genres for Genre</documentation>
      <input message='tns:getEntityFactSheetRequestMessage' name='getEntityFactSheetInput' />
      <output message='tns:getEntityFactSheetResponseMessage' name='getEntityFactSheetOutput' />
    </operation>
    <operation name='getEntityLinks'>
      <documentation>get entity links</documentation>
      <input message='tns:getEntityLinksRequestMessage' name='getEntityLinksInput' />
      <output message='tns:getEntityLinksResponseMessage' name='getEntityLinksOutput' />
    </operation>
    <operation name='getRelatedEntities'>
      <documentation>get related entities</documentation>
      <input message='tns:getRelatedEntitiesRequestMessage' name='getRelatedEntitiesInput' />
      <output message='tns:getRelatedEntitiesResponseMessage' name='getRelatedEntitiesOutput' />
    </operation>
    <operation name='getRelationsBetweenEntities'>
      <documentation>get relations between entities This method is only available for entities of type Artist and its sub types Solo and Group</documentation>
      <input message='tns:getRelationsBetweenEntitiesRequestMessage' name='getRelationsBetweenEntitiesInput' />
      <output message='tns:getRelationsBetweenEntitiesResponseMessage' name='getRelationsBetweenEntitiesOutput' />
    </operation>
  </portType>
  <binding name='seevlBinding' type='tns:seevlPortType'>
    <operation name='entitySearch'>
      <soap12:operation soapAction='http://entitySearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getEntityBasicInfos'>
      <soap12:operation soapAction='http://getEntityBasicInfos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getEntityFactSheet'>
      <soap12:operation soapAction='http://getEntityFactSheet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getEntityLinks'>
      <soap12:operation soapAction='http://getEntityLinks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRelatedEntities'>
      <soap12:operation soapAction='http://getRelatedEntities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRelationsBetweenEntities'>
      <soap12:operation soapAction='http://getRelationsBetweenEntities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='seevl'>
    <documentation>unlimited and Targeted Music Discovery Get personal recommendations enjoy unlimited mixtapes discover new artists and much more Our API lets you search for discover and explore music entities and their connections</documentation>
    <port name='seevlPort' binding='tns:seevlBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://seevl' />
    </port>
  </service>
</definitions>