workspace/datasets/mashape_dataset/selectpdfhtmltopdf.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/selectpdfHtmlToPdf/' name='selectpdfHtmlToPdf' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/selectpdfHtmlToPdf/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/selectpdfHtmlToPdf/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/selectpdfHtmlToPdf/'>
      <xsd:element name='Parameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='Response'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='RequestMessage'>
    <part name='parameters' element='tns:Parameters' />
  </message>
  <message name='ResponseMessage'>
    <part name='response' element='tns:Response' />
  </message>
  <portType name='selectpdfHtmlToPdfPortType'>
    <operation name=''>
      <documentation>selectPdf API Endpoint</documentation>
      <input message='tns:RequestMessage' name='Input' />
      <output message='tns:ResponseMessage' name='Output' />
    </operation>
  </portType>
  <binding name='selectpdfHtmlToPdfBinding' type='tns:selectpdfHtmlToPdfPortType'>
    <operation name=''>
      <soap12:operation soapAction='http://' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='selectpdfHtmlToPdf'>
    <documentation>the Select Pdf online API is a professional solution that lets you create PDF from web pages and raw HTML code in your applications The API is easy to use and the integration takes only a few lines of code</documentation>
    <port name='selectpdfHtmlToPdfPort' binding='tns:selectpdfHtmlToPdfBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://selectpdfHtmlToPdf' />
    </port>
  </service>
</definitions>