workspace/datasets/mashape_dataset/sendgrid.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/sendgrid/' name='sendgrid' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/sendgrid/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/sendgrid/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/sendgrid/'>
      <xsd:element name='activateAppResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addMultipleCredentialsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addUnsubscribesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='countBlocksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='countBouncesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deactivateAppResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteBlocksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteBouncesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteEntryParseWebhookSettingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteInvalidEmailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteMultipleCredentialsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSpamReportsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteUnsubscribesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editMultipleCredentialsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAdvancedStatisticsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='unique_click' type='xsd:int' minOccurs='0' />
                  <xsd:element name='date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='request' type='xsd:int' minOccurs='0' />
                  <xsd:element name='processed' type='xsd:int' minOccurs='0' />
                  <xsd:element name='unique_open' type='xsd:int' minOccurs='0' />
                  <xsd:element name='delivered' type='xsd:int' minOccurs='0' />
                  <xsd:element name='click' type='xsd:int' minOccurs='0' />
                  <xsd:element name='open' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAppSettingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAppSettingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settings' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='bcc' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAvailableResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getBlocksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reason' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getBouncesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reason' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getInvalidEmailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reason' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMultipleCredentialsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='permissions' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='api' type='xsd:int' minOccurs='0' />
                        <xsd:element name='email' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getParseWebhookSettingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='parse' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='hostname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='spam_check' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSpamReportsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='created' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ip' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUnsubscribesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='created' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveGeneralStatisticsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:date' minOccurs='0' />
                  <xsd:element name='blocked' type='xsd:int' minOccurs='0' />
                  <xsd:element name='unique_clicks' type='xsd:int' minOccurs='0' />
                  <xsd:element name='clicks' type='xsd:int' minOccurs='0' />
                  <xsd:element name='opens' type='xsd:int' minOccurs='0' />
                  <xsd:element name='requests' type='xsd:int' minOccurs='0' />
                  <xsd:element name='bounces' type='xsd:int' minOccurs='0' />
                  <xsd:element name='spamreports' type='xsd:int' minOccurs='0' />
                  <xsd:element name='unique_opens' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setEmailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setParseWebhookSettingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setPasswordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setProfileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setUsernameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='setupAppResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewProfileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='website' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='active' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='activateAppRequestMessage' />
  <message name='activateAppResponseMessage'>
    <part name='response' element='tns:activateAppResponse' />
  </message>
  <message name='addMultipleCredentialsRequestMessage' />
  <message name='addMultipleCredentialsResponseMessage'>
    <part name='response' element='tns:addMultipleCredentialsResponse' />
  </message>
  <message name='addUnsubscribesRequestMessage' />
  <message name='addUnsubscribesResponseMessage'>
    <part name='response' element='tns:addUnsubscribesResponse' />
  </message>
  <message name='countBlocksRequestMessage' />
  <message name='countBlocksResponseMessage'>
    <part name='response' element='tns:countBlocksResponse' />
  </message>
  <message name='countBouncesRequestMessage' />
  <message name='countBouncesResponseMessage'>
    <part name='response' element='tns:countBouncesResponse' />
  </message>
  <message name='deactivateAppRequestMessage' />
  <message name='deactivateAppResponseMessage'>
    <part name='response' element='tns:deactivateAppResponse' />
  </message>
  <message name='deleteBlocksRequestMessage' />
  <message name='deleteBlocksResponseMessage'>
    <part name='response' element='tns:deleteBlocksResponse' />
  </message>
  <message name='deleteBouncesRequestMessage' />
  <message name='deleteBouncesResponseMessage'>
    <part name='response' element='tns:deleteBouncesResponse' />
  </message>
  <message name='deleteEntryParseWebhookSettingsRequestMessage' />
  <message name='deleteEntryParseWebhookSettingsResponseMessage'>
    <part name='response' element='tns:deleteEntryParseWebhookSettingsResponse' />
  </message>
  <message name='deleteInvalidEmailsRequestMessage' />
  <message name='deleteInvalidEmailsResponseMessage'>
    <part name='response' element='tns:deleteInvalidEmailsResponse' />
  </message>
  <message name='deleteMultipleCredentialsRequestMessage' />
  <message name='deleteMultipleCredentialsResponseMessage'>
    <part name='response' element='tns:deleteMultipleCredentialsResponse' />
  </message>
  <message name='deleteSpamReportsRequestMessage' />
  <message name='deleteSpamReportsResponseMessage'>
    <part name='response' element='tns:deleteSpamReportsResponse' />
  </message>
  <message name='deleteUnsubscribesRequestMessage' />
  <message name='deleteUnsubscribesResponseMessage'>
    <part name='response' element='tns:deleteUnsubscribesResponse' />
  </message>
  <message name='editMultipleCredentialsRequestMessage' />
  <message name='editMultipleCredentialsResponseMessage'>
    <part name='response' element='tns:editMultipleCredentialsResponse' />
  </message>
  <message name='getAdvancedStatisticsRequestMessage' />
  <message name='getAdvancedStatisticsResponseMessage'>
    <part name='response' element='tns:getAdvancedStatisticsResponse' />
  </message>
  <message name='getAppSettingsRequestMessage'>
    <part name='parameters' element='tns:getAppSettingsParameters' />
  </message>
  <message name='getAppSettingsResponseMessage'>
    <part name='response' element='tns:getAppSettingsResponse' />
  </message>
  <message name='getAvailableRequestMessage' />
  <message name='getAvailableResponseMessage'>
    <part name='response' element='tns:getAvailableResponse' />
  </message>
  <message name='getBlocksRequestMessage' />
  <message name='getBlocksResponseMessage'>
    <part name='response' element='tns:getBlocksResponse' />
  </message>
  <message name='getBouncesRequestMessage' />
  <message name='getBouncesResponseMessage'>
    <part name='response' element='tns:getBouncesResponse' />
  </message>
  <message name='getInvalidEmailsRequestMessage' />
  <message name='getInvalidEmailsResponseMessage'>
    <part name='response' element='tns:getInvalidEmailsResponse' />
  </message>
  <message name='getMultipleCredentialsRequestMessage' />
  <message name='getMultipleCredentialsResponseMessage'>
    <part name='response' element='tns:getMultipleCredentialsResponse' />
  </message>
  <message name='getParseWebhookSettingsRequestMessage' />
  <message name='getParseWebhookSettingsResponseMessage'>
    <part name='response' element='tns:getParseWebhookSettingsResponse' />
  </message>
  <message name='getSpamReportsRequestMessage' />
  <message name='getSpamReportsResponseMessage'>
    <part name='response' element='tns:getSpamReportsResponse' />
  </message>
  <message name='getUnsubscribesRequestMessage' />
  <message name='getUnsubscribesResponseMessage'>
    <part name='response' element='tns:getUnsubscribesResponse' />
  </message>
  <message name='mailRequestMessage' />
  <message name='mailResponseMessage'>
    <part name='response' element='tns:mailResponse' />
  </message>
  <message name='retrieveGeneralStatisticsRequestMessage' />
  <message name='retrieveGeneralStatisticsResponseMessage'>
    <part name='response' element='tns:retrieveGeneralStatisticsResponse' />
  </message>
  <message name='setEmailRequestMessage' />
  <message name='setEmailResponseMessage'>
    <part name='response' element='tns:setEmailResponse' />
  </message>
  <message name='setParseWebhookSettingsRequestMessage' />
  <message name='setParseWebhookSettingsResponseMessage'>
    <part name='response' element='tns:setParseWebhookSettingsResponse' />
  </message>
  <message name='setPasswordRequestMessage' />
  <message name='setPasswordResponseMessage'>
    <part name='response' element='tns:setPasswordResponse' />
  </message>
  <message name='setProfileRequestMessage' />
  <message name='setProfileResponseMessage'>
    <part name='response' element='tns:setProfileResponse' />
  </message>
  <message name='setUsernameRequestMessage' />
  <message name='setUsernameResponseMessage'>
    <part name='response' element='tns:setUsernameResponse' />
  </message>
  <message name='setupAppRequestMessage' />
  <message name='setupAppResponseMessage'>
    <part name='response' element='tns:setupAppResponse' />
  </message>
  <message name='viewProfileRequestMessage' />
  <message name='viewProfileResponseMessage'>
    <part name='response' element='tns:viewProfileResponse' />
  </message>
  <portType name='sendgridPortType'>
    <operation name='activateApp'>
      <documentation>activate an app Please refer to http sendgrid com docs API Reference Web API filter settings html</documentation>
      <input message='tns:activateAppRequestMessage' name='activateAppInput' />
      <output message='tns:activateAppResponseMessage' name='activateAppOutput' />
    </operation>
    <operation name='addMultipleCredentials'>
      <documentation>this API call allows user to add a new set of credentials to their account</documentation>
      <input message='tns:addMultipleCredentialsRequestMessage' name='addMultipleCredentialsInput' />
      <output message='tns:addMultipleCredentialsResponseMessage' name='addMultipleCredentialsOutput' />
    </operation>
    <operation name='addUnsubscribes'>
      <documentation>add email addresses to the Unsubscribe list</documentation>
      <input message='tns:addUnsubscribesRequestMessage' name='addUnsubscribesInput' />
      <output message='tns:addUnsubscribesResponseMessage' name='addUnsubscribesOutput' />
    </operation>
    <operation name='countBlocks'>
      <documentation></documentation>
      <input message='tns:countBlocksRequestMessage' name='countBlocksInput' />
      <output message='tns:countBlocksResponseMessage' name='countBlocksOutput' />
    </operation>
    <operation name='countBounces'>
      <documentation></documentation>
      <input message='tns:countBouncesRequestMessage' name='countBouncesInput' />
      <output message='tns:countBouncesResponseMessage' name='countBouncesOutput' />
    </operation>
    <operation name='deactivateApp'>
      <documentation>deactivate an app Please refer to http sendgrid com docs API Reference Web API filter settings html</documentation>
      <input message='tns:deactivateAppRequestMessage' name='deactivateAppInput' />
      <output message='tns:deactivateAppResponseMessage' name='deactivateAppOutput' />
    </operation>
    <operation name='deleteBlocks'>
      <documentation>delete an address from the Block list</documentation>
      <input message='tns:deleteBlocksRequestMessage' name='deleteBlocksInput' />
      <output message='tns:deleteBlocksResponseMessage' name='deleteBlocksOutput' />
    </operation>
    <operation name='deleteBounces'>
      <documentation>delete an address from the Bounce list Please note that if no parameters are specified the ENTIRE list will be deleted</documentation>
      <input message='tns:deleteBouncesRequestMessage' name='deleteBouncesInput' />
      <output message='tns:deleteBouncesResponseMessage' name='deleteBouncesOutput' />
    </operation>
    <operation name='deleteEntryParseWebhookSettings'>
      <documentation>delete the existing settings for parsing incoming emails</documentation>
      <input message='tns:deleteEntryParseWebhookSettingsRequestMessage' name='deleteEntryParseWebhookSettingsInput' />
      <output message='tns:deleteEntryParseWebhookSettingsResponseMessage' name='deleteEntryParseWebhookSettingsOutput' />
    </operation>
    <operation name='deleteInvalidEmails'>
      <documentation>delete an address from the Invalid Email list</documentation>
      <input message='tns:deleteInvalidEmailsRequestMessage' name='deleteInvalidEmailsInput' />
      <output message='tns:deleteInvalidEmailsResponseMessage' name='deleteInvalidEmailsOutput' />
    </operation>
    <operation name='deleteMultipleCredentials'>
      <documentation></documentation>
      <input message='tns:deleteMultipleCredentialsRequestMessage' name='deleteMultipleCredentialsInput' />
      <output message='tns:deleteMultipleCredentialsResponseMessage' name='deleteMultipleCredentialsOutput' />
    </operation>
    <operation name='deleteSpamReports'>
      <documentation>delete an address from the Spam Reports list</documentation>
      <input message='tns:deleteSpamReportsRequestMessage' name='deleteSpamReportsInput' />
      <output message='tns:deleteSpamReportsResponseMessage' name='deleteSpamReportsOutput' />
    </operation>
    <operation name='deleteUnsubscribes'>
      <documentation>delete an address from the Unsubscribe list Please note that if no parameters are provided or if empty parameters are provided the ENTIRE list will be removed</documentation>
      <input message='tns:deleteUnsubscribesRequestMessage' name='deleteUnsubscribesInput' />
      <output message='tns:deleteUnsubscribesResponseMessage' name='deleteUnsubscribesOutput' />
    </operation>
    <operation name='editMultipleCredentials'>
      <documentation></documentation>
      <input message='tns:editMultipleCredentialsRequestMessage' name='editMultipleCredentialsInput' />
      <output message='tns:editMultipleCredentialsResponseMessage' name='editMultipleCredentialsOutput' />
    </operation>
    <operation name='getAdvancedStatistics'>
      <documentation>get Statistics for Browsers Clients Devices Geo Global Isp</documentation>
      <input message='tns:getAdvancedStatisticsRequestMessage' name='getAdvancedStatisticsInput' />
      <output message='tns:getAdvancedStatisticsResponseMessage' name='getAdvancedStatisticsOutput' />
    </operation>
    <operation name='getAppSettings'>
      <documentation>get the Settings Of An App Please refer to http sendgrid com docs API Reference Web API filter settings html</documentation>
      <input message='tns:getAppSettingsRequestMessage' name='getAppSettingsInput' />
      <output message='tns:getAppSettingsResponseMessage' name='getAppSettingsOutput' />
    </operation>
    <operation name='getAvailable'>
      <documentation>list all of the available apps Note The name entry is used in all the other API calls to identify a app For a list of all the apps and parameters accesible with the Web API you can check the Filter Settings page Please refer to http sendgrid com docs API Reference Web API filter settings html</documentation>
      <input message='tns:getAvailableRequestMessage' name='getAvailableInput' />
      <output message='tns:getAvailableResponseMessage' name='getAvailableOutput' />
    </operation>
    <operation name='getBlocks'>
      <documentation>retrieve a list of Blocks with addresses and response codes optionally with dates</documentation>
      <input message='tns:getBlocksRequestMessage' name='getBlocksInput' />
      <output message='tns:getBlocksResponseMessage' name='getBlocksOutput' />
    </operation>
    <operation name='getBounces'>
      <documentation>retrieve a list of bounces with addresses and response codes optionally with dates</documentation>
      <input message='tns:getBouncesRequestMessage' name='getBouncesInput' />
      <output message='tns:getBouncesResponseMessage' name='getBouncesOutput' />
    </operation>
    <operation name='getInvalidEmails'>
      <documentation>this endpoint allows you to retrieve and delete entries in the Invalid Emails list</documentation>
      <input message='tns:getInvalidEmailsRequestMessage' name='getInvalidEmailsInput' />
      <output message='tns:getInvalidEmailsResponseMessage' name='getInvalidEmailsOutput' />
    </operation>
    <operation name='getMultipleCredentials'>
      <documentation>retrieve a list of all credentials or permissions for a specific credential</documentation>
      <input message='tns:getMultipleCredentialsRequestMessage' name='getMultipleCredentialsInput' />
      <output message='tns:getMultipleCredentialsResponseMessage' name='getMultipleCredentialsOutput' />
    </operation>
    <operation name='getParseWebhookSettings'>
      <documentation>retrieve settings already configured for parsing incoming email</documentation>
      <input message='tns:getParseWebhookSettingsRequestMessage' name='getParseWebhookSettingsInput' />
      <output message='tns:getParseWebhookSettingsResponseMessage' name='getParseWebhookSettingsOutput' />
    </operation>
    <operation name='getSpamReports'>
      <documentation>retrieve and delete entries in the Spam Reports list</documentation>
      <input message='tns:getSpamReportsRequestMessage' name='getSpamReportsInput' />
      <output message='tns:getSpamReportsResponseMessage' name='getSpamReportsOutput' />
    </operation>
    <operation name='getUnsubscribes'>
      <documentation>retrieve a list of Unsubscribes with addresses and optionally with dates</documentation>
      <input message='tns:getUnsubscribesRequestMessage' name='getUnsubscribesInput' />
      <output message='tns:getUnsubscribesResponseMessage' name='getUnsubscribesOutput' />
    </operation>
    <operation name='mail'>
      <documentation>this endpoint allows you to send email</documentation>
      <input message='tns:mailRequestMessage' name='mailInput' />
      <output message='tns:mailResponseMessage' name='mailOutput' />
    </operation>
    <operation name='retrieveGeneralStatistics'>
      <documentation>you can specify either the days parameter or the start date and end date parameters If provided with no parameters the current day s statistics are returned</documentation>
      <input message='tns:retrieveGeneralStatisticsRequestMessage' name='retrieveGeneralStatisticsInput' />
      <output message='tns:retrieveGeneralStatisticsResponseMessage' name='retrieveGeneralStatisticsOutput' />
    </operation>
    <operation name='setEmail'>
      <documentation>please note we send out a confirmation email to the new email account in order to be validated Your email address changes when you click on the confirmation link</documentation>
      <input message='tns:setEmailRequestMessage' name='setEmailInput' />
      <output message='tns:setEmailResponseMessage' name='setEmailOutput' />
    </operation>
    <operation name='setParseWebhookSettings'>
      <documentation>specify the hostname and url for parsing incoming emails</documentation>
      <input message='tns:setParseWebhookSettingsRequestMessage' name='setParseWebhookSettingsInput' />
      <output message='tns:setParseWebhookSettingsResponseMessage' name='setParseWebhookSettingsOutput' />
    </operation>
    <operation name='setPassword'>
      <documentation></documentation>
      <input message='tns:setPasswordRequestMessage' name='setPasswordInput' />
      <output message='tns:setPasswordResponseMessage' name='setPasswordOutput' />
    </operation>
    <operation name='setProfile'>
      <documentation></documentation>
      <input message='tns:setProfileRequestMessage' name='setProfileInput' />
      <output message='tns:setProfileResponseMessage' name='setProfileOutput' />
    </operation>
    <operation name='setUsername'>
      <documentation>please note your account username is used to login to our SMTP server and the website Changes will take effect immediately</documentation>
      <input message='tns:setUsernameRequestMessage' name='setUsernameInput' />
      <output message='tns:setUsernameResponseMessage' name='setUsernameOutput' />
    </operation>
    <operation name='setupApp'>
      <documentation>change application settings Please refer to http sendgrid com docs API Reference Web API filter settings html</documentation>
      <input message='tns:setupAppRequestMessage' name='setupAppInput' />
      <output message='tns:setupAppResponseMessage' name='setupAppOutput' />
    </operation>
    <operation name='viewProfile'>
      <documentation>view your SendGrid Profile</documentation>
      <input message='tns:viewProfileRequestMessage' name='viewProfileInput' />
      <output message='tns:viewProfileResponseMessage' name='viewProfileOutput' />
    </operation>
  </portType>
  <binding name='sendgridBinding' type='tns:sendgridPortType'>
    <operation name='activateApp'>
      <soap12:operation soapAction='http://activateApp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addMultipleCredentials'>
      <soap12:operation soapAction='http://addMultipleCredentials' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addUnsubscribes'>
      <soap12:operation soapAction='http://addUnsubscribes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='countBlocks'>
      <soap12:operation soapAction='http://countBlocks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='countBounces'>
      <soap12:operation soapAction='http://countBounces' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deactivateApp'>
      <soap12:operation soapAction='http://deactivateApp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteBlocks'>
      <soap12:operation soapAction='http://deleteBlocks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteBounces'>
      <soap12:operation soapAction='http://deleteBounces' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteEntryParseWebhookSettings'>
      <soap12:operation soapAction='http://deleteEntryParseWebhookSettings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteInvalidEmails'>
      <soap12:operation soapAction='http://deleteInvalidEmails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteMultipleCredentials'>
      <soap12:operation soapAction='http://deleteMultipleCredentials' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteSpamReports'>
      <soap12:operation soapAction='http://deleteSpamReports' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteUnsubscribes'>
      <soap12:operation soapAction='http://deleteUnsubscribes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editMultipleCredentials'>
      <soap12:operation soapAction='http://editMultipleCredentials' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAdvancedStatistics'>
      <soap12:operation soapAction='http://getAdvancedStatistics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAppSettings'>
      <soap12:operation soapAction='http://getAppSettings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAvailable'>
      <soap12:operation soapAction='http://getAvailable' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getBlocks'>
      <soap12:operation soapAction='http://getBlocks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getBounces'>
      <soap12:operation soapAction='http://getBounces' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getInvalidEmails'>
      <soap12:operation soapAction='http://getInvalidEmails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMultipleCredentials'>
      <soap12:operation soapAction='http://getMultipleCredentials' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getParseWebhookSettings'>
      <soap12:operation soapAction='http://getParseWebhookSettings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSpamReports'>
      <soap12:operation soapAction='http://getSpamReports' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUnsubscribes'>
      <soap12:operation soapAction='http://getUnsubscribes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mail'>
      <soap12:operation soapAction='http://mail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveGeneralStatistics'>
      <soap12:operation soapAction='http://retrieveGeneralStatistics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setEmail'>
      <soap12:operation soapAction='http://setEmail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setParseWebhookSettings'>
      <soap12:operation soapAction='http://setParseWebhookSettings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setPassword'>
      <soap12:operation soapAction='http://setPassword' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setProfile'>
      <soap12:operation soapAction='http://setProfile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setUsername'>
      <soap12:operation soapAction='http://setUsername' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='setupApp'>
      <soap12:operation soapAction='http://setupApp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewProfile'>
      <soap12:operation soapAction='http://viewProfile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='sendgrid'>
    <documentation>sendGrid s cloud based email infrastructure relieves businesses of the cost and complexity of maintaining custom email systems SendGrid provides reliable delivery scalability and real time analytics along with flexible API s that make custom integration a breeze</documentation>
    <port name='sendgridPort' binding='tns:sendgridBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://sendgrid' />
    </port>
  </service>
</definitions>