workspace/datasets/mashape_dataset/sendecards.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/sendEcards/' name='sendEcards' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/sendEcards/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/sendEcards/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/sendEcards/'>
      <xsd:element name='sendCardResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='sendCardRequestMessage' />
  <message name='sendCardResponseMessage'>
    <part name='response' element='tns:sendCardResponse' />
  </message>
  <portType name='sendEcardsPortType'>
    <operation name='sendCard'>
      <documentation></documentation>
      <input message='tns:sendCardRequestMessage' name='sendCardInput' />
      <output message='tns:sendCardResponseMessage' name='sendCardOutput' />
    </operation>
  </portType>
  <binding name='sendEcardsBinding' type='tns:sendEcardsPortType'>
    <operation name='sendCard'>
      <soap12:operation soapAction='http://sendCard' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='sendEcards'>
    <documentation>send timely thank you birthday happy holidays and other high quality creative e cards to your customers and business partners</documentation>
    <port name='sendEcardsPort' binding='tns:sendEcardsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://sendEcards' />
    </port>
  </service>
</definitions>