workspace/datasets/mashape_dataset/sensis.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/sensis/' name='sensis' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/sensis/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/sensis/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/sensis/'>
      <xsd:element name='getByListingIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='includepois' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='includereviews' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getByListingIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='metadataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datatype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='metadataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oneSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='boundingbox' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mappable' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortby' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='oneSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reportParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='content' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='eventname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='useragent' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='usersessionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reviewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='aboutid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='namespace' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sortorder' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sorttype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reviewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='boundingbox' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='content' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='includepois' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='locationtiers' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='postcode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='productkeyword' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='radius' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='rows' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sensitivecategories' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sortby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='suburb' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getByListingIdRequestMessage'>
    <part name='parameters' element='tns:getByListingIdParameters' />
  </message>
  <message name='getByListingIdResponseMessage'>
    <part name='response' element='tns:getByListingIdResponse' />
  </message>
  <message name='metadataRequestMessage'>
    <part name='parameters' element='tns:metadataParameters' />
  </message>
  <message name='metadataResponseMessage'>
    <part name='response' element='tns:metadataResponse' />
  </message>
  <message name='oneSearchRequestMessage'>
    <part name='parameters' element='tns:oneSearchParameters' />
  </message>
  <message name='oneSearchResponseMessage'>
    <part name='response' element='tns:oneSearchResponse' />
  </message>
  <message name='reportRequestMessage'>
    <part name='parameters' element='tns:reportParameters' />
  </message>
  <message name='reportResponseMessage'>
    <part name='response' element='tns:reportResponse' />
  </message>
  <message name='reviewsRequestMessage'>
    <part name='parameters' element='tns:reviewsParameters' />
  </message>
  <message name='reviewsResponseMessage'>
    <part name='response' element='tns:reviewsResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <portType name='sensisPortType'>
    <operation name='getByListingId'>
      <documentation></documentation>
      <input message='tns:getByListingIdRequestMessage' name='getByListingIdInput' />
      <output message='tns:getByListingIdResponseMessage' name='getByListingIdOutput' />
    </operation>
    <operation name='metadata'>
      <documentation></documentation>
      <input message='tns:metadataRequestMessage' name='metadataInput' />
      <output message='tns:metadataResponseMessage' name='metadataOutput' />
    </operation>
    <operation name='oneSearch'>
      <documentation></documentation>
      <input message='tns:oneSearchRequestMessage' name='oneSearchInput' />
      <output message='tns:oneSearchResponseMessage' name='oneSearchOutput' />
    </operation>
    <operation name='report'>
      <documentation></documentation>
      <input message='tns:reportRequestMessage' name='reportInput' />
      <output message='tns:reportResponseMessage' name='reportOutput' />
    </operation>
    <operation name='reviews'>
      <documentation></documentation>
      <input message='tns:reviewsRequestMessage' name='reviewsInput' />
      <output message='tns:reviewsResponseMessage' name='reviewsOutput' />
    </operation>
    <operation name='search'>
      <documentation></documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
  </portType>
  <binding name='sensisBinding' type='tns:sensisPortType'>
    <operation name='getByListingId'>
      <soap12:operation soapAction='http://getByListingId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='metadata'>
      <soap12:operation soapAction='http://metadata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='oneSearch'>
      <soap12:operation soapAction='http://oneSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='report'>
      <soap12:operation soapAction='http://report' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reviews'>
      <soap12:operation soapAction='http://reviews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='sensis'>
    <documentation>sAPI provides a valuable service for developers seeking a business search API solution for Yellow Pages and White Pages business listings and advertising content</documentation>
    <port name='sensisPort' binding='tns:sensisBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://sensis' />
    </port>
  </service>
</definitions>