workspace/datasets/mashape_dataset/sensrnet.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/sensrNet/' name='sensrNet' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/sensrNet/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/sensrNet/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/sensrNet/'>
      <xsd:element name='cancelTheAccountOfTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='convertAUtcTimeToTheCameraSTimeZoneParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='epochtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='convertAUtcTimeToTheCameraSTimeZoneResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewCameraThatBelongsToTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createANewClipThatBelongsToTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createOrUpdateANewClipThatBelongsToTheCurrentUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createOrUpdateANewClipThatBelongsToTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='currentUserDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAnExistingCameraThatBelongsToTheCurrentUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAnExistingCameraThatBelongsToTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAnExistingClipThatBelongsToTheCurrentUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAnExistingClipThatBelongsToTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getADailyViewOfACameraParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='epochtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getADailyViewOfACameraResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAHourlyViewOfACameraParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='epochtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAHourlyViewOfACameraResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAMonthlyViewOfACameraParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='epochtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAMonthlyViewOfACameraResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAWeeklyViewOfACameraParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='epochtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAWeeklyViewOfACameraResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTheLatestImageOrSegmentForACameraParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTheLatestImageOrSegmentForACameraResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registersANewUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='returnsAClipResourceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='returnsAClipResourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='returnsADeviceResourceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='returnsADeviceResourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='returnsAListOfCamerasThatAreAccessibleToTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='returnsAListOfCamerasThatAreSharedWithTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='returnsAListOfCamerasThatBelongToTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='returnsAListOfClipsThatAreAccessibleToTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='returnsAListOfClipsThatBelongToTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTheCameraARequestToTurnOffItsLedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTheCameraARequestToTurnOffItsLedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTheCameraARequestToTurnOnItsLedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTheCameraARequestToTurnOnItsLedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTheCameraAZoomInRequestParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTheCameraAZoomInRequestResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTheCameraAZoomOutRequestParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendTheCameraAZoomOutRequestResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateACameraThatBelongsToTheCurrentUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatesADeviceResourceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatesADeviceResourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='cancelTheAccountOfTheCurrentUserRequestMessage' />
  <message name='cancelTheAccountOfTheCurrentUserResponseMessage'>
    <part name='response' element='tns:cancelTheAccountOfTheCurrentUserResponse' />
  </message>
  <message name='convertAUtcTimeToTheCameraSTimeZoneRequestMessage'>
    <part name='parameters' element='tns:convertAUtcTimeToTheCameraSTimeZoneParameters' />
  </message>
  <message name='convertAUtcTimeToTheCameraSTimeZoneResponseMessage'>
    <part name='response' element='tns:convertAUtcTimeToTheCameraSTimeZoneResponse' />
  </message>
  <message name='createANewCameraThatBelongsToTheCurrentUserRequestMessage' />
  <message name='createANewCameraThatBelongsToTheCurrentUserResponseMessage'>
    <part name='response' element='tns:createANewCameraThatBelongsToTheCurrentUserResponse' />
  </message>
  <message name='createANewClipThatBelongsToTheCurrentUserRequestMessage' />
  <message name='createANewClipThatBelongsToTheCurrentUserResponseMessage'>
    <part name='response' element='tns:createANewClipThatBelongsToTheCurrentUserResponse' />
  </message>
  <message name='createOrUpdateANewClipThatBelongsToTheCurrentUserRequestMessage'>
    <part name='parameters' element='tns:createOrUpdateANewClipThatBelongsToTheCurrentUserParameters' />
  </message>
  <message name='createOrUpdateANewClipThatBelongsToTheCurrentUserResponseMessage'>
    <part name='response' element='tns:createOrUpdateANewClipThatBelongsToTheCurrentUserResponse' />
  </message>
  <message name='currentUserDataRequestMessage' />
  <message name='currentUserDataResponseMessage'>
    <part name='response' element='tns:currentUserDataResponse' />
  </message>
  <message name='deleteAnExistingCameraThatBelongsToTheCurrentUserRequestMessage'>
    <part name='parameters' element='tns:deleteAnExistingCameraThatBelongsToTheCurrentUserParameters' />
  </message>
  <message name='deleteAnExistingCameraThatBelongsToTheCurrentUserResponseMessage'>
    <part name='response' element='tns:deleteAnExistingCameraThatBelongsToTheCurrentUserResponse' />
  </message>
  <message name='deleteAnExistingClipThatBelongsToTheCurrentUserRequestMessage'>
    <part name='parameters' element='tns:deleteAnExistingClipThatBelongsToTheCurrentUserParameters' />
  </message>
  <message name='deleteAnExistingClipThatBelongsToTheCurrentUserResponseMessage'>
    <part name='response' element='tns:deleteAnExistingClipThatBelongsToTheCurrentUserResponse' />
  </message>
  <message name='getADailyViewOfACameraRequestMessage'>
    <part name='parameters' element='tns:getADailyViewOfACameraParameters' />
  </message>
  <message name='getADailyViewOfACameraResponseMessage'>
    <part name='response' element='tns:getADailyViewOfACameraResponse' />
  </message>
  <message name='getAHourlyViewOfACameraRequestMessage'>
    <part name='parameters' element='tns:getAHourlyViewOfACameraParameters' />
  </message>
  <message name='getAHourlyViewOfACameraResponseMessage'>
    <part name='response' element='tns:getAHourlyViewOfACameraResponse' />
  </message>
  <message name='getAMonthlyViewOfACameraRequestMessage'>
    <part name='parameters' element='tns:getAMonthlyViewOfACameraParameters' />
  </message>
  <message name='getAMonthlyViewOfACameraResponseMessage'>
    <part name='response' element='tns:getAMonthlyViewOfACameraResponse' />
  </message>
  <message name='getAWeeklyViewOfACameraRequestMessage'>
    <part name='parameters' element='tns:getAWeeklyViewOfACameraParameters' />
  </message>
  <message name='getAWeeklyViewOfACameraResponseMessage'>
    <part name='response' element='tns:getAWeeklyViewOfACameraResponse' />
  </message>
  <message name='getTheLatestImageOrSegmentForACameraRequestMessage'>
    <part name='parameters' element='tns:getTheLatestImageOrSegmentForACameraParameters' />
  </message>
  <message name='getTheLatestImageOrSegmentForACameraResponseMessage'>
    <part name='response' element='tns:getTheLatestImageOrSegmentForACameraResponse' />
  </message>
  <message name='getUserDataRequestMessage' />
  <message name='getUserDataResponseMessage'>
    <part name='response' element='tns:getUserDataResponse' />
  </message>
  <message name='registersANewUserRequestMessage' />
  <message name='registersANewUserResponseMessage'>
    <part name='response' element='tns:registersANewUserResponse' />
  </message>
  <message name='returnsAClipResourceRequestMessage'>
    <part name='parameters' element='tns:returnsAClipResourceParameters' />
  </message>
  <message name='returnsAClipResourceResponseMessage'>
    <part name='response' element='tns:returnsAClipResourceResponse' />
  </message>
  <message name='returnsADeviceResourceRequestMessage'>
    <part name='parameters' element='tns:returnsADeviceResourceParameters' />
  </message>
  <message name='returnsADeviceResourceResponseMessage'>
    <part name='response' element='tns:returnsADeviceResourceResponse' />
  </message>
  <message name='returnsAListOfCamerasThatAreAccessibleToTheCurrentUserRequestMessage' />
  <message name='returnsAListOfCamerasThatAreAccessibleToTheCurrentUserResponseMessage'>
    <part name='response' element='tns:returnsAListOfCamerasThatAreAccessibleToTheCurrentUserResponse' />
  </message>
  <message name='returnsAListOfCamerasThatAreSharedWithTheCurrentUserRequestMessage' />
  <message name='returnsAListOfCamerasThatAreSharedWithTheCurrentUserResponseMessage'>
    <part name='response' element='tns:returnsAListOfCamerasThatAreSharedWithTheCurrentUserResponse' />
  </message>
  <message name='returnsAListOfCamerasThatBelongToTheCurrentUserRequestMessage' />
  <message name='returnsAListOfCamerasThatBelongToTheCurrentUserResponseMessage'>
    <part name='response' element='tns:returnsAListOfCamerasThatBelongToTheCurrentUserResponse' />
  </message>
  <message name='returnsAListOfClipsThatAreAccessibleToTheCurrentUserRequestMessage' />
  <message name='returnsAListOfClipsThatAreAccessibleToTheCurrentUserResponseMessage'>
    <part name='response' element='tns:returnsAListOfClipsThatAreAccessibleToTheCurrentUserResponse' />
  </message>
  <message name='returnsAListOfClipsThatBelongToTheCurrentUserRequestMessage' />
  <message name='returnsAListOfClipsThatBelongToTheCurrentUserResponseMessage'>
    <part name='response' element='tns:returnsAListOfClipsThatBelongToTheCurrentUserResponse' />
  </message>
  <message name='sendTheCameraARequestToTurnOffItsLedRequestMessage'>
    <part name='parameters' element='tns:sendTheCameraARequestToTurnOffItsLedParameters' />
  </message>
  <message name='sendTheCameraARequestToTurnOffItsLedResponseMessage'>
    <part name='response' element='tns:sendTheCameraARequestToTurnOffItsLedResponse' />
  </message>
  <message name='sendTheCameraARequestToTurnOnItsLedRequestMessage'>
    <part name='parameters' element='tns:sendTheCameraARequestToTurnOnItsLedParameters' />
  </message>
  <message name='sendTheCameraARequestToTurnOnItsLedResponseMessage'>
    <part name='response' element='tns:sendTheCameraARequestToTurnOnItsLedResponse' />
  </message>
  <message name='sendTheCameraAZoomInRequestRequestMessage'>
    <part name='parameters' element='tns:sendTheCameraAZoomInRequestParameters' />
  </message>
  <message name='sendTheCameraAZoomInRequestResponseMessage'>
    <part name='response' element='tns:sendTheCameraAZoomInRequestResponse' />
  </message>
  <message name='sendTheCameraAZoomOutRequestRequestMessage'>
    <part name='parameters' element='tns:sendTheCameraAZoomOutRequestParameters' />
  </message>
  <message name='sendTheCameraAZoomOutRequestResponseMessage'>
    <part name='response' element='tns:sendTheCameraAZoomOutRequestResponse' />
  </message>
  <message name='updateACameraThatBelongsToTheCurrentUserRequestMessage' />
  <message name='updateACameraThatBelongsToTheCurrentUserResponseMessage'>
    <part name='response' element='tns:updateACameraThatBelongsToTheCurrentUserResponse' />
  </message>
  <message name='updatesADeviceResourceRequestMessage'>
    <part name='parameters' element='tns:updatesADeviceResourceParameters' />
  </message>
  <message name='updatesADeviceResourceResponseMessage'>
    <part name='response' element='tns:updatesADeviceResourceResponse' />
  </message>
  <portType name='sensrNetPortType'>
    <operation name='cancelTheAccountOfTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:cancelTheAccountOfTheCurrentUserRequestMessage' name='cancelTheAccountOfTheCurrentUserInput' />
      <output message='tns:cancelTheAccountOfTheCurrentUserResponseMessage' name='cancelTheAccountOfTheCurrentUserOutput' />
    </operation>
    <operation name='convertAUtcTimeToTheCameraSTimeZone'>
      <documentation></documentation>
      <input message='tns:convertAUtcTimeToTheCameraSTimeZoneRequestMessage' name='convertAUtcTimeToTheCameraSTimeZoneInput' />
      <output message='tns:convertAUtcTimeToTheCameraSTimeZoneResponseMessage' name='convertAUtcTimeToTheCameraSTimeZoneOutput' />
    </operation>
    <operation name='createANewCameraThatBelongsToTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:createANewCameraThatBelongsToTheCurrentUserRequestMessage' name='createANewCameraThatBelongsToTheCurrentUserInput' />
      <output message='tns:createANewCameraThatBelongsToTheCurrentUserResponseMessage' name='createANewCameraThatBelongsToTheCurrentUserOutput' />
    </operation>
    <operation name='createANewClipThatBelongsToTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:createANewClipThatBelongsToTheCurrentUserRequestMessage' name='createANewClipThatBelongsToTheCurrentUserInput' />
      <output message='tns:createANewClipThatBelongsToTheCurrentUserResponseMessage' name='createANewClipThatBelongsToTheCurrentUserOutput' />
    </operation>
    <operation name='createOrUpdateANewClipThatBelongsToTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:createOrUpdateANewClipThatBelongsToTheCurrentUserRequestMessage' name='createOrUpdateANewClipThatBelongsToTheCurrentUserInput' />
      <output message='tns:createOrUpdateANewClipThatBelongsToTheCurrentUserResponseMessage' name='createOrUpdateANewClipThatBelongsToTheCurrentUserOutput' />
    </operation>
    <operation name='currentUserData'>
      <documentation></documentation>
      <input message='tns:currentUserDataRequestMessage' name='currentUserDataInput' />
      <output message='tns:currentUserDataResponseMessage' name='currentUserDataOutput' />
    </operation>
    <operation name='deleteAnExistingCameraThatBelongsToTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:deleteAnExistingCameraThatBelongsToTheCurrentUserRequestMessage' name='deleteAnExistingCameraThatBelongsToTheCurrentUserInput' />
      <output message='tns:deleteAnExistingCameraThatBelongsToTheCurrentUserResponseMessage' name='deleteAnExistingCameraThatBelongsToTheCurrentUserOutput' />
    </operation>
    <operation name='deleteAnExistingClipThatBelongsToTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:deleteAnExistingClipThatBelongsToTheCurrentUserRequestMessage' name='deleteAnExistingClipThatBelongsToTheCurrentUserInput' />
      <output message='tns:deleteAnExistingClipThatBelongsToTheCurrentUserResponseMessage' name='deleteAnExistingClipThatBelongsToTheCurrentUserOutput' />
    </operation>
    <operation name='getADailyViewOfACamera'>
      <documentation></documentation>
      <input message='tns:getADailyViewOfACameraRequestMessage' name='getADailyViewOfACameraInput' />
      <output message='tns:getADailyViewOfACameraResponseMessage' name='getADailyViewOfACameraOutput' />
    </operation>
    <operation name='getAHourlyViewOfACamera'>
      <documentation></documentation>
      <input message='tns:getAHourlyViewOfACameraRequestMessage' name='getAHourlyViewOfACameraInput' />
      <output message='tns:getAHourlyViewOfACameraResponseMessage' name='getAHourlyViewOfACameraOutput' />
    </operation>
    <operation name='getAMonthlyViewOfACamera'>
      <documentation></documentation>
      <input message='tns:getAMonthlyViewOfACameraRequestMessage' name='getAMonthlyViewOfACameraInput' />
      <output message='tns:getAMonthlyViewOfACameraResponseMessage' name='getAMonthlyViewOfACameraOutput' />
    </operation>
    <operation name='getAWeeklyViewOfACamera'>
      <documentation></documentation>
      <input message='tns:getAWeeklyViewOfACameraRequestMessage' name='getAWeeklyViewOfACameraInput' />
      <output message='tns:getAWeeklyViewOfACameraResponseMessage' name='getAWeeklyViewOfACameraOutput' />
    </operation>
    <operation name='getTheLatestImageOrSegmentForACamera'>
      <documentation></documentation>
      <input message='tns:getTheLatestImageOrSegmentForACameraRequestMessage' name='getTheLatestImageOrSegmentForACameraInput' />
      <output message='tns:getTheLatestImageOrSegmentForACameraResponseMessage' name='getTheLatestImageOrSegmentForACameraOutput' />
    </operation>
    <operation name='getUserData'>
      <documentation>get current user data</documentation>
      <input message='tns:getUserDataRequestMessage' name='getUserDataInput' />
      <output message='tns:getUserDataResponseMessage' name='getUserDataOutput' />
    </operation>
    <operation name='registersANewUser'>
      <documentation></documentation>
      <input message='tns:registersANewUserRequestMessage' name='registersANewUserInput' />
      <output message='tns:registersANewUserResponseMessage' name='registersANewUserOutput' />
    </operation>
    <operation name='returnsAClipResource'>
      <documentation></documentation>
      <input message='tns:returnsAClipResourceRequestMessage' name='returnsAClipResourceInput' />
      <output message='tns:returnsAClipResourceResponseMessage' name='returnsAClipResourceOutput' />
    </operation>
    <operation name='returnsADeviceResource'>
      <documentation></documentation>
      <input message='tns:returnsADeviceResourceRequestMessage' name='returnsADeviceResourceInput' />
      <output message='tns:returnsADeviceResourceResponseMessage' name='returnsADeviceResourceOutput' />
    </operation>
    <operation name='returnsAListOfCamerasThatAreAccessibleToTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:returnsAListOfCamerasThatAreAccessibleToTheCurrentUserRequestMessage' name='returnsAListOfCamerasThatAreAccessibleToTheCurrentUserInput' />
      <output message='tns:returnsAListOfCamerasThatAreAccessibleToTheCurrentUserResponseMessage' name='returnsAListOfCamerasThatAreAccessibleToTheCurrentUserOutput' />
    </operation>
    <operation name='returnsAListOfCamerasThatAreSharedWithTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:returnsAListOfCamerasThatAreSharedWithTheCurrentUserRequestMessage' name='returnsAListOfCamerasThatAreSharedWithTheCurrentUserInput' />
      <output message='tns:returnsAListOfCamerasThatAreSharedWithTheCurrentUserResponseMessage' name='returnsAListOfCamerasThatAreSharedWithTheCurrentUserOutput' />
    </operation>
    <operation name='returnsAListOfCamerasThatBelongToTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:returnsAListOfCamerasThatBelongToTheCurrentUserRequestMessage' name='returnsAListOfCamerasThatBelongToTheCurrentUserInput' />
      <output message='tns:returnsAListOfCamerasThatBelongToTheCurrentUserResponseMessage' name='returnsAListOfCamerasThatBelongToTheCurrentUserOutput' />
    </operation>
    <operation name='returnsAListOfClipsThatAreAccessibleToTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:returnsAListOfClipsThatAreAccessibleToTheCurrentUserRequestMessage' name='returnsAListOfClipsThatAreAccessibleToTheCurrentUserInput' />
      <output message='tns:returnsAListOfClipsThatAreAccessibleToTheCurrentUserResponseMessage' name='returnsAListOfClipsThatAreAccessibleToTheCurrentUserOutput' />
    </operation>
    <operation name='returnsAListOfClipsThatBelongToTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:returnsAListOfClipsThatBelongToTheCurrentUserRequestMessage' name='returnsAListOfClipsThatBelongToTheCurrentUserInput' />
      <output message='tns:returnsAListOfClipsThatBelongToTheCurrentUserResponseMessage' name='returnsAListOfClipsThatBelongToTheCurrentUserOutput' />
    </operation>
    <operation name='sendTheCameraARequestToTurnOffItsLed'>
      <documentation></documentation>
      <input message='tns:sendTheCameraARequestToTurnOffItsLedRequestMessage' name='sendTheCameraARequestToTurnOffItsLedInput' />
      <output message='tns:sendTheCameraARequestToTurnOffItsLedResponseMessage' name='sendTheCameraARequestToTurnOffItsLedOutput' />
    </operation>
    <operation name='sendTheCameraARequestToTurnOnItsLed'>
      <documentation></documentation>
      <input message='tns:sendTheCameraARequestToTurnOnItsLedRequestMessage' name='sendTheCameraARequestToTurnOnItsLedInput' />
      <output message='tns:sendTheCameraARequestToTurnOnItsLedResponseMessage' name='sendTheCameraARequestToTurnOnItsLedOutput' />
    </operation>
    <operation name='sendTheCameraAZoomInRequest'>
      <documentation></documentation>
      <input message='tns:sendTheCameraAZoomInRequestRequestMessage' name='sendTheCameraAZoomInRequestInput' />
      <output message='tns:sendTheCameraAZoomInRequestResponseMessage' name='sendTheCameraAZoomInRequestOutput' />
    </operation>
    <operation name='sendTheCameraAZoomOutRequest'>
      <documentation></documentation>
      <input message='tns:sendTheCameraAZoomOutRequestRequestMessage' name='sendTheCameraAZoomOutRequestInput' />
      <output message='tns:sendTheCameraAZoomOutRequestResponseMessage' name='sendTheCameraAZoomOutRequestOutput' />
    </operation>
    <operation name='updateACameraThatBelongsToTheCurrentUser'>
      <documentation></documentation>
      <input message='tns:updateACameraThatBelongsToTheCurrentUserRequestMessage' name='updateACameraThatBelongsToTheCurrentUserInput' />
      <output message='tns:updateACameraThatBelongsToTheCurrentUserResponseMessage' name='updateACameraThatBelongsToTheCurrentUserOutput' />
    </operation>
    <operation name='updatesADeviceResource'>
      <documentation></documentation>
      <input message='tns:updatesADeviceResourceRequestMessage' name='updatesADeviceResourceInput' />
      <output message='tns:updatesADeviceResourceResponseMessage' name='updatesADeviceResourceOutput' />
    </operation>
  </portType>
  <binding name='sensrNetBinding' type='tns:sensrNetPortType'>
    <operation name='cancelTheAccountOfTheCurrentUser'>
      <soap12:operation soapAction='http://cancelTheAccountOfTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='convertAUtcTimeToTheCameraSTimeZone'>
      <soap12:operation soapAction='http://convertAUtcTimeToTheCameraSTimeZone' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createANewCameraThatBelongsToTheCurrentUser'>
      <soap12:operation soapAction='http://createANewCameraThatBelongsToTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createANewClipThatBelongsToTheCurrentUser'>
      <soap12:operation soapAction='http://createANewClipThatBelongsToTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createOrUpdateANewClipThatBelongsToTheCurrentUser'>
      <soap12:operation soapAction='http://createOrUpdateANewClipThatBelongsToTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='currentUserData'>
      <soap12:operation soapAction='http://currentUserData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAnExistingCameraThatBelongsToTheCurrentUser'>
      <soap12:operation soapAction='http://deleteAnExistingCameraThatBelongsToTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAnExistingClipThatBelongsToTheCurrentUser'>
      <soap12:operation soapAction='http://deleteAnExistingClipThatBelongsToTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getADailyViewOfACamera'>
      <soap12:operation soapAction='http://getADailyViewOfACamera' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAHourlyViewOfACamera'>
      <soap12:operation soapAction='http://getAHourlyViewOfACamera' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAMonthlyViewOfACamera'>
      <soap12:operation soapAction='http://getAMonthlyViewOfACamera' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAWeeklyViewOfACamera'>
      <soap12:operation soapAction='http://getAWeeklyViewOfACamera' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTheLatestImageOrSegmentForACamera'>
      <soap12:operation soapAction='http://getTheLatestImageOrSegmentForACamera' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserData'>
      <soap12:operation soapAction='http://getUserData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='registersANewUser'>
      <soap12:operation soapAction='http://registersANewUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='returnsAClipResource'>
      <soap12:operation soapAction='http://returnsAClipResource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='returnsADeviceResource'>
      <soap12:operation soapAction='http://returnsADeviceResource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='returnsAListOfCamerasThatAreAccessibleToTheCurrentUser'>
      <soap12:operation soapAction='http://returnsAListOfCamerasThatAreAccessibleToTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='returnsAListOfCamerasThatAreSharedWithTheCurrentUser'>
      <soap12:operation soapAction='http://returnsAListOfCamerasThatAreSharedWithTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='returnsAListOfCamerasThatBelongToTheCurrentUser'>
      <soap12:operation soapAction='http://returnsAListOfCamerasThatBelongToTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='returnsAListOfClipsThatAreAccessibleToTheCurrentUser'>
      <soap12:operation soapAction='http://returnsAListOfClipsThatAreAccessibleToTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='returnsAListOfClipsThatBelongToTheCurrentUser'>
      <soap12:operation soapAction='http://returnsAListOfClipsThatBelongToTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendTheCameraARequestToTurnOffItsLed'>
      <soap12:operation soapAction='http://sendTheCameraARequestToTurnOffItsLed' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendTheCameraARequestToTurnOnItsLed'>
      <soap12:operation soapAction='http://sendTheCameraARequestToTurnOnItsLed' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendTheCameraAZoomInRequest'>
      <soap12:operation soapAction='http://sendTheCameraAZoomInRequest' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendTheCameraAZoomOutRequest'>
      <soap12:operation soapAction='http://sendTheCameraAZoomOutRequest' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateACameraThatBelongsToTheCurrentUser'>
      <soap12:operation soapAction='http://updateACameraThatBelongsToTheCurrentUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatesADeviceResource'>
      <soap12:operation soapAction='http://updatesADeviceResource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='sensrNet'>
    <documentation>access your account and surveillance cameras on Sensr net</documentation>
    <port name='sensrNetPort' binding='tns:sensrNetBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://sensrNet' />
    </port>
  </service>
</definitions>