workspace/datasets/mashape_dataset/seochecker.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/seoChecker/' name='seoChecker' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/seoChecker/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/seoChecker/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/seoChecker/'>
      <xsd:element name='seoArticleCheckParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='html' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='keyword' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='metadesciption' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='seoArticleCheckResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='validation' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:string' minOccurs='0' />
                  <xsd:element name='field' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='validatorName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='msgId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='seoArticleCheckRequestMessage'>
    <part name='parameters' element='tns:seoArticleCheckParameters' />
  </message>
  <message name='seoArticleCheckResponseMessage'>
    <part name='response' element='tns:seoArticleCheckResponse' />
  </message>
  <portType name='seoCheckerPortType'>
    <operation name='seoArticleCheck'>
      <documentation></documentation>
      <input message='tns:seoArticleCheckRequestMessage' name='seoArticleCheckInput' />
      <output message='tns:seoArticleCheckResponseMessage' name='seoArticleCheckOutput' />
    </operation>
  </portType>
  <binding name='seoCheckerBinding' type='tns:seoCheckerPortType'>
    <operation name='seoArticleCheck'>
      <soap12:operation soapAction='http://seoArticleCheck' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='seoChecker'>
    <documentation>the API can analyze a given text for it s seo validity and can give you tips how to optimize the article to get a better search engine ranking The API is still beta Please report any bugs to markus www factory de</documentation>
    <port name='seoCheckerPort' binding='tns:seoCheckerBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://seoChecker' />
    </port>
  </service>
</definitions>