workspace/datasets/mashape_dataset/shapeways.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/shapeways/' name='shapeways' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/shapeways/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/shapeways/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/shapeways/'>
      <xsd:element name='deleteModelsModelidVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='modelid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteModelsModelidVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uploadScale' type='xsd:string' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:string' minOccurs='0' />
            <xsd:element name='acceptTermsAndConditions' type='xsd:string' minOccurs='0' />
            <xsd:element name='file' type='xsd:string' minOccurs='0' />
            <xsd:element name='hasRightsToModel' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getApiVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='List' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='documentationLink' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='httpMethod' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='error' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='result' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='reason' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='oauthErrorMessage' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='dependencies' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='discoveryRootUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='revision' type='xsd:int' minOccurs='0' />
                  <xsd:element name='discoveryRestUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='discoveryLink' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='returns' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='result' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='rateLimit' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='retryTimestamp' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='windowInSeconds' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='limit' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='history' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='remaining' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='retryInSeconds' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                          <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='nextActionSuggestions' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='preferred' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCategoriesVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCategoriesCategoryidVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getCategoriesCategoryidVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMaterialsVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uploadScale' type='xsd:string' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:string' minOccurs='0' />
            <xsd:element name='isForSale' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='tags' type='xsd:string' minOccurs='0' />
            <xsd:element name='defaultMaterialId' type='xsd:string' minOccurs='0' />
            <xsd:element name='acceptTermsAndConditions' type='xsd:string' minOccurs='0' />
            <xsd:element name='file' type='xsd:string' minOccurs='0' />
            <xsd:element name='isDownloadable' type='xsd:string' minOccurs='0' />
            <xsd:element name='materials' type='xsd:string' minOccurs='0' />
            <xsd:element name='hasRightsToModel' type='xsd:string' minOccurs='0' />
            <xsd:element name='isPublic' type='xsd:string' minOccurs='0' />
            <xsd:element name='categories' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMaterialsMaterialidVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='materialid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getMaterialsMaterialidVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uploadScale' type='xsd:string' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:string' minOccurs='0' />
            <xsd:element name='isForSale' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='tags' type='xsd:string' minOccurs='0' />
            <xsd:element name='defaultMaterialId' type='xsd:string' minOccurs='0' />
            <xsd:element name='acceptTermsAndConditions' type='xsd:string' minOccurs='0' />
            <xsd:element name='file' type='xsd:string' minOccurs='0' />
            <xsd:element name='isDownloadable' type='xsd:string' minOccurs='0' />
            <xsd:element name='materials' type='xsd:string' minOccurs='0' />
            <xsd:element name='hasRightsToModel' type='xsd:string' minOccurs='0' />
            <xsd:element name='isPublic' type='xsd:string' minOccurs='0' />
            <xsd:element name='categories' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uploadScale' type='xsd:string' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:string' minOccurs='0' />
            <xsd:element name='isForSale' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='tags' type='xsd:string' minOccurs='0' />
            <xsd:element name='defaultMaterialId' type='xsd:string' minOccurs='0' />
            <xsd:element name='acceptTermsAndConditions' type='xsd:string' minOccurs='0' />
            <xsd:element name='file' type='xsd:string' minOccurs='0' />
            <xsd:element name='isDownloadable' type='xsd:string' minOccurs='0' />
            <xsd:element name='materials' type='xsd:string' minOccurs='0' />
            <xsd:element name='hasRightsToModel' type='xsd:string' minOccurs='0' />
            <xsd:element name='isPublic' type='xsd:string' minOccurs='0' />
            <xsd:element name='categories' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsModelidFilesFileversionVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='file' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fileversion' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='modelid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsModelidFilesFileversionVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='isDefault' type='xsd:string' minOccurs='0' />
            <xsd:element name='file' type='xsd:string' minOccurs='0' />
            <xsd:element name='modelId' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='materialId' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsModelidInfoVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='modelid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsModelidInfoVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uploadScale' type='xsd:string' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:string' minOccurs='0' />
            <xsd:element name='acceptTermsAndConditions' type='xsd:string' minOccurs='0' />
            <xsd:element name='file' type='xsd:string' minOccurs='0' />
            <xsd:element name='hasRightsToModel' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsModelidVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='modelid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getModelsModelidVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uploadScale' type='xsd:string' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:string' minOccurs='0' />
            <xsd:element name='acceptTermsAndConditions' type='xsd:string' minOccurs='0' />
            <xsd:element name='file' type='xsd:string' minOccurs='0' />
            <xsd:element name='hasRightsToModel' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOrdersCartVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='List' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='documentationLink' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='httpMethod' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='error' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='result' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='reason' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='oauthErrorMessage' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='dependencies' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='discoveryRootUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='revision' type='xsd:int' minOccurs='0' />
                  <xsd:element name='discoveryRestUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='discoveryLink' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='returns' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='result' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='nextActionSuggestions' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='items' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='items' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                    <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='properties' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='quantity' minOccurs='0'>
                                            <xsd:complexType>
                                              <xsd:sequence minOccurs='1' maxOccurs='1'>
                                                <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                                <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                              </xsd:sequence>
                                            </xsd:complexType>
                                          </xsd:element>
                                          <xsd:element name='modelId' minOccurs='0'>
                                            <xsd:complexType>
                                              <xsd:sequence minOccurs='1' maxOccurs='1'>
                                                <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                                <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                              </xsd:sequence>
                                            </xsd:complexType>
                                          </xsd:element>
                                          <xsd:element name='materialId' minOccurs='0'>
                                            <xsd:complexType>
                                              <xsd:sequence minOccurs='1' maxOccurs='1'>
                                                <xsd:element name='description' type='xsd:string' minOccurs='0' />
                                                <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                                              </xsd:sequence>
                                            </xsd:complexType>
                                          </xsd:element>
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='itemCount' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='preferred' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Insert' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='documentationLink' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='httpMethod' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='error' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='result' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='reason' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='oauthErrorMessage' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='dependencies' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='discoveryRootUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='revision' type='xsd:int' minOccurs='0' />
                  <xsd:element name='discoveryRestUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='discoveryLink' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='returns' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='result' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='nextActionSuggestions' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='parameters' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='quantity' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='default' type='xsd:int' minOccurs='0' />
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='dependencies' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='modelId' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='dependencies' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='materialId' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='dependencies' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='preferred' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPrintersVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='volume' type='xsd:string' minOccurs='0' />
            <xsd:element name='area' type='xsd:string' minOccurs='0' />
            <xsd:element name='yBoundMin' type='xsd:string' minOccurs='0' />
            <xsd:element name='zBoundMax' type='xsd:string' minOccurs='0' />
            <xsd:element name='yBoundMax' type='xsd:string' minOccurs='0' />
            <xsd:element name='xBoundMin' type='xsd:string' minOccurs='0' />
            <xsd:element name='materials' type='xsd:string' minOccurs='0' />
            <xsd:element name='xBoundMax' type='xsd:string' minOccurs='0' />
            <xsd:element name='zBoundMin' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPrintersPrinteridVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='printerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPrintersPrinteridVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='volume' type='xsd:string' minOccurs='0' />
            <xsd:element name='area' type='xsd:string' minOccurs='0' />
            <xsd:element name='yBoundMin' type='xsd:string' minOccurs='0' />
            <xsd:element name='zBoundMax' type='xsd:string' minOccurs='0' />
            <xsd:element name='yBoundMax' type='xsd:string' minOccurs='0' />
            <xsd:element name='xBoundMin' type='xsd:string' minOccurs='0' />
            <xsd:element name='materials' type='xsd:string' minOccurs='0' />
            <xsd:element name='xBoundMax' type='xsd:string' minOccurs='0' />
            <xsd:element name='zBoundMin' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postModelsVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uploadScale' type='xsd:string' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:string' minOccurs='0' />
            <xsd:element name='acceptTermsAndConditions' type='xsd:string' minOccurs='0' />
            <xsd:element name='file' type='xsd:string' minOccurs='0' />
            <xsd:element name='hasRightsToModel' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postModelsModelidFilesVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='modelid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postModelsModelidFilesVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='isDefault' type='xsd:string' minOccurs='0' />
            <xsd:element name='file' type='xsd:string' minOccurs='0' />
            <xsd:element name='modelId' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='materialId' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postModelsModelidPhotosVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='modelid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postModelsModelidPhotosVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='volume' type='xsd:string' minOccurs='0' />
            <xsd:element name='area' type='xsd:string' minOccurs='0' />
            <xsd:element name='yBoundMin' type='xsd:string' minOccurs='0' />
            <xsd:element name='zBoundMax' type='xsd:string' minOccurs='0' />
            <xsd:element name='yBoundMax' type='xsd:string' minOccurs='0' />
            <xsd:element name='xBoundMin' type='xsd:string' minOccurs='0' />
            <xsd:element name='materials' type='xsd:string' minOccurs='0' />
            <xsd:element name='xBoundMax' type='xsd:string' minOccurs='0' />
            <xsd:element name='zBoundMin' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postOrdersCartVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uploadScale' type='xsd:string' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:string' minOccurs='0' />
            <xsd:element name='acceptTermsAndConditions' type='xsd:string' minOccurs='0' />
            <xsd:element name='file' type='xsd:string' minOccurs='0' />
            <xsd:element name='hasRightsToModel' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postPriceVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='putModelsModelidInfoVParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='modelid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='putModelsModelidInfoVResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='uploadScale' type='xsd:string' minOccurs='0' />
            <xsd:element name='fileName' type='xsd:string' minOccurs='0' />
            <xsd:element name='acceptTermsAndConditions' type='xsd:string' minOccurs='0' />
            <xsd:element name='file' type='xsd:string' minOccurs='0' />
            <xsd:element name='hasRightsToModel' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='deleteModelsModelidVRequestMessage'>
    <part name='parameters' element='tns:deleteModelsModelidVParameters' />
  </message>
  <message name='deleteModelsModelidVResponseMessage'>
    <part name='response' element='tns:deleteModelsModelidVResponse' />
  </message>
  <message name='getApiVRequestMessage' />
  <message name='getApiVResponseMessage'>
    <part name='response' element='tns:getApiVResponse' />
  </message>
  <message name='getCategoriesVRequestMessage' />
  <message name='getCategoriesVResponseMessage'>
    <part name='response' element='tns:getCategoriesVResponse' />
  </message>
  <message name='getCategoriesCategoryidVRequestMessage'>
    <part name='parameters' element='tns:getCategoriesCategoryidVParameters' />
  </message>
  <message name='getCategoriesCategoryidVResponseMessage'>
    <part name='response' element='tns:getCategoriesCategoryidVResponse' />
  </message>
  <message name='getMaterialsVRequestMessage' />
  <message name='getMaterialsVResponseMessage'>
    <part name='response' element='tns:getMaterialsVResponse' />
  </message>
  <message name='getMaterialsMaterialidVRequestMessage'>
    <part name='parameters' element='tns:getMaterialsMaterialidVParameters' />
  </message>
  <message name='getMaterialsMaterialidVResponseMessage'>
    <part name='response' element='tns:getMaterialsMaterialidVResponse' />
  </message>
  <message name='getModelsVRequestMessage' />
  <message name='getModelsVResponseMessage'>
    <part name='response' element='tns:getModelsVResponse' />
  </message>
  <message name='getModelsModelidFilesFileversionVRequestMessage'>
    <part name='parameters' element='tns:getModelsModelidFilesFileversionVParameters' />
  </message>
  <message name='getModelsModelidFilesFileversionVResponseMessage'>
    <part name='response' element='tns:getModelsModelidFilesFileversionVResponse' />
  </message>
  <message name='getModelsModelidInfoVRequestMessage'>
    <part name='parameters' element='tns:getModelsModelidInfoVParameters' />
  </message>
  <message name='getModelsModelidInfoVResponseMessage'>
    <part name='response' element='tns:getModelsModelidInfoVResponse' />
  </message>
  <message name='getModelsModelidVRequestMessage'>
    <part name='parameters' element='tns:getModelsModelidVParameters' />
  </message>
  <message name='getModelsModelidVResponseMessage'>
    <part name='response' element='tns:getModelsModelidVResponse' />
  </message>
  <message name='getOrdersCartVRequestMessage' />
  <message name='getOrdersCartVResponseMessage'>
    <part name='response' element='tns:getOrdersCartVResponse' />
  </message>
  <message name='getPrintersVRequestMessage' />
  <message name='getPrintersVResponseMessage'>
    <part name='response' element='tns:getPrintersVResponse' />
  </message>
  <message name='getPrintersPrinteridVRequestMessage'>
    <part name='parameters' element='tns:getPrintersPrinteridVParameters' />
  </message>
  <message name='getPrintersPrinteridVResponseMessage'>
    <part name='response' element='tns:getPrintersPrinteridVResponse' />
  </message>
  <message name='postModelsVRequestMessage' />
  <message name='postModelsVResponseMessage'>
    <part name='response' element='tns:postModelsVResponse' />
  </message>
  <message name='postModelsModelidFilesVRequestMessage'>
    <part name='parameters' element='tns:postModelsModelidFilesVParameters' />
  </message>
  <message name='postModelsModelidFilesVResponseMessage'>
    <part name='response' element='tns:postModelsModelidFilesVResponse' />
  </message>
  <message name='postModelsModelidPhotosVRequestMessage'>
    <part name='parameters' element='tns:postModelsModelidPhotosVParameters' />
  </message>
  <message name='postModelsModelidPhotosVResponseMessage'>
    <part name='response' element='tns:postModelsModelidPhotosVResponse' />
  </message>
  <message name='postOrdersCartVRequestMessage' />
  <message name='postOrdersCartVResponseMessage'>
    <part name='response' element='tns:postOrdersCartVResponse' />
  </message>
  <message name='postPriceVRequestMessage' />
  <message name='postPriceVResponseMessage'>
    <part name='response' element='tns:postPriceVResponse' />
  </message>
  <message name='putModelsModelidInfoVRequestMessage'>
    <part name='parameters' element='tns:putModelsModelidInfoVParameters' />
  </message>
  <message name='putModelsModelidInfoVResponseMessage'>
    <part name='response' element='tns:putModelsModelidInfoVResponse' />
  </message>
  <portType name='shapewaysPortType'>
    <operation name='deleteModelsModelidV'>
      <documentation></documentation>
      <input message='tns:deleteModelsModelidVRequestMessage' name='deleteModelsModelidVInput' />
      <output message='tns:deleteModelsModelidVResponseMessage' name='deleteModelsModelidVOutput' />
    </operation>
    <operation name='getApiV'>
      <documentation></documentation>
      <input message='tns:getApiVRequestMessage' name='getApiVInput' />
      <output message='tns:getApiVResponseMessage' name='getApiVOutput' />
    </operation>
    <operation name='getCategoriesV'>
      <documentation></documentation>
      <input message='tns:getCategoriesVRequestMessage' name='getCategoriesVInput' />
      <output message='tns:getCategoriesVResponseMessage' name='getCategoriesVOutput' />
    </operation>
    <operation name='getCategoriesCategoryidV'>
      <documentation></documentation>
      <input message='tns:getCategoriesCategoryidVRequestMessage' name='getCategoriesCategoryidVInput' />
      <output message='tns:getCategoriesCategoryidVResponseMessage' name='getCategoriesCategoryidVOutput' />
    </operation>
    <operation name='getMaterialsV'>
      <documentation></documentation>
      <input message='tns:getMaterialsVRequestMessage' name='getMaterialsVInput' />
      <output message='tns:getMaterialsVResponseMessage' name='getMaterialsVOutput' />
    </operation>
    <operation name='getMaterialsMaterialidV'>
      <documentation></documentation>
      <input message='tns:getMaterialsMaterialidVRequestMessage' name='getMaterialsMaterialidVInput' />
      <output message='tns:getMaterialsMaterialidVResponseMessage' name='getMaterialsMaterialidVOutput' />
    </operation>
    <operation name='getModelsV'>
      <documentation></documentation>
      <input message='tns:getModelsVRequestMessage' name='getModelsVInput' />
      <output message='tns:getModelsVResponseMessage' name='getModelsVOutput' />
    </operation>
    <operation name='getModelsModelidFilesFileversionV'>
      <documentation></documentation>
      <input message='tns:getModelsModelidFilesFileversionVRequestMessage' name='getModelsModelidFilesFileversionVInput' />
      <output message='tns:getModelsModelidFilesFileversionVResponseMessage' name='getModelsModelidFilesFileversionVOutput' />
    </operation>
    <operation name='getModelsModelidInfoV'>
      <documentation></documentation>
      <input message='tns:getModelsModelidInfoVRequestMessage' name='getModelsModelidInfoVInput' />
      <output message='tns:getModelsModelidInfoVResponseMessage' name='getModelsModelidInfoVOutput' />
    </operation>
    <operation name='getModelsModelidV'>
      <documentation></documentation>
      <input message='tns:getModelsModelidVRequestMessage' name='getModelsModelidVInput' />
      <output message='tns:getModelsModelidVResponseMessage' name='getModelsModelidVOutput' />
    </operation>
    <operation name='getOrdersCartV'>
      <documentation></documentation>
      <input message='tns:getOrdersCartVRequestMessage' name='getOrdersCartVInput' />
      <output message='tns:getOrdersCartVResponseMessage' name='getOrdersCartVOutput' />
    </operation>
    <operation name='getPrintersV'>
      <documentation></documentation>
      <input message='tns:getPrintersVRequestMessage' name='getPrintersVInput' />
      <output message='tns:getPrintersVResponseMessage' name='getPrintersVOutput' />
    </operation>
    <operation name='getPrintersPrinteridV'>
      <documentation></documentation>
      <input message='tns:getPrintersPrinteridVRequestMessage' name='getPrintersPrinteridVInput' />
      <output message='tns:getPrintersPrinteridVResponseMessage' name='getPrintersPrinteridVOutput' />
    </operation>
    <operation name='postModelsV'>
      <documentation></documentation>
      <input message='tns:postModelsVRequestMessage' name='postModelsVInput' />
      <output message='tns:postModelsVResponseMessage' name='postModelsVOutput' />
    </operation>
    <operation name='postModelsModelidFilesV'>
      <documentation></documentation>
      <input message='tns:postModelsModelidFilesVRequestMessage' name='postModelsModelidFilesVInput' />
      <output message='tns:postModelsModelidFilesVResponseMessage' name='postModelsModelidFilesVOutput' />
    </operation>
    <operation name='postModelsModelidPhotosV'>
      <documentation></documentation>
      <input message='tns:postModelsModelidPhotosVRequestMessage' name='postModelsModelidPhotosVInput' />
      <output message='tns:postModelsModelidPhotosVResponseMessage' name='postModelsModelidPhotosVOutput' />
    </operation>
    <operation name='postOrdersCartV'>
      <documentation></documentation>
      <input message='tns:postOrdersCartVRequestMessage' name='postOrdersCartVInput' />
      <output message='tns:postOrdersCartVResponseMessage' name='postOrdersCartVOutput' />
    </operation>
    <operation name='postPriceV'>
      <documentation></documentation>
      <input message='tns:postPriceVRequestMessage' name='postPriceVInput' />
      <output message='tns:postPriceVResponseMessage' name='postPriceVOutput' />
    </operation>
    <operation name='putModelsModelidInfoV'>
      <documentation></documentation>
      <input message='tns:putModelsModelidInfoVRequestMessage' name='putModelsModelidInfoVInput' />
      <output message='tns:putModelsModelidInfoVResponseMessage' name='putModelsModelidInfoVOutput' />
    </operation>
  </portType>
  <binding name='shapewaysBinding' type='tns:shapewaysPortType'>
    <operation name='deleteModelsModelidV'>
      <soap12:operation soapAction='http://deleteModelsModelidV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getApiV'>
      <soap12:operation soapAction='http://getApiV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCategoriesV'>
      <soap12:operation soapAction='http://getCategoriesV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getCategoriesCategoryidV'>
      <soap12:operation soapAction='http://getCategoriesCategoryidV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMaterialsV'>
      <soap12:operation soapAction='http://getMaterialsV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getMaterialsMaterialidV'>
      <soap12:operation soapAction='http://getMaterialsMaterialidV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getModelsV'>
      <soap12:operation soapAction='http://getModelsV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getModelsModelidFilesFileversionV'>
      <soap12:operation soapAction='http://getModelsModelidFilesFileversionV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getModelsModelidInfoV'>
      <soap12:operation soapAction='http://getModelsModelidInfoV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getModelsModelidV'>
      <soap12:operation soapAction='http://getModelsModelidV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getOrdersCartV'>
      <soap12:operation soapAction='http://getOrdersCartV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPrintersV'>
      <soap12:operation soapAction='http://getPrintersV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPrintersPrinteridV'>
      <soap12:operation soapAction='http://getPrintersPrinteridV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postModelsV'>
      <soap12:operation soapAction='http://postModelsV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postModelsModelidFilesV'>
      <soap12:operation soapAction='http://postModelsModelidFilesV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postModelsModelidPhotosV'>
      <soap12:operation soapAction='http://postModelsModelidPhotosV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postOrdersCartV'>
      <soap12:operation soapAction='http://postOrdersCartV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postPriceV'>
      <soap12:operation soapAction='http://postPriceV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='putModelsModelidInfoV'>
      <soap12:operation soapAction='http://putModelsModelidInfoV' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='shapeways'>
    <documentation>shapeways com is the world s leading D Printing marketplace and community We harness D Printing to help everyone make and share designs with the world making product design more accessible personal and inspiring</documentation>
    <port name='shapewaysPort' binding='tns:shapewaysBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://shapeways' />
    </port>
  </service>
</definitions>