workspace/datasets/mashape_dataset/shareit.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/shareIt/' name='shareIt' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/shareIt/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/shareIt/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/shareIt/'>
      <xsd:element name='getVolunteerSLocationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVolunteerSLocationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='lat_position' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='long_position' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getVolunteerSLocationsRequestMessage'>
    <part name='parameters' element='tns:getVolunteerSLocationsParameters' />
  </message>
  <message name='getVolunteerSLocationsResponseMessage'>
    <part name='response' element='tns:getVolunteerSLocationsResponse' />
  </message>
  <portType name='shareItPortType'>
    <operation name='getVolunteerSLocations'>
      <documentation>get latitude and longitude of Volunteers</documentation>
      <input message='tns:getVolunteerSLocationsRequestMessage' name='getVolunteerSLocationsInput' />
      <output message='tns:getVolunteerSLocationsResponseMessage' name='getVolunteerSLocationsOutput' />
    </operation>
  </portType>
  <binding name='shareItBinding' type='tns:shareItPortType'>
    <operation name='getVolunteerSLocations'>
      <soap12:operation soapAction='http://getVolunteerSLocations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='shareIt'>
    <documentation>stop wasting food and Share it</documentation>
    <port name='shareItPort' binding='tns:shareItBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://shareIt' />
    </port>
  </service>
</definitions>