workspace/datasets/mashape_dataset/shipposhippingmadecheapandeasy.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/shippoShippingMadeCheapAndEasy/' name='shippoShippingMadeCheapAndEasy' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/shippoShippingMadeCheapAndEasy/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/shippoShippingMadeCheapAndEasy/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/shippoShippingMadeCheapAndEasy/'>
      <xsd:element name='addressesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='object_updated' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_owner' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='zip' type='xsd:int' minOccurs='0' />
            <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='metadata' type='xsd:string' minOccurs='0' />
            <xsd:element name='city' type='xsd:string' minOccurs='0' />
            <xsd:element name='object_source' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ip' type='xsd:string' minOccurs='0' />
            <xsd:element name='object_created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_purpose' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='phone' type='xsd:int' minOccurs='0' />
            <xsd:element name='street_no' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='company' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='street1' type='xsd:string' minOccurs='0' />
            <xsd:element name='object_state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='street2' type='xsd:string' minOccurs='0' />
            <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='parcelsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='object_updated' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_owner' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='metadata' type='xsd:string' minOccurs='0' />
            <xsd:element name='length' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='weight' type='xsd:int' minOccurs='0' />
            <xsd:element name='object_state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='distance_unit' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='height' type='xsd:int' minOccurs='0' />
            <xsd:element name='mass_unit' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ratesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='shipmentobjectid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ratesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='insurance' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='available_shippo' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='outbound_endpoint' type='xsd:string' minOccurs='0' />
            <xsd:element name='duration_terms' type='xsd:string' minOccurs='0' />
            <xsd:element name='delivery_attempts' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='insurance_amount_local' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='provider_image_75' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='insurance_currency_local' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='servicelevel_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='provider' type='xsd:string' minOccurs='0' />
            <xsd:element name='arrives_by' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='currency_local' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='provider_image_200' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='object_updated' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_owner' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='amount_local' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='trackable' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='tier_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='amount' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='object_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='insurance_currency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_purpose' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='servicelevel_terms' type='xsd:string' minOccurs='0' />
            <xsd:element name='insurance_amount' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='days' type='xsd:int' minOccurs='0' />
            <xsd:element name='messages' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:string' minOccurs='0' />
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='inbound_endpoint' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='shipmentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='object_updated' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_owner' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='parcel' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='metadata' type='xsd:string' minOccurs='0' />
            <xsd:element name='address_to' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='rates_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='object_state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_purpose' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='address_from' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transactionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='object_updated' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_owner' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='metadata' type='xsd:string' minOccurs='0' />
            <xsd:element name='notification_email_other' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='notification_email_from' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='object_status' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_created' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='object_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='label_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='pickup_date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='rate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='tracking_number' type='xsd:string' minOccurs='0' />
            <xsd:element name='messages' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:string' minOccurs='0' />
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='object_state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='was_test' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='notification_email_to' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addressesRequestMessage' />
  <message name='addressesResponseMessage'>
    <part name='response' element='tns:addressesResponse' />
  </message>
  <message name='parcelsRequestMessage' />
  <message name='parcelsResponseMessage'>
    <part name='response' element='tns:parcelsResponse' />
  </message>
  <message name='ratesRequestMessage'>
    <part name='parameters' element='tns:ratesParameters' />
  </message>
  <message name='ratesResponseMessage'>
    <part name='response' element='tns:ratesResponse' />
  </message>
  <message name='shipmentsRequestMessage' />
  <message name='shipmentsResponseMessage'>
    <part name='response' element='tns:shipmentsResponse' />
  </message>
  <message name='transactionRequestMessage' />
  <message name='transactionResponseMessage'>
    <part name='response' element='tns:transactionResponse' />
  </message>
  <portType name='shippoShippingMadeCheapAndEasyPortType'>
    <operation name='addresses'>
      <documentation>create an address that can be used to create a shipment</documentation>
      <input message='tns:addressesRequestMessage' name='addressesInput' />
      <output message='tns:addressesResponseMessage' name='addressesOutput' />
    </operation>
    <operation name='parcels'>
      <documentation>create a parcel you want to ship</documentation>
      <input message='tns:parcelsRequestMessage' name='parcelsInput' />
      <output message='tns:parcelsResponseMessage' name='parcelsOutput' />
    </operation>
    <operation name='rates'>
      <documentation>request all available shipping rates for a given shipment</documentation>
      <input message='tns:ratesRequestMessage' name='ratesInput' />
      <output message='tns:ratesResponseMessage' name='ratesOutput' />
    </operation>
    <operation name='shipments'>
      <documentation>shipments are the core of Shippo s API Shipments can be used to obtain rates and postage labels</documentation>
      <input message='tns:shipmentsRequestMessage' name='shipmentsInput' />
      <output message='tns:shipmentsResponseMessage' name='shipmentsOutput' />
    </operation>
    <operation name='transaction'>
      <documentation>create a label for a specific rate</documentation>
      <input message='tns:transactionRequestMessage' name='transactionInput' />
      <output message='tns:transactionResponseMessage' name='transactionOutput' />
    </operation>
  </portType>
  <binding name='shippoShippingMadeCheapAndEasyBinding' type='tns:shippoShippingMadeCheapAndEasyPortType'>
    <operation name='addresses'>
      <soap12:operation soapAction='http://addresses' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='parcels'>
      <soap12:operation soapAction='http://parcels' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='rates'>
      <soap12:operation soapAction='http://rates' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='shipments'>
      <soap12:operation soapAction='http://shipments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='transaction'>
      <soap12:operation soapAction='http://transaction' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='shippoShippingMadeCheapAndEasy'>
    <documentation>we ve built an API that makes shipping easy and affordable for small businesses that are not eligible for bulk discounts Prices without bulk discounts are usually higher We give these customers access to better rates offered by smaller courier companies that are difficult to find and compare We are a B B business providing value through our shipping API To scale distribution we sign up marketplaces that give us pooled access to thousands of sellers In addition to the API we support our growth with a simple web interface on https goshippo com The solution we re offering is especially valuable for Europe Asia South America and Africa in the US USPS already offers very good rates for shipping internationally at a huge loss In the rest of the world however finding the right courier service for international shipment is a big hassle</documentation>
    <port name='shippoShippingMadeCheapAndEasyPort' binding='tns:shippoShippingMadeCheapAndEasyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://shippoShippingMadeCheapAndEasy' />
    </port>
  </service>
</definitions>