workspace/datasets/mashape_dataset/shirtsio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/shirtsIo/' name='shirtsIo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/shirtsIo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/shirtsIo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/shirtsIo/'>
      <xsd:element name='inventoryCountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='color' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='productid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='inventoryCountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='comments' type='xsd:string' minOccurs='0' />
                  <xsd:element name='materials' type='xsd:string' minOccurs='0' />
                  <xsd:element name='has_sleeves' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='style_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='inventory' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lrg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xxsml' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xlg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xsml' type='xsd:int' minOccurs='0' />
                        <xsd:element name='sml' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xxxxxxl' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xxxl' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xxxxxl' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xxl' type='xsd:int' minOccurs='0' />
                        <xsd:element name='med' type='xsd:int' minOccurs='0' />
                        <xsd:element name='xxxxl' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='brand' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='colors' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='largest' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='back_image' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='smallest' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='hex' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='right_image' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='left_image' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='front_image' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='pictures' type='xsd:anyURI' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfProductCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfProductsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfProductsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='product_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='productid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='largest' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='back_image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='smallest' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='hex' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='right_image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='left_image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='front_image' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='inventoryCountRequestMessage'>
    <part name='parameters' element='tns:inventoryCountParameters' />
  </message>
  <message name='inventoryCountResponseMessage'>
    <part name='response' element='tns:inventoryCountResponse' />
  </message>
  <message name='listOfProductCategoriesRequestMessage' />
  <message name='listOfProductCategoriesResponseMessage'>
    <part name='response' element='tns:listOfProductCategoriesResponse' />
  </message>
  <message name='listOfProductsRequestMessage'>
    <part name='parameters' element='tns:listOfProductsParameters' />
  </message>
  <message name='listOfProductsResponseMessage'>
    <part name='response' element='tns:listOfProductsResponse' />
  </message>
  <message name='productInformationRequestMessage'>
    <part name='parameters' element='tns:productInformationParameters' />
  </message>
  <message name='productInformationResponseMessage'>
    <part name='response' element='tns:productInformationResponse' />
  </message>
  <portType name='shirtsIoPortType'>
    <operation name='inventoryCount'>
      <documentation>you can also retrieve the latest inventory for any garment type updated every hour</documentation>
      <input message='tns:inventoryCountRequestMessage' name='inventoryCountInput' />
      <output message='tns:inventoryCountResponseMessage' name='inventoryCountOutput' />
    </operation>
    <operation name='listOfProductCategories'>
      <documentation>get a list of all available product categories No arguments are needed for this request</documentation>
      <input message='tns:listOfProductCategoriesRequestMessage' name='listOfProductCategoriesInput' />
      <output message='tns:listOfProductCategoriesResponseMessage' name='listOfProductCategoriesOutput' />
    </operation>
    <operation name='listOfProducts'>
      <documentation>specify a category ID to receive a list of products in that category</documentation>
      <input message='tns:listOfProductsRequestMessage' name='listOfProductsInput' />
      <output message='tns:listOfProductsResponseMessage' name='listOfProductsOutput' />
    </operation>
    <operation name='productInformation'>
      <documentation>specify a product ID to receive the following information about the product</documentation>
      <input message='tns:productInformationRequestMessage' name='productInformationInput' />
      <output message='tns:productInformationResponseMessage' name='productInformationOutput' />
    </operation>
  </portType>
  <binding name='shirtsIoBinding' type='tns:shirtsIoPortType'>
    <operation name='inventoryCount'>
      <soap12:operation soapAction='http://inventoryCount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listOfProductCategories'>
      <soap12:operation soapAction='http://listOfProductCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listOfProducts'>
      <soap12:operation soapAction='http://listOfProducts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productInformation'>
      <soap12:operation soapAction='http://productInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='shirtsIo'>
    <documentation>shirts io offers an integrated printing whitelabeling and fulfillment service all accessible by a simple API call It s never been this easy to order custom merchandise</documentation>
    <port name='shirtsIoPort' binding='tns:shirtsIoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://shirtsIo' />
    </port>
  </service>
</definitions>