workspace/datasets/mashape_dataset/shop.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/shop/' name='shop' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/shop/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/shop/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/shop/'>
      <xsd:element name='clientsConfirmsyncParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsConfirmsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsGetbyidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsGetbyidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsGetnotsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsSetprofileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='clientsSetprofileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='consigneesConfirmsyncParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='consigneesConfirmsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='consigneesGetnotsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersCancelorderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersCancelorderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersConfirmsyncParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersConfirmsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersDoneorderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersDoneorderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersGetbyidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersGetbyidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersGetbynameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersGetbynameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersGetnotsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersRestoreorderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ordersRestoreorderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='payersConfirmsyncParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='payersConfirmsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='payersGetnotsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='paymentsConfirmsyncParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='paymentsConfirmsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='paymentsGetbyidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='paymentsGetbyidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='paymentsGetnotsyncResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='clientsConfirmsyncRequestMessage'>
    <part name='parameters' element='tns:clientsConfirmsyncParameters' />
  </message>
  <message name='clientsConfirmsyncResponseMessage'>
    <part name='response' element='tns:clientsConfirmsyncResponse' />
  </message>
  <message name='clientsGetbyidRequestMessage'>
    <part name='parameters' element='tns:clientsGetbyidParameters' />
  </message>
  <message name='clientsGetbyidResponseMessage'>
    <part name='response' element='tns:clientsGetbyidResponse' />
  </message>
  <message name='clientsGetnotsyncRequestMessage' />
  <message name='clientsGetnotsyncResponseMessage'>
    <part name='response' element='tns:clientsGetnotsyncResponse' />
  </message>
  <message name='clientsSetprofileRequestMessage'>
    <part name='parameters' element='tns:clientsSetprofileParameters' />
  </message>
  <message name='clientsSetprofileResponseMessage'>
    <part name='response' element='tns:clientsSetprofileResponse' />
  </message>
  <message name='consigneesConfirmsyncRequestMessage'>
    <part name='parameters' element='tns:consigneesConfirmsyncParameters' />
  </message>
  <message name='consigneesConfirmsyncResponseMessage'>
    <part name='response' element='tns:consigneesConfirmsyncResponse' />
  </message>
  <message name='consigneesGetnotsyncRequestMessage' />
  <message name='consigneesGetnotsyncResponseMessage'>
    <part name='response' element='tns:consigneesGetnotsyncResponse' />
  </message>
  <message name='ordersCancelorderRequestMessage'>
    <part name='parameters' element='tns:ordersCancelorderParameters' />
  </message>
  <message name='ordersCancelorderResponseMessage'>
    <part name='response' element='tns:ordersCancelorderResponse' />
  </message>
  <message name='ordersConfirmsyncRequestMessage'>
    <part name='parameters' element='tns:ordersConfirmsyncParameters' />
  </message>
  <message name='ordersConfirmsyncResponseMessage'>
    <part name='response' element='tns:ordersConfirmsyncResponse' />
  </message>
  <message name='ordersDoneorderRequestMessage'>
    <part name='parameters' element='tns:ordersDoneorderParameters' />
  </message>
  <message name='ordersDoneorderResponseMessage'>
    <part name='response' element='tns:ordersDoneorderResponse' />
  </message>
  <message name='ordersGetbyidRequestMessage'>
    <part name='parameters' element='tns:ordersGetbyidParameters' />
  </message>
  <message name='ordersGetbyidResponseMessage'>
    <part name='response' element='tns:ordersGetbyidResponse' />
  </message>
  <message name='ordersGetbynameRequestMessage'>
    <part name='parameters' element='tns:ordersGetbynameParameters' />
  </message>
  <message name='ordersGetbynameResponseMessage'>
    <part name='response' element='tns:ordersGetbynameResponse' />
  </message>
  <message name='ordersGetnotsyncRequestMessage' />
  <message name='ordersGetnotsyncResponseMessage'>
    <part name='response' element='tns:ordersGetnotsyncResponse' />
  </message>
  <message name='ordersRestoreorderRequestMessage'>
    <part name='parameters' element='tns:ordersRestoreorderParameters' />
  </message>
  <message name='ordersRestoreorderResponseMessage'>
    <part name='response' element='tns:ordersRestoreorderResponse' />
  </message>
  <message name='payersConfirmsyncRequestMessage'>
    <part name='parameters' element='tns:payersConfirmsyncParameters' />
  </message>
  <message name='payersConfirmsyncResponseMessage'>
    <part name='response' element='tns:payersConfirmsyncResponse' />
  </message>
  <message name='payersGetnotsyncRequestMessage' />
  <message name='payersGetnotsyncResponseMessage'>
    <part name='response' element='tns:payersGetnotsyncResponse' />
  </message>
  <message name='paymentsConfirmsyncRequestMessage'>
    <part name='parameters' element='tns:paymentsConfirmsyncParameters' />
  </message>
  <message name='paymentsConfirmsyncResponseMessage'>
    <part name='response' element='tns:paymentsConfirmsyncResponse' />
  </message>
  <message name='paymentsGetbyidRequestMessage'>
    <part name='parameters' element='tns:paymentsGetbyidParameters' />
  </message>
  <message name='paymentsGetbyidResponseMessage'>
    <part name='response' element='tns:paymentsGetbyidResponse' />
  </message>
  <message name='paymentsGetnotsyncRequestMessage' />
  <message name='paymentsGetnotsyncResponseMessage'>
    <part name='response' element='tns:paymentsGetnotsyncResponse' />
  </message>
  <portType name='shopPortType'>
    <operation name='clientsConfirmsync'>
      <documentation></documentation>
      <input message='tns:clientsConfirmsyncRequestMessage' name='clientsConfirmsyncInput' />
      <output message='tns:clientsConfirmsyncResponseMessage' name='clientsConfirmsyncOutput' />
    </operation>
    <operation name='clientsGetbyid'>
      <documentation></documentation>
      <input message='tns:clientsGetbyidRequestMessage' name='clientsGetbyidInput' />
      <output message='tns:clientsGetbyidResponseMessage' name='clientsGetbyidOutput' />
    </operation>
    <operation name='clientsGetnotsync'>
      <documentation></documentation>
      <input message='tns:clientsGetnotsyncRequestMessage' name='clientsGetnotsyncInput' />
      <output message='tns:clientsGetnotsyncResponseMessage' name='clientsGetnotsyncOutput' />
    </operation>
    <operation name='clientsSetprofile'>
      <documentation></documentation>
      <input message='tns:clientsSetprofileRequestMessage' name='clientsSetprofileInput' />
      <output message='tns:clientsSetprofileResponseMessage' name='clientsSetprofileOutput' />
    </operation>
    <operation name='consigneesConfirmsync'>
      <documentation></documentation>
      <input message='tns:consigneesConfirmsyncRequestMessage' name='consigneesConfirmsyncInput' />
      <output message='tns:consigneesConfirmsyncResponseMessage' name='consigneesConfirmsyncOutput' />
    </operation>
    <operation name='consigneesGetnotsync'>
      <documentation></documentation>
      <input message='tns:consigneesGetnotsyncRequestMessage' name='consigneesGetnotsyncInput' />
      <output message='tns:consigneesGetnotsyncResponseMessage' name='consigneesGetnotsyncOutput' />
    </operation>
    <operation name='ordersCancelorder'>
      <documentation></documentation>
      <input message='tns:ordersCancelorderRequestMessage' name='ordersCancelorderInput' />
      <output message='tns:ordersCancelorderResponseMessage' name='ordersCancelorderOutput' />
    </operation>
    <operation name='ordersConfirmsync'>
      <documentation></documentation>
      <input message='tns:ordersConfirmsyncRequestMessage' name='ordersConfirmsyncInput' />
      <output message='tns:ordersConfirmsyncResponseMessage' name='ordersConfirmsyncOutput' />
    </operation>
    <operation name='ordersDoneorder'>
      <documentation></documentation>
      <input message='tns:ordersDoneorderRequestMessage' name='ordersDoneorderInput' />
      <output message='tns:ordersDoneorderResponseMessage' name='ordersDoneorderOutput' />
    </operation>
    <operation name='ordersGetbyid'>
      <documentation></documentation>
      <input message='tns:ordersGetbyidRequestMessage' name='ordersGetbyidInput' />
      <output message='tns:ordersGetbyidResponseMessage' name='ordersGetbyidOutput' />
    </operation>
    <operation name='ordersGetbyname'>
      <documentation></documentation>
      <input message='tns:ordersGetbynameRequestMessage' name='ordersGetbynameInput' />
      <output message='tns:ordersGetbynameResponseMessage' name='ordersGetbynameOutput' />
    </operation>
    <operation name='ordersGetnotsync'>
      <documentation></documentation>
      <input message='tns:ordersGetnotsyncRequestMessage' name='ordersGetnotsyncInput' />
      <output message='tns:ordersGetnotsyncResponseMessage' name='ordersGetnotsyncOutput' />
    </operation>
    <operation name='ordersRestoreorder'>
      <documentation></documentation>
      <input message='tns:ordersRestoreorderRequestMessage' name='ordersRestoreorderInput' />
      <output message='tns:ordersRestoreorderResponseMessage' name='ordersRestoreorderOutput' />
    </operation>
    <operation name='payersConfirmsync'>
      <documentation></documentation>
      <input message='tns:payersConfirmsyncRequestMessage' name='payersConfirmsyncInput' />
      <output message='tns:payersConfirmsyncResponseMessage' name='payersConfirmsyncOutput' />
    </operation>
    <operation name='payersGetnotsync'>
      <documentation></documentation>
      <input message='tns:payersGetnotsyncRequestMessage' name='payersGetnotsyncInput' />
      <output message='tns:payersGetnotsyncResponseMessage' name='payersGetnotsyncOutput' />
    </operation>
    <operation name='paymentsConfirmsync'>
      <documentation></documentation>
      <input message='tns:paymentsConfirmsyncRequestMessage' name='paymentsConfirmsyncInput' />
      <output message='tns:paymentsConfirmsyncResponseMessage' name='paymentsConfirmsyncOutput' />
    </operation>
    <operation name='paymentsGetbyid'>
      <documentation></documentation>
      <input message='tns:paymentsGetbyidRequestMessage' name='paymentsGetbyidInput' />
      <output message='tns:paymentsGetbyidResponseMessage' name='paymentsGetbyidOutput' />
    </operation>
    <operation name='paymentsGetnotsync'>
      <documentation></documentation>
      <input message='tns:paymentsGetnotsyncRequestMessage' name='paymentsGetnotsyncInput' />
      <output message='tns:paymentsGetnotsyncResponseMessage' name='paymentsGetnotsyncOutput' />
    </operation>
  </portType>
  <binding name='shopBinding' type='tns:shopPortType'>
    <operation name='clientsConfirmsync'>
      <soap12:operation soapAction='http://clientsConfirmsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clientsGetbyid'>
      <soap12:operation soapAction='http://clientsGetbyid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clientsGetnotsync'>
      <soap12:operation soapAction='http://clientsGetnotsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='clientsSetprofile'>
      <soap12:operation soapAction='http://clientsSetprofile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='consigneesConfirmsync'>
      <soap12:operation soapAction='http://consigneesConfirmsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='consigneesGetnotsync'>
      <soap12:operation soapAction='http://consigneesGetnotsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ordersCancelorder'>
      <soap12:operation soapAction='http://ordersCancelorder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ordersConfirmsync'>
      <soap12:operation soapAction='http://ordersConfirmsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ordersDoneorder'>
      <soap12:operation soapAction='http://ordersDoneorder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ordersGetbyid'>
      <soap12:operation soapAction='http://ordersGetbyid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ordersGetbyname'>
      <soap12:operation soapAction='http://ordersGetbyname' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ordersGetnotsync'>
      <soap12:operation soapAction='http://ordersGetnotsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ordersRestoreorder'>
      <soap12:operation soapAction='http://ordersRestoreorder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='payersConfirmsync'>
      <soap12:operation soapAction='http://payersConfirmsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='payersGetnotsync'>
      <soap12:operation soapAction='http://payersGetnotsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='paymentsConfirmsync'>
      <soap12:operation soapAction='http://paymentsConfirmsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='paymentsGetbyid'>
      <soap12:operation soapAction='http://paymentsGetbyid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='paymentsGetnotsync'>
      <soap12:operation soapAction='http://paymentsGetnotsync' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='shop'>
    <documentation>shop API Shop API Shop</documentation>
    <port name='shopPort' binding='tns:shopBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://shop' />
    </port>
  </service>
</definitions>