workspace/datasets/mashape_dataset/shortpixelimageoptimiser.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/shortpixelImageOptimiser/' name='shortpixelImageOptimiser' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/shortpixelImageOptimiser/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/shortpixelImageOptimiser/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/shortpixelImageOptimiser/'>
      <xsd:element name='reducerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lossy' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wait' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reducerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Message' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='LossySize' type='xsd:int' minOccurs='0' />
            <xsd:element name='OriginalSize' type='xsd:int' minOccurs='0' />
            <xsd:element name='PercentImprovement' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='URL' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='TimeStamp' type='xsd:string' minOccurs='0' />
            <xsd:element name='SPSize' type='xsd:int' minOccurs='0' />
            <xsd:element name='DownloadURL' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='reducerRequestMessage'>
    <part name='parameters' element='tns:reducerParameters' />
  </message>
  <message name='reducerResponseMessage'>
    <part name='response' element='tns:reducerResponse' />
  </message>
  <portType name='shortpixelImageOptimiserPortType'>
    <operation name='reducer'>
      <documentation>this is the main API and allows you to shrink an image based on the URL of the image The images has to be available online in order to be shrunk via this API</documentation>
      <input message='tns:reducerRequestMessage' name='reducerInput' />
      <output message='tns:reducerResponseMessage' name='reducerOutput' />
    </operation>
  </portType>
  <binding name='shortpixelImageOptimiserBinding' type='tns:shortpixelImageOptimiserPortType'>
    <operation name='reducer'>
      <soap12:operation soapAction='http://reducer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='shortpixelImageOptimiser'>
    <documentation>shortPixel is an image compression API that helps reduce the size of most common image files JPEG PNG and GIF also animated</documentation>
    <port name='shortpixelImageOptimiserPort' binding='tns:shortpixelImageOptimiserBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://shortpixelImageOptimiser' />
    </port>
  </service>
</definitions>