workspace/datasets/mashape_dataset/showcase.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/showcase/' name='showcase' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/showcase/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/showcase/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/showcase/'>
      <xsd:element name='usersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='usersRequestMessage' />
  <message name='usersResponseMessage'>
    <part name='response' element='tns:usersResponse' />
  </message>
  <portType name='showcasePortType'>
    <operation name='users'>
      <documentation></documentation>
      <input message='tns:usersRequestMessage' name='usersInput' />
      <output message='tns:usersResponseMessage' name='usersOutput' />
    </operation>
  </portType>
  <binding name='showcaseBinding' type='tns:showcasePortType'>
    <operation name='users'>
      <soap12:operation soapAction='http://users' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='showcase'>
    <documentation>the Showcase API allows companies or universities to access their private CV database</documentation>
    <port name='showcasePort' binding='tns:showcaseBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://showcase' />
    </port>
  </service>
</definitions>