workspace/datasets/mashape_dataset/shufflerfmauthorization.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/shufflerFmAuthorization/' name='shufflerFmAuthorization' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/shufflerFmAuthorization/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/shufflerFmAuthorization/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/shufflerFmAuthorization/'>
      <xsd:element name='accessTokenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorizationCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='rediruri' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='scope' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorizationCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='accessTokenRequestMessage' />
  <message name='accessTokenResponseMessage'>
    <part name='response' element='tns:accessTokenResponse' />
  </message>
  <message name='authorizationCodeRequestMessage'>
    <part name='parameters' element='tns:authorizationCodeParameters' />
  </message>
  <message name='authorizationCodeResponseMessage'>
    <part name='response' element='tns:authorizationCodeResponse' />
  </message>
  <portType name='shufflerFmAuthorizationPortType'>
    <operation name='accessToken'>
      <documentation>for requests where you need user information or want to manage users data the permission of the user is needed On this API authorizations are managed via Shuffler flavoured three legged OAuth A nice short description of how OAuth works https github com Mashape mashape oauth blob master FLOWS md oauth three legged Scopes Scopes define which part of the user s data may be accessed by the app and what the app may do with it read write The Shuffler fm API v defines five scopes users r Read user s profile info users favorites r Read user s favorites users favorites m Manage user s favorites users subscriptions r Read user s subscriptions users subscriptions m Manage user s subscriptions</documentation>
      <input message='tns:accessTokenRequestMessage' name='accessTokenInput' />
      <output message='tns:accessTokenResponseMessage' name='accessTokenOutput' />
    </operation>
    <operation name='authorizationCode'>
      <documentation>this is the first step in the authorization process You ask the Shuffler fm user to authorize you to access data on user s behalf If the user is not logged in he is redirect to a login page Otherwise we ask him for permission</documentation>
      <input message='tns:authorizationCodeRequestMessage' name='authorizationCodeInput' />
      <output message='tns:authorizationCodeResponseMessage' name='authorizationCodeOutput' />
    </operation>
  </portType>
  <binding name='shufflerFmAuthorizationBinding' type='tns:shufflerFmAuthorizationPortType'>
    <operation name='accessToken'>
      <soap12:operation soapAction='http://accessToken' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='authorizationCode'>
      <soap12:operation soapAction='http://authorizationCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='shufflerFmAuthorization'>
    <documentation>tHE SHUFFLER FM API ALLOWS ANYONE TO BUILD THEIR OWN PROGRAMS USING SHUFFLER FM DATA BESIDES ACCESSING PUBLIC DATA THE LATEST API V ENABLES YOU TO CREATE PERSONALIZED APPS IT S REST AND SPEAKS JSON OVER HTTPS</documentation>
    <port name='shufflerFmAuthorizationPort' binding='tns:shufflerFmAuthorizationBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://shufflerFmAuthorization' />
    </port>
  </service>
</definitions>