workspace/datasets/mashape_dataset/shufflerfm.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/shufflerFm/' name='shufflerFm' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/shufflerFm/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/shufflerFm/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/shufflerFm/'>
      <xsd:element name='activitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='activitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='activityStreamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='channelkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='position' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='activityStreamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistSSitesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistSSitesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createFavoritesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createFavoritesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createSubscriptionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createSubscriptionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFavoritesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='favoriteid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFavoritesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fastestRisingTracksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFavoriteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='trackid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFavoriteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFavoritesByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='favoriteid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getFavoritesByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getGenreParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='genre' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getGenreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSiteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSiteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSitesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSitesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSitesForGenreParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='genre' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSitesForGenreResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSubscriptionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subscriptionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSubscriptionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSubscriptionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='entityid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSubscriptionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTrackParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTrackResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTrackLocationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTrackLocationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTracksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfArtistsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfArtistsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listOfGenresResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='popularTracksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeSubscriptionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subscriptionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeSubscriptionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='singleArtistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='singleArtistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='activitiesRequestMessage'>
    <part name='parameters' element='tns:activitiesParameters' />
  </message>
  <message name='activitiesResponseMessage'>
    <part name='response' element='tns:activitiesResponse' />
  </message>
  <message name='activityStreamRequestMessage'>
    <part name='parameters' element='tns:activityStreamParameters' />
  </message>
  <message name='activityStreamResponseMessage'>
    <part name='response' element='tns:activityStreamResponse' />
  </message>
  <message name='artistSSitesRequestMessage'>
    <part name='parameters' element='tns:artistSSitesParameters' />
  </message>
  <message name='artistSSitesResponseMessage'>
    <part name='response' element='tns:artistSSitesResponse' />
  </message>
  <message name='createFavoritesRequestMessage'>
    <part name='parameters' element='tns:createFavoritesParameters' />
  </message>
  <message name='createFavoritesResponseMessage'>
    <part name='response' element='tns:createFavoritesResponse' />
  </message>
  <message name='createSubscriptionRequestMessage'>
    <part name='parameters' element='tns:createSubscriptionParameters' />
  </message>
  <message name='createSubscriptionResponseMessage'>
    <part name='response' element='tns:createSubscriptionResponse' />
  </message>
  <message name='deleteFavoritesRequestMessage'>
    <part name='parameters' element='tns:deleteFavoritesParameters' />
  </message>
  <message name='deleteFavoritesResponseMessage'>
    <part name='response' element='tns:deleteFavoritesResponse' />
  </message>
  <message name='fastestRisingTracksRequestMessage' />
  <message name='fastestRisingTracksResponseMessage'>
    <part name='response' element='tns:fastestRisingTracksResponse' />
  </message>
  <message name='getFavoriteRequestMessage'>
    <part name='parameters' element='tns:getFavoriteParameters' />
  </message>
  <message name='getFavoriteResponseMessage'>
    <part name='response' element='tns:getFavoriteResponse' />
  </message>
  <message name='getFavoritesByIdRequestMessage'>
    <part name='parameters' element='tns:getFavoritesByIdParameters' />
  </message>
  <message name='getFavoritesByIdResponseMessage'>
    <part name='response' element='tns:getFavoritesByIdResponse' />
  </message>
  <message name='getGenreRequestMessage'>
    <part name='parameters' element='tns:getGenreParameters' />
  </message>
  <message name='getGenreResponseMessage'>
    <part name='response' element='tns:getGenreResponse' />
  </message>
  <message name='getSiteRequestMessage'>
    <part name='parameters' element='tns:getSiteParameters' />
  </message>
  <message name='getSiteResponseMessage'>
    <part name='response' element='tns:getSiteResponse' />
  </message>
  <message name='getSitesRequestMessage'>
    <part name='parameters' element='tns:getSitesParameters' />
  </message>
  <message name='getSitesResponseMessage'>
    <part name='response' element='tns:getSitesResponse' />
  </message>
  <message name='getSitesForGenreRequestMessage'>
    <part name='parameters' element='tns:getSitesForGenreParameters' />
  </message>
  <message name='getSitesForGenreResponseMessage'>
    <part name='response' element='tns:getSitesForGenreResponse' />
  </message>
  <message name='getSubscriptionRequestMessage'>
    <part name='parameters' element='tns:getSubscriptionParameters' />
  </message>
  <message name='getSubscriptionResponseMessage'>
    <part name='response' element='tns:getSubscriptionResponse' />
  </message>
  <message name='getSubscriptionsRequestMessage'>
    <part name='parameters' element='tns:getSubscriptionsParameters' />
  </message>
  <message name='getSubscriptionsResponseMessage'>
    <part name='response' element='tns:getSubscriptionsResponse' />
  </message>
  <message name='getTrackRequestMessage'>
    <part name='parameters' element='tns:getTrackParameters' />
  </message>
  <message name='getTrackResponseMessage'>
    <part name='response' element='tns:getTrackResponse' />
  </message>
  <message name='getTrackLocationRequestMessage'>
    <part name='parameters' element='tns:getTrackLocationParameters' />
  </message>
  <message name='getTrackLocationResponseMessage'>
    <part name='response' element='tns:getTrackLocationResponse' />
  </message>
  <message name='getTracksRequestMessage' />
  <message name='getTracksResponseMessage'>
    <part name='response' element='tns:getTracksResponse' />
  </message>
  <message name='getUserRequestMessage'>
    <part name='parameters' element='tns:getUserParameters' />
  </message>
  <message name='getUserResponseMessage'>
    <part name='response' element='tns:getUserResponse' />
  </message>
  <message name='listOfArtistsRequestMessage'>
    <part name='parameters' element='tns:listOfArtistsParameters' />
  </message>
  <message name='listOfArtistsResponseMessage'>
    <part name='response' element='tns:listOfArtistsResponse' />
  </message>
  <message name='listOfGenresRequestMessage' />
  <message name='listOfGenresResponseMessage'>
    <part name='response' element='tns:listOfGenresResponse' />
  </message>
  <message name='popularTracksRequestMessage' />
  <message name='popularTracksResponseMessage'>
    <part name='response' element='tns:popularTracksResponse' />
  </message>
  <message name='removeSubscriptionRequestMessage'>
    <part name='parameters' element='tns:removeSubscriptionParameters' />
  </message>
  <message name='removeSubscriptionResponseMessage'>
    <part name='response' element='tns:removeSubscriptionResponse' />
  </message>
  <message name='singleArtistRequestMessage'>
    <part name='parameters' element='tns:singleArtistParameters' />
  </message>
  <message name='singleArtistResponseMessage'>
    <part name='response' element='tns:singleArtistResponse' />
  </message>
  <portType name='shufflerFmPortType'>
    <operation name='activities'>
      <documentation>using this request you can fetch single activities by ID This ID is the one that is given in the responses</documentation>
      <input message='tns:activitiesRequestMessage' name='activitiesInput' />
      <output message='tns:activitiesResponseMessage' name='activitiesOutput' />
    </operation>
    <operation name='activityStream'>
      <documentation>channel responses follow the Activity Streams JSON specification http activitystrea ms specs json In its simplest form an activity consists of an actor a verb an object and a target on genre channels the actor is site the verb is post the object is track and the target is implicit on site channels the actor will always be the same List of channel keys Genre channels channels idm channels uk garage Media channels MP tracks channels media mp YouTube tracks channels media youtube Vimeo tracks channels media vimeo SoundCloud tracks channels media soundcloud Official fm tracks channels media officialfm Site channels channels site Artist channels channels artist</documentation>
      <input message='tns:activityStreamRequestMessage' name='activityStreamInput' />
      <output message='tns:activityStreamResponseMessage' name='activityStreamOutput' />
    </operation>
    <operation name='artistSSites'>
      <documentation>get the top sites for an artist</documentation>
      <input message='tns:artistSSitesRequestMessage' name='artistSSitesInput' />
      <output message='tns:artistSSitesResponseMessage' name='artistSSitesOutput' />
    </operation>
    <operation name='createFavorites'>
      <documentation>create a favorite</documentation>
      <input message='tns:createFavoritesRequestMessage' name='createFavoritesInput' />
      <output message='tns:createFavoritesResponseMessage' name='createFavoritesOutput' />
    </operation>
    <operation name='createSubscription'>
      <documentation></documentation>
      <input message='tns:createSubscriptionRequestMessage' name='createSubscriptionInput' />
      <output message='tns:createSubscriptionResponseMessage' name='createSubscriptionOutput' />
    </operation>
    <operation name='deleteFavorites'>
      <documentation>delete a favorite on Shuffler fm</documentation>
      <input message='tns:deleteFavoritesRequestMessage' name='deleteFavoritesInput' />
      <output message='tns:deleteFavoritesResponseMessage' name='deleteFavoritesOutput' />
    </operation>
    <operation name='fastestRisingTracks'>
      <documentation>this request gives you the tracks that were recently added to the popular list</documentation>
      <input message='tns:fastestRisingTracksRequestMessage' name='fastestRisingTracksInput' />
      <output message='tns:fastestRisingTracksResponseMessage' name='fastestRisingTracksOutput' />
    </operation>
    <operation name='getFavorite'>
      <documentation>you can use this request to check if a track is a user s favorite yet If so we tell you the favorite s ID if not you get an empty list</documentation>
      <input message='tns:getFavoriteRequestMessage' name='getFavoriteInput' />
      <output message='tns:getFavoriteResponseMessage' name='getFavoriteOutput' />
    </operation>
    <operation name='getFavoritesById'>
      <documentation></documentation>
      <input message='tns:getFavoritesByIdRequestMessage' name='getFavoritesByIdInput' />
      <output message='tns:getFavoritesByIdResponseMessage' name='getFavoritesByIdOutput' />
    </operation>
    <operation name='getGenre'>
      <documentation>get info about a genre</documentation>
      <input message='tns:getGenreRequestMessage' name='getGenreInput' />
      <output message='tns:getGenreResponseMessage' name='getGenreOutput' />
    </operation>
    <operation name='getSite'>
      <documentation>get individual site</documentation>
      <input message='tns:getSiteRequestMessage' name='getSiteInput' />
      <output message='tns:getSiteResponseMessage' name='getSiteOutput' />
    </operation>
    <operation name='getSites'>
      <documentation></documentation>
      <input message='tns:getSitesRequestMessage' name='getSitesInput' />
      <output message='tns:getSitesResponseMessage' name='getSitesOutput' />
    </operation>
    <operation name='getSitesForGenre'>
      <documentation></documentation>
      <input message='tns:getSitesForGenreRequestMessage' name='getSitesForGenreInput' />
      <output message='tns:getSitesForGenreResponseMessage' name='getSitesForGenreOutput' />
    </operation>
    <operation name='getSubscription'>
      <documentation></documentation>
      <input message='tns:getSubscriptionRequestMessage' name='getSubscriptionInput' />
      <output message='tns:getSubscriptionResponseMessage' name='getSubscriptionOutput' />
    </operation>
    <operation name='getSubscriptions'>
      <documentation></documentation>
      <input message='tns:getSubscriptionsRequestMessage' name='getSubscriptionsInput' />
      <output message='tns:getSubscriptionsResponseMessage' name='getSubscriptionsOutput' />
    </operation>
    <operation name='getTrack'>
      <documentation></documentation>
      <input message='tns:getTrackRequestMessage' name='getTrackInput' />
      <output message='tns:getTrackResponseMessage' name='getTrackOutput' />
    </operation>
    <operation name='getTrackLocation'>
      <documentation>get a redirect to the track s streaming URL This is only possible if the track is an MP and you have streaming access For more info on getting streaming access see Streaming URLs</documentation>
      <input message='tns:getTrackLocationRequestMessage' name='getTrackLocationInput' />
      <output message='tns:getTrackLocationResponseMessage' name='getTrackLocationOutput' />
    </operation>
    <operation name='getTracks'>
      <documentation>list tracks on Shuffler fm</documentation>
      <input message='tns:getTracksRequestMessage' name='getTracksInput' />
      <output message='tns:getTracksResponseMessage' name='getTracksOutput' />
    </operation>
    <operation name='getUser'>
      <documentation></documentation>
      <input message='tns:getUserRequestMessage' name='getUserInput' />
      <output message='tns:getUserResponseMessage' name='getUserOutput' />
    </operation>
    <operation name='listOfArtists'>
      <documentation>list all artists on Shuffler fm</documentation>
      <input message='tns:listOfArtistsRequestMessage' name='listOfArtistsInput' />
      <output message='tns:listOfArtistsResponseMessage' name='listOfArtistsOutput' />
    </operation>
    <operation name='listOfGenres'>
      <documentation></documentation>
      <input message='tns:listOfGenresRequestMessage' name='listOfGenresInput' />
      <output message='tns:listOfGenresResponseMessage' name='listOfGenresOutput' />
    </operation>
    <operation name='popularTracks'>
      <documentation>returns a list of track objects with chart data</documentation>
      <input message='tns:popularTracksRequestMessage' name='popularTracksInput' />
      <output message='tns:popularTracksResponseMessage' name='popularTracksOutput' />
    </operation>
    <operation name='removeSubscription'>
      <documentation></documentation>
      <input message='tns:removeSubscriptionRequestMessage' name='removeSubscriptionInput' />
      <output message='tns:removeSubscriptionResponseMessage' name='removeSubscriptionOutput' />
    </operation>
    <operation name='singleArtist'>
      <documentation>fetch a single artist by ID on Shuffler fm</documentation>
      <input message='tns:singleArtistRequestMessage' name='singleArtistInput' />
      <output message='tns:singleArtistResponseMessage' name='singleArtistOutput' />
    </operation>
  </portType>
  <binding name='shufflerFmBinding' type='tns:shufflerFmPortType'>
    <operation name='activities'>
      <soap12:operation soapAction='http://activities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='activityStream'>
      <soap12:operation soapAction='http://activityStream' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='artistSSites'>
      <soap12:operation soapAction='http://artistSSites' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createFavorites'>
      <soap12:operation soapAction='http://createFavorites' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createSubscription'>
      <soap12:operation soapAction='http://createSubscription' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteFavorites'>
      <soap12:operation soapAction='http://deleteFavorites' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fastestRisingTracks'>
      <soap12:operation soapAction='http://fastestRisingTracks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getFavorite'>
      <soap12:operation soapAction='http://getFavorite' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getFavoritesById'>
      <soap12:operation soapAction='http://getFavoritesById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getGenre'>
      <soap12:operation soapAction='http://getGenre' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSite'>
      <soap12:operation soapAction='http://getSite' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSites'>
      <soap12:operation soapAction='http://getSites' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSitesForGenre'>
      <soap12:operation soapAction='http://getSitesForGenre' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSubscription'>
      <soap12:operation soapAction='http://getSubscription' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSubscriptions'>
      <soap12:operation soapAction='http://getSubscriptions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTrack'>
      <soap12:operation soapAction='http://getTrack' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTrackLocation'>
      <soap12:operation soapAction='http://getTrackLocation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTracks'>
      <soap12:operation soapAction='http://getTracks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUser'>
      <soap12:operation soapAction='http://getUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listOfArtists'>
      <soap12:operation soapAction='http://listOfArtists' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listOfGenres'>
      <soap12:operation soapAction='http://listOfGenres' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='popularTracks'>
      <soap12:operation soapAction='http://popularTracks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeSubscription'>
      <soap12:operation soapAction='http://removeSubscription' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='singleArtist'>
      <soap12:operation soapAction='http://singleArtist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='shufflerFm'>
    <documentation>tHE SHUFFLER FM API ALLOWS ANYONE TO BUILD THEIR OWN PROGRAMS USING SHUFFLER FM DATA BESIDES ACCESSING PUBLIC DATA THE LATEST API V ENABLES YOU TO CREATE PERSONALIZED APPS IT S REST AND SPEAKS JSON OVER HTTPS</documentation>
    <port name='shufflerFmPort' binding='tns:shufflerFmBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://shufflerFm' />
    </port>
  </service>
</definitions>