workspace/datasets/mashape_dataset/sierratradingpost.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/sierraTradingPost/' name='sierraTradingPost' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/sierraTradingPost/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/sierraTradingPost/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/sierraTradingPost/'>
      <xsd:element name='brandDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brandDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Reviews' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='AverageRating' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='ReviewCount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ReviewsUrl' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ProductsUrl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ProductCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='SortNames' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='LogoSrc' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brandReviewParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brandReviewResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='PerPage' type='xsd:int' minOccurs='0' />
            <xsd:element name='LastPageUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Page' type='xsd:int' minOccurs='0' />
            <xsd:element name='NextPageUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Count' type='xsd:int' minOccurs='0' />
            <xsd:element name='Result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ProductWebUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='Rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='RatingDescription' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='SubmissionDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ProductDetailsUrl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brandsListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='brandsListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='PerPage' type='xsd:int' minOccurs='0' />
            <xsd:element name='LastPageUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Page' type='xsd:int' minOccurs='0' />
            <xsd:element name='NextPageUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Count' type='xsd:int' minOccurs='0' />
            <xsd:element name='Result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Reviews' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='AverageRating' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='ReviewCount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ReviewsUrl' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='ProductsUrl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='SortNames' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='LogoSrc' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deptDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deptDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deptListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deptListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Images' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='PrimarySmall' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='PrimaryLarge' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='ExtraImages' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Src' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='Title' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='PrimaryMedium' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='PrimaryExtraLarge' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='WebUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='DescriptionHtmlComplete' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ListPrice' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SizesAvailable' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='CHEST' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='LENGTH' type='xsd:normalizedString' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='DescriptionHtmlSimple' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Brand' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ProductsUrl' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='Id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='LogoSrc' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Skus' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='BackOrdered' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='ShipFromStoreMessage' type='xsd:string' minOccurs='0' />
                        <xsd:element name='Attributes' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Category' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='CategoryValueDescription' type='xsd:string' minOccurs='0' />
                              <xsd:element name='CategoryValue' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='Id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='ListPrice' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='ColorCode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='QuantityAvailable' type='xsd:int' minOccurs='0' />
                        <xsd:element name='QuantityAvailableByLocation' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n1' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='Backorder' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='ShipFromStore' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='Available' type='xsd:int' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='FinalPrice' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Reviews' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='AverageRating' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='ReviewCount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ReviewsUrl' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Colors' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ColorChipImageSrc' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='ColorCode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ColorPreviewImageSrc' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='ColorName' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='BrandDetailsUrl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='AffiliateWebUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='SuggestedRetailPrice' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='FinalPrice' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='PerPage' type='xsd:int' minOccurs='0' />
            <xsd:element name='RefinementsUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='LastPageUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Page' type='xsd:int' minOccurs='0' />
            <xsd:element name='NextPageUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Count' type='xsd:int' minOccurs='0' />
            <xsd:element name='Result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Images' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='PrimarySmall' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='PrimaryLarge' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='ExtraImages' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Src' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='Title' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='PrimaryMedium' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='PrimaryExtraLarge' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='WebUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='ListPrice' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SizesAvailable' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='CHEST' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='LENGTH' type='xsd:normalizedString' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='DescriptionHtmlSimple' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Brand' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ProductsUrl' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='Id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='LogoSrc' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Reviews' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='AverageRating' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='ReviewCount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ReviewsUrl' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Colors' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ColorChipImageSrc' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='ColorCode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ColorPreviewImageSrc' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='ColorName' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='AffiliateWebUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='SuggestedRetailPrice' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='FinalPrice' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productReviewsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productReviewsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='PerPage' type='xsd:int' minOccurs='0' />
            <xsd:element name='LastPageUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Page' type='xsd:int' minOccurs='0' />
            <xsd:element name='NextPageUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Count' type='xsd:int' minOccurs='0' />
            <xsd:element name='Result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ProductWebUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='Rating' type='xsd:int' minOccurs='0' />
                  <xsd:element name='RatingDescription' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='SubmissionDate' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ProductDetailsUrl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='searchterm' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='productSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='PerPage' type='xsd:int' minOccurs='0' />
            <xsd:element name='RefinementsUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='LastPageUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Page' type='xsd:int' minOccurs='0' />
            <xsd:element name='NextPageUrl' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Count' type='xsd:int' minOccurs='0' />
            <xsd:element name='Result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Images' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='PrimarySmall' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='PrimaryLarge' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='ExtraImages' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Src' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='Title' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='PrimaryMedium' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='PrimaryExtraLarge' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='WebUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='ListPrice' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SizesAvailable' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='INSEAM' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='WAIST' type='xsd:int' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='DescriptionHtmlSimple' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Brand' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ProductsUrl' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='Id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='LogoSrc' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Reviews' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='AverageRating' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='ReviewCount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ReviewsUrl' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Colors' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='ColorChipImageSrc' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='ColorCode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='ColorPreviewImageSrc' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='ColorName' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='AffiliateWebUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='SuggestedRetailPrice' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='FinalPrice' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reviewDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reviewDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='brandDetailsRequestMessage'>
    <part name='parameters' element='tns:brandDetailsParameters' />
  </message>
  <message name='brandDetailsResponseMessage'>
    <part name='response' element='tns:brandDetailsResponse' />
  </message>
  <message name='brandReviewRequestMessage'>
    <part name='parameters' element='tns:brandReviewParameters' />
  </message>
  <message name='brandReviewResponseMessage'>
    <part name='response' element='tns:brandReviewResponse' />
  </message>
  <message name='brandsListRequestMessage'>
    <part name='parameters' element='tns:brandsListParameters' />
  </message>
  <message name='brandsListResponseMessage'>
    <part name='response' element='tns:brandsListResponse' />
  </message>
  <message name='deptDetailsRequestMessage'>
    <part name='parameters' element='tns:deptDetailsParameters' />
  </message>
  <message name='deptDetailsResponseMessage'>
    <part name='response' element='tns:deptDetailsResponse' />
  </message>
  <message name='deptListRequestMessage'>
    <part name='parameters' element='tns:deptListParameters' />
  </message>
  <message name='deptListResponseMessage'>
    <part name='response' element='tns:deptListResponse' />
  </message>
  <message name='productDetailsRequestMessage'>
    <part name='parameters' element='tns:productDetailsParameters' />
  </message>
  <message name='productDetailsResponseMessage'>
    <part name='response' element='tns:productDetailsResponse' />
  </message>
  <message name='productListRequestMessage'>
    <part name='parameters' element='tns:productListParameters' />
  </message>
  <message name='productListResponseMessage'>
    <part name='response' element='tns:productListResponse' />
  </message>
  <message name='productReviewsRequestMessage'>
    <part name='parameters' element='tns:productReviewsParameters' />
  </message>
  <message name='productReviewsResponseMessage'>
    <part name='response' element='tns:productReviewsResponse' />
  </message>
  <message name='productSearchRequestMessage'>
    <part name='parameters' element='tns:productSearchParameters' />
  </message>
  <message name='productSearchResponseMessage'>
    <part name='response' element='tns:productSearchResponse' />
  </message>
  <message name='reviewDetailsRequestMessage'>
    <part name='parameters' element='tns:reviewDetailsParameters' />
  </message>
  <message name='reviewDetailsResponseMessage'>
    <part name='response' element='tns:reviewDetailsResponse' />
  </message>
  <portType name='sierraTradingPostPortType'>
    <operation name='brandDetails'>
      <documentation>individual brand details</documentation>
      <input message='tns:brandDetailsRequestMessage' name='brandDetailsInput' />
      <output message='tns:brandDetailsResponseMessage' name='brandDetailsOutput' />
    </operation>
    <operation name='brandReview'>
      <documentation>brand reviews</documentation>
      <input message='tns:brandReviewRequestMessage' name='brandReviewInput' />
      <output message='tns:brandReviewResponseMessage' name='brandReviewOutput' />
    </operation>
    <operation name='brandsList'>
      <documentation>listing of all brands</documentation>
      <input message='tns:brandsListRequestMessage' name='brandsListInput' />
      <output message='tns:brandsListResponseMessage' name='brandsListOutput' />
    </operation>
    <operation name='deptDetails'>
      <documentation>individual department detail</documentation>
      <input message='tns:deptDetailsRequestMessage' name='deptDetailsInput' />
      <output message='tns:deptDetailsResponseMessage' name='deptDetailsOutput' />
    </operation>
    <operation name='deptList'>
      <documentation>listing of all departments starting at the root level then decends to its children</documentation>
      <input message='tns:deptListRequestMessage' name='deptListInput' />
      <output message='tns:deptListResponseMessage' name='deptListOutput' />
    </operation>
    <operation name='productDetails'>
      <documentation>individual product details</documentation>
      <input message='tns:productDetailsRequestMessage' name='productDetailsInput' />
      <output message='tns:productDetailsResponseMessage' name='productDetailsOutput' />
    </operation>
    <operation name='productList'>
      <documentation>listing of all products default to items per page</documentation>
      <input message='tns:productListRequestMessage' name='productListInput' />
      <output message='tns:productListResponseMessage' name='productListOutput' />
    </operation>
    <operation name='productReviews'>
      <documentation>individual product reviews</documentation>
      <input message='tns:productReviewsRequestMessage' name='productReviewsInput' />
      <output message='tns:productReviewsResponseMessage' name='productReviewsOutput' />
    </operation>
    <operation name='productSearch'>
      <documentation>returns product listing for a given search term</documentation>
      <input message='tns:productSearchRequestMessage' name='productSearchInput' />
      <output message='tns:productSearchResponseMessage' name='productSearchOutput' />
    </operation>
    <operation name='reviewDetails'>
      <documentation>individual review details</documentation>
      <input message='tns:reviewDetailsRequestMessage' name='reviewDetailsInput' />
      <output message='tns:reviewDetailsResponseMessage' name='reviewDetailsOutput' />
    </operation>
  </portType>
  <binding name='sierraTradingPostBinding' type='tns:sierraTradingPostPortType'>
    <operation name='brandDetails'>
      <soap12:operation soapAction='http://brandDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='brandReview'>
      <soap12:operation soapAction='http://brandReview' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='brandsList'>
      <soap12:operation soapAction='http://brandsList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deptDetails'>
      <soap12:operation soapAction='http://deptDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deptList'>
      <soap12:operation soapAction='http://deptList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productDetails'>
      <soap12:operation soapAction='http://productDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productList'>
      <soap12:operation soapAction='http://productList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productReviews'>
      <soap12:operation soapAction='http://productReviews' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='productSearch'>
      <soap12:operation soapAction='http://productSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reviewDetails'>
      <soap12:operation soapAction='http://reviewDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='sierraTradingPost'>
    <documentation>save up to Every Day on Great Brands like Carhartt Columbia New Balance and more Great Deals on hiking boots cycling gear sporting goods</documentation>
    <port name='sierraTradingPostPort' binding='tns:sierraTradingPostBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://sierraTradingPost' />
    </port>
  </service>
</definitions>