workspace/datasets/mashape_dataset/signnow.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/signnow/' name='signnow' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/signnow/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/signnow/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/signnow/'>
      <xsd:element name='createANotaryInviteToSignADocumentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAnInviteToSignADocumentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAnInviteToSignADocumentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadACollapsedDocumentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadACollapsedDocumentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='requestAnAccessTokenForAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveADocumentResourceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveADocumentResourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAListOfTheUserSDocumentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAUserResourceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadsAFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verifyAnAccessTokenForAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createANotaryInviteToSignADocumentRequestMessage' />
  <message name='createANotaryInviteToSignADocumentResponseMessage'>
    <part name='response' element='tns:createANotaryInviteToSignADocumentResponse' />
  </message>
  <message name='createAUserRequestMessage' />
  <message name='createAUserResponseMessage'>
    <part name='response' element='tns:createAUserResponse' />
  </message>
  <message name='createAnInviteToSignADocumentRequestMessage'>
    <part name='parameters' element='tns:createAnInviteToSignADocumentParameters' />
  </message>
  <message name='createAnInviteToSignADocumentResponseMessage'>
    <part name='response' element='tns:createAnInviteToSignADocumentResponse' />
  </message>
  <message name='downloadACollapsedDocumentRequestMessage'>
    <part name='parameters' element='tns:downloadACollapsedDocumentParameters' />
  </message>
  <message name='downloadACollapsedDocumentResponseMessage'>
    <part name='response' element='tns:downloadACollapsedDocumentResponse' />
  </message>
  <message name='requestAnAccessTokenForAUserRequestMessage' />
  <message name='requestAnAccessTokenForAUserResponseMessage'>
    <part name='response' element='tns:requestAnAccessTokenForAUserResponse' />
  </message>
  <message name='retrieveADocumentResourceRequestMessage'>
    <part name='parameters' element='tns:retrieveADocumentResourceParameters' />
  </message>
  <message name='retrieveADocumentResourceResponseMessage'>
    <part name='response' element='tns:retrieveADocumentResourceResponse' />
  </message>
  <message name='retrieveAListOfTheUserSDocumentsRequestMessage' />
  <message name='retrieveAListOfTheUserSDocumentsResponseMessage'>
    <part name='response' element='tns:retrieveAListOfTheUserSDocumentsResponse' />
  </message>
  <message name='retrieveAUserResourceRequestMessage' />
  <message name='retrieveAUserResourceResponseMessage'>
    <part name='response' element='tns:retrieveAUserResourceResponse' />
  </message>
  <message name='uploadsAFileRequestMessage' />
  <message name='uploadsAFileResponseMessage'>
    <part name='response' element='tns:uploadsAFileResponse' />
  </message>
  <message name='verifyAnAccessTokenForAUserRequestMessage' />
  <message name='verifyAnAccessTokenForAUserResponseMessage'>
    <part name='response' element='tns:verifyAnAccessTokenForAUserResponse' />
  </message>
  <portType name='signnowPortType'>
    <operation name='createANotaryInviteToSignADocument'>
      <documentation></documentation>
      <input message='tns:createANotaryInviteToSignADocumentRequestMessage' name='createANotaryInviteToSignADocumentInput' />
      <output message='tns:createANotaryInviteToSignADocumentResponseMessage' name='createANotaryInviteToSignADocumentOutput' />
    </operation>
    <operation name='createAUser'>
      <documentation></documentation>
      <input message='tns:createAUserRequestMessage' name='createAUserInput' />
      <output message='tns:createAUserResponseMessage' name='createAUserOutput' />
    </operation>
    <operation name='createAnInviteToSignADocument'>
      <documentation></documentation>
      <input message='tns:createAnInviteToSignADocumentRequestMessage' name='createAnInviteToSignADocumentInput' />
      <output message='tns:createAnInviteToSignADocumentResponseMessage' name='createAnInviteToSignADocumentOutput' />
    </operation>
    <operation name='downloadACollapsedDocument'>
      <documentation></documentation>
      <input message='tns:downloadACollapsedDocumentRequestMessage' name='downloadACollapsedDocumentInput' />
      <output message='tns:downloadACollapsedDocumentResponseMessage' name='downloadACollapsedDocumentOutput' />
    </operation>
    <operation name='requestAnAccessTokenForAUser'>
      <documentation></documentation>
      <input message='tns:requestAnAccessTokenForAUserRequestMessage' name='requestAnAccessTokenForAUserInput' />
      <output message='tns:requestAnAccessTokenForAUserResponseMessage' name='requestAnAccessTokenForAUserOutput' />
    </operation>
    <operation name='retrieveADocumentResource'>
      <documentation></documentation>
      <input message='tns:retrieveADocumentResourceRequestMessage' name='retrieveADocumentResourceInput' />
      <output message='tns:retrieveADocumentResourceResponseMessage' name='retrieveADocumentResourceOutput' />
    </operation>
    <operation name='retrieveAListOfTheUserSDocuments'>
      <documentation></documentation>
      <input message='tns:retrieveAListOfTheUserSDocumentsRequestMessage' name='retrieveAListOfTheUserSDocumentsInput' />
      <output message='tns:retrieveAListOfTheUserSDocumentsResponseMessage' name='retrieveAListOfTheUserSDocumentsOutput' />
    </operation>
    <operation name='retrieveAUserResource'>
      <documentation></documentation>
      <input message='tns:retrieveAUserResourceRequestMessage' name='retrieveAUserResourceInput' />
      <output message='tns:retrieveAUserResourceResponseMessage' name='retrieveAUserResourceOutput' />
    </operation>
    <operation name='uploadsAFile'>
      <documentation></documentation>
      <input message='tns:uploadsAFileRequestMessage' name='uploadsAFileInput' />
      <output message='tns:uploadsAFileResponseMessage' name='uploadsAFileOutput' />
    </operation>
    <operation name='verifyAnAccessTokenForAUser'>
      <documentation></documentation>
      <input message='tns:verifyAnAccessTokenForAUserRequestMessage' name='verifyAnAccessTokenForAUserInput' />
      <output message='tns:verifyAnAccessTokenForAUserResponseMessage' name='verifyAnAccessTokenForAUserOutput' />
    </operation>
  </portType>
  <binding name='signnowBinding' type='tns:signnowPortType'>
    <operation name='createANotaryInviteToSignADocument'>
      <soap12:operation soapAction='http://createANotaryInviteToSignADocument' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAUser'>
      <soap12:operation soapAction='http://createAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAnInviteToSignADocument'>
      <soap12:operation soapAction='http://createAnInviteToSignADocument' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='downloadACollapsedDocument'>
      <soap12:operation soapAction='http://downloadACollapsedDocument' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='requestAnAccessTokenForAUser'>
      <soap12:operation soapAction='http://requestAnAccessTokenForAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveADocumentResource'>
      <soap12:operation soapAction='http://retrieveADocumentResource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAListOfTheUserSDocuments'>
      <soap12:operation soapAction='http://retrieveAListOfTheUserSDocuments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAUserResource'>
      <soap12:operation soapAction='http://retrieveAUserResource' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='uploadsAFile'>
      <soap12:operation soapAction='http://uploadsAFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='verifyAnAccessTokenForAUser'>
      <soap12:operation soapAction='http://verifyAnAccessTokenForAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='signnow'>
    <documentation>signNow is the easiest way to sign a document anywhere you go You can sign your own documents or invite clients to sign and close contracts faster SignNow is free to use and simple to get started</documentation>
    <port name='signnowPort' binding='tns:signnowBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://signnow' />
    </port>
  </service>
</definitions>