workspace/datasets/mashape_dataset/similarwebv.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/similarwebV/' name='similarwebV' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/similarwebV/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/similarwebV/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/similarwebV/'>
      <xsd:element name='adultWebsitesApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='adultWebsitesApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Category' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='alsoVisitedApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='alsoVisitedApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='AlsoVisited' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoryRankApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoryRankApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Category' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='CategoryRank' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='destinationsApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='destinationsApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='StartDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='EndDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Sites' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='engagementApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='engagementApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='AverageTimeOnSite' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='BounceRate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='AveragePageViews' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Date' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='estimatedVisitsApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='estimatedVisitsApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='EstimatedVisitors' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='keywordsApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='keywordsApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='StartDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='PaidSearchShare' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='TopPaidTerms' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='OrganicSearchShare' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='EndDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='TopOrganicTerms' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='referralsApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='referralsApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='StartDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='EndDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Sites' type='xsd:normalizedString' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='similarWebsitesApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='similarWebsitesApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='SimilarSites' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Url' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='socialReferralsApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='socialReferralsApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='StartDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='EndDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SocialSources' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Value' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Source' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trafficApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trafficApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='CountryRank' type='xsd:int' minOccurs='0' />
            <xsd:element name='TopCountryShares' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='TrafficShare' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CountryCode' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='TrafficReach' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Value' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Date' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='TrafficShares' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='SourceValue' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='SourceType' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='CountryCode' type='xsd:int' minOccurs='0' />
            <xsd:element name='GlobalRank' type='xsd:int' minOccurs='0' />
            <xsd:element name='Date' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='websiteCategorizationApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='websiteCategorizationApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Category' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='websiteTagsApiParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='websiteTagsApiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Tags' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='adultWebsitesApiRequestMessage'>
    <part name='parameters' element='tns:adultWebsitesApiParameters' />
  </message>
  <message name='adultWebsitesApiResponseMessage'>
    <part name='response' element='tns:adultWebsitesApiResponse' />
  </message>
  <message name='alsoVisitedApiRequestMessage'>
    <part name='parameters' element='tns:alsoVisitedApiParameters' />
  </message>
  <message name='alsoVisitedApiResponseMessage'>
    <part name='response' element='tns:alsoVisitedApiResponse' />
  </message>
  <message name='categoryRankApiRequestMessage'>
    <part name='parameters' element='tns:categoryRankApiParameters' />
  </message>
  <message name='categoryRankApiResponseMessage'>
    <part name='response' element='tns:categoryRankApiResponse' />
  </message>
  <message name='destinationsApiRequestMessage'>
    <part name='parameters' element='tns:destinationsApiParameters' />
  </message>
  <message name='destinationsApiResponseMessage'>
    <part name='response' element='tns:destinationsApiResponse' />
  </message>
  <message name='engagementApiRequestMessage'>
    <part name='parameters' element='tns:engagementApiParameters' />
  </message>
  <message name='engagementApiResponseMessage'>
    <part name='response' element='tns:engagementApiResponse' />
  </message>
  <message name='estimatedVisitsApiRequestMessage'>
    <part name='parameters' element='tns:estimatedVisitsApiParameters' />
  </message>
  <message name='estimatedVisitsApiResponseMessage'>
    <part name='response' element='tns:estimatedVisitsApiResponse' />
  </message>
  <message name='keywordsApiRequestMessage'>
    <part name='parameters' element='tns:keywordsApiParameters' />
  </message>
  <message name='keywordsApiResponseMessage'>
    <part name='response' element='tns:keywordsApiResponse' />
  </message>
  <message name='referralsApiRequestMessage'>
    <part name='parameters' element='tns:referralsApiParameters' />
  </message>
  <message name='referralsApiResponseMessage'>
    <part name='response' element='tns:referralsApiResponse' />
  </message>
  <message name='similarWebsitesApiRequestMessage'>
    <part name='parameters' element='tns:similarWebsitesApiParameters' />
  </message>
  <message name='similarWebsitesApiResponseMessage'>
    <part name='response' element='tns:similarWebsitesApiResponse' />
  </message>
  <message name='socialReferralsApiRequestMessage'>
    <part name='parameters' element='tns:socialReferralsApiParameters' />
  </message>
  <message name='socialReferralsApiResponseMessage'>
    <part name='response' element='tns:socialReferralsApiResponse' />
  </message>
  <message name='trafficApiRequestMessage'>
    <part name='parameters' element='tns:trafficApiParameters' />
  </message>
  <message name='trafficApiResponseMessage'>
    <part name='response' element='tns:trafficApiResponse' />
  </message>
  <message name='websiteCategorizationApiRequestMessage'>
    <part name='parameters' element='tns:websiteCategorizationApiParameters' />
  </message>
  <message name='websiteCategorizationApiResponseMessage'>
    <part name='response' element='tns:websiteCategorizationApiResponse' />
  </message>
  <message name='websiteTagsApiRequestMessage'>
    <part name='parameters' element='tns:websiteTagsApiParameters' />
  </message>
  <message name='websiteTagsApiResponseMessage'>
    <part name='response' element='tns:websiteTagsApiResponse' />
  </message>
  <portType name='similarwebVPortType'>
    <operation name='adultWebsitesApi'>
      <documentation></documentation>
      <input message='tns:adultWebsitesApiRequestMessage' name='adultWebsitesApiInput' />
      <output message='tns:adultWebsitesApiResponseMessage' name='adultWebsitesApiOutput' />
    </operation>
    <operation name='alsoVisitedApi'>
      <documentation></documentation>
      <input message='tns:alsoVisitedApiRequestMessage' name='alsoVisitedApiInput' />
      <output message='tns:alsoVisitedApiResponseMessage' name='alsoVisitedApiOutput' />
    </operation>
    <operation name='categoryRankApi'>
      <documentation></documentation>
      <input message='tns:categoryRankApiRequestMessage' name='categoryRankApiInput' />
      <output message='tns:categoryRankApiResponseMessage' name='categoryRankApiOutput' />
    </operation>
    <operation name='destinationsApi'>
      <documentation></documentation>
      <input message='tns:destinationsApiRequestMessage' name='destinationsApiInput' />
      <output message='tns:destinationsApiResponseMessage' name='destinationsApiOutput' />
    </operation>
    <operation name='engagementApi'>
      <documentation></documentation>
      <input message='tns:engagementApiRequestMessage' name='engagementApiInput' />
      <output message='tns:engagementApiResponseMessage' name='engagementApiOutput' />
    </operation>
    <operation name='estimatedVisitsApi'>
      <documentation></documentation>
      <input message='tns:estimatedVisitsApiRequestMessage' name='estimatedVisitsApiInput' />
      <output message='tns:estimatedVisitsApiResponseMessage' name='estimatedVisitsApiOutput' />
    </operation>
    <operation name='keywordsApi'>
      <documentation></documentation>
      <input message='tns:keywordsApiRequestMessage' name='keywordsApiInput' />
      <output message='tns:keywordsApiResponseMessage' name='keywordsApiOutput' />
    </operation>
    <operation name='referralsApi'>
      <documentation></documentation>
      <input message='tns:referralsApiRequestMessage' name='referralsApiInput' />
      <output message='tns:referralsApiResponseMessage' name='referralsApiOutput' />
    </operation>
    <operation name='similarWebsitesApi'>
      <documentation></documentation>
      <input message='tns:similarWebsitesApiRequestMessage' name='similarWebsitesApiInput' />
      <output message='tns:similarWebsitesApiResponseMessage' name='similarWebsitesApiOutput' />
    </operation>
    <operation name='socialReferralsApi'>
      <documentation></documentation>
      <input message='tns:socialReferralsApiRequestMessage' name='socialReferralsApiInput' />
      <output message='tns:socialReferralsApiResponseMessage' name='socialReferralsApiOutput' />
    </operation>
    <operation name='trafficApi'>
      <documentation></documentation>
      <input message='tns:trafficApiRequestMessage' name='trafficApiInput' />
      <output message='tns:trafficApiResponseMessage' name='trafficApiOutput' />
    </operation>
    <operation name='websiteCategorizationApi'>
      <documentation></documentation>
      <input message='tns:websiteCategorizationApiRequestMessage' name='websiteCategorizationApiInput' />
      <output message='tns:websiteCategorizationApiResponseMessage' name='websiteCategorizationApiOutput' />
    </operation>
    <operation name='websiteTagsApi'>
      <documentation></documentation>
      <input message='tns:websiteTagsApiRequestMessage' name='websiteTagsApiInput' />
      <output message='tns:websiteTagsApiResponseMessage' name='websiteTagsApiOutput' />
    </operation>
  </portType>
  <binding name='similarwebVBinding' type='tns:similarwebVPortType'>
    <operation name='adultWebsitesApi'>
      <soap12:operation soapAction='http://adultWebsitesApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='alsoVisitedApi'>
      <soap12:operation soapAction='http://alsoVisitedApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categoryRankApi'>
      <soap12:operation soapAction='http://categoryRankApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='destinationsApi'>
      <soap12:operation soapAction='http://destinationsApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='engagementApi'>
      <soap12:operation soapAction='http://engagementApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='estimatedVisitsApi'>
      <soap12:operation soapAction='http://estimatedVisitsApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='keywordsApi'>
      <soap12:operation soapAction='http://keywordsApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='referralsApi'>
      <soap12:operation soapAction='http://referralsApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='similarWebsitesApi'>
      <soap12:operation soapAction='http://similarWebsitesApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='socialReferralsApi'>
      <soap12:operation soapAction='http://socialReferralsApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trafficApi'>
      <soap12:operation soapAction='http://trafficApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='websiteCategorizationApi'>
      <soap12:operation soapAction='http://websiteCategorizationApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='websiteTagsApi'>
      <soap12:operation soapAction='http://websiteTagsApi' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='similarwebV'>
    <documentation>we re a group of developers designers mathematicians data scientists researchers and marketeers that work relentlessly to measure online behavior worldwide and to generate marketing insights Together we are shaping the future of web measurement and competitive intelligence</documentation>
    <port name='similarwebVPort' binding='tns:similarwebVBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://similarwebV' />
    </port>
  </service>
</definitions>