workspace/datasets/mashape_dataset/siri.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/siri/' name='siri' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/siri/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/siri/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/siri/'>
      <xsd:element name='jsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='clientfeatures' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='input' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='locale' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timezone' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='jsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='output' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='entities' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='text' type='xsd:string' minOccurs='0' />
                        <xsd:element name='locale' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='responseTime' type='xsd:int' minOccurs='0' />
                  <xsd:element name='actions' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='say' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='results' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='source' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='info' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='clientFeatures' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='responseTime' type='xsd:int' minOccurs='0' />
                  <xsd:element name='detectedLanguage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='locale' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='login' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='clientTime' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='clientfeatures' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='input' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='out' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='jsonRequestMessage'>
    <part name='parameters' element='tns:jsonParameters' />
  </message>
  <message name='jsonResponseMessage'>
    <part name='response' element='tns:jsonResponse' />
  </message>
  <message name='textRequestMessage'>
    <part name='parameters' element='tns:textParameters' />
  </message>
  <message name='textResponseMessage'>
    <part name='response' element='tns:textResponse' />
  </message>
  <portType name='siriPortType'>
    <operation name='json'>
      <documentation>complex result with text images actions and meta data</documentation>
      <input message='tns:jsonRequestMessage' name='jsonInput' />
      <output message='tns:jsonResponseMessage' name='jsonOutput' />
    </operation>
    <operation name='text'>
      <documentation>text response</documentation>
      <input message='tns:textRequestMessage' name='textInput' />
      <output message='tns:textResponseMessage' name='textOutput' />
    </operation>
  </portType>
  <binding name='siriBinding' type='tns:siriPortType'>
    <operation name='json'>
      <soap12:operation soapAction='http://json' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='text'>
      <soap12:operation soapAction='http://text' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='siri'>
    <documentation>Siri as a service The objective of this service is to provide you and your robot with the smartest answer to any natural language question just like Siri This service provides an interface to the standard functions that users demand of modern voice assistants For example chatting looking up information creating messages and much much more It also provides useful metadata such as sentence analysis and entity extraction that goes beyond simple chatting and voice commands Over million users have already been in contact with this API http www voice actions com Examples https weannie pannous com api input hi login test user For examples and documentation see https ask pannous com input hi</documentation>
    <port name='siriPort' binding='tns:siriBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://siri' />
    </port>
  </service>
</definitions>