workspace/datasets/mashape_dataset/skillslibrary.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/skillsLibrary/' name='skillsLibrary' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/skillsLibrary/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/skillsLibrary/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/skillsLibrary/'>
      <xsd:element name='fetchSkillsViaGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fetchSkillsViaGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='is_searchable' type='xsd:int' minOccurs='0' />
                  <xsd:element name='parent_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_madatory' type='xsd:int' minOccurs='0' />
                  <xsd:element name='synonyms' type='xsd:string' minOccurs='0' />
                  <xsd:element name='display_order' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='value' type='xsd:string' minOccurs='0' />
                  <xsd:element name='scale_type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_child' type='xsd:int' minOccurs='0' />
                  <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fetchSkillsViaPostParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fetchSkillsViaPostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='is_searchable' type='xsd:int' minOccurs='0' />
                  <xsd:element name='parent_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_madatory' type='xsd:int' minOccurs='0' />
                  <xsd:element name='synonyms' type='xsd:string' minOccurs='0' />
                  <xsd:element name='display_order' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='value' type='xsd:string' minOccurs='0' />
                  <xsd:element name='scale_type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_child' type='xsd:int' minOccurs='0' />
                  <xsd:element name='desc' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchSkillViaGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='child' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='term' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchSkillViaGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='is_searchable' type='xsd:int' minOccurs='0' />
                  <xsd:element name='parent_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_madatory' type='xsd:int' minOccurs='0' />
                  <xsd:element name='synonyms' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='display_order' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scale_type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_child' type='xsd:int' minOccurs='0' />
                  <xsd:element name='desc' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchSkillViaPostParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='child' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='pid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='term' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchSkillViaPostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='is_searchable' type='xsd:int' minOccurs='0' />
                  <xsd:element name='parent_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_madatory' type='xsd:int' minOccurs='0' />
                  <xsd:element name='synonyms' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='display_order' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='scale_type' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_child' type='xsd:int' minOccurs='0' />
                  <xsd:element name='desc' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='fetchSkillsViaGetRequestMessage'>
    <part name='parameters' element='tns:fetchSkillsViaGetParameters' />
  </message>
  <message name='fetchSkillsViaGetResponseMessage'>
    <part name='response' element='tns:fetchSkillsViaGetResponse' />
  </message>
  <message name='fetchSkillsViaPostRequestMessage'>
    <part name='parameters' element='tns:fetchSkillsViaPostParameters' />
  </message>
  <message name='fetchSkillsViaPostResponseMessage'>
    <part name='response' element='tns:fetchSkillsViaPostResponse' />
  </message>
  <message name='searchSkillViaGetRequestMessage'>
    <part name='parameters' element='tns:searchSkillViaGetParameters' />
  </message>
  <message name='searchSkillViaGetResponseMessage'>
    <part name='response' element='tns:searchSkillViaGetResponse' />
  </message>
  <message name='searchSkillViaPostRequestMessage'>
    <part name='parameters' element='tns:searchSkillViaPostParameters' />
  </message>
  <message name='searchSkillViaPostResponseMessage'>
    <part name='response' element='tns:searchSkillViaPostResponse' />
  </message>
  <portType name='skillsLibraryPortType'>
    <operation name='fetchSkillsViaGet'>
      <documentation>skills Profile Engine provides a library of skills across functions and industries</documentation>
      <input message='tns:fetchSkillsViaGetRequestMessage' name='fetchSkillsViaGetInput' />
      <output message='tns:fetchSkillsViaGetResponseMessage' name='fetchSkillsViaGetOutput' />
    </operation>
    <operation name='fetchSkillsViaPost'>
      <documentation>skills Profile Engine provides skills library of skills across functions and industries</documentation>
      <input message='tns:fetchSkillsViaPostRequestMessage' name='fetchSkillsViaPostInput' />
      <output message='tns:fetchSkillsViaPostResponseMessage' name='fetchSkillsViaPostOutput' />
    </operation>
    <operation name='searchSkillViaGet'>
      <documentation></documentation>
      <input message='tns:searchSkillViaGetRequestMessage' name='searchSkillViaGetInput' />
      <output message='tns:searchSkillViaGetResponseMessage' name='searchSkillViaGetOutput' />
    </operation>
    <operation name='searchSkillViaPost'>
      <documentation></documentation>
      <input message='tns:searchSkillViaPostRequestMessage' name='searchSkillViaPostInput' />
      <output message='tns:searchSkillViaPostResponseMessage' name='searchSkillViaPostOutput' />
    </operation>
  </portType>
  <binding name='skillsLibraryBinding' type='tns:skillsLibraryPortType'>
    <operation name='fetchSkillsViaGet'>
      <soap12:operation soapAction='http://fetchSkillsViaGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='fetchSkillsViaPost'>
      <soap12:operation soapAction='http://fetchSkillsViaPost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchSkillViaGet'>
      <soap12:operation soapAction='http://searchSkillViaGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchSkillViaPost'>
      <soap12:operation soapAction='http://searchSkillViaPost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='skillsLibrary'>
    <documentation>the skills library of over K skills and growing on daily basis is the most comprehensive and in depth skills repository No not just another database of skills but a cataloged and well organized skills library covering different functions such as Information Technology Engineering Medicine and more The skills library is extremely useful for developers of applications in the HR recruitment job site and any other application that has got to do with skills</documentation>
    <port name='skillsLibraryPort' binding='tns:skillsLibraryBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://skillsLibrary' />
    </port>
  </service>
</definitions>