workspace/datasets/mashape_dataset/skybiometryfacedetectionandrecognition.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/skybiometryFaceDetectionAndRecognition/' name='skybiometryFaceDetectionAndRecognition' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/skybiometryFaceDetectionAndRecognition/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/skybiometryFaceDetectionAndRecognition/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/skybiometryFaceDetectionAndRecognition/'>
      <xsd:element name='accountAuthenticateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountLimitsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountNamespacesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='facesDetectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='facesGroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='facesRecognizeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='facesStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='facesTrainResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tagsAddResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tagsGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tagsRemoveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tagsSaveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='usage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='reset_time_text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='used' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                  <xsd:element name='reset_time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='photos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='width' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='height' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tags' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='nose' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='roll' type='xsd:int' minOccurs='0' />
                        <xsd:element name='manual' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='confirmed' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='yaw' type='xsd:int' minOccurs='0' />
                        <xsd:element name='recognizable' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='mouth_center' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='uids' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='width' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='eye_right' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='eye_left' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='x' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='y' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='attributes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='face' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:boolean' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='gender' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='confidence' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='pitch' type='xsd:int' minOccurs='0' />
                        <xsd:element name='height' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='accountAuthenticateRequestMessage' />
  <message name='accountAuthenticateResponseMessage'>
    <part name='response' element='tns:accountAuthenticateResponse' />
  </message>
  <message name='accountLimitsRequestMessage' />
  <message name='accountLimitsResponseMessage'>
    <part name='response' element='tns:accountLimitsResponse' />
  </message>
  <message name='accountNamespacesRequestMessage' />
  <message name='accountNamespacesResponseMessage'>
    <part name='response' element='tns:accountNamespacesResponse' />
  </message>
  <message name='accountUsersRequestMessage' />
  <message name='accountUsersResponseMessage'>
    <part name='response' element='tns:accountUsersResponse' />
  </message>
  <message name='facesDetectRequestMessage' />
  <message name='facesDetectResponseMessage'>
    <part name='response' element='tns:facesDetectResponse' />
  </message>
  <message name='facesGroupRequestMessage' />
  <message name='facesGroupResponseMessage'>
    <part name='response' element='tns:facesGroupResponse' />
  </message>
  <message name='facesRecognizeRequestMessage' />
  <message name='facesRecognizeResponseMessage'>
    <part name='response' element='tns:facesRecognizeResponse' />
  </message>
  <message name='facesStatusRequestMessage' />
  <message name='facesStatusResponseMessage'>
    <part name='response' element='tns:facesStatusResponse' />
  </message>
  <message name='facesTrainRequestMessage' />
  <message name='facesTrainResponseMessage'>
    <part name='response' element='tns:facesTrainResponse' />
  </message>
  <message name='tagsAddRequestMessage' />
  <message name='tagsAddResponseMessage'>
    <part name='response' element='tns:tagsAddResponse' />
  </message>
  <message name='tagsGetRequestMessage' />
  <message name='tagsGetResponseMessage'>
    <part name='response' element='tns:tagsGetResponse' />
  </message>
  <message name='tagsRemoveRequestMessage' />
  <message name='tagsRemoveResponseMessage'>
    <part name='response' element='tns:tagsRemoveResponse' />
  </message>
  <message name='tagsSaveRequestMessage' />
  <message name='tagsSaveResponseMessage'>
    <part name='response' element='tns:tagsSaveResponse' />
  </message>
  <portType name='skybiometryFaceDetectionAndRecognitionPortType'>
    <operation name='accountAuthenticate'>
      <documentation>returns authentication status Method can be used to test connection and or authentication to the API access point It is not required to call this method before calling any other API methods</documentation>
      <input message='tns:accountAuthenticateRequestMessage' name='accountAuthenticateInput' />
      <output message='tns:accountAuthenticateResponseMessage' name='accountAuthenticateOutput' />
    </operation>
    <operation name='accountLimits'>
      <documentation>returns authentication status Method can be used to test connection and or authentication to the API access point It is not required to call this method before calling any other API methods</documentation>
      <input message='tns:accountLimitsRequestMessage' name='accountLimitsInput' />
      <output message='tns:accountLimitsResponseMessage' name='accountLimitsOutput' />
    </operation>
    <operation name='accountNamespaces'>
      <documentation>returns all valid data namespaces for user authorized by specified api key</documentation>
      <input message='tns:accountNamespacesRequestMessage' name='accountNamespacesInput' />
      <output message='tns:accountNamespacesResponseMessage' name='accountNamespacesOutput' />
    </operation>
    <operation name='accountUsers'>
      <documentation>returns tags that were registered in the specified user data namespace Tags are added to namespaces by calling tags save method</documentation>
      <input message='tns:accountUsersRequestMessage' name='accountUsersInput' />
      <output message='tns:accountUsersResponseMessage' name='accountUsersOutput' />
    </operation>
    <operation name='facesDetect'>
      <documentation>returns tags for detected faces in one or more photos with geometric information of the tag eyes nose and mouth as well as additional attributes such as gender</documentation>
      <input message='tns:facesDetectRequestMessage' name='facesDetectInput' />
      <output message='tns:facesDetectResponseMessage' name='facesDetectOutput' />
    </operation>
    <operation name='facesGroup'>
      <documentation>method can be used to detect group and optionally recognize one or more user faces in one or more photos faces group method tries to match all the faces that were found in the images specified by urls or through POST one to other then assigns a group ID for all detected faces that appear to be of the same person If user ids are specified when calling this methods method also attempts to assign the most likely user id for each detected face group of faces</documentation>
      <input message='tns:facesGroupRequestMessage' name='facesGroupInput' />
      <output message='tns:facesGroupResponseMessage' name='facesGroupOutput' />
    </operation>
    <operation name='facesRecognize'>
      <documentation>method is used for recognizing trained user ids in one or more photos For each detected face method will return user ids that match specified face or empty result set if no matches found Each tag also includes a threshold score if matching score is below this threshold matched user id can be treated as unlikely match</documentation>
      <input message='tns:facesRecognizeRequestMessage' name='facesRecognizeInput' />
      <output message='tns:facesRecognizeResponseMessage' name='facesRecognizeOutput' />
    </operation>
    <operation name='facesStatus'>
      <documentation>method can be used to get training status for specified user ids</documentation>
      <input message='tns:facesStatusRequestMessage' name='facesStatusInput' />
      <output message='tns:facesStatusResponseMessage' name='facesStatusOutput' />
    </operation>
    <operation name='facesTrain'>
      <documentation></documentation>
      <input message='tns:facesTrainRequestMessage' name='facesTrainInput' />
      <output message='tns:facesTrainResponseMessage' name='facesTrainOutput' />
    </operation>
    <operation name='tagsAdd'>
      <documentation>allows to add face tags manually</documentation>
      <input message='tns:tagsAddRequestMessage' name='tagsAddInput' />
      <output message='tns:tagsAddResponseMessage' name='tagsAddOutput' />
    </operation>
    <operation name='tagsGet'>
      <documentation>allows to get already saved tags to data namespace By specifying different parameters and criteria you can influence the returned tags</documentation>
      <input message='tns:tagsGetRequestMessage' name='tagsGetInput' />
      <output message='tns:tagsGetResponseMessage' name='tagsGetOutput' />
    </operation>
    <operation name='tagsRemove'>
      <documentation>removes a previously saved tag using tags save</documentation>
      <input message='tns:tagsRemoveRequestMessage' name='tagsRemoveInput' />
      <output message='tns:tagsRemoveResponseMessage' name='tagsRemoveOutput' />
    </operation>
    <operation name='tagsSave'>
      <documentation>saves a specified face tag to permanent storage Once the face tag has been saved you can call faces train method which will use the saved tag information to create face template for specified user id and will add it to specified data namespace When completed you can start recognizing the specified user id using faces recognize method</documentation>
      <input message='tns:tagsSaveRequestMessage' name='tagsSaveInput' />
      <output message='tns:tagsSaveResponseMessage' name='tagsSaveOutput' />
    </operation>
  </portType>
  <binding name='skybiometryFaceDetectionAndRecognitionBinding' type='tns:skybiometryFaceDetectionAndRecognitionPortType'>
    <operation name='accountAuthenticate'>
      <soap12:operation soapAction='http://accountAuthenticate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='accountLimits'>
      <soap12:operation soapAction='http://accountLimits' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='accountNamespaces'>
      <soap12:operation soapAction='http://accountNamespaces' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='accountUsers'>
      <soap12:operation soapAction='http://accountUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='facesDetect'>
      <soap12:operation soapAction='http://facesDetect' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='facesGroup'>
      <soap12:operation soapAction='http://facesGroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='facesRecognize'>
      <soap12:operation soapAction='http://facesRecognize' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='facesStatus'>
      <soap12:operation soapAction='http://facesStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='facesTrain'>
      <soap12:operation soapAction='http://facesTrain' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tagsAdd'>
      <soap12:operation soapAction='http://tagsAdd' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tagsGet'>
      <soap12:operation soapAction='http://tagsGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tagsRemove'>
      <soap12:operation soapAction='http://tagsRemove' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tagsSave'>
      <soap12:operation soapAction='http://tagsSave' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='skybiometryFaceDetectionAndRecognition'>
    <documentation>an easy to use Face Detection and Recognition API Detect faces at various angle determine gender check if the person is smiling or wears glasses maybe sunglasses with a single API call You must have an application created in your account at SkyBiometry to use it sign up at https www skybiometry com Account Register if you don t have account yet</documentation>
    <port name='skybiometryFaceDetectionAndRecognitionPort' binding='tns:skybiometryFaceDetectionAndRecognitionBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://skybiometryFaceDetectionAndRecognition' />
    </port>
  </service>
</definitions>