workspace/datasets/mashape_dataset/slimsurveys.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/slimsurveys/' name='slimsurveys' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/slimsurveys/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/slimsurveys/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/slimsurveys/'>
      <xsd:element name='deleteAnswersSurveySurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAnswersSurveySurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='birthday' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='survey_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='gender' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='provider' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='uvid' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteImagesImageImageIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='imageid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteImagesImageImageIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteOptionsOptionOptionIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='optionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteOptionsOptionOptionIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteQuestionsQuestionQuestionIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='questionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteQuestionsQuestionQuestionIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSurveysSurveySurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSurveysSurveySurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteUsersUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteUsersWidgetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnswersQuestionQuestionIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='questionid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xauthtoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnswersQuestionQuestionIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='survey_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='answers' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='survey_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='pvid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='uvid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ip_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:int' minOccurs='0' />
                  <xsd:element name='question_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='text' type='xsd:string' minOccurs='0' />
            <xsd:element name='position' type='xsd:int' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnswersSurveySurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pvid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='surveyuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uvid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xauthtoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnswersSurveySurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metadata' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='answers' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='uvid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ip_address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='question_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='survey_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='pvid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='provider' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='position' type='xsd:int' minOccurs='0' />
                  <xsd:element name='value' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='option' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='refresh' type='xsd:int' minOccurs='0' />
            <xsd:element name='completion_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='show_results' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='uid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='publish' type='xsd:date' minOccurs='0' />
            <xsd:element name='callback' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='complete' type='xsd:int' minOccurs='0' />
            <xsd:element name='start_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getImagesImageImageIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='imageid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getImagesImageImageIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOembedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOembedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOptionsOptionOptionIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='optionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOptionsOptionOptionIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getQuestionsQuestionQuestionIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='questionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getQuestionsQuestionQuestionIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsPermutationsSurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='surveyuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xauthtoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsPermutationsSurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsQuestionQuestionIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='questionid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xauthtoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsQuestionQuestionIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsSurveySurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='surveyuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='xauthtoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResultsSurveySurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSurveysEmbedSurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='surveyuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSurveysEmbedSurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSurveysMineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='xauthtoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSurveysMineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSurveysSurveySurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='surveyuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSurveysSurveySurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUsersMeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='xauthtoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUsersMeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postAnswersCreateQuestionIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='questionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postAnswersCreateQuestionIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='survey_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='pvid' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='uvid' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='ip_address' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='value' type='xsd:int' minOccurs='0' />
            <xsd:element name='question_id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postIdentitiesCreateSurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postIdentitiesCreateSurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='birthday' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='survey_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='gender' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='provider' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='uvid' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='uri' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postImagesCreateQuestionIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='questionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postImagesCreateQuestionIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postOptionsCreateQuestionIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='questionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postOptionsCreateQuestionIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postOptionsOptionOptionIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='optionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postOptionsOptionOptionIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postQuestionsCreateSurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postQuestionsCreateSurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postQuestionsQuestionQuestionIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='questionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postQuestionsQuestionQuestionIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postSurveysCopySurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postSurveysCopySurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postSurveysCreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postSurveysSurveySurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postSurveysSurveySurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersEmailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersForgotResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersPasswordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersPrivacyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersResetResetTokenParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='resettoken' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersResetResetTokenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersSignupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersThanksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersVanityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersWidgetSurveyIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='surveyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postUsersWidgetSurveyIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='deleteAnswersSurveySurveyIdRequestMessage'>
    <part name='parameters' element='tns:deleteAnswersSurveySurveyIdParameters' />
  </message>
  <message name='deleteAnswersSurveySurveyIdResponseMessage'>
    <part name='response' element='tns:deleteAnswersSurveySurveyIdResponse' />
  </message>
  <message name='deleteImagesImageImageIdRequestMessage'>
    <part name='parameters' element='tns:deleteImagesImageImageIdParameters' />
  </message>
  <message name='deleteImagesImageImageIdResponseMessage'>
    <part name='response' element='tns:deleteImagesImageImageIdResponse' />
  </message>
  <message name='deleteOptionsOptionOptionIdRequestMessage'>
    <part name='parameters' element='tns:deleteOptionsOptionOptionIdParameters' />
  </message>
  <message name='deleteOptionsOptionOptionIdResponseMessage'>
    <part name='response' element='tns:deleteOptionsOptionOptionIdResponse' />
  </message>
  <message name='deleteQuestionsQuestionQuestionIdRequestMessage'>
    <part name='parameters' element='tns:deleteQuestionsQuestionQuestionIdParameters' />
  </message>
  <message name='deleteQuestionsQuestionQuestionIdResponseMessage'>
    <part name='response' element='tns:deleteQuestionsQuestionQuestionIdResponse' />
  </message>
  <message name='deleteSurveysSurveySurveyIdRequestMessage'>
    <part name='parameters' element='tns:deleteSurveysSurveySurveyIdParameters' />
  </message>
  <message name='deleteSurveysSurveySurveyIdResponseMessage'>
    <part name='response' element='tns:deleteSurveysSurveySurveyIdResponse' />
  </message>
  <message name='deleteUsersUserRequestMessage' />
  <message name='deleteUsersUserResponseMessage'>
    <part name='response' element='tns:deleteUsersUserResponse' />
  </message>
  <message name='deleteUsersWidgetRequestMessage' />
  <message name='deleteUsersWidgetResponseMessage'>
    <part name='response' element='tns:deleteUsersWidgetResponse' />
  </message>
  <message name='getAnswersQuestionQuestionIdRequestMessage'>
    <part name='parameters' element='tns:getAnswersQuestionQuestionIdParameters' />
  </message>
  <message name='getAnswersQuestionQuestionIdResponseMessage'>
    <part name='response' element='tns:getAnswersQuestionQuestionIdResponse' />
  </message>
  <message name='getAnswersSurveySurveyIdRequestMessage'>
    <part name='parameters' element='tns:getAnswersSurveySurveyIdParameters' />
  </message>
  <message name='getAnswersSurveySurveyIdResponseMessage'>
    <part name='response' element='tns:getAnswersSurveySurveyIdResponse' />
  </message>
  <message name='getImagesImageImageIdRequestMessage'>
    <part name='parameters' element='tns:getImagesImageImageIdParameters' />
  </message>
  <message name='getImagesImageImageIdResponseMessage'>
    <part name='response' element='tns:getImagesImageImageIdResponse' />
  </message>
  <message name='getOembedRequestMessage'>
    <part name='parameters' element='tns:getOembedParameters' />
  </message>
  <message name='getOembedResponseMessage'>
    <part name='response' element='tns:getOembedResponse' />
  </message>
  <message name='getOptionsOptionOptionIdRequestMessage'>
    <part name='parameters' element='tns:getOptionsOptionOptionIdParameters' />
  </message>
  <message name='getOptionsOptionOptionIdResponseMessage'>
    <part name='response' element='tns:getOptionsOptionOptionIdResponse' />
  </message>
  <message name='getQuestionsQuestionQuestionIdRequestMessage'>
    <part name='parameters' element='tns:getQuestionsQuestionQuestionIdParameters' />
  </message>
  <message name='getQuestionsQuestionQuestionIdResponseMessage'>
    <part name='response' element='tns:getQuestionsQuestionQuestionIdResponse' />
  </message>
  <message name='getResultsPermutationsSurveyIdRequestMessage'>
    <part name='parameters' element='tns:getResultsPermutationsSurveyIdParameters' />
  </message>
  <message name='getResultsPermutationsSurveyIdResponseMessage'>
    <part name='response' element='tns:getResultsPermutationsSurveyIdResponse' />
  </message>
  <message name='getResultsQuestionQuestionIdRequestMessage'>
    <part name='parameters' element='tns:getResultsQuestionQuestionIdParameters' />
  </message>
  <message name='getResultsQuestionQuestionIdResponseMessage'>
    <part name='response' element='tns:getResultsQuestionQuestionIdResponse' />
  </message>
  <message name='getResultsSurveySurveyIdRequestMessage'>
    <part name='parameters' element='tns:getResultsSurveySurveyIdParameters' />
  </message>
  <message name='getResultsSurveySurveyIdResponseMessage'>
    <part name='response' element='tns:getResultsSurveySurveyIdResponse' />
  </message>
  <message name='getSurveysEmbedSurveyIdRequestMessage'>
    <part name='parameters' element='tns:getSurveysEmbedSurveyIdParameters' />
  </message>
  <message name='getSurveysEmbedSurveyIdResponseMessage'>
    <part name='response' element='tns:getSurveysEmbedSurveyIdResponse' />
  </message>
  <message name='getSurveysMineRequestMessage'>
    <part name='parameters' element='tns:getSurveysMineParameters' />
  </message>
  <message name='getSurveysMineResponseMessage'>
    <part name='response' element='tns:getSurveysMineResponse' />
  </message>
  <message name='getSurveysSurveySurveyIdRequestMessage'>
    <part name='parameters' element='tns:getSurveysSurveySurveyIdParameters' />
  </message>
  <message name='getSurveysSurveySurveyIdResponseMessage'>
    <part name='response' element='tns:getSurveysSurveySurveyIdResponse' />
  </message>
  <message name='getUsersMeRequestMessage'>
    <part name='parameters' element='tns:getUsersMeParameters' />
  </message>
  <message name='getUsersMeResponseMessage'>
    <part name='response' element='tns:getUsersMeResponse' />
  </message>
  <message name='postAnswersCreateQuestionIdRequestMessage'>
    <part name='parameters' element='tns:postAnswersCreateQuestionIdParameters' />
  </message>
  <message name='postAnswersCreateQuestionIdResponseMessage'>
    <part name='response' element='tns:postAnswersCreateQuestionIdResponse' />
  </message>
  <message name='postIdentitiesCreateSurveyIdRequestMessage'>
    <part name='parameters' element='tns:postIdentitiesCreateSurveyIdParameters' />
  </message>
  <message name='postIdentitiesCreateSurveyIdResponseMessage'>
    <part name='response' element='tns:postIdentitiesCreateSurveyIdResponse' />
  </message>
  <message name='postImagesCreateQuestionIdRequestMessage'>
    <part name='parameters' element='tns:postImagesCreateQuestionIdParameters' />
  </message>
  <message name='postImagesCreateQuestionIdResponseMessage'>
    <part name='response' element='tns:postImagesCreateQuestionIdResponse' />
  </message>
  <message name='postOptionsCreateQuestionIdRequestMessage'>
    <part name='parameters' element='tns:postOptionsCreateQuestionIdParameters' />
  </message>
  <message name='postOptionsCreateQuestionIdResponseMessage'>
    <part name='response' element='tns:postOptionsCreateQuestionIdResponse' />
  </message>
  <message name='postOptionsOptionOptionIdRequestMessage'>
    <part name='parameters' element='tns:postOptionsOptionOptionIdParameters' />
  </message>
  <message name='postOptionsOptionOptionIdResponseMessage'>
    <part name='response' element='tns:postOptionsOptionOptionIdResponse' />
  </message>
  <message name='postQuestionsCreateSurveyIdRequestMessage'>
    <part name='parameters' element='tns:postQuestionsCreateSurveyIdParameters' />
  </message>
  <message name='postQuestionsCreateSurveyIdResponseMessage'>
    <part name='response' element='tns:postQuestionsCreateSurveyIdResponse' />
  </message>
  <message name='postQuestionsQuestionQuestionIdRequestMessage'>
    <part name='parameters' element='tns:postQuestionsQuestionQuestionIdParameters' />
  </message>
  <message name='postQuestionsQuestionQuestionIdResponseMessage'>
    <part name='response' element='tns:postQuestionsQuestionQuestionIdResponse' />
  </message>
  <message name='postSurveysCopySurveyIdRequestMessage'>
    <part name='parameters' element='tns:postSurveysCopySurveyIdParameters' />
  </message>
  <message name='postSurveysCopySurveyIdResponseMessage'>
    <part name='response' element='tns:postSurveysCopySurveyIdResponse' />
  </message>
  <message name='postSurveysCreateRequestMessage' />
  <message name='postSurveysCreateResponseMessage'>
    <part name='response' element='tns:postSurveysCreateResponse' />
  </message>
  <message name='postSurveysSurveySurveyIdRequestMessage'>
    <part name='parameters' element='tns:postSurveysSurveySurveyIdParameters' />
  </message>
  <message name='postSurveysSurveySurveyIdResponseMessage'>
    <part name='response' element='tns:postSurveysSurveySurveyIdResponse' />
  </message>
  <message name='postUsersEmailRequestMessage' />
  <message name='postUsersEmailResponseMessage'>
    <part name='response' element='tns:postUsersEmailResponse' />
  </message>
  <message name='postUsersForgotRequestMessage' />
  <message name='postUsersForgotResponseMessage'>
    <part name='response' element='tns:postUsersForgotResponse' />
  </message>
  <message name='postUsersPasswordRequestMessage' />
  <message name='postUsersPasswordResponseMessage'>
    <part name='response' element='tns:postUsersPasswordResponse' />
  </message>
  <message name='postUsersPrivacyRequestMessage' />
  <message name='postUsersPrivacyResponseMessage'>
    <part name='response' element='tns:postUsersPrivacyResponse' />
  </message>
  <message name='postUsersResetResetTokenRequestMessage'>
    <part name='parameters' element='tns:postUsersResetResetTokenParameters' />
  </message>
  <message name='postUsersResetResetTokenResponseMessage'>
    <part name='response' element='tns:postUsersResetResetTokenResponse' />
  </message>
  <message name='postUsersSignupRequestMessage' />
  <message name='postUsersSignupResponseMessage'>
    <part name='response' element='tns:postUsersSignupResponse' />
  </message>
  <message name='postUsersThanksRequestMessage' />
  <message name='postUsersThanksResponseMessage'>
    <part name='response' element='tns:postUsersThanksResponse' />
  </message>
  <message name='postUsersVanityRequestMessage' />
  <message name='postUsersVanityResponseMessage'>
    <part name='response' element='tns:postUsersVanityResponse' />
  </message>
  <message name='postUsersWidgetSurveyIdRequestMessage'>
    <part name='parameters' element='tns:postUsersWidgetSurveyIdParameters' />
  </message>
  <message name='postUsersWidgetSurveyIdResponseMessage'>
    <part name='response' element='tns:postUsersWidgetSurveyIdResponse' />
  </message>
  <portType name='slimsurveysPortType'>
    <operation name='deleteAnswersSurveySurveyId'>
      <documentation>this API call is used to clear a survey s responses and reset the start and completed counts Special Case The survey id is part of the URI Though if your application only has the survey uid at this point then just leave the survey id empty in the URI and pass in the survey uid as a query parameter Here s an Example curl https slimsurveys com api surveys survey survey uid d H X API KEY YOUR API KEY</documentation>
      <input message='tns:deleteAnswersSurveySurveyIdRequestMessage' name='deleteAnswersSurveySurveyIdInput' />
      <output message='tns:deleteAnswersSurveySurveyIdResponseMessage' name='deleteAnswersSurveySurveyIdOutput' />
    </operation>
    <operation name='deleteImagesImageImageId'>
      <documentation>this API call is used to delete an image</documentation>
      <input message='tns:deleteImagesImageImageIdRequestMessage' name='deleteImagesImageImageIdInput' />
      <output message='tns:deleteImagesImageImageIdResponseMessage' name='deleteImagesImageImageIdOutput' />
    </operation>
    <operation name='deleteOptionsOptionOptionId'>
      <documentation>this API call is used to delete an answer option</documentation>
      <input message='tns:deleteOptionsOptionOptionIdRequestMessage' name='deleteOptionsOptionOptionIdInput' />
      <output message='tns:deleteOptionsOptionOptionIdResponseMessage' name='deleteOptionsOptionOptionIdOutput' />
    </operation>
    <operation name='deleteQuestionsQuestionQuestionId'>
      <documentation>this API call is used to delete a question</documentation>
      <input message='tns:deleteQuestionsQuestionQuestionIdRequestMessage' name='deleteQuestionsQuestionQuestionIdInput' />
      <output message='tns:deleteQuestionsQuestionQuestionIdResponseMessage' name='deleteQuestionsQuestionQuestionIdOutput' />
    </operation>
    <operation name='deleteSurveysSurveySurveyId'>
      <documentation>this API call is used to delete a survey Special Case The survey id is part of the URI Though if your application only has the survey uid at this point then just leave the survey id empty in the URI and pass in the survey uid as a query parameter Here s an Example curl https slimsurveys com api surveys survey survey uid d H X API KEY YOUR API KEY</documentation>
      <input message='tns:deleteSurveysSurveySurveyIdRequestMessage' name='deleteSurveysSurveySurveyIdInput' />
      <output message='tns:deleteSurveysSurveySurveyIdResponseMessage' name='deleteSurveysSurveySurveyIdOutput' />
    </operation>
    <operation name='deleteUsersUser'>
      <documentation>this API call is used to cancel the current user s account</documentation>
      <input message='tns:deleteUsersUserRequestMessage' name='deleteUsersUserInput' />
      <output message='tns:deleteUsersUserResponseMessage' name='deleteUsersUserOutput' />
    </operation>
    <operation name='deleteUsersWidget'>
      <documentation>this API call is used to disable the active survey</documentation>
      <input message='tns:deleteUsersWidgetRequestMessage' name='deleteUsersWidgetInput' />
      <output message='tns:deleteUsersWidgetResponseMessage' name='deleteUsersWidgetOutput' />
    </operation>
    <operation name='getAnswersQuestionQuestionId'>
      <documentation>this API call is used to get the listing of the respondent s answers to a particular question</documentation>
      <input message='tns:getAnswersQuestionQuestionIdRequestMessage' name='getAnswersQuestionQuestionIdInput' />
      <output message='tns:getAnswersQuestionQuestionIdResponseMessage' name='getAnswersQuestionQuestionIdOutput' />
    </operation>
    <operation name='getAnswersSurveySurveyId'>
      <documentation>this API call is used to get the listing of the respondent s answers to a survey Special Case The survey id is part of the URI Though if your application only has the survey uid at this point then just leave the survey id empty in the URI and pass in the survey uid as a query parameter Here s an Example curl https slimsurveys com api surveys survey survey uid d H X API KEY YOUR API KEY</documentation>
      <input message='tns:getAnswersSurveySurveyIdRequestMessage' name='getAnswersSurveySurveyIdInput' />
      <output message='tns:getAnswersSurveySurveyIdResponseMessage' name='getAnswersSurveySurveyIdOutput' />
    </operation>
    <operation name='getImagesImageImageId'>
      <documentation>this API call is used to get the meta data of an image</documentation>
      <input message='tns:getImagesImageImageIdRequestMessage' name='getImagesImageImageIdInput' />
      <output message='tns:getImagesImageImageIdResponseMessage' name='getImagesImageImageIdOutput' />
    </operation>
    <operation name='getOembed'>
      <documentation>oEmbed is an open standard for turning a URL into an embeddable piece of content for your site To find out more about oEmbed read the spec The SlimSurveys oEmbed endpoint will return HTML snippets that you can include on your site NOTE The oEmbed API endpoint is the only API call that DOES NOT require an API KEY</documentation>
      <input message='tns:getOembedRequestMessage' name='getOembedInput' />
      <output message='tns:getOembedResponseMessage' name='getOembedOutput' />
    </operation>
    <operation name='getOptionsOptionOptionId'>
      <documentation>this API call is used to get the meta data of an answer option</documentation>
      <input message='tns:getOptionsOptionOptionIdRequestMessage' name='getOptionsOptionOptionIdInput' />
      <output message='tns:getOptionsOptionOptionIdResponseMessage' name='getOptionsOptionOptionIdOutput' />
    </operation>
    <operation name='getQuestionsQuestionQuestionId'>
      <documentation>this API call is used to get the meta data of a question</documentation>
      <input message='tns:getQuestionsQuestionQuestionIdRequestMessage' name='getQuestionsQuestionQuestionIdInput' />
      <output message='tns:getQuestionsQuestionQuestionIdResponseMessage' name='getQuestionsQuestionQuestionIdOutput' />
    </operation>
    <operation name='getResultsPermutationsSurveyId'>
      <documentation></documentation>
      <input message='tns:getResultsPermutationsSurveyIdRequestMessage' name='getResultsPermutationsSurveyIdInput' />
      <output message='tns:getResultsPermutationsSurveyIdResponseMessage' name='getResultsPermutationsSurveyIdOutput' />
    </operation>
    <operation name='getResultsQuestionQuestionId'>
      <documentation>this API call is used to get the results of a particular question</documentation>
      <input message='tns:getResultsQuestionQuestionIdRequestMessage' name='getResultsQuestionQuestionIdInput' />
      <output message='tns:getResultsQuestionQuestionIdResponseMessage' name='getResultsQuestionQuestionIdOutput' />
    </operation>
    <operation name='getResultsSurveySurveyId'>
      <documentation>this API call is used to get the results and statistics of a survey and all of its questions Special Case The survey id is part of the URI Though if your application only has the survey uid at this point then just leave the survey id empty in the URI and pass in the survey uid as a query parameter Here s an Example curl https slimsurveys com api surveys survey survey uid d H X API KEY YOUR API KEY</documentation>
      <input message='tns:getResultsSurveySurveyIdRequestMessage' name='getResultsSurveySurveyIdInput' />
      <output message='tns:getResultsSurveySurveyIdResponseMessage' name='getResultsSurveySurveyIdOutput' />
    </operation>
    <operation name='getSurveysEmbedSurveyId'>
      <documentation>this API call is used to get the entire survey and all of its questions images and answer options This is the main API call to display a survey as well as track its impression for tracking Special Case The survey id is part of the URI Though if your application only has the survey uid at this point then just leave the survey id empty in the URI and pass in the survey uid as a query parameter Here s an Example curl https slimsurveys com api surveys survey survey uid d H X API KEY YOUR API KEY</documentation>
      <input message='tns:getSurveysEmbedSurveyIdRequestMessage' name='getSurveysEmbedSurveyIdInput' />
      <output message='tns:getSurveysEmbedSurveyIdResponseMessage' name='getSurveysEmbedSurveyIdOutput' />
    </operation>
    <operation name='getSurveysMine'>
      <documentation>this API call is used to get a listing of the surveys with question and response counts for the current user</documentation>
      <input message='tns:getSurveysMineRequestMessage' name='getSurveysMineInput' />
      <output message='tns:getSurveysMineResponseMessage' name='getSurveysMineOutput' />
    </operation>
    <operation name='getSurveysSurveySurveyId'>
      <documentation>this API call is used to get the meta data of a survey Special Case The survey id is part of the URI Though if your application only has the survey uid at this point then just leave the survey id empty in the URI and pass in the survey uid as a query parameter Here s an Example curl https slimsurveys com api surveys survey survey uid d H X API KEY YOUR API KEY</documentation>
      <input message='tns:getSurveysSurveySurveyIdRequestMessage' name='getSurveysSurveySurveyIdInput' />
      <output message='tns:getSurveysSurveySurveyIdResponseMessage' name='getSurveysSurveySurveyIdOutput' />
    </operation>
    <operation name='getUsersMe'>
      <documentation>this API call is used to get the meta data of the current user</documentation>
      <input message='tns:getUsersMeRequestMessage' name='getUsersMeInput' />
      <output message='tns:getUsersMeResponseMessage' name='getUsersMeOutput' />
    </operation>
    <operation name='postAnswersCreateQuestionId'>
      <documentation>this API call is used to record a respondent s answer to a question Special Case Due to the different question types we can only accept certain answer values for specific question types This is so we don t mess up the results when we aggregate the answers</documentation>
      <input message='tns:postAnswersCreateQuestionIdRequestMessage' name='postAnswersCreateQuestionIdInput' />
      <output message='tns:postAnswersCreateQuestionIdResponseMessage' name='postAnswersCreateQuestionIdOutput' />
    </operation>
    <operation name='postIdentitiesCreateSurveyId'>
      <documentation>this API call is used to track the identity of a survey respondent Since answering a survey doesn t require authentication this is a way to track who is viewing taking your surveys Once the survey is loaded you would call this API with all of the data you have available to you The most important part is the unique visitor ID or uvid This should be the same value you use track when an answer is recorded Special Case The survey id is part of the URI Though if your application only has the survey uid at this point then just leave the survey id empty in the URI and pass in the survey uid as a query parameter Here s an Example curl https slimsurveys com api surveys survey survey uid d H X API KEY YOUR API KEY</documentation>
      <input message='tns:postIdentitiesCreateSurveyIdRequestMessage' name='postIdentitiesCreateSurveyIdInput' />
      <output message='tns:postIdentitiesCreateSurveyIdResponseMessage' name='postIdentitiesCreateSurveyIdOutput' />
    </operation>
    <operation name='postImagesCreateQuestionId'>
      <documentation>this API call is used to create upload a new image for a question</documentation>
      <input message='tns:postImagesCreateQuestionIdRequestMessage' name='postImagesCreateQuestionIdInput' />
      <output message='tns:postImagesCreateQuestionIdResponseMessage' name='postImagesCreateQuestionIdOutput' />
    </operation>
    <operation name='postOptionsCreateQuestionId'>
      <documentation>this API call is used to create a new answer option for a question</documentation>
      <input message='tns:postOptionsCreateQuestionIdRequestMessage' name='postOptionsCreateQuestionIdInput' />
      <output message='tns:postOptionsCreateQuestionIdResponseMessage' name='postOptionsCreateQuestionIdOutput' />
    </operation>
    <operation name='postOptionsOptionOptionId'>
      <documentation>this API call is used to update the meta data of an answer option</documentation>
      <input message='tns:postOptionsOptionOptionIdRequestMessage' name='postOptionsOptionOptionIdInput' />
      <output message='tns:postOptionsOptionOptionIdResponseMessage' name='postOptionsOptionOptionIdOutput' />
    </operation>
    <operation name='postQuestionsCreateSurveyId'>
      <documentation>this API call is used to create a new question on a survey Special Case The survey id is part of the URI Though if your application only has the survey uid at this point then just leave the survey id empty in the URI and pass in the survey uid as a query parameter Here s an Example curl https slimsurveys com api surveys survey survey uid d H X API KEY YOUR API KEY</documentation>
      <input message='tns:postQuestionsCreateSurveyIdRequestMessage' name='postQuestionsCreateSurveyIdInput' />
      <output message='tns:postQuestionsCreateSurveyIdResponseMessage' name='postQuestionsCreateSurveyIdOutput' />
    </operation>
    <operation name='postQuestionsQuestionQuestionId'>
      <documentation>this API call is used to update the meta data of a question</documentation>
      <input message='tns:postQuestionsQuestionQuestionIdRequestMessage' name='postQuestionsQuestionQuestionIdInput' />
      <output message='tns:postQuestionsQuestionQuestionIdResponseMessage' name='postQuestionsQuestionQuestionIdOutput' />
    </operation>
    <operation name='postSurveysCopySurveyId'>
      <documentation>this API call is used to make a copy of a survey Special Case The survey id is part of the URI Though if your application only has the survey uid at this point then just leave the survey id empty in the URI and pass in the survey uid as a query parameter Here s an Example curl https slimsurveys com api surveys survey survey uid d H X API KEY YOUR API KEY</documentation>
      <input message='tns:postSurveysCopySurveyIdRequestMessage' name='postSurveysCopySurveyIdInput' />
      <output message='tns:postSurveysCopySurveyIdResponseMessage' name='postSurveysCopySurveyIdOutput' />
    </operation>
    <operation name='postSurveysCreate'>
      <documentation>this API call is used to create a new survey</documentation>
      <input message='tns:postSurveysCreateRequestMessage' name='postSurveysCreateInput' />
      <output message='tns:postSurveysCreateResponseMessage' name='postSurveysCreateOutput' />
    </operation>
    <operation name='postSurveysSurveySurveyId'>
      <documentation>this API call is used to update the meta data of a survey Special Case The survey id is part of the URI Though if your application only has the survey uid at this point then just leave the survey id empty in the URI and pass in the survey uid as a query parameter Here s an Example curl https slimsurveys com api surveys survey survey uid d H X API KEY YOUR API KEY</documentation>
      <input message='tns:postSurveysSurveySurveyIdRequestMessage' name='postSurveysSurveySurveyIdInput' />
      <output message='tns:postSurveysSurveySurveyIdResponseMessage' name='postSurveysSurveySurveyIdOutput' />
    </operation>
    <operation name='postUsersEmail'>
      <documentation>users email</documentation>
      <input message='tns:postUsersEmailRequestMessage' name='postUsersEmailInput' />
      <output message='tns:postUsersEmailResponseMessage' name='postUsersEmailOutput' />
    </operation>
    <operation name='postUsersForgot'>
      <documentation>this API call is used to request a reset password token This will also send out an email to the current user</documentation>
      <input message='tns:postUsersForgotRequestMessage' name='postUsersForgotInput' />
      <output message='tns:postUsersForgotResponseMessage' name='postUsersForgotOutput' />
    </operation>
    <operation name='postUsersPassword'>
      <documentation>this API call is used to reset the password for the current user</documentation>
      <input message='tns:postUsersPasswordRequestMessage' name='postUsersPasswordInput' />
      <output message='tns:postUsersPasswordResponseMessage' name='postUsersPasswordOutput' />
    </operation>
    <operation name='postUsersPrivacy'>
      <documentation>this API call is used to update the privacy flag for the current user</documentation>
      <input message='tns:postUsersPrivacyRequestMessage' name='postUsersPrivacyInput' />
      <output message='tns:postUsersPrivacyResponseMessage' name='postUsersPrivacyOutput' />
    </operation>
    <operation name='postUsersResetResetToken'>
      <documentation>this API call is used to reset the password This will also send out an email to the current user</documentation>
      <input message='tns:postUsersResetResetTokenRequestMessage' name='postUsersResetResetTokenInput' />
      <output message='tns:postUsersResetResetTokenResponseMessage' name='postUsersResetResetTokenOutput' />
    </operation>
    <operation name='postUsersSignup'>
      <documentation>this API call is used to create a new account on the day free trial</documentation>
      <input message='tns:postUsersSignupRequestMessage' name='postUsersSignupInput' />
      <output message='tns:postUsersSignupResponseMessage' name='postUsersSignupOutput' />
    </operation>
    <operation name='postUsersThanks'>
      <documentation>this API call is used to update the Thank You Page links for the current user</documentation>
      <input message='tns:postUsersThanksRequestMessage' name='postUsersThanksInput' />
      <output message='tns:postUsersThanksResponseMessage' name='postUsersThanksOutput' />
    </operation>
    <operation name='postUsersVanity'>
      <documentation>this API call is used to update the Custom Vanity URL for the current user</documentation>
      <input message='tns:postUsersVanityRequestMessage' name='postUsersVanityInput' />
      <output message='tns:postUsersVanityResponseMessage' name='postUsersVanityOutput' />
    </operation>
    <operation name='postUsersWidgetSurveyId'>
      <documentation>this API call is used to update the active survey Special Case The survey id is part of the URI Though if your application only has the survey uid at this point then just leave the survey id empty in the URI and pass in the survey uid as a query parameter Here s an Example curl https slimsurveys com api surveys survey survey uid d H X API KEY YOUR API KEY</documentation>
      <input message='tns:postUsersWidgetSurveyIdRequestMessage' name='postUsersWidgetSurveyIdInput' />
      <output message='tns:postUsersWidgetSurveyIdResponseMessage' name='postUsersWidgetSurveyIdOutput' />
    </operation>
  </portType>
  <binding name='slimsurveysBinding' type='tns:slimsurveysPortType'>
    <operation name='deleteAnswersSurveySurveyId'>
      <soap12:operation soapAction='http://deleteAnswersSurveySurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteImagesImageImageId'>
      <soap12:operation soapAction='http://deleteImagesImageImageId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteOptionsOptionOptionId'>
      <soap12:operation soapAction='http://deleteOptionsOptionOptionId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteQuestionsQuestionQuestionId'>
      <soap12:operation soapAction='http://deleteQuestionsQuestionQuestionId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteSurveysSurveySurveyId'>
      <soap12:operation soapAction='http://deleteSurveysSurveySurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteUsersUser'>
      <soap12:operation soapAction='http://deleteUsersUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteUsersWidget'>
      <soap12:operation soapAction='http://deleteUsersWidget' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAnswersQuestionQuestionId'>
      <soap12:operation soapAction='http://getAnswersQuestionQuestionId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAnswersSurveySurveyId'>
      <soap12:operation soapAction='http://getAnswersSurveySurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getImagesImageImageId'>
      <soap12:operation soapAction='http://getImagesImageImageId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getOembed'>
      <soap12:operation soapAction='http://getOembed' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getOptionsOptionOptionId'>
      <soap12:operation soapAction='http://getOptionsOptionOptionId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getQuestionsQuestionQuestionId'>
      <soap12:operation soapAction='http://getQuestionsQuestionQuestionId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getResultsPermutationsSurveyId'>
      <soap12:operation soapAction='http://getResultsPermutationsSurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getResultsQuestionQuestionId'>
      <soap12:operation soapAction='http://getResultsQuestionQuestionId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getResultsSurveySurveyId'>
      <soap12:operation soapAction='http://getResultsSurveySurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSurveysEmbedSurveyId'>
      <soap12:operation soapAction='http://getSurveysEmbedSurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSurveysMine'>
      <soap12:operation soapAction='http://getSurveysMine' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSurveysSurveySurveyId'>
      <soap12:operation soapAction='http://getSurveysSurveySurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUsersMe'>
      <soap12:operation soapAction='http://getUsersMe' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postAnswersCreateQuestionId'>
      <soap12:operation soapAction='http://postAnswersCreateQuestionId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postIdentitiesCreateSurveyId'>
      <soap12:operation soapAction='http://postIdentitiesCreateSurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postImagesCreateQuestionId'>
      <soap12:operation soapAction='http://postImagesCreateQuestionId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postOptionsCreateQuestionId'>
      <soap12:operation soapAction='http://postOptionsCreateQuestionId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postOptionsOptionOptionId'>
      <soap12:operation soapAction='http://postOptionsOptionOptionId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postQuestionsCreateSurveyId'>
      <soap12:operation soapAction='http://postQuestionsCreateSurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postQuestionsQuestionQuestionId'>
      <soap12:operation soapAction='http://postQuestionsQuestionQuestionId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postSurveysCopySurveyId'>
      <soap12:operation soapAction='http://postSurveysCopySurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postSurveysCreate'>
      <soap12:operation soapAction='http://postSurveysCreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postSurveysSurveySurveyId'>
      <soap12:operation soapAction='http://postSurveysSurveySurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postUsersEmail'>
      <soap12:operation soapAction='http://postUsersEmail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postUsersForgot'>
      <soap12:operation soapAction='http://postUsersForgot' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postUsersPassword'>
      <soap12:operation soapAction='http://postUsersPassword' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postUsersPrivacy'>
      <soap12:operation soapAction='http://postUsersPrivacy' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postUsersResetResetToken'>
      <soap12:operation soapAction='http://postUsersResetResetToken' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postUsersSignup'>
      <soap12:operation soapAction='http://postUsersSignup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postUsersThanks'>
      <soap12:operation soapAction='http://postUsersThanks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postUsersVanity'>
      <soap12:operation soapAction='http://postUsersVanity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postUsersWidgetSurveyId'>
      <soap12:operation soapAction='http://postUsersWidgetSurveyId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='slimsurveys'>
    <documentation>micro Surveys Mega Insights The SlimSurveys REST API allows you to query data about your account surveys questions results and more It also allows you to create and manage your surveys You can leverage our entire engagement infrastructure without the need to scale support or manage it</documentation>
    <port name='slimsurveysPort' binding='tns:slimsurveysBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://slimsurveys' />
    </port>
  </service>
</definitions>