workspace/datasets/mashape_dataset/smartdata.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/smartData/' name='smartData' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/smartData/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/smartData/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/smartData/'>
      <xsd:element name='categorizeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='category_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='level' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByCategoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByCategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='category_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByCategoryIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByCategoryIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='category_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='concept' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='concept_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='concept_title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptConceptPopularityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='concept' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='period' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptConceptPopularityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='end_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='concept_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='concept_title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='popularity' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start_date' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptRelatedConceptParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='concept' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptRelatedConceptResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='concept_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='concept_title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='related_concepts' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='concept_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='concept_title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='conceptid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptIdConceptPopularityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='conceptid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='period' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptIdConceptPopularityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='end_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='concept_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='concept_title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='popularity' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start_date' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptIdRelatedConceptParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='conceptid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptIdRelatedConceptResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='concept_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='concept_title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='related_concepts' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='concept_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='concept_title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptIdListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='conceptidlist' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findByConceptIdListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='concept_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='concept_title' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findCategoryListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='conceptid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='maxsize' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findCategoryListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='category_title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findChildCategoryListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='maxsize' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findChildCategoryListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='category_title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findConceptListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='maxsize' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findConceptListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='concept_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='concept_title' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findParentCategoryListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='maxsize' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findParentCategoryListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='results' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='category_title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='category_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='categorizeRequestMessage' />
  <message name='categorizeResponseMessage'>
    <part name='response' element='tns:categorizeResponse' />
  </message>
  <message name='findByCategoryRequestMessage'>
    <part name='parameters' element='tns:findByCategoryParameters' />
  </message>
  <message name='findByCategoryResponseMessage'>
    <part name='response' element='tns:findByCategoryResponse' />
  </message>
  <message name='findByCategoryIdRequestMessage'>
    <part name='parameters' element='tns:findByCategoryIdParameters' />
  </message>
  <message name='findByCategoryIdResponseMessage'>
    <part name='response' element='tns:findByCategoryIdResponse' />
  </message>
  <message name='findByConceptRequestMessage'>
    <part name='parameters' element='tns:findByConceptParameters' />
  </message>
  <message name='findByConceptResponseMessage'>
    <part name='response' element='tns:findByConceptResponse' />
  </message>
  <message name='findByConceptConceptPopularityRequestMessage'>
    <part name='parameters' element='tns:findByConceptConceptPopularityParameters' />
  </message>
  <message name='findByConceptConceptPopularityResponseMessage'>
    <part name='response' element='tns:findByConceptConceptPopularityResponse' />
  </message>
  <message name='findByConceptRelatedConceptRequestMessage'>
    <part name='parameters' element='tns:findByConceptRelatedConceptParameters' />
  </message>
  <message name='findByConceptRelatedConceptResponseMessage'>
    <part name='response' element='tns:findByConceptRelatedConceptResponse' />
  </message>
  <message name='findByConceptIdRequestMessage'>
    <part name='parameters' element='tns:findByConceptIdParameters' />
  </message>
  <message name='findByConceptIdResponseMessage'>
    <part name='response' element='tns:findByConceptIdResponse' />
  </message>
  <message name='findByConceptIdConceptPopularityRequestMessage'>
    <part name='parameters' element='tns:findByConceptIdConceptPopularityParameters' />
  </message>
  <message name='findByConceptIdConceptPopularityResponseMessage'>
    <part name='response' element='tns:findByConceptIdConceptPopularityResponse' />
  </message>
  <message name='findByConceptIdRelatedConceptRequestMessage'>
    <part name='parameters' element='tns:findByConceptIdRelatedConceptParameters' />
  </message>
  <message name='findByConceptIdRelatedConceptResponseMessage'>
    <part name='response' element='tns:findByConceptIdRelatedConceptResponse' />
  </message>
  <message name='findByConceptIdListRequestMessage'>
    <part name='parameters' element='tns:findByConceptIdListParameters' />
  </message>
  <message name='findByConceptIdListResponseMessage'>
    <part name='response' element='tns:findByConceptIdListResponse' />
  </message>
  <message name='findCategoryListRequestMessage'>
    <part name='parameters' element='tns:findCategoryListParameters' />
  </message>
  <message name='findCategoryListResponseMessage'>
    <part name='response' element='tns:findCategoryListResponse' />
  </message>
  <message name='findChildCategoryListRequestMessage'>
    <part name='parameters' element='tns:findChildCategoryListParameters' />
  </message>
  <message name='findChildCategoryListResponseMessage'>
    <part name='response' element='tns:findChildCategoryListResponse' />
  </message>
  <message name='findConceptListRequestMessage'>
    <part name='parameters' element='tns:findConceptListParameters' />
  </message>
  <message name='findConceptListResponseMessage'>
    <part name='response' element='tns:findConceptListResponse' />
  </message>
  <message name='findParentCategoryListRequestMessage'>
    <part name='parameters' element='tns:findParentCategoryListParameters' />
  </message>
  <message name='findParentCategoryListResponseMessage'>
    <part name='response' element='tns:findParentCategoryListResponse' />
  </message>
  <portType name='smartDataPortType'>
    <operation name='categorize'>
      <input message='tns:categorizeRequestMessage' name='categorizeInput' />
      <output message='tns:categorizeResponseMessage' name='categorizeOutput' />
    </operation>
    <operation name='findByCategory'>
      <input message='tns:findByCategoryRequestMessage' name='findByCategoryInput' />
      <output message='tns:findByCategoryResponseMessage' name='findByCategoryOutput' />
    </operation>
    <operation name='findByCategoryId'>
      <input message='tns:findByCategoryIdRequestMessage' name='findByCategoryIdInput' />
      <output message='tns:findByCategoryIdResponseMessage' name='findByCategoryIdOutput' />
    </operation>
    <operation name='findByConcept'>
      <input message='tns:findByConceptRequestMessage' name='findByConceptInput' />
      <output message='tns:findByConceptResponseMessage' name='findByConceptOutput' />
    </operation>
    <operation name='findByConceptConceptPopularity'>
      <input message='tns:findByConceptConceptPopularityRequestMessage' name='findByConceptConceptPopularityInput' />
      <output message='tns:findByConceptConceptPopularityResponseMessage' name='findByConceptConceptPopularityOutput' />
    </operation>
    <operation name='findByConceptRelatedConcept'>
      <input message='tns:findByConceptRelatedConceptRequestMessage' name='findByConceptRelatedConceptInput' />
      <output message='tns:findByConceptRelatedConceptResponseMessage' name='findByConceptRelatedConceptOutput' />
    </operation>
    <operation name='findByConceptId'>
      <input message='tns:findByConceptIdRequestMessage' name='findByConceptIdInput' />
      <output message='tns:findByConceptIdResponseMessage' name='findByConceptIdOutput' />
    </operation>
    <operation name='findByConceptIdConceptPopularity'>
      <input message='tns:findByConceptIdConceptPopularityRequestMessage' name='findByConceptIdConceptPopularityInput' />
      <output message='tns:findByConceptIdConceptPopularityResponseMessage' name='findByConceptIdConceptPopularityOutput' />
    </operation>
    <operation name='findByConceptIdRelatedConcept'>
      <input message='tns:findByConceptIdRelatedConceptRequestMessage' name='findByConceptIdRelatedConceptInput' />
      <output message='tns:findByConceptIdRelatedConceptResponseMessage' name='findByConceptIdRelatedConceptOutput' />
    </operation>
    <operation name='findByConceptIdList'>
      <input message='tns:findByConceptIdListRequestMessage' name='findByConceptIdListInput' />
      <output message='tns:findByConceptIdListResponseMessage' name='findByConceptIdListOutput' />
    </operation>
    <operation name='findCategoryList'>
      <documentation></documentation>
      <input message='tns:findCategoryListRequestMessage' name='findCategoryListInput' />
      <output message='tns:findCategoryListResponseMessage' name='findCategoryListOutput' />
    </operation>
    <operation name='findChildCategoryList'>
      <documentation></documentation>
      <input message='tns:findChildCategoryListRequestMessage' name='findChildCategoryListInput' />
      <output message='tns:findChildCategoryListResponseMessage' name='findChildCategoryListOutput' />
    </operation>
    <operation name='findConceptList'>
      <documentation></documentation>
      <input message='tns:findConceptListRequestMessage' name='findConceptListInput' />
      <output message='tns:findConceptListResponseMessage' name='findConceptListOutput' />
    </operation>
    <operation name='findParentCategoryList'>
      <documentation></documentation>
      <input message='tns:findParentCategoryListRequestMessage' name='findParentCategoryListInput' />
      <output message='tns:findParentCategoryListResponseMessage' name='findParentCategoryListOutput' />
    </operation>
  </portType>
  <binding name='smartDataBinding' type='tns:smartDataPortType'>
    <operation name='categorize'>
      <soap12:operation soapAction='http://categorize' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findByCategory'>
      <soap12:operation soapAction='http://findByCategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findByCategoryId'>
      <soap12:operation soapAction='http://findByCategoryId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findByConcept'>
      <soap12:operation soapAction='http://findByConcept' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findByConceptConceptPopularity'>
      <soap12:operation soapAction='http://findByConceptConceptPopularity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findByConceptRelatedConcept'>
      <soap12:operation soapAction='http://findByConceptRelatedConcept' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findByConceptId'>
      <soap12:operation soapAction='http://findByConceptId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findByConceptIdConceptPopularity'>
      <soap12:operation soapAction='http://findByConceptIdConceptPopularity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findByConceptIdRelatedConcept'>
      <soap12:operation soapAction='http://findByConceptIdRelatedConcept' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findByConceptIdList'>
      <soap12:operation soapAction='http://findByConceptIdList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findCategoryList'>
      <soap12:operation soapAction='http://findCategoryList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findChildCategoryList'>
      <soap12:operation soapAction='http://findChildCategoryList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findConceptList'>
      <soap12:operation soapAction='http://findConceptList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findParentCategoryList'>
      <soap12:operation soapAction='http://findParentCategoryList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='smartData'>
    <documentation>perform semantic searches on a hierarchy of million concepts and categories from concrete to abstract in our knowledge graph with concept popularity and ranking Data Ninja Services which focus on natural language understanding are developed by Docomo Innovations</documentation>
    <port name='smartDataPort' binding='tns:smartDataBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://smartData' />
    </port>
  </service>
</definitions>