workspace/datasets/mashape_dataset/smsgateway.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/smsGateway/' name='smsGateway' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/smsGateway/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/smsGateway/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/smsGateway/'>
      <xsd:element name='hlrLookupNetworkQueryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='smsGatewayResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='hlrLookupNetworkQueryRequestMessage' />
  <message name='hlrLookupNetworkQueryResponseMessage'>
    <part name='response' element='tns:hlrLookupNetworkQueryResponse' />
  </message>
  <message name='smsGatewayRequestMessage' />
  <message name='smsGatewayResponseMessage'>
    <part name='response' element='tns:smsGatewayResponse' />
  </message>
  <portType name='smsGatewayPortType'>
    <operation name='hlrLookupNetworkQuery'>
      <documentation></documentation>
      <input message='tns:hlrLookupNetworkQueryRequestMessage' name='hlrLookupNetworkQueryInput' />
      <output message='tns:hlrLookupNetworkQueryResponseMessage' name='hlrLookupNetworkQueryOutput' />
    </operation>
    <operation name='smsGateway'>
      <documentation></documentation>
      <input message='tns:smsGatewayRequestMessage' name='smsGatewayInput' />
      <output message='tns:smsGatewayResponseMessage' name='smsGatewayOutput' />
    </operation>
  </portType>
  <binding name='smsGatewayBinding' type='tns:smsGatewayPortType'>
    <operation name='hlrLookupNetworkQuery'>
      <soap12:operation soapAction='http://hlrLookupNetworkQuery' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='smsGateway'>
      <soap12:operation soapAction='http://smsGateway' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='smsGateway'>
    <documentation>messageBird provides a simple and fast API for sending and receiving text messages SMS all over the world Other related services are HLR Lookup network query and sending and receiving Premium SMS messages</documentation>
    <port name='smsGatewayPort' binding='tns:smsGatewayBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://smsGateway' />
    </port>
  </service>
</definitions>