workspace/datasets/mashape_dataset/smssending.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/smsSending/' name='smsSending' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/smsSending/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/smsSending/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/smsSending/'>
      <xsd:element name='createlistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='listdata' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createsubaccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountdata' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createsubaccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletecampaignParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='campid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletecampaignResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletecontactsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='deletedata' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletecontactsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletelistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='listname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subaccount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletelistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletesubaccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='logintodelete' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletesubaccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getacksParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='campid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subaccount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getacksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getblacklistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subaccount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getblacklistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcontactsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='listname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subaccount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcontactsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getinfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subaccount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getinfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlistsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subaccount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlistsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpullParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='campid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='subaccount' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpullResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsubaccountsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='returnformat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsubaccountsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='populatelistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='populatedata' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returnFormat' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='populatelistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendsmsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='smsdata' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendsmsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='simulatecampaignParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='smsdata' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='simulatecampaignResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createlistRequestMessage'>
    <part name='parameters' element='tns:createlistParameters' />
  </message>
  <message name='createlistResponseMessage'>
    <part name='response' element='tns:createlistResponse' />
  </message>
  <message name='createsubaccountRequestMessage'>
    <part name='parameters' element='tns:createsubaccountParameters' />
  </message>
  <message name='createsubaccountResponseMessage'>
    <part name='response' element='tns:createsubaccountResponse' />
  </message>
  <message name='deletecampaignRequestMessage'>
    <part name='parameters' element='tns:deletecampaignParameters' />
  </message>
  <message name='deletecampaignResponseMessage'>
    <part name='response' element='tns:deletecampaignResponse' />
  </message>
  <message name='deletecontactsRequestMessage'>
    <part name='parameters' element='tns:deletecontactsParameters' />
  </message>
  <message name='deletecontactsResponseMessage'>
    <part name='response' element='tns:deletecontactsResponse' />
  </message>
  <message name='deletelistRequestMessage'>
    <part name='parameters' element='tns:deletelistParameters' />
  </message>
  <message name='deletelistResponseMessage'>
    <part name='response' element='tns:deletelistResponse' />
  </message>
  <message name='deletesubaccountRequestMessage'>
    <part name='parameters' element='tns:deletesubaccountParameters' />
  </message>
  <message name='deletesubaccountResponseMessage'>
    <part name='response' element='tns:deletesubaccountResponse' />
  </message>
  <message name='getacksRequestMessage'>
    <part name='parameters' element='tns:getacksParameters' />
  </message>
  <message name='getacksResponseMessage'>
    <part name='response' element='tns:getacksResponse' />
  </message>
  <message name='getblacklistRequestMessage'>
    <part name='parameters' element='tns:getblacklistParameters' />
  </message>
  <message name='getblacklistResponseMessage'>
    <part name='response' element='tns:getblacklistResponse' />
  </message>
  <message name='getcontactsRequestMessage'>
    <part name='parameters' element='tns:getcontactsParameters' />
  </message>
  <message name='getcontactsResponseMessage'>
    <part name='response' element='tns:getcontactsResponse' />
  </message>
  <message name='getinfoRequestMessage'>
    <part name='parameters' element='tns:getinfoParameters' />
  </message>
  <message name='getinfoResponseMessage'>
    <part name='response' element='tns:getinfoResponse' />
  </message>
  <message name='getlistsRequestMessage'>
    <part name='parameters' element='tns:getlistsParameters' />
  </message>
  <message name='getlistsResponseMessage'>
    <part name='response' element='tns:getlistsResponse' />
  </message>
  <message name='getpullRequestMessage'>
    <part name='parameters' element='tns:getpullParameters' />
  </message>
  <message name='getpullResponseMessage'>
    <part name='response' element='tns:getpullResponse' />
  </message>
  <message name='getsubaccountsRequestMessage'>
    <part name='parameters' element='tns:getsubaccountsParameters' />
  </message>
  <message name='getsubaccountsResponseMessage'>
    <part name='response' element='tns:getsubaccountsResponse' />
  </message>
  <message name='populatelistRequestMessage'>
    <part name='parameters' element='tns:populatelistParameters' />
  </message>
  <message name='populatelistResponseMessage'>
    <part name='response' element='tns:populatelistResponse' />
  </message>
  <message name='sendsmsRequestMessage'>
    <part name='parameters' element='tns:sendsmsParameters' />
  </message>
  <message name='sendsmsResponseMessage'>
    <part name='response' element='tns:sendsmsResponse' />
  </message>
  <message name='simulatecampaignRequestMessage'>
    <part name='parameters' element='tns:simulatecampaignParameters' />
  </message>
  <message name='simulatecampaignResponseMessage'>
    <part name='response' element='tns:simulatecampaignResponse' />
  </message>
  <portType name='smsSendingPortType'>
    <operation name='createlist'>
      <documentation>create a list that will be available on your allmysms com manager</documentation>
      <input message='tns:createlistRequestMessage' name='createlistInput' />
      <output message='tns:createlistResponseMessage' name='createlistOutput' />
    </operation>
    <operation name='createsubaccount'>
      <documentation>to create a subaccount to your master account</documentation>
      <input message='tns:createsubaccountRequestMessage' name='createsubaccountInput' />
      <output message='tns:createsubaccountResponseMessage' name='createsubaccountOutput' />
    </operation>
    <operation name='deletecampaign'>
      <documentation>delete a programmed SMS campaign</documentation>
      <input message='tns:deletecampaignRequestMessage' name='deletecampaignInput' />
      <output message='tns:deletecampaignResponseMessage' name='deletecampaignOutput' />
    </operation>
    <operation name='deletecontacts'>
      <documentation>to delete contacts in a list</documentation>
      <input message='tns:deletecontactsRequestMessage' name='deletecontactsInput' />
      <output message='tns:deletecontactsResponseMessage' name='deletecontactsOutput' />
    </operation>
    <operation name='deletelist'>
      <documentation>to delete a list of contacts</documentation>
      <input message='tns:deletelistRequestMessage' name='deletelistInput' />
      <output message='tns:deletelistResponseMessage' name='deletelistOutput' />
    </operation>
    <operation name='deletesubaccount'>
      <documentation>delete a subaccount</documentation>
      <input message='tns:deletesubaccountRequestMessage' name='deletesubaccountInput' />
      <output message='tns:deletesubaccountResponseMessage' name='deletesubaccountOutput' />
    </operation>
    <operation name='getacks'>
      <documentation>recover all operators acknowledgments</documentation>
      <input message='tns:getacksRequestMessage' name='getacksInput' />
      <output message='tns:getacksResponseMessage' name='getacksOutput' />
    </operation>
    <operation name='getblacklist'>
      <documentation>get all your blacklisted mobile phone numbers</documentation>
      <input message='tns:getblacklistRequestMessage' name='getblacklistInput' />
      <output message='tns:getblacklistResponseMessage' name='getblacklistOutput' />
    </operation>
    <operation name='getcontacts'>
      <documentation>recover all the contacts stored in a contacts list</documentation>
      <input message='tns:getcontactsRequestMessage' name='getcontactsInput' />
      <output message='tns:getcontactsResponseMessage' name='getcontactsOutput' />
    </operation>
    <operation name='getinfo'>
      <documentation>get information on an account</documentation>
      <input message='tns:getinfoRequestMessage' name='getinfoInput' />
      <output message='tns:getinfoResponseMessage' name='getinfoOutput' />
    </operation>
    <operation name='getlists'>
      <documentation>get the full list of the account s contacts list</documentation>
      <input message='tns:getlistsRequestMessage' name='getlistsInput' />
      <output message='tns:getlistsResponseMessage' name='getlistsOutput' />
    </operation>
    <operation name='getpull'>
      <documentation>recover all the answers SMS MO related to a SMS campaign</documentation>
      <input message='tns:getpullRequestMessage' name='getpullInput' />
      <output message='tns:getpullResponseMessage' name='getpullOutput' />
    </operation>
    <operation name='getsubaccounts'>
      <documentation>get all the accounts attached to a master account</documentation>
      <input message='tns:getsubaccountsRequestMessage' name='getsubaccountsInput' />
      <output message='tns:getsubaccountsResponseMessage' name='getsubaccountsOutput' />
    </operation>
    <operation name='populatelist'>
      <documentation>use this method to populate data into your contacts list</documentation>
      <input message='tns:populatelistRequestMessage' name='populatelistInput' />
      <output message='tns:populatelistResponseMessage' name='populatelistOutput' />
    </operation>
    <operation name='sendsms'>
      <documentation>send SMS</documentation>
      <input message='tns:sendsmsRequestMessage' name='sendsmsInput' />
      <output message='tns:sendsmsResponseMessage' name='sendsmsOutput' />
    </operation>
    <operation name='simulatecampaign'>
      <documentation>simulate a SMS campaign before really sending it</documentation>
      <input message='tns:simulatecampaignRequestMessage' name='simulatecampaignInput' />
      <output message='tns:simulatecampaignResponseMessage' name='simulatecampaignOutput' />
    </operation>
  </portType>
  <binding name='smsSendingBinding' type='tns:smsSendingPortType'>
    <operation name='createlist'>
      <soap12:operation soapAction='http://createlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createsubaccount'>
      <soap12:operation soapAction='http://createsubaccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletecampaign'>
      <soap12:operation soapAction='http://deletecampaign' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletecontacts'>
      <soap12:operation soapAction='http://deletecontacts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletelist'>
      <soap12:operation soapAction='http://deletelist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletesubaccount'>
      <soap12:operation soapAction='http://deletesubaccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getacks'>
      <soap12:operation soapAction='http://getacks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getblacklist'>
      <soap12:operation soapAction='http://getblacklist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcontacts'>
      <soap12:operation soapAction='http://getcontacts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getinfo'>
      <soap12:operation soapAction='http://getinfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getlists'>
      <soap12:operation soapAction='http://getlists' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getpull'>
      <soap12:operation soapAction='http://getpull' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsubaccounts'>
      <soap12:operation soapAction='http://getsubaccounts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='populatelist'>
      <soap12:operation soapAction='http://populatelist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendsms'>
      <soap12:operation soapAction='http://sendsms' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='simulatecampaign'>
      <soap12:operation soapAction='http://simulatecampaign' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='smsSending'>
    <documentation>send bulk SMS all around the world countries covered and more than operators are available See http www allmysms com en api sms for more details and documentation</documentation>
    <port name='smsSendingPort' binding='tns:smsSendingBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://smsSending' />
    </port>
  </service>
</definitions>