workspace/datasets/mashape_dataset/songmeanings.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/songmeanings/' name='songmeanings' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/songmeanings/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/songmeanings/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/songmeanings/'>
      <xsd:element name='artistsSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='matchmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistsSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='commentsFlagPutResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='commentsGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='artistname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lyrictitle' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pageorder' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='parentid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='smlid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='commentsGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='commentsRatingPutResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lyricsGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='artistname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='count' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lyrictitle' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='smlid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='spotifyid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lyricsGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='songsSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='index' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='matchmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='qartist' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='smaid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='songsSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersCreatePutResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersFavoriteGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='smuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersFavoriteGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersFavoritesPutResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersPasswordResetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='smemai' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='smuid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='smusername' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersPasswordResetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='artistsSearchRequestMessage'>
    <part name='parameters' element='tns:artistsSearchParameters' />
  </message>
  <message name='artistsSearchResponseMessage'>
    <part name='response' element='tns:artistsSearchResponse' />
  </message>
  <message name='commentsFlagPutRequestMessage' />
  <message name='commentsFlagPutResponseMessage'>
    <part name='response' element='tns:commentsFlagPutResponse' />
  </message>
  <message name='commentsGetRequestMessage'>
    <part name='parameters' element='tns:commentsGetParameters' />
  </message>
  <message name='commentsGetResponseMessage'>
    <part name='response' element='tns:commentsGetResponse' />
  </message>
  <message name='commentsRatingPutRequestMessage' />
  <message name='commentsRatingPutResponseMessage'>
    <part name='response' element='tns:commentsRatingPutResponse' />
  </message>
  <message name='lyricsGetRequestMessage'>
    <part name='parameters' element='tns:lyricsGetParameters' />
  </message>
  <message name='lyricsGetResponseMessage'>
    <part name='response' element='tns:lyricsGetResponse' />
  </message>
  <message name='songsSearchRequestMessage'>
    <part name='parameters' element='tns:songsSearchParameters' />
  </message>
  <message name='songsSearchResponseMessage'>
    <part name='response' element='tns:songsSearchResponse' />
  </message>
  <message name='usersCreatePutRequestMessage' />
  <message name='usersCreatePutResponseMessage'>
    <part name='response' element='tns:usersCreatePutResponse' />
  </message>
  <message name='usersFavoriteGetRequestMessage'>
    <part name='parameters' element='tns:usersFavoriteGetParameters' />
  </message>
  <message name='usersFavoriteGetResponseMessage'>
    <part name='response' element='tns:usersFavoriteGetResponse' />
  </message>
  <message name='usersFavoritesPutRequestMessage' />
  <message name='usersFavoritesPutResponseMessage'>
    <part name='response' element='tns:usersFavoritesPutResponse' />
  </message>
  <message name='usersPasswordResetRequestMessage'>
    <part name='parameters' element='tns:usersPasswordResetParameters' />
  </message>
  <message name='usersPasswordResetResponseMessage'>
    <part name='response' element='tns:usersPasswordResetResponse' />
  </message>
  <portType name='songmeaningsPortType'>
    <operation name='artistsSearch'>
      <documentation>search the SongMeanings database for artist names and aliases</documentation>
      <input message='tns:artistsSearchRequestMessage' name='artistsSearchInput' />
      <output message='tns:artistsSearchResponseMessage' name='artistsSearchOutput' />
    </operation>
    <operation name='commentsFlagPut'>
      <documentation>allows for a specific comment to be flagged for moderation</documentation>
      <input message='tns:commentsFlagPutRequestMessage' name='commentsFlagPutInput' />
      <output message='tns:commentsFlagPutResponseMessage' name='commentsFlagPutOutput' />
    </operation>
    <operation name='commentsGet'>
      <documentation>get comments from our database for a specific song</documentation>
      <input message='tns:commentsGetRequestMessage' name='commentsGetInput' />
      <output message='tns:commentsGetResponseMessage' name='commentsGetOutput' />
    </operation>
    <operation name='commentsRatingPut'>
      <documentation>allows for a specific comment to be rated up or down by a logged in user</documentation>
      <input message='tns:commentsRatingPutRequestMessage' name='commentsRatingPutInput' />
      <output message='tns:commentsRatingPutResponseMessage' name='commentsRatingPutOutput' />
    </operation>
    <operation name='lyricsGet'>
      <documentation>retrieves lyrics and lyric related data for a specific song</documentation>
      <input message='tns:lyricsGetRequestMessage' name='lyricsGetInput' />
      <output message='tns:lyricsGetResponseMessage' name='lyricsGetOutput' />
    </operation>
    <operation name='songsSearch'>
      <documentation></documentation>
      <input message='tns:songsSearchRequestMessage' name='songsSearchInput' />
      <output message='tns:songsSearchResponseMessage' name='songsSearchOutput' />
    </operation>
    <operation name='usersCreatePut'>
      <documentation>creates a new user account</documentation>
      <input message='tns:usersCreatePutRequestMessage' name='usersCreatePutInput' />
      <output message='tns:usersCreatePutResponseMessage' name='usersCreatePutOutput' />
    </operation>
    <operation name='usersFavoriteGet'>
      <documentation>get a user s favorites by specified type</documentation>
      <input message='tns:usersFavoriteGetRequestMessage' name='usersFavoriteGetInput' />
      <output message='tns:usersFavoriteGetResponseMessage' name='usersFavoriteGetOutput' />
    </operation>
    <operation name='usersFavoritesPut'>
      <documentation>allows for an artist to be followed or a lyric to be favorited by a logged in user</documentation>
      <input message='tns:usersFavoritesPutRequestMessage' name='usersFavoritesPutInput' />
      <output message='tns:usersFavoritesPutResponseMessage' name='usersFavoritesPutOutput' />
    </operation>
    <operation name='usersPasswordReset'>
      <documentation>allows for a user to reset their password When initiated method will send the user an email with a link to click The link will bring the user to desktop SongMeanings where the user will complete the password reset</documentation>
      <input message='tns:usersPasswordResetRequestMessage' name='usersPasswordResetInput' />
      <output message='tns:usersPasswordResetResponseMessage' name='usersPasswordResetOutput' />
    </operation>
  </portType>
  <binding name='songmeaningsBinding' type='tns:songmeaningsPortType'>
    <operation name='artistsSearch'>
      <soap12:operation soapAction='http://artistsSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='commentsFlagPut'>
      <soap12:operation soapAction='http://commentsFlagPut' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='commentsGet'>
      <soap12:operation soapAction='http://commentsGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='commentsRatingPut'>
      <soap12:operation soapAction='http://commentsRatingPut' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lyricsGet'>
      <soap12:operation soapAction='http://lyricsGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='songsSearch'>
      <soap12:operation soapAction='http://songsSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='usersCreatePut'>
      <soap12:operation soapAction='http://usersCreatePut' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='usersFavoriteGet'>
      <soap12:operation soapAction='http://usersFavoriteGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='usersFavoritesPut'>
      <soap12:operation soapAction='http://usersFavoritesPut' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='usersPasswordReset'>
      <soap12:operation soapAction='http://usersPasswordReset' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='songmeanings'>
    <documentation>easily follow and track your favorite artists on SongMeanings Be the first to know about new lyrics song meanings more</documentation>
    <port name='songmeaningsPort' binding='tns:songmeaningsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://songmeanings' />
    </port>
  </service>
</definitions>