workspace/datasets/mashape_dataset/songkick.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/songkick/' name='songkick' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/songkick/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/songkick/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/songkick/'>
      <xsd:element name='artistSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='resultsPage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='perPage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='totalEntries' type='xsd:int' minOccurs='0' />
                  <xsd:element name='page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='results' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='artist' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='onTourUntil' type='xsd:date' minOccurs='0' />
                              <xsd:element name='displayName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistSUpcomingEventsCalendarParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='artistid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='artistSUpcomingEventsCalendarResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='locationSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='locationSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='resultsPage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='perPage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='totalEntries' type='xsd:int' minOccurs='0' />
                  <xsd:element name='page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='results' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='location' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='city' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='country' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='displayName' type='xsd:normalizedString' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                                    <xsd:element name='displayName' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='metroArea' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='country' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='displayName' type='xsd:normalizedString' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                                    <xsd:element name='displayName' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='id' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                                    <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='metroAreaSUpcomingEventsCalendarParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='metroareaid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='metroAreaSUpcomingEventsCalendarResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='upcomingEventSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='artistname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='location' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='upcomingEventSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='resultsPage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='perPage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='totalEntries' type='xsd:int' minOccurs='0' />
                  <xsd:element name='page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='results' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='artist' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='onTourUntil' type='xsd:date' minOccurs='0' />
                              <xsd:element name='displayName' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userSUpcomingEventsCalendarParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='reason' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userSUpcomingEventsCalendarResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='venueSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='resultsPage' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='perPage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='totalEntries' type='xsd:int' minOccurs='0' />
                  <xsd:element name='page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='results' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='venue' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='zip' type='xsd:string' minOccurs='0' />
                              <xsd:element name='website' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='lng' type='xsd:decimal' minOccurs='0' />
                              <xsd:element name='city' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='country' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='displayName' type='xsd:normalizedString' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='displayName' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='id' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='displayName' type='xsd:string' minOccurs='0' />
                              <xsd:element name='description' type='xsd:string' minOccurs='0' />
                              <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='capacity' type='xsd:int' minOccurs='0' />
                              <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                              <xsd:element name='metroArea' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='country' minOccurs='0'>
                                      <xsd:complexType>
                                        <xsd:sequence minOccurs='1' maxOccurs='1'>
                                          <xsd:element name='displayName' type='xsd:normalizedString' minOccurs='0' />
                                        </xsd:sequence>
                                      </xsd:complexType>
                                    </xsd:element>
                                    <xsd:element name='displayName' type='xsd:normalizedString' minOccurs='0' />
                                    <xsd:element name='id' type='xsd:int' minOccurs='0' />
                                    <xsd:element name='uri' type='xsd:anyURI' minOccurs='0' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:element name='street' type='xsd:string' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='lat' type='xsd:decimal' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='venueSUpcomingEventsCalendarParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='venueid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='venueSUpcomingEventsCalendarResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='artistSearchRequestMessage' />
  <message name='artistSearchResponseMessage'>
    <part name='response' element='tns:artistSearchResponse' />
  </message>
  <message name='artistSUpcomingEventsCalendarRequestMessage'>
    <part name='parameters' element='tns:artistSUpcomingEventsCalendarParameters' />
  </message>
  <message name='artistSUpcomingEventsCalendarResponseMessage'>
    <part name='response' element='tns:artistSUpcomingEventsCalendarResponse' />
  </message>
  <message name='locationSearchRequestMessage'>
    <part name='parameters' element='tns:locationSearchParameters' />
  </message>
  <message name='locationSearchResponseMessage'>
    <part name='response' element='tns:locationSearchResponse' />
  </message>
  <message name='metroAreaSUpcomingEventsCalendarRequestMessage'>
    <part name='parameters' element='tns:metroAreaSUpcomingEventsCalendarParameters' />
  </message>
  <message name='metroAreaSUpcomingEventsCalendarResponseMessage'>
    <part name='response' element='tns:metroAreaSUpcomingEventsCalendarResponse' />
  </message>
  <message name='upcomingEventSearchRequestMessage'>
    <part name='parameters' element='tns:upcomingEventSearchParameters' />
  </message>
  <message name='upcomingEventSearchResponseMessage'>
    <part name='response' element='tns:upcomingEventSearchResponse' />
  </message>
  <message name='userSUpcomingEventsCalendarRequestMessage'>
    <part name='parameters' element='tns:userSUpcomingEventsCalendarParameters' />
  </message>
  <message name='userSUpcomingEventsCalendarResponseMessage'>
    <part name='response' element='tns:userSUpcomingEventsCalendarResponse' />
  </message>
  <message name='venueSearchRequestMessage' />
  <message name='venueSearchResponseMessage'>
    <part name='response' element='tns:venueSearchResponse' />
  </message>
  <message name='venueSUpcomingEventsCalendarRequestMessage'>
    <part name='parameters' element='tns:venueSUpcomingEventsCalendarParameters' />
  </message>
  <message name='venueSUpcomingEventsCalendarResponseMessage'>
    <part name='response' element='tns:venueSUpcomingEventsCalendarResponse' />
  </message>
  <portType name='songkickPortType'>
    <operation name='artistSearch'>
      <documentation>search for artists by name using full text search Sorted by relevancy</documentation>
      <input message='tns:artistSearchRequestMessage' name='artistSearchInput' />
      <output message='tns:artistSearchResponseMessage' name='artistSearchOutput' />
    </operation>
    <operation name='artistSUpcomingEventsCalendar'>
      <documentation>find upcoming events for an artist Use our artist search to find an artist ID</documentation>
      <input message='tns:artistSUpcomingEventsCalendarRequestMessage' name='artistSUpcomingEventsCalendarInput' />
      <output message='tns:artistSUpcomingEventsCalendarResponseMessage' name='artistSUpcomingEventsCalendarOutput' />
    </operation>
    <operation name='locationSearch'>
      <documentation>search for locations a city and its metro area A metro area is a city or a collection of cities that Songkick uses to notify users of concerts near them</documentation>
      <input message='tns:locationSearchRequestMessage' name='locationSearchInput' />
      <output message='tns:locationSearchResponseMessage' name='locationSearchOutput' />
    </operation>
    <operation name='metroAreaSUpcomingEventsCalendar'>
      <documentation>find upcoming events for a metro area A metro area is a city or a collection of cities that Songkick uses to notify users of concerts near them Use our location search to find a metro area ID</documentation>
      <input message='tns:metroAreaSUpcomingEventsCalendarRequestMessage' name='metroAreaSUpcomingEventsCalendarInput' />
      <output message='tns:metroAreaSUpcomingEventsCalendarResponseMessage' name='metroAreaSUpcomingEventsCalendarOutput' />
    </operation>
    <operation name='upcomingEventSearch'>
      <documentation></documentation>
      <input message='tns:upcomingEventSearchRequestMessage' name='upcomingEventSearchInput' />
      <output message='tns:upcomingEventSearchResponseMessage' name='upcomingEventSearchOutput' />
    </operation>
    <operation name='userSUpcomingEventsCalendar'>
      <documentation>find upcoming events on a user s calendar There is another API request for past events</documentation>
      <input message='tns:userSUpcomingEventsCalendarRequestMessage' name='userSUpcomingEventsCalendarInput' />
      <output message='tns:userSUpcomingEventsCalendarResponseMessage' name='userSUpcomingEventsCalendarOutput' />
    </operation>
    <operation name='venueSearch'>
      <documentation>search for venues on Songkick using full text search including past names and aliases Sorted by relevancy</documentation>
      <input message='tns:venueSearchRequestMessage' name='venueSearchInput' />
      <output message='tns:venueSearchResponseMessage' name='venueSearchOutput' />
    </operation>
    <operation name='venueSUpcomingEventsCalendar'>
      <documentation>find upcoming events for a venue Use our venue search to find a venue ID</documentation>
      <input message='tns:venueSUpcomingEventsCalendarRequestMessage' name='venueSUpcomingEventsCalendarInput' />
      <output message='tns:venueSUpcomingEventsCalendarResponseMessage' name='venueSUpcomingEventsCalendarOutput' />
    </operation>
  </portType>
  <binding name='songkickBinding' type='tns:songkickPortType'>
    <operation name='artistSearch'>
      <soap12:operation soapAction='http://artistSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='artistSUpcomingEventsCalendar'>
      <soap12:operation soapAction='http://artistSUpcomingEventsCalendar' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='locationSearch'>
      <soap12:operation soapAction='http://locationSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='metroAreaSUpcomingEventsCalendar'>
      <soap12:operation soapAction='http://metroAreaSUpcomingEventsCalendar' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='upcomingEventSearch'>
      <soap12:operation soapAction='http://upcomingEventSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userSUpcomingEventsCalendar'>
      <soap12:operation soapAction='http://userSUpcomingEventsCalendar' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='venueSearch'>
      <soap12:operation soapAction='http://venueSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='venueSUpcomingEventsCalendar'>
      <soap12:operation soapAction='http://venueSUpcomingEventsCalendar' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='songkick'>
    <documentation>be the first to know about concerts Track your favourite artists and never miss them live</documentation>
    <port name='songkickPort' binding='tns:songkickBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://songkick' />
    </port>
  </service>
</definitions>