workspace/datasets/mashape_dataset/sourcingio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/sourcingIo/' name='sourcingIo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/sourcingIo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/sourcingIo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/sourcingIo/'>
      <xsd:element name='fetchingPeopleByEmailParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fetchingPeopleByEmailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gems_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='bio' type='xsd:string' minOccurs='0' />
            <xsd:element name='twitter_followers_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='linkedin' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='score' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='twitter' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='geocode_city' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='twitter_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='headline' type='xsd:string' minOccurs='0' />
            <xsd:element name='gravatar_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='slug' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='geocode_country' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='github' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='hireable' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='languages' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='facebook' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='packages_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='geocode_state' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='connected' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='twitter_connected' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='avatar_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='github_followers_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='company_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='repos' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='full_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='watchers_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='forks_count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='twitter_mutual_users' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='twitter_connected' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='facebook_connected' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='last_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='abbrev' type='xsd:string' minOccurs='0' />
                  <xsd:element name='first_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='gravatar_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='linkedin_connected' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='github_connected' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='location' type='xsd:string' minOccurs='0' />
            <xsd:element name='favorite' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='fetchingPeopleByEmailRequestMessage'>
    <part name='parameters' element='tns:fetchingPeopleByEmailParameters' />
  </message>
  <message name='fetchingPeopleByEmailResponseMessage'>
    <part name='response' element='tns:fetchingPeopleByEmailResponse' />
  </message>
  <portType name='sourcingIoPortType'>
    <operation name='fetchingPeopleByEmail'>
      <documentation>the main endpoint is looking people up by their email address</documentation>
      <input message='tns:fetchingPeopleByEmailRequestMessage' name='fetchingPeopleByEmailInput' />
      <output message='tns:fetchingPeopleByEmailResponseMessage' name='fetchingPeopleByEmailOutput' />
    </operation>
  </portType>
  <binding name='sourcingIoBinding' type='tns:sourcingIoPortType'>
    <operation name='fetchingPeopleByEmail'>
      <soap12:operation soapAction='http://fetchingPeopleByEmail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='sourcingIo'>
    <documentation>source talented software engineers Search through our database of over million developers to find the right match for your team</documentation>
    <port name='sourcingIoPort' binding='tns:sourcingIoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://sourcingIo' />
    </port>
  </service>
</definitions>