workspace/datasets/mashape_dataset/spatialoperations.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/spatialoperations/' name='spatialoperations' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/spatialoperations/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/spatialoperations/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/spatialoperations/'>
      <xsd:element name='bufferPointParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='buffertype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='distance' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='distanceunit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lng' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bufferPointResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='coordinates' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='array' type='xsd:decimal' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='geocodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='matchtype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='geocodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bbox' type='xsd:decimal' maxOccurs='unbounded' />
            <xsd:element name='geometry' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='coordinates' type='xsd:decimal' maxOccurs='unbounded' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='properties' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='HouseNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='FromLongitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CensusBlockL' type='xsd:int' minOccurs='0' />
                  <xsd:element name='CountyFIPS' type='xsd:int' minOccurs='0' />
                  <xsd:element name='SuffixDirectional' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='CensusBlockR' type='xsd:int' minOccurs='0' />
                  <xsd:element name='County' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ToLongitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='CensusBlockGroupR' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Elevation' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ToAddressLeft' type='xsd:int' minOccurs='0' />
                  <xsd:element name='IsHighway' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='BoundingBox' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Street' type='xsd:string' minOccurs='0' />
                  <xsd:element name='SideOfStreet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='CensusTractL' type='xsd:int' minOccurs='0' />
                  <xsd:element name='CensusBlockGroupL' type='xsd:int' minOccurs='0' />
                  <xsd:element name='CityAlias' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='StateFIPS' type='xsd:int' minOccurs='0' />
                  <xsd:element name='CensusTractR' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ToAddressRight' type='xsd:int' minOccurs='0' />
                  <xsd:element name='CentroidPoint' type='xsd:string' minOccurs='0' />
                  <xsd:element name='City' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='StreetType' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ToLatitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='FromAddressRight' type='xsd:int' minOccurs='0' />
                  <xsd:element name='IsPOBox' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='TimeZone' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='TigerLineID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='FromAddressLeft' type='xsd:int' minOccurs='0' />
                  <xsd:element name='State' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='PrefixDirectional' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='FromLatitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='DaylightSavingTime' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='CityAliasAbbreviation' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reverseGeocodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='detail' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lng' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reverseGeocodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bbox' type='xsd:decimal' maxOccurs='unbounded' />
            <xsd:element name='geometry' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='coordinates' type='xsd:decimal' maxOccurs='unbounded' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='properties' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Zip' type='xsd:int' minOccurs='0' />
                  <xsd:element name='HouseNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ToAddressLeft' type='xsd:int' minOccurs='0' />
                  <xsd:element name='FromAddressLeft' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ToAddressRight' type='xsd:int' minOccurs='0' />
                  <xsd:element name='State' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Street' type='xsd:string' minOccurs='0' />
                  <xsd:element name='City' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='FromAddressRight' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='travelTimeAreaParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='detail' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lng' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='mode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timemin' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='travelTimeAreaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bbox' type='xsd:decimal' maxOccurs='unbounded' />
            <xsd:element name='geometry' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='coordinates' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='array' type='xsd:decimal' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='properties' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='mode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='origin' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='detail' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timeMinutes' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='travelTimePPParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='mode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='srclat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='srclng' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='tgtlat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='tgtlng' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='travelTimePPResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='properties' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='destLng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='mode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='startLat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='hours' type='xsd:int' minOccurs='0' />
                  <xsd:element name='seconds' type='xsd:int' minOccurs='0' />
                  <xsd:element name='minutes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='days' type='xsd:int' minOccurs='0' />
                  <xsd:element name='destLat' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='startLng' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='miles' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipDistanceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='srczip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tgtzip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipDistanceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distanceMiles' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipProximityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distance' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='distanceunit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='returnpoints' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='zip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='zipProximityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='properties' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='bufferPointRequestMessage'>
    <part name='parameters' element='tns:bufferPointParameters' />
  </message>
  <message name='bufferPointResponseMessage'>
    <part name='response' element='tns:bufferPointResponse' />
  </message>
  <message name='geocodeRequestMessage'>
    <part name='parameters' element='tns:geocodeParameters' />
  </message>
  <message name='geocodeResponseMessage'>
    <part name='response' element='tns:geocodeResponse' />
  </message>
  <message name='reverseGeocodeRequestMessage'>
    <part name='parameters' element='tns:reverseGeocodeParameters' />
  </message>
  <message name='reverseGeocodeResponseMessage'>
    <part name='response' element='tns:reverseGeocodeResponse' />
  </message>
  <message name='travelTimeAreaRequestMessage'>
    <part name='parameters' element='tns:travelTimeAreaParameters' />
  </message>
  <message name='travelTimeAreaResponseMessage'>
    <part name='response' element='tns:travelTimeAreaResponse' />
  </message>
  <message name='travelTimePPRequestMessage'>
    <part name='parameters' element='tns:travelTimePPParameters' />
  </message>
  <message name='travelTimePPResponseMessage'>
    <part name='response' element='tns:travelTimePPResponse' />
  </message>
  <message name='zipDistanceRequestMessage'>
    <part name='parameters' element='tns:zipDistanceParameters' />
  </message>
  <message name='zipDistanceResponseMessage'>
    <part name='response' element='tns:zipDistanceResponse' />
  </message>
  <message name='zipProximityRequestMessage'>
    <part name='parameters' element='tns:zipProximityParameters' />
  </message>
  <message name='zipProximityResponseMessage'>
    <part name='response' element='tns:zipProximityResponse' />
  </message>
  <portType name='spatialoperationsPortType'>
    <operation name='bufferPoint'>
      <documentation>buffer a point</documentation>
      <input message='tns:bufferPointRequestMessage' name='bufferPointInput' />
      <output message='tns:bufferPointResponseMessage' name='bufferPointOutput' />
    </operation>
    <operation name='geocode'>
      <documentation>convert a named location to point</documentation>
      <input message='tns:geocodeRequestMessage' name='geocodeInput' />
      <output message='tns:geocodeResponseMessage' name='geocodeOutput' />
    </operation>
    <operation name='reverseGeocode'>
      <documentation>convert point to address</documentation>
      <input message='tns:reverseGeocodeRequestMessage' name='reverseGeocodeInput' />
      <output message='tns:reverseGeocodeResponseMessage' name='reverseGeocodeOutput' />
    </operation>
    <operation name='travelTimeArea'>
      <documentation>generate travel time polygons This operation has a max constraint of minutes</documentation>
      <input message='tns:travelTimeAreaRequestMessage' name='travelTimeAreaInput' />
      <output message='tns:travelTimeAreaResponseMessage' name='travelTimeAreaOutput' />
    </operation>
    <operation name='travelTimePP'>
      <documentation>get point to point travel times This operation has a max constraint of miles</documentation>
      <input message='tns:travelTimePPRequestMessage' name='travelTimePPInput' />
      <output message='tns:travelTimePPResponseMessage' name='travelTimePPOutput' />
    </operation>
    <operation name='zipDistance'>
      <documentation>get the As the crow flies distance between zip code center points Returns distance in miles</documentation>
      <input message='tns:zipDistanceRequestMessage' name='zipDistanceInput' />
      <output message='tns:zipDistanceResponseMessage' name='zipDistanceOutput' />
    </operation>
    <operation name='zipProximity'>
      <documentation>get all of the neighboring zip codes within x miles from origin zip code</documentation>
      <input message='tns:zipProximityRequestMessage' name='zipProximityInput' />
      <output message='tns:zipProximityResponseMessage' name='zipProximityOutput' />
    </operation>
  </portType>
  <binding name='spatialoperationsBinding' type='tns:spatialoperationsPortType'>
    <operation name='bufferPoint'>
      <soap12:operation soapAction='http://bufferPoint' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='geocode'>
      <soap12:operation soapAction='http://geocode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reverseGeocode'>
      <soap12:operation soapAction='http://reverseGeocode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='travelTimeArea'>
      <soap12:operation soapAction='http://travelTimeArea' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='travelTimePP'>
      <soap12:operation soapAction='http://travelTimePP' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='zipDistance'>
      <soap12:operation soapAction='http://zipDistance' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='zipProximity'>
      <soap12:operation soapAction='http://zipProximity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='spatialoperations'>
    <documentation>using this API one can add GIS based functionality spatial capabilities to their application website This includes operations like buffering a point geocoding an address convert address to point reverse geocoding from a point location convert point to address point to point travel time analysis and travel time polygon generation Some refer to this as service area or drive time analysis Data coverage includes the Contiguous US Alaska and Hawaii</documentation>
    <port name='spatialoperationsPort' binding='tns:spatialoperationsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://spatialoperations' />
    </port>
  </service>
</definitions>