workspace/datasets/mashape_dataset/speedsms.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/speedsms/' name='speedsms' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/speedsms/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/speedsms/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/speedsms/'>
      <xsd:element name='apiPhpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='apiPhpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='apiPhpRequestMessage'>
    <part name='parameters' element='tns:apiPhpParameters' />
  </message>
  <message name='apiPhpResponseMessage'>
    <part name='response' element='tns:apiPhpResponse' />
  </message>
  <portType name='speedsmsPortType'>
    <operation name='apiPhp'>
      <input message='tns:apiPhpRequestMessage' name='apiPhpInput' />
      <output message='tns:apiPhpResponseMessage' name='apiPhpOutput' />
    </operation>
  </portType>
  <binding name='speedsmsBinding' type='tns:speedsmsPortType'>
    <operation name='apiPhp'>
      <soap12:operation soapAction='http://apiPhp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='speedsms'>
    <documentation>gateway SMS for Italy</documentation>
    <port name='speedsmsPort' binding='tns:speedsmsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://speedsms' />
    </port>
  </service>
</definitions>