workspace/datasets/mashape_dataset/srapi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/srapi/' name='srapi' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/srapi/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/srapi/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/srapi/'>
      <xsd:element name='getalbumsbyartistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalbumsbyartistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='year' type='xsd:int' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='artist_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalbumsbynameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='str' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalbumsbynameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallalbumsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallalbumsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallartistsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='videoproximity' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallartistsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_proximity' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallsongsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallsongsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='artist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='album' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalltagsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getalltagsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='tagged_items' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tag_text' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallvideosParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='videoproximity' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallvideosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='artist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='album' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='video_proximity' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_proximity' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getartistsbynameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='str' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getartistsbynameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='str' type='xsd:string' minOccurs='0' />
                  <xsd:element name='ord' type='xsd:string' minOccurs='0' />
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlatestlyricsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='str' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlatestlyricsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='str' type='xsd:date' minOccurs='0' />
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlyricbyidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlyricbyidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='artist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='album' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='text' type='xsd:string' minOccurs='0' />
                  <xsd:element name='video' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='thumb_url' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='major' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='proximity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='artist' type='xsd:string' minOccurs='0' />
                        <xsd:element name='album_artist' type='xsd:string' minOccurs='0' />
                        <xsd:element name='album_name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='fullname' type='xsd:string' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsongsbyalbumParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsongsbyalbumResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='artist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='album_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsongsbyartistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsongsbyartistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='album' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='artist_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsongsbytagParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsongsbytagResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='artist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='album' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tag_text' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsongsbytitleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='str' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsongsbytitleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='artist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='album' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='str' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideosbyartistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='videoproximity' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideosbyartistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thumb_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='album' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='video_proximity' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='artist_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_proximity' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideosbytagParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='videoproximity' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideosbytagResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thumb_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='artist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='album' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='video_proximity' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tag_text' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_proximity' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideosbytitleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='str' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='videoproximity' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideosbytitleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thumb_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='artist' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='album' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='video_proximity' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='query' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                  <xsd:element name='start' type='xsd:int' minOccurs='0' />
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tag_text' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='end' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='video_proximity' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getalbumsbyartistRequestMessage'>
    <part name='parameters' element='tns:getalbumsbyartistParameters' />
  </message>
  <message name='getalbumsbyartistResponseMessage'>
    <part name='response' element='tns:getalbumsbyartistResponse' />
  </message>
  <message name='getalbumsbynameRequestMessage'>
    <part name='parameters' element='tns:getalbumsbynameParameters' />
  </message>
  <message name='getalbumsbynameResponseMessage'>
    <part name='response' element='tns:getalbumsbynameResponse' />
  </message>
  <message name='getallalbumsRequestMessage'>
    <part name='parameters' element='tns:getallalbumsParameters' />
  </message>
  <message name='getallalbumsResponseMessage'>
    <part name='response' element='tns:getallalbumsResponse' />
  </message>
  <message name='getallartistsRequestMessage'>
    <part name='parameters' element='tns:getallartistsParameters' />
  </message>
  <message name='getallartistsResponseMessage'>
    <part name='response' element='tns:getallartistsResponse' />
  </message>
  <message name='getallsongsRequestMessage'>
    <part name='parameters' element='tns:getallsongsParameters' />
  </message>
  <message name='getallsongsResponseMessage'>
    <part name='response' element='tns:getallsongsResponse' />
  </message>
  <message name='getalltagsRequestMessage'>
    <part name='parameters' element='tns:getalltagsParameters' />
  </message>
  <message name='getalltagsResponseMessage'>
    <part name='response' element='tns:getalltagsResponse' />
  </message>
  <message name='getallvideosRequestMessage'>
    <part name='parameters' element='tns:getallvideosParameters' />
  </message>
  <message name='getallvideosResponseMessage'>
    <part name='response' element='tns:getallvideosResponse' />
  </message>
  <message name='getartistsbynameRequestMessage'>
    <part name='parameters' element='tns:getartistsbynameParameters' />
  </message>
  <message name='getartistsbynameResponseMessage'>
    <part name='response' element='tns:getartistsbynameResponse' />
  </message>
  <message name='getlatestlyricsRequestMessage'>
    <part name='parameters' element='tns:getlatestlyricsParameters' />
  </message>
  <message name='getlatestlyricsResponseMessage'>
    <part name='response' element='tns:getlatestlyricsResponse' />
  </message>
  <message name='getlyricbyidRequestMessage'>
    <part name='parameters' element='tns:getlyricbyidParameters' />
  </message>
  <message name='getlyricbyidResponseMessage'>
    <part name='response' element='tns:getlyricbyidResponse' />
  </message>
  <message name='getsongsbyalbumRequestMessage'>
    <part name='parameters' element='tns:getsongsbyalbumParameters' />
  </message>
  <message name='getsongsbyalbumResponseMessage'>
    <part name='response' element='tns:getsongsbyalbumResponse' />
  </message>
  <message name='getsongsbyartistRequestMessage'>
    <part name='parameters' element='tns:getsongsbyartistParameters' />
  </message>
  <message name='getsongsbyartistResponseMessage'>
    <part name='response' element='tns:getsongsbyartistResponse' />
  </message>
  <message name='getsongsbytagRequestMessage'>
    <part name='parameters' element='tns:getsongsbytagParameters' />
  </message>
  <message name='getsongsbytagResponseMessage'>
    <part name='response' element='tns:getsongsbytagResponse' />
  </message>
  <message name='getsongsbytitleRequestMessage'>
    <part name='parameters' element='tns:getsongsbytitleParameters' />
  </message>
  <message name='getsongsbytitleResponseMessage'>
    <part name='response' element='tns:getsongsbytitleResponse' />
  </message>
  <message name='getvideosbyartistRequestMessage'>
    <part name='parameters' element='tns:getvideosbyartistParameters' />
  </message>
  <message name='getvideosbyartistResponseMessage'>
    <part name='response' element='tns:getvideosbyartistResponse' />
  </message>
  <message name='getvideosbytagRequestMessage'>
    <part name='parameters' element='tns:getvideosbytagParameters' />
  </message>
  <message name='getvideosbytagResponseMessage'>
    <part name='response' element='tns:getvideosbytagResponse' />
  </message>
  <message name='getvideosbytitleRequestMessage'>
    <part name='parameters' element='tns:getvideosbytitleParameters' />
  </message>
  <message name='getvideosbytitleResponseMessage'>
    <part name='response' element='tns:getvideosbytitleResponse' />
  </message>
  <portType name='srapiPortType'>
    <operation name='getalbumsbyartist'>
      <documentation>getAlbumsByArtist php return the list of the albums of the artist called by id parameter</documentation>
      <input message='tns:getalbumsbyartistRequestMessage' name='getalbumsbyartistInput' />
      <output message='tns:getalbumsbyartistResponseMessage' name='getalbumsbyartistOutput' />
    </operation>
    <operation name='getalbumsbyname'>
      <documentation>getAlbumsByName returns the list of the albums that match with album title passed as string parameter</documentation>
      <input message='tns:getalbumsbynameRequestMessage' name='getalbumsbynameInput' />
      <output message='tns:getalbumsbynameResponseMessage' name='getalbumsbynameOutput' />
    </operation>
    <operation name='getallalbums'>
      <documentation></documentation>
      <input message='tns:getallalbumsRequestMessage' name='getallalbumsInput' />
      <output message='tns:getallalbumsResponseMessage' name='getallalbumsOutput' />
    </operation>
    <operation name='getallartists'>
      <documentation></documentation>
      <input message='tns:getallartistsRequestMessage' name='getallartistsInput' />
      <output message='tns:getallartistsResponseMessage' name='getallartistsOutput' />
    </operation>
    <operation name='getallsongs'>
      <documentation></documentation>
      <input message='tns:getallsongsRequestMessage' name='getallsongsInput' />
      <output message='tns:getallsongsResponseMessage' name='getallsongsOutput' />
    </operation>
    <operation name='getalltags'>
      <documentation></documentation>
      <input message='tns:getalltagsRequestMessage' name='getalltagsInput' />
      <output message='tns:getalltagsResponseMessage' name='getalltagsOutput' />
    </operation>
    <operation name='getallvideos'>
      <documentation></documentation>
      <input message='tns:getallvideosRequestMessage' name='getallvideosInput' />
      <output message='tns:getallvideosResponseMessage' name='getallvideosOutput' />
    </operation>
    <operation name='getartistsbyname'>
      <documentation>getArtistsByName returns the list of the artists that match with the string passed as parameter</documentation>
      <input message='tns:getartistsbynameRequestMessage' name='getartistsbynameInput' />
      <output message='tns:getartistsbynameResponseMessage' name='getartistsbynameOutput' />
    </operation>
    <operation name='getlatestlyrics'>
      <documentation>getLatestLyrics return the list oif newest songs list s inserted in the last days from the date passed with string parameter</documentation>
      <input message='tns:getlatestlyricsRequestMessage' name='getlatestlyricsInput' />
      <output message='tns:getlatestlyricsResponseMessage' name='getlatestlyricsOutput' />
    </operation>
    <operation name='getlyricbyid'>
      <documentation>getLyricsByTitle returns all information about the song request by passing the id except for the information about the credits you have to request the credits information with a client server call using the SingRing javascript library</documentation>
      <input message='tns:getlyricbyidRequestMessage' name='getlyricbyidInput' />
      <output message='tns:getlyricbyidResponseMessage' name='getlyricbyidOutput' />
    </operation>
    <operation name='getsongsbyalbum'>
      <documentation>getSongsByAlbum returns a list of songs of the album specified with the id parameter passed</documentation>
      <input message='tns:getsongsbyalbumRequestMessage' name='getsongsbyalbumInput' />
      <output message='tns:getsongsbyalbumResponseMessage' name='getsongsbyalbumOutput' />
    </operation>
    <operation name='getsongsbyartist'>
      <documentation>getSongsByArtist returns a list of songs of the artists specified with the id parameter passed</documentation>
      <input message='tns:getsongsbyartistRequestMessage' name='getsongsbyartistInput' />
      <output message='tns:getsongsbyartistResponseMessage' name='getsongsbyartistOutput' />
    </operation>
    <operation name='getsongsbytag'>
      <documentation>getSongsBytag returns a list of songs tagged with a specific tag passed as id parameter</documentation>
      <input message='tns:getsongsbytagRequestMessage' name='getsongsbytagInput' />
      <output message='tns:getsongsbytagResponseMessage' name='getsongsbytagOutput' />
    </operation>
    <operation name='getsongsbytitle'>
      <documentation>getSongsByTitle returns a list of songs whose titles starts with the string passed with str parameter</documentation>
      <input message='tns:getsongsbytitleRequestMessage' name='getsongsbytitleInput' />
      <output message='tns:getsongsbytitleResponseMessage' name='getsongsbytitleOutput' />
    </operation>
    <operation name='getvideosbyartist'>
      <documentation></documentation>
      <input message='tns:getvideosbyartistRequestMessage' name='getvideosbyartistInput' />
      <output message='tns:getvideosbyartistResponseMessage' name='getvideosbyartistOutput' />
    </operation>
    <operation name='getvideosbytag'>
      <documentation></documentation>
      <input message='tns:getvideosbytagRequestMessage' name='getvideosbytagInput' />
      <output message='tns:getvideosbytagResponseMessage' name='getvideosbytagOutput' />
    </operation>
    <operation name='getvideosbytitle'>
      <documentation></documentation>
      <input message='tns:getvideosbytitleRequestMessage' name='getvideosbytitleInput' />
      <output message='tns:getvideosbytitleResponseMessage' name='getvideosbytitleOutput' />
    </operation>
  </portType>
  <binding name='srapiBinding' type='tns:srapiPortType'>
    <operation name='getalbumsbyartist'>
      <soap12:operation soapAction='http://getalbumsbyartist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getalbumsbyname'>
      <soap12:operation soapAction='http://getalbumsbyname' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getallalbums'>
      <soap12:operation soapAction='http://getallalbums' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getallartists'>
      <soap12:operation soapAction='http://getallartists' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getallsongs'>
      <soap12:operation soapAction='http://getallsongs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getalltags'>
      <soap12:operation soapAction='http://getalltags' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getallvideos'>
      <soap12:operation soapAction='http://getallvideos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getartistsbyname'>
      <soap12:operation soapAction='http://getartistsbyname' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getlatestlyrics'>
      <soap12:operation soapAction='http://getlatestlyrics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getlyricbyid'>
      <soap12:operation soapAction='http://getlyricbyid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsongsbyalbum'>
      <soap12:operation soapAction='http://getsongsbyalbum' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsongsbyartist'>
      <soap12:operation soapAction='http://getsongsbyartist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsongsbytag'>
      <soap12:operation soapAction='http://getsongsbytag' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsongsbytitle'>
      <soap12:operation soapAction='http://getsongsbytitle' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getvideosbyartist'>
      <soap12:operation soapAction='http://getvideosbyartist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getvideosbytag'>
      <soap12:operation soapAction='http://getvideosbytag' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getvideosbytitle'>
      <soap12:operation soapAction='http://getvideosbytitle' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='srapi'>
    <documentation>singRing API SRAPI from now on is a restricted REST service developed to serve SingRing SR from now on lyrics artists and videoinformation to its partners The service is based on server side connection between partners server and SRAPI servers and between clients and SRAPI servers</documentation>
    <port name='srapiPort' binding='tns:srapiBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://srapi' />
    </port>
  </service>
</definitions>