workspace/datasets/mashape_dataset/stamplay.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/stamplay/' name='stamplay' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/stamplay/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/stamplay/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/stamplay/'>
      <xsd:element name='apiGmVChallengesChallengeidUserchallengesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='challengeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='apiGmVChallengesChallengeidUserchallengesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='challengeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidLevelsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='challengeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidLevelsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidUserchallengesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='challengeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidUserchallengesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidUserchallengesIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='challengeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidUserchallengesIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidUserchallengesIdAddpointsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='challengeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidUserchallengesIdAddpointsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidUserchallengesIdUnlocklevelParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='challengeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidUserchallengesIdUnlocklevelResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='challengeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='challengeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesChallengeidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='challengesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cobjectVPostParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='select' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cobjectVPostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cobjectVPostPostidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='postid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cobjectVPostPostidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cobjectVPostPostidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='postid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cobjectVPostPostidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cobjectVPostPostidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='postid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cobjectVPostPostidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cobjectVPostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='formid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='formid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidEntriesIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='formid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidEntriesIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidEntriesIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='formid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidEntriesIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidEntriesIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='formid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidEntriesIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='formid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsFormidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsIdEntriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='formid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='n' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='select' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsIdEntriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsIdEntriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='formid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsIdEntriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='select' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='formsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lotteryid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidTicketsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lotteryid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidTicketsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidTicketsTicketidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lotteryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ticketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidTicketsTicketidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidTicketsTicketidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lotteryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ticketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidTicketsTicketidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidTicketsTicketidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lotteryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ticketid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidTicketsTicketidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidTicketsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lotteryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='n' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='select' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidTicketsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lotteryid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesLotteryidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='select' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteryLotteryidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lotteryid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='lotteryLotteryidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='photosParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='select' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='photosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='photosPhotoidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='photoid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='photosPhotoidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='photosPhotoidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='photoid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='photosPhotoidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userUseridParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userUseridResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='n' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='select' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='videosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='videosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cobjectVPostPostidParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='postid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cobjectVPostPostidResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='apiGmVChallengesChallengeidUserchallengesRequestMessage'>
    <part name='parameters' element='tns:apiGmVChallengesChallengeidUserchallengesParameters' />
  </message>
  <message name='apiGmVChallengesChallengeidUserchallengesResponseMessage'>
    <part name='response' element='tns:apiGmVChallengesChallengeidUserchallengesResponse' />
  </message>
  <message name='challengesChallengeidRequestMessage'>
    <part name='parameters' element='tns:challengesChallengeidParameters' />
  </message>
  <message name='challengesChallengeidResponseMessage'>
    <part name='response' element='tns:challengesChallengeidResponse' />
  </message>
  <message name='challengesChallengeidLevelsRequestMessage'>
    <part name='parameters' element='tns:challengesChallengeidLevelsParameters' />
  </message>
  <message name='challengesChallengeidLevelsResponseMessage'>
    <part name='response' element='tns:challengesChallengeidLevelsResponse' />
  </message>
  <message name='challengesChallengeidUserchallengesRequestMessage'>
    <part name='parameters' element='tns:challengesChallengeidUserchallengesParameters' />
  </message>
  <message name='challengesChallengeidUserchallengesResponseMessage'>
    <part name='response' element='tns:challengesChallengeidUserchallengesResponse' />
  </message>
  <message name='challengesChallengeidUserchallengesIdRequestMessage'>
    <part name='parameters' element='tns:challengesChallengeidUserchallengesIdParameters' />
  </message>
  <message name='challengesChallengeidUserchallengesIdResponseMessage'>
    <part name='response' element='tns:challengesChallengeidUserchallengesIdResponse' />
  </message>
  <message name='challengesChallengeidUserchallengesIdAddpointsRequestMessage'>
    <part name='parameters' element='tns:challengesChallengeidUserchallengesIdAddpointsParameters' />
  </message>
  <message name='challengesChallengeidUserchallengesIdAddpointsResponseMessage'>
    <part name='response' element='tns:challengesChallengeidUserchallengesIdAddpointsResponse' />
  </message>
  <message name='challengesChallengeidUserchallengesIdUnlocklevelRequestMessage'>
    <part name='parameters' element='tns:challengesChallengeidUserchallengesIdUnlocklevelParameters' />
  </message>
  <message name='challengesChallengeidUserchallengesIdUnlocklevelResponseMessage'>
    <part name='response' element='tns:challengesChallengeidUserchallengesIdUnlocklevelResponse' />
  </message>
  <message name='challengesChallengeidRequestMessage'>
    <part name='parameters' element='tns:challengesChallengeidParameters' />
  </message>
  <message name='challengesChallengeidResponseMessage'>
    <part name='response' element='tns:challengesChallengeidResponse' />
  </message>
  <message name='challengesChallengeidRequestMessage'>
    <part name='parameters' element='tns:challengesChallengeidParameters' />
  </message>
  <message name='challengesChallengeidResponseMessage'>
    <part name='response' element='tns:challengesChallengeidResponse' />
  </message>
  <message name='challengesRequestMessage' />
  <message name='challengesResponseMessage'>
    <part name='response' element='tns:challengesResponse' />
  </message>
  <message name='cobjectVPostRequestMessage'>
    <part name='parameters' element='tns:cobjectVPostParameters' />
  </message>
  <message name='cobjectVPostResponseMessage'>
    <part name='response' element='tns:cobjectVPostResponse' />
  </message>
  <message name='cobjectVPostPostidRequestMessage'>
    <part name='parameters' element='tns:cobjectVPostPostidParameters' />
  </message>
  <message name='cobjectVPostPostidResponseMessage'>
    <part name='response' element='tns:cobjectVPostPostidResponse' />
  </message>
  <message name='cobjectVPostPostidRequestMessage'>
    <part name='parameters' element='tns:cobjectVPostPostidParameters' />
  </message>
  <message name='cobjectVPostPostidResponseMessage'>
    <part name='response' element='tns:cobjectVPostPostidResponse' />
  </message>
  <message name='cobjectVPostPostidRequestMessage'>
    <part name='parameters' element='tns:cobjectVPostPostidParameters' />
  </message>
  <message name='cobjectVPostPostidResponseMessage'>
    <part name='response' element='tns:cobjectVPostPostidResponse' />
  </message>
  <message name='cobjectVPostRequestMessage' />
  <message name='cobjectVPostResponseMessage'>
    <part name='response' element='tns:cobjectVPostResponse' />
  </message>
  <message name='formsRequestMessage' />
  <message name='formsResponseMessage'>
    <part name='response' element='tns:formsResponse' />
  </message>
  <message name='formsFormidRequestMessage'>
    <part name='parameters' element='tns:formsFormidParameters' />
  </message>
  <message name='formsFormidResponseMessage'>
    <part name='response' element='tns:formsFormidResponse' />
  </message>
  <message name='formsFormidRequestMessage'>
    <part name='parameters' element='tns:formsFormidParameters' />
  </message>
  <message name='formsFormidResponseMessage'>
    <part name='response' element='tns:formsFormidResponse' />
  </message>
  <message name='formsFormidEntriesIdRequestMessage'>
    <part name='parameters' element='tns:formsFormidEntriesIdParameters' />
  </message>
  <message name='formsFormidEntriesIdResponseMessage'>
    <part name='response' element='tns:formsFormidEntriesIdResponse' />
  </message>
  <message name='formsFormidEntriesIdRequestMessage'>
    <part name='parameters' element='tns:formsFormidEntriesIdParameters' />
  </message>
  <message name='formsFormidEntriesIdResponseMessage'>
    <part name='response' element='tns:formsFormidEntriesIdResponse' />
  </message>
  <message name='formsFormidEntriesIdRequestMessage'>
    <part name='parameters' element='tns:formsFormidEntriesIdParameters' />
  </message>
  <message name='formsFormidEntriesIdResponseMessage'>
    <part name='response' element='tns:formsFormidEntriesIdResponse' />
  </message>
  <message name='formsFormidRequestMessage'>
    <part name='parameters' element='tns:formsFormidParameters' />
  </message>
  <message name='formsFormidResponseMessage'>
    <part name='response' element='tns:formsFormidResponse' />
  </message>
  <message name='formsIdEntriesRequestMessage'>
    <part name='parameters' element='tns:formsIdEntriesParameters' />
  </message>
  <message name='formsIdEntriesResponseMessage'>
    <part name='response' element='tns:formsIdEntriesResponse' />
  </message>
  <message name='formsIdEntriesRequestMessage'>
    <part name='parameters' element='tns:formsIdEntriesParameters' />
  </message>
  <message name='formsIdEntriesResponseMessage'>
    <part name='response' element='tns:formsIdEntriesResponse' />
  </message>
  <message name='formsRequestMessage' />
  <message name='formsResponseMessage'>
    <part name='response' element='tns:formsResponse' />
  </message>
  <message name='formsRequestMessage'>
    <part name='parameters' element='tns:formsParameters' />
  </message>
  <message name='formsResponseMessage'>
    <part name='response' element='tns:formsResponse' />
  </message>
  <message name='lotteriesRequestMessage' />
  <message name='lotteriesResponseMessage'>
    <part name='response' element='tns:lotteriesResponse' />
  </message>
  <message name='lotteriesLotteryidRequestMessage'>
    <part name='parameters' element='tns:lotteriesLotteryidParameters' />
  </message>
  <message name='lotteriesLotteryidResponseMessage'>
    <part name='response' element='tns:lotteriesLotteryidResponse' />
  </message>
  <message name='lotteriesLotteryidTicketsRequestMessage'>
    <part name='parameters' element='tns:lotteriesLotteryidTicketsParameters' />
  </message>
  <message name='lotteriesLotteryidTicketsResponseMessage'>
    <part name='response' element='tns:lotteriesLotteryidTicketsResponse' />
  </message>
  <message name='lotteriesLotteryidTicketsTicketidRequestMessage'>
    <part name='parameters' element='tns:lotteriesLotteryidTicketsTicketidParameters' />
  </message>
  <message name='lotteriesLotteryidTicketsTicketidResponseMessage'>
    <part name='response' element='tns:lotteriesLotteryidTicketsTicketidResponse' />
  </message>
  <message name='lotteriesLotteryidTicketsTicketidRequestMessage'>
    <part name='parameters' element='tns:lotteriesLotteryidTicketsTicketidParameters' />
  </message>
  <message name='lotteriesLotteryidTicketsTicketidResponseMessage'>
    <part name='response' element='tns:lotteriesLotteryidTicketsTicketidResponse' />
  </message>
  <message name='lotteriesLotteryidTicketsTicketidRequestMessage'>
    <part name='parameters' element='tns:lotteriesLotteryidTicketsTicketidParameters' />
  </message>
  <message name='lotteriesLotteryidTicketsTicketidResponseMessage'>
    <part name='response' element='tns:lotteriesLotteryidTicketsTicketidResponse' />
  </message>
  <message name='lotteriesLotteryidTicketsRequestMessage'>
    <part name='parameters' element='tns:lotteriesLotteryidTicketsParameters' />
  </message>
  <message name='lotteriesLotteryidTicketsResponseMessage'>
    <part name='response' element='tns:lotteriesLotteryidTicketsResponse' />
  </message>
  <message name='lotteriesLotteryidRequestMessage'>
    <part name='parameters' element='tns:lotteriesLotteryidParameters' />
  </message>
  <message name='lotteriesLotteryidResponseMessage'>
    <part name='response' element='tns:lotteriesLotteryidResponse' />
  </message>
  <message name='lotteriesRequestMessage'>
    <part name='parameters' element='tns:lotteriesParameters' />
  </message>
  <message name='lotteriesResponseMessage'>
    <part name='response' element='tns:lotteriesResponse' />
  </message>
  <message name='lotteryLotteryidRequestMessage'>
    <part name='parameters' element='tns:lotteryLotteryidParameters' />
  </message>
  <message name='lotteryLotteryidResponseMessage'>
    <part name='response' element='tns:lotteryLotteryidResponse' />
  </message>
  <message name='photosRequestMessage'>
    <part name='parameters' element='tns:photosParameters' />
  </message>
  <message name='photosResponseMessage'>
    <part name='response' element='tns:photosResponse' />
  </message>
  <message name='photosPhotoidRequestMessage'>
    <part name='parameters' element='tns:photosPhotoidParameters' />
  </message>
  <message name='photosPhotoidResponseMessage'>
    <part name='response' element='tns:photosPhotoidResponse' />
  </message>
  <message name='photosPhotoidRequestMessage'>
    <part name='parameters' element='tns:photosPhotoidParameters' />
  </message>
  <message name='photosPhotoidResponseMessage'>
    <part name='response' element='tns:photosPhotoidResponse' />
  </message>
  <message name='userUseridRequestMessage'>
    <part name='parameters' element='tns:userUseridParameters' />
  </message>
  <message name='userUseridResponseMessage'>
    <part name='response' element='tns:userUseridResponse' />
  </message>
  <message name='usersRequestMessage'>
    <part name='parameters' element='tns:usersParameters' />
  </message>
  <message name='usersResponseMessage'>
    <part name='response' element='tns:usersResponse' />
  </message>
  <message name='videosRequestMessage' />
  <message name='videosResponseMessage'>
    <part name='response' element='tns:videosResponse' />
  </message>
  <message name='videosRequestMessage' />
  <message name='videosResponseMessage'>
    <part name='response' element='tns:videosResponse' />
  </message>
  <message name='cobjectVPostPostidRequestMessage'>
    <part name='parameters' element='tns:cobjectVPostPostidParameters' />
  </message>
  <message name='cobjectVPostPostidResponseMessage'>
    <part name='response' element='tns:cobjectVPostPostidResponse' />
  </message>
  <portType name='stamplayPortType'>
    <operation name='apiGmVChallengesChallengeidUserchallenges'>
      <documentation>get all user challenges</documentation>
      <input message='tns:apiGmVChallengesChallengeidUserchallengesRequestMessage' name='apiGmVChallengesChallengeidUserchallengesInput' />
      <output message='tns:apiGmVChallengesChallengeidUserchallengesResponseMessage' name='apiGmVChallengesChallengeidUserchallengesOutput' />
    </operation>
    <operation name='challengesChallengeid'>
      <documentation>retrieve a single challenge given challengeId</documentation>
      <input message='tns:challengesChallengeidRequestMessage' name='challengesChallengeidInput' />
      <output message='tns:challengesChallengeidResponseMessage' name='challengesChallengeidOutput' />
    </operation>
    <operation name='challengesChallengeidLevels'>
      <documentation>get all challenges level information</documentation>
      <input message='tns:challengesChallengeidLevelsRequestMessage' name='challengesChallengeidLevelsInput' />
      <output message='tns:challengesChallengeidLevelsResponseMessage' name='challengesChallengeidLevelsOutput' />
    </operation>
    <operation name='challengesChallengeidUserchallenges'>
      <documentation>create a user challenge</documentation>
      <input message='tns:challengesChallengeidUserchallengesRequestMessage' name='challengesChallengeidUserchallengesInput' />
      <output message='tns:challengesChallengeidUserchallengesResponseMessage' name='challengesChallengeidUserchallengesOutput' />
    </operation>
    <operation name='challengesChallengeidUserchallengesId'>
      <documentation>get a user challenge by id</documentation>
      <input message='tns:challengesChallengeidUserchallengesIdRequestMessage' name='challengesChallengeidUserchallengesIdInput' />
      <output message='tns:challengesChallengeidUserchallengesIdResponseMessage' name='challengesChallengeidUserchallengesIdOutput' />
    </operation>
    <operation name='challengesChallengeidUserchallengesIdAddpoints'>
      <documentation>edit points related to a specific challenge and challenge id</documentation>
      <input message='tns:challengesChallengeidUserchallengesIdAddpointsRequestMessage' name='challengesChallengeidUserchallengesIdAddpointsInput' />
      <output message='tns:challengesChallengeidUserchallengesIdAddpointsResponseMessage' name='challengesChallengeidUserchallengesIdAddpointsOutput' />
    </operation>
    <operation name='challengesChallengeidUserchallengesIdUnlocklevel'>
      <documentation>edit details of a userchallenge</documentation>
      <input message='tns:challengesChallengeidUserchallengesIdUnlocklevelRequestMessage' name='challengesChallengeidUserchallengesIdUnlocklevelInput' />
      <output message='tns:challengesChallengeidUserchallengesIdUnlocklevelResponseMessage' name='challengesChallengeidUserchallengesIdUnlocklevelOutput' />
    </operation>
    <operation name='challengesChallengeid'>
      <documentation>delete a challenge</documentation>
      <input message='tns:challengesChallengeidRequestMessage' name='challengesChallengeidInput' />
      <output message='tns:challengesChallengeidResponseMessage' name='challengesChallengeidOutput' />
    </operation>
    <operation name='challengesChallengeid'>
      <documentation>modify the model of a challenge given its challengeId</documentation>
      <input message='tns:challengesChallengeidRequestMessage' name='challengesChallengeidInput' />
      <output message='tns:challengesChallengeidResponseMessage' name='challengesChallengeidOutput' />
    </operation>
    <operation name='challenges'>
      <documentation>retrieve all set challenges</documentation>
      <input message='tns:challengesRequestMessage' name='challengesInput' />
      <output message='tns:challengesResponseMessage' name='challengesOutput' />
    </operation>
    <operation name='cobjectVPost'>
      <documentation>get all Custom Objects created</documentation>
      <input message='tns:cobjectVPostRequestMessage' name='cobjectVPostInput' />
      <output message='tns:cobjectVPostResponseMessage' name='cobjectVPostOutput' />
    </operation>
    <operation name='cobjectVPostPostid'>
      <documentation>retrieve a Custom Obj by postId</documentation>
      <input message='tns:cobjectVPostPostidRequestMessage' name='cobjectVPostPostidInput' />
      <output message='tns:cobjectVPostPostidResponseMessage' name='cobjectVPostPostidOutput' />
    </operation>
    <operation name='cobjectVPostPostid'>
      <documentation>completely update a Custom Object resource given its postId</documentation>
      <input message='tns:cobjectVPostPostidRequestMessage' name='cobjectVPostPostidInput' />
      <output message='tns:cobjectVPostPostidResponseMessage' name='cobjectVPostPostidOutput' />
    </operation>
    <operation name='cobjectVPostPostid'>
      <documentation>update partially a resource given postId</documentation>
      <input message='tns:cobjectVPostPostidRequestMessage' name='cobjectVPostPostidInput' />
      <output message='tns:cobjectVPostPostidResponseMessage' name='cobjectVPostPostidOutput' />
    </operation>
    <operation name='cobjectVPost'>
      <documentation>create a new Custom Object</documentation>
      <input message='tns:cobjectVPostRequestMessage' name='cobjectVPostInput' />
      <output message='tns:cobjectVPostResponseMessage' name='cobjectVPostOutput' />
    </operation>
    <operation name='forms'>
      <documentation>build a great form</documentation>
      <input message='tns:formsRequestMessage' name='formsInput' />
      <output message='tns:formsResponseMessage' name='formsOutput' />
    </operation>
    <operation name='formsFormid'>
      <documentation>retrieve a specific form</documentation>
      <input message='tns:formsFormidRequestMessage' name='formsFormidInput' />
      <output message='tns:formsFormidResponseMessage' name='formsFormidOutput' />
    </operation>
    <operation name='formsFormid'>
      <documentation>delete a Form structure</documentation>
      <input message='tns:formsFormidRequestMessage' name='formsFormidInput' />
      <output message='tns:formsFormidResponseMessage' name='formsFormidOutput' />
    </operation>
    <operation name='formsFormidEntriesId'>
      <documentation>retrieve entry matching id within formId</documentation>
      <input message='tns:formsFormidEntriesIdRequestMessage' name='formsFormidEntriesIdInput' />
      <output message='tns:formsFormidEntriesIdResponseMessage' name='formsFormidEntriesIdOutput' />
    </operation>
    <operation name='formsFormidEntriesId'>
      <documentation>change the content of a form by id</documentation>
      <input message='tns:formsFormidEntriesIdRequestMessage' name='formsFormidEntriesIdInput' />
      <output message='tns:formsFormidEntriesIdResponseMessage' name='formsFormidEntriesIdOutput' />
    </operation>
    <operation name='formsFormidEntriesId'>
      <documentation>delete an entry id within form given its formId</documentation>
      <input message='tns:formsFormidEntriesIdRequestMessage' name='formsFormidEntriesIdInput' />
      <output message='tns:formsFormidEntriesIdResponseMessage' name='formsFormidEntriesIdOutput' />
    </operation>
    <operation name='formsFormid'>
      <documentation>update a Form structure</documentation>
      <input message='tns:formsFormidRequestMessage' name='formsFormidInput' />
      <output message='tns:formsFormidResponseMessage' name='formsFormidOutput' />
    </operation>
    <operation name='formsIdEntries'>
      <documentation>get all forms related to Id</documentation>
      <input message='tns:formsIdEntriesRequestMessage' name='formsIdEntriesInput' />
      <output message='tns:formsIdEntriesResponseMessage' name='formsIdEntriesOutput' />
    </operation>
    <operation name='formsIdEntries'>
      <documentation>create a form entry</documentation>
      <input message='tns:formsIdEntriesRequestMessage' name='formsIdEntriesInput' />
      <output message='tns:formsIdEntriesResponseMessage' name='formsIdEntriesOutput' />
    </operation>
    <operation name='forms'>
      <documentation>create a challenge</documentation>
      <input message='tns:formsRequestMessage' name='formsInput' />
      <output message='tns:formsResponseMessage' name='formsOutput' />
    </operation>
    <operation name='forms'>
      <documentation>return Form information</documentation>
      <input message='tns:formsRequestMessage' name='formsInput' />
      <output message='tns:formsResponseMessage' name='formsOutput' />
    </operation>
    <operation name='lotteries'>
      <documentation>create new lottery</documentation>
      <input message='tns:lotteriesRequestMessage' name='lotteriesInput' />
      <output message='tns:lotteriesResponseMessage' name='lotteriesOutput' />
    </operation>
    <operation name='lotteriesLotteryid'>
      <documentation>update a lottery model given it s lotteryId</documentation>
      <input message='tns:lotteriesLotteryidRequestMessage' name='lotteriesLotteryidInput' />
      <output message='tns:lotteriesLotteryidResponseMessage' name='lotteriesLotteryidOutput' />
    </operation>
    <operation name='lotteriesLotteryidTickets'>
      <documentation>create a lottery ticket given a lotteryId</documentation>
      <input message='tns:lotteriesLotteryidTicketsRequestMessage' name='lotteriesLotteryidTicketsInput' />
      <output message='tns:lotteriesLotteryidTicketsResponseMessage' name='lotteriesLotteryidTicketsOutput' />
    </operation>
    <operation name='lotteriesLotteryidTicketsTicketid'>
      <documentation>return a lottery ticket based on the lotteryId and its ticketId</documentation>
      <input message='tns:lotteriesLotteryidTicketsTicketidRequestMessage' name='lotteriesLotteryidTicketsTicketidInput' />
      <output message='tns:lotteriesLotteryidTicketsTicketidResponseMessage' name='lotteriesLotteryidTicketsTicketidOutput' />
    </operation>
    <operation name='lotteriesLotteryidTicketsTicketid'>
      <documentation>edit the model for a ticket given it s ticketId and lotteryId</documentation>
      <input message='tns:lotteriesLotteryidTicketsTicketidRequestMessage' name='lotteriesLotteryidTicketsTicketidInput' />
      <output message='tns:lotteriesLotteryidTicketsTicketidResponseMessage' name='lotteriesLotteryidTicketsTicketidOutput' />
    </operation>
    <operation name='lotteriesLotteryidTicketsTicketid'>
      <documentation>delete a lottery ticket given a lotteryId and a ticketId</documentation>
      <input message='tns:lotteriesLotteryidTicketsTicketidRequestMessage' name='lotteriesLotteryidTicketsTicketidInput' />
      <output message='tns:lotteriesLotteryidTicketsTicketidResponseMessage' name='lotteriesLotteryidTicketsTicketidOutput' />
    </operation>
    <operation name='lotteriesLotteryidTickets'>
      <documentation>retrieve lottery tickets given lotteryId</documentation>
      <input message='tns:lotteriesLotteryidTicketsRequestMessage' name='lotteriesLotteryidTicketsInput' />
      <output message='tns:lotteriesLotteryidTicketsResponseMessage' name='lotteriesLotteryidTicketsOutput' />
    </operation>
    <operation name='lotteriesLotteryid'>
      <documentation>delete a lottery given it s lotteryId</documentation>
      <input message='tns:lotteriesLotteryidRequestMessage' name='lotteriesLotteryidInput' />
      <output message='tns:lotteriesLotteryidResponseMessage' name='lotteriesLotteryidOutput' />
    </operation>
    <operation name='lotteries'>
      <documentation>get all available lotteries</documentation>
      <input message='tns:lotteriesRequestMessage' name='lotteriesInput' />
      <output message='tns:lotteriesResponseMessage' name='lotteriesOutput' />
    </operation>
    <operation name='lotteryLotteryid'>
      <documentation>retrieve a lottery given it s lotteryId</documentation>
      <input message='tns:lotteryLotteryidRequestMessage' name='lotteryLotteryidInput' />
      <output message='tns:lotteryLotteryidResponseMessage' name='lotteryLotteryidOutput' />
    </operation>
    <operation name='photos'>
      <documentation>get all photos</documentation>
      <input message='tns:photosRequestMessage' name='photosInput' />
      <output message='tns:photosResponseMessage' name='photosOutput' />
    </operation>
    <operation name='photosPhotoid'>
      <documentation>return a photo given its photoId</documentation>
      <input message='tns:photosPhotoidRequestMessage' name='photosPhotoidInput' />
      <output message='tns:photosPhotoidResponseMessage' name='photosPhotoidOutput' />
    </operation>
    <operation name='photosPhotoid'>
      <documentation>delete a specific photo given photoId Only app admins can do this</documentation>
      <input message='tns:photosPhotoidRequestMessage' name='photosPhotoidInput' />
      <output message='tns:photosPhotoidResponseMessage' name='photosPhotoidOutput' />
    </operation>
    <operation name='userUserid'>
      <documentation>get a single user s info by Id</documentation>
      <input message='tns:userUseridRequestMessage' name='userUseridInput' />
      <output message='tns:userUseridResponseMessage' name='userUseridOutput' />
    </operation>
    <operation name='users'>
      <documentation>get all users</documentation>
      <input message='tns:usersRequestMessage' name='usersInput' />
      <output message='tns:usersResponseMessage' name='usersOutput' />
    </operation>
    <operation name='videos'>
      <documentation>create widget able YouTube videos for your app</documentation>
      <input message='tns:videosRequestMessage' name='videosInput' />
      <output message='tns:videosResponseMessage' name='videosOutput' />
    </operation>
    <operation name='videos'>
      <documentation>get all YouTube videos</documentation>
      <input message='tns:videosRequestMessage' name='videosInput' />
      <output message='tns:videosResponseMessage' name='videosOutput' />
    </operation>
    <operation name='cobjectVPostPostid'>
      <documentation>delete the resource given postId</documentation>
      <input message='tns:cobjectVPostPostidRequestMessage' name='cobjectVPostPostidInput' />
      <output message='tns:cobjectVPostPostidResponseMessage' name='cobjectVPostPostidOutput' />
    </operation>
  </portType>
  <binding name='stamplayBinding' type='tns:stamplayPortType'>
    <operation name='apiGmVChallengesChallengeidUserchallenges'>
      <soap12:operation soapAction='http://apiGmVChallengesChallengeidUserchallenges' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='challengesChallengeid'>
      <soap12:operation soapAction='http://challengesChallengeid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='challengesChallengeidLevels'>
      <soap12:operation soapAction='http://challengesChallengeidLevels' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='challengesChallengeidUserchallenges'>
      <soap12:operation soapAction='http://challengesChallengeidUserchallenges' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='challengesChallengeidUserchallengesId'>
      <soap12:operation soapAction='http://challengesChallengeidUserchallengesId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='challengesChallengeidUserchallengesIdAddpoints'>
      <soap12:operation soapAction='http://challengesChallengeidUserchallengesIdAddpoints' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='challengesChallengeidUserchallengesIdUnlocklevel'>
      <soap12:operation soapAction='http://challengesChallengeidUserchallengesIdUnlocklevel' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='challengesChallengeid'>
      <soap12:operation soapAction='http://challengesChallengeid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='challengesChallengeid'>
      <soap12:operation soapAction='http://challengesChallengeid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='challenges'>
      <soap12:operation soapAction='http://challenges' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cobjectVPost'>
      <soap12:operation soapAction='http://cobjectVPost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cobjectVPostPostid'>
      <soap12:operation soapAction='http://cobjectVPostPostid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cobjectVPostPostid'>
      <soap12:operation soapAction='http://cobjectVPostPostid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cobjectVPostPostid'>
      <soap12:operation soapAction='http://cobjectVPostPostid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cobjectVPost'>
      <soap12:operation soapAction='http://cobjectVPost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='forms'>
      <soap12:operation soapAction='http://forms' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='formsFormid'>
      <soap12:operation soapAction='http://formsFormid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='formsFormid'>
      <soap12:operation soapAction='http://formsFormid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='formsFormidEntriesId'>
      <soap12:operation soapAction='http://formsFormidEntriesId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='formsFormidEntriesId'>
      <soap12:operation soapAction='http://formsFormidEntriesId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='formsFormidEntriesId'>
      <soap12:operation soapAction='http://formsFormidEntriesId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='formsFormid'>
      <soap12:operation soapAction='http://formsFormid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='formsIdEntries'>
      <soap12:operation soapAction='http://formsIdEntries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='formsIdEntries'>
      <soap12:operation soapAction='http://formsIdEntries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='forms'>
      <soap12:operation soapAction='http://forms' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='forms'>
      <soap12:operation soapAction='http://forms' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lotteries'>
      <soap12:operation soapAction='http://lotteries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lotteriesLotteryid'>
      <soap12:operation soapAction='http://lotteriesLotteryid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lotteriesLotteryidTickets'>
      <soap12:operation soapAction='http://lotteriesLotteryidTickets' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lotteriesLotteryidTicketsTicketid'>
      <soap12:operation soapAction='http://lotteriesLotteryidTicketsTicketid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lotteriesLotteryidTicketsTicketid'>
      <soap12:operation soapAction='http://lotteriesLotteryidTicketsTicketid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lotteriesLotteryidTicketsTicketid'>
      <soap12:operation soapAction='http://lotteriesLotteryidTicketsTicketid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lotteriesLotteryidTickets'>
      <soap12:operation soapAction='http://lotteriesLotteryidTickets' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lotteriesLotteryid'>
      <soap12:operation soapAction='http://lotteriesLotteryid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lotteries'>
      <soap12:operation soapAction='http://lotteries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='lotteryLotteryid'>
      <soap12:operation soapAction='http://lotteryLotteryid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='photos'>
      <soap12:operation soapAction='http://photos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='photosPhotoid'>
      <soap12:operation soapAction='http://photosPhotoid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='photosPhotoid'>
      <soap12:operation soapAction='http://photosPhotoid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userUserid'>
      <soap12:operation soapAction='http://userUserid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='users'>
      <soap12:operation soapAction='http://users' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='videos'>
      <soap12:operation soapAction='http://videos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='videos'>
      <soap12:operation soapAction='http://videos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cobjectVPostPostid'>
      <soap12:operation soapAction='http://cobjectVPostPostid' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='stamplay'>
    <documentation>stamplay build web apps easily</documentation>
    <port name='stamplayPort' binding='tns:stamplayBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://stamplay' />
    </port>
  </service>
</definitions>