workspace/datasets/mashape_dataset/standardhoroscopefeature.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/standardHoroscopeFeature/' name='standardHoroscopeFeature' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/standardHoroscopeFeature/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/standardHoroscopeFeature/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/standardHoroscopeFeature/'>
      <xsd:element name='basicAstrologicalDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Varna' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Vashya' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Gan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SignLord' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='NaksahtraLord' type='xsd:int' minOccurs='0' />
            <xsd:element name='Naksahtra' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Yoni' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Nadi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Charan' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicGemstoneSuggestionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='BENEFIC' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='wear_metal' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wear_day' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='weight_caret' type='xsd:string' minOccurs='0' />
                  <xsd:element name='gem_deity' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='semi_gem' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wear_finger' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='LUCKY' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='wear_metal' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wear_day' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='weight_caret' type='xsd:string' minOccurs='0' />
                  <xsd:element name='gem_deity' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='semi_gem' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wear_finger' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='LIFE' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='wear_metal' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='wear_day' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='weight_caret' type='xsd:string' minOccurs='0' />
                  <xsd:element name='gem_deity' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='semi_gem' type='xsd:string' minOccurs='0' />
                  <xsd:element name='wear_finger' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicPanchangDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Yog' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SunSet' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Tithi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Nakshatra' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SunRise' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Karan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Day' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='basicPanchangDetailsAtTheTimeOfSunriseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='currentVimshottariDashaResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sub_minor' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='major' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='minor' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='sub_sub_minor' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='sub_sub_sub_minor' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='horoscopeChartsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='chartid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='horoscopeChartsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sign_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='kalsarpaDoshaReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='one_line' type='xsd:string' minOccurs='0' />
            <xsd:element name='present' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='majorVimshottariDashaDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='planet' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='end' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='manglikReportResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='manglik_present' type='xsd:string' minOccurs='0' />
            <xsd:element name='percentage_manglik_after_cancellation' type='xsd:int' minOccurs='0' />
            <xsd:element name='manglik_status' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='manglik_present_rule' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='based_on_aspect' type='xsd:string' maxOccurs='unbounded' />
                  <xsd:element name='based_on_house' type='xsd:string' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='manglik_cancel_rule' type='xsd:string' minOccurs='0' />
            <xsd:element name='manglik_cancel' type='xsd:string' minOccurs='0' />
            <xsd:element name='percentage_manglik_present' type='xsd:int' minOccurs='0' />
            <xsd:element name='is_cancelled' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='numerologyBasicDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fav_metal' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='friendly_num' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name_number' type='xsd:int' minOccurs='0' />
            <xsd:element name='fav_color' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='radical_num' type='xsd:int' minOccurs='0' />
            <xsd:element name='radical_ruler' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fav_day' type='xsd:string' minOccurs='0' />
            <xsd:element name='fav_god' type='xsd:string' minOccurs='0' />
            <xsd:element name='destiny_number' type='xsd:int' minOccurs='0' />
            <xsd:element name='neutral_num' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='radical_number' type='xsd:int' minOccurs='0' />
            <xsd:element name='evil_num' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fav_mantra' type='xsd:string' minOccurs='0' />
            <xsd:element name='fav_substone' type='xsd:string' minOccurs='0' />
            <xsd:element name='fav_stone' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='planetPanchangDetailsAtTheTimeOfSunriseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='planetaryDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='nakshatraLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nakshatra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fullDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='signLord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='normDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='isRetro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='house' type='xsd:int' minOccurs='0' />
                  <xsd:element name='speed' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='planetaryPanchangDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='nakshatra_lord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nakshatra' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fullDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sign' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='normDegree' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='isRetro' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='sign_lord' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='basicAstrologicalDetailsRequestMessage' />
  <message name='basicAstrologicalDetailsResponseMessage'>
    <part name='response' element='tns:basicAstrologicalDetailsResponse' />
  </message>
  <message name='basicGemstoneSuggestionRequestMessage' />
  <message name='basicGemstoneSuggestionResponseMessage'>
    <part name='response' element='tns:basicGemstoneSuggestionResponse' />
  </message>
  <message name='basicPanchangDetailsRequestMessage' />
  <message name='basicPanchangDetailsResponseMessage'>
    <part name='response' element='tns:basicPanchangDetailsResponse' />
  </message>
  <message name='basicPanchangDetailsAtTheTimeOfSunriseRequestMessage' />
  <message name='basicPanchangDetailsAtTheTimeOfSunriseResponseMessage'>
    <part name='response' element='tns:basicPanchangDetailsAtTheTimeOfSunriseResponse' />
  </message>
  <message name='currentVimshottariDashaRequestMessage' />
  <message name='currentVimshottariDashaResponseMessage'>
    <part name='response' element='tns:currentVimshottariDashaResponse' />
  </message>
  <message name='horoscopeChartsRequestMessage'>
    <part name='parameters' element='tns:horoscopeChartsParameters' />
  </message>
  <message name='horoscopeChartsResponseMessage'>
    <part name='response' element='tns:horoscopeChartsResponse' />
  </message>
  <message name='kalsarpaDoshaReportRequestMessage' />
  <message name='kalsarpaDoshaReportResponseMessage'>
    <part name='response' element='tns:kalsarpaDoshaReportResponse' />
  </message>
  <message name='majorVimshottariDashaDetailsRequestMessage' />
  <message name='majorVimshottariDashaDetailsResponseMessage'>
    <part name='response' element='tns:majorVimshottariDashaDetailsResponse' />
  </message>
  <message name='manglikReportRequestMessage' />
  <message name='manglikReportResponseMessage'>
    <part name='response' element='tns:manglikReportResponse' />
  </message>
  <message name='numerologyBasicDetailsRequestMessage' />
  <message name='numerologyBasicDetailsResponseMessage'>
    <part name='response' element='tns:numerologyBasicDetailsResponse' />
  </message>
  <message name='planetPanchangDetailsAtTheTimeOfSunriseRequestMessage' />
  <message name='planetPanchangDetailsAtTheTimeOfSunriseResponseMessage'>
    <part name='response' element='tns:planetPanchangDetailsAtTheTimeOfSunriseResponse' />
  </message>
  <message name='planetaryDetailsRequestMessage' />
  <message name='planetaryDetailsResponseMessage'>
    <part name='response' element='tns:planetaryDetailsResponse' />
  </message>
  <message name='planetaryPanchangDetailsRequestMessage' />
  <message name='planetaryPanchangDetailsResponseMessage'>
    <part name='response' element='tns:planetaryPanchangDetailsResponse' />
  </message>
  <portType name='standardHoroscopeFeaturePortType'>
    <operation name='basicAstrologicalDetails'>
      <documentation>provides the complete avakahada details e g nakshtatra charan tithi karan yog varna vashaya yoni etc</documentation>
      <input message='tns:basicAstrologicalDetailsRequestMessage' name='basicAstrologicalDetailsInput' />
      <output message='tns:basicAstrologicalDetailsResponseMessage' name='basicAstrologicalDetailsOutput' />
    </operation>
    <operation name='basicGemstoneSuggestion'>
      <documentation>this api suggest you your Life Stone Lucky Stone Benefic Stone with their deity wearing finger date time weight of stone etc</documentation>
      <input message='tns:basicGemstoneSuggestionRequestMessage' name='basicGemstoneSuggestionInput' />
      <output message='tns:basicGemstoneSuggestionResponseMessage' name='basicGemstoneSuggestionOutput' />
    </operation>
    <operation name='basicPanchangDetails'>
      <documentation>provides data points for panchang elements and sunrise and set timings</documentation>
      <input message='tns:basicPanchangDetailsRequestMessage' name='basicPanchangDetailsInput' />
      <output message='tns:basicPanchangDetailsResponseMessage' name='basicPanchangDetailsOutput' />
    </operation>
    <operation name='basicPanchangDetailsAtTheTimeOfSunrise'>
      <documentation>provides data points for panchang elements chaugadiya and sunrise and set time at he time of sunrise</documentation>
      <input message='tns:basicPanchangDetailsAtTheTimeOfSunriseRequestMessage' name='basicPanchangDetailsAtTheTimeOfSunriseInput' />
      <output message='tns:basicPanchangDetailsAtTheTimeOfSunriseResponseMessage' name='basicPanchangDetailsAtTheTimeOfSunriseOutput' />
    </operation>
    <operation name='currentVimshottariDasha'>
      <documentation>current vimshottari dasha gives currently undergoing dasha of your horoscope</documentation>
      <input message='tns:currentVimshottariDashaRequestMessage' name='currentVimshottariDashaInput' />
      <output message='tns:currentVimshottariDashaResponseMessage' name='currentVimshottariDashaOutput' />
    </operation>
    <operation name='horoscopeCharts'>
      <documentation>chart id is based on chart type all D charts The data points include various planetary positions along with ascendant and their respective house positions to draw horoscope charts</documentation>
      <input message='tns:horoscopeChartsRequestMessage' name='horoscopeChartsInput' />
      <output message='tns:horoscopeChartsResponseMessage' name='horoscopeChartsOutput' />
    </operation>
    <operation name='kalsarpaDoshaReport'>
      <documentation>calculate Kal Sarpa Dosha report</documentation>
      <input message='tns:kalsarpaDoshaReportRequestMessage' name='kalsarpaDoshaReportInput' />
      <output message='tns:kalsarpaDoshaReportResponseMessage' name='kalsarpaDoshaReportOutput' />
    </operation>
    <operation name='majorVimshottariDashaDetails'>
      <documentation>major vimshottari dasha provides complete mahadasha detail</documentation>
      <input message='tns:majorVimshottariDashaDetailsRequestMessage' name='majorVimshottariDashaDetailsInput' />
      <output message='tns:majorVimshottariDashaDetailsResponseMessage' name='majorVimshottariDashaDetailsOutput' />
    </operation>
    <operation name='manglikReport'>
      <documentation>calculate if Manglik Dosha present or not</documentation>
      <input message='tns:manglikReportRequestMessage' name='manglikReportInput' />
      <output message='tns:manglikReportResponseMessage' name='manglikReportOutput' />
    </operation>
    <operation name='numerologyBasicDetails'>
      <documentation>provides detailed Numerology report</documentation>
      <input message='tns:numerologyBasicDetailsRequestMessage' name='numerologyBasicDetailsInput' />
      <output message='tns:numerologyBasicDetailsResponseMessage' name='numerologyBasicDetailsOutput' />
    </operation>
    <operation name='planetPanchangDetailsAtTheTimeOfSunrise'>
      <documentation>provides panchang planetary degrees and retrograde positions of panchang at the time of given day sunrise</documentation>
      <input message='tns:planetPanchangDetailsAtTheTimeOfSunriseRequestMessage' name='planetPanchangDetailsAtTheTimeOfSunriseInput' />
      <output message='tns:planetPanchangDetailsAtTheTimeOfSunriseResponseMessage' name='planetPanchangDetailsAtTheTimeOfSunriseOutput' />
    </operation>
    <operation name='planetaryDetails'>
      <documentation>get planets details like planet house sign degree nakshatra etc</documentation>
      <input message='tns:planetaryDetailsRequestMessage' name='planetaryDetailsInput' />
      <output message='tns:planetaryDetailsResponseMessage' name='planetaryDetailsOutput' />
    </operation>
    <operation name='planetaryPanchangDetails'>
      <documentation>provides panchang planetary degrees and retrograde positions</documentation>
      <input message='tns:planetaryPanchangDetailsRequestMessage' name='planetaryPanchangDetailsInput' />
      <output message='tns:planetaryPanchangDetailsResponseMessage' name='planetaryPanchangDetailsOutput' />
    </operation>
  </portType>
  <binding name='standardHoroscopeFeatureBinding' type='tns:standardHoroscopeFeaturePortType'>
    <operation name='basicAstrologicalDetails'>
      <soap12:operation soapAction='http://basicAstrologicalDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='basicGemstoneSuggestion'>
      <soap12:operation soapAction='http://basicGemstoneSuggestion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='basicPanchangDetails'>
      <soap12:operation soapAction='http://basicPanchangDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='basicPanchangDetailsAtTheTimeOfSunrise'>
      <soap12:operation soapAction='http://basicPanchangDetailsAtTheTimeOfSunrise' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='currentVimshottariDasha'>
      <soap12:operation soapAction='http://currentVimshottariDasha' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='horoscopeCharts'>
      <soap12:operation soapAction='http://horoscopeCharts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='kalsarpaDoshaReport'>
      <soap12:operation soapAction='http://kalsarpaDoshaReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='majorVimshottariDashaDetails'>
      <soap12:operation soapAction='http://majorVimshottariDashaDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='manglikReport'>
      <soap12:operation soapAction='http://manglikReport' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='numerologyBasicDetails'>
      <soap12:operation soapAction='http://numerologyBasicDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='planetPanchangDetailsAtTheTimeOfSunrise'>
      <soap12:operation soapAction='http://planetPanchangDetailsAtTheTimeOfSunrise' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='planetaryDetails'>
      <soap12:operation soapAction='http://planetaryDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='planetaryPanchangDetails'>
      <soap12:operation soapAction='http://planetaryPanchangDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='standardHoroscopeFeature'>
    <documentation>standard horoscope APIs allow you to create a full featured horoscope websites or mobile applications which has kundli or horoscope detailed calculations remedial measures such as gemstone suggestions mantra and rudraksha suggestions dosha analysis which includes Manglik and Kal Sarpa dosha report predictions such as planet rashi and planet house reports and much more This also covers all the divisional charts of Vedic Astrology and planetary positions as per Vedic Indian Astrology Start consuming these APIs today</documentation>
    <port name='standardHoroscopeFeaturePort' binding='tns:standardHoroscopeFeatureBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://standardHoroscopeFeature' />
    </port>
  </service>
</definitions>