workspace/datasets/mashape_dataset/streakcrmforgmail.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/streakCrmForGmail/' name='streakCrmForGmail' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/streakCrmForGmail/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/streakCrmForGmail/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/streakCrmForGmail/'>
      <xsd:element name='createABoxParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createABoxResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAPipelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAStageInPipelineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAStageInPipelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createFieldInPipelineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createFieldInPipelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteABoxParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='boxkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteABoxResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteASpecificStageInPipelineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stagekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteASpecificStageInPipelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFieldInAPipelineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fieldkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteFieldInAPipelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editABoxParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='boxkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editABoxResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editAFieldInPipelineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fieldkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editAFieldInPipelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editASpecificStageInPipelineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stagekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editASpecificStageInPipelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editPipelineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='editPipelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fieldParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fieldkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='person' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='textinput' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fieldResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getASpecificBoxParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='boxkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getASpecificBoxResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getASpecificStageInPipelineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stagekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getASpecificStageInPipelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllStagesInAPipelineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stagekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllStagesInAPipelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pipelineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='aclentries' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='creatorkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='orgwide' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='owner' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stageorder' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stages' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pipelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pipelineDeleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pipelinekey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='pipelineDeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='displayname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='isoauthcomplete' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastseentimestamp' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lowercaseemail' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createABoxRequestMessage'>
    <part name='parameters' element='tns:createABoxParameters' />
  </message>
  <message name='createABoxResponseMessage'>
    <part name='response' element='tns:createABoxResponse' />
  </message>
  <message name='createAPipelineRequestMessage' />
  <message name='createAPipelineResponseMessage'>
    <part name='response' element='tns:createAPipelineResponse' />
  </message>
  <message name='createAStageInPipelineRequestMessage'>
    <part name='parameters' element='tns:createAStageInPipelineParameters' />
  </message>
  <message name='createAStageInPipelineResponseMessage'>
    <part name='response' element='tns:createAStageInPipelineResponse' />
  </message>
  <message name='createFieldInPipelineRequestMessage'>
    <part name='parameters' element='tns:createFieldInPipelineParameters' />
  </message>
  <message name='createFieldInPipelineResponseMessage'>
    <part name='response' element='tns:createFieldInPipelineResponse' />
  </message>
  <message name='deleteABoxRequestMessage'>
    <part name='parameters' element='tns:deleteABoxParameters' />
  </message>
  <message name='deleteABoxResponseMessage'>
    <part name='response' element='tns:deleteABoxResponse' />
  </message>
  <message name='deleteASpecificStageInPipelineRequestMessage'>
    <part name='parameters' element='tns:deleteASpecificStageInPipelineParameters' />
  </message>
  <message name='deleteASpecificStageInPipelineResponseMessage'>
    <part name='response' element='tns:deleteASpecificStageInPipelineResponse' />
  </message>
  <message name='deleteFieldInAPipelineRequestMessage'>
    <part name='parameters' element='tns:deleteFieldInAPipelineParameters' />
  </message>
  <message name='deleteFieldInAPipelineResponseMessage'>
    <part name='response' element='tns:deleteFieldInAPipelineResponse' />
  </message>
  <message name='editABoxRequestMessage'>
    <part name='parameters' element='tns:editABoxParameters' />
  </message>
  <message name='editABoxResponseMessage'>
    <part name='response' element='tns:editABoxResponse' />
  </message>
  <message name='editAFieldInPipelineRequestMessage'>
    <part name='parameters' element='tns:editAFieldInPipelineParameters' />
  </message>
  <message name='editAFieldInPipelineResponseMessage'>
    <part name='response' element='tns:editAFieldInPipelineResponse' />
  </message>
  <message name='editASpecificStageInPipelineRequestMessage'>
    <part name='parameters' element='tns:editASpecificStageInPipelineParameters' />
  </message>
  <message name='editASpecificStageInPipelineResponseMessage'>
    <part name='response' element='tns:editASpecificStageInPipelineResponse' />
  </message>
  <message name='editPipelineRequestMessage'>
    <part name='parameters' element='tns:editPipelineParameters' />
  </message>
  <message name='editPipelineResponseMessage'>
    <part name='response' element='tns:editPipelineResponse' />
  </message>
  <message name='fieldRequestMessage'>
    <part name='parameters' element='tns:fieldParameters' />
  </message>
  <message name='fieldResponseMessage'>
    <part name='response' element='tns:fieldResponse' />
  </message>
  <message name='getASpecificBoxRequestMessage'>
    <part name='parameters' element='tns:getASpecificBoxParameters' />
  </message>
  <message name='getASpecificBoxResponseMessage'>
    <part name='response' element='tns:getASpecificBoxResponse' />
  </message>
  <message name='getASpecificStageInPipelineRequestMessage'>
    <part name='parameters' element='tns:getASpecificStageInPipelineParameters' />
  </message>
  <message name='getASpecificStageInPipelineResponseMessage'>
    <part name='response' element='tns:getASpecificStageInPipelineResponse' />
  </message>
  <message name='listAllStagesInAPipelineRequestMessage'>
    <part name='parameters' element='tns:listAllStagesInAPipelineParameters' />
  </message>
  <message name='listAllStagesInAPipelineResponseMessage'>
    <part name='response' element='tns:listAllStagesInAPipelineResponse' />
  </message>
  <message name='pipelineRequestMessage'>
    <part name='parameters' element='tns:pipelineParameters' />
  </message>
  <message name='pipelineResponseMessage'>
    <part name='response' element='tns:pipelineResponse' />
  </message>
  <message name='pipelineDeleteRequestMessage'>
    <part name='parameters' element='tns:pipelineDeleteParameters' />
  </message>
  <message name='pipelineDeleteResponseMessage'>
    <part name='response' element='tns:pipelineDeleteResponse' />
  </message>
  <message name='userRequestMessage'>
    <part name='parameters' element='tns:userParameters' />
  </message>
  <message name='userResponseMessage'>
    <part name='response' element='tns:userResponse' />
  </message>
  <portType name='streakCrmForGmailPortType'>
    <operation name='createABox'>
      <documentation>this call gives you a specific box based on the key you provide</documentation>
      <input message='tns:createABoxRequestMessage' name='createABoxInput' />
      <output message='tns:createABoxResponseMessage' name='createABoxOutput' />
    </operation>
    <operation name='createAPipeline'>
      <documentation>this call will give you a single pipeline given the key</documentation>
      <input message='tns:createAPipelineRequestMessage' name='createAPipelineInput' />
      <output message='tns:createAPipelineResponseMessage' name='createAPipelineOutput' />
    </operation>
    <operation name='createAStageInPipeline'>
      <documentation>this call lets you create a stage defined in a pipeline</documentation>
      <input message='tns:createAStageInPipelineRequestMessage' name='createAStageInPipelineInput' />
      <output message='tns:createAStageInPipelineResponseMessage' name='createAStageInPipelineOutput' />
    </operation>
    <operation name='createFieldInPipeline'>
      <documentation>this call lets you create a field for a pipeline This defines the field in the pipeline so that you can add values for that field for each box in the pipeline</documentation>
      <input message='tns:createFieldInPipelineRequestMessage' name='createFieldInPipelineInput' />
      <output message='tns:createFieldInPipelineResponseMessage' name='createFieldInPipelineOutput' />
    </operation>
    <operation name='deleteABox'>
      <documentation>this call lets you delete a particular box It also deletes all of the relevant data such as files emails and reminders for that box</documentation>
      <input message='tns:deleteABoxRequestMessage' name='deleteABoxInput' />
      <output message='tns:deleteABoxResponseMessage' name='deleteABoxOutput' />
    </operation>
    <operation name='deleteASpecificStageInPipeline'>
      <documentation>this call lets you delete a stage defined in a pipeline This call will only suceed if there are no boxes tagged with the key of this stage else it throws a</documentation>
      <input message='tns:deleteASpecificStageInPipelineRequestMessage' name='deleteASpecificStageInPipelineInput' />
      <output message='tns:deleteASpecificStageInPipelineResponseMessage' name='deleteASpecificStageInPipelineOutput' />
    </operation>
    <operation name='deleteFieldInAPipeline'>
      <documentation>this call lets you delete a field defined in a pipeline Note this will also remove the values of this field for every box in the pipeline</documentation>
      <input message='tns:deleteFieldInAPipelineRequestMessage' name='deleteFieldInAPipelineInput' />
      <output message='tns:deleteFieldInAPipelineResponseMessage' name='deleteFieldInAPipelineOutput' />
    </operation>
    <operation name='editABox'>
      <documentation>edit the properties of a box</documentation>
      <input message='tns:editABoxRequestMessage' name='editABoxInput' />
      <output message='tns:editABoxResponseMessage' name='editABoxOutput' />
    </operation>
    <operation name='editAFieldInPipeline'>
      <documentation>this call lets you edit the name of a field Note that editing the TYPE of a field is not currently permitted and will throw a error</documentation>
      <input message='tns:editAFieldInPipelineRequestMessage' name='editAFieldInPipelineInput' />
      <output message='tns:editAFieldInPipelineResponseMessage' name='editAFieldInPipelineOutput' />
    </operation>
    <operation name='editASpecificStageInPipeline'>
      <documentation>lets you edit the name of a stage</documentation>
      <input message='tns:editASpecificStageInPipelineRequestMessage' name='editASpecificStageInPipelineInput' />
      <output message='tns:editASpecificStageInPipelineResponseMessage' name='editASpecificStageInPipelineOutput' />
    </operation>
    <operation name='editPipeline'>
      <documentation>this call lets you edit the properties of a pipeline</documentation>
      <input message='tns:editPipelineRequestMessage' name='editPipelineInput' />
      <output message='tns:editPipelineResponseMessage' name='editPipelineOutput' />
    </operation>
    <operation name='field'>
      <documentation>allow users to define custom schema on their boxes That is a field is user defined metadata on a box In the web UI of Streak a field shows up as an additional column in the pipeline view and box views Fields are defined on a per pipeline basis This means that all boxes in the same pipeline have the same custom fields schema Fields have a name and a type The type can be any of TEXT INPUT DATE or PERSON</documentation>
      <input message='tns:fieldRequestMessage' name='fieldInput' />
      <output message='tns:fieldResponseMessage' name='fieldOutput' />
    </operation>
    <operation name='getASpecificBox'>
      <documentation>this call gives you a specific box based on the key you provide</documentation>
      <input message='tns:getASpecificBoxRequestMessage' name='getASpecificBoxInput' />
      <output message='tns:getASpecificBoxResponseMessage' name='getASpecificBoxOutput' />
    </operation>
    <operation name='getASpecificStageInPipeline'>
      <documentation>this call gives you a specific stage defined in a pipeline</documentation>
      <input message='tns:getASpecificStageInPipelineRequestMessage' name='getASpecificStageInPipelineInput' />
      <output message='tns:getASpecificStageInPipelineResponseMessage' name='getASpecificStageInPipelineOutput' />
    </operation>
    <operation name='listAllStagesInAPipeline'>
      <documentation>this call lists the stages defined in a pipeline Remember this is only the definition of the stages to change what stage a box is in simply update the box with a new stageKey</documentation>
      <input message='tns:listAllStagesInAPipelineRequestMessage' name='listAllStagesInAPipelineInput' />
      <output message='tns:listAllStagesInAPipelineResponseMessage' name='listAllStagesInAPipelineOutput' />
    </operation>
    <operation name='pipeline'>
      <documentation>pipelines represent a business process that a user would like managed</documentation>
      <input message='tns:pipelineRequestMessage' name='pipelineInput' />
      <output message='tns:pipelineResponseMessage' name='pipelineOutput' />
    </operation>
    <operation name='pipelineDelete'>
      <documentation>this call lets you delete a pipeline All associated data of a pipeline like boxes will be deleted as well</documentation>
      <input message='tns:pipelineDeleteRequestMessage' name='pipelineDeleteInput' />
      <output message='tns:pipelineDeleteResponseMessage' name='pipelineDeleteOutput' />
    </operation>
    <operation name='user'>
      <documentation>user call</documentation>
      <input message='tns:userRequestMessage' name='userInput' />
      <output message='tns:userResponseMessage' name='userOutput' />
    </operation>
  </portType>
  <binding name='streakCrmForGmailBinding' type='tns:streakCrmForGmailPortType'>
    <operation name='createABox'>
      <soap12:operation soapAction='http://createABox' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAPipeline'>
      <soap12:operation soapAction='http://createAPipeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAStageInPipeline'>
      <soap12:operation soapAction='http://createAStageInPipeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createFieldInPipeline'>
      <soap12:operation soapAction='http://createFieldInPipeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteABox'>
      <soap12:operation soapAction='http://deleteABox' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteASpecificStageInPipeline'>
      <soap12:operation soapAction='http://deleteASpecificStageInPipeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteFieldInAPipeline'>
      <soap12:operation soapAction='http://deleteFieldInAPipeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editABox'>
      <soap12:operation soapAction='http://editABox' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editAFieldInPipeline'>
      <soap12:operation soapAction='http://editAFieldInPipeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editASpecificStageInPipeline'>
      <soap12:operation soapAction='http://editASpecificStageInPipeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='editPipeline'>
      <soap12:operation soapAction='http://editPipeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='field'>
      <soap12:operation soapAction='http://field' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getASpecificBox'>
      <soap12:operation soapAction='http://getASpecificBox' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getASpecificStageInPipeline'>
      <soap12:operation soapAction='http://getASpecificStageInPipeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllStagesInAPipeline'>
      <soap12:operation soapAction='http://listAllStagesInAPipeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='pipeline'>
      <soap12:operation soapAction='http://pipeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='pipelineDelete'>
      <soap12:operation soapAction='http://pipelineDelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='user'>
      <soap12:operation soapAction='http://user' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='streakCrmForGmail'>
    <documentation>connects to Streak CRM Streak offers a simple CRM extension to use with Gmail You install it in the Chrome browser then create a set of workflow interfaces in Gmail that allow you to organize related sets of emails Send reminders to yourself in Gmail Queue mails to be sent at certain dates create worklows Some recent email extensions like Rapportive also provide lightweight CRM features but Streak goes way deeper into the workflow process</documentation>
    <port name='streakCrmForGmailPort' binding='tns:streakCrmForGmailBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://streakCrmForGmail' />
    </port>
  </service>
</definitions>