workspace/datasets/mashape_dataset/strongpassword.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/strongpassword/' name='strongpassword' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/strongpassword/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/strongpassword/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/strongpassword/'>
      <xsd:element name='getstrongpasswordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='success' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ismatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='success' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getstrongpasswordRequestMessage' />
  <message name='getstrongpasswordResponseMessage'>
    <part name='response' element='tns:getstrongpasswordResponse' />
  </message>
  <message name='ismatchRequestMessage' />
  <message name='ismatchResponseMessage'>
    <part name='response' element='tns:ismatchResponse' />
  </message>
  <portType name='strongpasswordPortType'>
    <operation name='getstrongpassword'>
      <documentation>strongPassword api API getStrongPassword</documentation>
      <input message='tns:getstrongpasswordRequestMessage' name='getstrongpasswordInput' />
      <output message='tns:getstrongpasswordResponseMessage' name='getstrongpasswordOutput' />
    </operation>
    <operation name='ismatch'>
      <documentation>strongPassword api API isMatch</documentation>
      <input message='tns:ismatchRequestMessage' name='ismatchInput' />
      <output message='tns:ismatchResponseMessage' name='ismatchOutput' />
    </operation>
  </portType>
  <binding name='strongpasswordBinding' type='tns:strongpasswordPortType'>
    <operation name='getstrongpassword'>
      <soap12:operation soapAction='http://getstrongpassword' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ismatch'>
      <soap12:operation soapAction='http://ismatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='strongpassword'>
    <documentation>this api can give you a strong password to make you app more safety</documentation>
    <port name='strongpasswordPort' binding='tns:strongpasswordBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://strongpassword' />
    </port>
  </service>
</definitions>