workspace/datasets/mashape_dataset/stupeflixvideoreversecreatebackwardplayingvideos.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/stupeflixVideoReverseCreateBackwardPlayingVideos/' name='stupeflixVideoReverseCreateBackwardPlayingVideos' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/stupeflixVideoReverseCreateBackwardPlayingVideos/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/stupeflixVideoReverseCreateBackwardPlayingVideos/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/stupeflixVideoReverseCreateBackwardPlayingVideos/'>
      <xsd:element name='videoReverseCreateFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='videoReverseCreateFileRequestMessage' />
  <message name='videoReverseCreateFileResponseMessage'>
    <part name='response' element='tns:videoReverseCreateFileResponse' />
  </message>
  <portType name='stupeflixVideoReverseCreateBackwardPlayingVideosPortType'>
    <operation name='videoReverseCreateFile'>
      <documentation>create and queue a video reverse Task block until finished and redirect to output image file Full API specs at https stupeflix tasks api readthedocs org en latest tasks html video thumb Create API keys here http developer stupeflix com dragon keychain new</documentation>
      <input message='tns:videoReverseCreateFileRequestMessage' name='videoReverseCreateFileInput' />
      <output message='tns:videoReverseCreateFileResponseMessage' name='videoReverseCreateFileOutput' />
    </operation>
  </portType>
  <binding name='stupeflixVideoReverseCreateBackwardPlayingVideosBinding' type='tns:stupeflixVideoReverseCreateBackwardPlayingVideosPortType'>
    <operation name='videoReverseCreateFile'>
      <soap12:operation soapAction='http://videoReverseCreateFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='stupeflixVideoReverseCreateBackwardPlayingVideos'>
    <documentation>create a reversed video file of custom dimensions Full API specs at https stupeflix tasks api readthedocs org en latest tasks html video reverse</documentation>
    <port name='stupeflixVideoReverseCreateBackwardPlayingVideosPort' binding='tns:stupeflixVideoReverseCreateBackwardPlayingVideosBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://stupeflixVideoReverseCreateBackwardPlayingVideos' />
    </port>
  </service>
</definitions>