workspace/datasets/mashape_dataset/syndicateg.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/syndicateG/' name='syndicateG' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/syndicateG/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/syndicateG/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/syndicateG/'>
      <xsd:element name='fetchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxresults' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='fetchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='fetchRequestMessage'>
    <part name='parameters' element='tns:fetchParameters' />
  </message>
  <message name='fetchResponseMessage'>
    <part name='response' element='tns:fetchResponse' />
  </message>
  <portType name='syndicateGPortType'>
    <operation name='fetch'>
      <documentation>fetch Google Plus Posts</documentation>
      <input message='tns:fetchRequestMessage' name='fetchInput' />
      <output message='tns:fetchResponseMessage' name='fetchOutput' />
    </operation>
  </portType>
  <binding name='syndicateGBinding' type='tns:syndicateGPortType'>
    <operation name='fetch'>
      <soap12:operation soapAction='http://fetch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='syndicateG'>
    <documentation>a web service that converts Google Public posts to RSS feed</documentation>
    <port name='syndicateGPort' binding='tns:syndicateGBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://syndicateG' />
    </port>
  </service>
</definitions>