workspace/datasets/mashape_dataset/taskscheduler.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/taskScheduler/' name='taskScheduler' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/taskScheduler/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/taskScheduler/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/taskScheduler/'>
      <xsd:element name='taskDeleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='taskDeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Runtime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Product' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='task' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='method' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='data' type='xsd:string' minOccurs='0' />
                        <xsd:element name='run' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='method' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='taskGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='taskGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Runtime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Product' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='task' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='method' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='data' type='xsd:string' minOccurs='0' />
                        <xsd:element name='run' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='method' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='taskPutParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='day' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='last' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='run' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='space' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='time' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='taskPutResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Runtime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Product' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='task' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='method' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='data' type='xsd:string' minOccurs='0' />
                        <xsd:element name='run' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='method' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='testRunParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='run' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='testRunResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Runtime' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Product' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='task' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='method' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='data' type='xsd:string' minOccurs='0' />
                        <xsd:element name='run' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='method' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='taskDeleteRequestMessage'>
    <part name='parameters' element='tns:taskDeleteParameters' />
  </message>
  <message name='taskDeleteResponseMessage'>
    <part name='response' element='tns:taskDeleteResponse' />
  </message>
  <message name='taskGetRequestMessage'>
    <part name='parameters' element='tns:taskGetParameters' />
  </message>
  <message name='taskGetResponseMessage'>
    <part name='response' element='tns:taskGetResponse' />
  </message>
  <message name='taskPutRequestMessage'>
    <part name='parameters' element='tns:taskPutParameters' />
  </message>
  <message name='taskPutResponseMessage'>
    <part name='response' element='tns:taskPutResponse' />
  </message>
  <message name='testRunRequestMessage'>
    <part name='parameters' element='tns:testRunParameters' />
  </message>
  <message name='testRunResponseMessage'>
    <part name='response' element='tns:testRunResponse' />
  </message>
  <portType name='taskSchedulerPortType'>
    <operation name='taskDelete'>
      <documentation>delete tasks need to specify the name of the task before you can delete the task</documentation>
      <input message='tns:taskDeleteRequestMessage' name='taskDeleteInput' />
      <output message='tns:taskDeleteResponseMessage' name='taskDeleteOutput' />
    </operation>
    <operation name='taskGet'>
      <documentation>task information need to specify the name of the task before they can get to the task information</documentation>
      <input message='tns:taskGetRequestMessage' name='taskGetInput' />
      <output message='tns:taskGetResponseMessage' name='taskGetOutput' />
    </operation>
    <operation name='taskPut'>
      <documentation>additional or update task if the task is not included in this section task to add or update an existing task</documentation>
      <input message='tns:taskPutRequestMessage' name='taskPutInput' />
      <output message='tns:taskPutResponseMessage' name='taskPutOutput' />
    </operation>
    <operation name='testRun'>
      <documentation>test your tasks can be run properly and you can view the test data Finally the task is finished you can via HTTP address http api annice com cn TaskScheduler task name txt view the task execution results</documentation>
      <input message='tns:testRunRequestMessage' name='testRunInput' />
      <output message='tns:testRunResponseMessage' name='testRunOutput' />
    </operation>
  </portType>
  <binding name='taskSchedulerBinding' type='tns:taskSchedulerPortType'>
    <operation name='taskDelete'>
      <soap12:operation soapAction='http://taskDelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='taskGet'>
      <soap12:operation soapAction='http://taskGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='taskPut'>
      <soap12:operation soapAction='http://taskPut' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='testRun'>
      <soap12:operation soapAction='http://testRun' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='taskScheduler'>
    <documentation>a simple management and easy to use task scheduling</documentation>
    <port name='taskSchedulerPort' binding='tns:taskSchedulerBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://taskScheduler' />
    </port>
  </service>
</definitions>