workspace/datasets/mashape_dataset/tcscloudmessaging.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/tcsCloudMessaging/' name='tcsCloudMessaging' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/tcsCloudMessaging/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/tcsCloudMessaging/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/tcsCloudMessaging/'>
      <xsd:element name='addContactResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addGroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addGroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addGroupMembersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addGroupMembersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addMultipleContactsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAllGroupsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='all' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAllGroupsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAllScheduledEventsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='all' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAllScheduledEventsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteContactSParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='all' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mdns' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteContactSResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteGroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupnames' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteGroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteGroupMembersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='members' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteGroupMembersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteScheduledEventParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='msgids' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteScheduledEventResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deliveryNotificationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jobtrackingid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deliveryNotificationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deliveryReceiptsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='messageid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deliveryReceiptsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='programRepliesWithKeywordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='keyword' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='programRepliesWithKeywordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='repliesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='messageid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='repliesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveContactSParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='all' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='mdns' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveContactSResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveGroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveGroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='scheduleAnEventResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendMessageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateContactResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateMultipleContactsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addContactRequestMessage' />
  <message name='addContactResponseMessage'>
    <part name='response' element='tns:addContactResponse' />
  </message>
  <message name='addGroupRequestMessage'>
    <part name='parameters' element='tns:addGroupParameters' />
  </message>
  <message name='addGroupResponseMessage'>
    <part name='response' element='tns:addGroupResponse' />
  </message>
  <message name='addGroupMembersRequestMessage'>
    <part name='parameters' element='tns:addGroupMembersParameters' />
  </message>
  <message name='addGroupMembersResponseMessage'>
    <part name='response' element='tns:addGroupMembersResponse' />
  </message>
  <message name='addMultipleContactsRequestMessage' />
  <message name='addMultipleContactsResponseMessage'>
    <part name='response' element='tns:addMultipleContactsResponse' />
  </message>
  <message name='deleteAllGroupsRequestMessage'>
    <part name='parameters' element='tns:deleteAllGroupsParameters' />
  </message>
  <message name='deleteAllGroupsResponseMessage'>
    <part name='response' element='tns:deleteAllGroupsResponse' />
  </message>
  <message name='deleteAllScheduledEventsRequestMessage'>
    <part name='parameters' element='tns:deleteAllScheduledEventsParameters' />
  </message>
  <message name='deleteAllScheduledEventsResponseMessage'>
    <part name='response' element='tns:deleteAllScheduledEventsResponse' />
  </message>
  <message name='deleteContactSRequestMessage'>
    <part name='parameters' element='tns:deleteContactSParameters' />
  </message>
  <message name='deleteContactSResponseMessage'>
    <part name='response' element='tns:deleteContactSResponse' />
  </message>
  <message name='deleteGroupRequestMessage'>
    <part name='parameters' element='tns:deleteGroupParameters' />
  </message>
  <message name='deleteGroupResponseMessage'>
    <part name='response' element='tns:deleteGroupResponse' />
  </message>
  <message name='deleteGroupMembersRequestMessage'>
    <part name='parameters' element='tns:deleteGroupMembersParameters' />
  </message>
  <message name='deleteGroupMembersResponseMessage'>
    <part name='response' element='tns:deleteGroupMembersResponse' />
  </message>
  <message name='deleteScheduledEventRequestMessage'>
    <part name='parameters' element='tns:deleteScheduledEventParameters' />
  </message>
  <message name='deleteScheduledEventResponseMessage'>
    <part name='response' element='tns:deleteScheduledEventResponse' />
  </message>
  <message name='deliveryNotificationRequestMessage'>
    <part name='parameters' element='tns:deliveryNotificationParameters' />
  </message>
  <message name='deliveryNotificationResponseMessage'>
    <part name='response' element='tns:deliveryNotificationResponse' />
  </message>
  <message name='deliveryReceiptsRequestMessage'>
    <part name='parameters' element='tns:deliveryReceiptsParameters' />
  </message>
  <message name='deliveryReceiptsResponseMessage'>
    <part name='response' element='tns:deliveryReceiptsResponse' />
  </message>
  <message name='programRepliesWithKeywordRequestMessage'>
    <part name='parameters' element='tns:programRepliesWithKeywordParameters' />
  </message>
  <message name='programRepliesWithKeywordResponseMessage'>
    <part name='response' element='tns:programRepliesWithKeywordResponse' />
  </message>
  <message name='repliesRequestMessage'>
    <part name='parameters' element='tns:repliesParameters' />
  </message>
  <message name='repliesResponseMessage'>
    <part name='response' element='tns:repliesResponse' />
  </message>
  <message name='retrieveContactSRequestMessage'>
    <part name='parameters' element='tns:retrieveContactSParameters' />
  </message>
  <message name='retrieveContactSResponseMessage'>
    <part name='response' element='tns:retrieveContactSResponse' />
  </message>
  <message name='retrieveGroupRequestMessage'>
    <part name='parameters' element='tns:retrieveGroupParameters' />
  </message>
  <message name='retrieveGroupResponseMessage'>
    <part name='response' element='tns:retrieveGroupResponse' />
  </message>
  <message name='scheduleAnEventRequestMessage' />
  <message name='scheduleAnEventResponseMessage'>
    <part name='response' element='tns:scheduleAnEventResponse' />
  </message>
  <message name='sendMessageRequestMessage' />
  <message name='sendMessageResponseMessage'>
    <part name='response' element='tns:sendMessageResponse' />
  </message>
  <message name='updateContactRequestMessage' />
  <message name='updateContactResponseMessage'>
    <part name='response' element='tns:updateContactResponse' />
  </message>
  <message name='updateMultipleContactsRequestMessage' />
  <message name='updateMultipleContactsResponseMessage'>
    <part name='response' element='tns:updateMultipleContactsResponse' />
  </message>
  <portType name='tcsCloudMessagingPortType'>
    <operation name='addContact'>
      <documentation>add contacts into the CMC system</documentation>
      <input message='tns:addContactRequestMessage' name='addContactInput' />
      <output message='tns:addContactResponseMessage' name='addContactOutput' />
    </operation>
    <operation name='addGroup'>
      <documentation>add groups into the CMC system</documentation>
      <input message='tns:addGroupRequestMessage' name='addGroupInput' />
      <output message='tns:addGroupResponseMessage' name='addGroupOutput' />
    </operation>
    <operation name='addGroupMembers'>
      <documentation>add group member to existing groups into the CMC system</documentation>
      <input message='tns:addGroupMembersRequestMessage' name='addGroupMembersInput' />
      <output message='tns:addGroupMembersResponseMessage' name='addGroupMembersOutput' />
    </operation>
    <operation name='addMultipleContacts'>
      <documentation>add multiple contacts into the CMC system</documentation>
      <input message='tns:addMultipleContactsRequestMessage' name='addMultipleContactsInput' />
      <output message='tns:addMultipleContactsResponseMessage' name='addMultipleContactsOutput' />
    </operation>
    <operation name='deleteAllGroups'>
      <documentation>delete all the groups provisioned in the CMC system</documentation>
      <input message='tns:deleteAllGroupsRequestMessage' name='deleteAllGroupsInput' />
      <output message='tns:deleteAllGroupsResponseMessage' name='deleteAllGroupsOutput' />
    </operation>
    <operation name='deleteAllScheduledEvents'>
      <documentation>delete all the scheduled events from the CMC system</documentation>
      <input message='tns:deleteAllScheduledEventsRequestMessage' name='deleteAllScheduledEventsInput' />
      <output message='tns:deleteAllScheduledEventsResponseMessage' name='deleteAllScheduledEventsOutput' />
    </operation>
    <operation name='deleteContactS'>
      <documentation>delete the contact provisioned in the CMC system</documentation>
      <input message='tns:deleteContactSRequestMessage' name='deleteContactSInput' />
      <output message='tns:deleteContactSResponseMessage' name='deleteContactSOutput' />
    </operation>
    <operation name='deleteGroup'>
      <documentation>delete the group provisioned in the CMC system</documentation>
      <input message='tns:deleteGroupRequestMessage' name='deleteGroupInput' />
      <output message='tns:deleteGroupResponseMessage' name='deleteGroupOutput' />
    </operation>
    <operation name='deleteGroupMembers'>
      <documentation>add group member from existing groups in the CMC system</documentation>
      <input message='tns:deleteGroupMembersRequestMessage' name='deleteGroupMembersInput' />
      <output message='tns:deleteGroupMembersResponseMessage' name='deleteGroupMembersOutput' />
    </operation>
    <operation name='deleteScheduledEvent'>
      <documentation>delete a scheduled event from the CMC system</documentation>
      <input message='tns:deleteScheduledEventRequestMessage' name='deleteScheduledEventInput' />
      <output message='tns:deleteScheduledEventResponseMessage' name='deleteScheduledEventOutput' />
    </operation>
    <operation name='deliveryNotification'>
      <documentation>delivery notifications are provided in response to sending a message using the CMC REST API A delivery notification provides a message delivery status and the unique message ID associated with each destination in the send request The message ID is unique in the system and is required in all future requests to determine the message delivery status</documentation>
      <input message='tns:deliveryNotificationRequestMessage' name='deliveryNotificationInput' />
      <output message='tns:deliveryNotificationResponseMessage' name='deliveryNotificationOutput' />
    </operation>
    <operation name='deliveryReceipts'>
      <documentation>delivery receipts allow you to determine the delivery status of a message CMC reports two delivery receipts where applicable by the destination s carrier The first receipt is the confirmation that the message was sent to the cell network The second is confirmation of delivery to the device if that device s carrier supports the functionality</documentation>
      <input message='tns:deliveryReceiptsRequestMessage' name='deliveryReceiptsInput' />
      <output message='tns:deliveryReceiptsResponseMessage' name='deliveryReceiptsOutput' />
    </operation>
    <operation name='programRepliesWithKeyword'>
      <documentation>requesting of program replies allows the client to retrieve unsolicited Mobile Originated MO traffic sent to a CTIA short code or fixed code</documentation>
      <input message='tns:programRepliesWithKeywordRequestMessage' name='programRepliesWithKeywordInput' />
      <output message='tns:programRepliesWithKeywordResponseMessage' name='programRepliesWithKeywordOutput' />
    </operation>
    <operation name='replies'>
      <documentation>replies are responses to a message sent using dynamic codes</documentation>
      <input message='tns:repliesRequestMessage' name='repliesInput' />
      <output message='tns:repliesResponseMessage' name='repliesOutput' />
    </operation>
    <operation name='retrieveContactS'>
      <documentation>retrieve the contact provisioned in the CMC system Contacts are used as message destination and contacts can be added to a group for sending group messages</documentation>
      <input message='tns:retrieveContactSRequestMessage' name='retrieveContactSInput' />
      <output message='tns:retrieveContactSResponseMessage' name='retrieveContactSOutput' />
    </operation>
    <operation name='retrieveGroup'>
      <documentation>retrieve the group provisioned in the CMC system</documentation>
      <input message='tns:retrieveGroupRequestMessage' name='retrieveGroupInput' />
      <output message='tns:retrieveGroupResponseMessage' name='retrieveGroupOutput' />
    </operation>
    <operation name='scheduleAnEvent'>
      <documentation>schedule a calendar event</documentation>
      <input message='tns:scheduleAnEventRequestMessage' name='scheduleAnEventInput' />
      <output message='tns:scheduleAnEventResponseMessage' name='scheduleAnEventOutput' />
    </operation>
    <operation name='sendMessage'>
      <documentation>allows authorized users to send messages to handsets and mobile devices using SMS</documentation>
      <input message='tns:sendMessageRequestMessage' name='sendMessageInput' />
      <output message='tns:sendMessageResponseMessage' name='sendMessageOutput' />
    </operation>
    <operation name='updateContact'>
      <documentation>update contacts into the CMC system</documentation>
      <input message='tns:updateContactRequestMessage' name='updateContactInput' />
      <output message='tns:updateContactResponseMessage' name='updateContactOutput' />
    </operation>
    <operation name='updateMultipleContacts'>
      <documentation>update multiple contacts into the CMC system</documentation>
      <input message='tns:updateMultipleContactsRequestMessage' name='updateMultipleContactsInput' />
      <output message='tns:updateMultipleContactsResponseMessage' name='updateMultipleContactsOutput' />
    </operation>
  </portType>
  <binding name='tcsCloudMessagingBinding' type='tns:tcsCloudMessagingPortType'>
    <operation name='addContact'>
      <soap12:operation soapAction='http://addContact' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addGroup'>
      <soap12:operation soapAction='http://addGroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addGroupMembers'>
      <soap12:operation soapAction='http://addGroupMembers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addMultipleContacts'>
      <soap12:operation soapAction='http://addMultipleContacts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAllGroups'>
      <soap12:operation soapAction='http://deleteAllGroups' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAllScheduledEvents'>
      <soap12:operation soapAction='http://deleteAllScheduledEvents' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteContactS'>
      <soap12:operation soapAction='http://deleteContactS' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteGroup'>
      <soap12:operation soapAction='http://deleteGroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteGroupMembers'>
      <soap12:operation soapAction='http://deleteGroupMembers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteScheduledEvent'>
      <soap12:operation soapAction='http://deleteScheduledEvent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deliveryNotification'>
      <soap12:operation soapAction='http://deliveryNotification' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deliveryReceipts'>
      <soap12:operation soapAction='http://deliveryReceipts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='programRepliesWithKeyword'>
      <soap12:operation soapAction='http://programRepliesWithKeyword' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='replies'>
      <soap12:operation soapAction='http://replies' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveContactS'>
      <soap12:operation soapAction='http://retrieveContactS' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveGroup'>
      <soap12:operation soapAction='http://retrieveGroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='scheduleAnEvent'>
      <soap12:operation soapAction='http://scheduleAnEvent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendMessage'>
      <soap12:operation soapAction='http://sendMessage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateContact'>
      <soap12:operation soapAction='http://updateContact' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateMultipleContacts'>
      <soap12:operation soapAction='http://updateMultipleContacts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='tcsCloudMessaging'>
    <documentation>tCS Cloud Messaging Center REST API allows developers to easily integrate SMS Text messaging into their applications and web services We offer two way text messaging coverage for all US wireless carriers The Cloud Messaging Center CMC REST API provides a set of methods that are called using https or http to perform messaging SMS features such as Sending a message Getting delivery receipts Replying to a message Creating contacts and groups Scheduling messages</documentation>
    <port name='tcsCloudMessagingPort' binding='tns:tcsCloudMessagingBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://tcsCloudMessaging' />
    </port>
  </service>
</definitions>