workspace/datasets/mashape_dataset/tdmhdb.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/tdmHdb/' name='tdmHdb' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/tdmHdb/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/tdmHdb/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/tdmHdb/'>
      <xsd:element name='addToDbParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='check' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='filename' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='md' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='record' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='reqkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sha' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sha' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sha' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addToDbResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='appsDirectoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='appdetailsbyid' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='appsDirectoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='app_lastupdated' type='xsd:int' minOccurs='0' />
            <xsd:element name='app_name' type='xsd:string' minOccurs='0' />
            <xsd:element name='app_curVersion' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='app_dlUrl' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='app_updateExt' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='app_sha1' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='app_creator' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='app_changelog' type='xsd:string' minOccurs='0' />
            <xsd:element name='app_description' type='xsd:string' minOccurs='0' />
            <xsd:element name='app_curBuildno' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authenticateUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='authuser' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userauthkey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authenticateUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='user' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='reqkey' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByValueParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='searchbyval' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchByValueResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sha1' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='submittedby' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sha256' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sha512' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='filenames' type='xsd:string' minOccurs='0' />
                  <xsd:element name='md5' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addToDbRequestMessage'>
    <part name='parameters' element='tns:addToDbParameters' />
  </message>
  <message name='addToDbResponseMessage'>
    <part name='response' element='tns:addToDbResponse' />
  </message>
  <message name='appsDirectoryRequestMessage'>
    <part name='parameters' element='tns:appsDirectoryParameters' />
  </message>
  <message name='appsDirectoryResponseMessage'>
    <part name='response' element='tns:appsDirectoryResponse' />
  </message>
  <message name='authenticateUserRequestMessage'>
    <part name='parameters' element='tns:authenticateUserParameters' />
  </message>
  <message name='authenticateUserResponseMessage'>
    <part name='response' element='tns:authenticateUserResponse' />
  </message>
  <message name='searchByValueRequestMessage'>
    <part name='parameters' element='tns:searchByValueParameters' />
  </message>
  <message name='searchByValueResponseMessage'>
    <part name='response' element='tns:searchByValueResponse' />
  </message>
  <portType name='tdmHdbPortType'>
    <operation name='addToDb'>
      <input message='tns:addToDbRequestMessage' name='addToDbInput' />
      <output message='tns:addToDbResponseMessage' name='addToDbOutput' />
    </operation>
    <operation name='appsDirectory'>
      <documentation>apps using TDM HDB their details</documentation>
      <input message='tns:appsDirectoryRequestMessage' name='appsDirectoryInput' />
      <output message='tns:appsDirectoryResponseMessage' name='appsDirectoryOutput' />
    </operation>
    <operation name='authenticateUser'>
      <documentation>once the user has authenticated their client key can be used for any HDB account api activities</documentation>
      <input message='tns:authenticateUserRequestMessage' name='authenticateUserInput' />
      <output message='tns:authenticateUserResponseMessage' name='authenticateUserOutput' />
    </operation>
    <operation name='searchByValue'>
      <documentation>note The value must be a proper MD SHA SHA or SHA</documentation>
      <input message='tns:searchByValueRequestMessage' name='searchByValueInput' />
      <output message='tns:searchByValueResponseMessage' name='searchByValueOutput' />
    </operation>
  </portType>
  <binding name='tdmHdbBinding' type='tns:tdmHdbPortType'>
    <operation name='addToDb'>
      <soap12:operation soapAction='http://addToDb' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='appsDirectory'>
      <soap12:operation soapAction='http://appsDirectory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='authenticateUser'>
      <soap12:operation soapAction='http://authenticateUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchByValue'>
      <soap12:operation soapAction='http://searchByValue' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='tdmHdb'>
    <documentation>file hash checksum value database Contains MD SHA SHA SHA</documentation>
    <port name='tdmHdbPort' binding='tns:tdmHdbBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://tdmHdb' />
    </port>
  </service>
</definitions>