workspace/datasets/mashape_dataset/teechio.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/teechIo/' name='teechIo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/teechIo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/teechIo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/teechIo/'>
      <xsd:element name='creatingAMaterialResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='custom_prop_0' type='xsd:string' minOccurs='0' />
            <xsd:element name='source_meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='vid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='taxonomy' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='source' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creatingAModuleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creatingAnAssessmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creatingAnAssignmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='any_other_custom_property' type='xsd:string' minOccurs='0' />
            <xsd:element name='material' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='module' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='creatingAnObjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='classname' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='custom_prop_1' type='xsd:string' minOccurs='0' />
            <xsd:element name='custom_prop_0' type='xsd:string' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAFileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAMaterialParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAMaterialResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAModuleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAModuleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingASubmissionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='submissionid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingASubmissionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAnAssessmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='assessmentid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAnAssessmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAnAssignmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='assignmentid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAnAssignmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAnObjectParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deletingAnObjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enrollingAUserOnAModuleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='moduleid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='enrollingAUserOnAModuleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gradingASubmissionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gradingASubmissionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='score' type='xsd:int' minOccurs='0' />
            <xsd:element name='performance_level' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='assignment' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='body' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='user' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllAssessmentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllAssignmentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='any_other_custom_property' type='xsd:string' minOccurs='0' />
                  <xsd:element name='material' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='module' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllFilesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllMaterialsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='custom_prop_0' type='xsd:string' minOccurs='0' />
                  <xsd:element name='source_meta' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='vid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='taxonomy' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='source' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllModulesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllModulesEnrolledByAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllModulesEnrolledByAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='teacher' type='xsd:string' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllObjectsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='classname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='custom_prop_1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='custom_prop_0' type='xsd:string' minOccurs='0' />
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllSubmissionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='assignment' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='body' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='user' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loggingInAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='logins' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n1411741519' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='n1411746530' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registeringASubmissionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='assignment' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='body' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='user' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingAssessmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='assessmentid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingAssessmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingAssignmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingAssignmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='any_other_custom_property' type='xsd:string' minOccurs='0' />
            <xsd:element name='material' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='module' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingMaterialParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingMaterialResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='custom_prop_0' type='xsd:string' minOccurs='0' />
            <xsd:element name='source_meta' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='vid' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='taxonomy' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='source' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingModuleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingModuleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingObjectParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingObjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='classname' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='custom_prop_1' type='xsd:string' minOccurs='0' />
            <xsd:element name='custom_prop_0' type='xsd:string' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingSubmissionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingSubmissionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='assignment' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='body' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='user' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrievingAnExistingUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='signingUpAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingAMaterialResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingAModuleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingAModuleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='teacher' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='any_custom_property' type='xsd:string' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingAUserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingAUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingAnAssessmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='assessmentid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingAnAssessmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingAnAssignmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='assignmentsid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingAnAssignmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingAnObjectParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatingAnObjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='classname' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='new_custom_prop' type='xsd:string' minOccurs='0' />
            <xsd:element name='custom_prop_1' type='xsd:string' minOccurs='0' />
            <xsd:element name='custom_prop_0' type='xsd:string' minOccurs='0' />
            <xsd:element name='_id' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadingAFileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uploadingAFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='withdrawingAUserEnrollmentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='moduleid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='withdrawingAUserEnrollmentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='creatingAMaterialRequestMessage' />
  <message name='creatingAMaterialResponseMessage'>
    <part name='response' element='tns:creatingAMaterialResponse' />
  </message>
  <message name='creatingAModuleRequestMessage' />
  <message name='creatingAModuleResponseMessage'>
    <part name='response' element='tns:creatingAModuleResponse' />
  </message>
  <message name='creatingAnAssessmentRequestMessage' />
  <message name='creatingAnAssessmentResponseMessage'>
    <part name='response' element='tns:creatingAnAssessmentResponse' />
  </message>
  <message name='creatingAnAssignmentRequestMessage' />
  <message name='creatingAnAssignmentResponseMessage'>
    <part name='response' element='tns:creatingAnAssignmentResponse' />
  </message>
  <message name='creatingAnObjectRequestMessage' />
  <message name='creatingAnObjectResponseMessage'>
    <part name='response' element='tns:creatingAnObjectResponse' />
  </message>
  <message name='deletingAFileRequestMessage'>
    <part name='parameters' element='tns:deletingAFileParameters' />
  </message>
  <message name='deletingAFileResponseMessage'>
    <part name='response' element='tns:deletingAFileResponse' />
  </message>
  <message name='deletingAMaterialRequestMessage'>
    <part name='parameters' element='tns:deletingAMaterialParameters' />
  </message>
  <message name='deletingAMaterialResponseMessage'>
    <part name='response' element='tns:deletingAMaterialResponse' />
  </message>
  <message name='deletingAModuleRequestMessage'>
    <part name='parameters' element='tns:deletingAModuleParameters' />
  </message>
  <message name='deletingAModuleResponseMessage'>
    <part name='response' element='tns:deletingAModuleResponse' />
  </message>
  <message name='deletingASubmissionRequestMessage'>
    <part name='parameters' element='tns:deletingASubmissionParameters' />
  </message>
  <message name='deletingASubmissionResponseMessage'>
    <part name='response' element='tns:deletingASubmissionResponse' />
  </message>
  <message name='deletingAUserRequestMessage'>
    <part name='parameters' element='tns:deletingAUserParameters' />
  </message>
  <message name='deletingAUserResponseMessage'>
    <part name='response' element='tns:deletingAUserResponse' />
  </message>
  <message name='deletingAnAssessmentRequestMessage'>
    <part name='parameters' element='tns:deletingAnAssessmentParameters' />
  </message>
  <message name='deletingAnAssessmentResponseMessage'>
    <part name='response' element='tns:deletingAnAssessmentResponse' />
  </message>
  <message name='deletingAnAssignmentRequestMessage'>
    <part name='parameters' element='tns:deletingAnAssignmentParameters' />
  </message>
  <message name='deletingAnAssignmentResponseMessage'>
    <part name='response' element='tns:deletingAnAssignmentResponse' />
  </message>
  <message name='deletingAnObjectRequestMessage'>
    <part name='parameters' element='tns:deletingAnObjectParameters' />
  </message>
  <message name='deletingAnObjectResponseMessage'>
    <part name='response' element='tns:deletingAnObjectResponse' />
  </message>
  <message name='enrollingAUserOnAModuleRequestMessage'>
    <part name='parameters' element='tns:enrollingAUserOnAModuleParameters' />
  </message>
  <message name='enrollingAUserOnAModuleResponseMessage'>
    <part name='response' element='tns:enrollingAUserOnAModuleResponse' />
  </message>
  <message name='gradingASubmissionRequestMessage'>
    <part name='parameters' element='tns:gradingASubmissionParameters' />
  </message>
  <message name='gradingASubmissionResponseMessage'>
    <part name='response' element='tns:gradingASubmissionResponse' />
  </message>
  <message name='listAllAssessmentsRequestMessage' />
  <message name='listAllAssessmentsResponseMessage'>
    <part name='response' element='tns:listAllAssessmentsResponse' />
  </message>
  <message name='listAllAssignmentsRequestMessage' />
  <message name='listAllAssignmentsResponseMessage'>
    <part name='response' element='tns:listAllAssignmentsResponse' />
  </message>
  <message name='listAllFilesRequestMessage' />
  <message name='listAllFilesResponseMessage'>
    <part name='response' element='tns:listAllFilesResponse' />
  </message>
  <message name='listAllMaterialsRequestMessage' />
  <message name='listAllMaterialsResponseMessage'>
    <part name='response' element='tns:listAllMaterialsResponse' />
  </message>
  <message name='listAllModulesRequestMessage' />
  <message name='listAllModulesResponseMessage'>
    <part name='response' element='tns:listAllModulesResponse' />
  </message>
  <message name='listAllModulesEnrolledByAUserRequestMessage'>
    <part name='parameters' element='tns:listAllModulesEnrolledByAUserParameters' />
  </message>
  <message name='listAllModulesEnrolledByAUserResponseMessage'>
    <part name='response' element='tns:listAllModulesEnrolledByAUserResponse' />
  </message>
  <message name='listAllObjectsRequestMessage' />
  <message name='listAllObjectsResponseMessage'>
    <part name='response' element='tns:listAllObjectsResponse' />
  </message>
  <message name='listAllSubmissionsRequestMessage' />
  <message name='listAllSubmissionsResponseMessage'>
    <part name='response' element='tns:listAllSubmissionsResponse' />
  </message>
  <message name='listAllUsersRequestMessage' />
  <message name='listAllUsersResponseMessage'>
    <part name='response' element='tns:listAllUsersResponse' />
  </message>
  <message name='loggingInAUserRequestMessage' />
  <message name='loggingInAUserResponseMessage'>
    <part name='response' element='tns:loggingInAUserResponse' />
  </message>
  <message name='registeringASubmissionRequestMessage' />
  <message name='registeringASubmissionResponseMessage'>
    <part name='response' element='tns:registeringASubmissionResponse' />
  </message>
  <message name='retrievingAnExistingAssessmentRequestMessage'>
    <part name='parameters' element='tns:retrievingAnExistingAssessmentParameters' />
  </message>
  <message name='retrievingAnExistingAssessmentResponseMessage'>
    <part name='response' element='tns:retrievingAnExistingAssessmentResponse' />
  </message>
  <message name='retrievingAnExistingAssignmentRequestMessage'>
    <part name='parameters' element='tns:retrievingAnExistingAssignmentParameters' />
  </message>
  <message name='retrievingAnExistingAssignmentResponseMessage'>
    <part name='response' element='tns:retrievingAnExistingAssignmentResponse' />
  </message>
  <message name='retrievingAnExistingMaterialRequestMessage'>
    <part name='parameters' element='tns:retrievingAnExistingMaterialParameters' />
  </message>
  <message name='retrievingAnExistingMaterialResponseMessage'>
    <part name='response' element='tns:retrievingAnExistingMaterialResponse' />
  </message>
  <message name='retrievingAnExistingModuleRequestMessage'>
    <part name='parameters' element='tns:retrievingAnExistingModuleParameters' />
  </message>
  <message name='retrievingAnExistingModuleResponseMessage'>
    <part name='response' element='tns:retrievingAnExistingModuleResponse' />
  </message>
  <message name='retrievingAnExistingObjectRequestMessage'>
    <part name='parameters' element='tns:retrievingAnExistingObjectParameters' />
  </message>
  <message name='retrievingAnExistingObjectResponseMessage'>
    <part name='response' element='tns:retrievingAnExistingObjectResponse' />
  </message>
  <message name='retrievingAnExistingSubmissionRequestMessage'>
    <part name='parameters' element='tns:retrievingAnExistingSubmissionParameters' />
  </message>
  <message name='retrievingAnExistingSubmissionResponseMessage'>
    <part name='response' element='tns:retrievingAnExistingSubmissionResponse' />
  </message>
  <message name='retrievingAnExistingUserRequestMessage'>
    <part name='parameters' element='tns:retrievingAnExistingUserParameters' />
  </message>
  <message name='retrievingAnExistingUserResponseMessage'>
    <part name='response' element='tns:retrievingAnExistingUserResponse' />
  </message>
  <message name='signingUpAUserRequestMessage' />
  <message name='signingUpAUserResponseMessage'>
    <part name='response' element='tns:signingUpAUserResponse' />
  </message>
  <message name='updatingAMaterialRequestMessage' />
  <message name='updatingAMaterialResponseMessage'>
    <part name='response' element='tns:updatingAMaterialResponse' />
  </message>
  <message name='updatingAModuleRequestMessage'>
    <part name='parameters' element='tns:updatingAModuleParameters' />
  </message>
  <message name='updatingAModuleResponseMessage'>
    <part name='response' element='tns:updatingAModuleResponse' />
  </message>
  <message name='updatingAUserRequestMessage'>
    <part name='parameters' element='tns:updatingAUserParameters' />
  </message>
  <message name='updatingAUserResponseMessage'>
    <part name='response' element='tns:updatingAUserResponse' />
  </message>
  <message name='updatingAnAssessmentRequestMessage'>
    <part name='parameters' element='tns:updatingAnAssessmentParameters' />
  </message>
  <message name='updatingAnAssessmentResponseMessage'>
    <part name='response' element='tns:updatingAnAssessmentResponse' />
  </message>
  <message name='updatingAnAssignmentRequestMessage'>
    <part name='parameters' element='tns:updatingAnAssignmentParameters' />
  </message>
  <message name='updatingAnAssignmentResponseMessage'>
    <part name='response' element='tns:updatingAnAssignmentResponse' />
  </message>
  <message name='updatingAnObjectRequestMessage'>
    <part name='parameters' element='tns:updatingAnObjectParameters' />
  </message>
  <message name='updatingAnObjectResponseMessage'>
    <part name='response' element='tns:updatingAnObjectResponse' />
  </message>
  <message name='uploadingAFileRequestMessage'>
    <part name='parameters' element='tns:uploadingAFileParameters' />
  </message>
  <message name='uploadingAFileResponseMessage'>
    <part name='response' element='tns:uploadingAFileResponse' />
  </message>
  <message name='withdrawingAUserEnrollmentRequestMessage'>
    <part name='parameters' element='tns:withdrawingAUserEnrollmentParameters' />
  </message>
  <message name='withdrawingAUserEnrollmentResponseMessage'>
    <part name='response' element='tns:withdrawingAUserEnrollmentResponse' />
  </message>
  <portType name='teechIoPortType'>
    <operation name='creatingAMaterial'>
      <documentation>creates a new material Materials are schemaless but some required attributes must be provided</documentation>
      <input message='tns:creatingAMaterialRequestMessage' name='creatingAMaterialInput' />
      <output message='tns:creatingAMaterialResponseMessage' name='creatingAMaterialOutput' />
    </operation>
    <operation name='creatingAModule'>
      <documentation>creates a new module Modules are schemaless but some required attributes must be provided</documentation>
      <input message='tns:creatingAModuleRequestMessage' name='creatingAModuleInput' />
      <output message='tns:creatingAModuleResponseMessage' name='creatingAModuleOutput' />
    </operation>
    <operation name='creatingAnAssessment'>
      <documentation>creates a new assessment Assessments objects are schemaless but some required attributes must be provided</documentation>
      <input message='tns:creatingAnAssessmentRequestMessage' name='creatingAnAssessmentInput' />
      <output message='tns:creatingAnAssessmentResponseMessage' name='creatingAnAssessmentOutput' />
    </operation>
    <operation name='creatingAnAssignment'>
      <documentation>creates a new assignment Assignments objects are schemaless but some required attributes must be provided</documentation>
      <input message='tns:creatingAnAssignmentRequestMessage' name='creatingAnAssignmentInput' />
      <output message='tns:creatingAnAssignmentResponseMessage' name='creatingAnAssignmentOutput' />
    </operation>
    <operation name='creatingAnObject'>
      <documentation>creates a new object Objects are schemaless but some required attributes must be provided</documentation>
      <input message='tns:creatingAnObjectRequestMessage' name='creatingAnObjectInput' />
      <output message='tns:creatingAnObjectResponseMessage' name='creatingAnObjectOutput' />
    </operation>
    <operation name='deletingAFile'>
      <documentation>permanently deletes a file It cannot be undone</documentation>
      <input message='tns:deletingAFileRequestMessage' name='deletingAFileInput' />
      <output message='tns:deletingAFileResponseMessage' name='deletingAFileOutput' />
    </operation>
    <operation name='deletingAMaterial'>
      <documentation>permanently deletes a material It cannot be undone</documentation>
      <input message='tns:deletingAMaterialRequestMessage' name='deletingAMaterialInput' />
      <output message='tns:deletingAMaterialResponseMessage' name='deletingAMaterialOutput' />
    </operation>
    <operation name='deletingAModule'>
      <documentation>permanently deletes a module It cannot be undone</documentation>
      <input message='tns:deletingAModuleRequestMessage' name='deletingAModuleInput' />
      <output message='tns:deletingAModuleResponseMessage' name='deletingAModuleOutput' />
    </operation>
    <operation name='deletingASubmission'>
      <documentation>permanently deletes a submission It cannot be undone</documentation>
      <input message='tns:deletingASubmissionRequestMessage' name='deletingASubmissionInput' />
      <output message='tns:deletingASubmissionResponseMessage' name='deletingASubmissionOutput' />
    </operation>
    <operation name='deletingAUser'>
      <documentation>permanently deletes a user It cannot be undone</documentation>
      <input message='tns:deletingAUserRequestMessage' name='deletingAUserInput' />
      <output message='tns:deletingAUserResponseMessage' name='deletingAUserOutput' />
    </operation>
    <operation name='deletingAnAssessment'>
      <documentation>permanently deletes an assessment It cannot be undone</documentation>
      <input message='tns:deletingAnAssessmentRequestMessage' name='deletingAnAssessmentInput' />
      <output message='tns:deletingAnAssessmentResponseMessage' name='deletingAnAssessmentOutput' />
    </operation>
    <operation name='deletingAnAssignment'>
      <documentation>permanently deletes an an assignment It cannot be undone</documentation>
      <input message='tns:deletingAnAssignmentRequestMessage' name='deletingAnAssignmentInput' />
      <output message='tns:deletingAnAssignmentResponseMessage' name='deletingAnAssignmentOutput' />
    </operation>
    <operation name='deletingAnObject'>
      <documentation>permanently deletes an object It cannot be undone</documentation>
      <input message='tns:deletingAnObjectRequestMessage' name='deletingAnObjectInput' />
      <output message='tns:deletingAnObjectResponseMessage' name='deletingAnObjectOutput' />
    </operation>
    <operation name='enrollingAUserOnAModule'>
      <documentation>enrolls a user on a module</documentation>
      <input message='tns:enrollingAUserOnAModuleRequestMessage' name='enrollingAUserOnAModuleInput' />
      <output message='tns:enrollingAUserOnAModuleResponseMessage' name='enrollingAUserOnAModuleOutput' />
    </operation>
    <operation name='gradingASubmission'>
      <documentation>updates the specified submission by setting a score If the assignment attached to the submission has an assessment rule the system returns also the performance level based on the assigned score</documentation>
      <input message='tns:gradingASubmissionRequestMessage' name='gradingASubmissionInput' />
      <output message='tns:gradingASubmissionResponseMessage' name='gradingASubmissionOutput' />
    </operation>
    <operation name='listAllAssessments'>
      <documentation>returns a list of assessments</documentation>
      <input message='tns:listAllAssessmentsRequestMessage' name='listAllAssessmentsInput' />
      <output message='tns:listAllAssessmentsResponseMessage' name='listAllAssessmentsOutput' />
    </operation>
    <operation name='listAllAssignments'>
      <documentation>returns a list of assignments</documentation>
      <input message='tns:listAllAssignmentsRequestMessage' name='listAllAssignmentsInput' />
      <output message='tns:listAllAssignmentsResponseMessage' name='listAllAssignmentsOutput' />
    </operation>
    <operation name='listAllFiles'>
      <documentation>returns a list of files</documentation>
      <input message='tns:listAllFilesRequestMessage' name='listAllFilesInput' />
      <output message='tns:listAllFilesResponseMessage' name='listAllFilesOutput' />
    </operation>
    <operation name='listAllMaterials'>
      <documentation>returns a list of materials</documentation>
      <input message='tns:listAllMaterialsRequestMessage' name='listAllMaterialsInput' />
      <output message='tns:listAllMaterialsResponseMessage' name='listAllMaterialsOutput' />
    </operation>
    <operation name='listAllModules'>
      <documentation>returns a list of modules</documentation>
      <input message='tns:listAllModulesRequestMessage' name='listAllModulesInput' />
      <output message='tns:listAllModulesResponseMessage' name='listAllModulesOutput' />
    </operation>
    <operation name='listAllModulesEnrolledByAUser'>
      <documentation>returns a list of modules in which the specified user is enrolled</documentation>
      <input message='tns:listAllModulesEnrolledByAUserRequestMessage' name='listAllModulesEnrolledByAUserInput' />
      <output message='tns:listAllModulesEnrolledByAUserResponseMessage' name='listAllModulesEnrolledByAUserOutput' />
    </operation>
    <operation name='listAllObjects'>
      <documentation>returns a list of objects</documentation>
      <input message='tns:listAllObjectsRequestMessage' name='listAllObjectsInput' />
      <output message='tns:listAllObjectsResponseMessage' name='listAllObjectsOutput' />
    </operation>
    <operation name='listAllSubmissions'>
      <documentation>returns a list of submissions</documentation>
      <input message='tns:listAllSubmissionsRequestMessage' name='listAllSubmissionsInput' />
      <output message='tns:listAllSubmissionsResponseMessage' name='listAllSubmissionsOutput' />
    </operation>
    <operation name='listAllUsers'>
      <documentation>returns a list of users</documentation>
      <input message='tns:listAllUsersRequestMessage' name='listAllUsersInput' />
      <output message='tns:listAllUsersResponseMessage' name='listAllUsersOutput' />
    </operation>
    <operation name='loggingInAUser'>
      <documentation>logs in a user and return the list of logins</documentation>
      <input message='tns:loggingInAUserRequestMessage' name='loggingInAUserInput' />
      <output message='tns:loggingInAUserResponseMessage' name='loggingInAUserOutput' />
    </operation>
    <operation name='registeringASubmission'>
      <documentation>creates a new submission</documentation>
      <input message='tns:registeringASubmissionRequestMessage' name='registeringASubmissionInput' />
      <output message='tns:registeringASubmissionResponseMessage' name='registeringASubmissionOutput' />
    </operation>
    <operation name='retrievingAnExistingAssessment'>
      <documentation>retrieves the details of an existing assessment</documentation>
      <input message='tns:retrievingAnExistingAssessmentRequestMessage' name='retrievingAnExistingAssessmentInput' />
      <output message='tns:retrievingAnExistingAssessmentResponseMessage' name='retrievingAnExistingAssessmentOutput' />
    </operation>
    <operation name='retrievingAnExistingAssignment'>
      <documentation>retrieves the details of an existing assignment</documentation>
      <input message='tns:retrievingAnExistingAssignmentRequestMessage' name='retrievingAnExistingAssignmentInput' />
      <output message='tns:retrievingAnExistingAssignmentResponseMessage' name='retrievingAnExistingAssignmentOutput' />
    </operation>
    <operation name='retrievingAnExistingMaterial'>
      <documentation>retrieves the details of an existing material</documentation>
      <input message='tns:retrievingAnExistingMaterialRequestMessage' name='retrievingAnExistingMaterialInput' />
      <output message='tns:retrievingAnExistingMaterialResponseMessage' name='retrievingAnExistingMaterialOutput' />
    </operation>
    <operation name='retrievingAnExistingModule'>
      <documentation>retrieves the details of an existing module</documentation>
      <input message='tns:retrievingAnExistingModuleRequestMessage' name='retrievingAnExistingModuleInput' />
      <output message='tns:retrievingAnExistingModuleResponseMessage' name='retrievingAnExistingModuleOutput' />
    </operation>
    <operation name='retrievingAnExistingObject'>
      <documentation>retrieves the details of an existing object</documentation>
      <input message='tns:retrievingAnExistingObjectRequestMessage' name='retrievingAnExistingObjectInput' />
      <output message='tns:retrievingAnExistingObjectResponseMessage' name='retrievingAnExistingObjectOutput' />
    </operation>
    <operation name='retrievingAnExistingSubmission'>
      <documentation>retrieves the details of an existing submission</documentation>
      <input message='tns:retrievingAnExistingSubmissionRequestMessage' name='retrievingAnExistingSubmissionInput' />
      <output message='tns:retrievingAnExistingSubmissionResponseMessage' name='retrievingAnExistingSubmissionOutput' />
    </operation>
    <operation name='retrievingAnExistingUser'>
      <documentation>retrieves the details of an existing user</documentation>
      <input message='tns:retrievingAnExistingUserRequestMessage' name='retrievingAnExistingUserInput' />
      <output message='tns:retrievingAnExistingUserResponseMessage' name='retrievingAnExistingUserOutput' />
    </operation>
    <operation name='signingUpAUser'>
      <documentation>creates a new user object User objects are schemaless but some required attributes must be provided</documentation>
      <input message='tns:signingUpAUserRequestMessage' name='signingUpAUserInput' />
      <output message='tns:signingUpAUserResponseMessage' name='signingUpAUserOutput' />
    </operation>
    <operation name='updatingAMaterial'>
      <documentation>updates the specified material by setting values of the keys passed Any keys not specified will remain unchanged</documentation>
      <input message='tns:updatingAMaterialRequestMessage' name='updatingAMaterialInput' />
      <output message='tns:updatingAMaterialResponseMessage' name='updatingAMaterialOutput' />
    </operation>
    <operation name='updatingAModule'>
      <documentation>updates the specified module by setting values of the keys passed Any keys not specified will remain unchanged</documentation>
      <input message='tns:updatingAModuleRequestMessage' name='updatingAModuleInput' />
      <output message='tns:updatingAModuleResponseMessage' name='updatingAModuleOutput' />
    </operation>
    <operation name='updatingAUser'>
      <documentation>updates the specified user by setting values of the keys passed Any keys not specified will remain unchanged</documentation>
      <input message='tns:updatingAUserRequestMessage' name='updatingAUserInput' />
      <output message='tns:updatingAUserResponseMessage' name='updatingAUserOutput' />
    </operation>
    <operation name='updatingAnAssessment'>
      <documentation>updates the specified assessment by setting values of the keys passed Any keys not specified will remain unchanged</documentation>
      <input message='tns:updatingAnAssessmentRequestMessage' name='updatingAnAssessmentInput' />
      <output message='tns:updatingAnAssessmentResponseMessage' name='updatingAnAssessmentOutput' />
    </operation>
    <operation name='updatingAnAssignment'>
      <documentation>updates the specified assignment by setting values of the keys passed Any keys not specified will remain unchanged</documentation>
      <input message='tns:updatingAnAssignmentRequestMessage' name='updatingAnAssignmentInput' />
      <output message='tns:updatingAnAssignmentResponseMessage' name='updatingAnAssignmentOutput' />
    </operation>
    <operation name='updatingAnObject'>
      <documentation></documentation>
      <input message='tns:updatingAnObjectRequestMessage' name='updatingAnObjectInput' />
      <output message='tns:updatingAnObjectResponseMessage' name='updatingAnObjectOutput' />
    </operation>
    <operation name='uploadingAFile'>
      <documentation>uploads a file to teech io cloud storage The request content type must be application octet stream the system will automatically recognize the type of resource and convert into the appropriate content type</documentation>
      <input message='tns:uploadingAFileRequestMessage' name='uploadingAFileInput' />
      <output message='tns:uploadingAFileResponseMessage' name='uploadingAFileOutput' />
    </operation>
    <operation name='withdrawingAUserEnrollment'>
      <documentation>withdraws a user s enrollment</documentation>
      <input message='tns:withdrawingAUserEnrollmentRequestMessage' name='withdrawingAUserEnrollmentInput' />
      <output message='tns:withdrawingAUserEnrollmentResponseMessage' name='withdrawingAUserEnrollmentOutput' />
    </operation>
  </portType>
  <binding name='teechIoBinding' type='tns:teechIoPortType'>
    <operation name='creatingAMaterial'>
      <soap12:operation soapAction='http://creatingAMaterial' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='creatingAModule'>
      <soap12:operation soapAction='http://creatingAModule' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='creatingAnAssessment'>
      <soap12:operation soapAction='http://creatingAnAssessment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='creatingAnAssignment'>
      <soap12:operation soapAction='http://creatingAnAssignment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='creatingAnObject'>
      <soap12:operation soapAction='http://creatingAnObject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletingAFile'>
      <soap12:operation soapAction='http://deletingAFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletingAMaterial'>
      <soap12:operation soapAction='http://deletingAMaterial' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletingAModule'>
      <soap12:operation soapAction='http://deletingAModule' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletingASubmission'>
      <soap12:operation soapAction='http://deletingASubmission' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletingAUser'>
      <soap12:operation soapAction='http://deletingAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletingAnAssessment'>
      <soap12:operation soapAction='http://deletingAnAssessment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletingAnAssignment'>
      <soap12:operation soapAction='http://deletingAnAssignment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deletingAnObject'>
      <soap12:operation soapAction='http://deletingAnObject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='enrollingAUserOnAModule'>
      <soap12:operation soapAction='http://enrollingAUserOnAModule' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='gradingASubmission'>
      <soap12:operation soapAction='http://gradingASubmission' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllAssessments'>
      <soap12:operation soapAction='http://listAllAssessments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllAssignments'>
      <soap12:operation soapAction='http://listAllAssignments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllFiles'>
      <soap12:operation soapAction='http://listAllFiles' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllMaterials'>
      <soap12:operation soapAction='http://listAllMaterials' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllModules'>
      <soap12:operation soapAction='http://listAllModules' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllModulesEnrolledByAUser'>
      <soap12:operation soapAction='http://listAllModulesEnrolledByAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllObjects'>
      <soap12:operation soapAction='http://listAllObjects' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllSubmissions'>
      <soap12:operation soapAction='http://listAllSubmissions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllUsers'>
      <soap12:operation soapAction='http://listAllUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='loggingInAUser'>
      <soap12:operation soapAction='http://loggingInAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='registeringASubmission'>
      <soap12:operation soapAction='http://registeringASubmission' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrievingAnExistingAssessment'>
      <soap12:operation soapAction='http://retrievingAnExistingAssessment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrievingAnExistingAssignment'>
      <soap12:operation soapAction='http://retrievingAnExistingAssignment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrievingAnExistingMaterial'>
      <soap12:operation soapAction='http://retrievingAnExistingMaterial' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrievingAnExistingModule'>
      <soap12:operation soapAction='http://retrievingAnExistingModule' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrievingAnExistingObject'>
      <soap12:operation soapAction='http://retrievingAnExistingObject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrievingAnExistingSubmission'>
      <soap12:operation soapAction='http://retrievingAnExistingSubmission' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrievingAnExistingUser'>
      <soap12:operation soapAction='http://retrievingAnExistingUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='signingUpAUser'>
      <soap12:operation soapAction='http://signingUpAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatingAMaterial'>
      <soap12:operation soapAction='http://updatingAMaterial' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatingAModule'>
      <soap12:operation soapAction='http://updatingAModule' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatingAUser'>
      <soap12:operation soapAction='http://updatingAUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatingAnAssessment'>
      <soap12:operation soapAction='http://updatingAnAssessment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatingAnAssignment'>
      <soap12:operation soapAction='http://updatingAnAssignment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatingAnObject'>
      <soap12:operation soapAction='http://updatingAnObject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='uploadingAFile'>
      <soap12:operation soapAction='http://uploadingAFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='withdrawingAUserEnrollment'>
      <soap12:operation soapAction='http://withdrawingAUserEnrollment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='teechIo'>
    <documentation>backend as a service for educational apps developers Build faster and hassle free</documentation>
    <port name='teechIoPort' binding='tns:teechIoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://teechIo' />
    </port>
  </service>
</definitions>