workspace/datasets/mashape_dataset/telecomdata.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/telecomData/' name='telecomData' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/telecomData/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/telecomData/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/telecomData/'>
      <xsd:element name='telecomDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='circle' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='operator' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='telecomDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='status_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='recharge_short_description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='recharge_talktime' type='xsd:int' minOccurs='0' />
                  <xsd:element name='product_type' type='xsd:string' minOccurs='0' />
                  <xsd:element name='recharge_description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='recharge_description_more' type='xsd:string' minOccurs='0' />
                  <xsd:element name='recharge_validity' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='circle_master' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_prepaid' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='operator_master' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='recharge_value' type='xsd:int' minOccurs='0' />
                  <xsd:element name='recharge_master' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='status_text' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='telecomDataRequestMessage'>
    <part name='parameters' element='tns:telecomDataParameters' />
  </message>
  <message name='telecomDataResponseMessage'>
    <part name='response' element='tns:telecomDataResponse' />
  </message>
  <portType name='telecomDataPortType'>
    <operation name='telecomData'>
      <documentation>this data API provides details of all recharge options available with various telecom operators across all circles The data is aggregated from the websites of all telecom operators</documentation>
      <input message='tns:telecomDataRequestMessage' name='telecomDataInput' />
      <output message='tns:telecomDataResponseMessage' name='telecomDataOutput' />
    </operation>
  </portType>
  <binding name='telecomDataBinding' type='tns:telecomDataPortType'>
    <operation name='telecomData'>
      <soap12:operation soapAction='http://telecomData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='telecomData'>
    <documentation>this data API from DataWeave provides details of all recharge options available with various telecom operators India across all circles The data is aggregated from the websites of all telecom operators</documentation>
    <port name='telecomDataPort' binding='tns:telecomDataBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://telecomData' />
    </port>
  </service>
</definitions>