workspace/datasets/mashape_dataset/texttools.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/textTools/' name='textTools' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/textTools/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/textTools/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/textTools/'>
      <xsd:element name='addLineNumbersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addPrefixResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addSuffixResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='baseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='convertEncodingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='countResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='characters' type='xsd:int' minOccurs='0' />
                  <xsd:element name='sentences' type='xsd:int' minOccurs='0' />
                  <xsd:element name='words' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lines' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='countCharsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='countWordsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='a' type='xsd:int' minOccurs='0' />
                  <xsd:element name='was' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Had' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lamb.' type='xsd:int' minOccurs='0' />
                  <xsd:element name='So' type='xsd:int' minOccurs='0' />
                  <xsd:element name='happy.' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Mary' type='xsd:int' minOccurs='0' />
                  <xsd:element name='little' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='dosUnixResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='findLongestLineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listEncodingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeDuplicateLinesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeExtraWhitespacesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeLineBreaksResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='reverseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sentenceCaseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='titleCaseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='toAsciiResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='toUtfResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='tolowerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='toupperResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unixDosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='upsidedownResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='uuencodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addLineNumbersRequestMessage' />
  <message name='addLineNumbersResponseMessage'>
    <part name='response' element='tns:addLineNumbersResponse' />
  </message>
  <message name='addPrefixRequestMessage' />
  <message name='addPrefixResponseMessage'>
    <part name='response' element='tns:addPrefixResponse' />
  </message>
  <message name='addSuffixRequestMessage' />
  <message name='addSuffixResponseMessage'>
    <part name='response' element='tns:addSuffixResponse' />
  </message>
  <message name='baseRequestMessage' />
  <message name='baseResponseMessage'>
    <part name='response' element='tns:baseResponse' />
  </message>
  <message name='convertEncodingRequestMessage' />
  <message name='convertEncodingResponseMessage'>
    <part name='response' element='tns:convertEncodingResponse' />
  </message>
  <message name='countRequestMessage' />
  <message name='countResponseMessage'>
    <part name='response' element='tns:countResponse' />
  </message>
  <message name='countCharsRequestMessage' />
  <message name='countCharsResponseMessage'>
    <part name='response' element='tns:countCharsResponse' />
  </message>
  <message name='countWordsRequestMessage' />
  <message name='countWordsResponseMessage'>
    <part name='response' element='tns:countWordsResponse' />
  </message>
  <message name='dosUnixRequestMessage' />
  <message name='dosUnixResponseMessage'>
    <part name='response' element='tns:dosUnixResponse' />
  </message>
  <message name='findLongestLineRequestMessage' />
  <message name='findLongestLineResponseMessage'>
    <part name='response' element='tns:findLongestLineResponse' />
  </message>
  <message name='listEncodingsRequestMessage' />
  <message name='listEncodingsResponseMessage'>
    <part name='response' element='tns:listEncodingsResponse' />
  </message>
  <message name='removeDuplicateLinesRequestMessage' />
  <message name='removeDuplicateLinesResponseMessage'>
    <part name='response' element='tns:removeDuplicateLinesResponse' />
  </message>
  <message name='removeExtraWhitespacesRequestMessage' />
  <message name='removeExtraWhitespacesResponseMessage'>
    <part name='response' element='tns:removeExtraWhitespacesResponse' />
  </message>
  <message name='removeLineBreaksRequestMessage' />
  <message name='removeLineBreaksResponseMessage'>
    <part name='response' element='tns:removeLineBreaksResponse' />
  </message>
  <message name='reverseRequestMessage' />
  <message name='reverseResponseMessage'>
    <part name='response' element='tns:reverseResponse' />
  </message>
  <message name='sentenceCaseRequestMessage' />
  <message name='sentenceCaseResponseMessage'>
    <part name='response' element='tns:sentenceCaseResponse' />
  </message>
  <message name='titleCaseRequestMessage' />
  <message name='titleCaseResponseMessage'>
    <part name='response' element='tns:titleCaseResponse' />
  </message>
  <message name='toAsciiRequestMessage' />
  <message name='toAsciiResponseMessage'>
    <part name='response' element='tns:toAsciiResponse' />
  </message>
  <message name='toUtfRequestMessage' />
  <message name='toUtfResponseMessage'>
    <part name='response' element='tns:toUtfResponse' />
  </message>
  <message name='tolowerRequestMessage' />
  <message name='tolowerResponseMessage'>
    <part name='response' element='tns:tolowerResponse' />
  </message>
  <message name='toupperRequestMessage' />
  <message name='toupperResponseMessage'>
    <part name='response' element='tns:toupperResponse' />
  </message>
  <message name='unixDosRequestMessage' />
  <message name='unixDosResponseMessage'>
    <part name='response' element='tns:unixDosResponse' />
  </message>
  <message name='upsidedownRequestMessage' />
  <message name='upsidedownResponseMessage'>
    <part name='response' element='tns:upsidedownResponse' />
  </message>
  <message name='uuencodeRequestMessage' />
  <message name='uuencodeResponseMessage'>
    <part name='response' element='tns:uuencodeResponse' />
  </message>
  <portType name='textToolsPortType'>
    <operation name='addLineNumbers'>
      <documentation>add line numbers to the given data</documentation>
      <input message='tns:addLineNumbersRequestMessage' name='addLineNumbersInput' />
      <output message='tns:addLineNumbersResponseMessage' name='addLineNumbersOutput' />
    </operation>
    <operation name='addPrefix'>
      <documentation>add a prefix to each line</documentation>
      <input message='tns:addPrefixRequestMessage' name='addPrefixInput' />
      <output message='tns:addPrefixResponseMessage' name='addPrefixOutput' />
    </operation>
    <operation name='addSuffix'>
      <documentation>add a suffix to each line</documentation>
      <input message='tns:addSuffixRequestMessage' name='addSuffixInput' />
      <output message='tns:addSuffixResponseMessage' name='addSuffixOutput' />
    </operation>
    <operation name='base'>
      <documentation>base encode the given string</documentation>
      <input message='tns:baseRequestMessage' name='baseInput' />
      <output message='tns:baseResponseMessage' name='baseOutput' />
    </operation>
    <operation name='convertEncoding'>
      <documentation>convert the given string data from one encoding to the other</documentation>
      <input message='tns:convertEncodingRequestMessage' name='convertEncodingInput' />
      <output message='tns:convertEncodingResponseMessage' name='convertEncodingOutput' />
    </operation>
    <operation name='count'>
      <documentation>count number of characters words sentences and lines in the given string</documentation>
      <input message='tns:countRequestMessage' name='countInput' />
      <output message='tns:countResponseMessage' name='countOutput' />
    </operation>
    <operation name='countChars'>
      <documentation>count the number of occurances of each character in a given string</documentation>
      <input message='tns:countCharsRequestMessage' name='countCharsInput' />
      <output message='tns:countCharsResponseMessage' name='countCharsOutput' />
    </operation>
    <operation name='countWords'>
      <documentation>count the frequency of each word in the data</documentation>
      <input message='tns:countWordsRequestMessage' name='countWordsInput' />
      <output message='tns:countWordsResponseMessage' name='countWordsOutput' />
    </operation>
    <operation name='dosUnix'>
      <documentation></documentation>
      <input message='tns:dosUnixRequestMessage' name='dosUnixInput' />
      <output message='tns:dosUnixResponseMessage' name='dosUnixOutput' />
    </operation>
    <operation name='findLongestLine'>
      <documentation>find the longest line in the given data</documentation>
      <input message='tns:findLongestLineRequestMessage' name='findLongestLineInput' />
      <output message='tns:findLongestLineResponseMessage' name='findLongestLineOutput' />
    </operation>
    <operation name='listEncodings'>
      <documentation>list encodings supported for encoding conversion</documentation>
      <input message='tns:listEncodingsRequestMessage' name='listEncodingsInput' />
      <output message='tns:listEncodingsResponseMessage' name='listEncodingsOutput' />
    </operation>
    <operation name='removeDuplicateLines'>
      <documentation>remove duplicate lines from the given data</documentation>
      <input message='tns:removeDuplicateLinesRequestMessage' name='removeDuplicateLinesInput' />
      <output message='tns:removeDuplicateLinesResponseMessage' name='removeDuplicateLinesOutput' />
    </operation>
    <operation name='removeExtraWhitespaces'>
      <documentation>remove excess white spaces from the given data</documentation>
      <input message='tns:removeExtraWhitespacesRequestMessage' name='removeExtraWhitespacesInput' />
      <output message='tns:removeExtraWhitespacesResponseMessage' name='removeExtraWhitespacesOutput' />
    </operation>
    <operation name='removeLineBreaks'>
      <documentation>remove the line breaks from the given string</documentation>
      <input message='tns:removeLineBreaksRequestMessage' name='removeLineBreaksInput' />
      <output message='tns:removeLineBreaksResponseMessage' name='removeLineBreaksOutput' />
    </operation>
    <operation name='reverse'>
      <documentation>reverse the given text</documentation>
      <input message='tns:reverseRequestMessage' name='reverseInput' />
      <output message='tns:reverseResponseMessage' name='reverseOutput' />
    </operation>
    <operation name='sentenceCase'>
      <documentation>converts first character of every sentence in the given string to upper case</documentation>
      <input message='tns:sentenceCaseRequestMessage' name='sentenceCaseInput' />
      <output message='tns:sentenceCaseResponseMessage' name='sentenceCaseOutput' />
    </operation>
    <operation name='titleCase'>
      <documentation>captilize the first character of every word in the given string</documentation>
      <input message='tns:titleCaseRequestMessage' name='titleCaseInput' />
      <output message='tns:titleCaseResponseMessage' name='titleCaseOutput' />
    </operation>
    <operation name='toAscii'>
      <documentation>convert the given string to ascii</documentation>
      <input message='tns:toAsciiRequestMessage' name='toAsciiInput' />
      <output message='tns:toAsciiResponseMessage' name='toAsciiOutput' />
    </operation>
    <operation name='toUtf'>
      <documentation>utf encode a given string</documentation>
      <input message='tns:toUtfRequestMessage' name='toUtfInput' />
      <output message='tns:toUtfResponseMessage' name='toUtfOutput' />
    </operation>
    <operation name='tolower'>
      <documentation>convert the given string to lower case</documentation>
      <input message='tns:tolowerRequestMessage' name='tolowerInput' />
      <output message='tns:tolowerResponseMessage' name='tolowerOutput' />
    </operation>
    <operation name='toupper'>
      <documentation>convert the given string to upper case</documentation>
      <input message='tns:toupperRequestMessage' name='toupperInput' />
      <output message='tns:toupperResponseMessage' name='toupperOutput' />
    </operation>
    <operation name='unixDos'>
      <documentation></documentation>
      <input message='tns:unixDosRequestMessage' name='unixDosInput' />
      <output message='tns:unixDosResponseMessage' name='unixDosOutput' />
    </operation>
    <operation name='upsidedown'>
      <documentation>make the characters upside down</documentation>
      <input message='tns:upsidedownRequestMessage' name='upsidedownInput' />
      <output message='tns:upsidedownResponseMessage' name='upsidedownOutput' />
    </operation>
    <operation name='uuencode'>
      <documentation>uuencode a given string</documentation>
      <input message='tns:uuencodeRequestMessage' name='uuencodeInput' />
      <output message='tns:uuencodeResponseMessage' name='uuencodeOutput' />
    </operation>
  </portType>
  <binding name='textToolsBinding' type='tns:textToolsPortType'>
    <operation name='addLineNumbers'>
      <soap12:operation soapAction='http://addLineNumbers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addPrefix'>
      <soap12:operation soapAction='http://addPrefix' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addSuffix'>
      <soap12:operation soapAction='http://addSuffix' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='base'>
      <soap12:operation soapAction='http://base' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='convertEncoding'>
      <soap12:operation soapAction='http://convertEncoding' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='count'>
      <soap12:operation soapAction='http://count' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='countChars'>
      <soap12:operation soapAction='http://countChars' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='countWords'>
      <soap12:operation soapAction='http://countWords' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='dosUnix'>
      <soap12:operation soapAction='http://dosUnix' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='findLongestLine'>
      <soap12:operation soapAction='http://findLongestLine' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listEncodings'>
      <soap12:operation soapAction='http://listEncodings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeDuplicateLines'>
      <soap12:operation soapAction='http://removeDuplicateLines' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeExtraWhitespaces'>
      <soap12:operation soapAction='http://removeExtraWhitespaces' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeLineBreaks'>
      <soap12:operation soapAction='http://removeLineBreaks' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reverse'>
      <soap12:operation soapAction='http://reverse' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sentenceCase'>
      <soap12:operation soapAction='http://sentenceCase' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='titleCase'>
      <soap12:operation soapAction='http://titleCase' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='toAscii'>
      <soap12:operation soapAction='http://toAscii' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='toUtf'>
      <soap12:operation soapAction='http://toUtf' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='tolower'>
      <soap12:operation soapAction='http://tolower' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='toupper'>
      <soap12:operation soapAction='http://toupper' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='unixDos'>
      <soap12:operation soapAction='http://unixDos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='upsidedown'>
      <soap12:operation soapAction='http://upsidedown' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='uuencode'>
      <soap12:operation soapAction='http://uuencode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='textTools'>
    <documentation>find all the text tools in one place Case conversions counting platform conversions encoding conversionts etc Fun to functional</documentation>
    <port name='textToolsPort' binding='tns:textToolsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://textTools' />
    </port>
  </service>
</definitions>