workspace/datasets/mashape_dataset/textclassification.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/textClassification/' name='textClassification' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/textClassification/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/textClassification/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/textClassification/'>
      <xsd:element name='classParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categories' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='model' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='of' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='txt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='verbose' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='classResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category_list' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='abs_relevance' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='label' type='xsd:string' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining_credits' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='classRequestMessage'>
    <part name='parameters' element='tns:classParameters' />
  </message>
  <message name='classResponseMessage'>
    <part name='response' element='tns:classResponse' />
  </message>
  <portType name='textClassificationPortType'>
    <operation name='class'>
      <documentation>automatic classification of multilingual texts</documentation>
      <input message='tns:classRequestMessage' name='classInput' />
      <output message='tns:classResponseMessage' name='classOutput' />
    </operation>
  </portType>
  <binding name='textClassificationBinding' type='tns:textClassificationPortType'>
    <operation name='class'>
      <soap12:operation soapAction='http://class' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='textClassification'>
    <documentation>automatic multilingual text classification according to pre established categories defined in a model The algorithm used combines statistic classification with rule based filtering which allows to obtain a high degree of precision for very different environments Three models available IPTC International Press Telecommunications Council standard EuroVocs and Corporate Reputation model Languages covered are Spanish English French Italian Portuguese and Catalan</documentation>
    <port name='textClassificationPort' binding='tns:textClassificationBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://textClassification' />
    </port>
  </service>
</definitions>