workspace/datasets/mashape_dataset/texttospeech.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/textToSpeech/' name='textToSpeech' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/textToSpeech/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/textToSpeech/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/textToSpeech/'>
      <xsd:element name='speakParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='speakResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='speakRequestMessage'>
    <part name='parameters' element='tns:speakParameters' />
  </message>
  <message name='speakResponseMessage'>
    <part name='response' element='tns:speakResponse' />
  </message>
  <portType name='textToSpeechPortType'>
    <operation name='speak'>
      <documentation></documentation>
      <input message='tns:speakRequestMessage' name='speakInput' />
      <output message='tns:speakResponseMessage' name='speakOutput' />
    </operation>
  </portType>
  <binding name='textToSpeechBinding' type='tns:textToSpeechPortType'>
    <operation name='speak'>
      <soap12:operation soapAction='http://speak' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='textToSpeech'>
    <documentation>turns text into an mp audio file with a nice female voice similar to Siri</documentation>
    <port name='textToSpeechPort' binding='tns:textToSpeechBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://textToSpeech' />
    </port>
  </service>
</definitions>