workspace/datasets/mashape_dataset/textpdf.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/textPdf/' name='textPdf' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/textPdf/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/textPdf/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/textPdf/'>
      <xsd:element name='convertFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='convertFileRequestMessage' />
  <message name='convertFileResponseMessage'>
    <part name='response' element='tns:convertFileResponse' />
  </message>
  <portType name='textPdfPortType'>
    <operation name='convertFile'>
      <documentation>post file to server</documentation>
      <input message='tns:convertFileRequestMessage' name='convertFileInput' />
      <output message='tns:convertFileResponseMessage' name='convertFileOutput' />
    </operation>
  </portType>
  <binding name='textPdfBinding' type='tns:textPdfPortType'>
    <operation name='convertFile'>
      <soap12:operation soapAction='http://convertFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='textPdf'>
    <documentation>the API for converting Textual files txt log documents to PDF files</documentation>
    <port name='textPdfPort' binding='tns:textPdfBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://textPdf' />
    </port>
  </service>
</definitions>