workspace/datasets/mashape_dataset/textspinner.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/textSpinner/' name='textSpinner' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/textSpinner/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/textSpinner/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/textSpinner/'>
      <xsd:element name='spinResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='variations' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='spinRequestMessage' />
  <message name='spinResponseMessage'>
    <part name='response' element='tns:spinResponse' />
  </message>
  <portType name='textSpinnerPortType'>
    <operation name='spin'>
      <documentation>the spin method</documentation>
      <input message='tns:spinRequestMessage' name='spinInput' />
      <output message='tns:spinResponseMessage' name='spinOutput' />
    </operation>
  </portType>
  <binding name='textSpinnerBinding' type='tns:textSpinnerPortType'>
    <operation name='spin'>
      <soap12:operation soapAction='http://spin' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='textSpinner'>
    <documentation>this API exposes an endpoint which can spin a text containing a spinning expression syntax by generating a list of different variations</documentation>
    <port name='textSpinnerPort' binding='tns:textSpinnerBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://textSpinner' />
    </port>
  </service>
</definitions>