workspace/datasets/mashape_dataset/textit.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/textit/' name='textit' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/textit/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/textit/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/textit/'>
      <xsd:element name='callsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='calltype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='createdon' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='duration' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='relayer' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='callsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='claimRelayersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listRelayersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='country' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastseen' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='networktype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pendingmessagecount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='powerlevel' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='powersource' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='powerstatus' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='relayer' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listRelayersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listingSmsMessagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='createdon' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='deliveredon' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='direction' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phone' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='relayer' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='senton' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listingSmsMessagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeRelayersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='phone' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendingMessagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='phone' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='callsRequestMessage'>
    <part name='parameters' element='tns:callsParameters' />
  </message>
  <message name='callsResponseMessage'>
    <part name='response' element='tns:callsResponse' />
  </message>
  <message name='claimRelayersRequestMessage' />
  <message name='claimRelayersResponseMessage'>
    <part name='response' element='tns:claimRelayersResponse' />
  </message>
  <message name='listRelayersRequestMessage'>
    <part name='parameters' element='tns:listRelayersParameters' />
  </message>
  <message name='listRelayersResponseMessage'>
    <part name='response' element='tns:listRelayersResponse' />
  </message>
  <message name='listingSmsMessagesRequestMessage'>
    <part name='parameters' element='tns:listingSmsMessagesParameters' />
  </message>
  <message name='listingSmsMessagesResponseMessage'>
    <part name='response' element='tns:listingSmsMessagesResponse' />
  </message>
  <message name='removeRelayersRequestMessage' />
  <message name='removeRelayersResponseMessage'>
    <part name='response' element='tns:removeRelayersResponse' />
  </message>
  <message name='sendingMessagesRequestMessage' />
  <message name='sendingMessagesResponseMessage'>
    <part name='response' element='tns:sendingMessagesResponse' />
  </message>
  <portType name='textitPortType'>
    <operation name='calls'>
      <documentation>returns the incoming and outgoing calls for your organization most recent first</documentation>
      <input message='tns:callsRequestMessage' name='callsInput' />
      <output message='tns:callsResponseMessage' name='callsOutput' />
    </operation>
    <operation name='claimRelayers'>
      <documentation>you can associate a new Android relayer to your account by sending a POST request to this URL with the following JSON data</documentation>
      <input message='tns:claimRelayersRequestMessage' name='claimRelayersInput' />
      <output message='tns:claimRelayersResponseMessage' name='claimRelayersOutput' />
    </operation>
    <operation name='listRelayers'>
      <documentation>a GET returns the list of Android relayers for your organization in the order of last activity date Note that all status information for the device is as of the last time it was seen and can be tns before the first sync</documentation>
      <input message='tns:listRelayersRequestMessage' name='listRelayersInput' />
      <output message='tns:listRelayersResponseMessage' name='listRelayersOutput' />
    </operation>
    <operation name='listingSmsMessages'>
      <documentation>returns the SMS activity for your organization listing the most recent messages first</documentation>
      <input message='tns:listingSmsMessagesRequestMessage' name='listingSmsMessagesInput' />
      <output message='tns:listingSmsMessagesResponseMessage' name='listingSmsMessagesOutput' />
    </operation>
    <operation name='removeRelayers'>
      <documentation>a DELETE removes all matching relayers from your account You can filter the list of relayers to remove using the same attributes as the list call above</documentation>
      <input message='tns:removeRelayersRequestMessage' name='removeRelayersInput' />
      <output message='tns:removeRelayersResponseMessage' name='removeRelayersOutput' />
    </operation>
    <operation name='sendingMessages'>
      <documentation>you can create new messages by making a POST request to this URL with the following JSON data</documentation>
      <input message='tns:sendingMessagesRequestMessage' name='sendingMessagesInput' />
      <output message='tns:sendingMessagesResponseMessage' name='sendingMessagesOutput' />
    </operation>
  </portType>
  <binding name='textitBinding' type='tns:textitPortType'>
    <operation name='calls'>
      <soap12:operation soapAction='http://calls' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='claimRelayers'>
      <soap12:operation soapAction='http://claimRelayers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listRelayers'>
      <soap12:operation soapAction='http://listRelayers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listingSmsMessages'>
      <soap12:operation soapAction='http://listingSmsMessages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeRelayers'>
      <soap12:operation soapAction='http://removeRelayers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendingMessages'>
      <soap12:operation soapAction='http://sendingMessages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='textit'>
    <documentation>easily create interactive SMS applications anywhere in the world At the core of TextIt lies our exclusive Flow engine With Flows anybody can set up or modify a complex SMS application without the need of a programmer or expensive consulting company Using a basic Android phone you can launch your application instantly in any country while avoiding expensive set up costs or external technical support</documentation>
    <port name='textitPort' binding='tns:textitBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://textit' />
    </port>
  </service>
</definitions>