workspace/datasets/mashape_dataset/thecancerimagingarchive.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/theCancerImagingArchive/' name='theCancerImagingArchive' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/theCancerImagingArchive/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/theCancerImagingArchive/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/theCancerImagingArchive/'>
      <xsd:element name='getbodypartvaluesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bodypartexamined' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='collection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='modality' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getbodypartvaluesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='BodyPartExamined' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcollectionvaluesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcollectionvaluesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Collection' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getimageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='seriesinstanceuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getimageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmanufacturervaluesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bodypartexamined' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='collection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='modality' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmanufacturervaluesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Manufacturer' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmodalityvaluesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='bodypartexamined' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='collection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='modality' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmodalityvaluesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Modality' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpatientParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='collection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpatientResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='PatientBirthDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='PatientSex' type='xsd:string' minOccurs='0' />
            <xsd:element name='EthnicGroup' type='xsd:string' minOccurs='0' />
            <xsd:element name='PatientID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Collection' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Collection' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='PatientName' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpatientstudyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='collection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='patientid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='studyinstanceuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpatientstudyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='StudyID' type='xsd:string' minOccurs='0' />
            <xsd:element name='StudyDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='StudyDescription' type='xsd:string' minOccurs='0' />
            <xsd:element name='StudyInstanceUID' type='xsd:string' minOccurs='0' />
            <xsd:element name='AdmittingDiagnosesDescription' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getseriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='collection' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='modality' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='patientid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='studyinstanceuid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getseriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='SoftwareVersions' type='xsd:string' minOccurs='0' />
            <xsd:element name='ProtocolName' type='xsd:string' minOccurs='0' />
            <xsd:element name='ManufacturerModelName' type='xsd:string' minOccurs='0' />
            <xsd:element name='StudyInstanceUID' type='xsd:string' minOccurs='0' />
            <xsd:element name='SeriesInstanceUID' type='xsd:string' minOccurs='0' />
            <xsd:element name='SeriesDescription' type='xsd:string' minOccurs='0' />
            <xsd:element name='ImageCount' type='xsd:string' minOccurs='0' />
            <xsd:element name='AnnotationsFlag' type='xsd:string' minOccurs='0' />
            <xsd:element name='PatientID' type='xsd:string' minOccurs='0' />
            <xsd:element name='SeriesDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='Manufacturer' type='xsd:string' minOccurs='0' />
            <xsd:element name='Collection' type='xsd:string' minOccurs='0' />
            <xsd:element name='SeriesNumber' type='xsd:string' minOccurs='0' />
            <xsd:element name='BodyPartExamined' type='xsd:string' minOccurs='0' />
            <xsd:element name='Modality' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getbodypartvaluesRequestMessage'>
    <part name='parameters' element='tns:getbodypartvaluesParameters' />
  </message>
  <message name='getbodypartvaluesResponseMessage'>
    <part name='response' element='tns:getbodypartvaluesResponse' />
  </message>
  <message name='getcollectionvaluesRequestMessage'>
    <part name='parameters' element='tns:getcollectionvaluesParameters' />
  </message>
  <message name='getcollectionvaluesResponseMessage'>
    <part name='response' element='tns:getcollectionvaluesResponse' />
  </message>
  <message name='getimageRequestMessage'>
    <part name='parameters' element='tns:getimageParameters' />
  </message>
  <message name='getimageResponseMessage'>
    <part name='response' element='tns:getimageResponse' />
  </message>
  <message name='getmanufacturervaluesRequestMessage'>
    <part name='parameters' element='tns:getmanufacturervaluesParameters' />
  </message>
  <message name='getmanufacturervaluesResponseMessage'>
    <part name='response' element='tns:getmanufacturervaluesResponse' />
  </message>
  <message name='getmodalityvaluesRequestMessage'>
    <part name='parameters' element='tns:getmodalityvaluesParameters' />
  </message>
  <message name='getmodalityvaluesResponseMessage'>
    <part name='response' element='tns:getmodalityvaluesResponse' />
  </message>
  <message name='getpatientRequestMessage'>
    <part name='parameters' element='tns:getpatientParameters' />
  </message>
  <message name='getpatientResponseMessage'>
    <part name='response' element='tns:getpatientResponse' />
  </message>
  <message name='getpatientstudyRequestMessage'>
    <part name='parameters' element='tns:getpatientstudyParameters' />
  </message>
  <message name='getpatientstudyResponseMessage'>
    <part name='response' element='tns:getpatientstudyResponse' />
  </message>
  <message name='getseriesRequestMessage'>
    <part name='parameters' element='tns:getseriesParameters' />
  </message>
  <message name='getseriesResponseMessage'>
    <part name='response' element='tns:getseriesResponse' />
  </message>
  <portType name='theCancerImagingArchivePortType'>
    <operation name='getbodypartvalues'>
      <documentation>set of all body part names filtered by query keys</documentation>
      <input message='tns:getbodypartvaluesRequestMessage' name='getbodypartvaluesInput' />
      <output message='tns:getbodypartvaluesResponseMessage' name='getbodypartvaluesOutput' />
    </operation>
    <operation name='getcollectionvalues'>
      <documentation>set of all TCIA collection names</documentation>
      <input message='tns:getcollectionvaluesRequestMessage' name='getcollectionvaluesInput' />
      <output message='tns:getcollectionvaluesResponseMessage' name='getcollectionvaluesOutput' />
    </operation>
    <operation name='getimage'>
      <documentation>set of images in a zip file NOTE The resulting zip files can become very large We strongly advise not testing this endpoint via Mashape Instead consider using curl with the o option set to output zip</documentation>
      <input message='tns:getimageRequestMessage' name='getimageInput' />
      <output message='tns:getimageResponseMessage' name='getimageOutput' />
    </operation>
    <operation name='getmanufacturervalues'>
      <documentation>returns a set of all manufacturer names filtered by query keys</documentation>
      <input message='tns:getmanufacturervaluesRequestMessage' name='getmanufacturervaluesInput' />
      <output message='tns:getmanufacturervaluesResponseMessage' name='getmanufacturervaluesOutput' />
    </operation>
    <operation name='getmodalityvalues'>
      <documentation>getModalityValues</documentation>
      <input message='tns:getmodalityvaluesRequestMessage' name='getmodalityvaluesInput' />
      <output message='tns:getmodalityvaluesResponseMessage' name='getmodalityvaluesOutput' />
    </operation>
    <operation name='getpatient'>
      <documentation>returns a set of patient objects filtered by query keys</documentation>
      <input message='tns:getpatientRequestMessage' name='getpatientInput' />
      <output message='tns:getpatientResponseMessage' name='getpatientOutput' />
    </operation>
    <operation name='getpatientstudy'>
      <documentation>returns a set of patient study objects filtered by query keys</documentation>
      <input message='tns:getpatientstudyRequestMessage' name='getpatientstudyInput' />
      <output message='tns:getpatientstudyResponseMessage' name='getpatientstudyOutput' />
    </operation>
    <operation name='getseries'>
      <documentation>returns a set of series objects filtered by query keys</documentation>
      <input message='tns:getseriesRequestMessage' name='getseriesInput' />
      <output message='tns:getseriesResponseMessage' name='getseriesOutput' />
    </operation>
  </portType>
  <binding name='theCancerImagingArchiveBinding' type='tns:theCancerImagingArchivePortType'>
    <operation name='getbodypartvalues'>
      <soap12:operation soapAction='http://getbodypartvalues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcollectionvalues'>
      <soap12:operation soapAction='http://getcollectionvalues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getimage'>
      <soap12:operation soapAction='http://getimage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getmanufacturervalues'>
      <soap12:operation soapAction='http://getmanufacturervalues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getmodalityvalues'>
      <soap12:operation soapAction='http://getmodalityvalues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getpatient'>
      <soap12:operation soapAction='http://getpatient' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getpatientstudy'>
      <soap12:operation soapAction='http://getpatientstudy' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getseries'>
      <soap12:operation soapAction='http://getseries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='theCancerImagingArchive'>
    <documentation>nOTE You need an API Key to use this API See README for more details The Cancer Imaging Archive TCIA is a public repository of cancer images and related clinical data for the express purpose of enabling open science research Currently over million radiologic images of cancer are contained in this repository The API allows you to query metadata and download images from the various public collections available on TCIA</documentation>
    <port name='theCancerImagingArchivePort' binding='tns:theCancerImagingArchiveBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://theCancerImagingArchive' />
    </port>
  </service>
</definitions>