workspace/datasets/mashape_dataset/thecurrencycloud.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/theCurrencyCloud/' name='theCurrencyCloud' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/theCurrencyCloud/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/theCurrencyCloud/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/theCurrencyCloud/'>
      <xsd:element name='addADepositToASettlementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settlementid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addADepositToASettlementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addPaymentToTradeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addPaymentToTradeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addTradeToSettlementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settlementid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addTradeToSettlementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authenticationTokenResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='beneficiariesRequiredFieldsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ccy' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='destinationcountrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paymenttype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='beneficiariesRequiredFieldsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='beneficiaryIndexParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ccy' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='filter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='beneficiaryIndexResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='closeSessionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='closeSessionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createSettlementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createSettlementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteASettlementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settlementid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteASettlementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfABeneficiaryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='beneficiaryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfABeneficiaryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfAPaymentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='paymentid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfAPaymentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfASettlementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settlementid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfASettlementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfATradeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tradeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfATradeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfATradeSBankAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tradeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfATradeSBankAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfATradeSSettlementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tradeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detailsOfATradeSSettlementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exchangeRateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exchangeRateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exchangeRateForCurrencyPairParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='acceptstale' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='ccypair' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exchangeRateForCurrencyPairResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='foreignCurrencyPaymentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='foreignCurrencyPaymentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newBeneficiaryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newBeneficiaryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='openSettlementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settlementid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='openSettlementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='paymentsIndexParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='amount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='count' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='currency' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='enddate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='index' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='paymentreference' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paymenttype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='startdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tradeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='youraccountref' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='paymentsIndexResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='releaseSettlementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settlementid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='releaseSettlementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeATradeFromASettlementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settlementid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeATradeFromASettlementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='resendTradeEmailParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tradeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='resendTradeEmailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchTradesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='buyccy' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='count' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='market' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='product' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sellccy' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='settlementenddate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='settlementstartdate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tradingenddate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tradingstartdate' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchTradesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='settlementIndexParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settlementid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='settlementIndexResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='settlementSearchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='endreleasedate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='index' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='startreleasedate' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tradeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='settlementSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='summaryOfASettlementParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='settlementid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='summaryOfASettlementResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateBeneficiaryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='beneficiaryid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateBeneficiaryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatePaymentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='paymentid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatePaymentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='validateBeneficiaryDetailsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='acctccy' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='beneficiaryname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='destinationcountrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='nickname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='token' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='validateBeneficiaryDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addADepositToASettlementRequestMessage'>
    <part name='parameters' element='tns:addADepositToASettlementParameters' />
  </message>
  <message name='addADepositToASettlementResponseMessage'>
    <part name='response' element='tns:addADepositToASettlementResponse' />
  </message>
  <message name='addPaymentToTradeRequestMessage'>
    <part name='parameters' element='tns:addPaymentToTradeParameters' />
  </message>
  <message name='addPaymentToTradeResponseMessage'>
    <part name='response' element='tns:addPaymentToTradeResponse' />
  </message>
  <message name='addTradeToSettlementRequestMessage'>
    <part name='parameters' element='tns:addTradeToSettlementParameters' />
  </message>
  <message name='addTradeToSettlementResponseMessage'>
    <part name='response' element='tns:addTradeToSettlementResponse' />
  </message>
  <message name='authenticationTokenRequestMessage' />
  <message name='authenticationTokenResponseMessage'>
    <part name='response' element='tns:authenticationTokenResponse' />
  </message>
  <message name='beneficiariesRequiredFieldsRequestMessage'>
    <part name='parameters' element='tns:beneficiariesRequiredFieldsParameters' />
  </message>
  <message name='beneficiariesRequiredFieldsResponseMessage'>
    <part name='response' element='tns:beneficiariesRequiredFieldsResponse' />
  </message>
  <message name='beneficiaryIndexRequestMessage'>
    <part name='parameters' element='tns:beneficiaryIndexParameters' />
  </message>
  <message name='beneficiaryIndexResponseMessage'>
    <part name='response' element='tns:beneficiaryIndexResponse' />
  </message>
  <message name='closeSessionRequestMessage'>
    <part name='parameters' element='tns:closeSessionParameters' />
  </message>
  <message name='closeSessionResponseMessage'>
    <part name='response' element='tns:closeSessionResponse' />
  </message>
  <message name='createSettlementRequestMessage'>
    <part name='parameters' element='tns:createSettlementParameters' />
  </message>
  <message name='createSettlementResponseMessage'>
    <part name='response' element='tns:createSettlementResponse' />
  </message>
  <message name='deleteASettlementRequestMessage'>
    <part name='parameters' element='tns:deleteASettlementParameters' />
  </message>
  <message name='deleteASettlementResponseMessage'>
    <part name='response' element='tns:deleteASettlementResponse' />
  </message>
  <message name='detailsOfABeneficiaryRequestMessage'>
    <part name='parameters' element='tns:detailsOfABeneficiaryParameters' />
  </message>
  <message name='detailsOfABeneficiaryResponseMessage'>
    <part name='response' element='tns:detailsOfABeneficiaryResponse' />
  </message>
  <message name='detailsOfAPaymentRequestMessage'>
    <part name='parameters' element='tns:detailsOfAPaymentParameters' />
  </message>
  <message name='detailsOfAPaymentResponseMessage'>
    <part name='response' element='tns:detailsOfAPaymentResponse' />
  </message>
  <message name='detailsOfASettlementRequestMessage'>
    <part name='parameters' element='tns:detailsOfASettlementParameters' />
  </message>
  <message name='detailsOfASettlementResponseMessage'>
    <part name='response' element='tns:detailsOfASettlementResponse' />
  </message>
  <message name='detailsOfATradeRequestMessage'>
    <part name='parameters' element='tns:detailsOfATradeParameters' />
  </message>
  <message name='detailsOfATradeResponseMessage'>
    <part name='response' element='tns:detailsOfATradeResponse' />
  </message>
  <message name='detailsOfATradeSBankAccountRequestMessage'>
    <part name='parameters' element='tns:detailsOfATradeSBankAccountParameters' />
  </message>
  <message name='detailsOfATradeSBankAccountResponseMessage'>
    <part name='response' element='tns:detailsOfATradeSBankAccountResponse' />
  </message>
  <message name='detailsOfATradeSSettlementRequestMessage'>
    <part name='parameters' element='tns:detailsOfATradeSSettlementParameters' />
  </message>
  <message name='detailsOfATradeSSettlementResponseMessage'>
    <part name='response' element='tns:detailsOfATradeSSettlementResponse' />
  </message>
  <message name='exchangeRateRequestMessage'>
    <part name='parameters' element='tns:exchangeRateParameters' />
  </message>
  <message name='exchangeRateResponseMessage'>
    <part name='response' element='tns:exchangeRateResponse' />
  </message>
  <message name='exchangeRateForCurrencyPairRequestMessage'>
    <part name='parameters' element='tns:exchangeRateForCurrencyPairParameters' />
  </message>
  <message name='exchangeRateForCurrencyPairResponseMessage'>
    <part name='response' element='tns:exchangeRateForCurrencyPairResponse' />
  </message>
  <message name='foreignCurrencyPaymentRequestMessage'>
    <part name='parameters' element='tns:foreignCurrencyPaymentParameters' />
  </message>
  <message name='foreignCurrencyPaymentResponseMessage'>
    <part name='response' element='tns:foreignCurrencyPaymentResponse' />
  </message>
  <message name='newBeneficiaryRequestMessage'>
    <part name='parameters' element='tns:newBeneficiaryParameters' />
  </message>
  <message name='newBeneficiaryResponseMessage'>
    <part name='response' element='tns:newBeneficiaryResponse' />
  </message>
  <message name='openSettlementRequestMessage'>
    <part name='parameters' element='tns:openSettlementParameters' />
  </message>
  <message name='openSettlementResponseMessage'>
    <part name='response' element='tns:openSettlementResponse' />
  </message>
  <message name='paymentsIndexRequestMessage'>
    <part name='parameters' element='tns:paymentsIndexParameters' />
  </message>
  <message name='paymentsIndexResponseMessage'>
    <part name='response' element='tns:paymentsIndexResponse' />
  </message>
  <message name='releaseSettlementRequestMessage'>
    <part name='parameters' element='tns:releaseSettlementParameters' />
  </message>
  <message name='releaseSettlementResponseMessage'>
    <part name='response' element='tns:releaseSettlementResponse' />
  </message>
  <message name='removeATradeFromASettlementRequestMessage'>
    <part name='parameters' element='tns:removeATradeFromASettlementParameters' />
  </message>
  <message name='removeATradeFromASettlementResponseMessage'>
    <part name='response' element='tns:removeATradeFromASettlementResponse' />
  </message>
  <message name='resendTradeEmailRequestMessage'>
    <part name='parameters' element='tns:resendTradeEmailParameters' />
  </message>
  <message name='resendTradeEmailResponseMessage'>
    <part name='response' element='tns:resendTradeEmailResponse' />
  </message>
  <message name='searchTradesRequestMessage'>
    <part name='parameters' element='tns:searchTradesParameters' />
  </message>
  <message name='searchTradesResponseMessage'>
    <part name='response' element='tns:searchTradesResponse' />
  </message>
  <message name='settlementIndexRequestMessage'>
    <part name='parameters' element='tns:settlementIndexParameters' />
  </message>
  <message name='settlementIndexResponseMessage'>
    <part name='response' element='tns:settlementIndexResponse' />
  </message>
  <message name='settlementSearchRequestMessage'>
    <part name='parameters' element='tns:settlementSearchParameters' />
  </message>
  <message name='settlementSearchResponseMessage'>
    <part name='response' element='tns:settlementSearchResponse' />
  </message>
  <message name='summaryOfASettlementRequestMessage'>
    <part name='parameters' element='tns:summaryOfASettlementParameters' />
  </message>
  <message name='summaryOfASettlementResponseMessage'>
    <part name='response' element='tns:summaryOfASettlementResponse' />
  </message>
  <message name='updateBeneficiaryRequestMessage'>
    <part name='parameters' element='tns:updateBeneficiaryParameters' />
  </message>
  <message name='updateBeneficiaryResponseMessage'>
    <part name='response' element='tns:updateBeneficiaryResponse' />
  </message>
  <message name='updatePaymentRequestMessage'>
    <part name='parameters' element='tns:updatePaymentParameters' />
  </message>
  <message name='updatePaymentResponseMessage'>
    <part name='response' element='tns:updatePaymentResponse' />
  </message>
  <message name='validateBeneficiaryDetailsRequestMessage'>
    <part name='parameters' element='tns:validateBeneficiaryDetailsParameters' />
  </message>
  <message name='validateBeneficiaryDetailsResponseMessage'>
    <part name='response' element='tns:validateBeneficiaryDetailsResponse' />
  </message>
  <portType name='theCurrencyCloudPortType'>
    <operation name='addADepositToASettlement'>
      <documentation>add a transaction for a deposit to the specified settlement run</documentation>
      <input message='tns:addADepositToASettlementRequestMessage' name='addADepositToASettlementInput' />
      <output message='tns:addADepositToASettlementResponseMessage' name='addADepositToASettlementOutput' />
    </operation>
    <operation name='addPaymentToTrade'>
      <documentation>add a new payment instruction for a trade or an error if you do not have permission to view that trade</documentation>
      <input message='tns:addPaymentToTradeRequestMessage' name='addPaymentToTradeInput' />
      <output message='tns:addPaymentToTradeResponseMessage' name='addPaymentToTradeOutput' />
    </operation>
    <operation name='addTradeToSettlement'>
      <documentation>add a trade to the specified settlement run</documentation>
      <input message='tns:addTradeToSettlementRequestMessage' name='addTradeToSettlementInput' />
      <output message='tns:addTradeToSettlementResponseMessage' name='addTradeToSettlementOutput' />
    </operation>
    <operation name='authenticationToken'>
      <documentation>a token must be obtained to open the session and must be used for all further API calls The token is obtained using the new token call</documentation>
      <input message='tns:authenticationTokenRequestMessage' name='authenticationTokenInput' />
      <output message='tns:authenticationTokenResponseMessage' name='authenticationTokenOutput' />
    </operation>
    <operation name='beneficiariesRequiredFields'>
      <documentation>returns a set of required fields which should be provided when a bank account is created</documentation>
      <input message='tns:beneficiariesRequiredFieldsRequestMessage' name='beneficiariesRequiredFieldsInput' />
      <output message='tns:beneficiariesRequiredFieldsResponseMessage' name='beneficiariesRequiredFieldsOutput' />
    </operation>
    <operation name='beneficiaryIndex'>
      <documentation>returns hashes containing bank account details for the logged in contact All hashes are indexed by currency</documentation>
      <input message='tns:beneficiaryIndexRequestMessage' name='beneficiaryIndexInput' />
      <output message='tns:beneficiaryIndexResponseMessage' name='beneficiaryIndexOutput' />
    </operation>
    <operation name='closeSession'>
      <documentation></documentation>
      <input message='tns:closeSessionRequestMessage' name='closeSessionInput' />
      <output message='tns:closeSessionResponseMessage' name='closeSessionOutput' />
    </operation>
    <operation name='createSettlement'>
      <documentation>create a new settlement run with a status of open ready to have trades added to it</documentation>
      <input message='tns:createSettlementRequestMessage' name='createSettlementInput' />
      <output message='tns:createSettlementResponseMessage' name='createSettlementOutput' />
    </operation>
    <operation name='deleteASettlement'>
      <documentation>delete the specified settlement run Note this is only possible before the settlement run is released</documentation>
      <input message='tns:deleteASettlementRequestMessage' name='deleteASettlementInput' />
      <output message='tns:deleteASettlementResponseMessage' name='deleteASettlementOutput' />
    </operation>
    <operation name='detailsOfABeneficiary'>
      <documentation></documentation>
      <input message='tns:detailsOfABeneficiaryRequestMessage' name='detailsOfABeneficiaryInput' />
      <output message='tns:detailsOfABeneficiaryResponseMessage' name='detailsOfABeneficiaryOutput' />
    </operation>
    <operation name='detailsOfAPayment'>
      <documentation>returns a hash containing the details of the requested payment or an error is you do not have permissions to view that payment ID</documentation>
      <input message='tns:detailsOfAPaymentRequestMessage' name='detailsOfAPaymentInput' />
      <output message='tns:detailsOfAPaymentResponseMessage' name='detailsOfAPaymentOutput' />
    </operation>
    <operation name='detailsOfASettlement'>
      <documentation>obtain the full details of a settlement run showing all trade information amounts currencies beneficiary details</documentation>
      <input message='tns:detailsOfASettlementRequestMessage' name='detailsOfASettlementInput' />
      <output message='tns:detailsOfASettlementResponseMessage' name='detailsOfASettlementOutput' />
    </operation>
    <operation name='detailsOfATrade'>
      <documentation>returns a hash containing the full details of a particular trade</documentation>
      <input message='tns:detailsOfATradeRequestMessage' name='detailsOfATradeInput' />
      <output message='tns:detailsOfATradeResponseMessage' name='detailsOfATradeOutput' />
    </operation>
    <operation name='detailsOfATradeSBankAccount'>
      <documentation>returns a hash containing the bank account details of where to send any required deposit for this trade</documentation>
      <input message='tns:detailsOfATradeSBankAccountRequestMessage' name='detailsOfATradeSBankAccountInput' />
      <output message='tns:detailsOfATradeSBankAccountResponseMessage' name='detailsOfATradeSBankAccountOutput' />
    </operation>
    <operation name='detailsOfATradeSSettlement'>
      <documentation>returns a hash containing the bank account details for settlement of this trade</documentation>
      <input message='tns:detailsOfATradeSSettlementRequestMessage' name='detailsOfATradeSSettlementInput' />
      <output message='tns:detailsOfATradeSSettlementResponseMessage' name='detailsOfATradeSSettlementOutput' />
    </operation>
    <operation name='exchangeRate'>
      <documentation>returns a hash containing a full quote for the requested currency based on the spread table of the currently logged in contact</documentation>
      <input message='tns:exchangeRateRequestMessage' name='exchangeRateInput' />
      <output message='tns:exchangeRateResponseMessage' name='exchangeRateOutput' />
    </operation>
    <operation name='exchangeRateForCurrencyPair'>
      <documentation>returns a hash containing mid market price and the market bid offer price data for the given currency pair</documentation>
      <input message='tns:exchangeRateForCurrencyPairRequestMessage' name='exchangeRateForCurrencyPairInput' />
      <output message='tns:exchangeRateForCurrencyPairResponseMessage' name='exchangeRateForCurrencyPairOutput' />
    </operation>
    <operation name='foreignCurrencyPayment'>
      <documentation>executes the requested trade in the market based on the spread table for the logged in Contact If successful returns the ID of the newly created trade</documentation>
      <input message='tns:foreignCurrencyPaymentRequestMessage' name='foreignCurrencyPaymentInput' />
      <output message='tns:foreignCurrencyPaymentResponseMessage' name='foreignCurrencyPaymentOutput' />
    </operation>
    <operation name='newBeneficiary'>
      <documentation>creates a new bank account for the logged in contact Runs against validation service Bank account can be beneficiary source or both beneficiary and source</documentation>
      <input message='tns:newBeneficiaryRequestMessage' name='newBeneficiaryInput' />
      <output message='tns:newBeneficiaryResponseMessage' name='newBeneficiaryOutput' />
    </operation>
    <operation name='openSettlement'>
      <documentation>change status of the settlement from release to open</documentation>
      <input message='tns:openSettlementRequestMessage' name='openSettlementInput' />
      <output message='tns:openSettlementResponseMessage' name='openSettlementOutput' />
    </operation>
    <operation name='paymentsIndex'>
      <documentation>return an array containing hashes of details of the payments matching the search criteria for the logged in contact</documentation>
      <input message='tns:paymentsIndexRequestMessage' name='paymentsIndexInput' />
      <output message='tns:paymentsIndexResponseMessage' name='paymentsIndexOutput' />
    </operation>
    <operation name='releaseSettlement'>
      <documentation>update the status of the specified settlement run to released and notify TCC Ops to expect the arrival of the funds for this settlement run</documentation>
      <input message='tns:releaseSettlementRequestMessage' name='releaseSettlementInput' />
      <output message='tns:releaseSettlementResponseMessage' name='releaseSettlementOutput' />
    </operation>
    <operation name='removeATradeFromASettlement'>
      <documentation>removes a trade from the specified settlement run</documentation>
      <input message='tns:removeATradeFromASettlementRequestMessage' name='removeATradeFromASettlementInput' />
      <output message='tns:removeATradeFromASettlementResponseMessage' name='removeATradeFromASettlementOutput' />
    </operation>
    <operation name='resendTradeEmail'>
      <documentation>request that the trade confirmation email is re sent</documentation>
      <input message='tns:resendTradeEmailRequestMessage' name='resendTradeEmailInput' />
      <output message='tns:resendTradeEmailResponseMessage' name='resendTradeEmailOutput' />
    </operation>
    <operation name='searchTrades'>
      <documentation>search for trades belonging to the account you are logged in as use the optional parameters specified</documentation>
      <input message='tns:searchTradesRequestMessage' name='searchTradesInput' />
      <output message='tns:searchTradesResponseMessage' name='searchTradesOutput' />
    </operation>
    <operation name='settlementIndex'>
      <documentation>returns an array containing the trade IDs for all the trades in this settlement run</documentation>
      <input message='tns:settlementIndexRequestMessage' name='settlementIndexInput' />
      <output message='tns:settlementIndexResponseMessage' name='settlementIndexOutput' />
    </operation>
    <operation name='settlementSearch'>
      <documentation>returns an array containing the details of settlements matching the search criteria</documentation>
      <input message='tns:settlementSearchRequestMessage' name='settlementSearchInput' />
      <output message='tns:settlementSearchResponseMessage' name='settlementSearchOutput' />
    </operation>
    <operation name='summaryOfASettlement'>
      <documentation>obtain the summary of the given settlement run showing amounts currencies status beneficiary details</documentation>
      <input message='tns:summaryOfASettlementRequestMessage' name='summaryOfASettlementInput' />
      <output message='tns:summaryOfASettlementResponseMessage' name='summaryOfASettlementOutput' />
    </operation>
    <operation name='updateBeneficiary'>
      <documentation></documentation>
      <input message='tns:updateBeneficiaryRequestMessage' name='updateBeneficiaryInput' />
      <output message='tns:updateBeneficiaryResponseMessage' name='updateBeneficiaryOutput' />
    </operation>
    <operation name='updatePayment'>
      <documentation>update the details of the specified payment</documentation>
      <input message='tns:updatePaymentRequestMessage' name='updatePaymentInput' />
      <output message='tns:updatePaymentResponseMessage' name='updatePaymentOutput' />
    </operation>
    <operation name='validateBeneficiaryDetails'>
      <documentation>validates the bank details you provide which needs to be all the details required for the relevant country to be able to create a beneficiary and make a payment</documentation>
      <input message='tns:validateBeneficiaryDetailsRequestMessage' name='validateBeneficiaryDetailsInput' />
      <output message='tns:validateBeneficiaryDetailsResponseMessage' name='validateBeneficiaryDetailsOutput' />
    </operation>
  </portType>
  <binding name='theCurrencyCloudBinding' type='tns:theCurrencyCloudPortType'>
    <operation name='addADepositToASettlement'>
      <soap12:operation soapAction='http://addADepositToASettlement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addPaymentToTrade'>
      <soap12:operation soapAction='http://addPaymentToTrade' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addTradeToSettlement'>
      <soap12:operation soapAction='http://addTradeToSettlement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='authenticationToken'>
      <soap12:operation soapAction='http://authenticationToken' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='beneficiariesRequiredFields'>
      <soap12:operation soapAction='http://beneficiariesRequiredFields' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='beneficiaryIndex'>
      <soap12:operation soapAction='http://beneficiaryIndex' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='closeSession'>
      <soap12:operation soapAction='http://closeSession' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createSettlement'>
      <soap12:operation soapAction='http://createSettlement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteASettlement'>
      <soap12:operation soapAction='http://deleteASettlement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detailsOfABeneficiary'>
      <soap12:operation soapAction='http://detailsOfABeneficiary' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detailsOfAPayment'>
      <soap12:operation soapAction='http://detailsOfAPayment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detailsOfASettlement'>
      <soap12:operation soapAction='http://detailsOfASettlement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detailsOfATrade'>
      <soap12:operation soapAction='http://detailsOfATrade' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detailsOfATradeSBankAccount'>
      <soap12:operation soapAction='http://detailsOfATradeSBankAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detailsOfATradeSSettlement'>
      <soap12:operation soapAction='http://detailsOfATradeSSettlement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='exchangeRate'>
      <soap12:operation soapAction='http://exchangeRate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='exchangeRateForCurrencyPair'>
      <soap12:operation soapAction='http://exchangeRateForCurrencyPair' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='foreignCurrencyPayment'>
      <soap12:operation soapAction='http://foreignCurrencyPayment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newBeneficiary'>
      <soap12:operation soapAction='http://newBeneficiary' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='openSettlement'>
      <soap12:operation soapAction='http://openSettlement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='paymentsIndex'>
      <soap12:operation soapAction='http://paymentsIndex' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='releaseSettlement'>
      <soap12:operation soapAction='http://releaseSettlement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeATradeFromASettlement'>
      <soap12:operation soapAction='http://removeATradeFromASettlement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='resendTradeEmail'>
      <soap12:operation soapAction='http://resendTradeEmail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchTrades'>
      <soap12:operation soapAction='http://searchTrades' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='settlementIndex'>
      <soap12:operation soapAction='http://settlementIndex' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='settlementSearch'>
      <soap12:operation soapAction='http://settlementSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='summaryOfASettlement'>
      <soap12:operation soapAction='http://summaryOfASettlement' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateBeneficiary'>
      <soap12:operation soapAction='http://updateBeneficiary' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatePayment'>
      <soap12:operation soapAction='http://updatePayment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='validateBeneficiaryDetails'>
      <soap12:operation soapAction='http://validateBeneficiaryDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='theCurrencyCloud'>
    <documentation>embed the Currency Cloud API to deliver comprehensive international payment and remittance services to your clients</documentation>
    <port name='theCurrencyCloudPort' binding='tns:theCurrencyCloudBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://theCurrencyCloud' />
    </port>
  </service>
</definitions>