workspace/datasets/mashape_dataset/thegivinglab.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/thegivinglab/' name='thegivinglab' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/thegivinglab/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/thegivinglab/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/thegivinglab/'>
      <xsd:element name='authenticateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='TotalRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='ProfilePictureUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='TotalDonated' type='xsd:string' minOccurs='0' />
            <xsd:element name='Events' type='xsd:string' minOccurs='0' />
            <xsd:element name='FacebookID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Forename' type='xsd:string' minOccurs='0' />
            <xsd:element name='Groups' type='xsd:string' minOccurs='0' />
            <xsd:element name='Bio' type='xsd:string' minOccurs='0' />
            <xsd:element name='ID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Tag' type='xsd:string' minOccurs='0' />
            <xsd:element name='Surname' type='xsd:string' minOccurs='0' />
            <xsd:element name='EmailAddress' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='campaignParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='campaignResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Description' type='xsd:string' minOccurs='0' />
            <xsd:element name='ItemPrice' type='xsd:string' minOccurs='0' />
            <xsd:element name='IsClosed' type='xsd:string' minOccurs='0' />
            <xsd:element name='ItemDescription' type='xsd:string' minOccurs='0' />
            <xsd:element name='Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityName' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityLogo' type='xsd:string' minOccurs='0' />
            <xsd:element name='TotalRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='CampaignId' type='xsd:string' minOccurs='0' />
            <xsd:element name='Updates' type='xsd:string' minOccurs='0' />
            <xsd:element name='ThumbnailImage' type='xsd:string' minOccurs='0' />
            <xsd:element name='Video' type='xsd:string' minOccurs='0' />
            <xsd:element name='Headline' type='xsd:string' minOccurs='0' />
            <xsd:element name='PercentageRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='SMSCode' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='charitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='nameOrFilter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='nameorfilter' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='charitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='CharityName' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityLogo' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityDescription' type='xsd:string' minOccurs='0' />
            <xsd:element name='NotFundraising' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='Address' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Website' type='xsd:string' minOccurs='0' />
            <xsd:element name='Campaigns' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityNumber' type='xsd:string' minOccurs='0' />
            <xsd:element name='SMSCode' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='charityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='idOrCharityReferenceNumber' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='idorcharityreferencenumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='charityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='CharityName' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityLogo' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityDescription' type='xsd:string' minOccurs='0' />
            <xsd:element name='NotFundraising' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='Address' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Website' type='xsd:string' minOccurs='0' />
            <xsd:element name='Campaigns' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityNumber' type='xsd:string' minOccurs='0' />
            <xsd:element name='SMSCode' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createuserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='TotalRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='ProfilePictureUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='TotalDonated' type='xsd:string' minOccurs='0' />
            <xsd:element name='Events' type='xsd:string' minOccurs='0' />
            <xsd:element name='FacebookID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Forename' type='xsd:string' minOccurs='0' />
            <xsd:element name='Groups' type='xsd:string' minOccurs='0' />
            <xsd:element name='Bio' type='xsd:string' minOccurs='0' />
            <xsd:element name='ID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Tag' type='xsd:string' minOccurs='0' />
            <xsd:element name='Surname' type='xsd:string' minOccurs='0' />
            <xsd:element name='EmailAddress' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='EventDonations' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='GiftAidAmount' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DonorName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DonationAmount' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DonationDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='GiftAidIncluded' type='xsd:string' minOccurs='0' />
                  <xsd:element name='UserID' type='xsd:string' minOccurs='0' />
                  <xsd:element name='EventID' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='EventDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='OwningGroupID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Ended' type='xsd:string' minOccurs='0' />
            <xsd:element name='EventPictureUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='CloseDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='StartDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='TotalRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='CampaignID' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityID' type='xsd:string' minOccurs='0' />
            <xsd:element name='OwningUserID' type='xsd:string' minOccurs='0' />
            <xsd:element name='SMSCode' type='xsd:string' minOccurs='0' />
            <xsd:element name='ID' type='xsd:string' minOccurs='0' />
            <xsd:element name='TargetAmount' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventsCreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='EventDonations' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='GiftAidAmount' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DonorName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DonationAmount' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DonationDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='GiftAidIncluded' type='xsd:string' minOccurs='0' />
                  <xsd:element name='UserID' type='xsd:string' minOccurs='0' />
                  <xsd:element name='EventID' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='EventDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='OwningGroupID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Ended' type='xsd:string' minOccurs='0' />
            <xsd:element name='EventPictureUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='CloseDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='StartDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='TotalRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='CampaignID' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityID' type='xsd:string' minOccurs='0' />
            <xsd:element name='OwningUserID' type='xsd:string' minOccurs='0' />
            <xsd:element name='SMSCode' type='xsd:string' minOccurs='0' />
            <xsd:element name='ID' type='xsd:string' minOccurs='0' />
            <xsd:element name='TargetAmount' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='eventsUpdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='EventDonations' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='GiftAidAmount' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DonorName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DonationAmount' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DonationDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='GiftAidIncluded' type='xsd:string' minOccurs='0' />
                  <xsd:element name='UserID' type='xsd:string' minOccurs='0' />
                  <xsd:element name='EventID' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='EventDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='OwningGroupID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Ended' type='xsd:string' minOccurs='0' />
            <xsd:element name='EventPictureUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='CloseDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='StartDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='TotalRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='CampaignID' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityID' type='xsd:string' minOccurs='0' />
            <xsd:element name='OwningUserID' type='xsd:string' minOccurs='0' />
            <xsd:element name='SMSCode' type='xsd:string' minOccurs='0' />
            <xsd:element name='ID' type='xsd:string' minOccurs='0' />
            <xsd:element name='TargetAmount' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Description' type='xsd:string' minOccurs='0' />
            <xsd:element name='GivingClubEndDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='IsGivingClub' type='xsd:string' minOccurs='0' />
            <xsd:element name='ParentGroupID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='TotalRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='Target' type='xsd:string' minOccurs='0' />
            <xsd:element name='CampaignID' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Events' type='xsd:string' minOccurs='0' />
            <xsd:element name='GroupOwnerID' type='xsd:string' minOccurs='0' />
            <xsd:element name='PictureUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='Children' type='xsd:string' minOccurs='0' />
            <xsd:element name='GivingClubAmount' type='xsd:string' minOccurs='0' />
            <xsd:element name='ID' type='xsd:string' minOccurs='0' />
            <xsd:element name='GivingClubPaymentDay' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupAddResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupUpdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupactivityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupactivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='AssociatedImageUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='Description' type='xsd:string' minOccurs='0' />
            <xsd:element name='ActivityTypeID' type='xsd:string' minOccurs='0' />
            <xsd:element name='ActivityType' type='xsd:string' minOccurs='0' />
            <xsd:element name='ActivityTime' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupmemberRemoveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='groupmemberid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupmemberRemoveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupmembersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupmembersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='User' type='xsd:string' minOccurs='0' />
            <xsd:element name='DateLeft' type='xsd:string' minOccurs='0' />
            <xsd:element name='DateJoined' type='xsd:string' minOccurs='0' />
            <xsd:element name='ID' type='xsd:string' minOccurs='0' />
            <xsd:element name='DateLastDirectDebitPaid' type='xsd:string' minOccurs='0' />
            <xsd:element name='GroupID' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='nameOrFilter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='nameorfilter' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Description' type='xsd:string' minOccurs='0' />
            <xsd:element name='GivingClubEndDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='IsGivingClub' type='xsd:string' minOccurs='0' />
            <xsd:element name='ParentGroupID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='TotalRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='Target' type='xsd:string' minOccurs='0' />
            <xsd:element name='CampaignID' type='xsd:string' minOccurs='0' />
            <xsd:element name='CharityID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Events' type='xsd:string' minOccurs='0' />
            <xsd:element name='GroupOwnerID' type='xsd:string' minOccurs='0' />
            <xsd:element name='PictureUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='Children' type='xsd:string' minOccurs='0' />
            <xsd:element name='GivingClubAmount' type='xsd:string' minOccurs='0' />
            <xsd:element name='ID' type='xsd:string' minOccurs='0' />
            <xsd:element name='GivingClubPaymentDay' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='registeruserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='TotalRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='ProfilePictureUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='TotalDonated' type='xsd:string' minOccurs='0' />
            <xsd:element name='Events' type='xsd:string' minOccurs='0' />
            <xsd:element name='FacebookID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Forename' type='xsd:string' minOccurs='0' />
            <xsd:element name='Groups' type='xsd:string' minOccurs='0' />
            <xsd:element name='Bio' type='xsd:string' minOccurs='0' />
            <xsd:element name='ID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Tag' type='xsd:string' minOccurs='0' />
            <xsd:element name='Surname' type='xsd:string' minOccurs='0' />
            <xsd:element name='EmailAddress' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='TotalRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='ProfilePictureUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='TotalDonated' type='xsd:string' minOccurs='0' />
            <xsd:element name='Events' type='xsd:string' minOccurs='0' />
            <xsd:element name='FacebookID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Forename' type='xsd:string' minOccurs='0' />
            <xsd:element name='Groups' type='xsd:string' minOccurs='0' />
            <xsd:element name='Bio' type='xsd:string' minOccurs='0' />
            <xsd:element name='ID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Tag' type='xsd:string' minOccurs='0' />
            <xsd:element name='Surname' type='xsd:string' minOccurs='0' />
            <xsd:element name='EmailAddress' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='useractivityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='useractivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='AssociatedImageUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='Description' type='xsd:string' minOccurs='0' />
            <xsd:element name='ActivityTypeID' type='xsd:string' minOccurs='0' />
            <xsd:element name='ActivityType' type='xsd:string' minOccurs='0' />
            <xsd:element name='ActivityTime' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='nameOrFilter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='nameorfilter' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='usersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='TotalRaised' type='xsd:string' minOccurs='0' />
            <xsd:element name='ProfilePictureUrl' type='xsd:string' minOccurs='0' />
            <xsd:element name='TotalDonated' type='xsd:string' minOccurs='0' />
            <xsd:element name='Events' type='xsd:string' minOccurs='0' />
            <xsd:element name='FacebookID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Forename' type='xsd:string' minOccurs='0' />
            <xsd:element name='Groups' type='xsd:string' minOccurs='0' />
            <xsd:element name='Bio' type='xsd:string' minOccurs='0' />
            <xsd:element name='ID' type='xsd:string' minOccurs='0' />
            <xsd:element name='Tag' type='xsd:string' minOccurs='0' />
            <xsd:element name='Surname' type='xsd:string' minOccurs='0' />
            <xsd:element name='EmailAddress' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='authenticateRequestMessage' />
  <message name='authenticateResponseMessage'>
    <part name='response' element='tns:authenticateResponse' />
  </message>
  <message name='campaignRequestMessage'>
    <part name='parameters' element='tns:campaignParameters' />
  </message>
  <message name='campaignResponseMessage'>
    <part name='response' element='tns:campaignResponse' />
  </message>
  <message name='charitiesRequestMessage'>
    <part name='parameters' element='tns:charitiesParameters' />
  </message>
  <message name='charitiesResponseMessage'>
    <part name='response' element='tns:charitiesResponse' />
  </message>
  <message name='charityRequestMessage'>
    <part name='parameters' element='tns:charityParameters' />
  </message>
  <message name='charityResponseMessage'>
    <part name='response' element='tns:charityResponse' />
  </message>
  <message name='createuserRequestMessage' />
  <message name='createuserResponseMessage'>
    <part name='response' element='tns:createuserResponse' />
  </message>
  <message name='eventsRequestMessage'>
    <part name='parameters' element='tns:eventsParameters' />
  </message>
  <message name='eventsResponseMessage'>
    <part name='response' element='tns:eventsResponse' />
  </message>
  <message name='eventsCreateRequestMessage' />
  <message name='eventsCreateResponseMessage'>
    <part name='response' element='tns:eventsCreateResponse' />
  </message>
  <message name='eventsUpdateRequestMessage' />
  <message name='eventsUpdateResponseMessage'>
    <part name='response' element='tns:eventsUpdateResponse' />
  </message>
  <message name='groupRequestMessage'>
    <part name='parameters' element='tns:groupParameters' />
  </message>
  <message name='groupResponseMessage'>
    <part name='response' element='tns:groupResponse' />
  </message>
  <message name='groupAddRequestMessage' />
  <message name='groupAddResponseMessage'>
    <part name='response' element='tns:groupAddResponse' />
  </message>
  <message name='groupUpdateRequestMessage' />
  <message name='groupUpdateResponseMessage'>
    <part name='response' element='tns:groupUpdateResponse' />
  </message>
  <message name='groupactivityRequestMessage'>
    <part name='parameters' element='tns:groupactivityParameters' />
  </message>
  <message name='groupactivityResponseMessage'>
    <part name='response' element='tns:groupactivityResponse' />
  </message>
  <message name='groupmemberRemoveRequestMessage'>
    <part name='parameters' element='tns:groupmemberRemoveParameters' />
  </message>
  <message name='groupmemberRemoveResponseMessage'>
    <part name='response' element='tns:groupmemberRemoveResponse' />
  </message>
  <message name='groupmembersRequestMessage'>
    <part name='parameters' element='tns:groupmembersParameters' />
  </message>
  <message name='groupmembersResponseMessage'>
    <part name='response' element='tns:groupmembersResponse' />
  </message>
  <message name='groupsRequestMessage'>
    <part name='parameters' element='tns:groupsParameters' />
  </message>
  <message name='groupsResponseMessage'>
    <part name='response' element='tns:groupsResponse' />
  </message>
  <message name='registeruserRequestMessage' />
  <message name='registeruserResponseMessage'>
    <part name='response' element='tns:registeruserResponse' />
  </message>
  <message name='userRequestMessage'>
    <part name='parameters' element='tns:userParameters' />
  </message>
  <message name='userResponseMessage'>
    <part name='response' element='tns:userResponse' />
  </message>
  <message name='useractivityRequestMessage'>
    <part name='parameters' element='tns:useractivityParameters' />
  </message>
  <message name='useractivityResponseMessage'>
    <part name='response' element='tns:useractivityResponse' />
  </message>
  <message name='usersRequestMessage'>
    <part name='parameters' element='tns:usersParameters' />
  </message>
  <message name='usersResponseMessage'>
    <part name='response' element='tns:usersResponse' />
  </message>
  <portType name='thegivinglabPortType'>
    <operation name='authenticate'>
      <documentation>authenticate</documentation>
      <input message='tns:authenticateRequestMessage' name='authenticateInput' />
      <output message='tns:authenticateResponseMessage' name='authenticateOutput' />
    </operation>
    <operation name='campaign'>
      <documentation>campaign</documentation>
      <input message='tns:campaignRequestMessage' name='campaignInput' />
      <output message='tns:campaignResponseMessage' name='campaignOutput' />
    </operation>
    <operation name='charities'>
      <documentation>charities</documentation>
      <input message='tns:charitiesRequestMessage' name='charitiesInput' />
      <output message='tns:charitiesResponseMessage' name='charitiesOutput' />
    </operation>
    <operation name='charity'>
      <documentation>charity</documentation>
      <input message='tns:charityRequestMessage' name='charityInput' />
      <output message='tns:charityResponseMessage' name='charityOutput' />
    </operation>
    <operation name='createuser'>
      <documentation>you can call the following method to create the profile on TheGivingLab org</documentation>
      <input message='tns:createuserRequestMessage' name='createuserInput' />
      <output message='tns:createuserResponseMessage' name='createuserOutput' />
    </operation>
    <operation name='events'>
      <documentation>to get details of an event that is owned by a user or group call the following method</documentation>
      <input message='tns:eventsRequestMessage' name='eventsInput' />
      <output message='tns:eventsResponseMessage' name='eventsOutput' />
    </operation>
    <operation name='eventsCreate'>
      <documentation>create Events</documentation>
      <input message='tns:eventsCreateRequestMessage' name='eventsCreateInput' />
      <output message='tns:eventsCreateResponseMessage' name='eventsCreateOutput' />
    </operation>
    <operation name='eventsUpdate'>
      <documentation></documentation>
      <input message='tns:eventsUpdateRequestMessage' name='eventsUpdateInput' />
      <output message='tns:eventsUpdateResponseMessage' name='eventsUpdateOutput' />
    </operation>
    <operation name='group'>
      <documentation>group</documentation>
      <input message='tns:groupRequestMessage' name='groupInput' />
      <output message='tns:groupResponseMessage' name='groupOutput' />
    </operation>
    <operation name='groupAdd'>
      <documentation>add group</documentation>
      <input message='tns:groupAddRequestMessage' name='groupAddInput' />
      <output message='tns:groupAddResponseMessage' name='groupAddOutput' />
    </operation>
    <operation name='groupUpdate'>
      <documentation>update group</documentation>
      <input message='tns:groupUpdateRequestMessage' name='groupUpdateInput' />
      <output message='tns:groupUpdateResponseMessage' name='groupUpdateOutput' />
    </operation>
    <operation name='groupactivity'>
      <documentation>to get an aggregated feed of all activity across a group donations new events completed events etc call the method below</documentation>
      <input message='tns:groupactivityRequestMessage' name='groupactivityInput' />
      <output message='tns:groupactivityResponseMessage' name='groupactivityOutput' />
    </operation>
    <operation name='groupmemberRemove'>
      <documentation>remove groupmember</documentation>
      <input message='tns:groupmemberRemoveRequestMessage' name='groupmemberRemoveInput' />
      <output message='tns:groupmemberRemoveResponseMessage' name='groupmemberRemoveOutput' />
    </operation>
    <operation name='groupmembers'>
      <documentation>groupmembers</documentation>
      <input message='tns:groupmembersRequestMessage' name='groupmembersInput' />
      <output message='tns:groupmembersResponseMessage' name='groupmembersOutput' />
    </operation>
    <operation name='groups'>
      <documentation>groups</documentation>
      <input message='tns:groupsRequestMessage' name='groupsInput' />
      <output message='tns:groupsResponseMessage' name='groupsOutput' />
    </operation>
    <operation name='registeruser'>
      <documentation>registeruser</documentation>
      <input message='tns:registeruserRequestMessage' name='registeruserInput' />
      <output message='tns:registeruserResponseMessage' name='registeruserOutput' />
    </operation>
    <operation name='user'>
      <documentation>if you know the ID for a user you can get the profile by calling the following method</documentation>
      <input message='tns:userRequestMessage' name='userInput' />
      <output message='tns:userResponseMessage' name='userOutput' />
    </operation>
    <operation name='useractivity'>
      <documentation>to get an aggregated feed of all activity for a user donations new events completed events etc call the method below</documentation>
      <input message='tns:useractivityRequestMessage' name='useractivityInput' />
      <output message='tns:useractivityResponseMessage' name='useractivityOutput' />
    </operation>
    <operation name='users'>
      <documentation>to search for a user you simply need to call the following API method</documentation>
      <input message='tns:usersRequestMessage' name='usersInput' />
      <output message='tns:usersResponseMessage' name='usersOutput' />
    </operation>
  </portType>
  <binding name='thegivinglabBinding' type='tns:thegivinglabPortType'>
    <operation name='authenticate'>
      <soap12:operation soapAction='http://authenticate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='campaign'>
      <soap12:operation soapAction='http://campaign' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='charities'>
      <soap12:operation soapAction='http://charities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='charity'>
      <soap12:operation soapAction='http://charity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createuser'>
      <soap12:operation soapAction='http://createuser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='events'>
      <soap12:operation soapAction='http://events' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventsCreate'>
      <soap12:operation soapAction='http://eventsCreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='eventsUpdate'>
      <soap12:operation soapAction='http://eventsUpdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='group'>
      <soap12:operation soapAction='http://group' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='groupAdd'>
      <soap12:operation soapAction='http://groupAdd' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='groupUpdate'>
      <soap12:operation soapAction='http://groupUpdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='groupactivity'>
      <soap12:operation soapAction='http://groupactivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='groupmemberRemove'>
      <soap12:operation soapAction='http://groupmemberRemove' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='groupmembers'>
      <soap12:operation soapAction='http://groupmembers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='groups'>
      <soap12:operation soapAction='http://groups' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='registeruser'>
      <soap12:operation soapAction='http://registeruser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='user'>
      <soap12:operation soapAction='http://user' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='useractivity'>
      <soap12:operation soapAction='http://useractivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='users'>
      <soap12:operation soapAction='http://users' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='thegivinglab'>
    <documentation>theGivingLab org helps charities companies and developers develop launch and scale new fundraising ideas and products services and games which benefit UK charities Our APIs make it easy to collect donations take payments reclaim gift aid organ</documentation>
    <port name='thegivinglabPort' binding='tns:thegivinglabBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://thegivinglab' />
    </port>
  </service>
</definitions>