workspace/datasets/mashape_dataset/themovieclips.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/themovieclips/' name='themovieclips' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/themovieclips/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/themovieclips/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/themovieclips/'>
      <xsd:element name='boxOfficeTrailersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='boxOfficeTrailersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='movie' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='tmdb_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='year' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_rating' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='imdb_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='embed' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='iframe' type='xsd:string' minOccurs='0' />
                        <xsd:element name='flash' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='commingSoonTrailersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='commingSoonTrailersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='movie' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='tmdb_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='year' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rating' type='xsd:string' minOccurs='0' />
                        <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_rating' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='imdb_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='embed' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='iframe' type='xsd:string' minOccurs='0' />
                        <xsd:element name='flash' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='popularTrailersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='popularTrailersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='movie' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='tmdb_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='year' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rating' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_rating' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='imdb_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='rating' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='embed' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='iframe' type='xsd:string' minOccurs='0' />
                        <xsd:element name='flash' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trailersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='imdb' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='title' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trailersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='duration' type='xsd:int' minOccurs='0' />
                  <xsd:element name='movie' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='tmdb_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='plot' type='xsd:string' minOccurs='0' />
                        <xsd:element name='imdb_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='year' type='xsd:int' minOccurs='0' />
                        <xsd:element name='rating' type='xsd:string' minOccurs='0' />
                        <xsd:element name='genre' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='posters' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='imdb_id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='thumb' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='id' type='xsd:int' minOccurs='0' />
                              <xsd:element name='full_size' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='imdb_rating' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='imdb_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='thumb' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='small' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='large' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='rating' type='xsd:string' minOccurs='0' />
                  <xsd:element name='link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='embed' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='html5' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='n480p' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='n1080p' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='n360p' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='n720p' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='iframe' type='xsd:string' minOccurs='0' />
                        <xsd:element name='flash' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='boxOfficeTrailersRequestMessage'>
    <part name='parameters' element='tns:boxOfficeTrailersParameters' />
  </message>
  <message name='boxOfficeTrailersResponseMessage'>
    <part name='response' element='tns:boxOfficeTrailersResponse' />
  </message>
  <message name='commingSoonTrailersRequestMessage'>
    <part name='parameters' element='tns:commingSoonTrailersParameters' />
  </message>
  <message name='commingSoonTrailersResponseMessage'>
    <part name='response' element='tns:commingSoonTrailersResponse' />
  </message>
  <message name='popularTrailersRequestMessage'>
    <part name='parameters' element='tns:popularTrailersParameters' />
  </message>
  <message name='popularTrailersResponseMessage'>
    <part name='response' element='tns:popularTrailersResponse' />
  </message>
  <message name='trailersRequestMessage'>
    <part name='parameters' element='tns:trailersParameters' />
  </message>
  <message name='trailersResponseMessage'>
    <part name='response' element='tns:trailersResponse' />
  </message>
  <portType name='themovieclipsPortType'>
    <operation name='boxOfficeTrailers'>
      <documentation></documentation>
      <input message='tns:boxOfficeTrailersRequestMessage' name='boxOfficeTrailersInput' />
      <output message='tns:boxOfficeTrailersResponseMessage' name='boxOfficeTrailersOutput' />
    </operation>
    <operation name='commingSoonTrailers'>
      <input message='tns:commingSoonTrailersRequestMessage' name='commingSoonTrailersInput' />
      <output message='tns:commingSoonTrailersResponseMessage' name='commingSoonTrailersOutput' />
    </operation>
    <operation name='popularTrailers'>
      <documentation></documentation>
      <input message='tns:popularTrailersRequestMessage' name='popularTrailersInput' />
      <output message='tns:popularTrailersResponseMessage' name='popularTrailersOutput' />
    </operation>
    <operation name='trailers'>
      <input message='tns:trailersRequestMessage' name='trailersInput' />
      <output message='tns:trailersResponseMessage' name='trailersOutput' />
    </operation>
  </portType>
  <binding name='themovieclipsBinding' type='tns:themovieclipsPortType'>
    <operation name='boxOfficeTrailers'>
      <soap12:operation soapAction='http://boxOfficeTrailers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='commingSoonTrailers'>
      <soap12:operation soapAction='http://commingSoonTrailers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='popularTrailers'>
      <soap12:operation soapAction='http://popularTrailers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trailers'>
      <soap12:operation soapAction='http://trailers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='themovieclips'>
    <documentation>theMovieClips Api was created to help developers to easily embed movie trailers or get movies informations into websites applications etc This is the first version of our public json api</documentation>
    <port name='themovieclipsPort' binding='tns:themovieclipsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://themovieclips' />
    </port>
  </service>
</definitions>