workspace/datasets/mashape_dataset/theunofficialworldcup.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/theUnofficialWorldCup/' name='theUnofficialWorldCup' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/theUnofficialWorldCup/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/theUnofficialWorldCup/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/theUnofficialWorldCup/'>
      <xsd:element name='listAllClubsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllClubsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllMatchesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllMatchesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllPlayerSeasonStatsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllPlayerSeasonStatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllPlayersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllPlayersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllTeamsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAllTeamsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAClubParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='clubid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAClubResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAMatchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='matchid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAMatchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAPlayerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='playerid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAPlayerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAPlayerSeasonStatParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='playerseasonstatid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveAPlayerSeasonStatResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveATeamParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fields' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='teamid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveATeamResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='listAllClubsRequestMessage'>
    <part name='parameters' element='tns:listAllClubsParameters' />
  </message>
  <message name='listAllClubsResponseMessage'>
    <part name='response' element='tns:listAllClubsResponse' />
  </message>
  <message name='listAllMatchesRequestMessage'>
    <part name='parameters' element='tns:listAllMatchesParameters' />
  </message>
  <message name='listAllMatchesResponseMessage'>
    <part name='response' element='tns:listAllMatchesResponse' />
  </message>
  <message name='listAllPlayerSeasonStatsRequestMessage'>
    <part name='parameters' element='tns:listAllPlayerSeasonStatsParameters' />
  </message>
  <message name='listAllPlayerSeasonStatsResponseMessage'>
    <part name='response' element='tns:listAllPlayerSeasonStatsResponse' />
  </message>
  <message name='listAllPlayersRequestMessage'>
    <part name='parameters' element='tns:listAllPlayersParameters' />
  </message>
  <message name='listAllPlayersResponseMessage'>
    <part name='response' element='tns:listAllPlayersResponse' />
  </message>
  <message name='listAllTeamsRequestMessage'>
    <part name='parameters' element='tns:listAllTeamsParameters' />
  </message>
  <message name='listAllTeamsResponseMessage'>
    <part name='response' element='tns:listAllTeamsResponse' />
  </message>
  <message name='retrieveAClubRequestMessage'>
    <part name='parameters' element='tns:retrieveAClubParameters' />
  </message>
  <message name='retrieveAClubResponseMessage'>
    <part name='response' element='tns:retrieveAClubResponse' />
  </message>
  <message name='retrieveAMatchRequestMessage'>
    <part name='parameters' element='tns:retrieveAMatchParameters' />
  </message>
  <message name='retrieveAMatchResponseMessage'>
    <part name='response' element='tns:retrieveAMatchResponse' />
  </message>
  <message name='retrieveAPlayerRequestMessage'>
    <part name='parameters' element='tns:retrieveAPlayerParameters' />
  </message>
  <message name='retrieveAPlayerResponseMessage'>
    <part name='response' element='tns:retrieveAPlayerResponse' />
  </message>
  <message name='retrieveAPlayerSeasonStatRequestMessage'>
    <part name='parameters' element='tns:retrieveAPlayerSeasonStatParameters' />
  </message>
  <message name='retrieveAPlayerSeasonStatResponseMessage'>
    <part name='response' element='tns:retrieveAPlayerSeasonStatResponse' />
  </message>
  <message name='retrieveATeamRequestMessage'>
    <part name='parameters' element='tns:retrieveATeamParameters' />
  </message>
  <message name='retrieveATeamResponseMessage'>
    <part name='response' element='tns:retrieveATeamResponse' />
  </message>
  <portType name='theUnofficialWorldCupPortType'>
    <operation name='listAllClubs'>
      <documentation>returns a JSON array containing club objects matching the arguments provided</documentation>
      <input message='tns:listAllClubsRequestMessage' name='listAllClubsInput' />
      <output message='tns:listAllClubsResponseMessage' name='listAllClubsOutput' />
    </operation>
    <operation name='listAllMatches'>
      <documentation>returns a JSON array containing team objects matching the arguments provided</documentation>
      <input message='tns:listAllMatchesRequestMessage' name='listAllMatchesInput' />
      <output message='tns:listAllMatchesResponseMessage' name='listAllMatchesOutput' />
    </operation>
    <operation name='listAllPlayerSeasonStats'>
      <documentation>returns a JSON array containing PlayerSeasonStat objects matching the arguments provided</documentation>
      <input message='tns:listAllPlayerSeasonStatsRequestMessage' name='listAllPlayerSeasonStatsInput' />
      <output message='tns:listAllPlayerSeasonStatsResponseMessage' name='listAllPlayerSeasonStatsOutput' />
    </operation>
    <operation name='listAllPlayers'>
      <documentation>returns a JSON array containing player objects matching the arguments provided</documentation>
      <input message='tns:listAllPlayersRequestMessage' name='listAllPlayersInput' />
      <output message='tns:listAllPlayersResponseMessage' name='listAllPlayersOutput' />
    </operation>
    <operation name='listAllTeams'>
      <documentation>returns a JSON array containing team objects matching the arguments provided</documentation>
      <input message='tns:listAllTeamsRequestMessage' name='listAllTeamsInput' />
      <output message='tns:listAllTeamsResponseMessage' name='listAllTeamsOutput' />
    </operation>
    <operation name='retrieveAClub'>
      <documentation>returns a JSON object for the club that matches the specified id</documentation>
      <input message='tns:retrieveAClubRequestMessage' name='retrieveAClubInput' />
      <output message='tns:retrieveAClubResponseMessage' name='retrieveAClubOutput' />
    </operation>
    <operation name='retrieveAMatch'>
      <documentation>returns a JSON object for the team that matches the specified id</documentation>
      <input message='tns:retrieveAMatchRequestMessage' name='retrieveAMatchInput' />
      <output message='tns:retrieveAMatchResponseMessage' name='retrieveAMatchOutput' />
    </operation>
    <operation name='retrieveAPlayer'>
      <documentation>returns a JSON object for the player that matches the specified id</documentation>
      <input message='tns:retrieveAPlayerRequestMessage' name='retrieveAPlayerInput' />
      <output message='tns:retrieveAPlayerResponseMessage' name='retrieveAPlayerOutput' />
    </operation>
    <operation name='retrieveAPlayerSeasonStat'>
      <documentation>returns a JSON object for the PlayerSeasonStat that matches the specified id</documentation>
      <input message='tns:retrieveAPlayerSeasonStatRequestMessage' name='retrieveAPlayerSeasonStatInput' />
      <output message='tns:retrieveAPlayerSeasonStatResponseMessage' name='retrieveAPlayerSeasonStatOutput' />
    </operation>
    <operation name='retrieveATeam'>
      <documentation>returns a JSON object for the Team that matches the specified id</documentation>
      <input message='tns:retrieveATeamRequestMessage' name='retrieveATeamInput' />
      <output message='tns:retrieveATeamResponseMessage' name='retrieveATeamOutput' />
    </operation>
  </portType>
  <binding name='theUnofficialWorldCupBinding' type='tns:theUnofficialWorldCupPortType'>
    <operation name='listAllClubs'>
      <soap12:operation soapAction='http://listAllClubs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllMatches'>
      <soap12:operation soapAction='http://listAllMatches' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllPlayerSeasonStats'>
      <soap12:operation soapAction='http://listAllPlayerSeasonStats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllPlayers'>
      <soap12:operation soapAction='http://listAllPlayers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAllTeams'>
      <soap12:operation soapAction='http://listAllTeams' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAClub'>
      <soap12:operation soapAction='http://retrieveAClub' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAMatch'>
      <soap12:operation soapAction='http://retrieveAMatch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAPlayer'>
      <soap12:operation soapAction='http://retrieveAPlayer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveAPlayerSeasonStat'>
      <soap12:operation soapAction='http://retrieveAPlayerSeasonStat' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveATeam'>
      <soap12:operation soapAction='http://retrieveATeam' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='theUnofficialWorldCup'>
    <documentation>the kimonolabs World Cup API provides easy access to up to date player team and match data for the World Cup as well as historical player performance across their respective club teams The API is RESTful and uses standard HTTP response codes to indicate errors JSON will be returned in all responses from the API</documentation>
    <port name='theUnofficialWorldCupPort' binding='tns:theUnofficialWorldCupBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://theUnofficialWorldCup' />
    </port>
  </service>
</definitions>