workspace/datasets/mashape_dataset/thewebblend.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/thewebblend/' name='thewebblend' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/thewebblend/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/thewebblend/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/thewebblend/'>
      <xsd:element name='allCommentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postsContentsOfUserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postsDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postsMostRecentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postsNewUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postsRecentUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postsTopUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postsUserCommentsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postsUserDetailsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='allCommentsRequestMessage' />
  <message name='allCommentsResponseMessage'>
    <part name='response' element='tns:allCommentsResponse' />
  </message>
  <message name='postsContentsOfUserRequestMessage' />
  <message name='postsContentsOfUserResponseMessage'>
    <part name='response' element='tns:postsContentsOfUserResponse' />
  </message>
  <message name='postsDetailsRequestMessage' />
  <message name='postsDetailsResponseMessage'>
    <part name='response' element='tns:postsDetailsResponse' />
  </message>
  <message name='postsMostRecentRequestMessage' />
  <message name='postsMostRecentResponseMessage'>
    <part name='response' element='tns:postsMostRecentResponse' />
  </message>
  <message name='postsNewUsersRequestMessage' />
  <message name='postsNewUsersResponseMessage'>
    <part name='response' element='tns:postsNewUsersResponse' />
  </message>
  <message name='postsRecentUsersRequestMessage' />
  <message name='postsRecentUsersResponseMessage'>
    <part name='response' element='tns:postsRecentUsersResponse' />
  </message>
  <message name='postsTopUsersRequestMessage' />
  <message name='postsTopUsersResponseMessage'>
    <part name='response' element='tns:postsTopUsersResponse' />
  </message>
  <message name='postsUserCommentsRequestMessage' />
  <message name='postsUserCommentsResponseMessage'>
    <part name='response' element='tns:postsUserCommentsResponse' />
  </message>
  <message name='postsUserDetailsRequestMessage' />
  <message name='postsUserDetailsResponseMessage'>
    <part name='response' element='tns:postsUserDetailsResponse' />
  </message>
  <portType name='thewebblendPortType'>
    <operation name='allComments'>
      <documentation>returns all comments</documentation>
      <input message='tns:allCommentsRequestMessage' name='allCommentsInput' />
      <output message='tns:allCommentsResponseMessage' name='allCommentsOutput' />
    </operation>
    <operation name='postsContentsOfUser'>
      <documentation>returns the content for a user accepts the same filter arguments as contents API query</documentation>
      <input message='tns:postsContentsOfUserRequestMessage' name='postsContentsOfUserInput' />
      <output message='tns:postsContentsOfUserResponseMessage' name='postsContentsOfUserOutput' />
    </operation>
    <operation name='postsDetails'>
      <documentation>returns details about a post</documentation>
      <input message='tns:postsDetailsRequestMessage' name='postsDetailsInput' />
      <output message='tns:postsDetailsResponseMessage' name='postsDetailsOutput' />
    </operation>
    <operation name='postsMostRecent'>
      <documentation>returns the most recent posts</documentation>
      <input message='tns:postsMostRecentRequestMessage' name='postsMostRecentInput' />
      <output message='tns:postsMostRecentResponseMessage' name='postsMostRecentOutput' />
    </operation>
    <operation name='postsNewUsers'>
      <documentation>returns the newest confirmed users</documentation>
      <input message='tns:postsNewUsersRequestMessage' name='postsNewUsersInput' />
      <output message='tns:postsNewUsersResponseMessage' name='postsNewUsersOutput' />
    </operation>
    <operation name='postsRecentUsers'>
      <documentation>returns recently logged in users</documentation>
      <input message='tns:postsRecentUsersRequestMessage' name='postsRecentUsersInput' />
      <output message='tns:postsRecentUsersResponseMessage' name='postsRecentUsersOutput' />
    </operation>
    <operation name='postsTopUsers'>
      <documentation>returns the Top Users</documentation>
      <input message='tns:postsTopUsersRequestMessage' name='postsTopUsersInput' />
      <output message='tns:postsTopUsersResponseMessage' name='postsTopUsersOutput' />
    </operation>
    <operation name='postsUserComments'>
      <documentation>returns the comments for a user</documentation>
      <input message='tns:postsUserCommentsRequestMessage' name='postsUserCommentsInput' />
      <output message='tns:postsUserCommentsResponseMessage' name='postsUserCommentsOutput' />
    </operation>
    <operation name='postsUserDetails'>
      <documentation>returns info about a user</documentation>
      <input message='tns:postsUserDetailsRequestMessage' name='postsUserDetailsInput' />
      <output message='tns:postsUserDetailsResponseMessage' name='postsUserDetailsOutput' />
    </operation>
  </portType>
  <binding name='thewebblendBinding' type='tns:thewebblendPortType'>
    <operation name='allComments'>
      <soap12:operation soapAction='http://allComments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postsContentsOfUser'>
      <soap12:operation soapAction='http://postsContentsOfUser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postsDetails'>
      <soap12:operation soapAction='http://postsDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postsMostRecent'>
      <soap12:operation soapAction='http://postsMostRecent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postsNewUsers'>
      <soap12:operation soapAction='http://postsNewUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postsRecentUsers'>
      <soap12:operation soapAction='http://postsRecentUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postsTopUsers'>
      <soap12:operation soapAction='http://postsTopUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postsUserComments'>
      <soap12:operation soapAction='http://postsUserComments' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postsUserDetails'>
      <soap12:operation soapAction='http://postsUserDetails' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='thewebblend'>
    <documentation>the Web Blend API is in Beta at the moment but we re looking for developers and designers to try it out and help us work out the kinks You ll need to request an API key to be able to use it The v API responses are returned in JSON format and all of the queries are read only All requests must be prefaced by http api thewebblend com</documentation>
    <port name='thewebblendPort' binding='tns:thewebblendBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://thewebblend' />
    </port>
  </service>
</definitions>