workspace/datasets/mashape_dataset/theysaidsosayitwithstyle.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/theySaidSoSayItWithStyle/' name='theySaidSoSayItWithStyle' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/theySaidSoSayItWithStyle/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/theySaidSoSayItWithStyle/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/theySaidSoSayItWithStyle/'>
      <xsd:element name='authorsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='categoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='categories' type='xsd:normalizedString' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='qodParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='qodResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='quote' type='xsd:string' minOccurs='0' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='length' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='qodCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='copyright' type='xsd:string' minOccurs='0' />
                  <xsd:element name='categories' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='love' type='xsd:string' minOccurs='0' />
                        <xsd:element name='sports' type='xsd:string' minOccurs='0' />
                        <xsd:element name='management' type='xsd:string' minOccurs='0' />
                        <xsd:element name='inspire' type='xsd:string' minOccurs='0' />
                        <xsd:element name='funny' type='xsd:string' minOccurs='0' />
                        <xsd:element name='life' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='quoteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='author' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxlength' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='minlength' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='quoteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='quote' type='xsd:string' minOccurs='0' />
                  <xsd:element name='author' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='categories' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='requested_category' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verseParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='book' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='chapter' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='verseResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='chapter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='book' type='xsd:string' minOccurs='0' />
                  <xsd:element name='verse' type='xsd:string' minOccurs='0' />
                  <xsd:element name='testament' type='xsd:string' minOccurs='0' />
                  <xsd:element name='bookid' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vodResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contents' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='number' type='xsd:int' minOccurs='0' />
                  <xsd:element name='chapter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='book' type='xsd:string' minOccurs='0' />
                  <xsd:element name='verse' type='xsd:string' minOccurs='0' />
                  <xsd:element name='testament' type='xsd:string' minOccurs='0' />
                  <xsd:element name='bookid' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='authorsRequestMessage' />
  <message name='authorsResponseMessage'>
    <part name='response' element='tns:authorsResponse' />
  </message>
  <message name='categoriesRequestMessage' />
  <message name='categoriesResponseMessage'>
    <part name='response' element='tns:categoriesResponse' />
  </message>
  <message name='qodRequestMessage'>
    <part name='parameters' element='tns:qodParameters' />
  </message>
  <message name='qodResponseMessage'>
    <part name='response' element='tns:qodResponse' />
  </message>
  <message name='qodCategoriesRequestMessage' />
  <message name='qodCategoriesResponseMessage'>
    <part name='response' element='tns:qodCategoriesResponse' />
  </message>
  <message name='quoteRequestMessage'>
    <part name='parameters' element='tns:quoteParameters' />
  </message>
  <message name='quoteResponseMessage'>
    <part name='response' element='tns:quoteResponse' />
  </message>
  <message name='verseRequestMessage'>
    <part name='parameters' element='tns:verseParameters' />
  </message>
  <message name='verseResponseMessage'>
    <part name='response' element='tns:verseResponse' />
  </message>
  <message name='vodRequestMessage' />
  <message name='vodResponseMessage'>
    <part name='response' element='tns:vodResponse' />
  </message>
  <portType name='theySaidSoSayItWithStylePortType'>
    <operation name='authors'>
      <documentation>list of authors available in the system</documentation>
      <input message='tns:authorsRequestMessage' name='authorsInput' />
      <output message='tns:authorsResponseMessage' name='authorsOutput' />
    </operation>
    <operation name='categories'>
      <documentation>list of Random Quote Categories Available in the system</documentation>
      <input message='tns:categoriesRequestMessage' name='categoriesInput' />
      <output message='tns:categoriesResponseMessage' name='categoriesOutput' />
    </operation>
    <operation name='qod'>
      <documentation>quote of the day</documentation>
      <input message='tns:qodRequestMessage' name='qodInput' />
      <output message='tns:qodResponseMessage' name='qodOutput' />
    </operation>
    <operation name='qodCategories'>
      <documentation>get the categories for QOD</documentation>
      <input message='tns:qodCategoriesRequestMessage' name='qodCategoriesInput' />
      <output message='tns:qodCategoriesResponseMessage' name='qodCategoriesOutput' />
    </operation>
    <operation name='quote'>
      <documentation>random Quote</documentation>
      <input message='tns:quoteRequestMessage' name='quoteInput' />
      <output message='tns:quoteResponseMessage' name='quoteOutput' />
    </operation>
    <operation name='verse'>
      <documentation>bible random verse</documentation>
      <input message='tns:verseRequestMessage' name='verseInput' />
      <output message='tns:verseResponseMessage' name='verseOutput' />
    </operation>
    <operation name='vod'>
      <documentation>bible Verse of the day</documentation>
      <input message='tns:vodRequestMessage' name='vodInput' />
      <output message='tns:vodResponseMessage' name='vodOutput' />
    </operation>
  </portType>
  <binding name='theySaidSoSayItWithStyleBinding' type='tns:theySaidSoSayItWithStylePortType'>
    <operation name='authors'>
      <soap12:operation soapAction='http://authors' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='categories'>
      <soap12:operation soapAction='http://categories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='qod'>
      <soap12:operation soapAction='http://qod' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='qodCategories'>
      <soap12:operation soapAction='http://qodCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='quote'>
      <soap12:operation soapAction='http://quote' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='verse'>
      <soap12:operation soapAction='http://verse' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='vod'>
      <soap12:operation soapAction='http://vod' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='theySaidSoSayItWithStyle'>
    <documentation>they Said So has more than million quotes in the database the largest such database in the world And Quotes API gives easy way to access the data Random quotes quote of the day and bible verses are all accessible from this simple REST API</documentation>
    <port name='theySaidSoSayItWithStylePort' binding='tns:theySaidSoSayItWithStyleBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://theySaidSoSayItWithStyle' />
    </port>
  </service>
</definitions>