workspace/datasets/mashape_dataset/tictailonlinestore.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/tictailOnlineStore/' name='tictailOnlineStore' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/tictailOnlineStore/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/tictailOnlineStore/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/tictailOnlineStore/'>
      <xsd:element name='deleteVStoresStoreIdFollowersFollowerIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='followerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteVStoresStoreIdFollowersFollowerIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVMeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='action' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='card_type' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdCustomersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='after' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='before' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdCustomersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdCustomersCustomerIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='customerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdCustomersCustomerIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdFollowersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='after' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='before' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdOrdersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='after' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='before' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='modifiedafter' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='modifiedbefore' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdOrdersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdOrdersOrderIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='orderid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdOrdersOrderIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdProductsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='after' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='before' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdProductsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdProductsProductIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='productid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdProductsProductIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdThemeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVStoresStoreIdThemeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postVStoresStoreIdCardsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postVStoresStoreIdCardsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='action' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='card_type' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postVStoresStoreIdFollowersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='storeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postVStoresStoreIdFollowersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='deleteVStoresStoreIdFollowersFollowerIdRequestMessage'>
    <part name='parameters' element='tns:deleteVStoresStoreIdFollowersFollowerIdParameters' />
  </message>
  <message name='deleteVStoresStoreIdFollowersFollowerIdResponseMessage'>
    <part name='response' element='tns:deleteVStoresStoreIdFollowersFollowerIdResponse' />
  </message>
  <message name='getVMeRequestMessage' />
  <message name='getVMeResponseMessage'>
    <part name='response' element='tns:getVMeResponse' />
  </message>
  <message name='getVStoresStoreIdRequestMessage'>
    <part name='parameters' element='tns:getVStoresStoreIdParameters' />
  </message>
  <message name='getVStoresStoreIdResponseMessage'>
    <part name='response' element='tns:getVStoresStoreIdResponse' />
  </message>
  <message name='getVStoresStoreIdCustomersRequestMessage'>
    <part name='parameters' element='tns:getVStoresStoreIdCustomersParameters' />
  </message>
  <message name='getVStoresStoreIdCustomersResponseMessage'>
    <part name='response' element='tns:getVStoresStoreIdCustomersResponse' />
  </message>
  <message name='getVStoresStoreIdCustomersCustomerIdRequestMessage'>
    <part name='parameters' element='tns:getVStoresStoreIdCustomersCustomerIdParameters' />
  </message>
  <message name='getVStoresStoreIdCustomersCustomerIdResponseMessage'>
    <part name='response' element='tns:getVStoresStoreIdCustomersCustomerIdResponse' />
  </message>
  <message name='getVStoresStoreIdFollowersRequestMessage'>
    <part name='parameters' element='tns:getVStoresStoreIdFollowersParameters' />
  </message>
  <message name='getVStoresStoreIdFollowersResponseMessage'>
    <part name='response' element='tns:getVStoresStoreIdFollowersResponse' />
  </message>
  <message name='getVStoresStoreIdOrdersRequestMessage'>
    <part name='parameters' element='tns:getVStoresStoreIdOrdersParameters' />
  </message>
  <message name='getVStoresStoreIdOrdersResponseMessage'>
    <part name='response' element='tns:getVStoresStoreIdOrdersResponse' />
  </message>
  <message name='getVStoresStoreIdOrdersOrderIdRequestMessage'>
    <part name='parameters' element='tns:getVStoresStoreIdOrdersOrderIdParameters' />
  </message>
  <message name='getVStoresStoreIdOrdersOrderIdResponseMessage'>
    <part name='response' element='tns:getVStoresStoreIdOrdersOrderIdResponse' />
  </message>
  <message name='getVStoresStoreIdProductsRequestMessage'>
    <part name='parameters' element='tns:getVStoresStoreIdProductsParameters' />
  </message>
  <message name='getVStoresStoreIdProductsResponseMessage'>
    <part name='response' element='tns:getVStoresStoreIdProductsResponse' />
  </message>
  <message name='getVStoresStoreIdProductsProductIdRequestMessage'>
    <part name='parameters' element='tns:getVStoresStoreIdProductsProductIdParameters' />
  </message>
  <message name='getVStoresStoreIdProductsProductIdResponseMessage'>
    <part name='response' element='tns:getVStoresStoreIdProductsProductIdResponse' />
  </message>
  <message name='getVStoresStoreIdThemeRequestMessage'>
    <part name='parameters' element='tns:getVStoresStoreIdThemeParameters' />
  </message>
  <message name='getVStoresStoreIdThemeResponseMessage'>
    <part name='response' element='tns:getVStoresStoreIdThemeResponse' />
  </message>
  <message name='postVStoresStoreIdCardsRequestMessage'>
    <part name='parameters' element='tns:postVStoresStoreIdCardsParameters' />
  </message>
  <message name='postVStoresStoreIdCardsResponseMessage'>
    <part name='response' element='tns:postVStoresStoreIdCardsResponse' />
  </message>
  <message name='postVStoresStoreIdFollowersRequestMessage'>
    <part name='parameters' element='tns:postVStoresStoreIdFollowersParameters' />
  </message>
  <message name='postVStoresStoreIdFollowersResponseMessage'>
    <part name='response' element='tns:postVStoresStoreIdFollowersResponse' />
  </message>
  <portType name='tictailOnlineStorePortType'>
    <operation name='deleteVStoresStoreIdFollowersFollowerId'>
      <documentation>remove a follower of this store store id</documentation>
      <input message='tns:deleteVStoresStoreIdFollowersFollowerIdRequestMessage' name='deleteVStoresStoreIdFollowersFollowerIdInput' />
      <output message='tns:deleteVStoresStoreIdFollowersFollowerIdResponseMessage' name='deleteVStoresStoreIdFollowersFollowerIdOutput' />
    </operation>
    <operation name='getVMe'>
      <documentation>check which store the provided access token has access to</documentation>
      <input message='tns:getVMeRequestMessage' name='getVMeInput' />
      <output message='tns:getVMeResponseMessage' name='getVMeOutput' />
    </operation>
    <operation name='getVStoresStoreId'>
      <documentation>get a store store id</documentation>
      <input message='tns:getVStoresStoreIdRequestMessage' name='getVStoresStoreIdInput' />
      <output message='tns:getVStoresStoreIdResponseMessage' name='getVStoresStoreIdOutput' />
    </operation>
    <operation name='getVStoresStoreIdCustomers'>
      <documentation>get a list of all customers in this store store id</documentation>
      <input message='tns:getVStoresStoreIdCustomersRequestMessage' name='getVStoresStoreIdCustomersInput' />
      <output message='tns:getVStoresStoreIdCustomersResponseMessage' name='getVStoresStoreIdCustomersOutput' />
    </operation>
    <operation name='getVStoresStoreIdCustomersCustomerId'>
      <documentation>get a single customer customer id of this store store id</documentation>
      <input message='tns:getVStoresStoreIdCustomersCustomerIdRequestMessage' name='getVStoresStoreIdCustomersCustomerIdInput' />
      <output message='tns:getVStoresStoreIdCustomersCustomerIdResponseMessage' name='getVStoresStoreIdCustomersCustomerIdOutput' />
    </operation>
    <operation name='getVStoresStoreIdFollowers'>
      <documentation>get a list of followers of this store store id</documentation>
      <input message='tns:getVStoresStoreIdFollowersRequestMessage' name='getVStoresStoreIdFollowersInput' />
      <output message='tns:getVStoresStoreIdFollowersResponseMessage' name='getVStoresStoreIdFollowersOutput' />
    </operation>
    <operation name='getVStoresStoreIdOrders'>
      <documentation>retrieve a list of orders for this store store id sorted by created at</documentation>
      <input message='tns:getVStoresStoreIdOrdersRequestMessage' name='getVStoresStoreIdOrdersInput' />
      <output message='tns:getVStoresStoreIdOrdersResponseMessage' name='getVStoresStoreIdOrdersOutput' />
    </operation>
    <operation name='getVStoresStoreIdOrdersOrderId'>
      <documentation>retrieve an order for this store store id</documentation>
      <input message='tns:getVStoresStoreIdOrdersOrderIdRequestMessage' name='getVStoresStoreIdOrdersOrderIdInput' />
      <output message='tns:getVStoresStoreIdOrdersOrderIdResponseMessage' name='getVStoresStoreIdOrdersOrderIdOutput' />
    </operation>
    <operation name='getVStoresStoreIdProducts'>
      <documentation>retrieve a list of products in this store store id</documentation>
      <input message='tns:getVStoresStoreIdProductsRequestMessage' name='getVStoresStoreIdProductsInput' />
      <output message='tns:getVStoresStoreIdProductsResponseMessage' name='getVStoresStoreIdProductsOutput' />
    </operation>
    <operation name='getVStoresStoreIdProductsProductId'>
      <documentation>retrieve an product product id in this store store id</documentation>
      <input message='tns:getVStoresStoreIdProductsProductIdRequestMessage' name='getVStoresStoreIdProductsProductIdInput' />
      <output message='tns:getVStoresStoreIdProductsProductIdResponseMessage' name='getVStoresStoreIdProductsProductIdOutput' />
    </operation>
    <operation name='getVStoresStoreIdTheme'>
      <documentation>retrieve a store s store id theme</documentation>
      <input message='tns:getVStoresStoreIdThemeRequestMessage' name='getVStoresStoreIdThemeInput' />
      <output message='tns:getVStoresStoreIdThemeResponseMessage' name='getVStoresStoreIdThemeOutput' />
    </operation>
    <operation name='postVStoresStoreIdCards'>
      <documentation></documentation>
      <input message='tns:postVStoresStoreIdCardsRequestMessage' name='postVStoresStoreIdCardsInput' />
      <output message='tns:postVStoresStoreIdCardsResponseMessage' name='postVStoresStoreIdCardsOutput' />
    </operation>
    <operation name='postVStoresStoreIdFollowers'>
      <documentation>add a new follower of this store store id</documentation>
      <input message='tns:postVStoresStoreIdFollowersRequestMessage' name='postVStoresStoreIdFollowersInput' />
      <output message='tns:postVStoresStoreIdFollowersResponseMessage' name='postVStoresStoreIdFollowersOutput' />
    </operation>
  </portType>
  <binding name='tictailOnlineStoreBinding' type='tns:tictailOnlineStorePortType'>
    <operation name='deleteVStoresStoreIdFollowersFollowerId'>
      <soap12:operation soapAction='http://deleteVStoresStoreIdFollowersFollowerId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVMe'>
      <soap12:operation soapAction='http://getVMe' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVStoresStoreId'>
      <soap12:operation soapAction='http://getVStoresStoreId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVStoresStoreIdCustomers'>
      <soap12:operation soapAction='http://getVStoresStoreIdCustomers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVStoresStoreIdCustomersCustomerId'>
      <soap12:operation soapAction='http://getVStoresStoreIdCustomersCustomerId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVStoresStoreIdFollowers'>
      <soap12:operation soapAction='http://getVStoresStoreIdFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVStoresStoreIdOrders'>
      <soap12:operation soapAction='http://getVStoresStoreIdOrders' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVStoresStoreIdOrdersOrderId'>
      <soap12:operation soapAction='http://getVStoresStoreIdOrdersOrderId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVStoresStoreIdProducts'>
      <soap12:operation soapAction='http://getVStoresStoreIdProducts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVStoresStoreIdProductsProductId'>
      <soap12:operation soapAction='http://getVStoresStoreIdProductsProductId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVStoresStoreIdTheme'>
      <soap12:operation soapAction='http://getVStoresStoreIdTheme' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postVStoresStoreIdCards'>
      <soap12:operation soapAction='http://postVStoresStoreIdCards' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postVStoresStoreIdFollowers'>
      <soap12:operation soapAction='http://postVStoresStoreIdFollowers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='tictailOnlineStore'>
    <documentation>tictail is an easy and free online shop solution that not only helps you create a beautiful online store within minutes but also helps you run it successfully</documentation>
    <port name='tictailOnlineStorePort' binding='tns:tictailOnlineStoreBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://tictailOnlineStore' />
    </port>
  </service>
</definitions>