workspace/datasets/mashape_dataset/timeneyetimetracking.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/timeneyeTimeTracking/' name='timeneyeTimeTracking' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/timeneyeTimeTracking/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/timeneyeTimeTracking/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/timeneyeTimeTracking/'>
      <xsd:element name='addusertoprojectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='authorizeuserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='authToken' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deauthorizeuserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entries' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='amount' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='billed' type='xsd:int' minOccurs='0' />
                  <xsd:element name='entryDate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='minutes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='taskName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='projectName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='projectId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='taskId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='entryId' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteentryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getentriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entries' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='amount' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='billed' type='xsd:int' minOccurs='0' />
                  <xsd:element name='entryDate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='minutes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='taskName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='projectName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='projectId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='taskId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='entryId' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getentryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entry' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='amount' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='billed' type='xsd:int' minOccurs='0' />
                  <xsd:element name='entryDate' type='xsd:date' minOccurs='0' />
                  <xsd:element name='minutes' type='xsd:int' minOccurs='0' />
                  <xsd:element name='taskName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='projectName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='projectId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='taskId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='entryId' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='project' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='access' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='users' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='active' type='xsd:int' minOccurs='0' />
                  <xsd:element name='fixedAmount' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='projectName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hourlyRate' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='projectId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tasks' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='isOpen' type='xsd:int' minOccurs='0' />
                        <xsd:element name='taskName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='taskId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getprojectsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='projects' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='weight' type='xsd:int' minOccurs='0' />
                  <xsd:element name='active' type='xsd:int' minOccurs='0' />
                  <xsd:element name='fixedAmount' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='projectName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hourlyRate' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='projectId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tasks' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='taskName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='taskId' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getusersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entryId' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='removeuserfromprojectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='saveentryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entryId' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='starttrackingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addusertoprojectRequestMessage' />
  <message name='addusertoprojectResponseMessage'>
    <part name='response' element='tns:addusertoprojectResponse' />
  </message>
  <message name='authorizeuserRequestMessage' />
  <message name='authorizeuserResponseMessage'>
    <part name='response' element='tns:authorizeuserResponse' />
  </message>
  <message name='deauthorizeuserRequestMessage' />
  <message name='deauthorizeuserResponseMessage'>
    <part name='response' element='tns:deauthorizeuserResponse' />
  </message>
  <message name='deleteentryRequestMessage' />
  <message name='deleteentryResponseMessage'>
    <part name='response' element='tns:deleteentryResponse' />
  </message>
  <message name='getentriesRequestMessage' />
  <message name='getentriesResponseMessage'>
    <part name='response' element='tns:getentriesResponse' />
  </message>
  <message name='getentryRequestMessage' />
  <message name='getentryResponseMessage'>
    <part name='response' element='tns:getentryResponse' />
  </message>
  <message name='getprojectRequestMessage' />
  <message name='getprojectResponseMessage'>
    <part name='response' element='tns:getprojectResponse' />
  </message>
  <message name='getprojectsRequestMessage' />
  <message name='getprojectsResponseMessage'>
    <part name='response' element='tns:getprojectsResponse' />
  </message>
  <message name='getusersRequestMessage' />
  <message name='getusersResponseMessage'>
    <part name='response' element='tns:getusersResponse' />
  </message>
  <message name='removeuserfromprojectRequestMessage' />
  <message name='removeuserfromprojectResponseMessage'>
    <part name='response' element='tns:removeuserfromprojectResponse' />
  </message>
  <message name='saveentryRequestMessage' />
  <message name='saveentryResponseMessage'>
    <part name='response' element='tns:saveentryResponse' />
  </message>
  <message name='starttrackingRequestMessage' />
  <message name='starttrackingResponseMessage'>
    <part name='response' element='tns:starttrackingResponse' />
  </message>
  <portType name='timeneyeTimeTrackingPortType'>
    <operation name='addusertoproject'>
      <documentation>gives project access permissions to the specified user targetId Works only for limited access projects</documentation>
      <input message='tns:addusertoprojectRequestMessage' name='addusertoprojectInput' />
      <output message='tns:addusertoprojectResponseMessage' name='addusertoprojectOutput' />
    </operation>
    <operation name='authorizeuser'>
      <documentation>exchanges email and password with an authToken</documentation>
      <input message='tns:authorizeuserRequestMessage' name='authorizeuserInput' />
      <output message='tns:authorizeuserResponseMessage' name='authorizeuserOutput' />
    </operation>
    <operation name='deauthorizeuser'>
      <documentation>invalidates the authToken logging the user off from every device which was connected using the API</documentation>
      <input message='tns:deauthorizeuserRequestMessage' name='deauthorizeuserInput' />
      <output message='tns:deauthorizeuserResponseMessage' name='deauthorizeuserOutput' />
    </operation>
    <operation name='deleteentry'>
      <documentation>deletes an entry</documentation>
      <input message='tns:deleteentryRequestMessage' name='deleteentryInput' />
      <output message='tns:deleteentryResponseMessage' name='deleteentryOutput' />
    </operation>
    <operation name='getentries'>
      <documentation>returns a list of the latest entries You can filter it by projectId dateFrom dateTo or userId the latter is only available for project managers or account owners to get another user s entries or all users entries using you can use offset and limit to paginate the results</documentation>
      <input message='tns:getentriesRequestMessage' name='getentriesInput' />
      <output message='tns:getentriesResponseMessage' name='getentriesOutput' />
    </operation>
    <operation name='getentry'>
      <documentation>returns details for the requested entry Only user s entries can be retrieved</documentation>
      <input message='tns:getentryRequestMessage' name='getentryInput' />
      <output message='tns:getentryResponseMessage' name='getentryOutput' />
    </operation>
    <operation name='getproject'>
      <documentation>returns a project s details fixedAmount and hourlyRate are returned only if user has permissions to see them If the requester is a Project Manager or an Account Owner access data is returned too including access type public or private and the list of users that can access the project if this is private</documentation>
      <input message='tns:getprojectRequestMessage' name='getprojectInput' />
      <output message='tns:getprojectResponseMessage' name='getprojectOutput' />
    </operation>
    <operation name='getprojects'>
      <documentation></documentation>
      <input message='tns:getprojectsRequestMessage' name='getprojectsInput' />
      <output message='tns:getprojectsResponseMessage' name='getprojectsOutput' />
    </operation>
    <operation name='getusers'>
      <documentation>returns the list of users linked to the account</documentation>
      <input message='tns:getusersRequestMessage' name='getusersInput' />
      <output message='tns:getusersResponseMessage' name='getusersOutput' />
    </operation>
    <operation name='removeuserfromproject'>
      <documentation>revokes project access permissions to the specified user targetId Works only for limited access projects</documentation>
      <input message='tns:removeuserfromprojectRequestMessage' name='removeuserfromprojectInput' />
      <output message='tns:removeuserfromprojectResponseMessage' name='removeuserfromprojectOutput' />
    </operation>
    <operation name='saveentry'>
      <documentation>stores an entry inserting or editing it set entryId for inserts</documentation>
      <input message='tns:saveentryRequestMessage' name='saveentryInput' />
      <output message='tns:saveentryResponseMessage' name='saveentryOutput' />
    </operation>
    <operation name='starttracking'>
      <documentation>notifies Timeneye that the user has started working on a particular project this information is reflected on the Status page</documentation>
      <input message='tns:starttrackingRequestMessage' name='starttrackingInput' />
      <output message='tns:starttrackingResponseMessage' name='starttrackingOutput' />
    </operation>
  </portType>
  <binding name='timeneyeTimeTrackingBinding' type='tns:timeneyeTimeTrackingPortType'>
    <operation name='addusertoproject'>
      <soap12:operation soapAction='http://addusertoproject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='authorizeuser'>
      <soap12:operation soapAction='http://authorizeuser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deauthorizeuser'>
      <soap12:operation soapAction='http://deauthorizeuser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteentry'>
      <soap12:operation soapAction='http://deleteentry' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getentries'>
      <soap12:operation soapAction='http://getentries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getentry'>
      <soap12:operation soapAction='http://getentry' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getproject'>
      <soap12:operation soapAction='http://getproject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getprojects'>
      <soap12:operation soapAction='http://getprojects' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getusers'>
      <soap12:operation soapAction='http://getusers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='removeuserfromproject'>
      <soap12:operation soapAction='http://removeuserfromproject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='saveentry'>
      <soap12:operation soapAction='http://saveentry' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='starttracking'>
      <soap12:operation soapAction='http://starttracking' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='timeneyeTimeTracking'>
    <documentation>timeneye Time Tracking is a time tracking and reporting web app meant to be extremely simple and usable even for the most recalcitrant user Timeneye can be used from the web http app timeneye com or from the Android mobile app An iOS version is currently in development Timeneye integrates with Basecamp allowing users to track time directly from Basecamp commenting on their to dos with the time spent on them</documentation>
    <port name='timeneyeTimeTrackingPort' binding='tns:timeneyeTimeTrackingBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://timeneyeTimeTracking' />
    </port>
  </service>
</definitions>