workspace/datasets/mashape_dataset/topicsextraction.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/topicsExtraction/' name='topicsExtraction' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/topicsExtraction/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/topicsExtraction/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/topicsExtraction/'>
      <xsd:element name='topicsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cont' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='cs' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dic' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dm' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='of' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='rt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='st' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timeref' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='txt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='txtf' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ud' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='uw' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='topicsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='relation_list' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='form' type='xsd:string' minOccurs='0' />
                  <xsd:element name='complement_list' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='form' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='subject' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lemma_list' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='form' type='xsd:string' minOccurs='0' />
                        <xsd:element name='sense_id_list' type='xsd:normalizedString' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='verb' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lemma_list' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='form' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='degree' type='xsd:int' minOccurs='0' />
                  <xsd:element name='endp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='inip' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='concept_list' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='form' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='variant_list' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='form' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='endp' type='xsd:int' minOccurs='0' />
                        <xsd:element name='inip' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='sementity' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='fiction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='class' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='semld_list' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='entity_list' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='form' type='xsd:string' minOccurs='0' />
                  <xsd:element name='semtheme_list' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='variant_list' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='form' type='xsd:string' minOccurs='0' />
                        <xsd:element name='endp' type='xsd:int' minOccurs='0' />
                        <xsd:element name='inip' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='sementity' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='fiction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='class' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='semgeo_list' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='continent' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='form' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='country' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='ISO3166-1-a3' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='form' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='ISO3166-1-a2' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='adm1' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='form' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='semld_list' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='relevance' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='time_expression_list' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='form' type='xsd:string' minOccurs='0' />
                  <xsd:element name='endp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='inip' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='status' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='msg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='code' type='xsd:int' minOccurs='0' />
                  <xsd:element name='credits' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining_credits' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='topicsRequestMessage'>
    <part name='parameters' element='tns:topicsParameters' />
  </message>
  <message name='topicsResponseMessage'>
    <part name='response' element='tns:topicsResponse' />
  </message>
  <portType name='topicsExtractionPortType'>
    <operation name='topics'>
      <documentation>identifies people names locations companies dates currency and many other expressions</documentation>
      <input message='tns:topicsRequestMessage' name='topicsInput' />
      <output message='tns:topicsResponseMessage' name='topicsOutput' />
    </operation>
  </portType>
  <binding name='topicsExtractionBinding' type='tns:topicsExtractionPortType'>
    <operation name='topics'>
      <soap12:operation soapAction='http://topics' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='topicsExtraction'>
    <documentation>topics Extraction tags locations people companies dates and many other elements appearing in a text written in Spanish English French Italian Portuguese or Catalan This detection process is carried out by combining a number of complex natural language processing techniques that allow to obtain morphological syntactic and semantic analyses of a text and use them to identify different types of significant elements</documentation>
    <port name='topicsExtractionPort' binding='tns:topicsExtractionBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://topicsExtraction' />
    </port>
  </service>
</definitions>