workspace/datasets/mashape_dataset/tradeleads.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/tradeLeads/' name='tradeLeads' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/tradeLeads/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/tradeLeads/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/tradeLeads/'>
      <xsd:element name='apiTradeGovVTradeLeadsSearchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='apiTradeGovVTradeLeadsSearchRequestMessage' />
  <message name='apiTradeGovVTradeLeadsSearchResponseMessage'>
    <part name='response' element='tns:apiTradeGovVTradeLeadsSearchResponse' />
  </message>
  <portType name='tradeLeadsPortType'>
    <operation name='apiTradeGovVTradeLeadsSearch'>
      <input message='tns:apiTradeGovVTradeLeadsSearchRequestMessage' name='apiTradeGovVTradeLeadsSearchInput' />
      <output message='tns:apiTradeGovVTradeLeadsSearchResponseMessage' name='apiTradeGovVTradeLeadsSearchOutput' />
    </operation>
  </portType>
  <binding name='tradeLeadsBinding' type='tns:tradeLeadsPortType'>
    <operation name='apiTradeGovVTradeLeadsSearch'>
      <soap12:operation soapAction='http://apiTradeGovVTradeLeadsSearch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='tradeLeads'>
    <documentation>the Trade Leads API provides contract opportunities for U S businesses selling their products and services overseas These leads come from a variety of sources and we continue to expand the number of leads available</documentation>
    <port name='tradeLeadsPort' binding='tns:tradeLeadsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://tradeLeads' />
    </port>
  </service>
</definitions>