workspace/datasets/mashape_dataset/tradier.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/tradier/' name='tradier' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/tradier/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/tradier/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/tradier/'>
      <xsd:element name='addWatchlistSymbolsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addWatchlistSymbolsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cancelAnOrderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cancelAnOrderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='changeAnOrderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='changeAnOrderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAWatchlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAnOrderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAnOrderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAWatchlistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAWatchlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAWatchlistSymbolParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAWatchlistSymbolResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getASpecificOrderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getASpecificOrderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAUserSBalancesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAUserSCostBasisResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAUserSHistoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAUserSOrdersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAUserSPositionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAUserSProfileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAWatchlistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAWatchlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAWatchlistSymbolParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAWatchlistSymbolResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnAccountSBalancesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnAccountSBalancesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnAccountSCostBasisParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnAccountSCostBasisResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnAccountSOrdersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnAccountSOrdersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnAccountSPositionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAnAccountSPositionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getHistoricalPricingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='interval' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbols' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getHistoricalPricingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOptionChainsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='expiration' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbols' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOptionChainsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOptionExpirationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='symbols' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOptionExpirationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOptionStrikesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='expiration' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbols' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getOptionStrikesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getQuotesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='symbols' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getQuotesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTheMarketCalendarParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='month' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='year' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTheMarketCalendarResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTheMarketStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='previewAnOrderParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='account' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='previewAnOrderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAWatchlistParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAWatchlistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAWatchlistSymbolParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='symbol' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAWatchlistSymbolResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addWatchlistSymbolsRequestMessage'>
    <part name='parameters' element='tns:addWatchlistSymbolsParameters' />
  </message>
  <message name='addWatchlistSymbolsResponseMessage'>
    <part name='response' element='tns:addWatchlistSymbolsResponse' />
  </message>
  <message name='cancelAnOrderRequestMessage'>
    <part name='parameters' element='tns:cancelAnOrderParameters' />
  </message>
  <message name='cancelAnOrderResponseMessage'>
    <part name='response' element='tns:cancelAnOrderResponse' />
  </message>
  <message name='changeAnOrderRequestMessage'>
    <part name='parameters' element='tns:changeAnOrderParameters' />
  </message>
  <message name='changeAnOrderResponseMessage'>
    <part name='response' element='tns:changeAnOrderResponse' />
  </message>
  <message name='createAWatchlistRequestMessage' />
  <message name='createAWatchlistResponseMessage'>
    <part name='response' element='tns:createAWatchlistResponse' />
  </message>
  <message name='createAnOrderRequestMessage'>
    <part name='parameters' element='tns:createAnOrderParameters' />
  </message>
  <message name='createAnOrderResponseMessage'>
    <part name='response' element='tns:createAnOrderResponse' />
  </message>
  <message name='deleteAWatchlistRequestMessage'>
    <part name='parameters' element='tns:deleteAWatchlistParameters' />
  </message>
  <message name='deleteAWatchlistResponseMessage'>
    <part name='response' element='tns:deleteAWatchlistResponse' />
  </message>
  <message name='deleteAWatchlistSymbolRequestMessage'>
    <part name='parameters' element='tns:deleteAWatchlistSymbolParameters' />
  </message>
  <message name='deleteAWatchlistSymbolResponseMessage'>
    <part name='response' element='tns:deleteAWatchlistSymbolResponse' />
  </message>
  <message name='getASpecificOrderRequestMessage'>
    <part name='parameters' element='tns:getASpecificOrderParameters' />
  </message>
  <message name='getASpecificOrderResponseMessage'>
    <part name='response' element='tns:getASpecificOrderResponse' />
  </message>
  <message name='getAUserSBalancesRequestMessage' />
  <message name='getAUserSBalancesResponseMessage'>
    <part name='response' element='tns:getAUserSBalancesResponse' />
  </message>
  <message name='getAUserSCostBasisRequestMessage' />
  <message name='getAUserSCostBasisResponseMessage'>
    <part name='response' element='tns:getAUserSCostBasisResponse' />
  </message>
  <message name='getAUserSHistoryRequestMessage' />
  <message name='getAUserSHistoryResponseMessage'>
    <part name='response' element='tns:getAUserSHistoryResponse' />
  </message>
  <message name='getAUserSOrdersRequestMessage' />
  <message name='getAUserSOrdersResponseMessage'>
    <part name='response' element='tns:getAUserSOrdersResponse' />
  </message>
  <message name='getAUserSPositionsRequestMessage' />
  <message name='getAUserSPositionsResponseMessage'>
    <part name='response' element='tns:getAUserSPositionsResponse' />
  </message>
  <message name='getAUserSProfileRequestMessage' />
  <message name='getAUserSProfileResponseMessage'>
    <part name='response' element='tns:getAUserSProfileResponse' />
  </message>
  <message name='getAWatchlistRequestMessage'>
    <part name='parameters' element='tns:getAWatchlistParameters' />
  </message>
  <message name='getAWatchlistResponseMessage'>
    <part name='response' element='tns:getAWatchlistResponse' />
  </message>
  <message name='getAWatchlistSymbolRequestMessage'>
    <part name='parameters' element='tns:getAWatchlistSymbolParameters' />
  </message>
  <message name='getAWatchlistSymbolResponseMessage'>
    <part name='response' element='tns:getAWatchlistSymbolResponse' />
  </message>
  <message name='getAnAccountSBalancesRequestMessage'>
    <part name='parameters' element='tns:getAnAccountSBalancesParameters' />
  </message>
  <message name='getAnAccountSBalancesResponseMessage'>
    <part name='response' element='tns:getAnAccountSBalancesResponse' />
  </message>
  <message name='getAnAccountSCostBasisRequestMessage'>
    <part name='parameters' element='tns:getAnAccountSCostBasisParameters' />
  </message>
  <message name='getAnAccountSCostBasisResponseMessage'>
    <part name='response' element='tns:getAnAccountSCostBasisResponse' />
  </message>
  <message name='getAnAccountSOrdersRequestMessage'>
    <part name='parameters' element='tns:getAnAccountSOrdersParameters' />
  </message>
  <message name='getAnAccountSOrdersResponseMessage'>
    <part name='response' element='tns:getAnAccountSOrdersResponse' />
  </message>
  <message name='getAnAccountSPositionsRequestMessage'>
    <part name='parameters' element='tns:getAnAccountSPositionsParameters' />
  </message>
  <message name='getAnAccountSPositionsResponseMessage'>
    <part name='response' element='tns:getAnAccountSPositionsResponse' />
  </message>
  <message name='getHistoricalPricingRequestMessage'>
    <part name='parameters' element='tns:getHistoricalPricingParameters' />
  </message>
  <message name='getHistoricalPricingResponseMessage'>
    <part name='response' element='tns:getHistoricalPricingResponse' />
  </message>
  <message name='getOptionChainsRequestMessage'>
    <part name='parameters' element='tns:getOptionChainsParameters' />
  </message>
  <message name='getOptionChainsResponseMessage'>
    <part name='response' element='tns:getOptionChainsResponse' />
  </message>
  <message name='getOptionExpirationsRequestMessage'>
    <part name='parameters' element='tns:getOptionExpirationsParameters' />
  </message>
  <message name='getOptionExpirationsResponseMessage'>
    <part name='response' element='tns:getOptionExpirationsResponse' />
  </message>
  <message name='getOptionStrikesRequestMessage'>
    <part name='parameters' element='tns:getOptionStrikesParameters' />
  </message>
  <message name='getOptionStrikesResponseMessage'>
    <part name='response' element='tns:getOptionStrikesResponse' />
  </message>
  <message name='getQuotesRequestMessage'>
    <part name='parameters' element='tns:getQuotesParameters' />
  </message>
  <message name='getQuotesResponseMessage'>
    <part name='response' element='tns:getQuotesResponse' />
  </message>
  <message name='getTheMarketCalendarRequestMessage'>
    <part name='parameters' element='tns:getTheMarketCalendarParameters' />
  </message>
  <message name='getTheMarketCalendarResponseMessage'>
    <part name='response' element='tns:getTheMarketCalendarResponse' />
  </message>
  <message name='getTheMarketStatusRequestMessage' />
  <message name='getTheMarketStatusResponseMessage'>
    <part name='response' element='tns:getTheMarketStatusResponse' />
  </message>
  <message name='previewAnOrderRequestMessage'>
    <part name='parameters' element='tns:previewAnOrderParameters' />
  </message>
  <message name='previewAnOrderResponseMessage'>
    <part name='response' element='tns:previewAnOrderResponse' />
  </message>
  <message name='updateAWatchlistRequestMessage'>
    <part name='parameters' element='tns:updateAWatchlistParameters' />
  </message>
  <message name='updateAWatchlistResponseMessage'>
    <part name='response' element='tns:updateAWatchlistResponse' />
  </message>
  <message name='updateAWatchlistSymbolRequestMessage'>
    <part name='parameters' element='tns:updateAWatchlistSymbolParameters' />
  </message>
  <message name='updateAWatchlistSymbolResponseMessage'>
    <part name='response' element='tns:updateAWatchlistSymbolResponse' />
  </message>
  <portType name='tradierPortType'>
    <operation name='addWatchlistSymbols'>
      <documentation></documentation>
      <input message='tns:addWatchlistSymbolsRequestMessage' name='addWatchlistSymbolsInput' />
      <output message='tns:addWatchlistSymbolsResponseMessage' name='addWatchlistSymbolsOutput' />
    </operation>
    <operation name='cancelAnOrder'>
      <documentation></documentation>
      <input message='tns:cancelAnOrderRequestMessage' name='cancelAnOrderInput' />
      <output message='tns:cancelAnOrderResponseMessage' name='cancelAnOrderOutput' />
    </operation>
    <operation name='changeAnOrder'>
      <documentation></documentation>
      <input message='tns:changeAnOrderRequestMessage' name='changeAnOrderInput' />
      <output message='tns:changeAnOrderResponseMessage' name='changeAnOrderOutput' />
    </operation>
    <operation name='createAWatchlist'>
      <documentation></documentation>
      <input message='tns:createAWatchlistRequestMessage' name='createAWatchlistInput' />
      <output message='tns:createAWatchlistResponseMessage' name='createAWatchlistOutput' />
    </operation>
    <operation name='createAnOrder'>
      <documentation>for more details around complex orders please visit https developer tradier com documentation trading getting started</documentation>
      <input message='tns:createAnOrderRequestMessage' name='createAnOrderInput' />
      <output message='tns:createAnOrderResponseMessage' name='createAnOrderOutput' />
    </operation>
    <operation name='deleteAWatchlist'>
      <documentation></documentation>
      <input message='tns:deleteAWatchlistRequestMessage' name='deleteAWatchlistInput' />
      <output message='tns:deleteAWatchlistResponseMessage' name='deleteAWatchlistOutput' />
    </operation>
    <operation name='deleteAWatchlistSymbol'>
      <documentation></documentation>
      <input message='tns:deleteAWatchlistSymbolRequestMessage' name='deleteAWatchlistSymbolInput' />
      <output message='tns:deleteAWatchlistSymbolResponseMessage' name='deleteAWatchlistSymbolOutput' />
    </operation>
    <operation name='getASpecificOrder'>
      <documentation></documentation>
      <input message='tns:getASpecificOrderRequestMessage' name='getASpecificOrderInput' />
      <output message='tns:getASpecificOrderResponseMessage' name='getASpecificOrderOutput' />
    </operation>
    <operation name='getAUserSBalances'>
      <documentation></documentation>
      <input message='tns:getAUserSBalancesRequestMessage' name='getAUserSBalancesInput' />
      <output message='tns:getAUserSBalancesResponseMessage' name='getAUserSBalancesOutput' />
    </operation>
    <operation name='getAUserSCostBasis'>
      <documentation></documentation>
      <input message='tns:getAUserSCostBasisRequestMessage' name='getAUserSCostBasisInput' />
      <output message='tns:getAUserSCostBasisResponseMessage' name='getAUserSCostBasisOutput' />
    </operation>
    <operation name='getAUserSHistory'>
      <documentation></documentation>
      <input message='tns:getAUserSHistoryRequestMessage' name='getAUserSHistoryInput' />
      <output message='tns:getAUserSHistoryResponseMessage' name='getAUserSHistoryOutput' />
    </operation>
    <operation name='getAUserSOrders'>
      <documentation></documentation>
      <input message='tns:getAUserSOrdersRequestMessage' name='getAUserSOrdersInput' />
      <output message='tns:getAUserSOrdersResponseMessage' name='getAUserSOrdersOutput' />
    </operation>
    <operation name='getAUserSPositions'>
      <documentation></documentation>
      <input message='tns:getAUserSPositionsRequestMessage' name='getAUserSPositionsInput' />
      <output message='tns:getAUserSPositionsResponseMessage' name='getAUserSPositionsOutput' />
    </operation>
    <operation name='getAUserSProfile'>
      <documentation></documentation>
      <input message='tns:getAUserSProfileRequestMessage' name='getAUserSProfileInput' />
      <output message='tns:getAUserSProfileResponseMessage' name='getAUserSProfileOutput' />
    </operation>
    <operation name='getAWatchlist'>
      <documentation></documentation>
      <input message='tns:getAWatchlistRequestMessage' name='getAWatchlistInput' />
      <output message='tns:getAWatchlistResponseMessage' name='getAWatchlistOutput' />
    </operation>
    <operation name='getAWatchlistSymbol'>
      <documentation></documentation>
      <input message='tns:getAWatchlistSymbolRequestMessage' name='getAWatchlistSymbolInput' />
      <output message='tns:getAWatchlistSymbolResponseMessage' name='getAWatchlistSymbolOutput' />
    </operation>
    <operation name='getAnAccountSBalances'>
      <documentation></documentation>
      <input message='tns:getAnAccountSBalancesRequestMessage' name='getAnAccountSBalancesInput' />
      <output message='tns:getAnAccountSBalancesResponseMessage' name='getAnAccountSBalancesOutput' />
    </operation>
    <operation name='getAnAccountSCostBasis'>
      <documentation></documentation>
      <input message='tns:getAnAccountSCostBasisRequestMessage' name='getAnAccountSCostBasisInput' />
      <output message='tns:getAnAccountSCostBasisResponseMessage' name='getAnAccountSCostBasisOutput' />
    </operation>
    <operation name='getAnAccountSOrders'>
      <documentation></documentation>
      <input message='tns:getAnAccountSOrdersRequestMessage' name='getAnAccountSOrdersInput' />
      <output message='tns:getAnAccountSOrdersResponseMessage' name='getAnAccountSOrdersOutput' />
    </operation>
    <operation name='getAnAccountSPositions'>
      <documentation></documentation>
      <input message='tns:getAnAccountSPositionsRequestMessage' name='getAnAccountSPositionsInput' />
      <output message='tns:getAnAccountSPositionsResponseMessage' name='getAnAccountSPositionsOutput' />
    </operation>
    <operation name='getHistoricalPricing'>
      <documentation></documentation>
      <input message='tns:getHistoricalPricingRequestMessage' name='getHistoricalPricingInput' />
      <output message='tns:getHistoricalPricingResponseMessage' name='getHistoricalPricingOutput' />
    </operation>
    <operation name='getOptionChains'>
      <documentation></documentation>
      <input message='tns:getOptionChainsRequestMessage' name='getOptionChainsInput' />
      <output message='tns:getOptionChainsResponseMessage' name='getOptionChainsOutput' />
    </operation>
    <operation name='getOptionExpirations'>
      <documentation></documentation>
      <input message='tns:getOptionExpirationsRequestMessage' name='getOptionExpirationsInput' />
      <output message='tns:getOptionExpirationsResponseMessage' name='getOptionExpirationsOutput' />
    </operation>
    <operation name='getOptionStrikes'>
      <documentation></documentation>
      <input message='tns:getOptionStrikesRequestMessage' name='getOptionStrikesInput' />
      <output message='tns:getOptionStrikesResponseMessage' name='getOptionStrikesOutput' />
    </operation>
    <operation name='getQuotes'>
      <documentation></documentation>
      <input message='tns:getQuotesRequestMessage' name='getQuotesInput' />
      <output message='tns:getQuotesResponseMessage' name='getQuotesOutput' />
    </operation>
    <operation name='getTheMarketCalendar'>
      <documentation></documentation>
      <input message='tns:getTheMarketCalendarRequestMessage' name='getTheMarketCalendarInput' />
      <output message='tns:getTheMarketCalendarResponseMessage' name='getTheMarketCalendarOutput' />
    </operation>
    <operation name='getTheMarketStatus'>
      <documentation></documentation>
      <input message='tns:getTheMarketStatusRequestMessage' name='getTheMarketStatusInput' />
      <output message='tns:getTheMarketStatusResponseMessage' name='getTheMarketStatusOutput' />
    </operation>
    <operation name='previewAnOrder'>
      <documentation>for more details around complex orders please visit https developer tradier com documentation trading getting started</documentation>
      <input message='tns:previewAnOrderRequestMessage' name='previewAnOrderInput' />
      <output message='tns:previewAnOrderResponseMessage' name='previewAnOrderOutput' />
    </operation>
    <operation name='updateAWatchlist'>
      <documentation></documentation>
      <input message='tns:updateAWatchlistRequestMessage' name='updateAWatchlistInput' />
      <output message='tns:updateAWatchlistResponseMessage' name='updateAWatchlistOutput' />
    </operation>
    <operation name='updateAWatchlistSymbol'>
      <documentation></documentation>
      <input message='tns:updateAWatchlistSymbolRequestMessage' name='updateAWatchlistSymbolInput' />
      <output message='tns:updateAWatchlistSymbolResponseMessage' name='updateAWatchlistSymbolOutput' />
    </operation>
  </portType>
  <binding name='tradierBinding' type='tns:tradierPortType'>
    <operation name='addWatchlistSymbols'>
      <soap12:operation soapAction='http://addWatchlistSymbols' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cancelAnOrder'>
      <soap12:operation soapAction='http://cancelAnOrder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='changeAnOrder'>
      <soap12:operation soapAction='http://changeAnOrder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAWatchlist'>
      <soap12:operation soapAction='http://createAWatchlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAnOrder'>
      <soap12:operation soapAction='http://createAnOrder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAWatchlist'>
      <soap12:operation soapAction='http://deleteAWatchlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAWatchlistSymbol'>
      <soap12:operation soapAction='http://deleteAWatchlistSymbol' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getASpecificOrder'>
      <soap12:operation soapAction='http://getASpecificOrder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAUserSBalances'>
      <soap12:operation soapAction='http://getAUserSBalances' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAUserSCostBasis'>
      <soap12:operation soapAction='http://getAUserSCostBasis' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAUserSHistory'>
      <soap12:operation soapAction='http://getAUserSHistory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAUserSOrders'>
      <soap12:operation soapAction='http://getAUserSOrders' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAUserSPositions'>
      <soap12:operation soapAction='http://getAUserSPositions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAUserSProfile'>
      <soap12:operation soapAction='http://getAUserSProfile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAWatchlist'>
      <soap12:operation soapAction='http://getAWatchlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAWatchlistSymbol'>
      <soap12:operation soapAction='http://getAWatchlistSymbol' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAnAccountSBalances'>
      <soap12:operation soapAction='http://getAnAccountSBalances' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAnAccountSCostBasis'>
      <soap12:operation soapAction='http://getAnAccountSCostBasis' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAnAccountSOrders'>
      <soap12:operation soapAction='http://getAnAccountSOrders' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAnAccountSPositions'>
      <soap12:operation soapAction='http://getAnAccountSPositions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getHistoricalPricing'>
      <soap12:operation soapAction='http://getHistoricalPricing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getOptionChains'>
      <soap12:operation soapAction='http://getOptionChains' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getOptionExpirations'>
      <soap12:operation soapAction='http://getOptionExpirations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getOptionStrikes'>
      <soap12:operation soapAction='http://getOptionStrikes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getQuotes'>
      <soap12:operation soapAction='http://getQuotes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTheMarketCalendar'>
      <soap12:operation soapAction='http://getTheMarketCalendar' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTheMarketStatus'>
      <soap12:operation soapAction='http://getTheMarketStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='previewAnOrder'>
      <soap12:operation soapAction='http://previewAnOrder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAWatchlist'>
      <soap12:operation soapAction='http://updateAWatchlist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAWatchlistSymbol'>
      <soap12:operation soapAction='http://updateAWatchlistSymbol' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='tradier'>
    <documentation>tradier is a brokerage platform for equity and options trading It is designed to provide simple intuitive and inexpensive ways for users to place trades check their balances and transfer money Tradier provides a RESTful API for accessing the platform s trading functions account services and real time and historical market data</documentation>
    <port name='tradierPort' binding='tns:tradierBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://tradier' />
    </port>
  </service>
</definitions>