workspace/datasets/mashape_dataset/translator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/transLator/' name='transLator' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/transLator/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/transLator/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/transLator/'>
      <xsd:element name='languagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dirs' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='langs' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='de' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='no' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='be' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ru' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pt' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='bg' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lt' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='hr' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lv' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fr' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='hu' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='bs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='hy' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ka' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='uk' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sk' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ca' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='mk' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sq' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sr' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sv' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ms' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='el' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='mt' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='en' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='it' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='es' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='zh' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='et' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='cs' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ar' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='vi' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='az' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='pl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='da' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='he' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ro' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='nl' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tr' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textSpeechFileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='file' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textSpeechFileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='text2speech' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='code' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='translateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='from' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='to' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='translateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='text_to_speech' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='code' type='xsd:int' minOccurs='0' />
            <xsd:element name='text' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='languagesRequestMessage' />
  <message name='languagesResponseMessage'>
    <part name='response' element='tns:languagesResponse' />
  </message>
  <message name='textSpeechFileRequestMessage'>
    <part name='parameters' element='tns:textSpeechFileParameters' />
  </message>
  <message name='textSpeechFileResponseMessage'>
    <part name='response' element='tns:textSpeechFileResponse' />
  </message>
  <message name='translateRequestMessage'>
    <part name='parameters' element='tns:translateParameters' />
  </message>
  <message name='translateResponseMessage'>
    <part name='response' element='tns:translateResponse' />
  </message>
  <portType name='transLatorPortType'>
    <operation name='languages'>
      <documentation>get the list of the languages which can be used to translate a text</documentation>
      <input message='tns:languagesRequestMessage' name='languagesInput' />
      <output message='tns:languagesResponseMessage' name='languagesOutput' />
    </operation>
    <operation name='textSpeechFile'>
      <documentation>download the text speech audio file in base format</documentation>
      <input message='tns:textSpeechFileRequestMessage' name='textSpeechFileInput' />
      <output message='tns:textSpeechFileResponseMessage' name='textSpeechFileOutput' />
    </operation>
    <operation name='translate'>
      <documentation>translate the text from a language to another</documentation>
      <input message='tns:translateRequestMessage' name='translateInput' />
      <output message='tns:translateResponseMessage' name='translateOutput' />
    </operation>
  </portType>
  <binding name='transLatorBinding' type='tns:transLatorPortType'>
    <operation name='languages'>
      <soap12:operation soapAction='http://languages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textSpeechFile'>
      <soap12:operation soapAction='http://textSpeechFile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='translate'>
      <soap12:operation soapAction='http://translate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='transLator'>
    <documentation>have you ever thought that the prices and limitations of Google Translate are so frustrating If you agree with that question you re in the right place you can implement this API in your projects without deal with so complicated stuffs The only thing you have to do is to choose the plan that fit your needs the best</documentation>
    <port name='transLatorPort' binding='tns:transLatorBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://transLator' />
    </port>
  </service>
</definitions>