workspace/datasets/mashape_dataset/translationcloud.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/translationCloud/' name='translationCloud' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/translationCloud/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/translationCloud/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/translationCloud/'>
      <xsd:element name='createProjectResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfAvailableLanguagesAndTheirAbbreviationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getATranslationFileForTheSuppliedProjectIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getATranslationForTheSuppliedProjectIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPriceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveTheNumberOfAvailableTranslatorsForAGivenLanguagePairResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createProjectRequestMessage' />
  <message name='createProjectResponseMessage'>
    <part name='response' element='tns:createProjectResponse' />
  </message>
  <message name='getAListOfAvailableLanguagesAndTheirAbbreviationsRequestMessage' />
  <message name='getAListOfAvailableLanguagesAndTheirAbbreviationsResponseMessage'>
    <part name='response' element='tns:getAListOfAvailableLanguagesAndTheirAbbreviationsResponse' />
  </message>
  <message name='getATranslationFileForTheSuppliedProjectIdRequestMessage' />
  <message name='getATranslationFileForTheSuppliedProjectIdResponseMessage'>
    <part name='response' element='tns:getATranslationFileForTheSuppliedProjectIdResponse' />
  </message>
  <message name='getATranslationForTheSuppliedProjectIdRequestMessage' />
  <message name='getATranslationForTheSuppliedProjectIdResponseMessage'>
    <part name='response' element='tns:getATranslationForTheSuppliedProjectIdResponse' />
  </message>
  <message name='getPriceRequestMessage' />
  <message name='getPriceResponseMessage'>
    <part name='response' element='tns:getPriceResponse' />
  </message>
  <message name='retrieveTheNumberOfAvailableTranslatorsForAGivenLanguagePairRequestMessage' />
  <message name='retrieveTheNumberOfAvailableTranslatorsForAGivenLanguagePairResponseMessage'>
    <part name='response' element='tns:retrieveTheNumberOfAvailableTranslatorsForAGivenLanguagePairResponse' />
  </message>
  <portType name='translationCloudPortType'>
    <operation name='createProject'>
      <documentation>create a new project</documentation>
      <input message='tns:createProjectRequestMessage' name='createProjectInput' />
      <output message='tns:createProjectResponseMessage' name='createProjectOutput' />
    </operation>
    <operation name='getAListOfAvailableLanguagesAndTheirAbbreviations'>
      <documentation></documentation>
      <input message='tns:getAListOfAvailableLanguagesAndTheirAbbreviationsRequestMessage' name='getAListOfAvailableLanguagesAndTheirAbbreviationsInput' />
      <output message='tns:getAListOfAvailableLanguagesAndTheirAbbreviationsResponseMessage' name='getAListOfAvailableLanguagesAndTheirAbbreviationsOutput' />
    </operation>
    <operation name='getATranslationFileForTheSuppliedProjectId'>
      <documentation></documentation>
      <input message='tns:getATranslationFileForTheSuppliedProjectIdRequestMessage' name='getATranslationFileForTheSuppliedProjectIdInput' />
      <output message='tns:getATranslationFileForTheSuppliedProjectIdResponseMessage' name='getATranslationFileForTheSuppliedProjectIdOutput' />
    </operation>
    <operation name='getATranslationForTheSuppliedProjectId'>
      <documentation></documentation>
      <input message='tns:getATranslationForTheSuppliedProjectIdRequestMessage' name='getATranslationForTheSuppliedProjectIdInput' />
      <output message='tns:getATranslationForTheSuppliedProjectIdResponseMessage' name='getATranslationForTheSuppliedProjectIdOutput' />
    </operation>
    <operation name='getPrice'>
      <documentation></documentation>
      <input message='tns:getPriceRequestMessage' name='getPriceInput' />
      <output message='tns:getPriceResponseMessage' name='getPriceOutput' />
    </operation>
    <operation name='retrieveTheNumberOfAvailableTranslatorsForAGivenLanguagePair'>
      <documentation></documentation>
      <input message='tns:retrieveTheNumberOfAvailableTranslatorsForAGivenLanguagePairRequestMessage' name='retrieveTheNumberOfAvailableTranslatorsForAGivenLanguagePairInput' />
      <output message='tns:retrieveTheNumberOfAvailableTranslatorsForAGivenLanguagePairResponseMessage' name='retrieveTheNumberOfAvailableTranslatorsForAGivenLanguagePairOutput' />
    </operation>
  </portType>
  <binding name='translationCloudBinding' type='tns:translationCloudPortType'>
    <operation name='createProject'>
      <soap12:operation soapAction='http://createProject' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAListOfAvailableLanguagesAndTheirAbbreviations'>
      <soap12:operation soapAction='http://getAListOfAvailableLanguagesAndTheirAbbreviations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getATranslationFileForTheSuppliedProjectId'>
      <soap12:operation soapAction='http://getATranslationFileForTheSuppliedProjectId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getATranslationForTheSuppliedProjectId'>
      <soap12:operation soapAction='http://getATranslationForTheSuppliedProjectId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPrice'>
      <soap12:operation soapAction='http://getPrice' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieveTheNumberOfAvailableTranslatorsForAGivenLanguagePair'>
      <soap12:operation soapAction='http://retrieveTheNumberOfAvailableTranslatorsForAGivenLanguagePair' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='translationCloud'>
    <documentation>simple to use API to get machine and human translation in over languages Powered by Translation Cloud s network of linguists</documentation>
    <port name='translationCloudPort' binding='tns:translationCloudBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://translationCloud' />
    </port>
  </service>
</definitions>