workspace/datasets/mashape_dataset/translatetext.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/translateText/' name='translateText' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/translateText/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/translateText/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/translateText/'>
      <xsd:element name='translateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='languageconverted' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='languagetoconvert' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='text' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='translateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='translateRequestMessage'>
    <part name='parameters' element='tns:translateParameters' />
  </message>
  <message name='translateResponseMessage'>
    <part name='response' element='tns:translateResponse' />
  </message>
  <portType name='translateTextPortType'>
    <operation name='translate'>
      <documentation>translate text</documentation>
      <input message='tns:translateRequestMessage' name='translateInput' />
      <output message='tns:translateResponseMessage' name='translateOutput' />
    </operation>
  </portType>
  <binding name='translateTextBinding' type='tns:translateTextPortType'>
    <operation name='translate'>
      <soap12:operation soapAction='http://translate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='translateText'>
    <documentation>this app translates words and phrases in multiple languages</documentation>
    <port name='translateTextPort' binding='tns:translateTextBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://translateText' />
    </port>
  </service>
</definitions>