workspace/datasets/mashape_dataset/trivia.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/trivia/' name='trivia' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/trivia/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/trivia/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/trivia/'>
      <xsd:element name='allquizquestionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='allquizquestionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='q_options_2' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='q_options_1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='q_correct_option' type='xsd:int' minOccurs='0' />
                  <xsd:element name='q_category_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='q_options_4' type='xsd:string' minOccurs='0' />
                  <xsd:element name='q_options_3' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='q_date_added' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='q_difficulty_level' type='xsd:int' minOccurs='0' />
                  <xsd:element name='q_text' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcategorylistResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='categ_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getrandomquestionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='q_options_2' type='xsd:string' minOccurs='0' />
            <xsd:element name='q_options_1' type='xsd:string' minOccurs='0' />
            <xsd:element name='q_correct_option' type='xsd:int' minOccurs='0' />
            <xsd:element name='q_category_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='q_options_4' type='xsd:string' minOccurs='0' />
            <xsd:element name='q_options_3' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='q_date_added' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='q_difficulty_level' type='xsd:int' minOccurs='0' />
            <xsd:element name='q_text' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='questioncountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='quizquestionbycategoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='categoryid' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='quizquestionbycategoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='q_options_2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='categ_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='q_options_1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='q_correct_option' type='xsd:int' minOccurs='0' />
                  <xsd:element name='q_options_4' type='xsd:string' minOccurs='0' />
                  <xsd:element name='q_options_3' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='q_date_added' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='q_text' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='allquizquestionsRequestMessage'>
    <part name='parameters' element='tns:allquizquestionsParameters' />
  </message>
  <message name='allquizquestionsResponseMessage'>
    <part name='response' element='tns:allquizquestionsResponse' />
  </message>
  <message name='getcategorylistRequestMessage' />
  <message name='getcategorylistResponseMessage'>
    <part name='response' element='tns:getcategorylistResponse' />
  </message>
  <message name='getrandomquestionRequestMessage' />
  <message name='getrandomquestionResponseMessage'>
    <part name='response' element='tns:getrandomquestionResponse' />
  </message>
  <message name='questioncountRequestMessage' />
  <message name='questioncountResponseMessage'>
    <part name='response' element='tns:questioncountResponse' />
  </message>
  <message name='quizquestionbycategoryRequestMessage'>
    <part name='parameters' element='tns:quizquestionbycategoryParameters' />
  </message>
  <message name='quizquestionbycategoryResponseMessage'>
    <part name='response' element='tns:quizquestionbycategoryResponse' />
  </message>
  <portType name='triviaPortType'>
    <operation name='allquizquestions'>
      <documentation>fetch All quiz Questions</documentation>
      <input message='tns:allquizquestionsRequestMessage' name='allquizquestionsInput' />
      <output message='tns:allquizquestionsResponseMessage' name='allquizquestionsOutput' />
    </operation>
    <operation name='getcategorylist'>
      <documentation>fetches available category list</documentation>
      <input message='tns:getcategorylistRequestMessage' name='getcategorylistInput' />
      <output message='tns:getcategorylistResponseMessage' name='getcategorylistOutput' />
    </operation>
    <operation name='getrandomquestion'>
      <documentation></documentation>
      <input message='tns:getrandomquestionRequestMessage' name='getrandomquestionInput' />
      <output message='tns:getrandomquestionResponseMessage' name='getrandomquestionOutput' />
    </operation>
    <operation name='questioncount'>
      <documentation>total question Count</documentation>
      <input message='tns:questioncountRequestMessage' name='questioncountInput' />
      <output message='tns:questioncountResponseMessage' name='questioncountOutput' />
    </operation>
    <operation name='quizquestionbycategory'>
      <documentation>fetch questions by category id</documentation>
      <input message='tns:quizquestionbycategoryRequestMessage' name='quizquestionbycategoryInput' />
      <output message='tns:quizquestionbycategoryResponseMessage' name='quizquestionbycategoryOutput' />
    </operation>
  </portType>
  <binding name='triviaBinding' type='tns:triviaPortType'>
    <operation name='allquizquestions'>
      <soap12:operation soapAction='http://allquizquestions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcategorylist'>
      <soap12:operation soapAction='http://getcategorylist' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getrandomquestion'>
      <soap12:operation soapAction='http://getrandomquestion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='questioncount'>
      <soap12:operation soapAction='http://questioncount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='quizquestionbycategory'>
      <soap12:operation soapAction='http://quizquestionbycategory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='trivia'>
    <documentation>trivia API to provide questions which can be incorporated in your Application Open Source and Free to use</documentation>
    <port name='triviaPort' binding='tns:triviaBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://trivia' />
    </port>
  </service>
</definitions>