workspace/datasets/mashape_dataset/trustlinkerde.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/trustlinkerDe/' name='trustlinkerDe' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/trustlinkerDe/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/trustlinkerDe/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/trustlinkerDe/'>
      <xsd:element name='domainJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='domainJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='ipv4' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ipv6' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='countrycode' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='domainpop' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pagerank' type='xsd:int' minOccurs='0' />
                  <xsd:element name='WOT' type='xsd:int' minOccurs='0' />
                  <xsd:element name='age' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='textJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='keywords' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='html' type='xsd:string' minOccurs='0' />
                  <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trustlinksJsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='keyword' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='trustlinksJsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='http-__www_angela-merkel_de_' type='xsd:int' minOccurs='0' />
                  <xsd:element name='http-__www_bundestag_de_bundestag_abgeordnete17_biografien_M_merkel_angela_html' type='xsd:int' minOccurs='0' />
                  <xsd:element name='http-__www_spiegel_de_spiegel_print_d-67682698_html' type='xsd:int' minOccurs='0' />
                  <xsd:element name='http-__datenretten_net_' type='xsd:int' minOccurs='0' />
                  <xsd:element name='http-__www_spiegel_de_thema_angela_merkel_' type='xsd:int' minOccurs='0' />
                  <xsd:element name='http-__linuxfibel_de_' type='xsd:int' minOccurs='0' />
                  <xsd:element name='http-__www_sueddeutsche_de_thema_Angela_Merkel' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='error' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='message' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='domainJsonRequestMessage'>
    <part name='parameters' element='tns:domainJsonParameters' />
  </message>
  <message name='domainJsonResponseMessage'>
    <part name='response' element='tns:domainJsonResponse' />
  </message>
  <message name='textJsonRequestMessage' />
  <message name='textJsonResponseMessage'>
    <part name='response' element='tns:textJsonResponse' />
  </message>
  <message name='trustlinksJsonRequestMessage'>
    <part name='parameters' element='tns:trustlinksJsonParameters' />
  </message>
  <message name='trustlinksJsonResponseMessage'>
    <part name='response' element='tns:trustlinksJsonResponse' />
  </message>
  <portType name='trustlinkerDePortType'>
    <operation name='domainJson'>
      <documentation>get domain information</documentation>
      <input message='tns:domainJsonRequestMessage' name='domainJsonInput' />
      <output message='tns:domainJsonResponseMessage' name='domainJsonOutput' />
    </operation>
    <operation name='textJson'>
      <documentation></documentation>
      <input message='tns:textJsonRequestMessage' name='textJsonInput' />
      <output message='tns:textJsonResponseMessage' name='textJsonOutput' />
    </operation>
    <operation name='trustlinksJson'>
      <documentation>get trustlinks for keyword</documentation>
      <input message='tns:trustlinksJsonRequestMessage' name='trustlinksJsonInput' />
      <output message='tns:trustlinksJsonResponseMessage' name='trustlinksJsonOutput' />
    </operation>
  </portType>
  <binding name='trustlinkerDeBinding' type='tns:trustlinkerDePortType'>
    <operation name='domainJson'>
      <soap12:operation soapAction='http://domainJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='textJson'>
      <soap12:operation soapAction='http://textJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='trustlinksJson'>
      <soap12:operation soapAction='http://trustlinksJson' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='trustlinkerDe'>
    <documentation>decorate texts automatically and and trustlinks to them Moreover find some nice Domain information like Pagerank IPv IPv Domainage CountryCode Hosting and WOT</documentation>
    <port name='trustlinkerDePort' binding='tns:trustlinkerDeBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://trustlinkerDe' />
    </port>
  </service>
</definitions>