workspace/datasets/mashape_dataset/typefascist.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/typefascist/' name='typefascist' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/typefascist/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/typefascist/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/typefascist/'>
      <xsd:element name='convertResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='convertRequestMessage' />
  <message name='convertResponseMessage'>
    <part name='response' element='tns:convertResponse' />
  </message>
  <portType name='typefascistPortType'>
    <operation name='convert'>
      <documentation>convert your favorite font files A binary font file will be returned</documentation>
      <input message='tns:convertRequestMessage' name='convertInput' />
      <output message='tns:convertResponseMessage' name='convertOutput' />
    </operation>
  </portType>
  <binding name='typefascistBinding' type='tns:typefascistPortType'>
    <operation name='convert'>
      <soap12:operation soapAction='http://convert' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='typefascist'>
    <documentation>convert any of the following fonts ttf otf woff woff</documentation>
    <port name='typefascistPort' binding='tns:typefascistBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://typefascist' />
    </port>
  </service>
</definitions>