workspace/datasets/mashape_dataset/ubidots.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/ubidots/' name='ubidots' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/ubidots/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/ubidots/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/ubidots/'>
      <xsd:element name='deleteDatasourcesDatasourceIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datasourceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDatasourcesDatasourceIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='unit' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_value' type='xsd:string' minOccurs='0' />
                  <xsd:element name='datasource' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='values_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='properties' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteVariablesDatasourceIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datasourceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteVariablesDatasourceIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDatasourcesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDatasourcesDatasourceIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datasourceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDatasourcesDatasourceIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='owner' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='parent' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='last_activity' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='context' type='xsd:string' minOccurs='0' />
            <xsd:element name='number_of_variables' type='xsd:int' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='variables_url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDatasourcesDatasourceIdVariablesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datasourceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDatasourcesDatasourceIdVariablesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='unit' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_value' type='xsd:string' minOccurs='0' />
                  <xsd:element name='datasource' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='values_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='properties' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVariablesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='unit' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='last_value' type='xsd:string' minOccurs='0' />
                  <xsd:element name='datasource' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='values_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='properties' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVariablesVariableIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='variableid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVariablesVariableIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='unit' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='last_value' type='xsd:string' minOccurs='0' />
            <xsd:element name='datasource' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='values_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='properties' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVariablesVariableIdValuesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='variableid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getVariablesVariableIdValuesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='value' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postCollectionsValuesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='status_code' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postDatasourcesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postDatasourcesDatasourceIdVariablesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datasourceid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postDatasourcesDatasourceIdVariablesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='unit' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='last_value' type='xsd:string' minOccurs='0' />
            <xsd:element name='datasource' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='values_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='properties' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postVariablesVariableIdValuesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='variableid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='postVariablesVariableIdValuesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='value' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='deleteDatasourcesDatasourceIdRequestMessage'>
    <part name='parameters' element='tns:deleteDatasourcesDatasourceIdParameters' />
  </message>
  <message name='deleteDatasourcesDatasourceIdResponseMessage'>
    <part name='response' element='tns:deleteDatasourcesDatasourceIdResponse' />
  </message>
  <message name='deleteVariablesDatasourceIdRequestMessage'>
    <part name='parameters' element='tns:deleteVariablesDatasourceIdParameters' />
  </message>
  <message name='deleteVariablesDatasourceIdResponseMessage'>
    <part name='response' element='tns:deleteVariablesDatasourceIdResponse' />
  </message>
  <message name='getDatasourcesRequestMessage' />
  <message name='getDatasourcesResponseMessage'>
    <part name='response' element='tns:getDatasourcesResponse' />
  </message>
  <message name='getDatasourcesDatasourceIdRequestMessage'>
    <part name='parameters' element='tns:getDatasourcesDatasourceIdParameters' />
  </message>
  <message name='getDatasourcesDatasourceIdResponseMessage'>
    <part name='response' element='tns:getDatasourcesDatasourceIdResponse' />
  </message>
  <message name='getDatasourcesDatasourceIdVariablesRequestMessage'>
    <part name='parameters' element='tns:getDatasourcesDatasourceIdVariablesParameters' />
  </message>
  <message name='getDatasourcesDatasourceIdVariablesResponseMessage'>
    <part name='response' element='tns:getDatasourcesDatasourceIdVariablesResponse' />
  </message>
  <message name='getVariablesRequestMessage' />
  <message name='getVariablesResponseMessage'>
    <part name='response' element='tns:getVariablesResponse' />
  </message>
  <message name='getVariablesVariableIdRequestMessage'>
    <part name='parameters' element='tns:getVariablesVariableIdParameters' />
  </message>
  <message name='getVariablesVariableIdResponseMessage'>
    <part name='response' element='tns:getVariablesVariableIdResponse' />
  </message>
  <message name='getVariablesVariableIdValuesRequestMessage'>
    <part name='parameters' element='tns:getVariablesVariableIdValuesParameters' />
  </message>
  <message name='getVariablesVariableIdValuesResponseMessage'>
    <part name='response' element='tns:getVariablesVariableIdValuesResponse' />
  </message>
  <message name='postCollectionsValuesRequestMessage' />
  <message name='postCollectionsValuesResponseMessage'>
    <part name='response' element='tns:postCollectionsValuesResponse' />
  </message>
  <message name='postDatasourcesRequestMessage' />
  <message name='postDatasourcesResponseMessage'>
    <part name='response' element='tns:postDatasourcesResponse' />
  </message>
  <message name='postDatasourcesDatasourceIdVariablesRequestMessage'>
    <part name='parameters' element='tns:postDatasourcesDatasourceIdVariablesParameters' />
  </message>
  <message name='postDatasourcesDatasourceIdVariablesResponseMessage'>
    <part name='response' element='tns:postDatasourcesDatasourceIdVariablesResponse' />
  </message>
  <message name='postVariablesVariableIdValuesRequestMessage'>
    <part name='parameters' element='tns:postVariablesVariableIdValuesParameters' />
  </message>
  <message name='postVariablesVariableIdValuesResponseMessage'>
    <part name='response' element='tns:postVariablesVariableIdValuesResponse' />
  </message>
  <portType name='ubidotsPortType'>
    <operation name='deleteDatasourcesDatasourceId'>
      <documentation>this resource deletes a given data source specified by its id Please note that deleting a data source will erase all the objects related to it like variables values events and insights If there are any events or insights depending on your data source they will also be deleted to keep the integrity of the system</documentation>
      <input message='tns:deleteDatasourcesDatasourceIdRequestMessage' name='deleteDatasourcesDatasourceIdInput' />
      <output message='tns:deleteDatasourcesDatasourceIdResponseMessage' name='deleteDatasourcesDatasourceIdOutput' />
    </operation>
    <operation name='deleteVariablesDatasourceId'>
      <documentation>this resource deletes a given variable specified by its id Please note that deleting a variable will erase all its values as well as the events and insights related to it</documentation>
      <input message='tns:deleteVariablesDatasourceIdRequestMessage' name='deleteVariablesDatasourceIdInput' />
      <output message='tns:deleteVariablesDatasourceIdResponseMessage' name='deleteVariablesDatasourceIdOutput' />
    </operation>
    <operation name='getDatasources'>
      <documentation>this resource lists all the existing data sources of a user</documentation>
      <input message='tns:getDatasourcesRequestMessage' name='getDatasourcesInput' />
      <output message='tns:getDatasourcesResponseMessage' name='getDatasourcesOutput' />
    </operation>
    <operation name='getDatasourcesDatasourceId'>
      <documentation>this resource obtains an existing data source and its details Also it returns additional fields besides the ones required during the creation of the data source number of variables Shows the number of variables contained by the data source last activity Returns the date of the last activity</documentation>
      <input message='tns:getDatasourcesDatasourceIdRequestMessage' name='getDatasourcesDatasourceIdInput' />
      <output message='tns:getDatasourcesDatasourceIdResponseMessage' name='getDatasourcesDatasourceIdOutput' />
    </operation>
    <operation name='getDatasourcesDatasourceIdVariables'>
      <documentation>this resource list the variables of a specified data source showing all the fields of the variables</documentation>
      <input message='tns:getDatasourcesDatasourceIdVariablesRequestMessage' name='getDatasourcesDatasourceIdVariablesInput' />
      <output message='tns:getDatasourcesDatasourceIdVariablesResponseMessage' name='getDatasourcesDatasourceIdVariablesOutput' />
    </operation>
    <operation name='getVariables'>
      <documentation>retrieves the list of all the variables owned by a user The header X Auth Token is needed to have the permissions for this endpoint</documentation>
      <input message='tns:getVariablesRequestMessage' name='getVariablesInput' />
      <output message='tns:getVariablesResponseMessage' name='getVariablesOutput' />
    </operation>
    <operation name='getVariablesVariableId'>
      <documentation>this resource returns a variable and its details It shows additional fields than the ones required during the creation of the variable last value Shows the last value written to the variable</documentation>
      <input message='tns:getVariablesVariableIdRequestMessage' name='getVariablesVariableIdInput' />
      <output message='tns:getVariablesVariableIdResponseMessage' name='getVariablesVariableIdOutput' />
    </operation>
    <operation name='getVariablesVariableIdValues'>
      <documentation>this resource returns the values of the specified variable Every value will have a timestamp which is a value in milliseconds according to the POSIX standard</documentation>
      <input message='tns:getVariablesVariableIdValuesRequestMessage' name='getVariablesVariableIdValuesInput' />
      <output message='tns:getVariablesVariableIdValuesResponseMessage' name='getVariablesVariableIdValuesOutput' />
    </operation>
    <operation name='postCollectionsValues'>
      <documentation>this resource allow the create a value for multiple variables Every value has a timestamp that can be either specified manually by the device or automatically by the server</documentation>
      <input message='tns:postCollectionsValuesRequestMessage' name='postCollectionsValuesInput' />
      <output message='tns:postCollectionsValuesResponseMessage' name='postCollectionsValuesOutput' />
    </operation>
    <operation name='postDatasources'>
      <documentation>this resource creates a new data source Every data source owns a number of variables and has a context with different attributes For example a data source called Delivery Truck can have a attributes like City Boston or Type Truck Attributes are not meant to change dynamically over time but to add a relational layer to your data sources</documentation>
      <input message='tns:postDatasourcesRequestMessage' name='postDatasourcesInput' />
      <output message='tns:postDatasourcesResponseMessage' name='postDatasourcesOutput' />
    </operation>
    <operation name='postDatasourcesDatasourceIdVariables'>
      <documentation>this resource creates a new variable within the specified data source You can assign tags to variables i e room yard and also properties with atributes for example Color Blue or Status OFF</documentation>
      <input message='tns:postDatasourcesDatasourceIdVariablesRequestMessage' name='postDatasourcesDatasourceIdVariablesInput' />
      <output message='tns:postDatasourcesDatasourceIdVariablesResponseMessage' name='postDatasourcesDatasourceIdVariablesOutput' />
    </operation>
    <operation name='postVariablesVariableIdValues'>
      <documentation>this resource creates a new value within the specified variable Every value has a timestamp that can be either specified manually by the device or automatically by the server</documentation>
      <input message='tns:postVariablesVariableIdValuesRequestMessage' name='postVariablesVariableIdValuesInput' />
      <output message='tns:postVariablesVariableIdValuesResponseMessage' name='postVariablesVariableIdValuesOutput' />
    </operation>
  </portType>
  <binding name='ubidotsBinding' type='tns:ubidotsPortType'>
    <operation name='deleteDatasourcesDatasourceId'>
      <soap12:operation soapAction='http://deleteDatasourcesDatasourceId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteVariablesDatasourceId'>
      <soap12:operation soapAction='http://deleteVariablesDatasourceId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDatasources'>
      <soap12:operation soapAction='http://getDatasources' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDatasourcesDatasourceId'>
      <soap12:operation soapAction='http://getDatasourcesDatasourceId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDatasourcesDatasourceIdVariables'>
      <soap12:operation soapAction='http://getDatasourcesDatasourceIdVariables' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVariables'>
      <soap12:operation soapAction='http://getVariables' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVariablesVariableId'>
      <soap12:operation soapAction='http://getVariablesVariableId' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getVariablesVariableIdValues'>
      <soap12:operation soapAction='http://getVariablesVariableIdValues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postCollectionsValues'>
      <soap12:operation soapAction='http://postCollectionsValues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postDatasources'>
      <soap12:operation soapAction='http://postDatasources' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postDatasourcesDatasourceIdVariables'>
      <soap12:operation soapAction='http://postDatasourcesDatasourceIdVariables' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='postVariablesVariableIdValues'>
      <soap12:operation soapAction='http://postVariablesVariableIdValues' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='ubidots'>
    <documentation>build your own sensor application Ubidots simplifies the making of Internet of Things applications for data capturing real time remote monitoring and getting insights from sensor data</documentation>
    <port name='ubidotsPort' binding='tns:ubidotsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://ubidots' />
    </port>
  </service>
</definitions>