workspace/datasets/mashape_dataset/uktravelmoneycurrencyrates.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/ukTravelMoneyCurrencyRates/' name='ukTravelMoneyCurrencyRates' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/ukTravelMoneyCurrencyRates/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/ukTravelMoneyCurrencyRates/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/ukTravelMoneyCurrencyRates/'>
      <xsd:element name='getInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='action' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Currency_6_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_26_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_67_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_4_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_32_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_12_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_57_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_59_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_16_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_24_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_42_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_49_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_50_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_56_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_60_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_14_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_11_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_57_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_7_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_40_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_25_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_75_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_18_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_6_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_81_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_10_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_13_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_65_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_52_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_22_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_24_Name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_73_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_34_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_27_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_43_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_47_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_54_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_62_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_77_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_38_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_68_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_23_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_29_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_9_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_54_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_28_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_11_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_71_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_37_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_14_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_45_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_71_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_45_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_30_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_67_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_62_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_43_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_73_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_13_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_33_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_80_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_30_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_69_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_36_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_56_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_2_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_52_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_39_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_55_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_61_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_39_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_8_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_26_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_58_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_5_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_77_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_74_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_2_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_60_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_65_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_51_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_20_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_41_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_82_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_15_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_33_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_3_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Total_Results_Currencies' type='xsd:int' minOccurs='0' />
            <xsd:element name='Currency_18_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_34_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_76_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_79_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_17_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_31_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_5_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_74_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_66_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_48_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_58_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_64_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_78_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_1_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_23_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_48_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_19_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_16_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_35_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_78_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_21_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_35_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_49_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_81_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_7_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_17_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_32_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_82_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_64_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_70_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_51_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_21_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_46_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_9_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_15_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_29_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_3_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_40_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_31_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_46_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_70_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_76_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_37_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_63_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_20_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_61_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_79_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_80_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_59_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_53_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_19_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_44_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_8_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_28_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_22_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_10_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_53_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_27_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_4_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_75_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_36_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_47_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_72_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_41_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_44_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_1_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_72_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_50_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_63_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_66_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_55_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_25_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_12_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_68_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_69_Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='Currency_42_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Currency_38_ISO' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRatesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='iso' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='orderedby' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getRatesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Merchant_17_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_34_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_6_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_18_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_20_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Last_Updated' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_4_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_33_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_22_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Total_Results' type='xsd:int' minOccurs='0' />
            <xsd:element name='Merchant_36_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_14_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_37_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Currency_Name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_3_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_15_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_22' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_21' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_20' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_26' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_46_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_25' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_24' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_31_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_23' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_7_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_29' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_28' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_27' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_21_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_27_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_43_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_40_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_24_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_11' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_10' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_15' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_14' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_13' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_12' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_19' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_18' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_17' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_16' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_42_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_11_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_40' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_44' type='xsd:string' minOccurs='0' />
            <xsd:element name='Version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_43' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_26_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_42' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_41' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_46' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_45' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Ordered_By' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_12_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_1_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_9_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_30_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_33' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_39_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_32' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_31' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_30' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_25_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_37' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_28_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_36' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_35' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_34' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_44_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_41_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_39' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_38' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_8_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_7' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_8' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_9' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_45_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_29_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_23_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_38_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_35_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_10_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_16_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_19_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_13_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Currency_ISO' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_32_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_1' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_2' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_3' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_4' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_5' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Merchant_6' type='xsd:string' minOccurs='0' />
            <xsd:element name='Merchant_5_Rate' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Merchant_2_Rate' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getInfoRequestMessage'>
    <part name='parameters' element='tns:getInfoParameters' />
  </message>
  <message name='getInfoResponseMessage'>
    <part name='response' element='tns:getInfoResponse' />
  </message>
  <message name='getRatesRequestMessage'>
    <part name='parameters' element='tns:getRatesParameters' />
  </message>
  <message name='getRatesResponseMessage'>
    <part name='response' element='tns:getRatesResponse' />
  </message>
  <portType name='ukTravelMoneyCurrencyRatesPortType'>
    <operation name='getInfo'>
      <documentation>returns information on the currencies that are available and the merchants that currency data is available from</documentation>
      <input message='tns:getInfoRequestMessage' name='getInfoInput' />
      <output message='tns:getInfoResponseMessage' name='getInfoOutput' />
    </operation>
    <operation name='getRates'>
      <documentation>get rates data on a particular currency using it s ISO code Rates are updated every minutes Some currencies may return results because no merchants have rates for them</documentation>
      <input message='tns:getRatesRequestMessage' name='getRatesInput' />
      <output message='tns:getRatesResponseMessage' name='getRatesOutput' />
    </operation>
  </portType>
  <binding name='ukTravelMoneyCurrencyRatesBinding' type='tns:ukTravelMoneyCurrencyRatesPortType'>
    <operation name='getInfo'>
      <soap12:operation soapAction='http://getInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getRates'>
      <soap12:operation soapAction='http://getRates' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='ukTravelMoneyCurrencyRates'>
    <documentation>comprehensive source of UK Travel Money Currency Data Continually updated rates information on Currency Merchants and up to currencies per merchant Ideal for Travel Money comparison and holiday websites</documentation>
    <port name='ukTravelMoneyCurrencyRatesPort' binding='tns:ukTravelMoneyCurrencyRatesBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://ukTravelMoneyCurrencyRates' />
    </port>
  </service>
</definitions>