workspace/datasets/mashape_dataset/unicornhunt.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/unicornhunt/' name='unicornhunt' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/unicornhunt/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/unicornhunt/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/unicornhunt/'>
      <xsd:element name='getJobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getJobsRequestMessage' />
  <message name='getJobsResponseMessage'>
    <part name='response' element='tns:getJobsResponse' />
  </message>
  <portType name='unicornhuntPortType'>
    <operation name='getJobs'>
      <documentation>gET all the jobs and companies posted on unicornhunt</documentation>
      <input message='tns:getJobsRequestMessage' name='getJobsInput' />
      <output message='tns:getJobsResponseMessage' name='getJobsOutput' />
    </operation>
  </portType>
  <binding name='unicornhuntBinding' type='tns:unicornhuntPortType'>
    <operation name='getJobs'>
      <soap12:operation soapAction='http://getJobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='unicornhunt'>
    <documentation>unofficial API for unicornhunt io job adv portal I hope stef won t kill me</documentation>
    <port name='unicornhuntPort' binding='tns:unicornhuntBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://unicornhunt' />
    </port>
  </service>
</definitions>