workspace/datasets/mashape_dataset/unicodecodepoints.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/unicodeCodepoints/' name='unicodeCodepoints' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/unicodeCodepoints/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/unicodeCodepoints/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/unicodeCodepoints/'>
      <xsd:element name='blockParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='block' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='blockResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='next_block' type='xsd:string' minOccurs='0' />
            <xsd:element name='last' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='first' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='codepointParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='codepoint' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='codepointResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Ext' type='xsd:int' minOccurs='0' />
            <xsd:element name='ccc' type='xsd:int' minOccurs='0' />
            <xsd:element name='Pat_WS' type='xsd:int' minOccurs='0' />
            <xsd:element name='XO_NFKC' type='xsd:int' minOccurs='0' />
            <xsd:element name='kIRG_HSource' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='XO_NFKD' type='xsd:int' minOccurs='0' />
            <xsd:element name='kAlternateMorohashi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kRSAdobe_Japan1_6' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='scf' type='xsd:string' minOccurs='0' />
            <xsd:element name='Gr_Base' type='xsd:int' minOccurs='0' />
            <xsd:element name='kCowles' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Join_C' type='xsd:int' minOccurs='0' />
            <xsd:element name='kMandarin' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kTotalStrokes' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='OUpper' type='xsd:int' minOccurs='0' />
            <xsd:element name='stc' type='xsd:string' minOccurs='0' />
            <xsd:element name='JSN' type='xsd:string' minOccurs='0' />
            <xsd:element name='kHKSCS' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='QMark' type='xsd:int' minOccurs='0' />
            <xsd:element name='NFKC_CF' type='xsd:string' minOccurs='0' />
            <xsd:element name='scx' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='UIdeo' type='xsd:int' minOccurs='0' />
            <xsd:element name='kMatthews' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kIRGHanyuDaZidian' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Comp_Ex' type='xsd:int' minOccurs='0' />
            <xsd:element name='kGB7' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='suc' type='xsd:string' minOccurs='0' />
            <xsd:element name='bc' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kGB8' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kSemanticVariant' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kIRG_TSource' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SB' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='sc' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='SD' type='xsd:int' minOccurs='0' />
            <xsd:element name='NFC_QC' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kJapaneseKun' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='CWL' type='xsd:int' minOccurs='0' />
            <xsd:element name='kGB1' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kGB0' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kGB3' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kHanYu' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Dia' type='xsd:int' minOccurs='0' />
            <xsd:element name='kGB5' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Upper' type='xsd:int' minOccurs='0' />
            <xsd:element name='CWU' type='xsd:int' minOccurs='0' />
            <xsd:element name='kPseudoGB1' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='CWT' type='xsd:int' minOccurs='0' />
            <xsd:element name='CE' type='xsd:int' minOccurs='0' />
            <xsd:element name='cf' type='xsd:string' minOccurs='0' />
            <xsd:element name='kAlternateKangXi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='CI' type='xsd:int' minOccurs='0' />
            <xsd:element name='kSBGY' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='cp' type='xsd:int' minOccurs='0' />
            <xsd:element name='tc' type='xsd:string' minOccurs='0' />
            <xsd:element name='kCheungBauer' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kHangul' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='InSC' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='isc' type='xsd:string' minOccurs='0' />
            <xsd:element name='NFKC_QC' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kCNS1986' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Lower' type='xsd:int' minOccurs='0' />
            <xsd:element name='DI' type='xsd:int' minOccurs='0' />
            <xsd:element name='IDSB' type='xsd:int' minOccurs='0' />
            <xsd:element name='IDC' type='xsd:int' minOccurs='0' />
            <xsd:element name='dm' type='xsd:string' minOccurs='0' />
            <xsd:element name='uc' type='xsd:string' minOccurs='0' />
            <xsd:element name='dt' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='IDS' type='xsd:int' minOccurs='0' />
            <xsd:element name='ea' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kCNS1992' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='IDST' type='xsd:int' minOccurs='0' />
            <xsd:element name='kCheungBauerIndex' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kJis0' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='image' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kPrimaryNumeric' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kKSC1' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kCompatibilityVariant' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kKSC0' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kOtherNumeric' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kGSR' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Term' type='xsd:int' minOccurs='0' />
            <xsd:element name='NChar' type='xsd:int' minOccurs='0' />
            <xsd:element name='kJis1' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kJHJ' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='NFD_QC' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kRSMerged' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kIRG_JSource' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='VS' type='xsd:int' minOccurs='0' />
            <xsd:element name='kWubi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='OLower' type='xsd:int' minOccurs='0' />
            <xsd:element name='kIRG_MSource' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kMeyerWempe' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kAlternateHanYu' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kFrequency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='hst' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Cased' type='xsd:int' minOccurs='0' />
            <xsd:element name='WB' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Radical' type='xsd:int' minOccurs='0' />
            <xsd:element name='kXHC1983' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='OAlpha' type='xsd:int' minOccurs='0' />
            <xsd:element name='gc' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kCCCII' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='na1' type='xsd:string' minOccurs='0' />
            <xsd:element name='kEACC' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='GCB' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Hyphen' type='xsd:int' minOccurs='0' />
            <xsd:element name='Pat_Syn' type='xsd:int' minOccurs='0' />
            <xsd:element name='kHKGlyph' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kKangXi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kIRGDaeJaweon' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kAccountingNumeric' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='XO_NFC' type='xsd:int' minOccurs='0' />
            <xsd:element name='XO_NFD' type='xsd:int' minOccurs='0' />
            <xsd:element name='kCantonese' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Alpha' type='xsd:int' minOccurs='0' />
            <xsd:element name='Hex' type='xsd:int' minOccurs='0' />
            <xsd:element name='kRSKanWa' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kIRG_KPSource' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='age' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='AHex' type='xsd:int' minOccurs='0' />
            <xsd:element name='kLau' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kIRGKangXi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Ideo' type='xsd:int' minOccurs='0' />
            <xsd:element name='kCangjie' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kRSKangXi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kIRG_KSource' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Math' type='xsd:int' minOccurs='0' />
            <xsd:element name='Gr_Link' type='xsd:int' minOccurs='0' />
            <xsd:element name='kIRG_VSource' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ODI' type='xsd:int' minOccurs='0' />
            <xsd:element name='kKarlgren' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='XIDC' type='xsd:int' minOccurs='0' />
            <xsd:element name='CWKCF' type='xsd:int' minOccurs='0' />
            <xsd:element name='LOE' type='xsd:int' minOccurs='0' />
            <xsd:element name='kMainlandTelegraph' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kSpecializedSemanticVariant' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kJIS0213' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='slc' type='xsd:string' minOccurs='0' />
            <xsd:element name='kZVariant' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kMorohashi' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kFennIndex' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='jg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kNelson' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kTaiwanTelegraph' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kHanyuPinlu' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kKPS1' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='jt' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kKPS0' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kTraditionalVariant' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kAlternateJEF' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Gr_Ext' type='xsd:int' minOccurs='0' />
            <xsd:element name='blk' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kHDZRadBreak' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Bidi_C' type='xsd:int' minOccurs='0' />
            <xsd:element name='XIDS' type='xsd:int' minOccurs='0' />
            <xsd:element name='kIRG_USource' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='abstract' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Bidi_M' type='xsd:int' minOccurs='0' />
            <xsd:element name='lb' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lc' type='xsd:string' minOccurs='0' />
            <xsd:element name='OGr_Ext' type='xsd:int' minOccurs='0' />
            <xsd:element name='OMath' type='xsd:int' minOccurs='0' />
            <xsd:element name='Dash' type='xsd:int' minOccurs='0' />
            <xsd:element name='kBigFive' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kIRG_GSource' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kIBMJapan' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='na' type='xsd:string' minOccurs='0' />
            <xsd:element name='kVietnamese' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kIRGDaiKanwaZiten' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='InMC' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kRSKorean' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kDaeJaweon' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kXerox' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='CWCM' type='xsd:int' minOccurs='0' />
            <xsd:element name='kJapaneseOn' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kPhonetic' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nt' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='nv' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='CWCF' type='xsd:int' minOccurs='0' />
            <xsd:element name='kKorean' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='OIDS' type='xsd:int' minOccurs='0' />
            <xsd:element name='kFenn' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='WSpace' type='xsd:int' minOccurs='0' />
            <xsd:element name='NFKD_QC' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kGradeLevel' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kSimplifiedVariant' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='STerm' type='xsd:int' minOccurs='0' />
            <xsd:element name='kRSUnicode' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Dep' type='xsd:int' minOccurs='0' />
            <xsd:element name='kDefinition' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kCihaiT' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kRSJapanese' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kFourCornerCode' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kTang' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='FC_NFKC' type='xsd:string' minOccurs='0' />
            <xsd:element name='kHanyuPinyin' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='kIICore' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='OIDC' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='filterParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='data' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='properties' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='filterResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='glyphParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='codepoint' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='glyphResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='codepoint' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='planeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='plane' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='planeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='last' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='blocks' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='next_plane' type='xsd:string' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='first' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='property' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='propertyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='scriptParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='script' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='scriptResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Latn' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='src' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='abstract' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Arab' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='src' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='abstract' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='WrongScript' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='properties' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='per_page' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_page' type='xsd:int' minOccurs='0' />
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transformParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='action' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='data' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='transformResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='blockRequestMessage'>
    <part name='parameters' element='tns:blockParameters' />
  </message>
  <message name='blockResponseMessage'>
    <part name='response' element='tns:blockResponse' />
  </message>
  <message name='codepointRequestMessage'>
    <part name='parameters' element='tns:codepointParameters' />
  </message>
  <message name='codepointResponseMessage'>
    <part name='response' element='tns:codepointResponse' />
  </message>
  <message name='filterRequestMessage'>
    <part name='parameters' element='tns:filterParameters' />
  </message>
  <message name='filterResponseMessage'>
    <part name='response' element='tns:filterResponse' />
  </message>
  <message name='glyphRequestMessage'>
    <part name='parameters' element='tns:glyphParameters' />
  </message>
  <message name='glyphResponseMessage'>
    <part name='response' element='tns:glyphResponse' />
  </message>
  <message name='nameRequestMessage'>
    <part name='parameters' element='tns:nameParameters' />
  </message>
  <message name='nameResponseMessage'>
    <part name='response' element='tns:nameResponse' />
  </message>
  <message name='planeRequestMessage'>
    <part name='parameters' element='tns:planeParameters' />
  </message>
  <message name='planeResponseMessage'>
    <part name='response' element='tns:planeResponse' />
  </message>
  <message name='propertyRequestMessage'>
    <part name='parameters' element='tns:propertyParameters' />
  </message>
  <message name='propertyResponseMessage'>
    <part name='response' element='tns:propertyResponse' />
  </message>
  <message name='scriptRequestMessage'>
    <part name='parameters' element='tns:scriptParameters' />
  </message>
  <message name='scriptResponseMessage'>
    <part name='response' element='tns:scriptResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <message name='transformRequestMessage'>
    <part name='parameters' element='tns:transformParameters' />
  </message>
  <message name='transformResponseMessage'>
    <part name='response' element='tns:transformResponse' />
  </message>
  <portType name='unicodeCodepointsPortType'>
    <operation name='block'>
      <documentation>information about a Unicode block</documentation>
      <input message='tns:blockRequestMessage' name='blockInput' />
      <output message='tns:blockResponseMessage' name='blockOutput' />
    </operation>
    <operation name='codepoint'>
      <documentation>show detailed information about a single codepoint You can specify fields of interest with the property parameter codepoint property age uc lc</documentation>
      <input message='tns:codepointRequestMessage' name='codepointInput' />
      <output message='tns:codepointResponseMessage' name='codepointOutput' />
    </operation>
    <operation name='filter'>
      <documentation>filter a String e g by Unicode version or only uppercase letters</documentation>
      <input message='tns:filterRequestMessage' name='filterInput' />
      <output message='tns:filterResponseMessage' name='filterOutput' />
    </operation>
    <operation name='glyph'>
      <documentation>request a Sample Glyph</documentation>
      <input message='tns:glyphRequestMessage' name='glyphInput' />
      <output message='tns:glyphResponseMessage' name='glyphOutput' />
    </operation>
    <operation name='name'>
      <documentation>request a Codepoint s Name</documentation>
      <input message='tns:nameRequestMessage' name='nameInput' />
      <output message='tns:nameResponseMessage' name='nameOutput' />
    </operation>
    <operation name='plane'>
      <documentation>information about a Unicode plane</documentation>
      <input message='tns:planeRequestMessage' name='planeInput' />
      <output message='tns:planeResponseMessage' name='planeOutput' />
    </operation>
    <operation name='property'>
      <documentation>show one Property for All Codepoints</documentation>
      <input message='tns:propertyRequestMessage' name='propertyInput' />
      <output message='tns:propertyResponseMessage' name='propertyOutput' />
    </operation>
    <operation name='script'>
      <documentation>information about a Script</documentation>
      <input message='tns:scriptRequestMessage' name='scriptInput' />
      <output message='tns:scriptResponseMessage' name='scriptOutput' />
    </operation>
    <operation name='search'>
      <documentation>search for Codepoints This API exposes the functionality of the main site s search</documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
    <operation name='transform'>
      <documentation>transform a String e g to upper case NFC NFD</documentation>
      <input message='tns:transformRequestMessage' name='transformInput' />
      <output message='tns:transformResponseMessage' name='transformOutput' />
    </operation>
  </portType>
  <binding name='unicodeCodepointsBinding' type='tns:unicodeCodepointsPortType'>
    <operation name='block'>
      <soap12:operation soapAction='http://block' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='codepoint'>
      <soap12:operation soapAction='http://codepoint' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='filter'>
      <soap12:operation soapAction='http://filter' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='glyph'>
      <soap12:operation soapAction='http://glyph' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='name'>
      <soap12:operation soapAction='http://name' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='plane'>
      <soap12:operation soapAction='http://plane' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='property'>
      <soap12:operation soapAction='http://property' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='script'>
      <soap12:operation soapAction='http://script' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='transform'>
      <soap12:operation soapAction='http://transform' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='unicodeCodepoints'>
    <documentation>a RESTful Interface to Unicode Data this API gives easy and standardized access to all information from Codepoints net The detailed documentation is available on Github https github com Boldewyn Codepoints net wiki API</documentation>
    <port name='unicodeCodepointsPort' binding='tns:unicodeCodepointsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://unicodeCodepoints' />
    </port>
  </service>
</definitions>