workspace/datasets/mashape_dataset/unitedstatescode.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/unitedStatesCode/' name='unitedStatesCode' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/unitedStatesCode/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/unitedStatesCode/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/unitedStatesCode/'>
      <xsd:element name='titleGeneralProvisionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='titleTheCongressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='titleThePresidentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='titleFlagAndSealSeatOfGovernmentAndTheStatesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='titleGovernmentOrganizationsAndEmployeesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='titleDomesticSecurityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='titleGeneralProvisionsRequestMessage' />
  <message name='titleGeneralProvisionsResponseMessage'>
    <part name='response' element='tns:titleGeneralProvisionsResponse' />
  </message>
  <message name='titleTheCongressRequestMessage' />
  <message name='titleTheCongressResponseMessage'>
    <part name='response' element='tns:titleTheCongressResponse' />
  </message>
  <message name='titleThePresidentRequestMessage' />
  <message name='titleThePresidentResponseMessage'>
    <part name='response' element='tns:titleThePresidentResponse' />
  </message>
  <message name='titleFlagAndSealSeatOfGovernmentAndTheStatesRequestMessage' />
  <message name='titleFlagAndSealSeatOfGovernmentAndTheStatesResponseMessage'>
    <part name='response' element='tns:titleFlagAndSealSeatOfGovernmentAndTheStatesResponse' />
  </message>
  <message name='titleGovernmentOrganizationsAndEmployeesRequestMessage' />
  <message name='titleGovernmentOrganizationsAndEmployeesResponseMessage'>
    <part name='response' element='tns:titleGovernmentOrganizationsAndEmployeesResponse' />
  </message>
  <message name='titleDomesticSecurityRequestMessage' />
  <message name='titleDomesticSecurityResponseMessage'>
    <part name='response' element='tns:titleDomesticSecurityResponse' />
  </message>
  <portType name='unitedStatesCodePortType'>
    <operation name='titleGeneralProvisions'>
      <documentation></documentation>
      <input message='tns:titleGeneralProvisionsRequestMessage' name='titleGeneralProvisionsInput' />
      <output message='tns:titleGeneralProvisionsResponseMessage' name='titleGeneralProvisionsOutput' />
    </operation>
    <operation name='titleTheCongress'>
      <documentation></documentation>
      <input message='tns:titleTheCongressRequestMessage' name='titleTheCongressInput' />
      <output message='tns:titleTheCongressResponseMessage' name='titleTheCongressOutput' />
    </operation>
    <operation name='titleThePresident'>
      <documentation></documentation>
      <input message='tns:titleThePresidentRequestMessage' name='titleThePresidentInput' />
      <output message='tns:titleThePresidentResponseMessage' name='titleThePresidentOutput' />
    </operation>
    <operation name='titleFlagAndSealSeatOfGovernmentAndTheStates'>
      <documentation></documentation>
      <input message='tns:titleFlagAndSealSeatOfGovernmentAndTheStatesRequestMessage' name='titleFlagAndSealSeatOfGovernmentAndTheStatesInput' />
      <output message='tns:titleFlagAndSealSeatOfGovernmentAndTheStatesResponseMessage' name='titleFlagAndSealSeatOfGovernmentAndTheStatesOutput' />
    </operation>
    <operation name='titleGovernmentOrganizationsAndEmployees'>
      <documentation></documentation>
      <input message='tns:titleGovernmentOrganizationsAndEmployeesRequestMessage' name='titleGovernmentOrganizationsAndEmployeesInput' />
      <output message='tns:titleGovernmentOrganizationsAndEmployeesResponseMessage' name='titleGovernmentOrganizationsAndEmployeesOutput' />
    </operation>
    <operation name='titleDomesticSecurity'>
      <documentation></documentation>
      <input message='tns:titleDomesticSecurityRequestMessage' name='titleDomesticSecurityInput' />
      <output message='tns:titleDomesticSecurityResponseMessage' name='titleDomesticSecurityOutput' />
    </operation>
  </portType>
  <binding name='unitedStatesCodeBinding' type='tns:unitedStatesCodePortType'>
    <operation name='titleGeneralProvisions'>
      <soap12:operation soapAction='http://titleGeneralProvisions' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='titleTheCongress'>
      <soap12:operation soapAction='http://titleTheCongress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='titleThePresident'>
      <soap12:operation soapAction='http://titleThePresident' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='titleFlagAndSealSeatOfGovernmentAndTheStates'>
      <soap12:operation soapAction='http://titleFlagAndSealSeatOfGovernmentAndTheStates' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='titleGovernmentOrganizationsAndEmployees'>
      <soap12:operation soapAction='http://titleGovernmentOrganizationsAndEmployees' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='titleDomesticSecurity'>
      <soap12:operation soapAction='http://titleDomesticSecurity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='unitedStatesCode'>
    <documentation>the United States Code in JSON The Code of Laws of the United States of America variously abbreviated to Code of Laws of the United States United States Code U S Code or U S C is a compilation and codification of the general and permanent federal laws of the United States It contains titles along with a further proposed titles The main edition is published every six years by the Office of the Law Revision Counsel of the House of Representatives and cumulative supplements are published annually The current edition of the code was published in and according to the Government Printing Office is over pages long</documentation>
    <port name='unitedStatesCodePort' binding='tns:unitedStatesCodeBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://unitedStatesCode' />
    </port>
  </service>
</definitions>