workspace/datasets/mashape_dataset/urltitlescraper.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/urlTitleScraper/' name='urlTitleScraper' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/urlTitleScraper/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/urlTitleScraper/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/urlTitleScraper/'>
      <xsd:element name='urlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='urlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='urlRequestMessage'>
    <part name='parameters' element='tns:urlParameters' />
  </message>
  <message name='urlResponseMessage'>
    <part name='response' element='tns:urlResponse' />
  </message>
  <portType name='urlTitleScraperPortType'>
    <operation name='url'>
      <documentation>hTTP or HTTPS Prefixed URL to scrape title from</documentation>
      <input message='tns:urlRequestMessage' name='urlInput' />
      <output message='tns:urlResponseMessage' name='urlOutput' />
    </operation>
  </portType>
  <binding name='urlTitleScraperBinding' type='tns:urlTitleScraperPortType'>
    <operation name='url'>
      <soap12:operation soapAction='http://url' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='urlTitleScraper'>
    <documentation>aPI Built to return the title of a webpage</documentation>
    <port name='urlTitleScraperPort' binding='tns:urlTitleScraperBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://urlTitleScraper' />
    </port>
  </service>
</definitions>