workspace/datasets/mashape_dataset/verticalresponse.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/verticalresponse/' name='verticalresponse' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/verticalresponse/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/verticalresponse/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/verticalresponse/'>
      <xsd:element name='contactsCreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contactsListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contactsUpdateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contactsUpdateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='emailCreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='emailLaunchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listsListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messagesListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='contactsCreateRequestMessage' />
  <message name='contactsCreateResponseMessage'>
    <part name='response' element='tns:contactsCreateResponse' />
  </message>
  <message name='contactsListRequestMessage' />
  <message name='contactsListResponseMessage'>
    <part name='response' element='tns:contactsListResponse' />
  </message>
  <message name='contactsUpdateRequestMessage'>
    <part name='parameters' element='tns:contactsUpdateParameters' />
  </message>
  <message name='contactsUpdateResponseMessage'>
    <part name='response' element='tns:contactsUpdateResponse' />
  </message>
  <message name='emailCreateRequestMessage' />
  <message name='emailCreateResponseMessage'>
    <part name='response' element='tns:emailCreateResponse' />
  </message>
  <message name='emailLaunchRequestMessage' />
  <message name='emailLaunchResponseMessage'>
    <part name='response' element='tns:emailLaunchResponse' />
  </message>
  <message name='listsListRequestMessage' />
  <message name='listsListResponseMessage'>
    <part name='response' element='tns:listsListResponse' />
  </message>
  <message name='messagesListRequestMessage' />
  <message name='messagesListResponseMessage'>
    <part name='response' element='tns:messagesListResponse' />
  </message>
  <portType name='verticalresponsePortType'>
    <operation name='contactsCreate'>
      <documentation></documentation>
      <input message='tns:contactsCreateRequestMessage' name='contactsCreateInput' />
      <output message='tns:contactsCreateResponseMessage' name='contactsCreateOutput' />
    </operation>
    <operation name='contactsList'>
      <documentation></documentation>
      <input message='tns:contactsListRequestMessage' name='contactsListInput' />
      <output message='tns:contactsListResponseMessage' name='contactsListOutput' />
    </operation>
    <operation name='contactsUpdate'>
      <documentation></documentation>
      <input message='tns:contactsUpdateRequestMessage' name='contactsUpdateInput' />
      <output message='tns:contactsUpdateResponseMessage' name='contactsUpdateOutput' />
    </operation>
    <operation name='emailCreate'>
      <documentation></documentation>
      <input message='tns:emailCreateRequestMessage' name='emailCreateInput' />
      <output message='tns:emailCreateResponseMessage' name='emailCreateOutput' />
    </operation>
    <operation name='emailLaunch'>
      <documentation></documentation>
      <input message='tns:emailLaunchRequestMessage' name='emailLaunchInput' />
      <output message='tns:emailLaunchResponseMessage' name='emailLaunchOutput' />
    </operation>
    <operation name='listsList'>
      <documentation></documentation>
      <input message='tns:listsListRequestMessage' name='listsListInput' />
      <output message='tns:listsListResponseMessage' name='listsListOutput' />
    </operation>
    <operation name='messagesList'>
      <documentation></documentation>
      <input message='tns:messagesListRequestMessage' name='messagesListInput' />
      <output message='tns:messagesListResponseMessage' name='messagesListOutput' />
    </operation>
  </portType>
  <binding name='verticalresponseBinding' type='tns:verticalresponsePortType'>
    <operation name='contactsCreate'>
      <soap12:operation soapAction='http://contactsCreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='contactsList'>
      <soap12:operation soapAction='http://contactsList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='contactsUpdate'>
      <soap12:operation soapAction='http://contactsUpdate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='emailCreate'>
      <soap12:operation soapAction='http://emailCreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='emailLaunch'>
      <soap12:operation soapAction='http://emailLaunch' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listsList'>
      <soap12:operation soapAction='http://listsList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messagesList'>
      <soap12:operation soapAction='http://messagesList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='verticalresponse'>
    <documentation>verticalResponse helps users create and send great email campaigns We make contact and list management easy allowing users to create contacts group them into meaningful lists and use these lists to send targeted email campaigns VerticalResponse provides REST APIs to manage contacts lists messages and custom fields Developers can integrate VerticalResponse s email and social marketing functionality into their applications to provide their customers with new and interesting ways to create and manage marketing campaigns</documentation>
    <port name='verticalresponsePort' binding='tns:verticalresponseBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://verticalresponse' />
    </port>
  </service>
</definitions>