workspace/datasets/mashape_dataset/videohardcutdetection.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/videoHardCutDetection/' name='videoHardCutDetection' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/videoHardCutDetection/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/videoHardCutDetection/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/videoHardCutDetection/'>
      <xsd:element name='videoHardCutDetectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='videoHardCutDetectionRequestMessage' />
  <message name='videoHardCutDetectionResponseMessage'>
    <part name='response' element='tns:videoHardCutDetectionResponse' />
  </message>
  <portType name='videoHardCutDetectionPortType'>
    <operation name='videoHardCutDetection'>
      <documentation>video hard cut detection is used for separating a video stream into a set of individual scenes by detecting camera hard transitions automatically Based on the result the user can obtain a fast overview on the video content by browsing extracted key frames from each video scene Furthermore with the corresponding time information the user can directly navigate to the expected video content</documentation>
      <input message='tns:videoHardCutDetectionRequestMessage' name='videoHardCutDetectionInput' />
      <output message='tns:videoHardCutDetectionResponseMessage' name='videoHardCutDetectionOutput' />
    </operation>
  </portType>
  <binding name='videoHardCutDetectionBinding' type='tns:videoHardCutDetectionPortType'>
    <operation name='videoHardCutDetection'>
      <soap12:operation soapAction='http://videoHardCutDetection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='videoHardCutDetection'>
    <documentation>video hard cut detection is used for separating a video stream into a set of individual scenes by detecting camera hard transitions automatically Based on the result the user can obtain a fast overview on the video content by browsing extracted key frames from each video scene Furthermore with the corresponding time information the user can directly navigate to the expected video content Demo link https www semamediadata com demo video sbd</documentation>
    <port name='videoHardCutDetectionPort' binding='tns:videoHardCutDetectionBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://videoHardCutDetection' />
    </port>
  </service>
</definitions>