workspace/datasets/mashape_dataset/videoanddownloadlinksearch.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/videoAndDownloadLinkSearch/' name='videoAndDownloadLinkSearch' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/videoAndDownloadLinkSearch/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/videoAndDownloadLinkSearch/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/videoAndDownloadLinkSearch/'>
      <xsd:element name='hosterurlFiledataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='filedataid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hosterurlFiledataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='imageid' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sizeinternal' type='xsd:int' minOccurs='0' />
                  <xsd:element name='length' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hosterurl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='filedata' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='resultcount' type='xsd:int' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='from' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='getmeta' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='searchtype' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='extension' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='imageid' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sizeinternal' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sourcetitle' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sourcename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='metatags' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='hosterurls' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='part' type='xsd:int' minOccurs='0' />
                        <xsd:element name='filedata' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='filedataid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hostername' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:string' minOccurs='0' />
                  <xsd:element name='sourceurl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='download' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='stream' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='modified' type='xsd:string' minOccurs='0' />
                  <xsd:element name='checked' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='resultcount' type='xsd:int' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sourceurlMetadataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='mdofsourceurl' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sourceurlMetadataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='sourceurl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='sourcename' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sourcetitle' type='xsd:string' minOccurs='0' />
                  <xsd:element name='metatags' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='lang' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='resultcount' type='xsd:int' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='thumbnailParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='imageid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='thumbnailResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='thumbnail_base64' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='resultcount' type='xsd:int' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='hosterurlFiledataRequestMessage'>
    <part name='parameters' element='tns:hosterurlFiledataParameters' />
  </message>
  <message name='hosterurlFiledataResponseMessage'>
    <part name='response' element='tns:hosterurlFiledataResponse' />
  </message>
  <message name='searchRequestMessage'>
    <part name='parameters' element='tns:searchParameters' />
  </message>
  <message name='searchResponseMessage'>
    <part name='response' element='tns:searchResponse' />
  </message>
  <message name='sourceurlMetadataRequestMessage'>
    <part name='parameters' element='tns:sourceurlMetadataParameters' />
  </message>
  <message name='sourceurlMetadataResponseMessage'>
    <part name='response' element='tns:sourceurlMetadataResponse' />
  </message>
  <message name='thumbnailRequestMessage'>
    <part name='parameters' element='tns:thumbnailParameters' />
  </message>
  <message name='thumbnailResponseMessage'>
    <part name='response' element='tns:thumbnailResponse' />
  </message>
  <portType name='videoAndDownloadLinkSearchPortType'>
    <operation name='hosterurlFiledata'>
      <documentation>request additional metadata about a filehost url</documentation>
      <input message='tns:hosterurlFiledataRequestMessage' name='hosterurlFiledataInput' />
      <output message='tns:hosterurlFiledataResponseMessage' name='hosterurlFiledataOutput' />
    </operation>
    <operation name='search'>
      <documentation>search for download links using the usual alluc search operators https www alluc com about</documentation>
      <input message='tns:searchRequestMessage' name='searchInput' />
      <output message='tns:searchResponseMessage' name='searchOutput' />
    </operation>
    <operation name='sourceurlMetadata'>
      <documentation>request more information about a source url URL where a hoster link was found</documentation>
      <input message='tns:sourceurlMetadataRequestMessage' name='sourceurlMetadataInput' />
      <output message='tns:sourceurlMetadataResponseMessage' name='sourceurlMetadataOutput' />
    </operation>
    <operation name='thumbnail'>
      <documentation>fetch a thumbnail imageid is returned in api search</documentation>
      <input message='tns:thumbnailRequestMessage' name='thumbnailInput' />
      <output message='tns:thumbnailResponseMessage' name='thumbnailOutput' />
    </operation>
  </portType>
  <binding name='videoAndDownloadLinkSearchBinding' type='tns:videoAndDownloadLinkSearchPortType'>
    <operation name='hosterurlFiledata'>
      <soap12:operation soapAction='http://hosterurlFiledata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='search'>
      <soap12:operation soapAction='http://search' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sourceurlMetadata'>
      <soap12:operation soapAction='http://sourceurlMetadata' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='thumbnail'>
      <soap12:operation soapAction='http://thumbnail' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='videoAndDownloadLinkSearch'>
    <documentation>access allucs database of million video and download links and execute full text search to find cyberlocker and video links related to any topic Documentation http wiki alluc to API For sign up outside of mashape with lower latencies http api alluc com</documentation>
    <port name='videoAndDownloadLinkSearchPort' binding='tns:videoAndDownloadLinkSearchBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://videoAndDownloadLinkSearch' />
    </port>
  </service>
</definitions>