workspace/datasets/mashape_dataset/vimeo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/vimeo/' name='vimeo' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/vimeo/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/vimeo/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/vimeo/'>
      <xsd:element name='getallcategoriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallcategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallchannelsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getallchannelsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcategoryinfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcategoryinfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getchannelinfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='channelid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getchannelinfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getchannelvideosParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='channelid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fullresponse' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='summaryresponse' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getchannelvideosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getrelatedchannelsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getrelatedchannelsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getrelatedpeopleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getrelatedpeopleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getrelatedtagsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getrelatedtagsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getrelatedvideosParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='category' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fullresponse' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='summaryresponse' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getrelatedvideosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideofromuserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fullresponse' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='summaryresponse' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideofromuserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideosbytagParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fullresponse' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='summaryresponse' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='tag' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideosbytagResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideoscommentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='videoid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getvideoscommentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchvideosParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fullresponse' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='perpage' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='summaryresponse' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchvideosResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getallcategoriesRequestMessage'>
    <part name='parameters' element='tns:getallcategoriesParameters' />
  </message>
  <message name='getallcategoriesResponseMessage'>
    <part name='response' element='tns:getallcategoriesResponse' />
  </message>
  <message name='getallchannelsRequestMessage'>
    <part name='parameters' element='tns:getallchannelsParameters' />
  </message>
  <message name='getallchannelsResponseMessage'>
    <part name='response' element='tns:getallchannelsResponse' />
  </message>
  <message name='getcategoryinfoRequestMessage'>
    <part name='parameters' element='tns:getcategoryinfoParameters' />
  </message>
  <message name='getcategoryinfoResponseMessage'>
    <part name='response' element='tns:getcategoryinfoResponse' />
  </message>
  <message name='getchannelinfoRequestMessage'>
    <part name='parameters' element='tns:getchannelinfoParameters' />
  </message>
  <message name='getchannelinfoResponseMessage'>
    <part name='response' element='tns:getchannelinfoResponse' />
  </message>
  <message name='getchannelvideosRequestMessage'>
    <part name='parameters' element='tns:getchannelvideosParameters' />
  </message>
  <message name='getchannelvideosResponseMessage'>
    <part name='response' element='tns:getchannelvideosResponse' />
  </message>
  <message name='getrelatedchannelsRequestMessage'>
    <part name='parameters' element='tns:getrelatedchannelsParameters' />
  </message>
  <message name='getrelatedchannelsResponseMessage'>
    <part name='response' element='tns:getrelatedchannelsResponse' />
  </message>
  <message name='getrelatedpeopleRequestMessage'>
    <part name='parameters' element='tns:getrelatedpeopleParameters' />
  </message>
  <message name='getrelatedpeopleResponseMessage'>
    <part name='response' element='tns:getrelatedpeopleResponse' />
  </message>
  <message name='getrelatedtagsRequestMessage'>
    <part name='parameters' element='tns:getrelatedtagsParameters' />
  </message>
  <message name='getrelatedtagsResponseMessage'>
    <part name='response' element='tns:getrelatedtagsResponse' />
  </message>
  <message name='getrelatedvideosRequestMessage'>
    <part name='parameters' element='tns:getrelatedvideosParameters' />
  </message>
  <message name='getrelatedvideosResponseMessage'>
    <part name='response' element='tns:getrelatedvideosResponse' />
  </message>
  <message name='getvideofromuserRequestMessage'>
    <part name='parameters' element='tns:getvideofromuserParameters' />
  </message>
  <message name='getvideofromuserResponseMessage'>
    <part name='response' element='tns:getvideofromuserResponse' />
  </message>
  <message name='getvideosbytagRequestMessage'>
    <part name='parameters' element='tns:getvideosbytagParameters' />
  </message>
  <message name='getvideosbytagResponseMessage'>
    <part name='response' element='tns:getvideosbytagResponse' />
  </message>
  <message name='getvideoscommentRequestMessage'>
    <part name='parameters' element='tns:getvideoscommentParameters' />
  </message>
  <message name='getvideoscommentResponseMessage'>
    <part name='response' element='tns:getvideoscommentResponse' />
  </message>
  <message name='searchvideosRequestMessage'>
    <part name='parameters' element='tns:searchvideosParameters' />
  </message>
  <message name='searchvideosResponseMessage'>
    <part name='response' element='tns:searchvideosResponse' />
  </message>
  <portType name='vimeoPortType'>
    <operation name='getallcategories'>
      <documentation></documentation>
      <input message='tns:getallcategoriesRequestMessage' name='getallcategoriesInput' />
      <output message='tns:getallcategoriesResponseMessage' name='getallcategoriesOutput' />
    </operation>
    <operation name='getallchannels'>
      <documentation>get a list of all public channels</documentation>
      <input message='tns:getallchannelsRequestMessage' name='getallchannelsInput' />
      <output message='tns:getallchannelsResponseMessage' name='getallchannelsOutput' />
    </operation>
    <operation name='getcategoryinfo'>
      <documentation></documentation>
      <input message='tns:getcategoryinfoRequestMessage' name='getcategoryinfoInput' />
      <output message='tns:getcategoryinfoResponseMessage' name='getcategoryinfoOutput' />
    </operation>
    <operation name='getchannelinfo'>
      <documentation>get the information on a single channel</documentation>
      <input message='tns:getchannelinfoRequestMessage' name='getchannelinfoInput' />
      <output message='tns:getchannelinfoResponseMessage' name='getchannelinfoOutput' />
    </operation>
    <operation name='getchannelvideos'>
      <documentation>get a list of the videos in a channel</documentation>
      <input message='tns:getchannelvideosRequestMessage' name='getchannelvideosInput' />
      <output message='tns:getchannelvideosResponseMessage' name='getchannelvideosOutput' />
    </operation>
    <operation name='getrelatedchannels'>
      <documentation></documentation>
      <input message='tns:getrelatedchannelsRequestMessage' name='getrelatedchannelsInput' />
      <output message='tns:getrelatedchannelsResponseMessage' name='getrelatedchannelsOutput' />
    </operation>
    <operation name='getrelatedpeople'>
      <documentation>get a list of related people for a category</documentation>
      <input message='tns:getrelatedpeopleRequestMessage' name='getrelatedpeopleInput' />
      <output message='tns:getrelatedpeopleResponseMessage' name='getrelatedpeopleOutput' />
    </operation>
    <operation name='getrelatedtags'>
      <documentation>get a list of related tags for a category</documentation>
      <input message='tns:getrelatedtagsRequestMessage' name='getrelatedtagsInput' />
      <output message='tns:getrelatedtagsResponseMessage' name='getrelatedtagsOutput' />
    </operation>
    <operation name='getrelatedvideos'>
      <documentation></documentation>
      <input message='tns:getrelatedvideosRequestMessage' name='getrelatedvideosInput' />
      <output message='tns:getrelatedvideosResponseMessage' name='getrelatedvideosOutput' />
    </operation>
    <operation name='getvideofromuser'>
      <documentation>get all videos credited to a user both uploaded and appears</documentation>
      <input message='tns:getvideofromuserRequestMessage' name='getvideofromuserInput' />
      <output message='tns:getvideofromuserResponseMessage' name='getvideofromuserOutput' />
    </operation>
    <operation name='getvideosbytag'>
      <documentation>get a list of videos that have the specified tag</documentation>
      <input message='tns:getvideosbytagRequestMessage' name='getvideosbytagInput' />
      <output message='tns:getvideosbytagResponseMessage' name='getvideosbytagOutput' />
    </operation>
    <operation name='getvideoscomment'>
      <documentation>get a list of the comments on a video</documentation>
      <input message='tns:getvideoscommentRequestMessage' name='getvideoscommentInput' />
      <output message='tns:getvideoscommentResponseMessage' name='getvideoscommentOutput' />
    </operation>
    <operation name='searchvideos'>
      <documentation>search for videos</documentation>
      <input message='tns:searchvideosRequestMessage' name='searchvideosInput' />
      <output message='tns:searchvideosResponseMessage' name='searchvideosOutput' />
    </operation>
  </portType>
  <binding name='vimeoBinding' type='tns:vimeoPortType'>
    <operation name='getallcategories'>
      <soap12:operation soapAction='http://getallcategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getallchannels'>
      <soap12:operation soapAction='http://getallchannels' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcategoryinfo'>
      <soap12:operation soapAction='http://getcategoryinfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getchannelinfo'>
      <soap12:operation soapAction='http://getchannelinfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getchannelvideos'>
      <soap12:operation soapAction='http://getchannelvideos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getrelatedchannels'>
      <soap12:operation soapAction='http://getrelatedchannels' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getrelatedpeople'>
      <soap12:operation soapAction='http://getrelatedpeople' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getrelatedtags'>
      <soap12:operation soapAction='http://getrelatedtags' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getrelatedvideos'>
      <soap12:operation soapAction='http://getrelatedvideos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getvideofromuser'>
      <soap12:operation soapAction='http://getvideofromuser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getvideosbytag'>
      <soap12:operation soapAction='http://getvideosbytag' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getvideoscomment'>
      <soap12:operation soapAction='http://getvideoscomment' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchvideos'>
      <soap12:operation soapAction='http://searchvideos' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='vimeo'>
    <documentation>vimeo API</documentation>
    <port name='vimeoPort' binding='tns:vimeoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://vimeo' />
    </port>
  </service>
</definitions>