workspace/datasets/mashape_dataset/vineapp.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/vineApp/' name='vineApp' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/vineApp/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/vineApp/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/vineApp/'>
      <xsd:element name='getNotificationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getNotificationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='previousPage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='records' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='notificationTypeId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='displayUserId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='avatarUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='displayAvatarUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='verified' type='xsd:int' minOccurs='0' />
                        <xsd:element name='notificationId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='postId' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='body' type='xsd:string' minOccurs='0' />
                        <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='thumbnailUrl' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='nextPage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPopularResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='size' type='xsd:int' minOccurs='0' />
            <xsd:element name='records' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='comments' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='previousPage' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='size' type='xsd:int' minOccurs='0' />
                        <xsd:element name='records' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='avatarUrl' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='commentId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='comment' type='xsd:string' minOccurs='0' />
                              <xsd:element name='location' type='xsd:string' minOccurs='0' />
                              <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='username' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='nextPage' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='count' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='avatarUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='videoLowURL' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='postToFacebook' type='xsd:int' minOccurs='0' />
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='postId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='promoted' type='xsd:int' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='liked' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='videoUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='postToTwitter' type='xsd:int' minOccurs='0' />
                  <xsd:element name='foursquareVenueId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='location' type='xsd:string' minOccurs='0' />
                  <xsd:element name='likes' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='previousPage' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='size' type='xsd:int' minOccurs='0' />
                        <xsd:element name='records' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='avatarUrl' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='likeId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='username' type='xsd:string' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='nextPage' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='count' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='thumbnailUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='username' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSinglePostParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='postid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getSinglePostResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='previousPage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='nextPage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTagParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='tag' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTagResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='previousPage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='records' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='comments' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='previousPage' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='size' type='xsd:int' minOccurs='0' />
                              <xsd:element name='nextPage' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='count' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='videoLowURL' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='avatarUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='created' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='postToFacebook' type='xsd:int' minOccurs='0' />
                        <xsd:element name='verified' type='xsd:int' minOccurs='0' />
                        <xsd:element name='description' type='xsd:string' minOccurs='0' />
                        <xsd:element name='postId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='promoted' type='xsd:int' minOccurs='0' />
                        <xsd:element name='explicitContent' type='xsd:int' minOccurs='0' />
                        <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='liked' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='tags' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='tagId' type='xsd:int' minOccurs='0' />
                              <xsd:element name='tag' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='videoUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='postToTwitter' type='xsd:int' minOccurs='0' />
                        <xsd:element name='foursquareVenueId' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='thumbnailUrl' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='likes' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='previousPage' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='size' type='xsd:int' minOccurs='0' />
                              <xsd:element name='nextPage' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='count' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='nextPage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avatarUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='facebookConnected' type='xsd:int' minOccurs='0' />
                  <xsd:element name='verified' type='xsd:int' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='likeCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='followingCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='twitterId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='twitterConnected' type='xsd:int' minOccurs='0' />
                  <xsd:element name='phoneNumber' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='following' type='xsd:int' minOccurs='0' />
                  <xsd:element name='postCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='location' type='xsd:string' minOccurs='0' />
                  <xsd:element name='followerCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserDataSelfResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='avatarUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='facebookConnected' type='xsd:int' minOccurs='0' />
                  <xsd:element name='verified' type='xsd:int' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='likeCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='followingCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='twitterId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='twitterConnected' type='xsd:int' minOccurs='0' />
                  <xsd:element name='phoneNumber' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='following' type='xsd:int' minOccurs='0' />
                  <xsd:element name='postCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='location' type='xsd:string' minOccurs='0' />
                  <xsd:element name='followerCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserTimelineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getUserTimelineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='previousPage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='size' type='xsd:int' minOccurs='0' />
                  <xsd:element name='nextPage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='count' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loginResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' minOccurs='0' />
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='userId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='logoutResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='code' type='xsd:string' minOccurs='0' />
            <xsd:element name='data' type='xsd:string' minOccurs='0' />
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getNotificationsRequestMessage'>
    <part name='parameters' element='tns:getNotificationsParameters' />
  </message>
  <message name='getNotificationsResponseMessage'>
    <part name='response' element='tns:getNotificationsResponse' />
  </message>
  <message name='getPopularRequestMessage' />
  <message name='getPopularResponseMessage'>
    <part name='response' element='tns:getPopularResponse' />
  </message>
  <message name='getSinglePostRequestMessage'>
    <part name='parameters' element='tns:getSinglePostParameters' />
  </message>
  <message name='getSinglePostResponseMessage'>
    <part name='response' element='tns:getSinglePostResponse' />
  </message>
  <message name='getTagRequestMessage'>
    <part name='parameters' element='tns:getTagParameters' />
  </message>
  <message name='getTagResponseMessage'>
    <part name='response' element='tns:getTagResponse' />
  </message>
  <message name='getUserDataRequestMessage'>
    <part name='parameters' element='tns:getUserDataParameters' />
  </message>
  <message name='getUserDataResponseMessage'>
    <part name='response' element='tns:getUserDataResponse' />
  </message>
  <message name='getUserDataSelfRequestMessage' />
  <message name='getUserDataSelfResponseMessage'>
    <part name='response' element='tns:getUserDataSelfResponse' />
  </message>
  <message name='getUserTimelineRequestMessage'>
    <part name='parameters' element='tns:getUserTimelineParameters' />
  </message>
  <message name='getUserTimelineResponseMessage'>
    <part name='response' element='tns:getUserTimelineResponse' />
  </message>
  <message name='loginRequestMessage' />
  <message name='loginResponseMessage'>
    <part name='response' element='tns:loginResponse' />
  </message>
  <message name='logoutRequestMessage' />
  <message name='logoutResponseMessage'>
    <part name='response' element='tns:logoutResponse' />
  </message>
  <portType name='vineAppPortType'>
    <operation name='getNotifications'>
      <documentation></documentation>
      <input message='tns:getNotificationsRequestMessage' name='getNotificationsInput' />
      <output message='tns:getNotificationsResponseMessage' name='getNotificationsOutput' />
    </operation>
    <operation name='getPopular'>
      <documentation></documentation>
      <input message='tns:getPopularRequestMessage' name='getPopularInput' />
      <output message='tns:getPopularResponseMessage' name='getPopularOutput' />
    </operation>
    <operation name='getSinglePost'>
      <documentation></documentation>
      <input message='tns:getSinglePostRequestMessage' name='getSinglePostInput' />
      <output message='tns:getSinglePostResponseMessage' name='getSinglePostOutput' />
    </operation>
    <operation name='getTag'>
      <documentation></documentation>
      <input message='tns:getTagRequestMessage' name='getTagInput' />
      <output message='tns:getTagResponseMessage' name='getTagOutput' />
    </operation>
    <operation name='getUserData'>
      <documentation></documentation>
      <input message='tns:getUserDataRequestMessage' name='getUserDataInput' />
      <output message='tns:getUserDataResponseMessage' name='getUserDataOutput' />
    </operation>
    <operation name='getUserDataSelf'>
      <documentation></documentation>
      <input message='tns:getUserDataSelfRequestMessage' name='getUserDataSelfInput' />
      <output message='tns:getUserDataSelfResponseMessage' name='getUserDataSelfOutput' />
    </operation>
    <operation name='getUserTimeline'>
      <documentation></documentation>
      <input message='tns:getUserTimelineRequestMessage' name='getUserTimelineInput' />
      <output message='tns:getUserTimelineResponseMessage' name='getUserTimelineOutput' />
    </operation>
    <operation name='login'>
      <documentation></documentation>
      <input message='tns:loginRequestMessage' name='loginInput' />
      <output message='tns:loginResponseMessage' name='loginOutput' />
    </operation>
    <operation name='logout'>
      <documentation></documentation>
      <input message='tns:logoutRequestMessage' name='logoutInput' />
      <output message='tns:logoutResponseMessage' name='logoutOutput' />
    </operation>
  </portType>
  <binding name='vineAppBinding' type='tns:vineAppPortType'>
    <operation name='getNotifications'>
      <soap12:operation soapAction='http://getNotifications' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPopular'>
      <soap12:operation soapAction='http://getPopular' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getSinglePost'>
      <soap12:operation soapAction='http://getSinglePost' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTag'>
      <soap12:operation soapAction='http://getTag' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserData'>
      <soap12:operation soapAction='http://getUserData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserDataSelf'>
      <soap12:operation soapAction='http://getUserDataSelf' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getUserTimeline'>
      <soap12:operation soapAction='http://getUserTimeline' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='login'>
      <soap12:operation soapAction='http://login' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='logout'>
      <soap12:operation soapAction='http://logout' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='vineApp'>
    <documentation>the one and only public documentation of Vine app</documentation>
    <port name='vineAppPort' binding='tns:vineAppBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://vineApp' />
    </port>
  </service>
</definitions>