workspace/datasets/mashape_dataset/voxscivoicetotext.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/voxsciVoiceToText/' name='voxsciVoiceToText' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/voxsciVoiceToText/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/voxsciVoiceToText/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/voxsciVoiceToText/'>
      <xsd:element name='voxResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='voxRequestMessage' />
  <message name='voxResponseMessage'>
    <part name='response' element='tns:voxResponse' />
  </message>
  <portType name='voxsciVoiceToTextPortType'>
    <operation name='vox'>
      <documentation>results will be pushed to a callback endpoint you specify at https www voxsci com showUserUpdateProfile</documentation>
      <input message='tns:voxRequestMessage' name='voxInput' />
      <output message='tns:voxResponseMessage' name='voxOutput' />
    </operation>
  </portType>
  <binding name='voxsciVoiceToTextBinding' type='tns:voxsciVoiceToTextPortType'>
    <operation name='vox'>
      <soap12:operation soapAction='http://vox' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='voxsciVoiceToText'>
    <documentation>vAPI VoxSci Application Programming Interface Comment lines voice of the customer marketing surveys opinion polls marketing questionnaires network or PABX operators and affiliates with large volumes of voice messages can benefit from the improved efficiency and security of using our API interface Using VAPI you can integrate existing systems to handle voice to text conversions transparently by sending us the audio files and letting our system cope with the transcriptions which are then sent back to your system VAPI is a straight forward API and messages can be sent to us in a variety of ways from email through to XML HTTP requests via a secure direct connection between your IT structure and ours All responses can also then be sent back in email or via HTTP PUSH in XML format</documentation>
    <port name='voxsciVoiceToTextPort' binding='tns:voxsciVoiceToTextBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://voxsciVoiceToText' />
    </port>
  </service>
</definitions>