workspace/datasets/mashape_dataset/vrpmssmartorder.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/vrPmsSmartorder/' name='vrPmsSmartorder' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/vrPmsSmartorder/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/vrPmsSmartorder/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/vrPmsSmartorder/'>
      <xsd:element name='vrPmsSmartorderResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vrPmsSmartorderTypeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='vrPmsSmartorderTypeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='exception' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='path' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='error' type='xsd:string' minOccurs='0' />
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
            <xsd:element name='timestamp' type='xsd:int' minOccurs='0' />
            <xsd:element name='status' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='vrPmsSmartorderRequestMessage' />
  <message name='vrPmsSmartorderResponseMessage'>
    <part name='response' element='tns:vrPmsSmartorderResponse' />
  </message>
  <message name='vrPmsSmartorderTypeRequestMessage'>
    <part name='parameters' element='tns:vrPmsSmartorderTypeParameters' />
  </message>
  <message name='vrPmsSmartorderTypeResponseMessage'>
    <part name='response' element='tns:vrPmsSmartorderTypeResponse' />
  </message>
  <portType name='vrPmsSmartorderPortType'>
    <operation name='vrPmsSmartorder'>
      <documentation></documentation>
      <input message='tns:vrPmsSmartorderRequestMessage' name='vrPmsSmartorderInput' />
      <output message='tns:vrPmsSmartorderResponseMessage' name='vrPmsSmartorderOutput' />
    </operation>
    <operation name='vrPmsSmartorderType'>
      <input message='tns:vrPmsSmartorderTypeRequestMessage' name='vrPmsSmartorderTypeInput' />
      <output message='tns:vrPmsSmartorderTypeResponseMessage' name='vrPmsSmartorderTypeOutput' />
    </operation>
  </portType>
  <binding name='vrPmsSmartorderBinding' type='tns:vrPmsSmartorderPortType'>
    <operation name='vrPmsSmartorder'>
      <soap12:operation soapAction='http://vrPmsSmartorder' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='vrPmsSmartorderType'>
      <soap12:operation soapAction='http://vrPmsSmartorderType' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='vrPmsSmartorder'>
    <documentation>this API will sort the given products based on Amenities or Walk Score or Both</documentation>
    <port name='vrPmsSmartorderPort' binding='tns:vrPmsSmartorderBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://vrPmsSmartorder' />
    </port>
  </service>
</definitions>