workspace/datasets/mashape_dataset/wallgigv.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/wallgigV/' name='wallgigV' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/wallgigV/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/wallgigV/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/wallgigV/'>
      <xsd:element name='sessionsCreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='user_token' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userFavouritesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userFavouritesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='wallpaperParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='wallpaperResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='wallpapersCreateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='pagination' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='per_page' type='xsd:int' minOccurs='0' />
                  <xsd:element name='total_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='next_url' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='total_pages' type='xsd:int' minOccurs='0' />
                  <xsd:element name='current_page' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='wallpapers' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='owner' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='username' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='image' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='thumbnail' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='original' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='width' type='xsd:int' minOccurs='0' />
                              <xsd:element name='url' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='height' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='file_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='gravity' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='purity' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='source' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='tags' type='xsd:normalizedString' maxOccurs='unbounded' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='wallpapersIndexParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='colors' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='excludetags' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='height' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='order' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='page' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='purity' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='q' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tags' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='width' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='wallpapersIndexResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='sessionsCreateRequestMessage' />
  <message name='sessionsCreateResponseMessage'>
    <part name='response' element='tns:sessionsCreateResponse' />
  </message>
  <message name='userFavouritesRequestMessage'>
    <part name='parameters' element='tns:userFavouritesParameters' />
  </message>
  <message name='userFavouritesResponseMessage'>
    <part name='response' element='tns:userFavouritesResponse' />
  </message>
  <message name='wallpaperRequestMessage'>
    <part name='parameters' element='tns:wallpaperParameters' />
  </message>
  <message name='wallpaperResponseMessage'>
    <part name='response' element='tns:wallpaperResponse' />
  </message>
  <message name='wallpapersCreateRequestMessage' />
  <message name='wallpapersCreateResponseMessage'>
    <part name='response' element='tns:wallpapersCreateResponse' />
  </message>
  <message name='wallpapersIndexRequestMessage'>
    <part name='parameters' element='tns:wallpapersIndexParameters' />
  </message>
  <message name='wallpapersIndexResponseMessage'>
    <part name='response' element='tns:wallpapersIndexResponse' />
  </message>
  <portType name='wallgigVPortType'>
    <operation name='sessionsCreate'>
      <documentation>generates a user token to make authenticated requests</documentation>
      <input message='tns:sessionsCreateRequestMessage' name='sessionsCreateInput' />
      <output message='tns:sessionsCreateResponseMessage' name='sessionsCreateOutput' />
    </operation>
    <operation name='userFavourites'>
      <documentation></documentation>
      <input message='tns:userFavouritesRequestMessage' name='userFavouritesInput' />
      <output message='tns:userFavouritesResponseMessage' name='userFavouritesOutput' />
    </operation>
    <operation name='wallpaper'>
      <documentation></documentation>
      <input message='tns:wallpaperRequestMessage' name='wallpaperInput' />
      <output message='tns:wallpaperResponseMessage' name='wallpaperOutput' />
    </operation>
    <operation name='wallpapersCreate'>
      <documentation></documentation>
      <input message='tns:wallpapersCreateRequestMessage' name='wallpapersCreateInput' />
      <output message='tns:wallpapersCreateResponseMessage' name='wallpapersCreateOutput' />
    </operation>
    <operation name='wallpapersIndex'>
      <documentation></documentation>
      <input message='tns:wallpapersIndexRequestMessage' name='wallpapersIndexInput' />
      <output message='tns:wallpapersIndexResponseMessage' name='wallpapersIndexOutput' />
    </operation>
  </portType>
  <binding name='wallgigVBinding' type='tns:wallgigVPortType'>
    <operation name='sessionsCreate'>
      <soap12:operation soapAction='http://sessionsCreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userFavourites'>
      <soap12:operation soapAction='http://userFavourites' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='wallpaper'>
      <soap12:operation soapAction='http://wallpaper' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='wallpapersCreate'>
      <soap12:operation soapAction='http://wallpapersCreate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='wallpapersIndex'>
      <soap12:operation soapAction='http://wallpapersIndex' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='wallgigV'>
    <documentation>aPI for wallgig net a wallpaper sharing community</documentation>
    <port name='wallgigVPort' binding='tns:wallgigVBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://wallgigV' />
    </port>
  </service>
</definitions>