workspace/datasets/mashape_dataset/weatherbyip.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/weatherByIp/' name='weatherByIp' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/weatherByIp/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/weatherByIp/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/weatherByIp/'>
      <xsd:element name='csvParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='csvResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='jsonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='callback' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='jsonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='weather' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='condition' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='main' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='temp' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='temp_min' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                  <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='sea_level' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='temp_max' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='location' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ip' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='wind' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='degree' type='xsd:int' minOccurs='0' />
                  <xsd:element name='speed' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newLineParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='newLineResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='phpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='phpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serializedParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='serializedResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='xmlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='xmlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='yamlParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='yamlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='csvRequestMessage'>
    <part name='parameters' element='tns:csvParameters' />
  </message>
  <message name='csvResponseMessage'>
    <part name='response' element='tns:csvResponse' />
  </message>
  <message name='jsonRequestMessage'>
    <part name='parameters' element='tns:jsonParameters' />
  </message>
  <message name='jsonResponseMessage'>
    <part name='response' element='tns:jsonResponse' />
  </message>
  <message name='newLineRequestMessage'>
    <part name='parameters' element='tns:newLineParameters' />
  </message>
  <message name='newLineResponseMessage'>
    <part name='response' element='tns:newLineResponse' />
  </message>
  <message name='phpRequestMessage'>
    <part name='parameters' element='tns:phpParameters' />
  </message>
  <message name='phpResponseMessage'>
    <part name='response' element='tns:phpResponse' />
  </message>
  <message name='serializedRequestMessage'>
    <part name='parameters' element='tns:serializedParameters' />
  </message>
  <message name='serializedResponseMessage'>
    <part name='response' element='tns:serializedResponse' />
  </message>
  <message name='xmlRequestMessage'>
    <part name='parameters' element='tns:xmlParameters' />
  </message>
  <message name='xmlResponseMessage'>
    <part name='response' element='tns:xmlResponse' />
  </message>
  <message name='yamlRequestMessage'>
    <part name='parameters' element='tns:yamlParameters' />
  </message>
  <message name='yamlResponseMessage'>
    <part name='response' element='tns:yamlResponse' />
  </message>
  <portType name='weatherByIpPortType'>
    <operation name='csv'>
      <documentation>to receive the response in CSV Comma separated values format</documentation>
      <input message='tns:csvRequestMessage' name='csvInput' />
      <output message='tns:csvResponseMessage' name='csvOutput' />
    </operation>
    <operation name='json'>
      <documentation>to receive the response in JSON format</documentation>
      <input message='tns:jsonRequestMessage' name='jsonInput' />
      <output message='tns:jsonResponseMessage' name='jsonOutput' />
    </operation>
    <operation name='newLine'>
      <documentation>to receive the response in Newline n separated values format</documentation>
      <input message='tns:newLineRequestMessage' name='newLineInput' />
      <output message='tns:newLineResponseMessage' name='newLineOutput' />
    </operation>
    <operation name='php'>
      <documentation>to receive the response as PHP code</documentation>
      <input message='tns:phpRequestMessage' name='phpInput' />
      <output message='tns:phpResponseMessage' name='phpOutput' />
    </operation>
    <operation name='serialized'>
      <documentation>to receive the response in Serialized PHP serialize format</documentation>
      <input message='tns:serializedRequestMessage' name='serializedInput' />
      <output message='tns:serializedResponseMessage' name='serializedOutput' />
    </operation>
    <operation name='xml'>
      <documentation>to receive the response in XML format</documentation>
      <input message='tns:xmlRequestMessage' name='xmlInput' />
      <output message='tns:xmlResponseMessage' name='xmlOutput' />
    </operation>
    <operation name='yaml'>
      <documentation>to receive the response in YAML format</documentation>
      <input message='tns:yamlRequestMessage' name='yamlInput' />
      <output message='tns:yamlResponseMessage' name='yamlOutput' />
    </operation>
  </portType>
  <binding name='weatherByIpBinding' type='tns:weatherByIpPortType'>
    <operation name='csv'>
      <soap12:operation soapAction='http://csv' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='json'>
      <soap12:operation soapAction='http://json' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='newLine'>
      <soap12:operation soapAction='http://newLine' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='php'>
      <soap12:operation soapAction='http://php' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='serialized'>
      <soap12:operation soapAction='http://serialized' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='xml'>
      <soap12:operation soapAction='http://xml' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='yaml'>
      <soap12:operation soapAction='http://yaml' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='weatherByIp'>
    <documentation>the Weather By IP API allows you to find weather information such as Weather condition Current Temperature Max Temperature Min Temperature Pressure Sea Level Humidity Wind Speed Degree of any given IP address The API can also return results in many different formats such as JSON XML CSV YAML PHP Serialized PHP and Text</documentation>
    <port name='weatherByIpPort' binding='tns:weatherByIpBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://weatherByIp' />
    </port>
  </service>
</definitions>