workspace/datasets/mashape_dataset/web.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/web/' name='web' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/web/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/web/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/web/'>
      <xsd:element name='detectAuthorParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectAuthorResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='link' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectLanguageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectLanguageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='confidence' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='language' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectLastModifiedDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectLastModifiedDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lastModifiedDate' type='xsd:date' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectPublishDateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='detectPublishDateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='publishDate' type='xsd:date' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='extractContentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='extractContentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='images' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='mainText' type='xsd:string' minOccurs='0' />
            <xsd:element name='title' type='xsd:string' minOccurs='0' />
            <xsd:element name='mainHtml' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rankAWebPageParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='service' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rankAWebPageResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alexa' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Alexa_Rank' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rateTheQualityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rateTheQualityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='numberOfWords' type='xsd:int' minOccurs='0' />
            <xsd:element name='skimmability' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='mainscores' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='total' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='totalPossible' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='subscores' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='highlightedWordRatioScore' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='bulletPointRatioScore' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='paragraphHeadlineRatioScore' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='videoScore' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='imageScore' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='paragraphScore' type='xsd:int' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='readability' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='mainscores' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='total' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='totalPossible' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='subscores' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='forcast' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='flesch' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='smog' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='colemanLiau' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='ari' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='lix' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='kincaid' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='fog' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='interestingness' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='mainscores' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='total' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='totalPossible' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='subscores' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='googleHitsScore' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='linkScore' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='quoteScore' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='titleRatingScore' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='lengthScore' type='xsd:int' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='numberOfSentences' type='xsd:int' minOccurs='0' />
            <xsd:element name='style' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='mainscores' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='total' type='xsd:int' minOccurs='0' />
                        <xsd:element name='totalPossible' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='subscores' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='abbreviationScore' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='styleScore' type='xsd:int' maxOccurs='unbounded' />
                        <xsd:element name='spellingScore' type='xsd:int' maxOccurs='unbounded' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='totalScore' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='detectedTitle' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='detectAuthorRequestMessage'>
    <part name='parameters' element='tns:detectAuthorParameters' />
  </message>
  <message name='detectAuthorResponseMessage'>
    <part name='response' element='tns:detectAuthorResponse' />
  </message>
  <message name='detectLanguageRequestMessage'>
    <part name='parameters' element='tns:detectLanguageParameters' />
  </message>
  <message name='detectLanguageResponseMessage'>
    <part name='response' element='tns:detectLanguageResponse' />
  </message>
  <message name='detectLastModifiedDateRequestMessage'>
    <part name='parameters' element='tns:detectLastModifiedDateParameters' />
  </message>
  <message name='detectLastModifiedDateResponseMessage'>
    <part name='response' element='tns:detectLastModifiedDateResponse' />
  </message>
  <message name='detectPublishDateRequestMessage'>
    <part name='parameters' element='tns:detectPublishDateParameters' />
  </message>
  <message name='detectPublishDateResponseMessage'>
    <part name='response' element='tns:detectPublishDateResponse' />
  </message>
  <message name='extractContentRequestMessage'>
    <part name='parameters' element='tns:extractContentParameters' />
  </message>
  <message name='extractContentResponseMessage'>
    <part name='response' element='tns:extractContentResponse' />
  </message>
  <message name='rankAWebPageRequestMessage'>
    <part name='parameters' element='tns:rankAWebPageParameters' />
  </message>
  <message name='rankAWebPageResponseMessage'>
    <part name='response' element='tns:rankAWebPageResponse' />
  </message>
  <message name='rateTheQualityRequestMessage'>
    <part name='parameters' element='tns:rateTheQualityParameters' />
  </message>
  <message name='rateTheQualityResponseMessage'>
    <part name='response' element='tns:rateTheQualityResponse' />
  </message>
  <portType name='webPortType'>
    <operation name='detectAuthor'>
      <documentation>detect the author of the article on a Web page</documentation>
      <input message='tns:detectAuthorRequestMessage' name='detectAuthorInput' />
      <output message='tns:detectAuthorResponseMessage' name='detectAuthorOutput' />
    </operation>
    <operation name='detectLanguage'>
      <documentation>detect the language of a natural language text</documentation>
      <input message='tns:detectLanguageRequestMessage' name='detectLanguageInput' />
      <output message='tns:detectLanguageResponseMessage' name='detectLanguageOutput' />
    </operation>
    <operation name='detectLastModifiedDate'>
      <documentation>detect when the page was last modified</documentation>
      <input message='tns:detectLastModifiedDateRequestMessage' name='detectLastModifiedDateInput' />
      <output message='tns:detectLastModifiedDateResponseMessage' name='detectLastModifiedDateOutput' />
    </operation>
    <operation name='detectPublishDate'>
      <documentation>detect the publish date of the Web page</documentation>
      <input message='tns:detectPublishDateRequestMessage' name='detectPublishDateInput' />
      <output message='tns:detectPublishDateResponseMessage' name='detectPublishDateOutput' />
    </operation>
    <operation name='extractContent'>
      <documentation>extract the main content of a Web page</documentation>
      <input message='tns:extractContentRequestMessage' name='extractContentInput' />
      <output message='tns:extractContentResponseMessage' name='extractContentOutput' />
    </operation>
    <operation name='rankAWebPage'>
      <documentation>rank a Web page with a certain service</documentation>
      <input message='tns:rankAWebPageRequestMessage' name='rankAWebPageInput' />
      <output message='tns:rankAWebPageResponseMessage' name='rankAWebPageOutput' />
    </operation>
    <operation name='rateTheQuality'>
      <documentation>determine the quality of an article</documentation>
      <input message='tns:rateTheQualityRequestMessage' name='rateTheQualityInput' />
      <output message='tns:rateTheQualityResponseMessage' name='rateTheQualityOutput' />
    </operation>
  </portType>
  <binding name='webBinding' type='tns:webPortType'>
    <operation name='detectAuthor'>
      <soap12:operation soapAction='http://detectAuthor' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detectLanguage'>
      <soap12:operation soapAction='http://detectLanguage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detectLastModifiedDate'>
      <soap12:operation soapAction='http://detectLastModifiedDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='detectPublishDate'>
      <soap12:operation soapAction='http://detectPublishDate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='extractContent'>
      <soap12:operation soapAction='http://extractContent' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='rankAWebPage'>
      <soap12:operation soapAction='http://rankAWebPage' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='rateTheQuality'>
      <soap12:operation soapAction='http://rateTheQuality' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='web'>
    <documentation>this WebKnox web API lets you process Web pages You can detect publish modified dates language extract author content facts and rank using a service or rating the quality</documentation>
    <port name='webPort' binding='tns:webBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://web' />
    </port>
  </service>
</definitions>