workspace/datasets/mashape_dataset/webmerge.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/webmerge/' name='webmerge' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/webmerge/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/webmerge/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/webmerge/'>
      <xsd:element name='createDocumentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='output' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='size_height' type='xsd:int' minOccurs='0' />
            <xsd:element name='size' type='xsd:string' minOccurs='0' />
            <xsd:element name='size_width' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='active' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fields' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDocumentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDocumentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDocumentFieldsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDocumentFieldsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDocumentListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='output' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='size_height' type='xsd:int' minOccurs='0' />
            <xsd:element name='size' type='xsd:string' minOccurs='0' />
            <xsd:element name='size_width' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='active' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fields' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mergeDocumentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='key' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mergeDocumentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateDocumentParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateDocumentResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='output' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='size_height' type='xsd:int' minOccurs='0' />
            <xsd:element name='size' type='xsd:string' minOccurs='0' />
            <xsd:element name='size_width' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='active' type='xsd:int' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='fields' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='key' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createDocumentRequestMessage' />
  <message name='createDocumentResponseMessage'>
    <part name='response' element='tns:createDocumentResponse' />
  </message>
  <message name='deleteDocumentRequestMessage'>
    <part name='parameters' element='tns:deleteDocumentParameters' />
  </message>
  <message name='deleteDocumentResponseMessage'>
    <part name='response' element='tns:deleteDocumentResponse' />
  </message>
  <message name='getDocumentFieldsRequestMessage'>
    <part name='parameters' element='tns:getDocumentFieldsParameters' />
  </message>
  <message name='getDocumentFieldsResponseMessage'>
    <part name='response' element='tns:getDocumentFieldsResponse' />
  </message>
  <message name='getDocumentListRequestMessage' />
  <message name='getDocumentListResponseMessage'>
    <part name='response' element='tns:getDocumentListResponse' />
  </message>
  <message name='mergeDocumentRequestMessage'>
    <part name='parameters' element='tns:mergeDocumentParameters' />
  </message>
  <message name='mergeDocumentResponseMessage'>
    <part name='response' element='tns:mergeDocumentResponse' />
  </message>
  <message name='updateDocumentRequestMessage'>
    <part name='parameters' element='tns:updateDocumentParameters' />
  </message>
  <message name='updateDocumentResponseMessage'>
    <part name='response' element='tns:updateDocumentResponse' />
  </message>
  <portType name='webmergePortType'>
    <operation name='createDocument'>
      <documentation></documentation>
      <input message='tns:createDocumentRequestMessage' name='createDocumentInput' />
      <output message='tns:createDocumentResponseMessage' name='createDocumentOutput' />
    </operation>
    <operation name='deleteDocument'>
      <documentation></documentation>
      <input message='tns:deleteDocumentRequestMessage' name='deleteDocumentInput' />
      <output message='tns:deleteDocumentResponseMessage' name='deleteDocumentOutput' />
    </operation>
    <operation name='getDocumentFields'>
      <documentation></documentation>
      <input message='tns:getDocumentFieldsRequestMessage' name='getDocumentFieldsInput' />
      <output message='tns:getDocumentFieldsResponseMessage' name='getDocumentFieldsOutput' />
    </operation>
    <operation name='getDocumentList'>
      <documentation></documentation>
      <input message='tns:getDocumentListRequestMessage' name='getDocumentListInput' />
      <output message='tns:getDocumentListResponseMessage' name='getDocumentListOutput' />
    </operation>
    <operation name='mergeDocument'>
      <documentation></documentation>
      <input message='tns:mergeDocumentRequestMessage' name='mergeDocumentInput' />
      <output message='tns:mergeDocumentResponseMessage' name='mergeDocumentOutput' />
    </operation>
    <operation name='updateDocument'>
      <documentation></documentation>
      <input message='tns:updateDocumentRequestMessage' name='updateDocumentInput' />
      <output message='tns:updateDocumentResponseMessage' name='updateDocumentOutput' />
    </operation>
  </portType>
  <binding name='webmergeBinding' type='tns:webmergePortType'>
    <operation name='createDocument'>
      <soap12:operation soapAction='http://createDocument' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteDocument'>
      <soap12:operation soapAction='http://deleteDocument' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDocumentFields'>
      <soap12:operation soapAction='http://getDocumentFields' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getDocumentList'>
      <soap12:operation soapAction='http://getDocumentList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mergeDocument'>
      <soap12:operation soapAction='http://mergeDocument' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateDocument'>
      <soap12:operation soapAction='http://updateDocument' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='webmerge'>
    <documentation>webMerge automates document creation on the fly Simply setup a template using a fillable PDF Microsoft Word document or build one using our online editor and then you can generate a customized document with data from a rd party or upload your own After each document is merged into the customized document you can deliver it via email send it to a cloud storage service send it for esignature or use a webhook to send it to another API service</documentation>
    <port name='webmergePort' binding='tns:webmergeBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://webmerge' />
    </port>
  </service>
</definitions>