workspace/datasets/mashape_dataset/websitescreenshots.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/websiteScreenshots/' name='websiteScreenshots' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/websiteScreenshots/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/websiteScreenshots/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/websiteScreenshots/'>
      <xsd:element name='getParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fullpage' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='mobile' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='url' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='width' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getRequestMessage'>
    <part name='parameters' element='tns:getParameters' />
  </message>
  <message name='getResponseMessage'>
    <part name='response' element='tns:getResponse' />
  </message>
  <portType name='websiteScreenshotsPortType'>
    <operation name='get'>
      <documentation>creates a thumbnail for the given url</documentation>
      <input message='tns:getRequestMessage' name='getInput' />
      <output message='tns:getResponseMessage' name='getOutput' />
    </operation>
  </portType>
  <binding name='websiteScreenshotsBinding' type='tns:websiteScreenshotsPortType'>
    <operation name='get'>
      <soap12:operation soapAction='http://get' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='websiteScreenshots'>
    <documentation>generate screenshots of websites in JPEG or PNG This can either be the desktop version mobile version or the full page version of a website</documentation>
    <port name='websiteScreenshotsPort' binding='tns:websiteScreenshotsBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://websiteScreenshots' />
    </port>
  </service>
</definitions>