workspace/datasets/mashape_dataset/weerapiknmiweather.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/weerapiKnmiWeather/' name='weerapiKnmiWeather' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/weerapiKnmiWeather/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/weerapiKnmiWeather/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/weerapiKnmiWeather/'>
      <xsd:element name='latestWeatherObservationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='source' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='actueel' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Wijk_aan_Zee' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Berkhout' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Ell' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Terschelling' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Den_Helder' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Cabauw' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Houtribdijk' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Heino' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Stavoren' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Rotterdam' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Herwijnen' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Valkenburg' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Arcen' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Gilze_Rijen' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Leeuwarden' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Hupsel' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Eelde' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='De_Bilt' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Lauwersoog' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Hoek_van_Holland' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Hoogeveen' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Westdorpe' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Marknesse' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='IJmuiden' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Vlieland' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Volkel' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Maastricht_AP' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Woensdrecht' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Lelystad' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Eindhoven' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Vlissingen' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Schiphol' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:string' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Nieuw_Beerta' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Deelen' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Twenthe' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wind_speed_bft' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_speed_ms' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction_deg' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='visibility' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='temperature' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='weather_type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='wind_chill' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='humidity' type='xsd:int' minOccurs='0' />
                        <xsd:element name='wind_direction' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='pressure' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='timestamp' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='latestWeatherObservationsRequestMessage' />
  <message name='latestWeatherObservationsResponseMessage'>
    <part name='response' element='tns:latestWeatherObservationsResponse' />
  </message>
  <portType name='weerapiKnmiWeatherPortType'>
    <operation name='latestWeatherObservations'>
      <documentation></documentation>
      <input message='tns:latestWeatherObservationsRequestMessage' name='latestWeatherObservationsInput' />
      <output message='tns:latestWeatherObservationsResponseMessage' name='latestWeatherObservationsOutput' />
    </operation>
  </portType>
  <binding name='weerapiKnmiWeatherBinding' type='tns:weerapiKnmiWeatherPortType'>
    <operation name='latestWeatherObservations'>
      <soap12:operation soapAction='http://latestWeatherObservations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='weerapiKnmiWeather'>
    <documentation>this is a very basic JSON API for very basic weather data from the Royal Netherlands Meteorological Institute http www knmi nl index en html The KNMI offers no simple API for simple data so this one exists which scrapes their website Currently it only offers a single API call for the latest weather observations http www knmi nl actueel at monitoring stations</documentation>
    <port name='weerapiKnmiWeatherPort' binding='tns:weerapiKnmiWeatherBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://weerapiKnmiWeather' />
    </port>
  </service>
</definitions>