workspace/datasets/mashape_dataset/whatsappdecrypto.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/whatsappdecrypto/' name='whatsappdecrypto' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/whatsappdecrypto/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/whatsappdecrypto/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/whatsappdecrypto/'>
      <xsd:element name='whatsappDecryptionApiCryptResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='whatsappDecryptionApiCryptRequestMessage' />
  <message name='whatsappDecryptionApiCryptResponseMessage'>
    <part name='response' element='tns:whatsappDecryptionApiCryptResponse' />
  </message>
  <portType name='whatsappdecryptoPortType'>
    <operation name='whatsappDecryptionApiCrypt'>
      <documentation>using this API you can decrypt any crypt file of whatsapp database</documentation>
      <input message='tns:whatsappDecryptionApiCryptRequestMessage' name='whatsappDecryptionApiCryptInput' />
      <output message='tns:whatsappDecryptionApiCryptResponseMessage' name='whatsappDecryptionApiCryptOutput' />
    </operation>
  </portType>
  <binding name='whatsappdecryptoBinding' type='tns:whatsappdecryptoPortType'>
    <operation name='whatsappDecryptionApiCrypt'>
      <soap12:operation soapAction='http://whatsappDecryptionApiCrypt' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='whatsappdecrypto'>
    <documentation>this is a Whatsapp Database decrypt API You can decrypt a Whats app crypt msgstore db crypt with this API now Just pass the Android registered email address and the msgstore db crypt file and the API in return will pass all the messages back to the user Use safely</documentation>
    <port name='whatsappdecryptoPort' binding='tns:whatsappdecryptoBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://whatsappdecrypto' />
    </port>
  </service>
</definitions>