workspace/datasets/mashape_dataset/whereisitup.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/whereIsItUp/' name='whereIsItUp' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/whereIsItUp/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/whereIsItUp/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/whereIsItUp/'>
      <xsd:element name='sourcesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sources' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='country' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='location' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='submitResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jobID' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='jobid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='retrieveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='return' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='cairo' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='trace' maxOccurs='unbounded'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='array' type='xsd:string' maxOccurs='unbounded' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='raw' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='request' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='start_time' type='xsd:int' minOccurs='0' />
                              <xsd:element name='easy_time' type='xsd:string' minOccurs='0' />
                              <xsd:element name='ip' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='results' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='cairo' minOccurs='0'>
                                <xsd:complexType>
                                  <xsd:sequence minOccurs='1' maxOccurs='1'>
                                    <xsd:element name='trace' type='xsd:string' maxOccurs='unbounded' />
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='sourcesRequestMessage' />
  <message name='sourcesResponseMessage'>
    <part name='response' element='tns:sourcesResponse' />
  </message>
  <message name='submitRequestMessage' />
  <message name='submitResponseMessage'>
    <part name='response' element='tns:submitResponse' />
  </message>
  <message name='retrieveRequestMessage'>
    <part name='parameters' element='tns:retrieveParameters' />
  </message>
  <message name='retrieveResponseMessage'>
    <part name='response' element='tns:retrieveResponse' />
  </message>
  <portType name='whereIsItUpPortType'>
    <operation name='sources'>
      <documentation>get list of possible cities to launch tests from</documentation>
      <input message='tns:sourcesRequestMessage' name='sourcesInput' />
      <output message='tns:sourcesResponseMessage' name='sourcesOutput' />
    </operation>
    <operation name='submit'>
      <documentation></documentation>
      <input message='tns:submitRequestMessage' name='submitInput' />
      <output message='tns:submitResponseMessage' name='submitOutput' />
    </operation>
    <operation name='retrieve'>
      <documentation>reports can only be collected for jobs your account submitted The jobID returned when the job was submitted will be critical in this instance Jobs may take a while to perform depending on the source location and test type A traceroute from South Africa to Vancouver for example will take a while</documentation>
      <input message='tns:retrieveRequestMessage' name='retrieveInput' />
      <output message='tns:retrieveResponseMessage' name='retrieveOutput' />
    </operation>
  </portType>
  <binding name='whereIsItUpBinding' type='tns:whereIsItUpPortType'>
    <operation name='sources'>
      <soap12:operation soapAction='http://sources' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='submit'>
      <soap12:operation soapAction='http://submit' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='retrieve'>
      <soap12:operation soapAction='http://retrieve' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='whereIsItUp'>
    <documentation>our API exposes site monitoring tools in cities across different countries on continents Through our global network we expose five types of monitoring tools HTTP We make an HTTP request against the specified URL returning the response code size and basic timing information for the request Easily confirm site accessibility from global locations dig Leveraging this foundational DNS tool we return global results on the requested domain Confirm and monitor your global hosting and anycast DNS solutions trace Returns the full traceroute from any of our locations to your server providing useful monitoring information and critical data when diagnosing an outage ping Obtain basic timing information from any of our cities to your server useful in capacity planning and ensuring consistent results in the global marketplace fast Through a headless webkit browser we ll load the requested page and return detailed timing information</documentation>
    <port name='whereIsItUpPort' binding='tns:whereIsItUpBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://whereIsItUp' />
    </port>
  </service>
</definitions>