workspace/datasets/mashape_dataset/whois.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/whois/' name='whois' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/whois/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/whois/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/whois/'>
      <xsd:element name='whoisLookupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domainname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='whoisLookupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='whoisLookupRequestMessage'>
    <part name='parameters' element='tns:whoisLookupParameters' />
  </message>
  <message name='whoisLookupResponseMessage'>
    <part name='response' element='tns:whoisLookupResponse' />
  </message>
  <portType name='whoisPortType'>
    <operation name='whoisLookup'>
      <documentation></documentation>
      <input message='tns:whoisLookupRequestMessage' name='whoisLookupInput' />
      <output message='tns:whoisLookupResponseMessage' name='whoisLookupOutput' />
    </operation>
  </portType>
  <binding name='whoisBinding' type='tns:whoisPortType'>
    <operation name='whoisLookup'>
      <soap12:operation soapAction='http://whoisLookup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='whois'>
    <documentation>provides consistent well structured whois data in XML JSON</documentation>
    <port name='whoisPort' binding='tns:whoisBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://whois' />
    </port>
  </service>
</definitions>