workspace/datasets/mashape_dataset/whoislookup.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/whoisLookup/' name='whoisLookup' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/whoisLookup/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/whoisLookup/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/whoisLookup/'>
      <xsd:element name='methodDomainParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='domain' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='method' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='methodDomainResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='domain' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='methodDomainRequestMessage'>
    <part name='parameters' element='tns:methodDomainParameters' />
  </message>
  <message name='methodDomainResponseMessage'>
    <part name='response' element='tns:methodDomainResponse' />
  </message>
  <portType name='whoisLookupPortType'>
    <operation name='methodDomain'>
      <documentation></documentation>
      <input message='tns:methodDomainRequestMessage' name='methodDomainInput' />
      <output message='tns:methodDomainResponseMessage' name='methodDomainOutput' />
    </operation>
  </portType>
  <binding name='whoisLookupBinding' type='tns:whoisLookupPortType'>
    <operation name='methodDomain'>
      <soap12:operation soapAction='http://methodDomain' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='whoisLookup'>
    <documentation>research domain ownership with Whois Lookup</documentation>
    <port name='whoisLookupPort' binding='tns:whoisLookupBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://whoisLookup' />
    </port>
  </service>
</definitions>