workspace/datasets/mashape_dataset/wordgraphdictionary.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/wordGraphDictionary/' name='wordGraphDictionary' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/wordGraphDictionary/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/wordGraphDictionary/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/wordGraphDictionary/'>
      <xsd:element name='associationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entry' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='associationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result_msg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='entry' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='request' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='author' type='xsd:string' minOccurs='0' />
            <xsd:element name='assoc_word' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='result_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='assoc_word_ex' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='definitionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entry' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='definitionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result_msg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='entry' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='request' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='meaning' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='adjective' type='xsd:string' minOccurs='0' />
                  <xsd:element name='verb' type='xsd:string' minOccurs='0' />
                  <xsd:element name='noun' type='xsd:string' minOccurs='0' />
                  <xsd:element name='adverb' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='author' type='xsd:string' minOccurs='0' />
            <xsd:element name='result_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='ipa' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='definitionKrParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entry' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='definitionKrResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result_msg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='entry' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='request' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='meaning' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='adjective' type='xsd:string' minOccurs='0' />
                  <xsd:element name='verb' type='xsd:string' minOccurs='0' />
                  <xsd:element name='noun' type='xsd:string' minOccurs='0' />
                  <xsd:element name='korean' type='xsd:string' minOccurs='0' />
                  <xsd:element name='adverb' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='author' type='xsd:string' minOccurs='0' />
            <xsd:element name='result_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='ipa' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='difficultyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entry' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='difficultyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result_msg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='entry' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='request' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ten_degree' type='xsd:int' minOccurs='0' />
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='author' type='xsd:string' minOccurs='0' />
            <xsd:element name='result_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='examHistoryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entry' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='examHistoryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='exam' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='result_msg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='entry' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='request' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='author' type='xsd:string' minOccurs='0' />
            <xsd:element name='result_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exampleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entry' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='exampleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result_msg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='entry' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='request' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='author' type='xsd:string' minOccurs='0' />
            <xsd:element name='result_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='example' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='referenceParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entry' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='referenceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result_msg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='entry' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='request' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='author' type='xsd:string' minOccurs='0' />
            <xsd:element name='result_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='relation' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='associations' type='xsd:string' minOccurs='0' />
                  <xsd:element name='narrow_terms' type='xsd:string' minOccurs='0' />
                  <xsd:element name='broad_terms' type='xsd:string' minOccurs='0' />
                  <xsd:element name='related_terms' type='xsd:string' minOccurs='0' />
                  <xsd:element name='synonyms' type='xsd:string' minOccurs='0' />
                  <xsd:element name='evocations' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='derived_terms' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='themeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='entry' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='themeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='result_msg' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='entry' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='request' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='author' type='xsd:string' minOccurs='0' />
            <xsd:element name='theme' type='xsd:normalizedString' maxOccurs='unbounded' />
            <xsd:element name='result_code' type='xsd:int' minOccurs='0' />
            <xsd:element name='version' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='associationRequestMessage'>
    <part name='parameters' element='tns:associationParameters' />
  </message>
  <message name='associationResponseMessage'>
    <part name='response' element='tns:associationResponse' />
  </message>
  <message name='definitionRequestMessage'>
    <part name='parameters' element='tns:definitionParameters' />
  </message>
  <message name='definitionResponseMessage'>
    <part name='response' element='tns:definitionResponse' />
  </message>
  <message name='definitionKrRequestMessage'>
    <part name='parameters' element='tns:definitionKrParameters' />
  </message>
  <message name='definitionKrResponseMessage'>
    <part name='response' element='tns:definitionKrResponse' />
  </message>
  <message name='difficultyRequestMessage'>
    <part name='parameters' element='tns:difficultyParameters' />
  </message>
  <message name='difficultyResponseMessage'>
    <part name='response' element='tns:difficultyResponse' />
  </message>
  <message name='examHistoryRequestMessage'>
    <part name='parameters' element='tns:examHistoryParameters' />
  </message>
  <message name='examHistoryResponseMessage'>
    <part name='response' element='tns:examHistoryResponse' />
  </message>
  <message name='exampleRequestMessage'>
    <part name='parameters' element='tns:exampleParameters' />
  </message>
  <message name='exampleResponseMessage'>
    <part name='response' element='tns:exampleResponse' />
  </message>
  <message name='referenceRequestMessage'>
    <part name='parameters' element='tns:referenceParameters' />
  </message>
  <message name='referenceResponseMessage'>
    <part name='response' element='tns:referenceResponse' />
  </message>
  <message name='themeRequestMessage'>
    <part name='parameters' element='tns:themeParameters' />
  </message>
  <message name='themeResponseMessage'>
    <part name='response' element='tns:themeResponse' />
  </message>
  <portType name='wordGraphDictionaryPortType'>
    <operation name='association'>
      <documentation>get the associations of a word</documentation>
      <input message='tns:associationRequestMessage' name='associationInput' />
      <output message='tns:associationResponseMessage' name='associationOutput' />
    </operation>
    <operation name='definition'>
      <documentation>get the definitions of a word</documentation>
      <input message='tns:definitionRequestMessage' name='definitionInput' />
      <output message='tns:definitionResponseMessage' name='definitionOutput' />
    </operation>
    <operation name='definitionKr'>
      <documentation>get the Korean definitions of a word</documentation>
      <input message='tns:definitionKrRequestMessage' name='definitionKrInput' />
      <output message='tns:definitionKrResponseMessage' name='definitionKrOutput' />
    </operation>
    <operation name='difficulty'>
      <documentation>get the difficulty level of a word</documentation>
      <input message='tns:difficultyRequestMessage' name='difficultyInput' />
      <output message='tns:difficultyResponseMessage' name='difficultyOutput' />
    </operation>
    <operation name='examHistory'>
      <documentation>see which exams a word has been on</documentation>
      <input message='tns:examHistoryRequestMessage' name='examHistoryInput' />
      <output message='tns:examHistoryResponseMessage' name='examHistoryOutput' />
    </operation>
    <operation name='example'>
      <documentation>see examples of a word used in a sentence</documentation>
      <input message='tns:exampleRequestMessage' name='exampleInput' />
      <output message='tns:exampleResponseMessage' name='exampleOutput' />
    </operation>
    <operation name='reference'>
      <documentation>get the broad terms narrow terms related terms evocations synonyms associations and derived terms of a word</documentation>
      <input message='tns:referenceRequestMessage' name='referenceInput' />
      <output message='tns:referenceResponseMessage' name='referenceOutput' />
    </operation>
    <operation name='theme'>
      <documentation>get the themes of a word</documentation>
      <input message='tns:themeRequestMessage' name='themeInput' />
      <output message='tns:themeResponseMessage' name='themeOutput' />
    </operation>
  </portType>
  <binding name='wordGraphDictionaryBinding' type='tns:wordGraphDictionaryPortType'>
    <operation name='association'>
      <soap12:operation soapAction='http://association' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='definition'>
      <soap12:operation soapAction='http://definition' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='definitionKr'>
      <soap12:operation soapAction='http://definitionKr' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='difficulty'>
      <soap12:operation soapAction='http://difficulty' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='examHistory'>
      <soap12:operation soapAction='http://examHistory' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='example'>
      <soap12:operation soapAction='http://example' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='reference'>
      <soap12:operation soapAction='http://reference' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='theme'>
      <soap12:operation soapAction='http://theme' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='wordGraphDictionary'>
    <documentation>a dictionary and so much more Rich information for a word with definitions associations examples and much more</documentation>
    <port name='wordGraphDictionaryPort' binding='tns:wordGraphDictionaryBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://wordGraphDictionary' />
    </port>
  </service>
</definitions>