workspace/datasets/mashape_dataset/workable.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/workable/' name='workable' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/workable/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/workable/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/workable/'>
      <xsd:element name='candidatesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='shortcode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='candidatesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='candidate' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='summary' type='xsd:string' minOccurs='0' />
                  <xsd:element name='resume' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='data' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='address' type='xsd:string' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='image_url' type='xsd:string' minOccurs='0' />
                  <xsd:element name='answers' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='question_key' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='body' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='skills' type='xsd:normalizedString' maxOccurs='unbounded' />
                  <xsd:element name='cover_letter' type='xsd:string' minOccurs='0' />
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='education_entries' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='end_date' type='xsd:date' minOccurs='0' />
                        <xsd:element name='school' type='xsd:string' minOccurs='0' />
                        <xsd:element name='degree' type='xsd:string' minOccurs='0' />
                        <xsd:element name='field_of_study' type='xsd:string' minOccurs='0' />
                        <xsd:element name='start_date' type='xsd:date' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='headline' type='xsd:string' minOccurs='0' />
                  <xsd:element name='recruiter_key' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='experience_entries' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='summary' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='end_date' type='xsd:date' minOccurs='0' />
                        <xsd:element name='current' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='company' type='xsd:string' minOccurs='0' />
                        <xsd:element name='industry' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='title' type='xsd:string' minOccurs='0' />
                        <xsd:element name='start_date' type='xsd:date' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='jobsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='phase' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='jobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='jobsShortcodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='shortcode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='yourapikey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='jobsShortcodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='jobsShortcodeCandidatesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='shortcode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='yourapikey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='jobsShortcodeCandidatesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='candidatesRequestMessage'>
    <part name='parameters' element='tns:candidatesParameters' />
  </message>
  <message name='candidatesResponseMessage'>
    <part name='response' element='tns:candidatesResponse' />
  </message>
  <message name='jobsRequestMessage'>
    <part name='parameters' element='tns:jobsParameters' />
  </message>
  <message name='jobsResponseMessage'>
    <part name='response' element='tns:jobsResponse' />
  </message>
  <message name='jobsShortcodeRequestMessage'>
    <part name='parameters' element='tns:jobsShortcodeParameters' />
  </message>
  <message name='jobsShortcodeResponseMessage'>
    <part name='response' element='tns:jobsShortcodeResponse' />
  </message>
  <message name='jobsShortcodeCandidatesRequestMessage'>
    <part name='parameters' element='tns:jobsShortcodeCandidatesParameters' />
  </message>
  <message name='jobsShortcodeCandidatesResponseMessage'>
    <part name='response' element='tns:jobsShortcodeCandidatesResponse' />
  </message>
  <portType name='workablePortType'>
    <operation name='candidates'>
      <documentation>creating a candidate</documentation>
      <input message='tns:candidatesRequestMessage' name='candidatesInput' />
      <output message='tns:candidatesResponseMessage' name='candidatesOutput' />
    </operation>
    <operation name='jobs'>
      <documentation>retrieve information about jobs</documentation>
      <input message='tns:jobsRequestMessage' name='jobsInput' />
      <output message='tns:jobsResponseMessage' name='jobsOutput' />
    </operation>
    <operation name='jobsShortcode'>
      <documentation>retrieve details for a specific job based on its unique shortcode</documentation>
      <input message='tns:jobsShortcodeRequestMessage' name='jobsShortcodeInput' />
      <output message='tns:jobsShortcodeResponseMessage' name='jobsShortcodeOutput' />
    </operation>
    <operation name='jobsShortcodeCandidates'>
      <documentation>retrieve a list of information related to the applicants to a specified job by the shortcode</documentation>
      <input message='tns:jobsShortcodeCandidatesRequestMessage' name='jobsShortcodeCandidatesInput' />
      <output message='tns:jobsShortcodeCandidatesResponseMessage' name='jobsShortcodeCandidatesOutput' />
    </operation>
  </portType>
  <binding name='workableBinding' type='tns:workablePortType'>
    <operation name='candidates'>
      <soap12:operation soapAction='http://candidates' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='jobs'>
      <soap12:operation soapAction='http://jobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='jobsShortcode'>
      <soap12:operation soapAction='http://jobsShortcode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='jobsShortcodeCandidates'>
      <soap12:operation soapAction='http://jobsShortcodeCandidates' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='workable'>
    <documentation>workable recruit people by creating beautiful job posts through an API</documentation>
    <port name='workablePort' binding='tns:workableBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://workable' />
    </port>
  </service>
</definitions>