workspace/datasets/mashape_dataset/worldtimeiodeveloper.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/worldtimeIoDeveloper/' name='worldtimeIoDeveloper' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/worldtimeIoDeveloper/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/worldtimeIoDeveloper/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/worldtimeIoDeveloper/'>
      <xsd:element name='coordinatesToTimeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='latitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='coordinatesToTimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='summary' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='utc' type='xsd:string' minOccurs='0' />
                  <xsd:element name='local' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hasDst' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='next' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='effectiveUntil' type='xsd:string' minOccurs='0' />
                  <xsd:element name='utcOffset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isDst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='abbreviation' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='current' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='effectiveUntil' type='xsd:string' minOccurs='0' />
                  <xsd:element name='utcOffset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isDst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='abbreviation' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='location' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='region' type='xsd:string' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipAddressToTimeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ipaddress' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipAddressToTimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='summary' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='utc' type='xsd:string' minOccurs='0' />
                  <xsd:element name='local' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hasDst' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='next' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='effectiveUntil' type='xsd:string' minOccurs='0' />
                  <xsd:element name='utcOffset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isDst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='abbreviation' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='current' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='effectiveUntil' type='xsd:string' minOccurs='0' />
                  <xsd:element name='utcOffset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isDst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='abbreviation' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='location' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='region' type='xsd:string' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='coordinatesToTimeRequestMessage'>
    <part name='parameters' element='tns:coordinatesToTimeParameters' />
  </message>
  <message name='coordinatesToTimeResponseMessage'>
    <part name='response' element='tns:coordinatesToTimeResponse' />
  </message>
  <message name='ipAddressToTimeRequestMessage'>
    <part name='parameters' element='tns:ipAddressToTimeParameters' />
  </message>
  <message name='ipAddressToTimeResponseMessage'>
    <part name='response' element='tns:ipAddressToTimeResponse' />
  </message>
  <portType name='worldtimeIoDeveloperPortType'>
    <operation name='coordinatesToTime'>
      <documentation>provide the latitude and longitude coordinates for any point on earth and get the current local time in that location</documentation>
      <input message='tns:coordinatesToTimeRequestMessage' name='coordinatesToTimeInput' />
      <output message='tns:coordinatesToTimeResponseMessage' name='coordinatesToTimeOutput' />
    </operation>
    <operation name='ipAddressToTime'>
      <documentation>provide any IP Address and this API will tell you the current time in that location</documentation>
      <input message='tns:ipAddressToTimeRequestMessage' name='ipAddressToTimeInput' />
      <output message='tns:ipAddressToTimeResponseMessage' name='ipAddressToTimeOutput' />
    </operation>
  </portType>
  <binding name='worldtimeIoDeveloperBinding' type='tns:worldtimeIoDeveloperPortType'>
    <operation name='coordinatesToTime'>
      <soap12:operation soapAction='http://coordinatesToTime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ipAddressToTime'>
      <soap12:operation soapAction='http://ipAddressToTime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='worldtimeIoDeveloper'>
    <documentation>the Developer version of the World Time Engine API This API is suitable for small to medium scale projects If you need more queries per month than we provide via this version of our API then you should check out the enterprise version of this API also available at the link above</documentation>
    <port name='worldtimeIoDeveloperPort' binding='tns:worldtimeIoDeveloperBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://worldtimeIoDeveloper' />
    </port>
  </service>
</definitions>