workspace/datasets/mashape_dataset/worldtimeioenterprise.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/worldtimeIoEnterprise/' name='worldtimeIoEnterprise' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/worldtimeIoEnterprise/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/worldtimeIoEnterprise/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/worldtimeIoEnterprise/'>
      <xsd:element name='coordinatesToTimeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='latitude' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='coordinatesToTimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='summary' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='utc' type='xsd:string' minOccurs='0' />
                  <xsd:element name='local' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hasDst' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='next' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='effectiveUntil' type='xsd:string' minOccurs='0' />
                  <xsd:element name='utcOffset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isDst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='abbreviation' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='current' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='effectiveUntil' type='xsd:string' minOccurs='0' />
                  <xsd:element name='utcOffset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isDst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='abbreviation' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='location' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='region' type='xsd:string' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipAddressToTimeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ipaddress' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='ipAddressToTimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='summary' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='utc' type='xsd:string' minOccurs='0' />
                  <xsd:element name='local' type='xsd:string' minOccurs='0' />
                  <xsd:element name='hasDst' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='next' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='effectiveUntil' type='xsd:string' minOccurs='0' />
                  <xsd:element name='utcOffset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isDst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='abbreviation' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='current' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='effectiveUntil' type='xsd:string' minOccurs='0' />
                  <xsd:element name='utcOffset' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isDst' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='abbreviation' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='location' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='latitude' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='region' type='xsd:string' minOccurs='0' />
                  <xsd:element name='longitude' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='version' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='coordinatesToTimeRequestMessage'>
    <part name='parameters' element='tns:coordinatesToTimeParameters' />
  </message>
  <message name='coordinatesToTimeResponseMessage'>
    <part name='response' element='tns:coordinatesToTimeResponse' />
  </message>
  <message name='ipAddressToTimeRequestMessage'>
    <part name='parameters' element='tns:ipAddressToTimeParameters' />
  </message>
  <message name='ipAddressToTimeResponseMessage'>
    <part name='response' element='tns:ipAddressToTimeResponse' />
  </message>
  <portType name='worldtimeIoEnterprisePortType'>
    <operation name='coordinatesToTime'>
      <documentation>provide the latitude and longitude coordinates for any point on earth and get the current local time in that location</documentation>
      <input message='tns:coordinatesToTimeRequestMessage' name='coordinatesToTimeInput' />
      <output message='tns:coordinatesToTimeResponseMessage' name='coordinatesToTimeOutput' />
    </operation>
    <operation name='ipAddressToTime'>
      <documentation>provide any IP Address and this API will tell you the current time in that location</documentation>
      <input message='tns:ipAddressToTimeRequestMessage' name='ipAddressToTimeInput' />
      <output message='tns:ipAddressToTimeResponseMessage' name='ipAddressToTimeOutput' />
    </operation>
  </portType>
  <binding name='worldtimeIoEnterpriseBinding' type='tns:worldtimeIoEnterprisePortType'>
    <operation name='coordinatesToTime'>
      <soap12:operation soapAction='http://coordinatesToTime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='ipAddressToTime'>
      <soap12:operation soapAction='http://ipAddressToTime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='worldtimeIoEnterprise'>
    <documentation>the Enterprise version of the World Time Engine API for seriously big project needs At this level of service we run a cloud based high availability fault tolerant server farm that is capable of processing a huge number of queries that currently already serves a number of Fortune companies If you have any further questions please visit us at the link above We are always on hand to discuss your individual project needs</documentation>
    <port name='worldtimeIoEnterprisePort' binding='tns:worldtimeIoEnterpriseBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://worldtimeIoEnterprise' />
    </port>
  </service>
</definitions>