workspace/datasets/mashape_dataset/xboxapicom.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/xboxapiCom/' name='xboxapiCom' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/xboxapiCom/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/xboxapiCom/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/xboxapiCom/'>
      <xsd:element name='achievementsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gameid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='gamertag' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='achievementsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Player' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='PercentComplete' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Gamertag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Avatar' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Gamertile' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Small' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='Large' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='Body' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Gamerpic' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Small' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='Large' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Gamerscore' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Game' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='MarketplaceURL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='Progress' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='LastPlayed' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='EarnedAchievements' type='xsd:int' minOccurs='0' />
                        <xsd:element name='Gamerscore' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='PossibleAchievements' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='BoxArt' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Small' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Large' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='PossibleGamerscore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Achievements' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='IsHidden' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='Score' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='EarnedOn' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='TileUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='IsOffline' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='API_Limit' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='friendsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gamertag' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='friendsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Player' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Gamertag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Avatar' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Gamertile' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Small' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='Large' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='Body' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Gamerpic' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Small' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='Large' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Friends' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='GamerTileUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='TitleInfo' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='Name' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='GamerScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Presence' type='xsd:string' minOccurs='0' />
                  <xsd:element name='LargeGamerTileUrl' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='LastSeen' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='RichPresence' type='xsd:string' minOccurs='0' />
                  <xsd:element name='GamerTag' type='xsd:string' minOccurs='0' />
                  <xsd:element name='IsOnline' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='API_Limit' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gamesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gamertag' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='gamesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Player' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='PercentComplete' type='xsd:int' minOccurs='0' />
                  <xsd:element name='GameCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Gamertag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Avatar' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Gamertile' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Small' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='Large' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='Body' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Gamerpic' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Small' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='Large' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Gamerscore' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='API_Limit' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Games' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='MarketplaceURL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='Progress' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='LastPlayed' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='Score' type='xsd:int' minOccurs='0' />
                        <xsd:element name='Achievements' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='PossibleScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='PossibleAchievements' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='BoxArt' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Small' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Large' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='AchievementInfo' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='profileParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gamertag' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='profileResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Player' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Status' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Online_Status' type='xsd:string' minOccurs='0' />
                        <xsd:element name='Valid' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='Tier' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='Cheater' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='Online' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Bio' type='xsd:string' minOccurs='0' />
                  <xsd:element name='Reputation' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Motto' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Launch_Team' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Kinect' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='NXE' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='X360' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Gamertag' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Avatar' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Gamertile' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Small' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='Large' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='Body' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Gamerpic' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='Small' type='xsd:anyURI' minOccurs='0' />
                              <xsd:element name='Large' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Gamerscore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Location' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='API_Links' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Friends' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='XML' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Friends' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Games' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Games' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='Development' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Friends' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Games' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='PHP' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Friends' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Games' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='JSON' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Friends' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Games' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='API_Limit' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='RecentGames' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='MarketplaceURL' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:int' minOccurs='0' />
                  <xsd:element name='BoxArt' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='Small' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='Large' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='Name' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='Success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='achievementsRequestMessage'>
    <part name='parameters' element='tns:achievementsParameters' />
  </message>
  <message name='achievementsResponseMessage'>
    <part name='response' element='tns:achievementsResponse' />
  </message>
  <message name='friendsRequestMessage'>
    <part name='parameters' element='tns:friendsParameters' />
  </message>
  <message name='friendsResponseMessage'>
    <part name='response' element='tns:friendsResponse' />
  </message>
  <message name='gamesRequestMessage'>
    <part name='parameters' element='tns:gamesParameters' />
  </message>
  <message name='gamesResponseMessage'>
    <part name='response' element='tns:gamesResponse' />
  </message>
  <message name='profileRequestMessage'>
    <part name='parameters' element='tns:profileParameters' />
  </message>
  <message name='profileResponseMessage'>
    <part name='response' element='tns:profileResponse' />
  </message>
  <portType name='xboxapiComPortType'>
    <operation name='achievements'>
      <documentation>this is used to fetch a users game achievement data</documentation>
      <input message='tns:achievementsRequestMessage' name='achievementsInput' />
      <output message='tns:achievementsResponseMessage' name='achievementsOutput' />
    </operation>
    <operation name='friends'>
      <documentation>this is used to fetch a users friend data</documentation>
      <input message='tns:friendsRequestMessage' name='friendsInput' />
      <output message='tns:friendsResponseMessage' name='friendsOutput' />
    </operation>
    <operation name='games'>
      <documentation>this is used to fetch a users played games data</documentation>
      <input message='tns:gamesRequestMessage' name='gamesInput' />
      <output message='tns:gamesResponseMessage' name='gamesOutput' />
    </operation>
    <operation name='profile'>
      <documentation>this is used to fetch a users profile data</documentation>
      <input message='tns:profileRequestMessage' name='profileInput' />
      <output message='tns:profileResponseMessage' name='profileOutput' />
    </operation>
  </portType>
  <binding name='xboxapiComBinding' type='tns:xboxapiComPortType'>
    <operation name='achievements'>
      <soap12:operation soapAction='http://achievements' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='friends'>
      <soap12:operation soapAction='http://friends' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='games'>
      <soap12:operation soapAction='http://games' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='profile'>
      <soap12:operation soapAction='http://profile' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='xboxapiCom'>
    <documentation>this is an UNOFFICIAL Xbox LIVE API You can use this API to collect data about gamertags such as profile played games game achievement data Please visit https xboxapi com for more information</documentation>
    <port name='xboxapiComPort' binding='tns:xboxapiComBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://xboxapiCom' />
    </port>
  </service>
</definitions>