workspace/datasets/mashape_dataset/xplenty.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/xplenty/' name='xplenty' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/xplenty/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/xplenty/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/xplenty/'>
      <xsd:element name='createClusterParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createClusterResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='running_jobs_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='owner_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='time_to_idle' type='xsd:int' minOccurs='0' />
            <xsd:element name='nodes' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='launched_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminated_on_idle' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminate_on_idle' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='available_since' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='plan_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClusterInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='clusterid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClusterInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='running_jobs_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='owner_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='time_to_idle' type='xsd:int' minOccurs='0' />
            <xsd:element name='nodes' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='launched_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminated_on_idle' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminate_on_idle' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='available_since' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='plan_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClusterWatchersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='clusterid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getClusterWatchersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getJobInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jobid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getJobInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='outputs_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='outputs' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='records_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='preview_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='component_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='runtime_in_seconds' type='xsd:int' minOccurs='0' />
            <xsd:element name='variables' type='xsd:string' minOccurs='0' />
            <xsd:element name='owner_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='package_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='completed_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='cluster_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='progress' type='xsd:int' minOccurs='0' />
            <xsd:element name='started_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='failed_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getJobWatchersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jobid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getJobWatchersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='display_name' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPackageInformationParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='packageid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getPackageInformationResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='variables' type='xsd:string' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='owner_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listClustersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='direction' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='since' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listClustersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='running_jobs_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='owner_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='time_to_idle' type='xsd:int' minOccurs='0' />
            <xsd:element name='nodes' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='launched_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminated_on_idle' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminate_on_idle' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='available_since' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='plan_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listJobsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='direction' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='since' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='status' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listJobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='outputs_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='outputs' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='records_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='preview_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='component_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='runtime_in_seconds' type='xsd:int' minOccurs='0' />
            <xsd:element name='variables' type='xsd:string' minOccurs='0' />
            <xsd:element name='owner_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='package_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='completed_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='cluster_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='progress' type='xsd:int' minOccurs='0' />
            <xsd:element name='started_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='failed_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPackagesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listPackagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='variables' type='xsd:string' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='owner_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='previewJobOutputParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jobid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='outputid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='previewJobOutputResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='preview' type='xsd:string' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rateLimitStatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='rateLimitStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limits' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='limit' type='xsd:int' minOccurs='0' />
                  <xsd:element name='remaining' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='runJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='runJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='outputs_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='outputs' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='records_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='preview_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='component_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='runtime_in_seconds' type='xsd:int' minOccurs='0' />
            <xsd:element name='variables' type='xsd:string' minOccurs='0' />
            <xsd:element name='owner_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='package_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='completed_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='cluster_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='progress' type='xsd:int' minOccurs='0' />
            <xsd:element name='started_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='failed_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stopWatchingClusterParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='clusterid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stopWatchingClusterResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stopWatchingJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jobid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='stopWatchingJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='terminateClusterParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='clusterid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='terminateClusterResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='running_jobs_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='owner_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='time_to_idle' type='xsd:int' minOccurs='0' />
            <xsd:element name='nodes' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='launched_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminated_on_idle' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminate_on_idle' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='available_since' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='plan_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='terminateJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jobid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='terminateJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='outputs_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='outputs' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='records_count' type='xsd:int' minOccurs='0' />
                  <xsd:element name='preview_url' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='component_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='runtime_in_seconds' type='xsd:int' minOccurs='0' />
            <xsd:element name='variables' type='xsd:string' minOccurs='0' />
            <xsd:element name='owner_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='package_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='completed_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='cluster_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='progress' type='xsd:int' minOccurs='0' />
            <xsd:element name='started_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='failed_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='errors' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateClusterParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='clusterid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateClusterResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='running_jobs_count' type='xsd:int' minOccurs='0' />
            <xsd:element name='owner_id' type='xsd:int' minOccurs='0' />
            <xsd:element name='description' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='time_to_idle' type='xsd:int' minOccurs='0' />
            <xsd:element name='nodes' type='xsd:int' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='launched_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminated_on_idle' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminate_on_idle' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='available_since' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='plan_id' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='terminated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='watchClusterParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='clusterid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='watchClusterResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='cluster_url' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='watchJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='accountid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='jobid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='watchJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='job_url' type='xsd:anyURI' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='createClusterRequestMessage'>
    <part name='parameters' element='tns:createClusterParameters' />
  </message>
  <message name='createClusterResponseMessage'>
    <part name='response' element='tns:createClusterResponse' />
  </message>
  <message name='getClusterInformationRequestMessage'>
    <part name='parameters' element='tns:getClusterInformationParameters' />
  </message>
  <message name='getClusterInformationResponseMessage'>
    <part name='response' element='tns:getClusterInformationResponse' />
  </message>
  <message name='getClusterWatchersRequestMessage'>
    <part name='parameters' element='tns:getClusterWatchersParameters' />
  </message>
  <message name='getClusterWatchersResponseMessage'>
    <part name='response' element='tns:getClusterWatchersResponse' />
  </message>
  <message name='getJobInformationRequestMessage'>
    <part name='parameters' element='tns:getJobInformationParameters' />
  </message>
  <message name='getJobInformationResponseMessage'>
    <part name='response' element='tns:getJobInformationResponse' />
  </message>
  <message name='getJobWatchersRequestMessage'>
    <part name='parameters' element='tns:getJobWatchersParameters' />
  </message>
  <message name='getJobWatchersResponseMessage'>
    <part name='response' element='tns:getJobWatchersResponse' />
  </message>
  <message name='getPackageInformationRequestMessage'>
    <part name='parameters' element='tns:getPackageInformationParameters' />
  </message>
  <message name='getPackageInformationResponseMessage'>
    <part name='response' element='tns:getPackageInformationResponse' />
  </message>
  <message name='listClustersRequestMessage'>
    <part name='parameters' element='tns:listClustersParameters' />
  </message>
  <message name='listClustersResponseMessage'>
    <part name='response' element='tns:listClustersResponse' />
  </message>
  <message name='listJobsRequestMessage'>
    <part name='parameters' element='tns:listJobsParameters' />
  </message>
  <message name='listJobsResponseMessage'>
    <part name='response' element='tns:listJobsResponse' />
  </message>
  <message name='listPackagesRequestMessage'>
    <part name='parameters' element='tns:listPackagesParameters' />
  </message>
  <message name='listPackagesResponseMessage'>
    <part name='response' element='tns:listPackagesResponse' />
  </message>
  <message name='previewJobOutputRequestMessage'>
    <part name='parameters' element='tns:previewJobOutputParameters' />
  </message>
  <message name='previewJobOutputResponseMessage'>
    <part name='response' element='tns:previewJobOutputResponse' />
  </message>
  <message name='rateLimitStatusRequestMessage'>
    <part name='parameters' element='tns:rateLimitStatusParameters' />
  </message>
  <message name='rateLimitStatusResponseMessage'>
    <part name='response' element='tns:rateLimitStatusResponse' />
  </message>
  <message name='runJobRequestMessage'>
    <part name='parameters' element='tns:runJobParameters' />
  </message>
  <message name='runJobResponseMessage'>
    <part name='response' element='tns:runJobResponse' />
  </message>
  <message name='stopWatchingClusterRequestMessage'>
    <part name='parameters' element='tns:stopWatchingClusterParameters' />
  </message>
  <message name='stopWatchingClusterResponseMessage'>
    <part name='response' element='tns:stopWatchingClusterResponse' />
  </message>
  <message name='stopWatchingJobRequestMessage'>
    <part name='parameters' element='tns:stopWatchingJobParameters' />
  </message>
  <message name='stopWatchingJobResponseMessage'>
    <part name='response' element='tns:stopWatchingJobResponse' />
  </message>
  <message name='terminateClusterRequestMessage'>
    <part name='parameters' element='tns:terminateClusterParameters' />
  </message>
  <message name='terminateClusterResponseMessage'>
    <part name='response' element='tns:terminateClusterResponse' />
  </message>
  <message name='terminateJobRequestMessage'>
    <part name='parameters' element='tns:terminateJobParameters' />
  </message>
  <message name='terminateJobResponseMessage'>
    <part name='response' element='tns:terminateJobResponse' />
  </message>
  <message name='updateClusterRequestMessage'>
    <part name='parameters' element='tns:updateClusterParameters' />
  </message>
  <message name='updateClusterResponseMessage'>
    <part name='response' element='tns:updateClusterResponse' />
  </message>
  <message name='watchClusterRequestMessage'>
    <part name='parameters' element='tns:watchClusterParameters' />
  </message>
  <message name='watchClusterResponseMessage'>
    <part name='response' element='tns:watchClusterResponse' />
  </message>
  <message name='watchJobRequestMessage'>
    <part name='parameters' element='tns:watchJobParameters' />
  </message>
  <message name='watchJobResponseMessage'>
    <part name='response' element='tns:watchJobResponse' />
  </message>
  <portType name='xplentyPortType'>
    <operation name='createCluster'>
      <documentation>this call creates a new cluster A cluster is a group of machines nodes allocated to your account The number of nodes in the cluster is determined by the nodes value that you supply to the call While the cluster is active only your account s users can run jobs on the cluster You will need to provide an active cluster when starting a new job</documentation>
      <input message='tns:createClusterRequestMessage' name='createClusterInput' />
      <output message='tns:createClusterResponseMessage' name='createClusterOutput' />
    </operation>
    <operation name='getClusterInformation'>
      <documentation>returns details of the cluster with the given ID</documentation>
      <input message='tns:getClusterInformationRequestMessage' name='getClusterInformationInput' />
      <output message='tns:getClusterInformationResponseMessage' name='getClusterInformationOutput' />
    </operation>
    <operation name='getClusterWatchers'>
      <documentation>retrieves the list of users watching the specified cluster</documentation>
      <input message='tns:getClusterWatchersRequestMessage' name='getClusterWatchersInput' />
      <output message='tns:getClusterWatchersResponseMessage' name='getClusterWatchersOutput' />
    </operation>
    <operation name='getJobInformation'>
      <documentation>returns information for a job with the given job ID</documentation>
      <input message='tns:getJobInformationRequestMessage' name='getJobInformationInput' />
      <output message='tns:getJobInformationResponseMessage' name='getJobInformationOutput' />
    </operation>
    <operation name='getJobWatchers'>
      <documentation>retrieves the list of users watching the specified job</documentation>
      <input message='tns:getJobWatchersRequestMessage' name='getJobWatchersInput' />
      <output message='tns:getJobWatchersResponseMessage' name='getJobWatchersOutput' />
    </operation>
    <operation name='getPackageInformation'>
      <documentation>returns information for a package with the given package ID</documentation>
      <input message='tns:getPackageInformationRequestMessage' name='getPackageInformationInput' />
      <output message='tns:getPackageInformationResponseMessage' name='getPackageInformationOutput' />
    </operation>
    <operation name='listClusters'>
      <documentation>returns information for a list of clusters that were created by users in your account You can use this information to monitor and display your clusters and their status Optionally you can supply the input parameters to filter the cluster list so that it contains only clusters with a specific status and to determine the order by which the list will be sorted</documentation>
      <input message='tns:listClustersRequestMessage' name='listClustersInput' />
      <output message='tns:listClustersResponseMessage' name='listClustersOutput' />
    </operation>
    <operation name='listJobs'>
      <documentation>returns information for the list of jobs that were created by users in your account You can use this information to monitor your jobs and their status Optionally you can supply the input parameters to filter the job list so that it contains only jobs with a specific status and to determine the order by which the list will be sorted</documentation>
      <input message='tns:listJobsRequestMessage' name='listJobsInput' />
      <output message='tns:listJobsResponseMessage' name='listJobsOutput' />
    </operation>
    <operation name='listPackages'>
      <documentation>returns information for the list of packages that were created by users in your account You can use this information to monitor your packages</documentation>
      <input message='tns:listPackagesRequestMessage' name='listPackagesInput' />
      <output message='tns:listPackagesResponseMessage' name='listPackagesOutput' />
    </operation>
    <operation name='previewJobOutput'>
      <documentation>returns up to lines raw preview of the output</documentation>
      <input message='tns:previewJobOutputRequestMessage' name='previewJobOutputInput' />
      <output message='tns:previewJobOutputResponseMessage' name='previewJobOutputOutput' />
    </operation>
    <operation name='rateLimitStatus'>
      <documentation>returns current rate limit status for authenticated user</documentation>
      <input message='tns:rateLimitStatusRequestMessage' name='rateLimitStatusInput' />
      <output message='tns:rateLimitStatusResponseMessage' name='rateLimitStatusOutput' />
    </operation>
    <operation name='runJob'>
      <documentation>creates a new job and triggers it to run The job performs the series of data processing tasks that are defined in the job s package Unless the job encounters an error or is terminated by the user it will run until it completes its tasks on all of the input data</documentation>
      <input message='tns:runJobRequestMessage' name='runJobInput' />
      <output message='tns:runJobResponseMessage' name='runJobOutput' />
    </operation>
    <operation name='stopWatchingCluster'>
      <documentation>removes the calling user from the watcher list of the specified cluster</documentation>
      <input message='tns:stopWatchingClusterRequestMessage' name='stopWatchingClusterInput' />
      <output message='tns:stopWatchingClusterResponseMessage' name='stopWatchingClusterOutput' />
    </operation>
    <operation name='stopWatchingJob'>
      <documentation>removes the calling user from the watcher list of the specified job</documentation>
      <input message='tns:stopWatchingJobRequestMessage' name='stopWatchingJobInput' />
      <output message='tns:stopWatchingJobResponseMessage' name='stopWatchingJobOutput' />
    </operation>
    <operation name='terminateCluster'>
      <documentation>deactivates the given cluster releasing its resources and terminating its runtime period Use this call when all of the cluster s jobs are completed and it s no longer needed</documentation>
      <input message='tns:terminateClusterRequestMessage' name='terminateClusterInput' />
      <output message='tns:terminateClusterResponseMessage' name='terminateClusterOutput' />
    </operation>
    <operation name='terminateJob'>
      <documentation>terminates an active job Usually it s not necessary to request to terminate a job because the job will end when its tasks are completed You may want to actively terminate a job if you need its cluster resources for a more urgent job or if the job is taking too long to complete</documentation>
      <input message='tns:terminateJobRequestMessage' name='terminateJobInput' />
      <output message='tns:terminateJobResponseMessage' name='terminateJobOutput' />
    </operation>
    <operation name='updateCluster'>
      <documentation>updates the given cluster including scaling a running cluster of type production</documentation>
      <input message='tns:updateClusterRequestMessage' name='updateClusterInput' />
      <output message='tns:updateClusterResponseMessage' name='updateClusterOutput' />
    </operation>
    <operation name='watchCluster'>
      <documentation>adds the calling user as a watcher of the specified cluster</documentation>
      <input message='tns:watchClusterRequestMessage' name='watchClusterInput' />
      <output message='tns:watchClusterResponseMessage' name='watchClusterOutput' />
    </operation>
    <operation name='watchJob'>
      <documentation>adds the calling user as a watcher of the specified job</documentation>
      <input message='tns:watchJobRequestMessage' name='watchJobInput' />
      <output message='tns:watchJobResponseMessage' name='watchJobOutput' />
    </operation>
  </portType>
  <binding name='xplentyBinding' type='tns:xplentyPortType'>
    <operation name='createCluster'>
      <soap12:operation soapAction='http://createCluster' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getClusterInformation'>
      <soap12:operation soapAction='http://getClusterInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getClusterWatchers'>
      <soap12:operation soapAction='http://getClusterWatchers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getJobInformation'>
      <soap12:operation soapAction='http://getJobInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getJobWatchers'>
      <soap12:operation soapAction='http://getJobWatchers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getPackageInformation'>
      <soap12:operation soapAction='http://getPackageInformation' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listClusters'>
      <soap12:operation soapAction='http://listClusters' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listJobs'>
      <soap12:operation soapAction='http://listJobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listPackages'>
      <soap12:operation soapAction='http://listPackages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='previewJobOutput'>
      <soap12:operation soapAction='http://previewJobOutput' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='rateLimitStatus'>
      <soap12:operation soapAction='http://rateLimitStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='runJob'>
      <soap12:operation soapAction='http://runJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stopWatchingCluster'>
      <soap12:operation soapAction='http://stopWatchingCluster' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='stopWatchingJob'>
      <soap12:operation soapAction='http://stopWatchingJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='terminateCluster'>
      <soap12:operation soapAction='http://terminateCluster' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='terminateJob'>
      <soap12:operation soapAction='http://terminateJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateCluster'>
      <soap12:operation soapAction='http://updateCluster' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='watchCluster'>
      <soap12:operation soapAction='http://watchCluster' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='watchJob'>
      <soap12:operation soapAction='http://watchJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='xplenty'>
    <documentation>xplenty s Data Integration as a Service harnesses the power of Hadoop to provide an easy to use scalable ETL service that makes it a snap to prepare your structured and semi structured data for analytics With Xplenty you can join data from one or more sources such asMongoDB PostgreSQL or MySQL to transform your structured and semi structured data stored on AWS Rackspace Google Cloud or IBM SoftLayer Xplenty lets you easily design data flows with a rich set of powerful transformation functions The Xplenty API provides functions for controlling and monitoring Xplenty clusters and jobs After defining an Xplenty data processing package using the Xplenty web application you can call the Xplenty API to Create Hadoop clusters Run jobs Monitor their progress Terminate jobs and clusters You can choose to use the Xplenty REST API or one of its wrappers the Java wrapper the Python wrapper or the Ruby wrapper</documentation>
    <port name='xplentyPort' binding='tns:xplentyBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://xplenty' />
    </port>
  </service>
</definitions>