workspace/datasets/mashape_dataset/xpstopdfconversion.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/xpsToPdfConversion/' name='xpsToPdfConversion' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/xpsToPdfConversion/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/xpsToPdfConversion/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/xpsToPdfConversion/'>
      <xsd:element name='accountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='accountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ApiKeyExpirationDate' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='MaxFileSize' type='xsd:int' minOccurs='0' />
            <xsd:element name='MaxTotalConversionsToday' type='xsd:int' minOccurs='0' />
            <xsd:element name='AccountDisabled' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='CurrentTotalConversionsToday' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='converterParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='filename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='converterResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='converterasyncStatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ticket' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='converterasyncStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='converterasyncUploadParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='filename' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='converterasyncUploadResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publicsessionsAllResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='Ticket' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='StatusText' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='FileName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='DateCreated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ConversionStatus' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ExpiresInMinutes' type='xsd:decimal' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publicsessionsSingleParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ticket' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='publicsessionsSingleResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Ticket' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='StatusText' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='FileName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='DateCreated' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ConversionStatus' type='xsd:int' minOccurs='0' />
            <xsd:element name='ExpiresInMinutes' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionsAllParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionsAllResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Ticket' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='StatusText' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='FileName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='DateCreated' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ConversionStatus' type='xsd:int' minOccurs='0' />
            <xsd:element name='ExpiresInMinutes' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionsTicketParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ticket' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sessionsTicketResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Ticket' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='StatusText' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='FileName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='DateCreated' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ConversionStatus' type='xsd:int' minOccurs='0' />
            <xsd:element name='ExpiresInMinutes' type='xsd:decimal' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='accountRequestMessage'>
    <part name='parameters' element='tns:accountParameters' />
  </message>
  <message name='accountResponseMessage'>
    <part name='response' element='tns:accountResponse' />
  </message>
  <message name='converterRequestMessage'>
    <part name='parameters' element='tns:converterParameters' />
  </message>
  <message name='converterResponseMessage'>
    <part name='response' element='tns:converterResponse' />
  </message>
  <message name='converterasyncStatusRequestMessage'>
    <part name='parameters' element='tns:converterasyncStatusParameters' />
  </message>
  <message name='converterasyncStatusResponseMessage'>
    <part name='response' element='tns:converterasyncStatusResponse' />
  </message>
  <message name='converterasyncUploadRequestMessage'>
    <part name='parameters' element='tns:converterasyncUploadParameters' />
  </message>
  <message name='converterasyncUploadResponseMessage'>
    <part name='response' element='tns:converterasyncUploadResponse' />
  </message>
  <message name='publicsessionsAllRequestMessage' />
  <message name='publicsessionsAllResponseMessage'>
    <part name='response' element='tns:publicsessionsAllResponse' />
  </message>
  <message name='publicsessionsSingleRequestMessage'>
    <part name='parameters' element='tns:publicsessionsSingleParameters' />
  </message>
  <message name='publicsessionsSingleResponseMessage'>
    <part name='response' element='tns:publicsessionsSingleResponse' />
  </message>
  <message name='sessionsAllRequestMessage'>
    <part name='parameters' element='tns:sessionsAllParameters' />
  </message>
  <message name='sessionsAllResponseMessage'>
    <part name='response' element='tns:sessionsAllResponse' />
  </message>
  <message name='sessionsTicketRequestMessage'>
    <part name='parameters' element='tns:sessionsTicketParameters' />
  </message>
  <message name='sessionsTicketResponseMessage'>
    <part name='response' element='tns:sessionsTicketResponse' />
  </message>
  <portType name='xpsToPdfConversionPortType'>
    <operation name='account'>
      <documentation>retrieves quota limits and the current usage</documentation>
      <input message='tns:accountRequestMessage' name='accountInput' />
      <output message='tns:accountResponseMessage' name='accountOutput' />
    </operation>
    <operation name='converter'>
      <documentation>directly converts an OXPS or XPS file and returns the download URL of the converted PDF file or an error It can take up to several minutes for the conversion to complete depending on server load Please consider using the Asynchronous Converter to avoid HTTP specific timeouts</documentation>
      <input message='tns:converterRequestMessage' name='converterInput' />
      <output message='tns:converterResponseMessage' name='converterOutput' />
    </operation>
    <operation name='converterasyncStatus'>
      <documentation>gets the download URL of the converted PDF file for a given job ticket Please use the Sessions API in order to check the current conversion status</documentation>
      <input message='tns:converterasyncStatusRequestMessage' name='converterasyncStatusInput' />
      <output message='tns:converterasyncStatusResponseMessage' name='converterasyncStatusOutput' />
    </operation>
    <operation name='converterasyncUpload'>
      <documentation>uploads an OXPS or XPS file and returns the associated job ticket</documentation>
      <input message='tns:converterasyncUploadRequestMessage' name='converterasyncUploadInput' />
      <output message='tns:converterasyncUploadResponseMessage' name='converterasyncUploadOutput' />
    </operation>
    <operation name='publicsessionsAll'>
      <documentation>gets a list of all recent conversion jobs The current session is determined by the IP address of the invoking HTTP request</documentation>
      <input message='tns:publicsessionsAllRequestMessage' name='publicsessionsAllInput' />
      <output message='tns:publicsessionsAllResponseMessage' name='publicsessionsAllOutput' />
    </operation>
    <operation name='publicsessionsSingle'>
      <documentation>gets the conversion status of a specific job</documentation>
      <input message='tns:publicsessionsSingleRequestMessage' name='publicsessionsSingleInput' />
      <output message='tns:publicsessionsSingleResponseMessage' name='publicsessionsSingleOutput' />
    </operation>
    <operation name='sessionsAll'>
      <documentation>gets a list of all recent conversion jobs</documentation>
      <input message='tns:sessionsAllRequestMessage' name='sessionsAllInput' />
      <output message='tns:sessionsAllResponseMessage' name='sessionsAllOutput' />
    </operation>
    <operation name='sessionsTicket'>
      <documentation>gets the conversion status of a specific job</documentation>
      <input message='tns:sessionsTicketRequestMessage' name='sessionsTicketInput' />
      <output message='tns:sessionsTicketResponseMessage' name='sessionsTicketOutput' />
    </operation>
  </portType>
  <binding name='xpsToPdfConversionBinding' type='tns:xpsToPdfConversionPortType'>
    <operation name='account'>
      <soap12:operation soapAction='http://account' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='converter'>
      <soap12:operation soapAction='http://converter' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='converterasyncStatus'>
      <soap12:operation soapAction='http://converterasyncStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='converterasyncUpload'>
      <soap12:operation soapAction='http://converterasyncUpload' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publicsessionsAll'>
      <soap12:operation soapAction='http://publicsessionsAll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='publicsessionsSingle'>
      <soap12:operation soapAction='http://publicsessionsSingle' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sessionsAll'>
      <soap12:operation soapAction='http://sessionsAll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sessionsTicket'>
      <soap12:operation soapAction='http://sessionsTicket' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='xpsToPdfConversion'>
    <documentation>convert XPS and OXPS files to PDF</documentation>
    <port name='xpsToPdfConversionPort' binding='tns:xpsToPdfConversionBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://xpsToPdfConversion' />
    </port>
  </service>
</definitions>