workspace/datasets/mashape_dataset/yarn.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/yarn/' name='yarn' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/yarn/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/yarn/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/yarn/'>
      <xsd:element name='vocabulateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='averages' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='difficultyDistribution' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wordsPercentage' type='xsd:decimal' minOccurs='0' />
                        <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='difficultyCategories' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='hard' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='occurrencePercentage' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='medium' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='percentage' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='easy' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='percentage' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='page' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='difficultyDistribution' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='wordsPercentage' type='xsd:int' minOccurs='0' />
                        <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='overallScore' type='xsd:int' minOccurs='0' />
                  <xsd:element name='difficultyCategories' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='medium' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='percentage' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='hard' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='percentage' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='easy' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='percentage' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='article' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                        <xsd:element name='category' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='word' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='wordsCategorized' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='hard' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                              <xsd:element name='word' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='occurrencesCount' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='medium' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                              <xsd:element name='word' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='occurrencesCount' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='easy' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                              <xsd:element name='word' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='occurrencesCount' type='xsd:int' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='leaderboards' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='total' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='current' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                              <xsd:element name='position' type='xsd:int' minOccurs='0' />
                              <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='difficult' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='isCurrent' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                              <xsd:element name='position' type='xsd:int' minOccurs='0' />
                              <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='easy' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='isCurrent' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                              <xsd:element name='position' type='xsd:int' minOccurs='0' />
                              <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='lastDays' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='current' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                              <xsd:element name='position' type='xsd:int' minOccurs='0' />
                              <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='count' type='xsd:int' minOccurs='0' />
                        <xsd:element name='difficult' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='isCurrent' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                              <xsd:element name='position' type='xsd:int' minOccurs='0' />
                              <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='easy' maxOccurs='unbounded'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='date' type='xsd:normalizedString' minOccurs='0' />
                              <xsd:element name='isCurrent' type='xsd:boolean' minOccurs='0' />
                              <xsd:element name='difficultyScore' type='xsd:int' minOccurs='0' />
                              <xsd:element name='position' type='xsd:int' minOccurs='0' />
                              <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='vocabulateRequestMessage' />
  <message name='vocabulateResponseMessage'>
    <part name='response' element='tns:vocabulateResponse' />
  </message>
  <portType name='yarnPortType'>
    <operation name='vocabulate'>
      <documentation>returns vocabulary difficulty levels of English language web pages</documentation>
      <input message='tns:vocabulateRequestMessage' name='vocabulateInput' />
      <output message='tns:vocabulateResponseMessage' name='vocabulateOutput' />
    </operation>
  </portType>
  <binding name='yarnBinding' type='tns:yarnPortType'>
    <operation name='vocabulate'>
      <soap12:operation soapAction='http://vocabulate' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='yarn'>
    <documentation>how hard are your words</documentation>
    <port name='yarnPort' binding='tns:yarnBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://yarn' />
    </port>
  </service>
</definitions>