workspace/datasets/mashape_dataset/yawaretimetracker.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/yawareTimetracker/' name='yawareTimetracker' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/yawareTimetracker/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/yawareTimetracker/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/yawareTimetracker/'>
      <xsd:element name='getabsentemployeesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_active' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_activity' type='xsd:date' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='group_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getabsentusersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_active' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_activity' type='xsd:date' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='group_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getapplicationsproductivitytimeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='productivity' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getapplicationsproductivitytimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='name' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='time' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcompanyworkedhoursParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getcompanyworkedhoursResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='seconds' type='xsd:int' minOccurs='0' />
                  <xsd:element name='account' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getdetailedreportbydayParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='group' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='part' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getdetailedreportbydayResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='taskLength' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time_start_timestamp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='productivity' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='time_start' type='xsd:string' minOccurs='0' />
                  <xsd:element name='time_end_timestamp' type='xsd:int' minOccurs='0' />
                  <xsd:element name='firstTask' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='time_end' type='xsd:string' minOccurs='0' />
                  <xsd:element name='events' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:string' minOccurs='0' />
                        <xsd:element name='time' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getdynamicbycompanyParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='considerweekends' xmlns='xsd' type='boolean' maxOccurs='unbounded' />
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='groupedby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='productivity' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getdynamicbycompanyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='average' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:int' minOccurs='0' />
                  <xsd:element name='total' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='dynamic' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:int' minOccurs='0' />
                        <xsd:element name='value' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getdynamicbyemployeesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='considerweekends' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='employees' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='groupedby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='groups' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='productivity' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getdynamicbyemployeesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='average' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:int' minOccurs='0' />
                  <xsd:element name='total' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='user_id' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='value' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dynamic' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:int' minOccurs='0' />
                        <xsd:element name='value' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getdynamicbygroupsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='considerweekends' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='groupedby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='groups' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='productivity' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getdynamicbygroupsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='average' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='date' type='xsd:int' minOccurs='0' />
                  <xsd:element name='total' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='group_id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='value' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='data' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='group_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dynamic' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='date' type='xsd:int' minOccurs='0' />
                        <xsd:element name='value' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='is_active' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_activity' type='xsd:date' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='group_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeelastactivityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeelastactivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='searchdataemail' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='searchdatafirstname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='searchdatalastname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_active' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_activity' type='xsd:date' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='group_name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesbylatenessbyperiodParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesbylatenessbyperiodResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1' />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesbylatenesstodayParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesbylatenesstodayResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='timeStart' type='xsd:string' minOccurs='0' />
                  <xsd:element name='user' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='is_active' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='last_activity' type='xsd:date' minOccurs='0' />
                        <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                        <xsd:element name='group_name' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesbyleftbeforetimebyperiodParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesbyleftbeforetimebyperiodResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='violations' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesbyleftbeforetimeyesterdayParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesbyleftbeforetimeyesterdayResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='violations' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesproductivitytimeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='productivity' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesproductivitytimeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='seconds' type='xsd:int' minOccurs='0' />
                  <xsd:element name='user_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeestatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeestatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesworkedhoursParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='employeeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesworkedhoursResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distractingTime' type='xsd:int' minOccurs='0' />
            <xsd:element name='totalTime' type='xsd:int' minOccurs='0' />
            <xsd:element name='neutralTime' type='xsd:int' minOccurs='0' />
            <xsd:element name='productiveTime' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesworkedhourswithpreviousperiodParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='employeeid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getemployeesworkedhourswithpreviousperiodResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='distractingTime' type='xsd:int' minOccurs='0' />
            <xsd:element name='prevPeriodTotalTime' type='xsd:int' minOccurs='0' />
            <xsd:element name='prevPeriodNeutralTime' type='xsd:int' minOccurs='0' />
            <xsd:element name='totalTime' type='xsd:int' minOccurs='0' />
            <xsd:element name='neutralTime' type='xsd:int' minOccurs='0' />
            <xsd:element name='prevPeriodDistractingTime' type='xsd:int' minOccurs='0' />
            <xsd:element name='productiveTime' type='xsd:int' minOccurs='0' />
            <xsd:element name='prevPeriodProductiveTime' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgroupParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgroupResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='is_default' type='xsd:int' minOccurs='0' />
            <xsd:element name='manager_email' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgroupsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='searchdatacreated' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='searchdatamanageremail' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='searchdataname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgroupsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='updated_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='is_default' type='xsd:int' minOccurs='0' />
                  <xsd:element name='manager_email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgroupworkedhoursParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='groupid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getgroupworkedhoursResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='seconds' type='xsd:int' minOccurs='0' />
                  <xsd:element name='group_id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlatecomersinfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='group' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='groupedby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getlatecomersinfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmanagerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmanagerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='subscribe_weekly_report' type='xsd:int' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='locale' type='xsd:string' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='subscribe_monthly_report' type='xsd:int' minOccurs='0' />
            <xsd:element name='sections' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='n0' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='subscribe_daily_report' type='xsd:int' minOccurs='0' />
            <xsd:element name='subscribe_day' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmanagersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='searchdataemail' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getmanagersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='subscribe_weekly_report' type='xsd:int' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='locale' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subscribe_monthly_report' type='xsd:int' minOccurs='0' />
                  <xsd:element name='sections' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='subscribe_daily_report' type='xsd:int' minOccurs='0' />
                  <xsd:element name='subscribe_day' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpresentemployeesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_active' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_activity' type='xsd:date' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='group_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getpresentusersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_active' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_activity' type='xsd:date' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='group_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getreportbydayParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='group' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getreportbydayResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getreportbyperiodParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='group' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='groupedby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getreportbyperiodResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsubscriptioninfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='users_limit' type='xsd:int' minOccurs='0' />
            <xsd:element name='expire_date' type='xsd:date' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsummarybydayParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='date' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='group' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='groupedby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsummarybydayResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsummarybyperiodParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='datefrom' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateto' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='groupedby' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='user' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getsummarybyperiodResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='is_active' type='xsd:int' minOccurs='0' />
            <xsd:element name='last_activity' type='xsd:date' minOccurs='0' />
            <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='group_name' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
            <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserlastactivityParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserlastactivityResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getusersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='searchdataemail' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='searchdatafirstname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='searchdatalastname' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getusersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='root' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='firstname' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='is_active' type='xsd:int' minOccurs='0' />
                  <xsd:element name='last_activity' type='xsd:date' minOccurs='0' />
                  <xsd:element name='updated_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='group_name' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='created_at' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastname' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserstatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getuserstatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='getabsentemployeesRequestMessage' />
  <message name='getabsentemployeesResponseMessage'>
    <part name='response' element='tns:getabsentemployeesResponse' />
  </message>
  <message name='getabsentusersRequestMessage' />
  <message name='getabsentusersResponseMessage'>
    <part name='response' element='tns:getabsentusersResponse' />
  </message>
  <message name='getapplicationsproductivitytimeRequestMessage'>
    <part name='parameters' element='tns:getapplicationsproductivitytimeParameters' />
  </message>
  <message name='getapplicationsproductivitytimeResponseMessage'>
    <part name='response' element='tns:getapplicationsproductivitytimeResponse' />
  </message>
  <message name='getcompanyworkedhoursRequestMessage'>
    <part name='parameters' element='tns:getcompanyworkedhoursParameters' />
  </message>
  <message name='getcompanyworkedhoursResponseMessage'>
    <part name='response' element='tns:getcompanyworkedhoursResponse' />
  </message>
  <message name='getdetailedreportbydayRequestMessage'>
    <part name='parameters' element='tns:getdetailedreportbydayParameters' />
  </message>
  <message name='getdetailedreportbydayResponseMessage'>
    <part name='response' element='tns:getdetailedreportbydayResponse' />
  </message>
  <message name='getdynamicbycompanyRequestMessage'>
    <part name='parameters' element='tns:getdynamicbycompanyParameters' />
  </message>
  <message name='getdynamicbycompanyResponseMessage'>
    <part name='response' element='tns:getdynamicbycompanyResponse' />
  </message>
  <message name='getdynamicbyemployeesRequestMessage'>
    <part name='parameters' element='tns:getdynamicbyemployeesParameters' />
  </message>
  <message name='getdynamicbyemployeesResponseMessage'>
    <part name='response' element='tns:getdynamicbyemployeesResponse' />
  </message>
  <message name='getdynamicbygroupsRequestMessage'>
    <part name='parameters' element='tns:getdynamicbygroupsParameters' />
  </message>
  <message name='getdynamicbygroupsResponseMessage'>
    <part name='response' element='tns:getdynamicbygroupsResponse' />
  </message>
  <message name='getemployeeRequestMessage'>
    <part name='parameters' element='tns:getemployeeParameters' />
  </message>
  <message name='getemployeeResponseMessage'>
    <part name='response' element='tns:getemployeeResponse' />
  </message>
  <message name='getemployeelastactivityRequestMessage'>
    <part name='parameters' element='tns:getemployeelastactivityParameters' />
  </message>
  <message name='getemployeelastactivityResponseMessage'>
    <part name='response' element='tns:getemployeelastactivityResponse' />
  </message>
  <message name='getemployeesRequestMessage'>
    <part name='parameters' element='tns:getemployeesParameters' />
  </message>
  <message name='getemployeesResponseMessage'>
    <part name='response' element='tns:getemployeesResponse' />
  </message>
  <message name='getemployeesbylatenessbyperiodRequestMessage'>
    <part name='parameters' element='tns:getemployeesbylatenessbyperiodParameters' />
  </message>
  <message name='getemployeesbylatenessbyperiodResponseMessage'>
    <part name='response' element='tns:getemployeesbylatenessbyperiodResponse' />
  </message>
  <message name='getemployeesbylatenesstodayRequestMessage'>
    <part name='parameters' element='tns:getemployeesbylatenesstodayParameters' />
  </message>
  <message name='getemployeesbylatenesstodayResponseMessage'>
    <part name='response' element='tns:getemployeesbylatenesstodayResponse' />
  </message>
  <message name='getemployeesbyleftbeforetimebyperiodRequestMessage'>
    <part name='parameters' element='tns:getemployeesbyleftbeforetimebyperiodParameters' />
  </message>
  <message name='getemployeesbyleftbeforetimebyperiodResponseMessage'>
    <part name='response' element='tns:getemployeesbyleftbeforetimebyperiodResponse' />
  </message>
  <message name='getemployeesbyleftbeforetimeyesterdayRequestMessage'>
    <part name='parameters' element='tns:getemployeesbyleftbeforetimeyesterdayParameters' />
  </message>
  <message name='getemployeesbyleftbeforetimeyesterdayResponseMessage'>
    <part name='response' element='tns:getemployeesbyleftbeforetimeyesterdayResponse' />
  </message>
  <message name='getemployeesproductivitytimeRequestMessage'>
    <part name='parameters' element='tns:getemployeesproductivitytimeParameters' />
  </message>
  <message name='getemployeesproductivitytimeResponseMessage'>
    <part name='response' element='tns:getemployeesproductivitytimeResponse' />
  </message>
  <message name='getemployeestatusRequestMessage'>
    <part name='parameters' element='tns:getemployeestatusParameters' />
  </message>
  <message name='getemployeestatusResponseMessage'>
    <part name='response' element='tns:getemployeestatusResponse' />
  </message>
  <message name='getemployeesworkedhoursRequestMessage'>
    <part name='parameters' element='tns:getemployeesworkedhoursParameters' />
  </message>
  <message name='getemployeesworkedhoursResponseMessage'>
    <part name='response' element='tns:getemployeesworkedhoursResponse' />
  </message>
  <message name='getemployeesworkedhourswithpreviousperiodRequestMessage'>
    <part name='parameters' element='tns:getemployeesworkedhourswithpreviousperiodParameters' />
  </message>
  <message name='getemployeesworkedhourswithpreviousperiodResponseMessage'>
    <part name='response' element='tns:getemployeesworkedhourswithpreviousperiodResponse' />
  </message>
  <message name='getgroupRequestMessage'>
    <part name='parameters' element='tns:getgroupParameters' />
  </message>
  <message name='getgroupResponseMessage'>
    <part name='response' element='tns:getgroupResponse' />
  </message>
  <message name='getgroupsRequestMessage'>
    <part name='parameters' element='tns:getgroupsParameters' />
  </message>
  <message name='getgroupsResponseMessage'>
    <part name='response' element='tns:getgroupsResponse' />
  </message>
  <message name='getgroupworkedhoursRequestMessage'>
    <part name='parameters' element='tns:getgroupworkedhoursParameters' />
  </message>
  <message name='getgroupworkedhoursResponseMessage'>
    <part name='response' element='tns:getgroupworkedhoursResponse' />
  </message>
  <message name='getlatecomersinfoRequestMessage'>
    <part name='parameters' element='tns:getlatecomersinfoParameters' />
  </message>
  <message name='getlatecomersinfoResponseMessage'>
    <part name='response' element='tns:getlatecomersinfoResponse' />
  </message>
  <message name='getmanagerRequestMessage'>
    <part name='parameters' element='tns:getmanagerParameters' />
  </message>
  <message name='getmanagerResponseMessage'>
    <part name='response' element='tns:getmanagerResponse' />
  </message>
  <message name='getmanagersRequestMessage'>
    <part name='parameters' element='tns:getmanagersParameters' />
  </message>
  <message name='getmanagersResponseMessage'>
    <part name='response' element='tns:getmanagersResponse' />
  </message>
  <message name='getpresentemployeesRequestMessage' />
  <message name='getpresentemployeesResponseMessage'>
    <part name='response' element='tns:getpresentemployeesResponse' />
  </message>
  <message name='getpresentusersRequestMessage' />
  <message name='getpresentusersResponseMessage'>
    <part name='response' element='tns:getpresentusersResponse' />
  </message>
  <message name='getreportbydayRequestMessage'>
    <part name='parameters' element='tns:getreportbydayParameters' />
  </message>
  <message name='getreportbydayResponseMessage'>
    <part name='response' element='tns:getreportbydayResponse' />
  </message>
  <message name='getreportbyperiodRequestMessage'>
    <part name='parameters' element='tns:getreportbyperiodParameters' />
  </message>
  <message name='getreportbyperiodResponseMessage'>
    <part name='response' element='tns:getreportbyperiodResponse' />
  </message>
  <message name='getsubscriptioninfoRequestMessage' />
  <message name='getsubscriptioninfoResponseMessage'>
    <part name='response' element='tns:getsubscriptioninfoResponse' />
  </message>
  <message name='getsummarybydayRequestMessage'>
    <part name='parameters' element='tns:getsummarybydayParameters' />
  </message>
  <message name='getsummarybydayResponseMessage'>
    <part name='response' element='tns:getsummarybydayResponse' />
  </message>
  <message name='getsummarybyperiodRequestMessage'>
    <part name='parameters' element='tns:getsummarybyperiodParameters' />
  </message>
  <message name='getsummarybyperiodResponseMessage'>
    <part name='response' element='tns:getsummarybyperiodResponse' />
  </message>
  <message name='getuserRequestMessage'>
    <part name='parameters' element='tns:getuserParameters' />
  </message>
  <message name='getuserResponseMessage'>
    <part name='response' element='tns:getuserResponse' />
  </message>
  <message name='getuserlastactivityRequestMessage'>
    <part name='parameters' element='tns:getuserlastactivityParameters' />
  </message>
  <message name='getuserlastactivityResponseMessage'>
    <part name='response' element='tns:getuserlastactivityResponse' />
  </message>
  <message name='getusersRequestMessage'>
    <part name='parameters' element='tns:getusersParameters' />
  </message>
  <message name='getusersResponseMessage'>
    <part name='response' element='tns:getusersResponse' />
  </message>
  <message name='getuserstatusRequestMessage'>
    <part name='parameters' element='tns:getuserstatusParameters' />
  </message>
  <message name='getuserstatusResponseMessage'>
    <part name='response' element='tns:getuserstatusResponse' />
  </message>
  <portType name='yawareTimetrackerPortType'>
    <operation name='getabsentemployees'>
      <documentation>returns employees not being active today</documentation>
      <input message='tns:getabsentemployeesRequestMessage' name='getabsentemployeesInput' />
      <output message='tns:getabsentemployeesResponseMessage' name='getabsentemployeesOutput' />
    </operation>
    <operation name='getabsentusers'>
      <documentation>returns users not being active today</documentation>
      <input message='tns:getabsentusersRequestMessage' name='getabsentusersInput' />
      <output message='tns:getabsentusersResponseMessage' name='getabsentusersOutput' />
    </operation>
    <operation name='getapplicationsproductivitytime'>
      <documentation>returns applications name and total time use by productivity over some period sorted in descending order</documentation>
      <input message='tns:getapplicationsproductivitytimeRequestMessage' name='getapplicationsproductivitytimeInput' />
      <output message='tns:getapplicationsproductivitytimeResponseMessage' name='getapplicationsproductivitytimeOutput' />
    </operation>
    <operation name='getcompanyworkedhours'>
      <documentation>returns the company s worked hours over some period in seconds</documentation>
      <input message='tns:getcompanyworkedhoursRequestMessage' name='getcompanyworkedhoursInput' />
      <output message='tns:getcompanyworkedhoursResponseMessage' name='getcompanyworkedhoursOutput' />
    </operation>
    <operation name='getdetailedreportbyday'>
      <documentation>get detailed report for users by day</documentation>
      <input message='tns:getdetailedreportbydayRequestMessage' name='getdetailedreportbydayInput' />
      <output message='tns:getdetailedreportbydayResponseMessage' name='getdetailedreportbydayOutput' />
    </operation>
    <operation name='getdynamicbycompany'>
      <documentation>get dynamics of company time over some period</documentation>
      <input message='tns:getdynamicbycompanyRequestMessage' name='getdynamicbycompanyInput' />
      <output message='tns:getdynamicbycompanyResponseMessage' name='getdynamicbycompanyOutput' />
    </operation>
    <operation name='getdynamicbyemployees'>
      <documentation>get dynamics of employees time over some period</documentation>
      <input message='tns:getdynamicbyemployeesRequestMessage' name='getdynamicbyemployeesInput' />
      <output message='tns:getdynamicbyemployeesResponseMessage' name='getdynamicbyemployeesOutput' />
    </operation>
    <operation name='getdynamicbygroups'>
      <documentation>get dynamics of groups time over some period</documentation>
      <input message='tns:getdynamicbygroupsRequestMessage' name='getdynamicbygroupsInput' />
      <output message='tns:getdynamicbygroupsResponseMessage' name='getdynamicbygroupsOutput' />
    </operation>
    <operation name='getemployee'>
      <documentation>returns employees by email</documentation>
      <input message='tns:getemployeeRequestMessage' name='getemployeeInput' />
      <output message='tns:getemployeeResponseMessage' name='getemployeeOutput' />
    </operation>
    <operation name='getemployeelastactivity'>
      <documentation>returns employees last activity date</documentation>
      <input message='tns:getemployeelastactivityRequestMessage' name='getemployeelastactivityInput' />
      <output message='tns:getemployeelastactivityResponseMessage' name='getemployeelastactivityOutput' />
    </operation>
    <operation name='getemployees'>
      <documentation>returns employees by passed parameters</documentation>
      <input message='tns:getemployeesRequestMessage' name='getemployeesInput' />
      <output message='tns:getemployeesResponseMessage' name='getemployeesOutput' />
    </operation>
    <operation name='getemployeesbylatenessbyperiod'>
      <documentation>get users that were late over some period</documentation>
      <input message='tns:getemployeesbylatenessbyperiodRequestMessage' name='getemployeesbylatenessbyperiodInput' />
      <output message='tns:getemployeesbylatenessbyperiodResponseMessage' name='getemployeesbylatenessbyperiodOutput' />
    </operation>
    <operation name='getemployeesbylatenesstoday'>
      <documentation>returns employees that were late today</documentation>
      <input message='tns:getemployeesbylatenesstodayRequestMessage' name='getemployeesbylatenesstodayInput' />
      <output message='tns:getemployeesbylatenesstodayResponseMessage' name='getemployeesbylatenesstodayOutput' />
    </operation>
    <operation name='getemployeesbyleftbeforetimebyperiod'>
      <documentation>returns employees who left work earlier and the number of violations over some period</documentation>
      <input message='tns:getemployeesbyleftbeforetimebyperiodRequestMessage' name='getemployeesbyleftbeforetimebyperiodInput' />
      <output message='tns:getemployeesbyleftbeforetimebyperiodResponseMessage' name='getemployeesbyleftbeforetimebyperiodOutput' />
    </operation>
    <operation name='getemployeesbyleftbeforetimeyesterday'>
      <documentation>returns employees who left work earlier yesterday</documentation>
      <input message='tns:getemployeesbyleftbeforetimeyesterdayRequestMessage' name='getemployeesbyleftbeforetimeyesterdayInput' />
      <output message='tns:getemployeesbyleftbeforetimeyesterdayResponseMessage' name='getemployeesbyleftbeforetimeyesterdayOutput' />
    </operation>
    <operation name='getemployeesproductivitytime'>
      <documentation>returns productivity time for user over some period</documentation>
      <input message='tns:getemployeesproductivitytimeRequestMessage' name='getemployeesproductivitytimeInput' />
      <output message='tns:getemployeesproductivitytimeResponseMessage' name='getemployeesproductivitytimeOutput' />
    </operation>
    <operation name='getemployeestatus'>
      <documentation>returns employees status by email</documentation>
      <input message='tns:getemployeestatusRequestMessage' name='getemployeestatusInput' />
      <output message='tns:getemployeestatusResponseMessage' name='getemployeestatusOutput' />
    </operation>
    <operation name='getemployeesworkedhours'>
      <documentation>returns the employee s total working hours over some period</documentation>
      <input message='tns:getemployeesworkedhoursRequestMessage' name='getemployeesworkedhoursInput' />
      <output message='tns:getemployeesworkedhoursResponseMessage' name='getemployeesworkedhoursOutput' />
    </operation>
    <operation name='getemployeesworkedhourswithpreviousperiod'>
      <documentation>returns the employee s total working hours over some period with previous period</documentation>
      <input message='tns:getemployeesworkedhourswithpreviousperiodRequestMessage' name='getemployeesworkedhourswithpreviousperiodInput' />
      <output message='tns:getemployeesworkedhourswithpreviousperiodResponseMessage' name='getemployeesworkedhourswithpreviousperiodOutput' />
    </operation>
    <operation name='getgroup'>
      <documentation>returns group by name</documentation>
      <input message='tns:getgroupRequestMessage' name='getgroupInput' />
      <output message='tns:getgroupResponseMessage' name='getgroupOutput' />
    </operation>
    <operation name='getgroups'>
      <documentation>returns groups by passed parameters</documentation>
      <input message='tns:getgroupsRequestMessage' name='getgroupsInput' />
      <output message='tns:getgroupsResponseMessage' name='getgroupsOutput' />
    </operation>
    <operation name='getgroupworkedhours'>
      <documentation>returns group worked time in seconds</documentation>
      <input message='tns:getgroupworkedhoursRequestMessage' name='getgroupworkedhoursInput' />
      <output message='tns:getgroupworkedhoursResponseMessage' name='getgroupworkedhoursOutput' />
    </operation>
    <operation name='getlatecomersinfo'>
      <documentation>returns information about latecomers</documentation>
      <input message='tns:getlatecomersinfoRequestMessage' name='getlatecomersinfoInput' />
      <output message='tns:getlatecomersinfoResponseMessage' name='getlatecomersinfoOutput' />
    </operation>
    <operation name='getmanager'>
      <documentation>returns manager by email</documentation>
      <input message='tns:getmanagerRequestMessage' name='getmanagerInput' />
      <output message='tns:getmanagerResponseMessage' name='getmanagerOutput' />
    </operation>
    <operation name='getmanagers'>
      <documentation>returns managers by email</documentation>
      <input message='tns:getmanagersRequestMessage' name='getmanagersInput' />
      <output message='tns:getmanagersResponseMessage' name='getmanagersOutput' />
    </operation>
    <operation name='getpresentemployees'>
      <documentation>returns employees being active today</documentation>
      <input message='tns:getpresentemployeesRequestMessage' name='getpresentemployeesInput' />
      <output message='tns:getpresentemployeesResponseMessage' name='getpresentemployeesOutput' />
    </operation>
    <operation name='getpresentusers'>
      <documentation>returns users being active today</documentation>
      <input message='tns:getpresentusersRequestMessage' name='getpresentusersInput' />
      <output message='tns:getpresentusersResponseMessage' name='getpresentusersOutput' />
    </operation>
    <operation name='getreportbyday'>
      <documentation>generate report by given date</documentation>
      <input message='tns:getreportbydayRequestMessage' name='getreportbydayInput' />
      <output message='tns:getreportbydayResponseMessage' name='getreportbydayOutput' />
    </operation>
    <operation name='getreportbyperiod'>
      <documentation>generate report by given period</documentation>
      <input message='tns:getreportbyperiodRequestMessage' name='getreportbyperiodInput' />
      <output message='tns:getreportbyperiodResponseMessage' name='getreportbyperiodOutput' />
    </operation>
    <operation name='getsubscriptioninfo'>
      <documentation>returns information about account s subscription</documentation>
      <input message='tns:getsubscriptioninfoRequestMessage' name='getsubscriptioninfoInput' />
      <output message='tns:getsubscriptioninfoResponseMessage' name='getsubscriptioninfoOutput' />
    </operation>
    <operation name='getsummarybyday'>
      <documentation>returns summary by day</documentation>
      <input message='tns:getsummarybydayRequestMessage' name='getsummarybydayInput' />
      <output message='tns:getsummarybydayResponseMessage' name='getsummarybydayOutput' />
    </operation>
    <operation name='getsummarybyperiod'>
      <documentation>returns summary by period</documentation>
      <input message='tns:getsummarybyperiodRequestMessage' name='getsummarybyperiodInput' />
      <output message='tns:getsummarybyperiodResponseMessage' name='getsummarybyperiodOutput' />
    </operation>
    <operation name='getuser'>
      <documentation>get user by email</documentation>
      <input message='tns:getuserRequestMessage' name='getuserInput' />
      <output message='tns:getuserResponseMessage' name='getuserOutput' />
    </operation>
    <operation name='getuserlastactivity'>
      <documentation>returns users last activity by email</documentation>
      <input message='tns:getuserlastactivityRequestMessage' name='getuserlastactivityInput' />
      <output message='tns:getuserlastactivityResponseMessage' name='getuserlastactivityOutput' />
    </operation>
    <operation name='getusers'>
      <documentation>get users by passed params</documentation>
      <input message='tns:getusersRequestMessage' name='getusersInput' />
      <output message='tns:getusersResponseMessage' name='getusersOutput' />
    </operation>
    <operation name='getuserstatus'>
      <documentation>returns users status by email</documentation>
      <input message='tns:getuserstatusRequestMessage' name='getuserstatusInput' />
      <output message='tns:getuserstatusResponseMessage' name='getuserstatusOutput' />
    </operation>
  </portType>
  <binding name='yawareTimetrackerBinding' type='tns:yawareTimetrackerPortType'>
    <operation name='getabsentemployees'>
      <soap12:operation soapAction='http://getabsentemployees' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getabsentusers'>
      <soap12:operation soapAction='http://getabsentusers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getapplicationsproductivitytime'>
      <soap12:operation soapAction='http://getapplicationsproductivitytime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getcompanyworkedhours'>
      <soap12:operation soapAction='http://getcompanyworkedhours' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getdetailedreportbyday'>
      <soap12:operation soapAction='http://getdetailedreportbyday' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getdynamicbycompany'>
      <soap12:operation soapAction='http://getdynamicbycompany' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getdynamicbyemployees'>
      <soap12:operation soapAction='http://getdynamicbyemployees' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getdynamicbygroups'>
      <soap12:operation soapAction='http://getdynamicbygroups' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getemployee'>
      <soap12:operation soapAction='http://getemployee' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getemployeelastactivity'>
      <soap12:operation soapAction='http://getemployeelastactivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getemployees'>
      <soap12:operation soapAction='http://getemployees' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getemployeesbylatenessbyperiod'>
      <soap12:operation soapAction='http://getemployeesbylatenessbyperiod' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getemployeesbylatenesstoday'>
      <soap12:operation soapAction='http://getemployeesbylatenesstoday' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getemployeesbyleftbeforetimebyperiod'>
      <soap12:operation soapAction='http://getemployeesbyleftbeforetimebyperiod' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getemployeesbyleftbeforetimeyesterday'>
      <soap12:operation soapAction='http://getemployeesbyleftbeforetimeyesterday' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getemployeesproductivitytime'>
      <soap12:operation soapAction='http://getemployeesproductivitytime' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getemployeestatus'>
      <soap12:operation soapAction='http://getemployeestatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getemployeesworkedhours'>
      <soap12:operation soapAction='http://getemployeesworkedhours' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getemployeesworkedhourswithpreviousperiod'>
      <soap12:operation soapAction='http://getemployeesworkedhourswithpreviousperiod' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgroup'>
      <soap12:operation soapAction='http://getgroup' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgroups'>
      <soap12:operation soapAction='http://getgroups' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getgroupworkedhours'>
      <soap12:operation soapAction='http://getgroupworkedhours' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getlatecomersinfo'>
      <soap12:operation soapAction='http://getlatecomersinfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getmanager'>
      <soap12:operation soapAction='http://getmanager' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getmanagers'>
      <soap12:operation soapAction='http://getmanagers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getpresentemployees'>
      <soap12:operation soapAction='http://getpresentemployees' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getpresentusers'>
      <soap12:operation soapAction='http://getpresentusers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getreportbyday'>
      <soap12:operation soapAction='http://getreportbyday' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getreportbyperiod'>
      <soap12:operation soapAction='http://getreportbyperiod' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsubscriptioninfo'>
      <soap12:operation soapAction='http://getsubscriptioninfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsummarybyday'>
      <soap12:operation soapAction='http://getsummarybyday' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getsummarybyperiod'>
      <soap12:operation soapAction='http://getsummarybyperiod' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuser'>
      <soap12:operation soapAction='http://getuser' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuserlastactivity'>
      <soap12:operation soapAction='http://getuserlastactivity' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getusers'>
      <soap12:operation soapAction='http://getusers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getuserstatus'>
      <soap12:operation soapAction='http://getuserstatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='yawareTimetracker'>
    <documentation>yaware TimeTracker is an automatic time tracking app that helps you and your team manage their time be productive and achieve more Yaware TimeTracker allows you to track time spent on projects websites software usage manage resources evaluate productivity and increase performance All this without the need to start and stop a timer The software allows to track software and Internet use control overtime and flexitime evaluate and reward achievements take screenshots and snapshots Available for Mac OS Linux Windows IOS and Android</documentation>
    <port name='yawareTimetrackerPort' binding='tns:yawareTimetrackerBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://yawareTimetracker' />
    </port>
  </service>
</definitions>