workspace/datasets/mashape_dataset/yifteesandbox.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/yifteeSandbox/' name='yifteeSandbox' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/yifteeSandbox/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/yifteeSandbox/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/yifteeSandbox/'>
      <xsd:element name='balanceResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='balance' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='giftStatusParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='auditnumber' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='giftStatusResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gift' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='amount' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='recipient_gift_link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='merchant_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='expiration_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sender_gift_link' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='audit_number' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='recipient_details' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='giveAGiftResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='gift' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='amount' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='recipient_gift_link' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='merchant_id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='expiration_date' type='xsd:string' minOccurs='0' />
                  <xsd:element name='status' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='sender_gift_link' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='audit_number' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='recipient_details' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='phone' type='xsd:string' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='message' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='merchantByCityAndStateParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='merchantByCityAndStateResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='max_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='address' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='min_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='web' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='logo' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='merchantByIdParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='merchantByIdResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='max_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='address' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='min_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='web' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='logo' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='merchantByLatLonParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='lat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lon' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='radius' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='merchantByLatLonResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='max_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='address' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='min_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='web' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='logo' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='merchantByZipcodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zipcode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='merchantByZipcodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='max_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='address' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='min_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='web' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='logo' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='merchantsByIdsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='merchantsByIdsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='max_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='address' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='min_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='web' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='logo' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='nationalBrandsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='max_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='address' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='min_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='web' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='logo' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='onlineMerchantsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='image' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='max_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='address' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='address2' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address1' type='xsd:string' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='min_price' type='xsd:int' minOccurs='0' />
            <xsd:element name='web' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='name' type='xsd:string' minOccurs='0' />
            <xsd:element name='description' type='xsd:string' minOccurs='0' />
            <xsd:element name='logo' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='id' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='balanceRequestMessage' />
  <message name='balanceResponseMessage'>
    <part name='response' element='tns:balanceResponse' />
  </message>
  <message name='giftStatusRequestMessage'>
    <part name='parameters' element='tns:giftStatusParameters' />
  </message>
  <message name='giftStatusResponseMessage'>
    <part name='response' element='tns:giftStatusResponse' />
  </message>
  <message name='giveAGiftRequestMessage' />
  <message name='giveAGiftResponseMessage'>
    <part name='response' element='tns:giveAGiftResponse' />
  </message>
  <message name='merchantByCityAndStateRequestMessage'>
    <part name='parameters' element='tns:merchantByCityAndStateParameters' />
  </message>
  <message name='merchantByCityAndStateResponseMessage'>
    <part name='response' element='tns:merchantByCityAndStateResponse' />
  </message>
  <message name='merchantByIdRequestMessage'>
    <part name='parameters' element='tns:merchantByIdParameters' />
  </message>
  <message name='merchantByIdResponseMessage'>
    <part name='response' element='tns:merchantByIdResponse' />
  </message>
  <message name='merchantByLatLonRequestMessage'>
    <part name='parameters' element='tns:merchantByLatLonParameters' />
  </message>
  <message name='merchantByLatLonResponseMessage'>
    <part name='response' element='tns:merchantByLatLonResponse' />
  </message>
  <message name='merchantByZipcodeRequestMessage'>
    <part name='parameters' element='tns:merchantByZipcodeParameters' />
  </message>
  <message name='merchantByZipcodeResponseMessage'>
    <part name='response' element='tns:merchantByZipcodeResponse' />
  </message>
  <message name='merchantsByIdsRequestMessage'>
    <part name='parameters' element='tns:merchantsByIdsParameters' />
  </message>
  <message name='merchantsByIdsResponseMessage'>
    <part name='response' element='tns:merchantsByIdsResponse' />
  </message>
  <message name='nationalBrandsRequestMessage' />
  <message name='nationalBrandsResponseMessage'>
    <part name='response' element='tns:nationalBrandsResponse' />
  </message>
  <message name='onlineMerchantsRequestMessage' />
  <message name='onlineMerchantsResponseMessage'>
    <part name='response' element='tns:onlineMerchantsResponse' />
  </message>
  <portType name='yifteeSandboxPortType'>
    <operation name='balance'>
      <documentation>retrieve account balance</documentation>
      <input message='tns:balanceRequestMessage' name='balanceInput' />
      <output message='tns:balanceResponseMessage' name='balanceOutput' />
    </operation>
    <operation name='giftStatus'>
      <documentation></documentation>
      <input message='tns:giftStatusRequestMessage' name='giftStatusInput' />
      <output message='tns:giftStatusResponseMessage' name='giftStatusOutput' />
    </operation>
    <operation name='giveAGift'>
      <documentation>send a gift to an email address or phone number redeemable at a chosen merchant</documentation>
      <input message='tns:giveAGiftRequestMessage' name='giveAGiftInput' />
      <output message='tns:giveAGiftResponseMessage' name='giveAGiftOutput' />
    </operation>
    <operation name='merchantByCityAndState'>
      <documentation>searches for Merchants in specified city and state</documentation>
      <input message='tns:merchantByCityAndStateRequestMessage' name='merchantByCityAndStateInput' />
      <output message='tns:merchantByCityAndStateResponseMessage' name='merchantByCityAndStateOutput' />
    </operation>
    <operation name='merchantById'>
      <documentation>returns merchant info for merchant with id id</documentation>
      <input message='tns:merchantByIdRequestMessage' name='merchantByIdInput' />
      <output message='tns:merchantByIdResponseMessage' name='merchantByIdOutput' />
    </operation>
    <operation name='merchantByLatLon'>
      <documentation>searches for merchants near specified lat lon</documentation>
      <input message='tns:merchantByLatLonRequestMessage' name='merchantByLatLonInput' />
      <output message='tns:merchantByLatLonResponseMessage' name='merchantByLatLonOutput' />
    </operation>
    <operation name='merchantByZipcode'>
      <documentation>searches for merchants in the specified zipcode</documentation>
      <input message='tns:merchantByZipcodeRequestMessage' name='merchantByZipcodeInput' />
      <output message='tns:merchantByZipcodeResponseMessage' name='merchantByZipcodeOutput' />
    </operation>
    <operation name='merchantsByIds'>
      <documentation>get multiple merchant information</documentation>
      <input message='tns:merchantsByIdsRequestMessage' name='merchantsByIdsInput' />
      <output message='tns:merchantsByIdsResponseMessage' name='merchantsByIdsOutput' />
    </operation>
    <operation name='nationalBrands'>
      <documentation>returns all national brands in our database</documentation>
      <input message='tns:nationalBrandsRequestMessage' name='nationalBrandsInput' />
      <output message='tns:nationalBrandsResponseMessage' name='nationalBrandsOutput' />
    </operation>
    <operation name='onlineMerchants'>
      <documentation>get a list of merchants who can accept Yiftee gifts online</documentation>
      <input message='tns:onlineMerchantsRequestMessage' name='onlineMerchantsInput' />
      <output message='tns:onlineMerchantsResponseMessage' name='onlineMerchantsOutput' />
    </operation>
  </portType>
  <binding name='yifteeSandboxBinding' type='tns:yifteeSandboxPortType'>
    <operation name='balance'>
      <soap12:operation soapAction='http://balance' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='giftStatus'>
      <soap12:operation soapAction='http://giftStatus' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='giveAGift'>
      <soap12:operation soapAction='http://giveAGift' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='merchantByCityAndState'>
      <soap12:operation soapAction='http://merchantByCityAndState' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='merchantById'>
      <soap12:operation soapAction='http://merchantById' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='merchantByLatLon'>
      <soap12:operation soapAction='http://merchantByLatLon' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='merchantByZipcode'>
      <soap12:operation soapAction='http://merchantByZipcode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='merchantsByIds'>
      <soap12:operation soapAction='http://merchantsByIds' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='nationalBrands'>
      <soap12:operation soapAction='http://nationalBrands' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='onlineMerchants'>
      <soap12:operation soapAction='http://onlineMerchants' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='yifteeSandbox'>
    <documentation>send gift cards through a single simple REST API Access thousands of local and national merchants USA through our Gifting Platform From customer love to internal employee rewards developers are using the API to create solutions that could only be accomplished before by physically buying and shipping plastic gift cards Gifts can be tied to a specific location perfect for converting online engagement to in store traffic via measurable marketing campaigns We are always looking for new use cases and case studies to feature so if you have any questions comments or general feedback drop us a line at developers yiftee com This API points to our sandbox server and no real gifts will be issues</documentation>
    <port name='yifteeSandboxPort' binding='tns:yifteeSandboxBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://yifteeSandbox' />
    </port>
  </service>
</definitions>