workspace/datasets/mashape_dataset/yippiemove.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/yippiemove/' name='yippiemove' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/yippiemove/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/yippiemove/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/yippiemove/'>
      <xsd:element name='addSpecificMoveJobsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='movejobid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addSpecificMoveJobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addTheEmailPartOfAJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='addTheEmailPartOfAJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSpecificMoveJobsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='movejobid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteSpecificMoveJobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTheEmailPartOfAJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteTheEmailPartOfAJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfEmailFoldersForAParticularAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='createdatgt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='createdatlt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='moveJobId' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='movejobid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ownerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sourcedestination' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sourcedestination' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userId' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfEmailFoldersForAParticularAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfProvidersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getAListOfProvidersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getListOfMoveJobsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='createdatgt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='createdatlt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ownerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userId' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getListOfMoveJobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getListOfUsersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='createdatgt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='createdatlt' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='offset' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getListOfUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTheEmailPartOfAJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userId' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getTheEmailPartOfAJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='putListOfEmailFoldersForAParticularAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='movejobid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sourcedestination' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='putListOfEmailFoldersForAParticularAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateSpecificMoveJobsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='movejobid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateSpecificMoveJobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTheEmailPartOfAJobParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateTheEmailPartOfAJobResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewSpecificMoveJobsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='moveJobId' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='movejobid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userId' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewSpecificMoveJobsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewSpecificUsersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='userId' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewSpecificUsersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='addSpecificMoveJobsRequestMessage'>
    <part name='parameters' element='tns:addSpecificMoveJobsParameters' />
  </message>
  <message name='addSpecificMoveJobsResponseMessage'>
    <part name='response' element='tns:addSpecificMoveJobsResponse' />
  </message>
  <message name='addTheEmailPartOfAJobRequestMessage'>
    <part name='parameters' element='tns:addTheEmailPartOfAJobParameters' />
  </message>
  <message name='addTheEmailPartOfAJobResponseMessage'>
    <part name='response' element='tns:addTheEmailPartOfAJobResponse' />
  </message>
  <message name='deleteSpecificMoveJobsRequestMessage'>
    <part name='parameters' element='tns:deleteSpecificMoveJobsParameters' />
  </message>
  <message name='deleteSpecificMoveJobsResponseMessage'>
    <part name='response' element='tns:deleteSpecificMoveJobsResponse' />
  </message>
  <message name='deleteTheEmailPartOfAJobRequestMessage'>
    <part name='parameters' element='tns:deleteTheEmailPartOfAJobParameters' />
  </message>
  <message name='deleteTheEmailPartOfAJobResponseMessage'>
    <part name='response' element='tns:deleteTheEmailPartOfAJobResponse' />
  </message>
  <message name='getAListOfEmailFoldersForAParticularAccountRequestMessage'>
    <part name='parameters' element='tns:getAListOfEmailFoldersForAParticularAccountParameters' />
  </message>
  <message name='getAListOfEmailFoldersForAParticularAccountResponseMessage'>
    <part name='response' element='tns:getAListOfEmailFoldersForAParticularAccountResponse' />
  </message>
  <message name='getAListOfProvidersRequestMessage'>
    <part name='parameters' element='tns:getAListOfProvidersParameters' />
  </message>
  <message name='getAListOfProvidersResponseMessage'>
    <part name='response' element='tns:getAListOfProvidersResponse' />
  </message>
  <message name='getListOfMoveJobsRequestMessage'>
    <part name='parameters' element='tns:getListOfMoveJobsParameters' />
  </message>
  <message name='getListOfMoveJobsResponseMessage'>
    <part name='response' element='tns:getListOfMoveJobsResponse' />
  </message>
  <message name='getListOfUsersRequestMessage'>
    <part name='parameters' element='tns:getListOfUsersParameters' />
  </message>
  <message name='getListOfUsersResponseMessage'>
    <part name='response' element='tns:getListOfUsersResponse' />
  </message>
  <message name='getTheEmailPartOfAJobRequestMessage'>
    <part name='parameters' element='tns:getTheEmailPartOfAJobParameters' />
  </message>
  <message name='getTheEmailPartOfAJobResponseMessage'>
    <part name='response' element='tns:getTheEmailPartOfAJobResponse' />
  </message>
  <message name='putListOfEmailFoldersForAParticularAccountRequestMessage'>
    <part name='parameters' element='tns:putListOfEmailFoldersForAParticularAccountParameters' />
  </message>
  <message name='putListOfEmailFoldersForAParticularAccountResponseMessage'>
    <part name='response' element='tns:putListOfEmailFoldersForAParticularAccountResponse' />
  </message>
  <message name='updateSpecificMoveJobsRequestMessage'>
    <part name='parameters' element='tns:updateSpecificMoveJobsParameters' />
  </message>
  <message name='updateSpecificMoveJobsResponseMessage'>
    <part name='response' element='tns:updateSpecificMoveJobsResponse' />
  </message>
  <message name='updateTheEmailPartOfAJobRequestMessage'>
    <part name='parameters' element='tns:updateTheEmailPartOfAJobParameters' />
  </message>
  <message name='updateTheEmailPartOfAJobResponseMessage'>
    <part name='response' element='tns:updateTheEmailPartOfAJobResponse' />
  </message>
  <message name='viewSpecificMoveJobsRequestMessage'>
    <part name='parameters' element='tns:viewSpecificMoveJobsParameters' />
  </message>
  <message name='viewSpecificMoveJobsResponseMessage'>
    <part name='response' element='tns:viewSpecificMoveJobsResponse' />
  </message>
  <message name='viewSpecificUsersRequestMessage'>
    <part name='parameters' element='tns:viewSpecificUsersParameters' />
  </message>
  <message name='viewSpecificUsersResponseMessage'>
    <part name='response' element='tns:viewSpecificUsersResponse' />
  </message>
  <portType name='yippiemovePortType'>
    <operation name='addSpecificMoveJobs'>
      <documentation></documentation>
      <input message='tns:addSpecificMoveJobsRequestMessage' name='addSpecificMoveJobsInput' />
      <output message='tns:addSpecificMoveJobsResponseMessage' name='addSpecificMoveJobsOutput' />
    </operation>
    <operation name='addTheEmailPartOfAJob'>
      <documentation></documentation>
      <input message='tns:addTheEmailPartOfAJobRequestMessage' name='addTheEmailPartOfAJobInput' />
      <output message='tns:addTheEmailPartOfAJobResponseMessage' name='addTheEmailPartOfAJobOutput' />
    </operation>
    <operation name='deleteSpecificMoveJobs'>
      <documentation>note that only Move Jobs which still have a stage of new and which are are editable may be deleted</documentation>
      <input message='tns:deleteSpecificMoveJobsRequestMessage' name='deleteSpecificMoveJobsInput' />
      <output message='tns:deleteSpecificMoveJobsResponseMessage' name='deleteSpecificMoveJobsOutput' />
    </operation>
    <operation name='deleteTheEmailPartOfAJob'>
      <documentation></documentation>
      <input message='tns:deleteTheEmailPartOfAJobRequestMessage' name='deleteTheEmailPartOfAJobInput' />
      <output message='tns:deleteTheEmailPartOfAJobResponseMessage' name='deleteTheEmailPartOfAJobOutput' />
    </operation>
    <operation name='getAListOfEmailFoldersForAParticularAccount'>
      <documentation></documentation>
      <input message='tns:getAListOfEmailFoldersForAParticularAccountRequestMessage' name='getAListOfEmailFoldersForAParticularAccountInput' />
      <output message='tns:getAListOfEmailFoldersForAParticularAccountResponseMessage' name='getAListOfEmailFoldersForAParticularAccountOutput' />
    </operation>
    <operation name='getAListOfProviders'>
      <documentation></documentation>
      <input message='tns:getAListOfProvidersRequestMessage' name='getAListOfProvidersInput' />
      <output message='tns:getAListOfProvidersResponseMessage' name='getAListOfProvidersOutput' />
    </operation>
    <operation name='getListOfMoveJobs'>
      <documentation></documentation>
      <input message='tns:getListOfMoveJobsRequestMessage' name='getListOfMoveJobsInput' />
      <output message='tns:getListOfMoveJobsResponseMessage' name='getListOfMoveJobsOutput' />
    </operation>
    <operation name='getListOfUsers'>
      <documentation></documentation>
      <input message='tns:getListOfUsersRequestMessage' name='getListOfUsersInput' />
      <output message='tns:getListOfUsersResponseMessage' name='getListOfUsersOutput' />
    </operation>
    <operation name='getTheEmailPartOfAJob'>
      <documentation></documentation>
      <input message='tns:getTheEmailPartOfAJobRequestMessage' name='getTheEmailPartOfAJobInput' />
      <output message='tns:getTheEmailPartOfAJobResponseMessage' name='getTheEmailPartOfAJobOutput' />
    </operation>
    <operation name='putListOfEmailFoldersForAParticularAccount'>
      <documentation></documentation>
      <input message='tns:putListOfEmailFoldersForAParticularAccountRequestMessage' name='putListOfEmailFoldersForAParticularAccountInput' />
      <output message='tns:putListOfEmailFoldersForAParticularAccountResponseMessage' name='putListOfEmailFoldersForAParticularAccountOutput' />
    </operation>
    <operation name='updateSpecificMoveJobs'>
      <documentation></documentation>
      <input message='tns:updateSpecificMoveJobsRequestMessage' name='updateSpecificMoveJobsInput' />
      <output message='tns:updateSpecificMoveJobsResponseMessage' name='updateSpecificMoveJobsOutput' />
    </operation>
    <operation name='updateTheEmailPartOfAJob'>
      <documentation></documentation>
      <input message='tns:updateTheEmailPartOfAJobRequestMessage' name='updateTheEmailPartOfAJobInput' />
      <output message='tns:updateTheEmailPartOfAJobResponseMessage' name='updateTheEmailPartOfAJobOutput' />
    </operation>
    <operation name='viewSpecificMoveJobs'>
      <documentation></documentation>
      <input message='tns:viewSpecificMoveJobsRequestMessage' name='viewSpecificMoveJobsInput' />
      <output message='tns:viewSpecificMoveJobsResponseMessage' name='viewSpecificMoveJobsOutput' />
    </operation>
    <operation name='viewSpecificUsers'>
      <documentation></documentation>
      <input message='tns:viewSpecificUsersRequestMessage' name='viewSpecificUsersInput' />
      <output message='tns:viewSpecificUsersResponseMessage' name='viewSpecificUsersOutput' />
    </operation>
  </portType>
  <binding name='yippiemoveBinding' type='tns:yippiemovePortType'>
    <operation name='addSpecificMoveJobs'>
      <soap12:operation soapAction='http://addSpecificMoveJobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='addTheEmailPartOfAJob'>
      <soap12:operation soapAction='http://addTheEmailPartOfAJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteSpecificMoveJobs'>
      <soap12:operation soapAction='http://deleteSpecificMoveJobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteTheEmailPartOfAJob'>
      <soap12:operation soapAction='http://deleteTheEmailPartOfAJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAListOfEmailFoldersForAParticularAccount'>
      <soap12:operation soapAction='http://getAListOfEmailFoldersForAParticularAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getAListOfProviders'>
      <soap12:operation soapAction='http://getAListOfProviders' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getListOfMoveJobs'>
      <soap12:operation soapAction='http://getListOfMoveJobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getListOfUsers'>
      <soap12:operation soapAction='http://getListOfUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getTheEmailPartOfAJob'>
      <soap12:operation soapAction='http://getTheEmailPartOfAJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='putListOfEmailFoldersForAParticularAccount'>
      <soap12:operation soapAction='http://putListOfEmailFoldersForAParticularAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateSpecificMoveJobs'>
      <soap12:operation soapAction='http://updateSpecificMoveJobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateTheEmailPartOfAJob'>
      <soap12:operation soapAction='http://updateTheEmailPartOfAJob' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewSpecificMoveJobs'>
      <soap12:operation soapAction='http://viewSpecificMoveJobs' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewSpecificUsers'>
      <soap12:operation soapAction='http://viewSpecificUsers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='yippiemove'>
    <documentation>yippieMove is the world s most powerful email migration tool Regardless if you re planning to migrate one one hundred or thousands of accounts YippieMove is your best friend</documentation>
    <port name='yippiemovePort' binding='tns:yippiemoveBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://yippiemove' />
    </port>
  </service>
</definitions>