workspace/datasets/mashape_dataset/yodaspeak.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/yodaSpeak/' name='yodaSpeak' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/yodaSpeak/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/yodaSpeak/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/yodaSpeak/'>
      <xsd:element name='yodaSpeakParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sentence' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='yodaSpeakResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='yodaSpeakRequestMessage'>
    <part name='parameters' element='tns:yodaSpeakParameters' />
  </message>
  <message name='yodaSpeakResponseMessage'>
    <part name='response' element='tns:yodaSpeakResponse' />
  </message>
  <portType name='yodaSpeakPortType'>
    <operation name='yodaSpeak'>
      <documentation></documentation>
      <input message='tns:yodaSpeakRequestMessage' name='yodaSpeakInput' />
      <output message='tns:yodaSpeakResponseMessage' name='yodaSpeakOutput' />
    </operation>
  </portType>
  <binding name='yodaSpeakBinding' type='tns:yodaSpeakPortType'>
    <operation name='yodaSpeak'>
      <soap12:operation soapAction='http://yodaSpeak' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='yodaSpeak'>
    <documentation>turn your sentences and webpage into Yoda speak Credits to http www yodaspeak co uk for providing this service This API is a test in progress and still sitting on a dev sandbox Things might break quite often</documentation>
    <port name='yodaSpeakPort' binding='tns:yodaSpeakBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://yodaSpeak' />
    </port>
  </service>
</definitions>