workspace/datasets/mashape_dataset/yourmapper.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/yourmapper/' name='yourmapper' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/yourmapper/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/yourmapper/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/yourmapper/'>
      <xsd:element name='datasetListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxlat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='maxlon' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='minlat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='minlon' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='num' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='sort' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='datasetListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='count' type='xsd:int' minOccurs='0' />
            <xsd:element name='items' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='DaysUpdate' type='xsd:int' minOccurs='0' />
                  <xsd:element name='TypeName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='UpdatedDate' type='xsd:string' minOccurs='0' />
                  <xsd:element name='RatingScore' type='xsd:decimal' minOccurs='0' />
                  <xsd:element name='MarkerType' type='xsd:int' minOccurs='0' />
                  <xsd:element name='ViewCount' type='xsd:int' minOccurs='0' />
                  <xsd:element name='Coverage' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='ID' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='Name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='DatasetID' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mapCategoriesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mapCategoriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='items' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='icon' type='xsd:anyURI' minOccurs='0' />
                  <xsd:element name='name' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mapInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='mapInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='OfficialLink' type='xsd:string' minOccurs='0' />
            <xsd:element name='DetailLink' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='Description' type='xsd:string' minOccurs='0' />
            <xsd:element name='ExternalLinkName' type='xsd:string' minOccurs='0' />
            <xsd:element name='UpdatedDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='StateName' type='xsd:string' minOccurs='0' />
            <xsd:element name='MaxLat' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='StartState' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='MapperName' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='StartDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='MinLat' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='MapperID' type='xsd:int' minOccurs='0' />
            <xsd:element name='OfficialName' type='xsd:string' minOccurs='0' />
            <xsd:element name='MaxLon' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='RatingCount' type='xsd:int' minOccurs='0' />
            <xsd:element name='DateFilter' type='xsd:int' minOccurs='0' />
            <xsd:element name='MinLon' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='ViewCount' type='xsd:int' minOccurs='0' />
            <xsd:element name='Coverage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Linkpath' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='EndDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='RatingTotal' type='xsd:int' minOccurs='0' />
            <xsd:element name='StartCity' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='UpdateFrequency' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='DatasetShortID' type='xsd:int' minOccurs='0' />
            <xsd:element name='Official' type='xsd:int' minOccurs='0' />
            <xsd:element name='CreatedDate' type='xsd:string' minOccurs='0' />
            <xsd:element name='MarkerType' type='xsd:int' minOccurs='0' />
            <xsd:element name='UpdatedDays' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='markerInfoParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='dist' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='format' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='set' type='xsd:int' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='markerInfoResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='Zip' type='xsd:int' minOccurs='0' />
            <xsd:element name='DetailLink' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='Permalink' type='xsd:anyURI' minOccurs='0' />
            <xsd:element name='Description' type='xsd:string' minOccurs='0' />
            <xsd:element name='Category' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Address' type='xsd:string' minOccurs='0' />
            <xsd:element name='ExternalID' type='xsd:int' minOccurs='0' />
            <xsd:element name='Address2' type='xsd:string' minOccurs='0' />
            <xsd:element name='Latitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='City' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='CatID' type='xsd:int' minOccurs='0' />
            <xsd:element name='CatColor' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Longitude' type='xsd:decimal' minOccurs='0' />
            <xsd:element name='Date' type='xsd:string' minOccurs='0' />
            <xsd:element name='Name' type='xsd:string' minOccurs='0' />
            <xsd:element name='CatImage' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='Details' type='xsd:string' minOccurs='0' />
            <xsd:element name='State' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='ImagePath' type='xsd:string' minOccurs='0' />
            <xsd:element name='LastUpdated' type='xsd:string' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='markersParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='c' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='center' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='compact' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='days' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='end' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='f' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='id' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lat' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='lon' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='num' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='radius' type='xsd:int' maxOccurs='unbounded' />
            <xsd:element name='search' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='markersResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='datasetListRequestMessage'>
    <part name='parameters' element='tns:datasetListParameters' />
  </message>
  <message name='datasetListResponseMessage'>
    <part name='response' element='tns:datasetListResponse' />
  </message>
  <message name='mapCategoriesRequestMessage'>
    <part name='parameters' element='tns:mapCategoriesParameters' />
  </message>
  <message name='mapCategoriesResponseMessage'>
    <part name='response' element='tns:mapCategoriesResponse' />
  </message>
  <message name='mapInfoRequestMessage'>
    <part name='parameters' element='tns:mapInfoParameters' />
  </message>
  <message name='mapInfoResponseMessage'>
    <part name='response' element='tns:mapInfoResponse' />
  </message>
  <message name='markerInfoRequestMessage'>
    <part name='parameters' element='tns:markerInfoParameters' />
  </message>
  <message name='markerInfoResponseMessage'>
    <part name='response' element='tns:markerInfoResponse' />
  </message>
  <message name='markersRequestMessage'>
    <part name='parameters' element='tns:markersParameters' />
  </message>
  <message name='markersResponseMessage'>
    <part name='response' element='tns:markersResponse' />
  </message>
  <portType name='yourmapperPortType'>
    <operation name='datasetList'>
      <documentation>list of our data sets available within a Latitude Longitude bounding box</documentation>
      <input message='tns:datasetListRequestMessage' name='datasetListInput' />
      <output message='tns:datasetListResponseMessage' name='datasetListOutput' />
    </operation>
    <operation name='mapCategories'>
      <documentation>category list and details associated with a data set</documentation>
      <input message='tns:mapCategoriesRequestMessage' name='mapCategoriesInput' />
      <output message='tns:mapCategoriesResponseMessage' name='mapCategoriesOutput' />
    </operation>
    <operation name='mapInfo'>
      <documentation>detailed info about one data set</documentation>
      <input message='tns:mapInfoRequestMessage' name='mapInfoInput' />
      <output message='tns:mapInfoResponseMessage' name='mapInfoOutput' />
    </operation>
    <operation name='markerInfo'>
      <documentation>full details about a specific marker location point of data</documentation>
      <input message='tns:markerInfoRequestMessage' name='markerInfoInput' />
      <output message='tns:markerInfoResponseMessage' name='markerInfoOutput' />
    </operation>
    <operation name='markers'>
      <documentation>gets closest marker location data list around a center Latitude Longitude for a certain data set This is the most important YourMapper API call</documentation>
      <input message='tns:markersRequestMessage' name='markersInput' />
      <output message='tns:markersResponseMessage' name='markersOutput' />
    </operation>
  </portType>
  <binding name='yourmapperBinding' type='tns:yourmapperPortType'>
    <operation name='datasetList'>
      <soap12:operation soapAction='http://datasetList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mapCategories'>
      <soap12:operation soapAction='http://mapCategories' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='mapInfo'>
      <soap12:operation soapAction='http://mapInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='markerInfo'>
      <soap12:operation soapAction='http://markerInfo' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='markers'>
      <soap12:operation soapAction='http://markers' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='yourmapper'>
    <documentation>tap into the millions of points of local open civic data nationwide for you own websites or mobile applications List of data http www yourmapper com browse Datasets include crime property values restaurant health ratings EPA pollution toxic and greenhouse gas emissions historic sites yelp reviews sex offenders car accidents building permits foreclosures real estate bridge safety nursing homes public schools public transit meth labs catholic churches and cultural attractions Coverage is national but data availability depends on source data access Some city data is included in Anchorage San Francisco San Jose Washington Miami Atlanta Chicago Indianapolis Louisville Albuquerque New York Cincinnati Portland Fort Worth and Richmond We can add local data in your city if available</documentation>
    <port name='yourmapperPort' binding='tns:yourmapperBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://yourmapper' />
    </port>
  </service>
</definitions>