workspace/datasets/mashape_dataset/youtubegrabber.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/youtubeGrabber/' name='youtubeGrabber' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/youtubeGrabber/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/youtubeGrabber/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/youtubeGrabber/'>
      <xsd:element name='downloadVideoPhpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='downloadVideoPhpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchChannelPhpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='maxresults' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagetoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchChannelPhpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='img' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='default' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='high' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='medium' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='channelId' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='control' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='prevPageToken' type='xsd:string' minOccurs='0' />
                  <xsd:element name='totalResults' type='xsd:int' minOccurs='0' />
                  <xsd:element name='resultsPerPage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='nextPageToken' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchPlaylistPhpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='maxresults' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagetoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchPlaylistPhpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='playlistId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='img' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='default' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='high' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='medium' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='inChannelId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='inChannelName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='control' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='prevPageToken' type='xsd:string' minOccurs='0' />
                  <xsd:element name='totalResults' type='xsd:int' minOccurs='0' />
                  <xsd:element name='resultsPerPage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='nextPageToken' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchVideoPhpParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='maxresults' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagetoken' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='query' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='searchVideoPhpResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='data' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='img' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='default' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='high' type='xsd:anyURI' minOccurs='0' />
                        <xsd:element name='medium' type='xsd:anyURI' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='inChannelId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='description' type='xsd:string' minOccurs='0' />
                  <xsd:element name='inChannelName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='videoId' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='title' type='xsd:string' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='control' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='prevPageToken' type='xsd:string' minOccurs='0' />
                  <xsd:element name='totalResults' type='xsd:int' minOccurs='0' />
                  <xsd:element name='resultsPerPage' type='xsd:int' minOccurs='0' />
                  <xsd:element name='nextPageToken' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='downloadVideoPhpRequestMessage'>
    <part name='parameters' element='tns:downloadVideoPhpParameters' />
  </message>
  <message name='downloadVideoPhpResponseMessage'>
    <part name='response' element='tns:downloadVideoPhpResponse' />
  </message>
  <message name='searchChannelPhpRequestMessage'>
    <part name='parameters' element='tns:searchChannelPhpParameters' />
  </message>
  <message name='searchChannelPhpResponseMessage'>
    <part name='response' element='tns:searchChannelPhpResponse' />
  </message>
  <message name='searchPlaylistPhpRequestMessage'>
    <part name='parameters' element='tns:searchPlaylistPhpParameters' />
  </message>
  <message name='searchPlaylistPhpResponseMessage'>
    <part name='response' element='tns:searchPlaylistPhpResponse' />
  </message>
  <message name='searchVideoPhpRequestMessage'>
    <part name='parameters' element='tns:searchVideoPhpParameters' />
  </message>
  <message name='searchVideoPhpResponseMessage'>
    <part name='response' element='tns:searchVideoPhpResponse' />
  </message>
  <portType name='youtubeGrabberPortType'>
    <operation name='downloadVideoPhp'>
      <input message='tns:downloadVideoPhpRequestMessage' name='downloadVideoPhpInput' />
      <output message='tns:downloadVideoPhpResponseMessage' name='downloadVideoPhpOutput' />
    </operation>
    <operation name='searchChannelPhp'>
      <documentation>search Youtube channels by string</documentation>
      <input message='tns:searchChannelPhpRequestMessage' name='searchChannelPhpInput' />
      <output message='tns:searchChannelPhpResponseMessage' name='searchChannelPhpOutput' />
    </operation>
    <operation name='searchPlaylistPhp'>
      <documentation>search Youtube video playlists</documentation>
      <input message='tns:searchPlaylistPhpRequestMessage' name='searchPlaylistPhpInput' />
      <output message='tns:searchPlaylistPhpResponseMessage' name='searchPlaylistPhpOutput' />
    </operation>
    <operation name='searchVideoPhp'>
      <documentation>search Youtube videos by string</documentation>
      <input message='tns:searchVideoPhpRequestMessage' name='searchVideoPhpInput' />
      <output message='tns:searchVideoPhpResponseMessage' name='searchVideoPhpOutput' />
    </operation>
  </portType>
  <binding name='youtubeGrabberBinding' type='tns:youtubeGrabberPortType'>
    <operation name='downloadVideoPhp'>
      <soap12:operation soapAction='http://downloadVideoPhp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchChannelPhp'>
      <soap12:operation soapAction='http://searchChannelPhp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchPlaylistPhp'>
      <soap12:operation soapAction='http://searchPlaylistPhp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='searchVideoPhp'>
      <soap12:operation soapAction='http://searchVideoPhp' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='youtubeGrabber'>
    <documentation>search videos channels playlists download videos and convert to mp files Work with all videos included cipher signature encrypt videos copyrighted and vevo videos</documentation>
    <port name='youtubeGrabberPort' binding='tns:youtubeGrabberBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://youtubeGrabber' />
    </port>
  </service>
</definitions>