workspace/datasets/mashape_dataset/ytgrabber.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/ytgrabber/' name='ytgrabber' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/ytgrabber/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/ytgrabber/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/ytgrabber/'>
      <xsd:element name='appGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='vid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='appGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='link' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='type' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='format' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='quality' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='url' type='xsd:anyURI' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='appGetRequestMessage'>
    <part name='parameters' element='tns:appGetParameters' />
  </message>
  <message name='appGetResponseMessage'>
    <part name='response' element='tns:appGetResponse' />
  </message>
  <portType name='ytgrabberPortType'>
    <operation name='appGet'>
      <documentation>download the video using vid</documentation>
      <input message='tns:appGetRequestMessage' name='appGetInput' />
      <output message='tns:appGetResponseMessage' name='appGetOutput' />
    </operation>
  </portType>
  <binding name='ytgrabberBinding' type='tns:ytgrabberPortType'>
    <operation name='appGet'>
      <soap12:operation soapAction='http://appGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='ytgrabber'>
    <documentation>a YouTube video download API which gives you the download links of video in all possible formats even the HD ones</documentation>
    <port name='ytgrabberPort' binding='tns:ytgrabberBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://ytgrabber' />
    </port>
  </service>
</definitions>