workspace/datasets/mashape_dataset/zenalert.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/zenAlert/' name='zenAlert' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/zenAlert/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/zenAlert/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/zenAlert/'>
      <xsd:element name='checkClientVersionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='os' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkClientVersionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkThingOwnerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='checkThingOwnerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='confirmEmailAddressParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='keyconfirm' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='confirmEmailAddressResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tzname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAlertCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alertcode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createAlertCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createDirectionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='direction' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='directiontype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ownerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createDirectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createThingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='note' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='testmode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tzname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='createThingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAccountParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='userid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAccountResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAlertCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alertcodeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteAlertCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDirectionParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='direction' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='directiontype' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='ownerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteDirectionResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteThingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='deleteThingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDataParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='days' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='getDataResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linkComputerParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='globalalerts' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tzname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linkComputerResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linkZenboxParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tzname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='linkZenboxResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listActiveVitalSignalsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listActiveVitalSignalsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listActivitiesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='days' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listActivitiesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAlertCodesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAlertCodesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAlertsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alertid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='all' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listAlertsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listCountriesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDateFormatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDaysParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='language' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDaysResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDirectionTypesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDirectionsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='ownerid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listDirectionsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listInvoicesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listInvoicesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listLanguagesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listThingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listThingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listTimeFormatsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listTimeZonesParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='order' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listTimeZonesResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listVitalSignalCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='listVitalSignalCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loginParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='loginResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='passwordRecoveryParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='passwordRecoveryResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendSignalParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='apikey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='code' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='sendSignalResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unlinkThingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='unlinkThingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateActiveVitalSignalParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='frequency' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='friday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='fromtime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='monday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='saturday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sunday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thursday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timeactivityset' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='totime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tuesday' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='vitalsignalcodeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wednesday' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateActiveVitalSignalResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAlertCodeParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='alertcode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='alertcodeid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateAlertCodeResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateBillingInformationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='company' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='surname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='taxid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='wizard' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateBillingInformationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateMonitoringParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='devicekey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='process' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateMonitoringResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatePasswordParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='newpassword' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='paswword' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updatePasswordResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateRegionalSettingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='dateformatid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='firstdayid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='timeformatid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tzname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateRegionalSettingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateThingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='description' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='latitude' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='longitude' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='note' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='tzname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='zip' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateThingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateUsernameParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='newusername' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='updateUsernameResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewBillingInformationsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewBillingInformationsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewRegionalSettingsParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewRegionalSettingsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewThingParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='thingkey' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='viewThingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='checkClientVersionRequestMessage'>
    <part name='parameters' element='tns:checkClientVersionParameters' />
  </message>
  <message name='checkClientVersionResponseMessage'>
    <part name='response' element='tns:checkClientVersionResponse' />
  </message>
  <message name='checkThingOwnerRequestMessage'>
    <part name='parameters' element='tns:checkThingOwnerParameters' />
  </message>
  <message name='checkThingOwnerResponseMessage'>
    <part name='response' element='tns:checkThingOwnerResponse' />
  </message>
  <message name='confirmEmailAddressRequestMessage'>
    <part name='parameters' element='tns:confirmEmailAddressParameters' />
  </message>
  <message name='confirmEmailAddressResponseMessage'>
    <part name='response' element='tns:confirmEmailAddressResponse' />
  </message>
  <message name='createAccountRequestMessage'>
    <part name='parameters' element='tns:createAccountParameters' />
  </message>
  <message name='createAccountResponseMessage'>
    <part name='response' element='tns:createAccountResponse' />
  </message>
  <message name='createAlertCodeRequestMessage'>
    <part name='parameters' element='tns:createAlertCodeParameters' />
  </message>
  <message name='createAlertCodeResponseMessage'>
    <part name='response' element='tns:createAlertCodeResponse' />
  </message>
  <message name='createDirectionRequestMessage'>
    <part name='parameters' element='tns:createDirectionParameters' />
  </message>
  <message name='createDirectionResponseMessage'>
    <part name='response' element='tns:createDirectionResponse' />
  </message>
  <message name='createThingRequestMessage'>
    <part name='parameters' element='tns:createThingParameters' />
  </message>
  <message name='createThingResponseMessage'>
    <part name='response' element='tns:createThingResponse' />
  </message>
  <message name='deleteAccountRequestMessage'>
    <part name='parameters' element='tns:deleteAccountParameters' />
  </message>
  <message name='deleteAccountResponseMessage'>
    <part name='response' element='tns:deleteAccountResponse' />
  </message>
  <message name='deleteAlertCodeRequestMessage'>
    <part name='parameters' element='tns:deleteAlertCodeParameters' />
  </message>
  <message name='deleteAlertCodeResponseMessage'>
    <part name='response' element='tns:deleteAlertCodeResponse' />
  </message>
  <message name='deleteDirectionRequestMessage'>
    <part name='parameters' element='tns:deleteDirectionParameters' />
  </message>
  <message name='deleteDirectionResponseMessage'>
    <part name='response' element='tns:deleteDirectionResponse' />
  </message>
  <message name='deleteThingRequestMessage'>
    <part name='parameters' element='tns:deleteThingParameters' />
  </message>
  <message name='deleteThingResponseMessage'>
    <part name='response' element='tns:deleteThingResponse' />
  </message>
  <message name='getDataRequestMessage'>
    <part name='parameters' element='tns:getDataParameters' />
  </message>
  <message name='getDataResponseMessage'>
    <part name='response' element='tns:getDataResponse' />
  </message>
  <message name='linkComputerRequestMessage'>
    <part name='parameters' element='tns:linkComputerParameters' />
  </message>
  <message name='linkComputerResponseMessage'>
    <part name='response' element='tns:linkComputerResponse' />
  </message>
  <message name='linkZenboxRequestMessage'>
    <part name='parameters' element='tns:linkZenboxParameters' />
  </message>
  <message name='linkZenboxResponseMessage'>
    <part name='response' element='tns:linkZenboxResponse' />
  </message>
  <message name='listActiveVitalSignalsRequestMessage'>
    <part name='parameters' element='tns:listActiveVitalSignalsParameters' />
  </message>
  <message name='listActiveVitalSignalsResponseMessage'>
    <part name='response' element='tns:listActiveVitalSignalsResponse' />
  </message>
  <message name='listActivitiesRequestMessage'>
    <part name='parameters' element='tns:listActivitiesParameters' />
  </message>
  <message name='listActivitiesResponseMessage'>
    <part name='response' element='tns:listActivitiesResponse' />
  </message>
  <message name='listAlertCodesRequestMessage'>
    <part name='parameters' element='tns:listAlertCodesParameters' />
  </message>
  <message name='listAlertCodesResponseMessage'>
    <part name='response' element='tns:listAlertCodesResponse' />
  </message>
  <message name='listAlertsRequestMessage'>
    <part name='parameters' element='tns:listAlertsParameters' />
  </message>
  <message name='listAlertsResponseMessage'>
    <part name='response' element='tns:listAlertsResponse' />
  </message>
  <message name='listCountriesRequestMessage' />
  <message name='listCountriesResponseMessage'>
    <part name='response' element='tns:listCountriesResponse' />
  </message>
  <message name='listDateFormatsRequestMessage' />
  <message name='listDateFormatsResponseMessage'>
    <part name='response' element='tns:listDateFormatsResponse' />
  </message>
  <message name='listDaysRequestMessage'>
    <part name='parameters' element='tns:listDaysParameters' />
  </message>
  <message name='listDaysResponseMessage'>
    <part name='response' element='tns:listDaysResponse' />
  </message>
  <message name='listDirectionTypesRequestMessage' />
  <message name='listDirectionTypesResponseMessage'>
    <part name='response' element='tns:listDirectionTypesResponse' />
  </message>
  <message name='listDirectionsRequestMessage'>
    <part name='parameters' element='tns:listDirectionsParameters' />
  </message>
  <message name='listDirectionsResponseMessage'>
    <part name='response' element='tns:listDirectionsResponse' />
  </message>
  <message name='listInvoicesRequestMessage'>
    <part name='parameters' element='tns:listInvoicesParameters' />
  </message>
  <message name='listInvoicesResponseMessage'>
    <part name='response' element='tns:listInvoicesResponse' />
  </message>
  <message name='listLanguagesRequestMessage' />
  <message name='listLanguagesResponseMessage'>
    <part name='response' element='tns:listLanguagesResponse' />
  </message>
  <message name='listThingsRequestMessage'>
    <part name='parameters' element='tns:listThingsParameters' />
  </message>
  <message name='listThingsResponseMessage'>
    <part name='response' element='tns:listThingsResponse' />
  </message>
  <message name='listTimeFormatsRequestMessage' />
  <message name='listTimeFormatsResponseMessage'>
    <part name='response' element='tns:listTimeFormatsResponse' />
  </message>
  <message name='listTimeZonesRequestMessage'>
    <part name='parameters' element='tns:listTimeZonesParameters' />
  </message>
  <message name='listTimeZonesResponseMessage'>
    <part name='response' element='tns:listTimeZonesResponse' />
  </message>
  <message name='listVitalSignalCodeRequestMessage'>
    <part name='parameters' element='tns:listVitalSignalCodeParameters' />
  </message>
  <message name='listVitalSignalCodeResponseMessage'>
    <part name='response' element='tns:listVitalSignalCodeResponse' />
  </message>
  <message name='loginRequestMessage'>
    <part name='parameters' element='tns:loginParameters' />
  </message>
  <message name='loginResponseMessage'>
    <part name='response' element='tns:loginResponse' />
  </message>
  <message name='passwordRecoveryRequestMessage'>
    <part name='parameters' element='tns:passwordRecoveryParameters' />
  </message>
  <message name='passwordRecoveryResponseMessage'>
    <part name='response' element='tns:passwordRecoveryResponse' />
  </message>
  <message name='sendSignalRequestMessage'>
    <part name='parameters' element='tns:sendSignalParameters' />
  </message>
  <message name='sendSignalResponseMessage'>
    <part name='response' element='tns:sendSignalResponse' />
  </message>
  <message name='unlinkThingRequestMessage'>
    <part name='parameters' element='tns:unlinkThingParameters' />
  </message>
  <message name='unlinkThingResponseMessage'>
    <part name='response' element='tns:unlinkThingResponse' />
  </message>
  <message name='updateActiveVitalSignalRequestMessage'>
    <part name='parameters' element='tns:updateActiveVitalSignalParameters' />
  </message>
  <message name='updateActiveVitalSignalResponseMessage'>
    <part name='response' element='tns:updateActiveVitalSignalResponse' />
  </message>
  <message name='updateAlertCodeRequestMessage'>
    <part name='parameters' element='tns:updateAlertCodeParameters' />
  </message>
  <message name='updateAlertCodeResponseMessage'>
    <part name='response' element='tns:updateAlertCodeResponse' />
  </message>
  <message name='updateBillingInformationsRequestMessage'>
    <part name='parameters' element='tns:updateBillingInformationsParameters' />
  </message>
  <message name='updateBillingInformationsResponseMessage'>
    <part name='response' element='tns:updateBillingInformationsResponse' />
  </message>
  <message name='updateMonitoringRequestMessage'>
    <part name='parameters' element='tns:updateMonitoringParameters' />
  </message>
  <message name='updateMonitoringResponseMessage'>
    <part name='response' element='tns:updateMonitoringResponse' />
  </message>
  <message name='updatePasswordRequestMessage'>
    <part name='parameters' element='tns:updatePasswordParameters' />
  </message>
  <message name='updatePasswordResponseMessage'>
    <part name='response' element='tns:updatePasswordResponse' />
  </message>
  <message name='updateRegionalSettingsRequestMessage'>
    <part name='parameters' element='tns:updateRegionalSettingsParameters' />
  </message>
  <message name='updateRegionalSettingsResponseMessage'>
    <part name='response' element='tns:updateRegionalSettingsResponse' />
  </message>
  <message name='updateThingRequestMessage'>
    <part name='parameters' element='tns:updateThingParameters' />
  </message>
  <message name='updateThingResponseMessage'>
    <part name='response' element='tns:updateThingResponse' />
  </message>
  <message name='updateUsernameRequestMessage'>
    <part name='parameters' element='tns:updateUsernameParameters' />
  </message>
  <message name='updateUsernameResponseMessage'>
    <part name='response' element='tns:updateUsernameResponse' />
  </message>
  <message name='viewBillingInformationsRequestMessage'>
    <part name='parameters' element='tns:viewBillingInformationsParameters' />
  </message>
  <message name='viewBillingInformationsResponseMessage'>
    <part name='response' element='tns:viewBillingInformationsResponse' />
  </message>
  <message name='viewRegionalSettingsRequestMessage'>
    <part name='parameters' element='tns:viewRegionalSettingsParameters' />
  </message>
  <message name='viewRegionalSettingsResponseMessage'>
    <part name='response' element='tns:viewRegionalSettingsResponse' />
  </message>
  <message name='viewThingRequestMessage'>
    <part name='parameters' element='tns:viewThingParameters' />
  </message>
  <message name='viewThingResponseMessage'>
    <part name='response' element='tns:viewThingResponse' />
  </message>
  <portType name='zenAlertPortType'>
    <operation name='checkClientVersion'>
      <documentation>check version of client software</documentation>
      <input message='tns:checkClientVersionRequestMessage' name='checkClientVersionInput' />
      <output message='tns:checkClientVersionResponseMessage' name='checkClientVersionOutput' />
    </operation>
    <operation name='checkThingOwner'>
      <documentation>check if the user is owner of the Thing</documentation>
      <input message='tns:checkThingOwnerRequestMessage' name='checkThingOwnerInput' />
      <output message='tns:checkThingOwnerResponseMessage' name='checkThingOwnerOutput' />
    </operation>
    <operation name='confirmEmailAddress'>
      <documentation>confirms the email address of an account</documentation>
      <input message='tns:confirmEmailAddressRequestMessage' name='confirmEmailAddressInput' />
      <output message='tns:confirmEmailAddressResponseMessage' name='confirmEmailAddressOutput' />
    </operation>
    <operation name='createAccount'>
      <documentation>create e new account</documentation>
      <input message='tns:createAccountRequestMessage' name='createAccountInput' />
      <output message='tns:createAccountResponseMessage' name='createAccountOutput' />
    </operation>
    <operation name='createAlertCode'>
      <documentation>create new Alert Code</documentation>
      <input message='tns:createAlertCodeRequestMessage' name='createAlertCodeInput' />
      <output message='tns:createAlertCodeResponseMessage' name='createAlertCodeOutput' />
    </operation>
    <operation name='createDirection'>
      <documentation>crete an Alert Direction from an User Object Alert Code or Vital Signal Code</documentation>
      <input message='tns:createDirectionRequestMessage' name='createDirectionInput' />
      <output message='tns:createDirectionResponseMessage' name='createDirectionOutput' />
    </operation>
    <operation name='createThing'>
      <documentation>create New Device</documentation>
      <input message='tns:createThingRequestMessage' name='createThingInput' />
      <output message='tns:createThingResponseMessage' name='createThingOutput' />
    </operation>
    <operation name='deleteAccount'>
      <documentation>delete an Account</documentation>
      <input message='tns:deleteAccountRequestMessage' name='deleteAccountInput' />
      <output message='tns:deleteAccountResponseMessage' name='deleteAccountOutput' />
    </operation>
    <operation name='deleteAlertCode'>
      <documentation>delete an Alert Code</documentation>
      <input message='tns:deleteAlertCodeRequestMessage' name='deleteAlertCodeInput' />
      <output message='tns:deleteAlertCodeResponseMessage' name='deleteAlertCodeOutput' />
    </operation>
    <operation name='deleteDirection'>
      <documentation>delete an Alert Direction from an User Object Alert Code or Vital Signal Code</documentation>
      <input message='tns:deleteDirectionRequestMessage' name='deleteDirectionInput' />
      <output message='tns:deleteDirectionResponseMessage' name='deleteDirectionOutput' />
    </operation>
    <operation name='deleteThing'>
      <documentation>delete Thing also Computer or ZenBox of is unlinked</documentation>
      <input message='tns:deleteThingRequestMessage' name='deleteThingInput' />
      <output message='tns:deleteThingResponseMessage' name='deleteThingOutput' />
    </operation>
    <operation name='getData'>
      <documentation>retrieve data collected by a thing</documentation>
      <input message='tns:getDataRequestMessage' name='getDataInput' />
      <output message='tns:getDataResponseMessage' name='getDataOutput' />
    </operation>
    <operation name='linkComputer'>
      <documentation>link the computer to an account</documentation>
      <input message='tns:linkComputerRequestMessage' name='linkComputerInput' />
      <output message='tns:linkComputerResponseMessage' name='linkComputerOutput' />
    </operation>
    <operation name='linkZenbox'>
      <documentation>link a ZenBox to an Account</documentation>
      <input message='tns:linkZenboxRequestMessage' name='linkZenboxInput' />
      <output message='tns:linkZenboxResponseMessage' name='linkZenboxOutput' />
    </operation>
    <operation name='listActiveVitalSignals'>
      <documentation>lists all the Active Vital Signal in the account</documentation>
      <input message='tns:listActiveVitalSignalsRequestMessage' name='listActiveVitalSignalsInput' />
      <output message='tns:listActiveVitalSignalsResponseMessage' name='listActiveVitalSignalsOutput' />
    </operation>
    <operation name='listActivities'>
      <documentation>view the activities of a Thing</documentation>
      <input message='tns:listActivitiesRequestMessage' name='listActivitiesInput' />
      <output message='tns:listActivitiesResponseMessage' name='listActivitiesOutput' />
    </operation>
    <operation name='listAlertCodes'>
      <documentation>view all the Alerts Codes of account</documentation>
      <input message='tns:listAlertCodesRequestMessage' name='listAlertCodesInput' />
      <output message='tns:listAlertCodesResponseMessage' name='listAlertCodesOutput' />
    </operation>
    <operation name='listAlerts'>
      <documentation>list all alerts to an account</documentation>
      <input message='tns:listAlertsRequestMessage' name='listAlertsInput' />
      <output message='tns:listAlertsResponseMessage' name='listAlertsOutput' />
    </operation>
    <operation name='listCountries'>
      <documentation>view all accepted countries</documentation>
      <input message='tns:listCountriesRequestMessage' name='listCountriesInput' />
      <output message='tns:listCountriesResponseMessage' name='listCountriesOutput' />
    </operation>
    <operation name='listDateFormats'>
      <documentation>view all accepted Date Formats</documentation>
      <input message='tns:listDateFormatsRequestMessage' name='listDateFormatsInput' />
      <output message='tns:listDateFormatsResponseMessage' name='listDateFormatsOutput' />
    </operation>
    <operation name='listDays'>
      <documentation>list of days</documentation>
      <input message='tns:listDaysRequestMessage' name='listDaysInput' />
      <output message='tns:listDaysResponseMessage' name='listDaysOutput' />
    </operation>
    <operation name='listDirectionTypes'>
      <documentation>view all Direction Types</documentation>
      <input message='tns:listDirectionTypesRequestMessage' name='listDirectionTypesInput' />
      <output message='tns:listDirectionTypesResponseMessage' name='listDirectionTypesOutput' />
    </operation>
    <operation name='listDirections'>
      <documentation>directions list of a specific user id thing id alert code id or vitalsignal code id</documentation>
      <input message='tns:listDirectionsRequestMessage' name='listDirectionsInput' />
      <output message='tns:listDirectionsResponseMessage' name='listDirectionsOutput' />
    </operation>
    <operation name='listInvoices'>
      <documentation></documentation>
      <input message='tns:listInvoicesRequestMessage' name='listInvoicesInput' />
      <output message='tns:listInvoicesResponseMessage' name='listInvoicesOutput' />
    </operation>
    <operation name='listLanguages'>
      <documentation></documentation>
      <input message='tns:listLanguagesRequestMessage' name='listLanguagesInput' />
      <output message='tns:listLanguagesResponseMessage' name='listLanguagesOutput' />
    </operation>
    <operation name='listThings'>
      <documentation>view all the Things in the account</documentation>
      <input message='tns:listThingsRequestMessage' name='listThingsInput' />
      <output message='tns:listThingsResponseMessage' name='listThingsOutput' />
    </operation>
    <operation name='listTimeFormats'>
      <documentation>list all accepted Time Formats</documentation>
      <input message='tns:listTimeFormatsRequestMessage' name='listTimeFormatsInput' />
      <output message='tns:listTimeFormatsResponseMessage' name='listTimeFormatsOutput' />
    </operation>
    <operation name='listTimeZones'>
      <documentation>list all accepted Time Zones</documentation>
      <input message='tns:listTimeZonesRequestMessage' name='listTimeZonesInput' />
      <output message='tns:listTimeZonesResponseMessage' name='listTimeZonesOutput' />
    </operation>
    <operation name='listVitalSignalCode'>
      <documentation>lists all Vital Signal Codes in the account</documentation>
      <input message='tns:listVitalSignalCodeRequestMessage' name='listVitalSignalCodeInput' />
      <output message='tns:listVitalSignalCodeResponseMessage' name='listVitalSignalCodeOutput' />
    </operation>
    <operation name='login'>
      <documentation>login user</documentation>
      <input message='tns:loginRequestMessage' name='loginInput' />
      <output message='tns:loginResponseMessage' name='loginOutput' />
    </operation>
    <operation name='passwordRecovery'>
      <documentation>recover Password</documentation>
      <input message='tns:passwordRecoveryRequestMessage' name='passwordRecoveryInput' />
      <output message='tns:passwordRecoveryResponseMessage' name='passwordRecoveryOutput' />
    </operation>
    <operation name='sendSignal'>
      <documentation>send an Event or Vital Signal</documentation>
      <input message='tns:sendSignalRequestMessage' name='sendSignalInput' />
      <output message='tns:sendSignalResponseMessage' name='sendSignalOutput' />
    </operation>
    <operation name='unlinkThing'>
      <documentation>unlink a Computer or a Zen Box from an Account</documentation>
      <input message='tns:unlinkThingRequestMessage' name='unlinkThingInput' />
      <output message='tns:unlinkThingResponseMessage' name='unlinkThingOutput' />
    </operation>
    <operation name='updateActiveVitalSignal'>
      <documentation>create Update or Delete Active Notice</documentation>
      <input message='tns:updateActiveVitalSignalRequestMessage' name='updateActiveVitalSignalInput' />
      <output message='tns:updateActiveVitalSignalResponseMessage' name='updateActiveVitalSignalOutput' />
    </operation>
    <operation name='updateAlertCode'>
      <documentation>update an existing Alert Code</documentation>
      <input message='tns:updateAlertCodeRequestMessage' name='updateAlertCodeInput' />
      <output message='tns:updateAlertCodeResponseMessage' name='updateAlertCodeOutput' />
    </operation>
    <operation name='updateBillingInformations'>
      <documentation>update Account Billing Informations</documentation>
      <input message='tns:updateBillingInformationsRequestMessage' name='updateBillingInformationsInput' />
      <output message='tns:updateBillingInformationsResponseMessage' name='updateBillingInformationsOutput' />
    </operation>
    <operation name='updateMonitoring'>
      <documentation></documentation>
      <input message='tns:updateMonitoringRequestMessage' name='updateMonitoringInput' />
      <output message='tns:updateMonitoringResponseMessage' name='updateMonitoringOutput' />
    </operation>
    <operation name='updatePassword'>
      <documentation>change Your Password</documentation>
      <input message='tns:updatePasswordRequestMessage' name='updatePasswordInput' />
      <output message='tns:updatePasswordResponseMessage' name='updatePasswordOutput' />
    </operation>
    <operation name='updateRegionalSettings'>
      <documentation>update the Account Regional Setting s</documentation>
      <input message='tns:updateRegionalSettingsRequestMessage' name='updateRegionalSettingsInput' />
      <output message='tns:updateRegionalSettingsResponseMessage' name='updateRegionalSettingsOutput' />
    </operation>
    <operation name='updateThing'>
      <documentation>update Thing also Computer and ZenBox informations</documentation>
      <input message='tns:updateThingRequestMessage' name='updateThingInput' />
      <output message='tns:updateThingResponseMessage' name='updateThingOutput' />
    </operation>
    <operation name='updateUsername'>
      <documentation>update your username email address</documentation>
      <input message='tns:updateUsernameRequestMessage' name='updateUsernameInput' />
      <output message='tns:updateUsernameResponseMessage' name='updateUsernameOutput' />
    </operation>
    <operation name='viewBillingInformations'>
      <documentation>view Account Billing Informations</documentation>
      <input message='tns:viewBillingInformationsRequestMessage' name='viewBillingInformationsInput' />
      <output message='tns:viewBillingInformationsResponseMessage' name='viewBillingInformationsOutput' />
    </operation>
    <operation name='viewRegionalSettings'>
      <documentation>view account Regional Settings</documentation>
      <input message='tns:viewRegionalSettingsRequestMessage' name='viewRegionalSettingsInput' />
      <output message='tns:viewRegionalSettingsResponseMessage' name='viewRegionalSettingsOutput' />
    </operation>
    <operation name='viewThing'>
      <documentation>view Thing Details</documentation>
      <input message='tns:viewThingRequestMessage' name='viewThingInput' />
      <output message='tns:viewThingResponseMessage' name='viewThingOutput' />
    </operation>
  </portType>
  <binding name='zenAlertBinding' type='tns:zenAlertPortType'>
    <operation name='checkClientVersion'>
      <soap12:operation soapAction='http://checkClientVersion' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='checkThingOwner'>
      <soap12:operation soapAction='http://checkThingOwner' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='confirmEmailAddress'>
      <soap12:operation soapAction='http://confirmEmailAddress' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAccount'>
      <soap12:operation soapAction='http://createAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createAlertCode'>
      <soap12:operation soapAction='http://createAlertCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createDirection'>
      <soap12:operation soapAction='http://createDirection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='createThing'>
      <soap12:operation soapAction='http://createThing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAccount'>
      <soap12:operation soapAction='http://deleteAccount' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteAlertCode'>
      <soap12:operation soapAction='http://deleteAlertCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteDirection'>
      <soap12:operation soapAction='http://deleteDirection' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='deleteThing'>
      <soap12:operation soapAction='http://deleteThing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='getData'>
      <soap12:operation soapAction='http://getData' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='linkComputer'>
      <soap12:operation soapAction='http://linkComputer' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='linkZenbox'>
      <soap12:operation soapAction='http://linkZenbox' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listActiveVitalSignals'>
      <soap12:operation soapAction='http://listActiveVitalSignals' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listActivities'>
      <soap12:operation soapAction='http://listActivities' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAlertCodes'>
      <soap12:operation soapAction='http://listAlertCodes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listAlerts'>
      <soap12:operation soapAction='http://listAlerts' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listCountries'>
      <soap12:operation soapAction='http://listCountries' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDateFormats'>
      <soap12:operation soapAction='http://listDateFormats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDays'>
      <soap12:operation soapAction='http://listDays' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDirectionTypes'>
      <soap12:operation soapAction='http://listDirectionTypes' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listDirections'>
      <soap12:operation soapAction='http://listDirections' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listInvoices'>
      <soap12:operation soapAction='http://listInvoices' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listLanguages'>
      <soap12:operation soapAction='http://listLanguages' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listThings'>
      <soap12:operation soapAction='http://listThings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listTimeFormats'>
      <soap12:operation soapAction='http://listTimeFormats' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listTimeZones'>
      <soap12:operation soapAction='http://listTimeZones' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='listVitalSignalCode'>
      <soap12:operation soapAction='http://listVitalSignalCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='login'>
      <soap12:operation soapAction='http://login' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='passwordRecovery'>
      <soap12:operation soapAction='http://passwordRecovery' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='sendSignal'>
      <soap12:operation soapAction='http://sendSignal' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='unlinkThing'>
      <soap12:operation soapAction='http://unlinkThing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateActiveVitalSignal'>
      <soap12:operation soapAction='http://updateActiveVitalSignal' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateAlertCode'>
      <soap12:operation soapAction='http://updateAlertCode' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateBillingInformations'>
      <soap12:operation soapAction='http://updateBillingInformations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateMonitoring'>
      <soap12:operation soapAction='http://updateMonitoring' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updatePassword'>
      <soap12:operation soapAction='http://updatePassword' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateRegionalSettings'>
      <soap12:operation soapAction='http://updateRegionalSettings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateThing'>
      <soap12:operation soapAction='http://updateThing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='updateUsername'>
      <soap12:operation soapAction='http://updateUsername' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewBillingInformations'>
      <soap12:operation soapAction='http://viewBillingInformations' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewRegionalSettings'>
      <soap12:operation soapAction='http://viewRegionalSettings' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='viewThing'>
      <soap12:operation soapAction='http://viewThing' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='zenAlert'>
    <documentation>access to Zen Alert monitoring features from you APP or WebAPP</documentation>
    <port name='zenAlertPort' binding='tns:zenAlertBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://zenAlert' />
    </port>
  </service>
</definitions>