workspace/datasets/mashape_dataset/zipwhip.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/zipwhip/' name='zipwhip' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/zipwhip/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/zipwhip/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/zipwhip/'>
      <xsd:element name='userLoginParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='password' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='username' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userLoginResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageSendParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='body' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='contacts' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageSendResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='root' type='xsd:int' minOccurs='0' />
                  <xsd:element name='fingerprint' type='xsd:int' minOccurs='0' />
                  <xsd:element name='tokens' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='contact' type='xsd:int' minOccurs='0' />
                        <xsd:element name='fingerprint' type='xsd:int' minOccurs='0' />
                        <xsd:element name='message' type='xsd:int' minOccurs='0' />
                        <xsd:element name='device' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contactDeleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='contact' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contactDeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='response' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='birthday' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='loc' type='xsd:string' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='targetGroupDevice' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mobileNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='channel' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deviceId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lastUpdated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='dateCreated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='state' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phoneKey' type='xsd:string' minOccurs='0' />
                  <xsd:element name='business' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latlong' type='xsd:string' minOccurs='0' />
                  <xsd:element name='phoneId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='thread' type='xsd:string' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='zipcode' type='xsd:string' minOccurs='0' />
                  <xsd:element name='firstName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='carrier' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fwd' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deleted' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contactListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='page' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='pagesize' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contactListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='pages' type='xsd:int' minOccurs='0' />
            <xsd:element name='response' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='birthday' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='loc' type='xsd:string' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='targetGroupDevice' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mobileNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='channel' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deviceId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lastUpdated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='dateCreated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='state' type='xsd:string' minOccurs='0' />
                  <xsd:element name='email' type='xsd:string' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phoneKey' type='xsd:string' minOccurs='0' />
                  <xsd:element name='business' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latlong' type='xsd:string' minOccurs='0' />
                  <xsd:element name='phoneId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='thread' type='xsd:string' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='zipcode' type='xsd:string' minOccurs='0' />
                  <xsd:element name='firstName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='carrier' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fwd' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deleted' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='page' type='xsd:int' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contactSaveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='firstname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='loc' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='notes' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='contactSaveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='user' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='birthday' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='loc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='websiteDeviceKey' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='phoneKey' type='xsd:string' minOccurs='0' />
                        <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='mobileNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latlong' type='xsd:string' minOccurs='0' />
                        <xsd:element name='businessName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fullName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='websiteDeviceId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                        <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='carrier' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='conversationDeleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fingerprint' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='conversationDeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='conversationGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fingerprint' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='conversationGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='messages' maxOccurs='unbounded'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='bcc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='mobileNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='isRead' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='contactDeviceId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='body' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='deviceId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='messageTransport' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lastUpdated' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='hasAttachment' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='dateCreated' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='destAddress' type='xsd:int' minOccurs='0' />
                        <xsd:element name='advertisement' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fingerprint' type='xsd:int' minOccurs='0' />
                        <xsd:element name='fromName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='transmissionState' minOccurs='0'>
                          <xsd:complexType>
                            <xsd:sequence minOccurs='1' maxOccurs='1'>
                              <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                        <xsd:element name='cc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='isParent' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='sourceAddress' type='xsd:int' minOccurs='0' />
                        <xsd:element name='visible' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='contactId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='thread' type='xsd:string' minOccurs='0' />
                        <xsd:element name='version' type='xsd:int' minOccurs='0' />
                        <xsd:element name='parentId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='carrier' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fwd' type='xsd:string' minOccurs='0' />
                        <xsd:element name='errorState' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='isInFinalState' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='isSelf' type='xsd:boolean' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='conversation' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='cc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lastContactDeviceId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='bcc' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lastContactFirstName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lastContactMobileNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='unreadCount' type='xsd:int' minOccurs='0' />
                        <xsd:element name='deviceId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='version' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lastContactId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lastUpdated' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='deviceAddress' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lastNonDeletedMessageDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='dateCreated' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='deleted' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='lastMessageDate' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lastContactLastName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fingerprint' type='xsd:int' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lastMessageBody' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='conversationListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='fingerprint' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='conversationListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupAddmemberParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='email' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='firstname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='group' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lastname' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='loc' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='notes' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='state' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupAddmemberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sessions' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='birthday' type='xsd:string' minOccurs='0' />
                  <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='loc' type='xsd:string' minOccurs='0' />
                  <xsd:element name='websiteDeviceKey' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='phoneKey' type='xsd:string' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='mobileNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='latlong' type='xsd:string' minOccurs='0' />
                  <xsd:element name='businessName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fullName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='websiteDeviceId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='zipcode' type='xsd:int' minOccurs='0' />
                  <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='carrier' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupDeleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='address' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupDeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sessions' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='textline' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sessions' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='members' type='xsd:int' minOccurs='0' />
                  <xsd:element name='group' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='new' type='xsd:boolean' minOccurs='0' />
                        <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='displayName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='channel' type='xsd:string' minOccurs='0' />
                        <xsd:element name='thread' type='xsd:string' minOccurs='0' />
                        <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='linkedDeviceId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='version' type='xsd:int' minOccurs='0' />
                        <xsd:element name='userId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='uuid' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='deviceId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='lastUpdated' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='dateCreated' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='textline' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='id' type='xsd:int' minOccurs='0' />
                        <xsd:element name='class' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='cachedContactsCount' type='xsd:int' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupRemovememberParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='group' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='member' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupRemovememberResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sessions' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupSaveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='name' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='textline' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='type' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='groupSaveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='sessions' type='xsd:normalizedString' minOccurs='0' />
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='birthday' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='lastName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='loc' type='xsd:string' minOccurs='0' />
                  <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                  <xsd:element name='city' type='xsd:string' minOccurs='0' />
                  <xsd:element name='targetGroupDevice' type='xsd:int' minOccurs='0' />
                  <xsd:element name='mobileNumber' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='businessName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='channel' type='xsd:string' minOccurs='0' />
                  <xsd:element name='dtoParentId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='deviceId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='dateCreated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='state' type='xsd:string' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='email' type='xsd:string' minOccurs='0' />
                  <xsd:element name='new' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='phoneKey' type='xsd:string' minOccurs='0' />
                  <xsd:element name='isZwUser' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='latlong' type='xsd:string' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='zipcode' type='xsd:string' minOccurs='0' />
                  <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='carrier' type='xsd:string' minOccurs='0' />
                  <xsd:element name='fwd' type='xsd:string' minOccurs='0' />
                  <xsd:element name='deleted' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageDeleteParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='message' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageDeleteResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageListParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='limit' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='start' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageListResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='total' type='xsd:int' minOccurs='0' />
            <xsd:element name='size' type='xsd:int' minOccurs='0' />
            <xsd:element name='response' maxOccurs='unbounded'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='lastName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='bcc' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='mobileNumber' type='xsd:int' minOccurs='0' />
                  <xsd:element name='isRead' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='contactDeviceId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='body' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='type' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='deviceId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='messageTransport' type='xsd:int' minOccurs='0' />
                  <xsd:element name='lastUpdated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='hasAttachment' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='dateCreated' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='destAddress' type='xsd:int' minOccurs='0' />
                  <xsd:element name='advertisement' type='xsd:string' minOccurs='0' />
                  <xsd:element name='fingerprint' type='xsd:int' minOccurs='0' />
                  <xsd:element name='fromName' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='from' type='xsd:int' minOccurs='0' />
                  <xsd:element name='id' type='xsd:int' minOccurs='0' />
                  <xsd:element name='transmissionState' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='name' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                  <xsd:element name='cc' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='address' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='isParent' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='sourceAddress' type='xsd:int' minOccurs='0' />
                  <xsd:element name='visible' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='contactId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='thread' type='xsd:string' minOccurs='0' />
                  <xsd:element name='version' type='xsd:int' minOccurs='0' />
                  <xsd:element name='parentId' type='xsd:int' minOccurs='0' />
                  <xsd:element name='firstName' type='xsd:string' minOccurs='0' />
                  <xsd:element name='carrier' type='xsd:normalizedString' minOccurs='0' />
                  <xsd:element name='fwd' type='xsd:string' minOccurs='0' />
                  <xsd:element name='errorState' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='isInFinalState' type='xsd:boolean' minOccurs='0' />
                  <xsd:element name='isSelf' type='xsd:boolean' minOccurs='0' />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageReadParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='messages' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='messageReadResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' type='xsd:boolean' minOccurs='0' />
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userGetParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userGetResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='user' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='birthday' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='loc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='websiteDeviceKey' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='phoneKey' type='xsd:string' minOccurs='0' />
                        <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                        <xsd:element name='city' type='xsd:string' minOccurs='0' />
                        <xsd:element name='mobileNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='latlong' type='xsd:string' minOccurs='0' />
                        <xsd:element name='businessName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='fullName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='websiteDeviceId' type='xsd:int' minOccurs='0' />
                        <xsd:element name='zipcode' type='xsd:string' minOccurs='0' />
                        <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='carrier' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='state' type='xsd:string' minOccurs='0' />
                        <xsd:element name='email' type='xsd:string' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userSaveParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='session' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='userSaveResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' minOccurs='0'>
              <xsd:complexType>
                <xsd:sequence minOccurs='1' maxOccurs='1'>
                  <xsd:element name='user' minOccurs='0'>
                    <xsd:complexType>
                      <xsd:sequence minOccurs='1' maxOccurs='1'>
                        <xsd:element name='birthday' type='xsd:string' minOccurs='0' />
                        <xsd:element name='firstName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='lastName' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='loc' type='xsd:string' minOccurs='0' />
                        <xsd:element name='lastUpdated' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='carrier' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='phoneKey' type='xsd:string' minOccurs='0' />
                        <xsd:element name='notes' type='xsd:string' minOccurs='0' />
                        <xsd:element name='dateCreated' type='xsd:normalizedString' minOccurs='0' />
                        <xsd:element name='mobileNumber' type='xsd:int' minOccurs='0' />
                        <xsd:element name='fullName' type='xsd:string' minOccurs='0' />
                        <xsd:element name='email' type='xsd:normalizedString' minOccurs='0' />
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name='success' type='xsd:boolean' minOccurs='0' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='userLoginRequestMessage'>
    <part name='parameters' element='tns:userLoginParameters' />
  </message>
  <message name='userLoginResponseMessage'>
    <part name='response' element='tns:userLoginResponse' />
  </message>
  <message name='messageSendRequestMessage'>
    <part name='parameters' element='tns:messageSendParameters' />
  </message>
  <message name='messageSendResponseMessage'>
    <part name='response' element='tns:messageSendResponse' />
  </message>
  <message name='contactDeleteRequestMessage'>
    <part name='parameters' element='tns:contactDeleteParameters' />
  </message>
  <message name='contactDeleteResponseMessage'>
    <part name='response' element='tns:contactDeleteResponse' />
  </message>
  <message name='contactListRequestMessage'>
    <part name='parameters' element='tns:contactListParameters' />
  </message>
  <message name='contactListResponseMessage'>
    <part name='response' element='tns:contactListResponse' />
  </message>
  <message name='contactSaveRequestMessage'>
    <part name='parameters' element='tns:contactSaveParameters' />
  </message>
  <message name='contactSaveResponseMessage'>
    <part name='response' element='tns:contactSaveResponse' />
  </message>
  <message name='conversationDeleteRequestMessage'>
    <part name='parameters' element='tns:conversationDeleteParameters' />
  </message>
  <message name='conversationDeleteResponseMessage'>
    <part name='response' element='tns:conversationDeleteResponse' />
  </message>
  <message name='conversationGetRequestMessage'>
    <part name='parameters' element='tns:conversationGetParameters' />
  </message>
  <message name='conversationGetResponseMessage'>
    <part name='response' element='tns:conversationGetResponse' />
  </message>
  <message name='conversationListRequestMessage'>
    <part name='parameters' element='tns:conversationListParameters' />
  </message>
  <message name='conversationListResponseMessage'>
    <part name='response' element='tns:conversationListResponse' />
  </message>
  <message name='groupAddmemberRequestMessage'>
    <part name='parameters' element='tns:groupAddmemberParameters' />
  </message>
  <message name='groupAddmemberResponseMessage'>
    <part name='response' element='tns:groupAddmemberResponse' />
  </message>
  <message name='groupDeleteRequestMessage'>
    <part name='parameters' element='tns:groupDeleteParameters' />
  </message>
  <message name='groupDeleteResponseMessage'>
    <part name='response' element='tns:groupDeleteResponse' />
  </message>
  <message name='groupGetRequestMessage'>
    <part name='parameters' element='tns:groupGetParameters' />
  </message>
  <message name='groupGetResponseMessage'>
    <part name='response' element='tns:groupGetResponse' />
  </message>
  <message name='groupRemovememberRequestMessage'>
    <part name='parameters' element='tns:groupRemovememberParameters' />
  </message>
  <message name='groupRemovememberResponseMessage'>
    <part name='response' element='tns:groupRemovememberResponse' />
  </message>
  <message name='groupSaveRequestMessage'>
    <part name='parameters' element='tns:groupSaveParameters' />
  </message>
  <message name='groupSaveResponseMessage'>
    <part name='response' element='tns:groupSaveResponse' />
  </message>
  <message name='messageDeleteRequestMessage'>
    <part name='parameters' element='tns:messageDeleteParameters' />
  </message>
  <message name='messageDeleteResponseMessage'>
    <part name='response' element='tns:messageDeleteResponse' />
  </message>
  <message name='messageListRequestMessage'>
    <part name='parameters' element='tns:messageListParameters' />
  </message>
  <message name='messageListResponseMessage'>
    <part name='response' element='tns:messageListResponse' />
  </message>
  <message name='messageReadRequestMessage'>
    <part name='parameters' element='tns:messageReadParameters' />
  </message>
  <message name='messageReadResponseMessage'>
    <part name='response' element='tns:messageReadResponse' />
  </message>
  <message name='userGetRequestMessage'>
    <part name='parameters' element='tns:userGetParameters' />
  </message>
  <message name='userGetResponseMessage'>
    <part name='response' element='tns:userGetResponse' />
  </message>
  <message name='userSaveRequestMessage'>
    <part name='parameters' element='tns:userSaveParameters' />
  </message>
  <message name='userSaveResponseMessage'>
    <part name='response' element='tns:userSaveResponse' />
  </message>
  <portType name='zipwhipPortType'>
    <operation name='userLogin'>
      <documentation>takes a username and password and returns json with the account s session key A sessionkey lasts forever so it is best to store the sessionkey and use it for future purposes</documentation>
      <input message='tns:userLoginRequestMessage' name='userLoginInput' />
      <output message='tns:userLoginResponseMessage' name='userLoginOutput' />
    </operation>
    <operation name='messageSend'>
      <documentation>sends a message from the logged in user s phone number</documentation>
      <input message='tns:messageSendRequestMessage' name='messageSendInput' />
      <output message='tns:messageSendResponseMessage' name='messageSendOutput' />
    </operation>
    <operation name='contactDelete'>
      <documentation>this method can take one or more contact ID s and delete those records from Zipwhip A contact s ID is available from contact list or part of the return from message send</documentation>
      <input message='tns:contactDeleteRequestMessage' name='contactDeleteInput' />
      <output message='tns:contactDeleteResponseMessage' name='contactDeleteOutput' />
    </operation>
    <operation name='contactList'>
      <documentation>this method returns all contacts associated with session provided</documentation>
      <input message='tns:contactListRequestMessage' name='contactListInput' />
      <output message='tns:contactListResponseMessage' name='contactListOutput' />
    </operation>
    <operation name='contactSave'>
      <documentation>save details about the contact for the given phone number</documentation>
      <input message='tns:contactSaveRequestMessage' name='contactSaveInput' />
      <output message='tns:contactSaveResponseMessage' name='contactSaveOutput' />
    </operation>
    <operation name='conversationDelete'>
      <documentation>deletes the conversation based on the provided conversation ID It also deletes the associated messages</documentation>
      <input message='tns:conversationDeleteRequestMessage' name='conversationDeleteInput' />
      <output message='tns:conversationDeleteResponseMessage' name='conversationDeleteOutput' />
    </operation>
    <operation name='conversationGet'>
      <documentation>retrieves conversation details and messages that specific to the conversation ID provided</documentation>
      <input message='tns:conversationGetRequestMessage' name='conversationGetInput' />
      <output message='tns:conversationGetResponseMessage' name='conversationGetOutput' />
    </operation>
    <operation name='conversationList'>
      <documentation>deletes the conversation based on the provided conversation ID It also deletes the associated messages</documentation>
      <input message='tns:conversationListRequestMessage' name='conversationListInput' />
      <output message='tns:conversationListResponseMessage' name='conversationListOutput' />
    </operation>
    <operation name='groupAddmember'>
      <documentation>once a group is created via the group save call you then need to populate members</documentation>
      <input message='tns:groupAddmemberRequestMessage' name='groupAddmemberInput' />
      <output message='tns:groupAddmemberResponseMessage' name='groupAddmemberOutput' />
    </operation>
    <operation name='groupDelete'>
      <documentation>delete the group This is similar to deleting a contact no message objects will be affected by deleting the group</documentation>
      <input message='tns:groupDeleteRequestMessage' name='groupDeleteInput' />
      <output message='tns:groupDeleteResponseMessage' name='groupDeleteOutput' />
    </operation>
    <operation name='groupGet'>
      <documentation>retreive details about an existing group This call can be used to review the members of the group</documentation>
      <input message='tns:groupGetRequestMessage' name='groupGetInput' />
      <output message='tns:groupGetResponseMessage' name='groupGetOutput' />
    </operation>
    <operation name='groupRemovemember'>
      <documentation>remove a group member This is useful if a group member has requested to opt out of notifications</documentation>
      <input message='tns:groupRemovememberRequestMessage' name='groupRemovememberInput' />
      <output message='tns:groupRemovememberResponseMessage' name='groupRemovememberOutput' />
    </operation>
    <operation name='groupSave'>
      <documentation>create a group A named group is a unique set of contacts that are referenced similar to a contact A group is defined as device xxxxxxxxxx xx After the this is the phone number associated with the account you are sending messages under The xx is the id for the group</documentation>
      <input message='tns:groupSaveRequestMessage' name='groupSaveInput' />
      <output message='tns:groupSaveResponseMessage' name='groupSaveOutput' />
    </operation>
    <operation name='messageDelete'>
      <documentation>marks the given message as deleted in Zipwhip s database</documentation>
      <input message='tns:messageDeleteRequestMessage' name='messageDeleteInput' />
      <output message='tns:messageDeleteResponseMessage' name='messageDeleteOutput' />
    </operation>
    <operation name='messageList'>
      <documentation>retrieves messages for account A start of provides newest to oldest messages</documentation>
      <input message='tns:messageListRequestMessage' name='messageListInput' />
      <output message='tns:messageListResponseMessage' name='messageListOutput' />
    </operation>
    <operation name='messageRead'>
      <documentation>marks the given message as read in Zipwhip s database</documentation>
      <input message='tns:messageReadRequestMessage' name='messageReadInput' />
      <output message='tns:messageReadResponseMessage' name='messageReadOutput' />
    </operation>
    <operation name='userGet'>
      <documentation>provides information about the logged in user or account associated with sessionKey passed in</documentation>
      <input message='tns:userGetRequestMessage' name='userGetInput' />
      <output message='tns:userGetResponseMessage' name='userGetOutput' />
    </operation>
    <operation name='userSave'>
      <documentation>save details about the user associated with the provided session</documentation>
      <input message='tns:userSaveRequestMessage' name='userSaveInput' />
      <output message='tns:userSaveResponseMessage' name='userSaveOutput' />
    </operation>
  </portType>
  <binding name='zipwhipBinding' type='tns:zipwhipPortType'>
    <operation name='userLogin'>
      <soap12:operation soapAction='http://userLogin' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messageSend'>
      <soap12:operation soapAction='http://messageSend' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='contactDelete'>
      <soap12:operation soapAction='http://contactDelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='contactList'>
      <soap12:operation soapAction='http://contactList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='contactSave'>
      <soap12:operation soapAction='http://contactSave' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='conversationDelete'>
      <soap12:operation soapAction='http://conversationDelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='conversationGet'>
      <soap12:operation soapAction='http://conversationGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='conversationList'>
      <soap12:operation soapAction='http://conversationList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='groupAddmember'>
      <soap12:operation soapAction='http://groupAddmember' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='groupDelete'>
      <soap12:operation soapAction='http://groupDelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='groupGet'>
      <soap12:operation soapAction='http://groupGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='groupRemovemember'>
      <soap12:operation soapAction='http://groupRemovemember' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='groupSave'>
      <soap12:operation soapAction='http://groupSave' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messageDelete'>
      <soap12:operation soapAction='http://messageDelete' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messageList'>
      <soap12:operation soapAction='http://messageList' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='messageRead'>
      <soap12:operation soapAction='http://messageRead' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userGet'>
      <soap12:operation soapAction='http://userGet' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='userSave'>
      <soap12:operation soapAction='http://userSave' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='zipwhip'>
    <documentation>cloud texting for toll free landline and mobile numbers Send and receive text messages from your laptop desktop or tablet computer using your existing mobile or landline phone number</documentation>
    <port name='zipwhipPort' binding='tns:zipwhipBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://zipwhip' />
    </port>
  </service>
</definitions>