workspace/datasets/mashape_dataset/zumata.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions targetNamespace='http://generatedWSDL.com/zumata/' name='zumata' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' xmlns:tns='http://generatedWSDL.com/zumata/'>
  <types>
    <xsd:schema targetNamespace='http://generatedWSDL.com/zumata/' attributeFormDefault='unqualified' elementFormDefault='unqualified' xmlns:xsd='http://www.w3.org/2001/XMLSchema' xmlns:tns='http://generatedWSDL.com/zumata/'>
      <xsd:element name='bookResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bookIdCancelParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='id' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bookIdCancelResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bookingResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='bookingCancellationPolicyResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='cancelResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='healthcheckResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hotelsResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hotelsDynamicParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='adultcount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='checkindatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='checkoutdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='destinationid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='gzip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hotelid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='maxwait' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='production' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='requestedcurrency' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='roomcount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sessionid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stateorprovincecode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hotelsDynamicResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hotelsMinimalParameters'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='adultcount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='checkindatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='checkoutdatetime' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='city' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='countrycode' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='destinationid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='gzip' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='hotelid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='lang' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='production' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='roomcount' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='sessionid' type='xsd:string' maxOccurs='unbounded' />
            <xsd:element name='stateorprovincecode' type='xsd:string' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='hotelsMinimalResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='paEnrollResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name='paEnrollAcsTermUrlResponse'>
        <xsd:complexType>
          <xsd:sequence minOccurs='1' maxOccurs='1'>
            <xsd:element name='response' xmlns='xsd' type='any' maxOccurs='unbounded' />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name='bookRequestMessage' />
  <message name='bookResponseMessage'>
    <part name='response' element='tns:bookResponse' />
  </message>
  <message name='bookIdCancelRequestMessage'>
    <part name='parameters' element='tns:bookIdCancelParameters' />
  </message>
  <message name='bookIdCancelResponseMessage'>
    <part name='response' element='tns:bookIdCancelResponse' />
  </message>
  <message name='bookingRequestMessage' />
  <message name='bookingResponseMessage'>
    <part name='response' element='tns:bookingResponse' />
  </message>
  <message name='bookingCancellationPolicyRequestMessage' />
  <message name='bookingCancellationPolicyResponseMessage'>
    <part name='response' element='tns:bookingCancellationPolicyResponse' />
  </message>
  <message name='cancelRequestMessage' />
  <message name='cancelResponseMessage'>
    <part name='response' element='tns:cancelResponse' />
  </message>
  <message name='healthcheckRequestMessage' />
  <message name='healthcheckResponseMessage'>
    <part name='response' element='tns:healthcheckResponse' />
  </message>
  <message name='hotelsRequestMessage' />
  <message name='hotelsResponseMessage'>
    <part name='response' element='tns:hotelsResponse' />
  </message>
  <message name='hotelsDynamicRequestMessage'>
    <part name='parameters' element='tns:hotelsDynamicParameters' />
  </message>
  <message name='hotelsDynamicResponseMessage'>
    <part name='response' element='tns:hotelsDynamicResponse' />
  </message>
  <message name='hotelsMinimalRequestMessage'>
    <part name='parameters' element='tns:hotelsMinimalParameters' />
  </message>
  <message name='hotelsMinimalResponseMessage'>
    <part name='response' element='tns:hotelsMinimalResponse' />
  </message>
  <message name='paEnrollRequestMessage' />
  <message name='paEnrollResponseMessage'>
    <part name='response' element='tns:paEnrollResponse' />
  </message>
  <message name='paEnrollAcsTermUrlRequestMessage' />
  <message name='paEnrollAcsTermUrlResponseMessage'>
    <part name='response' element='tns:paEnrollAcsTermUrlResponse' />
  </message>
  <portType name='zumataPortType'>
    <operation name='book'>
      <documentation></documentation>
      <input message='tns:bookRequestMessage' name='bookInput' />
      <output message='tns:bookResponseMessage' name='bookOutput' />
    </operation>
    <operation name='bookIdCancel'>
      <documentation></documentation>
      <input message='tns:bookIdCancelRequestMessage' name='bookIdCancelInput' />
      <output message='tns:bookIdCancelResponseMessage' name='bookIdCancelOutput' />
    </operation>
    <operation name='booking'>
      <documentation></documentation>
      <input message='tns:bookingRequestMessage' name='bookingInput' />
      <output message='tns:bookingResponseMessage' name='bookingOutput' />
    </operation>
    <operation name='bookingCancellationPolicy'>
      <documentation></documentation>
      <input message='tns:bookingCancellationPolicyRequestMessage' name='bookingCancellationPolicyInput' />
      <output message='tns:bookingCancellationPolicyResponseMessage' name='bookingCancellationPolicyOutput' />
    </operation>
    <operation name='cancel'>
      <documentation></documentation>
      <input message='tns:cancelRequestMessage' name='cancelInput' />
      <output message='tns:cancelResponseMessage' name='cancelOutput' />
    </operation>
    <operation name='healthcheck'>
      <documentation></documentation>
      <input message='tns:healthcheckRequestMessage' name='healthcheckInput' />
      <output message='tns:healthcheckResponseMessage' name='healthcheckOutput' />
    </operation>
    <operation name='hotels'>
      <documentation></documentation>
      <input message='tns:hotelsRequestMessage' name='hotelsInput' />
      <output message='tns:hotelsResponseMessage' name='hotelsOutput' />
    </operation>
    <operation name='hotelsDynamic'>
      <documentation></documentation>
      <input message='tns:hotelsDynamicRequestMessage' name='hotelsDynamicInput' />
      <output message='tns:hotelsDynamicResponseMessage' name='hotelsDynamicOutput' />
    </operation>
    <operation name='hotelsMinimal'>
      <documentation></documentation>
      <input message='tns:hotelsMinimalRequestMessage' name='hotelsMinimalInput' />
      <output message='tns:hotelsMinimalResponseMessage' name='hotelsMinimalOutput' />
    </operation>
    <operation name='paEnroll'>
      <documentation></documentation>
      <input message='tns:paEnrollRequestMessage' name='paEnrollInput' />
      <output message='tns:paEnrollResponseMessage' name='paEnrollOutput' />
    </operation>
    <operation name='paEnrollAcsTermUrl'>
      <documentation></documentation>
      <input message='tns:paEnrollAcsTermUrlRequestMessage' name='paEnrollAcsTermUrlInput' />
      <output message='tns:paEnrollAcsTermUrlResponseMessage' name='paEnrollAcsTermUrlOutput' />
    </operation>
  </portType>
  <binding name='zumataBinding' type='tns:zumataPortType'>
    <operation name='book'>
      <soap12:operation soapAction='http://book' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bookIdCancel'>
      <soap12:operation soapAction='http://bookIdCancel' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='booking'>
      <soap12:operation soapAction='http://booking' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='bookingCancellationPolicy'>
      <soap12:operation soapAction='http://bookingCancellationPolicy' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='cancel'>
      <soap12:operation soapAction='http://cancel' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='healthcheck'>
      <soap12:operation soapAction='http://healthcheck' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='hotels'>
      <soap12:operation soapAction='http://hotels' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='hotelsDynamic'>
      <soap12:operation soapAction='http://hotelsDynamic' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='hotelsMinimal'>
      <soap12:operation soapAction='http://hotelsMinimal' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' parts='parameters' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='paEnroll'>
      <soap12:operation soapAction='http://paEnroll' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
    <operation name='paEnrollAcsTermUrl'>
      <soap12:operation soapAction='http://paEnrollAcsTermUrl' style='document' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/' />
      <input>
        <tns:body use='literal' />
      </input>
      <output>
        <tns:body use='literal' parts='response' />
      </output>
    </operation>
  </binding>
  <service name='zumata'>
    <documentation>zUMATA is a new approach in B B travel API s In a few simple steps you can be getting real time travel pricing availability and booking worldwide via simple API calls</documentation>
    <port name='zumataPort' binding='tns:zumataBinding' xmlns:soap12='http://schemas.xmlsoap.org/wsdl/soap12/'>
      <soap12:address location='http://zumata' />
    </port>
  </service>
</definitions>